[2016-04-03 09:06] almarklein commented on #1827
Well, we are not doing any building on binstar/anaconda.org yet. Not sure if this is something we still want to do?

[2016-04-03 09:30] almarklein commented on #4092
That's what I meant; using `python -m bokeh` solved the issue. The changing of the `serve` script should not have any effect. In fact, I don't think Bokeh puts a file called `serve` in your environment. `serve` is a *subcommand* of the `bokeh` script/command.

[2016-04-03 12:00] waseem18 commented on #3514
Hello @bryevdv

I would like to work on this task.

[2016-04-03 16:32] damianavila commented on #1827
This is something I wanted to do, but still the Anaconda Build system does not have all the things we need... but they are working on that... so I would leave this opened.

[2016-04-04 13:15] mattpap opened #4099 "Fix phantomjs download failures"
Our travis CI tests are pretty much useless right now due to a trivial failure. Based on quick research we just have to provide our own download URL that can be configured through an env variable (see http://npmjs.com/package/phantomjs for details). I think we should just have to upload phantomjs binary (in correct version) to our S3 and change `.travis.yml` accordingly. Note that `npm install` is

[2016-04-04 14:52] #3514 closed

[2016-04-04 16:27] #3217 closed

[2016-04-04 16:28] bryevdv commented on #3217
It's possible to derive the full benefit, we would also need to re-deploy the old versions with this same change. Can anyone comment?

[2016-04-04 16:30] bryevdv opened #4100 "Add prominent banner to old versions of the docs"
An example here from Django:

https://docs.djangoproject.com/en/1.7/ref/templates/builtins/

Would suggest something even taller / brighter. Text similar to:
[code]

[2016-04-04 16:51] hsparra opened #4101 "Head breaks apps that use widgets with type parameter"
After the Typescript merge any application or bokeh code that uses a widget with the **type** parameter, such as a Button, will error with an AttributeError.

Recommend: Use a deprecation warning instead or "magically" convert it behind the scenes when running so it does not error.

To Recreate: Run any app or Bokeh code with a widget that contains the type parameter that run under 0.11.1. Alterna

[2016-04-04 17:11] bryevdv commented on #4101
ping @mattpap need a deprecation here

[2016-04-04 17:23] bryevdv commented on #3770
Changing to `0.12

[2016-04-04 17:36] havocp commented on #3770
I think this is expected to happen until the session expires. However, we have a very long session expiration by default. Do the callbacks continue past expiration? If so that would need debugging, but if shortening expiration time fixes this, then it doesn't need debugging just changing.

If we need closing a tab to shut things down, some options I can think of:

 * make the session expiration ti

[2016-04-04 17:43] havocp commented on #3770
The thing I'd go for with session expiration would be to try to keep the session across a page reload, maybe. Or in the future if we implement auto-reconnect of the websocket, across a disconnect/reconnect.
So something like 15-30 seconds perhaps?

[2016-04-04 18:02] waseem18 commented on #4100
@bryevdv I would like to work on this task.

While running `make html` command today to build the documentation I found that there were minor discrepancies which were causing `http://bokehplots.com/theme/css/main.css`  not to load properly. Html pages were looking in this way..
![screenshot from 2016-04-04 23-29-46](https://cloud.githubusercontent.com/assets/5843007/14257837/35d9ead4-fabd-11e5-946

[2016-04-04 18:05] bryevdv commented on #4100
@waseem18 I'm not sure those changes are appropriate. I think the issue is that the docs have to be viewed from an actual server, not a file. You can run `make serve` to automatically laugh a server and open a browser to the docs on that local server.

[2016-04-04 18:06] waseem18 commented on #4100
Thanks for the information @bryevdv .I got it now.

[2016-04-04 18:08] bryevdv commented on #4100
ping @birdsarah who may be helpful on this issue

[2016-04-04 18:08] waseem18 commented on #4100
Sure @bryevdv

[2016-04-04 18:11] #3788 closed

[2016-04-04 18:12] brendancol commented on #2295
this crossfilter example has been replaced...closing old ticket.

[2016-04-04 18:12] #2295 closed

[2016-04-04 18:12] brendancol commented on #4082
merged

[2016-04-04 18:12] #4082 closed

[2016-04-04 18:27] brendancol opened #4103 "update crossfilter for new TypeScript API spelling"

[2016-04-04 18:29] brendancol opened #4104 "Crossfilter Example: type is not a function error"
When running crossfilter example patched for TypeScript API, I get the following error:

`Bokeh: Failed to repull session TypeError: type is not a function`

[2016-04-04 20:25] mattpap commented on #4101
@bryevdv, fixed in PR #4107.

[2016-04-04 20:40] #4086 closed

[2016-04-04 22:41] #3730 closed

[2016-04-04 22:56] #4101 closed

[2016-04-05 02:37] jbrambleDC commented on #3943
I am assuming this fix wont hit production until 0.12 release. I am working with a 0.11, and this is still an issue. it seems that switching to Figure instead of figure, is a fix.

[2016-04-05 13:43] almarklein opened #4110 "Plot resizing is broken"
In particular the example `embed_responsive_width_height.py`. This also breaks our phosphor+Bokeh demo.
In v0.11.1, the DOM looks like:
[code]

In master, the DOM looks like:
[code]

To resize, the plot queries the `clientWidth`and `clientHeight` of the parent node of its element. But this now fails, because of the extra layer.

As for a solution, I tried two things that both seem to work:
* Use t

[2016-04-05 14:15] mattpap commented on #4110
This extra `<div>` comes from the fact that there are multiple code paths for adding rendered view to the DOM, depending on situation: static document (append), session (replace), static model (replace).

[2016-04-05 14:30] mattpap commented on #4110
Giving this another thought, this `<div>` must have always been there. `PlotView` is rendered with `@$el.html(@template())`, so there is an intrinsic wrapper `<div>`.

[2016-04-05 14:41] almarklein commented on #4110
I tried 0.11.1 and I got the DOM that I listed above.

[2016-04-05 15:16] mattpap commented on #4110
@almarklein, so you have to get parent of `bk-root`. But then, at least for responsive plots, we have to assume that there is one plot per `bk-root`.

[2016-04-05 15:18] bryevdv opened #4111 "check JS logs in tests"
Suggested in #4109 to check JS logs for output like `/error/i`, `undefined is not a function`, `TypeError`, etc.

[2016-04-05 16:03] charleywan2004 opened #4112 "Desired feature for textInput widget: is it possible to mask the entered text, e.g. password input?"
Desired feature for textInput: is it possible to mask the entered text, e.g. password input?

I am using Bokeh to provide user a place to enter username and password so that data can be downloaded and analyzed. I need the password text input field be masked.

[2016-04-05 16:07] bryevdv commented on #4112
This seems like a nice feature, but it does not currently exist. I have tagged this issue as a feature request. In the mean time, it is now possible to wrap other JS libraries for use with Bokeh, you can see an example here: https://github.com/bokeh/bokeh/blob/master/examples/models/custom.py We are still working on documenting the JS api

[2016-04-05 16:16] bryevdv opened #4113 "Move "weather" app from bokeh-demos to main repo"
Need to decide what to do with the data, it is ~1000 lines / 30k (11k gzipped)

[2016-04-05 16:28] bryevdv commented on #3770
This appears to be currently working on master, with an invocation like:
[code]
so I think the best short-term solution is some docs support, and lowering the expiration time to ~15 seconds. I think the "paused" state might be useful, but only as an optional thing for more complex use-cases, so it could be added on later, separately.

Thoughts?

[2016-04-05 16:58] havocp commented on #3770
to me a paused state is probably needless complexity until proven otherwise

[2016-04-05 17:11] bryevdv commented on #3770
That's what I was saying in a roundabout way. :)

[2016-04-05 18:47] #4015 closed

[2016-04-05 18:52] bryevdv commented on #2966
That fix was merged and we now have version 1.3.3 of Backbone. I have not heard any other reports of problems, so I am closing this. Please re-open if there is a demonstrable problem that remains.

[2016-04-05 18:52] #2966 closed

[2016-04-05 19:19] bryevdv opened #4115 "Add app for flight delay data"
This was created for the Anaconda Trial VM

[2016-04-05 19:21] bryevdv opened #4116 "Add a simple app showing usage with HDF5"

[2016-04-05 19:23] bryevdv opened #4117 "Add support for client side filtering of data sources"

[2016-04-05 19:27] bryevdv opened #4118 "add implicit filename support for save()"

[2016-04-05 19:30] #4092 closed

[2016-04-05 19:36] almarklein commented on #4110
@mattpap yes, I think its best to stick with the original approach and get the parent of `bk-root`, but indeed we need to either assume or check that it is not a "sub-plot".

[2016-04-05 19:50] #3770 closed

[2016-04-05 19:51] bryevdv commented on #3770
Set to 15 second expiry

[2016-04-05 20:28] almarklein opened #4119 "Try use setuptools in setup.py (so entry points get installed on Windows)"
In our `setup.py`, setuptools is only a dependency for our "nightly" build. We have tried hard to not depend on setuptools for the rest. For all the evil that setuptools represents, it does ensure that entry points get installed correctly (i.e. with a .exe) on Windows.

In our `setup.py` we have `scripts` entry that distutils picks up, installing a script with a shebang (which does not really work

[2016-04-05 22:19] almarklein commented on #4110
@mattpap any idea of the spurious `bk-plot` references, or whether that classless div should be a `bk-plot`?

[2016-04-05 23:04] waseem18 commented on #4100
@bryevdv @birdsarah This is how I'm planning to proceed on this task. Please correct me if I'm wrong somewhere.
I will `git checkout` every old tag (version) and will change the `layout.html` and it's respective CSS file. Is my approach right?

[2016-04-06 00:14] damianavila commented on #2295
@brendancol can you link the PR where it was replaced... just for reference.

[2016-04-06 00:16] damianavila commented on #3788
@brendancol can you put a little explanation about why it was closed... or a link to the PR implementing/addressing this? Thanks!

[2016-04-06 01:08] bryevdv commented on #4100
@waseem18 no, this needs to be automated to be reliable. I would imagine something like: a bit of JS in the master template that checks if the current version (it can be templated with the current version hardcoded when the docs are built) is the same as the version at `en/latest` (@birdsarah can probably chime in about how this might be best accomplished...maybe we save a text new file that the J

[2016-04-06 15:45] #4008 closed

[2016-04-06 15:45] bryevdv opened #4122 "Add new div widget example to user guide"
Widget was added in #4021

[2016-04-06 16:05] canavandl commented on #4099
Here's a discussion of the issue on their GH: https://github.com/ariya/phantomjs/issues/13953

[2016-04-06 16:10] canavandl commented on #4099
it appears that Medium maintains a fork of phantomjs (now phantomjs-prebuilt post-2.0 release) that is hosted using Github Releases (not Bitbucket). I'll investigate to see if it works. It'd be nice to not have to maintain our own binary.

[2016-04-06 16:13] birdsarah commented on #2006
hah! on my current prototype you just get a blank screen - thanks for the headsup.

[2016-04-06 16:17] birdsarah commented on #2876
No, looks like you fixed it: 7d68b85a627ad234a646cdb1d8b331c99e5d4949

[2016-04-06 16:17] #2876 closed

[2016-04-06 17:04] bryevdv opened #4124 "Remove obsolete CSS classes and bokehjs/src/templates"

[2016-04-06 17:11] #4124 closed

[2016-04-06 17:14] #4113 closed

[2016-04-06 17:16] bryevdv commented on #4113
had already been moved over at some point in the past

[2016-04-06 17:20] bryevdv opened #4126 "Release 0.12 Planning"
This Epic collects remaining work that must be completed for a `0.12` release.

[2016-04-06 17:35] bryevdv opened #4127 "Specifying external URLs for resources"
There are many instances where external (JS, CSS) resources are necessary or useful:

* `GMapPlot` needs to load Google APIs
* Custom User Models that wrap 3rd party JS libraries
* Katex+Fonts for LaTeX label support

Currently, the only options are to include explicit code in the BokehJS model to load external resources (as `GMapPlot` does) or to embed Bokeh models in a custom template that provi

[2016-04-06 17:49] bryevdv commented on #1671
One idea would be to add mapping (`labels`? `custom`?)  to any `TickFormatter` that maps numeric tick values to specific custom labels for that tick location. Before doing its normal formatting and rendering for a tick value, the `TickFormatter` would first try to look that value up in the mapping. If it exists, that label is used as-is, instead of the normal formatting.

So use might look somethi

[2016-04-06 17:51] bryevdv commented on #1672
I think this is a dupe of #1671

In the case you want to completely override the formatting of a label, #1671 covers that. In case you just want to add some additional dressing around a tick value (e.g., `6 things`) That is covered by `PrintfTickFormatter`

[2016-04-06 17:51] #1672 closed

[2016-04-06 17:57] bryevdv commented on #1674
by allowing a "detail format" (or appropriate specification) to be put on the `TickFormatter` and then also a "detail location" which could be something like "first" or "last" or possibly a predicate function.

Question: Is this really just needed for DataTime tick formatters? It seems hard to generalize, since there is no generic notion of "format"

[2016-04-06 18:00] bryevdv commented on #3083
There is another issue to make the logo configurable. For now, since this cruft is not relevant, just remove it with this issue.

[2016-04-06 18:01] #3083 closed

[2016-04-06 19:54] bryevdv commented on #4099
@mattpap seems to be better with #4123 please re-open if problems surface again.

[2016-04-06 19:54] #4099 closed

[2016-04-06 19:54] #2239 closed

[2016-04-06 19:56] birdsarah commented on #4100
I don't have anything off the top of my head except to go and look at how the django project does it - all their docs/code are open source on github.

[2016-04-06 19:57] birdsarah commented on #4100
here's the django banner in action:
out-of-date version:
https://docs.djangoproject.com/en/1.7/ref/templates/builtins/
supported version:
https://docs.djangoproject.com/en/1.9/ref/templates/builtins/

[2016-04-06 21:25] mattpap commented on #4099
@bryevdv, updating phantomjs to 2.0+ version is obviously a way better solution. I just hope someone actually inspected test reports in that PR, to make sure that our testing framework still works. We should also investigate if they actually updated webkit to a reasonably modern version and e.g. remove typed array hack from `main.coffee` (@canavandl, if time permits, can you do this as well?).

[2016-04-06 21:41] bryevdv commented on #4099
All of the file examples report "no diff":

https://s3.amazonaws.com/bokeh-travis/121254034/examples.html

but notebook examples do appear to have an issue, e.g.:

https://s3.amazonaws.com/bokeh-travis/0.12.0dev6-f151f99/howto/charts/boxplot.png

[2016-04-06 21:56] mattpap commented on #4099
I also don't see any images (besides notebooks). I doubt that's intentional. Also, it may have been broken earlier.

[2016-04-07 15:00] #3996 closed

[2016-04-07 16:00] #3822 closed

[2016-04-07 16:12] bryevdv opened #4131 "Change type of Bokeh.index to Map<View<Component>>"

[2016-04-07 16:13] #4131 closed

[2016-04-07 17:01] damianavila commented on #4126
Nice, let's see how this Epic thing work out!

[2016-04-07 17:04] damianavila commented on #4126
FYI, from people not using the zenhub extension, they see this just like an issue with a normal Epic label... let's see later how things are shown when we add issues to the Epic...

[2016-04-07 18:39] bryevdv commented on #2995
This was completed at some point.

[2016-04-07 18:39] #2995 closed

[2016-04-07 18:41] bryevdv commented on #1803
This is a dupe of #2328, continuing discussion there

[2016-04-07 18:41] #1803 closed

[2016-04-07 18:43] bryevdv commented on #2328
reference: https://github.com/bokeh/bokeh/wiki/Selection-and-Hit-test-Managements

Changing this to a feature issue, since there is work started that could reference this issue in a future PR (ping @mattpap)

[2016-04-07 18:46] bryevdv commented on #2018
This discussion refers to the old `bokeh-server` which has been completely removed. The new `bokeh serve` functionality has been much improved, and I do not believe has anything resembling this issue (several hosted, deployed examples are continuously available at demo.bokehplots.com unlike the old server). Please re-open a bug issue if anything similar is found with the new server, however.

[2016-04-07 18:46] #2018 closed

[2016-04-07 18:47] bryevdv commented on #2184
Hover tooltips have been configurable for quite a long time: http://bokeh.pydata.org/en/latest/docs/user_guide/tools.html#custom-tooltip

[2016-04-07 18:47] #2184 closed

[2016-04-07 18:48] bryevdv commented on #2169
This is already possible for `Text` and is also possible in the new `Label` annotation type.

[2016-04-07 18:48] #2169 closed

[2016-04-07 18:50] bryevdv commented on #2222
This references the old `bokeh-server` which has been completely removed. The new server already has improved logging. Requests for new or different logging for the new server should go in a new feature request issue (with specific requirements)

[2016-04-07 18:50] #2222 closed

[2016-04-07 18:52] bryevdv commented on #2315
`callback_throttle` and `callback_policy` were added to afford users options for limiting the number of updates.

[2016-04-07 18:52] #2315 closed

[2016-04-07 18:54] bryevdv commented on #2333
@tumble-weed can you update as to whether this is still an issue with current Bokeh `0.11.1` ? If so, can you provide a complete, minimal, runnable example that reproduces the problem?

[2016-04-07 18:56] bryevdv commented on #2418
This discussion refers to the old `bokeh-server` which has been completely removed. Additionally, it refers to the `BlazeDataSource` which has been moved to maintenance by the Blaze team. For these reasons I am closing. If there is a reproducible issue with the new server, please open a new bug report with code to reproduce.

[2016-04-07 18:56] #2418 closed

[2016-04-07 18:57] bryevdv commented on #2456
Closing for lack of feedback.

[2016-04-07 18:57] #2456 closed

[2016-04-07 18:59] bryevdv commented on #2462
I believe this is now adequately covered by the discussions and examples in the "Adding Interactions" section of the users guide. If there are still specific suggestions, please open a new feature request issue.

[2016-04-07 18:59] #2462 closed

[2016-04-07 19:02] bryevdv commented on #2479
The initial suggestion of this issue has been carried out, tooltips now show/hide and update instead of creating a new div every time.

[2016-04-07 19:02] #2479 closed

[2016-04-07 19:03] bryevdv commented on #2328
related to #1512

[2016-04-07 19:04] bryevdv commented on #2451
I think all of this is covered by the current ongoing layout work. Please re-open if I am mistaken.

[2016-04-07 19:05] bryevdv commented on #2395
This is now possible with the recently merged TypeScript API (which is a port of `bokeh.plotting`)

[2016-04-07 19:05] #2395 closed

[2016-04-07 19:06] bryevdv commented on #2487
Closing for inactivity.

[2016-04-07 19:06] #2487 closed

[2016-04-07 19:09] bryevdv commented on #2427
Sorry, this probably should have been labeled as a feature request. I agree that the "axis only" behavior should be configurable (it is currently always on).

[2016-04-07 19:38] bryevdv commented on #2488
Building on OS X works fine for me, and we build continuously on Linux on TravisCI. However, building on Windows does fail as of `0.12dev` and I believe this is because `bld.bat` is out of date / out of sync with `build.sh`

[2016-04-07 19:39] bryevdv commented on #2503
I think this is / will be covered by the layout work as well as some of the previous work recently.

[2016-04-07 19:39] #2503 closed

[2016-04-07 19:40] bryevdv commented on #2528
We now have implemented a Selenium testing framework (thanks @birdsarah!) I think this can now be closed, and any future bugs or features can go in new, specific issues.

[2016-04-07 19:40] #2528 closed

[2016-04-07 19:42] jakirkham commented on #2488
This was just on my mind recently. I wonder if it would be worthwhile to get these dependencies into conda-forge. Even if you guys build your own copies, I think it would be nice to be able to just have these all ready to go somewhere. At least the development tools that don't get shipped like graphviz, pdiff, etc. could just come from conda-forge directly. Though maybe clients have concerns with

[2016-04-07 19:42] bryevdv commented on #2521
Tick formatters (including `NumeralTickFormatter`) now have fairly extensive docs/examples at: http://bokeh.pydata.org/en/latest/docs/user_guide/styling.html#tick-label-formats

[2016-04-07 19:42] #2521 closed

[2016-04-07 19:43] bryevdv commented on #2523
There is now much documentation on styling at http://bokeh.pydata.org/en/latest/docs/user_guide/styling.html

[2016-04-07 19:43] #2523 closed

[2016-04-07 19:45] bryevdv commented on #2532
the `resources` parameter requires and actual `Resources` object, not a string. The docstring could probably be further improved, but it does currently indicate this is the required type in the current docs: http://bokeh.pydata.org/en/latest/docs/reference/embed.html#bokeh.embed.autoload_static

[2016-04-07 19:45] #2532 closed

[2016-04-07 19:46] bryevdv commented on #2536
Now that we are actively shunting support questions to the ML, I don't think "answered" is reasonable. There is another issue do discuss a "referred" status, I will close this in favor of that.

[2016-04-07 19:47] #2536 closed

[2016-04-07 19:47] bryevdv commented on #2749
The `Label` PR was just merged.

[2016-04-07 19:47] #2749 closed

[2016-04-07 19:50] bryevdv commented on #2639
I think this discussion can be closed. New `bokeh serve` is more performant out of the box, and also already has an initial, much more efficient, streaming API (see `examples/app/OHLC`) with more improvements coming.

[2016-04-07 19:50] #2639 closed

[2016-04-07 19:51] bryevdv commented on #2740
This will all be superseded by the new layout work, closing this particular discussion.

[2016-04-07 19:51] #2740 closed

[2016-04-07 19:52] bryevdv commented on #2760
The proposal to return the renderer was implemented some time ago.

[2016-04-07 19:52] #2760 closed

[2016-04-07 19:53] bryevdv commented on #2936
I think this is more relevant to `bokeh/datashader` ping @jbednar in case the reference is new/useful (but closing this issue to clear the tracker)

[2016-04-07 19:53] #2936 closed

[2016-04-07 19:56] bryevdv commented on #2892
Sorry for not seeing this earlier, but that video shows the use of Matplotlib inside Jupyter, and has nothing to do with Bokeh.

[2016-04-07 19:56] #2892 closed

[2016-04-07 19:57] bryevdv commented on #2897
Closing, as I believe this has been resolved, although I think there are other new intermittent CI issues (but they are being addressed elsewhere)

[2016-04-07 19:57] #2897 closed

[2016-04-07 19:59] bryevdv commented on #2898
This has since been fixed (and is a dupe, but I can't find the other issue)

[2016-04-07 19:59] #2898 closed

[2016-04-07 20:06] bryevdv commented on #3062
The "live editor" will be the bokeh server `--develop` mode, which is covered by another issue.

[2016-04-07 20:06] #3062 closed

[2016-04-07 20:07] bryevdv commented on #3086
@dwf can you confirm if this is still and issue in `0.11.1`? If so can you provide a minimal test case?

[2016-04-07 20:10] bryevdv commented on #2987
Certainly this is possible, all Bokeh views are available in `Bokeh.index` and from there can be searched for the callback, which you could execute yourself. There may be better or other ways. However we are now referring all general support questions to the mailing list so that a wider audience has a chance to answer (and so we can keep the tracker more manageable) Please do ask this question the

[2016-04-07 20:10] #2987 closed

[2016-04-07 20:13] bryevdv opened #4134 "Document the JavaScript / Typescript API"
* [ ] explain similarities / differences with python counterparts
* [ ] provide examples that open in CodePen pens
* [ ] give guidance for interacting with models as it applies to JS callbacks

[2016-04-07 20:13] bryevdv commented on #3032
issue #4134 for documenting JS APIs, continuing discussion there.

[2016-04-07 20:13] #3032 closed

[2016-04-07 20:17] bryevdv commented on #3056
Work to support this kind of more sophisticated color mapping is underway, starting with https://github.com/bokeh/bokeh/pull/3959 to add computed transforms. These will be used to provide additional ways to map colors on the client side. Closing this discussion in favors of the open PR and its associated issues.

[2016-04-07 20:17] #3056 closed

[2016-04-07 20:18] bryevdv commented on #3215
@ericmjl can you confirm if any issue remains with current Bokeh `0.11.1` If so, can you provide a complete minimal test case to reproduce the problem?

[2016-04-07 20:20] bryevdv commented on #3215
@damianavila I think you are too aggressive at labeling things as "discussion" :) IMO. any console error should automatically be considered a bug.

[2016-04-07 20:20] #3246 closed

[2016-04-07 20:22] mattpap opened #4135 "Don't expose external typings beyond Bokeh namespace"
Currently we use stock typings for jquery and underscore, and those expose global ambient variables which conflict with other typings, e.g. those provided by application in which bokehjs is being embeded. We have to process external typings  and nest them under `Bokeh` namespace.

[2016-04-07 20:23] bryevdv commented on #3166
This discussion refers to the old `bokeh-server` which has been completely removed. I cannot reproduce the problem described with the new `bokeh serve` and the `examples/app/ohlc` streaming app. If a problem persists with Bokeh > `0.11` please open a new bug report with accompanying test case.

[2016-04-07 20:23] #3166 closed

[2016-04-07 20:27] bryevdv commented on #3601
Agreed that it would be preferable for the order to be stable, but it may prove to be technically infeasible or too expensive. Some investigation will be required before this feature can be definitively supported.

[2016-04-07 20:28] bryevdv commented on #3620
Resolved in current master (and probably in `0.11.1`):

<img width="808" alt="screen shot 2016-04-07 at 3 28 16 pm" src="https://cloud.githubusercontent.com/assets/1078448/14365832/632a0306-fcd5-11e5-945f-809ec90f5254.png">

[2016-04-07 20:28] #3620 closed

[2016-04-07 20:32] bryevdv commented on #2488
I don't think we would change our machinery to use anything besides the `bokeh` channel on `anaconda.org`, but there is no reason the deps can't or shouldn't be on conda-forge for anyone that would prefer to use that.

[2016-04-07 20:35] bryevdv commented on #3595
According to this comment in the python.org tracker, `inspect.getargspec` has been restored:

https://bugs.python.org/issue25486#msg258007

So, closing this for now.

[2016-04-07 20:35] #3595 closed

[2016-04-07 20:39] dwf commented on #3086
Can't recall steps to reproduce but I'll try and dig them up. I believe I was using a Image glyph...

[2016-04-07 20:42] bryevdv commented on #3702
Sorry for the delayed response, there is alot going on... I can reproduce the behavior, and I believe it is a big. Hopefully not a fundamental limitation of Tornado in some way (I don't think it should be)

[2016-04-07 20:42] jbednar commented on #2936
Interesting, thanks!

[2016-04-07 21:00] bryevdv commented on #3702
OK! If I change the `next_tick_callback` to standard tornado, i.e.:
[code]
Then it works as expected. @havocp do you have any quick thoughts as to why this might work but `next_tick_callback` doesn't?

[2016-04-07 21:13] jdugge commented on #3991
As @bryevdv points out in #3702, the example works as expected when the callback is added using `tornado.ioloop.IOLoop.instance().add_callback(my_non_blocking_function)` instead of using `bokeh.plotting.curdoc().add_next_tick_callback(my_non_blocking_function)`:

[code]

[2016-04-07 21:26] havocp commented on #3702
Maybe both callbacks lock the document so they can't run at the same time. We auto-lock the doc from handler callbacks (but not from lifecycle callbacks).

[2016-04-07 21:28] havocp commented on #3702
I'm not sure we should keep the lock held while a coroutine is yielding. yielding still allows other sessions to make progress, but right now you can't avoid tying up the session your callback belongs to.

The lock guarantees that the document doesn't change during the yield at the moment. Which could be convenient sometimes and inconvenient other times.

[2016-04-07 21:32] bryevdv commented on #4089
@szeitlin Can you post your pip install logs? My current best guess is that pip installed the python binding for `pyyaml` for you, but that your linux system is actually missing the `yaml` C library. ` I guess I would have assumed that most linux distros would come with `yaml` installed but perhaps not.

I can't exactly reproduce this on Ubuntu 14, when I pip install every thing, it turns out that

[2016-04-07 21:39] bryevdv commented on #3702
@havocp can you point me to the lock? I tried tracing from `next_tick_callback` and I am not seeing where anything gets locked.

[2016-04-07 21:39] szeitlin commented on #4089
Agreed that I prefer conda, can't use it in this case b/c I'm stuck inside a venv that was created for another project with pip. IME it's ok to use pip inside conda, but not the other way around.

I checked with pip freeze and PyYAML was not there. So I tried pip install PyYAML, seems like you are correct that it 'installed' but did not compile. But it says "successfully installed" at the end. Sig

[2016-04-07 21:45] bryevdv commented on #4089
Ah, I think you need to `apt-get install libyaml-dev`

[2016-04-07 21:47] havocp commented on #3702
yeah it's in a decorator

[2016-04-07 21:52] bryevdv commented on #3702
So I guess the problem is that without the lock, any coroutine that modifies the document in a yield is in error, correct? Presumably with the potential for protocol errors as was seen in the other issue? Is there any way we could detect and complain loudly if this happens? i.e., some kind of "soft-lock" state that just makes sure to notice if the document is modified and complains in a meaningful

[2016-04-07 21:53] szeitlin commented on #4089
actually, it seems to be working so far. thanks!

[2016-04-07 21:58] bryevdv commented on #4089
@szeitlin glad to hear it, I will close this issue for now. If we hear other reports we can decide to add docs or investigate further.

[2016-04-07 21:58] #4089 closed

[2016-04-07 22:06] bryevdv commented on #3693
There's currently a branch with some work, it would look roughly like this: https://github.com/bokeh/bokeh/tree/surface3d_custom

However, that branch hardcodes the necessary 3rd party 3d JS library. What is really needed first, to be able to do this, is a way to specify external JS libs to load as resources. There is an issue open for tackling that: https://github.com/bokeh/bokeh/issues/4127 Once

[2016-04-07 22:09] havocp commented on #3702
For the yields I don't think protocol corruption would happen since we'd still have the lock when actually running code. The problem is just that whenever you yield you have to be prepared for the client or another callback to change anything about the document. In general you'd want to avoid reading doc properties before a yield and then using them after a yield (currently that is safe to do).

m

[2016-04-07 22:14] bryevdv commented on #3702
Ok, I can try to explore it, but I guess my question is how to know when you are entering a yield? There's no hook AFAIK. What about a context manager:
[code]

[2016-04-07 22:18] bryevdv commented on #4068
dupe of #3702

[2016-04-07 22:18] #4068 closed

[2016-04-07 22:19] bryevdv commented on #4075
Yes this appears to have been fixed in https://github.com/bokeh/bokeh/pull/3909 so closing. Please re-open if you continue to see issue in future dev builds or releases.

[2016-04-07 22:19] #4075 closed

[2016-04-07 22:25] bryevdv commented on #2573
Yes you can pass a `lang` property to `CustomJS`, but it's definitely also possible to write it in *python* and compile it to Javascript which seems far and away even more useful.

[2016-04-07 22:25] #2573 closed

[2016-04-07 22:38] bryevdv commented on #2841
I can reproduce this on FF but not on the version of Chrome I have. Unfortunately this is indicative of an upstream issue with the HTML Canvas implementation. I'm not sure there's alot we can do.

[2016-04-07 23:30] canavandl commented on #4127
My comments from the mailing list:

In order to add LaTeX support (via KaTex) I have to vendor in some font files. While doing this I ran into two issues:

First:

My plan is to add the katex library as a dependency in packages.json, so that'll be pulled in by npm and isn't a problem. I also need to add some style resources (a couple of less files and font files), that get bundled into the bokeh c

[2016-04-07 23:41] canavandl commented on #4127
With my LaTex experience described above, I have a couple of additional considering regarding handling external resources.

* LaTeX supports a ton of fonts (and fonts are relatively big files, ~ 20-40kb). Depending on what LaTeX expression a user hopes to create, different fonts will need to be loaded (bold/italic/script/math characters/etc.). The proposed __resources__ `Model` property would have

[2016-04-07 23:53] havocp commented on #3702
I thought there was a way to do this, but I guess I was wrong; I forgot that the generator gets entirely hidden and all we get from the callback is a Future that represents the entire callback completing. I made a little program to play around with this.

[code]

Here is the output with_wait_for_future=True:
[code]

And with_wait_for_future=False
[code]

We do the equivalent of with_wait_for_futur

[2016-04-08 09:17] tobyhodges commented on #2749
Thanks @bryevdv @canavandl !

[2016-04-08 15:40] sophiajiyoung opened #4139 "Bokeh Datatable renders dates one day off."
I am using Bokeh 0.11.0

When I produce a data table with dates, the rendered dates are one day off from the source of the data.  Taking the example from the bokeh documentation page (http://bokeh.pydata.org/en/0.11.1/docs/user_guide/interaction.html).

![capture](https://cloud.githubusercontent.com/assets/18351854/14388887/d0363b40-fd75-11e5-9c6b-07bf3120db90.PNG)

If you look at the actual dates

[2016-04-08 17:09] damianavila commented on #3215
Probably... we probably need to just leave the issues unlabeled until I (or someone else) can assign the proper label... in this case, I did not put the `bug` label because I could not reproduce the issue at that time... but maybe I should be more flexible... I took the note!! There are several tiny problems with the issues and PR management that we need to fix in the future... I am thinking on th

[2016-04-08 17:23] #4110 closed

[2016-04-08 17:25] damianavila commented on #2892
The bokeh server has been rewritten and you, probably, need to test it inside your setup. Feel free to reopen this if you find the same kind of problem with the new implementation.

[2016-04-08 17:31] fpliger opened #4140 "Charts documentation improvements"
Charts documentation need improvements, especially regarding charts shared arguments and attributes. For instance, it's not easy to find information about charts legends on the user guide and the only mention to this parameter is on the Scatter Chart section, although it is a generic argument that can be used on any type of chart.

[2016-04-08 18:24] bryevdv commented on #3669
dupe of #3008

[2016-04-08 18:24] #3669 closed

[2016-04-08 18:29] #3582 closed

[2016-04-08 18:29] bryevdv commented on #3582
The old reference to `bokeh.session` was removed at some point.

[2016-04-08 18:32] bryevdv commented on #887
I'm going to move this to a Wiki "Projects of Interest" page I don't think this kind of issue is helpful in the tracker.

[2016-04-08 18:32] #887 closed

[2016-04-08 18:37] bryevdv commented on #1455
This appears to have been done:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/less/icons.less

If I am mistaken, please re-open.

[2016-04-08 18:37] #1455 closed

[2016-04-08 18:38] bryevdv commented on #1149
@damianavila is this issue still needed to be open?

[2016-04-08 18:39] bryevdv commented on #979
I no longer think this is important or worth pursuing. If anyone else feels differently (and also wants to work on it), feel free to re-open.

[2016-04-08 18:39] #979 closed

[2016-04-08 18:42] bryevdv commented on #1892
Most of this is no longer relevant, the part that still is has its own separate issue.

[2016-04-08 18:42] #1892 closed

[2016-04-08 18:43] bryevdv commented on #2104
@damianavila is this still outstanding / relevant?

[2016-04-08 18:43] bryevdv commented on #2888
As docs are building, I have to believe this was resolved. Please re-open if there is still some outstanding issue.

[2016-04-08 18:43] #2888 closed

[2016-04-08 18:51] bryevdv commented on #3084
The "examples" link in the gallery has been made to point to a specific release now, so I am closing this. Also there is another issue to discuss other ways to make sure users are directed to versioned/tagged links in GH where appropriate.

[2016-04-08 18:51] #3084 closed

[2016-04-08 18:54] bryevdv opened #4141 "Declarative Property management"
clean up usage of properties in BokehJS, including

-  all public (serializable) properties use `@define`
- all private (nonserializable) properties use `@internal`
- all overrides use `@override`
- all cases of `defaults` are removed
- `defaults`, `nonserializable_property_names` etc. are removed
- `set(prop)` and `get(prop)` throw exception when `prop not in @props`

[2016-04-08 19:02] ericmjl commented on #3215
hey guys, thanks for coming back to this! 😄 I just tested my [notebook][1] with the `push_notebook` line uncommented, and it works. Thanks! 👍

[1]: https://github.com/ericmjl/systems-microbiology-hiv/blob/master/Bayesian%20Example.ipynb

[2016-04-08 19:07] bryevdv commented on #3215
Awesome, thanks for letting us know!

[2016-04-08 19:07] #3215 closed

[2016-04-08 19:08] #4116 closed

[2016-04-08 19:16] bryevdv commented on #4030
Also, this is a dupe of #2056

[2016-04-08 19:16] #4030 closed

[2016-04-08 19:20] bryevdv commented on #3961
I also forgot to mention the periodic callback itself can certainly connect to the data base to pull in new data, and that should be simple as well. In any event, in the interest of cleaning up our tracker I'm going to close this for now. For "support" type questions we are sending people to the mailing list. Of course, if there is a bug or feature request please open any new issues needed.

[2016-04-08 19:20] #3961 closed

[2016-04-08 19:22] bryevdv commented on #3921
This seems to still be an issue on`0.12dev`

[2016-04-08 19:26] bryevdv commented on #3917
My intention was that they are simple enough to currently also be used as real image diff test sources, that is, actually ***failing*** the test when there is an image diff.

in any case, they are only needed by the docs, I would not want to move them under the `bokeh` directory and actually ship them with the library, and I think they are too simple/boring to go under `examples`

[2016-04-08 19:29] bryevdv commented on #3898
We do have a no-arch package now. I'm not sure how difficult a "build" job that all other jobs depend on would be

[2016-04-08 19:34] bryevdv commented on #3906
That appears to depend on a private pytest api `_pytest.mark` so I'm not inclined to use it. This is not that big a deal, so closing.

[2016-04-08 19:34] #3906 closed

[2016-04-08 19:40] bryevdv commented on #3912
@mattpap agreed but I think this discussion can be closed for several reasons: It's support (belongs on ML), other options have been given, and now Collections are gone.

[2016-04-08 19:40] #3912 closed

[2016-04-08 19:42] bryevdv commented on #3834
This is still present on `0.12dev`

[2016-04-08 19:43] mattpap commented on #3912
@bryevdv, actually, at the time I wasn't aware that the APIs are there, just maybe not exposed enough.

[2016-04-08 19:55] bryevdv commented on #3772
I think it issue is that Bokeh is not expecting the "tuples" (range objects?) that comprise `df['bins']`. If I so
[code]
and then
[code]
Then I get the following output:
<img width="591" alt="screen shot 2016-04-08 at 2 54 40 pm" src="https://cloud.githubusercontent.com/assets/1078448/14395852/eb63fb90-fd99-11e5-96fb-5d759368b428.png">

ping @fpliger

[2016-04-08 19:57] bryevdv commented on #3764
Closing, as this is a support question which belongs on the mailing list.

[2016-04-08 19:57] #3764 closed

[2016-04-08 20:06] bryevdv commented on #3746
Closing this disucssion in favor of the task issue: https://github.com/bokeh/bokeh/issues/4119

[2016-04-08 20:06] #3746 closed

[2016-04-08 20:09] bryevdv commented on #3134
I believe this has been resolved at some point, this is what I get with a `0.12dev` build:

<img width="705" alt="screen shot 2016-04-08 at 3 09 01 pm" src="https://cloud.githubusercontent.com/assets/1078448/14396210/de49a8d6-fd9b-11e5-9028-6a7128c56ad4.png">

[2016-04-08 20:09] #3134 closed

[2016-04-08 20:13] bryevdv commented on #3178
Closing this discussion to clean up the tracker. There is currently comprehensive work being to improve  layout that will go into `0.12` when it is ready.

To add: current sliders have an `orientation` property: http://bokeh.pydata.org/en/latest/docs/reference/models/widgets.inputs.html#bokeh.models.widgets.inputs.Slider.orientation

I would very much like to replace the current sliders with new o

[2016-04-08 20:13] #3178 closed

[2016-04-08 20:14] bryevdv commented on #3170
Closing discussion for inactivity

[2016-04-08 20:14] #3170 closed

[2016-04-08 20:20] bryevdv commented on #3004
Reported as fixed, so closing. Please re-open if the problem can still be reproduced on Bokeh later than  `0.11.1`

[2016-04-08 20:20] #3004 closed

[2016-04-08 20:23] bryevdv commented on #2884
Hi @matejmertik this discussion refers to the old `bokeh-server`, which has been completely removed, which is why I am closing this issue. The new server has been demonstrated to be much more stable and robust. If you find you have problems with the new server, please open a new issue, but please be sure to include a complete, minimal, runnable test case to reproduce the problem. It is very diffic

[2016-04-08 20:23] #2884 closed

[2016-04-08 20:26] bryevdv commented on #2883
@jelmelk can you confirm if this is still an issue with Bokeh `0.11.1` or newer? If so, can you provide a complete, minimal, runnable example to reproduce the issue, that we can use to start an investigation?

[2016-04-08 20:27] bryevdv commented on #2842
@PythonicPrime can you confirm if this is still an issue with Bokeh `0.11.1` or newer? If so, can you can you provide a complete, minimal, runnable example of code that reproduces the problem, so that we can use it to start an investigation?

[2016-04-08 20:37] bryevdv commented on #3252
I believe this issue was resolved in #3169, so I am closing this discussion to clear up our tracker. If there is still an issue in Bokeh `0.11.1` or newer, please make a new issue and be sure to include a complete, minimal, runnable example of code to reproduce the problem, so that we can use it to start investigation.

[2016-04-08 20:37] #3252 closed

[2016-04-08 20:40] bryevdv commented on #3231
Going to go ahead and close this, since the user reported a solution with `components`, additionally every gallery plot relies on `autoload_static` so I am confident that it is working as expected.

[2016-04-08 20:40] #3231 closed

[2016-04-08 20:45] bryevdv commented on #3635
I think this can be closed. I would also point the user at https://github.com/bokeh/datashader which is now probably en even better solution, and has explicit examples of large timeseries downsampling.

[2016-04-08 20:45] #3635 closed

[2016-04-08 20:47] bryevdv commented on #3608
I'm not sure controlling the aspect is possible in the latest release. There is currently comprehensive work being done to improve every part of layout for Bokeh documents that will go into the `0.12` release when it is ready, so I am going to close this to clear up our tracker.

[2016-04-08 20:47] #3608 closed

[2016-04-08 20:49] bryevdv commented on #3579
I'm going to close this discussion, since there is no immediate action resulting. There is a separate issue (https://github.com/bokeh/bokeh/issues/2204) for the binary protocol that can be followed, that will be addressed when resources permit.

[2016-04-08 20:49] #3579 closed

[2016-04-08 20:50] bryevdv commented on #3567
It turns out this will probably be needed for some of the work we'd like to do around turning notebooks into apps, so relabeling as a `feature`

[2016-04-08 20:52] bryevdv commented on #3576
This is definitely a bug, can confirm is is present in `0.12dev`

[2016-04-08 21:01] bryevdv commented on #3576
AFAICT the issue is the the new `HistogramGlyph` uses `bokeh.chart.stats.Bins`, which now uses `pd.cut` instead of `numpy.histogram`:

https://github.com/bokeh/bokeh/blob/master/bokeh/charts/stats.py#L337

So the first (hopefully easy?) issue is to communicate the `density` property to the `HistogramGlyph` (it is currently completely unused). The next issue is that the results of `pd.cut` need to

[2016-04-08 21:05] bryevdv commented on #3365
Closing to clear up the tracker, I don't see any immediate actions that can result from this discussion unfortunately. As a suggestion, if copying text is an important priority, you can add a JS callback to tap tool that updates some other div in your document, with the info for the tapped location, and then presumably that could be copied because it is just text.

[2016-04-08 21:05] #3365 closed

[2016-04-08 21:06] bryevdv commented on #3357
@fpliger is this still an issue?

[2016-04-08 21:11] tjimation opened #4143 "Bokeh issue with runipy"
For Bokeh .9 and .10, we were able to run a notebook (using bokeh) thru runipy and generate a html page.  However, this is broken with bokeh .11*.

So in .11*, we are getting an error message:
[code]
So somehow, a message of "comm_open" (different than .9 and .10 behavior) is passed back to runipy/notebook_runner.py which can't handle it.

Thru google, I found a link of a custom notebook_runner.py

[2016-04-08 21:25] bryevdv commented on #4143
"Notebook Comms" are what implement `push_notebook`, which allows, e.g. to have streaming data updating plots in a running Jupyter notebook. It works with the standard Jupyter Notebook, which is all we test against. This is a critical and important feature for Jupyter notebooks, so it cannot be removed. A solution probably involves two things:

* In Bokeh, update this block to fail gracefully (i.e

[2016-04-08 21:26] bryevdv commented on #4143
ping @damianavila

[2016-04-08 21:30] bryevdv commented on #4143
It's possible we could add an environment variable to control the use of comms. But that involves non-trivial plumbing to communicate from the python side to the JS side. I'm generally not positive on the idea to being with, and I definitely don't regard it as a valuable use of our very limited resources, but a pull request would certainly be considered.

[2016-04-08 21:33] bryevdv commented on #3639
I am relabeling as a `bug`. The `try`/`catch` around the comms should be added no matter what, I want to make sure the task it not lost before the `0.12` release.

[2016-04-08 22:00] bryevdv commented on #3639
Hi @AlJohri , @lindseydi , @PeterSulcs , @rsgoodwin , @ecatmur , @dragoljub , @patrickhoebeke

I have made a PR #4144 that adds the `try` / `except` around notebook comms init. If any of you are familiar with the build process and can try it out (you'd need to use `BOKEH_RESOURCES=inline`) that would extremely appreciated. I am not able to reproduce the issue locally, despite trying. I had to forc

[2016-04-08 22:01] bryevdv commented on #4143
I have done the first bullet point above in #4144 I you have the ability to test a build based off that PR, with some changes to `notebook/runner.py` as I described, that would let us know if this solution could work for both use cases.

[2016-04-08 23:10] bryevdv commented on #2417
Seems to be some actual bugs here

[2016-04-08 23:16] bryevdv commented on #2299
This could be implemented with a custom `Ticker`, or possibly a custom `TickFormater`. There is an example of the latter at: https://github.com/bokeh/bokeh/blob/master/examples/plotting/file/custom_datetime_axis.py

Closing this for now, since it is more of a support question (please feel free to pose it on the mailing list)

[2016-04-08 23:16] #2299 closed

[2016-04-08 23:24] bryevdv commented on #2326
This seems like a pretty reasonable feature, and perhaps not hard to implement. Would you be interested in working up a PR @jakirkham ?

[2016-04-08 23:27] bryevdv commented on #2539
So, @mattpap is doing some work (currently on a brief pause for other priorities), to improve selection handing and hit testing, and one of the things that will fall out of that is an "interactive legend" that has been often requested. Let's let all that work itself out, and then afterwards we can see how it might be possible to special case `MultiLine` and `Patches` without upsetting anything els

[2016-04-08 23:29] bryevdv commented on #2506
I think most of the examples are fine, and then also that it is important to have *some* examples "show all the steps" even if there are alot or extra steps. Closing this for now but re-open if there are specifics to discuss.

[2016-04-08 23:29] #2506 closed

[2016-04-08 23:32] bryevdv commented on #2475
Closing just because I think this is a dupe of #1135 I do think it would be a good idea. I looks like some people made and effort but got stuck, perhaps someone can revisit soon.

[2016-04-08 23:32] #2475 closed

[2016-04-08 23:36] bryevdv commented on #2856
Closing, as the `bokeh.charts` API has evolved since then. The charts API is specifically geared to be useful in connection with Pandas DataFrames. If your use-case is simpler than that or does not involve Pandas, I suggest using the `bokeh.plotting` API. Basically, *ever* glyph function in `bokeh.plotting` is a scatter of that glyph.

[2016-04-08 23:36] #2856 closed

[2016-04-08 23:38] bryevdv commented on #2845
@hafen can you point to an example in some other context that demonstrates this use-case? I am trying to imagine what exactly it means.

[2016-04-09 00:05] bryevdv commented on #2657
I believe this work was done, part of @brendancol 's `TileRenderer` additions.

[2016-04-09 00:05] #2657 closed

[2016-04-09 00:08] bryevdv commented on #2695
closing as it is no longer relevant. The `bokeh.charts` API has evolved to be centered around Pandas DataFrames. If you have different uses, recommend `bokeh.plotting` API instead

[2016-04-09 00:08] #2695 closed

[2016-04-09 00:17] bryevdv commented on #2519
`xlabel` works and is documented as a property in current releases.

[2016-04-09 00:17] #2519 closed

[2016-04-09 01:15] bryevdv commented on #3845
@brendancol can you elaborate

[2016-04-09 01:38] bryevdv commented on #3816
This is actually a dupe of #3054 There is more discussion and information there, so I am closing this issue in favor of that one

[2016-04-09 01:38] #3816 closed

[2016-04-09 01:41] bryevdv commented on #3816
@damianavila I suddenly wonder if duplicates ought never to have a milestone. Thoughts?

[2016-04-09 02:56] bryevdv commented on #4079
Apart from the technical problem that clicking already has meaning in many context, there's also no reason you can't do both `output_file` (to get a new tab) and `output_notebook` (to get things inline). They are not mutually exclusive. I think this is covered by existing functionality (which makes me hesitant to want to add any additional functionality that would have to be maintained) so I am cl

[2016-04-09 02:56] #4079 closed

[2016-04-09 02:59] bryevdv commented on #4096
This is clearly a bug. @mdk73 is there any JS console output or server output?

[2016-04-09 03:01] bryevdv commented on #4071
It turns out there is probably an issue that needs resolving with `next_tick_callback` I can't guarantee that it will be helpful until it is resolved (it depends), see #3072 for details

[2016-04-09 06:29] bryevdv opened #4149 "Log PID on server startup"
Should log the process ID early on startup when the server starts.

[2016-04-09 10:19] mdk73 commented on #4096
This is the outout I get on the console:

[code]

[2016-04-09 11:14] PythonicPrime commented on #2842
Hello Bryan, how is it going?

I was unable to upgrade from 0.10 to 0.11 (some of the custom libraries I developed to access the Backbone objects in JS break in the change, andI have not yet figured out how to fix them)

Will update on this once I manage to move to 0.11

[2016-04-09 11:16] PythonicPrime commented on #2842
To note: I believe this was an issue in 0.9, I have been using jquery sliders since posting this, so it is likely that the problem was already solved in 0.10

[2016-04-09 13:56] ChristianTremblay commented on #3567
I will want to compare to what you think is the better way to handle this. Here is the code I use for BAC0

https://github.com/ChristianTremblay/BAC0/blob/master/BAC0/bokeh/BokehServer.py

[2016-04-09 14:52] bryevdv commented on #4096
What about the browser JavaScript console?

[2016-04-09 15:23] mdk73 commented on #4096
I am not familiar with the browser development tools, I hope I found the
correct console:

bokeh.min.js?v=50ffae6…:1 Bokeh: setting prefix to /
bokeh.min.js?v=50ffae6…:2 Bokeh: setting log level to: 'info'
bokeh.min.js?v=50ffae6…:62 Bokeh: Websocket connection 0 is now open
bokeh.min.js?v=50ffae6…:2 Bokeh items were rendered successfully

2016-04-09 16:53 GMT+02:00 Bryan Van de Ven <notifications@

[2016-04-09 15:41] bryevdv commented on #4096
That is the correct console, if that's all the output there is, this will require more investigation. The first step would be to see whether RGB tuples work in other contexts (i.e. with `bokeh.plotting` or `bokeh.models` code) That might inform as to whether this is an issue just in `bokeh.charts` somehow, or whether it is more general. If you have the time to run some experiments, that is certain

[2016-04-09 15:43] bryevdv commented on #4096
Actually, quicker/easier thing. Make a server app (i.e. don't usurp `bokeh serve foo.py` directly, don't use  `output_server` from a separate python process) and run `bokeh json` on it, that will spit out the serialized JSON which could be inspected for problems.

[2016-04-09 15:46] bryevdv commented on #4096
OK, this version, run as a server app, works on current master:
[code]
Can you try running `bokeh serve` on that script to see if works with the version you have installed?

[2016-04-09 15:55] bryevdv commented on #4096
When I run this version of the `output_server` version:
[code]
I get this console output:

<img width="649" alt="screen shot 2016-04-09 at 10 52 52 am" src="https://cloud.githubusercontent.com/assets/1078448/14404639/507e35fc-fe41-11e5-9ec4-79c5380a455e.png">

So my best guess is there is something weird going on with `output_server` and RGB tuples.

My best suggestion for a workaround, and actual

[2016-04-09 16:11] bryevdv commented on #4096
The problem is definitely that the string `"rgb(50, 0, 0)"` is being encoded as a `field` for a column name, rather than a `value`. This seems to be happening on the python side. But I'm not sure why it would work in a server app, but not `output_server` context, that's actually troublesome. My best current guess is that   serializing the tuple from python works (why a server app works) but that d

[2016-04-09 16:13] bryevdv commented on #4096
I should add, another workaround if you don't to make a server app is to construct RGBA hex values, e.g. `"#aabbcc"`, I just ran an `output_server` script that uses this format and it worked as expected.

[2016-04-09 16:21] bryevdv commented on #4096
OK, I definitely think my above hypothesis was correct. Look at:

https://github.com/bokeh/bokeh/blob/master/bokeh/core/properties.py#L1813-L1837

Color tuples get serialized to *strings* like `"rgb(50, 0, 0)"`, and if these are sent directly from a server app to the browser this is fine, because the browser knows that to do with that. But in `output_server` cases there is an extra hop: from the p

[2016-04-09 17:30] mattpap commented on #4099
I did this in #4141.

[2016-04-09 19:20] bryevdv opened #4150 "app-specific static file serving for directory apps"
If a directory format Bokeh app has `static` subdirectory, add a static file handler to server files from this directory under an `app/static` path.

This is a precursor to enabling "templated" Bokeh single page apps. See #3962

[2016-04-09 21:58] mattpap commented on #3845
Tiles and sources are under the same directory in bokehjs. @brendancol, make sure to do this after #4141, otherwise you will get plenty of merge conflicts.

[2016-04-10 00:00] bryevdv commented on #4025
Glad to hear, closing now.

[2016-04-10 00:00] #4025 closed

[2016-04-10 00:01] bryevdv commented on #3967
I'm going to go ahead and close this. The reports are pretty easy to find now, and if we move off TravisCI soonish, the work would be wasted.

[2016-04-10 00:01] #3967 closed

[2016-04-10 00:24] bryevdv commented on #4139
I wonder if this is actually some kind of timezone formatting issue.

[2016-04-10 00:33] bryevdv commented on #4081
That's really bizarre. @birdsarah any ideas? AFAIK nothing about the `z-order` of the preview save tool has changed, by maybe the new docs site CS has some interaction?

[2016-04-10 00:40] bryevdv commented on #4053
@redraven984 that message is harmless.  There is an open PR to improve server performance of streaming, I don't know if it will affect this issue, but it's worth keeping any eye on. It should be merged soon, with a new dev build out next week.

[2016-04-10 00:41] bryevdv commented on #4023
@krey Bar charts have categorical axes by definition, which I expect is the proximate cause of the problem. I guess there is a reasonable argument that `bokeh.chart.Bar` should automatically convert numeric scale values into discreet categorical labels. @fpliger thoughts?

[2016-04-10 00:45] bryevdv commented on #4007
@waqarmalik do you have any updates to this?

[2016-04-10 00:47] bryevdv commented on #3960
@monkut do you have any updates? FYI there is ongoing work to comprehensively improve layout capability will go into `0.12`

[2016-04-10 00:51] bryevdv commented on #3885
I'm pretty -1 on all of this, after some reflection. I think it's possible to use existing APIs to achieve this, maybe we could show how and provide some utility functions in the docs, as opposed to add more things we have to actively maintain?

[2016-04-10 00:53] bryevdv commented on #3859
@pzwang probably best if you or @jbednar make a PR, so that it makes sure to say the things that you want.

[2016-04-10 01:07] bryevdv commented on #3839
I just tried to reproduce this with pip `8.1.1` and could not (see attached log), so perhaps this issue has been fixed upstream. I am closing for now. Please re-open if the issue is found to persist with recent `pip`

---

[code]

[2016-04-10 01:07] #3839 closed

[2016-04-10 01:24] bryevdv commented on #3793
Closing this, just because I think it is covered by some other issues. In particular #3349 covers sending some initial state to apps at startup.

[2016-04-10 01:24] #3793 closed

[2016-04-10 01:25] bryevdv commented on #3780
What is the rationale for a delay?

[2016-04-10 01:31] bryevdv commented on #3701
@jbednar I believe this has been resolved in recent builds, can you confirm?

[2016-04-10 01:33] bryevdv commented on #3390
Closing this, will open new epic or burn list for `0.12`

[2016-04-10 01:33] #3390 closed

[2016-04-10 01:38] bryevdv commented on #3610
Moving to `0.12` to at least re-evaluate prior to release

[2016-04-10 01:38] bryevdv commented on #3611
Moving to `0.12` to at least re-evaluate prior to release

[2016-04-10 01:38] bryevdv commented on #3612
Moving to `0.12` to at least re-evaluate prior to release

[2016-04-10 01:39] bryevdv commented on #3615
This example was improved to not do this.

[2016-04-10 01:39] #3615 closed

[2016-04-10 01:39] bryevdv commented on #3613
Moving to `0.12` to at least re-evaluate prior to release

[2016-04-10 01:39] bryevdv commented on #3614
Moving to `0.12` to at least re-evaluate prior to release

[2016-04-10 01:40] bryevdv commented on #3616
Moving to `0.12` to at least re-evaluate prior to release

[2016-04-10 01:40] bryevdv commented on #3598
ping @birdsarah is this something that might fall naturally out of the `0.12` layout work?

[2016-04-10 01:42] bryevdv commented on #3563
This is important and annoying, moving to `0.12`

[2016-04-10 01:44] bryevdv commented on #3483
@havocp this is resolved (at least to a reasonable degree)? My recollection is ping-ponging made the histogram selection example unusable, and it works quite nicely now.

[2016-04-10 01:48] bryevdv commented on #3081
This is a dupe of #3820 That one is newer but it's a planned issue, so closing this one in favor of it.

[2016-04-10 01:48] #3081 closed

[2016-04-10 01:50] bryevdv commented on #2977
I believe these issues were resolved with the `0.11` release. If there are still problems please feel free to re-open.

[2016-04-10 01:50] #2977 closed

[2016-04-10 01:52] bryevdv commented on #2943
@birdsarah any update?

[2016-04-10 01:54] bryevdv commented on #2914
@dennisobrien any comment as to whether this issue has persisted ?

[2016-04-10 02:00] bryevdv commented on #2759
It's specifically `PlotView` that stores all the renderer views as `plot_view.renderers`

[2016-04-10 02:02] bryevdv commented on #2737
Moved to Wiki https://github.com/bokeh/bokeh/wiki/Other-Projects-of-Interest until there is a concrete proposal.

[2016-04-10 02:02] #2737 closed

[2016-04-10 02:06] bryevdv commented on #2699
I zoomed down to the minutes scale without issue on `0.12dev` (OS X safari) and could no longer reproduce. Closing, but please re-open if it still persists on some platforms.

[2016-04-10 02:06] #2699 closed

[2016-04-10 02:10] bryevdv commented on #2661
Currently on my few years old MBP a full build takes ~25s:
[code]

Is there any action to actually take here? I guess it seems like an upstream issue, it's going to take as long as it takes.

[2016-04-10 02:12] bryevdv commented on #2610
We can definitely enable hover highlighting with hover policy now. I'm not sure about the small values, that is actually surprising and will need a look.

[2016-04-10 02:12] havocp commented on #3483
I think we may have worked around this somehow but the actual bug described here (nonsensical equality check between json and real models) may remain. But not sure.

[2016-04-10 02:14] bryevdv commented on #2601
Closing since `BlazeDataSource` is no longer in Bokeh

[2016-04-10 02:14] #2601 closed

[2016-04-10 02:14] havocp commented on #3483
wouldn't hurt to add tests for this case which would prove the bug status ...

[2016-04-10 02:15] bryevdv commented on #2527
@mistakevin @birdsarah @mattpap can this be closed now?

[2016-04-10 02:18] bryevdv commented on #2534
After updating the CDN links in the script to `0.11.1` I am unable to reproduce the issue. Please re-open if you can demonstrate the problem persists.

[2016-04-10 02:18] #2534 closed

[2016-04-10 02:19] bryevdv commented on #2534
<img width="637" alt="screen shot 2016-04-09 at 9 19 05 pm" src="https://cloud.githubusercontent.com/assets/1078448/14407686/b6d061f2-fe98-11e5-803f-0550d85472b5.png">

[2016-04-10 02:21] bryevdv commented on #2377
@birdsarah I am closing because I believe this is covered by other issues and the current layout work. Please re-open if you disagree.

[2016-04-10 02:21] #2377 closed

[2016-04-10 02:22] bryevdv commented on #2373
We have facilities now to print informative errors about optional dependencies, and it has also been mentioned in the docs.

[2016-04-10 02:22] #2373 closed

[2016-04-10 02:25] bryevdv commented on #2229
Just checked with `sliders.py` app and new server, this has been resolved at some point. Additionally, reset tool now also resets plot size (this was requested)

[2016-04-10 02:25] #2229 closed

[2016-04-10 02:26] bryevdv commented on #2216
@chrisfs Can you comment on whether this is still an issue? `bokeh.charts` is the newest API and was quite young at the time. It has changed somewhat in the last 9 months, but is also settling down and becoming more stable.

[2016-04-10 02:29] bryevdv commented on #1056
I think this is a dupe of #4014 Although that issue is newer, it has discussion more relevant to the current server and architecture, so I am closing this issue in favor of that one.

[2016-04-10 02:29] #1056 closed

[2016-04-10 02:33] bryevdv commented on #2080
confirmed here is still a hit-testing issue with `direction="clock"` in `0.12dev`

[2016-04-10 02:35] bryevdv commented on #2054
This issue refers to the old `bokeh-server` which has been completely removed. I am closing this issue to clear up our tracker. The new `bokeh serve` is much more robust, easy to use, tested, and documented, and supports setting titles.

[2016-04-10 02:35] #2054 closed

[2016-04-10 02:38] bryevdv commented on #2053
This example works as expected with the new `bokeh serve` Bokeh server.

[2016-04-10 02:38] #2053 closed

[2016-04-10 02:40] bryevdv commented on #2037
This was resolved ages ago:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/coffee/models/widgets/toggle.coffee#L4

Additionally just confirmed running `button_server.py` with new (`0.11`+) Bokeh server functions as expected.

[2016-04-10 02:40] #2037 closed

[2016-04-10 02:45] bryevdv commented on #2050
An update, in light of the new server. When running `animated.py` with the `bokeh serve`, the server process itself does not show any memory growth. But the python process that runs `animated.py` *does* seem to show unbounded growth, so this is still an issue.

[2016-04-10 02:47] bryevdv commented on #1879
@mattpap has any part of this fallen out of some of the recent `numbro` work?

[2016-04-10 02:50] bryevdv commented on #1710
This is evidently still an issue with the latest `0.12dev` I believe the fix for this will fall out of the comprehensive layout worn in progress by @birdsarah

[2016-04-10 02:52] bryevdv commented on #1491
This was done.

[2016-04-10 02:52] #1491 closed

[2016-04-10 02:52] bryevdv commented on #1481
This refers to the old `bokeh-server` which has been completely removed.

[2016-04-10 02:52] #1481 closed

[2016-04-10 02:56] bryevdv commented on #1323
Contrariwise, I think it is important to demonstrate how to integrate with things like Yahoo API, which is going to be a very common sort of thing people will want to do. I do not recall seeing any testing failures over this issue in the last year or more, so I am going to close. Please re-open if you disagree.

[2016-04-10 02:56] #1323 closed

[2016-04-10 02:58] bryevdv commented on #1266
This issue refers to the old `bokeh-server` which has been completely removed, so I am closing it now. The new server has much more extensive deployment documentation (including scenarios similar to this one) in the user's guide: http://bokeh.pydata.org/en/latest/docs/user_guide/server.html

[2016-04-10 02:58] #1266 closed

[2016-04-10 03:00] bryevdv commented on #1268
This is now fully documented, automatically:

http://bokeh.pydata.org/en/latest/docs/reference/plotting.html#bokeh.plotting.figure.Figure.image_url

[2016-04-10 03:00] #1268 closed

[2016-04-10 03:04] bryevdv commented on #991
Moving this kind of thing to the Wiki: https://github.com/bokeh/bokeh/wiki/Other-Projects-of-Interest

[2016-04-10 03:04] #991 closed

[2016-04-10 03:08] bryevdv commented on #715
I don't think this is a valid request. If the plot has two ranges `[-100, 100]` and `[-250, 200]` then their respective zeros ***can't*** line up, by definition. It is the endpoints that have to match up, which means the internal points are wherever they are. Making the zeros line up would involve some kind of distortion. If appropriate, you can certainly choose your own ranges such that the zeros

[2016-04-10 03:08] #715 closed

[2016-04-10 03:09] bryevdv commented on #597
I think this ship has sailed. @pzwang please re-open if you disagree.

[2016-04-10 03:09] #597 closed

[2016-04-10 09:40] mattpap commented on #2661
Switching to closure compiler is an option. I used to use it in bokeh-scala and it reduced minification time to a fraction of the current. On the other hand, I get by in day-to-day work by not using minified files 99% of the time, so it may not be that big issue.

[2016-04-10 09:53] mattpap opened #4153 "Strict trigger() and listenTo()"
Make `trigger()` and `listenTo()` verify if properties used are actually defined on the target object's model. This is continuation of #4141.

[2016-04-10 09:58] mattpap commented on #1879
No, I don't think so.

[2016-04-10 10:12] mdk73 commented on #4092
In an attemt to run a testscript for #4096 I could reproduce the problems I had when I was initially reporting this issue:

First attemt, from any directory:
[code]

Then I move to
![image](https://cloud.githubusercontent.com/assets/2737768/14409487/d09ba390-ff14-11e5-8db6-0c1e87af6f00.png)
where a script 'bokeh' is located.

[code]

gives me this popup-message:
![image](https://cloud.githubuserco

[2016-04-10 10:16] mdk73 commented on #4096
I tried to run the script with 'foo.py' with ```bokeh serve```, and I ran once more in the problems I had when reporting #4092 , I updated this issue with a more complete description of steps to reproduce it.

[2016-04-10 12:43] mdk73 commented on #4096
I tried to replace the rgb values in the original code with hex values, but I get an error log.

The following lines were added to use palette with hex-values (after defining the rgb-palette, before defining the plot:

[code]

And the error log:
[code]

[2016-04-10 13:06] mattpap commented on #4096
Hex color syntax doesn't support alpha component (we follow CSS3 here).

[2016-04-10 20:50] damianavila commented on #1149
I think the script is pretty stable and, soon, we need to evaluate the migration to the anaconda build system... so, any further developments should be done in that work, I think. Let's close this one for now.

[2016-04-10 20:50] #1149 closed

[2016-04-10 20:54] damianavila commented on #2104
We currently provide the packages to be upload to repo.cio... so I think the asymmetry is no longer present/relevant. Let's close this one (I will reopen it if it it is needed).

[2016-04-10 20:54] #2104 closed

[2016-04-10 21:07] damianavila commented on #3816
Maybe... not sure... the milestone is probably a quick reference about when this was closed a duplicate... and IIRC duplicates are removed from the changelog... so there should not be a problem, although I also understand your position... mmm... as I said, not sure...

[2016-04-10 21:18] damianavila commented on #1323
That's ok... and I did not see the failure for long time... so, no problem,

[2016-04-11 02:55] jbrambleDC opened #4154 "Bokeh reloads page with default slider values after each button triggered update"
I have a bokeh app with defined sliders, hover tools, and 4 figures defined using Figure not figure, that I will display in a 4x4 fashion. Everything looks fine and renders properly on initial load. I have a button that calls an update function when clicked. Upon click, it updates the data sources, updates the plots briefly and then immediately reloads the entire page with the default values.

her

[2016-04-11 04:01] chrisfs commented on #2216
Hi,

I will look at this, this week.

Chris S

________________________________
From: Bryan Van de Ven <notifications@github.com>
Sent: Saturday, April 9, 2016 7:26 PM
To: bokeh/bokeh
Cc: Chris Stehlik
Subject: Re: [bokeh/bokeh] Charts (Bar) is broken with DataFrames from GroupBy (#2216)

@chrisfs<https://github.com/chrisfs> Can you comment on whether this is still an issue? bokeh.charts is the ne

[2016-04-11 04:31] bryevdv commented on #4154
This appears to be a dupe of https://github.com/bokeh/bokeh/issues/3895, fixed in #3925 currently in master.

[2016-04-11 04:31] #4154 closed

[2016-04-11 08:40] #4141 closed

[2016-04-11 09:27] mattpap opened #4155 "Fix bokehjs plotting API after making HasProps.set() strict"

[2016-04-11 10:23] chbrandt commented on #3772
Indeed. It happens when a category/group has no data at all (i.e, count is 0). When that happens, the underlying (temporary) pandas dataframe has its set of categories slightly modified to *not* include the categories/groups with no data points. That raises the "`ValueError`" exception.

Please, consider the lines below, from my (ipython session) error stack. Their importance here is just to show

[2016-04-11 10:25] mattpap opened #4157 "Legend doesn't update its location after frame resize"
Dynamic typing at its finest.

[2016-04-11 10:32] #4155 closed

[2016-04-11 10:47] chbrandt commented on #3772
If we slightly modify the original code example to include/guarantee that every category has at least one data point, we avoid the crash:
[code]

[2016-04-11 11:27] chbrandt commented on #3772
The code following code block add a couple of statements to the above one just to deal with `nan` values.

Thanks @bryevdv to highlight this issue on the original data handling.

The code below should just work. But take the line `_b = bins[:-1]+np.diff(bins)/2` out and the issue should show up again.

[code]

[2016-04-11 13:02] mattpap opened #4159 "Add linked plotting example to bokehjs"

[2016-04-11 13:09] almarklein commented on #4092
@mdk73 Right. The points is that the `bokeh` script is written without extension, leaving Windows clueless on how to open the file (thus it asks you). On Linux, one can provide a shebang at the beginning of a file, but this does not do anything on Windows.

[2016-04-11 13:40] #3992 closed

[2016-04-11 13:41] #3993 closed

[2016-04-11 13:42] #4157 closed

[2016-04-11 13:47] bryevdv commented on #3772
OK so it looks like my supposition about the ranges not working was incorrect? IIUC the problem was the `nan`. In that case it seems like some check to discard `nan` would solve this issue?

[2016-04-11 15:02] #4159 closed

[2016-04-11 15:04] anoother commented on #4056
This is affecting me, too. Example on the way.

[2016-04-11 15:11] almarklein commented on #3885
@bryevdv point 1 is more or less covered by #3791. I made a quick PR to show what I mean with point 2 in #4161.

[2016-04-11 15:29] chbrandt commented on #3772
Sorry about the mess/too-much information.

- The problem occurs when there is *no data* in (at least) one DataFrame category (number of data points, "count" is zero)

- Your work-around *does* work! [https://github.com/bokeh/bokeh/issues/3772#issuecomment-207577091]
  - But it is not because Bokeh is not expeting "tuples".
  - It is because somewhere between Panda and Bokeh the set of categories

[2016-04-11 15:51] anoother commented on #4056
Here's an example; 1 minute turns into 1000us:

[code]

[2016-04-11 16:34] chbrandt commented on #3772
OK. Went a bit deeper here and found the place where categories are being modified.

It is inside Pandas, not Bokeh.

Categories are being modified at line https://github.com/pydata/pandas/blob/master/pandas/core/groupby.py#L2179 from file `pandas/core/groupby.py`:
[code]
and then, in the next line a function `reorder_categories()` raises the exception.

`self.grouper` is the categorical column `d

[2016-04-11 18:05] #4150 closed

[2016-04-11 18:16] bryevdv commented on #3639
I have marked this closed and completed because I believe #4144 will prevent BokehJS from falling over in the notebook when there are comms problems. However, *I could never reliably reproduce the initial issue*. Any testing or feedback from anyone in this issue is extremely valuable. This change will be in a "dev build" available tomorrow.

[2016-04-11 18:23] canavandl commented on #4096
We've added a warning to the docs about this issue at #3904 and proposed a few work-arounds:

[code]

[2016-04-11 18:26] bryevdv commented on #4096
I am like 99% sure the RGBA hex values did used to work... I thought there was actually a drawn-out issue and PR to *make* them work.

[2016-04-11 18:27] bryevdv commented on #4096
Also, I specifically think strings starting with "rgb" are *not* recognized as `values` which is the crux of the problem.

[2016-04-11 18:29] bryevdv commented on #4056
ping @fpliger I think we ought to try and fix this for `0.12`, thoughts? My impression is that there is something in `bokeh.charts` that is causing a scaling factor to be misapplied, or perhaps more likely: there is a pandas-specific column type that is only used with `bokeh.charts` typically, that is not getting handled correctly.

[2016-04-11 18:34] canavandl commented on #4096
I also removed mention of RGBA hex support in #3904, because it isn't supported in CSS3.

[2016-04-11 18:58] waqarmalik commented on #4007
I was on vacation and got back to it today. If I comment out the two lines, the data_source does not get updated and no animation is seen. I'll try updating without creating a new ColumnDataSource and report back sometime today.

[2016-04-11 19:51] #4149 closed

[2016-04-11 20:36] jbednar commented on #3701
Looks good to me now; I can no longer reproduce the problem.

[2016-04-11 20:36] #3701 closed

[2016-04-11 20:37] jbednar commented on #3859
Ok, I'll do that.

[2016-04-11 20:56] bryevdv commented on #4143
@tjimation I have pushed the PR for our end of the work. It will be available in a dev build tomorrow, and in `0.12`. I am going to close this issue as `upstream` for now (given the work that has to happen in the `runipy` side) unless there is new information to consider, in which case please-reopen.

[2016-04-11 20:56] #4143 closed

[2016-04-11 21:02] fpliger commented on #3772
Honestly I'm not sure the best way to deal with it.... I'll try to take a look at this later today.

[2016-04-11 21:58] jbrambleDC commented on #4014
I am doing the following in my update method for a bokeh server application:
[code]
and even updating the ranges does not solve the issue.

[2016-04-11 22:15] bryevdv commented on #4014
@jbrambleDC It's difficult to say anything definitive with just an isolated snippet in isolation. Can you provide a complete, minimal, runnable example that reproduces your problem, that can be used for investigation or comment?

[2016-04-12 13:55] #4077 closed

[2016-04-12 14:58] tjimation commented on #4143
I tested the try /catch change described in 4144.  I agree with you that it makes sense to have it anyway to address other issues, but it doesn't help my issue.

Below is a block of code in runipy/notebook_runner.py (yes, I understand this is not bokeh code, and you labeled "upstream", but) I want to point out:

A. Bokeh now returns msg_type of "comm_open" and "comm_msg" that runipy/notebook_runne

[2016-04-12 14:59] fpliger commented on #3772
Ok, quick update... I think there's a broken logic on the `pandas` side since calling `df.groupby(spec_cols, sort=False)` with the first example code posted raises the error but `df.groupby(spec_cols, sort=True)` surprisingly doesn't and we could call this instead.. (making some changes since we will end up with a missing key) but it still trims the group with `count==0` which I don't think it sho

[2016-04-12 15:28] bryevdv commented on #4143
HI @tjimation To be clear, I'm not suggesting you "handle" the messages except as far as to not fall over (e.g. not raise an exception) when they arrive. You can drop them on the floor or ignore them, I don't think it matters.

As I mentioned before, the team is currently very overextended. `push_notebook` is an important feature for jupyter notebooks, and jupypter notebooks are all we can afford

[2016-04-12 16:10] chbrandt commented on #3772
@fpliger You are right: the issue is related to `nan`s. Filling the `nan` holes with some real value (for instance, "0") does solve the problem.

A comment on the "`df.groupby(..., sort=True|False)`" aspect: I didn't follow the whole processing, but at the the corresponding `if/else` [block](https://github.com/pydata/pandas/blob/master/pandas/core/groupby.py#L2166) the data is not guaranteed to ha

[2016-04-12 16:50] fpliger commented on #3772
Yeap.. that's my concern as well. The no consistency leads me to think it's not intended..  I'll follow up with the `pandas` folks with this aspect.

The "not return unused categories" is a reasonable choice but I'd much better prefer a flag that let's the user specify if it wants the unused categories or not.

@chbrandt  +1. That's a good suggestion and would hole users. So, to check if we are on

[2016-04-12 17:38] waqarmalik commented on #4007
@bryevdv
I ran the program with two variants:

-

  Ran with the update function as follows:
[code]
  There is no memory increase, but the plots are also not updated as the data_sources are not updated.

- _updating data, without creating new CDF objects in the callback_:
[code]
  The problem persists and the memory keeps increasing

[2016-04-13 03:33] birdsarah commented on #3598
I don't think it falls out of the layout work, but its a nice feature idea and seems like it would be an easy tool to add.

The layout work may make it slightly easier, but i'd say it's largely irrelevant.

[2016-04-13 03:36] birdsarah commented on #3073
This has been fixed.

[2016-04-13 03:36] #3073 closed

[2016-04-13 03:44] birdsarah commented on #1744
Confirmed this is still an issue.

[2016-04-13 04:03] birdsarah commented on #1586
@bryevdv - can we close this. It sounds awesome but is a little thin on the details :D :D

[2016-04-13 04:58] bryevdv commented on #1586
@pzwang and I have the details in our heads. :) Basically there are plots called well-logs that are fairly common, and it would be useful to demonstrate that Bokeh can accommodate them. You can see some examples here: http://www.geoloil.com/logLAS.php

[2016-04-13 05:52] bryevdv commented on #4007
Thanks for the info @waqarmalik this is on my short list

[2016-04-13 05:59] bryevdv commented on #4104
This was resolved.

[2016-04-13 05:59] #4104 closed

[2016-04-13 06:25] birdsarah opened #4164 "Improving Bokeh's Layout"
## Background

The over-arching motivation is that when you put multiple plots and widgets on a page it should look "nice" - things should line up, whitespace should be sensible. This is somewhat vague but is the big picture.

Furthermore, layouts should, at the least, have the capability to be responsive (that is the elements resize based on the browser size) - a norm in the modern web. I would s

[2016-04-13 06:31] birdsarah commented on #3914
@bryevdv I have opened an issue https://github.com/bokeh/bokeh/issues/4164 which describes the big picture and the proposed work.

I think we can close this issue. Of the above todos you've written I'd break them into the following groups:

In proposal #4164 in one way or another
* [ ] get rid of HTML table for toolbar / make toolbar a layout-able widget
* [ ] replace hbox and vbox with Row and Co

[2016-04-13 08:21] ze-phyr-us commented on #3853
This is really important when you have several plots open (and can't waste space on titles directly in the plot). Is there a rough ETA for 0.12?

[2016-04-13 10:03] mattpap commented on #4164
That's a lot and several parts seem unrelated, e.g. toolbar improvements. As you are working on the layout, you should focus only on that task and not fix things around.

[2016-04-13 12:03] bryevdv commented on #4164
The toolbar has to be separated from the plot to make use of the algorithm.

[2016-04-13 13:05] warren-oneill opened #4165 "No text_font_size option for DataTable"
How can I edit the size of text in the ```DataTable```? Unfortunately I can't pass ```text_font_size``` as in other classes.

[2016-04-13 14:06] chbrandt commented on #3772
OK, I think so...
I can see two ways of approaching that:

1. to verify the consistency of `Boxplot(..., label)` data at the [function itself](https://github.com/bokeh/bokeh/blob/master/bokeh/charts/builders/boxplot_builder.py#L35) and possibly return `None` to the user if something looks faulty.
2. to verify the consistency of the data when the [chart object](https://github.com/bokeh/bokeh/blob/m

[2016-04-13 14:27] fpliger commented on #3772
The aspect that is not great about both proposals is that they will break things (at some point) later.. and will break consistency about how we manage these things. So I'd rather propose to:

1. raise an error with a better and more meaningful message then "ValueError: items in new_categories are not the same as in old categories"

or

2. to raise a warning if we decide to automagically "fix" the

[2016-04-13 14:32] bryevdv commented on #4165
Hi @warren-oneill General support questions should go to the mailing list, there is a wider audience of people who can potentially answer, and it helps us keep our tracker clear for issues and bugs. To answer your question, however, you probably want to look at using the HTML cell formatter:

http://bokeh.pydata.org/en/latest/docs/reference/models/widgets.tables.html#bokeh.models.widgets.tables.HT

[2016-04-13 14:33] #4165 closed

[2016-04-13 14:33] bryevdv commented on #3914
I agree with closing this in favor of the other issue, and also with the things that can be done later.

[2016-04-13 14:33] #3914 closed

[2016-04-13 14:34] #3702 closed

[2016-04-13 14:35] bryevdv commented on #3991
I believe this is a dupe of #3702 which has just been closed by #4152

[2016-04-13 14:35] #3991 closed

[2016-04-13 14:36] #4065 closed

[2016-04-13 14:48] mattpap commented on #4164
I understand that part, but you don't need to fix, say, #3818 for that.

[2016-04-13 16:13] bryevdv commented on #3853
This is settable via `curdoc().title` unless I am misunderstanding something.

[2016-04-13 16:48] bryevdv commented on #3853
Yup:
[code]
<img width="184" alt="screen shot 2016-04-13 at 11 47 23 am" src="https://cloud.githubusercontent.com/assets/1078448/14501749/99f0cad6-016d-11e6-9915-f59b0b2d84f1.png">

[2016-04-13 16:48] #3853 closed

[2016-04-13 20:35] almarklein commented on #4164
Nice writeup Sarah. What are your thoughts on a document layout (i.e. infinite space vertically) vs desktop-like layout (vertical space constrained by browser height). We now support the latter for embedded plots via the `resize_width_height()` method, I presume this will become available in another way?

Talking of embedding, when a plot is embedded in a larger application, would all the layout s

[2016-04-13 22:26] birdsarah commented on #4164
@mattpap - I appreciate that you think that I intended to fix all those issues, but I do not!!!!!

It may not have been clear, but the issues listed there may be there because they'll get fixed, but they may also be there because they're serving as a marker for things people want to do that I need to have in the back of my mind.

[2016-04-13 22:38] birdsarah commented on #4164
@almarklein - all the work so far is "desktop-like" layout. See @havocp's original proof of concept: https://cdn.rawgit.com/birdsarah/bokeh-miscellany/master/layout-demo/index.html and the gif here: https://github.com/bokeh/bokeh/pull/4067

Document style I think should be added-back (that is this PR will take it out), but I think we could do it after the initial PR. You could easily work around "

[2016-04-13 22:48] birdsarah commented on #4164
@mattpap. A list of issues I expect (no promises) to fix in this PR is:

Likely:
*    #3303 - Layout can allow plots to overlap
*    #2504 - Datatables spills out on server rendering (on FF)
*    #2284 - HBox not working properly with plots
*    #3563 - Setting min_border does not work
*    #1710 - App drop-downs under Firefox are the wrong size
*    #149 - Allow plot titles to be located on any e

[2016-04-13 23:18] almarklein commented on #3631
Closing this. I don't think this is something we would look into anytime soon. When the need does arise, the idea is at least written down somewhere :)

[2016-04-13 23:18] #3631 closed

[2016-04-13 23:32] almarklein commented on #2591
@bryevdv any comments? This is something that can be implemented with a few lines of code. Let's make a decision so we can implement or close this.

IIRC you were not a big fan of the `?webgl=1` concept. Thinking about it again, I don't think this feature makes sense for any of the above properties, except those related to performance, which is user specific and cannot be predicted by the develope

[2016-04-13 23:50] havocp commented on #2591
* Another possible (conflicting? perhaps not?) use of the URL params is to let server apps use them, especially in scenarios like the happiness demo where there's another web app gatewaying the Bokeh app.

* Is the idea here that there would be some sort of buttons or similar for users to use to set these values? Or is it that when embedding, the embedding page would choose ? Something else? Or is

[2016-04-14 07:11] almarklein commented on #2591
You can provide multiple query params, so it should not be conflicting unless we choose our names wrong.

When embedding or providing ui elements to set these properties, the calling code would have enough control to set things directly, so I guess this leaves it to allowing users to edit the URL by hand. The use case is that a user has a plot (which might or might not be created by herself) with

[2016-04-14 12:09] almarklein commented on #4081
Could this be related to #4058?

[2016-04-14 12:15] almarklein commented on #4081
Did some testing, and I looks like #4167 fixes this.

If I build the docs locally, the CSS is broken for some reason, so I tested by manipulating the DOM of the pydata docs using the browser dev tools

[2016-04-14 12:34] mattpap opened #4168 "Apply basic code quality rules to all source files"
Currently we only inspect `*.py` files, but leave `*.coffee`, `*.ts`, `*.rst`, .., ..., ... alone.

[2016-04-14 12:53] mattpap opened #4170 "bokehjs renders twice after selection"
This is because `GlyphRenderer` requests to render on data source's data changes and `select` event, which notify about the same thing happening.

[2016-04-14 13:15] mattpap commented on #713
This is actually possible with the new bokehjs' plotting API. Fixed in #4037.

[2016-04-14 13:15] #713 closed

[2016-04-14 13:24] mattpap opened #4172 "Lasso tool is unusable with large data and inconsistent with box select"
Lasso tool should only draw selection boundary during mouse activity and select data only when mouse gesture is over. This is what box select tool does. With the current behavior, it's close to impossible to use the tool with large data (e.g. try `plotting/file/color_scatter.py`). What I propose it to unify lasso tool's behavior with box select. Additionally we can have the current behavior of las

[2016-04-14 13:25] almarklein opened #4173 "There is no make.bat serve to view locally build docs on Windows"
In the Sphynx docs, the Makefile provides a `serve` subcommand, but the `make.bat` does not. Normally I'd just view the HTML file directly, but because some resources are referenced using a double-slashes-prefix (e.g. `//bokehplots.com/...`) the docs don't really work when viewed that way.

[2016-04-14 13:26] mattpap commented on #4172
Too lazy to actually check that both lasso and box select tools already have this option. Why do they have different defaults?

[2016-04-14 13:59] mattpap commented on #4172
Furthermore lasso select tool constantly renders anyway even if `select_every_mousemove` is set to `False`. This is because we mix annotations and overlays together and/or are not careful enough when dealing with events.

[2016-04-14 14:12] bryevdv commented on #4172
No actual discussion was had or decision was made. It usually shows nicely with the current default, but I'm not opposed to changing it, either.

I don't understand why this is surprising? The overlay is drawn on the canvas, it has to trigger a re-render. I inferred from the issue that the problem was the cost/overhead of selection, not necessarily of the drawing. Is that correct, or not?

[2016-04-14 14:28] bryevdv commented on #4172
Unless you are proposing a second transparent canvas on top just to render overlays onto.  Which might be a useful optimization but is not trivial and would need some benchmarking to prove

[2016-04-14 15:22] #4173 closed

[2016-04-14 15:40] copperwire opened #4175 "session.show() shows blank page with example on version 0.12.0dev6"
Using the [line_animate](https://github.com/bokeh/bokeh/blob/master/examples/plotting/server/line_animate.py) provided opens a new blank tab with address `http://localhost:5006/?bokeh-session-id=bpBiwoKoMYGc1i2rrrjtxKS4FocTbW6UZn2vu5eNdmj0`

In the terminal the following error is printed :
` [2558:2558:0414/173812:ERROR:CONSOLE(8)] "Uncaught Error: Script error for: google-analytics-bundle
http://

[2016-04-14 15:52] bryevdv commented on #4175
I just tried this on `master` which is only a commit or two ahead of `0.12dev6` and it is working as expected. The above error makes me think there was a problem loading some script from CDN, are you certain there were not network issues on the machine you were testing on? Did you run the `bokeh serve` before running `line_animate.py` as described in the `README`?

[2016-04-14 15:53] copperwire commented on #4175
It turns out the error was related to the bokeh server as well as the problem. I assume they both come from the fact that a `bokeh serve` command had persisted through a system suspend.

[2016-04-14 15:54] bryevdv commented on #4175
I'm not sure I understand the scenario exactly. I am going to close this since you seem to have resolved things, but if you have time to provide a more detailed timeline of what exactly happened / what you ran, it might help us make the server more robust in the future.

[2016-04-14 15:54] #4175 closed

[2016-04-14 16:01] copperwire commented on #4175
I'll do just that!

A bokeh serve command had been running for  most of the day on my laptop which had been suspended twice during the day.
I erroneously updated the `bokeh` package while the server was running from `0.12.0dev5` to `0.12.0dev5`. After which the server did not display the example. After a reboot and restarting the bokeh server the example works as expected.

[2016-04-14 16:10] bryevdv commented on #4175
Ah I see, yes that might cause problems. Towards `1.0` we do intend to offer much stricter guarantees around version compatibility but we are not quite there yet. Things often do work between versions, but we are currently in the middle of some BokehJS refactoring. This is why Bokeh server apps (`bokeh serve app.py`) serve the specific version of BokehJS themselves.

[2016-04-14 16:10] bryevdv commented on #4175
Also, thanks for the feedback!

[2016-04-14 19:24] jelmelk commented on #2883
The problem still exists, so at this point, I'm not sure if utilization might be the issue (`xscale` for bar charts, `x_axis_type` for lines)

[code]
I would have two columns in a dataframe, one is a `DatetimeIndex` and the other is the count. What I'm trying to achieve is being able to get the same x-axis format for bar as it is in the line figure

[2016-04-14 19:35] birdsarah commented on #2527
It's still a bug. But I think it would better be described as widgets must be wrapped in a layout to be renderered correctly.

I hope my layout work is going to fix that.

I suggest we keep it open.

[2016-04-14 19:51] birdsarah commented on #3708
It's worth adding here that there's another big problem with the current GeoJSON support which is that GeoJSONDataSource extends ColumnDataSource on the BokehJS side and overrides the `data` property transforming the geojson into columnar data.

At some point we should bite the bullet and support non-columnar data structures properly.

I made some initial notes here: https://github.com/bokeh/bokeh

[2016-04-14 20:22] copperwire commented on #4175
No problem! I'm writing a program for a research group using bokeh as the backbone.

I'd love to contribute to the development if you've got a place to start?

[2016-04-14 20:36] bryevdv commented on #4175
As a matter of fact there is a `starter` tag!

https://github.com/bokeh/bokeh/issues?q=is%3Aopen+is%3Aissue+label%3A%22tag%3A+starter%22

These are not necessarily trivial tasks, but they should be fairly self-contained.

[2016-04-14 20:50] almarklein opened #4178 "Bokeh thinks site_packages is in conda root on Windows"
In `setup.py` we have logic that tries to establish the location of `site_packages`, apparently this fails on Windows. In effect, we fail at removing any existing bokeh installs when using `develop`, and the `bokeh.pth` is written in the root of the conda env.

[2016-04-14 21:35] bpben commented on #3639
Hi: I'm having the same problem, I think.  It seemed to originally be caused by what I think was an illegal figure specification:

`p = figure(x_range=(0, 50), y_range=(0, 50),title='a',width=50,height=50)
show(p)`

It gave me some javascript errors I can't seem to reproduce.  All that comes across in the console is:

`<Bokeh Notebook handle for In[14]>`

It seems like my console has a message "Co

[2016-04-14 23:39] bryevdv commented on #3639
Are you trying a dev build or master? The potential fix is not In any official release yet.

[2016-04-15 03:16] linwoodc3 commented on #3839
I got this error today; will try to fix of "clearing all old bokeh" files when i'm back on the job.

[2016-04-15 09:49] birdsarah opened #4179 "Small improvements to Label"
The following, where 'color' is a column in your ColumnDataSource fails.

[code]

Would be cool if it didn't.

[2016-04-15 09:49] birdsarah commented on #4179
ping @canavandl

[2016-04-15 09:59] birdsarah commented on #4179
Also, I was tripped up by the following:

[code]

I have to put text in a list, but not the x & y.

(This is ringing a bell as something I've complained about in the past and isn't unique to Label)

[2016-04-15 10:00] birdsarah commented on #4179
These are both ringing a bell as something I've complained about in the past and isn't unique to Label.

Leaving this here for now to see if there's an old issue already covering.

[2016-04-15 11:38] justacec opened #4180 "Set default width and height for Markup widgets to None"
Currently, the Markup widgets use a default width and height of several hundred pixels.  I recommend that we change that to None by default which will not transmit any width or height cues to the browser.  The user can still use the properties if he or she wants, they would just by default be set to auto in the HTML.  I think this would be the expected behavior from the end users perspective.

[2016-04-15 13:32] mattpap commented on #4179
The issue with text is that it uses `TextSpec` property descriptor, which allows fields (as string) and then you can't differentiate between a string field name and string value (scalar), so you have to go through a vector of values. This is a very old issue we have `Text` glyph. Surprisingly (to me) `Label` allows to set a data source, so this all makes sense. Well kind of. At this point I don't

[2016-04-15 13:39] bpben commented on #3639
Ah, okay, that's the issue, thanks for getting back to me on that.  I also noticed that if I don't clear the output for the failed figure, it won't display any other figures.  That's in the master, though.

[2016-04-15 13:46] bryevdv commented on #4179
Label can render to css to support latex, can have a filled background, will probably define anchor points to attach to arrows, and can be positioned in screen coordinates (does not participate in hit testing)

[2016-04-15 15:19] #4122 closed

[2016-04-15 15:59] canavandl commented on #4179
@mattpap is right about TextSpec and ColorSpec being unable to distinguish between a string that's intended to be a value or a field. I think it's a limitation of our current type system - so you're stuck with either enclosing the string in a list or specifying you're passing a value using `{"value": "red"}`.

[2016-04-15 16:11] #3881 closed

[2016-04-15 16:31] bryevdv commented on #4179
There is also `value("red")` and `field("foo")` I agree it sucks, for glyphs I think we have to be completely consistent that strings are field names, that is the case in 98% of instances. I would personally at least entertain the idea of being more flexible or reversing this convention for the `Label` annotation specifically, but maybe that is also confusing.

[2016-04-15 17:19] #4069 closed

[2016-04-15 17:20] #4119 closed

[2016-04-15 17:20] #4178 closed

[2016-04-15 23:42] bryevdv commented on #3138
This should fall out of the layout work but tagging `0.12` to make sure to check / verify.

[2016-04-16 17:11] brendancol opened #4182 "Add ability to reset bokeh.driving decorators to initial value"
When building a server app and using the `bokeh.driving` decorators, I found wanted to be able to reset the decorator value back to the first value.

Example:

[code]

[2016-04-16 17:35] bryevdv commented on #4182
which one?

Unfortunately all ways I can think that this might be done (callable objects as decorators, extra parameters the callback has to take, implicit global state) are all pretty bad. I'd be -1 on any of those.  I think if you need this kind of control, you can just use the `global` explicitly. Maybe there are other ways to accomplish this that I have not thought of though.

[2016-04-18 06:32] dennisobrien opened #4183 "Line Chart should use the index of the DataFrame or Series as the x values"
From the mailing list:

When a Line Chart is passed a Pandas Dataframe, it creates a new index based on row offsets and uses this for the x values.  It would be nice if the existing index labels were used.

Example from Daniel Krause:

[code]

![image](https://cloud.githubusercontent.com/assets/1168692/14595480/711ca668-04f4-11e6-8f5f-1ca43095f70f.png)

I tested and verified this with Bokeh 0.11.1

[2016-04-18 10:45] mattpap opened #4184 "Expose {x,y}axis in TS plotting API"

[2016-04-18 13:33] #4184 closed

[2016-04-18 15:26] bryevdv opened #4186 "Need docs support for BokehJS widgets split"
This is not mentioned anywhere prominently in the docs. It is important for using `bokeh.embed.components` and other embedding functions, and has been raised as a question on the mailing list several times, e.g. in ["Bokeh widgets without bokeh server"](https://groups.google.com/a/continuum.io/d/msg/bokeh/EesgatXU_2E/4-_G5KU2GwAJ)

[2016-04-18 15:59] davidszotten opened #4187 "document "bokeh sampledata" better"
The readme notes that the bokeh sample data is required, but that doesn't seem to include the `movies.db` required by the movies sample app

[2016-04-18 16:08] bryevdv commented on #4187
It's part of the standard `bokeh.sampledata` package that has to be downloaded before it can be used. You can get either as described here:

http://bokeh.pydata.org/en/latest/docs/user_guide/quickstart.html#sample-data

Or in newer versions of Bokeh, just by executing `bokeh sampledata` at the command line.

Note: I'm changing this issue to reflect that `bokeh sampledata` needs to be documented in

[2016-04-18 19:41] seanlaw opened #4188 "Bokeh + Flask Causes Race Condition"
The discussion started in the mailing list:

https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/lzj1-P5VKTs

Essentially, when using autoload_static() in Flask appears to cause a race condition where the javascript is executed before the page/DOM is fully loaded. This results in the following error:

Bokeh: ERROR: autoload.js configured with elementid '3b44507e-4010-416a-836c-fa4fd18ac11

[2016-04-19 14:29] mistakevin opened #4190 "Toggle button reverses state"
If `Toggle` is started with an `active` state, eg: `Toggle(label="Play", active=True)`, it will start out correctly but then reset after the first toggle, flipping the functionality.

![toggle_bug](https://cloud.githubusercontent.com/assets/4411115/14642655/e977b086-0610-11e6-80b5-ecd58c8e6b61.gif)

Here is a code sample to reproduce the bug
[code]

and it is a server plot, so you have to have `bo

[2016-04-19 14:37] mistakevin commented on #4190
For later reference:
Debugging should probably start [here](https://github.com/bokeh/bokeh/blob/384354170b517cf55a4e8443bf49b1a1ae075ce9/bokehjs/src/coffee/models/widgets/toggle.coffee#L42)

[2016-04-19 14:47] jainrp commented on #187
+1 Add support for graphing in bokeh, please!

[2016-04-19 23:07] birdsarah commented on #3138
Issue: https://github.com/bokeh/bokeh/issues/3650 covers the more generic case so marking this as a dupe.

[2016-04-19 23:07] #3138 closed

[2016-04-20 08:28] almarklein commented on #4190
I would probably write the callback like:
[code]

But regardless, I can confirm that the produced arg is wrong.

[2016-04-20 16:03] #4190 closed

[2016-04-20 16:06] birdsarah commented on #3346
I'm working on layout which changes this, but i recently added this feature on a branch I was working on.

Here's the commit: https://github.com/bokeh/bokeh/commit/1b050a47a09b5c70137b17ace202027bbf9ad340

[2016-04-20 18:34] bryevdv opened #4194 "disable pandas_dataframe test temporarily"
This one test is failing consistently, disabling until a more thorough investigation can be carried out.

[2016-04-20 18:35] #4194 closed

[2016-04-20 18:36] bryevdv opened #4195 "restore pandas_dataframe test"
Was temporarily removed in #4193, should be restored when the root cause can be addressed.

[2016-04-20 18:47] rparrapy commented on #3737
Same issue here, with:
bokeh                     0.11.1
ipython                   4.1.2
python                    2.7.11

[2016-04-20 18:59] #844 closed

[2016-04-20 19:05] birdsarah opened #4196 "Remove the Resize Tool?!"
Speak now or forever hold you peace :D

The new layout work has some conflicts with the resize tool.

In the new layout work sizes are determined from the outside-in, rather than the inside-out.

In the layout work, the resize tool will be removed from the set of default tools and it may be made no-op (at least for a while) to move things forward.

After some discussion with @bryevdv we thought it

[2016-04-20 19:06] #4188 closed

[2016-04-20 19:38] bryevdv commented on #4126
@bokeh/dev OK I have added all the existing `0.12` milestone issues to this epic. I will make a quick stab at estimating some of the issues, and we can refine them all at the meeting friday.

[2016-04-20 19:51] bryevdv commented on #4126
@bokeh/dev I propose we use https://www.pointingpoker.com/ which is free and simple to help facilitate the planning meeting. Thoughts?

[2016-04-20 19:58] mdk73 opened #4197 "Smooth change of RGB-values does not lead to a smooth color change"
When I keep the values for e.g. green and blue constant at zero, and change the values for red from  zero to 255, I would expect a smooth color transition from black to red.

My test code for RGB-values:
[code]

Result:
![image](https://cloud.githubusercontent.com/assets/2737768/14688255/00717858-0742-11e6-8c03-20c5860820a3.png)

The color transition is not smooth from black to red, but seems to s

[2016-04-20 20:23] bryevdv commented on #4197
I think this is a problem with your data not being what you think it is. You are making the keys of the dict be strings:
[code]
I'm not sure what pandas is doing with that, but it is probably not what you think:
[code]
At the moment, I believe this is a support question, and not a bug, so I am closing and referring you to the mailing list:

https://groups.google.com/a/continuum.io/forum/?pli=1#!fo

[2016-04-20 20:23] #4197 closed

[2016-04-20 20:31] bryevdv commented on #4197
Looking more, I think the issue is that the columns in the data frame are sorted alphabetically by column name, and the palette is cycled through in order.

[2016-04-20 20:31] bryevdv commented on #4197
Yup, pad with zeros:
[code]
to get:
[code]
yields this plot:
<img width="301" alt="screen shot 2016-04-20 at 3 31 39 pm" src="https://cloud.githubusercontent.com/assets/1078448/14689469/03db476a-070d-11e6-81ac-d767710ff1d4.png">

[2016-04-20 21:55] sccolbert opened #4199 "Pan tool gets into weird state when drag is released outside the plot"
Running the example here: http://bokeh.pydata.org/en/latest/docs/gallery/burtin.html
1. Select the pan tool.
2. Drag the plot and release the mouse _outside_ the plot area.
3. Try to drag the plot again from _inside_ the plot area.
4. Observe that drag is disabled, but the plot will move when the mouse is released.

Clicking and releasing within the plot area _without_ dragging, will reset the too

[2016-04-20 21:58] bryevdv commented on #4199
What browser / platform? I can't reproduce this on OS X on Chrome or Safari

[2016-04-20 21:59] sccolbert commented on #4199
Chrome 50 on Windows 10

[2016-04-20 22:01] dwillmer commented on #4199
I've just reproduced on Chrome 49 on OS X, but can't reproduce with Firefox.

[2016-04-20 22:01] sccolbert commented on #4199
I can also reproduce on IE 11 and Edge, but FF 44 works fine.

[2016-04-20 22:25] bryevdv opened #4201 "Make reset tool configurable as to what is reset"
Request for client work that reset tool not also reset the plot canvas dimensions.  Having it reset the canvas dimensions was added as a request to numerous user requests. Propose to make a configurable property to control whether canvas dimensions are also reset.

[2016-04-20 22:30] bryevdv commented on #4201
ping @dwillmer

[2016-04-20 23:25] #4186 closed

[2016-04-20 23:25] #4187 closed

[2016-04-21 00:36] jbrambleDC opened #4204 "Bug Report? DatePicker widget errors on changing dates"
I am running a bokeh server app on 0.11.1. I am creating a DatePicker widget as follows:
[code]

I am running the app as follows:
`bokeh serve --show usage_app.py`

The DatePicker loads properly and displays as expected in the app. I have tested the default value, and it properly sets a default value of 2016-01-01, I have tried it using strings and datetime objects, both of which work. The issue i

[2016-04-21 01:22] justacec opened #4205 "Add the ComputedTransforms to the DataSpec System"
Currently, to enable a Transform to be performed, the user must actively click on a control to force the calculation.  Integrating this into the DataSpec system will allow for the transformation to be performed on the fly without the need for a user to force the calculation.

[2016-04-21 04:26] mdk73 commented on #4197
Many thanks for pointing out and correcting the mistake in the column design!

[2016-04-21 05:52] jbrambleDC opened #4206 "Add example for CustomJS callback for exporting ColumnDataSource to csv"
as discussed with @bryevdv  in [https://groups.google.com/a/continuum.io/forum/#!msg/bokeh/O6eccziL1lM/KMqLESxHAQAJ](url) I will be adding a PR for an example of a bokeh server app that creates a data table of some data and allows a user to click a download button and then download a .csv of the ColumnDataSource associated with that DataTable in their browser.

[2016-04-21 06:14] jbrambleDC commented on #4206
this is addressed by #4207

[2016-04-21 10:06] mattpap commented on #3780
E.g. to avoid flickering. When you have small gaps between data points, you will observe hover showing up, hiding and showing up again rapidly, which is annoying. But maybe this is a different issue from what's requested here.

[2016-04-21 14:08] bryevdv commented on #4205
Hi @justacec we can talk more soon, but a quick info dump.

All of the `*Spec` properties ultimately resolve into one of two JSON representations:

* `{ 'value': 10 }`
* `{ 'field': 'foo' }`

There can also be a `'units'` field, but let's ignore that for now. The differences between all the different "spec" types on the python is really just to apply validation, and set `'units` correctly automati

[2016-04-21 14:31] sophiajiyoung commented on #4139
Work around is to just format date into a string with strftime and not use DateFormatter().

[2016-04-21 16:17] leemorgan-mobile opened #4208 ""bokeh server notebook.ipynb" and "bokeh html notebook,ipynb" fails"
calls base class in code_runner which treats ipynb as .py

[2016-04-21 16:20] justacec commented on #4205
@bryevdv Got it.  Thanks for the pointers.  This will get me started on thinking...  We can talk more about it later.

[2016-04-21 16:26] bryevdv commented on #4208
@leemorgan-mobile more information is needed (as was described in the issue template). For instance what version of Bokeh are you running?  The ability to run the `bokeh` command on a Jupyter notebook is a recent addition, it may simply that your version bokeh is not up to date? If not, please provide a notebook that reproduces the problem for us to investigate.

[2016-04-21 16:26] bryevdv commented on #4208
Marking as `discussion` until more information is received.

[2016-04-21 16:38] leemorgan-mobile commented on #4208
0.11.1
py 2.7.6

[code]

[2016-04-21 16:56] bryevdv commented on #4208
The code is supposed to run through `code_runner` the problem appears to be some encoding handling problem specific to Python 2:
[code]

[2016-04-21 16:57] bryevdv commented on #4208
For future reference, it is also always useful and appropriate to include tracebacks like the one above as well. In general, please err on the side of providing too much information.

[2016-04-21 16:57] #4057 closed

[2016-04-21 18:22] jjardel commented on #3737
Same issue with
bokeh 0.11.1
ipython 4.0.0
python 2.7.9
jupyter 1.0.0

I rolled back to bokeh 0.10.0 and the problem went away.

[2016-04-21 18:27] guillochon opened #4209 "Sub/superscript in axis labels?"
Not sure if this is presently possible in Bokeh, but can very basic math typesetting be used in the axis labels (such as sub/superscript)? HTML tags don't seem to work, neither does $$ or using ^ and _. Is this just not possible yet?

[2016-04-21 18:56] guillochon commented on #4209
Also: sub/super also don't seem to work for tooltip labels (they do work for the values, however). Presuming these issues are related.

[2016-04-21 19:21] bryevdv commented on #4209
Not yet but the recent `Label` PR laid the groundwork for integrating LaTeX support (via katex), and will hopefully make it into `0.12`. But, marking this as a dupe of #647

[2016-04-21 19:42] bryevdv commented on #2584
Closing, this issue refers to the old pre-`0.11` release `bokeh-server` which no longer exists.

[2016-04-21 19:42] #2584 closed

[2016-04-21 20:08] mistakevin opened #4210 "Built JS and CSS not included in NPM package"
We need to include the built `bokeh.js` and `bokeh.css` with the npm package. Then add
`"main": "build/js/bokeh.js"` to our `package.json`

[2016-04-21 20:13] bryevdv commented on #4210
Technically speaking there are multiple part of bokeh now, e.g. `bokeh-widgets.js` I'm not sure if this necessarily means multiple npm projects or of one npm project can contain all the parts.

[2016-04-21 20:17] mistakevin commented on #4210
It's alright as long as we document it. You can bring in the different components via the `browser` object in `package.json`

[2016-04-21 20:18] bryevdv commented on #3737
Have not forgotten this, but there is currently some fairly heavy lifting refactoring going on on some of the BokehJS codebase and it does not make sense to get into this until that work is complete.

[2016-04-21 20:30] almarklein commented on #2591
Made a wiki page to collect ideas and thoughts:
https://github.com/bokeh/bokeh/wiki/Use-of-the-query-string-in-url-to-control-plot-properties

[2016-04-21 20:53] Sugandha94Agrawal opened #4211 "Documents on Bokeh server not displaying"
I am running bokeh-server on windows and when I go to localhost:5006 on my browser, it shows the bokeh page with my document, but when I click on the document, nothing is displayed. I am unable to figure out why the plot isn't showing up. For example I am running the sliders.py example (I modified it since the curdoc().add_root line keeps giving me the error that the Document object has no attribu

[2016-04-21 21:04] bryevdv commented on #4211
Hi @Sugandha94Agrawal The screen shot you are showing is from the **old** `bokeh-serve` version of the Bokeh server that existed before the `0.11` release. The old version of the Bokeh server has been completely removed and is no longer supported. The new server is vastly more stable, performant, better documented, and simpler to use. The reason you are getting the error for `"Document object has

[2016-04-21 21:04] #4211 closed

[2016-04-21 21:33] Sugandha94Agrawal commented on #4211
Thank you so much first of all for your prompt reply. I opted to use bokeh-server (the old version) instead of the new server that uses the bokeh serve command because even after fixing the path variable, I just can't get bokeh serve to run on windows command prompt. The newer version as per my understanding doesn't use redis (which doesn't have support for windows) so that shouldn't be a problem.

[2016-04-21 21:35] bryevdv commented on #4211
@Sugandha94Agrawal I believe that issue is fixed in `master` and will be present in the `0.12` release. In the mean time, you can always also run the new bokeh server like this, on any platform:
[code]

[2016-04-21 21:43] Sugandha94Agrawal commented on #4211
Thank you so much, that worked!

[2016-04-21 21:57] bryevdv commented on #4139
@bokeh/dev another thought is that a pure date starts exactly at midnight, and some kind of rounding error during serialization is causing the "milliseconds since epoch" to end up just slightly before midnight (and so on the previous day)

@sophiajiyoung can you try setting the `.format` field of the table cell formatter to `"@"` and report what is shown in the bokeh table?

[2016-04-21 22:00] bryevdv commented on #4139
For reference:
[code]

If printing the `ms` in the bokeh table shows something less than that that would explain things.

[2016-04-21 22:07] bryevdv commented on #4139
I didn't realize the code was in the user's guide, I went ahead and made the change, there's definitely a discrepancy:
<img width="452" alt="screen shot 2016-04-21 at 5 03 39 pm" src="https://cloud.githubusercontent.com/assets/1078448/14725667/05d3e168-07e3-11e6-9bd5-632c94c1e135.png">

So:
[code]
It looks like what JS is reporting is exactly 6 hours too early?

[2016-04-21 22:18] mattpap opened #4213 "Legend should automatically adjust to plot's size"
If plot's size is too small, legend can take up significant part of canvas, obscuring the plot. There should be some policy for making legend less obstructive in such situation. The simplest approach is to hide the legend entirely if takes, lets say, `>= 25%` of canvas area. It could also change orientation automatically (it would be useful if only one of plot's dimensions was really small. Long t

[2016-04-21 22:21] bryevdv commented on #4139
OK here is the issue, we are converting to GMT:

https://github.com/bokeh/bokeh/blob/master/bokeh/core/json_encoder.py#L43-L47

@bokeh/dev anyone know the rationale here I am not sure that is the appropriate thing to do.

[2016-04-21 22:36] bryevdv commented on #4139
I *think* this was the commit by @kdodia:

https://github.com/bokeh/bokeh/commit/6a8394460ecba3ff7a8f2484cc3b8639abdf0279

I think this is absolutely a bug, and that we should do this instead:
[code]
ping @havocp @mattpap @bokeh/dev thoughts extremely appreciated on this one.

[2016-04-21 22:38] mattpap commented on #4139
If the remainder of our code is not TZ aware (which I'm pretty sure it isn't), then this should be definitively changed.

[2016-04-21 22:39] bryevdv commented on #4139
@mattpap to be clear you mean "the value should not be changed to GMT", not "the code should not be changed", correct?

[2016-04-21 22:43] kdodia commented on #4139
Mmm, this has been an unresolved question for a while: https://github.com/bokeh/bokeh/issues/1135#issuecomment-54538225

[2016-04-21 22:44] mattpap commented on #4139
Now I'm confused, because it we leave non-UTC times then how bokehjs will now how to interpret a value?

[2016-04-21 22:45] bryevdv commented on #4139
https://github.com/bokeh/bokeh/issues/1135 may be related or a dupe, I am not quite sure.

[2016-04-21 22:47] mattpap commented on #4139
Definitively related, almost a duplicate.

[2016-04-21 22:48] bryevdv commented on #4139
Maybe the issue is that `timegm` does not do what is expected? it seems like it does not convert *to* GMT, assumes the time *is* GMT. That's why the returned time is 6 hrs early for me, for instance.

[2016-04-21 22:57] mattpap commented on #4139
For some reason, `timetuple()` returns time in UTC (at least for me). Note there is also `utctimetuple()`. Anyway, at such a late time I shouldn't mess with time zones.

[2016-04-21 23:00] bryevdv commented on #4139
I guess there is an open question of what we should when the input starts with timezone information. But this is not about that (or at least part of this issue is not). It's about what to do when there is *not* timezone specified, e.g. a  bare `datetime.date`. Can we agree on this statement:

And if that is that case, then the `timegm` call must be removed?

[2016-04-21 23:02] bryevdv commented on #4139
@mattpap really? I get:
[code]

[2016-04-21 23:04] bryevdv commented on #4139
Or as an alternative, make it configurable with an `assume_gmt` flag or something...

[2016-04-21 23:05] guillochon opened #4214 "Controlling significant digits in ticks and tooltips for numbers in scientific notation"
I have both large and small numbers that sometimes appear in my plots, which are small/big enough to trigger Bokeh's scientific notation logic. When this happens, it appears that the numbers are shown with 4 significant figures no matter what in both ticks and the tooltips. For the tooltips we have the option to use a formatting specification like `@x{1.11}`, but when I do this I find that some nu

[2016-04-21 23:14] bryevdv commented on #4214
Hi @guillochon are you saying that the properties described here:

http://bokeh.pydata.org/en/latest/docs/reference/models/formatters.html#bokeh.models.formatters.BasicTickFormatter

Do not function as advertised? Or that you did not know to try them?

[2016-04-21 23:16] guillochon commented on #4214
@bryevdv I did not know to try them, but that's only for the ticks correct? What about the tooltips?

[2016-04-21 23:21] bryevdv commented on #4214
@guillochon we use `numbro` for formatting hover tooltip fields. I am not sure if it is documented properly, here is a link directly to their docs:

http://numbrojs.com/format.html

Any of those formats should work. If you are interested, and have the time/ability,  a PR that adds that information to our docs would be appreciated.

[2016-04-21 23:25] guillochon commented on #4214
@bryevdv Which version of `numbro` is Bokeh currently using? There was an issue fixed in October regarding large numbers which I've also run into in Bokeh: https://github.com/foretagsplatsen/numbro/issues/106

[2016-04-21 23:28] bryevdv commented on #4214
We are actually using a fork in the Bokeh GH org with some locale customizations:

https://github.com/bokeh/bokeh/blob/master/bokehjs/package.json#L48

Not sure what version that is based off offhand.

[2016-04-21 23:30] bryevdv commented on #4214
https://github.com/bokeh/numbro

Maybe it can be easily updated if need be, if you are familiar with it a PR to merge the latest release into the fork would certainly be welcome.

[2016-04-21 23:36] guillochon commented on #4214
Any guidance on using one of the tick formatters? I can't seem to find the documentation where an example is presented. Currently I'm just accessing the axis properties through the plot like so:

[code]

How can I change the precision of the axis?

[2016-04-22 08:26] almarklein commented on #4213
I'd be -1 on hiding it completely, unless you mean "It would collapse to a small button that would show the legend on hover."

Small note: `legend.position = xxx` currently does not update directly, but needs a resize to take effect.

[2016-04-22 08:42] almarklein commented on #4213
Another thing. If the legend is added to the plot when there is no data yet, it is positioned. relatively far to the left, because there are no ticks on the left. Then when the datasource gets populated, ticks appear, but the legend does not get repositioned (until a resize), which makes the legend disappear partly under the left tick-area.

[2016-04-22 10:06] mattpap commented on #4213
It's fixed in PR #4212.

[2016-04-22 14:13] jbrambleDC commented on #4204
anybody else experience this?

[2016-04-22 14:35] #4201 closed

[2016-04-22 14:44] rs2 opened #4215 "ValueError: NaTType does not support timetuple"
See http://stackoverflow.com/questions/18212247/convert-text-dates-to-dates-and-then-keeping-the-na-values
See https://github.com/pydata/pandas/issues/9513
See https://github.com/pydata/pandas/issues/12976

bokeh 0.11.1
pandas 0.18.0

pandas uses "pseudo-native" NaT for missing datetime64 values. These can't be jsonified at the moment. Arguably it's a `pandas` compatibility issue, but something th

[2016-04-22 14:49] bryevdv commented on #4182
@damianavila I definitely consider this a feature request (and I am inclined to close it actually). Does this point to a need for a distinction between "proposed" features, and "agreed to work on at some point" features? I feel like you are using "discussion" to capture the former, but I don't think that is very descriptive, and that there are other discussions besides proposed features.

[2016-04-22 14:50] mistakevin commented on #4210
For reference:
npmjs.org no longer allows you to [force a re-publish](http://blog.npmjs.org/post/77758351673/no-more-npm-publish-f) so we'll have to wait for the next version bump. @bokeh/core Who/what usually publishes to npm? Is it part of a CI build or manual?

The steps to publish are:
1. `npm login`
1. `npm version <update_type>` see [here](https://docs.npmjs.com/getting-started/publishing-np

[2016-04-22 14:53] bryevdv commented on #4215
@rs2 thanks for the issue, I can only assign people from @bokeh/dev but certainly if you would like to work on this a PR would be very appreciated

[2016-04-22 14:54] bryevdv commented on #4210
https://github.com/bokeh/bokeh/blob/b2ee48b1516b1a1d95cf67f0bb99177c437c69d9/scripts/build_upload.sh

[2016-04-22 14:54] damianavila commented on #4196
We should ask for feedback in the mailing list as well...

[2016-04-22 15:00] damianavila commented on #4182
The line in the distinction is grey... but you are right about this one... it is a feature request and the discussion comes later...

[2016-04-22 15:01] damianavila commented on #4182
Now the problem with feature is that I need to put it in a milestone... and that will make the author think that we are accepting the request somehow... after somebody close it...

[2016-04-22 15:29] MulticastMatt commented on #716
Sarah - I'd like to see tests--we don't have a lot of good Selenium/Unit Tests.

[2016-04-22 15:36] MulticastMatt commented on #3434
Sarah - javascript unit tests, want to have time to write them.  It's on the view, not on the model.  This isn't a Selenium test, it's a javascript test.

Bryan - love to have a Selenium test too.

[2016-04-22 15:40] MulticastMatt commented on #3819
Byran - some of the work has already been done.  Mateusz has been working on it.
Mateusz - The idea is that we will have a tool manager and a toolbar.  Rip out all the presentation stuff from tools, put it into a toolmanager, etc.  I did a hack yesterday for JPM.  Want to separate toolbar from plotting area.
Sarah - the presenation layer of the toolbar will be a widget you can put anywhere?

[2016-04-22 15:41] mistakevin commented on #4210
Then https://github.com/bokeh/bokeh/issues/4216 should do the trick, hopefully

[2016-04-22 15:49] MulticastMatt commented on #3563
Mateusz - this is part of the layout work?  Yes.
Bryan - this is a regression.  It worked at one time.
Mateusz - API changes?

We have bokeh.plotting on the js side.

Team estimate is 3 for simply addressing the issue.  We may make other issues to do add-on work.

[2016-04-22 15:55] MulticastMatt commented on #3461
Issue here:  Sever doesn't work in conjunction with the notebook.  If you want to add Bokeh widgets that trigger callbacks, it doesn't work.  There are some suggested ways to get it working, but they're hacking.  How do we want to startup the Bokeh server? There are a lot of plumbing issues.  We want to do tests. Selenium--open up a notebook and automated.

Did this work with the old server?  Yes,

[2016-04-22 15:57] MulticastMatt commented on #3461
Team decided that this is a 40 (the maximum).

[2016-04-22 16:34] bryevdv commented on #4214
you can access the formatter by, e.g.:
[code]
I am going to close this as referred since we are making an effort to keep all support related dicussions on the mailing list, reserving the issue tracker for feature requests, tasks, and bugs. If you have interest in contributing a PR that refines the docs with any of this information, please let me know and we can re-open as a task.

[2016-04-22 16:34] #4214 closed

[2016-04-22 16:39] bryevdv commented on #4213
I the example I was shown with small plots, a legend would take up >90%, rendering the plot entirely useless. I agree that a longer term solution is to provide alternative interactions to present the legend. But in the short term, something that moves the needle from "useless" to "not quite as useful as it could be" is still an improvement.

So, maybe we can add the "hiding" option in a way that l

[2016-04-22 16:40] bryevdv commented on #4196
That seems reasonable.

[2016-04-22 16:52] Maggie-M opened #4217 "Add paragraph and pretext widgets to user guide"
Similar to issue #4122

[2016-04-22 19:04] #4217 closed

[2016-04-22 20:09] bryevdv commented on #3412
The main issue is to make sure that the persistent polygon overlay stays correctly positioned when the plot is panned and zoomed, etc. It may currently be the case that the mouse event screen coordinates are used directly to position the overlay. If so, would need to convert to data space as the intermediate "saved" coordinates.

[2016-04-22 20:23] almarklein commented on #4213
Yes that makes sense. I wrongly assumed that the plan was to make it the default behavior to hide the legend, which I imagine would lead to a confusion. When a prop has to be set to enable the hiding, the user should be aware of it.

[2016-04-22 21:02] bryevdv opened #4219 "New strict JS property updates broke DatetimeTickFormatter"
The `formats` property is actually a bit problematic. The values sent from python are actually diffs applied on top of a standard base set of formats stored in BokehJS. The "final computed" formats were stored in `@formats` but recent properties changes made `@formats` equivalent to `@get('formats')` however the "final computed" formats actually contain other information and fail validation with e

[2016-04-23 14:51] pybokeh opened #4221 "Feature request - choropleth maps directly from data frame"
Hello, I've been spoiled by R's choroplethr package.  I think it would be great to be able to make choropleths directly from a data frame.  For state level choropleth, the data frame would look something like data in wide format where there is a state code column and a numerical values column.

choroplethr example [here](https://rpubs.com/arilamstein/map-projs-choroplethr-3-1-0)

[2016-04-23 15:44] #3962 closed

[2016-04-23 15:47] #4219 closed

[2016-04-23 16:10] bryevdv opened #4222 "remove or update accidentally committed template"
The file https://github.com/bokeh/bokeh/tree/master/examples/app/weather/templates was accidentally checked in during testing of the server templates PR. It should be removed, or better, updated with reasonable content.

[2016-04-24 16:25] rs2 opened #4224 "extra_x_ranges should allow Range not only Range1d"
bokeh 0.1.1

While `extra_y_ranges` allows Categorical or Linear axis, `extra_x_ranges` only allows for `Range1d`:

[code]

Acceptance criteria:
* Fix the issue
* Add unit tests

[2016-04-24 20:03] merqurio opened #4227 "Add dot chord chart"
I just did a [Non-ribbon Chord Diagram](http://www.datavizcatalogue.com/methods/non_ribbon_chord_diagram.html) a couple of days ago. I just want to make it available to all. Non-ribbon Chord Diagram, or **DotChord** will support two data dimension. **Relationship** between _nodes_ and "**relevance**" of the _links_.

Right now the "relevance" is pictured as a variation in the opacity. I will add t

[2016-04-25 08:18] Shilpi27 commented on #4204
Even I observe the same issue.

[2016-04-25 09:45] mattpap commented on #219
New progress on this issue in PR #4228.

[2016-04-25 11:21] anasilviacs opened #4229 "Bar chart: column label was "color", plot colors were undefined"
While doing a stacked bar plot, I passed on a column named "color" as the "label" argument, and the output plot was all white. If I asked for the legend to be shown, all the categories would be labelled as grey (the bars were all still white). Changing the name of the column to "unique_color" fixed it, but I assume this behaviour isn't intentional :)

[2016-04-25 21:24] justacec commented on #4205
@bryevdv I have started to play with this and have made progress.  I implemented your suggested workflow above with no major problems.  I am having difficulty find out how:

    plt.Circle([0, 1, 2], [5, 4, 3])

Gets converted into a colum data source in the json.

Anyway,  just wanted you to know I am making progress.

[2016-04-25 23:12] birdsarah commented on #3232
This is now done.

[2016-04-25 23:12] #3232 closed

[2016-04-25 23:15] birdsarah commented on #2752
Closing this for now.

All the tasks are either done or obsolete (no canteen)

The "decisions" are still open questions, but probably as part of a bigger testing discussion.

[2016-04-25 23:15] #2752 closed

[2016-04-25 23:15] birdsarah opened #4230 "Document how to run screenshot tests"
The developer docs don't contain information on how to run the screenshot tests.

[2016-04-26 02:10] ruoyu0088 opened #4231 "The notebook file size increases when run the same cell multiple times."
Here is an example:

[code]

[code]

run the following cell multiple times:

[code]

Then check the document:

[code]

the output is:

[code]

The document accumulates all the created figures. If there are multiple figures in the notebook, the last figure output will contain all the figures in the `curdoc().roots`.

It slows down the output, and increases the notebook filesize.

Currently, I use `

[2016-04-26 17:19] #4224 closed

[2016-04-26 17:20] #3848 closed

[2016-04-26 17:21] #3660 closed

[2016-04-26 19:00] #4209 closed

[2016-04-26 21:10] bryevdv commented on #4100
@waseem18 since this task requires credentials to interact with our deployed sites, I have gone ahead and worked on it. Using the following code:
[code]
I get, e.g.

<img width="1219" alt="screen shot 2016-04-26 at 4 06 29 pm" src="https://cloud.githubusercontent.com/assets/1078448/14834211/de0d9bc6-0bc8-11e6-8574-58244b90af24.png">

I have trimmed the set of deployed docs to just what is in the c

[2016-04-26 21:11] bryevdv commented on #4100
@birdsarah do you have any immediate thoughts on how best to get the current version in there? uilds Previous sphinx builds added a script like this:
[code]
but that is now gone in the new site layout.

[2016-04-26 21:21] #4230 closed

[2016-04-26 21:40] wcopeland opened #4233 "HoverTool stops working on heat map after refresh/update"
When initially drawing a heat map with the hover tool enabled, everything seems fine. If heat map data are refreshed/updated, the hover tool does not display information for the majority (if not all) data points.

Sample code:
http://pastebin.com/g2Vn4dag

This conversation has been brought up a few times, most recently on the mailing list:
https://groups.google.com/a/continuum.io/forum/#!topic/bo

[2016-04-26 21:52] merqurio opened #4234 "Better docs for the Chord chart."
In order to make easier for the users the creation of Chord charts, the basic documentation has been enhanced as seen in  #4226.

This should let everyone to make chord charts from `pandas.Dataframe` as well as squared `numpy.array`.

An example can be found too in the docs as well as in the `examples` directory at the root of the repository.

[2016-04-26 23:28] dhirschfeld opened #4235 "Feature Request: Calendar Charts"
Calendar charts which plot daily values grouped by both week and month are a good way to spot patterns in data:

e.g. https://developers.google.com/chart/interactive/docs/gallery/calendar#days

It would be nice to have an easy way to create these charts in bokeh given a daily timeseries of data.

[2016-04-27 15:44] #3825 closed

[2016-04-27 15:45] #4234 closed

[2016-04-27 15:50] #4139 closed

[2016-04-27 15:53] rs2 opened #4236 "Implement --develop mode"
Also document what `--develop` does.

`tornado` does not seem to do a good job in tracking dependencies all the way to the bokeh app, and does not restart when the bokeh app source changes.

PS Why was `tornado` chosen as a web server in the first place? E.g. `flask` does a brilliant job at serving simple WSGI apps, doesn't to require the use of non-blocking event-loop paradigms, whereas `tornado`

[2016-04-27 16:21] bryevdv commented on #3908
After some thought, I think it is a mistake to have `Chart` subclass from `Figure` as there are assumptions about `Figure` that do not apply to `Chart` (and vice versa). One option would be to put all of this functionality on to `Plot` but in the interest of keeping "code" out of low level models, I think the best thing is to simply copy glyph methods from `Figure`:

https://github.com/bokeh/bokeh

[2016-04-27 16:35] bryevdv commented on #4236
`--develop` *is* the option for auto reload. It has not been implemented yet, and it's inclusion in the server CLI was an accidental oversight. I actually can't find an issue for it now though, so I am renaming this one.

[2016-04-27 16:44] bryevdv commented on #4236
As for the server choice, I can only say that the first iteration of the Bokeh server *was* a Flask server, and it was ultimately a failure. The interactions between the client and the server are not captured by simple REST interfaces. We were never able to implement any kind of streaming interface, for instance, *nor even formulate a plan of how me might do that*. The new server, with its web soc

[2016-04-27 16:52] fpliger commented on #3908
@bryevdv Could you provide more details about this? I totally see this when speaking about `Chart` assumptions that do not apply to `Figure` but less in the oposite case... I think `Chart` would not only benefit from `Figure` glyphs methods, but also from the added properties... I see potential conflicts on ranges/axes management though..

[2016-04-27 16:56] bryevdv commented on #4236
Or put another way: All the machinery that let's someone write 30 lines of simple python to stand up a reactive web app that backs widgets and tools with real python callbacks is mostly hidden from users' view. We could not have implemented all that machinery as WSGI app, which means going that route would increase users' burdens (and in fact that is exactly what the experience with the first serv

[2016-04-27 16:57] bryevdv commented on #4236
I would appreciate if you can elaborate on this statement (preferably with code).

[2016-04-27 17:02] bryevdv commented on #3908
The `Figure` initializer accepts keyword argument and does actual processing related to ranges and axes that should never be done for `Chart`. Basically everything in the `Figure` initializer is not applicable to `Chart`.

[2016-04-27 17:03] bryevdv commented on #3908
@fpliger to be clear, I agree Chart would benefit from them: I am proposing to simply add them by hand, ins read of subclassing.

[2016-04-27 17:12] marco-c commented on #3871
Is there a workaround for this issue?

[2016-04-27 17:13] fpliger commented on #3908
👍

[2016-04-27 17:14] petermountanos commented on #3871
Resolved via https://github.com/bokeh/bokeh/pull/3873

[2016-04-27 17:32] marco-c commented on #3871
The new version hasn't been released yet, so I was wondering if there's a workaround for the current 0.11.1.

[2016-04-27 17:38] rs2 commented on #3871
@marco-c a local patch or a local build? Both worked for me.

[2016-04-27 17:44] marco-c commented on #4014
The same problem applies to `FactorRange`s.

I'm also seeing something similar with a `ColumnDataSource` object, I need to update the `x` and `y` parameters instead of replacing `source.data`.

[2016-04-27 17:56] birdsarah commented on #2943
I tried to quickly test this again, but I don't have the old example and it was proving time consuming to recreate - so no confirmation either way. It's fine to close and then we can always re-open if someone hits it.

[2016-04-27 18:00] birdsarah opened #4238 "Add example of styling using new bokeh server templates"
Following #4176, add an example of server app styling to one of the demos - weather or movies seem like good contenders.

[2016-04-27 18:01] bryevdv commented on #4238
This or #4222 should be marked dupe then

[2016-04-27 18:03] birdsarah commented on #4238
Sorry, I added this issue as a placeholder as a comment you had made to show-off styling on #4176 - keep the older one.

[2016-04-27 18:03] #4238 closed

[2016-04-27 18:22] petermountanos commented on #3871
@marco-c @rs2 Both worked for me as well.

[2016-04-27 18:36] birdsarah commented on #4100
Hi, sorry that disappeared with the update. Instead of inheriting from sphinx's basic/layout.html which [inserts that](https://github.com/sphinx-doc/sphinx/blob/0b5fa91bd2b49e59f7de926680f1717347b36626/sphinx/themes/basic/layout.html#L88) the new site is completely hand coded.

We  can just add something like:

[code]

to head - not all of those template variables may be available any more - but w

[2016-04-27 18:43] bryevdv commented on #4100
Yah I Just added in a short inline script to define the version in the PR.

[2016-04-27 19:38] crashMOGWAI opened #4240 "Color Issue w/ IE11 and WebGL"
First off, props to everyone on this library!

The below snippet works on IE10 & QtWeb as expected. However, once I updated to IE11 the RGB coloring on selection of the plot is messed up. The expected behavior returns when simplifying the plotting, so it seems to be pointing to `ColumnDataSource` but everything traces through fine..so I'm scratching my head. Anyone else see this issue? Any guess a

[2016-04-27 19:45] crashMOGWAI commented on #4183
Seen this with the other dataframe source functions as well. Having to re-index everything generates a lot of overhead.

[2016-04-27 19:59] crashMOGWAI commented on #4196
If you have smarter layout in the pipe, then toss the resize.

[2016-04-27 20:19] birdsarah commented on #3982
The datetime formatter (http://bokeh.pydata.org/en/0.11.1/docs/reference/models/formatters.html#bokeh.models.formatters.DatetimeTickFormatter) has a similar option for choosing the format depending on the resolution - this seems like it would be a nice addition. Although we'd have to figure out the api.

[2016-04-27 20:25] fpliger commented on #3576
@bryevdv at a glanceI think that restoring usage of `numpy.histogram` like < `0.10` would be easier instead.. If you don't have strong opinions I'd give it a try :)

[2016-04-27 20:59] bryevdv commented on #4240
Tentatively marking as `windows`, @crashMOGWAI can you see if the problem goes away if you use hex color strings? (e.g., `"#ff22a4"`) There have historically been some hiccups with color tuples and there may still be some kinks to work out.

[2016-04-27 21:10] fpliger commented on #3576
Ok, replacing `pd.cut` with `np.histogram` is very straightforward .. there are a few tweaks needed but I actually think it's a better approach (unless I'm missing something) as it allows easy access to density option and also avoids a couple of computation steps needed with `pd.cut`. More specifically, [here](https://github.com/bokeh/bokeh/blob/master/bokeh/charts/stats.py#L353-L375).

[2016-04-27 21:21] fpliger commented on #3576
Only downside of replacing `pd.cut` with `np.histogram` is that they behave a bit differently. So:

[code]

but we could say the same for when in `0.10` we changed it. So I'd be +1 on changing... @bokeh/dev any objections? :)

[2016-04-27 21:31] crashMOGWAI commented on #4240
Doesn't work with named strings
[code]
or hex
[code]
I don't see the color issues on any of the lower level plotting, just when I start pushing everything through from a source.

[2016-04-27 21:42] bryevdv commented on #4240
Well, it seems to be working as expected on master on OS X, so it will  reproducing your environment more carefully, which will unfortunately take some time before I can get to. I think another issue on master may have been uncovered, however, I had to disable webgl to get any output

@almarklein @mattpap I believe the recent work on JS properties left some of the webgl code not functioning correc

[2016-04-27 21:44] bryevdv commented on #4240
@crashMOGWAI also curious, to be clear, the problem happens with the exact code above? Because although there is a column of colors, you aren't actually referring to or using that column anywhere as an actual data column, I so I am a bit doubtful that is is the problem.

[2016-04-27 21:51] crashMOGWAI commented on #4240
Code is a mess, sorry will edit. Confirm webgl=True is the underlying issue. After disabling it worked as expected..but you know, slower :)

[2016-04-27 21:52] bryevdv opened #4241 "Create a custom 404 page for Bokeh Docs"
As suggested [here](https://github.com/bokeh/bokeh/pull/4239#issuecomment-215233233) the JS warning banner for old/dev docs could try to redirect to users the same specific page, in the latest doc. But in cases where the specific page no longer exists, it would be better to have users land on something better than a default 404 page

Proposed to create a better designed and more informative 404 pa

[2016-04-27 21:54] bryevdv commented on #3020
Changing to `task`, @birdsarah [also agrees](https://github.com/bokeh/bokeh/pull/4239#issuecomment-215238918) that Sphinx warnings and errors should result in test failures.

[2016-04-27 21:56] bryevdv commented on #4240
@crashMOGWAI we will make sure to look into this, glad we could narrow it down. Can you let us know what version of Bokeh you are using?

@almarklein please take a quick look when you get back

[2016-04-27 21:58] marco-c commented on #3871
I wanted to avoid using a custom build, but I guess I'll do it (0.11.1 is unstable anyway).

By the way, I'm experiencing the same issue with `CheckboxButtonGroup` and `CheckboxGroup`.

[2016-04-27 22:01] #4100 closed

[2016-04-27 22:03] bryevdv commented on #4231
I believe this is a dupe of #3671 (so closing) we are currently working on cleaning up various parts the API that have to deal with this, but it is a large effort that is still ongoing.

[2016-04-27 22:03] #4231 closed

[2016-04-27 22:11] bryevdv opened #4242 "Document use of Bokeh Server with Apache"
Reference mailing list discussion: https://groups.google.com/a/continuum.io/forum/?pli=1#!topic/bokeh/ztY-4EQhtjw

Had success with this configuration block:
[code]

This should be generalized to advice suitable for as many apache use-cases as possible.

Needs Apache > 2.4 and [mod_proxy_wstunnel](https://httpd.apache.org/docs/2.4/mod/mod_proxy_wstunnel.html) at a minimum and possibly `mod_proxy_h

[2016-04-27 22:19] bryevdv commented on #4229
@anasilviacs can you provide a minimal code sample that can be run to reproduce this issue?

[2016-04-27 23:21] bryevdv commented on #4233
I only now just noticed this example uses categorical (factor range) coordinates for the heatmap. I have a suspicion (unconfirmed) that this may have something to do with the problem. There are some issues around how we handle categorical coordinates that could use attention at some point.

As a workaround, can you try replacing the entire heatmap with a new plot every selection update?

[2016-04-27 23:57] izaid commented on #3579
Any update on this? Any way to work around this? Would just be nice to show images in a reasonable amount of time.

[2016-04-28 08:35] anasilviacs commented on #4229
Sure. I've been playing with the kaggle "animal shelter" data and wanted to look at how the color of an animal affected its outcome (there are 5 possible outcomes). Here's the head of the table:
[code]

If I then do:

[code]

I get the following image:

![bokeh_issue](https://cloud.githubusercontent.com/assets/17022777/14880003/c8b50fce-0d2c-11e6-95aa-67d89c73fc3c.png)

If I change the column name

[2016-04-28 08:38] birdsarah commented on #4049
I added some information about this in a recent PR (https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/dev_guide/testing.rst). But still a lot more can be added - thanks for posting @dennisobrien

[2016-04-28 12:15] mattpap opened #4244 "Add example with drawing networkx graphs"

[2016-04-28 19:37] mdagost opened #4246 "Weird left toolbar in gridplots in dev build and master"
I'm seeing weird behavior with the toolbar both on the 0.12.0dev8 conda build and when building from source off of the current master.  Anytime I make a gridplot, the toolbar ends up like this:

![screen shot 2016-04-28 at 2 33 08 pm](https://cloud.githubusercontent.com/assets/1334817/14898768/2e8507ca-0d4e-11e6-861e-b939374a7663.png)

The toolbar elements are still functional; there's just someth

[2016-04-28 19:57] birdsarah commented on #4244
If it's useful, I made this last year: http://nbviewer.jupyter.org/github/gmarkall/wot/blob/master/wot/notebooks/Visualize%20the%20WOT.ipynb

[2016-04-28 20:08] birdsarah commented on #4246
I have seen this. @mattpap is currently working on toolbar stuff and I'm currently working on layout. Hopefully between the two this will get fixed for 0.12. There may be another issue

[2016-04-28 20:32] birdsarah commented on #4112
For a basic solution, you just need type='password' but there might be some browsers that need more support. Can we expose "type"? (I know there might be some typescript api conflict)

[2016-04-28 20:33] birdsarah commented on #572
Pan is done, zoom isn't.

[2016-04-28 20:33] denfromufa commented on #187
+1

[2016-04-28 20:43] birdsarah commented on #2451
Re-opening until it's actually fixed!

[2016-04-28 21:07] stanleyguan opened #4247 "Performance issues after repeated `push_notebook` calls"
### Description of expected behavior and the observed behavior

Expected: Reasonably performant visualizations when pushing many simple updates to a single plot in a Jupyter Notebook. In addition, time taken to push updates to a new plot shouldn't be affected by the number of pushes to an older plot.

Observed: Performance appears to degrade linearly with the number of previous `push_notebook` cal

[2016-04-28 21:14] papahabla opened #4248 "Line plot scaling issue when WebGL is used"
When enabling WebGL in the following code, the y axis labels are correct, but the scaling of the line plot y data is incorrect. If `webgl=False` or `scatter` is used in place of `line`, the data is presented correctly.

[code]

OS: Mac 10.10.5
Browser: Chrome 50.0.2661.86 (64-bit)
Bokeh: 0.11.1

[2016-04-28 21:30] birdsarah commented on #2759
Hi, this is a change I've made as part of the layout work - as it was confusing me too!

[2016-04-28 21:33] crashMOGWAI opened #4249 "Offline with Bokeh & IE11"
Has anyone had issues with bokeh 0.11.1 while trying to use offline with IE11? Is there any special setup required to go offline with this browser that I'm missing?

[2016-04-28 21:47] birdsarah commented on #1586
I love what they've done with the styling :D

[2016-04-29 02:54] birdsarah opened #4251 "Jitter tests can fail"
The computed transforms use `Math.random()` which means the tests can fail

e.g. I just had the following failure

[code]

I'm not sure if it's possible to seed Math.random or we need to set the tolerance on the test higher.

[2016-04-29 03:59] birdsarah commented on #2759
Done in this commit: https://github.com/bokeh/bokeh/pull/4192/commits/b811f2eab65adc61115d5b3daec565a913ad3b99

May be a while before it's merged.

[2016-04-29 14:41] brittainhard commented on #3412
Making progress on this. Current solution is to add a listener to PolyAnnotation to see when the underlying data changes, and then update the underlying data based on the data space.

[2016-04-29 17:21] mistakevin commented on #4210
Re-opening this. The build on the CDN seems to be different than the `gulp build` build. That's what should go into the npm package. How/where is that generated?

[2016-04-29 17:22] mistakevin commented on #4210
cc @damianavila @mattpap @canavandl

[2016-04-29 17:36] bryevdv commented on #4210
It shouldn't be different. What difference are you seeing?

[2016-04-29 17:37] canavandl commented on #4210
There doesn't appear to be a bokeh-widgets.js file like there is for [http://cdn.pydata.org/bokeh/dev/bokeh-widgets-0.11.1dev3.min.js]. Was the 0.11.1 release pre-split?

[2016-04-29 18:02] bryevdv commented on #4210
Actual releases are under "release"

http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.js

[2016-04-29 18:06] canavandl commented on #4210
![giphy](https://cloud.githubusercontent.com/assets/2198981/14925056/10f06cf0-0e0b-11e6-9192-e1a04040b691.gif)

[2016-04-29 18:08] mistakevin commented on #4210
Is the `tree` directory also there?

[2016-04-29 18:08] canavandl commented on #4210
no ^

[2016-04-29 18:32] #2943 closed

[2016-04-29 18:35] damianavila commented on #4222
This was closed but I don;t see any PR reference, can you link it here @bryevdv? Thanks!

[2016-04-29 18:36] bryevdv commented on #4222
was closed by accident automatically by GH

[2016-04-29 18:36] bryevdv commented on #4222
I don't see this was closed?

[2016-04-29 18:37] damianavila commented on #3020
:+1:

[2016-04-29 18:41] damianavila commented on #4222
Wow, I swear I see this closed... but now is open and green... weird stuff... ok, sorry about the noise.

[2016-04-29 18:49] damianavila commented on #4251
I would use a seed if it is possible...

[2016-04-29 18:51] mistakevin commented on #4210
Ok, I think I've spun around. I'll re-close this since it solves the issue, but I think a little more work will have to go into being able to bring it in cleanly with browserify after all.

[2016-04-29 18:51] #4210 closed

[2016-04-29 19:30] birdsarah opened #4253 "Add note to testing docs about installing bokeh"

[2016-04-29 19:42] #4253 closed

[2016-04-29 20:04] crashMOGWAI commented on #4249
Oh duh... the saved figure html headers are trying to call back for the stylesheet/script
This issue only occurs on some of the browsers I've tried. The manifest will need to be edited to cache the essentials and provide offline alts.

[2016-04-29 20:18] #4249 closed

[2016-04-29 20:19] bryevdv commented on #4249
No worries :)

[2016-04-29 20:21] bryevdv commented on #4251
AFAIK there is no way to seed `Math.random` There are some alternative RNGs that offer this but then I'd be concerned about vetting their quality.

[2016-04-29 20:54] bryevdv commented on #4247
I think this is because you are appending an unbounded number of points, without specifying any rollover. There is a cost associated with rendering that is proportional to the number of points. If I try specifying a rollover of 100:
[code]
And run that code over and over, the reported time stays the same (about 1.9 seconds on my machine).

[2016-04-29 20:58] bryevdv commented on #4247
By way of very rough comparison, if I run `examples/plotting/file/color_scatter.py` , with `BOKEH_LOG_LEVEL=trace` I can see:

<img width="646" alt="screen shot 2016-04-29 at 3 55 39 pm" src="https://cloud.githubusercontent.com/assets/1078448/14929425/f0a7660c-0e22-11e6-9ef8-3e9b9ebea2a6.png">

This is not a straight comparison, as this example is circles instead of lines, and it has about 4k poin

[2016-04-29 21:05] stanleyguan commented on #4247
Using the `rollover` argument does seem to stop performance from degrading - when running the second cell repeatedly. However, when I rerun the first cell and then run the second again, the performance degrades again. Is that expected?

Also I couldn't find documentation for the `rollover` argument.

[2016-04-29 21:29] justacec commented on #4251
I was aware that this might happen when I made the test.  Perhaps it is best to remove the test.  I just wanted a way to verify that we were getting the actual normal distribution.

[2016-04-29 21:32] birdsarah commented on #4251
I'm doing a lot of JS testing at the moment. Total guess, but I would say it's failing half the time.

I have been learning a lot about sinon stubs though and may be able to stub Math.random(). I'll post an update.

Changing this to task.

[2016-04-29 21:54] bryevdv opened #4254 "Notebook rendering is broken"
It appears #4189 broke notebook rendering. Perhaps this is because the DOM is already loaded? I was not aware that notebook `show` currently went though the `autoload_js` template. A fix might be to split off the `onload` part into a wrapper that is only applied selectively.

[2016-04-29 22:02] seanlaw commented on #4254
@bryevdv Would it be better/easier to just have an extra argument for autoload_static() like:

autoload_static(..., onload=False)   # Which would be default and not add the event listener

and autoload_static(..., onload=True)  # Which would add an event listener to the JS

This way it doesn't break backwards compatibility and makes the onload it explicit

[2016-04-29 22:04] bryevdv commented on #4254
@seanlaw that might be a reasonable and quick fix! I do want to take this issue as an opportunity to do a little investigation and poking, I think our notebook loading is not as bulletproof as it once was so I would like to evaluate it top-to-bottom, and try to make it as simple and streamlined as possible.

[2016-04-29 22:44] birdsarah commented on #4196
Thanks for the feedback @crashMOGWAI.

Message posted to mailing list: https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/s7NdG10rY2o

[2016-04-29 23:51] birdsarah commented on #4251
I think I've cracked it. I'm going to keep testing.

[2016-04-30 01:07] canavandl commented on #4204
It appears that the bk- prefix is dropped on the click interaction, so that the css selectors don't match up.

before:
<img width="937" alt="screen shot 2016-04-29 at 8 05 13 pm" src="https://cloud.githubusercontent.com/assets/2198981/14932962/d378a05a-0e45-11e6-91ab-0b77ed8c6f67.png">

after:
<img width="934" alt="screen shot 2016-04-29 at 8 05 25 pm" src="https://cloud.githubusercontent.com/asse

[2016-04-30 06:44] fretchen commented on #3639
Same problem here with the master branch

[2016-04-30 10:24] carlskii opened #4257 "Seabourn plots with Bokeh server"
Not an issue, but a question. I have already have several seabourn plots that currently create PNG images. Does Bokeh support a easy way to shift these plots across to an HTML templated views ?

[2016-04-30 13:42] surajmehta commented on #487
Hello,
Just wanted to ask if anyone got this issue solved. I am trying to create something like the above example and would like to know how to do it in bokeh.
"
r = np.arange(0, 2*a ,0.01)
theta= np.linspace(0, 2 * np.pi ,100)

R, Theta = np.meshgrid(r, theta)
A,B = R*np.cos(Theta),R*np.sin(Theta)

def I(l,r,Theta):
    Z=np.zeros(R.shape,np.float64)
    Z[np.where(R<=a)] = jv(l, (x[m] * R[np.whe

[2016-04-30 14:24] bryevdv commented on #4257
Hi @carlskii For support questions please use the public mailing list:

https://groups.google.com/a/continuum.io/forum/?pli=1#!forum/bokeh

So that we can keep the issue tracker reserved for feature requests and bug reports.

I will say there is an MPL compat layer that affords some measure of capability for converting things, out of the box, but it is not comprehensive, and not all MPL (and hence

[2016-04-30 14:24] #4257 closed

[2016-04-30 14:40] bryevdv commented on #4247
Expected, probably not. It will require some further investigation. I'm not sure when I will be able to dive into it, I have several weeks of talks and travel upcoming. If you would like to try to collect more information with a little "printf debugging" in the mean time, that could be very helpful. The relevant code is here:

https://github.com/bokeh/bokeh/blob/master/bokeh/core/property_containe

[2016-04-30 14:43] #4206 closed

[2016-04-30 15:04] #4103 closed

[2016-04-30 15:34] charleywan2004 commented on #4112
![image](https://cloud.githubusercontent.com/assets/15861395/14936958/5e2105e0-0ec7-11e6-944b-99ee12bce59c.png)

Currently "type" is not exposed.

[2016-04-30 15:42] bryevdv commented on #3616
Still appears broken (FF and Chrome):

<img width="642" alt="screen shot 2016-04-30 at 10 42 13 am" src="https://cloud.githubusercontent.com/assets/1078448/14937016/3a569168-0ec0-11e6-9e20-f23fdb641de6.png">

[2016-04-30 15:50] bryevdv commented on #3613
Still an issue, appears the AJAX attempt is not happening or completing? navigating to `127.0.0.1:5050/data` shows the expected data is being served

<img width="553" alt="screen shot 2016-04-30 at 10 48 38 am" src="https://cloud.githubusercontent.com/assets/1078448/14937052/41271dcc-0ec1-11e6-9c68-1af80e50439e.png">

[2016-04-30 15:52] bryevdv commented on #3612
Working now in both Chrome and FF (Win7 tested)

[2016-04-30 15:57] bryevdv commented on #3611
Tested working on FF and Chrome (Win 7)

[2016-04-30 15:57] #3611 closed

[2016-04-30 15:58] bryevdv commented on #3612
Spoke too soon. Works on FF, does not display WebGL on Chrome.

[2016-04-30 16:00] bryevdv commented on #3610
Tested working FF and Chrome (Win7)

[2016-04-30 16:00] #3610 closed

[2016-04-30 16:01] bryevdv commented on #3612
ping @almarklein

[2016-04-30 19:51] sushmit86 commented on #3875
Has this been resolved ? I am having a similar issue

[2016-05-01 05:58] #4242 closed

[2016-05-01 05:58] #4076 closed

[2016-05-01 08:18] AlJohri opened #4259 "[Feature Request] Pass ColumnDataSource to High Level Bokeh Charts"
I was trying to add a tooltip to a timeseries chart today and my one line chart became about 20 lines because I couldn't add a `ColumnDataSource` to the `Timeseries` high level chart interface.

This is the plot I started with:

[code]

**My goal is to add a tooltip to simply show the X value (as a date) and y value.**

There seem to be two options:

changing the HoverTool to support date formatti

[2016-05-01 20:43] bryevdv commented on #4251
@birdsarah if it's a simple fix early tomorrow, great, otherwise let's disable it for the time being to avoid jamming up other PRs tests.

[2016-05-01 23:01] mrslezak opened #4260 "When using IPython, calling multiple charts ends up generating unused widgets into the HTML file, rendering them invalid"
The issue tracker isn't the place for general support. For questions and
technical assistance, come ask the [Bokeh mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh) or join the chat on [Gitter](https://gitter.im/bokeh/bokeh).

For defects or deficiencies, please provide:
- Description of expected behavior and the observed behavior
- Self-contained example code that genera

[2016-05-01 23:08] mrslezak commented on #4260
https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.css
https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.js

Both should be inserted into the HTML by bokeh when widgets are selected in the graph code.

[2016-05-02 00:43] bryevdv commented on #4260
Can you provide a runnable example code to reproduce the problem? I have not observed the widgets files missing when they should be present, so more information is needed.

[2016-05-02 10:31] bryevdv commented on #3908
Regarding, `xgrid`, `ygrid`, and `legend`, given the work started in #4237, I propose the following:
* remove the properties from chart
* add the python property getters as-is from `Figure`
* add new `Chart` specific python property `setters` that support the "setting" functionality of the current Bokeh properties, with deprecation warnings

Thoughts @bokeh/dev @dennisobrien ?

[2016-05-02 10:38] bryevdv commented on #3908
Another idea I would not be opposed to is to move the readonly pythonproperty gettters  `xaxis`, `xgrid`, etc. down to `Plot`

[2016-05-02 10:51] bryevdv commented on #4260
Marking as `discussion` for now, pending more information from @mrslezak

[2016-05-02 10:53] bryevdv commented on #4260
As an example, just running `examples/plotting/slider.py` right now works as expected. Please let us know exactly what you were trying to do.

[2016-05-02 11:32] bryevdv commented on #4182
Thinking about it more, I am going to close it as `wontfix`. If someone can think of a reasonable way to do this (that isn't one of the crappy ways I mentioned above) we can reconsider.

[2016-05-02 11:32] #4182 closed

[2016-05-02 11:52] mattpap commented on #4251
It's JS unit tests that are failing. Those are run in a node.js environment, where it should be possible to control seed (contrary to a web browser sandbox).

[2016-05-02 11:54] mattpap commented on #4246
It's broken since one of `ts_apiN` PRs. That will be taken care of before 0.12.

[2016-05-02 11:56] mattpap commented on #4244
It might, thought I already have code from my talk from last Wednesday.

[2016-05-02 12:11] mattpap opened #4261 "There should be an actual click tool"
Currently we have tap tool which acts as a hybrid of select and inspect tool. It modifies selection on associated data sources and executes a callback. I would like to have a tool (or a mode) where I could execute a callback only. One option is to add (e.g.) `ClickTool` or add `select = Bool(True)` to `TapTool`. Perhaps we can get both sides by in one change by adding the later and making `click`

[2016-05-02 12:45] bryevdv commented on #4248
ping @almarklein

[2016-05-02 12:51] bryevdv commented on #4259
It might be possible in certain specific cases (e.g. `TimeSeries`) In general the raw data passed in to a chart may be reduced or processed, and then the data actually sent to to BokehJS is some kind of derivation that is one step removed from the raw data. For instance, in a `Histogram`, none of the actual raw data is sent to the browser, only the derived data for drawing the histogram bars is. S

[2016-05-02 14:08] ijstokes opened #4262 ""Save Image" tool on bokeh gallery produces garbled view (Chrome and Firefox)"
"Save Image" tool[1] on bokeh website http://bokeh.pydata.org/en/latest/docs/gallery/texas.html provides strange layout in both Firefox and Chrome (latest) on Mac OS X:

![screenshot 2016-04-28 21 33 56](https://cloud.githubusercontent.com/assets/293525/14956363/55c8557e-104d-11e6-9439-7e4037033c3e.png)

![screenshot 2016-04-28 21 34 04](https://cloud.githubusercontent.com/assets/293525/14956382/7

[2016-05-02 14:11] bryevdv commented on #4262
Based on some recent work it's almost 100% certain that the modal dialog is going away, to be replaced by a proper download dialog (where supported) or a new tab with just the image (where not supported).

[2016-05-02 14:11] #4262 closed

[2016-05-02 14:14] bryevdv commented on #4261
My vote would be to extend the current tool rather than adding a new, separate tool.

[2016-05-02 14:32] brittainhard commented on #3412
@bryevdv , just giving you an update on my progress with this issue.

So my approach to this issue has been to keep the overlay visible rather than removing it when the panning is completed in [`_pan_end`](https://github.com/bokeh/bokeh/blob/master/bokehjs/src/coffee/models/tools/gestures/lasso_select_tool.coffee#L45-49), or when a different tool is selected and the [`_active_change`](https://gith

[2016-05-02 15:00] mrslezak commented on #4260
bokeh.pydata.org/en/0.11.1/docs/gallery/candlestick.HTML produces an error:
Uncaught error: Module 'Slider' does not exists.  The problem may be two
fold.  Either a model was requested that's available in an extra bundle,
e.g. a widget, or a custom model was requested, but it wasn't registered
before first usage.
On May 2, 2016 5:53 AM, "Bryan Van de Ven" <notifications@github.com> wrote:

As an e

[2016-05-02 15:27] bryevdv commented on #4260
@mrslezak I'm still not clear. When I navigate to that page I see the example just fine. Are you saying you are trying to copy and paste that code, and run it locally? Are yo trying to add to/modify the code as well? If so we need version information (Bokeh, OS, browser, etc.) as well as the code you are actually running to try and reproduce what you are seeing. It is impossible investigate withou

[2016-05-02 15:42] #3434 closed

[2016-05-02 16:07] mrslezak commented on #4260
I am copying and pasting the example into Python 3.5 and running locally using Chrome  49.0.2623.112 m as the web browser.  I am not changing the code in any way.  I also can see the example on the bokeh webpage but not when I actually run the code - in Developer Tools in Chrome the error reported is what I posted above.

[2016-05-02 16:37] bryevdv commented on #4260
OK, thanks that is much more specific. I am about to look into some other notebook related issues so I will make a point to check out this example in that (and other) versions of the notebook as well.

[2016-05-02 16:40] mrslezak commented on #4260
Thanks - I compared the 2 generated HTML files and there is not anything
obvious as to why 1 works and the other does not... If there is a way to
upload here I can save you some time.
On May 2, 2016 11:37 AM, "Bryan Van de Ven" <notifications@github.com>
wrote:

[2016-05-02 16:41] bryevdv commented on #4260
maybe a gist would be easiest for you: https://gist.github.com

[2016-05-02 16:48] crashMOGWAI commented on #4261
Just a heads up, its TapTool in the code & Reference, TapSelectTool in UserGuide.
Also has the tool attribute for setting as initially active or not been exposed yet?

[2016-05-02 16:51] bryevdv commented on #4261
@crashMOGWAI thanks for the heads up, that Reference is correct, and the user's guide should be changed.

Setting active programmatically is WIP should be in the next release.

[2016-05-02 16:54] mrslezak commented on #4260
https://gist.github.com/mrslezak/b8d27f4f3d604ac7d6630e73def0fa34

Very odd, both work in Internet Explorer.  Going to upgrade my Chrome to see if it is Chrome specific.

[2016-05-02 16:57] mrslezak commented on #4260
Yes that was it, Chrome bug, closing this issue.

[2016-05-02 16:59] crashMOGWAI opened #4263 "Axis Invert"
Axis invert would be helpful, since something always needs to be translated.

[2016-05-02 17:02] crashMOGWAI commented on #4263
whoops just found, failed again!

[2016-05-02 17:02] #4263 closed

[2016-05-02 17:58] mattpap commented on #4261
I went ahead with that. Just instead of `select = Bool` there is `behavior = Enum("select", "inspect")`, because `select` is already in use (a method on `Model`).

[2016-05-02 17:59] mattpap commented on #4261
Thanks to `SelectionManager.{select,inspect}` there is now nice symmetry between this tool's behavior.

[2016-05-02 18:25] bryevdv commented on #4261
@mattpap can you correct the User's Guide doc in this PR as well? I like the `Enum`, I think "behavior" is a little long-winded but I don't have a better suggestion either.

[2016-05-02 20:11] mrslezak commented on #4260
I dug into this deeper - it seems that using IPython other bokeh parameters selected on other charts end up making their way into the current plot's HTML file.  So the above error is coming from a Slider which was used in the power example on the bokeh website.  Is there a way to ensure the bokeh parameters are reset between charts in IPython???

[2016-05-02 21:10] almarklein opened #4265 "WebGL broken because public props do not exist anymore on the glyph"
Previously, glyphs that support webgl notified the webgl part that a visuale (e.g. color) had changed, using `set_visuals_changed()`. ~~It appears that this is no longer done, probably because it got removed with the properties refactoring.~~ Looking into it.

[2016-05-02 21:11] almarklein commented on #4240
@bryevdv  I can confirm that current master shows nothing with WebGL. This is another issue, for which I just made #4265.

[2016-05-02 21:52] almarklein commented on #4265
No, its not that. Something seems to go wrong in the draw function, but it never gets logged.

[2016-05-02 23:58] birdsarah commented on #487
@surajmehta, try the mailing list for a question like this: https://groups.google.com/a/continuum.io/forum/#!forum/bokeh

[2016-05-03 00:23] AlJohri commented on #1239
@mattpap you mentioned the preliminary support for number and time formatting is done - how does one use the time formatting? I only got as far as @drorata with `"$x{int}"`

[2016-05-03 00:29] AlJohri commented on #4259
@bryevdv thanks that makes sense - I didn't realize this was more of a special case that may only work for `TimeSeries`, `Scatterplot` and maybe a few others - especially not `Histogram` or `Bar` charts that have an `agg` parameter etc.

I'm trying to make a relatively simple graph as I talked about above with addition of tooltips: http://nbviewer.jupyter.org/gist/AlJohri/3b99f3132cba41147f08938a8

[2016-05-03 01:04] birdsarah commented on #4251
I'll submit a PR for the fix. I didn't use a seed, so @mattpap may have a different way of doing this.

[2016-05-03 02:02] bryevdv commented on #4058
Getting rid of the modal entirely.

[2016-05-03 02:02] #4081 closed

[2016-05-03 02:02] bryevdv commented on #4081
Getting rid of the modal entirely.

[2016-05-03 02:14] birdsarah commented on #4251
So, there's a fix for this in #4203 - which is not idea, but I'm hoping that PR will get merged quickly.

If it doesn't, then I can break out.

[2016-05-03 06:34] birdsarah opened #4267 "User guide adding annotations uses p.renderers.extend instead of p.add_layout"
http://bokeh.pydata.org/en/0.11.1/docs/user_guide/plotting.html#adding-annotations

The source examples:
* https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/user_guide/source_examples/plotting_span.py
* https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/user_guide/source_examples/plotting_box_annotation.py

both use

[code]

[2016-05-03 07:36] sambhav8 opened #4268 "bokeh timeseries stepbuilder missing x axis"
https://groups.google.com/a/continuum.io/forum/#!mydiscussions/bokeh/JNzZ1yYLIsg

[2016-05-03 08:20] mattpap commented on #4261
@bryevdv, one unfortunate thing is that callback is executed always, even if there was no hit on a glyph. This behavior is inherited from selection tools, which allow to clear selection by clicking on empty space. I think that in inspect mode, `TapTool` should call callback only on successful hit, so simple things like `console.log("Click")` works as intended. The question remains what to do in se

[2016-05-03 08:47] birdsarah commented on #4268
@sambhav8, it would be really great if you could make this a full issue by adding all the relevant information here in github:

* Description of expected behavior and the observed behavior
* Self-contained example code that generates the issue (if possible)
* Stack traceback and/or browser developer tools console output

Someone's going to have to do this eventually for this issue to move forward

[2016-05-03 13:41] almarklein commented on #4240
I can reproduce this bug on Edge, and also know why it happens, unfortunately, we cannot do anything about it.

The problem is due to a known issue on IE, that we also mention in the docs (but which I also forgot about): "Making a selection of markers on Internet Explorer will reduce the size of the markers to 1 pixel (looks like a bug in IE)."

In #4269 I added some code to produce a warning when

[2016-05-03 13:41] #4240 closed

[2016-05-03 14:11] almarklein commented on #3612
The miters on the line on the left are indeed not drawn. It looks like this is due to the fact that the y-axis has a larger scale than the x-axis, and the code related to the miter cut-off does not deal with this anisotropy very well.

The algorithm was taken from code by Nicolas Rougier, and I adapted it to deal with anisotropic coordinate frames, but apparently I failed to make it completely inv

[2016-05-03 14:11] #3612 closed

[2016-05-03 14:16] almarklein commented on #4248
@papahabla can you please explain "incorrect", maybe via a screenshot?

[2016-05-03 14:32] bryevdv commented on #3612
@almarklein to be clear, when I tried it, nothing displayed at all on Chrom.

[2016-05-03 15:06] mrocklin opened #4270 "Add vanilla Tornado routes to server"
My application manages global state from which all sessions draw.  Under normal operation this state feeds various ColumnDataSources that feed various plots on the screen.  However, I would also like to provide static JSON views of this data.
-  navitgate to hostname:5006/myroute/ , get fancy visual plot
-  navigate to hostname:5006/myroute.json , get data dump of state at that time

I suspect tha

[2016-05-03 15:11] bryevdv commented on #4270
Just to be clear, there is only one set of data to display to any client that navigates to `hostname:5006/myroute.json` ? Not different data per-session?

[2016-05-03 15:12] mrocklin commented on #4270
Correct.

[2016-05-03 15:24] bryevdv commented on #4260
@mrslezak OK that is also interesting, I'm having a little trouble imagining the exact sequence of steps I might take to reproduce this, so if you can spell those out that would be extremely helpful. I have travel and conferences most of the rest of this week but will try to take a closer look soon.

[2016-05-03 15:25] bryevdv commented on #4260
Though, if I can guess, a call to `bokeh.io.reset_output()` might solve your immediate problem. Verifying that would also be useful.

[2016-05-03 15:39] mrslezak commented on #4260
Thanks for that tip to reset output.

To reproduce just run the examples in the order I listed and see if your
HTML opens and displays anything in a webbrowser.  Could just be an IPython
shell bug.
On May 3, 2016 10:25 AM, "Bryan Van de Ven" <notifications@github.com>
wrote:

Though, if I can guess, a call to bokeh.io.reset_output() might solve your
immediate problem. Verifying that would also be

[2016-05-03 15:42] bryevdv commented on #4260
Doubtful. I'm guessing this is because there is an implicit notion of a "current document". This sometimes makes things simpler/easier for users, but can also have the opposite effect in other cases. It's possible there is some way to improve things in this situation, though.

[2016-05-03 16:31] GiannisIordanou opened #4271 "Use a gradient as background in a Bokeh chart"
To set the color of the background in Bokeh, you can do the following, found in the relevant [Bokeh documentation](http://bokeh.pydata.org/en/latest/docs/user_guide/styling.html#background):

[code]

Also, in the [Bokeh documentation](http://bokeh.pydata.org/en/latest/docs/user_guide/styling.html#specifying-colors) mentions the ways you can specify color:

Based on the above it seems you can only

[2016-05-03 17:43] papahabla commented on #4248
@almarklein

Below are images of the above described OS, Browser, Bokeh.

**Chrome - webgl=False**
![test_bokeh_gl_false](https://cloud.githubusercontent.com/assets/10580407/14992332/80f7d92c-111a-11e6-893c-3711de16fc59.png)

**Chrome - webgl=True**
![test_bokeh_gl_true](https://cloud.githubusercontent.com/assets/10580407/14992385/b903d654-111a-11e6-842e-7b74df70df84.png)

Also, when using Safari

[2016-05-03 19:24] ghost opened #4272 "Hook for callback upon document init"
For any kind of plotting that shall start without having the user doing anything in the first place, like an animation of data, or periodic update from (time based) calculations, _without_ having to use a bokeh server, a hook that triggers a callback at page load would be needed.

[2016-05-03 19:51] crashMOGWAI opened #4273 "Panels Figures and Toolbars"
I'm having issues when trying to set different panel toolbars  to their respective figures.

The following method throws a bokeh\models\plots.py line202 ValueError:
[code]
However, the following work around does.
[code]
The working technique results in a clone of the first panel with the same toolbar/interactions.

[2016-05-03 20:12] crashMOGWAI commented on #4273
The linked panning and brushing works, and bokeh is keeping track of the selections but it doesn't look like the selection_ & nonselection visual property helpers work across tabs.

[2016-05-03 21:25] mattpap commented on #4261
@bryevdv, PR #4274 has a preliminary implementation.

[2016-05-03 22:18] almarklein commented on #3612
@bryevdv I suspect this is because of #4265, which I fixed in #4269

[2016-05-03 22:21] almarklein commented on #4248
Ok, this is a known issue in 0.11; sharp corners result in long miters which are not truncated. This was fixed in #3888 (will be in 0.12). WebGL is know not to work (well) in Safari, unfortunately.

[2016-05-03 22:22] #4248 closed

[2016-05-03 22:22] almarklein commented on #4248
Ok, this is a known issue in 0.11; sharp corners result in long miters which are not truncated. This was fixed in #3888 (will be in 0.12). WebGL is know not to work (well) in Safari, unfortunately.

[2016-05-03 22:23] almarklein commented on #4248
@papahabla Thanks for the report though!

[2016-05-03 22:55] mistakevin opened #4275 "Remove problem styles for SASS/Autoprefixer support"
* When processing `bokeh.css` with sass, there is a bad line that sass breaks on here https://github.com/bokeh/bokeh/blob/master/bokehjs/src/less/continuum.less#L371
[code]

* For a compiled css file with bokeh included, tools like [autoprefixer](https://github.com/postcss/autoprefixer) will yell at you for having non-final spec style here https://github.com/bokeh/bokeh/blob/master/bokehjs/src/les

[2016-05-04 01:03] #4254 closed

[2016-05-04 01:45] birdsarah opened #4277 "Python unit tests don't pass if `BOKEH_DEV=true`"
I use the environment variable `BOKEH_DEV=true` consistently when I'm developing.

However, as that sets the BOKEH_MINIFIED environment variable it causes the python unit tests about Resources to fail specifically:

[code]

I'm not sure if we should fix these tests or just make a note in the testing docs. Either's fine with me.

[2016-05-04 01:50] birdsarah commented on #4267
Note I updated this issue from `add_annotation` to `add_layout` as I'm removing the `add_annotation` method in a PR I'm working on.

[2016-05-04 01:57] bryevdv commented on #4267
Should get a deprecation?

[2016-05-04 02:04] birdsarah commented on #4267
No. See note here: https://github.com/bokeh/bokeh/commit/585d572ad29558909477036939fd18aa7acdf65e

[2016-05-04 02:04] birdsarah commented on #4267
TL;DR - add_annotation has never been released.

[2016-05-04 02:07] birdsarah commented on #4267
I was looking at master examples of docs when I spotted the `add_annotation` method and I was looking at 0.11.1 when I spotted the `p.renderers.extend` which originally gave me the impression that it had been released, but I checked and it hasn't.

[2016-05-04 02:11] bryevdv commented on #4267
Ok agree then. I thought it was in 0.11.1

[2016-05-04 02:53] sambhav8 commented on #4268
i tried to use bokeh for the timeseries example timeseries.py 0.11.1  i can see axis Date with linebuilder but with step builder it missing

Code to reproduce is example/timeseries.py

Attach error and expected behaviour
![missinglabel on x axis](https://cloud.githubusercontent.com/assets/19164230/15004179/62b333b8-11e6-11e6-92fe-bd8c32474dfd.png)

[2016-05-04 08:14] bryevdv commented on #4273
The first scenario is not expected to work. Tools have a reference to the particular plot that that operate one, which means they cannot be shared between multiple plots. Each plot needs to have its own tool objects.

[2016-05-04 08:14] #4273 closed

[2016-05-04 09:08] bryevdv commented on #180
Closed by #4142

I think #177 is more about a general mechanism for linking glyphs together somewhat arbitrarily using specified anchor points, the arrow PR is not general in that way.

[2016-05-04 09:18] birdsarah commented on #2006
Just ran into this again. This is specifically when multiple items are added on the right. The problem is that the width calculation appears to not take precedence and pull things to the right. Have confirmed the rightmost-right item is correctly stuck to the right of canvas, and the left-most right item is correctly stuck to the right of the frame.

[2016-05-04 10:20] birdsarah opened #4278 "Label doesn't accept angle property"
The following code adds the label, but doesn't rotate it.

[code]
Both the python and bokehjs side have an angle property and the bokehjs seems to attempt to use it (https://github.com/bokeh/bokeh/blob/master/bokehjs/src/coffee/models/annotations/label.coffee#L105)

[2016-05-04 10:20] birdsarah commented on #4278
ping @canavandl

[2016-05-04 10:20] birdsarah commented on #4278
I put this in to 0.12, because it would be nice to have it fixed along with layout.

[2016-05-04 10:56] #3563 closed

[2016-05-04 10:56] #2759 closed

[2016-05-04 13:41] almarklein opened #4279 "Tests for WebGL"
Our WebGL functionality does not really have tests and I have been fixing it up after refactorings in bokehjs a few times now. I'd love to have a few tests for it to avoid this in the future.

* Can we run tests on selenium/saucelabs with webgl enabled?
* Do we actually test for image similarity yet?

cc @birdsarah

[2016-05-04 13:44] almarklein commented on #4279
It looks like we can not: https://saucelabs.ideas.aha.io/ideas/SLIDEA-I-54

Any other ideas?

Otherwise we should probably write up a short readme which lists the examples that should be run to test WebGL functionality.

[2016-05-04 14:17] copperwire opened #4280 "Unable to render additional axis in callback"
Hi!

On bokeh version `0.12.0dev5` I've been trying to add an additional axis to a figure in a callback.
While it seems that the code in the callback is executed, neither the update expected from applying a factor of 1e10 to the line nor the addition of an extra axis is observed.

When the `.on_change()` is triggered the server outputs

`JSON had attr 'y_range_name' on obj <bokeh.models.glyphs.Lin

[2016-05-04 15:30] hal98x commented on #2426
Recently I really wanted to use bokeh to display gridded data. I have not been able to make a similar example to Christine's work. Has the suggested functionality from this thread been implemented? If not please consider making it easier to apply a color ramp to an image map.

Please update and/or provide a link to image_rgba function documentation with a detailed description of the inputs. Also p

[2016-05-04 15:36] bryevdv commented on #2426
I feel like I must be missing something. How is this substantially different from `Figure.image`? It accepts a 2d scalar array, and a palette, and colormaps according to the palette on the client:

http://bokeh.pydata.org/en/latest/docs/gallery/image.html

This has been part of Bokeh for a very long time.

[2016-05-04 16:39] hal98x commented on #2426
Thanks @bryevdv I never found this page or example. The link shows me a more relevant example. I also found the bokeh api for image and image_rgba.

[2016-05-04 16:40] bryevdv commented on #2808
This refers to the old `bokeh-server` which has been completely removed. It is no longer relevant to the new new > `0.11` server, so closing this.

[2016-05-04 16:40] #2808 closed

[2016-05-04 16:46] bryevdv commented on #2426
I think I tend to assume people go to the gallery straight away, and just look for something vaguely similar to what they need, but that's evidently not how everyone approaches the docs. If there are other places to mention this or provide examples, suggestions are welcome.

[2016-05-04 16:47] bryevdv commented on #2426
Changing to `discussion` until a concrete proposal different from `Figure.image` is drawn out explicitly.

[2016-05-04 16:58] hal98x commented on #2426
Thanks @bryevdv your assumption probably is 80% correct.I think the main issue I had is I found the example and wanted to extend it, so I went looking for the api documentation and found more examples/issues. If possible please add a crosslink between the example and the function description.

so just to make sure the dw and dh are total width and height  and not the distance between pixel centers

[2016-05-04 17:00] bryevdv commented on #2426
Yes, that is correct. More cross linking and indexing id definitely on the (long) to-do list.

[2016-05-04 18:33] #4275 closed

[2016-05-04 21:06] birdsarah commented on #4279
I would have thought so, but your link certainly indicates no. Actually thinking about this it makes sense - they're probably running on virtualized hardware which wouldn't have GPUs. We could run our own selenium box and run some specialized tests on it. I think there are a set of testing infrastructure questions like this that we need to run through and set-up for 1.0.

Yes, there are two image

[2016-05-04 21:36] birdsarah commented on #4251
This was fixed in #4203

[2016-05-04 21:36] #4251 closed

[2016-05-05 06:56] mattpap opened #4284 "Add attribution annotation"
Currently there is a custom implementation in `TileRenderer` which should be extracted into a model. Follow existing libraries (Leaflet, OpenLayers) for additional features.

[2016-05-05 06:59] mattpap commented on #4277
btw. By unit tests you mean ` py.test -m 'not (examples or js or intergration)'? Would it be possible to add `unit` alias, so that it would simply be `py.test -m unit`?

[2016-05-05 07:10] mattpap commented on #4277
I see a lot more failures (34 in total). A few seem like real failures, but in general tests failures under `BOKEH_DEV=true` are expected to happen. The reason is that `BOKEH_*` variables take precedence over whatever is in the code. I think that for now we have to live with this and update documentation. In a longer term, we may want to simplify bokeh's configuration and in the mean time figure o

[2016-05-05 07:17] mattpap commented on #4277
btw2. Those tests are pretty presumptuous, e.g.:
[code]
It would have been better to test if `make_id()` generates a value of the particular form, not for an explicit value. The reason this test works without `BOKEH_DEV` is that all other IDs are UUIDs, so here we actually start from the first identifier in simple form. However, if simple IDs were used anywhere else, then this could not work or ev

[2016-05-05 07:47] birdsarah commented on #4277
Yes

-m unit would mean marking all unit tests with pytest mark `unit`. Also see discussion here: https://github.com/bokeh/bokeh/issues/3906.

[2016-05-05 08:39] almarklein commented on #4279
Ok, for now I added a text file that lists meaningful WebGL examples in #4269.

[2016-05-05 11:22] mattpap opened #4285 "Testing infrastructure bug/wish list"
NOTE: this will be updated and refined gradually.
- [x] don't display unrelated (especially `DEBUG`) logs in the main log
- [ ] unify test output from different test runners (if or as much as possible) (especially `gulp test`)
- [x] restore original logic around javascript errors/warning/messages
- [ ] images in examples' report should have fixed size (as originally), so that we don't have to wait

[2016-05-05 11:45] #219 closed

[2016-05-05 12:01] mattpap commented on #3906
@damianavila, I'm curious why 'reso:completed' and not `reso:wontfix`?

[2016-05-05 14:05] #4265 closed

[2016-05-05 15:10] rs2 opened #4286 "Provide examples of using RemoteSource/AjaxDataSource in the docs"
[code]

Both data sources are great alternatives to `ColumnDataSource` and can tremendously reduce the size of the page downloaded by the client and shift the logic from JavaScript to Python, e.g. when serving the data using a REST API.

[2016-05-05 17:26] damianavila commented on #3906
Because the Github UI sometimes is broken... it happened to me a lot that I tried to set up one label and other is applied...

[2016-05-05 19:13] fpliger commented on #4023
Yeap, that sounds reasonable...

[2016-05-05 19:24] fpliger commented on #2992
this is fixed on current master...

[2016-05-05 19:24] #2992 closed

[2016-05-05 19:58] mattpap commented on #3906
@damianavila, OK.

[2016-05-05 20:34] almarklein opened #4287 "Document title should take on plot title if not given"
As mentioned in #3791:

The user currently separately specifies a title for the plot and for the html page. It makes sense that this is possible, because a page can contain multiple plots, but in most cases a page is just one plot.

When the user does not specify output_file(), or calls it without providing a title, the page title should take on the title of the plot.

cc @mattpap

[2016-05-06 02:28] ijstokes opened #4288 "Make scroll-zoom click-to-enable in toolbar"
Scroll-zoom is super handy, but I'd prefer to create plots with it disabled (I'm happy to set that myself), and when I want to use it to actually click on the toolbar to enable scroll-zoom.  This will avoid the super annoying problem of zooming in and out on a figure when I'm just trying to scroll a web page that contains a bokeh plot.

[2016-05-06 02:30] ijstokes opened #4289 "Clever way to snapshot layout and view"
Publishing Jupyter Notebooks that contain Bokeh plots is something I do a lot.  The problem is that sometimes the "best" initial view for the plot is not the "default", so I want to do some client-side manipulation to get the plot into the view that I want "saved".  But (of course) the server side has no idea what my particular view looks like.  If there were some secret key-stroke that could disp

[2016-05-06 02:32] ijstokes commented on #4289
Here is the example which inspired this:

https://anaconda.org/ijstokes/high-performance-io/notebook

And here is what I actually wanted it to look like (zoomed in to just 3.17 to 3.22 seconds):

![screenshot 2016-05-05 22 31 01](https://cloud.githubusercontent.com/assets/293525/15062745/2410998a-1311-11e6-9af6-d72f2173aa91.png)

[2016-05-06 02:41] birdsarah commented on #4285
If you'd like me to not comment on this issue, while your thinking evolves, then do let me know.

+1 - Do we need a BokehJS hook for this?

In addition, the selenium tests currently fail in a completely unintelligible way if the python part of the test fails. Need to handle this much more gracefully.

Yes - I've noticed this too - not sure what the cause is - maybe there's a diff that we can't see

[2016-05-06 03:02] birdsarah commented on #4285
I did a quick thing on this in my latest PR - e.g. https://travis-ci.org/bokeh/bokeh/jobs/128202446; but I still get a bunch of boto stuff at the end.

[2016-05-06 05:59] birdsarah commented on #4048
I'm removing the bounds from examples/models/iris.py as this just tripped me up again.

The code to reproduce this bug is:

[code]

[2016-05-06 06:13] bryevdv commented on #4288
It's been disabled by default for some time, as demonstrated by scrolling on the page

http://bokeh.pydata.org/en/latest/docs/gallery/streamline.html

So if it is not disabled by default for you, then that is not expected, and more information is needed.

[2016-05-06 07:17] mattpap commented on #4288
@bryevdv, based on issue #4289, @ijstokes is still on bokeh 0.10, so that's the reason it doesn't work.

[2016-05-06 07:23] bryevdv commented on #4288
Fixed in later releases.

[2016-05-06 07:23] #4288 closed

[2016-05-06 07:27] bryevdv commented on #4289
I'm going to consider this part of #182

[2016-05-06 07:27] #4289 closed

[2016-05-06 08:48] mattpap opened #4290 "Clean up toolbar's CSS"
The existing implementation is unmaintainable and needs replacement. This work will be the basis for further toolbar improvements. This is unrelated to making toolbar a standalone widget.

[2016-05-06 21:21] aussio commented on #2965
@mdering I was just looking at this as well so I figured I would reply. There is some example code within the [PR linked above](https://github.com/bokeh/bokeh/pull/3312).

When you make a Chart, you can use whatever attributes you've used within the chart within the Hover. So if you have a Chart with: `Chart(data, x='displ', y='mpg', color='cyl', marker='cyl', line_color='origin')` you will have a

[2016-05-07 01:49] jimmycallin commented on #538
Any news regarding this to share?

[2016-05-07 14:25] #3576 closed

[2016-05-07 14:29] guillochon opened #4293 "WebGL blurry on OS X, not visible in Safari"
Hi all,

I'm noticing that WebGL output appears to be very blurry in Chrome/Firefox on OS X, and completely invisible in Safari. With WebGL disabled, the glyphs look crisp and clear:

<img width="504" alt="screenshot 2016-05-07 10 11 21" src="https://cloud.githubusercontent.com/assets/4998058/15092600/8f255ba8-143c-11e6-8c8c-f81ed922b77c.png">

With WebGL enabled, it becomes a blurry mess:

<img w

[2016-05-07 15:54] jms90h5 opened #4294 "Replace table source"
This thread https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/-V-E7xzhBjg describes the requirements for updating the contents of a table.  It requires that data table is be explicitly addeded to the "current document" rather than having it done automatically the way it happens with "figure", "vplot", etc. For example:

Additionally replacing the source doesn't work but instead the data

[2016-05-07 17:58] bryevdv opened #4295 "Investigate disabling user-select"
Recently, sometimes Bokeh plots get annoyingly "selected" i.e. are blued out like selected text. I believe this is because user-select needs to be disabled, something like:

[code]

[2016-05-07 18:57] birdsarah commented on #538
I made a prototype (#3867) but other things are shuffling into place before we finish it.

[2016-05-08 18:43] charleywan2004 opened #4296 "legend can't be updated via ColumnDataSource"
source1 = ColumnDataSource(data=dict(x=[], y=[], legend=[]))
p1.line(x='x', y='y', legend='legend', source=source1, line_width=3, color="navy", alpha=0.5)

Legend can't be updated via ColumnDataSource

[2016-05-08 19:27] bryevdv commented on #4296
That's never going to work in general, and is not expected to work now. Actually for a whole variety of reasons:

*  `legend` is already not a `DataSpec` that hooks up to a source (just a simple regular property)
* one of the assumptions of ColumnDataSource is that is is a collection of lists/arrays that are ***all the same length** But a "legend" column would only make sense with at most one entr

[2016-05-09 00:10] koganm commented on #4246
hi all,

great new features in 0.12.0dev8, playing around with gridplot example now and am seeing the missing icons as well. however this version does look to have the fix from 0.11 where using vform would cause duplicate empty axes above the legit charts. any estimate on when the version with the icon fix will be released?

thx