[2021-11-05 20:21] bryevdv commented on #11782
@hyamanieu You will need to explain in more detail. The `document.getElementsByName` returns DOM elements, but the `name` property is a property of Bokeh models, which are JavaScript objects and not DOM elements (they have have one or multiple DOM elements associated with a view of the model, but do not have to, in general). Please share a *complete script* that demonstrates what you are talking a

[2021-11-05 20:29] bryevdv commented on #11782
Well, I guess you are talking about this

https://github.com/bokeh/bokeh/blob/805e2f7673e8ba40c884e9993481108fa76c02ae/bokehjs/src/lib/models/widgets/text_like_input.ts#L33

@mattpap any idea when/why this went in? It appears to be from pre-Typescript days, that's as far back as I tried to dig. Not really sure how much I like this, or at least associating with the generic `name` property, which do

[2021-11-05 21:35] bryevdv commented on #7490
Thanks for the information @psarka

No tool can satisfy all possible potential use-cases, and I am tempted to just state that his level of streaming is simply out of scope. Bokeh prioritizes the cross Python<--JS synchronization and eventing and I think that precludes major improvements here without fairly significant work and re-examination of priorities.

Offhand I would speculate that some mixt

[2021-11-06 21:36] psarka commented on #7490
Thank you very much for your explanations @bryevdv!

Making fewer calls to `.stream` by batching works very well. I now understand, that the accurate way to think is that bokeh (or the browser) can update ~ 100K "points" per second.

Which means that in the streaming context in order to maintain, say 50FPS, the limit of the buffer is ~2K. My buffer is 20K points, so the best I can do is 5FPS and I

[2021-11-08 16:13] hyamanieu commented on #11782
@bryevdv  thanks for your explanation, and here below an example.

In a notebook:
[code]

changing the value of the text input will return you a list with one element: the textinput. Clicking the button returns you an empty list.

A typical situation I require these elements is to use the `.focus()` method. It doesn't work directly on the bokeh model (`cb_obj`) itself.
As I said, it's not only abo

[2021-11-08 17:25] philippjfr commented on #11355
Can I add an item to the list here? Specifically widget labels would be very handy. We've had a request for this for a very long time: https://github.com/holoviz/panel/issues/1324

[2021-11-08 18:03] mattpap commented on #11355
It's not on the list, but we discussed this a while back, so this will be added, hopefully next week or so.

[2021-11-08 19:29] #11475 closed

[2021-11-09 19:30] benrussell80 commented on #11741
Okay so does that mean that, for example, each of these should be just ```:class:`~bokeh.models.Thing` ```? If that's the case then the reference file tree would have to be re-worked, correct? All of these are under the annotations reference and so the links don't work directly.

[code]

[2021-11-09 23:50] andhuang-CLGX opened #11788 "[BUG]: FileInput waits blocks Python callbacks until upload is finished"
From
https://github.com/holoviz/panel/issues/2863

When uploading a big file, the watched events run very late (likely after the big file is uploaded). Is there a way to trigger loading before the upload so that the user knows something is running?
[code]

A workaround is to use jscallbacks.
[code]
This kind of works; not immediate, but much faster to react: the jscallback tries to activate the pr

[2021-11-10 00:00] bryevdv commented on #11788
Probably not currently. As @MarcSkovMadsen suggests, a possible future direction might be to emit an event before/during the upload.

cc @bokeh/dev

[2021-11-10 00:19] andhuang-CLGX commented on #11788
Is there a way to get the percent uploaded, e.g. rather than a simple active on/off progress bar, show a progress bar with increments

[2021-11-10 00:22] bryevdv commented on #11788
Definitely not currently. I am not sure what it possible in terms of future development, it will require some investigation.

[2021-11-10 13:12] #10621 closed

[2021-11-10 20:21] bryevdv opened #11789 "Pin Sphinx < 4.3"
ref: https://github.com/sphinx-doc/sphinx/issues/9838

cc @tcmetzger

[2021-11-10 21:26] #11789 closed

[2021-11-10 22:02] tcmetzger opened #11791 "Update issue template to use new GH forms"
GitHub has rolled out a new form of issue form/template: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-forms

We would like to use this new feature to update our current templates for bug reports and feature requests (located in `.github/ISSUE_TEMPLATE/`). The forms should ask for t

[2021-11-11 17:42] bryevdv commented on #11791
FWIW I'm not sure this is a `good first issue` — it's important enough (to me at least, I have been waiting for this for ~10 years) that I don't think we should put off implementing it in case someone randomly decides to work on it.

[2021-11-11 17:46] bryevdv opened #11792 "Unpin Sphinx and update min version"
The issue causing the breakage with Python 3.7 will be fixed when Sphinx 4.3.1 is released. We should update the min Sphinx version to 4.3.1 and unpin at that time. (I don't think it is worth back-porting)

* ref: https://github.com/sphinx-doc/sphinx/pull/9840

cc @tcmetzger

[2021-11-11 18:05] bryevdv commented on #11741
I'm actually not sure what the work required is, it will take some research I suppose. I only know the goal, which is that the submodule structure becomes a pure hidden implementation detail that is not visible to users. Currently we use the submodule structure to group the ref guide "thematically". I like that in some sense, but keeping it may make the overall goal of hiding the submodules more d

[2021-11-11 18:13] bryevdv commented on #11741
I would add:

One of the reasons the thematic grouping was essential in the past was that the docs did not have a functioning search for several years, so the grouping served an important purpose to tame the size of the refguide. . But now there is search, so moving to alphabetical would be less of a problem in that regard.

The alternatives are, I believe:

* lots of manual curation. I.e. instead

[2021-11-11 19:42] bryevdv commented on #9086
The issue I have here is that favicon "best practices" seem quite involved. Specifically, I don't think affording a single file provided via `--favicon=` or `curdoc().favicon = ` is actually anywhere near sufficient. Even a "minimal" favicon package has multiple sizes and many HTML tags:

[code]

Things can get substantially even more complicated than that. The problem is I am not an expert here b

[2021-11-11 20:07] jbednar commented on #9086
The single .ico file can (and in our work normally does) have multiple resolutions, covering at least 32x32 and 16x16.  The fancy Apple Touch stuff seems beyond what's needed here. So I'd think that 80% is covered simply by having a single file.

[2021-11-11 20:47] bryevdv commented on #9086
I can already hear the "that's so 90's, you need to support *modern* web practices" complaints. But it's what I might could  accomplish presently, and as long as it's done in a way that separates concerns enough to avoid clobbering any future ideas, I guess it will have to do. So I'd amend to proposal:

* Add `IconHandler` that can be configured with a single path to a `.ico` file, or None
* By de

[2021-11-11 20:56] bryevdv commented on #9086
Well, the current Bokeh `favicon.ico` does not have transparency: https://static.bokeh.org/favicon/favicon.ico

[2021-11-11 21:00] EfremBraun commented on #9086
I'd be very happy with a solution that just gets the icon on the browser tab. That's about all that's needed for a baseline "professional website" look in my opinion. I'd much much rather a solution that does that and that doesn't show up on the Apple Touch Bar and in other fringe cases, rather than having no solution.

[2021-11-11 23:13] bryevdv opened #11794 "`BOKEH_DEV=true` assumes file resources when using the server"
Running:
[code]
results in resource request like

which naturally fail 404. This happens with 2.4 and 3.0

cc @mattpap

[2021-11-11 23:32] ABODFTW commented on #11640
I will work on this, please let me know if there are any additional details, will send PR as soon as I get it done.

[2021-11-12 06:14] tcmetzger commented on #11640
@ABODFTW Thank you, looking forward to your PR! The relevant information should be in my description here in the issue, as well as in PR https://github.com/bokeh/bokeh/pull/11538 and the related issue https://github.com/bokeh/bokeh/issues/10914.

For general information on how to set up your system and update the docs, please see:

- https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html
- htt

[2021-11-12 07:42] ghomem commented on #11389
I am also interested in this feature, specifically

would very nice for allowing the plots to explain themselves, on hover, without cluttering an entire dashboard with permanent explanations. I would guess this is useful in general for users.

Thank you :-)

[2021-11-12 08:01] ghomem commented on #11389
If I understand correctly this would be something like what is seen in the attached images, but applied to the plot title
![a6TyU](https://user-images.githubusercontent.com/3352900/141431603-c05f07c5-1efd-4318-8309-0b71c93a8a90.png)
![402c93bec364ed7e309eb01bdb440e2e84bd367a](https://user-images.githubusercontent.com/3352900/141431624-2a45fd39-f997-4558-bd30-6506eda1a01a.png)
.

[2021-11-12 08:34] mattpap commented on #11794
It's broken, though I'm not sure if it ever worked. I always specify the type of resources explicitly for the given job, so my command line always looks like this:
[code]

[2021-11-12 10:21] mattpap opened #11798 "Don't expose `nan` in ranges' API unnecessarily"
This is a follow-up on changes from PR #11777, where ranges' API was changed to allow support for unset properties. This, however, exposed `nan` default values, which are cumbersome to work with. Additionally, this design is more an effect of other issues (e.g. properties vs. computed properties; especially in the particular case of ranges), than intentional API design on its own. This needs to be

[2021-11-12 15:40] ncclementi commented on #11389
@ghomem Yes, that is what I have in mind when I requested the feature but I'm not sure when would be implemented.

[2021-11-12 18:02] bryevdv commented on #11389
Unfortunately it's just not a trivial ask. Titles are drawn on a canvas, they are  not DOM elements, so it's not possible to leverage DOM tooltips. And they are not driven by CDS data sources, so we can't just reuse all the existing hover tooltip machinery built for glyphs, either. So it will have to be something completely new and separate.

[2021-11-12 18:31] mattpap commented on #11798
Issue #11718 is relevant and perhaps should be fixed at the same time.

[2021-11-13 01:28] bryevdv commented on #11794
In fact this is already documented:

https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html?highlight=bokeh_dev#bokeh-dev

I have a vague recollection that there is some reason this can't be improved. I'd be fine closing, given the documentation.

[2021-11-13 01:35] bryevdv commented on #11737
Hi @BoSott Thanks for the detailed report. This definitely seems like a bug, as setting the color should not have this effect. I will note about this:

This may be expected as by default data ranges only auto-range visible glyphs.

cc @mattpap this issue is still the case in `branch-3.0` as well

[2021-11-13 01:46] bryevdv commented on #11649
@mattpap how do you want to triage this? If you don't want to restore it, that's ok with me, but then we should close.

[2021-11-13 01:47] bryevdv commented on #11619
@mattpap any thoughts about any relevant changes that could explain this?

[2021-11-13 06:53] mattpap commented on #11794
Let's keep it for now, as I would actually clean up and simplify the dev setup.

[2021-11-13 08:18] mattpap commented on #11737
This happens because `TileRenderer` manipulates ranges outside the scope of the default range management scheme. However, that happens only once, during initialization of a `TileRenderer`, so any updates to a plot invalidate those changes, leaving range bounds as they are computed by the range manager. It looks like what `TileRenderer` does, has merit, but it should be done as a part of range mana

[2021-11-13 09:20] agrav opened #11800 "[BUG] DeserializationError when plotting graphs"
Hi,

I am getting a `DeserializationError` when plotting graphs.

The issue can be reproduced with the code from the first example here: https://docs.bokeh.org/en/latest/docs/user_guide/graph.html. The code example below is run with the `bokeh serve` command. Traceback and error messages when loading the page is shown below.

This issue is related to:
https://discourse.bokeh.org/t/deserializatione

[2021-11-13 20:52] g-parki commented on #11800
This traces back to #11547. Thanks for the detailed bug report @agrav

[2021-11-14 19:20] #9086 closed

[2021-11-14 19:20] bryevdv commented on #9086
Marking `completed` let's have separate new issues for any future refinements.

[2021-11-14 23:53] EfremBraun opened #11801 "[BUG] Log axis figures don't render if they're not visible at start"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 3.0.0dev1+24.g0f5f99466
Python 3.9.6
MacOS Catalina 10.15.7
Chrome 95.0.4638.69

#### Description of expected behavior and the observed behavior
I put stacks plots such that the user can change between log-plot and lin-plot upon clicking a checkbox. However, upon first rendering the plot, the l

[2021-11-15 19:08] philippjfr opened #11803 "[BUG] Message containing ModelChangeEvents for all properties sent back to server on initialization"
Starting in Bokeh 2.4.0 the frontend has started sending back ModelChangeEvents to the server containing basically all the changed model properties after initialization resulting in a huge dump of data being sent back to the server. In the worst case this message is larger than the allowed websocket size, breaking the application entirely. This can easily be reproduced by creating a plot with a de

[2021-11-15 19:19] bryevdv commented on #11803
@philippjfr will you be able to perform a bisection?

[2021-11-15 19:21] philippjfr commented on #11803
Will do, absolutely first thing tomorrow. This is very high priority for us so I'll do my best to get this fixed asap with @mattpap's help.

[2021-11-15 19:23] bryevdv commented on #11803
I will also try to look some tonight

[2021-11-15 20:36] mattpap commented on #11803
The regression happened in PR #11194. The problem is that there are two equivalent, but not directly comparable JSON-like representations of ndarrays, one eager (with raw base64 encoded data) and one lazy (with a function producing base64 encoded data). We need the later to optimize performance where we need to do partial serializations, but avoid serializing data until it's really unavoidable. Ho

[2021-11-15 20:40] danielhollas commented on #7023
@bdch1234 just want to thank you, what a life saver! Works perfectly with Python 8, Bokeh 2.4.0 and ipywidgets 7.6.5.

[2021-11-15 20:52] bryevdv commented on #11803
Thanks for the quick diagnosis @mattpap if you can prioritize a fix for this I can resolve any outstanding backports and we can try to have a 2.4.2 in a few days or end of week at least.

[2021-11-15 22:11] BenjaminPelletier commented on #10919
There is a comment in here about no one using HSL for 10 years, so I just wanted to add my 2 cents.  I am new to Bokeh and am using HSL and am sad about the spewing of deprecated messages and that it will be removed in a future version.  Even if the class will be removed, at least leave some way/function to compute an RGB color knowing HSL values.

[2021-11-15 22:58] jbednar commented on #10919
The [HoloViews HSV component](https://holoviews.org/reference/elements/bokeh/HSV.html) may be useful...

[2021-11-15 23:39] ian-r-rose opened #11804 "[BUG] HoverTool with mode=vline can make glyphs disappear"
Using a HoverTool with `mode="vline"` can cause some unrelated glyphs to disappear from the chart.

As far as I can tell, this is a regression that was introduced in 2.4.0 (everything works fine in 2.3.3).

The following creates a line *and* a varea with a hover tool for the line:
[code]
When I hover over the chart, the *varea* glyph disappears. The line and hover seem to behave normally.

#### St

[2021-11-16 00:10] bryevdv commented on #11804
This is working on both `branch-3.0` and `branch-2.4` so it was evidently accidentally fixed and also already backported, so I will go ahead and close this. A new 2.4.2 release will be out within the next week.

[2021-11-16 00:10] #11804 closed

[2021-11-16 00:12] #11613 closed

[2021-11-16 00:16] #11801 closed

[2021-11-16 00:42] bryevdv commented on #11804
@ian-r-rose if you need an immediate WAR then the solution would be to explicitly set `renderers` for the hover tool and exclude the varea glyph

[2021-11-16 00:49] ian-r-rose commented on #11804
Thanks for the quick response @bryevdv .

That's great to hear, thanks.

Unfortunately, updating the above to exclude the varea still shows the same problem (unless I've made a mistake):

[code]

[2021-11-16 01:00] ian-r-rose commented on #11804
I can confirm that I no longer see the issue in the 3.0.0.dev1 release published to PyPI.

I suppose timing-wise https://github.com/bokeh/bokeh/pull/11764 seems like a good candidate for the accidental fix?

[2021-11-16 03:28] yakpanda opened #11806 "[FEATURE] Add function to get adjacent nodes by selecting node."
It would be great to have way to get values of adjacent nodes when selecting a node.
The purpose is to see which nodes are connected each other more clearly.

As discussed in https://discourse.bokeh.org/t/networkx-get-value-of-selected-node-and-adjacency-node/8618:
`NodesAndAdjacentNodes` will be the function for this case.

[2021-11-16 07:46] mattpap commented on #11800
This appears to work in `branch-3.0`, though it needs to be confirmed that the underlying issue is actually fixed.

[2021-11-16 12:21] philippjfr commented on #11800
Can we backport whatever the fix was to 2.4.2 or apply some other fix? Seems like an important regression.

[2021-11-16 12:53] mattpap commented on #11800
Technically this is a duplicated of issue #11422 with is fixed by PR #11469. However, there is another issue to be resolved, that was introduced by PR #11547 (unnecessary reassignment). Things "work" on `branch-3.0`, because of PR #10623.

[2021-11-16 14:55] EfremBraun commented on #11801
Thank you!

[2021-11-16 17:06] pranshu-kumar commented on #11765
Hey, I am new to open source. Look forward to contributing to this issue.
I'll try working on examples/models/file/calendars.py

[2021-11-16 18:45] #11791 closed

[2021-11-16 22:25] bryevdv commented on #11806
I do just want to clarify one thing. Due to the way that selections work generally in Bokeh, the best we are really going to be able to do here is set a single selection that has the "original" node, plus all the adjacent nodes, but no indication of what the "original" node is.

Doing anything else would be substantially more involved than just adding a new `NodesAndAdjacentNodes` selection policy

[2021-11-17 09:14] mattpap opened #11811 "Remove unnecessary whitespace from rendered templates"
Currently it both looks unprofessionally and is tedious to work with, e.g. for `color_scatter.py` I get:
![image](https://user-images.githubusercontent.com/27475/142170642-3e395a80-f0fa-42dc-b4d4-c53c4e235b51.png)
At minimum all gaps need to be removed. Additionally indentation should be consistent. This can be partially achieved by enabling automatic whitespace control in jinja and removing manua

[2021-11-17 18:00] #11422 closed

[2021-11-17 18:00] #11800 closed

[2021-11-17 20:36] gmerritt123 commented on #11015
On my wish list!

[2021-11-18 04:57] kaymes opened #11817 "[BUG] Updating x and y ranges of figure doesn't work"
### Software versions

Python version      :  3.8.10 (default, Sep 28 2021, 16:10:42)
IPython version     :  7.13.0
Tornado version     :  5.1.1
Bokeh version       :  2.4.1
BokehJS static path :  /home/kaymes/.local/lib/python3.8/site-packages/bokeh/server/static
node.js version     :  v16.13.0
npm version         :  8.1.0

### Browser name and version

Firefox 94.0 and Chromium 95.0.4638.69

###

[2021-11-18 16:34] paddymul opened #11820 "[BUG] Git clone not possible because of long filenames"
### Software versions
[code]

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

I expected to be able to clone the bokeh repository without getting errors about filename length.

Barring a change to the bokehjs tests which would be involved, a recommendation for a branch to checkout that will work would be a temporary fix

[2021-11-18 17:01] bryevdv commented on #11820
@paddymul I just cloned successfully on Ubuntu, ext4:
[code]

[code]

I think there must be something else going on specific to your system

[2021-11-18 17:10] bryevdv commented on #11817
@kaymes Swapping out entire range objects is not really supported or supportable. They are coupled to too many things to make that practical. Originally, there was no notion of `readonly` properties, but that capability was added awhile back, and this is a reminder that range instance properties should probably now be made `readonly` now that that is an option.

Does calling `p.x_range.update(star

[2021-11-18 17:28] bryevdv commented on #11811
I do think think is a case where the simplest solution that goes the farthest with the least effort is the best. If Jinja automation can make a 90% improvement, i.e. especially removing the large vertical gaps, that should be settled for. It is absolutely not worth putting in tons of effort (or worse, burdening an entire time with perpetual manual effort) to chase perfection here.

[2021-11-18 22:32] WarlenRodrigues commented on #11718
Hey. Working on this! Trying to solve #11777 too.

[2021-11-18 22:39] paddymul commented on #11820
Hmm,  I tried again and can reproduce, I don't remember toggling any special settings when installing linux on this machine 6 months ago.  I'll try to figure out what setting I can use to get around this problem on my machine, when I do, I'll update this bug report should anyone else run into the same issue.

[2021-11-19 03:28] g-parki commented on #11811
Jinja has a fairly standard operation for trimming around blocks, which can be enabled by adding `trim_blocks=True, lstrip_blocks=True` to `Environment()` here:
https://github.com/bokeh/bokeh/blob/7b85b044c78b6772242e5fcae6224409d1b3b523/bokeh/core/templates.py#L81

As already noted, this doesn't fix the hard-coded indentation and line breaks, of which there's a lot (a key source being comments on

[2021-11-19 11:32] mattpap commented on #11817
I don't see this being unsupportable. Just frame needs to be updated when ranges/scales change. Though, then there are curious `Plot.initialize()` and `Range.plots` to be dealt with.

[2021-11-19 12:01] mattpap opened #11822 "Tests using headless chrome are completely broken"
There must have been major changes in Chrome 96, which makes our tests hang.

[2021-11-19 12:22] ianthomas23 commented on #11822
I experienced the hang on running `node make test:integration` earlier today. I assumed it was my fault so did a `git clean -fxd` on the latest `branch-3.0` and the headless tests now run using `HeadlessChrome/96.0.4664.45` but give me 121 failures. Mostly minor text position changes, but also all of the WebGL tests are falling back to using canvas.

[2021-11-19 16:12] mattpap commented on #11822
After reading this comment, I retried running bokehjs' tests and it worked (well, tests fail and webgl doesn't work), but it magically started to work. I touched nothing in the repository or the OS at the time (no automatic updates in my VMs). CI (linux, as other platforms are still on 95) still doesn't work though.

[2021-11-19 16:25] mattpap commented on #11822
At least locally I was able to `snap revert chrome` to 95. snap keeps two previous versions. However, I can't (or at least I don't see an option for this), to install an older version (than provided by `latest/stable` channel). I think that, at least on Linux, whenever we upgrade Chrome in bokehjs' tests, we will have to do `snap download chrome` (assuming we'll still use snap), store it in S3 (or

[2021-11-19 16:51] bryevdv commented on #11822
At this point I would propose starting to think about compromise alternatives that can offer more stability. What about creating a docker image for running the chome tests, that we only update on a schedule of our own choosing? This could also greatly streamline the process for local development, allowing creating/updating images and baselines purely locally rather than having to navigate the conv

[2021-11-19 16:58] ianthomas23 commented on #11822
@bryevdv: @tcmetzger, @IuryPiva, @mattpap and I talked a bit yesterday in our regular update meeting about the possibility of creating the docker image in CI on a regular basis (weekly?) and tagging each image with both the date of creation and the version of chrome. Then you could `docker pull bokeh-dev:chrome94` or similar and relatively easy compile bokeh and run the tests locally with a specif

[2021-11-19 17:08] paddymul commented on #11820
Ahh, after more research, I remembered that I am running ecryptfs.  ecryptfs has a filename length limit of 140 or 143 characters
[Filename length limits for ecryptfs](https://bugs.launchpad.net/ecryptfs/+bug/344878l)

You can determine whether ecryptfs is enabled by running ` ecryptfs-verify -h `
[code]
Apparently ecryptfs isn't actively maintained.

[2021-11-19 17:08] #11820 closed

[2021-11-19 17:12] paddymul commented on #11820
Sorry for the confusion @bryevdv @mattpap

[2021-11-19 17:13] bryevdv commented on #11822
I would do this even less frequently. The churn in baseline images is also large burden. We need to confront the actual reality the the browsers are responsible for changes, which obviates the value of the baselines. For the baseline images to have any actual value we need to fix the chrome version for longer stretches. I would say monthly, quarterly, or even (at the extreme) fix the version for e

[2021-11-19 17:36] bryevdv commented on #11820
No worries, glad it was figured out!

[2021-11-19 17:47] ianthomas23 commented on #11822
@mattpap Thanks for the comment about `snap revert`, I didn't know about this. Now I am back with 95.0.4638.69 and my dev system is functional again.

[2021-11-19 20:30] mattpap commented on #11822
I need to create s3 bucket for chromium's snaps, but I'm getting "access denied", despite having the right credentials. Is this intentionally disabled? Do I need to use the console for this?

[2021-11-19 20:45] bryevdv commented on #11822
@mattpap I assume you are using the credentials for `bokeh-ci-user` ? That account does not have `s3:createBucket`

You can tell me what bucket you need (fastest) or I can make you a console login account (you will have to ping me on Slack to exchange credentials)

[2021-11-19 20:49] mattpap commented on #11822
`bokeh-chromium` or really whatever. I just need to put there the relevant snaps for chromium.

[2021-11-19 20:50] mattpap commented on #11822
With public read access, so that snaps can get easily fetched without need for installing awscli.

[2021-11-19 20:57] bryevdv commented on #11822
We should definitely never have any S3 buckets with public read access, given the possibility for accidental or intentional abuse.

I can create a bucket and put it behind a new cloudfront distribution. What is a good domain name? `snaps.bokeh.org` is very narrow, could we use more general `files.bokeh.org`?

[2021-11-19 20:59] bryevdv commented on #11822
How big are these snap files? Even with cloudfront there may be non-trivial exfiltration costs

[2021-11-19 22:14] kaymes commented on #11817
I found the solution to replace the ranges on some stackexchange answers so I assumed that it was meant to work.

@bryevdv, using update on the x_range and y_range separately (which is what button3 does in my example code) doesn't do the trick because after the first update the JavaScript also updates the other and we end up with a sync conflict and race condition. Most of the time the result is m

[2021-11-19 22:31] bryevdv commented on #11817
This should always be the first step for an issue. It's entirely possible there is some alternate solution, better or different usage, or workaround. But Nothing concrete can be said or offered without a complete [Minimal Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example).

[2021-11-20 01:19] kaymes commented on #11817
So here is an occasionally failing example. The rate of failure is much lower than in my full app but it still happens. I've also realised now that it seems to happen only in Firefox - I wasn't able to reproduce it in Chromium at all.

The code sets up a figure with Open Street Map as a tile display and then offers you two buttons with which you can jump between two locations. Sometimes when the v

[2021-11-20 06:04] ABODFTW commented on #11640
Did create a PR, but couldn't customize icons using an image URL, or a PIL object, not sure if this expected behavior, or I couldn't get it to work, there are more details in the PR, looking forward to your feedback.

[2021-11-20 13:17] mattpap commented on #11822
Actually nevermind, I don't have patience anyway to deal with aws. I created `bokeh/chromium` repository and use LFS to store binaries. This approach is implemented in PR #11823.

[2021-11-20 16:03] mattpap commented on #11822
Fixed by PR #11823.

[2021-11-20 18:00] bryevdv commented on #11822
@mattpap I am afraid that may not be an option without more plannin

[2021-11-20 18:17] mattpap commented on #11822
Well, at least I was able to verify that the overall approach works. So much for "large file support" with 1 GB of bandwidth. I guess we are back with using S3?

[2021-11-20 18:19] mattpap commented on #11822
This (among other factors) rules out using LFS for storing baselines. Which, I think, is fine as I've been leaning towards submodules anyway.

[2021-11-20 18:24] bryevdv commented on #11822
@mattpap I"m not sure why that is the conclusion? Any/all of these services will need to be paid for. We just don't happen to be set up to deal with LFS charges because we have never utilized it previously. Like I said this needs planning. E.g. as a first step, we really would need some ballpark estimate of how much bandwidth per month will be required. Then we can make an informed decision about

[2021-11-20 18:31] mattpap commented on #11822
I implicitly assumed S3 would be cheaper, but apparently both are similarly priced ~$5 per 50 GB of transfer.

[2021-11-20 18:33] bryevdv commented on #11822
@mattpap You will need to look at cloudfront pricing since any solution with S3 will be fronted by cloudfront https://aws.amazon.com/cloudfront/pricing/

[2021-11-20 18:49] bryevdv commented on #11822
FYI I wanted to see what a $5 "data pack" actually entailed, so I hit "purchase" just to try to see what information a confirmation might supply, but it just purchased with no confirmation. As a dat point, here is what $5 gets:
<img width="485" alt="Screen Shot 2021-11-20 at 10 47 48" src="https://user-images.githubusercontent.com/1078448/142737781-e44e6a69-c660-48b2-9267-f81a2298e714.png">

[2021-11-20 18:55] bryevdv commented on #11822
FYI GitHub container registry is currently free AFAIK. Docker free has 200 free image pulls per day.

[2021-11-20 19:51] elfring opened #11826 "Increase the usage of augmented assignment statements"
### Problem description

Memory allocations

### Feature description

:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

###

[2021-11-20 20:38] mattpap commented on #11822
Even if we switch to docker, this won't happen immediately, so at least we have an interim solution.

As to some rough numbers, we had 1771 bokehjs-ci workflow runs (total; including all reruns) on PRs since bokehjs-ci inception. If we used LFS approach since then, that would give use `1171*150MB = 265.65 GB`, which would require 6 data packs (or $30). This doesn't include workflow runs on pushes,

[2021-11-21 12:59] hamogu opened #11827 "[FEATURE] Add a way to switch off `output_notebook` and `output_file`"
### Problem description

After setting `output_notebook` or `output_file` there seems to be no way to unset them again. I may run a notebook and want to show the top dozen plots in the notebook, but then save the later ones only into a file. There seems to be no documented way of doing that.

### Feature description

I suggest to allow `output_file(None)` to switch off file output and `output_note

[2021-11-21 13:24] mattpap commented on #11827
There is `curstate().reset()` that cleans up all state. However, it seems to me that all those modes should be mutually exclusive, so if `output_file()` was called after `output_notebook()`, it should reset notebook state.

[2021-11-21 17:57] ghomem commented on #11389
Thanks for looking into this @bryevdv . Would it be easier if the tooltip was associated with the plot, rather than the title? Perhaps it is the plot itself that needs an extra field that makes it self explanatory. I mean, the title of the plot is a condensed explanation of the plot, whereas this new field would be an expanded explanation, only visible upon user click on an "information" icon. No

[2021-11-22 14:01] hamogu commented on #11827
`reset_output` is documented very close to the location that I looked at: https://docs.bokeh.org/en/latest/docs/reference/io.html#bokeh-io-output
I must have just missed it; now that I know how it's called and where I should have looked, I think what you have in the docs right now is good enough. If I just can't read, it's my own fault, so I'm closing this. If other people run into the same thing

[2021-11-22 14:01] #11827 closed

[2021-11-22 14:39] yakpanda commented on #11806
@tcmetzger What do you mean PR?
@bryevdv Understand. That will be enough.

[2021-11-22 17:08] ABODFTW opened #11830 "[BUG] TypeError when customizing tools icon using PIL Image"
### Software versions

[code]

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

notebook: 6.4.5

### Expected behavior

Show the figure, along with the added tool, and render the custom icons instead of the default tool icon.

### Observed behavior

Code doesn't run, and raises a `TypeError: Object of type Image is not JSON serializable` more details in the

[2021-11-22 17:55] Lnk2past commented on #128
Any chance I could help support this? Has there been any progress on this feature? I am currently doing something hackish with `panel`/`hvplot` to animate some basic transitions, but would love to have this in `bokeh` out of the box. I will request an invite to the dev slack when I am home later if that is a more appropriate place to discuss.

[2021-11-23 04:31] tcmetzger commented on #11806
@yakpanda I was wondering if you are interested in implementing this idea (or further investigating possible implementations), as outlined by Bryan above and in https://discourse.bokeh.org/t/networkx-get-value-of-selected-node-and-adjacency-node/8618/2. You can find all information about contributing to Bokeh at https://docs.bokeh.org/en/latest/docs/dev_guide.html, including instructions on how to

[2021-11-23 05:46] florentbr opened #11832 "[BUG] Zoom-in failing with the `xzoom_in` tool"
### Software versions

Python version      :  3.9.7 (tags/v3.9.7:1016ef3, Aug 30 2021, 20:19:38) [MSC v.1929 64 bit (AMD64)]
IPython version     :  7.28.0
Tornado version     :  6.1
Bokeh version       :  2.4.0
BokehJS static path :  C:\Users\florent\AppData\Local\Programs\Python\Python39\lib\site-packages\bokeh\server\static
node.js version     :  v14.2.0
npm version         :  6.14.4

### Browse

[2021-11-23 06:15] bryevdv commented on #11832
This has to do with the interaction with the bounds. Here is a simpler MRE:
[code]

I expect this may be a floating point precision issue, e.g. when the y-bounds are exactly tight to the starting range, the x-zoom does something that violates the bounds constraint.

@florentbr for now your WAR is to slightly enlarge the bounds (or remove bounds entirely)

[2021-11-23 07:37] florentbr commented on #11832
@bryevdv,  thanks for the workaround.
There's probably more than a floating point since the bounds should only apply to the Zoom-out an not the Zoom-in.
I also noticed that the Zoom-out never zoom back to the full view.
Do you know where the code related to this feature is located ?

[2021-11-23 17:09] bryevdv commented on #11832
The thing about floating point precision errors is they often turn up where you would not expect them. Range management is some of the most complex, complicated, messy code in all of Bokeh. Ranges updates always have to consider both ranges together, to support features like data following, auto-ranging, and aspect ratio fixing. Any floating point calculation anywhere along the way that results in

[2021-11-23 18:37] bryevdv commented on #11507
I've thought about this some more. I do personally very much favor the structure above (split by language at the top level). I think it is the cleanest and most "correct" layout, without question. However, I am also pragmatic, and I think that breaking ~10 years of accumulated links to examples, etc. out in the wild (that can't be redirected) is bad for users in a way that cannot be justified mere

[2021-11-23 18:43] bryevdv commented on #11701
@tcmetzger any thoughts on where to put this?

[2021-11-24 03:51] tcmetzger commented on #11701
I could see a warning somewhere in https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html#build-and-install-locally.

Would it also make sense to output a warning to the console whenever `setup.py` is run? Something like "Caution: the BokehJS built by this process is only for local development purposes. If you plan to release Bokeh as part of your own package, make sure to use the published sd

[2021-11-24 05:05] florentbr commented on #11832
I tracked down the issue thanks to your information.

It cancels the zoom-in if the current range x or y is superior or equal to the bounds (min, max) :

https://github.com/bokeh/bokeh/blob/288de1348ffedabdf050e3254c500b886f08db41/bokehjs/src/lib/models/plots/range_manager.ts#L246-L247

Well, this means that it will never resize the x axis if the y axis is equal to the bound.

To fix it, I replace

[2021-11-24 07:51] mattpap commented on #11507
Seems fine me. I don't see this being very conflicting with existing PRs.

[2021-11-25 00:05] florentbr commented on #8827
I had the exact same need but noticed later that `datetime` doesn't work well with time deltas.
I managed to automatically format seconds as either `s` `ms` `µs` `ns` `ps` with a `FuncTickFormatter` :

[code]

[2021-11-25 00:34] #11637 closed

[2021-11-25 10:29] #11803 closed

[2021-11-26 09:38] florentbr opened #11838 "[BUG] incorrect scalling for the zoom-out tool"
### Software versions

Python version : 3.9.7
IPython version : 7.28.0
Tornado version : 6.1
Bokeh version : 2.4.0

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

Pressing the Zoom-out button should zoom out by 10% by default or by the provided factor.

### Observed behavior

The scalling resulting of a zoom-out does n

[2021-11-26 11:15] mosc9575 opened #11839 "[BUG] PanTool can't be deactivated in grid plot"
### Software versions

Python version      :  3.9.7 | packaged by conda-forge | (default, Sep 23 2021, 07:28:37)
IPython version     :  7.28.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /opt/conda/envs/development/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  v15.14.0
npm version         :  7.7.6
Operating system    :  Linux-5.10.0-8-amd

[2021-11-26 15:46] mosc9575 commented on #11839
Looks like this was a topic before in [#10107](https://github.com/bokeh/bokeh/issues/10107) with a following PR [#10095](https://github.com/bokeh/bokeh/pull/10095).

Therefor this might be a duplicate.

[2021-11-27 03:09] KEClaytor commented on #10919
@BenjaminPelletier same, I'm currently using HSL because I want to programmatically value lightness, I'm using the standard library [`colorsys`](https://docs.python.org/3/library/colorsys.html) to do the conversion; `c = bokeh.colors.RGB(*colorsys.hls_to_rgb(hue, 0, 1))` but then the call to `c.lighten(value)` converts it to `bokeh.colors.HSL` internally and throws the stream of errors anyway! I i

[2021-11-29 07:41] solstag commented on #9605
Ni! This has been an issue for me. I think it makes sense to update 'value' on all cases, be it selecting from the menu or pressing 'return'. The developer can keep track of changes of same value if they need to ignore those. But the other way around ain't true. That is, if I need to act on changes of same value I need bokeh to tell me about them.

I've bee working around this by setting 'value' b

[2021-11-29 16:05] #11640 closed

[2021-11-30 01:29] #10686 closed

[2021-11-30 01:30] bryevdv commented on #10746
Want to make sure this is decided for 3.0

[2021-11-30 03:19] bryevdv commented on #10534
I am not sure what the solution is. You can't just give a list that says "make the 2nd, 5th, an 10th" ticks bold, because panning, zooming, range changes, etc. can all change what ticks are in which positions. In general, at this point I would probably just punt on the idea of individual styles for dynamic ticks, but instead look into ways to let users explicitly specify extra styled ticks or axis

[2021-11-30 04:18] #11832 closed

[2021-11-30 10:14] cirnod opened #11845 "[BUG] color.darken() triggers BokehDeprecationWarning as it uses HSL related methods internally"
### Software versions

Python version      :  3.8.10 (default, Sep 28 2021, 16:10:42)
IPython version     :  (not installed)
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /home/xxx/.virtualenvs/test/lib/python3.8/site-packages/bokeh/server/static
node.js version     :  (not installed)
npm version         :  (not installed)
Operating system    :  Linux-5.4.0-90-gene

[2021-11-30 15:45] bryevdv commented on #10746
That confuses Sphinx

[2021-11-30 17:17] antoniomolram commented on #11629
Hi,

I still can see the performance issue. I was using 2.4.0 and now I just updated to 2.4.2. Still the performance is still poor. Is working but with a big amount of data the delay is really insane. @sistemicorp describe it quite well. I would like to let it open this issue until this performance issue is clarify

[2021-11-30 17:34] bryevdv commented on #11629
@antoniomolram I can't reproduce any issue with the original MRE in the OP, nor can I reproduce any issue with the 2300x130 heatmap MRE, which is why this issue was closed. If you are seeing an issue with some other usage pattern, please open a new issue referring to this one. But note it is absolutely necessary that you provide a complete [Minimal Reproducible Example](https://stackoverflow.com/h

[2021-11-30 17:45] bryevdv commented on #11629
For reference here is Bokeh 2.4.2 and the 300k point heatmap (OSX/Safari)

![ScreenFlow](https://user-images.githubusercontent.com/1078448/144099988-6f04279d-7432-4f23-93e8-be562a41b4bc.gif)

[2021-11-30 17:52] pietrea2 commented on #11571
Hello! I'm interested in working on this change.
How can I get started?

[2021-11-30 17:58] bryevdv commented on #11571
@pietrea2 The dev setup guide is here:

https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html

The relevant line in the current implementation is here:

https://github.com/bokeh/bokeh/blob/69c578373d8d7a0aced34c2493ae4b3a7f072959/bokehjs/src/lib/models/widgets/autocomplete_input.ts#L149

The task will be to add a new property to `AutoComplete` (Python and BokehJS sides) and then change the co

[2021-11-30 18:31] antoniomolram commented on #11629
hi, yes, is more an 4M points. But for me the interesting part is if a disable the hover is fine, I can zoom the data and is working fine. What maybe can be useful is an option to click the data and see the hover information instead of showing the data just moving the mouse around.

[2021-11-30 19:01] g-parki commented on #11845
Thank you @cirnod. As you noted, it looks like HSL is still used internally for both `lighten()` and `darken()`. These should be replaced with an RGB equivalent. I believe this is a pure Python issue, and the RGB methods already exist, so I'll mark it as a Good First Issue.
### Here's where the issue is first found, among other places in the same file:
https://github.com/bokeh/bokeh/blob/69c578373

[2021-11-30 19:19] bryevdv commented on #11629
You could implement a `CustomJS` selection callback to update a div or text/labels on the plot. I will state categorically that 4M points is out of scope for normal Bokeh usage and reiterate that Holoviews+Datashader is really probably a much better avenue at that scale.

[2021-11-30 20:24] g-parki commented on #11845
# Good first issue
This issue has been labeled “good first issue”. This means it should be especially well suited for new contributors.

In general, good First Issues are:
* Self-contained: only involving limited aspects of Bokeh and optimally only requiring changes to one or two files
* Easily explainable: A potential solution can be described without going too much into the details of how Bokeh

[2021-11-30 22:54] yanchenm commented on #11845
Hi I'd like to take a crack at this :)

[2021-12-01 13:39] philippjfr opened #11848 "[FEATURE] Add ability to provide custom CDN URL for bokeh extensions"
### Problem description

Bokeh extensions can either be served by the Bokeh server or fetch the extension CSS/JS from a CDN. Currently the CDN the extension is loaded from is hardcoded here:

https://github.com/bokeh/bokeh/blob/2cdfb28c30a91918253965eee6758a06224a2cb2/bokeh/embed/bundle.py#L319

Since unpkg is a free service it has no guarantees on speed or reliability (although it generally does

[2021-12-01 13:48] philippjfr commented on #11848
@mattpap Would love to hear your thoughts. My main worry here is that npm based CDN hosting services like unpkg and jsdelivr handle version resolution with caret (`^`) and tilde (`~`). I know we've moved away from using that for bokeh extension resources but if for whatever reason we want to support that again it seems difficult to support that with a custom CDN.

[2021-12-01 16:28] bryevdv commented on #10558
cc @bokeh/core I have fleshed out the draft of the BEP a the link above. I think it is ready for review/adoption. Please take a look and register any comments, or 👍 / 👎  here in a comment

👍 from me

[2021-12-01 18:11] ianthomas23 commented on #10558
@bryevdv My apologies, that was only a half-considered comment before I moved on to a meeting. I've actually read and understand it all now!

No, don't modify the historic information in the table, and numpy 1.18 seems a sensible choice for bokeh 3.0. So :+1: from me.

[2021-12-01 18:53] bryevdv commented on #10558
OK I think we already have enough agreement, but I will leave this open for another day in case anyone else wants to chime in. Otherwise I will plan to mark accepted and update the wiki tomorrow

[2021-12-01 21:58] tcmetzger commented on #11839
I was able to reproduce this with branch-3.0 (Ubuntu 20.04. Firefox and Chrome).

I only had to adjust the example slightly to avoid the error message from https://github.com/bokeh/bokeh/pull/11482:

[code]

[2021-12-02 00:52] gmerritt123 opened #11850 "Documentation nitpick re: EditTools"
### Software versions

N/A

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

Quick edit to documentation for EditTool (abstract class) https://docs.bokeh.org/en/latest/docs/reference/models/tools.html?highlight=tools#bokeh.models.EditTool

In public data attributes:

<html>
<body>

renderers | An explicit list of rendere

[2021-12-02 01:40] gmerritt123 opened #11851 "Mixing linear/log axis"
### Software versions

Python version      :  3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
IPython version     :  7.22.0
Tornado version     :  6.1
Bokeh version       :  2.3.2
BokehJS static path :  C:\ProgramData\Anaconda3\lib\site-packages\bokeh\server\static
node.js version     :  (not installed)
npm version         :  (not installed)

### Browser name and version

_No re

[2021-12-02 02:19] bryevdv commented on #11850
Actually looking more closely, I really think an even better solution is to remove `renderers` from the base class `EditTool` entirely, and instead have the edit tool subclasses define their own (more narrowly typed) `renderers` properties as appropriate. Then each tool could also have a help string that is specific to it.

The `EditTool` base never uses `this.renderers` AFAICT, instead there are

[2021-12-02 07:54] mattpap commented on #11851
You will need upgrade to bokeh 2.4 which supports this,

[2021-12-02 07:54] mattpap commented on #11851
This is a duplicate of issue #7217.

[2021-12-02 12:04] florentbr opened #11852 "[BUG] DataRange.renderers.append fails silently"
### Software versions

Python version : 3.9.7
IPython version : 7.28.0
Tornado version : 6.1
Bokeh version : 2.4.0

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

Calling `DataRange.renderers.append(item)` should append an item to the list.

### Observed behavior

The method is executed without error but the item is no

[2021-12-02 13:33] gmerritt123 commented on #11851
Was able to duplicate with 2.4.1 (my mistake for writing this issue on laptop/outdated env)

[2021-12-02 14:35] mattpap commented on #11852
The problem is again (see e.g. #11830) with composite property types, which don't propagate certain method calls. Removing `Either(...)` from `DataRange.renderers` and leaving only `List(GlyphRenderer)` "resolves" this issue.

[2021-12-02 15:09] gmerritt123 opened #11853 "Multiline hover_glyph "half" failing [BUG]"
### Software versions

Python version      :  3.7.10 | packaged by conda-forge | (default, Sep 13 2021, 19:12:52) [MSC v.1916 64 bit (AMD64)]
IPython version     :  7.29.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  C:\ProgramData\Anaconda3\envs\geo_env37v2\lib\site-packages\bokeh\server\static
node.js version     :  v16.12.0

### Browser name and version

Chrome

[2021-12-02 17:08] muendlein opened #11854 "[BUG] Unsupported title strings in TableColumn"
### Software versions

Python version      :  3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]
IPython version     :  (not installed)
Tornado version     :  6.1
Bokeh version       :  2.1.0

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

TableColumn titles should support and render any ASCII

[2021-12-02 17:49] bryevdv commented on #11851
switching to the left reveals that part of the log axis dispays, just the axis rule and nothing else (on either the right or the left)

<img width="608" alt="Screen Shot 2021-12-02 at 09 48 55" src="https://user-images.githubusercontent.com/1078448/144475966-abcae034-fd46-4a90-a1e6-79905c29a80e.png">

[2021-12-02 17:53] bryevdv commented on #11851
I've marked this as `regression` but I would like to state, again, that *personally* I would be fine simply disallowing mixed axis scales altogether.

[2021-12-02 17:54] bryevdv commented on #10558
<img width="348" alt="Screen Shot 2021-12-02 at 09 53 37" src="https://user-images.githubusercontent.com/1078448/144476683-3172a27b-5663-4ef8-8232-7bc8af6a9275.png">

and also from @ianthomas23 above.

I will mark as accepted now.

[2021-12-02 17:54] #10558 closed

[2021-12-02 18:07] bryevdv commented on #11853
I am pretty sure this is a duplicate of a fairly old bug about selections/inspections but I will have to go do some digging to find it later when I have time.

I am afraid I don't understand the comment about `$y`. That special formatter always (and only) displays the y-coordinate directly under the cursor (using the configured range for the inspected glyph), and seems to be behaving as intended a

[2021-12-02 18:17] bryevdv commented on #11853
Here are the old refs, I expect this issues is a duplicate of one or both of these:

* https://github.com/bokeh/bokeh/issues/7397
* https://github.com/bokeh/bokeh/issues/10441

Unfortunately I think this will not be simple to fix and will require a substantive re-design of how selections are handled in general, that will almost certainly involve breaking changes as well.

[2021-12-02 18:36] gmerritt123 commented on #11853
Thanks for looking into it. Honestly, it is mind boggling how awesome the multiline hover works in conjunction with other linked datasources on other plots (the power it gives me to tie transient and spatial data is just absurd)... but hey gotta always ask for more eh :-D

You probably already surmise this but this is directly relevant to my cross section tool/transient data showcase thing. Everyt

[2021-12-02 18:41] bryevdv commented on #11853
(in a bit of a rush just now but I meant to add, and want to agreed, current options all probably go through `CustomJSHover` since you can run actual JS code to do whatever you need at inspection time)

[2021-12-02 18:45] gmerritt123 commented on #11851
Just to add to the discussion on this, other features/options I can think of that would alleviate most of my use cases at least, that may or may not be easier to implement from a developer standpoint (I have no idea) include:

1) Implementing the ability to toggle between scales, (see https://discourse.bokeh.org/t/toggle-between-log-and-linear-scale/7150/2 )

2) Loosening the "zoom on all axes" re

[2021-12-02 18:54] gmerritt123 commented on #11853
Yup, the solution always ends up being "get better at JS"... that'll always be a work in progress...

[2021-12-03 00:30] theebank commented on #11845
If this issue is still open I'm gonna give it a try

[2021-12-03 01:29] yuji38kwmt opened #11855 "[BUG] If CSV contains "--", any data is not plotted"
### Software versions

Python version      :  3.9.7 (default, Oct  8 2021, 12:01:40)
IPython version     :  7.28.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /home/vagrant/.pyenv/versions/3.9.7/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  v16.13.0
npm version         :  8.1.0
Operating system    :  Linux-4.18.0-16-generic-x86_64-with-gl

[2021-12-03 01:37] bryevdv commented on #11855
@yuji38kwmt The content in the file causes Pandas to read in the `y` column as a string series:
[code]

That is a problem for you to handle with whatever data cleaning or sanitization is appropriate for your use case.

[2021-12-03 01:37] #11855 closed

[2021-12-03 01:46] yuji38kwmt commented on #11855
Thanks

[2021-12-03 12:21] philippjfr commented on #11855
@yuji38kwmt The issue tracker is for issues with the bokeh library. That said, if I load:

[code]

from CSV I get the exact same result as in your last screenshot. It's only this that does not work for me:

[code]

because it is missing the y values. Note I would recommend loading your csv with `pandas.read_csv(input_csv, na_values='--')`.

[2021-12-03 15:32] bryevdv commented on #11855
When you initialize from the dict, it is pandas that is behaving differently, not bokeh. You can answer these questions by actually examining the data frame and column types. Bokeh just plots the data it is given, in all cases.

Please take further usage questions to support forums, e.g the community discourse instance.

[2021-12-03 17:18] ianthomas23 commented on #11051
I have confirmed that the current mechanism to deal with NaNs in marker/rect coordinates in WebGL is fine. The NaNs, which cannot be reliably handled in WebGL shaders because of lower floating-point precision, are converted to large negative numbers (in pixel coordinates) and hence can never be rendered in the canvas which uses positive pixel coordinates starting at zero.

Hence closing item 6 of

[2021-12-05 15:20] jmollerhoj commented on #10654
+1 very much

[2021-12-05 19:28] cuevasm1 commented on #11765
I would like to contribute to this issue!

[2021-12-05 19:29] cuevasm1 commented on #11845
Me too

[2021-12-06 04:34] karen-poon commented on #11765
I'm new to open source. I'd like to give this a try!

[2021-12-06 12:35] ramanshah commented on #11765
So excited to see all the folks here <3

Quick Q for @tcmetzger regarding if/how I can help - when doing this at the sprint, I found the discoverability of the examples pretty tough, as they are embedded in a big directory tree intermixed with a lot of non-example `*.py` files. I spent a lot of time grepping the directory tree just to identify metadata candidates. I was thinking to hand-curate som

[2021-12-06 16:17] crystalmdsouza commented on #11806
Hi there! I would love to take a crack at this feature if it is still available! :)

[2021-12-06 17:59] bryevdv commented on #11765
Hi @ramanshah thanks for the comment, I've updated the top of the issue to make it clear that every `.py` script under the `examples/plotting/file` and `examples/models/file` subfolders should be good candidates (there are more besides those, but let's keep it simple to start).

Regarding a checklist, my main issue is just that there are ~200 files just in those two directories, I think a list tha

[2021-12-06 21:41] ramanshah commented on #11765
That simplifies things a lot: One can then crudely grep for completed examples as follows:

[code]

And for examples without metadata as follows:

[code]

By this count, we have 55 examples down and 85 to go in `branch-3.0`.

Having a nice shell recipe to wrangle these definitely seems nicer to me than maintaining an instantly stale checklist :)

[2021-12-06 21:50] #11355 closed

[2021-12-06 22:35] ghomem opened #11860 "[FEATURE] Improve mobile usability on Bokeh sliders"
### Problem description

I am fine tuning a Bokeh web application that we managed to make somewhat responsive and render rather acceptably on mobile devices. The week spot the mobile rendering is related to sliders:

* we can't adjust the font size (it it to small)
* we can't adjust the slider actionable are

Due to this, we need temporary zooming and very high thumb precision.

### Feature descri

[2021-12-07 01:10] tcmetzger commented on #11860
As Bryan has already pointed out on Discourse, this would be a useful improvement to the mobile UX!

[2021-12-07 01:18] Pranav143 commented on #9036
Hey folks! I see this issue is open but is there still a desire for this feature to be implemented? Or is this use-case already being taken of by the EdgesAndLinkedNodes() inspection policy (it certainly seems that way when running the example graphs.py) @bryevdv

[2021-12-07 06:28] axie1234 commented on #11845
I would also like to take a crack at this!

[2021-12-07 11:12] ItamarShDev opened #11862 "Ability to share BoxZoom between charts with GridPlot"
### Problem description

when creating charts with same x_range and columndatasource, shared BoxZoom wont work on all charts

### Feature description

Ability to share BoxZoom between charts with GridPlot

### Potential alternatives

using specific box zoom on each chart with shared range

### Additional information

_No response_

[2021-12-07 15:36] bryevdv commented on #11862
What dots this mean? What duff you try that didn't work the way you expected? Provide complete code?

[2021-12-07 17:35] bryevdv commented on #11845
Hi @theebank @cuevasm1 @axie1234 @yanchenm Thank you all for your interest. If the issue is still open on GH, and there is no linked PR, then no one has yet submitted any work for the issues. We can only accept one PR for this issue, so I'd encourage everyone here to be as courteous and transparent as possible (if you have local work-in-progress, an a submission is imminent, please state that, or

[2021-12-07 17:47] cuevasm1 commented on #11845
I’ve already fixed the issue and just doing the final unit test. Will be pushing shortly

[2021-12-07 21:50] Pranav143 commented on #11032
Hey @bryevdv, I'd like to take a stab at this issue if that's okay

[2021-12-08 00:08] axie1234 commented on #11032
I'm working with @Pranav143 on this one.

[2021-12-08 03:24] woocy50 commented on #11845
The above PR (#11865) was developed in tandum with @cuevasm1

[2021-12-08 04:55] bryevdv commented on #11032
@Pranav143 I think standard cursors e.g. `es-resize` and `ns-resize` will be fine. I think your general approach sounds fine but just note that it's possible to have multiple axes or no axes at all, and also the cursor change should only happen if there is an active pan tool that would actually respond to a drag on the axis (e.g. if there is only a `ypan` then hovering over the x-axis should have

[2021-12-08 11:01] ianthomas23 opened #11868 "Examples README.md files needs checking and updating"
Some of the `README.md` files in the `examples` directory and its subdirectories are out of date, so need checking and updating.

As an example, `plotting/README.md` contains
[code]
but there are no `notebook` and `server` directories.

[2021-12-08 12:25] ianthomas23 opened #11870 "Remove katex example, test and docs"
Now that we have LaTeX labels, etc, working, we no longer need to demonstrate the use of katex. There is an example, a test and some mentions in the docs about it.

I tried to remove it as part of PR #11869 when I converted the katex Bessel function example, but I ended up with a number of sphinx errors that I didn't understand so I am hoping that @tcmetzger might want to deal with this.

[2021-12-08 23:18] jennazch commented on #11571
Hi! First time contributor here, I was wondering where this feature is in the application? As in, where can we see this feature in the UI when we build and run it?

[2021-12-08 23:57] bryevdv commented on #11571
HI @jennazch Just for some preliminary context, Bokeh has a server component that can be run, but more than anything, Bokeh is a library, which means Bokeh is something other people use as part of *their* applications. We do often have example scripts or demos in the docs that show example usage of the library features.

However. the `Autocomplete` widget is maybe not one of the most commonly used

[2021-12-09 00:53] bryevdv opened #11875 "Make release build more robust to commit files"
cc @mattpap When you split up the BokehJS packages, the updated files also needed to be explicitly added to the task that commits changed files to the staging branch. Otherwise the repo state is dirty when the conda build happens, and then the expected package filename is not generated. (It took me almost half a day to track down why release builds were failing in CI). I made the necessary one-off

[2021-12-09 07:46] ruoyu0088 opened #11877 "ImageURL blinks when the datasource updated"
### Software versions

Python version      :  3.9.7 | packaged by conda-forge | (default, Sep 29 2021, 19:15:42) [MSC v.1916 64 bit (AMD64)]
IPython version     :  7.29.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  c:\mambaforge\lib\site-packages\bokeh\server\static
node.js version     :  v16.12.0
npm version         :  8.1.0
Operating system    :  Windows-10-10.

[2021-12-09 09:01] mattpap commented on #11877
Flickering like this is not unexpected with `ImageURL` glyph, as image loading from an URL is an asynchronous process, and bokehjs attempts to render partial results and images are fetched. This results in two render iterations in this case, one which clears the canvas and the other that renders the image. This could potentially be optimized, as we're dealing with data URL images with no external

[2021-12-09 17:28] #11352 closed

[2021-12-10 00:01] tcmetzger commented on #11870
I have started #11879 to address this. Demonstrating how to build extension examples per se might still be useful, just like testing this functionality as part of the examples tests. Therefore, I would not remove these examples but instead add a note to the respective Readme files and docstrings, linking to the math text section in the user guide.
However, if we decide that we can safely remove th

[2021-12-10 07:14] ruoyu0088 commented on #11877
The problem can be fixed by modify the for-loop in `_set_data()`:

https://github.com/bokeh/bokeh/blob/a72dc7687509eb98edd8be706c441d946bb9331c/bokehjs/src/lib/models/glyphs/image_url.ts#L54

[code]

[2021-12-10 08:32] #8346 closed

[2021-12-10 11:33] girolamodaschio commented on #11868
Good morning :)

Since I'm exploring Bokeh as a tool, I'm passionate about what are you doing here and generally, I'm in love with open source projects,

I'd like to contribute to the resolution of this issue in my spare time!

[2021-12-10 15:23] bryevdv commented on #8346
@ruoyu0088 why did you close the issue?

[2021-12-10 16:32] TheoMathurin opened #11881 "[FEATURE] Expose a file name parameter in SaveTool"
### Problem description

Hi,

As everyone knows currently the file name of plots saved with `SaveTool` is 'bokeh_plot.png'.

I've had use cases where this annoyed users, for instance when they save many plots for later use and want to know what variables or which parameters were used for a given plot. There are also several places [on](https://github.com/bokeh/bokeh/issues/6798) [the](https://stac

[2021-12-10 17:34] bryevdv commented on #11881
@TheoMathurin We can definitely consider a PR, but since there is some question, the more documented behavior we can have on different platforms, the better.

Also, to be honest, a file name property seems like a marginal improvement that won't help much for standalone (non-server) cases, since it would only be possible to update the name from JavaScript, after initial configuration. I think the i

[2021-12-10 17:41] bryevdv opened #11882 "Rename server.start to server.install"
ref: https://stackoverflow.com/questions/68969251/bokeh-server-start-not-showing-anything/68975581#68975581

One example of confusion linked above. The `Server.start` method merely installs Bokeh callbacks on an event loop, it does not start anything.  Propose to rename `start` to `install` to more accurately reflect what the method does, and add back a deprecated `start` method that delegates to

[2021-12-10 17:43] g-parki opened #11883 "BokehJS-CI test failure in windows-latest"
This starting popping up yesterday in all BokehJS-CI runs.

Currently fails:
#11864
#11880
#11878

![image](https://user-images.githubusercontent.com/61096711/145617135-b9a1f60e-928d-4eb4-850d-582262f1e7a6.png)

[2021-12-10 17:54] g-parki commented on #11883
I'm on my work computer so I can't investigate ATM, escalating to @bokeh/dev

[2021-12-10 18:06] mattpap commented on #8346
It's fixed (most likely in 2.4), but still a regression test would be in order.

[2021-12-11 01:16] Pranav143 commented on #11032
@bryevdv So right now I'm working solely inside ui-events.ts to deal with the user's mouse interactions with a canvas. I noticed that whether general panning is selected, or xpan, or ypan, that it's all just grouped under the "pan" gesture. Do you know how to get the specific type of panning that is selected (or at least where I can look in the codebase?)

Another question I have is about axes. Do

[2021-12-11 15:38] sirinath opened #11885 "[FEATURE] Better Handling of Missing or Irrelevant Data Ranges"
### Problem description

When certain data ranges does have data the charts appear broken. This in some cases might be desirable so that linearity or scaling of the axis are maintained but not in some. So it is possible to add support to these cases.

### Feature description

Want to have the ability to:
- large ranges of missing data (time periods data was not collected)
- systematic missing data

[2021-12-11 16:16] bryevdv commented on #10007
Now that module getattr is an option its possible DATETIME_TYPES could even be handled without any breaking changed. Triaging to 3.0 to at least experiment.

[2021-12-12 02:33] bryevdv commented on #11885
This is duplicate of https://github.com/bokeh/bokeh/issues/11593

I will (re-)state that I think the "day-index" based solution described in #11593 is the only possible avenue for Bokeh, since Bokeh is extremely general-purpose, supports interactive range updates via user interactions, and can have dynamic and streaming data updates. Making broken axes possible with arbitrary continuous scale such

[2021-12-12 02:33] #11885 closed

[2021-12-12 02:37] bryevdv commented on #11862
I'm going to go ahead and close this. @ItamarShDev we can consider re-opening if you can provide a much more detailed description of what you want to propose.

[2021-12-12 02:37] #11862 closed

[2021-12-12 04:44] karen-poon commented on #11481
My friend and I decided to take an action on making Bokeh more usable by adding two new palettes for people with color vision deficiencies! Have just submitted a PR. Looking forward to your feedback :)

[2021-12-12 07:10] sirinath commented on #11593
Need to have:
- weekends
- closed hours
- holidays

So:
- weekends and closed hours can be specified as recurring
- holidays can be specially specified

[2021-12-13 08:42] #11883 closed

[2021-12-13 09:55] xblahoud commented on #9568
Are there some plans to address this issue?

[2021-12-13 10:11] TheoMathurin commented on #11881
Alright I can make sure the tool behaves as intended on IE and Chromium-based browsers such as Opera or Brave.

As for the non-server mode—for instance in a notebook—currently the tool as an inline extension works the same as in server mode. In either case if you modify the save_name attribute from python after a plot is created, it will not be taken into account, but it will in plots created afte

[2021-12-13 16:55] bryevdv commented on #9568
@xblahoud we had hoped someone new would take up this issue, but that has not been the case. I will triage for review in ` branch-3.0` but given there is a mitigation (set nans->zeros before passing to Bokeh) it is not the highest priority. We may also just go the MPL route and start raising an error if there are nans in stackers.

[2021-12-14 00:52] #11806 closed

[2021-12-14 00:57] #11877 closed

[2021-12-14 01:17] tcmetzger opened #11895 "Update extension examples"
Now that Bokeh includes support for rendering LaTeX, the old extension examples using Katex were misleading and removed in PR #11894. This means that we now need new examples to demonstrate how to create a wrapped extension (following the general idea of the removed examples but avoiding LaTeX or Katex).
Once we have those new examples, the unit test in `tests/unit/bokeh/embed/latex_label/` also n

[2021-12-14 04:04] #11870 closed

[2021-12-14 05:53] bryevdv commented on #11881
No, I was proposing improving the existing tool directly. Being able to to specify the name at save time has definitely been asked before, and at least IMO, is what would make the tool truly useful.

[2021-12-14 19:42] terryluan12 commented on #11765
Hey I'm new to open source, and would like to also give this a try! Going to try to work on  `examples/models/file/widgets.py` and `examples/models/file/twin_axis.py`!

[2021-12-14 21:33] tcmetzger commented on #11765
Hi @terryluan12 and @jean1122! Welcome to Bokeh, thank you very much for your help! Let me know if you have any questions or get stuck.
@jean1122 please leave a quick comment here when you have found an example you'd like to work on, thank you! 😀

[2021-12-14 21:57] jean1122 commented on #11765
I would like to work on `examples/plotting/file/color_data_map.py` and `examples/plotting/file/grid.py`

[2021-12-14 22:37] axie1234 commented on #9036
I'll be working with @Pranav143 on this issue.

[2021-12-14 23:09] bryevdv commented on #9036
@axie1234 Let's pause one tick, I want to make sure this is not already done? How is the ask here different from the existing `EdgesAndLinkedNodes` ?

[2021-12-15 07:51] jyoung0519 commented on #11765
I would love to give this a shot and do `examples/plotting/file/airports_map.py`!

[2021-12-15 15:49] tcmetzger commented on #11353
Closing this with https://github.com/bokeh/bokeh/pull/11513. There is now also a new GFI template in the wiki to help in this regard: https://github.com/bokeh/bokeh/wiki/Good-first-issue-template

[2021-12-15 15:49] #11353 closed

[2021-12-15 15:51] tcmetzger commented on #11356
Closed with https://github.com/bokeh/bokeh/pull/11858 and https://github.com/bokeh/bokeh/pull/11869, among others.

[2021-12-15 15:51] #11356 closed

[2021-12-15 15:54] tcmetzger commented on #11357
This is closlosed with https://github.com/bokeh/bokeh/pull/11668, https://github.com/bokeh/bokeh/pull/11660, https://github.com/bokeh/bokeh/pull/11859, and others.

[2021-12-15 15:54] #11357 closed

[2021-12-15 15:56] tcmetzger commented on #11358
This is closed with https://github.com/bokeh/bokeh/pull/11815, https://github.com/bokeh/bokeh/pull/11708, https://github.com/bokeh/bokeh/pull/11695, https://github.com/bokeh/bokeh/pull/11636, and several others.

[2021-12-15 15:56] #11358 closed

[2021-12-15 15:59] #11359 closed

[2021-12-15 17:06] bryevdv commented on #10007
With #11891 initial import times are down to ~350ms (from >1 s before) which is probably about the best we can do as long as numpy is an unconditional import (and I don't see a way to avoid that)

[2021-12-15 17:18] #11845 closed

[2021-12-15 17:40] bryevdv opened #11897 "Process example metadata for all examples"
Currently example metadata is only processed and rendered for the subset of examples that are included in the gallery. One long term goal with the metadata was to have a standalone, indexable page for *every* example, even ones not prominently on display in the gallery. With more new contributors pitching in for https://github.com/bokeh/bokeh/issues/11765 it is becoming more pressing to get that w

[2021-12-15 20:30] axie1234 commented on #9036
@bryevdv This feature is different from `EdgesAndLinkedNodes` as it shows the connected edges and the adjacent nodes for a particular node, which shows more information than `EdgesAndLinkedNodes`.

[2021-12-15 20:33] bryevdv commented on #9036
@axie1234 how so? I think the "linked" in `EdgesAndLinkedNodes` is synonymous with "adjacent". What, precisely, would be different?

[2021-12-15 20:50] axie1234 commented on #9036
@bryevdv I believe that `EdgesAndLinkedNodes` is to highlight the nodes connected to a selected edge. This allows us to highlight the connected edges and adjacent nodes connected to the edges when a node is chosen.

[2021-12-15 21:04] bryevdv commented on #9036
@axie1234 `EdgesAndLinkedNodes` clearly sets two selections, one on the node source, and one on the edges source:

https://github.com/bokeh/bokeh/blob/b2d8c0abddb8464ce8dc200629274d0855c02236/bokehjs/src/lib/models/graphs/graph_hit_test_policy.ts#L255-L260

As I would expect from the "and" in `Edges*And*LinkedNodes`. We need to understand how a new policy would differ, exactly, and then whether th

[2021-12-15 21:07] bryevdv commented on #9036
@axie1234 I think what was missing is perhaps that `EdgesAndLinkedNodes` is (only?) useful for hit testing on edge renderers? I now think we have some naming/design issues to consider. I have to run just now but I will reply more at lenght later.

[2021-12-15 21:55] mehrsan78 commented on #11765
I would like to work on examples/plotting/file/linked_brushing.py

[2021-12-15 21:59] AmyyyCao commented on #11765
I'd like to work on examples/plotting/file/tile_source.py

[2021-12-16 11:53] girolamodaschio commented on #11868
I'm in the hope that the commits are found useful,
Happy to receive feedback and edit what I've done.
Ciao!

[2021-12-16 18:27] #11811 closed

[2021-12-17 11:54] xblahoud commented on #9568
Thanks @bryevdv

I believe that at least raising an error would be a nice thing to do. For me, it took some time (and cross-verification with another plot) to find out that I miss half of the data in one column.

The mitigation can be advised in the error message.

[2021-12-19 08:22] ItamarShDev commented on #11862
Let's say i take the code example from [Linking docs](https://docs.bokeh.org/en/latest/docs/user_guide/interaction/linking.html#linked-panning):
[code]

Now i want to add X axis BoxZoomTool.

If i try:

[code]
I will get the following behavior, where the box zoom only works on the first chart:
[video of the behavior](https://user-images.githubusercontent.com/953371/146668405-2b3ca4fe-d92d-49a3-894

[2021-12-19 09:10] mattpap commented on #11862
The default `BoxZoomTool` interferes with the new one when used in a grid (proxy) toolbar. Remove the default tool and the new one will work as expected. Proxy toolbar is a very naive and fragile piece of bokehjs, and will be redesigned for 3.0.

[2021-12-19 19:47] EfremBraun opened #11908 "[FEATURE] remove_tools() function for plots"
### Problem description

I would like to interactively add and remove tools from my plot depending on the user selection (my specific case is that at a specific step in the program, I want the user to be able to use the PointDrawTool to add/remove/move points from the graph; other than at that step, I don't want the user to be able to do this).

I can use the `add_tools()` to add tools interactive

[2021-12-20 16:18] jangop opened #11909 "Documentation contradicts itself with regards to markers, Scatter, and Circle"
### Software versions

Bokeh: 2.4.2

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

Documentation on markers.

### Observed behavior

The [documentation on markers](https://docs.bokeh.org/en/latest/docs/reference/models/markers.html) reads:

But, only a few lines down, it says:

As such, the warning tells us *not* to u

[2021-12-21 22:53] g-parki commented on #11908
I agree with you on that. Low priority, but I'll go ahead and work on it. I see tests are missing for `add_tools()` as well, so this is a good time to add them.

[2021-12-21 22:59] mattpap commented on #11908
`Plot.add_tools()` is historical artifact and a side effect of tools requiring a back reference to a plot, and not having collection wrappers. Both issue were addressed, so currently one may as well use `plot.toolbar.tools.append()`. This will be even simpler when issue #3819 is resolved (then it will be `plot.tools.append()`). Sill, as long as we keep `add_tools()`, we may add `remove_tools()` fo

[2021-12-21 23:04] mattpap commented on #11909
`Circle` model is a glyph, not a marker, so it wasn't deprecated. The documentation is both correct and misleading at the same time about this special case (one reason why we are dropping marker models in favour of `Scatter` glyph). Things get even more confusing if we add `Figure`'s glyph methods into the picture, because `Figure.scatter()` allows for `marker="circle"` and `radius`, producing `Cr

[2021-12-21 23:05] mattpap commented on #11909
We may want to fix this if we are going to release 2.4.3. Otherwise, deprecated marker models and related documentation were removed in `branch-3.0`.

[2021-12-22 03:56] appletonbrian opened #11910 "[BUG] LabelSet labels do not show up for bar chart"
### Software versions

Python version      :  3.8.11 (default, Aug  3 2021, 15:09:35)
IPython version     :  (not installed)
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /home/brian/.conda/envs/myenv/lib/python3.8/site-packages/bokeh/server/static
node.js version     :  (not installed)
npm version         :  (not installed)
Operating system    :  Linux-4.15.0-162-

[2021-12-22 08:24] mattpap commented on #11910
Use:
[code]
Otherwise, `"2015"` is interpreted as a column in the data source. Though there should be a warning that the column is missing, to give you at least some feedback.

[2021-12-22 17:00] appletonbrian commented on #11910
Making that change produces:

<img src="https://i.imgur.com/8Yncy5o.png">

Which is not the desired behavior; see "Expected Behavior" above. I believe `'2015'`, `'2016'`, and `'2017'` are indeed supposed to be interpreted as columns in the data source, because the intent is for each column to be labeled with its y-value.

[2021-12-22 17:16] appletonbrian commented on #11910
The problem seems to be a string conversion issue. `data['2015']` is a list of integers, whereas I suppose the `LabelSet` argument `text` is looking for a string or list of strings. To work around this, I added another key in the `data` dictionary `'2015_labels'` containing strings and used `labels15=LabelSet(..., text='2015_labels', ...)`. Results below.

It would be helpful if my initial incorre

[2021-12-22 19:53] g-parki opened #11911 "bokehjs test connection failure under nodejs 17"
I've run into `CRITICAL ERROR: Error: connect ECONNREFUSED ::1:9222` on both my MacOS and Windows 10 machines when I run the bokehjs unit tests. I rebuilt the dev environment, but the issue remains. I'm not sure if this is a "me" thing or not - can a @bokeh/dev attempt to replicate please?
Otherwise, any ideas?

[code]
Output:
[code]

[2021-12-22 21:01] mattpap commented on #11911
It looks like there's a mixup between ipv4 and ipv6 addresses. Is this a new issue? Perhaps you've updated chromium recently? Or maybe you have a very new (and possible incompatible) nodejs? Let's start with some version numbers the clear out the obvious sources.

[2021-12-22 21:05] g-parki commented on #11911
Whoops, meant to paste this in:
[code]

[2021-12-22 21:07] mattpap commented on #11911
Downgrade nodejs to 16 and it should work again.

[2021-12-22 21:12] mattpap commented on #11911
It looks like starting with nodejs 17, ipv6 is preferred over ipv4. I'm guessing you can try using `NODE_OPTIONS=--dns-result-order=ipv4first` with 17.

[2021-12-22 21:23] g-parki commented on #11911
Yep, that's it.

https://github.com/bokeh/bokeh/blob/0ef16000dc6b6e0961101c3c191e5690d20e7fb0/environment.yml#L45
What do you think about capping the node version in `bkdev`? `nodejs >=14, <17`

[2021-12-22 21:31] mattpap commented on #11911
Possibly, at least until a solution is devised. I'm pretty sure preference for ipv6 isn't going away in 18, so we need to figure out how to deal with this properly.

[2021-12-26 19:59] xaptronic commented on #10424
@quentinmit did your solution to this include any custom JS? I ran into the same problem and resolved it by creating a new python model with what is basically a copy of the Toggle javascript, but including triggering a ButtonClick event

[2021-12-27 18:46] gengjun commented on #11593
hi just another possible use case: in finance, you will also have situation where trading hours is not full 24 hours per day, for example, you will have regular market data from 9:30am ET to 4pm ET. when plotting a chart with one week period and prices in every minute, without this feature, you will see gaps due to both none regular hours of each trading day and weekends.

[2021-12-29 18:42] #11908 closed

[2021-12-29 18:50] #11868 closed

[2021-12-29 19:46] EfremBraun commented on #11908
Thanks!

[2021-12-29 23:20] EfremBraun opened #11916 "[BUG] Setting a plot's active tool triggers a time-consuming call to recompute_all_models()"
### Software versions

Python version      :  3.9.6 | packaged by conda-forge | (default, Jul 11 2021, 03:36:15)
IPython version     :  7.26.0
Tornado version     :  6.1
Bokeh version       :  3.0.0dev1+95.ga129565f0
BokehJS static path :  /Users/edbraun/opt/anaconda3/envs/bkdev/lib/python3.9/site-packages/bokeh-3.0.0.dev1+95.ga129565f0-py3.9.egg/bokeh/server/static
node.js version     :  v16.6.1

[2021-12-29 23:29] EfremBraun opened #11917 "[FEATURE] Be able to set active tool by passing the string name of the tool"
### Problem description

When I want to programmatically set an active tool, per https://docs.bokeh.org/en/latest/docs/user_guide/tools.html#setting-the-active-tools, I need to give a `Tool` instance. However, since tools are mainly specified via something like `plot = figure(tools="pan,wheel_zoom,box_zoom,reset")` (per https://docs.bokeh.org/en/latest/docs/user_guide/tools.html#specifying-tools),

[2021-12-30 00:54] bryevdv commented on #11916
Just FYI the example has 400 *figures*, which means easily >5000 individual models.

I agree the re-computation should really only happen when models are added/deleted from the Document. With the MRE it will be easier to investigate whats causing the over-aggressive invalidation.

[2021-12-30 17:56] mattpap commented on #11916
I've been investigating an alternative approach since PR #11828.

[2021-12-30 21:44] #9757 closed

[2021-12-31 00:51] xaptronic commented on #8608
Similarly to and inspired by the above comment, I have a little hack that hooks into the websocket prototype and adds a close event wrapper which simply automatically refreshed the page - primarily using this in development where I am making changes and then testing and it saves me having to manually reload the page.

I put this snippet in the `preamble` section of my `index.html` template:
[code]

[2021-12-31 06:20] xaptronic commented on #11852
A way around this issue:
[code]

[2021-12-31 10:16] #8332 closed

[2022-01-01 22:20] PeterW-3E opened #11924 "[BUG] Incompatibility with Django 4.0"
### Software versions

Python version      :  3.9.2 (default, Feb 28 2021, 17:03:44)
IPython version     :  7.20.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /usr/local/lib/python3.9/dist-packages/bokeh/server/static
node.js version     :  (not installed)
npm version         :  (not installed)
Operating system    :  Linux-5.10.0-9-amd64-x86_64-with-glibc2.31

##

[2022-01-03 18:34] #8364 closed

[2022-01-05 03:51] schiebel commented on #10490
I am also interested in this capability. Is it possible to derive from `BoxAnnotation` or `PolyAnnotation` and add code which will emit mouse events?

I would like for the user to be able to draw an annotation (for this I use the lasso tool) and then be able to drag the annotation around. Thanks in advance...

[2022-01-05 18:50] joshuadavidson commented on #10658
For those using `@bokeh/bokehjs` inside of a Vue project utilizing Vue CLI, you can work around this issue by adding the following option to your `vue.config.js`:
[code]
Normally Vue CLI does not transpile `node_modules` content. By setting this option you are forcing the Vue CLI to use babel-loader on the named packages. See [Vue CLI docs](https://cli.vuejs.org/config/#transpiledependencies) for

[2022-01-05 20:24] gmerritt123 commented on #9448
I've made a post with another question/hurdle regarding this on the discourse: https://discourse.bokeh.org/t/template-theme-text-font-putting-it-all-together/8777 , happy to discuss here or there/whatever's most appropriate etc.

[2022-01-05 20:48] joshuadavidson commented on #10658
Well, I was able to get it to compile using Vue CLI using above but only to be met by this issue: #10925 and #10497. 😢

[2022-01-05 20:49] joshuadavidson commented on #10497
Confirming that this issue remains with v2.4.2 installed via npm in a Vue CLI project.

[2022-01-05 20:59] muendlein commented on #11854
Any update on this issue?

[2022-01-05 22:40] bryevdv commented on #11854
@muendlein Please provide a complete [Minimal Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example) as requested in the template. Lack of a complete MRE is a heavy motivating factor for issues not receiving attention.

[2022-01-05 22:44] bryevdv commented on #11924
@PeterW-3E I have to be up front and say I don't know when or even if Bokeh's Django integration will be re-visited. The best case-scenario for continued support in the future is if someone with Django experience, who uses Django regularly and know what kind of integration would be ergonomic to Django users, decides to become a contributor, and help maintain this corner of Bokeh.

[2022-01-06 09:34] arian-f opened #11930 "[BUG] major_label_overrides are not applied if the overrides are float but the original labels are int"
### Software versions

Python version      :  3.9.7 (tags/v3.9.7:1016ef3, Aug 30 2021, 20:19:38) [MSC v.1929 64 bit (AMD64)]
IPython version     :  7.30.1
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  C:\Users\user\AppData\Roaming\Python\Python39\site-packages\bokeh\server\static
node.js version     :  (not installed)
npm version         :  (not installed)
Operatin

[2022-01-06 10:34] mattpap commented on #11930
This happens, because `dict` is serialized as JS plain objects, so keys become strings. In upcoming bokeh 3.0 we will fix this by serializing `dict` as JS `Map`.

[2022-01-06 10:49] philippjfr commented on #11924
There's interest from the folks that originally funded the work on the Django support to potentially move the Django server layer into a separate repo and update it to support recent Django versions. I'll try to arrange a meeting with the stakeholders in the next couple of weeks. Ping @sdc50

[2022-01-06 10:51] mattpap commented on #11917
So, saying `plot.toolbar.active_drag = 'pan'` would mean to activate by tool type rather than name, because we could have e.g. `PanTool(name="this_specific_pan_tool")` and then say `plot.toolbar.active_drag = 'this_specific_pan_tool'`. I suppose both could be implemented one way or the other, though the later can be already achieved with lengthy `plot.toolbar.active_drag = curdoc().select_one(dict

[2022-01-06 14:43] EfremBraun commented on #11917
The issue with `plot.toolbar.active_drag = curdoc().select_one(dict(name="this_specific_pan_tool"))` is that it can't be done if the tool was initialized via `plot = figure(tools="pan,wheel_zoom,box_zoom,reset")`, since then the tool wouldn't be able to be given a name. So I think the former way of doing it would be preferable.

The only counter-argument I can think of would be if there would be a

[2022-01-06 16:09] muendlein commented on #11854
MRE should be complete now, also tested with 2.4.2

[2022-01-06 17:25] #9448 closed

[2022-01-06 17:32] bryevdv commented on #11924
Ideally work would proceed along lines that further separates the protocol from the transport, so that using the Bokeh protocol is reasonably simple and similar regardless of whether it is used over a websocket or channels (or even long polling)

[2022-01-06 17:51] bryevdv commented on #11917
@mattpap I definitely interpret the OP usage of "name" to mean "type name", e.g. tool aliases like "pan", which I think @EfremBraun has now also clarified.

I don't love this, for a few small reasons, but would not reject it outright. The main awkwardness IMO revolves around tool aliases like "xpan" which represent a PanTool but with a specific configuration. There aren't any great options AFAICT

[2022-01-06 17:59] bryevdv commented on #11854
@muendlein as a workaround, you can do this:
[code]

cc @mattpap not sure offhand if an HTML escape is missing on our end or SlickGrid's (or perhaps escaping should be documented as a user responsibility)

[2022-01-06 18:28] EfremBraun commented on #11917
IMHO, since the third option is what's also done when a figure's tools are specified in the `figure(tools=...)` call, it would work in this case as well. However, the last idea mentioned sounds fine to me as well.

[2022-01-06 19:39] mattpap commented on #5269
Support for collecting various metrics (including memory consumptions, number of DOM nodes, CSS paint and layout frequency, etc.) was added in PR #11195. Currently this is for informational purpose and no limits were established.

[2022-01-06 19:43] #6031 closed

[2022-01-06 19:48] mattpap commented on #6574
A new set of examples was added under [bokehjs/test/integration/examples](https://github.com/bokeh/bokeh/tree/796ac4803ae500c9d17b36b5751746472e5a3705/bokehjs/test/integration/examples) across multiple recent PRs. Those examples are under visual tests, the same as we use for visual integration testing.

[2022-01-06 19:48] #6574 closed

[2022-01-06 20:01] mattpap commented on #7356
This issue isn't relevant anymore as we don't image diff test examples anymore. Short status report is provided by pytest at the end of the log, so it's easy to know the extent of the failure and locate failing examples within the log.

[2022-01-06 20:01] #7356 closed

[2022-01-06 20:45] bryevdv commented on #11917
Actually this reminds me that you can in principle add e.g. xpan and ypan (and even a plain pan, I think) all together. So in the extreme case, using the type is not sufficient to pick which to activate. However, in the common case, not being able to just say "pan" when there is actually only a single "xpan" would be fragile and frustrating. I have to say the more I think about it the more I am 👎

[2022-01-06 20:50] EfremBraun commented on #11557
Just FYI, I think this issue is ready to update and hopefully close since a new version of SlickGrid was released a while back with @g-parki's changes.

[2022-01-06 21:53] bryevdv commented on #11917
FYI currently this should be possible:
[code]
I am inclined to just leave things at that, in order that the `select_one` is an explicit choice. In case there are multiple pan tools, I would not want to hide/be responsible for that choice.

[2022-01-06 22:13] EfremBraun commented on #11917
Ah, that works very well. Much better alternative to `plot.toolbar.active_drag = plot.toolbar.tools[2]`. I see no reason to change things either with that being possible, so I'll go ahead and close this.

[2022-01-06 22:13] #11917 closed

[2022-01-07 00:32] bryevdv commented on #10804
Changing title as this affects PNG export as well (I believe this was previously known in the PR comment) An MRE for PNG export can be found here: https://discourse.bokeh.org/t/theme-for-both-show-and-export-png/8774

[2022-01-07 00:49] bryevdv commented on #10804
We should probably try to fix this for 3.0

[2022-01-07 15:50] xavArtley opened #11936 "[BUG] Model property changed from int to bool"
### Software versions

Python version      :  3.8.6 (tags/v3.8.6:db45529, Sep 23 2020, 15:52:53) [MSC v.1927 64 bit (AMD64)]
IPython version     :  7.24.1
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  C:\Users\xa235208\Documents\Python\pyenv\py38\lib\site-packages\bokeh\server\static
node.js version     :  v14.15.1
npm version         :  7.10.0
Operating system

[2022-01-07 16:07] xavArtley commented on #11936
The problem is from python wich evaluate (1 == True) to true

[2022-01-07 16:32] bryevdv commented on #11936
I don't think it is changing the value, I think the default value 1 and True are comparing equal, so no update from the default value ever actually happens. Compare:
[code]

[2022-01-07 16:36] bryevdv commented on #11936
Offhand I am not sure what we can do about this. Perhaps we can make a `StrictBool` that also compares the type and not just the value and would fail for "1 == True". But it would be necessary for users to know to use `Either(Int, StrictBool)` since I don't think deviating the behavior of `Bool` from standard Python is going to be advised,

[2022-01-08 07:12] #7390 closed

[2022-01-08 14:11] mauropu opened #11940 "[FEATURE] DataTable with date: In total the date column has NaN-Nan-Nan instead of a space"
### Problem description

When adding a total to a DataTable that contains a column with dates, a NaN-Nan-Nan always appears in the final total

### Feature description

I wish I could indicate a blank as the total of the date column.

### Potential alternatives

.

### Additional information

This is the examples

[code]

![DataTable](https://user-images.githubusercontent.com/33205885/148647341-9d

[2022-01-10 09:15] xavArtley commented on #11936
Shouldn't be more in Either may be to add a new keyword as check_types ?

[2022-01-10 10:11] mattpap commented on #11936
I was hoping that mypy would make a clear distinction between `bool` and `int`, but apparently (I suppose I shouldn't be surprised about this) not:
[code]
for which `mypy` produces:
[code]
In TypeScript all six statements would be an error.

[2022-01-10 10:21] mattpap commented on #11936
Given that bokehjs' types are the source of truth, bokeh's property types should act accordingly. In this case, bokehjs will make a distinction between a boolean and numerical values. Thus to me this issue is a bug, and in `Either` we have to make sure that both a value and a default belong to the same type parameter, before we compare them.

[2022-01-10 10:24] mattpap commented on #11936
Also, btw.:
[code]

[2022-01-10 17:44] Harsh-31 commented on #11940
Can I solve this issue ? Can you assign me this ?

[2022-01-10 19:36] Harsh-31 commented on #11940
from datetime import date
from random import randint
import pandas as pd
import numpy as np
from bokeh.models import ColumnDataSource
from bokeh.models.widgets import DataTable, DateFormatter, TableColumn
from bokeh.io import output_file, show
output_file('data_table.html')

#Define the data
dataFrame = pd.DataFrame({'names':[chr(i+65) for i in range(9)],
'dates': [date(2014, 3, i+1) for i in rang

[2022-01-10 20:06] bryevdv commented on #11940
Hi @Harsh-31 that is not a resolution to this issue, your output has dropped the "J" row entirely. That is not the goal, the goal is to still display the row, but do so with better formatting.

Can you confirm that all you did is add `nan_format=""` to the `DateFormatter` ? If so I think there may actually be a bug as well, since I would not expect that to delete the row from the output.

[2022-01-10 20:42] mauropu commented on #11940
Hi
I have test the solution and add to my code
DateFormatter(nan_format="")
I think that all work very fine
I see 10 rows
Thanks Thanks Thanks
![Image2](https://user-images.githubusercontent.com/33205885/148836263-cd3c68ab-5e97-4ab7-8dac-6f8d919f353f.jpg)

[2022-01-10 20:47] bryevdv commented on #11940
Oh it looks like you generated one less row `range(9)` in your original code.

After having a chance to study the OP more closely, there is not actually any issue or bug at all here. @mauropu summing datetimes is not really a reasonable operation, which is why you re seeing a nan value. However, I think the current default behavior, i.e. displaying nans as nans, is entirely appropriate. It is poss

[2022-01-10 20:47] #11940 closed

[2022-01-11 00:39] ramanshah commented on #11765
68 down, 75 to go, almost halfway there yay!

[2022-01-11 07:30] maximlt opened #11946 "Re-rendering a layout causes menus to be removed from DOM"
### Software versions

Python version      :  3.7.11 (default, Jul 27 2021, 07:03:16)
IPython version     :  7.27.0
Tornado version     :  6.1
Bokeh version       :  2.4.1
BokehJS static path :  /Users/mliquet/miniconda3/envs/panel-dev37/lib/python3.7/site-packages/bokeh/server/static
node.js version     :  v17.0.1
npm version         :  8.1.0

### Browser name and version

_No response_

### Jupy

[2022-01-11 08:35] #11623 closed

[2022-01-11 09:47] maximlt commented on #11946
I'd be happy to work on this bug, although I would need some pointers since I couldn't quite figure out what is not working as expected.

[2022-01-11 09:55] mattpap commented on #11946
I will handle this as a part of the layout work (PR #11915).

[2022-01-11 10:09] sbancal commented on #5355
I prepared a [Codepen](https://codepen.io/sbancal/pen/LYzgGgW) to illustrate the bug I get ... but it finally proves the problem is somewhere else because I don't get these Bokeh plots remaining in that demo.

[2022-01-11 11:42] maximlt commented on #11946
Great thanks!

[2022-01-11 18:23] bryevdv commented on #11946
@maximlt We would love to have your contribution in other areas, however, please feel free to ping or ask about any other issues!

[2022-01-11 18:43] bryevdv commented on #9182
@xaptronic I'd be very happy to, can I use the email on your GH to invite you to the Bokeh dev Slack instance? That's a good place for async Q&A etc.

As a very quick, very high level summary, the main sticking point with adding this: unlike almost all other glyphs, these three are not "vectorized". You supply an array of coordinates, yes, but because of the connected topology, there is only *one*

[2022-01-11 21:05] xaptronic commented on #9182
Yes please! I submitted a slack invite a few days age using my GH email.

[2022-01-11 22:10] bryevdv commented on #9182
Our free-for-OSS QuestionScout account seems to have been disabled recently, so I think we missed the response. You should have an invite now!

[2022-01-12 16:32] matteo-morando opened #11950 "[FEATURE] Bokeh event Hooks"
### Problem description

Missing event hooks to implement custom loaders

### Feature description

Could be possible to add a custom hook when the Bokeh items were rendered or when Errors occurs (like rendering problems, websocket ecc) practically near many console.log?

The line of reference is the following
https://github.com/bokeh/bokeh/blob/ca239b9a92605710f4ea6681da29696979d98824/bokehjs/src/

[2022-01-12 18:52] EvanDungate commented on #9774
I agree, this feature would be very useful. Without it, stacked bar charts have very limited intractability. If anyone has a workaround please let me know. If I figure one out I will update here.

[2022-01-14 10:38] #10990 closed

[2022-01-14 10:47] #10746 closed

[2022-01-14 17:03] znarthur opened #11954 "[BUG]"
### Software versions

Python version      :  3.9.6 | packaged by conda-forge | (default, Jul 11 2021, 03:39:48)
IPython version     :  7.27.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /opt/conda/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  v15.14.0
npm version         :  7.7.6
Operating system    :  Linux-3.10.0-1160.11.1.el7.x86_64-x

[2022-01-14 17:07] #11954 closed

[2022-01-14 20:38] znarthur commented on #11954
Thanks for your immediate filing of this request.  It has helped me probe deeper into the problems origin.   I've posted this for support in both the [Discourse site](https://discourse.bokeh.org/t/updating-image-array-in-columndatasource-with-a-customjs-callback-in-2-x-x/8800) and [Stack Overflow](https://stackoverflow.com/questions/70715366/bokeh-callback-uncaught-rangeerror-maximum-call-stack-si

[2022-01-14 21:02] muendlein opened #11955 "[BUG] Replacing filter of CDSView does not trigger update of DataTable"
### Software versions

Python version      :  3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]
IPython version     :  (not installed)
Tornado version     :  6.1
Bokeh version       :  2.4.2

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

CDSView should react to filter changes for both plots

[2022-01-14 21:28] shr00mie commented on #10804
oh good. you guys are already on it. super. carry on.

[2022-01-15 04:12] tcmetzger opened #11956 "Use CONTRIBUTING.md to point to developers guide"
As discussed in https://github.com/bokeh/bokeh/pull/11942#issuecomment-1010655403, CONTRIBUTING.md contains misleading/outdated information. Now that we have an updated contributor guide (https://docs.bokeh.org/en/latest/docs/dev_guide.html), we could jettison most of the content of CONTRIBUTING.md and replace it with a link to the contributor guide. This has the added benefit that we only need to

[2022-01-15 04:18] NaincyKumariKnoldus commented on #11882
Hey @bryevdv Can I do this please?

[2022-01-15 12:34] phurwicz commented on #8012
Wonderful! Being able to format the tick is all it really takes.

[2022-01-18 08:42] #11956 closed

[2022-01-18 19:05] jangop commented on #11909
@mattpap Thank you for clearing that up. `Circle` being listed under `markers` made me believe that it might be a marker. 🤷

[2022-01-18 19:46] bryevdv commented on #11909
Well, being precise: `Circle` is not a subclass of `Marker`,  but *conceptually* circles are most certainly can be used as scatter markers, when configured with a pixel `size`.  The reason for the special case here that circles are commonly used both as a scatter marker (so given `size` in pixels) but also commonly used in Bubble Charts, etc. (so given a `radius` in data units).

In any case that

[2022-01-19 09:39] jangop commented on #11909
As an ignorant user, now anxiously waiting for 3.0, I fully support this.

[2022-01-19 09:39] #11909 closed

[2022-01-19 09:57] maximlt opened #11963 "[BUG] Option groups of the Select widget are sorted"
### Software versions

Python version      :  3.8.12 | packaged by conda-forge | (default, Oct 12 2021, 21:57:06)
IPython version     :  (not installed)
Tornado version     :  6.1
Bokeh version       :  2.0.2+1062.g6aac056b2.dirty
BokehJS static path :  /home/liquetm/dev/bokeh/bokeh/server/static
node.js version     :  v16.13.0
npm version         :  8.1.0
Operating system    :  Linux-5.4.0-92-gen

[2022-01-19 10:15] ortanative commented on #9036
This feature is an important feature in network analysis. I want you to implement it as soon as possible. It is inconvenient to emphasize only the edges, not the connected nodes.I hope you can implement it as soon as possible.

[2022-01-19 16:24] mattpap commented on #11963
This this the reason. Given that insertion order is officially preserved since 3.7, I think I will change this in PR #11960, especially given that in that PR, raw `dict` isn't used for structural encoding anymore.

[2022-01-19 16:29] maximlt commented on #11963
Great! You're on fire @mattpap 🔥

[2022-01-19 16:56] #5653 closed

[2022-01-19 17:16] bryevdv commented on #9036
@ortanative Since it would only appear in a 3.x release, it is a few months away, at the least.

[2022-01-20 17:56] #11881 closed

[2022-01-20 20:59] sistemicorp opened #11964 "[BUG] Dropdown menu separator not rendering"
### Software versions

        Python version      :  3.8.10 (default, Nov 26 2021, 20:14:08)
        IPython version     :  (not installed)
        Tornado version     :  6.1
        Bokeh version       :  2.4.1
        BokehJS static path :  /home/martin/.local/lib/python3.8/site-packages/bokeh/server/static
        node.js version     :  v16.13.2
        npm version         :  8.1.2

### Browse

[2022-01-20 21:12] muendlein opened #11965 "[BUG] Table formatting causes layout crash/collapse"
### Software versions

Python version      :  3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]
IPython version     :  (not installed)
Tornado version     :  6.1
Bokeh version       :  2.4.2

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

Layout is rendered correctly with TableColumn formatti

[2022-01-20 21:31] muendlein opened #11966 "[BUG] Lazy initialization of DataTable causes incomplete table rendering (only the first row is displayed)"
### Software versions

Python version      :  3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]
IPython version     :  (not installed)
Tornado version     :  6.1
Bokeh version       :  2.4.2

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

Regular behaviour if the ColumnDataSource is lazy assi

[2022-01-20 21:38] bryevdv commented on #11966
Table columns refer to columns that are *presumed exist in the data source*. So at the very least, regardless, you really need to define your CDS with empty lists/arrays for the column names that the table expects.

That said, the separate issue here is that the formatting step is very unhappy when there is no data (with or without empty columns). Confirmed present also in `branch-3.0`

[2022-01-20 21:41] bryevdv commented on #11965
@muendlein TableColumns refer to columns that are ***presumed to exist*** in a CDS. So at the very least, regardless, you need to make sure the CDS has the expected columns, even if they are empty lists/arrays.

However, a separate issue is that the cell formatting step is not happy when there is not data (with or without expected empty columns). Confirmed in `branch-3.0` as well

[2022-01-20 21:53] muendlein commented on #11966
@bryevdv I have also noticed that in previous versions (in particular 2.1.1) this kind of incomplete rendering does not occur.

[2022-01-20 22:02] bryevdv commented on #11966
I am going to mark this as a dupe of #11965 for now, I don't know that two separate issues is helpful here.

[2022-01-20 22:02] #11966 closed

[2022-01-20 22:05] bryevdv commented on #11964
Thanks for the report @sistemicorp This appears to be resolved in `branch-3.0`

<img width="747" alt="Screen Shot 2022-01-20 at 14 04 26" src="https://user-images.githubusercontent.com/1078448/150429643-d69577cb-792d-44cd-9fc7-166096f53911.png">

Since it is unlikely that we will have another 2.4.x release at this point I am going to close this with `noaction`

[2022-01-20 22:05] #11964 closed

[2022-01-20 22:08] bryevdv commented on #11955
Confirmed in `branch-3.0` FYI for future reference @muendlein note that when 3.0 is released `CDSView` will no longer need (or accept) a `source` argument.

[2022-01-21 07:27] mattpap commented on #11955
Since PR #11239 this is under visual test.

[2022-01-21 07:27] mattpap commented on #11964
Since PR #11239 this is under visual test.

[2022-01-23 22:50] tcmetzger opened #11967 "Update docs for FileInput"
Following the discussion in https://discourse.bokeh.org/t/file-name-disappears-after-clicking-the-cancel-button/8803, the documentation for `FileInput` could use some clarification:

* reference guide: https://docs.bokeh.org/en/latest/docs/reference/models/widgets/inputs.html?highlight=fileinput#fileinput
* user guide: https://docs.bokeh.org/en/latest/docs/user_guide/interaction/widgets.html?highl

[2022-01-23 22:51] tcmetzger commented on #11967
@bryevdv It would be great if you could provide some input on how to update the description (e.g. what is the UX using this widget, which properties get updated when, etc)!

[2022-01-23 23:03] tcmetzger opened #11968 "Update docs for AjaxDataSource"
As discussed in https://discourse.bokeh.org/t/how-to-update-bokeh-plot-data-in-client-side-with-javascript/8809, the documentation for `AjaxDataSource` (https://docs.bokeh.org/en/latest/docs/user_guide/data.html#ajaxdatasource) is outdated. The user guide needs to reflect that it is now also possible to provide a `CustomJS` callback as an `adapter `.

[2022-01-23 23:05] tcmetzger commented on #11968
@bryevdv Do I see correctly that the reference guide (https://docs.bokeh.org/en/latest/docs/reference/models/sources.html#bokeh.models.AjaxDataSource) has the correct information:

If that is the case, I'd make a quick PR to also include this information in the user guide!

[2022-01-24 18:01] bryevdv commented on #11968
@tcmetzger Yes that is exactly right

[2022-01-24 18:05] bryevdv commented on #11967
@tcmetzger I think it's more or less what I stated in the Discourse. Bokeh only "sees" any change when a file upload is completed. Anything else is invisible to use (so in particular, if the the widget switches to a *"No File Selected"* placeholder or something after in the filename field after a Cancel, that is also invisible to us). I would just make it clear that the only guarantee is: filename

[2022-01-24 18:09] bryevdv commented on #11967
The other, more radical alternative for 3.0 would be to change this to be a "fire-and-forget" event when an upload completes, so that there is no suggestion of "state" being persistent or synchronized. But that would be a breaking change (unless we leave deprecated properties in place for some time)  cc @mattpap for thoughts

[2022-01-24 18:19] muendlein opened #11969 "[BUG] DataTable rendering behaves inconsistently for different indices of an IndexFilter"
### Software versions

Python version      :  3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]
IPython version     :  (not installed)
Tornado version     :  6.1
Bokeh version       :  2.4.2

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

DataTable rendering based on a CDSView with an IndexFi

[2022-01-24 18:42] bryevdv commented on #11969
This is pretty bizarre. The description to repro was a little unclear to me: for the benefit of others:

* select a block from table 1 below row 96 -> select button shows selection in table 3 (and clear button clears)
* select a block from table 1 *above* row 96 -> nothing shows up in table 2

New info:

* select a block *straddling* row 96 -> works

@mattpap could this be a bug with the bitset im

[2022-01-24 18:48] bryevdv commented on #11969
Also noting this persists on `branch-3.0`

[2022-01-24 18:50] #10424 closed, assigned to nobody

[2022-01-24 20:03] muendlein commented on #11969
Another example in case that helps: 500 rows with row index 483 as splitting value (above 483 the selection will not show up in table 2).

[2022-01-24 23:06] bryevdv commented on #11882
@NaincyKumariKnoldus Sorry I missed your question, as far as I know, no one else is working on this so please feel free to submit a PR.

[2022-01-24 23:31] bryevdv commented on #11850
Well, I spoke too hastily. There is really only `GlyphRenderer`, it's the glyphs that are what are more fine-grained. So we can't really narrow the type at all in subclasses, since we do need the renderer, not the glyph. At best we could define separate `renderers` properties just in order to afford more tailored help strings. But I am not sure that is worth it, and it certainly violates DRY.

I s

[2022-01-25 02:11] #11875 closed

[2022-01-25 03:53] NaincyKumariKnoldus commented on #11882
Hey @bryevdv I have raised my PR. Review that.

[2022-01-25 04:12] NaincyKumariKnoldus commented on #11882
Hey @bryevdv I have made the requested changes.

[2022-01-25 05:59] bryevdv commented on #11882
@NaincyKumariKnoldus There is no need to keep pinging me. You may also need to adjust your expectations about time-frames for PR reviews. Bokeh is a volunteer project with members in all different time zones (It is rather late at night where I am.) PR review turnaround may take days or even longer.

[2022-01-26 14:14] graingert opened #11977 "[BUG] missing functools.wraps makes debugging unawaited _needs_document_lock_wrapper methods difficult"
### Software versions

Python version      :  3.9.9 | packaged by conda-forge | (main, Dec 20 2021, 02:41:03)
IPython version     :  7.31.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /home/graingert/miniconda3/envs/dask-distributed/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  (not installed)
npm version         :  (not installed)
Operat

[2022-01-26 17:56] muendlein opened #11980 "[BUG] y_range updates inconsistently when data is also updated"
### Software versions

Python version      :  3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]
IPython version     :  (not installed)
Tornado version     :  6.1
Bokeh version       :  2.4.2

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

Updating y_range.start should render a plot as one wou

[2022-01-26 18:35] #11792 closed

[2022-01-26 18:40] #11977 closed

[2022-01-26 19:45] bryevdv commented on #11980
This is a dupe of https://github.com/bokeh/bokeh/issues/7281

[2022-01-26 19:45] #11980 closed

[2022-01-26 19:49] bryevdv commented on #7281
Noting there is a simpler reproducer in https://github.com/bokeh/bokeh/issues/11980

[2022-01-26 20:35] bryevdv commented on #11910
I'm not actually sure there anything to do here? `LabelSet` has always expected *string* columns. As for errors, as is usually the case, the actual work is done in JS not in Python. Accordingly, there is an error, in the JS console *in the browser*:

It's true that JS error messages could be more visible, since educating users to look at their browser JS console is a continual challenge. But there

[2022-01-26 20:39] bryevdv commented on #11910
As for adding Python-side validation, I am 👎 on that:

* It's at best at half-measure. It it  no way prevents a user from updating bad data directly on the JS side e.g. in a `CustomJS` callback, and such validation would have zero visibility in to that scenario
* Despite only handling a subset of cases, it would impose on-trivial complication and overhead at serialization time.

This is ultimately

[2022-01-26 21:43] bryevdv commented on #11507
Well, maybe the full language split is workable if we factor examples separately? @mattpap what do you think about
[code]

[2022-01-26 22:01] bryevdv commented on #11102
Here is a working example:
[code]

<img width="603" alt="Screen Shot 2022-01-26 at 14 00 31" src="https://user-images.githubusercontent.com/1078448/151254199-9b264f40-306a-4d74-b774-76692ee1f333.png">

I think we can just add it somewhere and also a note in multi-line docs that point to it.

[2022-01-27 02:13] bryevdv opened #11981 "BokehJS build failing in release CI"
@mattpap any ideas? The build linked below failed (even though the UI reports "success", I will look at that separately...)

ref: https://github.com/bokeh/bokeh/runs/4960578378?check_suite_focus=true

[code]

[2022-01-27 02:18] bryevdv commented on #11981
Well the build job is not reporting failure because of this `|| true`` in the workflow definition

https://github.com/bokeh/bokeh/blob/e94b49ba7df0004127060acf56ea3d52412fba9d/.github/workflows/bokeh-release-build.yml#L63

I'm guess it was something left over from previous debugging. Let's remove that with whatever fix goes in for BokehJS build

[2022-01-27 02:39] bryevdv commented on #11981
Well I re-ran an earlier test CI build and it still works so there must be an actual different between that and what's done in https://github.com/bokeh/bokeh/blob/branch-3.0/.github/workflows/bokeh-release-build.yml but I don't see it offhand.

[2022-01-27 08:40] mattpap commented on #11981
bokehjs build failures are a result of `package-lock.json` being disrespected one way or another. I will upgrade outdated dependencies in an unrelated PR, but whatever is going on with package locking need to be resolved, because this will happen again sooner than later.

[2022-01-27 10:43] mattpap commented on #11507
Are there any technical reasons this:

to be beneficial? If not, I don't see a point.

Also, how this:

is supposed to work? More likely than not, this will require tooling from bokehjs, which I don't intend to replicate outside bokehjs. Actually, pure bokehjs' end-user examples (not what we have e.g. in integration tests) would be best kept in a separate [repository](https://github.com/bokeh/boke

[2022-01-27 11:31] mattpap commented on #11981
I don't see how this can fail like this. If `package-lock.json` was missing or broken, `npm ci` would fail. If `npm install` was run before `npm ci`, then this could be only partially reproduced (choices.js wouldn't be updated). The hammerjs part is completely bizarre, as I can't reproduce it after upgrading all packages. btw. I submitted PR #11982, but as I said before, this issue needs to be res

[2022-01-27 11:36] mattpap commented on #11981
We need `npm --version` after `npm install -g npm`.

[2022-01-27 18:10] bryevdv commented on #11981
@mattpap I added in https://github.com/bokeh/bokeh/compare/19d1caa97d08...d0a7791b4ff6

[2022-01-27 18:31] bryevdv commented on #11981
Fixed by your recent PR and the commit above

[2022-01-29 13:42] stas-sl commented on #11629
https://user-images.githubusercontent.com/4602302/151663233-3d63a011-f5c8-4dcd-8524-f05acc59ed32.mp4

I believe this is a HoloViews issue, that's why I created it there (https://github.com/holoviz/holoviews/issues/5198), though it might be related somehow

[2022-01-30 12:28] stas-sl commented on #8807
Here is a workaround to get high DPI png screenshots. You have to create manually webdriver instance with `--force-device-scale-factor=2` and remove image resizing here:
https://github.com/bokeh/bokeh/blob/de08fb161b4b9e3dcf52de61d76ef8e4a294d529/bokeh/io/export.py#L246

[code]

Here is the difference:

300x300 low DPI:
![plot_300x300_lowdpi](https://user-images.githubusercontent.com/4602302/15169

[2022-01-30 16:53] gsteele13 opened #11983 "[BUG] p.y_scale = LogScale() not being updated by"
### Software versions

Python version      :  3.9.7 (default, Sep 16 2021, 08:50:36)
IPython version     :  7.29.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /Users/gsteele/anaconda3/envs/jan2022/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  (not installed)
npm version         :  (not installed)
Operating system    :  macOS-10.16-x86_64-

[2022-01-31 19:02] bryevdv opened #11985 "Docs Search results are messed up"
Possibly due to Sphinx version bump? Search results for Bokeh models now no longer correctly show or link to individual properties. I will probably have to open a Sphinx issue to get help diagnosing this.

#### Current (BAD):

<img width="1104" alt="Screen Shot 2022-01-31 at 10 57 54" src="https://user-images.githubusercontent.com/1078448/151855554-b5712458-2da0-4064-9f1a-eef8b00ee0da.png">

####

[2022-02-01 21:06] bryevdv commented on #11983
@gsteele13 swapping out scales on an existing plot is not really supported at present. Best advice would be to create two separate plots up front, and toggle their visibility as appropriate.

[2022-02-01 21:08] gsteele13 commented on #11983
thanks, that was my guess, but wasn't sure. I'll try the two plot trick

[2022-02-01 21:11] bryevdv commented on #8807
@stas-sl Are you interested to make a PR to add a `scale_factor` argument to the export API functions? We would need to make sure it works with both chrome and FF as the browser backend (or else add appropriate docs and explicit warnings in case of non-workable configurations)

[2022-02-01 21:17] gsteele13 commented on #11983
Indeed, this does actually work pretty well, seamless visual transition:

[code]

[2022-02-02 08:38] gsteele13 commented on #11983
Maybe also: a good idea to lock the two axis scales so that if you zoom and then switch to log, the scale is the same.

Of course, if you make selections of the cursor tools with one, they will not be selected when you flip to logscale. I guess there is probably a way to lock the cursor selection settings

[2022-02-02 08:48] gsteele13 commented on #11983
of course, one must be careful with negative y-ranges and a logscale...

[2022-02-02 17:10] bryevdv commented on #11983
LInked selection in this case would be no different than any other case:

https://docs.bokeh.org/en/2.4.2/docs/user_guide/interaction/linking.html#linked-brushing

Linking ranges is probably not advised for the reason you mention, unless perhaps hard positive bounds are configured on the range.

[2022-02-05 18:29] 1081 commented on #3799
Unfortunately, this workaround does not work anymore. Is there any update or progress?
I tried this workaround:
[code]

[2022-02-06 04:51] tcmetzger opened #11987 "Docs: extra whitespace on non-sidebar pages"
Starting with version 2.4.1, documentation pages without a sidebar include unnecessary whitespace at the bottom, above the footer (i.e. https://docs.bokeh.org/en/latest/ and https://docs.bokeh.org/en/latest/docs/gallery.html). This behavior is only visible on larger screens, not on mobile/tablet resolutions. According to tests from @pavithraes, @ianthomas23, and myself, this is true for windows an

[2022-02-06 04:52] tcmetzger commented on #11987
@bryevdv It seems like some newer version of Sphinx does not play nicely with the modifications we did to achieve the no-sidebar pages.

[2022-02-06 11:22] mosc9575 opened #11988 "[BUG] CrosshairTool"
### Software versions

Python version      :  3.9.9 | packaged by conda-forge | (main, Dec 20 2021, 02:41:03)
IPython version     :  8.0.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /opt/conda/envs/development/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  v17.1.0
npm version         :  8.1.2
Operating system    :  Linux-5.10.0-8-amd64-x8

[2022-02-06 12:22] bryevdv commented on #11988
Linked crosshair has never been implemented and is still an open issue. Dupe of #3799

[2022-02-06 12:22] #11988 closed

[2022-02-07 05:58] bryevdv commented on #11985
Well, I actually can't seem to reproduce this locally between versions.

[2022-02-07 13:02] rdmtinez opened #11990 "[BUG] missing 'channels' import"
### Software versions

Python version      :  3.9.4 | packaged by conda-forge | (default, May 10 2021, 22:13:33)
IPython version     :  8.0.1
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /home/rdmtinez/projects/environments/pdm39/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  (not installed)
npm version         :  (not installed)
Operating

[2022-02-07 13:19] alexanfl opened #11991 "Authentication doesn't work with prefix? [BUG]"
### Software versions

Python version      :  3.8.12 | packaged by conda-forge | (default, Sep 29 2021, 19:14:40) [MSC v.1916 64 bit (AMD64)]
IPython version     :  7.28.0
Tornado version     :  6.1
Bokeh version       :  2.4.0
BokehJS static path :  C:\Users\...\Miniconda3\envs\...\lib\site-packages\bokeh\server\static
node.js version     :  v14.14.0
npm version         :  7.11.2

### Browser nam

[2022-02-07 14:32] rdmtinez commented on #11924
Any news regarding this?

[2022-02-07 18:22] bryevdv commented on #11990
@rdmtinez Bokeh's Django support is optional, and, truthfully, somewhat experimental at best. Accordingly, the dependencies to support it are also optional, and not required by default. The `channels` package probably should have been listed here along with other optional dependencies:

https://docs.bokeh.org/en/2.4.2/docs/first_steps/installation.html?highlight=channels#installing-optional-depend

[2022-02-08 08:16] alexanfl commented on #11991
@bryevdv Yes, let me see what I can do.

[2022-02-08 16:56] philippjfr opened #11994 "[BUG] Allow reset of DatePicker to empty date"
### Software versions

Bokeh 2.4.3

### Expected behavior

I would expect to be able to reset the `DatePicker` widget to a null value, i.e. either None or an empty string.

### Observed behavior

Currently both programmatic and UI resets of the value either to `None` or to `''` triggers  an error.

### Example code

This can be reproduced with:

[code]

or by deleting the date in the UI.

![dpicke

[2022-02-08 18:31] haripriya9647 opened #11995 "[Docs] his must be replaced by This"
### Software versions

Python version      :  3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
IPython version     :  7.19.0
Tornado version     :  6.0.4
Bokeh version       :  2.2.3
BokehJS static path :  C:\Users\hari priya\anaconda3\lib\site-packages\bokeh\server\static
node.js version     :  v14.17.4
npm version         :  6.14.14

### Browser name and version

_No response_

[2022-02-08 18:55] bryevdv commented on #11995
@haripriya9647 would you like to submit a PR with this change?

[2022-02-08 18:56] haripriya9647 commented on #11995
Yeah I would like to work on this issue

[2022-02-08 18:57] haripriya9647 commented on #11968
Can I work on this issue ?? @tcmetzger @bryevdv

[2022-02-08 18:59] haripriya9647 commented on #11968
I have gone through all the documentation which you have attached in the above comments and got an idea about it.

[2022-02-08 18:59] bryevdv commented on #11995
Great! Let us know if you have any questions about process, etc or if we can help in any way

[2022-02-08 19:01] mattpap commented on #11994
The error is sound with the current definition of `DatePicker`. We would have to change `DatePicker.value` to `Nullable(Date)` to allow for clearing the date, perhaps with a UI change adding a "clear" button. This would change the behavior of the widget, which makes me thing about adding this as a derived `OptionalDatePicker` (or something like that) widget.

[2022-02-08 19:09] tcmetzger commented on #11968
@haripriya9647 Absolutely, a PR would be great! Thank you!

[2022-02-08 20:20] philippjfr commented on #11994
The UI already allows resetting the value to an empty string (as can sort of be seen in my gif) so I do think this is a bug and should be supported. No strong opinion on supporting null/None.

[2022-02-08 20:55] rdmtinez commented on #11990
@bryevdv Noted! Thank you for you speedy reply!

[2022-02-08 23:54] bryevdv commented on #11994
Flatpickr supports a `clear` API:

https://flatpickr.js.org/instance-methods-properties-elements/#clear

And can also have a clear button added easily:

https://flatpickr.js.org/examples/#flatpickr--external-elements

But I would also expect to be able to programmatically clear the value in some manner, so I agree this is an omission.

[2022-02-09 13:02] alexanfl commented on #11991
@bryevdv I was thinking of updating the `get_login_url` method of `AuthRequestHandler` to add the prefix to the returned url like this:
[code]
If this is an ok solution, do you have any suggestions on how to test this? I can't seem to be able to instantiate the class in a simple way.

[2022-02-09 22:18] gmerritt123 opened #11996 "[FEATURE] Allow passing things other than models into args argument on CustomJSHover"
### Problem description

Basic MRE

[code]

### Feature description

I'd like to align what I can pass as args to CustomJS and what I can pass to CustomJSHover.

### Potential alternatives

N/A

### Additional information

Discussed here: https://discourse.bokeh.org/t/customjs-and-customjshover-args-argument-not-consistent/8876/3

[2022-02-09 22:25] bryevdv commented on #11996
Just noting we should probably make a property alias for the `args` dict that gets used throughout for consistency. Currently some are `Dict(String, AnyRef)` and others are `Dict(String, Instance(Model))`

[2022-02-09 22:59] bryevdv opened #11997 "Allow origin policy for embedding Bokeh apps inside Electron"
It is possible to embed Bokeh server apps in an electron app (🎉 ):

<img width="1099" alt="Screen Shot 2022-02-09 at 14 08 30" src="https://user-images.githubusercontent.com/1078448/153304502-5e927431-6572-4342-9431-e70b443369ca.png">

However, it currently requires setting`BOKEH_ALLOW_WS_ORIGIN="*"` in order to embed from a locally running Bokeh server. This is because the reported Origin from el

[2022-02-10 23:52] stas-sl opened #11998 "[BUG] Hover is slow when hover_color is set"
### Software versions

Python version      :  3.9.7 (default, Sep 16 2021, 08:50:36)
IPython version     :  8.0.1
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /Users/stas/.pyenv/versions/anaconda3-2021.11/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  v17.4.0
npm version         :  8.3.1
Operating system    :  macOS-10.15.7-x86_64-i386-64bi

[2022-02-11 00:07] bryevdv commented on #11998
With 3.0 dev, the example code seems faster than the video above. Setting webgl backend improves even more, but there is still a little lage. As you note, removing the hove color makes things very fast and responsive. Setting a hover color triggers an additional rendering path. It's more expensive because there is literally just more work to do in that case, so I'm just not sure we will be able to

[2022-02-11 00:37] stas-sl commented on #11998
Thanks for fast response, @bryevdv, the reason why I easily trapped into this issue is that, as mentioned in this issue https://github.com/holoviz/holoviews/issues/5198, holoviews for some reason adds hover_fill_color for pretty basic plot. I mean I don't need any special color on hover and do not set it explicitly, just constant colors, though I do need tens of thousands of data points, which bok

[2022-02-11 00:43] mattpap commented on #11998
Looking at this, I found that due to how signals and slots are set up around inspections, we render on every mouse move, even when hovering on empty areas (no change in indices). Fixing this won't help with this issue though.

With canvas rendering, setting up visuals and painting takes most of the time, and there isn't much we can do about this. With webgl, rendering is pretty smooth, however the

[2022-02-11 00:47] mattpap opened #11999 "Rendering happens on every mouse move with inspections enabled"
This is due to:
https://github.com/bokeh/bokeh/blob/086cd6f0a0ae2f2ee6e06073b18ecfc588edf57f/bokehjs/src/lib/core/selection_manager.ts#L58-L59
which triggers `request_render()` regardless if inspection indices actually changed.

[2022-02-12 10:09] gsteele13 opened #12001 "[BUG] Failure of push_notebook() to update colormapper of a colorbar"
### Software versions

Python version      :  3.8.12 | packaged by conda-forge | (default, Oct 12 2021, 21:59:51)
IPython version     :  7.31.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /home/jovyan/.conda/envs/datacube_dcc/lib/python3.8/site-packages/bokeh/server/static
node.js version     :  v17.1.0
npm version         :  8.1.2
Operating system    :  Linux-4.

[2022-02-12 10:11] gsteele13 commented on #12001
Note that if I update the colorbar before the plot is displayed, then it does work.

(Sounds similar to the y-axis-scale issue I recently submitted...)

[2022-02-12 10:12] gsteele13 commented on #12001
https://github.com/bokeh/bokeh/issues/11983

[2022-02-12 10:12] gsteele13 commented on #12001
but here a similar hack solution will not work since want to continuously modify the colormap of the image...

[2022-02-14 18:55] bryevdv opened #12002 "Investigate Choices.js for Select"
As long as we are already bringing in `choices.js` as a dependency, I think we could consider switching to using their Single / Multi Select widgets (scroll down the page to see):

https://choices-js.github.io/Choices/

They are definitely more modern/nicer looking, and support asked-for features like better search and remote fetch for options, out of the box.

cc @bokeh/dev

[2022-02-14 19:52] philippjfr commented on #12002
I agree, if we're already pulling in the dependency we may as well leverage all the nice features it provides.

[2022-02-15 10:59] pepijndevos commented on #5064
Looks like this issue has quite a history! Would this cover Python exceptions, or is it purely about JS exceptions? Seems like JS exceptions should pretty much be Bokeh bugs, but Python exceptions could be quite common, and I don't see a good way to present them to the user currently. Seems like the app just inexplicably stops working, with a stacktrace on the servers side.

[2022-02-16 12:13] rdmtinez opened #12003 "[BUG] Hover Tool does not render when using Panels and Tabs and embedding script, div into html template"
### Software versions

Python version      :  3.9.4 | packaged by conda-forge | (default, May 10 2021, 22:13:33)
IPython version     :  8.0.1
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /home/rdmtinez/projects/environments/pdm39/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  (not installed)
npm version         :  (not installed)
Operating

[2022-02-16 13:20] mattpap commented on #12003
This will work:
[code]
i.e. each `child` must be unique, because `Panel` doesn't introduce a new scope. This a known issue (see #11056 and #10968). I will close this as a duplicate.

[2022-02-16 13:23] mattpap commented on #12002
I would keep native widgets and move them to a separate bundle.

[2022-02-17 04:11] benrussell80 commented on #7969
@bryevdv Is [this the section](https://github.com/bokeh/bokeh/blob/086cd6f0a0ae2f2ee6e06073b18ecfc588edf57f/bokehjs/src/lib/core/util/templating.ts#L81-L103) that needs to account for this?

[2022-02-17 09:47] #12001 closed

[2022-02-17 10:01] mattpap opened #12008 "Documentation builds fail in CI"
With error message:
[code]

[2022-02-17 10:01] #11996 closed

[2022-02-17 18:31] bryevdv commented on #7969
Hi @benrussell80 I think the work will be more in the hit-testing of the glyph itself, and the hovertool (and related templating code). For reference, the old PR I mentioned that added support for images is here: https://github.com/bokeh/bokeh/pull/7651

I will try to refresh my own memory and comment a bit more thoroughly in the next few days

[2022-02-17 20:24] bryevdv commented on #12008
Honestly at a loss for this one. It would probably be a good idea to add an explicit `conda list` on all CI job's environments. It's pretty hard to compare versions across different runs from the noisy conda install output.

[2022-02-17 22:28] #11999 closed

[2022-02-18 10:46] mattpap commented on #12008
So apparently this self-resolved today. I'm going to close this issue. Fragility of sphinx and especially lack of useful error explanation is concerning though.

[2022-02-18 10:46] #12008 closed

[2022-02-18 16:45] iisri-vu opened #12012 "[BUG] export csv column order not retain"
### Software versions
Bokeh 2.3.3.

In the example:   bokeh/examples/app/export_csv/

The order of the column input into dataframe or  ColumnDataSource does not retain when export to csv.
Problem is at:    const columns = Object.keys(source.data)

regards

### Browser name and version

Chrome, firefox

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

Expected behav

[2022-02-18 18:03] michalkowalski94 opened #12013 "[BUG] Bokeh uses different color than specified (hex)"
### Software versions

Python version      :  3.9.10 | packaged by conda-forge | (main, Feb  1 2022, 21:24:11)
IPython version     :  8.0.1
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /opt/miniconda3/envs/primer_env/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  (not installed)
npm version         :  (not installed)
Operating system    :

[2022-02-18 18:06] bryevdv commented on #12013
@michalkowalski94 You need to provide a complete [Minimal Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example) in order for anything to be investigated. I've never seen anything like you describe, and I've never heard of anyone reporting anything like you describe, so the onus is on you t provide complete code to reproduce what you are seeing.

[2022-02-18 18:22] michalkowalski94 commented on #12013
Hold Your horses wit Your perogative friend. Made two mistakes, one was missclick second one was sorting.
Have a nice day

[2022-02-18 18:23] bryevdv commented on #12012
@iisri-vu There is no inherent order of columns in a CDS. It's probably not impossible to make the example more sophisticated, and retain some specified order passed to the `CustomJS`, at the expense of simplicity. Are you interested to submit a PR to do that? If not, I am inclined to close this as `working as intended`

[2022-02-18 18:28] bryevdv commented on #12013
@michalkowalski94 Thanks for the feedback, I am glad you have sorted things out. For future FYI the [Discourse site](https://discourse.bokeh.org) is a great (and usually very responsive) place to start for questions that might or might not be issues.

[2022-02-18 18:29] #12013 closed

[2022-02-18 18:34] michalkowalski94 commented on #12013
Sorry for trouble!
Cheers!

[2022-02-18 18:50] #11716 closed

[2022-02-19 01:24] mattpap commented on #12012
This is actually ordered, as JS objects are insertion ordered. The loss of order may happen at the protocol level, see similar issue #11963. This is fixed in PR #11960 and will be available in bokeh 3.0.

[2022-02-19 01:24] #12012 closed

[2022-02-19 20:40] RT-Tap opened #12014 "[BUG] Using BokehJS as a javascript module: Uncaught syntax error @bokeh.slickgrid.v2.4.4102.js does not provide an export named 'Data'"
### Software versions

Because I am only interested in the BokehJS module I will list the relevent information, if more is needed please let me know.

Node.js: v16.13.1
npm: 8.1.2
@Bokeh/bokehjs: 2.4.2
Operating System: Windows 10 Home 64 bit (10.0, Build 19042)
Package bundling: Snowpack 3.3.7

### Browser name and version

Firefox, Brave/Chrome

### Jupyter notebook / Jupyter Lab version

_No re

[2022-02-20 11:18] mattpap commented on #12014
`@bokeh/slickgrid` does export `Data` [here](https://github.com/bokeh/SlickGrid/blob/c4caca521385f62e355dcc40bb4fdd0a145d7b26/index.js#L5). Given this is a `SyntaxError`, I'm guessing that snowpack doesn't understand this style of exports and expects ESM import/export. This may require configuration on your side. Alternatively our fork of slickgrid could be refactored into a proper set of ESM modu

[2022-02-21 03:12] bernd-wechner commented on #1664
Landed here with similar concerns. Was wondering if Bokeh had some way of specifying "don't overlap labels". Meaning if the requested labels would overlap  back off the labels (draw only every second one, and a minor tick between). Simply because this best done internally (of the Bokeh library) because:

1. It's a very common need, and no need to reinvent the wheel on every site that experiences t

[2022-02-21 03:20] bernd-wechner commented on #1668
I'd love to see one on the list that looks missing to me: Support a "prevent_tick_label_overlap" option, which basically asks a ticker to alter/back off on other priorities and requests to meet this one (as in it deserves priority!). To implement it, there'd need to be some pay of knowing the space a tick label would use on the canvas and if there are overlaps to relax some other constraint (in th

[2022-02-21 09:14] mattpap commented on #1668
@bernd-wechner, you should look into axis labeling policies (`Axis.major_label_policy`). This is a fairly new and badly documented feature, that covers this subject.

[2022-02-21 09:25] bernd-wechner commented on #1668
Thanks for the tip. Much appreciated. But indeed, poorly documented:

https://docs.bokeh.org/en/2.4.0/docs/reference/models/axes.html#bokeh.models.Axis.major_label_policy

Any tips on how to use it?

[2022-02-22 10:05] rdmtinez opened #12017 "[FEATURE] provide SRI hashes for CSS resources"
### Problem description

I'm working on a dashboarding project and my manager would like me to provide an integrity hash for all resources. I was able to find the bokeh.resources.get_all_sri_hashes function, but it only lists the hash for the .js files. Any chance css integrity hashes could be provided in the future?

### Feature description

provide SRI hashes for CSS files

### Potential alterna

[2022-02-22 11:46] mattpap commented on #12017
Bokeh doesn't use CSS files anymore (we use "CSS modules" integrated into JS bundles instead), so those hashes aren't needed. We used to publish empty CSS files for a while, for the sake of backwards compatibility, but that's not done anymore.

[2022-02-22 11:46] graingert opened #12018 "support the proactor eventloop on windows with tornado >=6.1"
### Problem description

the SelectorEventLoop is forced on python 3.8+ for windows, which has a number of disadvantages - eg `asyncio.create_subprocess_exec` is not supported on the SelectorEventLoop.

### Feature description

tornado 6.1 added support for running on the ProactoEventLoop by running `select` in a thread: https://github.com/tornadoweb/tornado/issues/2608#issuecomment-736185273

###

[2022-02-23 01:01] stas-sl opened #12022 "[BUG] Bokeh randomly switches backend (webgl <-> canvas) when changing some properties"
### Software versions

Python version      :  3.9.7 (default, Sep 16 2021, 08:50:36)
IPython version     :  7.31.1
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /Users/stas/.pyenv/versions/anaconda3-2021.11/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  v17.4.0
npm version         :  8.3.1
Operating system    :  macOS-10.15.7-x86_64-i386-64b

[2022-02-23 01:20] mattpap commented on #12022
Seems to be fixed in `branch-3.0`.

[2022-02-23 01:32] stas-sl commented on #12022
Thanks, good to know, but when are you releasing it? :) Maybe you have ideas how to deal with it in the meantime? It looks quite weird to me - I just don't have any idea why this could happen, shouldn't the backend be initialized just once at creation?

[2022-02-23 10:21] ianthomas23 commented on #12022
I have also confirmed that I can reproduce this using `2.4.2` and that it is fixed in `branch-3.0`.

@stas-sl The webgl backend doesn't work like that. Only certain glyphs have webgl implementations and when you say `output_backend='webgl'`it is not a demand that only webgl will be used but a request to use webgl where available and fall back to canvas if not. We fixed a couple of bugs since 2.4.2

[2022-02-23 10:52] #12022 closed

[2022-02-23 13:56] stas-sl commented on #12022
Thanks, @ianthomas23, after some debugging I've found that `p.circle` instead of `p.scatter` works without that issue, looks like `ScatterView` has more complicated logic related to webgl than `CircleView`, which contained this bug. So in the meanwhile I'll just use circles, as, actually, I do not need any fancy markers, but looking forward to 3.0 release!

[2022-02-23 19:27] rdmtinez commented on #12017
@mattpap Thank you so much for getting back to me! This is good to know :)

[2022-02-24 11:45] marcox23 commented on #2338
I had the same problem, changing outliers doesn't work either, reviewing I noticed that the problem of min() arg is an empty sequence, implies that an empty list is being sent to minimize, in my case I was sending data type "str " and data of type "float64", which is not supported for plot since it only supports one or the other, this is why I transformed all the data in the column with astype()

[2022-02-24 15:07] alexandrul commented on #2338
@marcox23 thank you for the possible explanation.
In my case the CSV format was consistent, but I don't have the original file anymore (and, in the meantime, bokeh has deprecated boxplot).

[2022-02-24 16:02] bryevdv commented on #2338
`bokeh.charts` was entirely removed more than half a decade ago, there is no value to discussing it in this tracker.

[2022-02-27 17:32] stas-sl opened #12023 "[BUG] Bokeh doesn't wait until all scripts loaded before embedding document in jupyter notebook"
### Software versions

Python version : 3.9.7 (default, Sep 16 2021, 08:50:36)
IPython version : 7.31.1
Tornado version : 6.1
Bokeh version : 2.4.2
BokehJS static path : /Users/stas/.pyenv/versions/anaconda3-2021.11/lib/python3.9/site-packages/bokeh/server/static
node.js version : v17.4.0
npm version : 8.3.1
Operating system : macOS-10.15.7-x86_64-i386-64bit

### Browser name and version

Version

[2022-02-28 21:16] EfremBraun opened #12024 "[BUG] Clarify docs about necessity of Firefox"
See https://discourse.bokeh.org/t/docs-seem-misleading-about-necessity-of-firefox-for-exporting-plots/8957/2

[2022-02-28 22:37] #12024 closed

[2022-03-01 16:46] EfremBraun opened #12026 "[FEATURE] Add way for user to specify arguments to create_chromium_webdriver() when using bokeh.io"
### Problem description

I'm trying to distribute my Bokeh application within a Docker container. My application exports plots using `from bokeh.io import export_png`, which requires Selenium and a web driver (per https://docs.bokeh.org/en/latest/docs/user_guide/export.html#additional-dependencies).

On my own laptop, I can very simply run `pip install selenium chromedriver-binary-auto` and everyt

[2022-03-01 17:12] mattpap commented on #12026
You should be able to use `export_png(obj, driver=create_chrome_webdriver(extra_options=...))` since bokeh 2.3, or do you expect this to be made even more user friendly?

[2022-03-01 17:19] EfremBraun commented on #12026
Ah, I just didn't know that was possible. Yes I think that's all that's necessary.

[2022-03-02 13:22] #11694 closed

[2022-03-02 13:22] #11930 closed

[2022-03-02 13:22] #11963 closed

[2022-03-02 16:26] gengjun commented on #11373
hi, this feature is useful, any hope it will be in next release ?

[2022-03-02 18:21] bryevdv commented on #11373
@gengjun Probably not. We are going to make this task for a `Good First Issue` so it will be left open and available for a new contributor to decide to work on it.

[2022-03-03 07:45] pnsvk opened #12029 "Creating "New View" for notebook/output does not work with bokeh plots output"
### Software versions

Python Version: 3.9
JupyterLab: 3.x

### Browser name and version

Chrome. Any recent version

### Jupyter notebook / Jupyter Lab version

JupyterLab 3.x

### Expected behavior

The expected behavior is to have the new-view reflect that cell's output exactly as-is.

### Observed behavior

The outcome has a duplicated rendering of the same visual right under the already avail

[2022-03-03 10:24] #10090 closed

[2022-03-03 11:17] PeterPyn opened #12031 "[BUG] Changing y axis label affects the labels of all extra y ranges."
### Software versions

Python version      :  3.7.6 (tags/v3.7.6:43364a7ae0, Dec 19 2019, 00:42:30) [MSC v.1916 64 bit (AMD64)]
IPython version     :  7.17.0
Tornado version     :  6.0.3
Bokeh version       :  2.4.2
BokehJS static path :  c:\python\lib\site-packages\bokeh\server\static
node.js version     :  (not installed)
npm version         :  (not installed)
Operating system    :  Windows-10-1

[2022-03-03 12:55] bryevdv commented on #12031
@PeterPyn this is the intended behavior. See the documentation:

https://docs.bokeh.org/en/latest/docs/user_guide/styling.html#styling-axes

To address individual axes, use `xaxis[0`, `xaxis[1]`, etc.

[2022-03-03 12:56] #12031 closed

[2022-03-03 12:58] bryevdv commented on #12029
I've never heard of or used "Create new view for output" what is it meant to do?

[2022-03-03 13:14] PeterPyn commented on #12031
Thanks Bryan for the quick response, and sorry that I did not see that in the docs. However, I have to say I find it quite confusing that the property xaxis (singular) refers to a list of axes. I guess that's developed over time, and we just have better read the docs.

[2022-03-03 15:00] philippjfr commented on #12029
Related issue and discussion https://github.com/holoviz/pyviz_comms/issues/3

[2022-03-03 16:54] bryevdv commented on #12031
I don't disagree that it is a little unusual, but as for rationale: it is far more common for users to want to set identical styles (fonts, colors, etc) across all the axes at once, and for that common case, having an easy way to address all the axes at the same time is a valuable convenience.

[2022-03-03 17:56] bryevdv commented on #12029
@philippjfr i see. Very off the cuff speculation:

First, I assume there is some hook in the process that we can make use of to customize or control the behavior? If not, options will be very limited in general. But assuming there is:

* Standalone content w/o notebook comms is almost certainly doable. It will be simpler if there is a python hook since the hook could just do whatever `show` curren

[2022-03-03 18:12] bryevdv commented on #12023
@mattpap Do you have input? Offhand it seems like the suggestion above would work, but it would couple two templates to the private `_bokeh_is_loading` variable, which does not seem very clean.

[2022-03-03 18:14] #12017 closed

[2022-03-03 20:44] bryevdv commented on #11882
I've actually changed position on the value of this. It's a little confusing but a breaking change would also be so.

[2022-03-03 20:44] #11882 closed

[2022-03-03 20:46] bryevdv commented on #11910
Absent other comment, closing with `noaction`

[2022-03-03 20:46] #11910 closed

[2022-03-03 20:48] bryevdv commented on #11995
@haripriya9647 did you still want to submit a PR? If not one of the core devs will tack this change on to another PR to avoi leaving this issue open.

[2022-03-03 20:50] bryevdv commented on #11853
As mentioned I do think this is covered by one or both of the issues linked above, so I will close this now.

[2022-03-03 20:50] #11853 closed

[2022-03-03 20:52] bryevdv commented on #11985
Noting the issue also seems to have disappeared with the latest dev build deploy. I will leave this open for now just to remember to check manually when 3.0 is released.

[2022-03-03 21:02] bryevdv commented on #11838
@florentbr Sorry for the delay, sometimes things get lost in the shuffle. I think the current implemetation was just a simple mistake. Would you be interested to submit a PR for this change?

[2022-03-03 21:08] bryevdv commented on #11754
@bokeh/dev any objections to just disabling merge and rebase commits? Presumably if we really need to do either we can just temporarily change the setting.

[2022-03-03 21:13] bryevdv commented on #4456
closing as stale

[2022-03-03 21:13] #4456 closed

[2022-03-03 21:14] bryevdv commented on #4352
closing as stale

[2022-03-03 21:14] #4352 closed

[2022-03-03 21:20] bryevdv commented on #3405
I'm going to go ahead and close this. I think the proper solution is to use the shared CDS and I also think that using a CDS is much more familiar and well-socialized among Bokeh users than it was in 2016

[2022-03-03 21:20] #3405 closed

[2022-03-03 22:04] sg-s commented on #2008
@bryevdv the example you linked doesn't work

https://github.com/bokeh/bokeh/blob/master/examples/plotting/file/stacked_area.py

says it's missing the tol palette

[2022-03-03 23:08] bryevdv commented on #2008
@sg-s Tol palettes are not in a release yet, they will be in Bokeh 3.0 You can just use a different palette.

[2022-03-04 12:07] ianthomas23 opened #12033 "[BUG] Incorrect handling of step by DateRangeSlider"
### Software versions

Python version      :  3.10.2 | packaged by conda-forge | (main, Jan 14 2022, 08:02:09) [GCC 9.4.0]
IPython version     :  8.0.0
Tornado version     :  6.1
Bokeh version       :  3.0.0dev5+2.gf990664e5.dirty
BokehJS static path :  /home/iant/github/bokeh/bokeh/server/static
node.js version     :  v16.12.0
npm version         :  8.3.1
Operating system    :  Linux-5.13.0-30-ge

[2022-03-04 12:09] ianthomas23 commented on #12033
I think the fix is to override `_calc_to` in `DateRangeSliderView` so that
[code]
is actually
[code]

Alternatively, the current behaviour could be deemed acceptable and we just need to update the documentation to clarify that the `step` is in units of milliseconds.

[2022-03-04 14:16] p-himik commented on #11754
@bryevdv What are the problems with using rebase for everything?

[2022-03-04 16:57] bryevdv commented on #11754
Bokeh is big with a complicated build and our individual commits are not hygenic enough to be bisectable when the need arises.

[2022-03-04 18:57] jbednar commented on #11754
Right. Rebase is rarely desirable, unless a developer already squashed their commits into a few meaningful chunks within the PR branch. That's rare; usually just the PR is the meaningful unit.

[2022-03-04 20:03] #9182 closed

[2022-03-04 20:17] bryevdv commented on #11754
I've made the change, so I don't think any docs updates are needed at this point.

[2022-03-04 20:17] #11754 closed

[2022-03-04 21:52] bryevdv commented on #6470
I'm not sure what there is to do at this point, there have been various performance improvements and validation config options added, so it's hard to know where this old issue stands. Closing as stale, please open a new issue with new details to consider changes for contemporary Bokeh versions.

[2022-03-04 21:52] #6470 closed

[2022-03-04 21:54] bryevdv commented on #7174
@p-himik Going through some old issues. is this still needing attention? Do you have a simple reproducer available?

[2022-03-04 21:59] bryevdv commented on #7093
@mattpap Colorbars have had a `title` for some time, so shouldn't this be closed? I can see there are some positioning or other things to fix but there appear to be issues for for those things.

[2022-03-04 22:07] bryevdv commented on #8478
Absent any feedback/further information, I am closing this as stale

[2022-03-04 22:07] #8478 closed

[2022-03-04 23:14] bryevdv commented on #11995
fixing in #12036

[2022-03-05 11:08] p-himik opened #12037 "[BUG] The gallery documentation page still references files in `master`"
### Software versions

-

### Browser name and version

-

### Jupyter notebook / Jupyter Lab version

-

### Expected behavior

The page at https://docs.bokeh.org/en/latest/docs/gallery.html links to the examples in the branch that corresponds to the selected Bokeh version in the version selector in the top left corner.

### Observed behavior

The examples always link to `master`.

### Example co

[2022-03-05 11:12] p-himik commented on #7174
@bryevdv Seems like it's been fixed - I couldn't reproduce it and there's relevant documentation here: https://docs.bokeh.org/en/latest/docs/user_guide/export.html?highlight=export_png#exporting-png-images

[2022-03-05 11:12] #7174 closed

[2022-03-05 18:11] #8851 closed

[2022-03-05 18:11] #11995 closed

[2022-03-05 18:14] bryevdv opened #12038 "Apply dataclasses where appropriate"
As noted in https://github.com/bokeh/bokeh/pull/12036 there are classes such as `RenderRoot`, etc. that could be simplified by re-writing them as Python dataclasses. Python dataclasses should be employed any place they can help reduce the codebase.

[2022-03-05 18:26] bryevdv commented on #12037
Unfortunately the cards for app examples were added hastily using `.. raw:: html`,  just in order to have anything for them on that page at all. That means our `:bokeh-tree` directive for automatically generating versioned repo links can't really be used here, and the links would have to be updated manually at every release.

I'm not opposed to creating yet another Sphinx extension, but I would pr

[2022-03-05 18:27] bryevdv commented on #12037
cc @tcmetzger it would be helpful to have your input on what a generic "gallery card" for examples should look like and what information it should posses (both required and any optional).

[2022-03-05 18:45] bryevdv commented on #12037
More concretely, I'd like for our gallery to be specified more like:

[code]

[2022-03-06 18:55] bryevdv commented on #10441
Besides #7397 this also seems a dupe of #7644 which is explicitly about adding options to suppress selection sharing.

[2022-03-06 18:55] #10441 closed

[2022-03-07 03:30] bryevdv commented on #7156
@mattpap Is this still relevant?

[2022-03-07 03:36] bryevdv commented on #9251
I don't think there is any action here

[2022-03-07 03:36] #9251 closed

[2022-03-07 03:42] bryevdv commented on #9148
The OP code is currently working on `branch-3.0`

[2022-03-07 03:42] #9148 closed

[2022-03-07 03:49] bryevdv commented on #9612
I can no longer reproduce this on `branch-3.0`

[2022-03-07 03:49] #9612 closed

[2022-03-07 03:53] bryevdv commented on #9589
I am going to go ahead and close this.  We should not udpate published files on CDN, since it will potentially break things for old releases. If we need to change the file somehow, we should upload a new file with a new filename and start using that with a new hash in the python code with whatever new release is next.

[2022-03-07 03:53] #9589 closed

[2022-03-07 04:03] #10403 closed

[2022-03-07 04:08] bryevdv commented on #10553
Tests are currently using pytest 6.2 without issue

[2022-03-07 04:08] #10553 closed

[2022-03-07 04:19] bryevdv commented on #10664
`plot_width` and `plot_height` are removed on `branch-3.0` so I think this can simply be closed now

[2022-03-07 04:19] #10664 closed

[2022-03-07 04:33] bryevdv commented on #11274
closing for lack of follow up or more infomation

[2022-03-07 04:33] #11274 closed

[2022-03-07 08:21] mattpap commented on #7156
I don't recall fixing anything so most likely yes.

[2022-03-08 21:18] #6372 closed

[2022-03-08 21:18] p-himik commented on #11754
Ah, GitHub doesn't have an option to squash and rebase, got it. GitLab does have it, so I was a bit confused.

[2022-03-08 21:22] bryevdv commented on #11754
Ah, squash and rebase would be nice for sure, not sure why it's not an option

[2022-03-08 22:13] gmerritt123 opened #12041 "[BUG] CDSView/CustomJSFilter correct rendering failing dependent on number of indices?"
### Software versions

Python version      :  3.7.10 | packaged by conda-forge | (default, Sep 13 2021, 19:12:52) [MSC v.1916 64 bit (AMD64)]
IPython version     :  7.29.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  C:\ProgramData\Anaconda3\envs\geo_env37v2\lib\site-packages\bokeh\server\static
node.js version     :  v16.12.0

### Browser name and version

Chrome

[2022-03-08 23:05] mattpap commented on #12041
Seems to work fine in `branch-3.0`, except for an unrelated regression (after PR #11960).

[2022-03-09 00:20] gmerritt123 commented on #12041
Thanks, i'll try this in the latest 3.0 build and let you know... it's such strange behaviour...

[2022-03-09 02:30] gmerritt123 commented on #12041
I am now getting

![image](https://user-images.githubusercontent.com/58000181/157360886-c7acaedc-cb37-4668-b526-65f532d23f60.png)

using the bkdev env (somehwhat obvious based on the error message)

Any thoughts :-( ?

[2022-03-09 12:08] mattpap commented on #12041
That's the regression I mentioned before. There should be PR fixing this soon.

[2022-03-09 13:12] gmerritt123 commented on #12041
Ok thanks.

I've finagled a workaround based on me noticing that you could get the missing selected indices to appear if you set the filter to return all, emit, THEN apply the actual filter and then emit that. It probably adds a bit of overhead, and will be a bit of a pain for me to implement across a bunch of my stuff, but oh well. Check out the comments in the "alternative" below:

Maybe this wi

[2022-03-09 16:46] g-parki commented on #12033
My vote would be to update the default `step` to 86,400,000 and clarify in the documentation that the unit is milliseconds. This also maintains consistency with the upcoming `DatetimeRangeSlider`.
Perhaps the same change makes sense for `DateSlider` since it also accepts `date` values and is rendered in the same format `%d %b %Y`

[2022-03-10 17:12] analog-cbarber commented on #11637
Well, obviously I am one of those users. Sure I can use 3.10, but if I have a library that supports >=3.7, I find that just in order to build my API documentation I have to either find some hack around this or resort to using 3.10 to build my documentation even though we are mostly not using 3.10 yet.

The fact is that your code is using 3.10 syntax but isn't really 3.10 yet. I know that it looks

[2022-03-10 17:16] bryevdv commented on #11637
Why are you building your own versions of the Bokeh docs? I would say that in general, that is just not a good idea. The Bokeh docs rely on several custom sphinx extensions, especially to extract all the type and helpstring  information for thousands of properties on Bokeh models. So if you are building docs with other tools they will absolutely not be complete.

[2022-03-10 17:27] bryevdv commented on #11637
@analog-cbarber Why don't you describe your actual situation and use case in some details, since currently I don't know whether you are trying to deploy your own version of the entire docs, or you are just trying to include docs for a handful of functions as a convenience for your users. That definitely matters as to whether there is some potential compromise or alternative guidance that might be

[2022-03-10 17:31] analog-cbarber commented on #11637
I have a subclass of a bokeh class in our own library, and it is that class that needs to be documented. I am not building bokeh's documentation.

[2022-03-10 17:32] analog-cbarber commented on #11637
It's only one class, so I will just figure out some way to hack around it.

[2022-03-10 17:41] bryevdv commented on #11637
@analog-cbarber may I ask what class? Is this for a custom extension? Or something else? Bokeh models are typically used more like building blocks to assemble via composition so I would genuinely like to understand if there is some use that is more common than we judged.

[2022-03-10 19:08] analog-cbarber commented on #11637
bokeh.application.handlers.Handler

[2022-03-14 23:46] jleppert commented on #11745
+1 all the examples and references online are for python, this doesn't help those of us that just want to use pure bokehjs

[2022-03-16 15:21] stas-sl opened #12047 "[BUG] Jumpy scroll on mobile"
### Software versions

Python version      :  3.9.7 (default, Sep 16 2021, 08:50:36)
IPython version     :  7.31.1
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /Users/stas/.pyenv/versions/anaconda3-2021.11/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  v17.4.0
npm version         :  8.3.1
Operating system    :  macOS-10.15.7-x86_64-i386-64b

[2022-03-16 16:19] RollOnRohlOff opened #12048 "[FEATURE] Taptool / Tap Event: capture "hit" glyphs (and properties) as a selection"
### Problem description

I'd like to be able to query properties of glyphs that are "hit" by a `TapTool` / `Tap` event.

See [discussion here](https://discourse.bokeh.org/t/get-glyph-name-using-taptool/8978/6)

### Feature description

Renderers / glyphs "hit" by a tap are captured as a list-like selection.

E.g.: `TapTool.selected` (tool) and `Tap.selected` (event) return a list of renderers hit

[2022-03-16 16:39] stas-sl commented on #12047
Thanks for checking it! Interesting... I've just installed Mobile Firefox 98.1 (8367) and reproduced the same issue as well. It occurs more often on the first scroll when you are at the top of a page, also if you scrolled down to the middle and try to scroll up just a little bit, it suddenly jumps right to the top. Also I observe content disappearing after a few page refreshes.
But I'm using iOS d

[2022-03-16 19:31] mattpap commented on #12047
Whatever is going on in this issue, it should be fixed by the new layout.

[2022-03-17 12:21] henriquejh commented on #7144
Maybe my solution is not fitted to this specific case, but `WebSocket connection closed: code=None, reason=None` was an issue too in my WebApp builded basically on Bokeh.

One of the features of my WebApp was a simulation that kept processing some data for around 1 minute. After exactly 1 minute, my WebSocket closed for no reason. And this issue only happened on production, in an AWS instance.

It

[2022-03-17 23:57] vicade-mp opened #12049 "Typo in ValueError in L170 of serialization.py repo"
### Software versions

N/A

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

N/A

### Observed behavior

N/A

### Example code

[code]

### Stack traceback or browser console output

_No response_

### Screenshots

<img width="1440" alt="VE 2" src="https://user-images.githubusercontent.com/67339350/158912233-4c94c622-9ba

[2022-03-17 23:58] vicade-mp opened #12050 "ValueError in L221 of serialization.py repo"
### Software versions

N/A

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

N/A

### Observed behavior

N/A

### Example code

[code]

### Stack traceback or browser console output

_No response_

### Screenshots

<img width="1440" alt="VE 2" src="https://user-images.githubusercontent.com/67339350/158912531-3d73a757-37e

[2022-03-18 00:09] bryevdv commented on #12050
Hi @vicade-mp it’s not clear what issue you are reporting. Please add a text description of the problem as well as any code (as copyable text) that will reproduce the problem, etc.

[2022-03-18 00:10] bryevdv commented on #12050
Dupe of #12049

[2022-03-18 00:10] #12050 closed

[2022-03-18 16:35] g-parki commented on #12049
Typo in this line:
https://github.com/bokeh/bokeh/blob/c2e2b167ec076e01a5188b07b3ffeb14bfa8c395/bokeh/util/serialization.py#L170

[2022-03-18 19:23] #12049 closed

[2022-03-19 14:49] GilShoshan94 commented on #7093
Hi, @bryevdv,
is it possible the make the `title` of the `ColorBar` `Nullable(Either(MathString, Instance(BaseText)))` instead of `Nullable(String)`, just like for for the `axis_label` of `LinearAxis` and `LogAxis` ?

So the it would accept LaTex string easily.

[2022-03-21 20:44] muendlein opened #12053 "[BUG] Bar plots misaligned if data is numeric and xrange is categorical factor range"
### Software versions

Python version : 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]
IPython version : (not installed)
Tornado version : 6.1
Bokeh version : 2.4.2

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

Combining numerical data with categorical factor range for bar plots should e

[2022-03-21 20:57] bryevdv commented on #12053
Categorical coordinates must be strings, full-stop. The code above is not expected to work. You need to either:

* convert the x-values to strings, or
* not use a factor range (it's not clear why you would want or need to, if your data is numeric).

Further guidance about this is a support question topic, so please refer to [Discourse site](https://discourse.bokeh.org) to ask additional questions.

[2022-03-21 20:57] #12053 closed

[2022-03-21 21:07] muendlein commented on #12053
@bryevdv
I know that categorical coordinates must be strings BUT an error message would be very helpful in this scenario. In particular if the code is not expected to work.

[2022-03-22 17:24] bryevdv commented on #12053
@muendlein Unfortunately, it's tricky. Bokeh is highly modular/composable and also cross-language. That has tradeoffs in both directions:

* highly modular means easier to test (in isolation) and develop, and affords the flexibility of users putting things together in their own combinations. The downside is that not all combinations make sense, combinatorial explosion means testing every possible

[2022-03-22 17:39] muendlein commented on #12053
@bryevdv Thank you for your exhaustive explanation!

[2022-03-22 19:28] bryevdv commented on #9416
@dharhas I don't think anything has changed since mine or @philippjfr comments above. I still think a good first step is to update the handler locally to first figure out and confirm exactly what header changes/additions are needed, and then based on that, back out the requirements for how to make it configurable [1]

[1] Because there are lots of possibilities: do the existing defaults need some

[2022-03-22 19:54] dharhas commented on #9416
I may have spoken too soon, sounds like our issue isn't related to the CORS aspect of this. Sorry for the noise.

[2022-03-23 16:11] vroger11 opened #12058 "[BUG] webgl backend results in dashed lines"
### Software versions

Python version      :  3.8.12 (default, Oct 12 2021, 13:49:34)
IPython version     :  8.1.1
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /home/vroger/.miniconda3/envs/data_analysis/lib/python3.8/site-packages/bokeh/server/static
node.js version     :  v17.7.1
npm version         :  8.5.4
Operating system    :  Linux-5.16.14-1-MANJARO-x86_64-

[2022-03-23 16:44] bryevdv commented on #12058
WebGL has undergone extensive re-work with lots of new tests on `branch-3.0`. There is a good chance this is already resolved there. cc @ianthomas23

[2022-03-23 17:56] ianthomas23 commented on #12058
This is definitely a bug that still exists on `branch-3.0`. Here is a simpler reproducer:
[code]
![line](https://user-images.githubusercontent.com/580326/159763504-84ea87fa-ff66-45d3-9969-b1809ed3ba5f.png)

It only happens for `line_join="bevel"`, which is unfortunately the default. As a workaround, using
[code]
or `line_join="round"` gives you what you want to see.

I know what the problem is, so

[2022-03-23 20:46] EfremBraun commented on #11557
Wanted to give this issue a bump again. I think the solution was implemented in SlickGrid, so Bokeh's SlickGrid just needs to be updated to version 2.4.44.

[2022-03-24 15:23] bh-tt commented on #11991
@alexanfl Have you had any time to look at this?

[2022-03-25 21:57] golmschenk commented on #8807
In case others need a solution, a workaround I have been using is to export to SVG and use a third party library (`cairosvg`) to convert the SVG to a higher resolution PNG.

Example:
[code]

[2022-03-25 22:38] allefeld commented on #10804
Is there a workaround to get theme-based SVGs without waiting for 3.0?
Or, for when is 3.0 planned?

[2022-03-26 00:17] stas-sl commented on #8807
One of the reasons why I wanted to export some plots as png was that they had lots of data (~100K points) and svgs probably will be huge in that case as well, while pngs are more or less have fixed size.

[2022-03-26 13:03] dnnr opened #12062 "[FEATURE] Support varea with step lines"
### Problem description

Currently, there appears to be no way to fill an area (like with VArea) with a step-line boundary.

The only discussion about it that I could find is this: https://discourse.bokeh.org/t/stacked-area-plot-with-step-levels/4679 There it's suggested to try using vbar_stack instead, but this covers only a narrow subset of what could be done with a proper step-wise varea.

If n

[2022-03-26 16:55] jbednar commented on #12062
Sounds useful, and once implemented we could add datashader support to cover the case in the linked issue.

[2022-03-27 19:08] stas-sl commented on #11745
Just faced the same issue. After a few hours of digging into the source code, I managed to kinda solve it, but it looks quite hacky. Would be nice if there existed a better way similar to python, but I didn't find it.

https://observablehq.com/d/ffddeccfd2462f80

[code]

[2022-03-29 08:36] alexanfl commented on #11991
@bh-tt, @bryevdv Sorry for the late reply. I haven't looked at this since the suggested solution. But I spent some time then familiarizing myself with the different parts of the test suite, and `test_auth_provider.py` was one of the files I looked the most at without luck. I will take another look and get back to you with specific problems I have. Hopefully I can do it this week.

@bryevdv I'll do

[2022-03-30 18:46] stas-sl commented on #11998
Was experimenting a little bit with it on Observable https://observablehq.com/d/f9a60b53c1ced87a, comparing it with using a plain canvas, and I realized that even in the simplest case if you re-render all 30K points on every mouse move, there is a bit of lagging (maybe a bit less than in bokeh's case). It of course makes sense when you think about it, just was not very obvious at first from the us

[2022-03-30 19:08] bryevdv commented on #11998
It's a good question, and something like that is definitely possible. The relevant term of art is usually "damage regions". i.e. identifying what sub-rect of a canvas was "damaged" by some change and re-rendering that. And because of how the canvas drawing APIs work, it does ultimately have to be in terms of a *region* to redraw, and not e.g. directly in terms of "redraw just these *indices*. For

[2022-03-30 19:29] stas-sl commented on #11998
Thank for clarifying, Bryan, then probably the issue could be closed as "not actionable" at this point.

[2022-03-31 06:06] #4568 closed

[2022-03-31 06:06] #9763 closed

[2022-03-31 06:06] #11839 closed

[2022-03-31 07:45] mosc9575 opened #12066 "[FEATURE] Link documented sampledata to standalone example"
### Problem description

Right now the [sampledata](https://docs.bokeh.org/en/latest/docs/reference/sampledata.html?highlight=sampledata#module-bokeh.sampledata.airports) on the documentation is listed and some of these datasets are used in exmples (in `examples/plotting/file` and `examples/models/file`. In #11765 the goal is to link the examples with the sampledata, but there is no link in the ot

[2022-03-31 07:47] mosc9575 commented on #12066
FYI: I want to give this problem a try myself.

[2022-03-31 09:09] ianthomas23 commented on #12058
Closed by #12065

[2022-03-31 09:09] #12058 closed

[2022-03-31 09:44] ianthomas23 commented on #11998
I am glad that the WebGL performance is good!

WebGL, as with canvas, renders every marker once per frame, but each individual marker rendering is faster (provided you are rendering lots of markers). The same JavaScript hit testing occurs for both renderers so if the WebGL performance is good we have at least confirmed that the hit testing is not the slow part of the canvas rendering process.

[2022-03-31 18:55] mart00n opened #12069 "[BUG] Long x axis labels misaligned on charts"
### Software versions

Python version      :  3.8.12 | packaged by conda-forge | (default, Oct 12 2021, 21:22:46) [MSC v.1916 64 bit (AMD64)]
IPython version     :  8.2.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  C:\ProgramData\CooperConda\lib\site-packages\bokeh\server\static
node.js version     :  (not installed)
npm version         :  (not installed)
Operati

[2022-04-01 15:37] mbrown1413 opened #12070 "[BUG] Wedge/AnnularWedge hit testing cuts off top/bottom"
### Software versions

Tested on both 2.2.3 and the latest "branch-3.0" development branch.

Python version      :  3.8.13 | packaged by conda-forge | (default, Mar 25 2022, 06:04:10)
IPython version     :  8.2.0
Tornado version     :  6.1
Bokeh version       :  3.0.0dev5+23.g6f1e39a2a.dirty
BokehJS static path :  /home/msbrown/bkdev/bokeh/bokeh/server/static
node.js version     :  v16.14.2
npm ve

[2022-04-01 15:44] mbrown1413 commented on #12070
I'm working on a pull request for this.

[2022-04-01 16:00] mbrown1413 commented on #12070
Code for reproducing this with AnnularWedge as well:

[code]

[2022-04-01 16:54] DonCammne opened #12072 "[FEATURE] Curved Arrow"
### Problem description

I noted that it is possible to create the model of a straight arrow but not a curved one.

### Feature description

I would like to have a model similar to Arrow but called CurvedArrow (for example) that takes in another argument called "radius" that describes the circular path of the arrow. The head of the arrow has the same direction of the end point.

### Potential alte

[2022-04-01 18:07] mattpap commented on #12072
As of bokeh 3.0-dev, curved arrows can be achieved using glyph decorations (currently only implemented in arc and segment glyphs). See https://github.com/bokeh/bokeh/blob/branch-3.0/examples/plotting/file/trefoil.py as an example ([preview](https://user-images.githubusercontent.com/27475/113365025-51deef00-9355-11eb-8b62-a40e56e16918.png)).

[2022-04-01 21:23] tcmetzger opened #12073 "Add user guide section about sub-coordinates/subplots"
Based on the discussion in https://github.com/bokeh/bokeh/pull/12068, I noticed we don't have a user guide section explaining the concept used in that example. We should add information about `subplot()` to the user guide!

[2022-04-01 21:29] tcmetzger commented on #12073
The first question to consider: Where in the user guide would be a good place for this? How about adding this new section between [Intervals](https://docs.bokeh.org/en/latest/docs/user_guide/categorical.html#intervals) and [Scatters](https://docs.bokeh.org/en/latest/docs/user_guide/categorical.html#scatters) to the [categorical data chapter](https://docs.bokeh.org/en/latest/docs/user_guide/categor

[2022-04-03 13:22] asears opened #12075 "Cannot import name 'TypeGuard' from 'typing_extensions'"
### Software versions

Python version      :  3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
IPython version     :  (not installed)
Tornado version     :  6.1
Bokeh version       :  3.0.0dev5+24.ga0cd142e9
BokehJS static path :  d:\projects\python\bokeh\bokeh\server\static
node.js version     :  v17.0.1
npm version         :  8.6.0
Operating system    :  Windows-10-10.0.19041-S

[2022-04-03 13:57] asears commented on #12075
Typing-extensions has some conditional logic to expose the TypeGuard class based on Python version.  Should bokeh handle this scenario in code or remove TypeGuard if it's unstable?

The python version with the issue.

[code]
(3, 8)

I can confirm that after upgrading to Python 10.4 I'm no longer seeing this particular error in pytest.

The commit that may have introduced the issue is #11959.  Type

[2022-04-03 14:53] bryevdv commented on #12075
Your version of `typing_extensions` is to old. We don't need to remove anything, but evidently we need to set a floor version on `typing_extensions`.

[2022-04-03 17:09] mattpap commented on #12075
As of `typing_extensions` 4.1.1 (which is used in this bug report), `TypeGuard` is exported for all relevant Python versions (see `__all__`). Also, we already have a lower bound (3.10) that includes `TypeGuard`. I'm guessing this is an environment issue.

[2022-04-03 18:00] bryevdv commented on #12075
I think so, now that I am at a computer, I cannot reproduce any issue with Python 3.8.8 and `typing_extensions`:
[code]
@asears we would need more detailed steps to reproduce before considering any action.

[2022-04-03 23:04] asears commented on #12075
Thanks for looking into this so quickly. For sure it looks like an older typing-extensions causing the issue in base env.  It's just random "luck" that I caught this in an older environment on one of my machines.

[code]

typing_extensions-3.7.4.3.dist-info is what I see in the site-packages folder.

This is probably the Python 3.8.8 problem env which doesn't have TypeGuard class.

When I run a pi

[2022-04-04 11:47] DonCammne commented on #12072
Thanks, it's a very useful implementation. Do you have an idea when the 3.0 version will be released (stable and complete)? I'm working on a server not maintained by me, thus I cannot change the version.

[2022-04-04 16:50] bryevdv commented on #12075
I'm not sure how anything about numpy is relevant. Adding numpy (1.20) to the previous env does not cause any issues:

[code]

It's really not. No Python package can be expected to work unless all of its dependencies are correctly installed. Why would anything be different in this situation? `typing_extensions` is maintained and released by the Python project itself. We stipulate a sufficient vers

[2022-04-04 16:51] bryevdv commented on #12075
@mattpap I would be 👍 to close this with `noaction`

[2022-04-04 17:11] #12075 closed

[2022-04-05 00:27] monadandan opened #12077 "[BUG] Figure x_range and y_range DataRange1d stops working when a renderer view changes while the plot is not displayed"
### Software versions

Python version      :  3.7.4 (default, Aug 13 2019, 15:17:50)
IPython version     :  7.31.1
Tornado version     :  5.1.1
Bokeh version       :  2.4.2
BokehJS static path :  /Users/<redacted>/miniconda2/envs/<redacted>/lib/python3.7/site-packages/bokeh/server/static
node.js version     :  (not installed)
npm version         :  (not installed)
Operating system    :  Darwin-19.

[2022-04-05 01:00] bryevdv commented on #12077
@mattpap just noting this is also present on `branch-3.0` Here is an update MRE for Bokeh 3.0

[code]

[2022-04-05 03:46] London38 commented on #4698
it's 2022 now,, I'm hoping to see this features added            ◉ ◎

[2022-04-05 13:03] mbrown1413 commented on #11205
I ran into this when looking into #12071. The issue is that `Wedge` (and `AnnularWedge`) use `angle_between()` (see "core.util.math.js") for hit testing, which normalizes the angles to be between `0` and `2*pi` then returns `false` if they are equal. So even though the two angles of the wedge go full-circle, it's considering the angles to be the same and so it fails the hit test.

I think a good s

[2022-04-05 18:41] marxide opened #12078 "[BUG] Non-circle hover glyphs permanently rendered with vline/hline mode"
### Software versions

Python version      :  3.8.13 | packaged by conda-forge | (default, Mar 25 2022, 06:06:49)
IPython version     :  8.2.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  ~/miniconda3/envs/test/lib/python3.8/site-packages/bokeh/server/static
node.js version     :  (not installed)
npm version         :  (not installed)
Operating system    :  macOS-

[2022-04-05 18:44] marxide commented on #12078
This issue was also reported in #11446. #11453 claims to have fixed this but it only appears fixed for circle glyphs drawn with `Figure.circle`, not any other glyph or with `.scatter` as provided in the example above.

[2022-04-05 23:24] sistemicorp opened #12079 "[FEATURE] BitSet class speed improvement (maybe)"
### Problem description

My plotting application plots many (~500k) XY time series data and I was interested in improving the speed.

This work was done on bokeh version 2.4.2, Ubuntu 20.04.4 LTS, Chrome 99.0.4844.84.

I forked the code to take a look (and learn) to see what was taking the time.  Note, I am not a java/typscript programmer - my world is mostly C and Python.

I am aware from monitor

[2022-04-06 04:47] London38 commented on #8807
![imagen](https://user-images.githubusercontent.com/98439553/161897238-27e802d7-70dc-43e2-a63b-177faa6aefd9.png)
@bryevdv  @stas-sl  Also extra y axis has more resolution than normal x and y axis as is shown in the image.
I thought I was getting blind ;/

Hope ya guys take a look at this in the future ;)
Thanks for your efforts

[2022-04-06 06:03] bryevdv commented on #8807
@London38 For PNG output, Bokeh ultimately just calls the HTML canvas [`ctx.fillText`](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/fillText) method with the text to render. Everything beyond that is out of our control. SVG output might be a better option if the PNG results are not suitable for your use-case.

[2022-04-06 06:20] bryevdv commented on #8807
I've reopened this with a new title. In case anyone wants to take a stab at implementing @stas-sl  earlier idea, a reminder of what is needed:

This is a (somewhat rare) purely Python task, so it is really an excellent opportunity for someone new to decide to become involved without having to dive into BokehJS.

[2022-04-06 06:22] bryevdv commented on #11769
I've re-opened #8807 which has (hopefully) a simpler approach involving providing a single scale factor to the webdriver. I'll close this for now as a duplicate (since there is more discussion in the other issue).

[2022-04-06 06:22] #11769 closed

[2022-04-06 07:47] mattpap commented on #12079
This is a shorthand for `for (const j of this.ones())`. The proposed alternative is definitely incorrect for all but a trivial case.

This is the place where actual optimization can happen. Currently we are in the process of transitioning to using bitsets across the codebase, and currently conversions between bitsets and `number[]` happen way too often.

[2022-04-06 14:44] #12079 closed

[2022-04-06 21:31] London38 commented on #8807
`import random
from bokeh.io import output_notebook
# Call once to configure Bokeh to display plots inline in the notebook.
output_notebook()
from bokeh.plotting import figure, show
from bokeh.models import (
                      Range1d,
                      LinearAxis,
                      )
def random_timeseries(initial_value: float, volatility: float, count: int) -> list:
    time_series =

[2022-04-06 22:03] bryevdv commented on #8807
@London38 You did not provide any of the details I mentioned:

I'm not sure how I can make it clearer: this is very likely a ***highly platform specific issue***. Those details *matter* and we can't how to do or say anything without the.

*All that said*, I don't actually think this has anything to do with the issue at hand, since you aren't actually exporting anything, and this issue is about exp

[2022-04-07 12:39] ianthomas23 opened #12080 "[BUG] examples/plotting/file/image.py no longer works"
### Software versions

Python version      :  3.10.2 | packaged by conda-forge | (main, Mar  8 2022, 15:52:01) [GCC 9.4.0]
IPython version     :  8.2.0
Tornado version     :  6.1
Bokeh version       :  3.0.0dev5+5.g1b3e6acd6
BokehJS static path :  /home/iant/github/bokeh/bokeh/server/static
node.js version     :  v16.14.2
npm version         :  8.5.0
Operating system    :  Linux-5.13.0-39-generic-

[2022-04-07 12:52] ianthomas23 commented on #12080
Examples `image_rgba.py` and `image_alpha.py` in the same directory work fine.

[2022-04-07 22:18] mattpap commented on #12078
Still an issue on `branch-3.0`.

[2022-04-08 20:14] rocheseb opened #12085 "[BUG] gap between adjacent patches with bokeh.models.Patches"
### Software versions

Python version      :  3.9.12 (main, Apr  5 2022, 06:56:58)
IPython version     :  8.2.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /home/sroche/anaconda3/envs/bokeh-latest/lib/python3.9/site-packages/bokeh/server/static
node.js version     :  (not installed)
npm version         :  (not installed)
Operating system    :  Linux-4.4.0-19041-M

[2022-04-09 16:30] ianthomas23 commented on #12085
There isn't really anything that we can do about this. HTML canvas, and most other rendering engines, use a form of alpha blending that is really good for dealing with interpolation of images and textures but is less good in situations like this.

The standard workaround is to use a line of the same color as the fill, but this is no good if your alpha is less than 1 as the fill and line are render

[2022-04-10 00:19] mattpap commented on #5829
This should be fixed as a part of #12074 (in PR #12083).

[2022-04-10 01:06] Anton-Le commented on #12085
For me this is a major problem, as I have embarked on exploring my simulation datasets interactively, using xarray and holoviews, which for interactivity relies on Bokeh. Gaps between patches result, in my case, not only in a 'milky image', but in some aliasing artefacts.

When using the line of the same colour as the fill, is it possible to befine this for _every_ patch separately?

[2022-04-10 01:13] bryevdv commented on #12085
Yes, `line_color` is vectorizable for every glyph, including patches.

[2022-04-11 08:14] Hoxbro opened #12087 "[BUG] Abspath does not expand users home directory"
### Software versions

Python version      :  3.8.13 | packaged by conda-forge | (default, Mar 25 2022, 06:04:10)
IPython version     :  8.1.1
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /home/shh/miniconda3/envs/holoviz/lib/python3.8/site-packages/bokeh/server/static
node.js version     :  v17.8.0
npm version         :  8.5.5
Operating system    :  Linux-5.16.15

[2022-04-11 10:01] jonasallgeier commented on #3393
As the topic of "*the preparation of my data takes some time; can I let the user know that Bokeh is still working on it?*" appears to be a comparably frequent problem (e.g.,
https://discourse.bokeh.org/t/progress-bar-while-bokeh-loads-processes/2034, https://discourse.bokeh.org/t/loading-indicator-when-data-is-being-updated/6985/2, https://discourse.bokeh.org/t/mouse-pointer-appearance-can-i-set-a

[2022-04-11 18:10] muendlein opened #12088 "[BUG] Select widget has no value if only options are provided but the UI suggests otherwise"
### Software versions

Python version : 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)]
IPython version : (not installed)
Tornado version : 6.1
Bokeh version : 2.4.2

### Browser name and version

_No response_

### Jupyter notebook / Jupyter Lab version

_No response_

### Expected behavior

When using the Select widget and only providing options but no initial value,

[2022-04-13 10:08] govinda18 opened #12089 "[FEATURE] Make bokeh server listen to unix socket"
### Problem description

I want to bind the bokeh server([panel](https://panel.holoviz.org/) running on a bokeh server) to a UNIX socket. I could not find a way to do this except for  [this](https://github.com/bokeh/bokeh/issues/5383) which was closed as the logger did not require it anymore.

### Feature description

It would be helpful if it can be done via cli - something like

[code]

### Pote

[2022-04-13 16:50] bryevdv commented on #12089
This was previously discussed here (quite some years ago) https://github.com/bokeh/bokeh/issues/5383 In that instance, external changes made it so that sockets were no-longer the only option. Since there was otherwise very little demand for this feature, the discussion was closed.

There still seems to be very little demand for this feature, so my assessment has not really changed: The best chance

[2022-04-14 02:23] tlvu opened #12090 "[BUG] notebook_url for running behind JupyterHub with jupyter-server-proxy not working anymore"
### Software versions

Python version      :  3.8.13 | packaged by conda-forge | (default, Mar 25 2022, 06:04:10)
IPython version     :  8.2.0
Tornado version     :  6.1
Bokeh version       :  2.4.2
BokehJS static path :  /opt/conda/envs/birdy/lib/python3.8/site-packages/bokeh/server/static
node.js version     :  v16.13.1
npm version         :  8.1.2
Operating system    :  Linux-3.10.0-1127.18.2.e

[2022-04-14 04:48] bryevdv commented on #12090
@tlvu That message is not coming from Bokeh, it is coming from Panel:

https://github.com/holoviz/panel/blob/30e8beed30f57bafa24ad973a6d94539bffbaf1e/panel/io/server.py#L774

Panel is a separate project with different maintainers. I would suggest you instead open this issue on the Panel repo. Alternatively, if you can provide a pure-Bokeh  [Minimal Reproducible Example](https://stackoverflow.com/h

[2022-04-14 05:00] bryevdv commented on #12090
I guess I would also note that the very simple code to process callables in this context has not changed in 4 years:

<img width="986" alt="Screen Shot 2022-04-13 at 21 54 12" src="https://user-images.githubusercontent.com/1078448/163316250-fdb493d1-2b96-4fe9-9ba1-7973ca5ba074.png">

[2022-04-14 07:58] govinda18 commented on #12089
Thanks @bryevdv, I have raised a PR with a basic setup that works with my usecase. I do not have a lot of experience with socket programming or bokeh for that matter, please do let me know what else I may be missing here.

[2022-04-14 13:44] tlvu commented on #12090
@bryevdv

Oh sorry, I did not realized that.

Indeed, will try an issue on Panel side.

The issue is only with the display of the message.  The functionality works fine.

If I manually alter the URL in my browser to `https://medus.ouranos.ca/jupyter/user/lvu/proxy/5007/`, it works fine.

I basically do not want my users to have to remember to manually alter the display URL they got back from the c

[2022-04-14 13:44] #12090 closed

[2022-04-14 14:42] tlvu commented on #12090
FYI, started a post on Holoviz discourse: https://discourse.holoviz.org/t/how-to-customize-the-display-url-from-panel-serve-for-use-behind-jupyterhub-with-jupyter-server-proxy/3571

[2022-04-15 13:50] carve11 commented on #9935
@RiccardoGiro I very much support your suggestion. I was thinking if the "context" string should be on a new line just below the very first tick label? Is there a risk of overlooking the context string if it is below the axis label? In the figure below I just tried to play around with FuncTickFormatter to illustrate what I mean.

<img width="605" alt="Uden navn" src="https://user-images.githubuser

[2022-04-15 15:50] RiccardoGiro commented on #9935
Coming from a MATLAB background, the best solution I prefer would be to have the context string at the same height as the label and placed on the rightmost part of the plot, but I could not find an easy way to do so; however, it's just personal taste. As far as your solution is concerned, I don't particularly enjoy having the context on the left side because it's too close to the origin of the axe

[2022-04-17 04:38] parthpatel9414 commented on #11765
Hello there, I'm new to the open source community and I would like to give this a try!

[2022-04-17 18:21] bryevdv commented on #9935
@carve11 I really want to thank you for your comment here. Multi-line tick labels are a fairly recent addition to Bokeh, and I had not made any connection between them, and this issue.

The code for "nice" datetime ticking and spacing is ~15 years old (ported from Chaco) and has not really been touched much in almost a decade. Not wanting to disturb any of that is probably the main reason no-no wa

[2022-04-17 18:24] bryevdv commented on #9935
For concreteness, what I plan  to explore: Adding a `context` property that can accept a tick formatter, and a few other properties to control the positioning of the extra context (i.e. which tick(s) to add it to).

[2022-04-18 00:31] jadalilleboe commented on #11765
I'd like to try this for `examples/models/file/choropleth.py`

[2022-04-18 13:41] ramanshah commented on #11765
Yay @parthpatel9414 @jadalilleboe :)

Parth, to get a crude listing of examples needing metadata, you can run the shell command

[code]

from the `bokeh` repo root directory, and it will return a list of such examples. Then it's a task of running examples, reading code, figuring out what the examples are doing, and writing up your findings. By this count, I'm seeing 66 left to annotate right now.

[2022-04-19 15:30] jadalilleboe opened #12093 "[BUG] Flake8 pre-push test failure"
### Software versions

Python version      :  3.10.4 | packaged by conda-forge | (main, Mar 24 2022, 17:43:32) [Clang 12.0.1 ]
IPython version     :  8.2.0
Tornado version     :  6.1
Bokeh version       :  3.0.0dev5+26.g7b039ec37
BokehJS static path :  /Users/jadalilleboe/Desktop/bokeh/bokeh/server/static
node.js version     :  v16.14.2
npm version         :  8.7.0
Operating system    :  macOS-12.

[2022-04-19 16:20] jadalilleboe commented on #12093
[code]

[2022-04-19 16:45] bryevdv commented on #12093
That's the latest, maybe it is too *new*? In any case I agree the correct thing to do is update any remaining `.pyi` files. Some had already been updated but apparently not all. @jadalilleboe Would you be interested to submit a PR to update the `.pyi` files under the `typings` directory?

[2022-04-19 16:59] jadalilleboe commented on #12093
Sure!

[2022-04-19 18:26] #12093 closed

[2022-04-19 20:11] parthpatel9414 commented on #11765
Thank you @ramanshah for the brief explanation.
I will jump and start contributing.

[2022-04-22 19:46] HuxleyJay opened #12095 "ESRI IMAGERY tiles turn grey when zoomed in"
Hi there,

It would be great to set the ESRI’s " NoDataTileBehavior", so you could zoom in further without the map turning grey.
https://developers.arcgis.com/qt/cpp/api-reference/maptypes-h.html#NoDataTileBehavior-enum

Example with Bokeh 2.4.2 (run this then zoom in all the way until it turns grey to see what it does):

`from bokeh.plotting import figure, output_file, show
from bokeh.tile_provid

[2022-04-23 22:10] code-review-doctor opened #12096 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/bokeh/bokeh/blob/1b428235cd5342d677b624bad3f35f5062e88959/bokeh/core/property/either.py#L96
https://github.com/bokeh/bokeh/blob/1b428235cd5342d677b624bad3f35f5062e88959/bokeh/sphinxext/bokeh_prop.py#L124
https://github.com/bokeh/bokeh/blob/1b428235cd

[2022-04-24 02:14] bryevdv commented on #12096
cc @mattpap trying to see if their free tier can be used by OSS orgs. Not all of their suggestions are applicable for us,  but if the service can submit PRs for things like updating 400+ f-string conversions in one go, that would be nice.