[2015-02-23 17:36] bryevdv commented on #1589
I agree, let's hash out a plan of for that after this PR is merged (hopefully later today)

[2015-02-23 18:06] Maggie-M opened #1964 "CSS/HTML issues with grid plots"
**Note**: I encountered this behavior most recently in *plotting/notebook/linked_brushing.ipynb* running Python 3, with Chrome as the browser.  I have seen this behavior in other grid plots .py files, as well.  **I have not yet found a way to consistently reproduce this; reloading the notebook or .py file often solves the problem.**

When clicking the preview widget in many grid plots, the preview

[2015-02-23 18:33] damianavila commented on #1964
I think I can have an idea about this... I think the problem comes from loading bokehjs multiple times... I did not see it for a while, but I will investigate...

[2015-02-23 19:55] Maggie-M opened #1965 "Problems when sizing a plot too small"
If you select resize on a plot and then drag your mouse to the left as far as you can, it becomes impossible to expand or resize the plot any further.

![screen shot 2015-02-23 at 1 51 39 pm](https://cloud.githubusercontent.com/assets/1417520/6335778/83f7c74e-bb63-11e4-8aff-8923539b54ac.png)

**EDIT** This behavior is also reproducible if you drag your mouse pointer outside of the page while resiz

[2015-02-23 22:22] mattpap commented on #1965
@Maggie-M, please report JS console errors next time, those pretty important to understand what's going on here.

[2015-02-23 22:24] mattpap commented on #1965
This issue is related to #1723 and perhaps other. JS console shows "unknown constraint" or "unsatisfiable constraint" errors from kiwi.js.

[2015-02-24 01:38] pofican opened #1967 "How to plot with different colors when using Dot Charts and Bar Charts?"
I would like to have a dot/bar plot where each dot/bar that belongs to a different category has a different color, is it possible to do this with Bokeh?

Also when I try to plot a dot chart lets say for 3 diffenrent group of categories all the dot plots appears to be red. Is there a way I could at least change the color of dot plots for different data sets?

Thanks in advance!

[2015-02-24 01:51] pofican commented on #1645
I am facing a similar issue with Dot Charts and tried your solution still no luck cause there is no _set_colors attribute for a Dot Chart object:
AttributeError: 'Chart' object has no attribute '_set_colors'
Any ideas?

[2015-02-24 02:51] knightofni opened #1968 "Patches : passing a list instead of a list of lists result in a silent error"
As said in title. It probably should throw an exception, or at least a warning.

Illustrative (not working) example below

[code]
![screen shot 2015-02-24 at 10 48 29 am](https://cloud.githubusercontent.com/assets/3415960/6342350/b65f4e50-bc12-11e4-926f-fdaf3750b581.png)

[code]

![screen shot 2015-02-24 at 10 49 09 am](https://cloud.githubusercontent.com/assets/3415960/6342358/d36f6bba-bc12-11e4-

[2015-02-24 03:23] knightofni opened #1969 "Patches (from models) fill_color argument throws hard to understand error if given a list of colors"
When feeding the Patches method (*from the models interface*) the **fill_color** argument with a list of colors (rather than a single color), bokeh will throw a relatively confusing error (assert error ==> not a dict - see below).

As in the patches method (*from the plotting interface*) it is possible to feed the **color** argument with a list of colors (one for each patch), it feels natural to k

[2015-02-24 03:56] knightofni opened #1970 "Change default bokeh server backend to "memory""
I have an embedded bokeh visualisation (using `autoload_server`) that is crashing strangely.

The visualisation is composed of a dropdown widget, and 2 plots (Line & Patches). The dropdown controls the data displayed by the two plots.

After running it, it initially behaves flawlessly. Interaction is possible with the two plots, and the dropdown updates the data as expected.

However, after a few

[2015-02-24 04:21] birdsarah commented on #1645
Good news - it's super easy now.

[code]
pass palette into chart call e.g.
[code]

Palette can actually be a list of any values you want, but there's built in ones shown here: http://bokeh.pydata.org/en/latest/docs/reference/palettes.html

It's very briefly documented here: http://bokeh.pydata.org/en/latest/docs/user_guide/charts.html#generic-arguments

[2015-02-24 04:22] birdsarah commented on #1645
I opened an issue to improve the documentation: #1873

[2015-02-24 04:26] birdsarah commented on #1967
It might be easier to help with some specific code that's not working. I believe there are examples in the gallery and in the examples folder that cover this need:

http://bokeh.pydata.org/en/latest/docs/gallery/iris.html
http://bokeh.pydata.org/en/latest/docs/gallery/stacked_bar_chart.html

Also see my comment [here](https://github.com/bokeh/bokeh/issues/1645#issuecomment-75683825), about how to

[2015-02-24 06:56] birdsarah commented on #1379
@davidljung in case you didn't have answers to the questions, working with the latest bokeh (currently 0.8.1) I think the following is correct:

Example of using a chart, storing it on the server, and getting the autoload:
[code]
If you don't use the line `document.clear()` you will see, on the server, that there are multiple copies of your chart building up.

However, the script just gives you th

[2015-02-24 11:06] fpliger commented on #1379
thanks @birdsarah  for following up on this, specially bringing an example of `charts` and `bokeh-server` integration (we don't have many available yet).

IIRC we have had the discussion regarding a monkeypatch solution that could make the previous versions of `bokeh.charts` work with bokeh server (or embedding). The issue was that `charts` didn't inherit from `Plot` like in >`0.8` version and had

[2015-02-24 11:11] fpliger commented on #1873
:+1:

[2015-02-24 11:23] almarklein commented on #1961
I could take this one, but need some advice on what you think is the best approach. Turning it into a warning is the simplest solution, and solves the main problem. Suppressing the error completely is more difficult, unless there is already some mechanism available to temporarily turn off logging during tests.

[2015-02-24 11:30] fpliger commented on #1949
@Maggie-M I've opened the PR with the improvements I've mentioned yesterday. I'm assigning this issue to me as I plan to add the support for specific location for examples on that PR later today..

[2015-02-24 11:35] fpliger commented on #1961
Not sure warning is a good idea because you *really* need to test that Auth exception is handled.

I'd suggest monkeypatching logger in that `test_handle_auth_error_decorator` test in order to "turn off" logging just in that point of tests. It's not a nice solution but should do the trick...

[2015-02-24 12:36] almarklein commented on #1961
Ah, it's a bit more subtle:

    try:
        return func(*args, **kwargs)
    except AuthenticationException as e:
        logger.exception(e)  # <--- prints red text to console that looks like an exception
        return abort(401)  # <-- raises an Unauthorized exception

The test (see also some more code in the first post) checks that the `Unauthorized` exception is raised. My proposal is to tu

[2015-02-24 13:33] rizar opened #1973 "logging.basicConfig should not be called by 'import bokeh'"
The `logging.basicConfig` call is typically performed by the user. It is allowed to be called only once during program life time, all subsequent calls do nothing.

For these reason I think it is not nice to have it done implicitly by `import bokeh`. It breaks any application using `bokeh` that configures logging after loading used modules.

The respective line in the code: https://github.com/bokeh

[2015-02-24 14:05] bryevdv commented on #1973
Hrmm not sure when that got put in there. It probably ought to be off by default, but configurable with an environment variable. It is often desirable to run the examples with logging on, but would be a tedious burden to have to edit the file every time beforehand.

[2015-02-24 14:06] bryevdv commented on #1973
suggest `BOKEH_PYTHON_LOGGING` handled in `settings.py`

[2015-02-24 14:24] fpliger commented on #1961
`logger.warn` seems to work too.

[2015-02-24 14:27] knightofni commented on #1970
running bokeh-server with the memory backend seems to fix the problem.

[2015-02-24 14:35] bryevdv commented on #1961
Why not use the `mock.patch` decorator to patch `logger.execption` in the one test? You can then verify `logger.exception` was called and even inspect the actual arguments if you wanted. That seems like the best solution to me.

[2015-02-24 14:46] damianavila commented on #1961
pinging @hhuuggoo because he explicitly wants this log there... maybe we need some deep understanding of the use case to choose the best solution...

[2015-02-24 14:49] damianavila commented on #1973
I agree with this solution...

[2015-02-24 14:50] bryevdv commented on #1961
I think the log is good too, that's why I am proposing to use `mock.patch` to test it explicitly.

[2015-02-24 14:52] bryevdv commented on #1973
As an aside, we nee to make the env var names more consistent in terms of what configures the python side and what configures the JS side. e.g, `BOKEH_LOG_LEVEL`  should probably be `BOKEHJS_LOG_LEVEL`

[2015-02-24 14:55] bryevdv commented on #1970
This is really odd we have had the server gallery up and running for over a week now. Do you have a minimum code/deployment config to reproduce this that you can share? Are you trying to write and in-server app, or are you writing a secondary process that polls the server?

[2015-02-24 14:57] fpliger commented on #1961
Yeap agree. That's the reason why I proposed `monkeypatch` (sorry, should have been `mock.patch` but I prefer `pytest` too much :stuck_out_tongue_winking_eye: ) in first place.

[2015-02-24 15:01] damianavila commented on #1973
:+1:

[2015-02-24 15:06] bryevdv commented on #1969
First just for information, the reason that passing a list of colors works in the *glyphs* and *charts* interfaces is because they are much higher level interfaces. They will automatically construct a data source for you, if the plot needs one, if you pass in actual data. Their entire purporse is to make stringing together models more simple. That sort of automation is exactly when should **not**

[2015-02-24 15:14] bryevdv commented on #1968
@mattpap do you have any thoughts on how some validation might be added for this? In general, I think the best that could be done is to check at time of serialization.

@knightofni Unfortunately there is not really any way to check ahead of time, `Patches(xs='xs', ys='ys')` is a specification that says "get your data from columns named `xs` and `ys` in whatever data source you end up configured wi

[2015-02-24 15:16] bryevdv commented on #1961
I am actually interested in looking into `pytest` at some point, after seeing a presentation on it. Maybe you can open an issue to discuss, that shows what some of our tests might look like if we used `pytest` instead.

[2015-02-24 17:04] knightofni commented on #1968
@bryevdv I'm trying to have an area chart, and to update its data based on a the selection from a dropdown, embedded in a webpage. My main source of inspiration was this (great) [example!](https://github.com/bokeh/bokeh/blob/master/examples/glyphs/data_tables_server.py) - which is using the models interface. So I was under the impression that this kind of outcome needed the low-level interface. I'

[2015-02-24 17:31] knightofni commented on #1970
@bryevdv I'm not sure you've seen my comment - as the logs are so long :-) - but running bokeh-server with the memory backend as solved the problem. Only happens with the shelve backend.

I'm working on a small flask app with 3 pages, each of which has a embedded bokeh plot. The plots are generated when the app starts. Every-time a page is rendered by flask, thread will start to poll the necessary

[2015-02-24 17:35] bryevdv commented on #1970
@knightofni OH, the shelve backend. That probably ought to be removed, actually. It's not intended as anything except a toy interface, mostly useful on window where redis is hard to install.

[2015-02-24 17:46] knightofni commented on #1969
@bryevdv Just to be clear, i'm not suggesting that bokeh accepts different input type for colors.

Just to have a more descriptive error message. Something in the line of :

`assert(isinstance(setval, dict)), 'You've passed a list of colors. A single color was expected'`

Except that i can't write a good error message, as it don't really know what other cases could bring to that assert statement.

[2015-02-24 17:47] knightofni commented on #1970
Yep. Maybe the default backend for bokeh-server should be memory ?

[2015-02-24 17:49] bryevdv commented on #1970
Eminently reasonable.

[2015-02-24 17:57] #1784 closed

[2015-02-24 18:39] pofican commented on #1645
Thank you, the documentation is not very detailed and seems like it is out of date.

[2015-02-24 18:45] pofican commented on #1967
OK it seems like not every chard element has a palette attribute, below is my samle code:
palette = brewer["Blues"][3]
dots_ss_fp = Dot(sorted(ss.values()), cat=sorted(ss, key=ss.get), title="Testing Dots", ylabel='SS', xlabel='Vendors',filename="dots.html", legend=False, palette = palette)

and this is the error I get:

AttributeError: 'Chart' object has no attribute '_set_colors'

Any ideas?

[2015-02-24 18:47] Maggie-M commented on #1965
Thanks, I will be sure to include the console errors next time!

[2015-02-24 18:58] pofican commented on #1967
OK the above link for your comment worked I am able to plot different Dot/Bar charts in different colors.
One of my question above was regarding chaning the dot colors within the charts, is it possible to plot a Dot/Bar chart where each dot/bar in that chart has a different color?
So while coding I realized I can not specify a color for each data point, that is  why I don't have a sample code for

[2015-02-24 21:26] almarklein commented on #1961
I did not know that one. Thanks, this seems like the best way forward indeed.

I've experience with both nose and pytest and really prefer the latter. Also, pytest is compatible with nose, so you can aim for a gradual transition (e.g. only write new tests with pytest).

[2015-02-24 21:46] damianavila commented on #1970
I agree, it is a sensible default.

[2015-02-24 22:04] borguz opened #1976 "Tools passed to Histogram do not show in iPython notebook"
Here is sample code:
[code]
Box_zoom tool will not show in the resulting embedded plot in iPython notebook.

[2015-02-25 00:15] damianavila commented on #1976
You are probably using an old version of Bokeh, please install the latest one (0.8.1) and this piece of code should work:

[code]

Cheers.

[2015-02-25 02:02] #1973 closed

[2015-02-25 02:08] #1953 closed

[2015-02-25 02:30] bryevdv commented on #1961
I'm inclined to give it a whirl soon then, we just need to make sure it works with our test automation.

[2015-02-25 03:57] theonlykk opened #1977 "Minor changes to widget_server - incorrect handling of dates"
Hi All

I made a few amendments to widget_server.py and had a few unexpected results.

I suspect these are cosmetic issues and don't take anything away from the fact that Bokeh is an outstanding body of work.

line 26:  dates=[ date(2000+i, 1, 1) for i in range(n) ],
Changing the date to 1 Jan results in the previous day ie 31 Dec being shown on the table.

line 53:  plot.add_tools(HoverTool(toolt

[2015-02-25 04:16] theonlykk commented on #1977
from __future__ import print_function

import time

from datetime import date
from random import randint

from bokeh.browserlib import view
from bokeh.document import Document
from bokeh.models.glyphs import Line, Circle
from bokeh.models import (
    Plot, ColumnDataSource, DataRange1d,
    LinearAxis, DatetimeAxis, Grid, HoverTool
)
from bokeh.session import Session
from bokeh.models.widgets imp

[2015-02-25 05:04] bryevdv commented on #1645
@pofican The charts interface is the newest interface to be added to Bokeh, and has undergone a period of rapid iteration and experimentation. Recently we have settled on a happy design architecture that should remain stable, so we can (and intend to) begin proper documentation.

[2015-02-25 05:13] bryevdv commented on #1969
Well, that particular assertion is in the middle of some very generic serialization machinery, that has nothing in particular to do with patches or colors. Every Bokeh model uses the same code for serializing.

Now that I think about, there might be a place to provide some better information. @mattpap what about some validations around here:

https://github.com/bokeh/bokeh/blob/master/bokeh/proper

[2015-02-25 05:40] bryevdv commented on #187
@JosephCottam any update on experiments with networkX?

Also, a potentially useful reference from @pzwang http://sigmajs.org/

[2015-02-25 08:29] fpliger commented on #1841
@iyneedham something like this: http://bokeh.pydata.org/en/latest/docs/server_gallery/crossfilter_server.html

:-)

[2015-02-25 08:49] fpliger commented on #1841
Sorry for following up so late on this, the last weeks were quite hectic..

FWIW I'd follow @pzwang suggestion and use `xnames` and `ynames` to specify names of the series as a way to select those to be used to x, y coordinates. In this case `xnames` and `ynames` must be either a scalar or lists (where len(xnames)==1 or len(xnames)==len(ynames)). In case len(xnames)==len(ynames)==N, should we crea

[2015-02-25 12:41] damianavila commented on #1969
We can probably give some better information, but I agree 100 % with this:

Because of this:

As a general though: as far as we are not making things more complex that it should be for the low level API, I am ok with provide better info, but always respecting the idea of the low level API and no turning it into something in the middle between `models` and `plotting`...

[2015-02-25 12:57] damianavila commented on #1841
mmm... not sure about this one...

Probably we need to make things simple and just support the xnames/ynames signature as in the other charts... the 2d iterable seemed the right signature when I wrote it, but it is not consistent with the other charts implementation right now...

[2015-02-25 13:12] damianavila opened #1978 "Restore glyph/trail.py (and fix the hover not working)"
In the map, the hover tool does not seem to work...
I don't see errors in the js console, just a warn (with logging info) about `Bokeh: 'point' selection not available on Line renderer`...

[2015-02-25 13:22] damianavila commented on #1926
@bryevdv what do you think about this... we fix the docs? or we fix the name to be consistent with the "select" idea?

[2015-02-25 13:24] birdsarah commented on #1967
Have you looked at this: http://bokeh.pydata.org/en/latest/docs/gallery/color_scatter.html

[2015-02-25 13:59] fpliger commented on #1841
Yes.. I see drawbacks on both renaming it or adding `xnames` and keep support on for index (this would be confusing IMO).

Yes. I know we did discuss this in #1373 but I think we now have more insight to pick the best interface (considering if and how to break previous versions compatibility)

[2015-02-25 14:42] bryevdv commented on #1926
I'd rather change the docs. Tap tool can be used to trigger actions too. Also, there are two "Box" tools, so that's why there has to be "Box Select" and "BoxZoom". But there's only one "tap" tool, so no need to differentiate. For that matter I'd be more inclined to rename `LassoSelectTool` to LassoTool` for the same reason.

[2015-02-25 14:45] fpliger commented on #1967
Sorry @pofican I'd love to be more helpful but I don't understand your need. I'm not sure if you need a new a mixed Scatter and Bar chart or just a different use the Dot and Bar.

[2015-02-25 14:57] mattpap commented on #1978
I'm pretty sure that it never worked and waited for implementing hit testing on lines.

[2015-02-25 15:36] damianavila commented on #1978
Let's remove the hover then and restore it, I will make the change...

[2015-02-25 16:15] almarklein commented on #1841
Can't we keep support for `index` for a while, raising a deprecated warning when used? In this way old code won't break (yet), giving users time to adjust.

[2015-02-25 16:17] bryevdv commented on #1841
Yes, whatever we do, we should provide a deprecation path at this point.

[2015-02-25 16:35] bryevdv commented on #1970
@Maggie-M can you look at this? It's probably just changing the default value in the `argparse` setup for the server.

[2015-02-25 18:51] almarklein opened #1980 "Checking with pyflakes/pep8/flake8?"
I noticed that there is no CI for style checking. I must admit that I feel rather liberated from complying to the sometimes dogmatic rules of pep8 :) On the other hand some enforcement of style can improve code readability. Is this something that we want at some point?

Although style is just ... style, I've found pyflakes to be helpful for code *functionality*, because it can detect bugs (e.g. us

[2015-02-25 20:28] PBrockmann commented on #658
Succeed to update a simple bokehJS with an ajax NCSS request
http://jsfiddle.net/PBrockmann/mc73mfne/
with last 0.8. Great.
About the option x_range and y_range set to
  x_range: [31536000000, 4102444800000],
  y_range: [-2, 3]
it seems that they need to be specified. I would like to let them set automatically.

[2015-02-25 21:11] km12321 opened #1981 "HoverTool issues (0.8.1)"
Congrats on releasing version 0.8.1 yesterday, exciting stuff!

I am noticing an issue with HoverTool on our end– any attributes referenced with '$' or '@' show up as '???' in the tooltip. This occurs across all examples, both static HTML pages and server ones. I am using FF v 31.3.0 on CentOS - Looks like analytics.js is the culprit here as I am seeing this error in the browser console any time I

[2015-02-25 21:18] bryevdv commented on #1981
@km12321 The message about `Text` renderers can be safely ignored. Just to be clear, do you see the problem if you navigate to that actual link above? Does it fail with any other browsers? That link works for me on every browser I have tried.

ping @mattpap

[2015-02-25 21:36] damianavila commented on #1980
We have this discussion previously, we follow pep8, but not religiously... I mean, the main aim of the styling is to improve the readability, so if we have to break some rule to make the code more readable, we do it without any problem, but I repeat, in general we follow the rules...
Since we have some liberties, probably setting up style checking on the CI will trigger a lo of "errors"...
but may

[2015-02-25 21:39] km12321 commented on #1981
Yeah, the problem appears in both IE and FF when going to that link. I will try from OS X in a couple hours and get back to you.

Could this somehow be related to an internal firewall setting that is messing up JS bindings to column data source? Other things like tap tool work great for me, just for some reason HoverTool is not cooperating

Thanks

[2015-02-25 22:29] pofican commented on #1967
@birdsarah  @fpliger scatter example is not helpful for my case, below I put a sample code which might help you understand what I am trying to do and this code is not working because the expected data type for a Dot object is a list not an element of a list. Briefly, lets say I have a data list and I want to assign a different color for each element of this list and plot it using Dot/Bar, like in

[2015-02-25 23:51] tswicegood commented on #1589
@bryevdv sure.  The next few weeks are a bit busy, but past that I should have some time.  I'm going to be in Austin in late March it looks like, but if you wanted to come out before then we could bang it out.

[2015-02-25 23:53] #1949 closed

[2015-02-26 07:52] likit opened #1982 "Normal RangeSlider needed."
I found DateRangeSlider widget but I cannot seem to find a RangeSlider for numbers. If it doesn't exist, is it straightforward to adapt the Python code for DateRangeSlider for RangeSlider?

[2015-02-26 11:08] almarklein commented on #1980
Ok, makese sense. Let's forget about style checking then. But I might have a look what using on;y pyflakes might bring.

[2015-02-26 13:19] almarklein opened #1983 "Never use empty dict/list as default argument"
While working on #1972, I came across this pattern: `def foo(x={})`, and it appears to happen in several places. This is really dangerous, since if that function is called multiple times with `x` not specified, the same dictionary instance is used. Now if that dictionary was populated during the first call, the items are still in there during the second call...

In relation to #1980, I wonder if p

[2015-02-26 13:24] almarklein commented on #1983
The exact rule of thumb is: never use a mutable object as the default value for a function argument.

[2015-02-26 13:42] fpliger commented on #1983
yeap, definitely something to avoid... unless it's used "deliberately", but in that case it's preferable to be explicit.

IIRC pyflakes (and friends) do warn about this

[2015-02-26 13:45] fpliger commented on #1961
Yes... I've been wishing to have time for this for months. It's also transparently compatible with unittest. The most of the work to use it instead of nose is on the related tests machinery/automation that I'm not so aware of...

[2015-02-26 13:55] almarklein opened #1984 "Investigate the use pytest instead of nose"
Pytest differs from nose in that you can just `assert` anything, and when something fails, pytest will apply some voodoo to come up with an error message that makes sense (e.g. show diff of lists if you assert that two lists are equal). This makes writing tests much easier, because you don't need all the `assert_x` functions.

For asserting exceptions, there is a `raises()` function, that can also

[2015-02-26 13:58] almarklein commented on #1980
Sounds good: *Pyflakes makes a simple promise: it will never complain about style, and it will try very, very hard to never emit false positives.*

[2015-02-26 14:04] fpliger commented on #1984
not only... niceties like `monkeypatch`, `tmp_dir` and other built-in (but not only) fixtures. Plugins and hooks model. Great integration with pdb for debugging purposes, etc..  (the list could go.. IIRC you could even test javascript with it :-) ) makes pytest my favorite test framework so far :-)

As I commented on another issues earlier the most of the work I'd expect is on the automation machi

[2015-02-26 14:17] almarklein commented on #1984
I've set pytest up with Travis before, so I can give it a go.

[2015-02-26 14:24] bryevdv commented on #1982
It's just called `Slider`, see, e.g.:

https://github.com/bokeh/bokeh/blob/master/examples/embed/spectrogram/spectrogram.py#L123

[2015-02-26 14:24] #1982 closed

[2015-02-26 14:26] bryevdv commented on #1980
+1 for pyflakes integration. FWIW I have been slowly trying to make things pyflakes clean as I go. All of `bokeh.charts` is in a recent PR, for example.

[2015-02-26 14:28] bryevdv commented on #1983
There is the occasional use for it, if you want something akin to a C "static" variable. But where are the several places? I believe you, I just don't remember seeing that anywhere offhand, and it would have definitely jumped out at me if I had seen it.

[2015-02-26 14:33] damianavila commented on #1984
Sound nice... let's see how the experiment goes...

[2015-02-26 14:40] bryevdv commented on #1984
Not now, but slowly over time. If we are going to transition to all new tests being `pytest` then eventually all tests should be `pytest`. Question I meant to ask at the presentation I saw but did not have a chance to: How does `pytest` handle floating point almost-equal assertions?

[2015-02-26 14:42] damianavila commented on #1980
@bryevdv if we integrate pyflakes in the TravisCI, we would need to change a lot of things we believe is "readable" in the current state... I am not completely opposed... but if we do this... we probably need to do it in stages... because subtle bugs can be introduced with the whole rewrite... and integrating to Travis will push us to it at once...
To summarize, I think the codebase needs a cleanu

[2015-02-26 14:45] bryevdv commented on #1980
@damianavila can you provide specific examples? `pyflakes` is not a style checker. The most common thing I encounter *by far* when making things pyflakes clean is unused imports. Most of the time they are really unused. Sometimes it is intentional (transitive imports). In those cases we can just do:
[code]
and that will shut `pyflakes` up.

[2015-02-26 14:49] fpliger commented on #1984
afaik it doesn't. You need to be explicit on your test (or use external methods that do that). That said, it can ingest `unittest` tests (so all `unittest.TestCase` and friends) and you should be able to use those.

[2015-02-26 14:51] bryevdv commented on #1980
There's also not a monumental pile of warnings to begin with:
[code]

[2015-02-26 14:59] bryevdv commented on #1981
@km12321 I wouldn't think so, the data in this case is embedded directly in the document. It would be very useful to find some place this *does* work for you, so we can try to make a comparison. I am otherwise at a loss as to what is going on in your particular situation.

[2015-02-26 15:01] almarklein commented on #1984
In `numpy.testing` there is 'assert_almost_equal` and `assert_allclose`.
Or you can do `assert abs(x-y) < 0.0001`.

[2015-02-26 15:04] damianavila commented on #1980
well, I don't use pyflakes, and I though it was an style checker... so I guess it would bring a of warnings... maybe I have to look into pyflakes before commenting again... jeje... I will take a look now...

About the transitive import... I think your pattern proposal in nice and we **should** adopt it...

[2015-02-26 15:08] almarklein commented on #1980
I started with making the server submodule pyflakes clean (because these were the last to appear in the log, which made me fix them first). I found lots of unused imports, a couple of unused variables, and one or two actual bugs. Also something that I'm not sure of. Will submit a PR so we can discuss.

BTW: I ended up using flake8, but then turn the style errors off. Flake8 gives a bit more room f

[2015-02-26 15:15] fpliger commented on #1984
Yeap.. we already use some of those used on `bokeh.charts` tests

[2015-02-26 15:18] damianavila commented on #1980
mmm... interesting... how do you deactivate pep8 warnings in flake8?
and yes, the `# NOQA` (I guess stands for "no quality assurance"??) seems the canonical way to deactivate the warning...

[2015-02-26 15:39] almarklein commented on #1980
`flake8 --ignore=E,W`

Normally you can do `flake8 --ignore=W101,E104` etc. to disable specific warnings. The above suppresses *all* style errors and warnings.

[2015-02-26 15:41] likit commented on #1982
Hi, thanks for replying. I already checked the example you pointed me to but it was not what I asked for. It's just a slider not a range slider. Here is an example of the range slider from jquery. https://jqueryui.com/resources/demos/slider/range.html. Thanks.

[2015-02-26 15:42] fpliger commented on #1980
as a side note: I really dislike having to add thinks like # NOQA or other thinks just to make pyflakes and friends happy. :-/  (sorry, I really needed to say that jeje)

[2015-02-26 15:46] mattpap commented on #1981
@km12321, can you clear you browsers' caches and retry?

[2015-02-26 15:48] almarklein commented on #1980
@fpliger I agree :(  but the benefits outweigh this minor nuisance IMO.

[2015-02-26 15:48] damianavila commented on #1980
:100:

but if we are adopting it, then we have to find the less worse solution... right now... I would say I am tempted to give :+1: to @bryevdv approach... but maybe there is other things were we have to use the `noqa` and having mixed things is not good neither... so... I am sure yet, where is the better path to follow...

[2015-02-26 15:59] mattpap commented on #1980
Me too.

[2015-02-26 16:00] bryevdv commented on #1980
FWIW I have seen
[code]
used in other projects

[2015-02-26 16:01] almarklein commented on #1983
Search for `={}` and you should get a few hits. One place where it definitely leads to problems is here: https://github.com/bokeh/bokeh/blob/master/bokeh/transforms/ar_downsample.py#L404

[2015-02-26 16:04] bryevdv commented on #1983
Ah, in the AR code. That was written mostly by one person, fairly new to python. I would be surprised to see occurrences outside the AR related modules.

[2015-02-26 16:07] km12321 commented on #1981
Tried clearing cache and still showing up as question marks - interestingly the fill color part has always worked, but the other fields do not

[2015-02-26 16:10] mattpap commented on #1981
Fill color uses different code path than the rest of `$` or `@` placeholders.

[2015-02-26 18:25] borguz commented on #1976
That's an improvement, but this is what I see now (Bokeh 0.8.1, ie11):
![bokeh](https://cloud.githubusercontent.com/assets/11183544/6398629/bc62a05a-bda1-11e4-82cb-afe51bb49a38.jpg)

[2015-02-26 19:07] damianavila commented on #1976
Can you clean you browser cache, restart the notebook kernel and reloading the notebook and check if you get the same? I guess there is some cached js somewhere....

[2015-02-26 19:08] almarklein commented on #1980
Ok, I think we all agree that using PyFlakes is a good idea. However, pyflakes need a little help. And we all agree this sucks. Now to find the approach that sucks the least. I think there's two typical situations (unused imports and unused variables), and two methods that we can use:

    # Method A
    from .spam import foo; bar
    from .spam import foo, bar; foo; bar
    value = only_need_the_

[2015-02-26 19:16] almarklein commented on #1983
I just checked, and to my surprise both pyflakes and flake8 (with style checking) do *not* warn for this.

[2015-02-26 19:33] bryevdv commented on #1980
I would not propose adding a comment for that, I would propose documenting that in our dev docs as the accepted convention for making transitive imports available. I use vanilla pyflakes all the time, btw another reason I prefer method A.

[2015-02-26 21:03] bryevdv opened #1988 "Use absolute_import throughout"
Every bokeh module should do `from __future__ import absolute_import` at the top, right after the module docstring (first import)

[2015-02-26 21:03] bryevdv commented on #657
This has been identified as a priority for GEOST.

[2015-02-26 21:05] bryevdv commented on #657
Comments: fairly easy to add the mapper as well as a `PolarFrame` on the JS side. Fairly easy to expose in **models** interface. And **charts** interface can use it as needed as well, but the hardest place to incorporate it will probably be the **glyphs** interface, and we may punt on that for now (can be done incrementally later)

[2015-02-26 21:07] bryevdv opened #1989 "Allow "transfer scaling function" for mappers"
This is so, for instance, the overnight hours in any 24hour period can be compressed in scale (because nothing interesting ever happens then. Propose to solve potential ticking issues by simply instituting a "min tick distance" in screen space, and dropping all ticks that fall below the threshold.

[2015-02-26 21:07] bryevdv commented on #1989
identified as a priority for a CIO project.

[2015-02-26 21:20] almarklein commented on #1980
Ok, I suppose it will be method A then; I'll change the PR accordingly.

[2015-02-26 22:18] bryevdv opened #1990 "Bokeh should use a private jquery"
We still aren't getting this right.

Reference: https://github.com/bokeh/rbokeh/issues/25#issuecomment-76252549

[2015-02-26 22:43] borguz commented on #1976
That worked, thank you.

[2015-02-26 22:43] #1976 closed

[2015-02-27 01:24] birdsarah opened #1992 "Issues with curdoc() on a slow redis connection ??"
Hi,

I haven't had a lot of time to investigate this (and I'm afraid I don't have more in the very near term) but I wanted to share my experiences and see if this made sense / is bonkers / something in between?!

I was doing some very modest testing of my bokeh-server config locally, whilst connected to a remote redis database, to look at the effect of a db latency.

In my client app I was using a

[2015-02-27 08:53] GildedHonour opened #1995 "Executing js code on "on_change" for Select widget"
When I create a select widget:

    def my_init(self):
        my_select = Select(title="Title123:", value="All", options=some_opts, id='my_id')
        my_select.on_change('value', self.on_change_123)

    def on_change_123(self):
       # doing something
       # can I send a javascript code from here to be executed on the client?

And when it's changed (another item is selected), is there any w

[2015-02-27 09:09] fpliger commented on #1984
worth mentioning that if I run:

[code]

I get the same output from running our current tests... :tada:

[2015-02-27 09:25] likit opened #1996 "RangeSlider needed (again)."
Sorry for creating another issue for a range slider. I was asking if it was possible to add a range slider for numbers in my previous issue but I was pointed to a normal slider instead. The range slider I was asking for look like this http://jqueryui.com/slider/#range. Is it possible to add a range slider like the one in the example to bokeh widgets?

[2015-02-27 12:39] drorata commented on #1239
This is a great addition! Thanks! Could someone add some snippets explaining how to use this?

I got so far:

    hover.tooltips = {"x":"$x{int}", "y":"$y{int}"}

will format the values as integers.

Assuming that `x` is a timestamp-integer, it would be really nice to be able to format it into a date-time.

[2015-02-27 14:57] gully commented on #647
+1 on this feature request.

[2015-02-27 15:49] bryevdv commented on #1996
This is not implemented yet.

[2015-02-27 15:52] km12321 commented on #1981
I have confirmed that this works on OS X on Safari, Chrome and FF, so it must be some sort of internal isssue on our end, or some sort of missing library/dependency

[2015-02-27 15:56] #1916 closed

[2015-02-27 15:57] #1978 closed

[2015-02-27 16:06] bryevdv commented on #1981
Hmm maybe a conflict of some sort? Bokeh should be shipping with all of tis required dependencies included but there may be some spillover. In fact, it may be related to this issue I am currently working on: https://github.com/bokeh/bokeh/pull/1991 BokehJS is (unintentionally) using a global jq in places, perhaps your environment is providing a conflicting one. We can certainly put out a dev build

[2015-02-27 16:11] km12321 commented on #1981
Ah that is probably the culprit here - I am getting "1.8.3", and looks like you guys are using 2.x right?

[2015-02-27 16:17] bryevdv commented on #1981
actually I think we are using 1.11 but that still might be the issue. Let me try to finish up the PR I linked and get you a dev build to try out (it might be Monday, tracking down all our accidental global uses of `$` is going to be a pain)

[2015-02-27 16:26] km12321 commented on #1981
Sounds good, thanks for all the help - maybe some involved sed command can do the trick here :)

[2015-02-27 16:58] birdsarah opened #1998 "Visual hierarchy on autogenerated docs could be clearer."
Hi, I was trying to share some docs today and realized that I was really struggling with the visual hierarch on the autogenerated docs. I had a quick mess around and came up with the below, with just a few tweaks. I don't have lots of time at the moment, but am happy to do something quick, or to put proper effort into it at a later date.

Let me know.

![side-by-side](https://cloud.githubuserconte

[2015-02-27 17:01] bryevdv commented on #1998
I think this is promising. I like the different "bullet types" for functions/methods vs attrs/propertied. How about keeping some kind of "all the way across" highlighting for selected anchors? just changing the "bullet" color seems a little to subtle to me

[2015-02-27 17:06] birdsarah commented on #1998
I personally find all the colors distracting (I still find the blue and yellow boxes are distracting). There's no inherent meaning in them.

I agree the bullet colors are subtle (not good for accessibility at all). For extra clarity, I would prefer if they were all prefixed with a descriptor e.g. method, classmethod, property, attribute.

[2015-02-27 17:18] bryevdv commented on #1998
@birdsarah it's interesting I added the colored lines because without anything like that everything bleeds together into one jumbled mess, I really need something to visually break up things into chunks, more than just the bold because bold is used in various places. I think adding those descriptors would be great,  just not sure how to make it happen in sphinx offhand.

[2015-02-27 17:18] birdsarah commented on #1998
Well we could do it with css in the short-term :D - I will have a quick play with some additional color.

[2015-02-27 17:19] pzwang commented on #1998
I agree that all the boxes and whatnot are visually distracting and don't help my mental model of the structure of the document.  Or maybe my main issue is with the big colored boxes for Warnings and Notes - could those just be outline boxes without filled color?

[2015-02-27 17:28] bryevdv commented on #1998
Those could be toned down for sure, too.

[2015-02-27 19:25] damianavila commented on #1998
I like the @birdsarah version... I agree it looks promising...

Yes, that would help

[2015-02-27 19:33] damianavila commented on #1589
Since #1797 was merged, do you want to continue further discussion here? or can this one be closed?

[2015-02-27 19:59] mattpap commented on #1589
@damianavila, #1797 doesn't resolve this issue (just makes the first step towards fixing it).

[2015-02-27 20:02] damianavila commented on #1589
yes... I know... this is why I asked if you want to keep the discussion centralized here... ok, I will label #1797 properly, thanks!

[2015-02-27 20:13] #1961 closed

[2015-02-27 20:14] bryevdv commented on #1996
@damianavila FYI this is probably ~20 lines of code to add to the existing range slider, we can probably get to it sooner.

[2015-02-27 20:15] bryevdv commented on #1995
@GildedHonour we are currently working on adding "JS actions". It should be in one of the next few releases.

[2015-02-27 20:21] birdsarah commented on #1998
![screenshot from 2015-02-27 12 19 43](https://cloud.githubusercontent.com/assets/1796208/6420467/1f391c66-be7b-11e4-9bff-1616e6522bd0.png)

[2015-02-27 20:27] bryevdv commented on #1998
this is brilliant

[2015-02-27 20:28] damianavila commented on #1998
wow... nice...

[2015-02-27 20:28] birdsarah commented on #1998
(if you couldn't tell, I picked the colors from the bokeh logo)

[2015-02-27 20:44] bryevdv commented on #1998
perfect, details are important :)

[2015-02-27 20:48] #1990 closed

[2015-02-27 20:50] #1913 closed

[2015-02-27 20:50] bryevdv commented on #1981
I just merged the PR, a dev build should be available later tonight.

[2015-02-27 20:59] birdsarah opened #2000 "Support password protected redis"
Hi all,

I've tweaked the configure method so I could run bokeh-server on heroku with their redis cloud server.

I enabled use of a password and didn't hard code the db id. You can see the whole thing [here](https://github.com/birdsarah/bokeh-server-heroku/blob/master/configure.py#L23). The relevant bit is:

[code]

Would you be interested in a PR version of this? FWIW I haven't tested this on a n

[2015-02-27 21:19] bryevdv commented on #2000
So, I think so. :) There are two things I am interested in in general for the server: 1) better examples/instructions on how to make production deployments and 2) make the configuration of the server adhere to "12 factor app" style. This does some of both of those things. If you made a new PR that also had some instructions for deploying on Heroku in a README that would be amazing.

[2015-02-27 23:01] damianavila commented on #2000
I agree...

[2015-02-27 23:12] GildedHonour commented on #1995
@bryevdv, thanks, so is the only way to do it by adding a javascript handler on the client?

[2015-02-27 23:44] birdsarah commented on #2000
Sounds good. I have a couple of outstanding issues with it, that maybe you all will have some ideas on.

1) In https://github.com/bokeh/bokeh/blob/master/examples/deploy/README.md it was suggested to run python forwarder.py alongside the tornado process. I could *not* get that working, and I tried fairly hard, although I'm not a heroku wizz. In the end, in my config file I set `forwarder=True` and

[2015-02-27 23:48] pofican commented on #1967
@fpliger @birdsarah @damianavila  @bryevdv any ideas? Is my question clear? Is this doable with bokeh?

[2015-02-27 23:51] damianavila commented on #1981
The devel build is available on Binstar: https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/Ymw4cMYeDCg

[2015-02-28 03:56] likit commented on #1996
@damianavila @bryevdv Thanks so much.

[2015-02-28 19:47] #1998 closed

[2015-02-28 19:58] bryevdv commented on #1967
@pofican palettes operate on grouped data in a single plot. I still can't tell if you want all the data on one plot or not. But in any case, you are not passing in groups. Try this to get dots with different colors on one plot:
[code]
If you want multiple charts with a different color for each chart, I am actually not sure there is a way to control the "dot" color directly (if not that is an overs

[2015-02-28 20:01] bryevdv commented on #1967
Output of code above, for good measure:
![screen shot 2015-02-28 at 2 00 56 pm](https://cloud.githubusercontent.com/assets/1078448/6427835/466ecede-bf52-11e4-83fc-78a13a34875b.png)

[2015-02-28 20:04] bryevdv commented on #1967
Although the x-axis on that does not look correct/good.

[2015-02-28 20:10] bryevdv commented on #1967
Here is a better example:
[code]
![screen shot 2015-02-28 at 2 10 11 pm](https://cloud.githubusercontent.com/assets/1078448/6427873/8b2dbb88-bf53-11e4-9618-d16abb70f829.png)

[2015-03-01 04:17] km12321 commented on #1981
What is the right way to install this devel build?
I tried :
conda install -c https://conda.binstar.org/bokeh/channel/dev bokeh-0.8.2dev.52491359
conda install -c https://conda.binstar.org/bokeh/channel/dev bokeh0.8.2dev.52491359
and:
conda install -c https://conda.binstar.org/bokeh/channel/dev bokeh

With the former 2 I get an error saying that no such package exists and with the latter it instal

[2015-03-01 06:40] rothnic commented on #1811
I did some work towards breaking out the faceting part of crossfilter, into what might need to be refactored into a builder. I spend some time looking at grammar of graphics to try to get the faceting language correct. I think I still need to fix it up some, but wanted to get things working to start. Two files to take a look at:

1) [facets.py](https://github.com/rothnic/bokeh/blob/001213cd6a138c4

[2015-03-01 11:52] fpliger opened #2002 "check BoxPlot equation"
As reported on [m.l.](https://groups.google.com/a/continuum.io/forum/?utm_medium=email&utm_source=footer#!topic/bokeh/ohB8GboiQSw) boxplot equation may be wrong. This refers to the boxplot example and the boxplot Chart. Report @rothnic comment for convenience:

[2015-03-01 12:42] fpliger commented on #1811
Very cool!!  Very happy you are working on this. This week I've started putting down some idea on this direction and hopefully will continue next week.

I'm not sure about the syntax, specially having the `x`, `y` on both `Builder` and `FacetGrid`. Also is the ScatterBuilder you are using here the same we have with current `charts` implementation (so it's actually returning a `Chart` instance) or

[2015-03-01 16:56] rothnic commented on #1811
@fpliger I was just writing pseudocode, so likely not consistent with where you are currently at with charts.

The reason there is x and y on both (which could be named differently to avoid confusion), is that the plot itself will use an x and y for mapping to the aesthetics of the plot. For scatter, it is literally x and y, but for a barchart it would likely be different. However, faceting also u

[2015-03-01 17:07] rothnic commented on #1811
One other thing is that specifically x and y in the FacetGroup is probably too specific. For example, if I created a Facet Tab, then it would really just be one dimensional, where the dimension is the tabs.

With crossfilter, you can combine Facet Tab with Facet Grid so that you can facet by one dimension by the tabs of plots, then facet by x and/or y in each tab. So this gives you 3 dimensions to

[2015-03-02 03:18] kyzyl commented on #1207
@bryevdv FWIW (after all this time) I resolved this issue on 0.81 by running the bokeh-server with the actual NIC IP (--ip=<ip from ifconfig>) on each EC2 node and then navigating to the public domain/IP to see the server output. Seems to be working, but I can't say much as to how robust it is to ephemeral changes in Amazon's infrastructure and the like.

[2015-03-02 05:25] knightofni opened #2003 "Is it possible to use the plotting interface in combination with some `Select` widget"
All the examples i've seen using Select widget to dynamically update data are using the models interface.

I'm thinking of the population pyramid (in Examples/embed/slideshow), or the automobile linked list (in Examples/glyphs/data_tables_server)

Is it possible to use those widget while still creating the charts with the plotting interface ? If not, might it happen in the future ?

[2015-03-02 06:45] pofican commented on #1967
the first example that you put above what I was asking for but when I add categories all values are plotted under just one category.
[code]
![index](https://cloud.githubusercontent.com/assets/11036962/6436461/974452da-c064-11e4-9bba-5d96bc278343.png)

[2015-03-02 07:27] knightofni opened #2004 "Inverted Y-axis when using source"
I'm trying to get a line plot working with an inverted y-axis (it's a time serie of rankings)

I can get an inverted Y-axis  like this : `Range1d(start=11, end=0)`, but it breaks my tooltips (i guess because everything else is plotted using a *ColumnDataSource*, so they can't find the Y-axis position and don't show)

When i use `DataRange1d(sources=[self.source.columns("y-Axis")])`, i get a standa

[2015-03-02 09:42] fpliger opened #2005 "Improve categories and other charts details in the docs"
From #1967 it's clear that documentation can be much improved (and not only about the categories argument).

[2015-03-02 09:45] fpliger commented on #1967
@pofican In your last example you are listing 3 categories but on data series you are only providing one value (so only for the first category).

The categories refers to the categories to map to the values listed on each data series element and not to the data series themselves. Is it should have the same length as the values lists of your data (`xyvalues`) and not the length of the data itself.

[2015-03-02 14:00] fpliger commented on #1811
@rothnic Thanks for clarifying. I agree we need to be careful about how we manage levels.. It's also important to define how to share the data between the original charts/source and the created facet frames in order to enable nice interactivity. My plan is to start working on some basic concepts of this `shared_source` on charts this week.

[2015-03-02 16:12] bryevdv commented on #1207
@kyzyl thanks for the update, coming up with standard deployment instructions for several different scenarios is high on my priority list for the next major release, so this information is useful. Of course, we should also investigate whether there is some better way or changes needed to support a better way.

[2015-03-02 16:12] amy-ding opened #2006 "Unable to Stack Multiple Twin Axis on Same Side"
When I try to stack multiple axis on the same side, the image compresses, resulting in an x-axis with width 0.

The below works fine, with a regular multi-line plot:
[code]

However, when I change the plot.add_layout() to both be on the right side, you get an image like this:

![twin_axis](https://cloud.githubusercontent.com/assets/11274379/6444635/e16a2ae8-c0cc-11e4-949d-3aa9fafd2c41.png)

I'm us

[2015-03-02 17:54] bryevdv commented on #2006
When I try this on current master it works as expected:
![screen shot 2015-03-02 at 11 53 31 am](https://cloud.githubusercontent.com/assets/1078448/6446776/d73600b4-c0d2-11e4-8e65-85bfddc53cca.png)
Can you provide more information about your system, versions, etc? Also if possible can you try installing the dev build from last Friday?

[2015-03-02 17:55] bryevdv commented on #1981
[code]

[2015-03-02 17:57] bryevdv commented on #1981
It's just the `conda` channel now, not `conda/channel/dev` apparently. I will make a quick PR to update those instructions. @damianavila we should probably just include the basic pip/conda commands to install right in the email.

[2015-03-02 18:02] bryevdv commented on #1981
Wait... actually the original instructions seem to work fine:
[code]

[2015-03-02 18:03] bryevdv commented on #1981
`conda install -c https://conda.binstar.org/bokeh/channel/dev bokeh` also works for me.

[2015-03-02 18:04] bryevdv commented on #1981
@km12321 not sure what is going on for you can you report your version of conda?

[2015-03-02 18:11] silverorange05 commented on #2006
Right, it works when you specify one to be on the left, and one to be on the right.  Try substituting in this:

plot.add_layout(LinearAxis(y_range_name = 'y2', axis_label = 'y2'), 'right')
plot.add_layout(LinearAxis(y_range_name = 'y3', axis_label = 'y3'), 'right')

I haven't been able to get this second version to work.  I'd expect to see the same plot, except with two levels of y-axis on the rig

[2015-03-02 18:12] amy-ding commented on #2006
Right, it works when you specify one to be on the left, and one to be on the right. Try substituting in this:

plot.add_layout(LinearAxis(y_range_name = 'y2', axis_label = 'y2'), 'right')
plot.add_layout(LinearAxis(y_range_name = 'y3', axis_label = 'y3'), 'right')

I haven't been able to get this second version to work. I'd expect to see the same plot, except with two levels of y-axis on the right

[2015-03-02 18:14] Maggie-M opened #2007 "Problem with Reset in gmap taxi example"
Pressing the Reset button at any time in this example causes the plot to point somewhere in the South Atlantic Ocean.

I've illustrated this with a little Indiana Jones 'travel montage' map to make this issue into an adventure.

![issue](https://cloud.githubusercontent.com/assets/1417520/6447110/6be55c9e-c0d5-11e4-9a7e-73a0316a3f26.png)

[2015-03-02 18:20] chanansh opened #2008 "how can you do fill_between like figures in bokeh (line with error as shade)?"
how can you do fill_between like figures in bokeh (line with error as shade)?
see http://tonysyu.github.io/plotting-error-bars.html#.VPSp3vmUe9k for an example

[2015-03-02 18:23] bryevdv commented on #2008
Right now there is no direct high level analog to `fill_between` but you can achieve the same visuals with the `patch` and `patches` glyphs. Here is one example:

https://github.com/bokeh/bokeh/blob/master/examples/plotting/file/bollinger.py

[2015-03-02 18:28] bryevdv commented on #2006
Sure enough, must be a bug in the layout constraints specifications at a fairly low level.

[2015-03-02 20:23] bryevdv opened #2010 "deprecate VBox/HBox in plotting and charts"

[2015-03-02 20:24] bryevdv commented on #2010
Use `vplot` and `hplot` instead. Should create `VBox` and `HBox` functions, wrapped with the deprecation decorator.

[2015-03-02 20:27] bryevdv commented on #1927
This has become a demonstrated problem for some users, will address today.

[2015-03-02 20:57] pofican commented on #1967
@fpliger I didn't clearly get what you are saying above. What is the proper way of calling Dots function with a list of values where each value maps a different categories? If you can give a simple example that would be great.

[2015-03-02 23:45] bryevdv commented on #1927
I have removed the tutorial section of now. The solution cell show/hide functionality no longer works in new notebooks. Also the tutorial needs to be updated rev'ed and this should be fixed as part of that work. All other notebooks have been updated to use newest APIs and have been re-executed with a current BokehJS.

[2015-03-02 23:46] bryevdv commented on #1927
@damianavila is there a way to automate execution of these notebooks as part of official releases?

[2015-03-02 23:46] #1927 closed

[2015-03-02 23:49] bryevdv commented on #1290
Closing from inactivity. Please re-open or create new issue with instructions to reproduce if this problem persists.

[2015-03-02 23:52] bryevdv commented on #839
So, this immediate issue is completed. The line tutorial now only makes use of python list literals. So, I am closing this as completed.

There are lots of tutorial improvements to make I want to make a clean master issue with linked subissues to start work from.

[2015-03-02 23:52] #839 closed

[2015-03-03 11:37] fpliger commented on #1967
@pofican sorry for not being clear... I'll try to comment your example above (with some modifications to make it easier) to explain:

[code]

The previous code creates:

![screen shot 2015-03-03 at 12 35 23](https://cloud.githubusercontent.com/assets/1084690/6461616/d7dba5e4-c1a1-11e4-8d53-d2d5927f2b14.png)

Let me know if it's clears your doubts. Thanks!

[2015-03-03 16:08] jandot opened #2012 "one-to-many linking-and-brushing"
In some cases it might be necessary to do **one-to-many linking-and-brushing**. Two examples:
[1] Say I have two maps. One showing departure airports and another showing arrival airports. When brushing over a departure airport in the first map, *all* the arrival airports for that departure should be highlighted in the second map. (As an example in Processing: see script17 at vda-lab.be/blog/hands-

[2015-03-03 19:19] pofican commented on #1967
@fpliger @bryevdv
Can you provide an example where each category has a single data point, but each point has a different color?  This is what I would like to do.  Thank you.

[2015-03-03 20:13] km12321 opened #2013 "MultiSelect Widget Questions"
Is it possible to set width and height of MultiSelect Widget? I tried creating a tall VBox and VBoxForm and having its only child be a MultiSelect but this did not affect the widget's dimensions.

Also, when I change the value/options attributes of a MultiSelect widget programmatically, the widget gets populated with empty strings. The workaround I've been using is to re-render the container VBox,

[2015-03-03 21:59] pofican commented on #1967
@fpliger @bryevdv

I modifed the circle example and able to plot the below. But I would like to be plot a similar plot using Dot/Bar, is this possible?

[code]

![dot](https://cloud.githubusercontent.com/assets/11036962/6473304/73ed42a2-c1ad-11e4-8450-a05d70870da8.png)

[2015-03-04 07:58] richwu commented on #472
If this has been fixed, why I got this problem by 0.8.1 again? Anything missed by rolling to the new version?

[2015-03-04 08:24] fpliger opened #2014 "FAQ section"
With the increasing interest and number of questions we could probably make our users life easier (and save a lot of time) by keeping the docs FAQ section updated with the most recent and relevant questions that pop up on m.l., SO, GH, etc..  This is also easier to change questions later and change answers later as things get fixed in future versions.

There's the risk that some of the questions a

[2015-03-04 09:45] samhile opened #2015 "Custom color palettes with the image glyph"
The built-in color palettes (brewer) support upto 11 color values. Was there a reason for limiting this to such a small number? I want to plot my continuous (non-categorical) scalar data with a smooth colormap, like this

[code]
![image](https://cloud.githubusercontent.com/assets/3879759/6481092/856bb7e6-c2ae-11e4-808b-aeb6b3648820.png)

The default pyplot colormaps have 256 values. I have tried s

[2015-03-04 10:47] fpliger commented on #1967
@pofican you are considering categories conceptually in a different way they are in charts. AFAIK charts (both Bar and Dot) cannot produce what you'd like. But the good new is that it's fairly easy to create a new chart builders that does what you'd like. Here's a quick implementation that should do what you need:

[code]

please note that legend "is wrong" but I left as is because I'm not really

[2015-03-04 14:56] PBrockmann opened #2016 "x_range = 'auto' with BokehJS"
Succeed to update a simple BokehJS with an ajax NCSS request.
Play with http://jsfiddle.net/PBrockmann/mc73mfne
that uses last 0.8.1. Great !!

About the option x_range and y_range set to
x_range: [31536000000, 4102444800000],
y_range: [-2, 3]
it seems that they need to be specified.

I would like to let them set automatically. Is it on purpose ?

Note also
type: "Datetime"
an not "datetime" as be

[2015-03-04 15:32] mattpap opened #2017 "Update tests/travis/nbexecuter to IPython 3"

[2015-03-04 15:32] bryevdv commented on #472
This test was passing for the 0.8.1 release on all platforms, for py2/py3. Can you be more specific about the problem you are seeing? Can you provide a minimal example to reproduce the problem?

[2015-03-04 15:37] bryevdv commented on #2016
@PBrockmann the old JS interface was broken and removed (around 0.7?) We are in the process of creating a new JS interface, starting with a simple function based interface, with things like React integrations planned later. It is still a WIP.  have added it to the short term milestone, but certainly if you are motivated to contribute a PR for this feature it would be most welcome!

[2015-03-04 15:45] km12321 opened #2018 "Regular Button vs. Toggle Button Behavior"
When I use a Button widget and  it gets clicked, the entire app page gets reloaded instead of an ajax call getting fired (the latter being my desired behavior in this case). I tried to work around this behavior by creating my own AbstractButton subclass which overrode the on_click function so that I could bind the button's attribute change to on_change, but this did not help.

I shifted over to a

[2015-03-04 15:54] PBrockmann commented on #2016
Yes, yes, Brian, I have understood the message... ;-)
I am more scoped on finding, promoting and supporting interesting softwares for my community on Climate and Environment Sciences than deeply develop interfaces on a very living library that is developped so actively. I have tried modestly to give feedbacks on some real cases I have in mind.
So I am afraid not be able to follow the development r

[2015-03-04 16:12] bryevdv commented on #2016
Not everyone has the time or background to make active contributions, and that is fine and understandable. I just try to remind the offer so as not to accidentally miss any cases where people might. :)

[2015-03-04 16:15] km12321 commented on #2013
In general, is it possible to re-render certain nested containers/widgets or only top-level ones?

For example, assuming I am in a subclass of HBox:
self.widget1 = MultiSelect...
self.widget2 = MultiSelect...
self.box1 = VBox(children=[self.widget1, self.widget2])
self.children = [self.plots, self.box1]

After this is initially set up, if I want to re-render, say, only widget1, how would I go abou

[2015-03-04 16:35] dasfaha opened #2020 "Abstract render - ValueError: No JSON object could be decoded"
Hi,

I am trying to run the abstract render example but I run into a ValueError.

Here is the abstractrender.py error I get when I try to run this example.

[code]
With the server running I get the error below:

[code]
I am using Bokeh 0.8.1 on Windows 7 with the Anaconda Continuum distribution Python 2.7.

There is a related issue here: https://github.com/bokeh/bokeh/issues/1290

But obviously mo

[2015-03-04 16:36] km12321 commented on #1981
I am getting the following:

$ conda install -c https://conda.binstar.org/bokeh/channel/dev bokeh=0.8.2dev.52491359
Fetching package metadata: Could not connect to http://repo.continuum.io/pkgs/pro/noarch/
Could not connect to http://repo.continuum.io/pkgs/pro/linux-64/
Could not connect to https://conda.binstar.org/bokeh/channel/dev/noarch/
Could not connect to http://repo.continuum.io/pkgs/free/

[2015-03-04 16:39] bryevdv commented on #1981
@asmeurer @ilanschnell do you guys have any idea what is going on here? This seems like some conda version or configuration issue.

[2015-03-04 16:39] bryevdv commented on #1981
To be clear, the same command works fine for me:
[code]

[2015-03-04 16:52] km12321 commented on #1981
Here is some of my conda info dump:

platform : linux-64
conda version : 3.9.0
conda-build version : 1.8.2
python version : 2.7.9.final.0
requests version : 2.5.3

channel URLs : http://repo.continuum.io/pkgs/free/linux-64/
                        http://repo.continuum.io/pkgs/free/noarch/
                        http://repo.continuum.io/pkgs/pro/linux-64/
                        http://repo.conti

[2015-03-04 18:24] queise opened #2021 "Transparent background"
It would be really nice to have the option for a transparent background (and border area) in the plots. Something like a background_alpha attribute for figure().

I'm sorry I cannot contribute to fix that :(

Thank you and congratulations for this excellent library!

[2015-03-04 18:31] norecces opened #2022 "Not correct behaviour of HoverTool with annular glyph and units='screen'"
Hi guys!
I think Ive found a bug,

Add 2 types of annulus glyphs, first - inner and outer radius sizes in 'screen' units, second - in 'data' units.

[code]

If you try to hover red and blue glyphs you can see popups dont appear at blue ones (with "screen" units).

[2015-03-04 19:25] bryevdv opened #2023 "Update/refresh installation guide and quick start"
Many parts are out of date or confusing.

[2015-03-04 19:28] nevermindewe opened #2024 "Ugly buttons when plotting inside notebook on firefox 36"
bokeh version: 0.8.1
ipython version: 3.0.0
browser: firefox 36 (issue does not occur on Chromium 40.0.2214.111)
OS: Ubuntu 14.04
Arch: x86_64
[code]

How to reproduce:
1. open a new ipython notebook
2. Paste the following code:
[code]
3. Run the cell. The output should look like the attached screenshot.
The tool buttons are not as expected.

![bokeh_ugly_buttons](https://cloud.githubusercontent.c

[2015-03-04 19:28] nevermindewe commented on #2024
tag: bug

[2015-03-04 21:00] almarklein commented on #1960
Continuing discussion from #1972 ...

### Summary

Keyword arguments provided by the user that are not properties are silently ignored. I tried to fix that in #1972, but there are places in the code, where we just collect a bunch of key-value pairs and throw that the `plot.glyph_x()` function, because *some* of these functions may accept it. (e.g. here https://github.com/bokeh/bokeh/blob/master/bo

[2015-03-04 21:21] hsharrison opened #2026 "Allow bokeh server scripts to take command-line arguments"
I'm writing a script that I'd like to take a command-line argument. I can't figure out a way to do that without resorting to terrible hacks (which I'm not entirely sure would work anyway). Has this come up before? Any suggestions for workarounds in the meantime?

[2015-03-04 22:27] pofican commented on #1967
@fpliger Thanks for the response, I am closing this discussion at this point then.

[2015-03-04 22:27] #1967 closed

[2015-03-05 00:02] pofican opened #2028 "How to add data labels to bokeh plots?"
I would lik eto add data labels to my plots, I think the "text" and "Hover" widgets combined is what I am looking for but I coudn't find how to use these properly. My code is below and I would like to see the values for each data point is plotted above each circle indicating the exact value of the circle. Are these the right widgets to use for this purpose? I would appreciate some guidelines on ho

[2015-03-05 00:36] bryevdv opened #2029 "Server Cleanup"
* [x] Use 12-factor app (http://12factor.net) conventions
 - [x] ENV var config (I like what https://github.com/fusic-com/flask-todo has done)
 - [x] log with unbuffered `stdout` (e.eprint) throughout
* [x] remove unused routes (#2188)
* [x] document all endpoints for `autohttp` (#2189)
* [x] endpoint/implementation split. (#2190)

 In general I'd like all the route functions to be as small as pos

[2015-03-05 02:46] #1970 closed

[2015-03-05 03:01] bryevdv commented on #2021
Propose changing removing `border_fill` and `background_fill` here:

https://github.com/bokeh/bokeh/blob/master/bokeh/models/plots.py#L290-L296

replacing them with `border` and `background` attributes that are `FillProps`, and making the necessary changes on the BokehJS side.

Accept `border_fill` and `background_fill` as initializer args and issue deprecation warning.

[2015-03-05 04:48] knightofni opened #2030 "ColumnDataSource.from_df bug (does not fill the column_names list)"
Creating a ColumnDataSource from a dict works very well, but when using the `.from_df` method doesn't work in the ipython notebook. Apparently `column_names` stays empty after calling `.from_df`.

works :
[code]

fails :
[code]

#### [Example notebook](http://nbviewer.ipython.org/gist/knightofni/a961609051378db03bbf)

[2015-03-05 09:41] gregerhardt opened #2031 "Hover tool currently does not work with line glyphs"
As noted in the documentation:

Point hit testing is not currently available on all glyphs. Hover tool currently does not work with line or image type glyphs.

I am creating this as an issue to show that there is interest in the user community for hover tool capabilities on line glyphs as a highly desirable feature.

[2015-03-05 09:53] knightofni opened #2032 "stock_applet example crash"
I've got the same crash on my local machine (mac os) & my vagrant dev box (ubuntu)

flask_server.py runs, the crash happens when the browser request the page.

#### Installed libs and versions  (same on both machines)

[code]

#### debug log from flask_server.py
[code]

#### from bokeh-server (run with `bokeh-server --backend memory`)
[code]

[2015-03-05 09:57] pzwang opened #2033 "Is there any reason why p.select() shouldn't take **kwargs?"
Looking at https://github.com/bokeh/bokeh/blob/master/bokeh/models/plots.py#L58, it should be a fairly clean change to convert **kwargs into JSON before passing it into the `find()` call...  This would really make the interface a lot cleaner.

The only downside I can see is that in the future, the `.select()` method could not safely grow any actual keyword arguments, lest they conflict with attrib

[2015-03-05 09:58] pzwang commented on #1926
+1 on both of Bryan's suggestions

[2015-03-05 10:00] #2032 closed

[2015-03-05 10:04] pzwang commented on #2033
Actually, while we're at it...

Why not change it to also accept positional arguments, i.e. if a string is passed in, it's assumed to be "name=", if a Python `type` is passed in and it's a subclass of PlotObject or HasProps or something, then it's assumed to be a query of the form "type=".  This leads to a must more natural usage, like:

    p.select(TapTool)

and

    p.select("outliers")  # for

[2015-03-05 10:05] knightofni commented on #2032
Works perfectly, just needs to open the readme...

[2015-03-05 10:07] knightofni commented on #2031
As a workaround, you can use an invisible Quad glyph, sharing the same data source than your line plot. Works very nicely.

But having hover tools work directly with lines would be nice.

[2015-03-05 10:21] norecces opened #2034 "Tootips styling is missing when using string setter"
Hi all,
[code]
while onHover produces smth like that in html
[code]
But
[code]
while onHover produces just one div without any styling
[code]

Is there any opportunity to pass to tooltip custom class which will appear in html?

[2015-03-05 10:25] pzwang commented on #2028
This is indeed the right way to do this.  You can look at e.g. https://github.com/bokeh/bokeh/blob/master/examples/glyphs/colors.py or http://bokeh.pydata.org/en/latest/docs/gallery/elements.html for examples of this.

Are there specific aspects of these renderers you would like more clarity on?

[2015-03-05 10:29] gregerhardt commented on #2031
Thanks.  A quad glyph is a good idea.  I'm currently using a circle glyph at the line midpoint, but that is clunky because you have to have good aim.

[2015-03-05 10:43] pzwang opened #2035 "Is there currently a way to make HoverTool "sticky", i.e. remain visible on the last hit point?"
Right now the hover bubbles disappear when the mouse cursor leaves the point/glyph.  But in some cases it might be nice for it to only disappear when the mouse cursor enters a new point, or when the tool is turned off altogether, or when the cursor leaves the plot area.

Maybe there is already a different way to achieve this that I'm not aware of...

[2015-03-05 11:00] norecces commented on #2034
Ouch, sorry for bothering,
Ive just understood that I can do something like that:
[code]

[2015-03-05 11:00] #2034 closed

[2015-03-05 11:04] almarklein opened #2036 "Implementation of renderers in WebGL"
Although Bokeh is pretty fast, it does not yet scale well for > 100K data points. Using WebGL is the obvious solution to fix this. This should help e.g. #1536.

## Approach

The 2D context is currently used in the following files:
  * coffee/renderers/*.coffee - the renders themselves
  * coffee/common/plot.coffee - renders the title and calls `render` on all renders
  * coffee/common/canvas.coffe

[2015-03-05 13:31] fpliger commented on #2033
I like the idea of positional arguments, specially regarding the named renderers.. OTOH as someone new to the codebase and concepts I think that positional arguments that change "meaning" depending on their type can easily be very confusing.

Honestly I already find `.select` a bit confusing as we should better document what keys and values `selector` can specify ( right now we only have:  `select

[2015-03-05 14:04] bryevdv commented on #2033
Love this.

[2015-03-05 15:43] bryevdv commented on #2033
Propose:
[code]
@Maggie-M I'd like you to look at this.

[2015-03-05 15:47] pzwang commented on #2033
Bryan, surely your third line was meant to read:

    p.select(foo="bar", baz="quuz")

?

[2015-03-05 15:48] bryevdv commented on #2033
No? The third line is the current behaviour (pass in a single selector dict as the arg) and I was just being explicit that we should also keep that. Unless I am missing something?

[2015-03-05 15:48] pzwang commented on #2033
@fpliger You're right, we need to document the types that can be searched for and provide a bunch of examples of common things.

I ran into this issue while writing the examples last night in response to the mailing list question, and realized that `select()` was the recommended way to get the renderer after using `p.glyphfunc(...)` to create circles and lines.

[2015-03-05 15:49] pzwang commented on #2033
Ah OK.  Yes, in the case of an actual dict, it needs to pass through.  I see now - I was misunderstanding the comments somehow.

[2015-03-05 15:50] bryevdv commented on #2033
Yes, sorry the comments are the "translations" into the equivalent code with the current interface

[2015-03-05 15:51] bryevdv commented on #2033
So the easiest thing is probably to rename `Plot.select` to `Plot._select` and then make a new `Plot.select ` that just does all the argument handling/checking and calls the original.

[2015-03-05 16:21] bryevdv commented on #2035
There's no "leading edge trigger" currently, I suppose it might be a useful feature tho I am not quite able to imagine a concrete scenario. Can you describe a use-case more specifically? This would probably not be incredibly hard but it would add some complexity to the entire selection architecture I think.

[2015-03-05 16:22] bryevdv commented on #2031
dupe of #1486

[2015-03-05 16:22] #2031 closed

[2015-03-05 16:37] pzwang commented on #2035
Well, with the hovertool + taptool example I put together, I realized that it was helpful to have the tooltip remain visible as I panned the plot, etc.

Maybe this is another example where the HoverSelect tool would be useful, and maybe this functionality falls entirely under that tool.

[2015-03-05 16:43] pzwang commented on #2033
Yep, great way to do it.

[2015-03-05 16:48] hsharrison opened #2037 "JavaScript error with Toggle button"
I'm getting the following in the Chrome developer console when I try to use Toggle:

[code]

It could easily be that I'm doing something wrong. [Here](https://bitbucket.org/hharrison/data-player/src/c4adff303be74946f037cef1900b2f4434aac15b/src/dataplayer/dataplayer_app.py?at=default)'s my code. Apologies for not coming up with a minimal example, I'm a bit strapped for time. I'm also not well-verse

[2015-03-05 16:51] fpliger commented on #2035
That's a good discussion actually. Yesterday I was trying the idea of the "_hit_span" (formerly referred as "_hit_line") on circle glyphs was thinking about the best way to do it. One way is doing like now that tooltip disappear when leaving the glyph, another way would be to always show a tooltip taking the closest glyph from the mouse position (this for point and span geometries). This is actual

[2015-03-05 16:51] bryevdv commented on #2037
Thanks for the report! Looks like a "missing import" here:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/coffee/widget/toggle.coffee#L7

Should be an easy fix.

[2015-03-05 16:57] pzwang commented on #2035
Right, the "freeze" tooltip for export is another use case that this stickiness would be useful.  I think taking the "closest glyph to the mouse position" does not actually solve this problem.

The _hit_span thing is useful, but again I think it's for a somewhat different class of problems...

[2015-03-05 17:50] #2023 closed

[2015-03-05 19:07] almarklein opened #2038 "What is the best way to develop bokehjs with incremental rebuilds?"
Continuuing from an email discussion, posting here because I don't have @mattpap 's email address yet, but also because I think we should either make this easier, and/or update the developer docs.

[2015-03-05 19:11] matdrapeau opened #2039 "Create charts with DataSources"
Would be nice to be able to create charts using DataSource like this:

[code]

[2015-03-05 19:19] pofican commented on #2028
Awesome! Thank you for sharing these useful examples with me. I am closing the discussion here now.

[2015-03-05 19:19] #2028 closed

[2015-03-05 20:03] bryevdv opened #2040 "expose level parameter in python"
Currently impossible to move `Image` glyphs below grids:

reference: http://stackoverflow.com/questions/28884852/bokeh-turn-on-grid-image

[2015-03-05 20:48] bryevdv commented on #2030
Right now, `ColumnDataSource.from_df` returns a `dict` that can be used to initialize a new `ColumnDataSource`:
[code]
I think this is a bit silly, and that `from_df` should just return a `ColumnDataSource`. See this comment:

https://github.com/bokeh/bokeh/blob/master/bokeh/models/sources.py#L86

In any case, setting a `data` attribute is not a supported way of initializing a `ColumnDataSource`.

[2015-03-05 20:48] #2030 closed

[2015-03-05 20:50] bryevdv commented on #2030
To add more info, if you do want to add new columns to an existing column data source, you can use the `add` method:

https://github.com/bokeh/bokeh/blob/master/bokeh/models/sources.py#L128

[2015-03-05 22:50] #1988 closed

[2015-03-05 23:51] bryevdv opened #2041 "load_notebook depends on utils.py which depends on flask"
Need to separate those or make the import lazy to reduce dependencies.

[2015-03-06 00:57] bryevdv commented on #2024
OK the problem has been identified and is reproducible. The issue arrises if the first cell that runs the `bokeh/__init__.py` is executed a second time. This is because the original output div, which contains a link or `<style>` tag for the CSS, is removed on a subsequent import (since the module is not executed, and `load_notebook` is not called, the second time). I can also potentially imagine p

[2015-03-06 02:06] knightofni commented on #2030
I picked it up from the example `data_tables_server.py`

here's the relevant code :

[code]

[2015-03-06 06:20] richwu commented on #472
Hi Bryan,
I'm testing the base examples, animated.py for bokeh-server plotting. I've
upgrade the bokeh installation to 0.8.1 thru conda. And I cleaned/re-cloned
the github bokeh repo entirely for client side example code.

I tested the code both on localhost bokeh-server and remote host

The following is my
/home/amdevu/work/work_env/anaconda_pydev/bin/python
/home/amdevu/work/work_dir/py_work/
gi

[2015-03-06 14:59] bryevdv opened #2043 "incorporate quickstart feedback"
Got some feedback from tech writer regarding QuickStart

[2015-03-06 15:44] #2043 closed

[2015-03-06 16:26] #2017 closed

[2015-03-06 16:38] fpliger commented on #1917
shouldn't we deprecate them for the next release end remove them in the other following release?

[2015-03-06 16:41] fpliger commented on #1892
ping @bryevdv . Can you check if any of those subtasks have been closed already? there were some significant improvements to docs recently...

[2015-03-06 16:58] bryevdv commented on #1892
None of these have been addressed, there is still more to to I will update this master PR today.

[2015-03-06 17:15] bryevdv commented on #1917
The module itself is purely an implementation detail. Absolutely no one should be doing `import bokeh._glyphfunctions` for any reason  (thats what the leading underscore indicates). Not proposing removing the functions, per se, just the overly complicated way in which they are defined (which is no longer necessary to be so complicated)

[2015-03-06 17:36] fpliger commented on #351
we now have `charts.utils.cycle_colors`. This should be moved to a shared interface that both `plotting` and `charts` can use.

[2015-03-06 17:50] fpliger commented on #230
I'm closing this old one as related discussions and tasks are being moved forward on #1486 and related PR.

[2015-03-06 17:50] #230 closed

[2015-03-06 18:25] bryevdv commented on #2041
@mattpap I am working on this

[2015-03-06 19:07] timelyportfolio commented on #1937
@markriseley basic shiny support should now be added.  Let us know how it works.

[2015-03-06 23:23] markriseley commented on #1937
Thanks, I'll give it a try.
On Mar 6, 2015 7:08 PM, "timelyportfolio" <notifications@github.com> wrote:

[2015-03-06 23:26] nevermindewe opened #2046 "rect hoverplot problem"
adding hoverplot with multiple rects does not give the expected results.
Attached are two screencaps showing the expected plot (good_plot.png) which was made without the hovertool and the obtained plot (bad_plot.png) that was obtained when "source=ColumnDataSource(...)" was passed to the figure.rect() function.

![bad_plot](https://cloud.githubusercontent.com/assets/5727768/6538264/ecaa1a6c-c42d-1

[2015-03-06 23:28] nevermindewe commented on #2046
Sorry about the bad code pasting. I haven't pasted code into an issue before.
Also, here is the version info

In [3]: bokeh.print_versions()

   Bokeh version: 0.8.1
  Python version: 2.7.9-CPython
        Platform: Linux-3.13.0-45-generic-x86_64-with-debian-jessie-sid

[2015-03-06 23:29] nevermindewe commented on #2046
The expected plot is in the second figure that has the blue and red bars not overlapping.
The bad plot is the first figure that has the blue and red bars overlapping.

[2015-03-07 01:24] bryevdv opened #2047 "clean up __init__.py"

[2015-03-07 02:59] bryevdv commented on #1964
Now believe this is a dupe of #2024

[2015-03-07 02:59] #1964 closed

[2015-03-07 17:17] markriseley commented on #1937
I installed it just now, and tried Joe's minimal app <#
https://github.com/bokeh/rbokeh/blob/17a62226f931e1d3f6e6a7605ee1b08dcae61f1c/man-roxygen/ex-shiny.R>
with the following error:

Listening on http://127.0.0.1:5279
Error in normalizePath(path.expand(path), winslash, mustWork) :

path[1]="C:\Users\MARKRI~1\AppData\Local\Temp\RtmpMRBGKT\widgetbinding19c6f0e4579":
The system cannot find the path

[2015-03-07 17:18] markriseley commented on #1937
And when I source the file instead of running I get this:

Error in tag("div", list(...)) : could not find function "rbokehOutput"

The shiny binding functions aren't appearing in the package or the manual
pages of what I just installed.

On 7 March 2015 at 17:16, Mark Riseley <markriseley@googlemail.com> wrote:

[2015-03-07 21:22] bryevdv commented on #1937
@markriseley as previously mentioned, this should go on the rbokeh issue tracker:

https://github.com/bokeh/rBokeh/issues

[2015-03-08 11:34] markriseley commented on #1937
Ok will add it there.
On Mar 7, 2015 9:22 PM, "Bryan Van de Ven" <notifications@github.com> wrote:

[2015-03-08 12:09] chanansh opened #2048 "cannot seem to make x-values different than default in Line"
I am trying to alter the example in https://github.com/bokeh/bokeh/blob/master/examples/charts/lines.py
to have my custom x-values through the "index" argument. But it seems to fail...
What do you recommend to do?

[code]
[code]

[2015-03-08 19:56] fpliger commented on #2048
This is going to be fixed when we merge #1974 (which should be happening very soon).

[2015-03-08 19:58] chanansh commented on #2048
What is the different between Chart.Line ans just line? 9ne suppose to be high-level and the other low level. I dont understand the difference.
Thank!

[2015-03-08 20:32] fpliger commented on #2048
As you've mentioned `charts.Line` belongs to the higher level `charts` interface while `line` expose access to the lower glyph interface which basically displays a single line that connects several points. In the case of Line the difference is not that obvious like with other type of charts, but you can notice that `Charts` just requires one line to take your input and return the `chart` object wi

[2015-03-09 04:16] pzwang commented on #1917
Agreed, the _glyphfunctions module should be removable without any deprecation warning.

[2015-03-09 12:56] bryevdv commented on #1937
Thanks!

[2015-03-09 14:34] #1659 closed

[2015-03-09 14:34] #2024 closed

[2015-03-09 14:34] #2041 closed

[2015-03-09 14:34] #2047 closed

[2015-03-09 14:37] bryevdv commented on #2024
@nevermindewe please check again with the next dev build (should be one out in the next day or two)

[2015-03-09 15:18] woutergins opened #2050 "Memory problem with python clients to bokeh serve"
I posted this issue on both stackoverflow (http://stackoverflow.com/questions/28939097/embedding-bokeh-plot-in-html-eats-memory) and the Google discussiongroup https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/It7ZSx37Esk), and was advised to post this here, since this sounds like a genuine issue.

The summary is that the "animated" embed example forces the browser to use more and more

[2015-03-09 15:25] bryevdv commented on #2050
Thanks @woutergins we will take a look at this one very soon.

[2015-03-09 16:03] bryevdv opened #2051 "simplify bokeh/__init__.py even more"

[2015-03-09 20:13] #2010 closed

[2015-03-10 04:07] matdrapeau commented on #2039
I think this is related: https://github.com/bokeh/bokeh/issues/1811

[2015-03-10 07:56] fpliger commented on #2039
Yes. It's definitely related and #1841 is somehow related too in the broader view.

The tricky part of managing and passing DataSources around is that some charts does not just consume the data input they receive but also compute the related data to be used for their specific chart construction (i.e.: bars, boxplot, donut..). So we not only need to accept explicit DataSources as you suggest, but a

[2015-03-10 08:29] timburgess commented on #2015
There is no inherent limitation AFAIK. To create your own palette, <code>from bokeh.models.mappers import LinearColorMapper</code> and then pass a list of the hex codes you want to use when you create the LinearColorMapper. Once that is created, instead of the <code>palette</code> keyword, use <code>color_mapper</code>. So something like <code>.., color_mapper=LinearColorMapper(SSTPalette)</code>.

[2015-03-10 10:10] almarklein commented on #1960
@bryevdv your thoughs? If I continue on #1972, I'd better do it sooner than later (or it'll drift away from master).

[2015-03-10 12:16] knightofni opened #2053 "buttons_server.py example : dropdown & split not fully functionnal"
When running the buttons_server example (Examples/glyphs) :

Actions from all buttons produce output in the terminal, except for the dropdown & the split.

If split is clicked once, the action will be registered (`split_handler: baz`)

But just selecting an item from the dropdown / split will not register anything.

Are they missing some `on_change` methods ?

[2015-03-10 15:27] km12321 opened #2054 "server/utils/plugins.py not passing in title attribute"
This file does not specify title attribute for render_template function. I added:
[code]
and passed in the title attribute aftewards. This should be a quick fix

[2015-03-10 16:30] bryevdv commented on #2054
@km12321 would you be interested in contributing a Pull Request for this?

[2015-03-10 17:47] nevermindewe commented on #2046
The code below is better but still incorrect.
With this example, the hovertool shows up on the red bars but not the blue bars.

from pandas import DataFrame

def candlestick():
    try:
        import bokeh
        from bokeh.plotting import (figure, output_notebook, output_file, show,
                                    save, ColumnDataSource)
        from bokeh.models import HoverTool, Range1d

[2015-03-10 17:48] bryevdv commented on #2046
(FYI you can use trip backticks on lines before and after code to format as code)

[2015-03-10 17:52] #1980 closed

[2015-03-10 17:58] bryevdv commented on #2046
@nevermindewe OK that might be a bug with hover tool then, I will try to take a quick look today. Here is the "failsafe" option though, just in case you want to try: instead of two rect renderers with a different fill color, only have one rect renderer, and specify the fill color as a column in the data source.

[2015-03-10 18:00] fpliger opened #2056 "deprecate glyph functions accepting datasource and sequence literals simultanously"
Right now, when user passes datasource and passed in data on glyph functions [checks for a passed in source](https://github.com/bokeh/bokeh/blob/master/bokeh/_glyph_functions.py#L9) and [tries to figure out](https://github.com/bokeh/bokeh/blob/master/bokeh/_glyph_functions.py#L40) what the pile of parameters correspond to, given whatever glyph we are and then in that function it actually sets colu

[2015-03-10 18:01] fpliger commented on #2056
ping @pzwang and @bokeh/core for opinions..

[2015-03-10 19:33] nevermindewe commented on #2046
More strangeness for you.
The code below doesn't show any hoverplots when the x_axis_type is "datetime".
When the line "bars.index=date_range("2015-01-02 09:30:00", periods=50, freq="5min")" is commented out, the hovertools show up exactly as expected.

[code]

[2015-03-10 20:26] tswicegood commented on #2029
@bryevdv not sure if you mean to configure the `logging` module to print to stdout or not, but that would be my recommendation.  That allows you to easily (for certain values of easy) redirect output to another server by changing the configuration.

Huge :+1: on splitting implementation and routes.  The unit tests for those should for whatever is needed in the context of parsing/understanding the

[2015-03-10 20:43] bryevdv commented on #2046
There is a bug with hit testing and screen units. Using a data-space width is a workaround (this works):
[code]

[2015-03-10 22:00] bryevdv commented on #2029
@tswicegood yup that's all the idea :)

[2015-03-11 05:17] hhuuggoo commented on #2038
with the server it is easy

`$ ./bokeh-server -djs`
`$ grunt watch`

I don't believe there is a good way for file based examples where we embed all of bokeh.js into the file

[2015-03-11 05:24] hhuuggoo commented on #2029
w.r.t config - we do have to allow some basic configuration via cmd line args.  I prefer python file based configuration (like we have) to env vars, but If you guys want to go env var I don't have a strong objection

blaze however needs to be configured using a python file - this is because blaze allows for defining in memory datasets, and you can't do that via env vars (also it would be very cumb

[2015-03-11 05:40] #1533 closed

[2015-03-11 05:40] hhuuggoo commented on #1218
we're using tornado now

[2015-03-11 05:40] #1218 closed

[2015-03-11 05:41] hhuuggoo commented on #649
superceded by #1881 discussion

[2015-03-11 05:41] #649 closed

[2015-03-11 05:42] #607 closed

[2015-03-11 05:43] #1064 closed

[2015-03-11 05:44] hhuuggoo commented on #2029
The other thing is to re-think and simplify how we deal with curdoc, push, show etc.. but maybe that is a separate issue

[2015-03-11 09:10] almarklein commented on #2038
It *could* be easy though, since bokeh packs the JS into the html each time. The only problem is that it takes the JS from `bokeh/server/static/js`, while grunt outputs to `bokhejs/build/js`.

[2015-03-11 10:46] fpliger commented on #1901
ping @bryevdv @Maggie-M . default values now are 'x-axis' and 'y-axis'. Should we go ahead and use "" as default? Otherwise we should close this issue...

[2015-03-11 12:21] bryevdv commented on #2038
I know it has worked for me in the past. FWIW here are the old instructions I got once:

1) static HTML

	BOKEH_RESOURCES=relative-dev python example.py

2) server

	./bokeh-server --dev
	python example-server.py

These are after "grunt watch" is run in another terminal.

Bryan

[2015-03-11 12:22] bryevdv commented on #1901
I am +1 on having the empty string as the default.

[2015-03-11 12:56] bryevdv opened #2058 "Point hit testing for rects broken with screen space widths"
references: #2046

There may be other broken configurations as well.

[2015-03-11 13:34] almarklein commented on #2038
yeah, that's also what it says in dev docs,  but (1) does not work anymore.

[2015-03-11 14:34] bryevdv commented on #2038
@mattpap please chime in

[2015-03-11 14:54] bryevdv opened #2059 "running server example twice duplicates layout"
reference: https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/pc8XceLuaas

Running the code in the referenced post twice results in two copies of the layout being displayed. Checked also with `examples/glyphs/population_server.py` and confirmed it is happening with that as well. Appears to be a regression. @hhuuggoo @mattpap thoughts very welcome.

[2015-03-11 14:58] bryevdv commented on #2059
Screenshot attached:
![screen shot 2015-03-11 at 9 58 27 am](https://cloud.githubusercontent.com/assets/1078448/6599005/34facaf0-c7d5-11e4-8db9-9b5bb332157f.png)

[2015-03-11 15:02] bryevdv commented on #2059
@Maggie-M can you see if this happens with recent released versions? `0.8.1` or `0.8` For each install the test procedure is:
* run `bokeh-server --dev`
* run `examples/glyphs/population_server.py`
* stop it, run it again
* see if layout is duplicated as above
* stop `bokeh-server`

[2015-03-11 15:16] fpliger commented on #2059
I always though that it should behave in the oposite way.. So reset by default and hold on request.

[2015-03-11 15:22] bryevdv commented on #2059
That was basically the old behavior. `reset_output` was never needed, the document was always cleared.

[2015-03-11 15:27] bryevdv commented on #2056
reference: #2046

[2015-03-11 15:33] bryevdv commented on #2046
OK there are now separate issues for the problems encountered here. Marking this as a discussion and closing.

[2015-03-11 15:33] #2046 closed

[2015-03-11 16:31] mattpap commented on #2038
@almarklein, there are two options:

1) static: `BOKEH_DEV=true python something.py`
2) dynamic: `./bokeh-server --dev` and then `python something_server.py`

The best way to get static files in place is to:
[code]
Not doing the above, but also **not** using `setup.py`, should work as well, but perhaps this works only for server. For me using `ln` and staying far away from `setup.py` works the bes

[2015-03-11 17:32] #2048 closed

[2015-03-11 20:52] almarklein commented on #2038
Ok, the link thing should work. Is this something we should put in the dev-docs?

[2015-03-12 01:19] bkief opened #2061 "Y-Axis Alignment in Vertical GridPlot"
The y-axes of two vertically arranged gridplot figures become misaligned when one of the y-axis tick labels require more space than the other figure.

![image](https://cloud.githubusercontent.com/assets/3420363/6610301/ba29639a-c833-11e4-9ef2-a93667db628e.png)

[2015-03-12 18:13] km12321 commented on #2054
Am not an active Git user so it may be easier for someone on your end to do this :)

[2015-03-12 19:42] almarklein commented on #1983
https://twitter.com/raymondh/status/576047090905677824

[2015-03-12 20:02] pzwang commented on #1983
I don't think there is any argument that this should almost never be done, and if it does have to be done, there should be a big fat comment indicating *why*. :)

[2015-03-13 02:59] niparis opened #2064 "Tooltip not working when inverting an axis by passing a `y_range` argument to the figure"
Note : port from [this](http://stackoverflow.com/questions/29003489/getting-a-tooltip-to-work-with-an-inverted-axis) SO question

It is not possible to have a tooltip while changing the axis by passing the  `y_range` argument to the `figure` object.

Examples with code :
### Normal axis, tooltip working

[code]

![enter image description here](http://i.stack.imgur.com/Z55ZI.png)
### Inverted Axis,

[2015-03-13 16:14] #2002 closed

[2015-03-13 18:58] wtadler opened #2066 "angle property not working for square glyph"
I can't rotate square glyphs. It would be great if angle was supported for triangle glyphs as well!

[2015-03-13 18:58] bixb0012 commented on #187
Although this is already a [long-term](https://github.com/bokeh/bokeh/milestones/long-term) milestone,
+1

[2015-03-13 19:09] hhuuggoo commented on #187
The other thing we could do is render an svg on top of the canvas and then allow a few d3 based renderers

[2015-03-13 19:12] hhuuggoo commented on #2059
I recall that we made the default result of output_server to clear the doc, unless you pass a certain kwarg.  If this isn't happening anymore, it's a regression problem - should be easy to track down though - output_server should wipe out the doc - if not, that's where it broke =)

[2015-03-14 13:46] bryevdv commented on #1960
@almarklein I don't like adding a named arg because it muddies the interface and is a weird thing we have to explain. Here is my proposal:
[code]
Then:
[code]
Or something very like it. (e.g., maybe `kw_names` should really be a dict with default values, needs error checking, etc) Key observations:
* functions like the ones we are trying to "fix" are responsible for `pop` the culled kwargs off. Th

[2015-03-14 13:55] bryevdv commented on #2056
Offline discussion] @pzwang is +1

[2015-03-14 13:58] bryevdv commented on #2050
@hhuuggoo any offhand thoughts?

[2015-03-14 13:59] bryevdv commented on #2053
Can you provide a Minimum Runnable Example to help us diagnose this?

[2015-03-14 14:02] bryevdv commented on #2038
@almarklein we should probably actually develop some minimal tool support. Think the best thing might be a little script that creates the link then runs `grunt watch` then deletes the link on exit.

[2015-03-14 19:20] bryevdv opened #2067 "Spectrogram coffee needs recompile"
To handle removal of global `$`

[2015-03-14 19:22] #2067 closed

[2015-03-14 22:22] almarklein commented on #2038
@bryevdv that makes sense.

Out of curiosity, what is the difference between the code in `bokehjs/build` and `bokeh/server/static`? Why does bokeh not simply use the code from the first directory?

[2015-03-14 22:52] bryevdv commented on #2038
`bokehjs/build` does not exist in installed packages.

[2015-03-15 05:32] knightofni commented on #2053
I think the easiest minimum runnable example would be to run example/glyphs/buttons_server.py

If you click on any widget : the action appears in the terminal.

However, if you select an item from the dropdown / split : the action is not displayed in the terminal.

Let me know if its still unclear.

[2015-03-15 18:29] birdsarah opened #2069 "Remove plot instance from GuideRenderer?"
I don't often add grids to a plot, so doing so the first time this morning.

The `Grid` has a property `plot`, which then sets the Grid renderer in the plot.renderers

With all other components I'm used to manually a plot.renderers.extend or plot.add_layout:
* plot.renderers.extend([GlyphRenderers])
* plot.tools.extend([Tools])
* plot.add_layout(Axis)

So this felt like a bit of a departure from t

[2015-03-15 18:31] bryevdv commented on #2069
Fairly certain the `plot=None` is the problem. You either need to set to it to `plot` by hand, let `add_layout` handle those details.

[2015-03-15 19:03] birdsarah commented on #2069
Thanks, as always, for the quick response.

I have been going from the examples and somewhere along the way picked up the plot.renderers.extend habit. Good to know about `add_tools` and `add_glyph`

The following, which I'm guessing is preferred way, works great, thanks.:
[code]
Now I'm grepping around I'm seeing loads of examples of add_layout with Grid and add_tools. I cannot explain why my go t

[2015-03-15 20:23] birdsarah commented on #2069
(btw totally understand your point about needs to be plot=plot AND plot.renderers.extend or use add_tools)

[2015-03-15 20:57] birdsarah commented on #624
Hi, I just got bitten by this again. I don't suppose there's any chance that this can make it into 0.8.2?

[2015-03-16 11:09] almarklein commented on #2038
Right, of course :)

Looking into this, I'm less sure whether using a link is a good idea. E.g. I have used setup.py at some point, which means the `server/static/js` dir exists and is locked because it was created with sudo. Nothing that can't be fixed, but all this becomes complicated to explain. More importantly, on Windows you cannot assume that you can create symlinks: https://docs.python.org

[2015-03-16 12:56] bryevdv opened #2071 "publication of weekly meeting minutes"
ping @pzwang @bokeh/core

We should probably start putting these some place, we just need to make sure no non-public content is mingled. Where should they live? I am inclined to just throw them all on a single Wiki page for now, but other ideas would be welcomed.

[2015-03-16 14:03] bryevdv commented on #2069
@mattpap do you have any objections to re-working these to use `add_tools` etc? I think that would be clearer to present one canonical way of doing things.

[2015-03-16 14:17] birdsarah commented on #2069
Even when we need to have the renderer to attach it to a specific tool (e.g. glyphs/data_tables.py) add_glyph returns the renderer, so we could use add_glyph and use that to build the specific Tool as needed.

[2015-03-16 14:32] bryevdv commented on #2038
Yes, that seems better. Also changing to `task`

[2015-03-16 14:45] #2051 closed

[2015-03-16 16:00] mattpap commented on #2069
Actually, yes. If you want to do anything fancy with the low-level API, you have to have to this knowledge anyway. What should really happen is validation. In this case you shouldn't be able to use/serialize an object if `plot` attribute is `None`.

[2015-03-16 16:30] bryevdv commented on #2069
I certainly agree that validation here would be good.

[2015-03-16 17:51] matdrapeau commented on #2039
@fpliger do you suggest to move the knowledge of the chart construction into coffee?
Is there any other ways to be able to template the construction from python and be able to propagate it into another form than a rendered chart?

[2015-03-16 18:47] #2033 closed

[2015-03-16 19:05] bryevdv opened #2073 "user guide edits"
From comments from Kerry:
* next / prev nav at bottom
* remove marketing talk in Interfaces
* navigation for glossary
* better intro to glossary
* link for BokehJS

[2015-03-16 20:31] #1901 closed

[2015-03-16 21:49] bryevdv commented on #2040
Should just involve creating an enum and adding it to the right model(s).

[2015-03-16 21:51] bryevdv commented on #1959
I think this has been covered, closing.

[2015-03-16 21:51] #1959 closed

[2015-03-16 23:30] cyrusmaher opened #2076 "Hover Tool with overlaid plots"
If I plot multiple glyph sets on the same figure, is there a way to attach a hovertool to only a subset of them?

[2015-03-16 23:38] birdsarah commented on #2076
Yes!

I was actually just learning through a github issue the preferred way to do
this. It would be something like this.

cty = plot.add_glyph(source, cty_glyph)
hwy = plot.add_glyph(source, hwy_glyph)
tooltips = [
("Manufacturer", "@manufacturer"),
("Model", "@model"),
]
cty_hover_tool = HoverTool(renderers=[cty], tooltips=tooltips + [("City
MPG", "@cty")])
plot.add_tool(cty_hover_tool)
hwy_hover

[2015-03-16 23:40] birdsarah commented on #2076
[code]

[2015-03-17 05:50] birdsarah commented on #2071
excited about this. i think wiki page is a great start. i think posting them to the mailing list would be equally valid. meeting minutes tend to get less topical with age, so mailing list seems appropriate to me too.

[2015-03-17 06:25] birdsarah commented on #2069
@mattpap, sorry I'm being slow. can you clarify a little. are you saying you prefer

[code]
over
[code]

[2015-03-17 11:57] damianavila commented on #1927
@damianavila is there a way to automate execution of these notebooks as part of official releases?

What is your idea? BTW, there is a new execute preprocessor in IPython, so we could execute them programmatically if this is your idea...

[2015-03-17 11:59] #1290 closed

[2015-03-17 12:07] damianavila commented on #1981
Maybe some proxy issue?? pinging @asmeurer @ilanschnell again :wink:

[2015-03-17 12:13] knightofni commented on #2053
### Exacts steps to reproduce missing functionality

1. run bokeh-server
2. cd to `bokeh/Examples/bokeh/glyphs`
3. python buttons_server.py
4. Using any widget will produce output in the console except when :
- selecting from dropdown
- selection from the split (clicking works)

![screen shot 2015-03-17 at 7 59 51 pm](https://cloud.githubusercontent.com/assets/3415960/6686867/56bdf49a-cce0-11e4-9c

[2015-03-17 12:25] damianavila commented on #2024
Just a little late, but this is the proper way I think... and you did it in this way :+1:

[2015-03-17 12:27] bryevdv commented on #2053
Ping @mattpap

[2015-03-17 12:31] damianavila commented on #472
Do you see this in 0.8.0 too? or in 0.7.1? BTW, this seems not related with the previous remote data test failing, it should be probably migrated to a new issue...

[2015-03-17 12:39] damianavila commented on #2071
:+1:

[2015-03-17 12:44] damianavila commented on #1995
@GildedHonour, you closed the issue, did you find answer to your questions? Thanks.

[2015-03-17 12:48] #1207 closed

[2015-03-17 12:49] #2008 closed

[2015-03-17 13:40] almarklein commented on #1960
Isn't that about the same as:

    def func(foo=10, bar=20, **kwargs):
        print(foo, bar, kwargs)

Looking at this again. We have something like this:

    def _glyph_function(glyphclass, dsnames, argnames, docstring, xfields=["x"], yfields=["y"]):

        def func(plot, *args, **kwargs):

            # We pop some kwargs that we need
            source = kwargs.pop('source', None)

[2015-03-17 13:54] birdsarah commented on #1992
@fpliger - given that you so kindly offered. Do you have any opinions on the above? :s

[2015-03-17 13:56] bryevdv commented on #1960
I think you have the sense of my suggestion reversed. I am not talking about using a decorator to pop of the tens of glyph parameters, I was suggesting popping of the three or four that *aren't*.  FWIW we should not do anything based on making any AR code better or different, we are very likely going to move AR out of bokeh and into its own project so it can progress more independently. As for jus

[2015-03-17 14:13] almarklein commented on #1960
The idea is to somehow expose information on what kwargs are valid, so that calling code (like AR) can filter its properties, right? So one way or another, all these "pseudo props" need to be taken into account.

No it won't. Because of what I said above.

[2015-03-17 14:20] birdsarah opened #2077 "Docs - getting the generated charts to appear?"
Hi all,

I'm building the docs locally, and have just noticed that on my local copy of http://bokeh.pydata.org/en/latest/docs/user_guide/charts.html#area the area, bar, donut etc. charts are not appearing.

I was getting the error message:
`WARNING: dot command 'dot' cannot be run (needed for graphviz output), check the graphviz_dot setting
`

but then install graphviz locally (apt-get install gra

[2015-03-17 14:25] bryevdv commented on #1960
Why not? Just add `source`, `legend`, `x_range_name`, `y_range_name` and `name` as args with default values to `func`?
[code]
What am I missing? Like I said, remove any AR code form this consideration.

[2015-03-17 14:28] bryevdv commented on #1960
I don't see the issue as one of advertising anything to outside callers, BTW. I see it as a specification issue of for the function under question. How do we specify the inputs to the function so it can leverage the properties system to the best ability. FWIW I do think this is important to fix up but if we are not achieving consensus then we should probably table this before it devolves into bike

[2015-03-17 14:30] bryevdv commented on #2077
Just checking, did you do a `make clean` after installing graphviz?

[2015-03-17 14:32] ilanschnell commented on #1981
Maybe an issue with switching over to https?

On Tue, Mar 17, 2015 at 7:07 AM, Damián Avila <notifications@github.com>
wrote:

[2015-03-17 14:54] almarklein commented on #1960
Hehe, I am eager to fix this in whatever way you think seems fit. I think we're simply not fully understanding each-other, in part because this problem is rather complex :)

I think the code has already improved, and specifying `source`, `legend` et. al. as args with default values will further improve the specification. But there will still be errors in the tests, because the AR code passes kwarg

[2015-03-17 15:09] bryevdv commented on #1960
OK, thanks for jogging my memory I had actually forgotten that part of the problem. Since we are in agreement that that version of `func` is an improved for bokeh in general, I guess this statement is true: I don't really care what happens to `replot` to make it work with the new version, especially if that is the only problem area. Can you elaborate on your `plot_opts` idea a little more?

[2015-03-17 15:56] almarklein commented on #1960
The idea would be for `func` to have a `potential_props` arg, which would have to be a dict. The `func()` would filter out the arguments that are valid properties and pass them to the `glyphclass`. It would be a sort of kwargs-that-are-not-checked, which other code (e.g. AR) can use to send automatically collected kwargs.

[2015-03-17 16:09] almarklein opened #2078 "Use PyFlakes"
In  #1980 we discussed to use pyflakes to improve code quality. At first we decided to use vanilla pyflakes, but we came back to using flake8 because that allows much more configuration. This issue is to keep track of progress, which will likely be done in a few subsequent PR's:

* [x] Make all subpackages pyflakes compliant (done: server, charts, cli, ...)
* [x] Make bokeh root package pyflakes c

[2015-03-17 16:23] bryevdv commented on #1960
I apologize, I am still missing something. I think I'll need to see some actual code to think about it more clearly.

[2015-03-17 16:26] #2073 closed

[2015-03-17 16:37] almarklein commented on #1960
Something like this:

    func(..., potential_props):

        ...
        real_props = [(name, potential_prop[name]) for name in potential_props if name in valid_glyph_props]
      kwargs.update(real_props)

And the code in AR would simply pas `plot_props` as potential_props.

[2015-03-17 17:04] bryevdv commented on #1960
OK where does `valid_glyph_props` come from?
[code]
Note that the `_units` ones don't show up there, unfortunately. I think we are stuck with the fact that `replot` needs to be made to not pass junk, especially if it is the only offending culprit in this way.

[2015-03-17 18:22] almarklein commented on #1960
We could actually use `_materialize_colors_and_alpha` and `_match_data_params` to convert the peudo-properties to real properties, although this complicates things; should we use the line_color from kwargs or from potential_props?

Maybe we should ask: what is the precise purpose of `plot_opts` in the AR code? *should* they overwrite units, colors, etc? I don't really see what `plot_opts.update(ma

[2015-03-17 18:31] bryevdv commented on #1960
I am pretty wholly unfamiliar with the AR codebase. @JosephCottam can you make a few comments?

[2015-03-17 18:40] birdsarah commented on #2077
Yep :s Is there a sphinx plugin as well?

[2015-03-17 18:43] bryevdv commented on #2077
yes but it is loaded in the `conf.py`

[2015-03-17 18:48] birdsarah commented on #2077
hmmmm... this isn't a priority, so i'm going to can this for now.

[2015-03-17 18:48] #2077 closed

[2015-03-17 19:16] cyrusmaher commented on #2076
Thanks Sarah!! I've got it working now, thanks to your help. One kink is that instead of creating a plot object and adding glyphs, I'm making a figure object and then plotting using its methods. For those following along at home, I've had some luck using, e.g.:

[code]

[2015-03-17 19:16] #2076 closed

[2015-03-17 20:08] fpliger commented on #1992
@birdsarah you caught me on a corner that I'm not very used to... :-)

That said, from what I see, my 2 cents here is that _init_context does not handle concurrency (so context creation and re-use) as it should. So if more then on context is being created simultaneously and it fails in the next call. A quick hack to check that you can try is to change line:

https://github.com/bokeh/bokeh/blob/mas

[2015-03-17 20:11] birdsarah opened #2079 "Is tools.names.append meant to work?"
Looking here: https://github.com/bokeh/bokeh/blob/master/examples/plotting/file/tap.py#L46
[code]
The select works, but I don't see messages in the console. Am I missing something? (In the server example, I do see the PATCH-PUT as expected, but no "mystuff" message either.)

[2015-03-17 20:16] hhuuggoo commented on #1992
Do you have threads anywhere?

[2015-03-17 21:07] cyrusmaher opened #2080 "HoverTool panel for annular wedge displays at center coordinates, not over wedge."
There may also be an issue with the hit detection. I end up with the annotation for all wedges being displayed in the center of the concentric wedges.

[2015-03-17 21:33] fpliger commented on #2080
hi @cyrusmaher , could you paste an example code here so we can easily reproduce the issue (or maybe a screenshot or both :-) )? Thanks

[2015-03-17 21:56] bryevdv commented on #2080
There is a parameter to snap to the glyph center that defaults to true. I'm in my phone or I'd look it up but it's in the reference guide.

Bryan

[2015-03-17 22:13] birdsarah commented on #1992
Thanks @hhuuggoo @fpliger. I was looking at this again the other day on a different box, which I then trashed. Having tried to rebuild it today to look into these issues I cannot seem to duplicate the issue. I'm going to try it again later on the same network connection as before. But for now I'm closing this. I'll be on the lookout for these points if it raises its head again. Thanks again. Bird

[2015-03-17 22:13] #1992 closed

[2015-03-17 22:25] chuyelchulo commented on #647
I'll add a +1 here as well.

[2015-03-17 22:33] aolieman opened #2081 "title_text_align plot property behaves strangely"
The [title_text_align](http://bokeh.pydata.org/en/latest/docs/reference/models.html#bokeh.models.plots.Plot.title_text_align) property does not function properly. I've tested this in Chromium v41 and in Firefox v36.

The property is defined as `Enum(‘left’, ‘right’, ‘center’)`, but the values `'left'` and `'right'` don't produce the intended alignment. Left shifts the title a bit to the right, and

[2015-03-17 22:39] bryevdv commented on #2081
Can you please provide a minimum runnable example?

[2015-03-17 22:39] cyrusmaher commented on #2080
Thanks Bryan!! That's just what I needed. In future versions, Would it be possible (pretty please) to make the snap_to_data default coordinates the middle of the annular wedge patch?

Also, in the process of putting together the example code below, I encountered a perhaps mildly interesting bug. For the `annular_wedge` call, if you swap "starts" and "stops" and switch the direction to "clock" inst

[2015-03-17 22:45] cyrusmaher commented on #2080
Here's a screenshot of the behavior described above. The indices for all wedges show up even when not hovered over any of the glyphs.
https://www.dropbox.com/s/ys057gvadxc5m1n/Screenshot%202015-03-17%2015.44.20.png?dl=0

[2015-03-18 02:31] bryevdv commented on #2080
@cyrusmaher Looks like a bit of weirdness. I can imagine that using a different `direction` might not have been a well-tested configuration. I will mark this as a `bug` for that reason but I can't speculate on when this will be gotten to. In the mean time I recommend configuring your data to work with `antilock` (which works, if I am not mistaken?)

[2015-03-18 02:43] bryevdv commented on #2079
Do you have a renderer that you set `name="mystuff"` on? That is the intended use-scenario but it might be broken. If so we will probably just remove it since it somewhat duplicates the `renderers` field on the tool.

[2015-03-18 02:45] bryevdv commented on #2079
OH, you are talking about an actual example. I think that comment it out of date, I believe the default `console.log` was removed. You can see that it is working, though: if you click on one circle, it gets selected/highlighted.

[2015-03-18 02:45] bryevdv commented on #2079
![screen shot 2015-03-17 at 9 45 35 pm](https://cloud.githubusercontent.com/assets/1078448/6701745/f65583de-ccee-11e4-95ae-896efb837332.png)

[2015-03-18 02:49] birdsarah commented on #2079
Yep. As I said: "The select works, but I don't see messages in the console."

Was just checking in on whether there was a feature I should know about or just some out-dated code.

Hope all of this poking around isn't coming across as nit-picking, I'm just trying to get my ducks in a row.

Happy to do a PR to clean this up when I come up for air.

[2015-03-18 02:52] bryevdv commented on #2079
Nit-picking is good and welcomed, it's what separates exceptional things from merely good ones. We are not there yet but hopefully feedback like this will help get us there. Please don't stop. :)

[2015-03-18 06:54] GildedHonour commented on #1995
@damianavila , no.

[2015-03-18 12:28] almarklein commented on #1960
@JosephCottam Let me give you a summary. We're trying to change the code such that invalid property names for glyphs result in an error. One problem we run into, is that the AR code passes a dict with options to the glyph function, which contains props that are not valid. It's about the `plot_opts` here: https://github.com/bokeh/bokeh/blob/master/bokeh/transforms/ar_downsample.py#L454 This dict is

[2015-03-18 14:50] #1983 closed

[2015-03-18 16:21] cstjean opened #2083 "Tooltips in gridplots appear below neighbouring plots (bad z-index)"
When using a gridplot with tooltips on the individual plots, the tooltips appear below the other plots that are to the right or down from the current plot.
[code]
eg. the bottom right plot is over the tooltip:
![screen shot 2015-03-18 at 12 17 34](https://cloud.githubusercontent.com/assets/8622776/6713454/cafe03f8-cd68-11e4-9cc8-a831705f5705.png)

This is especially problematic when we have images

[2015-03-18 19:22] #1956 closed

[2015-03-18 19:27] cyrusmaher commented on #2080
Yup, that works! Thanks for taking a look!!

[2015-03-19 00:35] birdsarah commented on #2013
Hi. I understand why you'd want to do it programatically, but there is a workaround.

(sorry if I'm stating the obvious)

The multiwidget box is just an html element. Bokeh comes with its own css so you just need to override it from:

[code]
to
[code]

Having just written all this, I've realized that I've got a whole setup that makes that easy for me to do. I will be documenting it and publishing

[2015-03-19 00:49] birdsarah commented on #2029
I hope this is an appropriate place for this comment. Configuration of Cross Origin things would be great.

[2015-03-19 02:13] knightofni commented on #2064
Updated title & text of question

[2015-03-19 02:13] hhuuggoo commented on #2029
@birdsarah what kind of crossdomain config?

[2015-03-19 11:35] damianavila commented on #607
@hhuuggoo, can you add a brief explanation about why are you closing the issue... it would be nice to have it from an educational/informative point of view... essentially for the new contributors we are having now...

[2015-03-19 12:17] hhuuggoo commented on #607
Yea I just closed it because I opened it and it was old and I don't think we are going to worry about it right now

[2015-03-19 16:52] bryevdv opened #2087 "Simplifying glyph units"
I am working on #2086 at the moment, and a few thoughts about how we handle units have floated through my head. I'd like to get some feedback on some ideas and perhaps the start of a proposal too.

In theory, all of our glyphs can accept either data or screen space coordinates for basically any coordinate or distance. I say "in theory" because this capability has not been thoroughly tested, and I

[2015-03-19 18:06] aterrel commented on #2087
+100

Even trying to explain to a user the difference between data space and screen space is a challenge.

[2015-03-19 18:19] fpliger commented on #1841
I've started working on this in #2088 . Changes are minimal but should give the intentions of the change..

One idea regarding the charts source is that charts that "just use" the input data without any computation don't rename it and use it "as is" (the previous implementation used to append "y_" to the name). Charts that apply computations on the data to build their "own" data to create their ch

[2015-03-19 19:49] bryevdv commented on #2087
I have thought of one tangential use case: pixel offsets for when you want to label markers with text offset at a constant distance. I am confident this can still be made to work in a more streamlined fashion, or perhaps is is also handled as an annotation somehow.

[2015-03-20 03:51] rhjmoore opened #2089 "CheckboxEditor and BooleanFormatter bugs"
I have some code that shows a DataTable, and one of the fields is meant to be an editable checkbox. The code below should work; unfortunately it only shows a blank cell and no editing is possible. Looking at the HTML produced, the div itself is empty when not selected, and filled with a zero height input checkbox when selected.

Am I doing something wrong or is this a bug?
[code]

[2015-03-20 17:58] bkreider opened #2090 "Glossary of terms"
It would be nice to have a glossary of terms.  I've intuitively grasped linked-brushing, but I realized I have never seen an actual definition of linked or brushing.  Bryan pointed me to the WP article here: http://en.wikipedia.org/wiki/Brushing_and_linking.

[2015-03-21 20:39] bryevdv commented on #2089
ping @mattpap

[2015-03-21 21:48] bryevdv commented on #2064
Quite possibly a bug in the hit-testing logic. I will tentatively mark this as a `bug`, but it will require some further investigation.

[2015-03-21 21:52] bryevdv commented on #2083
Marking this as a dupe of https://github.com/bokeh/bokeh/issues/1744

@cstjean there is some additional info in the linked issue. It unfortunately seems to be a little more complicated than just the `z-index` but if you have any suggestions they would be welcomed.

[2015-03-21 21:52] #2083 closed

[2015-03-22 21:00] bryevdv commented on #2087
Upon further thought, things like that should absolutely be a "labels" annotation of some sort and not a data glyph, in my opinion.

[2015-03-22 21:07] pzwang commented on #2087
Yep, +1 on this

On Sunday, March 22, 2015, Bryan Van de Ven <notifications@github.com>
wrote:

[2015-03-22 21:12] bryevdv commented on #2087
OK, I will start a PR based of the auto-ranging one, and we can target both for 0.9

[2015-03-22 21:15] bryevdv commented on #2087
FWIW there are still several features to add to BokehJS (some of them pretty big, too), but this may be the last non-trivial "change" or "fixup" I can really think of.

[2015-03-22 21:33] payne92 opened #2091 "IPython 3 notebook: reimporting bokeh.plotting breaks plot controls"
In IPython 3, re-executing the cell containing:

    from bokeh.plotting import *

breaks existing and subsequent plots.  See screen shot, below; the pan, zoom, resize etc. buttons are broken.  This also breaks "run all", which (I'm guessing) would be common way most people would run into the problem.

Details:
+ IPython 3 Github HEAD
+ Bokeh 0.8.1
+ Notebook server running behind nginx

![screens

[2015-03-22 22:02] bryevdv commented on #2091
This issue is fixed in master and available in the latest dev build. Dupe of https://github.com/bokeh/bokeh/issues/2024

[2015-03-22 22:02] #2091 closed

[2015-03-22 22:03] bryevdv commented on #2091
See http://bokeh.pydata.org/en/latest/docs/installation.html#developer-builds for instructions on installing dev build packages.

[2015-03-23 11:04] aolieman commented on #2081
This reproduces the issue (based on iris example):
[code]

[2015-03-23 12:23] bryevdv commented on #2081
Thanks. There is another ticket for some other title-related improvements, we will probably tackle this at the same time.

[2015-03-23 12:26] bryevdv commented on #2081
References #149 #1449

[2015-03-23 14:57] nevermindewe opened #2093 "multiple y-axes don't plot things independently"
In the code below, an extra y-axis is created and placed on the right side of the figure.
The x3 and y3 data are plotted against the y axis on the right side of the figure instead of the normal left side.
When the "y3" data is small, the plot looks as expected.
When y3 is changed to 'y3':[5,10,150], the y-axis on the left side of the figure changes its range.
It seems like that shouldn't happen.
T

[2015-03-23 16:45] Maggie-M opened #2094 "Hover text issues in examples/glyphs/calendars.py"
The first issue is that in place of apostrophes in hover text, we instead get a jumble of characters.

![screen shot 2015-03-23 at 11 36 47 am](https://cloud.githubusercontent.com/assets/1417520/6785119/ca84df54-d151-11e4-80a3-84f442fae185.png)

Second is the way the hover direction is determined.  It appears that any holiday that falls at the end of the week will display hovering to the left of t

[2015-03-23 16:48] Maggie-M opened #2095 "examples/glyphs/data_tables.ipynb error"
In the last cell of the notebook, when this command is run:

[code]
This error is returned

[code]

[2015-03-23 17:12] Maggie-M opened #2096 "Visual Improvement for examples/glyphs/taylor_server.py"
**Order** slider box overlaps **Expression** box if moved all the way to the right.

![screen shot 2015-03-23 at 12 10 12 pm](https://cloud.githubusercontent.com/assets/1417520/6785785/d4d1aa4c-d155-11e4-8af2-a5dc2414322c.png)

[2015-03-23 19:41] Maggie-M opened #2097 "'Help' button doesn't seem to work on Windows"
I was testing on Windows 7 (64-bit), using the default browser, Internet Explorer.

Clicking the help button didn't open up a new page to the Bokeh docs.  Right clicking on the button itself didn't even offer the option to open the link in a new tab.

[2015-03-23 19:55] Maggie-M commented on #2097
I've encountered this issue on 32-bit Ubuntu, as well.

[2015-03-23 19:58] Maggie-M commented on #2097
I've also encountered this on 32-bit Ubuntu.

[2015-03-23 20:06] fpliger commented on #1841
`x_names` is actually a  good replacement of `index` when it was used to received the key of the data series go be used as index(es) but not really good when it was used to explicitly pass an iterable to be used as index on the chart. Now that we have `x_names` and `y_names`, `index` could be a nice argument to keep supporting the previous pattern (probably useful specially when the input is a lis

[2015-03-24 15:25] lukebarnard1 opened #2098 "decimal.Decimal cannot be sent across session"
When trying to give data of type decimal.Decimal as data sources to plots, the BokehJSONEncoder does tries to serialise the Decimal object with the standard built-in JSON encoder. This causes an exception "Decimal('...') not JSON serializable". The solution is to edit BokehJSONEncoder.trasnform_python_types to account for this possibility. I have tested the solution and it works.

[2015-03-24 15:27] bryevdv commented on #2098
If you could submit a PR with your updated code that would be very appreciated.

[2015-03-24 15:35] lukebarnard1 commented on #2098
I've done a pull request, it's number #2099

[2015-03-24 15:48] bryevdv commented on #2098
Awesome, thanks!

[2015-03-25 20:42] damianavila commented on #2095
FIx by #2101

[2015-03-26 06:36] brianbreitsch opened #2102 "`TypeError 'u' is null` when plotting"
I import Bokeh like this:

    from bokeh.plotting import figure, output_file, output_notebook, show
    from bokeh.plotting import Plot, GridPlot
    from bokeh.models import ColumnDataSource
    from bokeh.models.glyphs import Line
    ...

Then plot like so:

    output_notebook()
    time = np.arange(20)
    y = np.random.rand(len(time))
    data = ColumnDataSource(data={'time': time, 'y': y})

[2015-03-26 06:47] brianbreitsch commented on #2102
Also just updated packages (I'm using Anaconda 3 distribution); no longer requires `force=True` but still getting `u is null` error.

[2015-03-26 07:07] brianbreitsch commented on #2102
Looks like I might have jumped the gun on submitting this issue...
Turns out normal/simple/high-level plotting works, so I guess it has something to do with my actual lower-level plotting code (essentially the following):

    def plot(self, fig):
            plots = []
            data = ColumnDataSource(data=self.buffers)
            for key in self.outputs.keys():
                plot = Plot(ba

[2015-03-26 07:47] GildedHonour opened #2103 "Setting up the css style of tooltip (HoverTool)?"
How can I setup the css styles of this kind of a toolpit:

![screen shot 2015-03-26 at 14 41 49](https://cloud.githubusercontent.com/assets/2032888/6842102/7c37026a-d3c6-11e4-867e-faf509b2fd74.png)

In particular, the color of the text and width of the border inside it, these look yellow in my example. I found out that it had to with `.bk-tooltip` class but whatever I tried it didn't pan out. Your

[2015-03-26 07:59] brianbreitsch commented on #2102
SOLVED?

It turns out that `Plot` requires the `x_range` and `y_range` parameters.
I don't know if this is by design, and I don't see it in documentation. Perhaps we can make a more informative warning than `'u' is null`?

Tomorrow I will look into the code to try to find out exactly why...

[2015-03-26 11:13] damianavila opened #2104 "conda packages needs to use versioneer to create the _version.py file"
Right now, there is an asymmetry between our conda packages and the `setup.py sdist` generated version. The second one use versioneer to generate a `_version.py` file containing the tag and full hash in a `get_versions` function. This does not happen when we create the conda package, so it is missing this function...
NOTE: the conda packages generated by Ilan have this function available because h

[2015-03-26 11:24] damianavila opened #2105 "release_update.sh is generating a superfluous "id" package"
In the 0.8.2 release on Binstar, I had to delete this packages by hand, see here the log: https://travis-ci.org/bokeh/bokeh/jobs/55865366

A package called `0.8.2.55865364` was generated at the very beginning and then is converted and upload. We probably need to fix that in the .travis.yml https://github.com/bokeh/bokeh/blob/master/.travis.yml#L44 and make it empty there and not below https://gith

[2015-03-26 11:31] bryevdv commented on #2102
There is a new introduction to the User's Guide that explains the different levels of interfaces in Bokeh in greater detail than has been available before:

http://bokeh.pydata.org/en/latest/docs/user_guide/intro.html

In particular, the low level interface is really just a serialization layer, it does not provide any bells or whistles or much help at all assembling plots. There is an open issue r

[2015-03-26 11:59] bryevdv commented on #2104
If conda build has the right hooks I'd say lets just replace _version.py the way versioneer does when you use sdist.

[2015-03-26 13:35] bryevdv opened #2106 "Setup.py build message improvements"
* Only show BokehJS build output on errors
* report build artifact sizes

[2015-03-26 17:09] #2106 closed

[2015-03-26 17:10] #2098 closed

[2015-03-26 17:11] #1517 closed

[2015-03-26 19:22] babboste opened #2110 "ServerDataSource auto_bounds should be set to False as default"
ServerDataSource.transform['auto_bounds'] property is set to True by default.
This causes the fact that even if x_range and y_range are set to some interval, they are not taken into account and all the data_source range is plotted.
This seems to be in contrast with the standard usage of server side resampling and sub-ranging. In case a huge dataset is to be "explored", it should be very usefull to

[2015-03-26 21:32] scherrey commented on #538
I see that .8 has shipped but this issue is still open. Is there an update as to the disposition of this capability?

[2015-03-26 21:55] bryevdv commented on #538
@scherrey Unfortunately not. Here is a message I sent recently the Bokeh mailing list on 2015/03/04:

----

Programmatic generation of static images is definitely something we would very much like to support. Unfortunately, it is also a surprisingly difficult proposition. The first observation is that browsers canvas implementation only generate raster images, and don't help with SVG or PDF. Worse

[2015-03-26 22:21] Riemann1337 commented on #1239
I second this feature request.  Including additional formatting options for other datatypes would be nice as well (perhaps use formatting options similar to those that a DataTable has?)

[2015-03-26 23:30] bryevdv commented on #1542
I'm actually going to close for now. Auto-ranging relies on this now. If we remove it we will need to enforce some kind validation that only allows static ranges if indexing is turned off. But the PR is out of date, so I am going to close it as well.

[2015-03-26 23:30] #1542 closed

[2015-03-27 14:04] bryevdv opened #2111 "auto-matically update bokeh-notebooks"
Need a script that can re-execute an save notebooks to update them to using the latest Bokeh version whenever we release.

[2015-03-27 14:08] bryevdv commented on #1570
Actually, closing this as invalid now. Given the current work to simplify the glyph units, this sort of screen space position will be expressed as some sort of annotation, which is the proper place for it, and keep it from complicating the normal data glyph code paths.

[2015-03-27 14:08] #1570 closed

[2015-03-28 01:47] ijstokes opened #2113 ""lock" or "freeze" a plot would be really useful"
I am *constantly* scrolling through web pages with Bokeh plots on them and as the page scrolls by my mouse pointer, Bokeh catches the events and does crazy things with the graph.  Often this completely captures my mouse events, so I can't keep scrolling, so now I have two problems: messed up visual (it just scrolled onto the screen before being messed up, so I don't even know what it was "supposed

[2015-03-28 02:44] bryevdv commented on #2113
dupe of #1450

[2015-03-28 02:44] #2113 closed

[2015-03-28 02:45] bryevdv commented on #2113
dupe of #1450

[2015-03-28 10:09] ijstokes commented on #2113
Could I ask for a quick clarification?  Does this mean what I'm asking for is already possible?  I still want to be able to interact with the plot "as normal" after taking some action that will "enable" normal interactivity.  So how, as the plot creator, to I achieve this?

Or is #1450 saying that you have agreed that "in the future" this capability should be possible?  #1450 is just too brief for

[2015-03-28 10:11] ijstokes commented on #572
+1 from me!  I think this could also partially address my request in #2113.  Did this get added to 0.8.2?

[2015-03-28 11:12] chany opened #2114 "hover does not work after session store"
As following simple example, I figured an object and then changed a property.
After session.store_objects() or session.store_document(), hover does not work.
[code]

[2015-03-28 13:05] bryevdv commented on #2113
@ijstokes Sorry. #1450 was changed from "discussion" to "feature" so it is intended to be implemented. However, this issue is open and not marked with a resolution, so it has not been implemented, yet. Issue and PR lifecycle management policy is described in https://github.com/bokeh/bokeh/wiki/BEP-1:-Issues-and-PRs-management

[2015-03-28 13:06] hhuuggoo opened #2115 "bokeh.charts scatter input is wierd (tuples?)"
I understand the motivation here -but no one ever has dataframes full of tuples.  It makes more sense to use one column for X, one column for Y, and one column for labels

[2015-03-29 10:52] ijstokes commented on #1450
Here is my suggestion, further to #2113.

1. If this is possible, identify when the mouse pointer with mouse scroll events (to trigger zoom) is the result of page scrolling.  Maybe have a "buffer" zone around the edges of each plot which would identify that the pointer has entered from the edges *while already scrolling*, possibly (probably?) as a result of a page scroll, *rather than* as a result

[2015-03-29 14:33] pzwang commented on #1450
On Sunday, March 29, 2015, Ian Stokes-Rees <notifications@github.com> wrote:

difficult to get right. That scroll buffer would need to be a very large
size in order to trap scroll events for all user scroll speed settings. But
a large buffer would then make it difficult to put plots next to each other
(hstack / vstack) without conflicting event grabs.

Maybe one option is to install a global scrol

[2015-03-29 15:34] bryevdv commented on #1450
Just to note, a few of us have tried to make suggestion 1 succeed and failed. So at this point a concrete code exampleor prototype that demonstrates that this can be made to work  would do more to convince me to spend time on the direction.

I agree with Peter that suggestion 2 is completely undiscoverable.

My current notion is just to make it such that that wheel zoom tool is never default activ

[2015-03-29 18:42] birdsarah opened #2116 "nonselection_glyph seems to be drawn after selection_glyph"
Using patches to draw a map and want to do selection as it works on the map here: http://africawatermap.aptivate.org/

This doesn't seem to be possible as the non-selected glyphs are being drawn over the selected glyph. Couple of screenshots to highlight this.

----

selected and non-selected elements are full alpha, but selected has thick line
![1](https://cloud.githubusercontent.com/assets/17962

[2015-03-29 21:27] birdsarah commented on #1450
Haven't dug in to bokehjs code yet, but excited to take this on in a couple of weeks (after Pycon) if no-one else has. I've been burned by it before, and was on the Charts docs on an iphone today and it wasn't pretty.

[2015-03-29 21:32] birdsarah opened #2117 "Mention nonselection_glyph and selection_glyph options in Tools documentation."
(plan to do this, just noting for now)

In each documentation for a select tool, where there is already:

"Selections can be comprised of multiple regions, even those
made by different selection tools. Hold down the <<shift>> key
while making a selection to append the new selection to any
previous seletion that might exist."
e.g. https://github.com/bokeh/bokeh/blob/master/bokeh/models/tools.py#L15

[2015-03-30 13:02] bryevdv commented on #2116
@birdsarah is it possible you are drawing the patches twice somehow? I don't understand this because the main render method splits all the indices into two groups, the selected and non-selected, and calls individual glyph render functions separately for each (disjoin) set of indices here:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/coffee/renderer/glyph/glyph_renderer.coffee#L117

It's

[2015-03-30 13:53] lukebarnard1 opened #2118 "Interfaces created through autoload_server cannot affect the document"
I've made an interface which has multiple data sources, all affecting each other, and it works within an iFrame or by browsing to the bokeh-server pages. So the document is stored there and when I interact from either of these, changes are made and the document changes are pushed back to the client.

However, using autoload_server and embedding the html for some reason means that only store_object

[2015-03-30 14:34] fpliger opened #2119 "simpleapp broken"
[code]

[2015-03-30 14:38] hhuuggoo commented on #2119
sorry - I think when I was merging I moved some stuff around to respond to where utils was - I must have forgotten to test after.   I can fix this tonight

[2015-03-30 14:41] fpliger commented on #2119
thanks @hhuuggoo. It's a simple one line fix (if I'm not overseeing other more complex things). I'll be doing it in a few minutes.

[2015-03-30 16:30] #2119 closed

[2015-03-30 17:27] machiela opened #2122 "Hover tool tips not showing data in Firefox"
It appears there is an issue with propagating the hover tool tips with data when using Firefox browser. My plots with hover tool tips display fine in IE and Chrome, but not Firefox. Also, the example periodic table (http://bokeh.pydata.org/en/latest/docs/gallery/periodic.html) behaves similarly where only question marks (???) appear in the hover tool box.

[2015-03-30 19:37] birdsarah commented on #2116
Hi @bryevdv I'm not understanding your question, but you have hit on the problem

My understanding of the code you linked to:
[code]

is that:
* It's rendering the non-selected elements second.
* This means that in the case where they overlap, the non-selected ones are "on top"

Having tried changing that order locally. That is indeed the source of my error:

With the current code:
![selected_rend

[2015-03-30 19:40] bryevdv commented on #2116
Oh, I see. I misunderstood to mean that an entire non selected glyph was obscuring a selected one, not just the borders. That is a simple fix, but it should go in after our big BokehJS build PR which will hopefully be merged tomorrow.

[2015-03-31 14:24] bald opened #2124 "stock_app_simple.py does not respond to 2. change on the dropdown field"
The example stock_app_simple.py does not respond to the 2. change on the dropdown field.
For example a first click on "GOOG" changes the plot, however, a second click on "INTC" does not change anything.
This is the bokeh-server output:

    Traceback (most recent call last):
    File "/home/till/programming/miniconda3/lib/python3.4/site-packages/flask/app.py", line 1817, in wsgi_app
        respon

[2015-03-31 17:14] chdoig opened #2126 "Update selection histogram example"
*The bi-variate normal distribution scatter plot would benefit from several features to make it much more interesting.  A bog-standard bi-variate normal distribution is pretty uninteresting.  So here is how I would update it:
	* two populations
	* different sizes (say, 200 points and 500 points)
	* apply a bias and correlation matrix to each (basically shift the centers of the two populations so t

[2015-03-31 17:20] chdoig commented on #2126
Added three different populations. The updated example now looks like this:
![screen shot 2015-03-30 at 10 56 14 am](https://cloud.githubusercontent.com/assets/4940549/6924735/36733ad6-d7a0-11e4-8779-36873e6c51b3.png)

[2015-03-31 19:15] bryevdv commented on #2122
I have not personally encountered this problem on FF on OSX. Can you provide more specific information about versions? (Bokeh, OS, browser, etc.)

[2015-03-31 19:25] machiela commented on #2122
The periodic table on this page (
http://bokeh.pydata.org/en/latest/docs/gallery/periodic.html) is a good
example. From the header, it looks like Bokeh 0.8.2. I am having issues
with displaying tooltips on Firefox 31.4.0 on a Windows 7 Pro as well as
Firefox 31.4.0 on Mac OS X Yosemite. Attached is an example of what I am
seeing.

On Tue, Mar 31, 2015 at 3:15 PM, Bryan Van de Ven <notifications@gi

[2015-03-31 19:51] bryevdv commented on #2122
The attachment did not make it to GH. Here is a screenshot of FF 36.0 on OSX:

![screen shot 2015-03-31 at 2 49 25 pm](https://cloud.githubusercontent.com/assets/1078448/6927784/48def1dc-d7b5-11e4-81eb-ebc6c3bced3e.png)

Can you try testing on a newer version of FF?

[2015-03-31 20:11] machiela commented on #2122
Here is a screenshot with Firefox 31.6.0 on Windows 7. The version info says Firefox is up to date.

![hover_tooltip](https://cloud.githubusercontent.com/assets/6854002/6928200/89928fd0-d7c0-11e4-82e3-02e536f74e71.png)

[2015-03-31 20:18] machiela commented on #2122
Looked into standard Firefox (non ESR), and it seems to be working now on v32. Is there a recommended version of Firefox for displaying Bokeh 0.8+ plots?

![hover_tooltip](https://cloud.githubusercontent.com/assets/6854002/6928379/9df52e0a-d7c1-11e4-96bb-8b4d315b1692.png)

[2015-03-31 20:22] bryevdv commented on #2122
You can try newer versions here: https://www.mozilla.org/en-US/firefox/channel/

[2015-03-31 20:49] bryevdv commented on #2122
It looks like there is now. :) I wish we had the resources/bandwidth to look into this problem but realistically it is not going to be a high priority if a newer browser version works.

[2015-03-31 21:06] machiela commented on #2122
No worries. Looks like the ESR version of Firefox will be updated and compatible later this summer, so just a few months of potential incompatibility. Keep up the spectacular work!

[2015-04-01 02:04] canavandl commented on #1699
I agree with @imaluengo. Per matplotlib's docs (http://matplotlib.org/api/image_api.html), "For grayscale images, the return array is MxN. For RGB images, the return value is MxNx3. For RGBA images the return value is MxNx4"... using the image.imread method. It makes sense (to me) for bokeh.plotting.figure.image_rgba to accept those three data structures. I did:

img = matplotlib.image.imread('CIE

[2015-04-01 03:15] canavandl opened #2127 "bokeh.models.glyphs.ImageURL scaling rounding error"
I am trying to import and scale an image (992px x 1024px) using models.glyphs.ImageURL and set the h and w kwargs to one (scale the image to an aspect ratio of 1). The scaled image is always a pixel or two greater in height, leading the image to overhang the x-axis. This is true whether or not the dilate kwarg is set to True or False.

[code]

![screenshot 2015-03-31 at 8 11 09 pm](https://cloud.g

[2015-04-01 06:03] fpliger opened #2128 "Simpleapp stock demo histograms not updating on selection"
Happens both with /stocks/ and /stocks2/ in simpleapp stocks example.

[2015-04-01 11:52] #2087 closed

[2015-04-01 12:07] bald opened #2131 "Tooltip not working with nominal/categorical axis"
There is no tooltip displayed, when a nominal/categorical axis is used, where the range has to be set explicitly.
For example:

    # data
    x = ["a", "b", "c"]
    y = [0.5, 10.0, 5.0]
    p = bk.figure(title = "nominal/categorical axis", x_range = x)
    p.circle(x = x, y = y)
    hover = p.select(dict(type=HoverTool))
    hover.tooltips = {
        "index": "$index",
        "(x,y)": "($x, $y

[2015-04-01 14:06] bryevdv opened #2132 "reduce BokehJS boilerplate"

[2015-04-01 14:45] bald opened #2134 "Selections not working with nominal/categorical axis"
Selections (such as `box_select` or `tap`) are not working correctly when a nominal/categorical axis is used. The *alpha* of unselected data points is **not** changed.

Here are short examples:

### nominal/categorical axis - selection not working

    import bokeh.plotting as bk
    bk.output_file("example.html",)
    x = ["a", "b", "c"]
    y = [0.5, 10.0, 5.0]
    p = bk.figure(title = "nominal

[2015-04-01 14:49] fpliger opened #2135 "embed simpleapp in a Flask application"
In a first glance simpleapp doesn't seem "easy" to embed in an external Flask app mostly because of the app itself not being directly accessible through the SimpleAppWrapper created instance (at least doesn't seems so).

I may be overseeing something but if not we could add a `_app` attribute to the `SimpleAppWrapper` instance in order to make the app easily accessible.

[2015-04-01 14:50] fpliger commented on #2135
@hhuuggoo , your opinion on this would be very valuable. As I said, I may be missing something. If so, what's the best to create an "embedded" version  of the simpleapp stocks example?

[2015-04-01 15:12] bryevdv commented on #2134
What Bokeh version?

[2015-04-01 15:23] bald commented on #2134
Bokeh 0.8.2
Python 3.4.3

[2015-04-01 15:34] bald opened #2136 "Selections only work on the last of two series in one plot"
If a plot contains multiple series of data, only selections (`box_select` or `tap`) on the second have an effect on the plot, selection data points of the first series does nothing. Both series share the same data source.
### Selection on the second series (green)

![screenshot](https://cloud.githubusercontent.com/assets/574252/6944163/b48fcff4-d892-11e4-9b1f-630c5ec8a5b3.png)
### Selection on the

[2015-04-01 15:35] bryevdv commented on #2134
This may be fixed in master, please try out the dev build that will be released Friday.

[2015-04-01 15:39] bryevdv commented on #1599
This was restored in #2109

[2015-04-01 15:39] #1599 closed

[2015-04-01 16:37] bryevdv opened #2137 "Move data sources on to GlyphRenderers"
Right now every glyph has its own data source, which is very inefficient when there are also `selection_glyph`/`nonselectiong_glyph` (and later `inspection_glyph`) glyphs managed by the `GlyphRenderer`. Change so that all glyphs managed by a `GlyphRenderer` use a single data source on the `GlyphRenderer` instead.

[2015-04-01 17:40] bryevdv commented on #2134
PR submitted, fix may be in Friday dev build after all.

[2015-04-01 19:15] matdrapeau commented on #2039
@bryevdv Wondering if the last big PR (https://github.com/bokeh/bokeh/pull/2109) would simplify this task?
I have no clues if possible to create a chart without any initial values to populate it?

[2015-04-02 09:43] almarklein opened #2140 "Streamline bokehjs build in develop mode"
We now have:
* `gulp scripts:watch` to generate .js files and place in `bokehjs/build/`
* `gulp develop:watch` to copy these to  `server/static`

Proposed:
* [x] A `gulp watch` command (or similar) that does both tasks in one command
* [x] `gulp develop` should not do `setup.py develop`, because that will use whatever `python` refers to, and quite likely fail because it cannot write to the corresp

[2015-04-02 14:03] #2132 closed

[2015-04-02 14:03] #2134 closed

[2015-04-02 20:37] bryevdv commented on #1841
@pzwang @fpliger Regarding faceting, etc. I note that stacking and grouping are things that happen "inside" a particular chart, and that faceting is something that happens "outside". But I think they can be brought under a uniform interface. How about something like this:
[code]
These can be combined:
[code]
The advantage being that the user is not burdened with the "inside" vs "outside" nature of

[2015-04-02 21:10] fpliger commented on #1841
@bryevdv Nice idea... (can already imagine @damianavila  saying "Yeah! Method chain FTW!" :smile: )

There are a few tricky things to figure out on this...

* You already mentioned the need to defer all renderers generation to the very last moment before show. It was easier before as `show` was controlled by the `Chart` instance, not it's delegated to the outer `show` method.

* Another issue is t

[2015-04-02 21:13] bryevdv commented on #1841
So thinking about this made me also think about what I didn't like about the previous method chaining. In an attempt to be general and have chained methods for every configurable, we were both redundant (since they could all be spelled as kwargs) and too limiting (because all they did was set the kwargs). I think this idea refines the use case to a specific domain (faceting, etc) which is good for

[2015-04-02 21:14] bryevdv commented on #1841
The intent is to be able to spell some of the crossfilter features programmatically, the way you can in ggplot, etc. I agree there are details to sort out especially wrt to composed builders.

[2015-04-02 21:29] fpliger commented on #1841
With a late night [relaxed] thinking mode on I'm tempted to say that this could be easier expressed (or at least buildable) with explicit unbound callables.. So:

[code]

[2015-04-02 21:34] bryevdv commented on #1841
I actually started writing it that way (except with the fields as the first argument. They both have pluses and minuses I'll have to think about it more to develop a clear preference. One immediate disadvantage of the compositional approach is that it gets unwieldy by three nestings, for sure, with the "field" moving further and further away from the function it applies to.

[2015-04-03 11:39] #2126 closed

[2015-04-03 15:56] datnamer commented on #194
+1

[2015-04-03 21:36] canavandl opened #2144 "bokeh.models.glyphs.ImageURL doesn't respect plot.add_glyph ordering"
I am using ImageURL to create an image glyph to be used as a base glyph on a plot. However, the ordering of any subsequent glyphs (circle or rect) added to the plot using Plot.add_glyph isn't respected, as the image glyph is always on top.

This problem does not occur when using models.glyphs.ImageRGBA (after converting the image to a NxM uint32 array)

Using Bokeh version 0.8.2
type:bug

[2015-04-03 21:40] canavandl commented on #2144
possibly related to issue https://github.com/bokeh/bokeh/issues/2040

[2015-04-04 03:13] damianavila opened #2146 "Automatic devel build only in py27 in the new TravisCI matrix"
Since some of the last big PR merged, the travisCI matrix has changed and we need to avoid multiple builds, so we need to only run the automatic procedure with py27 (because of the fab script).

[2015-04-04 09:31] fpliger commented on #2039
@matdrapeau PR #2088 is doing the first steps in this direction. At the moment it supports ColumnDataSource and I didn't test Ajax yet.

What do you mean with "a chart without any initial values to populate it"?

[2015-04-04 23:46] brianbreitsch opened #2147 "enlarged tool icons after reload"
Hello!
I'm using Firefox 36.0.4.
The first time I make plots with Bokeh, everything works great.

I import:

    from bokeh.plotting import output_notebook, show, figure
    from bokeh.models import Range1d
    from bokeh.charts import Histogram

Then make this plot (sorry it's so large):

![screen shot 2015-04-04 at 5 33 43 pm](https://cloud.githubusercontent.com/assets/4730272/6995113/1f527d36-d

[2015-04-05 23:27] chdoig opened #2149 "Adding resources into output of bokeh.embed.components"
I would like the output of `bokeh.embed.components` (or maybe, have an alternative way) to get **all** the html tags needed to visualize a Bokeh plot.

Right now, _components assumes that BokehJS has already been loaded, for instance either inline in the document text, or from CDN_, but those resources can actually be passed to `components(plot_object, resources)`.

This makes the user have to wor

[2015-04-06 01:41] matdrapeau commented on #2039
@fpliger some charts usually calculate few attributes (min / max value of datasource by example) in order to build the graph properties on the backend side.
The ajax data source could constantly pull to get new values but this is done on the js side where chart attributes won't be recalculated.

[2015-04-06 04:41] GildedHonour commented on #2103
Nobody knows?

[2015-04-06 04:46] GildedHonour opened #2150 "Show a loading spinner while the charts are being loaded for the first time?"
Is there any way to show Loading Spinner while the charts are being on the page for the first time? Can I subscribe to the events 'begin" and "done" like I'd do if it were the plain javascript + ajax? Simple "document.ready" doesn't work.

[2015-04-06 10:17] fpliger commented on #2039
@matdrapeau Yes.. this is an aspect to consider. The goal of that PR is mainly to start support for this and make charts interface more robust... trying to "get it right" first. Honestly I still need to take a deep look into the ajax data source internals and check how this can be integrated. I'll add it as a reminder in order to try and include tweaks that can be helpful on that PR.

Please let m

[2015-04-06 10:24] fpliger commented on #2103
@GildedHonour at the moment you can't "easily" customize the tooltips style. We recently added a way to inject some customization directly passing strings to the hover tool to customize it. See https://github.com/bokeh/bokeh/blob/master/examples/glyphs/colors.py. Maybe @mattpap have some other tricks or suggestions in mind.

We have some ideas to add stronger customization patterns and this is def

[2015-04-06 10:31] bryevdv commented on #2103
Actually tooltip can be passed custom html now. See examples/glyphs/sprint.py (or similar, on my phone can't check easily)

[2015-04-06 12:52] damianavila commented on #2147
Can you tell us which version of Bokeh are you using? AFAIK, this was fixed some time ago...

Thanks!

[2015-04-06 14:34] brianbreitsch commented on #2147
Ah, yes of course, the version I had at the time of post was:
`bokeh 0.8.2 np19py33_0`

I see now there is a version `bokeh 0.8.2 np19py34_0`, I'll see if that helps.

[2015-04-06 15:49] brianbreitsch commented on #2147
You're right--that update fixed it! Well, at least now it's documented. Thanks!

[2015-04-06 15:49] #2147 closed

[2015-04-06 15:51] chdoig opened #2151 "Add CDN links in embedding docs"
From the answer to this SO question: http://stackoverflow.com/questions/29462117/supplemental-javascript-for-bokeh-plot, I realized that it would be useful to add the links for loading Bokeh from CDN in the embedding - components section.

[2015-04-07 01:02] GildedHonour commented on #2150
Or rather, catch the event when the chart is loaded on the client? Doing this:

[code]

doesn't help because the chart isn't loaded yet when "bk-plot-wrapper" is.

[2015-04-07 08:57] bald commented on #2134
Thanks! It's working (0.9 dev)

[2015-04-07 09:04] bald commented on #2136
Same problem with Bokeh 0.9 dev

[2015-04-07 09:23] #2131 closed

[2015-04-07 17:08] matdrapeau commented on #2039
@fpliger I can't wait to see that PR to be landed and start understanding the changes that will involve. Honestly, I still see that feature as a big refactor of the actual design and even if I am willing to help, I really don't know where to start.

The ```DataSource``` had been moved outside of the chart builders scope, which is a good move, but how would you suggest to move the calculation logic

[2015-04-07 17:50] fpliger commented on #2039
@matdrapeau there is hope :-)

I've got a charts version of the https://github.com/bokeh/bokeh/blob/master/examples/plotting/file/ajax_source.py example using `charts.Scatter` with just a 5/6 lines change. (which is very exciting! :smile: ). That said there's a lot to consider, specially for the charts that have computed data on their sources. One of the nice changes on that PR that make this chan

[2015-04-07 22:56] Rakeshbart commented on #1239
Yes this feature would be really helpful as I have many plots with datetime as the x axis. could you please explain how to use this as well.

[2015-04-08 02:46] knightofni opened #2156 "Add an option to remove the `help` button of the bokeh toolbar"
It's currently possible to set on or off any component of the bokeh toolbar, except the `help` button.

The only way to remove it is to completely disable the toolbar.

From [this](https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/RftDek1c70s) google groups question.

[2015-04-08 07:49] fpliger commented on #624
..and  another case reported on [m.l.](https://groups.google.com/a/continuum.io/forum/?utm_medium=email&utm_source=footer#!msg/bokeh/pFmgm_wu4Ds/yrYx958GbcoJ)

[2015-04-08 13:57] matdrapeau commented on #2039
@fpliger this is VERY exciting, I would confess... being able to create charts so easily by providing an external source endpoint. This could lead to a major success of this lib for web development!

So in order to integrate all sorts of chart, you would suggest to implement some primitives into https://github.com/bokeh/bokeh/blob/master/bokehjs/src/coffee/range/data_range1d.coffee to be used by t

[2015-04-08 14:05] #2151 closed

[2015-04-08 20:43] Rakeshbart opened #2157 "HTML file from bokeh (save) is too big (in size = 22Mb)to handle for any browser"
bokeh._version.get_versions()
{'version': '0.8.2', 'full': 'da429b96a9e264ede4222470c1fdc4aa3088930b'}

I have 3 plots as VBox(s1, s2, s3)

s1 has 5 line plots
s2 has 4 line plots
s3 has 4 line plots

code:

        ap_new = pd.read_csv(self.ap_csv_filename, parse_dates=['tstamp'])
        sta_new = pd.read_csv(self.sta_csv_filename, parse_dates=['tstamp'])

        file_name = [[ap_new, sta_new],

[2015-04-08 23:07] schultzmattd opened #2158 "Color cycles for Bokeh charts"
I noticed that whenever I try to use the bokeh.charts.BoxPlot function I hit an error with plots with more than 6 boxplots.

`import numpy as np
from bokeh.charts import BoxPlot
test = {}
for i in range(0,7):
    test[str(i)] = np.random.normal(0,1,100)
plot = BoxPlot(test)
show(plot)
`

This is the resulting stacktrace:

`
 Traceback (most recent call last):
  File "temp.py", line 6, in <module>

[2015-04-09 04:42] victorhooi opened #2159 "Bokeh Server documentation is incomplete"
I was trying to find info on the Bokeh server, and I noticed that the documentation appears to be missing several sections (i.e. headings are there, but no text):

http://bokeh.pydata.org/en/latest/docs/user_guide/server.html
https://github.com/bokeh/bokeh/blob/71c3d1753aceb57fcd6a0a3cd97abafc0c6bfc3f/sphinx/source/docs/user_guide/server.rst

For example, the `Streaming Data`, `Large Data`, `Widge

[2015-04-09 04:46] victorhooi opened #2160 "InfluxDB backend for Bokeh server?"
I'm curious - would it make sense to offer something like InfluxDB (https://github.com/influxdb/influxdb) as a backend for Bokeh server?

InfluxDB is meant to be a time-series database for metrics - it's similar to Graphite in many respects. It seems like it might be a good fit for storing the underlying chart data?

[2015-04-09 08:30] fpliger commented on #2158
This is definitely a bug but you can bypass it by specifying a custom palette all the colors you want. If you specify a palette long enough you'll avoid stepping this bug. Here's a quick workaround to make your code work while this isn't fixed:

[code]

[2015-04-09 08:58] fpliger opened #2161 "Color tuples not supported"
As reported in this [m.l. discussion](https://groups.google.com/a/continuum.io/forum/?utm_medium=email&utm_source=footer#!topic/bokeh/AoGxLNfa0uU), colors specified as rgb tuples are not working. Neither a 3-tuple of integers (r,g,b) between 0 and 255 or a 4-tuple of (r,g,b,a) where r,g,b are integers between 0..255 and a is between 0..1.

Here's the reported code not working (modified to pass tup

[2015-04-09 13:39] bryevdv commented on #2159
They are simply incomplete at the moment, unfortunately. However, I have a tutorial to give in a few weeks so I will be working mostly on docs between now and then.

[2015-04-09 13:43] bryevdv commented on #2160
@victorhooi it's quite possible. There is currently a very simple model for data stores here:

https://github.com/bokeh/bokeh/blob/master/bokeh/server/server_backends.py#L21

However, the best long term solution would probably be to teach Blaze how to understand the database, as the plan is really to use Blaze as a frontend to be able to leverage many different data stores.

[2015-04-09 14:27] #2137 closed

[2015-04-09 16:21] bald opened #2162 "Plotting None/nan values fails with log scale axis"
A list containing `None` values is not correctly plotted, if
- more than one `None` value is in the list, and
- a log scale is used

Something like `[7.1, None, 7.0, 7.5, None, 9.5, 3.0]` is not plotted correctly, while with `[1.1, None, 2, 3.5, 4, 5.5, 6.0]` everything is fine. Interestingly, both lists are plotted fine, if no log scale is used.

Here is an example plot:
![image](https://cloud.gi

[2015-04-10 02:19] victorhooi commented on #2159
Aha, coolies, a tutorial and finished documentation would be awesome =).

(I'm trying to build a log parsing/plotting script, and there's really not enough to go on in the current docs to actually use Bokeh server).

I did try to poke at the examples, but wasn't able to get them working:

[code]
and the server:
[code]

Not sure if the Blaze error message is an issue.

[2015-04-10 06:05] GildedHonour commented on #2150
Up

[2015-04-10 10:21] fpliger commented on #2124
closed via https://github.com/bokeh/bokeh/pull/2125

[2015-04-10 10:21] #2124 closed

[2015-04-10 18:00] gene-telligent commented on #2159
Out of curiosity -- what script were you trying to run with bokeh server? vector.py seems to be an example of file output.

[2015-04-10 19:57] alejandrozf opened #2163 "Problems rendering slider_app.py example using bokeh-server"
Hi!
I got in troubles rendering the sliders_app example
( https://github.com/bokeh/bokeh/blob/master/examples/app/sliders_applet/sliders_app.py ) on my browser... it seems like some troubles loading css files so visualization is of slider is missing.

I'm using Bokeh 0.8.2 + Anaconda 2.1.0 + python 3.4.1 in win32

I'll attach an screenshot of my browser + js console
![consola-js](https://cloud.git

[2015-04-10 23:38] creynold opened #2164 "Hover tooltip with non-numeric axis"
I'm trying to display tooltips with a non-numeric axis.

Simple example:

        x = list('abcde')
        y = [6, 7, 2, 4, 5]
        p = figure(title="simple example", x_axis_label='x', y_axis_label='y',
                   tools="wheel_zoom,box_zoom,reset,hover", x_range=x)
        p.circle(x, y, size=6, line_width=2)
        hover = p.select(dict(type=HoverTool))
        hover.tooltips = [

[2015-04-11 03:08] bkief opened #2166 "Add root_dir for absolute mode Resource"
We find it useful to host the bokehjs resource on a shared network location. This allows for lightweight HTML plots to use a predefined and static network location for the JS payload.

[2015-04-11 19:49] rhr opened #2169 "display offsets for text and other glyphs"
A very useful feature of matplotlib is the ability to specify data-independent display offsets for things like text annotations of points - it would be great to have this in bokeh as well!

[2015-04-11 22:16] gene-telligent commented on #2156
Made a fix for it in #2165 -- now you should be able to include the Help icon (with a custom tooltip and link) at your discretion. It's still on by default but can be easily turned off.

[2015-04-12 20:44] damianavila commented on #2163
@bokeh/core any idea why this could be happening in the server? I mean not loading correctly the css...

btw, I could not reproduce on linux and @fpliger test it successfully on a WIN machine, so maybe it is something in the middle affecting only to @alejandrozf, ideas?

[2015-04-12 20:56] hhuuggoo commented on #2163
Can you verify that the CSS file is present in bokeh/server/static/css?
On Apr 12, 2015 4:44 PM, "Damián Avila" <notifications@github.com> wrote:

[2015-04-12 21:28] bkief commented on #2166
Still working on updating tests... I should get to it in a couple of days

[2015-04-13 12:16] alejandrozf commented on #2163
yes,  @hhuuggoo, I have two files om that folder (bokeh.css, bokeh.min.css) ...

[2015-04-13 13:42] joelostblom commented on #1283
I believe this issue should be reopened. It seems like seaborn pairgrid is supported in mpld3, but not in Bokeh, although the error is not the same as the one originally posted here.

In short, `mpld3.display()` works, but `mpl.to_bokeh()` doesn't raising a `NotImplementedError`. I also tried passing several different object from the pairgrid, including a `matplotlib.figure.Figure`, but no luck. [

[2015-04-13 13:52] bryevdv commented on #2169
Hi @rhr this is actually something we have just recently been laying some groundwork for doing properly. We used to try and have they glyphs themselves handle both "data space" and "screen space" coordinates, but this was already enormously complicating the standard render/selection/index code path. Adding offsets would make it unmanageable. So, we pulled the screen space capability out in #2109 w

[2015-04-13 18:46] gene-telligent commented on #2164
I'm not able to reproduce this issue -- the expected hover tooltip is displaying appropriately for me:

![screen shot 2015-04-13 at 11 46 07 am](https://cloud.githubusercontent.com/assets/11700535/7122812/9e9fa784-e1d2-11e4-8232-f126b0ac844f.png)

Can you attach a screenshot of what results you're getting?

[2015-04-13 18:52] bryevdv commented on #2164
I think this is fixed on master. Can you both report versions?

[2015-04-13 18:55] creynold commented on #2164
I'm using v 0.8.2 currently

[2015-04-13 19:04] gene-telligent commented on #2164
I'm using a fresh build of master, which would explain why it's fixed for me!

[2015-04-13 19:10] bryevdv commented on #2164
@creynold it may also be fixed in the latest dev build if you care to install that, or else there will be another dev build later this week.

[2015-04-13 19:10] #2164 closed

[2015-04-13 19:34] bryevdv commented on #2162
Hi @bald I am not actually sure that it "working" with `None` was a conscious design choice, although I can see the utility in it for aligned series where some series have missing data. As a workaround, can you replace the `None` with `nan` values and see if that works for now?

[2015-04-13 19:38] bryevdv commented on #2157
Hi @Rakeshbart can you provide more information about how much data you are attempting to plot?

[2015-04-13 19:42] bald commented on #2162
As far as I remember, my first try was with ´nan´. That didn't work either.
[Can't test this right now, will do it tomorrow]

[2015-04-13 19:53] bryevdv commented on #2149
Hi @chdoig I agree that the duplication is not good. The `resources` arg is only there at all for a tedious technical reason. My first preference would be to actually remove the need to supply any resources at all to `components`. What do you think about this proposal:
* remove `resources` arg from `components`
* have a simple way to get actual `<script>` etc tags from a `Resources` object
* flesh

[2015-04-13 21:23] chrisfs opened #2170 "Graph example code in User Guide is wrong. Show,output_file is not in Bokeh.charts"
If you try to run the example code for high level line graphs, you will get an error.
In http://bokeh.pydata.org/en/latest/docs/user_guide/charts.html#line
the code line is:  from bokeh.charts import Line, show, output_file
this will give you:
ImportError                               Traceback (most recent call last)
<ipython-input-1-7a03361137ee> in <module>()
----> 1 from bokeh.charts import Li

[2015-04-14 00:39] timburgess commented on #1441
It would be good to get an idea of the structure that you have in mind. Judging by the title, the implementation will be a subclass of Axis in <code>bokeh/models/axes.py</code>?

For reference, matplotlib makes it pretty simple to add a colorbar - but invariably there are specific parms to pass to get exactly what you want.
<pre>
# matplotlib example
plt.streamplot(X, Y, U, V, color=U, linewidth=2

[2015-04-14 02:10] bryevdv commented on #1441
We use a constraint solver (kiwi.js) to handle the layout of things on the canvas. The issue is not s much the python spelling, or even the actual drawing of a colorbar. I don't expect any of that would take more than a few hours. The issue is that some fairly low level parts of BokehJS dealing with setting up and maintaining layout constraints will need to be extended and pushed beyond where they

[2015-04-14 02:16] bryevdv commented on #2170
You are looking at the docs for the latest release, but you have an older version installed. You can see that version 0.8.2, which is what the `latest` docs link points to, does now have those functions  available:

https://github.com/bokeh/bokeh/blob/0.8.2/bokeh/charts/__init__.py#L21-L23

If you need to access older versions of the docs, you can do so by replacing "latest" with the version numbe

[2015-04-14 02:16] #2170 closed

[2015-04-14 02:41] bryevdv commented on #2150
Sorry, I was away on vacation. This would be a great feature, which has occurred to us in the past but never been captured in the issue tracker. I have re-labeled it as such. I have to focus on docs and an updated tutorial before an upcoming conference so I doubt I will be able to look at it this month. If you are proficient in JS I would be more than happy to help/answer questions if you were int

[2015-04-14 02:43] #2122 closed

[2015-04-14 02:44] bryevdv commented on #2116
This was changed.

[2015-04-14 02:44] #2116 closed

[2015-04-14 02:46] #2102 closed

[2015-04-14 02:47] timburgess commented on #1441
An outline of steps/tasks would be very useful to me and hopefully also help you clarify what you have in mind. I have some time I can dedicate towards this but there is clearly a lot of effort required to get to a solid understanding of the python code and even more so the BokehJS part.

[2015-04-14 03:01] bryevdv commented on #2071
We will publish minutes starting with tomorrow's meeting. Please be advised our minutes are usually somewhat rough.

[2015-04-14 04:37] birdsarah commented on #2170
@chrisfs - my bad :s - sorry I didn't realize the history here. In case you were wondering, `bokeh.charts` and `bokeh.plotting` both work and they both import from `bokeh.io`

@bryevdv - I used `bokeh.plotting` in my talk and may have caused some confusion. Moving forward what should I use as the standard way to import output_notebook, show etc. I'm assuming that it's `from bokeh.io` and that the

[2015-04-14 05:04] GildedHonour commented on #2150
@bryevdv Maybe you know a an answer for this. I have a Django template and in it I have this:

[code]

It sends an ajax request. Is there any easy way to show an ajax spinner during the ajax request? How to catch the beginning and end of it?

[2015-04-14 08:49] fpliger commented on #2170
Worth mentioning that while `bokeh.plotting` is very stable right now the same does not apply to `bokeh.charts`, which have been recently added and have been changing very fast towards a mature interface that we hope will be much more stable (in the sense of fixed API) with the next (0.9) release.

[2015-04-14 08:52] bald commented on #2162
Another interesting observation on that topic:

As a workaround, I tried to replace `None` with really low values like `10**-10`. Same behaviour as before.

However, if I change the values to `10**-5`, everything works as expected. To make sure, that these values are never displayed, I disabled the `wheel_zoom` tool.

[2015-04-14 08:58] fpliger commented on #2071
:+1:

[2015-04-14 15:44] xnx opened #2172 "Incorrect image sizes in Bokeh documentation"
At least on my browser (Firefox 37.0.1) some of the images in the docs are enormous and obscure the other content (such as menus) on the page. e.g. http://bokeh.pydata.org/en/latest/docs/user_guide/examples.html#applets

![screen shot 2015-04-14 at 11 44 11](https://cloud.githubusercontent.com/assets/371774/7140829/9c6edb82-e29b-11e4-9189-41ebf72997e3.png)

[2015-04-14 20:37] pzwang opened #2173 "Lasso selection in selection_histogram.py is slow"
Unlike the box select tool, I think the lasso tool is round-tripping to the server, so it's incredibly unresponsive.  Not sure if this is a simple fix.

[2015-04-14 20:55] bryevdv commented on #2173
Did you try setting `select_every_mousemove` to `False`?

https://github.com/bokeh/bokeh/blob/master/bokeh/models/tools.py#L294

[2015-04-15 01:37] bryevdv opened #2174 "Simple Callback Action"
Add capability to configure widgets with JS snippets as callbacks. Make accessing plot objects simple by allowing them to be supplied from python.

[2015-04-15 05:13] GildedHonour commented on #2150
@bryevdv up

[2015-04-15 15:29] #2071 closed

[2015-04-16 05:56] birdsarah opened #2178 "Add a "callback" to a source.selected event"
#2175 allows you to attach a callback to an input widget.

We also want to be able to attach one to source.selected event.

[2015-04-16 08:08] almarklein commented on #2036
My plan towards this is as follows. Feel free to comment (cc @bryevdv):

* In the `CanvasView` we do a check to see if WebGL support should be enabled. It should be available in the browser, and we probably want a flag to be able to disable it explicitly.
* The `CanvasView` gets a `@canvas2d` and `@canvas3d` attribute. In non-gl mode, `canvas3d` is null, and `canvas2d` is the visible canvas, and e

[2015-04-16 13:31] #2156 closed

[2015-04-16 13:32] #2128 closed

[2015-04-16 13:47] StefanRoss opened #2179 "Can't view plots in IE"
I've been making plots in Bokeh, they work fine in Chrome, but I just get blank pages in IE. I thought this was because my company uses IE8 by default, but we've now been upgraded to IE11 and I see the same problem.

The IE debug console reports that the page targets document mode 7, so it may be an issue with the metadata in the page header.

Is there a way to make Bokeh output plots with the cor

[2015-04-16 14:46] bryevdv commented on #2150
Hi @GildedHonour just FYI "up" is not a terribly respectful way to attempt to grab someone's attention. In any case I am afraid I do not know the answer to the AJAX question.

[2015-04-16 15:42] GildedHonour commented on #2150
Perhaps ignoring someone is.

[2015-04-16 16:07] bryevdv commented on #2150
@GildedHonour Seriously? It is now at the point that I could spend all day, every day, just interacting with the community, and still not be able to completely address and answer the volume of questions and issues that are now coming in. That is obviously a good problem to have! But it is problem, nonetheless. I am not happy that we don't have the ability to offer complete snap responses to everyo

[2015-04-16 16:12] GildedHonour commented on #2150
Sorry then.

[2015-04-16 16:18] bryevdv commented on #2150
To be completely clear: I very much appreciate input and contributions from *everyone* and I am grateful for this suggestion and this issue and your input. We probably won't get to it as soon as you'd like (I wish we could!) but we will get to it. Thanks.

[2015-04-16 19:02] #2078 closed

[2015-04-16 20:11] birdsarah opened #2181 "Only send modelspec that changed on modelpush"
Here's the scenario:

* I have 4 data sources on my ServerApp
* The first 2 (A & B) of them are connected to renderers (the second 2 (C & D) just hold a large set of data from which to populate A & B)

When I initiate a data change on the server, A & B get updated via a modelpush. Firstly, very delighted that C & D do not come down the pipe unecessarily, I'm guessing that's because they're not att

[2015-04-16 20:15] hhuuggoo commented on #2181
the server should only send the things that have changed - if not then something is broken

https://github.com/bokeh/bokeh/blob/master/bokeh/server/serverbb.py#L389

this *should* default to dirty_only = True

you could set a breakpoint here in the server to examine and verify that the models are indeed dirty - if they are marked dirty when they shouldn't be, then we would have to figure out why

[2015-04-17 03:27] bryevdv commented on #2166
@mattpap @damianavila, @bkief expanded on this use-case here: https://github.com/bokeh/bokeh/pull/2167#issuecomment-93885213 Can you guys chime in with thoughts.

[2015-04-17 10:00] almarklein commented on #2140
I think this can be closed per #2141

[2015-04-17 10:00] #2140 closed

[2015-04-17 10:01] almarklein commented on #2038
I think this can be closed.

[2015-04-17 10:01] #2038 closed

[2015-04-17 12:06] damianavila commented on #2163
@bryevdv @fpliger more ideas??

[2015-04-17 12:12] damianavila commented on #2116
Can you link where was changed? Thanks.

[2015-04-17 12:52] bryevdv commented on #2116
fixed in #2143

[2015-04-17 17:34] birdsarah opened #2182 "Problem with websockets on Firefox when not on localhost"
Hi all,

I have a bokeh server running in the cloud.
I have one webapp that I have a local and cloud copy of.

Here's what does and doesn't work (local means accessing localhost:5000, cloud means accessing the deployed version):
* chromium - local works / cloud works
* firefox - local works / cloud fails.

When if fails I get the following console errors:
[code]
The specific line of code where `th

[2015-04-17 18:28] hhuuggoo commented on #2182
if you're running https in the cloud - I think we need to connect to wss, not ws - I'm not really sure how this possibly works in chrome???

Can you try this option?

https://github.com/bokeh/bokeh/blob/master/bokeh/server/__init__.py#L82

Or, depending on how you'redeploying,

https://github.com/bokeh/bokeh/blob/master/bokeh/server/settings.py#L85

bokehjs should ask the server for the websocket

[2015-04-18 14:46] birdsarah commented on #2181
Thanks @hhuuggoo. Will investigate.

[2015-04-18 14:53] schaunwheeler opened #2184 "tooltip templating with variable-length ColumnDataSource fields"
(Following the recommendation I received after posting this to the mailing list, I'm moving this here as a feature request).

It would be useful for tooltips to support jinja2-style templating. For example, if I had a data source that looked like this:

|  |   student_id  |                         history |  xvals | yvals
|---|---|---|---|---|
| 0   |       2217  |  [(2012-2013, 3), (2013-2014, 3)

[2015-04-18 16:40] scottlawton commented on #1280
This item is still flagged as Open, so perhaps a comment from an outsider is ok.

While Numpy is awesome for many things, it's overkill for many other tasks -- and does impose installation challenges. So, partial functionality would be great, and 'naive pure-python reimplementation' even better. e.g. I've used this statlib for many years: https://code.google.com/p/python-statlib/

[2015-04-18 19:30] bryevdv commented on #1280
@scottlawton absolutely, there is no lack of desire for this from anyone afaik, only lack of time/resources to get it done at the moment. To be clear, we have decided to make Pandas a dependency of `bokeh.charts` because many charts involve groupy/split-apply-combine and statistical and time-series transformations, and reproducing that machinery is far too much wheel reinvention. But `bokeh.plotti

[2015-04-18 20:39] bryevdv opened #2185 "Allow users to specify a desired number of ticks"
Expose `desired_num_ticks` on on the ticker base class, and expose it to python models. Note, this value is a *suggestion* and tickers may ignore it, if it is not applicable (i.e., or single interval tickers), or use it merely as a soft goal (e.g. adaptive ticker)

[2015-04-18 21:54] bryevdv commented on #1981
@km12321 were you ever able to test with the devbuild?

[2015-04-19 04:58] victorhooi commented on #2159
@gene-telligent I'm running this script:

https://github.com/bokeh/bokeh/blob/9c4626835010e15480fe4f27e761d4df253afbf3/examples/plotting/server/vector.py

It's located in the `examples` directory, under the `server` directory - which is why I think it's meant to run with the Bokeh server.

[2015-04-20 12:00] damianavila commented on #1280
I don't like the asymmetries, but it is true that the triviality introduced by conda is difficult to reproduce with sdists, so I guess the proposal is reasonable at the end.

[2015-04-20 15:27] #2185 closed

[2015-04-20 16:32] #2174 closed

[2015-04-20 17:02] mutirri opened #2187 "Unable to open plot in new tab from main page"
According to @bryevdv suggestion I'm submitting this bug.
Steps:

- upload example to already running bokeh server in dev mode:
[code]
This opens a new tab in my already running web browser and shows the plot - that's ok.
However when I:
- open another new tab and navigate to `http://localhost:5006/` site
- I can see the document on the list
**but** when I click on this document - nothing happens.

[2015-04-20 18:52] bryevdv commented on #2029
@hhuuggoo yes separate PRs I am going to make issues for these today. Can you maybe just list any routes you know to be obsolete offhand, and we will start with that?

[2015-04-20 18:53] bryevdv opened #2188 "Remove all unused/obsolete bokeh server routes"
@hhuuggoo your input here appreciated

[2015-04-20 18:54] bryevdv opened #2189 "Document all bokeh server endpoints for autohttp"

[2015-04-20 18:56] bryevdv opened #2190 "Remove logic from Bokeh server endpoints"
Should be factored into functions that the the endpoint delegates to to help with testing.

[2015-04-20 18:58] bryevdv opened #2191 "Bokeh server deployment: Heroku"
Instructions, configuration, automation scripts, examples.

[2015-04-20 18:58] bryevdv opened #2192 "Bokeh server deployment: AWS"
Instructions, configuration, automation scripts, examples.

[2015-04-20 18:59] bryevdv opened #2193 "Bokeh server deployment: generic linux server"
Instructions, configuration, automation scripts, examples.

[2015-04-20 19:02] bryevdv opened #2194 "Distribute Bokeh server separately."
Propose top level `bokeh_server` directory with its own `setup.py` that installs into a `bokeh_server` package. The separately distributed bokeh server will depend on the Bokeh lib, and will use the BokehJS lib that is included in the `bokeh` library installation.

[2015-04-20 19:03] bryevdv opened #2195 "LDAP auth support for Bokeh server"

[2015-04-20 20:41] #2066 closed

[2015-04-20 22:16] katmeg opened #2196 "BokehJS install failing because dependencies source doesn't exist"
Hi there,
I installed Bokeh on one machine a couple weeks ago and it went smoothly, but now that I am trying to install it on another, I'm encountering the issue described below.

`npm install` in bokehjs fails because every dependency in `npm-shrinkwrap.json` that is retrieved from http://107.170.72.221:8080 throws the following error:

    npm ERR! fetch failed http://107.170.72.221:8080/xtend/-

[2015-04-20 22:25] bryevdv commented on #2196
ping @tswicegood

[2015-04-20 22:47] tswicegood commented on #2196
Hmm -- I just loaded it.  I've noticed some major downtown across the internet in the last 30 minutes (GitHub, binstar, travis-ci).  Can you try again?

[2015-04-20 22:49] tswicegood commented on #2196
For completeness @bryevdv that IP address is a DigitalOcean box I've setup with [this Docker image][1] on it to cache npm packages that we use internally at Continuum.  Forgot I had it configured on my box when I ran shrinkwrap, but it should be a little more reliable than npmjs.

[1]: https://github.com/tswicegood/docker-npm-cache

[2015-04-20 22:53] katmeg commented on #2196
@tswicegood I just tried again and the connection was still refused from my computer. However, accessing the page from my phone works...
Will look into this with IT as it seems the issue is on my end.

[2015-04-20 22:58] bryevdv commented on #2196
@tswicegood I am not sure I am comfortable with that for an OSS project. Any number of things might cause that box to go or be taken down, on purpose or accidentally. At least when npmjs has a problem, everyone has the problem. This will end up being a weird thing that not enough people know about, know how to diagnose, or have access to fix. Basically: I don't want it to be our responsibility.

[2015-04-20 23:21] bkreider commented on #2192
What about bokeh server deployment using conda-cluster?

[2015-04-20 23:29] bryevdv commented on #2192
Please add a sub issue for that with relevant details and update main issue list

[2015-04-21 02:13] bkreider opened #2197 "Bokeh server deployment: conda cluster"
Deploy bokeh using conda-cluster

[2015-04-21 02:14] bkreider commented on #2029
Please add this issue to this: #2197.

[2015-04-21 04:56] jonhari opened #2198 "Bokeh keep open a new tab"
Hi guys, when I'm using a simple pandas plotting with bokeh, it keeps opening a new tab as I run the plot.  When I combined with the slider interact ipython html widgets, as I do sliding, the bokeh will keep open a new tab. I'm using ipython notebook, chrome browser, and OSX Yosemite 10.10.2. I can reproduce this issue using different computer.

Library used:

* Bokeh : 0.8.2
* Pandas : 0.16.0
* N

[2015-04-21 06:37] lukebarnard1 commented on #2118
I have found a work-around using my own code to pass a docid and objid using a Django template. These go into this JavaScript:
[code]
This is then run when the the page has loaded in the browser (from within a callback passed to $(document).ready()) and a view is generated akin to the one that can be seen by browsing to the bokeh-server itself. Interaction works and no iFrames are required.

Also,

[2015-04-21 07:32] lukebarnard1 commented on #2118
I'm going to close this because it's probably unnecessary and confusing. The ```object_page``` directive is probably what we should have used. Django is obsolete. I think this could have been avoided a few months back with better documentation on directives like ```object_page``` and the bokeh-server in general.
We thought interaction was only possible through creating a session to the bokeh-serve

[2015-04-21 07:32] #2118 closed

[2015-04-21 11:25] #1486 closed

[2015-04-21 13:06] bryevdv commented on #2198
@jonhari As a small experiment, can you see if the problem can be replicated with a simple pure-Bokeh plot (i.e., not using Pandas `.plot` and `mpl.to_bokeh`). I suspect the problem is in our `mpl` compat layer somewhere and this information would go a long way to confirming that.

[2015-04-21 13:15] #1519 closed

[2015-04-21 13:28] bryevdv opened #2199 "Branching/Release process discussion"
Need to clarify release branching strategy. Motivation: A few releases have had longer testing/build cycles and several PRs that were ready and could have been merged to master were stalled, waiting for the release to complete. Need a process that allows normal dev to continue separately while a release is pending.

There are basically two proposals that I am aware of:
* Adopt something similar to

[2015-04-21 14:06] fpliger opened #2200 "OpenURL on single line/patch glyphs"
Users probably only want to open up a single URL if the patch is hit at all. But this does not quite fit with how URLs are referenced/looked up in the other cases.

For reference:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/coffee/models/callbacks/open_url.coffee#L15-L16

[2015-04-21 14:56] jonhari commented on #2198
you're right. Using bokeh charts  timeseries, for my goal, Bokeh doesn't open a new tab. Well, I guess it's time to dive into Bokeh then. thanks Bryan

[2015-04-21 15:44] bryevdv commented on #2198
@jonhari OK that's really good to know, that probably limits the issue down to one of these two files:

https://github.com/bokeh/bokeh/blob/master/bokeh/mpl.py
https://github.com/bokeh/bokeh/blob/master/bokeh/mpl_helpers.py

If you happen to find a solution before we get to it, any info (or even a PR!) is very welcome, thanks.

[2015-04-21 20:09] bryevdv commented on #2172
Problem was introduced here:

https://github.com/bokeh/bokeh/commit/2b572de6a7ea05ef72205d431f8d5b60eab0b53f#commitcomment-10833178

Will revert this change in a  PR I am working on for new tutorial.

[2015-04-22 00:34] jonhari commented on #2198
I think the problem is somewhere in the bokeh.io output_notebook/show/state.But I could be wrong. I tried to reproduce the problem once again.  First I don't specify notebook=True, it surely open 'unnamed.html'. Since then, even if you set it to true, Bokeh will still open new tab

[2015-04-22 12:05] damianavila commented on #2199
I would go with the second option... it is the less disruptive way taking in consideration our current workflow. Our "develop" branch is master... and we are used to push there... since the release is a less frequent event... it is easy to remember that you have to push the release-related PRs to the "release"  branch and you can keep pushing to master to go ahead in the development cycle...

[2015-04-22 15:08] bryevdv commented on #351
Closing since we have `cycle_colors` opening separate issues for follow on work.

[2015-04-22 15:08] #351 closed

[2015-04-22 15:10] fpliger opened #2201 "Expose color and marker cycling to bokeh.plotting"
Add more capability to compose palettes using the current implementation of cycle_colors available to charts

[2015-04-22 15:12] bryevdv commented on #746
Can now create `Grid` and pass explicit `Ticker` (will not happen automatically though)

[2015-04-22 15:12] #746 closed

[2015-04-22 15:16] fpliger opened #2202 "Check if all properties on JS side update on bokeh-server when changed"
from #1056

[2015-04-22 15:17] bryevdv commented on #1256
Need more information and testing to clarify when problem occurs

[2015-04-22 15:25] bryevdv commented on #1479
This was CSS issue, closed. Opening separate issues for multiple tooltip management

[2015-04-22 15:25] #1479 closed

[2015-04-22 15:26] fpliger opened #2203 "Need higher level tooltip manager"
To manage multiple hits on glyphs at the same and other logic.

[2015-04-22 15:29] bryevdv commented on #1748
Possibly fixed, needs testing.

[2015-04-22 15:31] pzwang opened #2204 "Look into use of DataViews and ArrayBuffers for more efficient data send/recv"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Typed_arrays

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DataView

[2015-04-22 15:34] #1691 closed

[2015-04-22 15:36] bryevdv commented on #1880
Good to more information/description

[2015-04-22 15:37] bryevdv commented on #1882
Need to see if it can reproduced, close if not.

[2015-04-22 15:39] bryevdv commented on #1890
Will move in to separate bokeh.server package distribution.

[2015-04-22 15:39] #1890 closed

[2015-04-22 15:41] bryevdv commented on #1926
Should do, but provide deprecation path for old tool names.

[2015-04-22 15:42] bryevdv commented on #1926
Most work should already be done in current "x, y names" PR

[2015-04-22 15:43] bryevdv commented on #1935
Most work should already be done in current "x, y names" PR

[2015-04-22 15:49] bryevdv commented on #2096
Really involves exposing more layout options to `vbox`, `hbox`, etc.

[2015-04-22 16:11] bryevdv opened #2205 "Add tag:server, remove tag:pypy"
`tag:server` to identify server issues

 `tag:pypy` has never been useful, AFAIK

[2015-04-22 16:11] #2205 closed

[2015-04-22 16:12] almarklein commented on #2096
I did some experiments with different approaches for box layouts: http://www.almarklein.org/html_boxlayout.html which might be useful. I think Bokeh uses `display: box`?

[2015-04-22 16:44] Maggie-M opened #2206 "sidebartoc displaying strangely when text is minimized"
In **Safari**, on any page of the docs that requires scrolling down, the sidebartoc will overlap text (and sit behind images and code boxes) if you decrease the font size at all.

![sidebartoc](https://cloud.githubusercontent.com/assets/1417520/7279903/dc37be6a-e8e4-11e4-94d5-fa3414d902f4.png)

This happens even when you maximize the browser window.

[2015-04-22 16:49] tswicegood commented on #2199
I'm :+1: for option one (shocking, right?) :-)

The reason is that it provides a clear set of guidelines for where code should go and the direction it should flow.  I've come around on this over the years.  My initial reaction to git-flow was not good -- it felt too much like trying to bring over SVN+CVS semantics to Git.  The value in being able to understand what code is supposed to be where and

[2015-04-22 19:09] Maggie-M commented on #2206
I've found a similar issue with docs pages (also on Safari) where a horizontal scrollbar is present: if you scroll away from the sidebartoc, a portion of its background color will overlap the text.

![horizontal_scroll](https://cloud.githubusercontent.com/assets/1417520/7282995/199433d8-e8f9-11e4-8cbf-2a3e20eca908.png)

[2015-04-22 20:24] almarklein commented on #2199
Maybe I don't understand it completely, but the only difference between using branches "master"  (=develop) and "release" as @damianavila suggests instead of "develop" and "master" (=release), would be the naming, right?

I mean, could we have the same system that @tswicegood proposes, except that master stays for development and we get a new branch for releases? To me that makes more sense too, b

[2015-04-22 20:34] damianavila commented on #2199
Yep... I guess @tswicegood point to some cognitive bias where develop makes direct reference to devel work... but there are a lot of people used to think master as the development branch...
I see value in what @tswicegood says... but I see more value if you are starting a project and not if you are in a project were master was always the devel branch...

[2015-04-22 21:51] hhuuggoo commented on #2199
the main value in my mind in having master be stable is that newcomers will clone master, and then be confused if stuff is broken (not that master should be broken regularly)

[2015-04-22 21:58] pzwang opened #2208 "Add AngularEvent to bokeh.actions"
Request from customer from a bank

[2015-04-23 07:06] almarklein commented on #2204
Here's some "binary json" variations:

* msgpack - http://msgpack.org/
* bson - http://bsonspec.org/
* ubson - http://ubjson.org/

I'd be happy to look into this once the WebGL implementation is up.

[2015-04-23 07:12] almarklein opened #2209 "Implementation of basic numpy/pandas functionality in JS"
There is a similar interest within the Vispy project. It seems no-one is working on this yet though:
* https://github.com/vispy/numpy.js
* https://github.com/vispy/vispy/issues/514

Can someone define what we'd need from Bokeh's point of view?

[2015-04-23 07:16] almarklein commented on #2199
People who want a release version should just conda- or pip-install it, IMO.

[2015-04-23 10:15] fpliger commented on #2199
I used to work with basically the same flow @tswicegood suggests. It was perfect for that context (saas /w CI/Continuous delivery). Honestly it too some time for me to change mindset (where master is sacred! :smile: ) but I think the current flow of using master "as dev" would work ok for now if we solve the problem regarding holding back dev waiting for the release.

There is one thing I'm not su

[2015-04-23 11:28] damianavila commented on #2199
You can have a temporary release branch or make it permanent... there is no big differences because the permanent one would be updated just before the code freeze. Unless you have branches for each release which is different to have just one release branch updated on every "release season".

[2015-04-23 13:18] pzwang commented on #2209
I think the core "numpy"-like needs are pretty simple:

* Slicing and fancy indexing
* Masking with boolean arrays
* Broadcasted ufuncs for basic math
* No need to support crazy Nd-array stuff; mostly tabular filtering would be sufficient

Creation of views would also be awesome, but not a requirement.

Pandas-like features are actually where we'd get most of the user-visible win:

* Tabular selec

[2015-04-23 15:35] lukebarnard1 opened #2212 "Feature: LinkFormatter"
It would be incredibly useful (at least for our purposes) to have a link on each row of a data table that links to another part of the bokeh-server or another website for that matter.

There is already a StringFormatter class that formats data into a string. It takes one value and puts the text into a <span> tag. The LinkFormatter would have to take two values - one for the text and one for the li