[2020-07-23 15:55] bryevdv commented on #10309
I missed the old issue, I will go ahead and close this as a dupe then and milestone the old one.

[2020-07-23 15:55] #10309 closed

[2020-07-23 17:27] bryevdv opened #10329 "Change NumberArray to Float32Array?"
AFAICT WebGL does not support Float64 buffers. E.g. they are explicitly caught and excepted in three.js, trying to use them with ReGL generates bogus output (seems like the raw data is just being interpreted as Float32). And in Bokeh, the existing code definitely copies everything into `Float32Array` before  sending to buffers:
[code]

Which I assume happens for a reason. All this copying seems pr

[2020-07-23 21:33] tcmetzger commented on #10299
Those are some good points. And yes, the fundamental problem of the HTML canvas being opaque to the DOM ist unfortunately also an issue for accessibility (e.g. [w3.org](https://www.w3.org/html/wg/wiki/AddedElementCanvas): "HTML5 currently lacks specific mechanisms to add accessibility hooks for content produced using this element. " or  [mozilla.org](https://developer.mozilla.org/en-US/docs/Web/AP

[2020-07-24 00:49] mattpap commented on #10329
This has been my goal when introducing `NumberArray` type. However, currently some code paths (e.g. `_radius` -> `sradius` in `Circle` glyph when radius units are `screen), so there will be changes necessary to achieve this.

[2020-07-24 05:30] santos22 commented on #9961
I was messing around with the [autosummary](https://www.sphinx-doc.org/en/master/usage/extensions/autosummary.html) Sphinx extension and found it kind of provides a TOC experience similar to the navigation sidebar. Using this extension generates a summary of classes, methods, and attributes near the top of a page. Clicking on each link takes you to the page/section of the page where you can see th

[2020-07-24 23:33] birdsarah opened #10331 "[BUG] Bokeh trying to use chromedriver when geckodriver installed."
I have followed the instructions here: https://docs.bokeh.org/en/latest/docs/user_guide/export.html?highlight=export

And conda installed firefox, geckodriver, selenium.

When trying to export_png, I get the following error:

[code]

When I run debug, the driver bokeh is trying to use is chromedriver.

![Screenshot from 2020-07-24 18-29-11](https://user-images.githubusercontent.com/1796208/8844284

[2020-07-25 00:33] birdsarah opened #10332 "[FEATURE] Consistent use of underscores"
Haven't been plotting in a while, and coming back to bokeh after a break I wrote the following

[code]

One of the things I've always like about bokeh is that it's pretty easy to guess what to put in, or the fuzzy property matching gives the answer.

The inconsistency between `x_range` and `xaxis` is bothering me.

I don't think it's worth making a breaking api change over, but can we add aliases

[2020-07-25 05:07] MarcSkovMadsen opened #10333 "bokeh build includes copyright statement from Anaconda in my bokeh extension"
Bokeh: 2.1.1

I'm developing the `awesome-panel-extensions` package which is also a Bokeh Extension. A step in the build process is to run `bokeh build`.

I can see that the files generated in the `dist` folder contains the below copyright notice. I think this is a bug. I would expect no copyright notice to be inserted (except if I configured it to) or a custom one relevant for my extension.

[cod

[2020-07-25 08:44] mattpap commented on #10332
Yeah, it should be `x_axis`. I'm guessing `xaxis` is a side effect  Matlab/pylab-like naming conventions.

[2020-07-25 09:11] mattpap commented on #10333
Extension bundles contain parts of bokehjs' code base (prelude, etc.) and those are a subject to (very liberal per BSD-3) licensing requirements. For that matter, bokehjs' bundles themselves contain quite a few third-party licenses. However, having bokeh's license as the most prominent part of an extension bundle is definitively misleading. Thus it should be possible to provide an author's license

[2020-07-25 10:40] mattpap commented on #10331
What we could do is to check which browser/driver appears earlier on `$PATH`, and attempt to use drivers in that order. Conda prepends itself to `$PATH`, so that would work with it. Currently we try to detect chromium-based browsers first and then firefox.

[2020-07-25 10:47] mattpap commented on #10326
Color bar component with will redesigned and reimplemented as a "plot", i.e. it will reuse existing layout at al. available logic, instead of implementing its own limited and buggy approach. So one will be able to position the title however one desires. However, even with this the runoff will still be present, because currently there's no line wrapping support in title annotation.

[2020-07-25 12:51] MarcSkovMadsen commented on #10333
Hi @mattpap

Thanks.

Is the message that i can configure it In package.json? Or is something that should be changed by Bokeh?

[2020-07-25 14:59] mattpap commented on #10333
Both, assuming you didn't configure `package.json` fully at your end (at least `license` field). In `bokeh build` we will have expose relevant fields and/or give an option for including a license file (via a `bokeh.ext.json` config, which finally would be useful for something).

[2020-07-25 17:33] mattpap opened #10334 "Chrome 84 breaks toolbar rendering"
Chrome 84.0.4147.89 vs 83.0.4103.61 in PR #10321:
![image](https://user-images.githubusercontent.com/27475/88462675-7ec93100-cead-11ea-9640-225a3b08a3c5.png)
![image](https://user-images.githubusercontent.com/27475/88462678-825cb800-cead-11ea-8205-43fc6d3562c9.png)
![image](https://user-images.githubusercontent.com/27475/88462682-85f03f00-cead-11ea-81fd-1e4b07e05976.png)

This may indicate a bug i

[2020-07-25 22:59] #10334 closed

[2020-07-25 23:37] #10320 closed

[2020-07-26 00:01] askandlearn opened #10336 "[BUG] bokeh.embed.components outputs escaped javascript"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-07-26 00:18] tcmetzger commented on #8448
I had some extra time over the weekend and opened pull request #10337 to fix some typos in the Dev Guide!

[2020-07-26 07:48] mattpap commented on #10336
This was fixed in PR #10271. However, given that it was a stray PR, a side effect of issue #10268, I'm going to keep this issue.

[2020-07-26 07:48] #10336 closed

[2020-07-26 08:42] mattpap opened #10339 "examples' tests fail because headless browser doesn't start in time"
See e.g. https://github.com/bokeh/bokeh/pull/10337#issuecomment-663926513, but that's a common recurrence. This issue was solved in bokehjs' visual tests, so the solution can be simply copied to examples' tests.

[2020-07-26 16:21] PierrePivert commented on #2093
@jzybert Could you explain how you manage to get those 2 y_axis independent from each other, without having to specify and explicit start and end, but still with the auto-range behaviour when new data "out of the box" are added ?

[2020-07-26 17:03] bryevdv commented on #10332
I would advocate for `noaction` on this (or `wontfix`).  Quoting my response on the PR:

[2020-07-26 17:25] bryevdv commented on #10108
Users reporting a similar problem on Collab

[2020-07-26 17:26] bryevdv commented on #10331
Is this a dupe of https://github.com/bokeh/bokeh/issues/10108?

[2020-07-26 17:53] tcmetzger opened #10341 "Developer Docs have outdated info on @gen.coroutine decorator"
The chapter ["Server Architecture" in the Developer Docs](https://docs.bokeh.org/en/latest/docs/dev_guide/server.html#tornado-ioloop-and-async-code) still mentions the ``@gen.coroutine`` decorator for non-blocking code in Tornado. As pointed out by @bryevdv in a [comment to pull request #10337](https://github.com/bokeh/bokeh/pull/10337#discussion_r460549693), Bokeh now uses [native coroutines](htt

[2020-07-26 19:12] birdsarah commented on #10331
No. After uninstalling chromedriver everything worked fine. As @mattpap said it's because the codepath currently just tries chromium first rather than using `$PATH` as precedence.

[2020-07-26 22:43] bryevdv commented on #9961
In general I have never been a huge fan of `autosummary` I just feel like the output it generates is not great. Perhaps its more configurable now, though. A real test of its feasibility would involve generating docs for all the specialty Bokeh things like Models and their properties, i.e. how well does auto-summary play with our own important autodoc extensions.

[2020-07-26 23:56] bryevdv commented on #10300
Tentatively marking as `feature`. Offhand it seems like it should not be too difficult, but some actual investigation will be needed. @fstalm Certainly if you are able to conduct some experiments on your own that may help speed up things.

[2020-07-27 00:07] vivek1383 commented on #10108
Hello!
Reporting the same issue in my case as well.
The export png method fails in colab setup. I have installed selenium/chromedriver etc. But the export method fails every time with this error.

`

`

I am simply using this command
`x = export_png(plt, filename=Path + '/Print my Plot.png')`

[2020-07-27 00:11] bryevdv commented on #10108
@vivek1383 can you poke around and try to locate where the web driver and browser actually get installed on collab? It's not something we have control over (and not something I have any immediate offhand knowledge of).

[2020-07-27 00:12] vivek1383 commented on #10108
Sure let me try. I did try to look for it in /content/node_modules/ But I couldnt. Let me poke around more.

[2020-07-27 09:31] mattpap commented on #10332
Any data to support this claim (the same goes with other statements)? I'm genuinely interested in how much flak we actually get as a percentage of all bokeh's usage. This may be tricky to analyze due to inherent bias of commenters, because, in my opinion, an upset user is more likely to comment than a just inconvenienced one (in this case by having an inconsistent API). If Python's intellisense is

[2020-07-27 10:15] mattpap opened #10343 "Upgrade to TypeScript 4.0"
At this pace it may be as well an update to 4.0 (release scheduled for August ~18~20th). There are a few issues introduced in 3.9:

- bundles' sizes increase significantly due to changes to emit

- due to mis-traspilation of tslib, bokehjs fails at runtime with:
[code]

[2020-07-27 12:21] #10289 closed

[2020-07-27 12:27] mattpap opened #10344 "Documentation and examples updates for 2.2 release"
- [x] `DocumentReady` event (PR #10266) needs documentation and examples
- [x] Dev guide updates to describe new requirements in https://github.com/bokeh/bokeh/pull/10338
- [x] Better documentation for `Dropdown`
- [x] user guide webgl example needs to use circle, not scatter
- [x] release notes

[2020-07-27 12:30] #10265 closed

[2020-07-27 13:17] Singletoned opened #10345 "[BUG] Uncaught (in promise) TypeError: Cannot read property 'connect' of undefined"
This appears to be related to https://github.com/bokeh/bokeh/issues/9218

When I add a dropdown with a callback to a Bokeh chart, then in the browser it causes a Javascript error.

I'm very new to Bokeh, so it is quite possible that I am doing something wrong, though I suspect that this isn't the intended behaviour anyway.  I'd be glad to hear of any workarounds I can do.

I'm trying to add a drop

[2020-07-27 13:47] mattpap commented on #10345
`Dropdown` widget is a button-like widget and so it doesn't have `value` property. `js_on_change()` doesn't do proper sanity checking, so it happily registers a callback that can't work. Use this instead:
[code]
where `cb_obj` is an instance of `MenuItemClick` event, which you can use to determine which menu item was clicked.

[2020-07-27 13:49] mattpap commented on #10345
I will consider this to be a bug, because a simple usage mistake should not result in a JS exception.

[2020-07-27 13:55] Singletoned commented on #10345
Thanks for the fast response!

Where can I find (or work) out which widgets support which events? (I searched the docs for `js_on_event` and couldn't find what I was looking for)

[2020-07-27 13:58] Singletoned commented on #10345
If you have that defined somewhere, I could possibly add sanity checking to `js_on_event` myself (I'm a Python developer).

[2020-07-27 14:21] 23pointsNorth commented on #10317
@mattpap I wasn't aware of

Even googling it doesn't show up relevant docs (and definitely not the key combination).
I would prefer @bryevdv suggestion, as the behaviour is fairly expected. And as a minimum can make a PR to add a description to the (example) documentation.

[2020-07-27 14:33] mattpap commented on #10317
This is a recent addition, so documentation is lagging behind.

[2020-07-27 14:39] mattpap commented on #10317
It depends. Some systems do this, some use double click and some deselect by not hitting anything (we do this btw.). My point is that whatever we do, we have to consider all relevant tools (in this case all selection tools) and their behavior on specific platforms (mobile vs. desktop). Discoverability is an orthogonal concept, that's at least partially covered by issue #8512.

[2020-07-27 15:23] bryevdv commented on #10345
@mattpap I have now run in to this exact question on Discourse, SO, and other places at least a dozen times. I have to say I think changing this in this way was a mistake, and I wish that I had better noticed the original work so that it could have been more thoroughly discussed. Other frameworks (e.g. Dash) certainly treat the combo box callback as a function to pass the value. It's certainly far

[2020-07-27 15:48] mattpap commented on #10345
We have `Select` widget which offers the "combo-box" look&feel and supports `value` property. `Dropdown` is supposed to allow users to take action instead of maintaining a value. However, bokeh's APIs make the semantic difference between such widgets fade (e.g. `Button.clicks` allows users to use value APIs where action APIs are more appropriate). I think it's a matter for insufficient documentati

[2020-07-27 22:22] tcmetzger opened #10347 "Adding links to BEP 6 and BEP landing page to developer docs"
BEPs contain important information for (potential) contributors, especially [BEP 1](https://github.com/bokeh/bokeh/wiki/BEP-1:-Issues-and-PRs-management) and (the recently updated) [BEP 6](https://github.com/bokeh/bokeh/wiki/BEP-6:-Branching-and-Milestones). When reading through the developer docs for pr #10337, I noticed that only BEP 1 is linked in the Dev Guide.

 I'd suggest updating the [deve

[2020-07-28 04:15] vivek1383 commented on #10108
Okay followed this post https://stackoverflow.com/questions/60686871/colab-cant-find-chromedriver-path and now I find the chrome driver here. "/usr/bin/chromedriver". firefox bin is also in the same directory.

[2020-07-28 08:05] ascoril commented on #9978
i have version 2.0.2 and my client is reluctant to change this version. Is there anyway available to suppress this warning

import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

is not working

[2020-07-28 09:20] faizankshaikh commented on #9302
Hi - could you comment on which version this works for? I can't seem to get working on bokeh==2.1.1

Steps to recreate - https://gist.github.com/faizankshaikh/e23db80bdcdcb14176d492d505ee46b4

PS - I frankly think the issue I face is much simpler (and probably unrelated) to this issue. But still posting it here in the hope that resolving this issue solves the problem

[2020-07-28 15:23] samr85 commented on #7707
I had this problem as well (version 2.1), so took a brief look into the cause.  It appears to be the interaction between interactive_start and interactive_stop functions here: https://github.com/bokeh/bokeh/blob/branch-2.2/bokehjs/src/lib/document/document.ts#L132

In that where multiple items are painted by while in interactive mode, interactive_stop is called on each of those items (in a roughly

[2020-07-28 15:33] bryevdv commented on #9978
It's a log message, not a warning call. You'll have to grab the logger and configure that (I don't know the details)

[2020-07-28 18:49] tcmetzger commented on #10339
I just had a similar, possibly related (?) error in pull request #10349. All tests ran fine, except for [one webdriver test (windows-latest, 3.6)](https://github.com/bokeh/bokeh/runs/920076202?check_suite_focus=true), raising `selenium.common.exceptions.WebDriverException: Message: unknown error: unable to discover open pages`.

[2020-07-28 20:02] mattpap commented on #10339
This is a different issue. Selenium/webdrivers are inherently unreliable, resulting in a variety of failures. examples' tests don't use selenium, but interact with chromium over chrome devtools protocol (CDP).

[2020-07-29 17:49] samr85 commented on #7707
Adding a link to the discourse chat about this as well:  https://discourse.bokeh.org/t/viewing-lod-status-in-python/6062/5

[2020-07-29 18:54] bryevdv opened #10351 "PEP 440 for dev/rc versions"
ref: https://github.com/bokeh/bokeh/issues/10177#issuecomment-651920608

Seeing this warning now:

I think it is time to take care of this and update our scheme to match the JS side, which will simplify some codepaths anyway. Since the names for CDN loading only affect dev/rc versions the risk is substantially less.

cc @bokeh/dev  @mattpap

[2020-07-29 20:11] #10347 closed

[2020-07-29 22:02] mattpap commented on #10233
TODO:

- [ ] fix transpilation of ND arrays to ES5 (https://github.com/bokeh/bokeh/pull/10350#issuecomment-665916248)

[2020-07-30 01:49] AjayThorve commented on #10326
@mattpap Thanks for the update.

Also, I am fine with the runoff, just wanted an option to align the title vertically if needed.

[2020-07-30 11:02] verybadsoldier opened #10355 "[BUG] Toolbar cropped when using tabbed auto-width"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Windows 10
Chrome 84.0.4147.89

[code]

`Python 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)] :: Anaconda, Inc. on win32`

#### Description of expected behavior and the observed behavior
The produced webpage should show the full toolbar but the toolbar is cropped to the right. So

[2020-07-30 12:35] lpilz opened #10356 "Examples/Compat missing"
I can't seem to find the code example for seaborn compatibility as hinted at in: https://docs.bokeh.org/en/0.10.0/docs/user_guide/compat.html

The whole examples/compat directory seems to be missing...

[2020-07-30 14:26] bryevdv commented on #10356
The docs you link are to version 0.10, which is from half a decade ago. All MPL compatible support was deprecated in version 0.12.5 (nearly four years ago) and then later removed:

https://docs.bokeh.org/en/latest/docs/releases.html#release-0-12-5

The current version is 2.1.1 and the you can always find the current latest docs at `/en/latest`:

https://docs.bokeh.org/en/latest/

[2020-07-30 14:29] #10356 closed

[2020-07-31 01:19] cmdavidson546 commented on #8658
@bryevdv I actually need to add '@' before the column name in formatters in order to get this to work for me:
 formatters={'@x': 'datetime'}

It worked fine once I did that.

[2020-07-31 03:00] joelostblom commented on #9249
@birdsarah @bryevdv You might have seen it already, but I just stumbled across the recently announced [Kaleido](https://medium.com/plotly/introducing-kaleido-b03c4b7b1d81) library from plotly, which is a new library for static export of web-based graphics, with the specific goal to make this functionality widely available.

I am excited about this because I would love to see better support for thi

[2020-07-31 05:15] bryevdv commented on #8658
@cmdavidson546 what I put above used to work, we made it more strict since I posted it

[2020-07-31 05:17] bryevdv commented on #9249
We are definitely interested to look at kaleido, it's just a matter of someone finding the time. Assuming it works as well as the complicated selenium process we have how, I'd be in favor of just taking it on as a hard dependency since (AFAIK) it is widely available on pip and conda.

[2020-07-31 05:21] vivek1383 commented on #10108
Hello team,
Any help will be appreciated here. I think if I can get any pointers to what the system path variable is, I may be able to proceed.

Thanks in advance.

[2020-07-31 05:26] bryevdv commented on #10108
@vivek1383 It's `PATH` on all platforms, AFAIK

[2020-07-31 05:31] vivek1383 commented on #10108
ok, thanks. Let me try that.

[2020-07-31 16:58] comperem commented on #10009
@jbednar, it seems the native python function you've shown here is about 4 orders of magnitude faster than the Web Mercator coordinate conversion with `pyproj`. My code had a bottleneck and was limited by the `pyproj` conversion. Timing tests between the two showed 10,000 times speed improvement so I'll be using your function from now on. Thanks

[2020-07-31 17:03] bryevdv commented on #10009
FWIW I am definitely +1 on adding simple functions to convert from lat/lng to meters and vice versa. Someone just needs to make some specific proposals about where, etc. This would be a great self-contained task for a new contributor.

[2020-07-31 20:06] ColCh opened #10358 "[BUG] slickgrid import has syntax error"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-07-31 22:51] birdsarah commented on #9249
This is very interesting. Thanks for sharing @joelostblom.

[2020-08-01 03:49] birdsarah commented on #10332
I was going to leave this alone as I've learned in the past that I'm not good at convincing @bryevdv and it is definitely a small thing.

But, I was just making a log plot, and couldn't figure it out and had to look up the API to write:

[code]

(Random aside, the fuzzy matching property suggestion never suggests `x_axis_type`.)

I don't disagree that there's some maintenance burden here. Any code

[2020-08-01 03:59] birdsarah commented on #10332
On this point specifically. I do all my plotting in notebooks. I think that's a very common usage mode. Code completion e.g. `p.x` + tab will give you the options.

![Screenshot from 2020-07-31 22-58-13](https://user-images.githubusercontent.com/1796208/89093573-59db2f00-d381-11ea-83b8-18827f69f196.png)

Before you mentioned this I hadn't been trying to code complete my plotting code in the notebo

[2020-08-01 15:10] mattpap commented on #10358
2.4.28 is not an option, because the version should consist of slick grid's version and build number. Apparently the correct syntax is to use `+` (build number) instead of `-` (pre-release) (ref https://semver.org/).

[2020-08-01 15:14] mattpap commented on #10355
This is a universal problem of bokeh's layout, that it doesn't respect scroll bars.

[2020-08-02 10:14] mattpap commented on #10358
Unfortunately npm doesn't support `+` syntax, treating `2.4.27+1` and `2.4.27` as the same version number.

[2020-08-02 11:16] ColCh commented on #10358
this is strange to me :) you are using fork, and forks may follow other versioning, which differs from upstream

But, may be, I'm just not in context. Thank you for reviewing this issue 👍

[2020-08-03 10:27] mattpap commented on #10108
The problem is that `bin/firefox` is a script (in conda's case trivial `bin/FirefoxApp/firefox "@"`), and webdriver expects an executable binary file. I'm not sure why it's failing now. Perhaps the script is a new addition or geckodriver is stricter now. In any case, the solution is to provide a path to the real binary to geckodriver, which will be fun to maintain across platforms, etc.

[2020-08-03 14:20] #10108 closed

[2020-08-03 14:22] mattpap commented on #10108
If the problem persists after PR #10360 in certain environments, please reopen with information what `which firefox` is, and if it's a script, where the actual binary is located.

[2020-08-03 15:57] #10329 closed

[2020-08-03 15:59] #8924 closed

[2020-08-03 18:46] #6864 closed

[2020-08-03 18:46] #8595 closed

[2020-08-03 18:58] bryevdv commented on #10179
This issue is closed by #10190 AFAIK but please re-open if I am mistaken.

[2020-08-03 18:58] #10179 closed

[2020-08-04 05:24] bryevdv opened #10361 "Autoload with widgets fails if earlier autoload does not specify widgets"
Some of the User's Guide examples with widgets do not render:

https://docs.bokeh.org/en/dev/docs/user_guide/layout.html#multiple-objects

Error is:

By contrast, all the widgets on this page do render:

https://docs.bokeh.org/en/dev/docs/user_guide/interaction/widgets.html

Important observations:

* recently, bundle computation was made narrower: content that did not reference widgets no longer

[2020-08-04 10:21] p-himik opened #10362 "[BUG] If axis label is added/removed, the layout is not changed right away"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.1.0-26-g8888d176f

#### Description of expected behavior and the observed behavior
If you click on the button, the axis label should become visible right away. Instead, you need to pan the plot to make it appear.

#### Complete, minimal, self-contained example code that reproduces the issue
[

[2020-08-04 12:13] #10251 closed

[2020-08-04 12:54] mattpap opened #10365 "Tooltip chooses wrong side in grid plots"
![image](https://user-images.githubusercontent.com/27475/89296205-520dda00-d662-11ea-8656-5d466454235a.png)

[2020-08-04 13:56] #10362 closed

[2020-08-04 14:56] xavArtley opened #10367 "[BUG] NumericInput and Spinner several bugs"
First bug concern the modification of the input text when a key not allowed is pressed
The input value state is register only when a correct key is pressed so if we use the arrows to update the value the new state is not recorded
In the following gif, I use the input to enter the value 25, then I update this value using arrows and I press a wrong key.
The value is set to 25 instead of 44
![ezgif c

[2020-08-04 16:31] #10164 closed

[2020-08-04 18:01] user4015990 opened #10369 "[BUG] a bug specific to the combination of match_aspect=True and "stretch" sizing modes"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-08-04 20:30] mattpap opened #10370 "ImageURL doesn't respect anchor property when computing bounds"
Discovered in issue #10369:
[code]
gives:
![image](https://user-images.githubusercontent.com/27475/89341644-e3507100-d6a1-11ea-9811-cd3d0d2f3220.png)
Panning reveals the image:
![image](https://user-images.githubusercontent.com/27475/89341758-11ce4c00-d6a2-11ea-8e86-e250eb2de28f.png)

[2020-08-04 22:41] #10367 closed

[2020-08-05 13:01] philippjfr opened #10374 "[FEATURE] Allow defining custom format for NaNs in DataTable NumberFormatter"
Currently the DataTable NumberFormatter always renders NaNs and Nones as 'NaN' because that's what Numbro.js does. This is rarely desirable formatting so it would be nice to provide an option to override this.

[2020-08-05 14:44] #10374 closed

[2020-08-05 14:47] pablo-esteban opened #10376 "ColorBar ignores the low_color value of LinearColorMapper"
Hi,

I have a heatmap style plot based on the [les_mis.py](https://docs.bokeh.org/en/latest/docs/gallery/les_mis.html) example.

I am configuring the `LinearColorMapper` with a `low_color` value and the plot shows it correctly, but the ColorBar does not, even if I explicitly give it a `FixedTicker`

[code]

This is the figure I get with the above code:

![plot showing issue](https://user-images.gi

[2020-08-05 14:53] mattpap opened #10377 "Documentation examples produce inconsistently named output files"
For example:
[code]
This makes testing those examples tedious.

[2020-08-06 05:29] bryevdv opened #10379 "Datetime Representation"
cc @bokeh/dev @mattpap @philippjfr

Regarding the recent PR to change `NumberArray` to `Float32Array`, I think this will require some more consideration. Specifically, with respect to our current choice to represent datetimes as milliseconds-since-epoch. At this scale, values for current datetimes are e.g. around `1596688253232`. However, this is somewhat substantially larger than the largest inte

[2020-08-06 05:36] bryevdv commented on #10379
Further aside about webgl: the "baked offset" is only needed because we send the data space coords to be mapped by the shaders. But we currently only handle linear scales, which is also quite limiting. Options there:

* Do all mapping outside GL. The most general and would remove the need for all the kludgy offsets. Also datetime processing would only need to happen in one (non-gl) place

* Do sim

[2020-08-06 11:15] mattpap commented on #10379
I see my mistake now. Introduction of `NumberArray` the way I did it was completely wrong. It should have been used only for processed arrays (e.g. screen coordinates), but not for actual data, which btw. can be nd arrays as well, not matching type or word size with `NumberArray`. The later switch from 64 to 32-bit words just reinforced the wrongness. I will need to rethink this as soon as I'm don

[2020-08-06 11:34] mattpap commented on #10379
All other discussion aside, this is what you should do and what I've been suggesting from the beginning, with the possibility of future optimizations, but not considering them as a part of the current design.

[2020-08-06 12:27] mosc9575 opened #10380 "[BUG] SVG Backend fails while rendering Arrows"
#### Software version info (bokeh, python)
Python: 3.6.10
Bokeh: 2.1.1

#### Description of expected behavior and the observed behavior
The export of a figure in svg format fails, if there is an arrow used in the plot.

#### Minimal Example
[code]
#### Screenshots
If the figure is ploted in a JupyterNotebook for the first time it looks like this.
![show_1](https://user-images.githubusercontent.com

[2020-08-06 13:20] mosc9575 opened #10381 "[BUG] Unexpected behavior while svg export using level 'overlay'"
#### Software version info (bokeh, python)

Python: 3.6.10
Bokeh: 2.1.1

#### Description of expected behavior and the observed behavior
If a svg file is generated using bokeh there will be two files created. There was an issue for this alrady (talking about bokeh 2.1.1) : [#10273](https://github.com/bokeh/bokeh/issues/10273)
This problem is connected to the one mentioned before, because if a figu

[2020-08-06 13:28] mattpap commented on #10380
Duplicate of issue #8744.

[2020-08-06 13:28] #10380 closed

[2020-08-06 13:29] mattpap commented on #10381
Duplicate of issue #10273.

[2020-08-06 13:29] #10381 closed

[2020-08-06 16:07] bryevdv commented on #10379
I do agree that this distinction makes good sense

After a little thought this was my own conclusion as well, and how I intend to proceed. FWIW I will say I did not manage to catch any notion of this *particular* aspect of the webgl work from our previous discussions.

Certainly, but please don't feel like you have to thinking alone.  I created this issue so that we can all benefit from a discussi

[2020-08-06 16:23] bryevdv commented on #10376
AFAIK No work has ever been done to make color bars show low/high colors, so it is expected in the sense that it is a feature that has not yet been implemented. (Possibly because no one has ever asked about it before, at least I can't find any earlier issue about it). It seems like a reasonable ask though, so I will tentatively mark as `type:feature`

There was some recent work on color bars but A

[2020-08-06 18:11] thedrdos opened #10383 "[BUG] Patches with nan separators seemingly make repeated overlapping patches"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Python 3.7.0
Bokeh 2.1.1
Geopandas 0.6.1
Shapely 1.6.4

#### Description of expected behavior and the observed behavior
Given data consisting of multiple polygons such as the boundaries of a country (with islands etc).  If the x (and y) boundaries are in one list, with `nan` separating each polygon,

[2020-08-06 18:21] bryevdv commented on #10383
@thedrdos `MultiPolygons` was specifically added to support GIS use cases like this. It's not a "workaround", rather I would say using `figure.multi_polygons()` is simply the intended correct solution for use situations such as this, and am inclined to close this with `noaction`

cc @bokeh/dev for any other thoughts.

[2020-08-06 18:23] bryevdv commented on #10383
Opening up for wider discussion: should we simply start a process to deprecate `Patches` entirely? It's definitely somewhat duplicative of `MultiPolygons` at this point, and the main reason it exists at all, with support for `nan` breaks in single columns, is that that is all that oddly be supported in very early Bokeh.

[2020-08-06 18:44] thedrdos commented on #10383
I constructed a simpler example to avoid the need to download the dataset.
[code]
![Bokeh Plot](https://user-images.githubusercontent.com/60117554/89569855-4e5d8d00-d7f3-11ea-8e53-2ee2bc89947b.png)

[2020-08-06 18:49] thedrdos commented on #10383
Given that `Multipolygon` seems to be the way to go, then I'd support either:

* Depreciate `patches' with `nan`
* Add to the `patches` documentation that `nan` doesn't support `fill_alpha` and suggest using `Multipolygon`

The second option might be better.  I've seen many examples on the internet that use patches for maps.  This is quite a painful bug when trying to use `patches` and tiles toget

[2020-08-06 19:06] bryevdv commented on #10383
I think "is used" is the wrong way to phrase it. You certainly can choose to pass a `GeoJsonDataSource` to `multi_polygons`,  but you don't have to, e.g.

https://docs.bokeh.org/en/latest/docs/user_guide/plotting.html#multipolygon-with-separate-parts

[2020-08-06 19:19] thedrdos commented on #10383
Thank you.
I'm fairly new to Bokeh and Python, been kinda going down the rabbit hole.  Overall very pleased with it, thank you again.  I'm an experienced Matlab user so the structure and vocabulary is a bit different.  I'm not sure what are the elemental classes in Bokeh for maximizing efficiency, presumably I should consider the list of glyphs in https://docs.bokeh.org/en/latest/docs/user_guide/p

[2020-08-06 19:30] thedrdos commented on #10383
I did a little RFM, so from my understanding of
https://docs.bokeh.org/en/latest/docs/user_guide/geo.html
it seems there is overhead involved with using `GeoJsonDataSource`, so maybe it's worth it to be able to feed my Bokeh plots with `ColumnDataSource` data to avoid overhead.

Also, I'd like to update the data using `CustomJS`, so if I have all my data ready in a format for `multi_polygons`, the

[2020-08-06 19:33] bryevdv commented on #10383
@thedrdos this is getting a bit off-topic, but just to quickly be clear about one point: Bokeh is a tool for creating visualizations in the browser, *from Python*. There is *always* serialization (usually to and from JSON), no matter what you are doing with Bokeh. For further specific questions, I'd suggest the project discourse: https://discourse.bokeh.org/

[2020-08-06 21:41] lee1043 commented on #4470
Hi, thank you for making the efforts for adding this parallel coordinate plot capability to bokeh.

I was not very successful at running the example script, [`parallel_plot.py`](https://github.com/bokeh/bokeh/blob/branch-2.2/examples/custom/parallel_plot/parallel_plot.py), could you please help?

When I run it in my env, it first advised to fix `x_scales` and `y_scales` in [`parallel_selection_too

[2020-08-07 00:29] philippjfr commented on #10376
Would love to see this implemented, for reference the terminology matplotlib uses here is `extend='neither'|'min'|'max'|'both'` and the visual indicators look like this:

![contourf_demo_021](https://user-images.githubusercontent.com/1550771/89595783-bc3aa080-d855-11ea-94f3-cda48f8db05a.png)

[2020-08-07 22:32] bryevdv commented on #10361
That's definitely what's going on, I am just going to revert #10292 for now

[2020-08-07 22:34] bryevdv commented on #10166
This will require more thought, the current autoload script is not smart enough to load additional bundles in case a second autoload needs more/differet bundles than a first autoload on a page.

[2020-08-08 02:09] jbednar commented on #10009
Whoa!  I'm glad it was useful. The code is Pythonic but the heavy lifting is all done in C by NumPy, so Python doesn't deserve all the credit. :-)

[2020-08-08 06:29] shukon commented on #4470
@lee1043
Works for me with bokeh 2.1.1, which one are you using? Make sure you checkout the git tag corresponding to the version you installed (for me `git checkout 2.1.1`), custom examples sometimes need updates when changing versions.
My pip freeze if it helps any:

<details>

appdirs==1.4.3
backcall==0.2.0
bokeh==2.1.1
CacheControl==0.12.6
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
cont

[2020-08-08 17:15] comperem commented on #10009
It was surprising. I had a udp buffer overflow and tracked down the delay
to pyproj. I have no idea what they're doing to take so long inside that
library. Python, even if it's an interface, and C are such a powerful
combination.

On Fri, Aug 7, 2020 at 10:09 PM James A. Bednar <notifications@github.com>
wrote:

[2020-08-08 18:38] lee1043 commented on #4470
@shukon thank you for the comment, I sincerely appreciate. The `git checkout 2.1.1` helped me making progress, good to learn about the version dependency for some custom examples. However I am still getting error as follows. Any chance if this looking familiar?
[code]

[2020-08-09 00:13] #10361 closed

[2020-08-10 19:32] bryevdv commented on #9087
Pushing this out again unfortunately, since things are a bit more complicated. There are multiple kinds of selections (point, line, multiline, image, etc) and it's unclear if one filter type should try to  handle everything or if filters themselves should be broken out in a granular fashion. The hover tool is also still overly complicated, and really should be refactored/simplified, and there is a

[2020-08-10 19:38] bryevdv commented on #10358
@mattpap what about `2.4.27.1` ?

[2020-08-10 20:47] vivek1383 commented on #10108
@mattpap I am not sure what you mean by the above. I am not very well versed with the python environment. So some of it may need to be elaborated than usual.
I tried setting the path as suggested to visible binaries. That doesnt seem to work. I installed the package like this -->

[code]

I have set the path here and tried couple of different versions:

[code]
Let me know if I am missing anything.

[2020-08-10 21:24] bryevdv commented on #10108
@vivek1383 #10360  is not part of any release yet, you would need to build from source or install a pre-release dev build to test things out. Otherwise the next release should happen next week.

[2020-08-10 21:36] vivek1383 commented on #10108
Ah, okay. I think the problem with that is that I am not sure when Google colab will upgrade Bokeh to the latest version. It took them almost over 2 months to upgrade to the latest.
Meanwhile, is there any workaround?

[2020-08-10 21:37] mattpap commented on #10358
I was wrong about `+` syntax in semver. It should be ignored and npm follows this, thus 2.4.27 and 2.4.27+1 are the same version.

If anything, we can only deprecate. Can't unpublish any version of a package that something depends on.

[2020-08-10 21:40] mattpap commented on #10358
I guess we will have to abandon matching version number with slickgrid and proceed with 2.4.28.

[2020-08-10 21:47] mattpap commented on #10108
One can always create a web driver on his own and use that driver instead of the default one, e.g.:
[code]
To create a driver, one can copy code from `bokeh.io.webdriver` and fill in the paths manually, instead of relying on auto-detection.

[2020-08-10 22:04] vivek1383 commented on #10108
Got it! Thanks for the pointers. Let me try that and see what happens.

[2020-08-11 07:10] GiovanniGatti opened #10386 "[BUG] Jupyterlab won't generate plots"
I've been using Bokeh for awhile in a distant server. I am trying to get it installed in my local machine.

I've just followed the installation steps from [quickstart](https://docs.bokeh.org/en/latest/docs/user_guide/quickstart.html#installation) and then [Using with Jupyter](https://docs.bokeh.org/en/latest/docs/user_guide/jupyter.html#jupyterlab), but plotting generation is not working.

In prac

[2020-08-11 07:32] GiovanniGatti commented on #10386
I got it to work after disabling '3D Acceleration' in VirtualBox.

![image](https://user-images.githubusercontent.com/1745450/89870049-93980b00-dbb5-11ea-8c75-8c3172a66796.png)

It seems then a lower level issue.

[2020-08-11 07:32] #10386 closed

[2020-08-11 10:08] mattpap commented on #10386
3d acceleration should have no bearing on bokehjs' behavior when using the default (`canvas`) backend. Can you try the same example with and without 3d acceleration using `webgl` backend:
[code]
I'm curious how I will behave. Did you observe any issues with other JS libraries utilizing HTML5 canvas?

[2020-08-11 14:30] bryevdv commented on #10386
Chrome and possibly other browsers have options to enable/disable "hardware acceleration" for 2d HTML canvas, which probably uses APIs that are included under the name "3d acceleration". So another option is to check browser settings

[2020-08-11 17:45] shianiawhite opened #10387 "[BUG] Setting zoom range from Bokeh server has race condition resulting in inconsistent results"
#### Software version info
Python==3.7.7
bokeh==2.1.1
MacOS==10.15.6
Safari==13.1.2 and Chrome==84.0.4147.125

#### Description of expected behavior and the observed behavior
In a Bokeh server, in the case where a figure's zoom has already been set by the server once, setting the figure's zoom range on the server side again (during a callback handler), the displayed zoom range may become either th

[2020-08-11 17:56] bryevdv commented on #10387
@shianiawhite If you are managing zoom levels yourself then you should not use the default auto-ranging `DataRange1d`. You should use a "dumb" `Range1d`:
[code]
Or this would also accomplish the same:
[code]

[2020-08-11 18:40] shianiawhite commented on #10387
In my real case, I would like to be able to switch between the auto-ranging and the set ranging based on some server callback. I will have to look into if this is possible by switching out the range object on during the server side callback (I'm not sure if an object replacement will propagate to the client side).

That being said, [a previous issue conversation](https://github.com/bokeh/bokeh/iss

[2020-08-11 18:49] shianiawhite commented on #10387
Also, just having tried the "dumb" `Range1d` approach, I noticed a related issue. If a figure JS reset is emitted using the `Range1d` the zoom now alternates between the original set zoom range and the updated zoom range.

[code]
![zoom_issue2](https://user-images.githubusercontent.com/38118756/89936511-c1934480-dbe1-11ea-9173-16c73f43a0c6.gif)

[2020-08-12 08:31] mattpap commented on #10358
One more option is to use `major.minor.{patch}{build|2}` scheme (build is 2 decimal digits), e.g. the current version would be `2.4.2701`. This checks all the boxes, because it preserves the order, keeps complete and intact slickgrid's version and allows incremental build updates.

[2020-08-12 13:37] NandhiniS08 opened #10389 "set timeout for automatic closing of the tooltip in hovertool bokeh[FEATURE]"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh Project Discourse](https://discourse.bokeh.org).

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the pr

[2020-08-12 14:59] bryevdv commented on #10389
I'm going to go ahead and close this for now since none of the template was filled out. @NandhiniS08 If you'd like a feature to be considered, we need more information, e.g.

* a more thorough description of the ask
* example of code/API that you would like to be available
* comparisons to other projects, does this exist anywhere else?
* Why this is needed, what use cases does this enable?

The ho

[2020-08-12 14:59] #10389 closed

[2020-08-12 16:26] bryevdv commented on #10387
@shianiawhite I am trying to get at what the actual useful, reasonable use case is here. In the example above you have one callback that sets the range and and updates the data, and then another callback that immediately updates the range again because of the first data update. I can't imagine why this would ever be something that would make sense in a real application (what's the purpose of the f

[2020-08-12 16:42] #10233 closed

[2020-08-12 17:06] #5589 closed

[2020-08-12 17:24] #10365 closed

[2020-08-12 17:27] #10324 closed

[2020-08-12 17:28] shianiawhite commented on #10387
@bryevdv For calling the reset after the zoom range setting, I want everything about the figure to reset except the y-axis should use the new zoom range. For example, the x-axis would ideally still auto-range. It's not immediately obvious what all the reset resets, and rather than trying to catch all cases and missing some, it makes more sense to me that I should simply update what the y-range is

[2020-08-12 17:29] mattpap opened #10390 "Add tests for recent regression and bugfix PRs"
- [ ] https://github.com/bokeh/bokeh/pull/10366
- [ ] https://github.com/bokeh/bokeh/pull/10378
- [ ] https://github.com/bokeh/bokeh/pull/10373
- [ ] https://github.com/bokeh/bokeh/pull/10371
- [ ] https://github.com/bokeh/bokeh/pull/10148

[2020-08-12 17:35] #10146 closed

[2020-08-12 17:39] #10370 closed

[2020-08-12 17:40] mattpap opened #10391 "Test legacy bundles before release"
We will be able to test only in chromium headless, but that will cover quite a few bases. We will have to test manually in IE.

[2020-08-12 17:48] bryevdv commented on #10387
Can you plot "regular" data with one glyph and outliers with a different glyph? Then you can configure the default auto-ranging `DataRange1d` range to only consider only the regular glyph, and exclude the outlier glyph, when performing auto-ranging.

[2020-08-12 17:59] #10302 closed

[2020-08-12 18:08] shianiawhite commented on #10387
That's a clever workaround. Then the toggle to exclude/include the outlier data could simply change if the outlier data is included with the auto-ranging regular glyph or the outlier glyph. I think that'd likely work for my case.

From there, you can decide whether this is still an issue worth keeping open. My reading of the [`DataRange1d` docs](https://docs.bokeh.org/en/latest/docs/reference/mode

[2020-08-12 18:22] bryevdv commented on #10387
That's probably what should happen in principle, yes, however DataRange1d is actually one of the thorniest, most complicated things in Bokeh, having to mediate between all of:

* auto-ranging some or all glyphs
* ignoring (or not) invisible glyphs
* user-specified overrides for start or end or both
* reset history
* auto-following behavior for streaming data
* respecting hard min-interval/max-inte

[2020-08-12 18:47] gkanarek opened #10394 "[BUG] Can't add tabs after closing a tab"
OSX 10.13, Python 3.6.10, Bokeh 2.1.1
(using Bokeh server)

Clicking on the button in the MWE below adds new tabs to the layout, as expected. However, whenever I close one of the new tabs, the button no longer works (the callback function isn't called).

[code]

[2020-08-12 19:10] #10319 closed

[2020-08-12 19:36] mattpap commented on #10394
Settings tabs from bokehjs (by clicking close button) makes bokeh reinitialize all references associated with a patch (this includes the button), which clears `CallbackManager._event_callbacks` dict (`HasProps` mixin). I'm pretty sure this is a duplicate.

[2020-08-12 19:36] #10358 closed

[2020-08-12 19:53] mattpap commented on #10394
Also, `Button.clicks` is not properly defined (only declared), giving `NaN` value.

[2020-08-12 20:57] bryevdv opened #10397 "Color site for OpenURL no longer exists"
ref: https://docs.bokeh.org/en/latest/docs/user_guide/interaction/callbacks.html#openurl

The `http://www.colors.commutercreative.com` site used for the `OpenURL` callback in the example above seems to no longer exist.

Could probably use e.g. `http://www.html-color-names.com/firebrick.php` instead.

[2020-08-12 21:28] #7707 closed

[2020-08-13 01:38] ethankruse opened #10398 "[BUG] Control the height of a Label object added with add_layout?"
How can I control the height/width of a Label annotation added below/above a figure?

The use case is trying to add annotation text outside the bounds of the axes for attribution of credit for data etc. It appears this is only possible by using Label and add_layout(Label(), 'below') because if you don't include the 'below', anything outside the axes will get clipped and be invisible. (It's also po

[2020-08-13 04:35] morrme commented on #10397
Indeed it doesn't look like the currently referenced page exists at all on the original site anymore.

May I help with this change?

[2020-08-13 22:14] #10394 closed

[2020-08-13 22:36] bryevdv commented on #10398
AFAIK this usage, adding a label outside `"center"`, has never actually been intentionally developed (and you're the first person to ask about it). So I am not sure I would consider it supported at present. It doesn't seem unreasonable to allow labels outside the plot area, but actual requirements should be developed before any work.

I was hoping uou could try setting the rende r`level` of the la

[2020-08-14 10:18] johan12345 commented on #8072
This is true if only prepend is needed. But if both prepend and append are needed for the same plot (e.g. one wants to automatically load missing data when scrolling in any direction), this does not work, right?

[2020-08-14 17:23] bryevdv commented on #10397
@morrme certainly, a PR to update would be very welcome

[2020-08-14 19:40] RyanChapman2x opened #10399 "[BUG] docs_json strings have improperly escaped quote characters"
bokeh: 2.1.1
python: 3.8.3
OS: windows

Code to reproduce (minimally edited code from https://docs.bokeh.org/en/latest/docs/user_guide/quickstart.html#userguide-quickstart)
[code]

The resulting json data string from `show(p)` (the expected output):
[code]

The resulting json data string from `components(p)` (improperly quoted):
[code]

I don't know if this was done intentionally since one value i

[2020-08-14 19:58] shukon commented on #4470
@lee1043 Hey, if you're still on the problem: are you sure, you have also installed the correct bokeh version? Needs to be the same as the example you checked out. I don't really use anaconda (yet), but I think `conda list` output would be interesting. Try uninstalling and then installing bokeh by building it (`python setup.py develop`) after checking out your desired version. It works really well

[2020-08-14 20:37] lee1043 commented on #4470
Hi @shukon, thank you for the advice. I created new empty conda env and re-installed everything from the scratch, with making sure I am on bokeh-2.1.1 branch and install from there. And now I see the example code working as followings:

![Screen Shot 2020-08-14 at 1 34 04 PM](https://user-images.githubusercontent.com/17091564/90290522-e4686780-de32-11ea-9d59-f5332ac62661.png)

Many thanks! I since

[2020-08-14 20:44] bryevdv commented on #10399
This is a duplicate of https://github.com/bokeh/bokeh/pull/10271 (fixed in https://github.com/bokeh/bokeh/pull/10271)

[2020-08-14 20:44] #10399 closed

[2020-08-14 20:49] bryevdv commented on #8072
@johan12345 you could split the data into halves between two sources. One that you append to, and another reversed that you "prepend" to. Just to be clear no one has ever actually asked for this, it would be non-trivial to implement and maintain, would likely not perform well, and has a workaround for most (if not all) cases, it's *extremely* unlikely that we will ever do anything here.

[2020-08-15 17:58] jnettels commented on #4407
I started looking through https://github.com/bokeh/bokeh/pull/8085/commits to see if I found any hint about how to use this, but there are just too many commits... was this ever documented?

[2020-08-16 01:59] #10397 closed

[2020-08-16 02:05] bryevdv opened #10401 "Document width_policy, heigh_policy"
#4407 was closed in the large layout PR work, but some of the features such as `width_policy` and `height_policy` never got documented fully, or examples added.

[2020-08-16 02:07] bryevdv commented on #4407
#8085 was a giant piece of work, unfortunately coming back to polish/finish up some things fell through the cracks.

@jnettels I've opened #10401 to document these better, if you by chance could drop a small complete example in a comment there it would be extremely appreciated.

cc @mattpap in case you can add any helpful comments for @jundl77

[2020-08-16 08:34] jnettels commented on #10401
As requested, here is a complete example for width_policy and heigth_policy in action. Happy to help!

[code]

As a bonus, there is a bug report hidden in there. Without the line
[code]
...this error comes up:
[code]
At least this seems like a bug to me. Should RangeTool not be able to accept DataRange1d?
Hacking the Range of the original figure to Range1d is a really weird workaround.

Should I o

[2020-08-17 03:59] bryevdv commented on #10401
They are a bit at odds. A `DataRange1d` is for automatically setting the range extent based on the available data, and a range tool is about explicitly controlling the range extent, completely ignoring the data.

[2020-08-17 12:59] nghenzi commented on #10276
@AjayThorve  In  https://github.com/holoviz/panel/pull/1530  I am working in an easy to use template based in panel templates taking your example like seed. Suggestions and comments are welcomed !!

![light-RGL](https://user-images.githubusercontent.com/46707985/90398700-3c3fe200-e070-11ea-91d2-4ae885ab7b4e.gif)

[2020-08-17 18:31] bryevdv opened #10403 "Unified Mapped Data Handling"
ref #10279

@mattpap  I want to try to align on requirements for improving the internal handling of mapped data so that they also directly support improvements to webgl.

I have some ideas about possible implementations of a "`MappedDataStore`" but before muddying the waters with that, I'd like to see if we can nail down and agree on actual requirements. Here is my stab at some requirements, pleas

[2020-08-17 20:47] stevendbrown commented on #10317
On Windows, deselecting with Crtl-Shift-Click works as expected but on macOS it seems to be caught and handled without passing the modified event to the browser. Does the end-user browser have to be differently configured on macOS to allow this functionality? I can certainly work around by press-and-hold on the tool itself to switch to subtract mode (which is just excellent, thanks for that @mattp

[2020-08-17 20:56] mattpap commented on #10317
It may be command key (or something like that) on mac os instead of ctrl. Otherwise, which browser you are speaking about?

[2020-08-17 21:04] stevendbrown commented on #10317
I've tested Chrome 84.0.4147.105 and Safari 13.1.2 on macOS 10.15.6. Neither of either of the other modifier keys seem to elicit the desired behaviour (option or command).

[2020-08-17 21:08] moomop opened #10404 "[BUG]"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-08-17 21:21] mattpap commented on #10404
This is a duplicate of issue #10249.

[2020-08-17 21:21] #10404 closed

[2020-08-18 00:23] bryevdv opened #10405 "[BUG] ColorPicker does not respect initial color"
[code]

Picker initially displays as black. Probably a missing configuration in the widget init.

[2020-08-18 08:11] mattpap commented on #10405
Works correctly on Chrome 84 and Firefox 79 on Linux.

[2020-08-18 09:01] harmbuisman opened #10407 "[BUG] Select is not updated upon setting value after changing the options"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.1.1

python           : 3.7.8.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18362

#### Description of expected behavior and the observed behavior
When I dynamically change the options of a Select component and then update the value, th

[2020-08-18 17:23] mattpap opened #10408 "Investigate duplicated `ctx.stroke()` in various hatch patterns"
E.g. https://github.com/bokeh/bokeh/blob/78232c75494b85210e9b8cbabdd9ca0cb967f8e9/bokehjs/src/lib/core/visuals.ts#L128-L129
There are a few more.

[2020-08-18 18:06] #9213 closed

[2020-08-18 18:06] #9551 closed

[2020-08-18 18:06] #6775 closed

[2020-08-18 18:06] #8046 closed

[2020-08-18 18:06] #8446 closed

[2020-08-18 18:06] #8744 closed

[2020-08-18 18:06] #9001 closed

[2020-08-18 18:16] bryevdv commented on #10265
Noting that the work in #10266 was only for a Python/Bokeh server event, not yet for `js_on_event`

[2020-08-18 18:19] philippjfr commented on #10265
Right, should have checked this but a Document does not yet have the ability to register js callbacks on it.

[2020-08-18 21:16] #9927 closed

[2020-08-18 21:30] mattpap commented on #10407
I can't reproduce this anymore on 2.2 branch. Or perhaps I misunderstood this issue earlier and didn't actually reproduce it.

[2020-08-18 21:31] bryevdv commented on #10344
I added the bare documentation for `DocumentReady` we will need to add a cleaned up example later (cc @philippjfr) I would propose under `examples/howto/doc_ready.py`

[2020-08-18 22:05] #10344 closed

[2020-08-19 04:30] bryevdv opened #10409 "Spectrogram is broken"
[code]

[2020-08-19 04:36] bryevdv opened #10410 "[BUG] font awesome example is broken"
[code]

[2020-08-19 04:39] bryevdv commented on #10410
OK it seems npm on my system is just borked:
[code]
so I will close this.

[2020-08-19 04:39] #10410 closed

[2020-08-19 04:44] bryevdv opened #10411 "[BUG] issues with latex_example_full"
`latex_example_base` works fine, but `latex_example_full` has issues:
[code]

![image](https://user-images.githubusercontent.com/1078448/90593060-e5cfc200-e19b-11ea-81aa-19074bcb75e3.png)

[2020-08-19 04:59] bryevdv opened #10412 "[BUG] server_session is completely broken"
Neither `embed/arguments` or `embed/server_session` function at all (tested on linux and OSX)

Edit: Also all the `howto/server_embed` examples

![image](https://user-images.githubusercontent.com/1078448/90593937-14e73300-e19e-11ea-9556-4baf518a340e.png)

[2020-08-19 05:28] bryevdv opened #10413 "marker_compare.py does not exercise webgl"
In its current form it uses `scatter` which does not (cannot) use webgl (since webgl is about repeating a single type of thing many times, and scatter can be parameterized by marker type).

It should be updated to use actual glyph methods.

[2020-08-19 08:52] mattpap commented on #10411
Works for me. It looks like npm didn't run. Try `git clean -dfx` and rerun, or `(cd latex_label; bokeh build --rebuild)`.

[2020-08-19 13:14] mattpap commented on #10412
The underlying problem is that `AutoloadJsHandler` uses `None` as empty `docs_json`, instead of `{}`. This didn't surface until recently, after PR #10338, which replaced for-in loops with `entries()`. Originally for-in loop allowed `null` argument, e.g.:
[code]
I would expect an exception, but perhaps I'm just projecting Java's behavior on JavaScript.

[2020-08-19 13:21] mattpap commented on #10413
`scatter()` could use glyph methods on its own as an optimization if `marker_type` is a constant.

[2020-08-19 13:23] mattpap commented on #10413
Based on my prior experience with testing webgl backend, I'm also considering to add an option or "forced" backend type enums, so that if webgl can't be used for whatever reason, bokehjs would fail hard immediately, making sure that we show or test what we expect to.

[2020-08-19 14:53] harmbuisman commented on #10407
@mattpap , that would be great if it is fixed.

I just noticed also a related issue, which may have the same root cause. Is thar also not reproducible anymore?

If I do not set the value, but just the options, the value does not change, while the selected value in the UI gets a new value.
In the example below I would expect that after setting options to 1, 2, 3, that select.value is autoset to 1 a

[2020-08-19 16:52] #10412 closed

[2020-08-19 18:17] bryevdv commented on #10411
Neither of those fixes the issue for me. I had thought perhaps the problem was that Bokeh was picking up an older system node from `/usr/bin` even tho the conda env with a newer version is first on PATH. But even after making it see the latest node I still get compile errors.
[code]

[2020-08-20 03:55] bryevdv opened #10417 "BEP 8: Privacy Policy"
This was already on my short-list todo, but NF is pushing projects to communicate their privacy policies. I have opened a WIP wiki page for BEP 8 here:

NF has a template and and a blurb that should go on all our sites here: https://github.com/numfocus/privacy-policy

cc @bokeh/core

[2020-08-20 22:47] vinokurov opened #10418 "[FEATURE] Document Python exceptions handling"
When an exception happens during a python callback execution, the callback is terminated and no changes are applied to the model. The user who doesn't have access to the stdout cannot see the exception and may get confused whether the response is slow or something went wrong.
It would be great if it was possible to handle exceptions that are happening on a document level, e.g. to display a popup m

[2020-08-20 22:48] vinokurov opened #10419 "[FEATURE] Python exception handling"
When an exception happens during a python callback execution, the callback is terminated and no changes are applied to the model. The user who doesn't have access to the stdout cannot see the exception and may get confused whether the response is slow or something went wrong.
It would be great if it was possible to handle exceptions that are happening on a document level, e.g. to display a popup m

[2020-08-20 22:56] #10418 closed

[2020-08-20 22:57] vinokurov commented on #10418
opened 2 issues by mistake

[2020-08-20 23:05] bryevdv commented on #10418
dupe of #10419

[2020-08-21 00:09] bryevdv commented on #10419
cc @philippjfr this seems interesting/relevant to some of your recent comments.

[2020-08-21 00:12] bryevdv opened #10420 "Delete old pypi packages at anaconda.org?"
The link at: https://anaconda.org/bokeh/bokeh has instructions for "Pip Installs" e.g
[code]
I'd like to stop publishing pip packages there, and only publish pip packages to pypi (even dev/rcs) But then using those instructions in the future would always get you an old Bokeh version. I think it would be better if we just delete all the old pip packages there so that any pip install attempt just fa

[2020-08-21 15:19] quentinmit opened #10421 "[BUG] Slickgrid types not included in bokehjs"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.1.1 installed via `pip3 install bokeh`

#### Description of expected behavior and the observed behavior

It's not possible to compile TS code that references `models/widgets/tables/data_table` because the Slickgrid typescript external is missing/not installed.

#### Complete, minimal, self-co

[2020-08-21 16:00] MarcSkovMadsen opened #10422 "ON HOLD: Streaming and Patching events stop being emitted in a random fashion"
ON HOLD AS I CANNOT REPRODUCE

#### My Pain

I'm trying to wrap the perspective-viewer web component in a Bokeh extension for use with Panel.

I use a Dataframe to hold data on the python side. Transfer it via a Bokeh ColumnDataSource and can load the data.

I can also catch and handle the `streaming` and `patching` events. But after having streamed, patched or reloaded data for some random time o

[2020-08-22 07:34] MarcSkovMadsen opened #10423 "ColumnDataSource streaming not working in Jupyter Notebook"
panel: 0.9.7
bokeh: 2.1.1

#### My Pain

I'm trying to wrap the perspective-viewer webcomponent into a Bokeh extension for Panel.

I'm almost there :-) The final thing is that I want to demonstrate that I can stream data to the perspective-viewer. This is done via the  ColumnDataSource stream. I have it working when running on the server.

But in the notebook it does not work. The addData handler

[2020-08-22 12:09] quentinmit opened #10424 "[BUG] Toggle on_click is fired when "active" is changed from Python side"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.1.1

#### Description of expected behavior and the observed behavior
`on_click` should, as its name implies, only fire when the user actually clicks on the `Toggle`. Instead, because it's actually implemented as `on_change('active', …)`, it also fires when the 'active' value is changed progra

[2020-08-22 15:01] #10423 closed, assigned to nobody

[2020-08-23 05:48] MarcSkovMadsen opened #10425 "Please give FileInput a more modern look and feel"
#### My Pain

I would like to be able to create awesome analytics apps. One fundamental component for users work flows is the FileInput.

The look and feel of the current FileInput widget is basic.

![image](https://user-images.githubusercontent.com/42288570/90971812-c0ccad80-e513-11ea-930a-965a055e5eeb.png)

I would like it to look and feel more modern. One thing that is not obvious to me from th

[2020-08-23 13:04] #10422 closed, assigned to nobody

[2020-08-23 18:00] bryevdv opened #10426 "INLINE_LEGACY does not work (CDN.legacy = True does work)"
cc @mattpap Just noting that in my testing on Win10 I was unable to get anything to work in IE with INLINE_LEGACY. I *was* able to see things work [1] by using CDN and explicitly setting `CDN.legacy = True`.

I don't intend to hold up the 2.2 release over this since the usage with CDN functions.

[1] Vertical sliders are evidently broken in IE

[2020-08-24 03:22] bryevdv opened #10427 "[BUG] RangeTool handles do not work on Win10 Chrome"
Run `examples/app/dash` Range bar is draggable but handles at the egdes are not responsive

Handles work in FF and Edge

EDIT: `range_tool.py` works tho, it is just the dash example that has a problem

[2020-08-24 07:33] pavithraes commented on #10405
This issue seems to be specific to Safari. It works correctly on Firefox 79 on OSX.

[2020-08-24 13:29] Jhsmit commented on #10425
I have users also input files at the beginning of a work flow. This is at minimum 1 file but optionally several files, and at the moment I have a button that adds additional file input widgets.

A dropzone would work well in this scenario because more easily support the input of a variable number of files.

[2020-08-24 17:15] bryevdv commented on #10417
I've heard back from the three services there, all are willing to either offer something. Am currently looking a bit deeper in to [Matomo](https://matomo.org/) first since they seem to be the most mature / long-lived, can import GA data, can be run self-hosted if that's ever a need, and seem to be offering a gratis plan.

[2020-08-24 17:18] bryevdv commented on #10420
This has been done, and happy surprise, removing all the PyPI packages does also remove the pip install instructions

[2020-08-24 17:18] #10420 closed

[2020-08-24 18:56] lee1043 commented on #4470
@shukon just curious, I am looking for adding symbols on top of lines, do you have any hint for me? Again, many thanks!

[2020-08-24 19:48] bryevdv commented on #9169
Looks like there are some issues with this in the 2.2 release packages, re-opening and marking for 2.3

[2020-08-25 02:31] bryevdv commented on #1547
There hasn't actually been a single outside user input on this in six years, not even a +1 or 👍 I'm going to close for lack of interest.

[2020-08-25 02:31] #1547 closed

[2020-08-25 02:34] bryevdv commented on #2367
noting that this would fall out of #10403 as I envision it at least

[2020-08-25 02:59] bryevdv commented on #2417
There has not been any additional comment on this in ~5 years so I am going to close. Realistically, I do not think circles with a *radius* make sense on datetime axes, because the aspect ratios are so very drastically mismatched.

[2020-08-25 02:59] #2417 closed

[2020-08-25 03:06] bryevdv commented on #4272
Noting that `DocumentReady` was added in 2.2 but currently only for Bokeh server apps, e.g.
[code]
We would like to add for `CustomJS` but this will be tricky due to implicit documents, might require requiring explicit document manipulation (to have a target doc to call `js_on_event` on)

cc @philippjfr was there a different issue for the current work you just added?

[2020-08-25 03:10] bryevdv commented on #5068
Unfortunately it has been so long since that was posted that any context has been effectively lost, without a complete reprocer. Accordingly I will close now.

[2020-08-25 03:10] #5068 closed

[2020-08-25 03:23] bryevdv opened #10429 "Doc Search is broken"
Search results links are all like:

https://docs.bokeh.org/en/latest/docs/reference/models/sourcesundefined?highlight=columndatasource#bokeh.models.sources.ColumnDataSource

That should be `sources.html` in the middle there, not `sourcesundefined`. The last previous dev docs deply works fine, not sure what is broken in the full release case but will figure out and re-deploy by hand.

[2020-08-25 03:27] bryevdv commented on #5117
As of 2.2 this example rendered successfully on IE with legacy resources, e.g `CDN.legacy = True`.

Also noting that in light of MS recent announcement, all IE support will be dropped completely sometime in the next year.

[2020-08-25 03:27] #5117 closed

[2020-08-25 03:29] bryevdv commented on #4646
There's been a huge expansion of JS tests (unit, baseline, image, and regression) since this, I will go ahead and close.

[2020-08-25 03:29] #4646 closed

[2020-08-25 03:35] bryevdv commented on #5618
I'm going ot unmark this as GFI because I expect it might actually be fairly involved. Also adding to 2.3 because I think it is fairly overdue.

[2020-08-25 03:37] bryevdv commented on #4306
closing in favor of newer #5303

[2020-08-25 03:37] #4306 closed

[2020-08-25 03:44] bryevdv commented on #6050
As of 2.2 shift now does what I'd expect, and performance is also better. I will close this now.

[2020-08-25 03:44] #6050 closed

[2020-08-25 03:48] bryevdv commented on #6925
This was fixed at some point, the example in https://github.com/bokeh/bokeh/issues/6925#issuecomment-330894142 is working for me with 2.2 (table shows immediately without needing any scrolling)

[2020-08-25 03:48] #6925 closed

[2020-08-25 03:52] bryevdv commented on #7274
`GroupFilter` no longer sets `@indices`

[2020-08-25 03:52] #7274 closed

[2020-08-25 04:02] bryevdv commented on #7965
@p-himik that's entirely expected. Nothing that is supposed to be "rotatable" will behave in a "mathematical" way, ***unless `match_aspect` is set*** to True.

However, none of this has anything to do with the OP, which is narrowly related to gmap plotting. Due to the potential for confusion, I am going to lock this issue for further comment.

[2020-08-25 04:06] bryevdv commented on #7965
And actually looking back, there is no complete minimal reproducer, so I'm not going to be able to investigate. @tristaneljed if you can still repro this in current version (2.2+) then please open a new issue.

[2020-08-25 04:06] #7965 closed

[2020-08-25 04:08] bryevdv commented on #8468
@philippjfr this was done in 2.2?

[2020-08-25 04:25] bryevdv commented on #8687
There was the start of a major re-work in 2.2 and as of that release I can no longer repro this issue, so I will close. If you can still see this issue with 2.2+ please provide a complete minimal reproducer to investigate.

Note that there is a small unrelated issue where webgl does not like like None colors (I had to set `fill_color` to "white" e.g.)

[2020-08-25 04:25] #8687 closed

[2020-08-25 04:28] bryevdv commented on #8674
I'm not sure there is any action to take here, CSS targets are stabilizing over time but still subject to development.

[2020-08-25 04:28] #8674 closed

[2020-08-25 04:29] #8515 closed

[2020-08-25 04:30] bryevdv commented on #8498
@philippjfr is this do-able? (Or even done in 2.2 by chance?)

[2020-08-25 04:34] bryevdv commented on #8489
Noting that the bad webgl line rendering was noticed again recently in a different context. The solution will hopefully be the switch to instanced line rendering with ReGL later this year

[2020-08-25 04:39] bryevdv commented on #8891
I'm going to go ahead and close this. In the very specific case at the top, the answer is simply to use the X marker, not ` cross`. (not sure why I did not notice that immediately) In the general case I just don't think it is common enough to justify.

[2020-08-25 04:39] #8891 closed

[2020-08-25 04:49] bryevdv commented on #9162
Im going to go ahead and close this. If desired, in recent versions, a `CustomAction` tool could be used to raise any modal, etc desired

[2020-08-25 04:49] #9162 closed

[2020-08-25 04:56] bryevdv commented on #9051
This was fixed at some point (working in 2.2)

[2020-08-25 04:56] #9051 closed

[2020-08-25 04:59] bryevdv commented on #9257
Absent an MRE, and in light of MS's recent announcement, will close this after all. Note that IE support will be dropped entirely sometime in the next year.

[2020-08-25 04:59] #9257 closed

[2020-08-25 05:00] bryevdv commented on #9280
This was recently done, see new shorter instructions at https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html#devguide-setup

[2020-08-25 05:00] #9280 closed

[2020-08-25 05:09] bryevdv commented on #9231
Just thinking out loud but another possible approach is to set some sort of testable condition that could be used to distinguish between "running in the HTTP request" vs "really running in the WS handler" Then app code could skip anything that does real work in the HTTP request run... that would be pretty ugly but at least provide an avenue for when optimizing this is important.

[2020-08-25 05:26] bryevdv commented on #9222
This is a dupe of https://github.com/bokeh/bokeh/issues/10002 (there is much more analysis there)

[2020-08-25 05:26] #9222 closed

[2020-08-25 05:28] #9311 closed

[2020-08-25 05:29] bryevdv commented on #9284
This was done

[2020-08-25 05:29] #9284 closed

[2020-08-25 05:32] bryevdv commented on #9439
I recently had occasion to encounter `pre-commit` in another project and found it flaky and hard to use (it never actually worked for me). We have a couple of suggested git hooks in our dev docs and instrutions to install them, I think that is sufficient.

[2020-08-25 05:32] #9439 closed

[2020-08-25 05:37] bryevdv commented on #9341
Plan to have full automation working for 2.3. Most everything is done up to some triggerable GH Action that actually runs the code. Also need to decide where deployment tarballs archived to. S3 is one option but the are quite big so maybe only store full releases.

[2020-08-25 05:42] bryevdv commented on #9495
This was a nice discussion but I will close the issue due to lack of activity.

[2020-08-25 05:42] #9495 closed

[2020-08-25 05:44] bryevdv commented on #9731
Given the recent announcement from Microsoft regarding next August, I propose that we simply drop all IE support at Bokeh 3.0, sometime in the next year. If Microsoft, as vast and wealthy as it is, can no longer justify putting in any resources in to IE, then we certainly cannot.

[2020-08-25 05:46] asottile commented on #9439
@bryevdv I'd be curious what you encountered -- if you could send some bug reports that would be appreciated -- I've put a lot of work into making it _not_ flaky :)

[2020-08-25 05:49] bryevdv commented on #9867
I suppose from a syntax POV the solution is to allow
[code]
but I am not sure what amount of work that would be. Given that there does not seem to be a high demand for this, and also that such a legend could be constructed manually from individual `LegendItem` objects (instead of using `legend_field`) I think I am inclined to close this for now, unles/until more community interest is displayed.

[2020-08-25 05:49] #9867 closed

[2020-08-25 05:50] bryevdv commented on #9897
Rethinking, what we have now is working well, no need to make work.

[2020-08-25 05:50] #9897 closed

[2020-08-25 05:53] bryevdv commented on #9950
I'm still not sure what is actionable here, or even what the issue is. Recent 2.2 had a large overhaul of SVG export that fixed many bugs, so hopefully that include this one.

[2020-08-25 05:53] #9950 closed

[2020-08-25 07:51] mattpap commented on #9731
The announcement: https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666.

[2020-08-25 15:48] bryevdv commented on #10429
OK I have no idea what could have changed since yesterday but it is randomly working now and not generating bogus URLs any longer (I copied the bad one above out of the URL bar after clicking a link 🤷 )

[2020-08-25 15:48] #10429 closed

[2020-08-25 16:36] dwsideriusNIST commented on #9922
Is the syntax for this feature non-standard? When I try to set up a case-insensitive autocomplete box, i.e.:

`self.inp_box = panels.widget.AutocompleteInput(
            name='the name',
            options=list_of_options,
            placeholder='placeholder_value',
            case_sensitive='False'
        )`

the following error is returned:

`Setting non-parameter attribute case_sensitive=F

[2020-08-25 20:05] bryevdv commented on #10224
@bokeh/dev I've started doing the simple ones, it has been pretty painless. The only one I slightly worry about is `bokeh-notebooks` since there are external refs to master in nbviewer and mybinder, etc. but apparently GH has started forwarding things to the default branch now, so things should be OK. Still I will wait a bit to work on that one.

@mattpap FYI I will plan to update the scala, R, an

[2020-08-25 22:14] philippjfr commented on #8498
Definitely doable but I did not add event listeners for the `TableColumn.width` properties.

[2020-08-25 22:15] philippjfr commented on #8468
This was indeed done, you can now freeze the first N columns by setting `frozen_columns=N`.

[2020-08-25 22:15] #8468 closed

[2020-08-25 23:22] bryevdv commented on #10403
@mattpap in the interest of starting discussion I've made an very rough demonstration of some of the ideas above:

https://repl.it/@bigreddot/Bokeh-Mapped-Data#index.ts

This is nowhere close to being "complete", and can be improved in any number of ways. But I hope it illustrates what I think is important:
* glyphs themselves become lightweight wrt to data. They have configurations about where da

[2020-08-26 08:38] laurafeuerhake opened #10430 "Figure toolbar is fixed on screen when scrolling down on app hosted by bokeh server"
The figure toolbar is fixed at a specific screen position and does not stay next to the figure when scrolling down on the page.
When loading the page, everything seems to be fine:
![image](https://user-images.githubusercontent.com/33908698/91280957-cdf1d280-e787-11ea-801b-b510445850b1.png)
When scrolling down on the page:
![image](https://user-images.githubusercontent.com/33908698/91281056-ed88fb0

[2020-08-26 10:12] gopimandala opened #10431 "[BUG] pull_session not working in Win10 without this import statement: 'from bokeh.server.server import Server'"
OS Windows10
Bokeh server version 2.1.1 (running on Tornado 6.0.4)
Flask version 1.1.2
Python version 3.8.3

The bokeh plots run fine on their own (i.e. via bokeh serve myapp.py command without pull session), however, when combined with Flask (and with pull session), the pull_session fails with below error msg.
`OSError: Cannot pull session document because we failed to connect to the server (to s

[2020-08-26 12:22] mattpap commented on #10430
This shouldn't happen. We will need more information about the browser, platform, do you use any custom templates, etc. Preferably a reproducible test case should be provided.

[2020-08-26 13:33] laurafeuerhake commented on #10430
Hi Matt, Thanks for the fast answer, it was actually caused by some custom css template.

[2020-08-26 13:33] #10430 closed

[2020-08-26 21:20] msouff opened #10434 "Bokeh not embedding plot in Django app sea_surface example [BUG]"
OS Ubuntu 2018
Bokeh server version 2.1.0 and up (running with Django channels)
Django 2.2.8
Django channels 2.4.0
Python version 3.7.8
Browser: Tested on Chrome and Firefox

When using versions 2.1.0 and up, the django server_embed sea_surface example (127.0.0.1/sea_surface) fails to embed the graph:

The example using panel (127.0.0.1/shape_viewer) works fine. The sea_surface_with_template examp

[2020-08-26 21:46] bryevdv commented on #10434
@msouff  please provide all the information asked for, OS, browser, etc. E.g his may be a duplicate of #10431 but you have not given enough context to determine that.

[2020-08-26 22:09] msouff commented on #10434
@bryevdv I just added more info. Thanks.

[2020-08-26 22:17] mattpap commented on #10434
ref https://github.com/holoviz/panel/issues/1552 (variation on issue #10412).

[2020-08-26 22:38] msouff commented on #10434
Yup, I can confirm that I saw the same behavior @philippjfr reported in that issue with the _embed_items function and the docs_json appearing to be null.

[2020-08-26 23:41] bryevdv commented on #10431
This is almost certainly that this fix:
[code]
is only done on `bokeh.server` imports and is not on the `bokeh.client` codepath

[2020-08-27 00:19] bryevdv commented on #10224
@bokeh/dev OK I think all the  most trivial ones are changed. That leaves

* rbokeh -- will update after hearing back from @hafen about the two open PRs there
* bokeh-notebooks -- will do this sometime in the next week
* bokeh -- this will require some planning, we will need to clear most/all open PRs first

[2020-08-27 11:42] #10343 closed

[2020-08-27 11:43] #10426 closed

[2020-08-27 12:12] philippjfr opened #10435 "[BUG] Regression causing multiple js_on_event subscribers to be ignored"
In Bokeh 2.2 there has been a major regression causing multiple events subscribed with js_on_event to be ignored, i.e. only the last subscribed event is processed. In the example below you will notice that when performing a box_select it will print both 'foo' and 'bar' to the console on selection when using bokeh 2.1.1 but only prints 'bar' in 2.2.

[code]

[2020-08-27 12:23] mattpap commented on #10435
https://github.com/bokeh/bokeh/blob/5045aca77623712b52918f6a636ce55d231445e9/bokeh/model.py#L371

[2020-08-27 12:24] mattpap commented on #10435
Although even with this fixed, it doesn't work. There must be a secondary issue.

[2020-08-27 14:41] philippjfr commented on #10435
Between this and #10434 can we accelerate the timeline for a 2.2.1 release? These are both pretty major regressions.

[2020-08-27 15:05] bryevdv commented on #10435
Sure, once both are fixed with tests (and we can back port legacy inline
fix too)

On Thursday, August 27, 2020, Philipp Rudiger <notifications@github.com>
wrote:

[2020-08-27 16:19] #10435 closed

[2020-08-27 16:37] bryevdv commented on #10431
@gopimandala We are going to have a 2.2.1 quick fixes release very soon. I would like to include but, but need a verification that this is actually the correct diagnosis. Can you confirm whether adding these lines to your script also fixes things (i.e. if you remove the extra server import)

[code]

[2020-08-27 17:48] PBrockmann opened #10439 "Activate wheel zoom by default with BokehJS"
With BokehJS, I would like to have the wheel zoom for scrolling activated by default.
It is not the case by default.

An option like:
`active_scroll = "wheel_zoom" `
is not implemented.

But changing the line 30073 of bokeh.js file from
`return et == 'tap' || et == 'pan';`
to
`return et == 'tap' || et == 'pan' || et == 'scroll';`
activates the wheel zoom.

Am I breaking something doing this ? if n

[2020-08-27 18:06] mattpap commented on #10224
Is this really necessary? Most PRs are targeting `branch-2.*` anyway. Only one target `master`, which simply should be re-based.

[2020-08-27 19:07] bryevdv commented on #10224
Nope, just still shaking off eight years of habits. I will try to have all the remaining ones done by next week's meeting.

[2020-08-28 03:01] azjps opened #10440 "[BUG] WheelZoomTool scrolling issues with bounds"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
[code]
(Using Chrome & Windows, but don't think the browser / OS are relevant for this issue.)

#### Description of expected behavior and the observed behavior
(1) `xwheel_zoom` will fail to work if any axis (e.g., a y axis) has reached its bounds, and vice versa. This is likely due to the way in whi

[2020-08-28 04:46] bryevdv commented on #10224
OK, this has been done for `bokeh/bokeh`

[2020-08-28 04:49] #10224 closed

[2020-08-28 04:55] bryevdv commented on #10224
OK I have set the default branch to `main` on all Bokeh repos, an d I have also deleted the `master` branch on all Bokeh repos except `bokeh-notebooks`. Unfortunately, if GH is automatically redirecting deleted branches to the default, it is still not enough to make the MyBinder tutorials be able to launch correctly. I have pushed a snapshot of `main` back to `master`. I'll ping the binder folks s

[2020-08-28 05:18] bryevdv commented on #10439
cc @mattpap IIRC there are several places where "plumbing" is not fully hooked up in the BokehJS API

[2020-08-28 08:47] mattpap commented on #10224
Well, except `bokeh` repo. This will force all contributors to set the base of their PRs to the active `branch-*`, which will cause them and us a lot of headache.

[2020-08-28 11:42] Squirrel8475 opened #10441 "Option to *not* share selections and inspections"
### Description:
A first scatterline is defined combining:
-  an instance of the Line glyph (_blue_)
-  an instance of the Circle glyph (_blue_)
-  and another instance of the Circle glyph aimed at defining the hover style (circle color changed as _orange_)

A second scatterline is built repeating the process but using _red_ instead of _blue_. A single hover tool is added to the plot combining the

[2020-08-28 14:11] bryevdv commented on #10224
@mattpap yes except this one which remains `branch-2.3` per our new developing branch policy.

[2020-08-28 14:11] PBrockmann opened #10442 "Be able to create plots on demand with a linked axis or not"
Here is a try to add a feature where the horizontal axis can be shared (linked) from different plots. Plots are created on demand, not in one call.

Actually with 2.2.0 release it not possible to re-use a model (here a Bokeh.DataRange1d) and you get an error
`Uncaught (in promise) Error: models must be owned by only a single document`

But commenting in bokeh.js, the line 779 in the add_root funct

[2020-08-28 16:33] bryevdv commented on #10441
Hi @Squirrel8475 thank you for your very detailed report. However, your intuition about expected behaviors is not quite correct. Specifically, Bokeh selections and inspections are properties of data sources, and in Bokeh ***sharing a data source is the explicit mechanism to share selections and inspections.***. This is explained in this section of the users guide

https://docs.bokeh.org/en/latest/

[2020-08-28 16:37] philippjfr commented on #10441
The only way to decouple the linking on a single data source would be if we created separate selection indices for each renderer. Hard to see how to do that in a backward compatible way but I can see it being useful.

[2020-08-28 16:43] bryevdv commented on #10441
Well, one idea might be: we could report the glyph the "originates" an inspection along with the inspection, and then e.g. have flag to tell glyphs to only render hover mode if they they are the originator. But I think there are alot of fine details that glosses over that might make that impossible/impractical. (Specifically what happens when a hover inspection hits multiple glyphs)

[2020-08-28 16:48] bryevdv commented on #10441
And then another completely different avenue would be to find a way to have CDSes be able "share" columns, i.e so two glyphs could have two different CDSes (so no linked behaviors) without duplicating any data. I had had some ideas about this a *long* time ago, e.g some central "data store" that actually had all the data and then CDS just had references in to it. But this was never pursued and the

[2020-08-28 16:52] bryevdv commented on #10224
ref: https://github.com/jupyterhub/binderhub/issues/1145#issuecomment-682561508 MyBinder consider short-term workaround on their end

[2020-08-28 18:09] lee1043 commented on #4470
@shukon please no worries. I was able to do so, which was for a specialized purpose of using parallel plot but with much less lines. I will think about sharing my version of the code when it is clean enough, but I guess there must be less or no demands for that from others. Anyway, many thanks again for your very helpful comments!

[2020-08-28 20:02] poldavezac opened #10443 "[BUG] incorrect Plot._check_bad_extra_range_name"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-08-28 21:53] bryevdv commented on #10443
@poldavezac I'd say go ahead and submit the PR, it will be easier to evaluate a PR (and iterate if necesssary)

I think this is also a somewhat more general problem with complicated object graphs and `CustomJS` args, @mattpap do you recall? But if there is a simple sensible fix for this specifically, we can put it in.

[2020-08-28 23:03] mattpap commented on #10443
That's a different issue with cyclic graphs. Nevertheless, this issue is interesting on its own. I think that this validator is too broad. It should only look at `Plot`'s properties that contain "own" renderers (so `renderers` and `left`, `right`, `above`, `below` and `center` panels).

[2020-08-29 01:08] bryevdv commented on #10443
I think that this validator is too broad. It should only look at Plot's properties that contain "own" renderers (so renderers and left, right, above, below and center panels).

Looking at the actual check method now, I agree. I think it might predate those

[2020-08-29 10:16] PBrockmann commented on #10442
Have discovered that resize is then not possible.

[2020-08-29 11:35] mattpap commented on #10442
`Uncaught (in promise) Error: models must be owned by only a single document`

This always has been the case and is a fundamental assumption of the design of bokeh. If you want to make multiple plots or widgets interact with each other, they must be parts of the same document. By commenting the aforementioned line of code, you leave a document and a subset of its models in an inconsistent state, w

[2020-08-29 11:50] mattpap opened #10444 "Vertical sliders' appearance is broken"
Layout allocates space for sliders, but possibly CSS is broken, e.g.:
![image](https://user-images.githubusercontent.com/27475/91636120-672a1e80-e9fe-11ea-83b7-d6d4e161e1bb.png)

[2020-08-29 11:50] mattpap commented on #10426
It looks like they are completely broken (#10444).

[2020-08-29 21:11] quentinmit commented on #10424
FWIW in the meantime I just used a custom model that subclasses Button (so inherits Button's `on_click`) and has an `active` property so the callback can toggle its status.

[2020-08-30 03:44] comperem opened #10446 "image_rgba() does not respect dw_units or dh_units set to screen"
The glyph method `image_rgba()` does not rotate predictably while using screen units. It works fine with default x and y axis units, but not screen units.

When `dw_units` and `dh_units` are set to screen, the image should rotate without translating. But it doesn't. It rotates and translates in an unexpected way, and may even be scaling as well. It's unclear exactly what's happening.

An example w

[2020-08-30 10:15] PBrockmann commented on #10442
I have now commented only a throw error when Document already exists. Resize works. Do not see other border effects but aware that some inconsistencies may appear. Haven't found one for now.

<pre>
//if (this.document != null && this.document != doc)
//    throw new Error("models must be owned by only a single document");
</pre>

[linkedAxisResize.zip](https://github.com/bokeh/bokeh/files/5146623/

[2020-08-30 13:36] harabat commented on #10047
We're probably not getting any more opinions about this, should I go forward and make a PR?

[2020-08-30 13:37] harabat commented on #10067
Hey @aastha-shah, are you still working on this? I'm the one who opened this issue, willing to implement it unless you're doing it.

[2020-08-30 17:34] bryevdv commented on #10067
@aastha-shah sorry your question got lost in all things going on for the release. Yes the slack is a good place for development-related chat https://slack-invite.bokeh.org

@harabat Bokeh is an open, volunteer project. Occasionally core devs will self-assign an issue, and I suppose if someone asked to be assigned, we could/would do that. But in general, anyone should feel free to submit any PR at

[2020-08-30 17:41] bryevdv commented on #10047
@harabat which approach did you intend to pursue?

[2020-08-30 18:34] poldavezac commented on #10443
I've updated my PR accordingly: checks performed on the plot's layouts and renderers

[2020-08-31 00:52] GilShoshan94 commented on #7317
+1

[2020-08-31 08:06] philippjfr opened #10448 "DataTable DateFormatter does not handle NaT"
The `DateFormatter` `CellFormatter` for the `DataTable` recently gained a `nan_format` property which applies to Nones and NaNs. However when using pandas to represent times missing values are indicated through NaT types. When serialized to an integer buffer in Javascript this is represented by the value `-9223372036854776`. This value should therefore also be formatted using the nan_format when e

[2020-08-31 12:45] gopimandala commented on #10431
Hi Bryan, as mentioned in the discourse portal, these 2 lines fix the issue and it works even i remove the extra server import statement.

[2020-08-31 16:49] #10434 closed

[2020-08-31 16:49] #10431 closed

[2020-08-31 16:49] #10448 closed

[2020-08-31 16:56] #10443 closed

[2020-09-01 04:46] brycepg commented on #9653
What would be a workaround to avoiding this issue? I'm running into this 100 percent of the time with my jupyter notebook.

[2020-09-01 05:05] bryevdv commented on #9653
@brycepg are you actually embedding a *Bokeh server application* in the notebook? If not, if you are just calling `show` on a layout with some plots and widgets, then they would not be expected to work. If you need help with embedding actual Bokeh server applications in a notebook, please open a topic on the community support Discourse: https://discourse.bokeh.org/

[2020-09-01 09:42] skidzo commented on #4134
Hi, If you need help I would also be willing to help. As it is somehow related, for angular we made a nice example that also has a wiki: https://github.com/NuCOS/angular-bokeh

[2020-09-01 17:42] Squirrel8475 commented on #10441
Thank you very much for your detailed answers!

[2020-09-01 19:50] brycepg commented on #9653
@bryevdv I should have been more specific, yeah I am using an embedded bokeh server in a jupyter notebook outlined in https://github.com/bokeh/bokeh/blob/2.2.0/examples/howto/server_embed/notebook_embed.ipynb and I have other widgets working fine with callbacks, it's just that the Slider gives an exception that there is no `on_change` method/attribute available. I'm in the process of moving the co

[2020-09-02 03:23] maeglin89273 opened #10452 "[BUG] MultiChoice disabled attribute is not working"
#### Version
Bokeh 2.2.1
Python 3.8

#### Description
While I set disabled of MultiChoice widget to true in a button click callback, the widget is not disabled as expected.
However, it can be disabled at the initialization or immediately disabled after the initialization.
Errors are logged in the browser console.

#### Example code:
[code]

#### Stack traceback and/or browser JavaScript console ou

[2020-09-02 14:40] philippjfr opened #10453 "[BUG] KeyError when display certain glyphs on the server"
When serving certain glyphs on the server using Bokeh 2.2.1 I'm getting strange KeyErrors on the console. I'm still trying to narrow down the conditions under which this occurs but it is very disconcerting:

[code]

[code]

[2020-09-02 14:50] philippjfr commented on #10453
May be that this is specific to graphs.

[2020-09-02 14:58] mattpap commented on #10453
This is specific to graph renderer initialization. The problem is that in `GraphRenderer.lazy_initialize()`, glyphs' `xs` and `ys` are replaced with non-serializable expressions.

[2020-09-02 15:12] Squirrel8475 commented on #9927
I am getting the same sort of issue but for the standalone variant, not the server one. Could you confirm the fix works for both cases?

[2020-09-02 15:16] kiramt opened #10454 "LabelSet does not display with categorical coordinates"
### Version info

Python version      :  3.7.4 (default, Sep 28 2019, 16:39:19)
IPython version     :  (not installed)
Tornado version     :  6.0.4
Bokeh version       :  2.2.1 or 2.2.0
node.js version     :  (not installed)
npm version         :  (not installed)

### Description
I have a heatmap coded in Bokeh which has one row set up to display text via a LabelSet rather than rects. It works fin

[2020-09-02 15:50] bryevdv commented on #10454
@kiramt This does not have anything to do with `rect `glyphs, the text does not display even if the rects are removed.

@mattpap the rendered label examples in the docs work:

https://docs.bokeh.org/en/latest/docs/user_guide/annotations.html?x=labelset#labels

My best quick guess is that it's the combination labels and *categorigal coordinates* that have regressed.

[2020-09-02 15:57] bryevdv commented on #10452
Here is a debug version of the log:

<img width="489" alt="Screen Shot 2020-09-02 at 8 56 05 AM" src="https://user-images.githubusercontent.com/1078448/92006962-31d14980-ecfa-11ea-8860-00432c0d675a.png">

<img width="650" alt="Screen Shot 2020-09-02 at 8 57 27 AM" src="https://user-images.githubusercontent.com/1078448/92007081-588f8000-ecfa-11ea-9316-8c69a6254d71.png">

[2020-09-02 16:00] mattpap commented on #10454
`LabelSet.{x,y}` have `NumberSpec` type instead of `Coordinate{X,Y}`, which results in storing categorical labels in typed arrays (results in arrays of `NaN`s).

[2020-09-02 16:02] bryevdv commented on #10454
I'll try to push a fix today or tomorrow

[2020-09-02 16:05] mattpap commented on #10454
I already prepared a PR fixing this and other annotations.

[2020-09-02 16:07] kiramt commented on #10454
Awesome, thank you!

[2020-09-02 23:15] #10454 closed

[2020-09-02 23:16] #10452 closed

[2020-09-03 00:53] ruoyu0088 opened #10457 "[BUG]Reverse Y axis range with circle"
Bokeh 2.2.1

Here is the source code

[code]

and the output figures:

![tmp](https://user-images.githubusercontent.com/826871/92068363-b054e680-ede1-11ea-97a5-4aadd0813a31.png)

the right figure has some circles disappeared, and if you pan the right figure view range, you can see some circles and the edge always shown and hidden.

[2020-09-03 01:09] bryevdv commented on #10457
@ruoyu0088 Thanks for the report. Can you possibly try to construct an MRE that does not use random data?  We will need to make sure a test is in place for the fix for this and will need a completely reproducible test case.

@bokeh/core offhand the only thing that comes to mind is the making based on spatial indexing is malfunctioning somehow when ranges are reversed. I would not be opposed to sim

[2020-09-03 06:24] ruoyu0088 opened #10458 "[BUG]multi_line doesn't support hover."
bokeh 2.2.1

test code

[code]

when hover a line, the follow exception raised in devtool console:

[code]

Here is the code that raise the exception:

[code]

Here is some debug information in the console.

[code]

[2020-09-03 12:34] harabat commented on #10047
Turns out I forgot we had identified several options and didn't actually decide on either.

Rereading through the discussions, I'm more inclined to go with my original approach: confine changes to `varea_stack`, while making sure all `lineprops` arguments are accounted for, and add line renderers with `line_color=None` by default (to switch to `line_color='white'` in 3.0).

My gripes with the opti

[2020-09-03 12:43] harabat commented on #10067
@bryevdv given that aastha-shah said they were new to OSS, wouldn't want my going ahead without checking in with them risk being perceived as a lack of good manners and alienate them from contributing further.

@aastha-shah I'll start work on this next week, unless you want to have a go

[2020-09-03 16:03] reckoner opened #10461 "[BUG] Chrome driver fails on WSL2 Ubuntu 18 (and other containerized environments)"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-09-03 17:17] jonn-smith commented on #7317
This would be very helpful to me as well.

[2020-09-03 17:55] jsuarez5341 commented on #8364
This is still an issue and makes gridplots pretty ugly. Autohide only functions correctly in the top left plot. When working with a grid of plots, your options are 1) use autohide and lose interactive tools on all but the first plot or 2) don't use autohide and have your gridplot cluttered with multiple toolbars.

I think that this issue should be promoted to type:bug given that the current situat

[2020-09-04 08:35] bryevdv commented on #8364
Respectfully @jsuarez5341 the clarification is not a matter of promotion or priority. Bugs are problems in code that exists. Features are things that the (volunteer) contributors have yet to implement.

[2020-09-04 12:54] ltalirz opened #10463 "[BUG] bokeh authentication example checks only whether `user` cookie is set"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh `master` branch

#### Observed behavior
I'm trying out the authentication features for the first time, so I looked at the corresponding [howto example](https://github.com/bokeh/bokeh/tree/main/examples) in the bokeh repository.

Without a complete understanding of the inner workings, it seems t

[2020-09-04 13:05] ltalirz commented on #10463
P.S. If others agree that this should be fixed, I'm happy to make a PR for any suggested fix.

[2020-09-04 14:55] bryevdv commented on #10463
This is intentionally a toy example that is only meant to minimally illustrate how the building blocks fit together. It's definitely incumbent on anyone using these to build out a real auth workflow that matches their unique circumstances. The only change I would personally advocate is some loud comments to that effect.

cc @bokeh/dev

[2020-09-04 15:32] MarcSkovMadsen opened #10464 "Support for Arrow as a ColumnDataSource"
# Challenge

I believe Arrow is the core format for tabular format of the future.

It is starting to be the core of various dataframes like cuDf https://github.com/rapidsai/cudf. Its also at the core of for example awesome Perspective https://perspective.finos.org/.

I envision a future where no matter if you are working with pandas Dataframes or other Dataframes you are using Arrow format.

If yo

[2020-09-04 16:55] bryevdv commented on #10463
I should clarify that adding warning comments is the only change I would make *to the example itself*. We can always add more supporting documentation, and certainly a discussion of common workflows would be welcome. @philippjfr haven't you worked with folks that implemented an OAuth workflow? Can you summarize the experience?

BTW the problem with making the example "real" is that it would requir

[2020-09-04 17:23] bryevdv commented on #10464
I've had casual discussions about Arrow with various folks on and off for some time. I'm definitely in favor of adding any support we can.

But there are various possibilities so it would be good to clarify what exactly the ask is.

E.g it's probably possible to write a simple copying adapter to automatically "ingest" arrow in to current CDS in no time. But I expect anyone using Arrow will care ab

[2020-09-04 20:51] bryevdv commented on #10446
Hi @comperem you will need to be more specific about what exactly

means. Screenshots are advised as well.

Also, always advised to include a complete reproducer directly in the issue. One, because it makes life easier for maintainers, but also because external links can go stale or disappear (this has happened on numerous occasions) in which case the issue will end up being closed for lack of rep

[2020-09-04 21:02] bryevdv commented on #10425
@mattpap is this really GFI? It seems if we want a *really* nice uploader, it will require more than CSS styling of the current basic file input.

[2020-09-04 22:10] brycepg commented on #10407
Here's an example of the UI select value becoming unset after options change:

[code]

Note that the value should be 2 always, but when the options select is reset by clicking "toggle", the value (in the UI) shows the first option. I tested this on bokeh `2.2.0`

---

I found a workaround @harmbuisman :
Instead of setting the select options attribute to a new list, keep the old list clear it and e

[2020-09-04 22:30] jsuarez5341 commented on #8364
Fair enough -- I'll find a workaround for my application and post back if I come up with anything that might help others in the meanwhile. I would suggest adding a couple lines to the autohide docs. I didn't see any indication that current functionality is limited to certain layouts, hence it seemed like a bug.

[2020-09-05 02:13] MarcSkovMadsen commented on #10425
I think it's a good issue if you know how to create Bokeh Extensions and can create it reusing parts of the existing fileupload code base.

[2020-09-05 02:16] MarcSkovMadsen commented on #10425
The first step would for somebody being able to contribute would be a decision on how: From scratch or by using an existing js library. And which js library you would like implemented.

There is an overview of 10 options here https://www.sitepoint.com/10-jquery-file-uploads/

[2020-09-05 07:48] pradyunsg opened #10465 "[TASK?] docs/{release,installation}.rst have empty toctrees, which can be removed"
The empty toctree directive in docs/release.rst results in adding an empty `<ul>` element to it, which is a no-op under the current Sphinx theme. Thus this directive is a no-op and can be removed to simplify the file.

[2020-09-05 09:08] MarcSkovMadsen commented on #10464
For me the end goal is to not copy, Transform, serialize or similar. The arrow object should be used as directly as possible and transferred as arrow.

The purpose is to make things as simple and performant as possible.

[2020-09-05 10:28] pavithraes opened #10467 "Redundant TOC in developer documentation can be removed"
The [Getting Set Up](https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html) and [Testing](https://docs.bokeh.org/en/latest/docs/dev_guide/testing.html) sections of the developer docs have a TOC in the main content which seems redundant and can be removed. The docs have a right sidebar for this purpose.

Moreover, having a TOC in the main content makes all section heading hyperlinks. This isn'

[2020-09-06 12:40] p-himik opened #10468 "[BUG] `DateSlider` and `DateRangeSlider` ignore `format` set to an instance of `TickFormatter`"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.2

#### Description of expected behavior and the observed behavior
The type of the `format` property is `Either(String, Instance(TickFormatter))`. However, if you pass an instance of `TickFormatter`, the formatter is completely ignored.

#### Complete, minimal, self-contained example code tha

[2020-09-06 13:28] mattpap commented on #10468
Easy to fix, but we need to investigate why the type system didn't raise an issue with the existing code.

[2020-09-06 13:39] mattpap commented on #10468
Well, it's this way by design. Maybe an eslint-typescript rule exists that would help with this.

[2020-09-06 19:52] bsdis commented on #4272
Is there any way this can be hacked or worked around somehow?
I really need to have bokeh customJS insert callback functions into window object on init. Its very problematic that this init feature is not available. I would be happy to spend time helping to develop a functionality like that if necessary. Where would I get started?

[2020-09-06 22:37] OrangeEllie opened #10471 "[BUG]Stacked Bar Chart do not go with the Right Value"
The stacked bar chart was generated with a problem. The yellow bar should always be positive, but it changes all the time.
<img width="609" alt="Screenshot 2020-09-06 at 23 34 19" src="https://user-images.githubusercontent.com/70864454/92336564-fa67f180-f099-11ea-89ee-f8738aab2986.png">

[2020-09-06 22:39] bryevdv commented on #10471
The GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please consider [Discourse site](https://discourse.bokeh.org) or  [Stack Overflow](https://stackoverflow.com/). To increase the chance that someone will decide to volunteer their time to help, always include as much informat

[2020-09-06 22:39] OrangeEllie commented on #10471
<img width="205" alt="Screenshot 2020-09-06 at 23 38 46" src="https://user-images.githubusercontent.com/70864454/92336591-313e0780-f09a-11ea-9db4-880ee1d3e476.png">

[2020-09-06 22:39] #10471 closed

[2020-09-06 22:40] OrangeEllie commented on #10471
I am so sorry for the mistake.

[2020-09-06 22:43] bryevdv commented on #10471
No apology needed, someone will be happy to a look at a minimal, compete code sample on the Discourse

[2020-09-07 08:39] #10458 closed

[2020-09-07 08:40] #10457 closed

[2020-09-07 08:40] #10468 closed

[2020-09-07 12:16] Katterrina opened #10472 "[FEATURE] Auto-ranging in network graphs"
For plain glyph renderers is possible don't set x_range and y_range, then DataRange1d try to automatically set the plot bounds to encompass all the available data. It would be great to have this option also for graph renderer.

Here is related question at Bokeh Discourse: https://discourse.bokeh.org/t/auto-ranges-in-graph-from-networkx/6285

[2020-09-07 12:38] harmbuisman commented on #10407
The bug is still there in 2.2.1.

Steps:
* start server
* click show selection
* click change options
* click show selection

output:
![afbeelding](https://user-images.githubusercontent.com/7702207/92387603-2032dc00-f116-11ea-953d-9eafe72be013.png)

expected output:
The last two lines should print out 1 instead of A

@brycepg
Thanks for the suggestion. I tried to replace the first line in click_bu

[2020-09-07 13:47] pavithraes opened #10473 "Add link to community page on all websites"
A link to https://bokeh.org/community/ needs to be added to the footers:
- [ ] https://docs.bokeh.org/en/latest/
- [ ] https://demo.bokeh.org/

[2020-09-07 14:39] p-himik opened #10474 "[BUG] Graph nodes collapse when the data source is changed during selection"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.2

#### Description of expected behavior and the observed behavior
Started at https://discourse.bokeh.org/t/weird-problem-with-selection-on-change-callback-patching/6289
Seems like there's some race condition going on that specifically involves `GraphRenderer` and/or `StaticLayoutProvider`.
I

[2020-09-07 14:39] fstalm commented on #10300
@bryevdv Attached is a new export.py (sorry, I am not allowed to create a pull request it seems: "Permission to bokeh/bokeh.git denied"). This file essentially only declares 'template' as optional argument to export_png and then hands it down the chain to get_screenshot_as_png and then to get_layout_html.

The optional template is added to template string that get_layout_html is creating: + str(te

[2020-09-07 16:16] ltalirz commented on #9605
Being new to TS, I thought I start looking into fixing this issue before tackling https://github.com/bokeh/bokeh/issues/10295 since at least this one should be limited to the TS/JS side of things -- but I came across an issue that I'm having difficulties to track down:

Looking through the code, I came across this function
https://github.com/bokeh/bokeh/blob/658f80d22fe9900a08435bb51cdf59b0900028a

[2020-09-08 09:21] 816-8055 opened #10477 "issue a warning when LogColorMapper is used with negative values"
Currently the warning can be found in the documentation. But no warning is thrown, when negative values are plotted as image with an LogColorMapper.

bokeh: 2.2.0

Solution: throw warning in code

[2020-09-08 12:35] AdityaJ7 commented on #10473
Can I work on this issue?

[2020-09-08 16:07] ode45 commented on #8489
Thanks, looking forward to that, because I still have the same issue as in #5939. I have slightly updated it's example below.

Inserting a single NaN messes up the time series after this NaN in a WebGL line plot, the values go outside the range of (-1,1).

![image](https://user-images.githubusercontent.com/8698082/92500219-2354c780-f1fd-11ea-93a0-7b950e6fc68f.png)

[code]

[2020-09-08 16:37] pavithraes commented on #10473
@AdityaJ7 Sure! The link needs to be added as 'Support' under 'Hands On' in the footers. It's already been added to https://bokeh.org/, you can see that for reference. :)

[2020-09-08 17:47] bryevdv commented on #10477
@816-8055 Are you asking about a warning on the Python side? If so, that is not possible, because the colormapping does not happen in Python. It is done by JavaScript code, *in the browser*. We could potentially add a JavaScript `console.log` error message, and I would not turn down a PR that did this, but to be completely hones, most users do not know about the JS console or how to access it, so

[2020-09-08 17:53] bryevdv commented on #10477
For reference, this is the relevant file for anyone who wants to look at guarding all the calls to `log` and printing JS console warnings if there is an error:

https://github.com/bokeh/bokeh/blob/branch-2.3/bokehjs/src/lib/models/mappers/log_color_mapper.ts

Tho thinking even more I think I am 👎 on adding this. If log is called with a negative number then an error message will end up in the conso

[2020-09-08 17:53] #10477 closed

[2020-09-08 20:44] #9907 closed

[2020-09-08 22:41] varunchaturmutha commented on #7317
Line break for axis labels!

[2020-09-09 03:10] AdityaJ7 commented on #10473
Hey, thanks for the guidance I have a small question. I just have to update this file right: https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/bokeh/footer.html

[2020-09-09 04:56] MarcSkovMadsen opened #10478 "Please make it easier to reuse existing code when extending to Fast, Material or other frameworks of widgets."
#### My Pain

I would like my analytics (Panel) apps to look and feel awesome. A part of that is custom branding, a consisten look, feel and maybe some animations/ transitions.

I tried for a long time to style the existing Bokeh widgets. But it really takes a long time and as I see it it's not really made for changing the look and feel. A lot of the things are just hard coded in the CSS files.

A

[2020-09-09 05:00] MarcSkovMadsen commented on #10478
If you know how I can specify all the properties when I `document.createElement` I would like to know. My guess is it would make things a bit faster.

[2020-09-09 08:23] ltalirz opened #10479 "[FEATURE] Consider simplifying use of bokeh_server_page in tests"
As mentioned by @bryevdv [here](https://github.com/bokeh/bokeh/pull/10476#discussion_r485218670)

Example of the previous tests:
https://github.com/bokeh/bokeh/blob/658f80d22fe9900a08435bb51cdf59b0900028a6/tests/integration/widgets/test_autocomplete_input.py#L349-L359

Example of alternative approach:
[code]

[2020-09-09 10:04] pavithraes commented on #10473
@AdityaJ7 Yes, that is correct

[2020-09-09 10:24] AdityaJ7 commented on #10473
I have made the PR, thanks for helping me out, you can check if it is correct

[2020-09-09 14:28] Pinous commented on #10210
Hello to you both,

Do you have any improvements ?

[2020-09-09 14:38] marxide opened #10481 "[BUG] Unable to use CustomJS callback on HoverTool with GraphRenderer"
### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

- bokeh 2.2.1
- python 3.8.5
- macOS 10.14.6
- Chrome 85.0.4183.83

#### Description of expected behavior and the observed behavior

I am attempting to use a `CustomJS` callback on a `HoverTool` that is connected to a plot containing a `GraphRenderer`. The callback is never called due to an uncaught

[2020-09-09 16:32] bryevdv commented on #10479
My one concern with simplifying the tests in this way is that it is definitely a pattern of usage that is *only* viable in tests. Specifically, in normal usage, it is absolutely not possible to create Bokeh objects *outside* the `modify_doc(doc)` function, because then all new sessions would share that same instance of the Bokeh model, and that is prohibited. It works by coincidence in the test be

[2020-09-10 02:58] pavithraes opened #10482 "Update documentation section of the developer docs"
Documentation section of developer docs: https://docs.bokeh.org/en/latest/docs/dev_guide/documentation.html

* Rearrange [build the documentation section](https://docs.bokeh.org/en/latest/docs/dev_guide/documentation.html#build-the-documentation) -- Move information about environment variables before docs build command.
While following the steps top-down, setting GOOGLE_API_KEY step can be missed.

[2020-09-10 03:58] pavithraes commented on #8741
I missed the footer in docs.bokeh.org :/

[2020-09-10 08:23] p-himik opened #10484 "Type in https://docs.bokeh.org/en/latest/docs/user_guide/embed.html#autoload-scripts"
Right now it says: `The <script> tag loads a <div> in place, so it must be placed under <head>.`
Clearly, it should be `<body>` instead of `<head>`.
Initially brought to attention at https://stackoverflow.com/questions/63821160/confusing-note-regarding-bokeh-autoload-scripts

[2020-09-10 16:11] pavithraes opened #10486 "Add check for GOOGLE_API_KEY in conf.py"
If the key is missing, the build fails after running for a few minutes. The error message also seems to get buried a little.

Adding a check in [conf.py](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/conf.py#L67) will help throw an error immediately.

cc @bryevdv

[2020-09-10 19:59] #10484 closed

[2020-09-10 20:01] #8741 closed

[2020-09-10 20:02] #10473 closed

[2020-09-10 20:03] bryevdv commented on #10473
@pavithraes maybe a separate issue on the demo site repo for that change?

[2020-09-10 20:12] aelanman opened #10488 "In python3, rectangle does not appear when x axis is type datetime"
I've been having trouble plotting rectangular glyphs with bokeh in Python 3. I can't find this issue documented anywhere, or any efforts to correct it.

I'm trying to plot rectangles whose x-axis extent is given as a timedelta, and whose positions are datetimes.

This is a minimum example that produces the error. I generate a set of times via numpy's datetime64, convert them to datetime objects, a

[2020-09-10 20:40] bryevdv commented on #10488
@aelanman we will need more detailed information from you. I get visible output on Python 3.7 with both Bokeh 2.1.1 and Bokeh 2.2.1

That said @mattpap there are definitely *some* issues, since I don't get the *same* output:

## 2.1.1

<img width="600" alt="Screen Shot 2020-09-10 at 1 19 57 PM" src="https://user-images.githubusercontent.com/1078448/92799289-8616a200-f368-11ea-849f-796b7779d53c.png

[2020-09-10 20:44] aelanman commented on #10488
I'm using Python 3.7.6 and bokeh version 2.2.0 (installed via anaconda).

I was seeing similar output to the your 2.2.1 plot (uneven column widths) when I made the widths larger by a factor of 10.

[2020-09-10 20:53] bryevdv commented on #10488
I don't want to seem too critical @aelanman but I don't really understand why this was not mentioned in the OP? Also now I don't understand if we are seeing the same things now or not. If I divide the widths in the exact code above by 10, then I do see a blank plot as described. Are you saying you see a blank plot with *exactly the code above* and *not* dividing by 10?

[2020-09-10 21:04] bryevdv commented on #10488
@mattpap my current best guess is that despite being sent as correct numbers in plain JSON lists, there is now a loss of precision occurring during the screen space mapping step. Will require some more investigation but I think we will have to figure out #10379 sooner rather than later (or else revert `NumberArray` type to be Float64, but then that would break webgl AFAIK)

[2020-09-10 21:07] aelanman commented on #10488
I should have mentioned that... sorry. Having rerun it, I realized I had this example confused with a different one. In that code, the rectangles disappeared unless I increased the width. I'll update the original post in a second.

With the code as written above, I get the following:
![bokeh_plot (1)](https://user-images.githubusercontent.com/12849618/92806331-e537df00-f387-11ea-84ef-6aaf90e6e0b5.

[2020-09-10 23:19] #10295 closed

[2020-09-11 04:31] quentinmit commented on #7667
Is this the same bug as "zooming won't work if one (but not both) bounds are hit"? I was expecting that setting a bound would allow zoom out to adjust the other end of the range, but instead as soon as you hit either bound zoom out is disabled (so you have to pan, then zoom out more, then pan, then zoom out more, etc.)

[2020-09-11 19:36] p-himik opened #10490 "[FEATURE] Make it possible for annotations to receive BokehJS events"
Started at https://discourse.bokeh.org/t/not-possible-to-add-customjs-callbacks-to-annotations/6327

It would be nice if the `CustomJS` callback would work when a user taps on the box annotation in this example
[code]

Note that `BoxAnnotation` is particularly different because it implements `interactive_hit`, but it only returns `true` if some mouse cursor is set for the annotation.
Other annotat

[2020-09-11 21:06] #10461 closed

[2020-09-13 10:14] Prashavu commented on #8715
Hi I'm facing the same issue all dependency package version matched , only bokeh.transform faced an inport issue , I tried uninstalling and reinstalling many times with pip3 and pip ,I didn't find any use . I'm unable to import Bokeh.transform

[2020-09-13 17:45] #10472 closed

[2020-09-14 14:55] Aaron-560 opened #10494 "[BUG] Wedge/arc radius does not match y-axis"
#### Versions
Bokeh 2.2.1
Python 3.8.0
Ubuntu 18.04.5 LTS
Firefox 80.0.1 (64-bit) / Chromium 85.0.4183.83

#### Expected and observed behavior
Expected: When plotting a wedge (or annular_wedge, or arc) the radius should be constant and match the radius (or outer_radius) argument, and this should be consistent with the axis markings.
Observed: The radius of the wedge in the y-dimension is about 10%

[2020-09-14 15:30] bryevdv commented on #517
Explicitly for everyone who needs to see it: this #6784 added a `match_aspect` option that can be set to True when needed for "large" circles.

[2020-09-14 15:30] bryevdv commented on #10494
dupe of #517

[2020-09-14 15:30] #10494 closed

[2020-09-14 15:32] bryevdv commented on #10494
@Aaron-560 pass `match_aspect=True` to `figure` if you need to draw "large" circles, with radii specified in data-space units.

[2020-09-14 15:45] Aaron-560 commented on #10494
@bryevdv Thank you

[2020-09-15 07:29] Felix-neko opened #10496 "[BUG] Figures in layout: when I export these figures to PNGs, each next image is 100px wider than previous"
Hi folks!

I’m trying to export some figures to PNGs with bokeh.io.export_png(fig, filename=fname, width=width, height=height).

And I’m getting some strange behaviour: when I call this function second time, the next image is 100px wider than I ordered by width argument. Third image is 200px wider — and so on.

Here’s a small code example:

[code]

If this can be fixed -- it will be really cool, b

[2020-09-15 08:37] Felix-neko commented on #10496
Well, looks like I've understood how to fix it.

Before each export_png (or export_svg) call I'm now doing the following:
[code]

Maybe we can do it automatically in `export_png` and `export_svg` when `width` and `height` args are set?

[2020-09-15 10:59] aastha-shah commented on #10067
@harabat extremely apologetic about missing this. I had worked on this but then I ran into a bunch of issues with conda on my device and I was unable to test it, I should've mentioned it here. Please go ahead (would appreciate it if you had resources on contributing to OSS as well!)

[2020-09-15 11:38] mattpap commented on #10496
The reason this happens is because of using `layout(sizing_mode="stretch_width")` prior to `export_png()` and some finicky code in bokeh to allow io.export work cross-platform. When setting sizing mode in `layout()` or similar functions, layout's children get their sizing modes set too, which means that at `export_png()`'s call time, `left` and `right` plots have `stretch_width` sizing mode set, a

[2020-09-15 14:04] shantopagla opened #10497 "CRA Build error on stable bokehjs (2.2.0) branch [BUG]"
#### This issue is specific to bokehjs and is browser agnostic
- **Node**:  v12.9.1 (tested on higher versions)
- **bokehjs**: 2.2.0 (stable) installed via npm (yarn)
- **React**: 16.7.0
- **craco**: 5.6.4

#### No issues running locally, import error on build causing UI to crash

#### Stack traceback and/or browser JavaScript console output
[code]
![image](https://user-images.githubusercontent.co

[2020-09-15 14:19] mattpap commented on #10497
What browser is this? In any case, set a breakpoint at kinds.js:129 (or pause on exception) and see what the object in question is, or why it isn't iterable. Assuming this is a failure at import and the browser is "modern", then I will guess that the bundling (and any related processing) system may be responsible.

[2020-09-15 15:11] mattpap commented on #10497
The object in question should be `arguments`, which should support iterator protocol in any modern browser. E.g. IE doesn't, but we have legacy bundles to fill in that gap.

[2020-09-15 16:14] shantopagla commented on #10497
Reproducible in all browsers (chrome, FF, Safari). It's possible that it's a bundling issue - however, if I user v2.0.2 with no other changes, the build succeeds (which is what I am finally resorting to use).
Breabpoint Screenshot:
![image](https://user-images.githubusercontent.com/1359265/93236539-f64c6b80-f74c-11ea-9db2-39c0a6e2984a.png)

The error is in the function below
[code]

[2020-09-15 17:49] mattpap commented on #10497
Sure, `core/kinds` is a new addition (2.2).

[2020-09-15 17:52] mattpap commented on #10497
@shantopagla, can you post (here or as a gist) full `core/kinds` module's contents as it appears in your bundle, or just repeat the above analysis for two call frames higher up. I'm pretty sure the next (or at most the other) frame is the culprit.

[2020-09-15 19:18] poldavezac opened #10498 "[BUG] GridBox not rebuilt when changing cols or rows attributes"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 2.2.1 with python 3.8

#### Description of expected behavior and the observed behavior
In an app, if a button allows changing a GridBox.cols attribute, nothing happens on the browser.
The typescript code is missing some connect calls. I'll create  a PR with the code.

#### Complete, minimal, se

[2020-09-16 07:49] RolandRitt commented on #7317
+ 1

[2020-09-16 13:41] shantopagla commented on #10497
Please let me know if this is sufficient:
Line 210 -> Line 206:
![image](https://user-images.githubusercontent.com/1359265/93344339-8e0a9200-f7ff-11ea-9cee-2558b684b447.png)

kinds.js:
[code]

[2020-09-17 06:36] MarcSkovMadsen opened #10501 "Render method of AbstractButton does not support Icon that replaces element"
#### Summary

I am trying to implement an `SVGIcon` widget for Panel. A part of this is a `SVGIcon` bokeh model. I can see that the `render` part of https://github.com/bokeh/bokeh/blob/branch-2.3/bokehjs/src/lib/models/widgets/abstract_button.ts should be changed as shown below.

![image](https://user-images.githubusercontent.com/42288570/93428826-6d564100-f8c0-11ea-971d-1581823d5192.png)

to supp

[2020-09-17 07:24] MarcSkovMadsen commented on #10501
Just as inspiration I have the Bokeh and Panel code working.

![svg_icon](https://user-images.githubusercontent.com/42288570/93433772-8d3d3300-f8c7-11ea-97fb-1a5d41ebace8.gif)

[2020-09-17 07:31] MarcSkovMadsen opened #10502 "Add inline SVGIcon widget to Bokeh"
I'm working on wrapping the Fast Design components into Bokeh extensions and Panel widgets. A part of this needs support of Icons.

I've looked at how Icons are used and supported today. See https://github.com/holoviz/panel/issues/1586. Fast just uses inline SVG and it's also preferred by CSS tricks https://css-tricks.com/pretty-good-svg-icon-system/.

So my thinking is that this is a good a gener

[2020-09-17 07:32] MarcSkovMadsen commented on #10502
You will also need to add some css

[code]

[2020-09-17 08:37] mattpap commented on #10501
That's against the design. `this.el` is readonly. Your options are either to set `tagName` to `svg` or to add `<svg>` child to the existing `this.el`.

[2020-09-17 10:47] MarcSkovMadsen commented on #10501
Ok. Thats fine. Just think I've seen some code I've not written that replaces `this.el`.

[2020-09-17 10:47] #10501 closed

[2020-09-17 11:54] marecabo commented on #10488
I also have this issue (missing rectangles) and had to downgrade bokeh to 1.4.0 to get the correct behavior.

[2020-09-17 12:48] Katterrina opened #10503 "[BUG] KeyError: 'id'"
Bug described in https://discourse.bokeh.org/t/keyerror-id-maybe-issue/6365.

#### Software version info
Bokeh 2.2.1
Python 3.8
Ubuntu 20.04

#### Example code that reproduces the issue

[code]

#### Console output
[code]

[2020-09-17 13:17] mattpap commented on #10503
Duplicate of issue #10453.

[2020-09-17 13:17] #10503 closed

[2020-09-17 15:10] benlipson commented on #9208
Maybe it's the same thing; I find the same problem with stretch-both.

85.0.4183.83 (Official Build) (64-bit) (cohort: Stable)
--
Revision | 94abc2237ae0c9a4cb5f035431c8adfb94324633-refs/branch-heads/4183@{#1658}
OS | Windows 10 OS Version 2004 (Build 19041.450)
JavaScript | V8 8.5.210.20

![image](https://user-images.githubusercontent.com/3837169/93490325-30d51600-f8bd-11ea-9887-84c5025e5079.png)

[2020-09-17 17:01] bryevdv commented on #10488
@marecabo 2.1.x should be fine

[2020-09-17 20:05] brycepg commented on #10407
You're right @harmbuisman I was wrong about that workaround. It preserves current select UI but does not update the options UI list.

I think the root cause of my issue and your issue are the same @harmbuisman . When `options` attribute is changed on a `Select` widget, the UI select value resets to the first item in the `options` list, and does not reflect the bokeh server internal model value.

#

[2020-09-18 03:25] MarcSkovMadsen opened #10504 "Cannot display Icon on standalone basis"
I'm currently trying to implement Icon functionality for Panel and would also like to give back to Bokeh. See for example https://github.com/bokeh/bokeh/issues/10502.

One thing that me is that I cannot use the icon on a standalone basis. I get an error like

[code]

I can see that is because the `AbstractIcon` is just a `Model`

![image](https://user-images.githubusercontent.com/42288570/93551720

[2020-09-18 04:00] bryevdv commented on #10265
@philippjfr this issue got closed is there a (new?) issue for a JS init event? (I actually thought there was a different older issue about this than this one but I can't find it if so)

[2020-09-18 05:41] MarcSkovMadsen commented on #10502
Originally I thought this was a SVGIcon request. But I can see its a request for an Icon since it works great in a lot of other situations like with the `Font Awesome` `.js` icons.

![image](https://user-images.githubusercontent.com/42288570/93560375-4d875180-f982-11ea-95a8-23e9c1e35b64.png)

[2020-09-18 06:15] MarcSkovMadsen opened #10505 "Add button_type with no border"
One of my first pains when starting to use Panel/ Bokeh was that there is no `button_type` without a border.

This is a pain if you would like to create an icon button like

![image](https://user-images.githubusercontent.com/42288570/93562430-50844100-f986-11ea-9765-8c71d875955f.png)

or if you would like to create buttons that look like links

![image](https://user-images.githubusercontent.com/42

[2020-09-18 14:29] tmikolajczyk opened #10506 "[FEATURE] Hiding hex number from color swatch in hover tool"
It'd be nice to have an option to hide hex number from the hover. Swatch is a great option, but sometimes there is no need to share a information about the HEX. Inspired by the discussion [here](https://discourse.bokeh.org/t/hiding-hex-number-from-hover-tool-swatch/6324).

![image](https://user-images.githubusercontent.com/10706421/93608900-76800480-f9cb-11ea-9f8b-4a6bb914c93d.png)

[2020-09-18 17:03] rstrutt opened #10507 "[BUG] Cannot disable MultiSelect in 2.2.1"
Issue originally raised on Discourse, here: https://discourse.bokeh.org/t/cannot-disable-multiselect-in-2-2-1/6374/3

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 1.4.0 (works), Bokeh 2.2.0 (shows the issue)
Python 3.7.3
Chrome 78.0.3904.108 (Official Build) (64-bit)
Windows 7 Professional SP1

#### Description of expected behavior and th

[2020-09-18 21:49] mattpap commented on #10507
Possibly related to or duplicate of #10296.

[2020-09-19 02:16] tommycarstensen commented on #2191
@bryevdv Do you still need someone to write documentation on how to deploy to Heroku? I would happily volunteer.

[2020-09-19 03:15] MarcSkovMadsen opened #10508 "Improve support icon only button by removing space"
I'm trying to add support for Icons to Panel. Including supporting a Button with an Icon.

I would like to be able to use the Button without a label like

But as you can see below a space is inserted after the icon. Even when the name/ label of the button is the empty string.

![image](https://user-images.githubusercontent.com/42288570/93657915-fc856500-fa36-11ea-9a59-b23d8c2c5a9e.png)

This mis-a

[2020-09-19 13:43] schleising opened #10511 "[BUG] Log axis bounds calculated incorrectly with certain data sets since v2.2.0"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
python 3.8.5 64 bit
bokeh 2.2.0, bokeh 2.2.1 and bokeh 2.3.0.dev1
pandas 1.1.2
Mac OS 10.15.6
Chrome Version 85.0.4183.102 (Official Build) (64-bit)
Safari Version 14.0 (15610.1.28.1.9, 15610)
Docker container: python:3.8-slim-buster

#### Description of expected behavior and the observed behavior

I

[2020-09-19 17:22] bryevdv commented on #10511
@mattpap bisection results say this was broken in 7a03120c49463e40a44f41521a80d4389a270281

[2020-09-19 17:48] bryevdv commented on #10511
That said the proximate cause seems to be that `this._initial_start` is zero

[2020-09-19 18:29] russellburdt commented on #2191
@tommycarstensen I am getting about 50-60 page views per week on my blog post re how to deploy on a IaaS (DigitalOcean, not Heroku).  There used to be a blog about deployment on Heroku (https://ericstrong.org/running-a-bokeh-server-on-heroku-part-1/) however that link is now inactive.  So I say go for it!

[2020-09-19 20:04] bryevdv commented on #10511
@schleising I actually looked over this issue too quickly and missed the zero value. That is not a mathematically valid value for a log axis, (the "correct" bounds wold be negative infinity) I am not sure what behavior you are expecting but I think the correct course of action regardless is for users to ensure that there are never zero values on a log scale.

[2020-09-19 20:10] bryevdv commented on #10511
@mattpap that said, the changes in https://github.com/bokeh/bokeh/commit/7a03120c49463e40a44f41521a80d4389a270281 did cause lines with `np.nan` on a log scale to break bounds computation, and I *do* think that should work If the zero in the example is repaced with nan

* nan, linear scale (good):

<img width="424" alt="Screen Shot 2020-09-19 at 1 08 55 PM" src="https://user-images.githubuserconten

[2020-09-19 20:39] schleising commented on #10511
Hi @bryevdv

Thanks for looking into the issue so quickly, I'm aware that log(0) is not a valid calculation and have no problem dropping zeros from the data frame, I've already given this a try on the full data set and it works fine.

The only reason I raised it as a bug is that previous versions handled the situation gracefully and the newer versions don't.  I'm not sure what the philosophy you h

[2020-09-20 10:21] comatrion opened #10512 "[BUG]"
#### Software version info
bokeh 2.2.1
panel 0.9.7
chrome  78.0.3904.97 (Official Build) (64-bit)
macOS 10.14.6 Mojave

#### Description of expected behavior and the observed behavior
Context: a table with multiple columns and rows and either
- `autosize_mode` default
- `autosize_mode = 'fit_columns'`

Expect:
- to see data in all columns, both modes
- that the table takes up it's natural height r

[2020-09-21 19:11] aelanman commented on #10488
It looks like switching to an earlier version of bokeh fixes this for me, so I will do that for now. Thanks for your help!

[2020-09-21 23:40] bryevdv commented on #10488
Digging a bit more, I think the x coords are actually getting sent fine even in 2.2.x (you can plot circles instead of rects to see things evenly spaced correctly, and comparing computed pixel coords only differs by ~10^-7) I think actually there is a bad type interaction involving the *width*, and rect specifically.

[2020-09-21 23:57] bryevdv commented on #10488
And `Glyph.sdist` as well. Here is a diff that fixes
[code]
cc @mattpap for any thoughts. I'll have to think on this a little as well, if we take this route for now then there may be other spots to change as well.

[2020-09-21 23:58] bryevdv commented on #10488
Also marking as 2.3 for now but if we cut a 2.2.2 this fix should definitely go in

[2020-09-22 05:54] varianceslayer commented on #10482
@pavithraes I am working on this. Any lead on the windows part would be helpful. Thanks

[2020-09-22 12:17] pavithraes commented on #10482
@varianceslayer I believe #10500 already covers this issue among other things. Would you be interested in working on a different issue? I'd prefer avoiding duplication of effort. :)

[2020-09-22 13:01] varianceslayer commented on #10482
Yeah sure. Would be happy to contribute to something. Let me know if you have any suggestions. Thanks a lot!

[2020-09-22 20:35] #10486 closed

[2020-09-22 21:44] bryevdv opened #10514 "Win / Python 3.8 CI job failing"
The Win / Python 3.8 CI job has started failing all the time in the last few days. Here is a passing vs failing full logs:

[PASSING](https://pipelines.actions.githubusercontent.com/ulO0VbHVmvhg5sIouatb8EE0BHOKrnPm4eEAD0pcj0jqeytZcZ/_apis/pipelines/1/runs/3103/signedlogcontent/218?urlExpires=2020-09-22T21%3A39%3A18.5527604Z&urlSigningMethod=HMACV1&urlSignature=pD%2BwZ8HbZffjMBMvgV%2FQO9ECF3BVyCVLe

[2020-09-22 21:52] bryevdv commented on #10514
Yah it definitely seems the Proactor loop is being erroneously used:
[code]
But the last merged PR was #10495 and it was passing, including this job. I don't see what has could have changed in the repo since then.

[2020-09-22 22:03] bryevdv commented on #10514
Here is the diff between passing/failing conda packages dowloaded (I think we need to add an explicit conda list step somewhere for better visibility into the created env)
[code]

[2020-09-22 22:03] bryevdv commented on #10514
The most suspicious thing is probably the bump of `pytest-asyncio-0.14.` I will have to try to repro on an actual windows box now

[2020-09-22 22:38] bryevdv commented on #10514
Confirmed pytest-asyncio=0.14 is the problem. I will pin to 0.12 for now and maybe raise an issue on the pytest-asyncio tracker to ask what's changed

[2020-09-22 23:39] #10514 closed

[2020-09-23 00:12] bryevdv commented on #10506
This is supposed to be possible (used to be possible) by specifying  e.g.
[code]
but AFAICT it is currently not respecting that configuration. @tmikolajczyk can you confirm that it also does not work for you?

[2020-09-23 06:31] gsaandy commented on #8801
There are chances that this could break other modules

It worked for me after using webpack alias
[code]

[2020-09-23 08:25] tmikolajczyk commented on #10506
@bryevdv, yes I confirm that hiding hex does not work for me

[2020-09-23 08:42] mattpap commented on #10506
As far as I can tell (at least going back to 2017), this hasn't been possible and adding `hex` only means to convert a CSS color spec to hex representation, but color string regardless of representation is non-optional (swatch is). Changing the existing behavior would be a breaking change, so I would add another special variable `$swatch:field_name` to resolve this.

[2020-09-23 09:18] pavithraes commented on #10482
@varianceslayer You can take a look at the other issues marked as [good-first-issues](https://github.com/bokeh/bokeh/labels/good%20first%20issue). If you'd like to work on a similar documentation quick fix, you may consider: #10467

[2020-09-23 14:56] mattpap commented on #10474
Duplicate of issue #10453.

[2020-09-23 14:56] #10474 closed

[2020-09-23 15:55] #10507 closed

[2020-09-23 17:03] rstrutt commented on #10507
Fantastic - thanks for the awesomely quick turnaround, chaps.

[2020-09-23 18:16] #10488 closed

[2020-09-24 02:47] tcmetzger opened #10522 "Docs: Outdated instructions for CI"
[The testing section in the Developers Guide](https://docs.bokeh.org/en/latest/docs/dev_guide/testing.html#etiquette) contains instructions on disabling examples tests by adding a keyword to the commit message. This feature is no longer supported with the current GutHub Actions CI. The respective text should be removed from the docs.

[2020-09-24 03:48] MarcSkovMadsen opened #10523 "Lots of problems when following the Bokeh developer guide."
Bokeh branch: branch-2.3 (fix-button-no-space-when-no-label)
OS: Windows 10

I'm trying to follow along the Bokeh developer getting setup guide but get the below error.

[code]

## Additional Context

I can see that it asks me to remove the existing file. But since I don't know the consequence and is using npm in other projects I don't feel comfortable doing that.

I've installed locally with `npm

[2020-09-24 04:04] MarcSkovMadsen commented on #10523
Ok I went back and looked closer at the error message. It's a file in the `bkdev` environment. That should be ok to rename. So I did but still I got.

[code]

[2020-09-24 04:05] MarcSkovMadsen commented on #10523
But this worked

[code]

[2020-09-24 04:10] MarcSkovMadsen commented on #10523
Next I get this

The I get this error message

[code]

so instead I run the below. It worked with some warnings

[code]

[2020-09-24 04:11] MarcSkovMadsen commented on #10523
This went well

[code]

[2020-09-24 04:12] MarcSkovMadsen commented on #10523
This did not work

[code]

[2020-09-24 09:05] mukeshkdangi opened #10525 "[Feature] Support full text search for MultiChoice and auto complete input"
Bokeh 2.1.1, Python 3, Windows 10, Chrome

#### Description of expected behavior and the observed behavior

**1. Bokeh  Multichoice search is not working as expected. When type a string suggestion list in dropdown is not showing correct results**
For example Dropdown list has around 7 elements containing 'ca' as a substring but when i type 'ca' only 4 elements shows up in the drop down instead of

[2020-09-24 14:44] mattpap commented on #10523
The problems with npm are (most likely) related to using windows build of npm with a linux shell (git bash I guess?). If you install nodejs with conda (as we suggest to do), then you should run `npm install`, `node make`, etc. from a windows' shell. PowerShell (especially the one configured automatically by miniconda or anaconda distribution) works best. My personal workflow on windows is to use b

[2020-09-24 14:47] mattpap commented on #10523
If I recall correctly, this broke my installation of npm, which required reinstall of nodejs.

[2020-09-24 14:50] mattpap commented on #10523
If you didn't run `(cd bokehjs; node make build)` before this, then the error message is correct.

[2020-09-24 14:55] MarcSkovMadsen commented on #10523
you May close the issue. I Got it working.

I primarely opened the issue to share how this works for a Windows contributor. Dont know if you have many of those.

[2020-09-24 15:18] epsilon-0 opened #10526 "[FEATURE] Please add necessary testing files to pypi releases"
Currently the pypi releases don't have everything needed to do the tests making it hard to validate if the install has succeeded on a system wide level when installing via the systems package manager.

Having tests along with the package makes it easy to verify the installation.

Thanks.

[2020-09-24 15:35] epsilon-0 commented on #10526
Only needed file that is currently missing is the `conftest.py` file.

[2020-09-24 16:04] bryevdv commented on #10526
Unfortunately this is very far from the actual truth :) Bokeh spans both Python and Javascript (and in fact much of the actual work is in the JS component that ships with the library) and running all the tests, which include:

* Python Unit Tests
* JavaScript unit tests
* Image diff tests
* Integration tests
* Examples tests

requires the installation of many non-python components:

* NodeJS/NPM
*

[2020-09-24 16:10] bryevdv commented on #10523
Agree with @mattpap re NPM there are lots of ways to install NPM and unfortunately lots of potential problem paths. There's just not any way we can cover every possible contingency when installing NPM. We might simply mention this and suggest some places to go for NPM troubleshooting specifically.

RE: `--install-js`, I thought we had this covered in the docs, which do say:

If there is some sugge

[2020-09-24 16:10] #10523 closed

[2020-09-24 16:13] epsilon-0 commented on #10526
Indeed, so far we have only been running python unittests to do minimal verification, which also required npm for some tests, which I assume to mean that it also runs javascript unittests.

Running integration tests along with more complex tests is not something that we are aiming to do on our side, but even just the unittests do give a much better confidence for packaging :smile_cat:

I am unsure

[2020-09-24 16:15] bryevdv commented on #10525
The MulitChoice is a wrapper around choices.js

https://github.com/jshjohnson/Choices

Whether or not we can support full-test support is entirely dependent on what choices.js can support. (Some investigation will  be needed, or if you know already please respond with details).

For the questions about developing BokehJS/building a custom BokehJS that is outside the scope of the issue tracker. The

[2020-09-24 16:22] bryevdv commented on #10526
No the NPM in the Python unit tests is only for the Python-side `CustomJS` compilation capability. It does not run any of the actual BokehJS unit tests, which are under the `bokehjs` directory.

If  you are familiar with PyPI packaging in general, it should be similar to including extra files in any Python package, i.e. adding to the manifest:

https://github.com/bokeh/bokeh/blob/branch-2.3/MANIFE

[2020-09-24 16:40] philippjfr opened #10527 "[BUG] Updating color in CDS does not rerender"
Coloring does not seem to update when you trigger a change in the CDS until the glyph is repainted, e.g. by panning/zooming it out of frame. This occurs for explicit colors but also colormapped values. In the example below I reverse the colors on a custom tool event but it doesn't update until I zoom in and out:

[code]

![color_issue](https://user-images.githubusercontent.com/1550771/94173716-9e2

[2020-09-24 17:08] mukeshkdangi commented on #10525
thanks for the update.
can we do something in bokeh-widget.js for full text search.  The auto complete class has a function which has 'search_string.startswith(sub_string).' can we just try replacing that with 'includes()' API of JS. i was trying to do same but bokeh is by default using bokeh-widget.min.js instead of user included js.
[code]

also i believe this Multichoice search is bug instead o

[2020-09-24 17:25] bryevdv commented on #10525
Noted, but disagree.

As I mentioned, the place to ask "how do I" support questions is the Discourse, not the issue tracker.

[2020-09-24 17:27] bryevdv commented on #10527
@philippjfr This is expected? It's AFAIK always been the case that you have to replace `source.data` *entirely* (else, explicitly call `source.change.emit` manually)

[2020-09-24 17:33] philippjfr commented on #10527
Oh right sorry. Even with the emit this happens.

[2020-09-24 17:41] bryevdv commented on #10527
This code works as expected for me with 2.2.1
[code]
Can you update the OP with your version?

[2020-09-24 17:43] #10467 closed

[2020-09-25 09:16] philippjfr commented on #10527
I think I only tried `cds.properties.data.change.emit()` but I guess I keep getting confused when to use that and when to use `cds.change.emit()`. Closing since it's not really a bug.

[2020-09-25 09:16] #10527 closed

[2020-09-25 18:29] tcmetzger opened #10529 "Documentation: Wrong date in footer"
The docs still display last year's date in the footer:

![grafik](https://user-images.githubusercontent.com/39711796/94303061-18e73d00-ff22-11ea-8475-6cd10f4b10fb.png)

[2020-09-27 10:18] #10529 closed

[2020-09-27 10:33] pavithraes commented on #10529
@tcmetzger Nice catch! Thanks! I see this needs to be updated in the [demo site](https://demo.bokeh.org/) too, shall correct it there. :)

[2020-09-27 10:51] #10522 closed

[2020-09-28 10:34] erezinman opened #10533 "[FEATURE] Add x-box-select & y-box-select specific icons."
Please add these tool-specific icons. I created a possible x-box-select icons that you can use (I assume no rights for them, if that's a problem). The y-select tool is just a rotation of the x-select-tool's icon by 90-degrees.

![XBoxSelect](https://user-images.githubusercontent.com/4324329/94421590-7384d100-018e-11eb-8f24-49f0a4709f82.png)
![XBoxSelect_2](https://user-images.githubusercontent.com

[2020-09-28 17:00] bryevdv commented on #10177
@mattpap I have updated the Wiki document I think that restricted to only branching, things are simple enough to not need examples, so I have deleted that empty section. I also made a few tweaks re: prefer to land on current base and cherry-pick backports. Can you look and see if there are any other changes you would like to make before voting to adopt this BEP? I'd like to mark is as implemented

[2020-09-28 20:36] bryevdv commented on #9773
@martey do you have any input or suggestions based on the configuration above?

[2020-09-28 20:38] bryevdv commented on #9773
Otherwise, I think I am tempted to look at

* use different URLs when retrieving scripts with the hashes, e.g cdn.bokeh.org/release/sri/bokeh.min.js, so that any access without the hashes do not cause this problem

as the best solution soon. I don't think it is great but I am just not sure what else to try at this point.

[2020-09-28 21:22] nghenzi opened #10534 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
It is not related to a problem

**Describe the solution you'd like**
I would like to be able to customize independently the font label ticks as described here
https://discourse.bokeh.org/t/change-independently-categorical-ticks/6434/2

I think a new separate “tick font formatter” where you can make some important items bold or a di

[2020-09-28 21:27] erezinman opened #10535 "[BUG] Bokeh 2.3.0.dev1 version (the latest on pypl) doesn't display with Holoviews in Jupyter Notebook"
Inside a Jupyter notebook, using Bokeh 2.3.0.dev1, the following code displays nothing:

[code]

I'm using the latest Holoviews version (1.13.4). When reverting to v2.2.1, the code runs well.

[2020-09-28 21:50] philippjfr commented on #10535
Thanks, I'll take a look at this tomorrow. Suspect it's some incompatibility with Panel.

[2020-09-29 07:37] mattpap commented on #10535
`LayoutDOM.align` doesn't allow `null`. It was a fluke that it worked before.

[2020-09-29 08:50] erezinman commented on #10535
So the problem is with HV?

[2020-09-29 09:43] philippjfr commented on #10535
Looks like it, I'll release 1.13.5 before 2.3 is officially released.

[2020-09-29 09:46] philippjfr commented on #10535
Closing as the fix is now in HoloViews.

[2020-09-29 09:46] #10535 closed

[2020-09-29 10:27] erezinman opened #10536 "Bad `super` call in "contexts.py""
I get the error

when calling `print(doc.session_context.request.aruments)` inside the callback passed to `bokeh.server.server.Server` (terrible name-spacing, BTW).  As far as I understand, the call should be to `super().` rather than `super.`.

Thanks

[2020-09-29 10:38] erezinman commented on #10535
Thank you @philippjfr

[2020-09-29 11:06] mattpap commented on #10536
@erezinman it would be great if you could submit a PR fixing this.

[2020-09-30 07:14] TeriForey opened #10538 "[BUG] scale_both sizing mode doesn't work when aspect ratio < 1"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-09-30 08:23] #10498 closed

[2020-09-30 08:28] #10482 closed

[2020-09-30 11:41] Aaron-560 commented on #10494
Bit late here but want to note that passing `match_aspect=True` to `figure` did not fix this problem. I've moved on without a solution for now.

[2020-09-30 18:02] tcmetzger opened #10539 "Help requested: Apply writing style guidelines to docs"
Starting with the 2.3 branch, Bokeh will have style guidelines for writing documentation. Detailed information and instructions are available as [PDF (with links)](https://github.com/bokeh/bokeh/files/5307588/Bokeh-doc-guidelines.pdf) and as [RestructuredText file in the Bokeh repository](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/dev_guide/documentation.rst).

The goal is t

[2020-09-30 18:03] tcmetzger commented on #10539
I'm currently working on those two files:
* https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/installation.rst
* https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/quickstart.rst

[2020-09-30 20:22] bryevdv commented on #10494
@Aaron-560 You will have to elaborate, with `match_aspect` set all the examples above render as expected exactly touching the borders of a (1,-1) square with Bokeh 2.2.1

<img width="594" alt="Screen Shot 2020-09-30 at 1 20 35 PM" src="https://user-images.githubusercontent.com/1078448/94735699-01dc8c80-0320-11eb-8da1-f97404e08f82.png">
<img width="438" alt="Screen Shot 2020-09-30 at 1 20 56 PM" sr

[2020-09-30 20:24] bryevdv commented on #10494
Note: I had to manually zoom out to see the above images, because these glyphs are not yet fully auto-ranging, but that is a separate issue.

[2020-09-30 20:41] #10453 closed

[2020-09-30 20:46] #10481 closed

[2020-10-01 06:43] mukeshkdangi commented on #10525
adding 'includes' worked for in case if AutoCompleteInout so it's better to add ` if (acnorm(text).includes(acnorm(value))) ` this line of code instead of `startsWith()` . I can not contribute because JS file is not available for contribution.

Regarding ChoicesJS, wouldn't it be a simple HTML5 dropdown thing instead of relying on someone else's library which has issues.

[2020-10-01 07:08] martey commented on #9773
I just checked again and unlike in June, both HTTP and HTTPS origin headers seem to be returning `Access-Control-Allow-Origin` headers. Yay!

I'm no CORS guru, but it looks like the value of the `access-control-allow-methods` header is `GET, HEAD`. Some documentation I have found (including https://aws.amazon.com/premiumsupport/knowledge-center/no-access-control-allow-origin-error/) suggest that `

[2020-10-01 17:22] carve11 commented on #10425
One improvement for the FileInput widget for me would be being able to define an location where file(s) are uploaded to without reading the file(s) into memory of the browser (I understand that this would require a running Bokeh server)

[2020-10-01 17:24] bryevdv commented on #10425
@carve11 AFAIK this is impossible. For security reasons, browser file chooser dialogs will not reveal the actual path, only provide the contents (which are necessarily loaded in to the browser)

[2020-10-01 17:30] PBrockmann opened #10540 "Missing an example on how to code interactions between map and scatter plots"
I would find very useful to find in the documentation a clean example with all callbacks properly set to produce a minimal dashboard where a map and a scatter plots are linked.

With links, I mean:
- when the map moves the corresponding geo-referenced points of the scatter plot are drawn accordingly,
- when points either from the map or from the scatter plot are selected from a lasso or box select

[2020-10-01 19:46] CRiddler opened #10541 "[BUG]Slope annotation is not drawn with gradient of 0"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
python: 3.8.5
bokeh: 2.2.1
jupyter_core: 4.6.3
jupyter_client: 6.1.6
windows 10 Home

#### Description of expected behavior and the observed behavior
Slope does not draw any line when `gradient == 0`. I would expect it to draw a horizontal line. Seem funky to have to check if my gradient is near 0 an

[2020-10-01 20:02] MarcSkovMadsen commented on #10425
Parts of the code needed can be found here https://discourse.holoviz.org/t/using-scripts-inside-a-html-pane-dropzone-js/1255

[2020-10-01 20:47] bryevdv commented on #10541
Marking as GFI. For anyone interested to tackle this, this relevant function in the BokehJS source code is here:

https://github.com/bokeh/bokeh/blob/0846e8598cf06a17265203bd2471902dac11d3d5/bokehjs/src/lib/models/annotations/slope.ts#L20

[2020-10-01 23:10] bryevdv commented on #10425
@carve11 That's certainly something an app could do but it still would not bypass reading the file into the memory of the browser (it has to be loaded by the browser because JS code running in the browser is what sends it to the Bokeh server). I personally think its better in this case to keep things simple on the bokeh side. Here are the contents: you can save them, process them, display them as

[2020-10-02 10:10] alaindebecker commented on #7127
`examples/models/file/sliders.py` is working any more as of 2020-10-02.
(FireFox, Edge, Chrome)

![image](https://user-images.githubusercontent.com/2980348/94912520-1186dd00-04a8-11eb-8edf-a3224fb379a5.png)

[2020-10-02 10:33] mattpap commented on #7127
There's an open issue #10444 regarding this.

[2020-10-02 10:52] chillytaka commented on #10541
Hi, I'd like to work on this, is there something that I need to watch out for before I started ?

[2020-10-02 14:15] varianceslayer commented on #10539
@tcmetzger I wanted to contribute to this issue, quite confused which file to start with. Please suggest something. Thanks a ton!

[2020-10-02 18:05] tcmetzger commented on #10539
@varianceslayer Thank you for helping! Sorry about the confusion - I'd suggest picking a document in the User Guide to start with. All .rst files for the user guide are in the [/sphinx/source/docs/user_guide](https://github.com/bokeh/bokeh/tree/branch-2.3/sphinx/source/docs/user_guide) folder in the repo. You can work on any file you like (except for quickstart.rst and installation.rst, which I am

[2020-10-02 18:07] bryevdv commented on #10539
I was not aware of those courses, maybe those could also be linked in the dev guide docs chapter ? (if they are not already, and I just missed it)

[2020-10-02 18:10] tcmetzger commented on #10539
@bryevdv The courses are already in there, in the [Documentation style guidelines](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/dev_guide/documentation.rst#documentation-style-guidelines) section. 😃

[2020-10-03 05:05] gaurlakshya commented on #10506
Hey @tmikolajczyk  i want to work on this issue. I am a totally new to open source contribution world and i want to make a start by solving this issue.

[2020-10-04 06:07] varianceslayer commented on #10539
I am picking this file to work on
- https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/annotations.rst

[2020-10-04 23:33] ahesford commented on #10511
Commit 7a03120c49463e40a44f41521a80d4389a270281 has bitten me in a different way when using a log scale on a `vbar` plot, even when there are no zeros in the data. I'm running a Bokeh server application that initially creates an empty `vbar` plot with a `ColumnDataSource` to populate the `x` and `top` properties of the plot. Both columns are empty upon initialization of the plot, and I initialize

[2020-10-05 01:36] ahesford commented on #10511
OK, this example may not be strictly minimal, but it is basic enough and reflects my use of `vbar` in a way that demonstrates the bugs introduced with 7a03120.

The `MagViewer` creates a plot with `y_axis_type='log'` and an empty `renderers` map from a string label to a pair of `ColumnDataSource` and the `GlyphRenderer` returned by `vbar` for that data source. Each `vbar` plot uses its data source

[2020-10-05 15:10] annahadji opened #10547 "[BUG] Division element id of components can be invalid for CSS"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

python: 3.7.7
bokeh: 2.2.1
jupyter_core: 4.5.0
jupyter_client: 5.3.3
Chrome 85
macOS Catalina 10.15.7

#### Description of expected behavior and the observed behavior

In CSS, identifiers cannot start with a digit, two hyphens, or a hyphen followed by a digit (see [reference](https://www.w3.org/TR/C

[2020-10-05 15:56] mattpap commented on #10547
Adding a prefix should be sufficient.

[2020-10-05 21:32] Konntroll commented on #10539
Hi! Is it be okay if I take the chapter on Jupyter for editing?

- https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/jupyter.rst

[2020-10-05 21:44] bryevdv commented on #10539
@Konntroll Certainly, we'd love to have your contribution

[2020-10-05 21:47] tcmetzger commented on #10539
@Konntroll Absolutely, thanks a lot!

In addition to the User guide, we also always appreciate contributions to the [Developers Guide](https://docs.bokeh.org/en/latest/docs/dev_guide.html), available at https://github.com/bokeh/bokeh/tree/branch-2.3/sphinx/source/docs/dev_guide

[2020-10-06 17:19] tcmetzger opened #10551 "Missing `/y` option in windows make.bat slows down docs build"
When building the docs on a Windows system with Bokeh's `make.bat` file (e.g. `make.bat html`), Windows unnecessarily prompts the user to overwrite existing files. I believe that it is always fine to overwrite these automatically generated files, because this is the expected behaviour of `make html`.

[2020-10-06 19:44] mattpap opened #10553 "Investigate pytest 6.1* unit test failure"
[code]
results in under pytest 6.1* (works fine with 6.0):
[code]
bokeh's warning filters are correctly set in `bokeh/__init__.py`, but it looks like `warnings.filters` gets reset before tests run.

[2020-10-06 19:52] bryevdv commented on #10553
The issue with `pytest-asyncio` was that they started reseting the event loop. This seems to be a new trend. I would suggest filing an issue on the purest GH tracker.

[2020-10-07 10:24] Moldoteck commented on #10232
@bryevdv I don't know why you think that this does not make sense, because it's a valid expression, but if you want to eliminate such cases, there is a sample that can do this:

[code]

BUT, if you look here: https://developer.mozilla.org/en-US/docs/Web/CSS/margin, there is an example like>

`margin: 2px 1em 0 auto;`

So, at least moxilla thinks it is valid to set left margin with something differ

[2020-10-07 10:34] mattpap commented on #10232
`LayoutDOM.margin` has nothing to do with CSS' `margin` property.  bokeh's `margin` allows to add spacing around a box, so it works more like CSS' `padding` (though any parallels are really thin). To achieve box alignment (in particular to emulate CSS' `margin: auto`), one should use `LayoutDOM.align` (this works for children of a layout like grid, not for root components).

[2020-10-07 15:59] #10551 closed

[2020-10-07 21:12] Konntroll commented on #10539
#10556
Finished with the edit and made a draft pull request for now as I expect some feedback so I can make adjustments. Looking forward to hearing what you guys think.

@tcmetzger, thanks for the suggestion. I think I'll start with the User guide docs and we'll see how it goes :-)

[2020-10-07 23:26] bryevdv commented on #10377
Here is the full list of examples with mismatched names:
[code]

[2020-10-07 23:27] bryevdv commented on #10377
And here are all the mismatches in `sphinx/source`
[code]

[2020-10-07 23:29] bryevdv commented on #10377
assuming `show` without `output_file` behaves as expected in the docs, I would not be opposed to just removing most/all the `output_file` calls altogether.

[2020-10-07 23:52] bryevdv commented on #10408
Hrm, perhaps they are there as some sort of workaround after all. To my eye the with/without versions are different (and looks better with):

**WITHOUT**

<img width="253" alt="Screen Shot 2020-10-07 at 4 51 33 PM" src="https://user-images.githubusercontent.com/1078448/95399605-6322d380-08bd-11eb-9823-92d3f9b5d70c.png">

**WITH**

<img width="241" alt="with" src="https://user-images.githubusercont

[2020-10-08 00:17] bryevdv commented on #10408
Though it's odd that it's only repeated for the last of 3 lines each tile gets... the visual quirks are ultimately a function of the fill image tiling not joining things as nicely as a real line drawn across the entire range. I think I found a different tweek that looks better than both above with only one stroke:

<img width="690" alt="Screen Shot 2020-10-07 at 5 16 48 PM" src="https://user-image

[2020-10-08 10:25] cirnod opened #10557 "[FEATURE] DataSource with directly provided and derived series"
**Problem Description**
I would like to plot a time series and provide in the hover tooltip the absolute and relative time. The absolute time (and the data values) are provided as a ColumnDataSource to the plot. It would be nice if I could add the relative time as a "special" series derived from the absolute time (e.g. relTime = absTime - fixedOffset). [CustomJSTransform](https://docs.bokeh.org/en

[2020-10-08 14:16] MarcSkovMadsen commented on #3674
I need very much need the Dynamic DataModel.

I need it to bidirectional communication to html elements included via the Jinja Template or via https://github.com/paulopes/panel-components which is a wrapper of the Jinja Template into something much my in the style of  Dash layouts or R Shiny.

I have also requested it for Panel here https://github.com/holoviz/panel/issues/1612.

For now I don't kn

[2020-10-08 15:36] kiryph commented on #9036
@jacobseiler Where did you move? I also miss this and other things like support for arrows when drawing graphs.

[2020-10-08 16:00] bryevdv commented on #10177
Recording that this passed:

<img width="359" alt="Screen Shot 2020-10-08 at 9 00 42 AM" src="https://user-images.githubusercontent.com/1078448/95483989-c146c980-0944-11eb-9a52-7501f8563a9e.png">

[2020-10-08 16:33] bryevdv commented on #9295
Reviving this discussion, I'd like propose something that is simple or reactive or both, i.e.:

* We will guarantee to support the three latest minor versions of Python, measured from 6 months after the latest minor release  (to allow the later release some time for adoption), or
* We will follow NEP 29

[2020-10-08 16:37] bryevdv opened #10558 "BEP 9: Minimum downstream versions"
Following on from #9295 I'd like to codify our policy for tracking Python versions. I'd to propose that we reduce the burden on ourselves by adopting a policy that is either very simple, reactive to existing precedent, or both, e.g.:

* We will guarantee to support the three latest minor versions of Python, measured from 6 months after the latest minor release (to allow the later release some time

[2020-10-08 16:38] #10177 closed

[2020-10-08 16:50] bryevdv commented on #10557
@cirnod If I understand your stated need then this could be accomplished already with a [`CustomJSHover`](https://docs.bokeh.org/en/latest/docs/reference/models/tools.html?highlight=customjshover#bokeh.models.tools.CustomJSHover) that combines existing columns with either other or outside data.

If you agree this serves your use case then I think my personal position would be to close this to avoi

[2020-10-08 18:16] tcmetzger commented on #10539
In addition to [installation.rst](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/installation.rst) and [quickstart.rst](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/quickstart.rst), I'm also currently working on data.rst in the user guide (https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/data.rst).

[2020-10-08 19:32] poldavezac opened #10559 "[BUG] Modifying a tooltip may result in errors"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 2.2.1

#### Description of expected behavior and the observed behavior
Creating a tooltip with a list, then modifying the tooltip with a greater list size will lead to errors. This is because the bokehjs `_template_el` internal field is not updated when the tooltip is.

#### Complete, minimal,

[2020-10-08 21:46] mattpap commented on #10558
Given the new annual release cycle for Python, both almost equivalent (starting with 3.9). Though I would proceed with the first one, as it gives immediate indication how many versions are supported.

[2020-10-09 07:26] Konntroll commented on #10539
I'll take over layout.rst here https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/layout.rst.

[2020-10-09 11:04] harmbuisman commented on #10407
@brycepg, thanks, that is very helpful!

[2020-10-09 12:32] shantopagla commented on #10497
Please let me know what other information is required for this to be considered an open issue.

[2020-10-09 13:11] mattpap commented on #10497
Oh yeah, I forgot about this. If you could show `core/kinds` after all transformations (as an extract from the final non-minified bundle). In particular I need to know what this:
[code]
ends up being transformed to. In case of bokehjs' build, this is:
[code]
in the modern case (non interesting) and:
[code]
in the legacy case.

[2020-10-09 14:41] mattpap commented on #10408
In any case, at minimum we need a visual test to seal in this behavior.

[2020-10-09 23:03] Konntroll commented on #10539
I'll also take on bokeh.js here https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/bokehjs.rst.

[2020-10-10 19:29] virajone commented on #10376
@bryevdv  Hey, I am new to the project and would love to contribute. Mind if I pick this up ? I would really appreciate a little initial guidance :)

[2020-10-10 19:47] virajone commented on #8390
@bryevdv Hey, I would like to work on this issue. I wanted to know if any work is currently being done on this one ?

[2020-10-11 09:59] Konntroll commented on #10539
Taking over [export.rst](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/export.rst).

[2020-10-11 12:54] jiss2891 commented on #601
This is still wanted?

[2020-10-11 18:02] mattpap commented on #601
This is currently being worked on (in a broader setting) (scheduled for 2.3 release).

[2020-10-11 22:48] GenevieveBuckley commented on #8390
It's been a while since there was any discussion here so I would guess that there isn't anything currently being worked on here. I'd go right ahead and give it a go @virajone

[2020-10-12 05:26] MarcSkovMadsen commented on #3674
@mattpap . I can see you have done a pull request to solve this.

I have also create something. I guess it's different then what you have done. But you can see the details of what I need and what I have created here https://github.com/holoviz/panel/issues/1612#issuecomment-706869750

![data_models](https://user-images.githubusercontent.com/42288570/95708329-3e7f8080-0c5c-11eb-95d4-83a91b14b3b8.gif

[2020-10-12 07:48] Konntroll commented on #10539
Will also take over [graph.rst](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/graph.rst).

Unrelated to the above but relevant to some other docs:
We have sub-sections in some of the docs that start with 'Note' or 'Warning' on a separate line preceding a paragraph containing the note or warning. Would it not be better to give these words some emphasis and merge them

[2020-10-12 11:09] mattpap commented on #10539
Status of `sphinx/source/docs/user_guide`:
- [ ] ├── annotations.rst
- [ ] ├── bokehjs.rst
- [ ] ├── categorical.rst
- [ ] ├── cli.rst
- [ ] ├── compat.rst
- [ ] ├── concepts.rst
- [ ] ├── data.rst
- [ ] ├── embed.rst
- [ ] ├── export.rst
- [ ] ├── extensions_gallery
- [ ] │   ├── latex.rst
- [ ] │   ├── ticking.rst
- [ ] │   ├── tool.rst
- [ ] │   ├── widget.rst
- [ ] │   └── wrapping.rst
- [ ] ├

[2020-10-12 11:20] erezinman commented on #5497
Any update on that?

[2020-10-12 12:51] erezinman opened #10567 "Download data as a CSV"
I added a tool called `SaveDataTool` for downloading the data that's in a plot/datasource - either selected values or not.
This tool also has a formatting mechanism similar to that of the hover tool. It is, however not the same.
I also added a specialized icon for that tool.

The PR for that is [here](https://github.com/bokeh/bokeh/pull/10566).

I checked the code when it was added as a custom too

[2020-10-12 16:01] tcmetzger commented on #10539
@Konntroll I believe what you are seeing are Sphinx directives (["paragraph level markup"](https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#paragraph-level-markup)). Sphinx renders any indented text following a directive like `.. warning::` or `.. tip::` as a colored box for emphasis. So, the structure of these directives should be left intact (but you can change the tex

[2020-10-12 19:56] Konntroll commented on #10539
@tcmetzger, you are right. That's what I get for jumping between different editors. Thanks for pointing that out :-)

[2020-10-12 19:57] nils-werner commented on #10536
I think this issue arises because of a typo: `request.arguments` is defined and should run fine, only if you mistype it `request.aruments`, that's when `__getattr__()` gets called.

[2020-10-12 22:40] bryevdv opened #10569 "[FEATURE] JupyterLab 3 dynamic extension loading"
It looks like JupyterLab 3 will offer dynamic extension loading, removing the need for users to run `labextension`. This should be investigated.

ref: https://twitter.com/martinRenou/status/1315581075842838528?s=20
ref: https://github.com/jupyterlab/jupyterlab/projects/10

cc @mattpap @philippjfr

[2020-10-12 22:45] philippjfr commented on #10569
Apparently there is also a script you can run to take care of some of the updates that are required. Will have to look out for that.

[2020-10-13 09:41] erezinman opened #10570 "[BUG] Mutual exclusivity of polygon-select box-select, and others."
It is possible to have multiple active tools that have mutually-exclusive functionality. For instance, it is possible to have `box-select`,and `polygon-select`/`tap` tools activated simultaneously.
I can see why you would might want to have `tap` and `box-select`/`box-zoom` simultaneously, but not `polygon-select` and `box-select` simultaneously. It makes point-selection very difficult.
Another pr

[2020-10-13 13:09] erezinman opened #10571 "[FEATURE] Add a `PythonCallback` similar to `CustomJS`"
Add a new model to allow a python-side callback that's called from the browser. If this is possible, I didn't find any way to do that in the docs.
Note that this can also simplify the event-mechanism as there will not be longer be a need for both `on_event` and `js_on_event`.

Looking briefly on the code, I have an implementation suggestion (tell me what you think about it):
In the python side, it

[2020-10-13 13:25] philippjfr commented on #10571
Could you explain how this would be functionally any different from just using `on_event` directly?

[2020-10-13 13:37] erezinman commented on #10571
There are places where just the JS functionality is implemented. For example, the `CustomActionTool`, where only a JS action is implemented. There might be other places.
You could add a server-side implementation for the event  (for instance, call the `ButtonClick` event every time the tool is clicked), but I think that both implementations have similar complexity.

[2020-10-13 13:40] hacklschorsch opened #10572 "[FEATURE] Bokeh Python Wheel packages"
Hi all,

for creating a package of [our python application](https://github.com/Mentalab-hub/explorepy) using the excellent [Pynsist](http://pynsist.readthedocs.io/) a `.whl` (Python Wheel) package would help us greatly.

Any reason there's no wheel available? Can I create one myself? Would you be interested in this?

Thanks,

Florian

[2020-10-13 13:41] philippjfr commented on #10571
Similar complexity at the implementation level maybe, but it would be adding another mechanism for defining events which adds user-level complexity. If the proposal is to replace/unify event system that's worth discussing but I'm definitely -1 on adding another mechanism without that and on balance I'd also vote to keep the current event system.

So I'd argue that we should just add the equivalent

[2020-10-13 14:07] erezinman commented on #10571
My suggestion is just to allow a simple client2server callback that can be used throughout the system. My suggestion is not to replace the events mechanism - I simply note that it would be possible if such a callback is implemented.

Also, passing a callable as a callback is much simpler user-wise than to register to an event.

[2020-10-13 14:12] erezinman commented on #10571
Also, all the tools that have a `callback` property (there are quite a few), could be used with such a callback. I think implementing such a callback (especially if it's not complicated to do so) is the more elegant solution.

[2020-10-13 15:33] bryevdv commented on #10571
* It's more complicated, not less. You can just currently define a function and pass to `on_event` with no imports. To use some `PythonCallback` you have to: import it, define a function and configure it, or subclass is and define a method, then configure that result on the model. That is strictly always more work, not less (and more and more ways to have to document)

* This could only work with

[2020-10-13 15:37] bryevdv commented on #10572
The purpose of wheels is to make it easier to distribute packages that have compiled or platform dependent characteristics. What is the purpose of having a wheel when there is no compiled code? It seems like extra work (for us) for no gain. We upload sdists to PyPI:

https://pypi.org/project/bokeh/#files

AFAIK you could use that to build a wheel if you need one.

[2020-10-13 15:43] hacklschorsch commented on #10572
Thanks!

Wheels install faster, don't require the execution of code, and pynsist requires them for example. I tried building a wheel from bokeh, but I need a toolchain with node, npm and what not - could totally do it, but I would then also like upload my work or add to bokeh's CI to do it at release time or some such, to save others the hassle I am now going through.

My current workaround is to

[2020-10-13 15:48] bryevdv commented on #10570
The gestures that are considered mutually exclusive are delineated by the gesture sets of the gesture recognizer itself, and tap and drag are different gestures. There are definitely people who *do* want tap and drag gestures active simultaneously, so acting on this would unnecessarily prevent valid, desirable states, unless we are to make it configurable, which would add complexity and maintenanc

[2020-10-13 19:06] bryevdv commented on #10572
These are not required in principle, as the sdist ships with all the BokehJS files already pre-built and included inside. I don't know what modifications woud be required to get `bdist_wheel` to use these instead of trying to start from scratch.

I personally mostly use conda for everything, so the best chance for any movement here is for someone with more interest and experience to push this forw

[2020-10-13 19:15] bryevdv commented on #10572
@hacklschorsch did you try building the wheel *from the sdist* that I linked above? I specifically suggested building from the sdist on purpose. When I download the sdist from PyPI and run `python setup.py bdist_wheel` *from the sdist* it seems to work , and does not prompt for node or any BokehJS builds. Can you confirm the actual, exact steps that you took? (This is always advised, to prevent wa

[2020-10-13 23:16] bryevdv commented on #10540
This sounds like you want linked ranges, which is documented here:

https://docs.bokeh.org/en/latest/docs/user_guide/interaction/linking.html#linked-panning

There are a number of ways to have a first plot drive a second plot this way, and some of them are demonstrated in the docs as well:

* have a selection callback update a CDS view filter on the second plot
* have a selection callback literall

[2020-10-13 23:16] #10540 closed

[2020-10-14 00:20] bryevdv commented on #10538
@TeriForey

You need also to set the sizing mode on the `row`

[code]

[2020-10-14 00:20] #10538 closed

[2020-10-14 07:00] ItamarShDev opened #10574 "[BUG]"
I have a rect based heatmap
create on top of the following figure:
[code]

the tect is defined as follows:
[code]
Where `glyph_size` is a float representing the size in milliseconds.
The chart has a green background and paints white rect glyphs where the data frame is not NaN.

For some reason I see the following:
![8200744f7378ba06a175af90e636eb1e5bfe8cca](https://user-images.githubusercontent.co

[2020-10-14 08:34] lyijin opened #10575 "[BUG] Whiskers do not appear in categorical plots?"
#### Software version info
OS: Linux 5.6.0-2-amd64 #1 SMP Debian 5.6.14-2 (2020-06-09) x86_64 GNU/Linux
Bokeh version: 2.2.2
Python version: 3.8.6

#### Description of expected behavior and the observed behavior
I used to be able to combine whiskers into categorical plots using Bokeh 1.4.0. When I upgraded to 2.2.2, the whiskers disappeared. The plot I have in mind is a dotplot + whiskers + multi-

[2020-10-14 09:46] mattpap commented on #10575
Currently most annotations are limited to numerical axes, though it should be pretty simple to lift this restriction in `Whisker`'s case.

[2020-10-14 10:08] mattpap commented on #10574
Most likely a duplicate of #10488, but without at least bokeh version and preferably a minimal reproducible example, it's only a guess.

[2020-10-14 11:07] yportier opened #10576 "[FEATURE] 'transparent' as an alias for `rgba(0, 0, 0, 0)`"
**Is your feature request related to a problem? Please describe.**

`color=None` usually does the job at specifying 'no color' or 'fully transparent' color
However, inside mappers such as `ColorLinearMapper` for instance, setting `high_color=None` or `low_color=None` will not result in using 'no color' but will default to extending the map to higher/lower values.

**Describe the solution you'd lik

[2020-10-14 11:27] mattpap commented on #10576
`low_color`/`high_color` are defined inconsistently with the rest of bokeh, because in all other cases `None` means no color (or skip rendering). The current meaning of `None` should have been implemented under `"auto"` or something like that. Note that `none` is not a valid CSS color keyword, so perhaps `transparent` would make more sense (given that color are modeled after CSS spec), but that's

[2020-10-14 14:00] #10541 closed

[2020-10-14 15:58] bryevdv commented on #10574
@ItamarShDev just to amplify what @mattpap said: without a [Minimal Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example) including ***any data necessary to run the code***, there is no way for us to investigate, and this issue will be closed.

[2020-10-14 16:02] bryevdv commented on #10576
I'm not opposed to changing this in the way described but it would have to be at Bokeh 3.0 since it is a breaking change.

[2020-10-14 18:26] gaurlakshya commented on #10465
Hey @pavithraes
I want to work on this issue. Will you please tell me that how can i start
and what is the exact file location in which i have to make changes.

[2020-10-14 19:59] bryevdv commented on #10488
This should have gone in to 2.2.2 but unfortunately was neglected. We will need to see how far out 2.3 is or if we need to cut a 2.2.3 since this a a fairly annoying bug for anyone using rects with datetimes

[2020-10-14 20:39] #10575 closed

[2020-10-15 16:53] cirnod commented on #10557
Thank you for the hint with CustomJSHover. I tested it with bokeh 2.2.2 and  2.3.0.dev1. Unfortunately, it seems that CustomJSHover does not completely satisfy my use case. As far as I see, it allows to format a given series only with one formatter (simple numeric or custom). In my use case I would need to add the same series twice, once with a simple numeric formatter and a second time with a cus

[2020-10-15 20:12] Konntroll commented on #10539
Taking over [categorical.rst](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/categorical.rst).

[2020-10-15 22:14] bryevdv commented on #10557
@cirnod I think you have some misconceptions about `CustomJSHover` however I would consider resolving this to be a support question, so I would ask that you make a new topic on the community discourse and that we continue there:

https://discourse.bokeh.org/

Please provide a minimal complete example as a basis for the question, as discussions without real code can become unfocused.

[2020-10-15 22:14] #10557 closed

[2020-10-15 22:21] #10218 closed

[2020-10-15 23:51] AjayThorve commented on #10276
Hey @nghenzi, sorry I missed this message, this seems like a perfect fit for panel(and I'm glad it already is merged in panel). Great work, looking forward to using it!

[2020-10-16 01:37] bryevdv commented on #10571
FYI I will go ahead and close this with `noaction` if others feel strongly please make a case to re-open

[2020-10-16 01:37] #10571 closed

[2020-10-16 01:40] bryevdv commented on #10570
@erezinman would a "single active tool" mode described above satisfy your concerns? If so, I will promote this to `type: feature` indicating that it work that is *intended to be done*.  But if you don't think that solution is valuable, I will probably close this for not having any champion.

[2020-10-16 01:41] bryevdv commented on #10574
I am going to assume this is a duplicate and close. @ItamarShDev if you can provide an MRE that demonstrates this is a different issue than #10488 we can re-open.

[2020-10-16 01:41] #10574 closed

[2020-10-16 01:42] bryevdv commented on #10572
@hacklschorsch will you be able to test wheel generation with the published sdist?

[2020-10-16 02:02] bryevdv commented on #10558
FYI NEP 29 suggests this for projects:

However, since NEP 29 was adopted, Python has moved from an 18 month cadence to a 12 month cadence, so adopting NEP as-is is more like 4 Python versions. So I agree that "number of versions" is simpler and clearer, and propose:

Do we want also to make statements about Numpy? Two observations:

* We have this far been *extremely* conservative in supporting p

[2020-10-16 02:17] bryevdv commented on #10558
I've gone ahead and started the draft here:

https://github.com/bokeh/bokeh/wiki/BEP-9:-Downstream-Version-Support

[2020-10-16 04:39] rdzudzar opened #10580 "TypeError: The numpy boolean negative, the `-` operator, is not supported, use the `~` operator or the logical_not function instead."
Bokeh version 2.1.1
Numpy version 1.19.2

When plotting hex_tiles and having one array with numbers and another that is boolean I'm getting Type Error:

[code]
Code:

[code]
While changing one True/False to a numper the hexbin is shown.

Expected:
When the `~` operator is placed: hexbin will plot True as 1 and False as 0.

[2020-10-16 04:51] bryevdv commented on #10580
@rdzudzar `hexbin` is intended only to operate on floating point coordinates. If you have some other inputs you will need to convert to a floating point array first (however is appropriate for you use case)

[2020-10-16 04:51] #10580 closed

[2020-10-16 08:14] p-himik opened #10581 "[BUG] Outdated example for CustomJSHover"
https://docs.bokeh.org/en/latest/docs/reference/models/tools.html?highlight=customjshover#bokeh.models.tools.CustomJSHover

It says to use `formatters=dict(y=lat_custom)`. But it should be `formatters={'@y': lat_custom}`, according to https://docs.bokeh.org/en/latest/docs/releases.html#hovertool-formatters-specification

[2020-10-16 10:38] afonsobspinto opened #10582 "[FEATURE] Heatmap limit visible rows"
**Is your feature request related to a problem?**
I was trying to create a heatmap from a dataframe which contains around 10 columns and 300 rows.
I followed [this example](https://docs.bokeh.org/en/latest/docs/gallery/unemployment.html) and I will be using it to further explain my question.
My goal is to limit the user to only see a restricted amount of rows but, at the same time, still be able t

[2020-10-16 11:29] jlstevens opened #10583 "The empty_value property of EditTools needs generalizing"
The `EditTool` models have an [empty_value property](https://github.com/bokeh/bokeh/blob/branch-2.3/bokeh/models/tools.py#L1222) that inserts a given value into a CDS when a new glyph is inserted.

This works fine when you only need a new value for a single column (in the property docstring example this single column is 'color') but these tools should allow the insertion of new values for multiple

[2020-10-16 11:44] ItamarShDev commented on #10574
Thank you @bryevdv.
It does seems like a duplicate of #10488

[2020-10-16 11:47] ItamarShDev commented on #10574
BTW, for future reference, i shifted to use `quad` with a distinctive left right values, which made it correct, and even faster on larger data sets.

Thanks you all for the responses

[2020-10-16 11:50] ItamarShDev commented on #10488
@bryevdv thank you.

This bug have almost created false positives in my company's data science team.

[2020-10-16 11:50] tarun1992 opened #10584 "[BUG] sizing_mode responsiveness issue when rendering two grapghs in a single row"
We are rendering the graph from python to Angular using bokeh js embed.

When rendering two graphs in a row and if use sizing_mode = "scale_both". Our goal is to make the graphs responsive to the front-end UI.

Expected behavior: The embedded graphs should appear responsive.
Current behavior: The graphs expand the available width and two graphs are very big on the UI.

In the below screenshot, the

[2020-10-16 16:12] hacklschorsch commented on #10572
Yes, should be easy enough. Sorry for letting you wait. Will do it on the weekend.

[2020-10-16 19:12] bryevdv commented on #10584
@tarun1992 please provide a complete [Minimal Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example) that can actually be run and investigated.

[2020-10-16 19:13] mattpap commented on #10584
Based on the given information, this may be a bug or a feature. We will need to know who exactly you embed those plots, i.e. is there a bokeh layout, or else what kind of CSS layout is being used, is there a custom template, etc. `scale_both` sizing mode means that plots (or layouts in general) will expand into available space in both directions (if used, aspect matching may distort things). If yo

[2020-10-16 19:16] mattpap commented on #10488
If your company depends on bokeh that much, you may want to consider donating towards development of this project, so that we could hire developers to help with expanding our test suite and reduce the number of, especially such severe, regressions in future.

[2020-10-16 19:19] mattpap commented on #10488
Yeah, it should have. The overcrowded milestone helped with getting this slip through. I would consider pushing 2.2.3, as 2.3 is weeks away even if code freeze was scheduled soon, unless 2.3-dev is good enough.

[2020-10-16 19:36] bryevdv commented on #10582
It's not possible to make `start` and `end` writable because their values are *derived quantities*. Specifically they report the synthetic coordinate bounds that are computed *in the browser*, taking in to account any group or subgroup padding, as well as other things. Even if they could be made settable, choosing "correct" values for them would be a trial-and-error guessing game, since the relati

[2020-10-16 19:39] bryevdv commented on #10582
I'll add, if we limit this to only setting the initial state then this could probably be a "Good First Issue" since it would be a much more self-contained change.

[2020-10-16 19:42] bryevdv commented on #10488
OK, I will work on 2.2.3 this weekend (and try to move the dial on more release automation, I have just been personally stuck on getting started on that...)

[2020-10-16 19:45] tarun1992 commented on #10584
Thank you for your response. Basically, we have a requirement in which we have to show two graphs in a row, and to achieve this we are sending a response from python to angular via restful API.
Frontend code -
HTML -
`<div style="display: flex;">
<div [id]="id0"></div>
<div [id]="id0"></div>
</div>`

Typescript -
`fetch(url)
.subscribe(()=>{
Bokeh.embed.embed_item(id0);
Bokeh.embed.embed_item(id1)

[2020-10-16 19:47] bryevdv opened #10585 "2.2.3 Release"
@mattpap and I have both agreed that a 2.2.3 is warranted to get https://github.com/bokeh/bokeh/pull/10513 pushed out. I can make the release this weekend but need to know what else should go in this milestone. @mattpap can you create the milestone and add what you think should go in?

cc @bokeh/core comment below to propose any issues/PRs you think need to go in 2.2.3

[2020-10-16 19:47] p-himik commented on #10582
Regarding the [1] note above - we can make it work with two things:
- A construction-time argument `factor_slice` that's not reflected by any "real" property
- A run-time setter `set_factor_slice()`
To avoid having to invent new property types, it can be just a pseudo-private property that starts with `_` and is explicitly documented as being private.

[2020-10-16 19:56] mattpap commented on #10585
Sure. I will go ahead and backport the offending PR as well.

[2020-10-16 20:07] bryevdv commented on #10582
Private property is possibly an option. We don't have much history or experience using them, and we also definitely don't have much history with function API like `set_foo(...)`. My personal concern with that is that people might become (more) confused about JS/Python boundary or standalone vs server usage, and expect that calling the function will work in situations where it can't work.

[2020-10-16 20:20] p-himik commented on #10582
What are such situations, where it cannot work?
It should work with `bokeh serve` just fine. And it should work when generating standalone documents as well, if called before the call to `show`.

[2020-10-16 21:43] bryevdv commented on #10585
Habits die hard. I just realize this is exactly what we proposed *not* to do. So rather: Put in anything you backport yourself, and propose thigns to backport here in the issue (milestone should be updated *after* backports)

[2020-10-17 10:10] mattpap commented on #10583
I suppose we could go a step further and ask what should be the default values for a data set's columns. Then `empty_value` would become an override to adjust the settings for the particular tool.

[2020-10-17 12:34] mvashishth commented on #10581
Hi. I can take up the issue if that is fine.

[2020-10-17 12:37] p-himik commented on #10581
Of course!

[2020-10-17 14:33] mvashishth commented on #10581
Can you please point me to the repo that has the docs website?

[2020-10-17 14:35] p-himik commented on #10581
Most of the documentation is done via docstrings.
The particular line in question is here: https://github.com/bokeh/bokeh/blob/branch-2.3/bokeh/models/tools.py#L900

[2020-10-17 15:55] mvashishth commented on #10581
Are there any standards for making a pull request?

[2020-10-17 21:10] #10581 closed

[2020-10-18 06:35] mvashishth commented on #10547
Hi. Is anyone working on this?

[2020-10-18 07:48] mvashishth commented on #10505
Can I work on this?

[2020-10-18 11:09] mattpap commented on #10505
See "linked pull requests".

[2020-10-18 12:02] mvashishth commented on #10505
Apologies, didn't see that. I'll look for some other issue to work on.

[2020-10-18 13:02] MarcSkovMadsen commented on #10505
@mvashishth . Feel free to give the linked pull request an iteration. I am not aware of anything missing. But it’s not been accepted yet. So maybe there is something missing.

[2020-10-18 14:02] mvashishth commented on #10505
@MarcSkovMadsen Can you please tell me where exactly this feature is required and how does it work?

[2020-10-19 11:47] mvashishth commented on #10490
Hi. Is anyone working on this?

[2020-10-19 18:19] bryevdv commented on #10585
Marking this as `discussion` fow so that it does not end up in changelog. In the future I'd be fine with discussion+backports tag, or adjusting the changelog script to no include these somehow.

[2020-10-19 18:26] #10585 closed