[2020-03-10 03:36] bryevdv commented on #9767
@jaseuts There have been two major-number bumps since 0.12.6, is a valid place for breaking changes to be introduced. Even if it did work in 0.12.6 it's not any guaranteed reason it must for for 2.0

[2020-03-10 03:52] jaseuts commented on #9767
Thanks, @bryevdv. I can understand what you are coming from. Appreciated your help. Cheers.

[2020-03-10 04:27] bryevdv commented on #9767
All that said, if you can provide a *complete, minimal, self-contained example* I am still happy to take a look.

[2020-03-10 04:34] jaseuts commented on #9767
Thanks for your offer, @bryevdv , but I'm not sure what you meant by _self-contained_ example. This is all I have (saved as .txt instead of .ipynb for uploading)
[bokeh problem.txt](https://github.com/bokeh/bokeh/files/4310250/bokeh.problem.txt)

[2020-03-10 04:42] bryevdv commented on #9767
I mean something I can personally run, because it has everything necessary. As I mentioned before, I can't runtime notebook code above because it uses a data file file that I don't have. You could rework the code to use synthetic or fake data so that other people can run it.

[2020-03-10 04:55] jaseuts commented on #9767
Oh, I see. I downloaded the data from here https://assets.datacamp.com/production/repositories/401/datasets/5aae6591ddd4819dec17e562f206b7840a272151/literacy_birth_rate.csv.
Alternatively I copy the whole thing from that website as below:
[code]

[2020-03-10 06:09] Jacob-Barhak opened #9769 "[FEATURE] Warnings should be reported for custom hover tool"
The code below attempts to create a custom hover tool using Holoviews.

However, this code is not successful and the custom function has no effect.

[code]
To fix this and let MyCustom function to execute, there is a need to do two changes in the Hover tool that are commented out in the code. When running the current ode, there is no error or warning message explaining what is wrong, yet instead o

[2020-03-10 09:39] maeglin89273 opened #9770 "[BUG] Cannot receive on_change event of ColumnDataSource in DataTable"
**Software version info**
bokeh 2.0.0
chrome 80.0.3987.132 (Official Build) (64-bit)
ubuntu 19.10

**Description of expected behavior and the observed behavior**
Context:
- An on_change('data', callback) is registered on the ColumnDataSource which is attached to a DataTable
- An on_change('indices', callback) is registered on the "selected" field of a ColumnDataSource which is attached to a DataTa

[2020-03-10 17:42] mattpap opened #9771 "Recent changes that require visual testing"
When PR #9624 is finalized, the following need to be tested:

- [x] #9703
- [x] #9724
- [x] #9522

[2020-03-10 17:42] bryevdv commented on #9765
Why `wontfix` ? That indicates a decision on our part. This is not something we could fix, even if we wanted to. I'd suggest if this needs a reso at all that `noaction` is the most appropriate.

[2020-03-10 20:02] fdw commented on #8970
Unfortunately, I haven't found the time, and have since then also migrated away from Bokeh. So if someone still wants to do this, feel free.
If not, you can also close this ticket.

Thanks for your help and Bokeh!

[2020-03-10 20:38] bryevdv commented on #8970
Absent other input I will close for now

[2020-03-10 20:38] #8970 closed

[2020-03-10 20:57] bryevdv commented on #9770
@maeglin89273 your code works for me if I change to pass `source` directly to `DataTable`:
[code]

It should work the way you have it too, and I am not sure why it does not, but hopefully this is an immediate solution for you.

[2020-03-11 01:09] maeglin89273 commented on #9770
Thanks, @bryevdv ! I didn't aware I can set the source and columns in the constructor. It really solves my problem.

[2020-03-11 01:57] bryevdv commented on #9770
@maeglin89273 FYI in general, every typed property on any bokeh object can always be configured in the initializer.

[2020-03-11 02:41] #9491 closed

[2020-03-11 02:46] bryevdv commented on #9496
Closing due to inactivity

[2020-03-11 02:46] #9496 closed

[2020-03-11 02:50] bryevdv commented on #9575
just documenting the run id is now available if we need it

https://github.community/t5/GitHub-Actions/Getting-the-run-id-of-a-run-in-Github-Actions/m-p/45658#M6302

[2020-03-11 03:10] bryevdv commented on #9770
OK, the custom initializer on the base class is the problem:
[code]
If `source` is not passed during init, then `self.source` is None and that certainly will break `CDSView`. So, options:

* require `source` to be passed in init (raise an exception if not)
* don't configure a default `CDSView` if `source` is not passed in init
* always create an unconfigured `CDSView` and defer "wiring it up" unti

[2020-03-11 03:33] bryevdv commented on #9770
@mattpap for reference this solves the issue:
[code]
Would you be in favor of this approach to get rid of initializers on models more generally?

[2020-03-11 19:11] bryevdv opened #9772 "IPywidgets examples"
Need at least the following examples

* server example with basic sliders, etc
* server example with ipyvolume
* server example with ipyleaflet
* notebook example with bokeh plot in ipywidgets layotut

maybe best under a `howto/ipywidgets` directory?

@mattpap for the last I am basing on my understanding that that direction is also now possible. Can you point to some example code for how to do tha

[2020-03-12 15:03] bryevdv commented on #8397
@jakirkham t seems that some browsers may behave differently regarding CORS origin when viewing a local file. Chrome e.g. seems like it will refuse to load stating the origin is `null` Since we have no way of knowing if Bokeh content is being used in a page that is served, or viewed from a local file, and since viewing from a local file needs to to work, we may have no choice but to switch the new

[2020-03-12 17:05] jakirkham commented on #8397
Yeah that seems sensible.

[2020-03-12 17:16] bryevdv opened #9773 "[BUG] Potential Chrome CORS problem with local output"
cc @jakirkham @canavandl @martey

Under certain circumstances, loading local HTML  Bokeh output can result in the error:

The circumstance is this: BokehJS was previously first loaded from CDN *without*  SRI/crossorigin attributes on the script tag, and then subsequently later, was loaded with them present. Evidently Chrome uses the cached headers and decides there is a mismatch. Steps to repro:

[2020-03-12 17:54] bryevdv commented on #8397
well check out more details on #9773 I'm now not actually sure that might not make things worse :)

[2020-03-12 17:57] jakirkham commented on #8397
Ah ok. Will follow along there 🙂

[2020-03-12 18:15] hahnd opened #9774 "[FEATURE] Dynamically positioned stacked bar chart segments"
One feature in bokeh allows a user to click on the legend to toggle visibility of categorical data.  When hiding a category in a stacked bar chart, the bar segments disappear as expected, however it would be nice to have the remaining bar segments change their position, slide over, so there are no gaps left in the plot.

The attached file is a sample that will plot a horizontal stacked bar chart.

[2020-03-12 18:32] hyles-lineata commented on #9773
Results of testing across browsers:
- Error prevents loading in Chrome (used 80.0.3987.132) and Brave (used 1.4.96)
- No error present in Firefox (73.0.1) and Safari (used 13.0.5)

[2020-03-12 18:38] bryevdv commented on #9774
I think this would be a great feature to have but it will require some investigation and thought. Currently the `Stack` transform is only configured with column names, it does not have any way to know which column corresponds to a glyph in order to check visibility. Some offhand ideas:

* could add optional additional proeprty to specify a corresponding list of glyphs. Ugly bit here is having to c

[2020-03-12 19:10] bryevdv commented on #9773
@hyles-lineata also reoprted on zulip that  in the steps above, viewing with `crossorigin="anonymous"` (but no `integrity` hash) then viewing again with the has *does* work. So I think my proposal is this:

* update `autoload_static` to apply crossorigin/SRI (should be done anyway)
* update all docs that demo manual script tags (e.g. to put in Flask template) to include a `crossorigin` attr as wel

[2020-03-13 17:57] bryevdv commented on #9772
@mattpap it would be very helpful and appreciated if you could take one hour and provide 1 or 2 of the examples above so I can point users asking how to actually use this feature, at something concrete

[2020-03-13 20:15] jrbourbeau opened #9775 "[BUG] Always setting asyncio event loop policy"
Currently, for Python 3.8+ on Windows we're always setting the event loop policy to ensure that the policy used is compatible with tornado (xref https://github.com/tornadoweb/tornado/issues/2608):

https://github.com/bokeh/bokeh/blob/dea6ca42135c0402fa4f24fa502b58fce288e067/bokeh/server/tornado.py#L689-L692

However, this can interact poorly with other applications that use `bokeh` but also need t

[2020-03-14 01:03] #9775 closed

[2020-03-14 11:39] OriolAbril opened #9778 "Incorrect guidance on installing additional dependencies for export() functions"
Release 2.0.0 has changed the guidance on [additional dependencies to export plots](http://docs.bokeh.org/en/2.0.0/docs/user_guide/export.html#additional-dependencies) as png, svg... It currently states that the extra dependencies can be installed via conda using:

    conda install selenium geckodriver firefox

However, of the 3 packages, only [selenium](https://anaconda.org/search?q=selenium) is

[2020-03-14 19:14] mattpap commented on #9778
Yes, please submit a PR. This seems to be a purely documentation issue:
[code]

[2020-03-14 19:16] bryevdv commented on #9778
@OriolAbril Yes a PR would be great. I would suggest we should make it clear that conda installing (from conda-forge) is *one* way to install these. But note that they can be installed by other means as well, and that is ok.

[2020-03-14 22:28] maximlt opened #9779 "[BUG] Bokeh JS error while running a panel app"
I tried to run the Param

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Windows 10 / Firefox + Chrome
[code]

#### Description of expected behavior and the observed behavior

#### Complete, minimal, self-contained example code that reproduces the issue

The code I tried comes from the panel website and can be found [here](https://panel.holoviz.

[2020-03-14 22:32] bryevdv commented on #9779
@maxalbert Panel is not maintained by the Bokeh project. You should file this issue on their issue tracker, not here.

https://github.com/holoviz/panel

[2020-03-14 22:32] #9779 closed

[2020-03-14 22:43] maximlt commented on #9779
Hi @bryevdv

Thanks for your quick reply!
I actually filed quite a similar issue there and was hinted that it could come from Bokeh (see https://github.com/holoviz/panel/issues/1148#issuecomment-598415701).
So I don't really know what to do sorry :(

[2020-03-14 23:19] bryevdv commented on #9779
@maximlt Based on that comment, the panel devs will need to perform an investigation and (possibly, if it's indeed an issue here) file an issue here themselves, once they have figured things out. But they are the ones familiar with panel (not us) so they will need to be the ones to do the investigating.

[2020-03-14 23:20] bryevdv commented on #9779
Alternatively: If you can reproduce this in a pure Bokeh code sample, we can look at it directly.

[2020-03-15 00:06] #9581 closed

[2020-03-15 15:22] p-himik commented on #8862
An alternative, more lightweight, workaround:
[code]

[2020-03-15 15:26] p-himik commented on #9522
An even smaller example:
[code]

[2020-03-15 22:34] Tekaichi commented on #9329
The simplest/quickest solution would be adding something like the following for each .py in the sampledata folder ?
Should I also add the files inside _data?
[code]
Right now, I'm just going for the first solution but would like to explore the second one later.

[2020-03-15 23:42] #9778 closed

[2020-03-15 23:48] bryevdv commented on #9329
@Tekaichi All of the files in `_data` are accessed via one of the Python modules in `bokeh.sampledata`, so I think it suffices to just add the docstrings to the modules. Just to be clear up front: the bulk of the work here is adding all the docstrings. Ideally each data docstring should describe the format of the data variables in the module, provide provenance information (where known), have some

[2020-03-16 08:51] p-himik opened #9783 "[FEATURE] Expose `_known_tools` and `_tool_from_string` to allow reuse"
Right now, `_known_tools` from `bokehjs/src/lib/api/plotting.ts` cannot be used outside of BokehJS and `_tool_from_string` is private within `bokeh/plotting/_tools.py`.
That means that if a user wants to add a tool with default parameters on an existing instance of `Figure`, they will have to dig its definition in the Bokeh(JS) sources and copy it over to their codebase.
It would be useful to be a

[2020-03-16 10:21] mattpap commented on #9783
This is a nice idea. I would just implement this as a static method on `Tool` class.

[2020-03-16 10:31] p-himik opened #9784 "[BUG] `SelectionGeometry` has incomplete type of `geometry`"
Bokeh 2.0.0

This issue is just to reflect this [`// XXX: Geometry & something`](https://github.com/bokeh/bokeh/blob/e8b22ef161bae542ca06fe77cb12129ca7e3d870/bokehjs/src/lib/models/tools/gestures/select_tool.ts#L78)

Right now, `SelectionGeometry.geometry` has type [`Geometry`](https://github.com/bokeh/bokeh/blob/46da2bc7f8a445760df92abc3c70362985ca5ac4/bokehjs/src/lib/core/geometry.ts#L28). The i

[2020-03-16 13:13] jgehrcke commented on #6517
Hey. I came to second this, and want to link to https://github.com/matplotlib/matplotlib/issues/10369 and https://github.com/matplotlib/matplotlib/issues/7008 and in particular to https://github.com/matplotlib/matplotlib/issues/7008#issuecomment-595607778 for reference!

[2020-03-16 15:15] #9522 closed

[2020-03-16 15:47] kverstae commented on #8499
Is there any update on this 'new' feature? This would help solve the problems I explained here:
https://discourse.bokeh.org/t/question-about-standalone-bokeh-server-implementation-websockets/4920/10

[2020-03-16 20:11] kumaran-14 commented on #9458
@bryevdv 0.5 was too small. So I increased that to 2.5. This works for me. Could you try out this and let me know. If it is, I can proceed to make a pr.
[code]

[2020-03-17 18:20] bryevdv commented on #9773
FYI have re-publishes the 2.0.0 docs manually using the current master in order to mitigate this issue until a new release can be made (hopefully next week at latest)

[2020-03-17 19:22] bryevdv opened #9787 "Some CDN links in docs still show http"
Esp under "Installation". Should expand mention of using SRI hashes.

[2020-03-17 21:36] #9783 closed

[2020-03-17 21:38] #9784 closed

[2020-03-18 08:59] mangecoeur opened #9788 "Compression of data embedded in html/notebooks"
I found that using Bokeh via hvplot with embedding data into the notebook (`dynamic=False` option) is a good way to share interactive plots with people. However the files quickly get very large, especially with gridded (image) plots - if you have a few dimensions there are a lot of images and the file can quickly get >100mb. But they do compress very well with zip (I guess because it's image data)

[2020-03-18 13:58] philippjfr commented on #9788
Supporting compression of the embedded base64 encoded data certainly seems something that could be done easily enough.

[2020-03-18 20:23] bryevdv commented on #9458
@kumaran-14 It's usually advised to just make a PR. At this stage that is an easier place to collaborate (the reason I did not see this before is that there are many many issues and it's easy for issue comments to get lost, that's much less likely with PRs since there are usually not that many open)

Offhand, I might believe 0.5 is too small, but 2.5 seems too big. Did you try intermediate values,

[2020-03-18 20:26] kumaran-14 commented on #9458
@bryevdv yes. I did try 1. It was kind of hard to detect a hit. Even with 2.5 it's still hard to detect. But I think it is reasonable now.

[2020-03-18 20:28] bryevdv commented on #9458
OK well  let's make a PR and go from there (there other reason to make a PR earlier is that it is *much easier* for other people to try out a PR)

[2020-03-19 22:25] #9724 closed

[2020-03-20 00:40] bryevdv opened #9792 "Rich Previews for Docs"
The Bokeh Documentation (and other properties) could benefit from the addition of metadata such a [OpenGraph](https://ogp.me/) and [Structured Data](https://developers.google.com/search/docs/guides/intro-structured-data). Adding these would afford rich previews on many common social media sites, forums, and Google search results. The task is to first add metadata manually to small sites such as [b

[2020-03-20 08:57] chrisbarber opened #9793 "wrong links in bokeh embed example readme"
repro: just run the example and try the links.

https://github.com/bokeh/bokeh/blob/master/examples/howto/server_embed/django_embed/README.md

[2020-03-20 11:58] asodeur opened #9795 "DataTable does not show in JupyterLab"
## Description

`bokeh.DataTable` does not show in Jupyterlab (tried my luck on the JupyterLab [issue tracker](https://github.com/jupyterlab/jupyterlab/issues/8049) already).

## Reproduce
Run the following code in a JupyterLab notebook
[code]

## Expected behavior

Should display a table like the one you get in the HTML file produced when you change the output in the above code by
[code]

## Cont

[2020-03-20 13:24] mattpap opened #9796 "Autoload JS in notebook broken after PR #9777"
Autoload JS produces code like:
[code]
in the notebook, due to lack of hashes dict being passed to the template. Could have been avoided if `bundle.hashes` was used instead of passing `hashes` independently and duplicating data.

[2020-03-20 13:29] mattpap opened #9797 "Configure codebase tests with `git ls-files`"
Otherwise I get lot of unrelated errors in temporary files.

[2020-03-20 13:54] mattpap commented on #9795
Can't reproduce this with any kind of resources on Linux. Maybe this is a Windows specific issue.

[2020-03-20 15:48] asodeur commented on #9795
Tried the [binder](https://mybinder.org/v2/gh/jupyterlab/jupyterlab-demo/master?urlpath=lab/tree/demo) on JupyterLab's github page and that produced another error on first start but worked after the second attempt (error in the JS console was something like: Invalid model DataTable).

The obvious difference is the JupyterLab binder says `BokehJS 2.0.0 successfully loaded.` while on my computer it

[2020-03-20 15:48] #9795 closed

[2020-03-20 15:49] bryevdv commented on #9795
Also working for me on OS X:

<img width="705" alt="Screen Shot 2020-03-20 at 8 48 44 AM" src="https://user-images.githubusercontent.com/1078448/77180775-a46da600-6a87-11ea-9e79-8cae33a3576d.png">

@asodeur do you have the Bokeh Jupyter extension installed?

[2020-03-20 15:50] #9796 closed

[2020-03-20 15:53] asodeur commented on #9795
@bryevdv  Yes, Bokeh Jupyter extension is installed. By now I realized BokehJS 1.4.0 gets mixed with 2.0.0 somehow. Looks like my installation is broken.

[2020-03-21 02:30] #9797 closed

[2020-03-21 02:43] bryevdv commented on #9793
@philippjfr @mattpap This example seems to assume the examples are installed under site-packages?

That was due to an obscure early conda package feature that I believe nothing other than bokeh ever used (literally). I removed it for 2.0 to make packages much smaller.

[2020-03-21 18:37] AndreM96 opened #9805 "Dev_guide update"
Reading the documentation I noticed that  BEP 2 is referenced in the [dev guide](https://docs.bokeh.org/en/latest/docs/dev_guide.html), however this proposal was [retired](https://github.com/bokeh/bokeh/wiki/BEP-2:-Release-Management) last year.

This issue was discussed also [here](https://discourse.bokeh.org/t/documentation-enhancement-proposal-2/4942).

[2020-03-21 23:14] #9805 closed

[2020-03-22 19:20] #9458 closed

[2020-03-22 20:19] bryevdv commented on #9767
Here is a drastically more minimal example:

<img width="497" alt="Screen Shot 2020-03-22 at 1 16 57 PM" src="https://user-images.githubusercontent.com/1078448/77259555-7a5ee400-6c3f-11ea-8dfa-ce9c51937509.png">

@jaseuts just for future FYI: this is the kind of thing that maintainers really need when they ask for a *minimal, reproducing, example*. OSS is a collaboration, and users need to put in

[2020-03-22 20:23] bryevdv commented on #9767
FWIW I don't think this is common in real-world usage:

* `output_file` in notebooks is not common
* re-using the same plot is not common

Accordingly I would not say this is a very high priority to address.

Offhand, there is probably an issue with `OutputDocumentFor`. It is supposed to "re-home" any models temporarily in a new document so that exactly this error does not occur. It's supposed to

[2020-03-23 13:22] toichiserada opened #9810 "[BUG] Rendernames ar not allowed to have special characters like ' ', ':', '/', '(', etc. when using HoverTool."
Hi everyone,

if the names of entrys in data include special characters like ' ', ':', '/', '(', etc. HoverTool is displaying '???' instead of the total number of fruit counts. See code example. Year 2015 and 2016 wont show the total number of fruit counts and 2017 the total number is shown.

[code]

[2020-03-23 14:47] philippjfr commented on #9810
As described [here](https://docs.bokeh.org/en/latest/docs/user_guide/tools.html#basic-tooltips) in the docs:

So you have to add curly brackets around your column name:

[code]

[2020-03-23 14:47] #9810 closed

[2020-03-23 17:33] hdoupe opened #9812 "Load multiple versions of Bokeh into a single web page"
**Is your feature request related to a problem? Please describe.**

I maintain an open-source webapp [[link]](https://compute.studio/PSLmodels/Tax-Cruncher/333/) where you can run models and archive the results from your model runs. Many of the archived results are bokeh plots. I need a way to render archived Bokeh plots that were created with Bokeh version 1.4.0 or earlier, and I need to render n

[2020-03-23 18:29] mattpap commented on #9812
This would be a useful feature, but this proposal would make it usable only from bokehjs. It would be better to have this work in general across all bokeh's embedding types. I've been contemplating a solution where only the first instance would store `global.Bokeh` and all instances would store `global.Bokeh[version]`. This would be done on bokeh's bundle logic level, and should cover all cases. T

[2020-03-23 22:08] hdoupe commented on #9812
@mattpap Thanks for your reply! So I can get up to speed, what are the other embedding types?

For my use case, does this mean that I could access version 2.0 at `window.Bokeh["2.0.0"]`? Would the additional bokeh instances store a reference to themselves at `window.Bokeh["x.y.z"]`?

I'm pretty new to javascript. Can you elaborate a little more on what it means to do this at the bundle level?

[2020-03-24 00:44] mrocklin opened #9813 "[FEATURE] Compose Bokeh server with other Tornado HTTP Servers"
So I have an application that has a tornado.web.HTTPServer .  I would love to run my Bokeh application on this web server, rather than have two different servers running on two different ports.

Currently Bokeh creates a Tornado HTTPServer within the `bokeh.server.server.Server` class, which takes in a set of `http_server_kwargs`, and then makes it's own server.  It would be swell if it could opti

[2020-03-24 13:44] chrisbarber opened #9814 "[BUG] 'bokeh.server.django' ignores &bokeh-session-id url parameter"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

bokeh 2.0.0
django 3.0.4
channels 2.4.0
python 3.6.8

#### Description of expected behavior and the observed behavior

I was expecting `&bokeh-session-id=` GET param to work when embedding bokeh into django using the bokeh-provided `bokeh.server.django` django-app, but it ignores it. My project depe

[2020-03-24 20:44] jeremy9959 opened #9816 "[DOCUMENTATION] The developers guide uses old syntax for py.test in pre-commit hook."
See [the developers guide setup instructions](sphinx/source/docs/dev_guide/setup.rst) where it says
of the git precommit hook:

[code]

The instructions should say:

[code]

There is also a tiny typo (turorial instead of tutorial) in the preceeding paragraph.

[2020-03-25 01:15] #9814 closed

[2020-03-25 07:05] arihans commented on #9684
@bryevdv what is `_bokeh_timeout` ? I searched for it but didn't found any declaration .

[code]

[2020-03-25 14:37] mattpap opened #9820 "Deprecation warnings after PR #9807"
E.g. running bokeh server shows:
[code]
All references to `.regex` module within bokeh should have been updated in PR #9807.

[2020-03-25 14:37] mattpap commented on #9820
@ayushiitr2901 please submit a follow up PR to fix this.

[2020-03-25 15:26] bryevdv commented on #9820
More generally, everything should really only ever import from the top level `bokeh.properties` and not from sub-modules (which I thought was already the case but should have suggested to check)

[2020-03-25 16:13] jrbourbeau opened #9821 "[BUG] Version 2.0 release notes date"
From https://docs.bokeh.org/en/latest/docs/releases.html#release-2-0-0:

[2020-03-25 16:21] ayushiitr2901 commented on #9820
I think to find and updating all references to the `.regex `module with `.string` would solve the issue. Should I continue with the same? Or we can update the files to call regex from `bokeh.properties` rather than calling the sub-module directly.

[2020-03-25 16:28] ayushiitr2901 commented on #9820
The only files causing the error are `bokeh/core/property/color.py` and `bokeh/core/property/visual.py`, both in the properties folder itself. I think calling to` string `module directly would be better.

[2020-03-25 17:21] #9821 closed

[2020-03-25 17:57] barentsen opened #9823 "[BUG] Bokeh 2.0.0 no longer accepts a `selected` argument in the `ColumnDataSource` constructor"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

bokeh=2.0.0
python=3.6.8
OS=macOS 10.14.6

#### Description of expected behavior and the observed behavior

As of Bokeh 2.0.0, calling the constructor of `ColumnDataSource` with a
 value for the `selected` argument yields a `RuntimeError: ColumnDataSource.selected is a readonly property`.

I underst

[2020-03-25 18:09] gclen opened #9824 "[BUG] HTMLTemplateFormatter prepends notebook server url in DataTable"
#### Software version info
Bokeh: 2.0.0
Notebook: 6.0.3
Python: 3.7.6
Browser: Google Chrome Version 80.0.3987.132 (Official Build) (64-bit)

#### Description of expected behaviour and the observed behaviour
I am trying to create a datatable with a column that includes clickable URLs. When I create the table using the code below (formatting the URL column with HTMLTemplateFormatter) it appears to

[2020-03-25 18:20] bryevdv commented on #9823
hi @barentsen The properties in the API docs are intended to reflect exactly what properties *exist* on a Bokeh model. Separately, the large majority of these can be configured in initializers, but there are a few exceptions, among them this. If you would like to submit a PR to update the help string for `selected` to make it clear that this is one of the exceptions, that would certainly be accept

[2020-03-25 18:20] #9823 closed

[2020-03-25 18:23] bryevdv commented on #9824
@gclen I believe you are over-quoting the templated value. In any case, support/usage questions belong on the Discourse so any more discussion should occur there:

https://discourse.bokeh.org/

[2020-03-25 18:23] #9824 closed

[2020-03-25 18:32] felixbrinquis commented on #9767
Good evenng @bryevdv !

As I can see other users had the same problem as me dealing with tabs and panels.

In my case I developed a whole personal project and in the last step, when putting all together in the dashboard this error arose.
I've tried to solve it many times with no successful solution.

I can provide the full project. It is located here:
https://github.com/felixbrinquis/PythonGPXAnal

[2020-03-25 18:33] barentsen commented on #9823
Ok, thanks!  Recording here for future reference that the solution is to use
[code]
instead of:
[code]

[2020-03-25 19:39] bryevdv commented on #9823
@barentsen yes exactly, I should have added that in my response, thank you for circling back

[2020-03-25 19:46] #9820 closed

[2020-03-25 19:53] #9816 closed

[2020-03-25 20:43] Latecomer4 opened #9827 "[FEATURE] Dynamic Legend placement in plots"
I'd like to be able to position the Legend in a plot dynamically along a border edge depending on where it will overlap the fewest data points.  I'm creating stock time series charts, and certain areas of the chart may or may not have data points at different times.

The feature request would be to add legend.location options such as 'bottom_dynamic' or 'left_dynamic' to accomplish this.  Perhaps

[2020-03-25 20:56] bryevdv commented on #9827
Hi @Latecomer4 thank you for the kind words. This was actually a proposed feature from very early on (maybe 8 years ago), but was never acted on.  I think there are some significant obstacles to dynamic legend placement:

* not all glyphs will be able to participate equally well (e.g. patch glyphs might have a huge bounding box but actually take up a very small sliver of space)
* even if all glyph

[2020-03-25 21:04] bryevdv commented on #9813
@mrocklin If there are things that would be helpful to push down in to `BaseServer` I think that would be fine (since presumably the `Server` API would not need to change, just the internals, to forward any such arguments further down to `BaseServer`) IIRC there are probably some things that can't get pushed down, but probably mostly things relate to coordinating the `HTTPServer` that gets created

[2020-03-25 21:07] bryevdv commented on #9793
@chrisbarber did you intend to make a PR against the main repo? FYI the PR above is against master on your fork.

[2020-03-25 21:21] mrocklin commented on #9813
Yeah, I'm not averse to doing the work myself here.  Thanks for giving
general clearance.

On Wed, Mar 25, 2020 at 2:05 PM Bryan Van de Ven <notifications@github.com>
wrote:

[2020-03-25 23:29] #9793 closed

[2020-03-26 00:19] Latecomer4 commented on #9827
Thanks for the quick response and the background, @bryevdv .  Sounds like this would be a lot of lift for a limited amount of functionality.  The suggestion about locating the legend outside the plot is a good one; I may do that or just use the existing attributes to minimize the footprint of the Legend.

[2020-03-26 00:19] #9827 closed

[2020-03-26 05:54] HrithikKumar49 commented on #9763
I'd like to work on this issue

[2020-03-26 08:03] arihans commented on #9568
@Hemansh31 @Ak-Bhatia are working on the issue ?!

[2020-03-26 08:07] arihans commented on #9684
@bryevdv is this open to work.

[2020-03-26 08:28] arihans commented on #9550
@ayushiitr2901 are you still working on this issue.

[2020-03-26 08:49] ayushiitr2901 commented on #9550
@arihans I planned to work on this issue, but have been busy recently with other matters. I think you can go ahead and solve this if you plan to work on it now.

[2020-03-26 20:37] wearpants opened #9831 "[BUG] Unhandled exceptions in FunctionHandler cause hang/blank screen"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.0.0
Panel 0.9.3
Django 2.2.11
Channels 2.4.0
Python 3.8.2
Chromium 80.0.3987.149 (Official Build) snap (64-bit)
Ubuntu 19.10

#### Description of expected behavior and the observed behavior
An exception in user code running in a `FunctionHandler` under Django/Channels causes a blank browser s

[2020-03-27 05:17] p-himik opened #9834 "[BUG] Cannot update DatePicker display value from Python"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.0.0

#### Description of expected behavior and the observed behavior
The initial report at https://discourse.bokeh.org/t/datepicker-ui-not-updating-in-bokeh-2-0/5021/2

#### Complete, minimal, self-contained example code that reproduces the issue

[code]

[2020-03-27 10:57] MrHenning opened #9837 "[BUG] lines with empty data breaks plot with WebGL renderer"
When plotting a `Line` with empty data, the plot does no longer display correctly when using the WebGl renderer.
This can be solved by plotting a single `np.nan`, but I wanted to raise the issue anyway.

[code]
### Example
[code]

### Output
![image](https://user-images.githubusercontent.com/5331081/77749108-c2a44a80-7021-11ea-85cb-84f7ad600a81.png)

### Expected
![image](https://user-images.githu

[2020-03-27 12:47] #9837 closed

[2020-03-27 13:46] MrHenning commented on #9837
Wow that was fast :open_mouth:

[2020-03-27 17:03] anthonytw commented on #9763
@mattpap This issue was not resolved, the problem still persists. The "warning" that was handled by #9829 was not the issue. Still only one plot tool shows. And, it even doesn't have the correct function (e.g., for me in both Chrome and Firefox, the horizontal pan button only shows, but its function is the vertical pan. I think the problem got slightly worse.)

[2020-03-27 18:30] bryevdv commented on #9763
@mattpap this is a problem with the tool proxying on the JS side AFAICT

[2020-03-27 21:46] #9834 closed

[2020-03-27 21:48] p-himik opened #9840 "Add a test for #9835"
Preliminary code:
[code]

[2020-03-28 23:13] bryevdv commented on #9831
@wearpants sure but I'd ask for one more change. `_handle_exception` can be made a method on `Handler` and then we won't have to be importing private functions:
[code]
I actually made and tested this change and tried to push directly to the PR branch on your fork (which I should be able to as a maintainer, unless you have opted out) but I could not get it to work.

[2020-03-28 23:18] wearpants commented on #9831
I was gonna do that, but CodeRunner inherits from object, not Handler, and
we need the logic both places :-\

On Sat, Mar 28, 2020, 7:13 PM Bryan Van de Ven <notifications@github.com>
wrote:

[2020-03-28 23:19] bryevdv commented on #9831
Ah so it does. In the case let's just make it public under "Dev API" (and update the docstring as above).Did confirm notebooks work as expected, thanks!

[2020-03-28 23:53] PeteFein commented on #9831
ok done

[2020-03-29 00:42] #9831 closed

[2020-03-29 05:59] bryevdv opened #9842 "Loosen extension compiler checks?"
I was answering a user question and reworked a (now-nonfunctional) old answer to work:
[code]

@mattpap I want to call your attention to this in particular:
[code]
If you look up any exampel of writing a filter on google, it would just be:
[code]
But if we try that with Bokeh the compiler puke about implicit anys. I propose for compiling extensions that we turn off the flag that bails on implicit

[2020-03-29 10:46] mattpap commented on #9842
Extensions can be written in JavaScript as well, which is what I would suggest to use, if someone doesn't want type safety. Turning off no implicit any turns TypeScript into JavaScript, and is a really harmful thing to do if you actually intend to write TypeScript. Note that JavaScript is still compiled in both extensions' compilers, so one gets syntax checking, module resolution, transpilation to

[2020-03-29 11:10] mattpap commented on #9842
GitHub is exactly the right place for this kind of discussion, because it's an important and open one, and actually a discussion and not a chat. It also needs to be preserved, so that in some time, possibly years, people will be able to figure out why we ended up with bokeh that we ended up. The only historically reliable place to preserve such discussions is the repository, either in the issue tr

[2020-03-29 12:26] Dr-Nuke opened #9843 "categorical slider"
Similarly to the Dash slider (https://dash.plotly.com/dash-core-components/slider)
add a categorical (or ordinal) slider that allows to specify
1) values (e.g. values=[0,1,2,3]) and
2) labels (e.g. labels=['yearly','quarterly','monthly','weekly'])
that are both accessible from within the callback function.

The functionality is similar to a radio button group, but can be optically more pleasing.
!

[2020-03-29 12:40] mattpap commented on #9843
This is doable, the internal implementation already allows this, it just need to be exposed to the user.

[2020-03-29 12:50] mattpap opened #9844 "Upgrade nouislider"
Currently we are stuck on version 10.x. Before working on any issues related to sliders we should update the underlying implementation (to version 14.x as of submitting this issue).

[2020-03-29 13:24] mattpap opened #9845 "Add automated baseline serialization tests"
The idea is to test the serialization subsystem as a whole, using the same approach that we use for baseline bokehjs state testing, i.e. store expected output in textual form (not necessarily JSON) in files in the repository and use git to compute the difference between these and tests' output. This will allow us to better understand the current state of the implementation and to make deep changes

[2020-03-29 16:06] mattpap commented on #9812
@hdoupe, there's a preview implementation available in PR #9846.

[2020-03-29 16:42] mattpap opened #9847 "Add support for ES module entrypoint"
Recently we switched internally to use ES modules (#9348). This allows users to use individual bokehjs' modules in ESM context, however the bundles are still non-modules and there is only `main` entrypoint in `package.json`. The idea is to generate ESM bundles and provide `module` entrypoint. This way it will possible to e.g. include bokehjs' bundles as `<script type="module">` in HTML documents.

[2020-03-29 17:07] Dr-Nuke commented on #7738
I still get the same error:

[code]
results in printed output

[code]

note how figure IDs one and two change once each
I tried the `.child` modificatino, but did not manage to create working syntax

[2020-03-29 17:19] bryevdv commented on #9842
This ignores human concerns. Namely that I would sometimes just like to have a casual, exploratory conversation to hopefully learn from each other and inform our opinions, before getting to the point of long drawn out GH discussions, which I do not always have the stamina or desire for. Case in point.

I don't really have a response to this. There will always be many improvements to make but OSS i

[2020-03-29 17:19] #9842 closed

[2020-03-29 17:27] bryevdv commented on #7738
The original code in the OP functions correctly (I just checked again) @Dr-Nuke  please make a new issue, with a *complete* reproduce and details.  (We cannot investigate anything we cannot run and reproduce)

[2020-03-29 17:30] Tekaichi commented on #9843
Hey, can I work on this or is someone working on it already?
Just to make sure, this categorical slider would be a new class on sliders.py right?

[2020-03-29 17:35] bryevdv commented on #9843
That is part of it, but to be clear about what is involved, most of the work would actually be in TypeScript on the BokehJS side.

[2020-03-29 17:47] Tekaichi commented on #9843
A Categorical slider would simply by a slider with step 1, if we map the `values = [...]`  to indexes, each step in the slider would just increase/decrease the index of it. Other than that, each value should be displayed under the slider, so the styling of it would need to be extended/customized as well.

Is this correct or should I approach this differently? Right now I am still studying the code

[2020-03-29 18:10] mattpap commented on #9772
Rescheduling back 2.0.1. I will get that done by tomorrow.

[2020-03-29 18:18] arihans opened #9848 "Minor typo in bokeh.transform reference docs"
In https://docs.bokeh.org/en/latest/docs/reference/transform.html theres a minor typo under the `cumsum` function :

The `Create a` occurs twice.

[2020-03-29 18:25] bryevdv commented on #9772
I was planning on building packages today, since I have the time today.

[2020-03-29 18:26] mattpap commented on #9772
I see. In that case let's proceed, but we will need to have 2.0.2 soon after that.

[2020-03-29 19:03] #9848 closed

[2020-03-29 20:44] Dr-Nuke opened #9853 "interactive legend & stacked barplot"
When using interactive legend together with stacked barplots, make the bars bottom-adjusted, i.e. fill gaps if some bars get hidden.
The Image shows the counter-example: bars keep levitating, and the sum of the bars is a misleading value.
![image](https://user-images.githubusercontent.com/56429408/77860315-d7920100-720e-11ea-8091-33dfc90f5d09.png)

[2020-03-29 20:47] bryevdv commented on #9853
This is a dupe of https://github.com/bokeh/bokeh/issues/9774

[2020-03-29 20:47] #9853 closed

[2020-03-29 20:50] bryevdv commented on #9853
@Dr-Nuke If you'd like to add the image and a minimal complete test script to the other linked issue it would certainly be helpful

[2020-03-29 21:00] Tekaichi commented on #9843
I have been reading more of the code and realized that I may not need to adapt a normal range slider and just create a new type of slider instead.
I am working on this atm.

[2020-03-29 21:02] Dr-Nuke commented on #8852
legend click_polcy 'mute' has no effect on stacked bar plot

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh                     2.0.0
python                    3.7.7
jupyterlab                1.2.6
WSL Ubuntu 18.04
Firefox 74.0 (64-bit)
Chrome Version 79.0.3945.117 (Official Build) (64-bit)
Microsoft Edge 44.18362.449.0

#### Description of

[2020-03-29 21:09] bryevdv commented on #8852
@Dr-Nuke this is not the issue I linked as a duplicate?

[2020-03-29 22:24] Dr-Nuke commented on #9774
as requested, an image & minimal example of the current (faulty) state (sorry for my confusion):

[code]

![image](https://user-images.githubusercontent.com/56429408/77862572-c6e88780-721c-11ea-8465-dce6d2ca8e10.png)

[2020-03-30 01:03] mhebrard opened #9854 "[BUG]v2.0.1 problem with bkzep"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

* bokeh v2.0.1
* python v3.6.8
* zeppelin v 0.8.2
* amazon-linux-ami 2018.03-release
* emr v5.28.0
* Spark v2.4.4
* Hail v0.2.32
* Chrome v80.0.3987.149

#### Description of expected behavior and the observed behavior

In zeppelin, when import bokeh and bkzep an error is fired.
it was working fine w

[2020-03-30 01:10] bryevdv commented on #9854
@mhebrard `bkzep` is an outside project that is not maintained  by the Bokeh team. It's entirely possible they will need to make adjustments for 2.0 since it was a major release that included breaking changes. But you will need to file an issue on their repo directly: https://github.com/zjffdu/bkzep

[2020-03-30 01:10] #9854 closed

[2020-03-30 01:17] bryevdv commented on #9854
By way of being helpful I will point to this PR:

https://github.com/bokeh/bokeh/pull/9798/files

That made a change that should have occurred in the 2.0 release, to make sure that SRI hashes were used consistently, even in notebooks. From the POV of our users, this change in 2.0.1 is purely internal and not a breaking change. Evidently `bkzep` will need to adjust to accommodate this change even t

[2020-03-30 12:06] LeDahu31 commented on #9216
Hi,
Does anybody know how to correct my code to get the same result/layout than 1.0.4- with last versions of bokeh ?
Or am I stuck with version 1.0.4 ?
Thanks by advance
BR
LeDahu31

[2020-03-30 17:36] Tekaichi commented on #9843
Any feedback on this?

[2020-03-30 17:45] bryevdv commented on #9843
@Tekaichi Just to set your expectations: OSS is mostly  a volunteer effort, and issue cycles often move slowly. Bokeh is actually on the better end of responsiveness but you should still be prepared for cycle times of days/weeks, not hours.

A released version of BokehJS does what it does. The only way to make it do new or different things are:

* add a custom extension (this can be done independe

[2020-03-30 17:49] Tekaichi commented on #9843
I have built bokehjs locally and have been testing on this locally built version.
Until now, I have added the CategorySlider model in python inside sliders.py and proceeded to create category_slider.ts on bokehjs. Right now category_slider.ts just inherits from abstractslider and I only changed its properties, so I was expecting the category_slider to render as a slider but it does not renders at

[2020-03-30 17:50] bryevdv commented on #9843
Are you actually using the local built BokehJS? By default Bokeh loads BokehJS from CDN, which means you will get the last released version. If you are doing dev you need to set `BOKEH_RESOURCES` accordingly to actually use what you have built locally.

[2020-03-30 17:53] bryevdv commented on #9843
Perhaps this will be a useful reference:

https://github.com/bokeh/bokeh/pull/9546

That is a single self-contained PR that adds one new widget. It should be representative of the scope of work involved (the BokehJS implementation may be simpler here since there is existing slider base class that might be re-used)

[2020-03-30 17:55] Tekaichi commented on #9843
Thank you! Will look into that!

I was doing bokeh serve, and I think it was fetching the last version from CDN as you mentioned and not the locally built one.

[2020-03-30 18:08] bryevdv commented on #9843
Well, actually Bokeh server does serve resources itself so that should work, assuming you have installed the local BokehJS into the source tree with `python setup.py develop --install-js` (or `--build-js` will build and install). you can look at your browsers network tab to see exactly what BokehJS is getting loaded.

[2020-03-30 20:07] auirarrazaval opened #9855 "Code quality refactoring"
I was doing a code quality analysis with [SonarQube](www.sonarqube.org) on Bokeh and came through several refactoring candidates that may be addressed quickly and I believe would benefit the overall project. Some of them may be minor bugs but still.
Here are the main issues (that may be repeated througout the code)

## bokeh (python)

### Readability issues

- Nested ```if``` statements that may b

[2020-03-30 20:14] bryevdv commented on #9855
@auirarrazaval These are fairly disparate and not all of them are described at a level of detail that affords evaluation here. I would suggest making individual PRs so that things can be considered individually. @mattpap has strong opinions regarding code style and will likely want to comment.

[2020-03-30 20:18] auirarrazaval commented on #9855
@bryevdv Yes that's what I thought, it wouldn't make sense to have only one PR for all of this, as changes differ regarding each issue, i was thinking of making one for each of the prevoiusly mentioned points

[2020-03-30 20:19] auirarrazaval commented on #9855
I will wait on what @mattpap has to say about this

[2020-03-30 20:22] bryevdv commented on #9855
Regarding things I do feel there is enough information to comment on immediately:

* `palettes.ts` - this is certainly a copypasta bug and should be fixed

* `templating.ts` case statement - I don't really understand the comment. That case is already wrapped in parens, and certainly cannot be split up (that case represents inclusion in a range)

* if / or - everyone here is aware of Python's short

[2020-03-30 20:32] bryevdv commented on #9855
@auirarrazaval I would go ahead and start submitting PRs. It's not really possible to comment on all the things above currently, since it's not always clear what exactly you intend to change. A PR is a concrete thing that can be commented on.

[2020-03-30 20:33] auirarrazaval commented on #9855
@auirarrazaval I just re-checked the ```templating.js``` issue and it was my bad, it works just fine.
Ill start submitting PRs then 👌
Thanks!

[2020-03-30 22:06] bryevdv opened #9856 "[BUG] BokehJS build does not abort on compilation error"
If I introduce an intentional typo into a source file and attempt to build, the error is printed, but the build continues after and returns a 0 (success) return code:
[code]
Same result for `node make build`. This is  an issue for  automation scripts, since build failures need to be reliably detectable.

cc @mattpap

[2020-03-30 22:09] bryevdv commented on #9856
OK I guess there is `--emit-error` but why is this not the default?

[2020-03-30 22:39] mattpap commented on #9856
`--emit-error` was a primitive hack to get build fail in CI and is scheduled to be removed. The build should work without it and fail when needed. Note that the goal is not just fail when a single task fails, but to perform as much meaningful operations as possible before failing. The problem is that some tasks, like `scripts:compile` don't participate in this process correctly.

[2020-03-30 23:25] mattpap commented on #9855
This should have been submitted as a set of issues, then it would have been easier to address particular problems and filter out that is and what isn't worthwhile. Each point should have been accompanied by an example (a link to a case of offending code), because in some cases I'm not certain what you are referring to.

[2020-03-30 23:29] mattpap commented on #9855
This is an obvious bug. What would be useful in this case, is to understand why tsc doesn't complain about this. Perhaps there are some compiler options that could be enabled to make our setup stricter. Otherwise maybe there are `typescript-eslint` rules that could help in pointing this kind of bug out. If there are none, including in third-party rulesets, then maybe you could contribute one?

[2020-03-30 23:38] mattpap commented on #9855
This seems to be an artifact from transition from coffeescript to typescript. Once again, a `typescript-eslint` rule would be in order, to make sure this doesn't happen again (I doubt this could be expressed at the type system level).

[2020-03-31 10:32] tony-bony commented on #8852
I think more people will come with the same issue.
This is because they set `legend.click_policy="mute"` and nothing happens.

Bokeh sets dozens of default values when creating a plot (e.g. `plot_width`, `line_color`etc...) or when adding certain functionalities (e.g. `callback_policy` is set default to `continuous` when adding a callback to slider widget, etc...)

So I think it would be really be

[2020-03-31 12:57] mattpap opened #9857 "Release commits"
This is currently at the `HEAD` of `master` branch:
[code]
What's the purpose of having three commits with the same message per release? I understand that it's one change per commit. How does that scale with increasing number of publishable artifacts (per issue #9296)? Shouldn't those commits be squashed, especially when non-descriptive commits like "checkpoint" are present?

On an orthogonal note

[2020-03-31 13:19] mattpap opened #9858 "Deprecated versions of `@bokeh/bokehjs`"
Reviewing existing versions of `@bokeh/bokehjs` I noticed the following:
[code]
Were those deprecations done intentionally? Either way, this isn't the correct publishing strategy. Those should be undeprecated and retagged using `npm dist-tag`. All future published versions should be tagged at publishing time, using `npm publish --tag TAG_NAME`, where `TAG_NAME` is either `latest`, `rc`, `beta`, `a

[2020-03-31 13:20] #9812 closed

[2020-03-31 13:34] hdoupe commented on #9812
Thanks @mattpap. I'm looking forward to testing this out!

[2020-03-31 15:59] bryevdv commented on #9858
I deprecated the dev/rc releases in the UI because I was surprised to see them. We have never before published dev or rc versions to NPM, and there has not been any discussion around starting to.

[2020-03-31 16:10] mattpap commented on #9858
There was a PR https://github.com/bokeh/bokeh/pull/9578 not that long ago enabling dev release publishing. Having published dev releases is critical for any hope of having a decent standalone bokehjs library, especially in the context of other work that depends on it (e.g. `jupyter_bokeh` and `ipywidgets_bokeh`). In fact I will be setting up nightly builds in near future (at last in `future` branc

[2020-03-31 16:12] bryevdv commented on #9857
@mattpap The work to restore build automation capability is *very much* still a work a progress. It is slow, and tedious, and (most unfortunately) at some point you have to start testing things that make real changes, which carries risk. I'm still the process of restoring "dry run" capability, which will help somewhat

There's a combined change+commit operation for each file that gets a version st

[2020-03-31 16:29] bryevdv commented on #9858
I guess I missed the context, which is why I'd really like to have, and keep asking for, more conversational interpersonal interactions, because that's how my brain is efficient at obtaining context.  My recollection was there was a one-off need to publish a "dev" build to support some downstream testing or something, not that we were starting a whole new process.

In any case, then, there's thing

[2020-04-01 07:44] bsdis opened #9862 "[BUG] Node12 import error bokeh 2.0"
When trying to use bokehjs together with npm and create-react-app the compiler gives an error.
This can be easily reproduced by building the following dockerfile and running it after

[code]

Build this dockerfile by first installing docker and then use `docker build -t bbug .`.
To see the error after building, run:

`docker run -it --name bokehbug -p 3000:3000 bbug bash`

and when in the containe

[2020-04-01 07:47] bsdis commented on #9862
The TRIAGE label was added automatically (not by me)

[2020-04-01 10:48] BenPortner opened #9863 "[FEATURE] Add "dot" marker variants"
Dear bokeh developers,

there are `_cross` versions of `circle`, `square`, and `diamond`. But not for `triangle`. I tried to add a `triangle_cross` marker to my plot and got an error. Is there a particular reason for this and if no, could you add it?

Keep up the good work!
Ben

[2020-04-01 12:28] mattpap commented on #9862
Resolved in discourse.

[2020-04-01 12:28] #9862 closed

[2020-04-01 16:38] auirarrazaval commented on #9855
@mattpap I've been looking into ```typescript-eslint``` rules that could satisfy that could help, but for the array lenght issue its actually [impossible to track](https://github.com/typescript-eslint/typescript-eslint/issues/1831). I wil still try to look into the ```palettes.ts``` rule

[2020-04-01 17:29] BenPortner opened #9867 "[FEATURE] Reflect bivariate scatter styles in legend"
Say we have a df with 4 columns- a, b, c, d. a and b are numbers, c and d contain categorical values. We want to make a scatter plot, with `x=a`, `y=b`, `color=c` and `marker=d`. This is already possible using transformations. How ever, it is not possible to create a legend which documents the meaning of the colors and markers at the same time. Using the `legend_field` attribute, one can document

[2020-04-01 17:41] bryevdv commented on #9863
@BenPortner Do you have examples of this in other libraries? cross was added to circle, square, and diamond because the obvious symmetry correspondences. (Tho, thinking right now: `diamond_cross` probably should more acurately have been `diamond_plus`)

[2020-04-01 17:56] BenPortner commented on #9863
@bryevdv I don't know if other libraries implement a `triangle_cross`. It would be nice to have though. I am using transformations to adapt the marker style depending on categorical values in my `ColumnDataSource`. With `marker` and `color`, one can easily create __bivariate__ scatter plots. I was intending to use the `_cross` as workaround to create __trivariate__ scatter plots: marker, color, cr

[2020-04-02 03:39] dhorvay opened #9869 "[BUG] Minor typos in validation error output for FactorRange and CDSView"
**Software version info**
bokeh 2.0.0
Mozilla Firefox 74.0
macOS Catalina 10.15.3

**Expected behavior:**
Validation errors will have an output with correct spelling.

Example one:
"FactorRange must specify a unique list of categorical factors for an axis"
Example two:
"CDSView filters are not compatible with glyphs with connected topology such as Line or Patch"

**Observed behavior:**
Validation

[2020-04-02 12:19] p-himik opened #9871 "[BUG] TableColumn doesn't use `field` when `title` is not set"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.0.1

#### Description of expected behavior and the observed behavior
The docstring of `TableColumn.title` says: "If not set, column's data field is used instead."
But this is not the case, the title becomes `null` instead.

#### Complete, minimal, self-contained example code that reproduces t

[2020-04-02 12:24] p-himik opened #9872 "[FEATURE] Allow hiding tooltips for muted glyphs"
Started at https://discourse.bokeh.org/t/possible-to-hide-tooltips-for-muted-lines/5075

**Describe the solution you'd like**
Currently, `HoverTool` shows tooltips for all visible glyphs, even if they're muted. It would be good to be able to optionally exclude muted glyphs.

[2020-04-02 12:38] #6840 closed

[2020-04-02 14:39] #9869 closed

[2020-04-02 17:29] bryevdv commented on #9858
Noting decision from call:  Automation will start publishing all versions (dev, rc) to NPM.

[2020-04-03 00:36] yannispetro opened #9874 "[BUG] Zoom tools not functioning with Bokeh GmapPlot"
The only zoom tool that functions with Bokeh GMapPlot is the WheelZoomTool and even that is very slow and non-responsive. BoxZoomTool, ZoomInTool and ZoomOutTool are not working at all. I am using Bokeh 2.0.1, Python 3.7.3, Pandas 0.24.2, Jupyter 4.4.0 on macOS Darwin 18.7.0

Is there any plan to fix this ?

See my code below:

[code]

Thanks!

[2020-04-03 02:08] bryevdv commented on #9874
@yannispetro please provide the data needed to run the example.

[2020-04-03 02:17] bryevdv commented on #9874
Actually a quick look at the code reminds me that these are not supported on gmap plots, because they cannot be supported on gmap plots. Google maps exert strict control over aspect ratio and other things, that we cannot override. The only tools we can support here are pan and zoom. If you want other tools, you should look at using the Bokeh `TileProvider` with a tile source of your choosing, inst

[2020-04-03 02:17] #9874 closed

[2020-04-03 02:18] yannispetro commented on #9874
I see. Thanks!

[2020-04-03 05:12] #9872 closed

[2020-04-03 16:11] mattpap opened #9875 "Starting headless chrome on macos is unreliable"
Regularly fails despite generous timeout and retry policies.

[2020-04-03 16:23] #9339 closed

[2020-04-03 16:24] mattpap commented on #9339
I consider this as completed based on PR #9755. If that's not the case, please reopen.

[2020-04-03 20:16] lucius-messerer opened #9877 "[BUG] BoxAnnotation doesn't respect fill_color=None"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Bokeh 2.0.0 | Python 3.7 | Firefox 74.0 | Windows 10 build 16299.1747

#### Description of expected behavior and the observed behavior

Expected behavior: Glyphs generally support turning off fill by supplying a `fill_color` value of `None`. Would expect the same from `BoxAnnotation`.

Observed beha

[2020-04-03 20:50] bryevdv commented on #9877
Right, it's currently not explicitly checking for `null` condition on the JS side, so it is rendering "null" color with a default opacity of 0.4 (whatever canvas defines that to do). For now you can add `fill_alpha=0` as a workaround:

<img width="502" alt="Screen Shot 2020-04-03 at 1 48 25 PM" src="https://user-images.githubusercontent.com/1078448/78403841-fba86600-75b1-11ea-8542-6ef9445dff41.png

[2020-04-03 22:09] golmschenk commented on #5813
This also seems to occur with PyCharm. Likely any IDE that uses static code inspection (which used for speed considerations) will run into this issue.

[2020-04-04 07:02] zanapepaj opened #9878 "Can legend_group be linked to CDSView filtering?"
**Issue:**
Having an issue when I filter data with CDSView in bokeh. The label in the plot shows all labels in the source, but is it possible to have it show only filtered labels.

**Example:**
In the example below the CDSView is filtered on "lo" but instead of it showing legend only for "lo", its showing both groups in and with the same color.

[code]

[2020-04-04 20:54] p-himik opened #9879 "[BUG] Impossible to change FactorRange to a lower dimension with different number of factors"
Initially reported at https://discourse.bokeh.org/t/y-ticks-y-range-error-while-changing-from-2-dimensional-x-range-factors-to-1-dimensional/5106

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.0.1

#### Description of expected behavior and the observed behavior
It should be possible to switch between `factors` of a `FactorRange` without

[2020-04-05 11:46] mattpap commented on #9879
And also `mids`. In general the state is not reset fully.

The first line triggers a series of events that will lead to bokehjs using old, incompatible data, before new data is set. It works if you rearrange the lines, which it seems to me to be a fluke (I think it should fail). In general bokehjs isn't well set up for compound changes like this. I suppose it's a joy of reactive programming, but r

[2020-04-05 11:47] mattpap commented on #9879
Also this works:
[code]
However using `setv({factors: ...}, {silent: true})` will fail.

[2020-04-05 11:49] mattpap commented on #9879
This line isn't needed in this context, because you update a property's value. It would be necessary if you modified a part of a value. This way bokehjs' wouldn't be able to detect change.

[2020-04-05 12:03] p-himik commented on #9879
I have thought about it before, only in the context of server-client communication. E.g. even something like `plot.x_range.update(start=1, end=2)` sends two patches instead of one.

It seems to me that in both Bokeh and BokehJS it could be possible to accumulate and combine patches and emitted signals and take action only when the execution reaches the event loop (not sure what the analog in JS is

[2020-04-05 12:53] mattpap commented on #9879
This is an orthogonal issue, but something we intend to fix soon. Well, definitively in 3.0, maybe in 2.x if a fix won't result in changed semantics anyware in bokeh or bokehjs. If you want to take a stab at it then go ahead, otherwise I will fix this sometime later this month.

[2020-04-05 14:25] p-himik commented on #9879
Yeah, I understand. A better example would probably be something like
[code]
So it's not a question of making a single function call result in a single patch but rather or making any amount of simultaneous (from the POV of the event loop) changes appear as a single change to the client.

[2020-04-05 15:03] mattpap commented on #9879
In bokeh this:
[code]
and in bokehjs:
[code]
are equivalent to:
[code]
when it comes to client-server updates (signals/events are a separate concern). If you look at the implementation, you will see a simple for loop distributing over changed properties in both cases. Those for loops need to be folded to allow pushing multiple changes in one protocol-level change event.

Additionally it would be n

[2020-04-05 16:24] bryevdv commented on #9879
`hold` and `unhold` already exist on the Python side and can either accumulate or merge changes. There is not a context manager, but could be one, easily.

[2020-04-05 16:32] p-himik commented on #9879
But they just prevent the events from being sent too early - they don't actually combine multiple patches into a single one. At least, I didn't see it in the code.

[2020-04-05 16:40] bryevdv commented on #9879
Yes, I mean that we should take existing APIs and improve them. Especially since `Document` is the correct place for these kind of synchronizations, not `Plot` (there may not be a plot at all, or changes that span multiple Plots). AFAICT there is an obvious place for `unhold` to generate a single protocol message instead of looping at the end.

[2020-04-05 17:02] bryevdv commented on #9878
@zanapepaj I had assumed your question was in reference to using `legend_field`, which dynamically creates grouped legends on the browsers side, because you had mentioned updating (i.e. changing after an initial setup). `legend_group` does the the grouping on the ***Python*** side, once, up front. In general, it is not possible for `legend_group` to take a CDS View into account, because there can

[2020-04-05 17:39] bryevdv commented on #9871
Tho actually looking at the code. I am not sure what `title` is even for? There is `header` that controls the column header. What is `title` for  a column?

[2020-04-05 17:45] p-himik commented on #9871
Why would they need to know about sources? The values are not specs, they're just plain strings - they don't interact with the sources in any way. Probably the fix could be as simple as `name: this.title || this.field,`

[2020-04-05 17:45] bryevdv commented on #9871
Yup, sorry, reading things in too much of a hurry. Should just delegate to `field` as you say

[2020-04-05 21:53] bryevdv commented on #9867
@BenPortner  Please provide a sample that generates everything except the legend, that can be used or testing and development.

[2020-04-06 08:36] BenPortner commented on #9867
Here is an example. I adapted it from the [documentation](https://docs.bokeh.org/en/latest/docs/user_guide/data.html#transforming-data). In the docs, the `species` column is used for both `color` and `marker`. I added a fourth categorical column `scent` which I map to the `colors`. The `markers`are still maped to the `species`. The scent is spicy for setosa and versicolor and sweet for virginica.

[2020-04-06 13:36] Tekaichi commented on #9877
We can then assume when fill_color = None, fill_alpha should be set to zero then?
If so, I'm opening a PR with this fix.

[2020-04-06 13:46] mattpap commented on #9877
No, `fill_color == None` means no rendering should happen. The value of `fill_alpha` in this situation is irrelevant.

[2020-04-06 13:50] Tekaichi commented on #9877
Both the lines and the background should not be rendered then or  just the background (which happens if fill_alpha = 0)?

[2020-04-06 14:19] mattpap commented on #9877
Line and fill visuals should be considered independently, the same way as glyphs work. Essentially you have to replace:
[code]
with
[code]
and similarly change `line` visuals.

The tricky bit is that annotations have both canvas and CSS modes. This code only handles to former and you will have to figure out the later.

[2020-04-06 14:30] Tekaichi commented on #9877
Ok, thanks for the feedback! Fixing that on the PR!

[2020-04-06 18:54] #9875 closed

[2020-04-06 18:55] mattpap commented on #9875
The timeout policy wasn't generous enough for macos.

[2020-04-06 22:32] kayibal opened #9887 "[BUG] DataTable StringEditor autocomplete not working"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh: 2.0.1
python: 3.7.7
OS: Mojave (10.14.6)
Browsers: Chrome, Firefox, Safari

#### Description of expected behavior and the observed behavior
Expected: TableColumn that was defined with a StringEditor with completions set should provide autocomplete functionalities when editing in browser.

Obse

[2020-04-06 22:58] bryevdv commented on #9887
This is the most likely explanation. We made a deliberate decision not to have jq as a hard dependency. Options (in order from least favorable to most favorable) seem to be:

* Delete the commented lines, and update the docs to reflect that the property is non-functional. Mark it as deprecated and remove it in a 3.0 release

* Restore the capability using jquery as an optional dependency. In this

[2020-04-07 01:42] hyles-lineata opened #9888 "Broken link to colorcet repo in palettes.py"
A broken link has been pointed out in docs.bokeh.org by eagle-eyed user zeknafar:
https://discourse.bokeh.org/t/broken-link-in-palettes-documentation/5116/2

There is a corresponding outdated link in /bokeh/palettes.py.

[2020-04-07 02:53] #9888 closed

[2020-04-07 03:04] #9857 closed

[2020-04-07 03:07] bryevdv commented on #9855
@auirarrazaval  I am going to go ahead and close this discussion issues. The ones remaining deserve a bit more detail in their own issues, should you want to go forward with them individually.

[2020-04-07 03:07] #9855 closed

[2020-04-07 03:20] bryevdv commented on #9863
@BenPortner I can't find any evidence of a triangle cross marker in other libraries:

* https://matplotlib.org/api/markers_api.html
* https://plotly.com/python/marker-style/
* https://plotly.com/python/marker-style/

And I am fairly certain the reason for that is that it would be both visually unappealing due to lack of symmetry, but also not efficacious from a vis standpoint. So I am not inclined

[2020-04-07 03:26] bryevdv opened #9890 "Some new markers"
Looking at other libraries:

* https://matplotlib.org/api/markers_api.html
* https://plotly.com/python/marker-style/
* https://plotly.com/python/marker-style/

we could add some new marker types

* filled "plus"
* "Y"
* "hash"
* "squishy" square and triangle

possibly others, e.g. dot variants for #9863

It might also be good to name some more rotational variants as that makes more things usable w

[2020-04-07 08:28] BenPortner commented on #9863
Sure, the `-dot` variants would work just as well. How much work would you expect this to be? If it's not too much I can give it a try.

[2020-04-07 09:28] mattpap commented on #9887
This is what was supposed to happen, but didn't due to low maintenance priority this part of bokeh has had. Fixing this shouldn't be too much effort, especially a standalone auto-complete widget exists, which can be used as inspiration. However, in the long term perspective, I would prefer to turn data table component into an extension and remove it from bokeh. Then the maintainer of that code wil

[2020-04-07 13:52] #9771 closed

[2020-04-07 15:08] bryevdv commented on #9887
This is a non-starter. A data table is a critical and important tool and removing it or making it harder to use would shed users. Maybe there is a newer widget we can base a table on that is better or easier to integrate with. But an officially supported table widget will always be maintained as part of Bokeh.

[2020-04-07 15:16] bryevdv commented on #9515
Another user running in to extreme slow down due to updating a div:

https://discourse.bokeh.org/t/layout-guidelines-tips-for-rapidly-rendering-many-plots/5119/9

[2020-04-07 15:54] bryevdv commented on #9863
@BenPortner Here is a recent PR that added support for a hexagon marker (including docs and examples):

https://github.com/bokeh/bokeh/pull/7658/files

[2020-04-07 17:44] p-himik commented on #9218
A bit simpler example:
[code]

It seems that it's because `finalize()` calls both `initialize()` and `connect_signals()`. Tentatively, I would speculate that calling `initialize()` first on _all_ models only then calling `connect_signals()` would solve this issue.

[2020-04-07 17:52] dbuscher opened #9892 "[BUG] saving bokeh example notebooks causes notebook validation errors"
### Summary

Many of the notebook files provided in the examples directory trigger an error message in nbformat versions > 5.0.0. This appears to be the same problem as mentioned here: https://github.com/jupyter-widgets/ipywidgets/issues/2788.

The work-around is to manually edit the ipynb files in a text editor to change the value of nbformat_minor to 2. This bug report serves to help those who f

[2020-04-07 17:52] kayibal commented on #9887
Ok I went with option 2 for now and it is working. I'm warning the user when jquery-ui is not available. It will still need some polishing though for which I probably would need some feedback as I haven't used javascript in about 10 years. Unfortunately my understanding of TS is not deep enough yet to accomplish option 3 in a reasonable amount of time by myself.

Please let me know if you would yo

[2020-04-07 17:54] p-himik commented on #9218
Just tried that. It worked both for my example and the example in the OP. @mattpap does such a solution make sense to you?

[2020-04-07 18:05] bryevdv commented on #9892
bumping the minor number seems to be stated as the preferred solution in the linked issue. @dbuscher would you mind making a PR to update the notebooks in this repo accordingly?

[2020-04-07 18:11] bryevdv commented on #9302
@blois has here been any update in this area? Is there any mechanism to use binary comms?

[2020-04-07 18:19] blois commented on #9302
I am working on this on two fronts right now-
 - The underlying plumbing to get binary comms working in Colab. I was pulled off onto other tasks but am now returning to this.
 - I've been discussing with others a generalized API that ideally would be usable by libraries such as Bokeh in more notebook environments. Take a look at https://github.com/Quansight-Labs/jupyter-output-spec. I put together

[2020-04-07 18:21] bryevdv commented on #9302
Awesome thanks for the update, look forward to trying things out!

[2020-04-07 18:30] kayibal commented on #9887
Actually after further inspection of the autocomplete code it seems doable. Still not sure how you would approach this exactly... Would you move the autocomplete functionality into a separate class that is then reused in both views?

[2020-04-07 19:15] bryevdv commented on #9887
Classes and/or some free functions that get pulled out. Given the fairly small amount of code, I might suggest just first getting an implementation to work with full code in the table cell editor, and then once that works, it's a good position to see exactly what can be factored out (and there will be something to test along the way)

[2020-04-07 19:20] mattpap commented on #9218
That should work, at least as a temporary measure, because this doesn't address what I think is the underlying issue, which is wrong iteration order in `foreach_depth_first()`. Perhaps you could benchmark this solution on bokehjs level? I'm wondering how much another iteration over an entire object graph adds to the overall initialization time. Though I would have to add some benchmarking capabili

[2020-04-07 19:20] kylepollina commented on #574
I would like this feature if possible in the future. Topojson in nice to work with

[2020-04-07 21:42] thoralf-gutierrez opened #9893 "[BUG] Incorrect legend color with different glyphs with same CDS and a CDSView"
#### Software version info

* python: 3.6.10
* bokeh: 2.0.1
* OS: macOS 10.14.6

#### Description of expected behavior and the observed behavior

I'm plotting circles and segments with different colors from the same CDS. All circles are plotted, but only some segments are plotted, using a CDSView.

I expect the legend to show the correct symbol and color, but one of the colors doesn't match the so

[2020-04-07 21:48] bryevdv commented on #9893
grouped legends do not currently take CDS view into account, they always display based on the full CDS. This is a dupe of #9878

[2020-04-07 21:48] #9893 closed

[2020-04-07 21:54] thoralf-gutierrez commented on #9893
@bryevdv I don't think this is a dupe: I am not talking about adapting the legend based on what is filtered with the view. Instead, I'm noticing that the legend now had the _wrong_ color. Note the _red_ line across the _blue_ dot in the legend. This is not correct even if the legend is based on the full CDS.

[2020-04-07 23:00] bryevdv commented on #9893
@thoralf-gutierrez on closer inspection, I do still think it is the same underlying issue. The proximate problem is that the legend codepaths draw legends for indices that they should not. In the other case, by sheer coincidence, since there are more than two items, the bad indices are sill at least inside the `all_indices` that the view generates. However, your example is a specific example, with

[2020-04-07 23:03] bryevdv commented on #9878
Note to make sure to validate https://github.com/bokeh/bokeh/issues/9893#issuecomment-610660917

[2020-04-07 23:03] bryevdv commented on #9893
I've left a note in the other issue to make sure to validate the above analysis when the other issue is addressed.

[2020-04-07 23:33] jahmed-invn opened #9894 "[BUG] Hard dependency on IPython, unable to use bokeh in xeus-python"
The only kernel that supports Jupyter Debugging protocol is xeus-python but there is a hard dependency of bokeh on IPython in publish_display_data  in output_notebook() function which renders it to be not used in any other kernel other IPython. Is there a work in progress that gets rid of this dependency. Following is the traceback,
[code]

[2020-04-08 00:16] bryevdv commented on #9894
@jahmed-invn I am not sure what you are proposing. The express purpose of `output_notebook` is to prepare for outputting Bokeh content in to Jupyter notebook (or Jupyterlab) output cells. That is it's only purpose, so getting rid of it does not really make sense, and there are no plans to do anything different. The import is protected inside the function tho. If you are not inside the notebook or

[2020-04-08 00:21] bryevdv commented on #9894
I guess I'd like to add: I would *love* to be able to detect and condition on the currently running frontend(s).  I think it is a mistake, that makes life difficult for anyone developing integrations for Jupyter tools. But the Jupyter team has remained steadfast about not exposing that information for a decade or more now, and I don't think it is reasonable to expect they will ever change this pos

[2020-04-08 00:25] philippjfr commented on #9894
This is definitely **not** a bokeh issue, xeus-python is an alternative kernel for Jupyter, not a frontend, and messes with the internals of `IPython.display` see https://github.com/jupyter-xeus/xeus-python/issues/106.

[2020-04-08 00:31] bryevdv commented on #9894
Oh I see. I definitely agree this is not a Bokeh concern. @jahmed-invn If there is some very small change (e.g. adding one more level of function between the import, so that you yourselves could patch or something) that would make your life simpler, then I'm certainly willing to entertain a PR (with tests), should you want to submit one. But otherwise I am going to close this now.

[2020-04-08 00:31] #9894 closed

[2020-04-08 02:52] hazemsamoaa commented on #2338
I apply your advice by setting outliers=False, but nothing changed, I'm still getting the same error @damianavila @canavandl

[2020-04-08 02:57] bryevdv commented on #9893
And actually looking in to things a bit more closely I think we will be limited in what we can do. Basically all renderers that specify the same `legend_field` are grouped together on the Python side. We can probably make the BokehJS side respect *one* view pretty easily, and that is how I will proceed for the other issue. But it's not even clear what the correct behavior should be when different

[2020-04-08 03:11] bryevdv commented on #2338
@hazemsamoaa The `bokeh.charts` API including the `BoxPlot` function in the original issue was deprecated and subsequently removed form Bokeh serveral years ago now. It is no longer supported in any way. For higher level APIs on top of Bokeh please look to other projects:

* Holoviews
* Pandas-Bokeh
* Chartify

[2020-04-08 15:27] #9877 closed

[2020-04-08 15:37] bryevdv opened #9895 "CI build is broken (suddenly using Python 2)"
Overnight, for some reason the build step is seeing Python 2, even though the PATH is appended with the `anaconda3/bin` directory:
[code]
ref: https://github.com/bokeh/bokeh/runs/571207510

[2020-04-08 16:21] bryevdv opened #9897 "Use system conda on GH CI"
GH CI now has `/usr/bin/conda` so we can potentially avoid the MIniconda download altogether and simplify/shorten our builds.

ref: https://github.com/actions/virtual-environments/blob/master/images/linux/Ubuntu1804-README.md

[2020-04-08 16:38] #9895 closed

[2020-04-09 07:16] maeglin89273 opened #9899 "[BUG] Browser error while bind the GlyphRenderer as the CustomJS argument of js_on_change('data', custom_js)"
Bokeh version: 2.0.0

For some reasons, I want do the manipulation on the glyph renderer at JS side, and the manipulation is triggered from the js_on_change('data', js_callback) event of the CDS that binds to this renderer.

Sample code:

[code]
Another example is that there are some indirect dependencies:
[code]
In both cases, the browser throws the following error:
![console](https://user-images

[2020-04-09 12:08] mattpap opened #9900 "Bundling and serving precompiled extensions in broken on windows"
Original issue in panel https://github.com/holoviz/panel/issues/1233.

[2020-04-09 12:11] philippjfr commented on #9900
Have you been able to confirm this? If not I can spin up a Windows machine later. Also this is a fairly major regression for us. @bryevdv How would you feel about a 2.0.2 sooner rather than later?

[2020-04-09 12:17] mattpap commented on #9900
Confirmed and fixed in PR #9901. I would target 2.0.2 for early next week.

[2020-04-09 16:01] bryevdv commented on #9900
Fine w/ me

[2020-04-09 16:52] #9892 closed

[2020-04-10 01:35] bryevdv commented on #9899
@maeglin89273 Thank you for the detailed issue. This is almost certainly a duplicate of https://github.com/bokeh/bokeh/issues/9218 so I am closing this issue in favor of that one which already has some discussion.

[2020-04-10 01:35] #9899 closed

[2020-04-10 03:10] bryevdv opened #9907 "Improve Auth Request Handler hierarchy"
`AuthMixin` is not a proper Mixin since it shadows methods on another base class. Move to just single inheritance as described in https://github.com/bokeh/bokeh/pull/9906#issuecomment-611855445

[2020-04-10 08:30] eromoe commented on #8129
As I see, there is no issue finished in short-term milestone ...
How is this going on ?

[2020-04-10 13:51] hmanuel1 commented on #9773
Hi,
After upgrading to Bokeh 2.0.1, I'm having a similar issue with Chrome:

Access to script at 'https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

This error started showing up as soon as I ran the slider example from the Bokeh guide:

import numpy as np

[2020-04-10 16:41] bryevdv opened #9908 "Missing 2.0.1 release notes + typos"
2.0.1 was not added here:

https://docs.bokeh.org/en/latest/docs/releases.html

also typo:

[2020-04-10 17:51] bryevdv opened #9909 "Bad toolbar highlight in "dark" modes"
<img width="366" alt="Screen Shot 2020-04-10 at 10 47 20 AM" src="https://user-images.githubusercontent.com/1078448/79011377-c1dae080-7b18-11ea-8aec-38a8ce3d04b2.png">

It's possible the highlight is already configurable in which case the theme should be updated. However I suspect that there is not yet a configuration for how the toolbar highlight behaves, in which case that will need to be added

[2020-04-10 20:07] bryevdv opened #9910 "Remove Explicit Marker Models"
This issue is to discuss a potential idea for the Bokeh 3.0 timeframe. Namely, should we remove individual scatter models, e.g. `CircleCross`, `InvertedTriangle`, etc. in favor of only having the single `Scatter` model that is configured via a `MarkerType` enum? This would afford removing all the code for dynamically creating marker classes in BokehJS (time and space improvement) as well as a ton

[2020-04-11 10:11] d-que opened #9911 "Trigger JS callback on data table edit"
Bases on [this](https://discourse.bokeh.org/t/trigger-js-callback-on-data-table-edit/5150/2), it might be good to check how it should work to trigger a (js) callback upon changing data in a DataTable.

Currently, `data_source.js_on_event('patching', callback)` does the job. But it might feel more natural to have `data_source.js_on_event('patching', callback)` or data_table.js_on_event('edit', call

[2020-04-11 10:14] d-que opened #9912 "Triggering JS callback when activating/deactivating a tool"
After a discussion in [the discourse forum](https://discourse.bokeh.org/t/triggering-js-callback-when-activating-deactivating-a-tool/5151), I would like to suggest to make it possible to  trigger callback events upon activating/deactivating plot tools.

I think it might be of broader interest.

[2020-04-11 13:38] p-himik opened #9915 "[BUG] The footer on the documentation website extends past its visible area"
For example, this page: https://docs.bokeh.org/en/latest/docs/user_guide/interaction/callbacks.html

Notice how the `::before` pseudo-element covers the link at the bottom, making it unclickable but for a few pixels at the top.

![image](https://user-images.githubusercontent.com/4410314/79045212-989e7b00-7c12-11ea-8b3f-9e93954fe209.png)

[2020-04-11 17:26] bryevdv commented on #9773
@hmanuel1 This means at some point your browser has *first* loaded BokehJS resources from CDN *without* the SRI hashes specified, then *later* tried to load them with the hashes specified. I don't know where or how this happened for you. AFAIK all the docs have now been updated to always specify the hashes, but it's possible there might be something in the docs (or an example) that generated outpu

[2020-04-11 18:08] Rubix982 opened #9917 "[BUG] Example For 'DateTime Axes' On user_guide/quickstart.html needs modification"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh: `2.0.1`
Python: `3.8.1`
Notebook: `6.0.2`, though I'm running the file on a terminal
OS: `Linux archlinux 5.5.3-arch1-1 #1 SMP PREEMPT Tue, 11 Feb 2020 15:35:41 +0000 x86_64 GNU/Linux`

#### Description of expected behavior and the observed behavior

Example for `datetime axes` on the page `us

[2020-04-11 18:16] bryevdv commented on #9917
@Rubix982 The sample data only needs to be downloaded a single time, so it would not be advised to add code to the script itself, which would cause re-download attempts every single time the code is run. We normally advise users to use the command line `bokeh sampledata` to get the data. And in fact, there is a section earlier up in the Quickstart that explicitly states this, and also that many ex

[2020-04-11 18:18] Rubix982 commented on #9917
Sure, I'll add a note myself there. Thank you.

[2020-04-11 18:32] #9908 closed

[2020-04-11 20:17] hmanuel1 commented on #9773
That was it. I cleared Chrome cached browsing data and it's working now. Thank you!

[2020-04-11 20:20] bryevdv opened #9919 "Example script tags in docs should be version-correct with SRI hashes"
There are a few places where we show example BokehJS script tags on some fixed version. These should be rendered with a Sphinx plugin that makes them version-correct for the current version of docs and also includes SRI hashes.

[2020-04-11 22:00] kyleabeauchamp commented on #8010
I think I've observed a similar but unrelated issue (no minimal example yet, sorry) where I've got a MultiSelect piped into a CustomJSFilter piped into a CDSView that filters on the column used as the `legend_group` (in a p.circle()).  In practice, I'm observing the un-selected legend groups show up with strange fill and outline colors in the legend.

[2020-04-12 01:03] fbidu commented on #8289
Hello, did we have any updates on this? I just stumble into this while trying to accomplish the same task

[2020-04-12 07:25] ashvin777 opened #9920 "Set themes using bokehjs"
How can we set dark_minimal in JavaScript version of bokehjs ? There is no example available for it.

[2020-04-12 08:02] mattpap commented on #9920
Themes are a bokeh feature and currently there is nothing equivalent available in bokehjs.

[2020-04-13 06:48] gmanolia opened #9922 "AutocompleteInput has no case insensitive option"
Is there a way to have AutocompleteInput to be case insensitive?

For example when I type in "book" and in the completions there is a keyword named "Book of the Jungle" then there is no match.

Is there an option that I am missing ?

[2020-04-13 06:50] gmanolia opened #9923 "Does AutocompleteInput have a "find inside the text" option instead of "beggining with"?"
For example if we type "mask" and completions contain "The mask" then it would match and display the completion.

[2020-04-13 12:45] philippjfr opened #9924 "[BUG] Django server resources are not working"
As first reported in https://github.com/holoviz/panel/issues/1205 the Django server integration experienced a regression in Bokeh 2.0.1 when the server resources handling was refactored. We will have to update it to serve the JS and CSS resources correctly when the Resources mode='server'. As a quick fix we can instead make the default mode='cdn' for Django server.

[2020-04-13 17:54] #9900 closed

[2020-04-14 05:47] maeglin89273 opened #9927 "[BUG] MultiChoice displayed value is not updating"
Bokeh Version: 2.0.1

I want to load the selections into MultiChoice programmatically, but the widget UI doesn't update.
I'm sure the MultiChoice value is set correctly, and the on_change('value') event is triggered as expected.

Example
[code]

[2020-04-14 07:43] p-himik commented on #9218
Are you sure it's not possible to create circular references with e.g. `args` of `CustomJS`? Hmm, maybe even if it is possible, it should be reported as a user error.

I would definitely prefer to not do that before the mentioned benchmarking capability is in place.
But I don't think it can possibly create much of an impact: iteration is cheap (assuming you store the steps and not calculate them t

[2020-04-14 22:36] asartori86 commented on #7738
I encountered the same behavior. With these lines, I get the error message
[code]

while if I update the layout as follows the warning disappears

[code]

[2020-04-15 08:22] smartyal opened #9929 "Add hatch rendering to Box Annotation"
the hatch pattern on varea appears/disappears on zoom. I wanted to create a vertical span with hatch pattern. The only way I could find is creating a varea which is very high compared to the data, so it will always span the entire height. When zooming in and out, the hatch pattern can disappear

bokeh 2.01 on python 3.6.5 (anaconda), win 10
[code]
on start, the hatch pattern is not visible, now zo

[2020-04-15 09:11] mattpap commented on #9929
The proper way would be to use `BoxAnnotation`, which can be configured to span plot's frame in one dimension and hook it into the data space in the other. However, it doesn't support hatch patterns currently.

[2020-04-15 09:48] #8862 closed

[2020-04-15 10:38] philippjfr opened #9930 "[FEATURE] Add ability to encrypt token"
Currently we serialize cookies as part of the JWT token which allows it to be accessed on all processes. The problem with this is that we are potentially leaking secret information this way because even secret cookies are included (and currently are by default). We should either ship a mechanism to encrypt the entire token or specific values in the token so that it cannot be decoded when embedded

[2020-04-15 14:17] eugene57 opened #9931 "Installation of bokeh>=2.0.0 adds `release` directory to site-packages."
I installed latest bokeh (2.0.1) with pip under python 3.7.4 (to a virtual environment).
I noticed that it added `release` directory to my `site-packages` directory. As a result `release` is treated as an importable package (while not registered on pypi).
Could you please advise if this is intended behaviour? I haven't found any mentions of this `release` package in bokeh docs. If it is intended,

[2020-04-15 14:34] bryevdv commented on #9931
Definitely not intended. I'm not even sure how that could happen.

[2020-04-15 15:45] RyanRio commented on #9930
If we want to look into providing our own encryption mechanism then this project may prove of some use https://pypi.org/project/pycrypto/, I think, related to what you were mentioning, it would make most sense to just explicitly exclude secret cookies and by default not enable encryption of any sort, but then if a user wants to send secrets of any sort to provide them an easy way to enable our enc

[2020-04-15 16:27] bryevdv commented on #9930
Just my on $0.02:

* whitelist operation by default
* add hook(s) for encryption so users can be responsible for that themselves (maybe include example hook to emulate)

[2020-04-15 17:48] bryevdv commented on #9931
I'm not sure there is not anything to "do" per se but I will see if there is something that can be automated either on the package creation side or on a post-check side.

[2020-04-15 17:52] bryevdv commented on #9929
@smartyal unfortunately the HTML browser canvas has various limitations that we can't do much about, and drawing things much larger than the viewport is one instance of that. As @mattpap notes this would best be handed by adding hatching support to `BoxAnotation`. That should be fairly simple to do so I have marked this `Good First Issue` and adjusted the title accordingly. If you would be interes

[2020-04-15 19:00] jsgounot opened #9932 "[FEATURE] Get back element focus after selection"
This request is linked [to this question](https://discourse.bokeh.org/t/select-datatable-row-using-text-input-with-selection/5202).

**Issue:** When you manually change the datatable source selection, you lost focus on the current element (or at least using InputText).

**Example:** Here is an example where I tried to make a search tool using an input text, and for which I have to redefined the se

[2020-04-16 12:29] smartyal commented on #9929
I actually thought already several times about digging into the bokeh software and contribute as I have built many workarounds already and need deeper integration into my project especially on the frontend. I'm currently pretty busy but I have somebody in my team, let's see -  I'll come back to you. If you are faster with the feature this time, we have plenty more ideas ... :)

[2020-04-16 16:32] sreenumalae opened #9934 "Not rendering in the webpage when deployed in AWS"
Currently i have a website which i deployed in the AWS EC2 Linux.
I plotted a candle stick graph using python for my backtesting results.
My website is a Django Application.
When i run my project in local machine everything works fine.
but after i deployed in the AWS. I'm facing a error
Please find the attachment for more information regarding error.
![Screenshot (20)](https://user-images.githubus

[2020-04-16 16:55] bryevdv commented on #9934
Hi @sreenumalae  The GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please considere [Discourse site](https://discourse.bokeh.org) or  [Stack Overflow](https://stackoverflow.com/). To increase the chance that someone will decide to volunteer their time to help, always includ

[2020-04-16 16:55] #9934 closed

[2020-04-17 01:08] birdsarah commented on #9249
In case it's useful inspiration: have been playing with altair - they have an `altair_saver` package which seems to be similar to my idea here. Ref: https://altair-viz.github.io/user_guide/saving_charts.html#png-svg-and-pdf-format

[2020-04-17 14:06] RiccardoGiro opened #9935 "Add context formatter option to DatetimeTickFormatter"
The current default formatting scheme for datetime axes seems a little confusing (in my opinion), especially during zooming operations: in particular, one gradually loses the reference information about the current year/month/day displayed on the datetime axis. This aspect becomes particularly critical when a transition interval between years/months/days needs to be represented.
To give further in

[2020-04-17 15:16] jbednar commented on #9935
Thanks for the detailed analysis!  I'd love to see functionality like that in Bokeh.

[2020-04-17 15:45] bryevdv commented on #9935
Hi @RiccardoGiro thanks for the issue. I've had similar unformed thoughts over the years but surprisingly you are the first person to raise an actual issue, and user submitted issues are an important barometer of minimum urgency, so nothing has really happened to date.

I'd first only mention that the date time axis tries to do something reasonable across a wide  range of scales. From folks workin

[2020-04-17 16:00] bryevdv commented on #9935
Ok, so what about the "extra context" idea. Bokeh axes are already some of the most complicated parts of a Bokeh plot. My main criteria is to do things in a flexible, modular way (that also does not make any breaking API changes for 2.x series). Here are some off-the-cuff thoughts:

* As a matter of internal implementation, have all tick formatters report an (optional) formatted tick context, i.e.

[2020-04-17 16:31] jbednar commented on #9935
All the above discussion sounds reasonable and appropriate to me.

Just to highlight a specific issue with the configurability, I've found that customizing the formatters only helps at a particular scale (whether it's a timescale or whatever), because the appropriate formatting (as illustrated in those examples) differs depending on the scale, which varies dramatically every time a user zooms.  So

[2020-04-17 16:33] dickreuter opened #9936 "[FEATURE] Plot pandas dataframe with index and columns (and nans)"
I think it should be made possible to plot a pandas pivot e.g. df.pivot_table(index=['x'], columns=['y'], values=['z'], aggfunc=sum) with Bokeh.

With matplotlib it's no problem, but it appears there are two issues with Bokeh:
- It cannot iterate over the columns (as each one needs to be a separate line or circles)
- It doesn't support nan

[2020-04-17 16:42] bryevdv commented on #9936
@dickreuter I'm going to ask to move this to the Discourse for now:

https://discourse.bokeh.org/

As presented, it seems like more of a support issue (e.g. Bokeh can handle nans in many places) and fi there is ideas for new feature work that arise form a Discourse discussion, then a new issue can be opened with a more fleshed-out proposal (i.e. actual code comparisons of current vs desired, poten

[2020-04-17 16:42] #9936 closed

[2020-04-17 16:59] bryevdv commented on #9935
Maybe you can expand on this? This seems to me to be exactly what the different scales of the `DatetimeTickFormatter` already do, i.e. they apply different formats, depending on the overall range start/end that is currently active. Are you saying you want to be able to specify different start/end ranges (or add additional ones)? Or are you here referring to the tick context idea?

If you mean the

[2020-04-17 17:07] jbednar commented on #9935
I'm not referring to the tick context idea (though that's a great idea!). Yes, the existing different scales already do that, it's just that I have very often wanted to override what it does (not just for Datetimes, but for any TickFormatter) in a specific range, where the default behavior for that range was not appropriate for my use case. I know how to override the behavior for all ranges at onc

[2020-04-17 21:39] hmanuel1 commented on #9398
I ran into the same issue with the custom legend for geopandas.  This is working somewhat for me. It will work if you don't expect x_range or y_range to change. Trying to figure out how to prevent the "fake quads" from rendering, so it will not affect x_range or y_range when replacing the content of a figure. It will be nice that manual legends can be implemented without having to specify an actua

[2020-04-18 02:01] scaine1 opened #9938 "[BUG] Timezone bug in generate_jwt_token"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh: ```2.0.1-42-g47e7da4b7```
python: ```3.8.2```
OS: ```Mac OS X 10.15.3```

#### Description of expected behavior and the observed behavior
see https://discourse.bokeh.org/t/timezone-bug-in-generate-jwt-token/5206

#### Stack traceback and/or browser JavaScript console output
On the django serve

[2020-04-18 06:27] p-himik commented on #4272
A more clean workaround:
[code]

If you use `show` or `save`, pass an instance of `IdleDocObserver` along with all your roots as a list as the first argument. If you use `bokeh serve`, just add the observer to the document as a root.
A usage example can be seen here: https://stackoverflow.com/a/61285022/564509

[2020-04-18 08:34] RiccardoGiro commented on #9935
Sure, I will make a PR about that.

I think that makes perfectly sense. It would be nice to provide the user a set of default values which can be easily accessed and modified, for instance:
[code]

I think that the best positions to display the context are either on the bottom right or left corners of a figure. In general, there is not much free space available and the possible solutions are limit

[2020-04-18 18:29] bryevdv opened #9941 "Deprecate CSS rendering modes for annotations"
Currently the `BoxAnnotation` is used as an annotation and also as an overlays like `BoxZoomTool`. To support the interactive use cases `BoxAnnotation` has a "CSS mode". But this mode is never generally useful to user code and can't support all the options the canvas version does, making developing `BoxAnnoation` (e.g. to add hatching) more difficult. This is  both confusing and complicated. Propo

[2020-04-18 23:47] #9938 closed

[2020-04-19 17:25] jbednar opened #9943 "[FEATURE] Better numeric input widget"
Numeric inputs are one of the most common and fundamental forms of user interaction in a dashboard or application.  Bokeh offers Slider, Spinner, and TextInput widgets that allow  specifying numeric values, but none of them cover the full range of what users want to do with numeric values. Specifically, in different circumstances people want to:

1. Enter a very specific, precise value like 23.649

[2020-04-19 18:52] #9772 closed

[2020-04-19 18:55] bryevdv commented on #9931
closed by #9942

[2020-04-19 18:55] #9931 closed

[2020-04-20 02:12] RyanRio commented on #9910
Your suggestion makes sense to me - to be clear, you are in favor of keeping `annular_wedge(), annulus(), arc(), etc` on Figure but move things like `circle_cross()` on figure into a marker-type passed into `scatter()`? _Or_ since `circle_cross(), etc` is being rewritten in terms of `Scatter` anyway are you proposing even those stay?

Would `Circle` also be reimplemented in terms of `Scatter` then

[2020-04-20 02:25] p-himik commented on #9910
It would make it impossible to use `Scatter` for user glyphs. Maybe it can be avoided by using a regular string and just making a check in runtime.

Too early to tell, but I feel there should be a reasonable way to implement glyphs that require additional parameters using `Scatter`. It would also be useful to user glyphs that may have parameters.

Absolutely. But only for the built-in scatter glyp

[2020-04-20 02:53] bryevdv commented on #9910
I would resolve this by accepting an enum or `CustomJSMarker` marker instance.

It's really important that all the markers conform to the same interface. That is what makes them usable completely interchangeably in a marker mapper, e.g

[2020-04-20 03:06] p-himik commented on #9910
Hmm, maybe. Initially, I was thinking about something like `register_user_marker` that a user could call just so that a regular string could be used later. After all, that string could be in a column of a data source, right?

Absolutely. And a solution with custom parameters does not require deviations in the interface. Just a single `extra_args` attribute solves this problem. It makes `Scatter` _

[2020-04-20 03:59] birdsarah commented on #9910
I haven’t given this deep thought. Glad others are engaging, but as a first impression I like it. I’ve been playing with other plotting libraries recently and getting a feel for other APIs. This idea seems very normal in that context, and you’ve well articulated the benefits.

[2020-04-20 09:32] maximlt commented on #9943
Hi!

I am the person who opened the related ``panel`` issue. The problem has been stated in great details above so I haven't much to add except that case **5** is indeed not covered by the existing widgets. I was a little bit surprised to find this out (or at least that a bounded number input isn't available) as in my daily job as a a civil engineer I have to fill in this kind of widget all the ti

[2020-04-20 09:48] xavArtley commented on #9943
Still not sure a new widget is needed in bokeh
If you want the power of 2 widgets use 2 widgets no?
![ezgif com-video-to-gif (7)](https://user-images.githubusercontent.com/18531147/79738288-db401180-82fc-11ea-83d7-8c251a50500b.gif)

[2020-04-20 11:13] maximlt commented on #9943
Hi @xavArtley,

It may indeed work a little better with linking these two widgets but to be honest it doesn't look nice at all and it takes a lot of place. As @jbednar mentioned, I believe this is a very common case and if I had that **case 5** widget available most of my numerical input widgets that represent physical quantities would be turned into that widget, so it'd rather be a little smaller

[2020-04-20 12:47] xavArtley commented on #9943
I'm not against some improvements however I don't think bokeh need a new widget
With very few modifications of the actual spinner (to allow None step and a formating) we can achieve neraly what you want. (Except for the arrow because it's controlled by a shadow dom and it's browser dependent)
Combining several widgets to make a new widget belong to a higer level library like panel
![ezgif com-vide

[2020-04-20 15:33] p-himik commented on #9026
It's been some time and there have been some relevant changes, so I'm looking into this again.

It would make sense to make it possible to completely remove documents created by either `add_document_standalone` or `add_document_from_session` (and, by extension, by `embed_items` or `embed_item`). I don't think that such functionality is really needed for `embed_items_notebook` but it'd still be nic

[2020-04-20 15:40] bryevdv commented on #9026
100% agree that the embed funcs can/should return the documents. `Bokeh.index` was a quick hack made under time pressure, would be very happy to have anything better. Attaching things to DOM elements seem potentially reasonable to me. I know for certain users have attempted to get at Bokeh models by going through the DOM over the years.

Since this will be a 3.0 breaking change regardless, I would

[2020-04-20 19:40] philippjfr commented on #9924
This is not fixed for me, still seeing this with bokeh 2.0.2rc1:

[code]

[2020-04-20 19:46] philippjfr commented on #9924
I see it's meant to get the extension from `bokeh.embed.bundle.extension_dirs` but as far as I can tell that is still empty when `static_extensions` is called.

[2020-04-20 19:58] philippjfr commented on #9924
Even when I force it to populate `extension_dirs` like this it still doesn't serve panel.min.js correctly:

[code]

[2020-04-20 19:59] philippjfr commented on #9924
Maybe we should restore my change to switch to CDN by default again?

[2020-04-20 20:13] jbednar commented on #9943
As someone who primarily uses Panel, I myself would be happy with a Panel-only solution. However, the number of Bokeh users is much larger than the number of Panel users, and as this is something that I think applies equally well to Bokeh apps as to Panel apps, I'd rather it be available at the Bokeh level so that it could improve as many lives as possible.

As for whether this is one widget or mu

[2020-04-20 20:20] mattpap commented on #9924
@philippjfr, can you post code you are testing on?

[2020-04-20 20:22] philippjfr commented on #9924
I'm testing on https://github.com/holoviz/panel/tree/master/examples/apps/django_multi_apps with a small patch, adding this to urls.py:

[code]

[2020-04-20 20:26] mattpap commented on #9924
Let's start from removing this line:
[code]
and use
[code]
in urls.py (in that order so that `static/extensions` takes precedence).

[2020-04-20 20:27] philippjfr commented on #9924
Ah, yes, sorry did that too.

[2020-04-20 20:28] mattpap commented on #9924
In that case I will need to debug this.

[2020-04-20 20:29] philippjfr commented on #9924
Okay, sorry changing the order of urlpatterns fixes it, so I needed to do this:

[code]

[2020-04-20 20:33] mattpap commented on #9924
Though the most important part is removing the middleware from settings. Alternatively you could leave the middleware and prepend `static_extensions()` to `urlpatterns` and remove `staticfiles_urlpatters()` (which is redundant when the middleware is present).

[2020-04-20 20:33] mattpap commented on #9924
I suppose this can be closed?

[2020-04-20 20:35] philippjfr commented on #9924
Importing and calling a private function with an obscure signature like `_bundle_extensions` is definitely not ideal.

[2020-04-20 20:37] mattpap commented on #9924
I see, I thought this was just for testing.

[2020-04-20 20:38] philippjfr commented on #9924
Wait I think it might actually be working, very confused why it didn't before but I'll close.

[2020-04-20 20:56] mattpap commented on #9924
This is still clearly broken:
[code]
when django is running on port 8000. I'm not sure how this I tested it and it "worked".

[2020-04-20 21:00] mattpap commented on #9924
Actually in in dev mode. Normally it's working OK:
[code]

[2020-04-20 21:27] philippjfr commented on #9924
Yeah, things are working fine for me. @mattpap Should this block the release? I think we're good from my perspective.

[2020-04-20 21:35] mattpap commented on #9924
This doesn't have to block the release, but has to be fixed regardless.

[2020-04-20 21:36] PeteFein opened #9946 "[FEATURE] support regexes as URL paths in Django"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh Project Discourse](https://discourse.bokeh.org).

**Is your feature request related to a problem? Please describe.**
Django server integration only supports fixed-

[2020-04-20 21:43] PeteFein commented on #9666
I took a stab at implementing something like this before finding this issue - see #9946 & #9947

[2020-04-20 21:46] bryevdv commented on #9946
@PeteFein Is there anything else in bokeh/bokeh-django#4? If not we can close it. If so, can you make individual issues for anything left (then we can close it)?

[2020-04-20 21:48] PeteFein commented on #9946
bokeh/bokeh-django#4 isn't my issue, and I'm not fully sure what's being requested there (it's quite long), so that's probably best left to someone else

[2020-04-20 21:48] bryevdv commented on #9943
Can someone point me to an existing example of finite slider + infinite combo combination in the wild? I find it really strange and can't say I have any intuitive expectation about how a slider should behave in this context, why it should have any particular starting limit value (but how could it not), how to get back to that limit value, etc..

[2020-04-20 22:52] jbednar commented on #9943
I have no memory of whether we had to implement this functionality ourselves, but we used widgets just like this extensively with Tkinter about 15 years ago.  It looked like:

![image](https://user-images.githubusercontent.com/1695496/79805911-d09d7080-832c-11ea-82f8-0b3c2436a1af.png)

Having a precisely editable value alongside your slider is very common across toolkits, but I have no idea whethe

[2020-04-21 08:54] mattpap commented on #9941
I actually implemented a variation of this idea a few months back, as a part of a bigger chunk of work. I extracted relevant changes into PR #9948. The main difference is that CSS mode is dropped completely and overlays are painted on a secondary canvas. Primary canvas is not repainted if only overlays changed, making this comparably efficient to the current implementation.

[2020-04-21 17:47] bryevdv opened #9949 "Mandatory 2FA"
In order to get Non-profit status under NumFocus and get a GH sponsor badge that deposits directly to the Bokeh project account, we will need to enable mandatory 2FA for the organization. This is a good thing to do anyway.

cc @anthonydouc @Karel-van-de-Plassche @jburgy @StevenCHowell you are the only folks I dd not know how to reach outside GitHub. Please turn on 2FA when you can (or let me know

[2020-04-21 17:47] #9949 closed

[2020-04-21 17:50] Karel-van-de-Plassche commented on #9949
Thanks, I have enabled 2FA

[2020-04-21 17:53] goldentoby opened #9950 "[BUG] Bokeh Saving SVG error"
As I am aiming to plot the data into the plot, I encounter 2 problems.

(1) For the Bokeh function, while I am plotting 4 pictures in a row and adding the save as the SVG. Then the browser is shown as figure1. Moreover, as I comment out the code below, it works definitely right as I thought(figure2). It's weird.
figure1: https://i.stack.imgur.com/MR5i3.png
figure2: https://i.stack.imgur.com/E6pOw.

[2020-04-21 18:00] goldentoby commented on #9950
On the Bokeh Console, there are no errors. But on the js console, it looks like this. imgur.com/a/5qgQRcL

[2020-04-21 18:04] goldentoby commented on #9950
For the function of exporting SVG I think it is quite important to me. I am aiming to export the paper's figure. I would also eager to know the alternative method in order to save the vector format of the picture. Zoom in will not be vague.

[2020-04-21 18:07] goldentoby commented on #9950
As I expend the error in the JS console. https://imgur.com/a/xQDnMig

[2020-04-21 18:10] bryevdv commented on #9950
HI @goldentoby please provide actual code to reproduce

[2020-04-21 18:26] goldentoby commented on #9950
For this, the code is a bit lengthy. I place it on the google drive.
As you download the corresponding file. Just operate to following cli.

[code]

Then it should work.

https://drive.google.com/drive/folders/1eWLZd95VUe-EgGuWsOhAUJNo_Wf03_2_?usp=sharing

[2020-04-21 18:38] bryevdv commented on #9950
@goldentoby Respectfully, please whittle things down. We really need to have a *minimal complete reproducer*. So if the problem show up in one plot, we don't need the extra code for four. If it does not involve styling or tools or or if simple fake data will do instead of ay kind of actual unrelated computation, then all of that should be stripped out.  There are ~500 issues here on the tracker, s

[2020-04-21 21:15] syntonym commented on #9950
The problem is with 0 values and a logarithmic axis, the canvas renderer will skip the line segments coming from/going to 0, while the svg renderer will not render the entire line. A logarithmic y axis shows the same behavior. Code to reproduce:

[code]

[2020-04-21 21:59] bryevdv commented on #9950
@goldentoby can you confirm if there are zeros in your data?

If so, zeros on log axes are not currently supported, so I would close this. It's possible #6517 will be implemented at some point to add a "symlog" scale (though that really only seems useful in a narrow set of use cases to me).

[2020-04-22 01:53] goldentoby commented on #9950
First of all, sorry for providing the lengthy code for debugging, I'll be careful next time.

Sorry for the late reply, Just wake up. I remove the 0 value in both the x and y-axis. it works!! Huge thanks for the reach out.

Currently, there is still a problem in showing the Label while saving SVG. I've e search through the  Issue pages, it seems to be a problem of not detecting the DOM in the HTML

[2020-04-22 01:54] goldentoby commented on #9950
It supposes to have the text inside.

https://i.stack.imgur.com/aO4II.png

[2020-04-22 13:39] p-himik opened #9951 "[BUG] Impossible to use tuples as colors"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.0.1

#### Description of expected behavior and the observed behavior
`Color` accepts 3- and 4-tuples. But it can't be used because the value is not encoded for BokehJS.

#### Complete, minimal, self-contained example code that reproduces the issue
[code]

Even if you use a `palette` to avoid

[2020-04-22 16:46] goldentoby commented on #9950
@bryevdv Looking for helps.

[2020-04-22 17:59] bryevdv commented on #9950
@goldentoby OSS projects are run on an all-volunteer effort. Cycle times for issues are are often measured in days, weeks, or sometimes months. This is not an on-call help desk, and there is no SLA.

Apart from that, I don't actually know what you are seeking. The latest image, that is an incorrect image? Or the correct one? Or something else? What is missing? What is the code that generated it? A

[2020-04-23 22:54] bryevdv opened #9952 "Bust caching of versions.json"
Full release can show up incorrectly as "development version" until a force reload due to browser caching of the `versions.json` file. Adding a random HTTP arg to the request may be one approach

cc @p-himik for offering suggestion.

[2020-04-24 04:01] MarcSkovMadsen commented on #9671
Just checking in again. I would do a restructuring of awesome-panel.org and a similar application at work and would really like the ability to use nested urls before I start sharing links.

The problem for me is

1. Sharing links that later (when this is fixed) will be changed and the original links broken.
2. It's simply difficult when advocating for using Panel (and Bokeh) to explain that you ar

[2020-04-24 06:45] bryevdv commented on #9671
Is there a particular reason not to use CDN resources by default in Panel? cc @philippjfr Unless I am mistake that would immediately ameliorate things in non-argapped situations. We could also consider adding a flag as describe above but it would have to default to "off" to preserve compatibility during the 2.x series. Realistically I think movement on this will need someone close to the requireme

[2020-04-24 07:59] p-himik opened #9953 "[BUG] Race condition between legend and glyph when using `legend_label`"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.0.2-4-gea1f11fc4

#### Description of expected behavior and the observed behavior
Adding a glyph with a lot of data points breaks the plot in unexpected ways.
Note that if you don't see the described behavior, you can try changing the `100000` below to a higher number.
However, even with low

[2020-04-24 08:28] mattpap commented on #9953
I suppose this is a side effect of adding `lazy_initialize`, during which rendering can happen with half initialized state.

[2020-04-24 10:19] p-himik commented on #9953
@mattpap Fortunately, this seems to not be the case - it's just a matter of ordering two closely related document patches. I keep thinking about consolidating multiple patches into one - surely it would solve and prevent all such problems automatically.

[2020-04-24 16:44] #9953 closed

[2020-04-24 17:09] bryevdv opened #9955 "Improve Annotations vs Glyphs for 3.0"
There are duplications, inconsistencies and warts around annotations.

Some context: The original motivation for splitting off annotations like `BoxAnnotation` from say, a `Rect` glyph  is that annotations may be positioned via screen coordinates, which makes re-using the spatial index hit-testing cumbersome/impossible.

Some goals:

* Adopt consistent naming conventions for single/multiple. E.g.

[2020-04-24 17:10] bryevdv commented on #9951
Color tuples have been problematic basically since the beginning, unfortunately.I actually thought things were working somewhat and there had been some tests added at some point but evidently not.

[2020-04-24 17:12] bryevdv commented on #9922
@gmanolia You are correct the only current option is for case-sensitive comparison. I think this should be a fairly straightforward add, so I have marked it `good first issue`. Would you be interested to work on this, with some help/guidance?

[2020-04-24 17:15] bryevdv commented on #9911
@p-himik do you have any opnions about this?

[2020-04-24 17:17] bryevdv commented on #9927
@philippjfr is this the issue we discusses previously, or a dupe? I thought it had already nbeen triaged (and was even in a milestone at one point) I can't find antything.

[2020-04-24 17:18] bryevdv commented on #9927
Tentatively triaging for now but please let me know if you know of a dupe.

[2020-04-24 17:20] bryevdv commented on #9923
@bokeh/dev thoughts on doing something dead simple like a substring search? That seems like it would be fairly straightforward to implement (possibly as a configurable option).

[2020-04-24 17:22] bryevdv commented on #9744
Noting that this still occurs with version 2.0.2

[2020-04-24 17:23] philippjfr commented on #9927
I think it's a separate issue but I'll try to fix both at the same time.

[2020-04-24 17:41] p-himik commented on #9955
I haven't given it much thought yet, but I would definitely like to see the line separating annotations and glyphs as non-intrusive as possible. Ideally, non-existent at all. E.g. it would be nice to be able to specify screen coordinates for glyphs as well - e.g. as a way to create complex annotations. But I have no idea how feasible it is.

[2020-04-24 17:51] p-himik commented on #9923
Can we (maybe in addition to the requested feature) support specifying a `CustomJS` function that would be used to filter the results?

[2020-04-24 17:54] p-himik commented on #9911
I don't think this is actually DataTable-specific. A more general solution is possible that would allow users to react to _any_ `ColumnDataSource.data` value changes. Something like `data_source.js_on_event('data_changed', callback)` or something like that.

[2020-04-24 18:18] ashvin777 opened #9956 "[FEATURE] varea_stack support in bokehjs"
The Python version of this library supports varea_stack, https://docs.bokeh.org/en/latest/docs/gallery/stacked_area.html, However the same method is not available in Bokehjs. Can we have support for this feature?

[2020-04-24 18:45] jbednar commented on #9955
I'd love to see any improvements in this area. I too often find that the boundary between annotations and glyphs is or should be fluid.  It would be great if all visible objects could be specified in either screen or data coordinates, as needed, if all annotations had a vectorized version where they act more like data, etc.  I agree that in the extremes there are differences between annotations an

[2020-04-24 19:07] bryevdv commented on #9955
So, FYI I agre things should be made less obtrusive, think there are reasonable reasons to maintain some separation:

* annotation should generally go "on top" so the separation affords a place to specify an appropriate default render level for annotations that is different from glyphs

* rbush spatial indexing uses data coords. It has to, otherwise a complete-reindex would be required on  e.g. ev

[2020-04-24 19:47] jbednar commented on #9955
Definitely, that's all reasonable. Docs should have an annotations category, default render level for annotations should be different, etc.  Basically, there is a story we can tell about the two types of visible object, based on their expected or intended usage, and the default values of various settings can and should be different for these two categories of object that we present separately.  An

[2020-04-24 22:13] mattpap commented on #9744
The problem is that when a div is shown again, its dimensions and layout are computed before div element's `display` is restored. This results in zero width. A simple fix is to display earlier, but that may be tricky, because displaying too early will result in flickering.

[2020-04-25 02:07] #9941 closed

[2020-04-25 15:57] ZviBaratz opened #9957 "[BUG] Bokeh latest documentation warning"
Hi,

It seems like there's a small bug with the docs:

![image](https://user-images.githubusercontent.com/22370149/80284280-4e46ef00-8726-11ea-861a-28db31748513.png)

As you can see, it is the latest version, but I still get the warning when I view the [Adding Widgets](https://docs.bokeh.org/en/latest/docs/user_guide/interaction/widgets.html) page.
I can't imagine it matters but I'm using Firefox

[2020-04-25 16:01] xavArtley commented on #9957
use shift+F5 in your browser

[2020-04-25 16:05] ZviBaratz commented on #9957
Well that's embarrassing. Thank you and sorry.

[2020-04-25 16:05] #9957 closed

[2020-04-25 17:13] bryevdv commented on #9957
Not embarrassing, it should not be required for users to force-reload. There an open issue to b use the caching of the version file here: #9952

[2020-04-26 03:13] chrisjdixon opened #9958 "[BUG] Better warn about passing source in the CustomJSFilter args dict for 2.0 and above"
The requirement to no longer specify `source` in the args dict tripped me (a layman) up when using a script that worked in 1.40 in 2.0.2. I couldn't work out what was wrong so [I asked in a StackOverflow thread](https://stackoverflow.com/questions/59692059/how-to-link-bokeh-inputs-controls-to-filter-data-cant-work-out-how-to-make-t/59692414?noredirect=1#comment108676352_59692414) where @bryevdv ex

[2020-04-26 07:45] yuji38kwmt opened #9959 "[BUG]The hover tool is not disaplyed when the mouse is directly over text"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
* bokeh 2.0.2
* pandas 1.0.3
* python 3.8.1
* Firefox 75.0

[code]

#### Description of expected behavior and the observed behavior

Expected behavior:
* The hover tool is disaplyed when the mouse is directly over "Bob" text.

Observed behavior:
* The hover tool was **not** disaplyed although the mou

[2020-04-26 14:21] p-himik commented on #9955
https://discourse.bokeh.org/t/cannot-filter-whiskers/5279 made me realize that there's a really unfortunate distinction. While glyphs don't make a distinction between single/multiple items, annotations do. I don't know the reason behind this but it seems like something that should definitely be considered for removal. The other thing is that annotations by default don't support views for some reas

[2020-04-26 17:02] bryevdv commented on #9955
I guess I would say yes and no, and it depends on the annotation. Box annotations are not usually attached to other glyphs. A plot may typically only have one or two box annotations, for example. The *entire value* in having a separate API at all from rect, say, is to make them simple to work with as individual things.

But other cases the annotations *are* often "attached" to glyphs. Whiskers and

[2020-04-26 17:17] bryevdv opened #9961 "Ref Docs need sidebar TOC"
Consider this page, for instance:

https://docs.bokeh.org/en/2.0.2/docs/reference/models/annotations.html

There is no way to just load that page and know what annotations are documented there. Search is great if you know what you are looking for, but it you need to find out what annotations are available to begin with that page is very unhelpful.  This is especially true now after adding inherite

[2020-04-26 17:58] jbednar commented on #9955
Where the attachment is optional?  E.g. sometimes we use labels simply like scatterplots, where the label stands in for the point itself (e.g. when using a unicode symbol, not a word, or when making a word cloud or similar plot).  So it's great to automate the attachment, but I'd hope it was optional.

[2020-04-26 19:01] bryevdv commented on #9955
I think it's reasonable to have two types for glyph labels and plot labels. I just don't like the current names "Label" and "LableSet" at all.

[2020-04-27 01:16] bryevdv commented on #9863
@BenPortner I am taking care of this in https://github.com/bokeh/bokeh/pull/9905

[2020-04-27 06:57] scaine1 opened #9962 "Include example code of PolyEditTool and PolyDrawTool Docs"
Currently the page https://docs.bokeh.org/en/latest/docs/user_guide/tools.html shows gif images of how to use the tools (which are great!).

However, they don't include the code on how to use these tools in practice.

It took me an embarrassingly long time work workout how to use the PolyEditTool.

It would be great if the docs also included sample code on how to use the tools as well as the gif i

[2020-04-27 08:02] #9959 closed

[2020-04-27 08:24] BenPortner commented on #9863
Very nice @bryevdv!!! Love the new markers. Sorry that I didn't get around to doing it myself. I hope I can contribute something to bokeh in the future because I really love it. Keep up the good work, guys!

[2020-04-28 09:38] jxudata commented on #7969
Hi, is it still being worked on?

[2020-04-28 16:09] bryevdv commented on #7969
@jxudata I don't understand the question. It has not been worked on *yet*, but the issue is still open, so it is something we would like or intend to be worked on, whenever anyone has the time to look at it (or when a new contributor wants to get involved)

[2020-04-28 19:36] Pierretherenard commented on #9955
I came here from this link: https://stackoverflow.com/questions/49848966/how-to-add-permanent-name-labels-not-interactive-ones-on-nodes-for-a-networkx/49946144?noredirect=1#comment108699588_49946144
I am using networkx 2.3, bokeh 1.4 and python 3.5. My goal lately is to use a circle to group some dots for display.
![Screen Shot 2020-04-28 at 11 51 00 AM](https://user-images.githubusercontent.com/2

[2020-04-29 06:06] RainerHeintzmann commented on #5071
If you are in a notebook, the simple solution can be to directly access the renderers in the figure p:

`p.renderers[0].visible=False`
hides a specific renderer in the figure, whereas

`p.renderers = []`
would clear all the renderers. Of course you may need to force update of the display. In a notebook by calling:

`push_notebook()`
I am not sure, how much of a hack this is, but it seems to work.

[2020-04-29 06:23] scaine1 opened #9963 "[FEATURE] add a LineEditTool"
I would like to have a **LineEditTool** for editing line glyphs, similar to the PolyEditTool.

For my specific need I have time-series data and I want to be able to edit the y-values only, leaving the x-values in place.

I have had a go to see if I could create the tool, mainly to learn how bokeh works and to learn how to use JS/Typescript.

I created both what I will call **TimeSeries** mode wher

[2020-04-29 09:22] mattpap commented on #9963
@scaine1, this looks pretty good. Submit your changes as a PR and we will start from there.

[2020-04-29 10:12] Karel-van-de-Plassche commented on #7852
Ran into this issue again. Working on bokeh-2.0.2 conversion here: https://github.com/Karel-van-de-Plassche/bokeh-ion-rangeslider/tree/bokeh-2.0.2 Maybe good to think about #7853 and #7894 again?

[2020-04-29 13:13] scaine1 commented on #9963
Haven't done these PR's too many times so always a bit cautious when doing one.

I can see that the PR is going from my feature branch and into the bokeh/bokeh master branch.

![pr](https://user-images.githubusercontent.com/2906750/80599732-ba9b5880-8a6e-11ea-98aa-860d5fd35347.png)

Is this correct? I would have thought the code should stay on its own branch until it is all ready to go?

[2020-04-29 14:56] bryevdv commented on #9963
@scaine1 That is correct. A Pull Request is, first, just a request :) The code will stay on your branch until one a maintainer here presses the button to merge it. It looks like there are some conflicts, though. This can often happen if your fork is not up to date when you make the branch. I would suggest pulling the latest master branch in to your fork, and making a new branch with your changes f

[2020-04-29 15:37] kajiglet commented on #9943
As another civil engineer turned software developer of engineering tools, I agree with the sentiments to permit input with suggested "normal" bounds, but easily allow experimentation of values in a clean appearing interface. Users do not want to think deeply about entering a value until they absolutely need to so intuitive hidden complexity is desirable. I also agree that a bokeh widget is prefera

[2020-04-29 15:40] ZviBaratz opened #9965 "[TYPO] `cumsum()` transform function docstring mistake"
The docstring accidentally states:

The second `start_angle` should be `end_angle`.

[2020-04-29 18:44] wolfiex opened #9967 "No examples of injecting data from python to low level custom js/html plot without any bokeh plots or inputs."
I want to add a layer of direct interaction to a bank page into which data can be read/injected. I do not want any sliders or plots for the time being. There are no examples of such a basic usage of the bokeh server.

[2020-04-29 18:49] bryevdv commented on #9967
@wolfiex I have no idea *at all* what you are trying to accomplish from that description. Please post a (much) more detailed support question on the Disourse as a first step:

https://discourse.bokeh.org/

And if it seems like there's a good example to be added we can discuss a follow up issue.

[2020-04-29 18:49] #9967 closed

[2020-04-29 18:55] #9965 closed

[2020-04-29 18:59] bryevdv commented on #9955
@Pierretherenard As I mentioned in the thread, it's possible that the layout is computed in the browser, and therefore there is no way in general to make the layout indices available on the Python side under all circumstances. So I'm more interested to find ways to express label "attachment" to glyphs, and considering your use case above, ways to allow conditioning label visibility on other factor

[2020-04-29 19:54] wolfiex commented on #4272
Linked example does not run.

[2020-04-29 20:38] wolfiex commented on #9967
I wish to inject (insert) js code to manipulate a new or already existing page (from the bokeh server). This page should be able to send or read data to/from the already existing page.
DOM manipulation should be possible either directly or through d3 for a custom plotting tool, as opposed to the current wrapper functions.

Basically I want to interact with the plethora of tools that already exist

[2020-04-29 21:03] wolfiex opened #9968 "Direct bokeh - d3 interface."
Data-Driven Documents (d3) is a widely used library for manipulating visualisations to the users whim. Bokeh spawns a web server, which can run javascript, CSS and HTML. It then would be logical to be able to use the most heavily utilised library for visualisation on the web within bokeh itself.

Proposal
A plotting class (CustomD3) which contains a string stylesheet and a  section for javascript

[2020-04-29 21:11] bryevdv commented on #9967
@wolfiex I am afraid that sounds out of scope to me. Bokeh is, first and foremost, a library for interactive visualization. If you don't need Bokeh's vis capabilities, then I would say there's already a plethora of other tools for general web/app dev in python that we do not need to duplicate.

[2020-04-29 21:16] bryevdv commented on #9968
This is out of scope, and there is zero chance of this happening in the library proper. Bokeh renders primarily to HTML canvas and in the future may move to pure webgl rendering. D3 as a 'backend" is not a priority for us, at all. However, Bokeh is extensible. If you (or anyone) wants to create a custom extension that connects D3 to Bokeh models and data sources, then you could do that:

https://d

[2020-04-29 21:16] #9968 closed

[2020-04-29 21:19] wolfiex commented on #9967
I wish to create an interactive visualisation, one whose complexity is far beyond the current limitations of bokeh. Unfortunately, the project I am working on is using Bokeh already. Since the library already interacts directly with the pages it creates, can those tools not be better documented and exposed to the user?

[2020-04-29 21:24] bryevdv commented on #9967
There is nothing to document. There is not currently any Bokeh API to inject arbitrary JS into pages. You are the first person to have asked for this in 8 years.

[2020-04-29 21:46] philippjfr commented on #9968
Feel free to submit a feature request on Panel (https://github.com/holoviz/panel), which builds in bokeh and aims to provide support for common visualization libraries.

[2020-04-29 21:47] bryevdv commented on #9968
Thanks @philippjfr I agree Panel is probably a much more reasonable place for a request like this

[2020-04-30 01:41] ruoyu0088 opened #9970 "[BUG]Jedi completion on Figure object raises TypeError"
* bokeh 2.0.0
* jedi 0.15.2
* python 3.8
* windows 10

Here is the test code:

[code]

it raises

[code]

It's because `fig.axis.__module__` returns a list not a string:

[code]

It can be fixed by modify `_list_attr_splat.__getattribute__()`, returns 'bokeh.models.plots' for `__module__`, or Maybe it is a issue for Jedi.

[2020-04-30 01:44] bryevdv commented on #9970
Hi @ruoyu0088 I don't know anything about Jedi offhand. If you say you have a change that solves the issue for you, can you submit it so we can evaluate it, and then hopefully merge it for the next release?

[2020-04-30 03:52] Pierretherenard commented on #9955
conditional visibility yes if It means I can pass a list to control which glyph will display a label

[2020-04-30 06:58] Karel-van-de-Plassche commented on #9721
FYI, I build an image of bokeh 2.0.2 here: https://hub.docker.com/r/bokeh/bokeh/tags based on docker-tools/debian/Dockerfile. As you can see it's almost double the size. I'm not sure if we should care.

[2020-04-30 08:53] dhgoratela commented on #9773
Same for me..
Phew...!

[2020-04-30 10:00] Dr-Nuke opened #9971 "[BUG] Using the same layout element (here: plot) multiple times"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh                     2.0.0                    py37_0
python                    3.7.7           hcf32534_0_cpython
WSL Ubuntu 18.04 (hosted on win10
Firefox 75.0 (64-bit)
running the app with command `bokeh serve testapp.py --dev`
#### Description of expected behavior and the observed behavior
Us

[2020-04-30 12:43] Jhsmit commented on #8421
I'm currently linking/unlinking my x-ranges with a button with two functions:

[code]

Where ``s1`` and ``s2`` are my two figures. Is this the way to do it or is there a 'better' way?

[2020-04-30 15:04] jeremy9959 commented on #9955
I am interested in this issue, in particular as it pertains to drawing graphs. When I drew a labelled graph I computed the node positions in python and added a label set using those positions.  @bryevdv mentioned this in the stackoverflow post referenced above:

Why is the JS approach "the most general and correct"?

[2020-04-30 15:28] ahuang11 opened #9972 "Select widget un-focuses after selection"
**Is your feature request related to a problem? Please describe.**
Prior to integration of panel widgets in holoviews, a user could select a value and keep the select widget highlighted so that they could use the arrow keys to browse through each value, but now users have to manually select values with a pointer.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/15331990/8072900

[2020-04-30 16:18] bryevdv commented on #9773
AFAIK there should not be anything on the docs site that is rendering without SRI hashes any longer, so it should not be possible to trigger this circumstance by first perusing the docs, then using Bokeh locally (which was an issue for 2.0). But if this does crop up and you know how/where you got "exposed" to non-SRI Bokeh script loads, please let us know here so we can see about updating things.

[2020-04-30 16:21] bryevdv commented on #9971
@Dr-Nuke This has been explicitly not-supported for a long time. May I ask why you would ever want to put the same plot in a layout twice?

[2020-04-30 16:22] bryevdv commented on #8421
@Jhsmit I don't see how that relates to this issue at all. For support/usage questions, please visit the project Discourse:

https://discourse.bokeh.org/

[2020-04-30 16:34] bryevdv commented on #9972
@philippjfr is that the Bokeh selection widget? I thought holoviews used its own select widget, in which this should be closed as `invalid`.

In particular, the dropdown/select at https://demo.bokeh.org/movies is different from the one above and also does have the arrow key functionality working.

[2020-04-30 16:38] philippjfr commented on #9972
HoloViews widgets were rewritten on top of Panel, which is built on top of Panel, so those are indeed bokeh select widgets. As far as I can tell the example you pointed to has the same issue, once you've selected a new item the focus is lost.

[2020-04-30 16:43] bryevdv commented on #9972
OK I guess  am confused by

because I can definitely scroll through the list with arrow kieys, make a selection and then if the widget is activated again, I can scroll through again with arrow keys, starting at the previous selection. Is the issue that *activating* the widget at all requires a click? Or that making a selection collapses the the list? I am not sure what the ask is here.

[2020-04-30 16:47] philippjfr commented on #9972
The ask here is that after making a first selection the focus should stay on the widget, so that you can simply use the arrow keys to open the dropdown again and select a new value without having to click to put the widget in focus each time.

[2020-04-30 16:49] ahuang11 commented on #9972
"Is the issue that activating the widget at all requires a click?" No, I want the widget to stay activated after making a selection.

[2020-04-30 16:52] bryevdv commented on #9972
Interestingly enough, if you keep making the *same* selection, the focus does remain, and the menu can be continually re-activated with an arrow down. It starts to lose focus once a new value is selected.

[2020-04-30 16:58] philippjfr commented on #9972
Guessing selecting a new value triggers a rerender.

[2020-04-30 17:07] Jhsmit commented on #8421
Whoops, you're right, sorry.

Its because I was trying to do this:

[code]
Which doesn't work and I thought was related to this issue but apparently I forgot what this issue was all about.

[2020-04-30 17:08] bryevdv commented on #9972
Yes that is the most likely explanation. I'm not sure what simple solution there would be. Offhand I think we might have to keep track globally of a "currently focused" widget and restore that after renders. But that seems potentially fragile If there's a simpler idea I'd love to hear it.

[2020-04-30 17:11] philippjfr commented on #9972
That's one option, another would be to replace the general change event:
[code]

with separate events and the `value` update event would not trigger a full rerender and just mark the new `value` as selected.

[2020-04-30 17:13] bryevdv commented on #9972
tentatively marking for 2.1 also marking as `task` since I'm not sure we ever promised this would be the behavior. If this can be put under an integration test that would be ideal

[2020-04-30 17:16] mattpap commented on #9972
It's cheap to implement this way, but the result is lost focus, bad performance and perhaps other side effects.

[2020-04-30 17:17] philippjfr commented on #9972
Right, maybe we should review other widgets too and see if we should implement granular change events for those as well.

[2020-04-30 19:06] bryevdv commented on #9968
Also just to set the record straight: #187 did not take seven years to add, initial work on it was completed nearly four years ago. As to why it even took that long: while it is certainly easy to *draw* network graphs, the question at hand was how to cleanly integrate a data and selection model into Bokeh, which started out and until then had focused almost exclusively on handling columnar data.

[2020-04-30 20:19] jbednar commented on #9955
The JS approach would presumably leave the labels attached to the glyphs that they are labelling. In a static plot you won't see any difference, but what if you drag a node to a new position using one of the drawing tools?  If the label coordinates are computed only once, in Python, the label will stay where it was.

[2020-04-30 20:26] bryevdv commented on #9955
Yes, the best thing to do is have a first-class way to represent the *association itself*. That way labeling can be robust against layout updates regardless of where or how they originate.

[2020-04-30 22:28] wolfiex commented on #9968
Ah fair enough. I was going on the discrepancy between issue creation and
commit data of the bokeh plotting files - sorry.

Part of the reason I wanted a more direct approach to using js, is that
selection and manipulation of objects (especially within an SVG context -
something which could be manually implemented this way) are far more
straightforward, and the results could then be returned to bo

[2020-05-01 00:15] bryevdv commented on #9962
@scaine1 definitely, I would like to resolve this in a general way by updating the `bokeh-plot` sphinx directive we created to take an option to include the link to the source file automatically. The directive can already include the actual source text but we deemed those examples a bit long to include wholesale inline in the docs.

[2020-05-01 00:21] bryevdv commented on #9956
Some notes:

* Dev Guide for getting set up and running is [here](https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html)

* At a minimum, a PR should also implement `harea_stack` at the same time. Ideally the PR would handle all the "stacked" glyph methods

* The relevant Python code is here:

   https://github.com/bokeh/bokeh/blob/23166fd9d8232decce0ce9219812e570e83d8412/bokeh/plotting/figur

[2020-05-01 00:26] bryevdv commented on #9929
Some notes for any new contributor:

* Dev Guide for getting set up and running is [here](https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html)

* Now that the work to remove CSS render modes has been merged, this will be even simpler. On the Python side you would add a property similar to the one in `Grid`

  https://github.com/bokeh/bokeh/blob/6639b36f931e3dc0790b8a00a3c40c1e93c25f7a/bokeh

[2020-05-01 00:32] bryevdv commented on #9922
Some notes for any new contributor:

* Dev Guide for getting set up and running is [here](https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html)

* On the Python side, the `AutocompleteInput` is defined in here:

  https://github.com/bokeh/bokeh/blob/master/bokeh/models/widgets/inputs.py

  It woudl need to get a new property to control this new behaviour. Possibly a `Bool` to toggle case sen

[2020-05-01 00:34] bryevdv commented on #9919
Some notes for any new contributor:

* Dev Guide for getting set up and running is [here](https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html)

* here are some locations:

  https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/installation.rst
  https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/user_guide/embed.rst

* If looking in to a sphinx extension, those are locat

[2020-05-01 06:06] #5800 closed

[2020-05-01 06:42] dkapitan commented on #9721
@Karel-van-de-Plassche thanks for following up. Could you share how you build the image exactly? Would like to reproduce it.

[2020-05-01 07:06] Dr-Nuke commented on #9971
aha ok explicitly not-supported.
Then I guess it's purely my intuition and idea of object-oriented  programming that wants me to use the same object twice. Maybe the example of a graph is too specific, it could be any (cosmetic) object on a dashboard

[2020-05-01 08:00] mattpap commented on #9971
The technical reason for this not being supported is that the mapping between a model's view and its children, is a simple `model.id` -> model view mapping. So e.g. `Row.children` can't have duplicated entries, though it should at least warn you about it. However, you can work around this by nesting a layout like this:
[code]
This will actually show two plots. However, by reusing the same model an

[2020-05-01 08:03] mattpap commented on #9971
Unfortunately `deepcopy()` would copy the identity of all involved models, so you would be back to square one, if it can copy bokeh's models reliably at all.

[2020-05-01 08:04] mattpap commented on #9971
I will consider this as a bug, because you should be at least warned (preferably an exception should be throwed) that duplicated entries are prohibited.

[2020-05-01 08:28] Dr-Nuke commented on #9971
I think a warning/ exception makes sense. Would have prevented me from going this far :)
I also understand why the `deepcopy` would not help.
nice workaround though!

[2020-05-01 08:52] Dr-Nuke opened #9978 "[BUG] Cannot apply patch to [id] which is not in the document anymore"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 2.0.0 py37_0
python 3.7.7 hcf32534_0_cpython
WSL Ubuntu 18.04 (hosted on win10
Firefox 75.0 (64-bit)
running the app with command` bokeh serve testapp.py --dev`
#### Description of expected behavior and the observed behavior
in reply to https://github.com/bokeh/bokeh/issues/7738#issuecomment-60

[2020-05-01 09:17] mattpap opened #9979 "Add a script for fetching bokehjs-report artifacts"
This should be easily possible with GitHub's API, but currently doesn't work, at least for me. Maybe the reason is that the involved APIs have experimental status.

My setup:
[code]
Where `$GITHUB_ACCESS` is your `username:token`. The token has to have `public_repo` scope enabled to allow you to access artifacts. The `Accept` header is there to allow experimental APIs.

To get a list of checks tha

[2020-05-01 14:14] jeremy9959 commented on #9955
OK thanks now I understand the issue better.

[2020-05-01 14:28] mattpap opened #9980 "Migrate examples/integration to bokehjs' integration tests"

[2020-05-01 19:14] bryevdv commented on #9971
I do think adding a `.clone` API to create copies (with new model ids) would be reasonable and useful

[2020-05-01 19:27] mattpap commented on #9979
A simple workaround would be to use variable artifact names, i.e. include short SHA1 signature. Then it would be possible to find the most recent artifact for the specific commit in `/actions/artifacts`.

[2020-05-02 03:32] bryevdv opened #9982 "BokehJS User Guide section not using SRI hashes"
e.g.
[code]

Ideally we might want to add some sort of check if possible that ensures we don't ever load BokehJS without including the SRI hashes.

[2020-05-02 10:25] lgiraldi opened #9983 "[BUG] Can't change jitter width with a CustomJS callback"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

bokeh 2.0.2
python 3.8.2
macOS
Google Chrome Version 81.0.4044.129 (Official Build) (64-bit)

#### Description of expected behavior and the observed behavior

*Expected behavior*: The jitter width is supposed to be linked to a slider value in a standalone document with `slider.js_link("value", jitte

[2020-05-02 14:33] singlecheeze opened #9984 "HoverTool tooltips for multiple Renderers in linked figures incorrect Y value [BUG]"
bokeh=2.0.2
python=3.8.2
chrome=81.0.4044.129 (Official Build) (64-bit)

Expected behavior:
The corresponding X axis point tooltip would render over the corresponding Y value for each figure

Observed behavior:
The corresponding X axis point tooltip does not render over the corresponding Y value for each figure

Code that reproduces the issue:
[code]
![Screenshot from 2020-05-02 10-11-41](https://

[2020-05-03 22:47] bryevdv commented on #8308
I am just recording some minor changes I made on 2020-05-03:

* Add section to record NumFocus Project Committee membership
* Delineate that the NF committee is responsible for use of funds approvals
* Explicitly list the "conduct sub-committee" members

I don't expect that there should be any contention around these changes but please comment here if there is anything that requires additional dis

[2020-05-03 22:55] bryevdv commented on #4854
Recording small changes added on 2020-05-03:

* Link to Conduct Subcommittee on the Project Roles document, so that potential submitters may know ahead of time who will receive any reports
* Add stanza for escalation to NF CoC in a case a report is about NF committee itself (covers every contingency)

I don't expect that that could be much to say about these clarifications, but please comment here

[2020-05-04 00:16] bryevdv commented on #9984
There is not currently any support for linking hover tools across plots. I am marking this as a dupe of https://github.com/bokeh/bokeh/issues/1547 That's a quite old issue but perhaps surprisingly it's never gotten many comments or +1's so correspondingly has not been prioritized.

[2020-05-04 00:16] #9984 closed

[2020-05-04 00:18] bryevdv commented on #9983
Just noting that AFAICT from the code most of the versions above ought to work. I also tried explicitly emitting `transformchange` and that did not work either.

[2020-05-04 00:24] bryevdv commented on #9978
@bokeh/dev I propose we simply lower this from `log.warning` to `log.debug` (or even `log.trace`) with a slightly tweaked message. AFAICT there is basically only one situation that triggers this message, and in that situation ignoring the changes for the already-removed models is just the correct thing to do.

[2020-05-04 00:25] philippjfr commented on #9978
That would be great, +1 from me.

[2020-05-04 00:27] bryevdv commented on #9958
This could be done with a new `Document` validation check. Alternatively we could introduce a Dict-like property that can have "banned" keys. That would error out sooner which might be preferable.

[2020-05-04 06:57] Karel-van-de-Plassche commented on #9721
In this case I changed the `ENV BK_VERSION=2.0.2` to the version I needed, and `docker build --file docker-tools/debian/Dockerfile --tag bokeh/bokeh:2.0.2 docker-tools/debian` worked correctly. I guess changing them to an [ARG](https://docs.docker.com/engine/reference/builder/#arg) would make sense if we want to use the Docker files like this.

[2020-05-04 07:19] jpvnunes opened #9985 "[BUG] TextInput.on_change() doesn’t work on Microsoft Edge"
As I run the sliders [https://github.com/bokeh/bokeh/blob/master/examples/app/sliders.py](url) script on a Bokeh server, the TextInput.on_change() doesn’t work when running on Microsoft Edge. I tried it on Chrome and it works.

For your reference: I am running Bokeh 2.0.1 on Anaconda, python version 3.7.4. on Windows 10 64-bit. I created the server via the following command:

[code]

[2020-05-04 15:58] bryevdv commented on #9216
@bokeh/dev I have re-triaged as a bug, the current behavior is never useful.

[2020-05-05 10:46] ZviBaratz opened #9987 "[BUG] `FactorRange`'s `start` property's help string references `end`"
See [here](https://docs.bokeh.org/en/latest/docs/reference/models/ranges.html?highlight=factorrange#bokeh.models.ranges.FactorRange.start).

[2020-05-05 11:54] #9987 closed

[2020-05-05 19:33] sfosset opened #9988 "[BUG] Dynamic use of bokeh.plotting glyph method breaks the plot render in browser"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh info:
Python version      :  3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 22:45:29) [MSC v.1916 32 bit (Intel)]
IPython version     :  7.13.0
Tornado version     :  6.0.4
Bokeh version       :  2.0.0
node.js version     :  v12.16.1
npm version         :  6.13.4

Windows 10
Bug reproduced in:
Jupyte

[2020-05-05 19:59] bryevdv commented on #9988
@sfosset I think if you are going to dynamically add glyphs you will have to manage your `Legend` and `LegendItem` objects manually as well. The `legend_label` machinery is a convenience for that but I guess I am not especially surprised it does not work with this kind of usage, and I am not not sure it can be made to, either (in which case that should be documented better).

Definitely worth some

[2020-05-05 20:36] Kraboobee commented on #9915
I've just adjusted the CSS, and I think I've fixed the issue. I'll make a PR shortly.

[2020-05-06 01:58] chrisjdixon opened #9990 "[BUG] Elaborate on how the margin attribute works in documentation"
When trying to adjust a margin the [documentation for the margin attribute](https://docs.bokeh.org/en/latest/docs/reference/models/layouts.html?highlight=margin#bokeh.models.layouts.Tabs.margin) didn't tell me everything I wanted to know. It took longer than I care to admit to figure out how it works and I think it'd help others if the documentation for margin explained:

- the ints in the tuple s

[2020-05-06 04:33] bryevdv commented on #9990
Hi @chrisjdixon That helps string coudl certainly use some elaboration. AFAIK the sense of "margin" here matches the standard CSS sense of "margin", but at a minimum we should link to something the w3schools reference for margin:

https://www.w3schools.com/Css/css_margin.asp

And possibly add some of our own explanation inline as well.

We have applied to Google Summer of Docs so with any luck we

[2020-05-06 13:43] p-himik commented on #8153
FWIW, it's possible to hide `HoverTool` and `CrosshairTool` by specifying `toggleable=False`.

[2020-05-06 14:12] p-himik commented on #7113
Cannot reproduce on Bokeh 2.0.2.

[2020-05-06 14:12] #7113 closed

[2020-05-06 14:53] sfosset commented on #9988
Thanks for the advice on dealing with glyph dynamically, it is indeed working much better this way.

I initially wanted to do it this way because I have a large set of data to be made available to the user, but the user will be interested only in small chunk of it to show on the plot at a single time (telemetry time series exploration and report). This way I wanted to avoid having all the data loa

[2020-05-06 15:44] tretaki opened #9992 "[BUG] Select widget hiding tabs, when selecting a plot"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

bokeh: 2.0.2
python: 3.8.2
OS: Linux 4.19.118-1-MANJARO
browser: Firefox 75.0, Brave 1.7.98 Chromium: 81.0.4044.113 (Official Build)

#### Description of expected behavior and the observed behavior

Context: Select widget menu is implemented to show a selected plot via a custom JS callback. The plot

[2020-05-06 15:47] p-himik commented on #9218
This just popped up again at https://discourse.bokeh.org/t/reset-zoom-after-data-source-update-from-bokeh-server/5340/11

I now realize that circular references are definitely possible, and are completely justified. In the example above, `ColumnDataSource` has `CustomJS`, which has `GlyphRenderer`, which has the data source. @mattpap Do you have any thoughts on the possibility of such cycles?

[2020-05-06 15:54] mattpap commented on #9218
Not yet. If you can, please submit a PR with your original solution. We can always improve this later.

[2020-05-06 21:46] #9915 closed

[2020-05-06 23:12] rchossein opened #9993 "How to get the Dropdown value in bokeh=2.0.1+"
### conda env, Ubuntu 18.04, bokeh=2.0.1

[code]
running `bokeh serve test_dashboard.py` gives the following error:
[code]
The same code works in bokeh=1.4.0 and from my search it seems value property still exist for dropdowns. Is this a bug?

[2020-05-07 00:06] bryevdv commented on #9993
This is not a bug, the API changed at 2.0 to reflect that a dropbdown button is in fact a button:
[code]

[2020-05-07 00:06] #9993 closed

[2020-05-07 21:11] ys4503 opened #9995 "[BUG] Updating CDS with CustomJS and PointDrawTool Run Very Slow in Microsoft Edge"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Python 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
Bokeh version : 2.0.2, 1.4, 1.2
Microsoft Edge 44.17763.831.0
Chrome Version 81.0.4044.113
Firefox v75.0 (64-bit)

#### Description of expected behavior and the observed behavior
Updating ColumnDataSo

[2020-05-08 01:05] bryevdv commented on #9978
This is a one line change so I have marked GFI. The line is here:

https://github.com/bokeh/bokeh/blob/master/bokeh/document/document.py#L406

But it should be done for 2.1 even if no one new picks it up.

[2020-05-08 02:11] bryevdv opened #9997 "[BUG] Can't build BokehJS on OSX"
Have tried all of the following tp get unstuck, to no avail:

* `npm cache clear --force`
* `rm -rf node_modules`
* updating to nodejs 12.x

Also tried manually installing `esquery` after all that. Always get:
[code]

[2020-05-08 02:16] bryevdv commented on #9997
Manually installing esquery 0.4 "fixes":
[code]

[2020-05-08 03:15] bryevdv commented on #9910
going to go ahead and mark as `task` for `future`. The experience adding less than ten new markers in #9905 has convinced me we have *way* too much overhead around markers.

[2020-05-08 04:12] jbednar commented on #9943
There's now a version of this functionality submitted to Panel (https://github.com/holoviz/panel/pull/1326), but again I'd rather see it in Bokeh, personally!

[2020-05-08 06:36] naveensaigit commented on #9978
I'm willing to work on this issue. What do you want the new message to be?

[2020-05-08 07:35] #9963 closed

[2020-05-08 17:15] bryevdv commented on #9978
@naveensaigit great! To be honest the main this is that the log level should be lowered to `debug` or `trace`. The current message is probably OK as is, or you could add "(this is usually harmless)" or similar to the end of it.

[2020-05-08 17:27] naveensaigit commented on #9978
@bryevdv Ok, I'll change this and make a PR

[2020-05-08 18:02] RyanRio commented on #9997
Same error and then one additional error on Windows (Windows 10 in conda environment):
`timezone` error:
![image](https://user-images.githubusercontent.com/25875031/81434425-1aab9200-9134-11ea-82a2-0c6157085701.png)

Then the `esquery` error:
![image](https://user-images.githubusercontent.com/25875031/81434468-2d25cb80-9134-11ea-9bf6-3b2ee695742a.png)

When installing esquery manually with `npm in

[2020-05-08 21:10] #9863 closed

[2020-05-08 21:10] #9890 closed

[2020-05-09 18:47] cuspime opened #10002 "Bokeh not rendering, stuck on Loading BokehJS [BUG]"
Hi,

Yesterday I had Bokeh version 0.12 or something like that running on windows 10 (so within Anaconda). I decided to upgrade to version 2.0.2 within the notebook using `!pip install bokeh --upgrade` and it seems to have been a terrible mistake. Now I cannot even plot the simplest things.
I do the imports as follows and try to plot just a simple line

[code]

This just gives `Loading BokehJS ...

[2020-05-09 19:06] bryevdv commented on #10002
Hi @cuspime Have you tried this with other browsers/OS yet, as suggested in the SO comments? Have you force-reloading the page, clearing cache, or loading in a private browser? The only way to make any progress on this problem that is specific to your situation is to narrow down what about your specific situation is causing the issue. What version of notebook do you have installed? Can you also tr

[2020-05-09 20:58] cuspime commented on #10002
yes, I have tried on Chrome, FireFox and Explorer. Haven't tried with another OS since I don't really have other OS. I have reloaded the page, closed it, restarted the terminal, cleared browser cache, private browser

I have version 6.0.0 of jupyter and the program didn't render on jupyterlab either.

[2020-05-09 23:06] bryevdv commented on #10002
Really not sure what could be different on your system. Here is Win 10, Chrome, notebook 6.0.3 and Bokeh 2.0.2 just now:

<img width="1125" alt="Screen Shot 2020-05-09 at 4 04 32 PM" src="https://user-images.githubusercontent.com/1078448/81487092-fe305800-920e-11ea-86d3-6adc3a36939b.png">

Do the live mybinder tutorials work for you?

https://mybinder.org/v2/gh/bokeh/bokeh-notebooks/master?filepat

[2020-05-09 23:11] bryevdv commented on #10002
Well, I guess let's also take a step back and verify assumptions. What is the value of `bokeh.__version__` inside the notebook? Also, do examples outside the notebook work? e.g. running any of the plain python scripts here:

https://github.com/bokeh/bokeh/tree/master/examples/plotting/file

[2020-05-09 23:30] bryevdv commented on #8010
Another occurrence of this I believe:

https://discourse.bokeh.org/t/update-glyph-color-from-datatable/5426/2

[2020-05-09 23:51] cuspime commented on #10002
The tutorials are working!! doing boke._version__ gives me 2.0.2

The link you sent
[https://docs.bokeh.org/en/latest/docs/gallery/hex_tile.html](https://docs.bokeh.org/en/latest/docs/gallery/hex_tile.html)

does render and I can move the plot around

[2020-05-10 08:16] p-himik commented on #10002
@cuspime You have used `pip` in a `conda` environment. Sometimes it can mess things up. I would attempt to recreate the environment with Bokeh 2.0.2 and void using `pip`.

[2020-05-10 12:34] Hoeijmakers commented on #8012
I was searching for this feature today, and I would like to reiterate this feature request. The proposed solution to map the variable to its logarithm works, but is inconvenient as it requires the user to mentally take the exponent of the labels shown on the slide bar.

[2020-05-10 13:24] xavArtley commented on #8012
For the moment you can change the displayed value using a Tickformatter:
[code]

[2020-05-10 14:23] cuspime commented on #10002
I was able to solve the problem! Thanks @p-himik. In the end I [created a new environment](https://docs.conda.io/projects/conda/en/latest/user-guide/concepts/environments.html) all from within the anaconda prompt and was able to load bokeh. Now everything is back to normal.
I guess pip did messed things up.

[2020-05-10 16:27] Hoeijmakers commented on #8012
Dear xavArtley; thanks for that lightning-fast suggestion. I confirm that it is working neatly (actually applied to a RangeSlider).

[2020-05-10 19:07] bryevdv commented on #10002
@p-himik  can you elaborate? I always test Bokeh pip packages by pip installing them into conda simple conda envs. That always works for me and, more importantly, should work. Do you suppose this is specifically when pip installing over an already existing conda install? I guess I wouldn't be too surprised if that specifically could be problematic, but would also wonder what could be done to impro

[2020-05-10 19:07] #10002 closed

[2020-05-10 20:00] p-himik commented on #10002
I think that's it, yeah. I don't remember having issues when using `pip install` with packages that aren't in any conda channel, so it's either installing or upgrading with pip over an existing conda package, or maybe vice versa.

[2020-05-11 02:25] MarcSkovMadsen commented on #9501
Working on a workaround for this (and other things) in Panel here https://discourse.holoviz.org/t/awesome-panel-designer/643/3 to speed up my development experience.

[2020-05-11 08:51] ayushiitr2901 commented on #9907
You mentioned about renaming class `AuthMixin` to `BokehAuthRequestHandler`. Would it be better handled by creating a new file, defining the class `BokehAuthRequestHandler`, and adding a deprecation message to the old auth_mixin file.

[2020-05-11 11:18] #9871 closed

[2020-05-11 14:19] dennismdunn commented on #8421
I've been attempting to update fig{x,y}_range.{start,end} in a callback function in a mapping application, to show different state maps in the correct aspect ratio.  I update the data source for the figure, then directly update the x_range.start, etc.   Running this under my bokeh server (2.0.1) this works, but randomly fails.   Sometimes all limits are refreshed and the map displays properly.   O

[2020-05-11 15:33] mattpap commented on #9997
I can now reproduce some form of this issue on Linux:
[code]

[2020-05-11 15:40] mattpap commented on #9997
The problem is with caching in bokehjs' build, which doesn't recognize structural changes to packages and fails to invalidate itself. If you see those error messages, then a workaround is to issue `node make build --rebuild` (this ignores the cache). This wasn't caught by my earlier attempt to reproduce this (PR #9991), because in CI we always build from scratch.

[2020-05-11 15:44] #9218 closed

[2020-05-11 16:03] thecraigd commented on #8423
@troyswanson Thanks so much! I was having a similar problem and this was exactly the issue. Cheers!

[2020-05-11 16:18] bryevdv commented on #9907
I don't personally think there is any need for a deprecation on this, I think we can just take the change at 3.0 without anything else done up front. It's not part of any user-facing code paths, I can't imagine any scenario that any user would even know about this class much less be trying to use it directly.

[2020-05-11 16:41] davidpu7 commented on #8423
@troyswanson @thecraigd : thank you so much for the tip.  May I ask when you guys say "when creating your figure, you can include this as the `source` without issue." what is the code for it? From my understanding, ColumnDataSource is the way to introduce data to Bokeh.

[2020-05-11 16:46] RyanRio commented on #9997
Workaround solves the issue on Windows too - I'm trying to figure out where the caching problem you've pointed out exists but I'm having a tough time since the error can happen in multiple tasks. Is there a specific ts file where the caching functionality is written?

[2020-05-11 16:48] mattpap commented on #9997
@RyanRio, `bokehjs/src/compiler/linker.ts` which is then used in `bokehjs/make/tasks/*`.

[2020-05-11 17:17] troyswanson commented on #8423
After reading my original response, it's not as complete of an explanation as it could be.

Bokeh has two parts -- Python and JavaScript. The Python part is used in a Jupyter Notebook or a Python script (or really anywhere you use Python). The JavaScript part is used to render the figure in the web browser.

With that in mind, there has to be a way for data to be communicated from Python to JavaSc

[2020-05-11 17:23] davidpu7 commented on #8423
@troyswanson Thank you so much for the detail and fast reply.  That makes a lot of sense.  i will try it on my code :)

[2020-05-11 17:31] samuelcolvin opened #10007 "[BUG] Importing bokeh is VERY slow"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

* bokeh: `2.0.2`
* python: `3.8.2`
* OS: macos 10.15

#### Description of expected behavior and the observed behavior

Importing bokeh is **very** slow, around 1s for me. This is enough to significantly damage the developer experience.

#### Complete, minimal, self-contained example code that reprod

[2020-05-11 17:45] bryevdv commented on #10007
We have looked at this before but unfortunately there may not be much we can do. We import NumPy always, and Pandas if it is available. On my machine those alone account for the large majority of time:
[code]
There is nothing we can do about that overhead on our end.

That said Python 3.7 has a new import profiling mode. Quickly, here are the results that might point to some tweaks that can be mad

[2020-05-11 17:46] bryevdv commented on #10007
Ah, you already posted that, I was not familiar with the GH spoiler tag option.

[2020-05-11 19:17] samuelcolvin commented on #10007
Is there any chance you could make pandas imports lazy and only do the import when it's actually required?

[2020-05-11 19:40] bryevdv commented on #10007
not without technically making a breaking change. Module global `DATETIME_TYPES` is conditionally populated based on whether or not pandas is present:

https://github.com/bokeh/bokeh/blob/378a9fa6a9012122fae8c473ea4b001f3fcb22b4/bokeh/util/serialization.py#L61-L75

@samuelcolvin here is what I would say could help move this along. If you want to experiment with making all the imports conditional a

[2020-05-11 21:28] comperem opened #10009 "[FEATURE] add pyproj to improve lat/lon and Web Mercator coordinate conversions"
Hello,

The GIS and mapping capability of Bokeh is good and growing but lacks ability to convert units between (lat,lon) pairs and Web Mercator Easting and Northing coordinate pairs.

[`pyproj`](https://pypi.org/project/pyproj/) is a simple, focused and mature coordinate conversion utility for converting between recognized standard coordinate frames.

Adding `pyproj` or a similar capability would

[2020-05-11 21:35] comperem opened #10010 "[FEATURE] Improve Mapping Geo Data documentation"
Hello,

The [Users Guide documentation on Mapping Geo Data](https://docs.bokeh.org/en/latest/docs/user_guide/geo.html) seems to under-represent the Bokeh GIS mapping capability. Bokeh has at least 10 open source map tile providers but there is no mention of them individually in the Users Guide.

A display of all map providers with their different styles seems appropriate and is surprisingly absent

[2020-05-12 06:09] ayushiitr2901 commented on #9907
Oh, I get it. I agree the code part is not visible to the user directly and hence there is no need to give a deprecation message. I will go ahead and make the changes accordingly.

[2020-05-12 06:34] bryevdv commented on #9907
If a PR is made now, it will have to be against the `future` branch not `master`. This is a breaking change so it should go in a future 3.0 release, but that's probably quite a way off. I only meant that I did not think a deprecation was not necessary during the rest of the 2.x series leading up to 3.0.

[2020-05-12 06:38] ayushiitr2901 commented on #9907
Oh apologies, I already made a pull request should I close it for now or mark it to the future branch?

[2020-05-12 07:07] #9844 closed

[2020-05-12 13:45] mbilyanov opened #10013 "[BUG] Dropdown widget evet rests the Y-axis on the second plot."
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-05-12 16:06] bryevdv commented on #10013
I notice you have also logged a support question on the Discourse. I am going to go ahead and close this issue until it is determined whether there is a bug or whether it is a usage issue.

[2020-05-12 16:06] #10013 closed

[2020-05-12 16:18] bryevdv commented on #9907
@ayushiitr2901 No apologies necessary! Thinking a bit about it it might have been misleading to mark this as a `Good First Isssue` since it does have this extra consideration.

I don't have a strong preference about merging now (against `future`) or closing and re-resubmitting nearer to 3.0. In general it's a bit of a pain to keep long running branches of parallel development, but @mattpap  has be

[2020-05-12 16:21] mbilyanov commented on #10013
Sure. Thank you.

[2020-05-12 20:02] michael-imbeault opened #10014 "New way to export_png in bokeh 2.0 creates issues in Ubuntu WSL"
So apparently there was a switch from PhantomJS to using Firefox + geckodriver / Chromium + chromedriver for the export_png functionality in versions following 1.4.

All good in theory, but it doesn't work in Ubuntu 20.04 when installed through WSL (Windows Subsystem for Linux - Windows 10).

Even basic plotting examples (such as https://docs.bokeh.org/en/latest/docs/gallery/ridgeplot.html) crash

[2020-05-12 20:06] pavithraes commented on #8741
Points from an old discussion on Discourse with @bryevdv

A note about the CoC could be added to:
- [ ] The main repo README: https://github.com/bokeh/bokeh/blob/master/README.md
- [ ] Developer guide: https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/dev_guide.rst
- [ ] Front page site (https://bokeh.org)
  - Footer: https://github.com/bokeh/bokeh.org/blob/master/_includes/footer.html

[2020-05-12 21:02] samuelcolvin commented on #10007
https://github.com/samuelcolvin/notbook is the reason I was asking this, would love your feedback @bryevdv.

I'm pretty busy right now but I should think bokeh is great, I'll try and work on it when I get a chance.

[2020-05-13 00:34] mattpap commented on #10014
It still may be possible to export images with phantomjs (though I didn't test this), by using:
[code]
phantomjs can be installed with `npm install -g phantomjs-prebuilt`. Note that selenium's support for phantomjs is deprecated, and I wouldn't run any untrusted JavaScript there (treat it as if there was no sandbox, which may fine in a container).

[2020-05-13 02:04] bryevdv commented on #10014
@michael-imbeault And just to echo what @mattpap with more detail, the Selenium project has already removed all support for phantomjs in 4.0 alpha releases:

https://github.com/SeleniumHQ/selenium/blob/b5dbffc7d27b915204691def5c1f29141fb9a0a5/rb/CHANGES#L70-L71

There's definitely nothing we can do about that. So slightly longer term, everyone will have to find ways to move on from phantomjs, rega

[2020-05-13 06:53] bryevdv opened #10017 "Switch server default resources to CDN?"
@bokeh/dev I would like to consider changing the default resources for Bokeh server to CDN. For almost all real user situations I can think of this represents an improvement. Viewers of apps will get to take advantage of CDN caching and apps will not have to waste compute and bandwidth on serving resources themselves.

 Local dev will be slightly complicated by needing to specify to use local reso

[2020-05-13 08:18] p-himik commented on #10017
CDNs have their own downsides. But overall I think the change of the default choice makes sense.

The "Getting Set Up" section of the dev guide should probably mention setting `BOKEH_DEV=true`. Even if the switch to CDN is not realized.

[2020-05-13 08:57] michael-imbeault commented on #10014
Great, thanks for the tip. WSL2 is just around the corner (a few weeks for general availability) and should allow for more compatibility, so probably a short term problem.

[2020-05-13 08:57] #10014 closed

[2020-05-13 15:57] ashwani-rathee commented on #9990
Hey @bryevdv ,I saw the updates by @naveensaigit...is this issue still open??

[2020-05-13 15:58] #9990 closed

[2020-05-13 16:02] bryevdv commented on #10010
Marking this `task` `docs` and cc @bokeh/dev  for more exposure. I definitely agree that the Geo section is one of the thinnest and could be expanded. Offhand, I would say adding your example once it is merged to the page would be a compact way to show off all the tile providers (leaving the individual listing to the ref guide).

[2020-05-13 16:03] pde commented on #7548
@bryevdv [here's a simple reproduction](https://colab.research.google.com/drive/1Om2vF-2-mZA-vLcS9KyA6aUXZiywWwsY#scrollTo=pT4Qn5kkwRJG).

[2020-05-13 16:15] ashwani-rathee commented on #8448
@bryevdv This issue also seems worth working on to me, I have all my day to read and find mistakes and improve them...
Any specific guidelines?? or which is a good place to start from??

[2020-05-13 16:48] bryevdv commented on #8448
@ashwani-rathee For this task, not so much except to read over things at https://docs.bokeh.org with fresh eyes and note all the places you find where there are either typos, or bad formatting, or other. Then I can help point you to the necessary source files to update to make the changes.

[2020-05-13 18:15] #9978 closed

[2020-05-14 00:01] cuspime opened #10019 "What happened to mpl.to_bokeh ? [FEATURE]"
In previous versions there was a package to deal with other libraries like matplot and seaborn ([see here](http://docs.bokeh.org/en/0.11.1/docs/user_guide/compat.html))

What happened with it and how can I embed a Seaborn plot in a bokeh layout??

[2020-05-14 00:10] bryevdv commented on #10019
@cuspime `mpl.to_bokeh` was deprecated more than three years (two major releases) ago, and subsequently removed. We made several public announcements along the way, and also added explicit deprecation warnings for some time. The initial implementation of MPL emulation relied on a third-party library `mplexporter` that itself was eventually abandoned, and which also relied heavily on private MPL li

[2020-05-14 00:10] #10019 closed

[2020-05-14 00:12] bryevdv commented on #10019
I should add, there was briefly hope that [MEP 25](https://github.com/matplotlib/matplotlib/wiki/MEP25) would provide a way for other libraries to integrate with MPL in a defined, maintained way. But as you can see no work has been done on that in more than six years. The abandonment of MEP 25 was the final nail in the coffin for Bokeh's MPL support.

[2020-05-14 00:16] bryevdv commented on #10019
Lastly will just mention that if you want assistance using native Bokeh APIs, the Project Discourse is a great place to ask for help: https://discourse.bokeh.org/

[2020-05-14 01:56] jbednar commented on #10019
BTW, there are a couple of currently supported alternatives:

- The [Panel](https://panel.holoviz.org) library (built on Bokeh) can return a Bokeh model from a Seaborn or other Matplotlib plot, which you can then embed in a  Bokeh layout.  It works differently from the old APIs that translate into Bokeh primitives; instead it's just a way of displaying an actual Seaborn plot in a Bokeh Server app

[2020-05-14 04:05] ashwani-rathee commented on #8448
@bryevdv
On Creating Layouts page: https://docs.bokeh.org/en/latest/docs/user_guide/layout.html
Under Multiple Objects heading, There is a gibberish message that doesn't make any sense.
 Multiple Objects
Below is a more sophisticated (but fairly typical) example of a nested layout with different sizing modes:

[2020-05-14 09:40] MagnumDingusEdu commented on #9982
@bryevdv I would like to work on this

[2020-05-14 09:48] MagnumDingusEdu commented on #9982
@bryevdv I would like to work on this.

[2020-05-14 10:00] ashwani-rathee commented on #8448
Hey @bryevdv  ,I went through Jupyter notebook tutorials today and I found around 51 spelling mistakes..there are many other tiny-tiny formatting errors (adding/removing a comma, hyphen) and also tiny errors like forms of the verb and use of articles.

[2020-05-14 10:36] mbilyanov opened #10020 "Windowed Auto-ranging"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh Project Discourse](https://discourse.bokeh.org).

**Is your feature request related to a problem? Please describe.**
I have been working on implement an auto-rangi

[2020-05-14 12:25] zeknafar opened #10022 "[BUG] DatePicker.disabled doesn't always work"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 2.0.2
python 3.7.4 (Anaconda)
Windows 10
Reproduced with FireFox 76.0.1 and Microsoft Edge 81.0.416.72

#### Description of expected behavior and the observed behavior
From the provided code, I would expect that clicking the button and setting dp.disabled to True or False would change the disab

[2020-05-14 12:43] mattpap commented on #9907
I changed the base of PR #10011 to `future`, so it can be merged as soon as code quality issues are addressed. As to `future` branch itself, I backported all changes from that branch to `master` and reset it to `master`, so that we don't duplicated commits.

[2020-05-14 14:02] Lif3line opened #10023 "[BUG] Clearing lines from streamed data using ColumnDataSource fails if data is arrays"
# Issue
When attempting to clear drawn lines from streamed data via `source.stream(data, rollover=1)` the clear doesn't work if the line's `x` and `y` are numpy arrays in the associated `ColumnDataSource`.  Instead a new line is drawn using the last of the old data and the new data.

This is different to the behaviour if either `x` or `y` is a list.

## Minimal Example
Tested under Windows 10 + Mo

[2020-05-14 14:04] ImHimanShoe commented on #6895
after searching through all the date function I find the solution in the issues of Bokeh.
That divide by 1000 was tricky to catch, thanks!!

[2020-05-14 16:46] blois commented on #9302
The API is in, initially only exposed for users in an allow-list to limit impact of breaking changes. If you'd like to have it enabled feel free to email me `blois at google com`. Hopefully this is the last part for comms- making sure the APIs do what is needed.

Colab still has some work to do to upgrade tornado, which is a pre-req for upgrading Bokeh, but we're working on it.

[2020-05-14 18:01] philippjfr commented on #9302
I'm working up a PR to add support for commms in bokeh (and the HoloViz stack). I'll reopen this issue since the ball is now in our court.

[2020-05-14 19:26] bryevdv commented on #9907
@mattpap it can't be merged into master now, if that is what you mean?  It is a breaking change so should go in 3.0 I would say in that case close for now and re-open when we are on final approach for 3.0

[2020-05-14 23:06] bryevdv commented on #6895
@ImHimanShoe FYI the PR linked above added convenience methods that will return datetime types

[2020-05-14 23:14] bryevdv commented on #8448
@ashwani-rathee The gibberish message is Lorem Ipsum (https://en.wikipedia.org/wiki/Lorem_ipsum) which is commonly used as placeholder text in visual design work. I suppose it's not as widely known as I might think, though, so changing it to something "real" seems like a reasonable thing to do. If you wanted to look at providing more meaningful text, are two places that use Lorem Ipsum in examples

[2020-05-14 23:25] bryevdv commented on #9982
@MagnumDingusEdu That would be fantastic. First I just want to make sure the nature of the task is clear. This is mostly a coding task, to up date our `:bokehjs-content:` Sphinx directive:

https://github.com/bokeh/bokeh/blob/master/bokeh/sphinxext/bokehjs_content.py

I'm happy to elaborate on the details of what it will take to update this automation but first please confirm that this is the sort

[2020-05-14 23:41] MagnumDingusEdu commented on #9982
@bryevdv  I was looking to familiarize myself with the documentation, for Google Season of Docs, and thought this was a good opportunity. But now that you mention it, it doesn't really come under technical writing, and is mostly a coding task. I'll explore other areas if that's okay.

[2020-05-15 00:47] bryevdv commented on #10022
@zeknafar I can't reproduce any problem at all on OSX with Safari, Chrome, or FF.

Just o be clear, you are runnign this as a bokeh server app, i.e.
[code]
correct? And not trying to run it as a simple python script?

[2020-05-15 00:53] bryevdv commented on #10022
Well, I can repro an issue on a windows VM (@mattpap can you check on linux?)

[2020-05-15 01:15] bryevdv commented on #10009
cc @bokeh/dev for for input

I'll note that historically we have tried to keep Bokeh's dependency list very slim. That said, the current situation where folks have to convert their own web mercator is indeed very bad UX for users. @comperem can you confirm that pyproj is available on conda and PyPI?

[2020-05-15 02:04] jbednar commented on #10009
For what it's worth, Datashader also needed the specific projection from lon,lat to web Mercator for our examples, and to avoid having a dependency on pyproj we just added that specific function in a numpy/pandas compatible form:

[code]

[2020-05-15 02:43] bryevdv commented on #10023
Noting first that I cannot reproduce any issue in classic notebook. Will have to try later with jupyterlab

[2020-05-15 02:44] zeknafar commented on #10022
I used the bokeh serve command with the sample code for testing.

Tonight I also tested using chrome 81.0.4044.138 and the DatePicker.disabled property in the callback function doesn't work. Let me know if there are any other windows browsers that would be useful for me to test with. I currently don't have access to a linux machine for testing.

[2020-05-15 02:51] bryevdv commented on #7548
@pde why are you calling `curdoc().add_root(...)` ? In order to function in the notebook at all Bokeh has to do some gymnastics with documents on over individual cell eval. We don't demonstrate the kind f usage you have anywhere. You should just call `show`

[2020-05-15 07:03] santos22 commented on #9982
I can take a look at this! I was able to build the docs locally and am looking at the `Resources` class for more clues.

[2020-05-15 07:32] ayushiitr2901 commented on #9907
I will look at the code bug in the PR and fix it. But, I agree with @bryevdv, this is a big change that can be merged in the next coming update as a big change.

[2020-05-15 08:16] mattpap commented on #10023
Can't reproduce on Linux in jupyterlab in FF and Chrome. Maybe this is a Windows specific issue.

[2020-05-15 08:16] Lif3line commented on #10023
Interesting, I found I had the same issue in a classic notebook. I tested in a fresh anaconda environment with the following:

[code]

[2020-05-15 08:34] Lif3line commented on #10023
Can confirm that I don't get the same issue under Ubuntu 18.04, using the same clean environemnt. Agreed - it appears to be Windows specific.

[2020-05-15 11:43] mattpap commented on #9907
That's why it should go into `future` branch. As I said, I changed the base of the PR to `future`, so it can be merged into that branch as soon as test failures are sorted out.

[2020-05-15 14:16] TheShlok17 commented on #9773
Thanks so much! I had the issue after deleting the integrity & crossorigin attributes and running a script using bokeh and cdn. Clearing cache fixes it for me. I can reproduce the bug by running the script. As OP explained, the bug will occur when you try to plot a normal bokeh graph without using cdn.

Best fix for me has been to add crossorigin attribute:
crossorigin="anonymous"

[2020-05-15 21:25] bryevdv opened #10027 "Image export tutorial notebook needs update for new webdrivers"
The env is still only confgured for phantomjs, tho `!conda` installing gecko/FF from a notebook cell does not seem suffient to get things working on binder (driver not found)

[2020-05-16 02:53] comperem commented on #10009
@bryevdv , yes it appears Pyproj is available via both PyPi and Conda.

The Pyproj installation instructions describe both here:
http://pyproj4.github.io/pyproj/stable/installation.html

The PyPi link is here: https://pypi.org/project/pyproj/

The Conda source is a little less direct because it's on the Conda-forge channel, but their install line specifies this so it's still a simple install:

[2020-05-16 03:01] philippjfr commented on #10009
I see you've closed this, but I'll just chime in to say that pyproj is not a trivial dependency and I would certainly recommend against requiring it by default particularly if the aim is merely to provide lat/lon -> Mercator projections. As @jbednar points out the same can be achieved with a fairly trivial function.

[2020-05-16 03:51] bryevdv commented on #10009
Right conda-forge only is a big negative. I'll re-open this for adding the function above. Where is the best place to put it?

[2020-05-16 03:54] comperem commented on #10009
@jbednar , this sounds straightforward, and it seems you've gotten a good simple solution, which is good.

But, I rarely do a Group oriented project without needing UTM as well.

[2020-05-16 03:56] comperem commented on #10009
this seems like a short-sighted evaluation. Web Mercator is not the only need because:

(a) there are more unit conversions commonly used than (lat,lon) to Mercator, and

(b) there is substantial detail and technique that ensure accuracy and standards compliance for the different world sphere or ellipsoid assumptions and datums associated with WGS-84 and others.

World geodetic systems are a compl

[2020-05-16 04:06] comperem commented on #10009
that one function may be good enough to make good examples to illustrate what's possible with Bokeh maps.

Anyone who wants more can include more in their own projects.

That one function may be the simplest approach from a software maintenance standpoint.

I haven't studied that particular function but @jbednar says it's provided good results.

[2020-05-16 04:08] bryevdv commented on #10009
Well, it's late, I was a bit circumspect. I guess a more thorough exposition is: we should add our own functions, whatever those might be. Bokeh really always needs to be able to be installed for defaults with just `conda install bokeh` so a hard dependency on something that is only on conda-forge is a non-starter, unfortunately.

[2020-05-16 04:09] comperem commented on #10009
I get it. Any adjustment cannot cause install problems.

[2020-05-16 04:14] comperem commented on #10009
UTM is something needed for additional work beyond the basic demo in this initial post.

Lat, lon to Web Mercator is the only conversion needed to get that demo working.

[2020-05-16 09:13] krharsh17 commented on #9363
Hi
I'd like to work on this issue if this is still available, could you please provide me with a little more reference?

[2020-05-16 11:25] ashwani-rathee commented on #8448
@bryevdv
For the Multiple layouts one,
I was thinking of replacing lorem ipsum with this:
"In this wave example, the sliders on the left can be used to change the amplitude, frequency, phase and offset of the wave"
For Jupyter Notebooks Changes, What I understood from you and contributing.md is that I have to create an environment according to contributing.md, then activate it and then make the ch

[2020-05-16 13:01] #10022 closed

[2020-05-16 18:51] Cheukting opened #10028 "[FEATURE] More default theme for Bokeh"
During the PyCon Hatchery Mentories sprint, it has been mentioned that currently There's only 3 default theme and it would be great to have more.

[2020-05-16 19:09] bryevdv commented on #10028
Some additional built in themes would be fantastic to have! Some off-the-cuff ideas:

* approximations of other common/popular tool styles (e.g "ggplot")
* the "minimal" themes are not actually so minimal to my eye, maybe some versions even more reduced axes, grids, ticks, etc (not sure what to call)

[2020-05-16 21:51] santos22 commented on #9962
Can we re-use the `bokeh-tree` role to link to the source file automatically?
[code]

[2020-05-16 21:56] teresafds opened #10030 "Add google api key requirements into documentation dev guide"
On Dev Guide -  Documentation section, it doesn't specify the need to setup GOOGLE_API_KEY previously. This step should be documented into the Docs. [Based on Discourse Discussion](https://discourse.bokeh.org/t/issues-building-sphinx-documentation/5497)

[2020-05-16 21:58] Nkarnaud commented on #8572
Just added some few test cases in  `bokeh/models/transforms.py`  and run the test successfull.

[2020-05-17 00:53] santos22 commented on #9363
I can look into this. Looks like the labels might be off by one. Should I create an issue?

In the source, the following should be `.. _userguide_plotting_slope:` and not `.. _userguide_plotting_spans:`.

[code]

Source: https://raw.githubusercontent.com/bokeh/bokeh/master/sphinx/source/docs/user_guide/annotations.rst

[2020-05-17 00:54] santos22 commented on #9363
@bryevdv

[2020-05-17 03:37] MarcSkovMadsen opened #10033 "Bokeh layout engine measurements should wait on external components to be fully loaded"
This issues is based on https://github.com/holoviz/panel/issues/835 for Panel.

"We should probably file an issue with bokeh to ensure that measurements wait on external components to be fully loaded.". @philippjfr

-------

#### System Info

- Panel: 0.7.0
- Bokeh: 1.4.0
- Python: 3.7.4
- OS: Windows 8.1
- Browser: Chrome

#### Description of expected behavior and the observed behavior

If I do a

[2020-05-17 03:39] santos22 commented on #9363
Whoops. I wasn't using the label correctly. The previous comment can be ignored.

I will work on linking reference guide entries to the following entries in the user guide:

- Titles
- Legends
- Color Bars
- Arrows
- Bands
- Box Annotations
- Labels
- Slopes
- Spans
- Whiskers

[2020-05-17 09:37] mattpap commented on #10033
This is a "well known" issue. There's a relatively simple workaround in the particular case if `<img>` elements that can be implemented (parse inner HTML, collect all `<img>` elements and set their `onload` callbacks to recompute the layout). Alternatively one can set images' dimensions in HTML, if such are known in advance. This problem is hard to solve in general with the current layout. In 3.0

[2020-05-17 16:06] teresafds commented on #9919
I'm interested in work on this issue, but I have the following doubts:
* In the locations links provided by you, some NodeJS script tags have fixed versions (but using them as an example). Is the idea to replace them too (I mean, to replace all of them)?
* Also, there are some python libraries with fixed versions (as specified on location:  https://github.com/bokeh/bokeh/blob/master/sphinx/source/

[2020-05-17 20:41] bryevdv commented on #9363
@santos22 FYI generally no need to "ping" people everyone here is a volunteer with their own individual schedules and time commitments. OSS issue/PR cycles will often takes days, sometimes weeks, and occasionally longer. Someone will get to things in due time :)

[2020-05-17 23:02] #10030 closed

[2020-05-18 02:41] santos22 commented on #9007
Any chance the theme examples found at the top of the [bokeh.themes](https://docs.bokeh.org/en/latest/docs/reference/themes.html) reference can be moved over to ["Styling Visual Attributes"](https://docs.bokeh.org/en/latest/docs/user_guide/styling.html#userguide-styling)?

[2020-05-18 04:50] bryevdv commented on #9007
I don't think anything should move *off* the reference page because the reference is intended to be complete. And I worry about duplicating *all* the themes example on *Styling Visual Attributes* because that page is already huge and long, and the number of themes might grow arbitrarily over time. Putting all of them there may set a precedent we just can't reasonably keep up with forever. I would

[2020-05-18 14:19] nimishbongale opened #10038 "[DOCS] Page wise display of documentation search"
**Is your feature request related to a problem?**
Yes. I searched for a relatively simple query in the documentation search bar of https://docs.bokeh.org, and it took very long to load the results. In my second try, the results weren't even loading, I'm afraid. These are displayed in an unordered list which fills the entire page up. It might get frustrating to read through everything to find the a

[2020-05-18 21:15] p-himik commented on #7965
Similar thing happens with ellipses when specifying `angle`:
[code]

[2020-05-18 22:22] krisward1 commented on #9922
I'm looking to help with this issue.

[2020-05-19 00:13] bryevdv commented on #8448
I'm going to go ahead and leave this issue open, this is really a forever-ongoing catchall issue :)

[2020-05-19 02:02] ashwani-rathee commented on #8448
@bryevdv can you give more context on making changes to jupyter notebooks and updating the outputs accordingly??

[2020-05-19 04:40] santos22 commented on #9007
Yea I think that makes sense. If users want to build their own custom theme, we can show them how in the user guide and also point them to the reference guide where they can see the built-in themes.

What about linking to the following blog post? https://blog.bokeh.org/posts/styling-bokeh

I don't see any other blog posts linked in the source code but I think it might be useful here if we're conce

[2020-05-19 09:44] ned2 opened #10039 "[BUG] output_notebook() fails to render in Jupyter Lab"
Bokeh version: 2.0.2
Jupyter Lab version: 2.1.2
OS: Ubuntu 19.10
Browser: Chrome
I have installed both Jupyer labextensions as described [here](https://docs.bokeh.org/en/latest/docs/user_guide/jupyter.html#jupyterlab).

When I run one of the bokeh gallery visualisations in a notebook in Jupyer Lab (modified to use `open_notebook()` ) Bokeh fails to render, displaying the following message:

    Ja

[2020-05-19 10:45] ned2 commented on #10039
Update, after installing the labexstension described in the [Holoviews setup page](https://holoviews.org/user_guide/Installing_and_Configuring.html), it's now rendering:

    jupyter labextension install @pyviz/jupyterlab_pyviz

[2020-05-19 15:46] philippjfr commented on #10039
That's very odd, the PyViz extension should not interact with the Bokeh extension in any way.

[2020-05-19 16:49] bryevdv commented on #10028
Re-opening to leave this as an evergreen call for possible new themes.

[2020-05-19 17:27] bryevdv commented on #10038
Hi @nimishbongale thanks for the issue. I want to preface by saying that my reply does not come off as too pessimistic. I would love to see search improve, but I think the options in the short term may be limited. In any case I wanted to provide some context and history around how we got where we are.

---

### History

First off, I should not that there was no built-in search on the docs at all f