[2015-01-15 10:10] fpliger commented on #1486
What about this?

![screen shot 2015-01-15 at 11 05 57](https://cloud.githubusercontent.com/assets/1084690/5755626/132a32de-9ca7-11e4-8814-18e95da62045.png)

[2015-01-15 11:34] ijstokes opened #1705 "reset doesn't reset box select"
If I've done a box select and want to "un-select" it seems like "reset/reload" button would be the way to do this, but it doesn't.

[2015-01-15 11:37] ijstokes opened #1706 ""apps" aren't browsable from bokeh server pages"
If I've started bokeh-server with an "app" then it would be nice if it were browsable somehow from the server web page.  Instead, I need to know/remember exactly the URL path to the app.

This makes it awkward to explore and demo.

[2015-01-15 11:39] ijstokes opened #1707 "Can't see any way to compose multiple independent apps into a single bokeh-server instance"
This doesn't work:

[code]

And I don't see how to achieve that end without doing something like `cat`ing those files together and running them as a single script.

This seems like a reasonable sort of thing to do, and would certainly be helpful for bokeh demos.

[2015-01-15 12:02] ijstokes opened #1708 "smart axis labels given tick spacing"
tick labels are too close (see picture below) so they overlap:

![screenshot 2015-01-15 06 54 10](https://cloud.githubusercontent.com/assets/293525/5756947/8ea9ab98-9c83-11e4-97cf-f07f790558f3.png)

This is part of the `examples/server/selection_update.py` example's side histograms.

[2015-01-15 12:04] ijstokes opened #1709 "selection_update stack trace when doing pan/zoom/select ops"
After a minute or two of exploring the `selection_update.py` example with pan/zoom/select I got this stack trace.  I wasn't able to reproduce it, but perhaps it is evident to bokeh devs what may have caused it.

[code]

[2015-01-15 12:07] ijstokes opened #1710 "App drop-downs under Firefox are the wrong size"
Looking at the `app/stock_applet/stock_app.py` example, the ticker symbol dropdowns/selection boxes in the top left are sized so the text is not visible using latest Firefox.  Looks fine in Chrome:

![screenshot 2015-01-15 07 05 15](https://cloud.githubusercontent.com/assets/293525/5757053/38fe31a8-9c85-11e4-9f15-3a12a8798477.png)

[2015-01-15 12:09] damianavila commented on #1703
It is nice to see you are working in fixes and documentation of this example... I encourage you to keep going on this one and submit PRs against master as soon as you think you have something consistent to be reviewed... so far, the things I have seen in your branch are really helpful, so...

For sure...

[2015-01-15 12:19] damianavila commented on #1705
Did you tried with ESC? btw, I have to say that I don't remember if we document this somewhere...

[2015-01-15 12:26] fpliger commented on #1703
Yeah, agree with @damianavila thoughts.

@rothnic  On [the linked commit](https://github.com/rothnic/bokeh/commit/e401932ea09e9130461bc5a3097cd4a3c2fbd51e) I see you are using `charts.Scatter`. Have you got something working already? The reason I'm asking is that `charts` implements a very different api from plotting and we have open discussions on how to make it evolve and integrate better with o

[2015-01-15 12:32] damianavila commented on #1707
This comes from @bryevdv, from and old email and it will give you insight about how to run several apps...

[code]

Summary, there is plans to make it work with a running server, but not there yet...

[2015-01-15 12:37] damianavila commented on #1702
I guess the best thing to do now is just document this thing... soon we are going to migrate from the conda convert to use a no-arch architecture and binstar, so I don't not if it makes sense to expend time in something that will change soon... and adding `python` before `bokeh-server` is not a big deal from the user/devel perspective, I think... and finally who develops in win??? (just a joke :st

[2015-01-15 12:41] damianavila commented on #1706
Something like `http://localhost:5006/bokeh/app_name` does not look difficult to remember to me, but I agree that if you have multiple apps and you want to show them at the same time, some kind of *dashboard*, in this case the main server page, could be useful...
@hhuuggoo thoughts?

[2015-01-15 12:52] damianavila commented on #1710
I have seen this before... can you report which version of firefox? Thanks

[2015-01-15 14:07] rothnic commented on #1703
When I opened this up in Pycharm I immediately saw some things that were missing. The scatter plot being one of them. I think I looked around and saw some of the refactoring that had occurred.

The crossfilter app appeared to be directly creating a figure, then using a scatter method. Line was the same. Most of the stuff I have fixed already was with the bar charts. There were some things that wer

[2015-01-15 14:11] rothnic commented on #1703
@fpliger to answer your question, if I remember correctly that isn't being used. I saw the missing reference to the lowercase "scatter", so naively replaced it with charts.Scatter. I'll look more into the newer charts components.

[2015-01-15 14:21] mattpap commented on #1710
I can confirm in FF 34.

[2015-01-15 14:22] bryevdv commented on #1486
Yes that is desired for sure, the main issue is the one about there being more than one kind of selection possible on a collection of lines. Do you want to know which *line*? Or which *points* in a line or lines? Either or both might be wanted in different circumstances. This possibility of "2D" selection indices is not accounted for at a conceptual level anywhere in the current plumbing so we jus

[2015-01-15 14:24] mattpap commented on #1710
Also reloading page gives `ValueError: No JSON ...` and server gives `DeserializationError: Instance(PlotObject) failed to deserialize {u'type': u"SockApp", u'id': 'u'...'}`.

[2015-01-15 14:27] fpliger commented on #1486
Yeah. I though that we can add this as hover behaviour on glyphs without _hit_point support. The downside is that it's an implicit behaviour... I think I prefer your proposal of having some options on the hover (maybe on inspect_tools in general?) that tells how to drive the tool behaviour...

[2015-01-15 14:27] bryevdv commented on #1708
See https://github.com/bokeh/bokeh/issues/1669

[2015-01-15 14:27] #1708 closed

[2015-01-15 14:29] bryevdv commented on #1709
Somehow this was fixed and the fix got lost. The problem is just these two lines:

https://github.com/bokeh/bokeh/blob/master/examples/plotting/server/selection_update.py#L50
https://github.com/bokeh/bokeh/blob/master/examples/plotting/server/selection_update.py#L64

The comprehensions need to be wrapped in `np.array` or (better) use `np.zeros` so that those two variables are actual numpy arrays.

[2015-01-15 14:31] bryevdv commented on #1705
The little "question mark" help button text is out of date. But yes, `<ESC>` should reset the selection.

[2015-01-15 14:36] mattpap commented on #1708
Currently poor-man's solution is to use `major_label_orientation`.

[2015-01-15 14:39] bryevdv commented on #1486
We would need to implement `_hit_point` (or possibly `_hit_line`, thinking about a vertical crosshair case) to make any hover work in the first place, though.

[2015-01-15 14:39] bryevdv commented on #1708
Yes, that is a good workaround for now, thanks for suggesting it @mattpap

[2015-01-15 14:43] bryevdv commented on #1702
This seems like a packaging problem. @ilanschnell do you have any thoughts on this, is there something else we need to be doing to get the Windows conda packages created with the `.exe`?

[2015-01-15 14:44] bryevdv commented on #1707
This is a current problem, for sure.

[2015-01-15 14:47] bryevdv commented on #1703
*Any* help extending and improving the crossfilter would be extremely appreciated. It is an important priority, but there are currently still lots of important priorities. :) Especially though, if you have experience using and designing these kinds of tools, that would be incredibly valuable!

[2015-01-15 15:11] damianavila commented on #1705
We need to documenting in the site too... labelling as a doc bug...

[2015-01-15 17:33] fpliger commented on #1286
this issue should be invalid when #1574 is done...

[2015-01-15 17:33] twoscomplement opened #1711 "bokeh-server not working in 0.7.1 - bad path?"
I upgraded to 0.7.1 and bokeh-server --dev stopped showing/updating when plots were added. 0.7.0 worked.

These warnings were appearing in bokeh-server output:

2015-01-14 22:49:15,762:WARNING:tornado.access:404 GET /bokehjs/static/css/bokeh.css (127.0.0.1) 1.64ms
2015-01-14 22:49:15,764:WARNING:tornado.access:404 GET /bokehjs/static/js/vendor/requirejs/require.js (127.0.0.1) 1.02ms
2015-01-14 22:

[2015-01-15 17:38] fpliger commented on #1703
For what concerns including any `chart` IMHO it'd be better to wait for #1574 because those would just behave like plots and should *just work*. Right know it'd require some machinery to make them work...

[2015-01-15 17:48] damianavila commented on #1286
yes... probably...

[2015-01-15 17:55] fpliger opened #1712 "Charts examples should split file/server/notebook"
Better fix this sooner, before expanding examples..

[2015-01-15 18:28] damianavila commented on #1712
:+1:

[2015-01-15 18:49] damianavila commented on #1711
When you said you upgraded... are you saying you are using 0.7.1 from that specific tag at git?
The `--dev` parameter essentially set up the bokeh server to serve BokehJS files from the bokehjs build directory in the source tree and to serve individual JS files instead of compiled bokeh.js, and it will not work with the packaged Bokeh...

[2015-01-15 19:19] twoscomplement commented on #1711
I had installed and upgraded bokeh using pip.

[2015-01-15 19:50] rothnic commented on #1703
The way the tool worked that I mentioned I had worked on, was by abstracting the plot from the interface. If you think of something like ggplot, they have a consistent interface to the user, so a gui wrapper around it would be easy to construct.

I was taking a similar concept and had what I called views as a subclass of a parent data view. Each view must expose its requirements (aes) to the inter

[2015-01-15 19:51] bryevdv commented on #1711
It's possible this was accidentally working before and something accidentally broke it. Maybe we can restore it. I do think long term it would be better to ship the split out js and coffee in separate bokeh-server-dev pkg or something, do as to not inflate the package size more for normal users.

[2015-01-15 20:18] damianavila commented on #1711
And what's the use case? Because if you need to do dev work it is better to deal with the source directly.... but maybe I am missing some important use case...

[2015-01-16 00:55] bkreider opened #1714 "Examples: data_table needs some love"
This is an awesome example, but it needs some refinement.
1.  The table is extremely wide and really hard to resize into something useful.  OSX FF 34.0.5.  This doesn't look like a problem on chrome.
2. No legend
3. x-axis isn't useful.  it took me 10 minutes to figure out that it is just the index number of the data.
4. Zoom and pan tools aren't enabled.

[2015-01-16 01:01] bkreider opened #1715 "Resize tool causes confusion: needs help text"
Add help text to the resize tool.

I just watched Ian give a presentation and search for the corner of the plot to grab to resize.  It's not obvious (except in retrospect) that you can click anywhere to resize.  We've been programmed by thousands of UI windows that resize only happens at the edges.  Maybe a cursor change after clicking the resize tool?

[2015-01-16 01:05] bkreider opened #1716 "Help tool: hard/impossible to click "learn more" link"
On OSX firefox, it is impossible to click the "Learn More" link.  The help bubble vanishes before my cursor can move over it.  On Chrome I was able to do it about 50% of the time by moving the cursor really fast.

![screen shot 2015-01-15 at 8 02 55 pm](https://cloud.githubusercontent.com/assets/1699478/5770000/9f3c6aa4-9cf1-11e4-9332-7baa6e8a16d1.png)

[2015-01-16 01:32] bryevdv commented on #1703
@rothnic that sounds like a great plan, let  us know any questions of help we can provide.

@fpliger I don't agree that the `charts` interface is appropriate for the implementation of the cross filter. `charts` is simplified and schematized with the intent of being very simple and easy for a certain class of users to get the 95% use cases with next to no code. But for a developer, this kind of sim

[2015-01-16 02:30] damianavila commented on #1659
This is very weird issue:
It happens:

* if you `run all` the cells
* if you run manually enough fast to recreate the `run all` command
* if you `run all` with just one of the *methods*, they all work
* if you time sleep between the *methods*, the problem is fixed

If I tried the same with some arbitrary html, it is working as expected, so it seems to be something associated with us... it seems th

[2015-01-16 03:38] bryevdv commented on #1716
ping @LilaHickey

[2015-01-16 03:41] bryevdv commented on #1711
Important, probably not, but people want all sorts of things (as this issue demonstrates).However it is true  "--dev" mode does other useful things like starting up in memory backend with some desirable logging policies, this has nothing to do with bokehjs or even bokeh dev. It could be useful to anyone integrating `bokeh-server` with their own web app. That said my main point was that we should r

[2015-01-16 03:56] twoscomplement commented on #1711
For the record, I'm using --dev as part of a fast/easy iteration setup: I make changes to my python code, save the file, and can see the plot update in a browser window without requiring further input (I use inotifywait as glue - it seems likely that there are simpler ways to achieve the same end...)

[2015-01-16 04:15] twoscomplement opened #1717 "documentation: wrong title font property name in user guide"
The following text can be found at http://bokeh.pydata.org/en/latest/docs/user_guide/objects.html#id3 :

* title — a title to display above the plot. - “title” is also the prefix for a set of Text Properties, so you can set the font for the title with the parameter `text_font`.

That `text_font` should be `title_text_font`

[2015-01-16 04:19] bryevdv commented on #1717
Thanks for the catch @twoscomplement, would you be interested submitting the PR that fixes this?

[2015-01-16 04:28] twoscomplement commented on #1717
Sure, I should be able to do that.

[2015-01-16 04:59] damianavila commented on #1711
I agree... removing probably get us a half size package...

thanks for pointing out your use case...

[2015-01-16 06:37] rothnic commented on #1703
My initial look into the charts interface versus the lower level interface is that there appears to be some differences in heritage that would make it difficult to work in the charts with the app, as is. I would prefer to have the plot type abstracted away somewhat from the interface, whether that is via the charts, or some other mechanism.

Here is a quick view of what I was looking at. Since cro

[2015-01-16 10:13] mattpap commented on #1714
This is a known issue is Firefox (see #1653).

This example was created solely to show `DataTable` <-> `Plot` connectivity. Any suggestions how to improve the plot in this example are welcome.

[2015-01-16 10:25] mattpap commented on #1703
There was an experiment with a different style of APIs in `charts` module. However, this will be changed in future and `charts` will use the properties subsystem (`HasProps`). @fpliger may tell you more about this.

[2015-01-16 11:26] ijstokes commented on #1707
Yes, that is exactly what I ended up doing: starting up separate bokeh-server instances in each app directory running on different ports.

[2015-01-16 13:24] #1578 closed

[2015-01-16 19:48] bryevdv commented on #1707
@ijstokes do you have thoughts on how adding multiple scripts might best be spelled? What about adding a new script to a running server?

[2015-01-16 20:03] hhuuggoo commented on #1707
currently the way to do this is to put all apps in one script - not all the code needs to be there, that one script just needs to import everything else

[2015-01-16 20:10] bryevdv commented on #1707
I think that's a reasonable start. I can just imagine having completely unrelated apps from different people, and having to make some script to include them seems like artifice. A config file to list apps to run, plus some kind of HUP capability to re-read it seems desirable (and standard practice for servers) too.

[2015-01-17 12:30] pzwang opened #1719 "Demo idea: 2D FFT toy"
Another idea for a cool interactive Numba-based demo:

Use bokeh+numba to allow a user to draw dots (of various shapes/sizes) in 2D Fourier space, and then synthesize the image, like how the following web page shows:

http://qsimaging.com/ccd_noise_interpret_ffts.html

Can also support the upload of any image (file, URL), whose normalized grayscale version is used as the starting point of the FFT,

[2015-01-17 21:21] rothnic commented on #1702
@damianavila yeah, I know. I have mac personal laptop, but a windows one for work. Then linux/mac/windows at home, so it seems that i never can get consolidated on one. I've tried vagrant, but it has its own cross platform issues. Oh well.

I am about to provide some other fixes for the documentation to support building on windows and some other additions. I can add the note in there while I'm at

[2015-01-18 07:00] twoscomplement opened #1721 "documentation: user guide describes unsupported axis locations"
http://bokeh.pydata.org/en/latest/docs/user_guide/objects.html#axes

I am unable to set an axis location that is not one of the four values from the Location enum - anything else (including 'min', 'max', or floating point values) yields:

Is the documentation wrong? If not, how would one go about offsetting an axis?

[2015-01-18 21:49] rothnic commented on #1703
I did a little [sketching of a more comprehensive dashboard framework](https://drive.draw.io/?#G0BwotitHXXmF5alhTNWt4ZjEzSDQ). I did this pretty generically, but do understand there is some of this in bokeh currently. If anyone is interested in brainstorming on it, let me know and I can add you to the edit permissions. Crossfilter is the most like what I had in mind, but it'll probably lead toward

[2015-01-19 07:51] twoscomplement commented on #1717
https://github.com/bokeh/bokeh/pull/1722

[2015-01-19 13:27] #1717 closed

[2015-01-19 13:33] damianavila commented on #1703
For some reason, I can not access the resource... I get a timeout...

mmm... the is very interesting... I heard things about react, but I did not know about this layout capabilities.

[2015-01-19 13:45] fpliger commented on #1703
I wasn't explicitly proposing `charts` for the implementation of cross filter [or at least this was not my intention]. :wink:   My comment about `charts.Scatter` was mostly derived because I've notice it being used in the commit linked here.

In general I'm not sure if makes sense or not (didn't stop enough to think about it).. probably it will when the first *real* use case arise.. :-)

As @mattp

[2015-01-19 14:50] damianavila commented on #1721
Yes, documentation has to be updated.

It is not implemented yet... It was implementation in a previous version but with the new layout system, this is not the case.

[2015-01-19 14:50] damianavila commented on #1721
Btw, would you like to submit a PR to fix the doc? :wink:

[2015-01-19 14:56] mattpap opened #1723 "Setting plot_{width,height} doesn't work"
It looks like bokehjs doesn't listen on change event of those properties, but even enabling listening explicitly doesn't help and `set("plot_width", 1000)` doesn't do anything.

[2015-01-19 14:57] mattpap commented on #1723
This should be investigated for other properties as well, because "on change" events don't often work.

[2015-01-19 15:11] bryevdv commented on #1723
Did you forward the event to canvas the canvas? That's actually what has to be updated:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/coffee/tool/gestures/resize_tool.coffee#L41

[2015-01-19 15:17] hhuuggoo commented on #1723
bokehjs should (and probably doesn't) update the canvas when plot_height and width are updated

[2015-01-19 15:20] mattpap commented on #1723
I was using `Bokeh.Collections('Plot').at(0).set("plot_width", 1000)`.

[2015-01-19 15:21] bryevdv commented on #1723
There's two issues:
* there needs to be events triggered when `plot_width` and `plot_height` are updated
* those even handlers need to update the Canvas, because that's actually what matters

[2015-01-19 15:21] mattpap commented on #1723
It doesn't listen to change appropriate change evens and doesn't update canvas anyway. I will provide a fix reusing code from `resize_tool`.

[2015-01-19 15:23] bryevdv commented on #1723
It would be nice (maybe later) to provide a way to either i) update both at once, or Ii) batch events so that it doesn't try to redraw twice

[2015-01-19 15:35] bryevdv commented on #1703
@rothnic I also can't access the `draw.io` document. Can you attach a static image to the ticket? Also ping @pzwang who may have thoughts. Thanks so much (again) for your input and work on this.

[2015-01-19 15:48] mattpap commented on #1721
@damianavila, it's good to check if bokehjs doesn't implement those. If so, it would be better to expose those the API fully to bokeh.

[2015-01-19 15:51] bryevdv commented on #1721
There is none atm.

[2015-01-19 15:52] damianavila commented on #1721
I check the bokehjs source code and I did not find any implementation, to be sure I also confirm this with @bryevdv...

[2015-01-19 16:49] rothnic commented on #1703
I think a lot of what I sketched up is addressed through Widgets (layout and controls) and/or some of the discussion in [BEP3](https://github.com/bokeh/bokeh/issues/1373), after reading all the comments. The thing that I struggled with previously is how to support having a plot, but also turning that potentially into multiple plots through subplotting/faceting. Some of the discussion seems to be o

[2015-01-19 17:21] rothnic commented on #1703
Two additional notes:
[Here is an album](http://imgur.com/a/DOjfw) of the initial version of the tool I built in Matlab, for some context.

For crossfilter, I've found that after fixing most of it, I still have an issue where the x axis has categorical data, and the y axis is continuous. I traced this through the python code and couldn't see anything obvious, but did find a generic error on the ja

[2015-01-19 20:18] rothnic commented on #1703
I'm trying to finish up the documentation on crossfilter and had an issue understanding the following snippet:

[code]
At first glance I wondered why you couldn't perform obj.<whatever> within __init__, since the cls is initialized with kwargs. But doing so, I see that the __init__ is being called multiple times on a page load and create is called once. The second call of init occurs via PlotObjec

[2015-01-19 21:59] hhuuggoo commented on #1703
yes that's right - the server instantiates an instance of the object in order to trigger all the server side events, so we have to distinguish between one time initialization and regular object creation

[2015-01-19 22:10] bryevdv opened #1726 "interactive tester improvements"
Some ideas:

* [x] up to date with current examples directory layout
* [x] fix "charts" dep check bug
* [x] confirm exit on Ctrl-C
* [x] improve "bokeh.test()" functionality
* [ ] option to update google doc automatically

[2015-01-19 22:39] matdrapeau opened #1727 "Add categorical y axis"
There is no way to add strings into an additional y axis like this:
```plot.extra_y_ranges = {"tags": FactorRange(factors=['tag1', 'tag2'])}```

This give the error:
```expected an element of Dict(String, Instance(Range1d)), got {'tags': <bokeh.models.ranges.FactorRange object at 0x109e12c90>}```

[2015-01-19 23:19] garcia-marc opened #1728 "Timeseries tutorial formatting improvements"
If you check the X-axis of the timeseries tutorial charts, you'll see that the dates are represented as numbers, which looks buggy. See here:

http://bokeh.pydata.org/en/latest/tutorial/solutions/gallery/stocks.html

Also, it's usually a good idea to label axis to make charts readable.

Finally, in my opinion it'd be nice to have in these charts a custom date format. I think it'd help users visiti

[2015-01-20 05:42] matdrapeau opened #1730 "Being able to hide the axis"
The would be nice to have a way to hide a plot axis if desired.

[2015-01-20 15:07] mattpap opened #1731 "Add a section about bokeh-scala/bokeh.jl/... to main documentation"
Currently it's hardly visible that there is ongoing effort making bokeh available to other programming environments than JS/Python.

[2015-01-20 19:18] bryevdv opened #1732 "push_notebook memory leaks"
reference: http://stackoverflow.com/questions/28051780/memory-overflows-when-streaming-data-using-bokeh-push-notebook

[2015-01-20 20:32] damianavila commented on #1732
I have already request info about version in the ref...

[2015-01-20 20:47] Lijantropique commented on #1492
Sorry for the late reply. With the new update of Bokeh there is no issue with categorical bar graphs.
Regards,
Lij.

[2015-01-20 20:47] #1492 closed

[2015-01-20 20:55] davidbrochart commented on #1732
Python 3.4.2 |Anaconda 2.1.0 (64-bit)| (default, Oct 21 2014, 17:16:37)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

'0.6.2.dev.20141204'

Although "conda install bokeh" gives:
bokeh                     0.7.1                np19py34_0

~$ ipython --version
2.3.1

I tried with Chromium and Firefox and have the same behavior:

[2015-01-20 20:56] bryevdv commented on #1492
Thanks for the update @Lijantropique !

[2015-01-20 23:23] damianavila commented on #1732
Can you please update bokeh to the latest release and check if still see the failure? Just do `conda update bokeh`...

BTW, for the kernel version, you need to do something like:
[code]
It could be different from the notebook server version if you are doing some weird stuff in the notebook... I would be probably 2.3.1 too, but please check this out too...

[2015-01-20 23:29] davidbrochart commented on #1732
Well that's what I was mentioning, it's kind of weird that the Bokeh versions don't match:
[code]

[2015-01-20 23:33] damianavila commented on #1732
Yes, that's weird... can you `conda remove` the bokeh package... and try installing again? You can also try to install the latest version in a new conda env and check the issue there... let me know how it goes...

[2015-01-20 23:41] mattpap commented on #1732
@davidbrochart, can you run `import bokeh; bokeh`? This will tells us where exactly is the dev version of bokeh located.

[2015-01-20 23:42] davidbrochart commented on #1732
[code]

[2015-01-20 23:53] mattpap commented on #1732
I'm not sure what exactly `conda remove` does, but maybe it gets confused if a package was installed by other means to the same location. I had seen similar issue before in my setup.

I would do `conda remove bokeh` and `rm -rf /home/david/anaconda3/lib/python3.4/site-packages/bokeh`. Then `python -c 'import bokeh'` to test if it doesn't import. If it does, then you can `find` or `slocate` other i

[2015-01-20 23:54] davidbrochart commented on #1732
No luck removing/reinstalling Bokeh:
[code]

With a fresh Anaconda installation and a ```conda update bokeh```:
[code]
But the memory issue remains.

[2015-01-20 23:55] bryevdv commented on #1732
OK that is really bizarre, I just tried a fresh install in a py3 env to make sure there was not some obvious packaging hiccup, but it seems to work as expected. Does this problem persist in a new fresh env? (e.g., `conda create -n test bokeh=0.7.1`)  @asmeurer do you have any ideas?

[2015-01-20 23:56] bryevdv commented on #1732
BTW I would not expect this to be fixed by rev'ing Bokeh versions, the `push_notebook` code has not changed since it was introduced. It's possible, though maybe unlikely, that a newer IPython version would fix things. I think this is a problem on our end, though.

[2015-01-20 23:58] davidbrochart commented on #1732
But I'm surprised you guys cannot reproduce the problem, I have it on two machines.

[2015-01-21 00:00] bryevdv commented on #1732
I have not had a chance to try yet. I can believe there could be a problem, the possibility has already been raised that the injected scripts would not get cleaned up.

[2015-01-21 00:05] asmeurer commented on #1732
Oh wut? Can you add me to the bokeh repo so I can route these emails to my @continuum.io address?

[2015-01-21 00:06] damianavila commented on #1732
Yes, I am not saying there is not a problem... I see a lot of memory taken but never enough to make IPython die... Just asking about the versions to check try to reproduce the exact behaviour...

[2015-01-21 00:07] #1305 closed

[2015-01-21 00:07] #1694 closed

[2015-01-21 00:07] asmeurer commented on #1732
Also, I'm not entirely clear what is going on here, but check `conda info -a` for anything that would screw up Python's import path.

[2015-01-21 00:08] damianavila commented on #1732
I have invited you...

[2015-01-21 00:09] asmeurer commented on #1732
Thank you kindly

[2015-01-21 00:12] davidbrochart commented on #1732
Now I remember having installed Bokeh with ```pip install bokeh``` when I was looking for the latest release. I thought conda could handle pip as well. Anyways, the problem persists with a fresh Anaconda install...

[2015-01-21 00:12] #1728 closed

[2015-01-21 13:29] damianavila opened #1734 "Bound needs to accept datetime obects."
If you try to use bounds in a datetime axis, it throws an error because bounds accept only a tuple of floats.

[2015-01-21 13:37] damianavila commented on #1732
ok... the memory leak is probably cause because the notebook insert a `<div class="output_area"><div class="prompt"></div><div class="output_subarea output_javascript"></div></div>` elements every time it try to display_javascript. There is not an easy way to fix this... you could use `display.clear_output` to eliminate this output but also eliminate the plot...
We are using the display machinery

[2015-01-21 13:42] davidbrochart commented on #1732
Thanks Damian. I was thinking about using the bokeh-server but couldn't find any code example. Is there any tutorial/documentation about it?

[2015-01-21 13:44] damianavila commented on #1732
You have some examples about animation with the server here: https://github.com/bokeh/bokeh/blob/master/examples/plotting/notebook/animated.ipynb

Btw... I will keep investigating this issue to see if there is something else we can do...

[2015-01-21 14:28] bryevdv commented on #1732
@damianavila can we tag the divs with IDs and delete old ones from the DOM (by hand, ourselves) before injecting new ones? This use case (notebook without server) is an important one , and should be made to work one way or another. Alternatively, what about a plugin?

[2015-01-21 15:28] matdrapeau commented on #1730
I could start looking on this, but honestly, I have no clues how to handle dev for the coffeescript / js part. Is there any doc or post that could help me there?
thanks

[2015-01-21 15:37] damianavila commented on #1732
We could eliminate on the flight... but the divs get also stored in the ipynb file... so, at notebook loading, you will have a very poor experience...

I agree... but it is also true that is only affecting the performance with a **LOT** of updates...

What do you exactly thinking about with a plugin? You mean a custom Bokeh widget?

[2015-01-21 15:43] damianavila commented on #1659
ping @bryevdv

[2015-01-21 15:45] bryevdv commented on #1732
I have no idea. :) I just thought a plugin might offer additional control that couldn't be gotten otherwise, and that that might be useful. For instance, a way to execute JS code or inject scripts that don't get saved in `.ipynb` files.  Perhaps the notebook could use a notion of "transient" published objects, that only exist in running note books?

[2015-01-21 15:50] davidbrochart commented on #1732
@damianavila That's what I meant when I said that I didn't know if it was supposed to be used that way, basically I am trying to do streaming data visualization without a server, which might not be the right way. On the other hand, even if we don't do a lot of updates, it is kind of dirty under the hood, so maybe it is worth cleaning it...

[2015-01-21 15:50] bryevdv commented on #1659
Were you able to solicit any ideas from the IPython devs? This is out of my expertise I don't really have any good ideas. I would say that perhaps there is a problem with the callbacks scheduling a plot render once bokehjs is loaded, but it is clearly rendering the parts that *does* render, correctly, so I don't think that is a problem. Maybe there is some problem in the notebook with shared data

[2015-01-21 15:52] bryevdv commented on #1732
Another option is to make starting a server together/with the notebook a transparent action so that users don't have to worry with it. But I really would like to make this technique solid, if it is at all possible to do so.

[2015-01-21 15:52] PBrockmann commented on #658
Would it be possible to accept for datetime axis the ISO 8601 because this is the format proposed by NCSS (https://www.unidata.ucar.edu/software/thredds/current/tds/reference/NetcdfSubsetServiceReference.html#Reference) ?

Here is an example of what can be done with bokehjs 0.6.0 http://jsfiddle.net/c9e3ptfa/
I have not been able to run it using last 0.7.1 I read that interface was broken so need

[2015-01-21 16:03] bryevdv commented on #1730
Hi @matdrapeau that would be awesome! You can find our developer's guide here:

http://bokeh.pydata.org/en/latest/docs/dev_guide.html

That has information about setting up a dev environment and building BokehJS from the coffeescript sources. That is the main hurdle. Then, the easiest way to run/rebuild for testing is to just do:
[code]
Note that it's also possible to get a faster "incremental com

[2015-01-21 16:08] bryevdv commented on #658
@PBrockmann that would be a very nice feature, do you have any suggestions for auto-detecting those dates, or testing whether conversion fails? Does `Date.parse` throw an exception in case parsing fails? If so it should be fairly simple to include this capability. If the axis try is datetime, I would imagine speculatively trying to convert the first item and if that succeeds, attempting to convert

[2015-01-21 16:10] bryevdv commented on #1734
May be a simple as updating the property definition for `bounds` to accept `Tuple(Datetime, Datetime)` as well.

[2015-01-21 16:14] damianavila commented on #1734
Porbably... I will take an stab on it... assigning it myself...

[2015-01-21 16:15] pzwang opened #1737 "Add a dark theme a la Kibana's default"
These colors look nice: http://www.elasticsearch.org/overview/kibana/

[2015-01-21 16:17] damianavila commented on #1732
Widgets could be an option...

That's interesting too... let me think a little bit about this...

[2015-01-21 16:19] damianavila commented on #1732
You are using the notebook kernel as a server... probably to do streaming it is better to fall-back in a real server like the bokeh one...

Yes... I agree... the thing is that we are using something which was not developed to be used in that way we used and there is where the problems comes. In any case, we need to find a better solution, I agree...

[2015-01-21 16:21] damianavila commented on #1659
Yes, I can ping the other guys to get some feedback...

I have to check that...

Yes, I will try to dig further on this...

[2015-01-21 16:27] PBrockmann commented on #658
Humm. Finally perhaps it should be left to the user side. This service send me back anyway string I need to convert. Here is another jsfiddle http://jsfiddle.net/PBrockmann/mc73mfne/ with an NCSS request. For sure folks from Unidata will be interested.
What about the 0.7.1 interface ? Really broken ?

[2015-01-21 16:28] bryevdv commented on #1732
I do agree that the best use of `push_notebook` is probably for `interact` style things, not streaming. We should add a `..note::` or `.. warning::` about this to the docs for now.

[2015-01-21 16:31] bryevdv commented on #658
@PBrockmann Yes, unfortunately the JS interface is currently broken. As was mentioned the old interface was really never intended for wide public consumption it was just an engineering tool created to help with the early stages of development. But we do want to have a "real" JS interface, and that is what #1515 is about. This is targeted for 0.8 in mid-Feb, and I hope to begin work on it in earnes

[2015-01-21 16:38] PBrockmann commented on #658
Ok I stay tuned and really ready to switch and adopt bokehJS for different scientific projects I am involved in. Very cool.

[2015-01-21 17:50] Maggie-M opened #1738 "Reference Guide formatting issues"
On many Reference Guide pages*, the < ul class="simple" > on these pages overlaps the "fork me on github" banner.

![screen shot 2015-01-21 at 11 40 38 am](https://cloud.githubusercontent.com/assets/1417520/5841426/771d1742-a162-11e4-9471-f36481bcdaa3.png)

This is because there is no < h1 > tag above the < ul > to offset it, the way there is on most other pages.

![screen shot 2015-01-21 at 11 44

[2015-01-21 19:22] matdrapeau commented on #1682
Is this feature only specific to the blaze server?

What about any kind of generic endpoint using different types of transport (websocket, SSE, long-poll) for data sources?

[2015-01-21 21:10] hhuuggoo commented on #1682
no it's not - the general ajax data source will support non-blaze things, we will just subclass it for the blaze stuff

[2015-01-21 21:32] Maggie-M opened #1739 "Create Test Matrix script"
Something to automate several parts of the test matrix and speed the process up before each release.

[2015-01-21 23:41] damianavila opened #1743 "Add to doc best use of push_notebook for interact style things, not streaming"
Comes from #1732

[2015-01-21 23:42] damianavila commented on #1732
I agree... I have opened an issue to do it...

[2015-01-22 15:19] matdrapeau commented on #1730
@bryevdv what about doing the lookup there and not adding the renderer on the pile? https://github.com/bokeh/bokeh/blob/master/bokehjs/src/coffee/common/plot.coffee#L353

Also, I am pretty new to coffeescript, is there an easy way to use some sort of debugger (a la python pdb by example) or what is your typical dev setup for coffeescript and its introspection?

thanks

[2015-01-22 17:28] bryevdv commented on #1730
@matdrapeau All of the major browsers have "developer tools" I typically use Safari (you have to turn on the develop menu in preferences first). But Chrome has a nice debugger and Firefox has Firebug which is also nice. I am not sure I'd do a great job explaining things but here are a few links that might be helpful:

https://developer.apple.com/library/safari/documentation/AppleApplications/Conce

[2015-01-22 17:28] bryevdv commented on #1730
Also, thanks again for looking into this!!

[2015-01-22 17:33] matdrapeau commented on #1730
@bryevdv I am aware of browser dev tools for js... was wondering how to hook that up directly into the coffeescript sources.

thanks

[2015-01-22 18:03] bryevdv commented on #1730
Ah ok sorry, yes the simplest thing to do is to put a `debugger` command int the coffeescript sources and then re-compile. (Either with `python setup.py develop --build_js` or by getting the "incremental compilation" setup working)

[2015-01-22 18:10] cyrusmaher opened #1744 "Hover panel hides under neighboring gridplot figures."
On my data, this seems to only happen when the panel calls out to the right, strangely enough.

[2015-01-22 18:29] #1375 closed

[2015-01-22 18:38] cyrusmaher commented on #1744
Actually, it appears the hover panels for a given figure hide under any figure drawn after (above/to the left OK, below/to the right not ok). This effect is consistent between ipython notebook and html file output.

[2015-01-22 18:54] damianavila commented on #1697
This was solved indirectly by 1742, BokehJS is load at __init__, so no need to use load_notebook(force=True) anymore with Jupyter/IPython master...

[2015-01-22 18:54] #1697 closed

[2015-01-22 18:57] damianavila commented on #867
Solved by #1742... we don't try to guess if we are in a notebook... we just import the things we need at `__init__` and fails silently if we are not playing in a notebook.

[2015-01-22 18:57] #867 closed

[2015-01-22 19:07] damianavila commented on #1744
Hi @cyrusmaher, can you post an example code to check the behaviour? Thanks!

[2015-01-22 20:53] cyrusmaher commented on #1744
No prob. Here you go!

https://gist.github.com/cyrusmaher/cd238d55288633905b88

[2015-01-22 21:46] matdrapeau commented on #1682
@hhuuggoo is it possible to have an example on how it should work?

Also, would it work with websockets?

thanks

[2015-01-23 03:56] bryevdv opened #1746 "Add simple inline examples to all or most plotting.py glyph functions"
Use new `:bokeh-plot:` directive. This depends on #1690 being merged first (some fixes are included in that PR)

[2015-01-23 03:58] bryevdv opened #1747 "Document all model attributes"
@bokeh/core After #1690 it will be possible to generate extremely thorough and useful reference documentation automatically. All model classes should have docstrings and all attributes should get a `help` argument.

[2015-01-23 05:49] Devataa commented on #983
There is no way I can overlay a line graph over the stacked bar graph using .extra_y_range as found in Figure is there?

[2015-01-23 09:25] mattpap opened #1748 "Selecting rows on DataTable doesn't trigger `selected` callback on the data source"

[2015-01-23 09:36] mattpap opened #1749 "DataTable requires ColumnDataSource to have an `index` field"

[2015-01-23 14:01] damianavila commented on #983
Currently, bokeh.charts is being refactored (#1735) to make it inherit from the Plot object which, in turn, will give us the feature you are requesting easy to do...

[2015-01-23 14:41] fpliger commented on #983
There is a hacky way to do this now but I'd recommend you to way for 0.8 if you can as this is going to change completely. That said, the following example that combines `Line`, `Step`, `Scatter` and `Bar` charts should work (with a small change due to recent changes on master branch.. see my comment on bottom):

[code]

You may have an error because of Document missing hold method. because of rec

[2015-01-23 14:48] damianavila opened #1751 "Remove pinned packages"
Just a reminder of pinned packages to remove when the upstream problems get fixed...

* [x] scipy, depending on statsmodels next release
* [x] conda, 3.8.0 needs a python3 fix
* [x] conda-build

[2015-01-23 14:49] #1690 closed

[2015-01-23 15:19] bryevdv commented on #1618
@bokeh/dev any ideas on this one? Do we need to resort to web workers or something to service the web socket updates from the server?

[2015-01-23 15:23] bryevdv commented on #1402
I"m adding these ideas to #1189 and closing this as a dupe. BTW @ijstokes you can already have hover tool snap to marker/circle/rect centers, is that what you mean "centered on the object/data point that is creating the bubble"?

[2015-01-23 15:24] bryevdv commented on #1402
dupe of #1189

[2015-01-23 15:24] #1402 closed

[2015-01-23 15:39] damianavila commented on #1696
* np.zeros #1709

[2015-01-23 16:11] matdrapeau commented on #1730
@bryevdv well, I did tried what you said about adding "debugger" at several places into the coffeescript files but nothing is happening in the browser when I run a chart example.
It looks that I need to bind the browser with the "source maps" directly to the coffeescript files, have you already done that?

Also, about returning '0' or nothing, there isn't any differences in the rendered chart axis

[2015-01-23 16:23] bryevdv commented on #1730
Have you pushed the code into the PR? If you do that I can try it out, and that might help me formulate a better suggestion. I'm not sure what has to be done to make the source maps work, they have always just worked. @mattpap doe have any suggestions?

[2015-01-23 16:43] matdrapeau commented on #1730
@bryevdv just pushed...

[2015-01-23 16:53] sotte opened #1754 "`to_bokeh` ignores alpha"
Hey,

I'm using seaborn's `tsplot` a lot but sadly the `alpha` values are being ignored when converting with `to_bokeh`. See the example:

![bokeh_problem_seaborn_orig](https://cloud.githubusercontent.com/assets/79138/5878556/15e07f92-a328-11e4-857e-142c089c5fb8.png)
![bokeh_problem_seaborn_to_bokeh](https://cloud.githubusercontent.com/assets/79138/5878557/15e082bc-a328-11e4-8b3a-8285f09ffc6c.png)

[2015-01-23 16:57] damianavila commented on #1754
I will explore the issue, maybe it is something we need to expose in out BokehRenderer implementation... thanks for the report.

[2015-01-23 17:22] sotte commented on #1754
Thanks for the quick response. Here is a minimal example.

[code]

[2015-01-23 17:36] mattpap commented on #1730
@matdrapeau, you don't need source maps for debugging. I personally don't use source maps when working with coffeescript (thought, in general, source maps are awesome).

[2015-01-23 18:04] matdrapeau commented on #1730
@mattpap: When looking into the Gruntfile.coffee it seems that the compilation of coffee script files are compiled with source maps already...

So in order to verify I am not missing any steps, I did added ```debugger``` into the axis.coffee file right after the declaration of the ```render: () ->```.
Then, I compile the coffeescript files using:
```% python setup.py develop --build_js```
Then exe

[2015-01-23 18:11] bryevdv commented on #1730
@matdrapeau ah very sorry, no `debugger` is ignored unless you have already opened the dev tools yourself. So just open them up and reload the page and it should trip on the `debugger` line

[2015-01-23 18:30] matdrapeau commented on #1730
@bryevdv I am very perplexed... reloading the page with dev tool opened doesn't do much. I am looking at the source of the js code into the file and I don't seen any "debugger" statement too.

[2015-01-23 18:47] bryevdv commented on #1730
Is it possible you have both a pip or conda install directory in your `site-packages`, as well as a `bokeh.pth` in `site-packages`?

[2015-01-23 19:39] matdrapeau commented on #1730
@bryevdv only have a bokeh.pth... and the "hide" feature is working as expected. When I build the package, I do see coffee compiling the axis.js file
Did tried with chrome and firefox, none of them are raising the debugger.

[2015-01-23 19:53] bryevdv commented on #1682
@matdrapeau in very rough terms, I'd imagine something like:
[code]
open question as to how to specify simple mappings between JSON and columns in a column data source.

web sockets seems feasible but someone who knows more about it than me will probably have to look into that. :)

[2015-01-23 19:59] bryevdv commented on #1744
Can confirm. Probably a simple z-index CSS fix.

[2015-01-23 20:01] #165 closed

[2015-01-23 20:40] damianavila commented on #1744
OK, I will take a look...

[2015-01-23 21:57] matdrapeau commented on #1682
@bryevdv Is this on python side or js side? Cause I would had thought that we could pull/push values directly on client's browsers ?

[2015-01-23 22:28] bryevdv commented on #1682
This is how you would easily spell it on the Python side. But it would only be the corresponding JS so de object that pulls data on the client.

[2015-01-23 22:36] hhuuggoo commented on #1682
Well, I think we can also have a WebsocketDataSource - either way, you control the server where the data is served, if you want to update the ajax one, we could give it a polling interval.  Or you could use the websocket one.

[2015-01-24 00:49] damianavila commented on #1751
* conda one is solved by #1755

[2015-01-24 00:51] #1709 closed

[2015-01-24 01:25] damianavila opened #1758 "Check apps are in sync with the new API"
From https://github.com/bokeh/bokeh/pull/1718#issuecomment-71058517

* [x] sliders #1718
* [x] crossfilter #1757
* [x] stocks #1764

[2015-01-24 11:55] rothnic commented on #1702
I was going to merge in the referenced changes on master and test on windows. @damianavila or @bryevdv , do you prefer a merge or rebase for fix/feature branches?

[2015-01-24 12:46] damianavila commented on #1702
always merge.... only rebased in not public branches :wink:

[2015-01-24 14:19] #889 closed

[2015-01-24 15:25] bryevdv opened #1761 "importing bokeh breaks standard python if ipython also installed"
[reported by @shughes-uk ] Recent ipython `load_notebook` PR does unexpected things in the standard interpreter if ipython happens to be installed

    bryan@laptop  ~/work/bokeh/bokehjs/src/coffee/renderer/guide $ python
    Python 3.4.2 |Anaconda 2.1.0 (x86_64)| (default, Oct 21 2014, 17:42:20)
    [GCC 4.2.1 (Apple Inc. build 5577)] on darwin
    Type "help", "copyright", "credits" or "license"

[2015-01-24 15:28] bryevdv commented on #1761
Given that there is "no way to determine if you are in the notebook" there can't be any way to determine you are *not* in a notebook. Not sure if there is any solution but to revert.

[2015-01-24 16:43] shughes-uk commented on #1761
Also breaks the tests if you run them with the standard interpreter, most of them simply don't run so 'pass', which is probably why this wasn't immediately picked up by the unittests.

[2015-01-24 16:53] damianavila commented on #1761
I think the problem is not if we are (or not) inside a notebook, the problem is detecting if we are (or not) inside IPython... and that's easy to check, see #176 and let me know if that PR fix the issue...

[2015-01-24 19:15] bryevdv commented on #1730
I am afraid I am at a loss.Can you make sure to disable and empty all caches? Sometimes this is an issue as well. Here is more info: http://bokeh.pydata.org/en/latest/docs/dev_guide.html#browser-caching  If this does not solve,  maybe we can have a Google Hangout during the coming week to try and figure out what is going on?

[2015-01-25 15:01] bryevdv opened #1763 "Support anchor property for Image and ImageRGBA"
I thought we already did but apparently not:

[code]

[2015-01-25 15:09] bryevdv commented on #1763
Discovered in #1747

[2015-01-26 14:06] #1702 closed

[2015-01-26 15:52] #1703 closed

[2015-01-26 16:05] Devataa commented on #983
@fpliger Thank you so much! This is exactly what I needed. Needed to do a mock up quickly to show a proof of concept so to incorporate Bokeh tool into our analytics team, this did it. Can't wait for the update.

[2015-01-26 20:27] matdrapeau commented on #1730
@bryevdv browser cache has never been activated.
Gimme a shout on hangout at the same username @ gmail whenever you can.
Thanks a lot

[2015-01-26 20:33] Devataa commented on #983
@fpliger For a stacked bar graph plotted with a line graph as you've demonstrated above, is it possible to incorporate dual axis on the right hand side corresponding to the line graph range? Somewhat similar to this demo here; https://github.com/bokeh/bokeh/blob/master/examples/glyphs/twin_axis.py ?

[2015-01-27 13:42] Jawabiscuit opened #1766 "Move/rename examples.html"
In a newly forked repo, examples.html displays errors in Chrome Version 41.0.2272.16 beta-m (64-bit).

system os info:

Name: Microsoft Windows 7 Extreme Edition R1 - x64 (Service Pack 1)
Version: 6.1.7601
ServicePackMajorVersion: 1
ServicePackMinorVersion: 0
Manufacturer: Microsoft Corporation
BuildType: Multiprocessor Free
CodeSet: 1252
CountryCode: 1
Organization:
RegisteredUser: Jonas
NumberOf

[2015-01-27 14:03] bryevdv commented on #1766
Hi @Jawabiscuit, sorry for the confusion. That file is actually part of our continuous integration testing setup, and not meant for users to run. It should probably be moved/renamed. I'm going to update the title to reflect that and mark it as a task. All of the scripts in the subdirectories under `examples` either auto-open a browser, print connection information when run, or (a few) have a READM

[2015-01-27 14:05] bryevdv commented on #1766
Users very reasonably assume it is a useful file for them to look at, and not a little piece of our CI plumbing.

[2015-01-27 14:06] bryevdv commented on #1766
@Jawabiscuit also, thanks for pointing this out!

[2015-01-27 14:25] bryevdv opened #1767 "Allow vector of column names for Patches and MultiLine"
reference: #1733

For the glyphs that require "lists of lists" like `Patches` and `MultiLine` it can be cumbersome to create the entire list of lists:
[code]
Instead it would be nice to be able to do:
[code]
Where `"xpts0", etc. are names of columns of data in some kind of data source. Allowing this in current data sources as-is would break the "columns have identical length" assumptions, so I see

[2015-01-27 14:48] Jawabiscuit commented on #1766
Ok! Sounds good :+1:

[2015-01-27 16:29] bryevdv commented on #1542
needs more discussion

[2015-01-27 16:50] #1761 closed

[2015-01-27 17:22] #1747 closed

[2015-01-27 18:28] bryevdv opened #1768 "Enable tabbed faceting on Crossfilter"
Implement tabbed faceting option for cross filter.

[2015-01-27 18:28] bryevdv commented on #1768
@rothnic is this something you would be interested in helping with?

[2015-01-27 19:46] Jawabiscuit opened #1769 "Sphinx extension error"
Again, this is a newly forked repo. This error comes up when trying to run `make all`. Thanks!

Python 2.7.5
docutils (0.12)
Sphinx (1.2.3)
sphinx-bootstrap-theme (0.4.5)
sphinxcontrib-httpdomain (1.3.0)
sphinxcontrib-napoleon (0.2.9)
seaborn (0.5.1)

L:\dev\bokeh\sphinx>make all
Making output directory...
Running Sphinx v1.2.3

Extension error:
Could not import extension bokeh.sphinxext.bokeh_aut

[2015-01-27 20:17] bryevdv commented on #1769
That was just merged a few hours ago. I thought perhaps the package got left out of `setup.py` but it appears to be correct:

https://github.com/bokeh/bokeh/blob/master/setup.py#L453

Also the module in question is in the right place:

https://github.com/bokeh/bokeh/tree/master/bokeh/sphinxext

Can you do a few things:
* report `bokeh.__version__`
* let us know how you installed, before trying to

[2015-01-27 21:58] rothnic commented on #1768
Sure, I could take a look at it, though I'd need a pointer into the
direction of the intended feature. I'm familiar with grammar of graphics
and ggplot, but not sure what exactly that is referring to.

On Tue, Jan 27, 2015 at 12:28 PM, Bryan Van de Ven <notifications@github.com

[2015-01-27 22:04] hhuuggoo commented on #1768
in the crossfilter, youcan facet on 2 fields, in which case you get a grid of plots

if we facet on 3, then we can have N tabs of scatter plot grids, where each tab is facetting on that 3rd dimension

[2015-01-27 22:05] bryevdv commented on #1768
@hhuuggoo just beat me to it. :) I will only just point you at this example:

https://github.com/bokeh/bokeh/blob/master/examples/glyphs/glyphs.py#L74

You can run it to see the tabbed panel in action, and the particular line I linked has the `Tab` creation below.

[2015-01-27 22:13] rothnic commented on #1768
Ah, yeah wasn't sure if tab was related to literal UI elements or some
other concept. I can take a look at it.

On Tue, Jan 27, 2015 at 4:05 PM, Bryan Van de Ven <notifications@github.com>
wrote:

[2015-01-27 22:19] bryevdv commented on #1768
BTW I would think ideally we could have any combination of `facet_x`, `facet_y` and `facet_tab` but if it's easier to start out only allowing tab facets as a third dimension, that is fine too. Thanks again @rothnic!

BTW we are going to get some help from a designer to sharpen up the visual appearance of the cross filter in the next few weeks as well. If you have any ideas or input please let me k

[2015-01-28 01:06] andrewguy opened #1772 "[Feature Request] Selectively show glyphs depending on zoom level"
It would be useful to have the ability to selectively render/show glyphs depending on the zoom level.

As an example, when plotting data relating to a biological sequence (DNA, RNA or protein), it is useful to be able to inspect the underlying sequence.  The position in the sequence is usually plotted on the x-axis, and the corresponding sequence (ie. ...ATTAGTAA...) would then be shown just above

[2015-01-28 02:54] bryevdv opened #1773 "Misc charts codebase improvements"
The `bokeh.charts` codebase could use some general improvements:

* [x] remove all `duplet`, `quartet`, `sextet`, `nonet`, etc in favor of readable `namedtuple`s (#1814)
* [x] `Step` should use `Line`, not `Segment`, because: (#1815)
  - otherwise impossible to add good hit-testing later
  - `Line` will miter the segments together in a more visually attractive way
* [x] remove all commented out co

[2015-01-28 03:03] bryevdv commented on #1773
Ping @fpliger, @damianavila thoughts?

[2015-01-28 03:28] bryevdv commented on #1773
I also had an idea about how to simplify and unify code like this:
[code]
This is a perfect opportunity to re-use our properties and models system to make things more self-documenting, as well as get a bunch of validation for free. Basically, use `PlotObject` as "private mode" and get all the good stuff that models provide for free. I imagine this:
[code]
Then we can gut the entire `Chart` initial

[2015-01-28 03:36] bryevdv commented on #1773
Alternatively, we could just make the `Builders` be models (subclass of `PlotObject`). In fact, that's probably the best plan. Any `Builder` would get automatic validation for all its properties, and easy auto-documentation.

[2015-01-28 03:40] bryevdv commented on #1772
@andrewguy Thanks for adding this feature request. Do you have any thoughts on how you might like to be able to spell this? (Or how similar functionality is spelled in other systems?)

[2015-01-28 05:47] andrewguy commented on #1772
I imagine you would probably add this as a property of any glyph.

You might spell this as:

    p.text(text="A", x=0, y=0, show_with_xzoom=[lower_bound,upper_bound])
where lower_bound and upper_bound define the zoom levels between which to show your glyph.  Defaults would be `[0,inf]` I imagine.

Also, for the sake of aesthetics, maybe an option to fade in - so varying alpha over a small range?

[2015-01-28 10:43] alishir commented on #1266
Hi all,
I think I have the same problem when running bokeh-server on openshift PaaS.
I run the bokeh-server on openshift by following command and it starts successfully.
`bokeh-server --port $OPENSHIFT_PYTHON_PORT --ip $OPENSHIFT_PYTHON_IP --backend memory`

But when I run simple code to draw simple static plot, the only result on the server is a link with **link to this** text, and there is no pl

[2015-01-28 11:13] alishir commented on #1266
After setting `Config.prefix` in `bokeh.js` manually I got the static plot, but for dynamic plots I should refresh browser to see the changes.

[2015-01-28 12:05] alishir opened #1775 "Using bokeh keyword in host url affect Config.prefix value"
If bokeh-server host name contains `bokeh` keyword, value of `Config.prefix` variable in `bokeh.js` is not the expected prefix.
For example if bokeh-server host name is `http://bokeh-testserver.com`, the value of `Config.prefix` will be `http://` instead of `http://bokeh-testserver.com`.

[2015-01-28 12:20] fpliger commented on #1773
I like almost all proposals. The only one I really don't get is:

Builders are already quite lean (only handle the values creation/computation, palette, legend, ranges... and a few other internal things). I see big benefits regards `Chart` and `ChartArgs` (really painful to keep and maintain attrs (with like `check_attrs`). IMHO optimal scenario would be if builders could just take care of:

- com

[2015-01-28 12:39] damianavila commented on #1775
Probably this autoclose when you merge the proposed fix in your fork... am I right?

[2015-01-28 12:57] alishir commented on #1775
I'm not sure, I removed texts that trigger autocolose procedure from comment message.

[2015-01-28 13:50] damianavila commented on #1773
I agree... looking at those now seems very confusing (probably very confusing from the beginning

otherwise impossible to add good hit-testing later
Line will miter the segments together in a more visually attractive way

Sound good...

:+1:

:+1:

you mean a builders subdirectory containing each builder and a charts.py (or something else) containing all the functions to create the actual charts?

[2015-01-28 13:50] hhuuggoo commented on #1775
Is this necessary?  bokehjs should only need the proper prefix, as the host url should match whatever is serving the page.  currently Config.prefix should pull values from url_prefix setting

[2015-01-28 13:51] damianavila commented on #1773
Yep, probably the best idea...

[2015-01-28 14:07] bryevdv commented on #1773
@damian something like this:
[code]
The builder subclasses would be explicitly named `LineBuilder`, `ScatterBuilder`, etc.

Then the only question is: where do the user-facing functions, `TimeSeries`, etc go? A few options:
* in individual `line.py` modules, so have: `bokeh.charts.line.Line`
* explicitly defined in `__init__.py` so have: `bokeh.charts.Line`
* imported into `__init__.py` from `line

[2015-01-28 14:11] damianavila commented on #1773
3rd or 4rd options... the 4th one deserves more time, but it would be nice to have it... in the meantime the 3rd is probably enough... thx for the clarification...

[2015-01-28 14:12] bryevdv commented on #1773
I agree 3rd is probably god to start, then I would actually recommend module names like `_line.py` (so then: `_line.Line` so that users don't get used to an idea that they should be using them.

[2015-01-28 14:16] damianavila commented on #1773
:+1:

[2015-01-28 14:17] bryevdv commented on #1773
Well, I definitely like the idea of explicitly laying out what high-level tasks a builder is responsible for. If all builders follow a prescribed pattern then it will be much easier to document and explain to others how to make new ones. I agree somewhat about builders being lean, except noting that "compute data" might be a very heavy and involved operation in some cases. That said, I think makin

[2015-01-28 14:41] fpliger commented on #1773
Thanks for the details @bryevdv. With that extra context I do agree with you.

I really like the direction that the discussion is taking. The pattern is really nice. With that in mind I agree with the line that 3rd option is just the easier one and works ok for now. That said I think the 4th option is the right direction for a really flexible, extendable and pluggable design.

[2015-01-28 15:15] alishir commented on #1775
Today I hosted bokeh server on openshift and my application name was
"bokeh", so the url of application address seems like "
bokeh-username.rhcloud.com".

The bokeh hosted successfully but when I want to view plots, I got an error
in javascript console.
The error was about problem in retrieving `http://bokeh/wsurl`, I found the
cause of the problem is `Config.prefix` value.
By setting this value m

[2015-01-28 15:20] hhuuggoo commented on #1775
Ah!  sorry - I think what i described maybe is not implemented yet. Anyways, my comment is then that we should not pull the prefix from host url, but instead pass the prefix from url_prefix.  In your case, url_prefix is empty, and Config.prefix will then just be "/" which means it should work.  So that is the change I would make.  Does that make sense?

[2015-01-28 15:40] alishir commented on #1775
In the following code block, `Config.prefix` set based on index of `/bokeh` string in `url`, and I think it is independent of `url_prefix`, am I right?

[code]

Also I should mention that today is the second day that I heard `bokeh` name and it is my first experience with `bokeh`.
Also I tested the bokeh-server on openshift with setting `--url-prefix` but it doesn't work.

[2015-01-28 15:52] bryevdv commented on #1775
@alishir @hhuuggoo thanks for having this discussion and sorting this out

[2015-01-28 16:05] bryevdv commented on #1749
estimate: 1hr

[2015-01-28 16:06] bryevdv commented on #1748
status for 0.8: investigate, possibly push off

[2015-01-28 16:07] bryevdv commented on #1744
time estimate: 1hr

[2015-01-28 16:08] bryevdv commented on #1743
This was done in #1747

[2015-01-28 16:08] #1743 closed

[2015-01-28 16:10] bryevdv commented on #1731
estimate: 2hr

task: find a good location

[2015-01-28 16:12] bryevdv commented on #1723
status: quick investigate, possibly push to 0.9 (for 0.8 at most forward the few properties events)

[2015-01-28 16:13] bryevdv commented on #1721
estimate: 1hr

[2015-01-28 16:14] bryevdv commented on #1712
note: do after charts/plots #1735

possible help from @Maggie-M

[2015-01-28 16:15] #1696 closed

[2015-01-28 16:18] bryevdv commented on #1659
This is not specific to IPython: if you use `bokeh-plot::` with the same file twice in Sphinx docs, same problem occurs (issue with `autoload_static`?)

[2015-01-28 16:18] alishir commented on #1775
@bryevdv I hope this little improvement helps the bokeh ;)

[2015-01-28 16:20] bryevdv commented on #1647
estimate: days
status: some tests + integration should be ready for 0.8, if not all

[2015-01-28 16:22] bryevdv commented on #1689
estimate: 4hr

Just demo split gallery, more work to follow

[2015-01-28 16:30] bryevdv commented on #1584
status: only a quick look for now (~30mins)

[2015-01-28 16:34] bryevdv commented on #1563
status: low priority, possibly move off to 0.8.1

[2015-01-28 16:35] damianavila commented on #1555
status: require some investigation

[2015-01-28 16:36] damianavila commented on #1528
Should be fix in #1735

[2015-01-28 16:38] damianavila commented on #1515
status: some work in the next days (1 - 2) and ping the mailing list

[2015-01-28 16:43] bryevdv commented on #1486
status: low priority for 0.8

[2015-01-28 16:45] damianavila commented on #1479
status: low priority

[2015-01-28 16:45] damianavila commented on #1478
status: low prority

[2015-01-28 16:48] damianavila commented on #1441
Estimate: 1 day

[2015-01-28 16:48] bryevdv commented on #1464
will be finished in #1735

[2015-01-28 16:50] damianavila commented on #1286
completed by #1735

[2015-01-28 16:51] alexbw commented on #1515
Great to hear this is alive!

[2015-01-28 16:54] damianavila commented on #1256
status: low priority

[2015-01-28 16:54] damianavila commented on #1213
status: low priority

[2015-01-28 16:56] damianavila commented on #626
status: low priority

[2015-01-28 16:58] bryevdv commented on #839
Ongoing, but first example has been made very simple already.

[2015-01-28 17:03] damianavila commented on #1266
probably dupe of #1775?

[2015-01-28 17:22] alishir commented on #1266
@damianavila for the static plots yes, but for the dynamic plots no. Even by resolving #1755 there is problem in dynamic plots, and there is no animation in plots.

[2015-01-28 17:36] hhuuggoo commented on #1266
@alishir what I mean is setting Config.prefix properly should fix all these issues

[2015-01-28 17:36] hhuuggoo commented on #1266
In fact, in your case, you could hardcode Config.prefix = "/" and see if that resolves

[2015-01-28 17:37] alishir commented on #1266
@hhuuggoo Thanks for your comment. I will test it as soon as possible.

[2015-01-28 18:15] alishir commented on #1266
@hhuuggoo I hard code Config.prefix = "/" but there is no animation yet.

[2015-01-28 18:24] hhuuggoo commented on #1266
Is bokeh listening on port 5006, but you're using something like nginx to map to port 80?

[2015-01-28 19:27] matdrapeau commented on #1730
@bryevdv I have some time today and tomorrow if you want to go over this issue.
thanks :)

[2015-01-28 19:34] bryevdv commented on #1766
Came up again with another person just today. Really, all of the files at the top level of `examples` are part of our testing infrastructure and should be moved,

[2015-01-28 19:35] alishir commented on #1266
Yes, openshift pass have some port mapping, it maps port 80 to some random
port.

On Wed, Jan 28, 2015 at 9:54 PM, hhuuggoo <notifications@github.com> wrote:

[2015-01-28 19:40] damianavila commented on #1766
I agree...

[2015-01-28 19:40] bryevdv commented on #1730
Hi @matdrapeau tomorrow might work, sorry I am getting slammed this week.

[2015-01-28 20:38] damianavila commented on #1766
Taking an stab on it now at #1778...

[2015-01-28 23:44] birdsarah opened #1780 "Negative bar charts"
Hi,

I'm not sure if you've considered this already, and decided not to do it. I'm happy to do a pull request, but wanted to check in to make sure this was something that was desired, and what the direction would be.

I had a dataframe of negative data, and bokeh.charts.Bar did not do the right thing when automatically setting the ydr.

The quick solution to my needs was:
[code]
Note the `min`s in

[2015-01-29 03:28] cloudformdesign opened #1782 "[task] Update ipython notebooks"
I am starting the process of updating all the ipython notebooks in the examples folder to fit with the new syntax (using figures rather than line, scatter, etc).

I just wanted to create this issue to let you know, I will put my pull request link here and let you know when I am done.

Update: most of these examples do not work out of the box with bokeh 7.1. Kind of bad examples, don-cha-think! :P

[2015-01-29 03:38] cloudformdesign commented on #1782
I'm trying to get the boxplot to work, and it isn't working at all. I finally did the following:
[code]

And now everything works, although without labels. How do I do this with labels?

[2015-01-29 04:04] cloudformdesign commented on #1782
Ok, here is the first set of changes:
https://github.com/bokeh/bokeh/pull/1783

I am having a lot of problems with the `animated` example in particular. I take it that glyphs can be found in `bokeh.models.glyphs.Glyph` -- but I'm not sure where you get the rest of the machinery to deal with this. I would also be interested in having the actual ipython graph show the animation -- is this possible?

[2015-01-29 04:16] cloudformdesign commented on #1782
also, I have been removing the `hold()` function from everything... what the heck did/does that do?

[2015-01-29 13:05] mattpap commented on #1589
I was able to correctly load bokehjs in node. The problem was that some of bokehjs' dependencies try to be smart and behave like node modules when they think is necessary. The effect was that `require("bokeh.js")` caused to return a reference to numeral.js instead of bokehjs, because numeral.js was the last module exhibiting this behavior and bokeh.js didn't behave like a node module. There were o

[2015-01-29 13:10] mattpap commented on #1589
So that was for `require("bokeh.js")`. Attempt to allow `require("main")` is a completely different story, where everything blows up in very peculiar ways.

[2015-01-29 15:06] damianavila commented on #1782
Sorry... but in master the examples are updated... did you pull master before going into the notebook???

[2015-01-29 15:21] bryevdv commented on #1782
Hi @cloudformdesign There was a round of deprecations and some old functions were finally just removed. As @damianavila mentioned, the examples in master should be updated to match the new API. Are you running the examples from a GH checkout or from the ones that were shipped with the package? Perhaps there was a packaging glitch.

[2015-01-29 15:22] bryevdv commented on #1782
Also to answer your question, `hold()` was part of the old Matlab style stateful api. Basically to add multiple renderers on a plot you would call `hold()` and that would cause any new renderers to be added to the current plot.

[2015-01-29 15:38] bryevdv commented on #1782
@cloudformdesign I am not sure I understand the question about labeling. You can create categorical ranges, where the axis is comprised of named categories (or factors, in other terminology). In the boxplot example, for simplicity, the categories names are just single letters. You can see the plot here:

http://bokeh.pydata.org/en/latest/docs/gallery/boxplot.html

Legends are annotations that labe

[2015-01-29 15:59] bryevdv commented on #1780
Hi Sara,

A pull request would be very welcome!

Thanks,

Bryan

[2015-01-29 16:49] PBrockmann opened #1784 "automatically fill masked arrays when encoding"
Could not resist to try cartographic mapping with bokeh...

I have tried to plot a spatial map (lon,lat) with use of plt.image and plt.line to plot continent borders.
Despite 2 problems, it is really promissing and having all this interactivity from the plot itself makes me really enthousiastic.

Attached 2 problems related to this early try:
1) plt.line does not handled missing points
2) plt.imag

[2015-01-29 16:57] PBrockmann opened #1785 "Support periodic/wrapped ranges"
Does it make sens to implement a modulo feature to handle topological wrapping along an axis ?
In another words, I would like to pan over the image but when some axis limit is reached get the start of the image.
It is usually called modulo axis or wrapping.

Attached a mapping try with use of  plt.image and plt.line to represent a spatial map (simple cartesian map).
![map_bokeh](https://cloud.gith

[2015-01-29 16:57] bryevdv commented on #1784
Hi @PBrockmann thanks for the report! During serialization, bokeh encodes missing data as `NaN` values. I can't say I am thrilled about that but I am also not sure what an alternative would be. So, it's probably possible to make the Bokeh JSON encoder smart enough to do this automatically when there are NumPy masked arrays. In the mean time, you could try converting to a regular array with `NaN`s

[2015-01-29 16:59] bryevdv commented on #1785
Ah, yes it absolutely makes sense. What is needed is a new mapper type (or an extension to the current linear mapper) to handle this use-case.

[2015-01-29 17:02] cloudformdesign commented on #1782
you are totally right. I could have sworn I pulled first, but it looks like everything is up to date. Silly me...

Thanks for the clarifications! Those are helpful.

[2015-01-29 17:02] #1782 closed

[2015-01-29 17:05] bryevdv commented on #1782
@cloudformdesign np! :) and thanks for opening a PR, we would love to have more (for example, docs, fixes or anything else!)

[2015-01-29 18:30] damianavila commented on #1758
Thanks @rothnic for you work in these multiple PRs...

[2015-01-29 18:30] #1758 closed

[2015-01-29 22:28] PBrockmann commented on #1784
Indeed, I can handle this with 2 lines of numpy
[code]
![bokeh_map](https://cloud.githubusercontent.com/assets/5402758/5967523/20489e20-a80e-11e4-8dfe-e298bae4aedc.png)

And finally it looks nice. This try can be tested from
http://nbviewer.ipython.org/gist/PBrockmann/a6302573276ddd49a4c3

[2015-01-29 22:30] bryevdv commented on #1784
I'm glad that works! I am going to re-open this as the issue to add that automatically in our encode.

[2015-01-29 23:00] PBrockmann commented on #1785
This try can be tested from
http://nbviewer.ipython.org/gist/PBrockmann/a6302573276ddd49a4c3

[2015-01-30 00:53] bryevdv opened #1786 "VBox/HBox should accept single list as well"
Seen in the wild:
[code]

Need checks in these two places:

https://github.com/bokeh/bokeh/blob/master/bokeh/models/widgets/layouts.py#L31
https://github.com/bokeh/bokeh/blob/master/bokeh/models/widgets/layouts.py#L48

to check if `len(args)==1` and if `args[0]` is a sequence (list, tuple, etc), then set `kwargs["children"] = args`

Edit: docstrings should also be updated to reflect the different

[2015-01-30 01:04] bryevdv opened #1787 "autoload script examples out of date"
here: http://bokeh.pydata.org/en/latest/docs/user_guide/embedding.html

[2015-01-30 13:53] damianavila opened #1788 "Build on Travis ideas"
We have mainly two possibilities:

* Add the build job to the current run:
  * PRO: easy and quick
  * CONS: every run in too much long make it impracticable

* Separate TravisCI job:
  * PRO: it does not interfere with the test job, I will set up only to build on master merged (not PRs or branches)
  * CONS: we need to sync the main repo and the "build" one. We can push to both simultaneously, bu

[2015-01-30 14:36] damianavila commented on #1107
Reopened to add some changes:

* [ ] new script to load js and css files to rackspace
* [ ] some explanation to manually create our devel build.
* [ ] some other info in the pre-release steps.

[2015-01-30 15:14] #1107 closed

[2015-01-30 16:52] matdrapeau commented on #1730
@bryevdv would you have some time today?
thanks

[2015-01-30 16:53] damianavila commented on #1788
I have another idea... because certainly I am not sure if building in each commit is necessary, mainly because we are not exposing all these packages to the public... and because it takes a lot of time to do it... I don't think to build en each merge is reasonable... so what if:

I set up a Separate TravisCI job but is the same way describe above but without any gitconfig... so now we decide when

[2015-01-30 17:06] bryevdv commented on #1788
+10

[2015-01-30 17:10] bryevdv commented on #1769
@Jawabiscuit did you have any chance to check the things mentioned above?

[2015-01-30 17:14] #1775 closed

[2015-01-30 17:19] bryevdv commented on #1730
I could spend about 15 minutes at 2pm CST.

[2015-01-30 17:24] matdrapeau commented on #1730
ok great... just ping me

[2015-01-30 17:29] bryevdv commented on #1788
BTW does this mean if we tag dev build with reasonable versions for the tag, that the builds would just get that as the version automatically?

[2015-01-30 17:29] bryevdv commented on #1788
If that's true, then +100

[2015-01-30 18:17] vitiral opened #1790 "Make automated plotting of pandas easier, I need some help!"
Hey all,

Check out my pull request:  https://github.com/bokeh/bokeh/pull/1789

For now, it is just an ipython notebook to demonstrate functionality and my thought process.

I'm making a lot of progress with an automated plot of pandas dataframes. At the very least, this should go in the examples folder but I am hopping to create a charts.dataframe function (or something)

I am having some minor i

[2015-01-30 18:55] cloudformdesign commented on #1790
By the way, on the whole, I found found working with bokeh *significantly* easier compared with working with matplotlib. You guys have a fantastic library here, and I want to continue to support it in whatever ways I can. The web support is why I came, but I am definitely staying :D

[2015-01-30 19:27] bryevdv commented on #1790
Thanks of of the kind words and the contribution, @cloudformdesign ! A few quick thoughts:

* `line = f.line(x,y); line.line_color='red'; show(f)` should be fine are you saying this does not work?
* the brewer colormaps are all the existing "colorbrewer" colormaps scraped from the color brewer site, they aren't auto-generated or anything like that
* The reason the MPL compat would be nice is becau

[2015-01-30 19:31] damianavila commented on #1788
define reasonable...

if we tag, the build has to get the tag as the version, the same way we do in the real release process, it probably needs some little change to support "dev" in the tag (right now we support "rc" in the `get_bump_version.py` script.")

1) `git checkout -b dev_br`
2) `python version_update.py 0.7.2-dev.xxx`
3) `git add .`
4) `git commit -m "New devel build xxx."
5) `git tag -a

[2015-01-30 19:40] bryevdv commented on #1788
That would be brilliant

[2015-01-30 20:05] cloudformdesign commented on #1790
## Line color (Error)
[code]
## Colormaps
I saw that they were just a dictionary in the source code. Do you have something that dynamically generates colors? How do you do it "automatically"?

On this note, now do I access color? I guess this is related to the above issue...

## Data Ranges (got it)
[code]

[2015-01-30 20:10] bryevdv commented on #1790
`line_color` is a property of the glyph, not of the figure. I thought `f.line` returned the glyph, but apparently it returns the figure. There are a few options, probably the easiest, if you want to change a glyphs properties afterwards, is to supply a "name" for it:
[code]
then later you can query for it:
[code]

[2015-01-30 20:18] cloudformdesign commented on #1790
Thanks! This is what I needed for now.

My guess is that that is from the old style when you called just `line` instead of `f.line`. Do you think you will change `f.line` to return the glyph in the future

[2015-01-30 20:23] bryevdv commented on #1790
Off the cuff answer, probably not. We are trying to be averse to breaking changes unless truly necessary and I don't think this would qualify as that. Also the current setup allows chaining `p.line(...).circle(...)` which might be nice, arguably not that important either.

[2015-01-30 20:23] damianavila commented on #1788
OK, I will follow that path...

OK, probably using a TRAVIS counter as your proposed before in some other discussion

I will keep that in mind...

[2015-01-30 20:29] bryevdv commented on #1788
Another option is to have a "counter" file in the build repo. It's clunky and I wouldn't want to gunk up the main repo with it, but it's probably acceptable in this separate build repo.

BTW @ilanschnell is working on conda no-arch pkgs. I think even after they are ready and we can build on binstar, this separate build repo is a good way to continue since it offers more control over when "release"

[2015-01-30 20:51] damianavila commented on #1788
Yep, that's true...

Yep... that's the idea...

[2015-01-30 21:00] cloudformdesign commented on #1790
I'm having issues setting the y range name of the standard axis:

[code]
This is causing the graph to look like this:
![no graph](http://i.imgur.com/JiqbbRO.png)

In other words, nothing is plotting

[2015-01-30 21:21] bryevdv commented on #1730
Very sorry I missed you I got pulled into a discussion. Tried to msg later but you had logged off.

[2015-01-30 21:26] matdrapeau commented on #1730
did you added me? I did got any request

[2015-01-30 22:18] fpliger commented on #983
@Devataa Sure. In that case you need to used the Plot object shared between all the charts. In order to make if work with the previous example please add `from bokeh.models import Range1d, LinearAxis` to the top of your file and change:

[code]

with

[code]

Once again I'd like to remember that all this will be changing really soon! :wink:

[2015-01-31 15:51] bryevdv opened #1792 "Allow grids to shade alternating bands"

[2015-01-31 22:50] bryevdv opened #1794 "Add "starter" tag"
documenting new tag

[2015-01-31 22:51] #1794 closed

[2015-01-31 22:54] bryevdv commented on #182
With the new tool plumbing in place, this would be a nice task for someone interested in getting into the BokehJS codebase.

[2015-01-31 23:03] bryevdv commented on #796
Most of this is done/being done in @rothnic 's new xfilter PR, closing.

[2015-01-31 23:03] #796 closed

[2015-01-31 23:08] bryevdv commented on #1018
Closing, lacking new information. Please re-open if there is additional information or the problem persists.

[2015-01-31 23:08] #1018 closed

[2015-01-31 23:11] bryevdv commented on #1166
@hhuuggoo is this still the case?

[2015-01-31 23:19] bryevdv commented on #1519
This can be done piecemeal on whatever renderers have the highest need for this.

[2015-01-31 23:20] #1656 closed

[2015-01-31 23:23] bryevdv commented on #1738
I would ideally like to solve this by removing the "Fork me on Github" banner form all pages except the top level `index.html`

[2015-01-31 23:25] bryevdv commented on #1769
Have not been able to reproduce. I think this was an transient problem and I suspect a new clone or git pull would have everything resolved. It he issue persists, please re-open with the above requested info.

[2015-01-31 23:25] #1769 closed

[2015-02-01 01:18] bryevdv commented on #1413
Closing absent any update. Please re-open to continue the discussion with any new information.

[2015-02-01 01:18] #1413 closed

[2015-02-01 01:22] bryevdv commented on #1383
@davidljung The is still a work in progress, but check out https://github.com/bokeh/bokeh/pull/1777 in case there is anything useful there too you (or if you have helpful information to add!)

[2015-02-01 01:23] bryevdv commented on #1383
Since we are finally beginning to document deploy options in earnest, I am closing this discussion.

[2015-02-01 01:23] #1383 closed

[2015-02-01 01:24] bryevdv commented on #1087
There is still more that could possibly be done to remove even more state from `plotting.py` but I think this particular issue has served its purpose.

[2015-02-01 01:24] #1087 closed

[2015-02-01 01:26] bryevdv commented on #765
Thinking about this more I don't think the low level interface is the place for this. Some higher level functions could just as easily coordinate this.

[2015-02-01 01:26] #765 closed

[2015-02-01 02:22] bryevdv commented on #584
Well, we have per-property docstrings now, but `help` and `?` evidently look at the objects class:
[code]
Not sure there is much to do about this, or how much I care.

[2015-02-01 02:30] bryevdv commented on #584
Anyway I am content with `Plot.x_range?` working tho, so closing. If there is more to add tho, @mattpap or @pzwang please re-open.

[2015-02-01 02:30] #584 closed

[2015-02-01 04:44] peteflorence commented on #1060
Thanks for this helpful documented comment!  Wasn't too easy to find that PIL was a dependency for scipy.misc.imresize

[2015-02-01 12:24] damianavila commented on #1738
I agree...

[2015-02-01 12:38] damianavila commented on #1060
This is why I am pushing to make a comment on the docs about that... I will open a PR tomorrow, thanks for your feedback!

[2015-02-01 12:44] damianavila commented on #1788
Copied from FD for permanent reference:

I have the build on TravisCI working :wink:
It is surprising that:
* I build and upload all the packages to binstar in less than 10 min (I skipped the nosetest), it was too quick, probably because of the detailed in the next point,
* I build packages of around 3 mb: it seems that the cleaning of the bokehJS source from the packages (some of my last PRs) but

[2015-02-01 14:07] damianavila commented on #1788
I have a new idea taking in consideration the things learnt from the previous experience... here we go:

* We use the main Bokeh repo to build. We know now that it takes 10 additional minutes, so it makes sense only building in predetermined points (devel builds, rc and releases). That's a reasonable trade-off, between time and complexity of the machinery.
* We "signal" any of the builds tagging t

[2015-02-01 17:04] rothnic commented on #1449
Just wanted to mention I added a title for crossfilter's grids as part of #1774, then realized it doesn't render. I left it in in case this is worked on.

[2015-02-01 21:13] bryevdv commented on #1788
why not push a unique tag (with a commit hash, say)? Travis can still detect and add a sequence number, but we don't have to do any of the tag delete weirdness. Just to be clear, tagged builds are build only, no tests?

[2015-02-01 22:46] damianavila commented on #1788
Yes, that's another way to solve it...

Tagged builds can be only build, but I would recommend test + build. I will use `after_success` TravisCI command and put the build after that, so we ensure that the build run if and only if the test passed. The build case would be just an especial case of a normal build... the idea is to use the current run and leverage over it just building if the tag is pr

[2015-02-01 22:49] bryevdv commented on #1788
If there is time to do both, certainly we should do both.  I thought perhaps here was a time limit problem. Regarding the tagging I would very much like to avoid having to delete tags.

[2015-02-01 23:12] damianavila commented on #1788
10 more min from time to time does not seems to me to much problem

OK, the I will write a tiny script `deploy.sh` where automatically takes the git hash, make the tag and push it :wink:

[2015-02-02 05:27] birdsarah commented on #1780
Great. Do you have a preferred method:
* set on __init__ [default if I don't hear from you]
OR
* get_xdr and get_ydr methods that can be overridden

[2015-02-02 07:37] hafen opened #1795 "tap+open URL"
A common requested feature is for a simple way to specify a URL to be opened on tap.  While I understand a future goal is to support JS callbacks more generally, I think this is a common enough use case that it would be nice to add a canned policy to just expose this behavior.

I'm not sure what the best approach would be - have the tap tool open the URL if such a field is specified for the point

[2015-02-02 07:43] hafen opened #1796 ""dummy" data for custom legend entry shows up on plot"
I've been working on an R interface to Bokeh.  For automatic creation of legends I often want complete control over how the glyph looks in the legend, rather than pointing to the GlyphRenderer for the actual glyph in the figure.  The most common case for this need is when there is a glyph with some aesthetic attribute varying for each point, and where there is not necessarily a particular point be

[2015-02-02 12:56] mattpap commented on #1589
For now I wasn't able to get anywhere near rendering a plot in node.js. Currently the issue is that node.js abruptly terminates when I try to use any HTML fragment that contains `<canvas>` element. It doesn't matter if I enable `node-canvas` or not (this is `jsdom`'s fault). The error is as follows:
[code]
I tried different versions of node.js, including development 0.11.x branch.

[2015-02-02 12:59] mattpap commented on #1589
To reproduce my results, you can use the following code:
[code]

[2015-02-02 13:00] mattpap commented on #1589
Looking at `jsdom`'s issue tracker, there will be a few more issues to resolve altogether.

[2015-02-02 13:19] mattpap commented on #1589
If you run above code under PR #1797, you will get:
[code]
despite `node-canvas` being loaded. If you try to debug this, it will crash node.js (as mentioned in an earlier comment).

[2015-02-02 15:39] bryevdv commented on #1796
@fpliger @damianavila I feel like I saw something similar in the `bokeh.charts` interface at least at some point. Can either (or both) of you comment with your thoughts?

[2015-02-02 15:40] bryevdv commented on #1795
Yes I think this is fine a "canned" special case behavior to add to tap tool for now.

[2015-02-02 16:20] bryevdv commented on #1780
Actually, thinking about this a little bit more, is it possible that this code would work correctly in all cases?
[code]

[2015-02-02 17:15] #1792 closed

[2015-02-02 18:32] bryevdv opened #1798 "use_prefix for Include not functioning completely correctly"
Ref: https://github.com/bokeh/bokeh/pull/1774#issuecomment-72505809

ping @mattpap

[2015-02-02 19:13] birdsarah commented on #1780
I thought about that. And I think that's a better default, but I also have data where some is negative and some is positive (that wouldn't make sense for stacked, but a possibility for grouped).

So, I still think an interface for people to set their own ranges if they don't like the default, is important.

But you're right in that, we should still probably make that change too.

[2015-02-02 19:26] hhuuggoo opened #1799 "copy on write"
implemented COW for bokeh server

This is implemented off of #1713 because we're leveraging some of the testing facilities developed in that branch.

Embed links, and bokeh pages will have an optional public flag that mean that we want to view a document in copy on write mode.

Immediate Scope:
- The javascript client library will keep track of the docid to temporarydocid mapping, so that multiple

[2015-02-02 21:06] bryevdv commented on #1798
Guessing this is part of the problem:
[code]

[2015-02-02 21:10] bryevdv commented on #1798
This is another symptom:
[code]

[2015-02-02 21:32] damianavila commented on #1796
I made something similiar in charts and still lives there after @fpliger refactoring: https://github.com/bokeh/bokeh/blob/master/bokeh/charts/boxplot.py#L311-L322

Essentially we use "invisible" rects (in this case rects, but it is the same for any glyph)... this rects are bind to a datasource and then we pass `None` for `y`, `height` and `width` values, which make it invisible in the chart but us

[2015-02-02 21:51] bryevdv commented on #1798
more details:
[code]
But the alpha values are not getting set in the serialized versions:
[code]

[2015-02-02 21:54] hhuuggoo commented on #1798
wait sorry - is the title of this PR supposed to be use_prefix?

[2015-02-02 23:37] pzwang commented on #1796
@damianavila That's definitely a bit of a hack.  I think it's fine to create a parameter for glyphs which defines how they appear in legends.  This is a well-defined, common use case.  That way you don't have to create dummy glyphs.

[2015-02-03 00:41] hafen commented on #1796
Oh I see - the part I was missing was setting size, radius, etc. to null as well.  That does the trick.  It's not elegant but it works, and this is probably something that only effects people building the language bindings, so I don't know how high priority a more elegant fix would be.

[2015-02-03 00:41] #1796 closed

[2015-02-03 03:45] bryevdv commented on #1798
Yes

[2015-02-03 03:49] bryevdv commented on #1768
Thanks @rothnic !

[2015-02-03 03:55] bryevdv commented on #1796
We should make an issue for future improvements, that enumerates the ideas for making it better.

[2015-02-03 04:00] bryevdv commented on #1798
This is undoubtedly the problem:

https://github.com/bokeh/bokeh/blob/master/bokeh/_glyph_functions.py#L68

I will fix it in the morning.

[2015-02-03 09:33] mattpap commented on #1798
You can always use `hasattr()` (not that I encourage that).

[2015-02-03 10:29] mftt opened #1801 "bokeh server crashing when reloading flask app"
When I run the "stock_applet" example as described in its README.md, i.e.,

    $ bokeh-server --script stock_app.py
    $ python flask_server.py

Everything works fine. However, if I reload the webpage in my browser, the bokeh-server crashes with the following exception

2015-02-03 11:23:44,142:ERROR:tornado.access:500 POST /bokeh/bb/e2b3ec75-eb27-40e3-ac3e-5afc2fcb1b49/bulkupsert (127.0.0.1) 73.

[2015-02-03 10:47] fpliger commented on #1780
@birdsarah If you plan to open a PR for this please be aware that today or tomorrow we will be merging #1735 which will change the charts design completely. This means that new charts will be much easier to add/write but also that you will need to adapt your code to that design if you already started working on it. Please let me know if I can be of any help on that..

[2015-02-03 14:02] mattpap opened #1803 "TapTool doesn't allow to select exactly one renderer (overlapping renderers)"
I think this should be configurable: either select the top-most or all overlapping renderers (the later is what currently happens). On the other hand, how to select a renderer that's covered completely by another one?

[2015-02-03 14:08] bryevdv commented on #1803
There's lots of possibilities
* only return the closest
* only return the closest that is also "on top"
* return everything
* return N closest

etc.

They are not hard to implement, we just need to expose a way to choose the policy that is not too cumbersome.

[2015-02-03 14:15] bryevdv commented on #1798
I would prefer to go back to inheritance, and use something like this:
[code]
but I am not sure offhand how to make that work cleanly.

[2015-02-03 14:43] bryevdv commented on #1798
Could make that work by importing mixins into properties and polluting `MetaHasProps` in ugly ways. I'll just make the `hasattr` fix for now with a note to improve.

[2015-02-03 14:45] bryevdv commented on #1798
I actually now occurs to me that the code in `_glyph_functions` was already broken for any non-marker class, as-is.

[2015-02-03 15:54] #1798 closed

[2015-02-03 16:42] mattpap opened #1805 "Set up a task for cleaning up S3 (bokeh-travis bucket)"

[2015-02-03 17:07] iyneedham commented on #886
Anders and I have been speaking with Damian, and he suggested that we post on this thread. We thought that what Bryan suggested above was really intuitive:

[code]

Right now, here’s what you need to do to produce a graph where you give bokeh a dataframe and what columns you want to use for x and y:

[code]

Imagine that you’re a beginner, and you’re trying to use bokeh to create 4 charts that use

[2015-02-03 17:22] damianavila commented on #886
pinging @fpliger who was lately involved in Charts to provide his thoughts :wink:

[2015-02-03 19:18] #1768 closed

[2015-02-03 19:38] bryevdv commented on #1589
ping @tswicegood actually lets keep comments in the issue, as the current PR may not cover the entire discussion.

[2015-02-03 19:42] bryevdv commented on #1692
@damianavila is this part of your current build work?

[2015-02-03 20:18] damianavila commented on #1692
Nop... I am thinking about this... I would't like to use the python script to change it, it has to be a better way... let's use this issue to think about it...

[2015-02-03 21:17] damianavila opened #1809 "Seems to be some curplot leftover in the codebase"
See linked_brusing notebook...

[code]

I also found another one in the app_reveal...

[2015-02-03 21:33] #1721 closed

[2015-02-03 21:33] damianavila commented on #1809
Checking the code... do we want to keep the ability to show the `curdoc`, I mean using show without passing an object?

[code]

I think that maybe it would be appropriate to just ask the user to actually pass an object (we are showing that in our examples):

[code]

or just...

[code]

Although `obj` is a better name, maybe it worth to change the `plot` occurrence by `obj`...

[2015-02-03 21:39] bryevdv commented on #1809
Agree `obj` is better and yes also no need to support `show()` at all anymore.

[2015-02-03 21:40] #833 closed

[2015-02-03 21:41] #1522 closed

[2015-02-03 21:42] damianavila commented on #1809
ok, I will submit a PR fixing it... thanks for the feedback!

[2015-02-04 00:06] fpliger commented on #886
@iyneedham can you provide some more context? Or an example of how would you like to code the former example?

In the example you've pasted earlier you can change the last 4 lines to:

[code]

with the same results.

[2015-02-04 00:26] damianavila commented on #886
I guess the problem comes from the fact that for beginners, or casual user, one expect the following to work:
[code]
and it is not the case because you have to wrap it in a list... and probably, for beginners, this is not something easier to figured out...

[2015-02-04 04:07] rothnic commented on #673
Have you considered [webpack](http://webpack.github.io/)? It seems like you wouldn't ever use all of bokehjs, so by using node style 'require', even for styles, you can modularize the code. Webpack then compiles all required dependencies together.

Another project that has this problem, but don't know if they solved it, is cesium.js. They are around the 5mB range.

[2015-02-04 05:48] bryevdv commented on #673
I believe we are potentially looking at browserify for the future. ping @tswicegood

[2015-02-04 08:42] fpliger commented on #886
Sure, I do agree. In fact it should work (at least it works with some charts like bar or lines that I've just tried). :wink:

What I'm not sure is about @iyneedham proposal. Mostly because I miss real examples. Also because @bryevdv suggestion was based on the Scatter chart which is probably the chart we have with the most "custom" input structure (that's why it also accepts GroupBy objects). For

[2015-02-04 14:06] rothnic opened #1811 "Extend crossfilter plugins/chart builder concept for quick general-purpose dashboards"
This is something I noticed after reviewing #1735. I think there is a lot of similarities behind the idea of the chart builder (added by #1735) and the crossfilter plugin (added by #1774). They are just marshalling between the user and the plot. The crossfilter plugin is marshaling between the user, the ui, and the plot.

You could think of this more generically, that the builder knows the require

[2015-02-04 14:28] fpliger commented on #1811
@rothnic great feedback and interesting ideas so far! I'll take a better look at #1774 but I think your thoughts about providing marshalling are right. Also for what concerns the broader idea of the dashboard.

One thing that is not being shipped with #1735 but was discussed and is going to be shipped soon is a `charts` `composer` object that basically let's you use different builders that share t

[2015-02-04 15:50] iyneedham commented on #886
Thanks, @fpliger.

What @damianavila suggested would definitely be an improvement.  What would be even better, though, is something like this:

[code]

Again, this mirrors @bryevdv ‘s scatterplot suggestion.  Even though scatter plots are different from bar charts, what we find so appealing about this is that it uses x and y, which is how most people learn how to graph.

[2015-02-04 15:54] damianavila commented on #1811
I agree @rothnic, there are really great ideas... I would love to see "multiple high level charts **into a dashboard** that shares the same data source" and I think this would be a big hit: "provide a method for more quickly building interactive dashboards", and I add, "powered by charts", just for completeness :wink:.

[2015-02-04 16:05] fpliger opened #1813 "Document new Charts design"
New design is a big improvements and potentially a magnet for users contribution IF well documented enough so users know how the pattern works and how to create new charts.

[2015-02-04 17:01] bryevdv opened #1814 "Better variable names throughout Bokeh.charts"
ref: #1773

Remove all `duplet`, `quartet`, `sextet`, `nonet`, etc in favor of readable `namedtuple`s

[2015-02-04 17:01] bryevdv opened #1815 "Step chart should use Line, not Segment"
ref: #1773

[2015-02-04 17:02] bryevdv opened #1816 "Add bokeh-plot examples to chart docstrings"
ref: #1773

[2015-02-04 17:03] bryevdv opened #1817 "split chart builders into a sub-package"
ref: #1773

[2015-02-04 17:04] bryevdv opened #1818 "Improve/re-org charts tests"
ref: #1773

[2015-02-04 17:05] bryevdv opened #1819 "use properties for private models and builders in bokeh.charts"
ref : #1773

[2015-02-04 17:15] aschneiderman commented on #886
To give you a little more context, I sent the code from @fpliger to a friend who's done a lot of grassroots economic training for adults:
[code]
She wrote back:

Then I sent her code that looked like @iyneedham's:
[code]
She wrote back:

For folks like yourself who are skilled coders, I could definitely see how the difference between the code might seem small, but for a different audience it's pre

[2015-02-04 17:28] bryevdv commented on #1811
@rothnic first I just want to reiterate, your thoughts and inputs here are **incredibly valuable** and are very much appreciated. Moving towards better and easier ways for everyday users to stand up dashboards is probably one the most important goals for the next 3-6 months. I think right after 0.8 release in a few weeks will be a good time to hash out a plan to factor and consolidate in ways like

[2015-02-04 17:30] bryevdv commented on #1811
BTW if you are planning to keep contributing to Bokeh we should probably discuss adding you to @bokeh/dev (if you are interested in that).

[2015-02-04 17:34] bryevdv commented on #886
I'm definitely in favor of having this kind of interface for data frames.

[2015-02-04 17:41] rothnic commented on #1811
@fpliger yeah, I factored out the actual building the plot functionality of crossfilter into a plugin. I didn't spend a great deal of time on the design, expecting the charts changes might impact me. I think the implementation of the builder is great, so I'm going to take a look at how it might be applied. The composer is also a great concept for this kind of thing.

If we exposed the potential co

[2015-02-04 18:01] bryevdv commented on #1813
@fpliger I am going to make a quick stab at #1817 right after the current big charts PR is merged so that that organization can be reflected in the docs.

[2015-02-04 18:10] damianavila commented on #1814
oh... my lovely `*plet`, I will miss them :stuck_out_tongue_winking_eye:  (sorry, I could not avoid the comment, je je)

[2015-02-04 18:14] fpliger commented on #886
Thanks @iyneedham and @aschneiderman for providing more details. I totally agree with you about empowering people and lowering technical requirements to use Bokeh. That's actually something very important for us and why we are always asking users for feedback (and ourselves) about how to make things easier.

I DO see a lot value in the proposal. My request for more context was mainly because we ha

[2015-02-04 18:18] damianavila commented on #886
:+1: even if we have to modify the data-adpater to support this request, I think the benefit are gross compared with the cost associated (obviously, always without over-engineer things).

[2015-02-04 18:34] #897 closed

[2015-02-04 19:01] fpliger commented on #1813
Brilliant! Thank you!

[2015-02-04 19:04] fpliger commented on #1814
ejej This is a sad Issue for @damianavila

@bryevdv FYI I've corrected the reference, I think you meant #1773 and not #1173 .

[2015-02-04 20:07] jacksonloper opened #1821 "bokeh ipython magic imports plotting.hold, but plotting.hold is dead"
Line 19 of

https://raw.githubusercontent.com/bokeh/bokeh/master/extensions/bokeh_magic.py

says

    from bokeh.plotting import (output_notebook, show, hold, figure)

However, AFAIK as of 9802a98d8137501f2e4a64c992424a7f09a20a4f, bokeh.plotting.hold no longer exists (it's not just deprecated, it's actually gone.)

Am I missing something obvious?  Happy Wednesday!

[2015-02-04 20:17] damianavila commented on #1821
Wow... not missing something obvious... we have to update the magic... well, I have to say that most of the functionality is probably not needed any more because of the new status of the plotting API, but I will take a look and see what is reasonable to keep or add... thanks for the report!

[2015-02-04 20:20] #1809 closed

[2015-02-04 20:49] iyneedham commented on #886
@fpliger,

I'm a novice myself and am still learning the requisite terms & concepts. Would you mind giving some concrete examples of the issues you lay out in the questions?  I want to make sure you get the answers you need to think through this and make decisions.

[2015-02-05 05:54] pzwang commented on #1811
So, here's a concept: what about using Vega as the declarative expression for the Builder?  That would then enable us to use Lyra (https://github.com/uwdata/lyra) as a graphical builder, and we could focus on making BokehJS a server-side-data-aware runtime for Vega and Bokeh JSON.

[2015-02-05 18:10] damianavila commented on #1821
Thinking on this... I am toward deprecating the magic and these are my reasons:

* %bokeh --hold does not have any sense now
* %bokeh --figure neither because you need to make `p = figure()` to actually show it later

So we have `%bokeh --notebook` to actually prepend `output_notebook` to each cell and `--show` to append `show(p)` at the end of each cell... but now `p` has to make reference to a `

[2015-02-05 19:56] mattpap opened #1824 "BOKEH_PRETTY doesn't have an effect"
`pretty` option is still there in `Settings`, but the logic behind it was removed. This has to be restored.

[2015-02-05 20:05] #1286 closed

[2015-02-05 20:29] damianavila commented on #1824
oh... nice to know `pretty` was actually something...

[2015-02-05 21:53] tswicegood commented on #673
I'm definitely +1 on [browserify][].  That would remove a little bit of the boilerplate, but not all of it.  Making sure that Bokeh is npm installable, however, does mean that people can assemble their own version of bokeh.js and compile it themselves.  We would just need to keep a close eye on how modular the various pieces are.  So long as there aren't many (any) cross-module dependencies you ca

[2015-02-05 23:20] vitiral opened #1826 "Buttons not showing up in IPython notebooks when using bokeh-server"
I can't seem to get buttons to show up in the IPython notebook when I am using the bokeh-server

with the `bokeh-server` running I run the following code in a notebook
[code]

Is there a workaround I can use for now?

Note: I can't even show figures in a VBox: `show(VBox(f, f))` doesn't work. So it looks like it is a problem with all of the widgets (except for figures)

[2015-02-06 04:31] #1788 closed

[2015-02-06 04:32] damianavila commented on #1692
Closed by #1800

[2015-02-06 04:32] #1692 closed

[2015-02-06 04:45] damianavila commented on #1546
Closed by #1540

[2015-02-06 04:45] #1546 closed

[2015-02-06 05:09] damianavila commented on #1518
I have update the first post of thi thread, all the items are completed now except for the Binstar ones... for them I will open another issue with the specific needs. Closing here.

[2015-02-06 05:09] #1518 closed

[2015-02-06 05:14] damianavila opened #1827 "Binstar package building and noarch"
This issue is to collect ideas regarding the build of packages and testing on Binstar:

* [x] look for noarch on TravisCI instead of conda convert
* [ ] look for noarch on Binstar
* [ ] build dev release on Binstar
* [ ] build full release on Binstar
* [ ] test examples on binstar

If you have more things, please add them to the list.

[2015-02-06 05:23] damianavila commented on #1149
Since now the script run on the cloud, a lot of these improvements have less importance (probably some of them can be dismissed). In any case, there is still some of them which are needed. I will work on them after 0.8 release.

[2015-02-06 14:58] #1574 closed

[2015-02-06 14:58] bryevdv commented on #1464
This was completed in #1820

[2015-02-06 14:58] #1464 closed

[2015-02-06 15:01] bryevdv commented on #1528
This should be completed as of recent charts PRs. @bokeh/dev please re-open if I am mistaken

[2015-02-06 15:01] #1528 closed

[2015-02-06 15:47] cloudformdesign commented on #1826
I'm trying to write a tutorial on how to do interactive and streaming data. I would like it to be in IPython and I would like to integrate buttons and other widgets in the tutorial. This is pretty much putting a stop to it though!

[2015-02-06 16:19] bryevdv commented on #1826
Hi @cloudformdesign I can confirm this seems to be a problem. We are just coming up to a code freeze for 0.8, so most likely you can expect a fix in a dev build sometime after the 0.8 release. Definitely look forward to your tutorial. In the mean time, you might look at using IPython interactors instead of Bokeh widgets? It should be fairly trivial to have callbacks for native IPython widgets that

[2015-02-06 16:34] matdrapeau commented on #1730
Finally, the problem was I didn't set this env variable:
BOKEH_MINIFIED=no
the minifying process don't allow source maps to work either.

[2015-02-06 16:37] #1296 closed

[2015-02-06 16:39] bryevdv commented on #1730
The PR is still open?

[2015-02-06 16:40] bryevdv commented on #1730
If you don't have the bandwidth to work on it  more, I understand, but in any case we need to add this feature.

[2015-02-06 16:41] matdrapeau commented on #1730
oups... sorry, I hit the wrong button!
I am working on the PR now

[2015-02-06 16:41] cloudformdesign opened #1829 "[FEATURE] ColumnDataSource doesn't support various features"
I will lead with some example code. This adapts from the [crossfilter app](https://github.com/bokeh/bokeh/tree/master/examples/app/crossfilter)

There are two issues here. The first is that the Crossfilter app doesn't handle MultiIndex DataFrame objects very well (unless you convert the columns to strings). It also doesn't handle missing data AT ALL, refusing to even give an error -- the page is j

[2015-02-06 16:48] cloudformdesign commented on #1826
Thanks, it's good to know that there are currently no workarounds. I banged my head against a wall for a good long while until I realized it worked without the server, but didn't work with it!

I think IPython widgets would be fine for now, and I was considering using them except I want to use the IPython notebook to design and build the application I am doing for work. Before I dive into them tho

[2015-02-06 16:52] bryevdv commented on #1826
@cloudformdesign the API is actually even simpler, I think, to the extent that we will probably try to emulate it at some point to allow notebook code to be seamlessly transferred outside notebook contexts.  You can check out an example here:

https://github.com/bokeh/bokeh/blob/master/examples/plotting/notebook/interact_basic.ipynb

Note tho, you **won't** be using `push_notebook` you will instea

[2015-02-06 16:57] cloudformdesign commented on #1829
I'm willing to put some work into the crossfilter to get it to work with these use cases.

[2015-02-06 17:05] #1705 closed

[2015-02-06 17:07] #1584 closed

[2015-02-06 17:17] #1766 closed

[2015-02-06 17:32] #1060 closed

[2015-02-06 17:42] #1787 closed

[2015-02-06 17:45] #1817 closed

[2015-02-06 17:45] #1818 closed

[2015-02-06 17:45] #1819 closed

[2015-02-06 18:44] bryevdv commented on #1744
Unfortunately after some investigation, this is not gong to be so simple after all. It is not just the `z-index` which is already being set. It can be made to work by manually updating the `z-index` of the grid plot container, but dynamically modifying the `z-index` seems a bit wonky. Another option would be to attach the tooltip to the `<body>` and then absolutely position but that will also be f

[2015-02-06 18:48] damianavila commented on #1744
OK, thx for research in to this... I did not have time to look at it yet...

[2015-02-06 20:57] damianavila opened #1833 "make get_version consistent between pip-intalled and conda-intalled devel builds."
ref: https://github.com/bokeh/bokeh/pull/1831#issuecomment-73308855

[2015-02-06 20:58] #1148 closed

[2015-02-06 21:48] cloudformdesign commented on #1826
Sounds good, thanks for the help

I've got the first draft of the interractive notebook done, check it out here:

https://github.com/cloudformdesign/bokeh/blob/doc/interractive/examples/plotting/notebook/interractive_tutorial_1.ipynb

I encountered two BUGs and one ISSUE (which I labeled as such in the document)

Bugs:
- `f.add_tools(BoxSelectTool)` doesn't seem to work for some reason. Maybe I am

[2015-02-06 21:52] cloudformdesign commented on #1826
Also, do you know of a good way to get VBox and HBox in IPython notebooks? [This link](http://nbviewer.ipython.org/github/adrn/ipython/blob/2.x/examples/Interactive%20Widgets/Widget%20Alignment.ipynb) seems to suggest it is some complicated method like:

[code]

[2015-02-06 22:45] #1815 closed

[2015-02-07 01:24] damianavila commented on #1751
Added conda-build

[2015-02-07 02:08] bryevdv commented on #1826
ping @mattpap @damianavila

[2015-02-07 06:26] rothnic commented on #1811
Here is one example of a python-based approach for Shiny-like quick dashboards: [Spyre](https://github.com/adamhajari/spyre). He uses a configuration based approach, which is similar to what I used in the past, but can be difficult from the user's standpoint. I like the way that hasprops objects declare the types via class properties, which is similar to Django or other ORMs. This seems effective

[2015-02-07 08:45] fpliger commented on #886
@iyneedham sure. If we introduce x and y we need consider the types of inputs supported by charts now: [1d/2d] lists, arrays, dicts and DataFrames. Those have different indexing behaviours and thus you'd need to handle it. It's not impossible and DataAdapter is already kind of doing this.
Next consider what we'd like to support with the x/y idiom.
If we support just scalar values for x and y it me

[2015-02-07 08:53] fpliger commented on #1821
I think you are right in your consideration. I'd very much avoid implicit things that are not clearly an obvious advantage for [almost all] users.

[2015-02-07 14:51] matdrapeau commented on #1682
@hhuuggoo wondering if I can sneak in and maybe help you there? Do you have a PR somewhere I can take a look? I'm looking into a way to update data in realtime using websockets.

Thanks

[2015-02-08 04:13] tactevo commented on #1826
I'm having similar problems.  When calling output_notebook(url='default), I get NO figures at all when calling show.  I do see the data received by the server, but nothing appears in my iPython notebook.  I've confirmed this with several examples, including the animation.ipynb example in the repo.

My particular use case needs to update an ipython embedded bokeh plot with real-time streaming data.

[2015-02-08 05:21] cloudformdesign commented on #1826
@tactevo are you using python 2 or 3?  I am running python 3.4

[2015-02-08 05:58] tactevo commented on #1826
Python 2.7.9
IPython 3.0.0-dev
bokeh 0.7.1-430

[2015-02-08 17:54] rothnic commented on #1811
[Some initial work towards the described concept (pulled out of crossfilter)](https://github.com/rothnic/bokeh/commit/bba5805e4eddc8bcbc56d88e1c6fd022191de923) is inferring the column type from the column's data, so that we can provide a mechanism to easily communicate what kind of columns should be included in the input widget. This functionality would mostly be exercised on initialization of an

[2015-02-09 12:31] damianavila commented on #1826
@tactevo, I ca reproduce @cloudformdesign problem, but I also can run the animation example without any problem... can you provide more info about your IPython version and bokeh version (the version you pasted here does not exist)

In the IPython console...

[code]
and
[code]

Thanks!

[2015-02-09 15:00] tactevo commented on #1826
I'm using the latest master branch version of bokeh directly from the Github repo.  I only started using this version after experiencing the problem with the latest conda install of Bokeh (Which I believe is also 0.7.1).

My current installed versions of bokeh and iPython are:

{'full': '7bf913a6f371a98c63350b183d847da94451a670',
 'version': '0.7.1-430-g7bf913a'}

{'commit_hash': u'9603e51',
 'com

[2015-02-09 15:28] fpliger commented on #1811
Yes, indeed. That's something we have discussed recently. @bryevdv have already added some of this in the recent PRs merged to `charts`. There are many benefits about adding the HasProps dependency, both on the Chart and the Builder(s) layers.

You mean with the input pre-processing? If I got your question right I think (at least for now) this should live into the builder as its "internals" becaus

[2015-02-09 15:40] damianavila commented on #1826
OK, please try updating your IPython master... and verify the behaviour again. I said that because you IPython master is from 3 Jan, and in the last weeks there were some problems with the outputs (not showing the outputs well). I want to rule out that possibility... also, using somewhat latest master of IPython (pulled yesterday), I still can not replicate the no animation behaviour...

[2015-02-09 16:21] tactevo commented on #1826
Ok, I've updated iPython.  It's now:

{'commit_hash': u'28a0fc7',
 'commit_source': 'installation',
 'default_encoding': 'UTF-8',
 'ipython_path': '/root/miniconda/lib/python2.7/site-packages/IPython',
 'ipython_version': '3.0.0-dev',
 'os_name': 'posix',
 'platform': 'Linux-3.13.0-32-generic-x86_64-with-debian-jessie-sid',
 'sys_executable': '/root/miniconda/bin/python',
 'sys_platform': 'linux2'

[2015-02-09 16:26] bryevdv commented on #1712
This has basically been done. All the notebook examples have been put into a subdir, and I think that is sufficient for now.

[2015-02-09 16:26] #1712 closed

[2015-02-09 16:27] tactevo commented on #1826
also, if I change output_notebook(url='default') to just output_notebook() in the animated example, show(p) works fine.  If I add a ds.push_book() in the while loop, I can see the plot animate.  So, the display works fine as long as I'm not connecting to bokeh-server.

[2015-02-09 16:44] bryevdv commented on #1731
@mattpap I am going to be working in the docs alot this week, I will take care of this.

[2015-02-09 16:48] iyneedham commented on #886
@fpliger

We really appreciate all the thought you’ve given this.

In in the interest of 1. user friendliness and 2. avoiding over-engineering, we think  that simpler is better, at least for this round.   Based on our experience, most beginners are either using Excel or using tools that were designed with Excel users in mind. So they would only really need--or understand--DataFrames.

If you could

[2015-02-09 16:54] mattpap commented on #1731
OK, I didn't do any work in this issue.

[2015-02-09 17:15] fpliger opened #1841 "Add support for x, y args on charts"
Proposal is to add x, y arguments to charts in order to specify data series names when input is DataFrame (or mapping in general?) with the intention to make it easier for users to understand how use/build charts from mapped data series.

First examples to support:

[code]

and

[code]

This follows up discussions at #886

[2015-02-09 17:16] fpliger commented on #886
Thanks for the feedback @iyneedham . Added a related issue #1841

[2015-02-09 17:20] #626 closed

[2015-02-09 17:21] bryevdv commented on #626
Accidental push to master. Screenshot attached below (would have been in PR)

![screen shot 2015-02-09 at 11 18 41 am](https://cloud.githubusercontent.com/assets/1078448/6111346/c7f8b8f2-b04d-11e4-8525-892108b0d2f6.png)

[2015-02-09 17:33] chrislindnercivitas opened #1842 "HoverTool doesn't wrap text correctly for tips on the right side of a plot."
If there is a lot of text in a hovertool box, it will correctly wrap the text.  However, this only seems to work when the text is on the left side of the plot.  When it draws the tip from the right side, no wrapping occurs, and the text can go off of the screen.

![image](https://cloud.githubusercontent.com/assets/9452037/6111575/7ad72ee4-b04f-11e4-8178-a7d218a5b0ab.png)

[2015-02-09 18:17] #1730 closed

[2015-02-09 18:17] damianavila commented on #1730
Thanks for your work on this @matdrapeau

[2015-02-09 18:21] bryevdv opened #1843 "rename Range property to Interval"
plays nicer with existing `Range` model for auto doc purposes

[2015-02-09 18:41] bryevdv opened #1846 "add proper docs for properties.py"

[2015-02-09 18:52] timelyportfolio opened #1848 "tools not working on Gallery - Windows 7 + Chrome 40.0.2214.111 m"
On my Windows 7 machine with Chrome 40.0.2214.111 m, the tools are not working.  They work fine on Firefox and even IE.

![bokeh_tools](https://cloud.githubusercontent.com/assets/837910/6113085/3bece40c-b05a-11e4-902b-d2d7454aaa8b.gif)

Unfortunately, no errors in the console either.

[2015-02-09 18:53] matdrapeau commented on #1730
@bryevdv can we close that issue?

[2015-02-09 18:54] bryevdv commented on #1730
@matdrapeau which issue? this one is closed with the PR merge are you referring to a different one?

[2015-02-09 18:55] bryevdv opened #1849 "API versioning"
Tested, specified API levels for
- [ ] models and all their properties
- [ ] `bokeh.plotting` functions

[2015-02-09 18:56] matdrapeau opened #1850 "remove gaps on left and right sides of horizon chart"
There is some gap on each sides of the plot that should be filled

[2015-02-09 18:57] bryevdv commented on #1848
Just the resize and wheel zoom tool, or others as well?

[2015-02-09 19:03] bryevdv commented on #1476
I do think this would be a good place to use proper delegation, but I am going to move forward and implement this in a straightforward way that just checks for it and uses it when appropriate.

[2015-02-09 19:04] matdrapeau commented on #1850
[code]
Doesn't do much in horizon_builder.py, the gaps are still there on both sides of the plot

[2015-02-09 19:08] timelyportfolio commented on #1848
All tools except for pan/zoom do not work.  They did at some point in the past.  I discovered when I was testing the rbokeh implementation.  Tools do not work there in the RStudio Viewer (webkit based) either, but I considered this an edge case.

[2015-02-09 19:32] bryevdv commented on #1476
However, we should solve the problem of duplication of data for selection glyphs before duplicating yet again for hover glyphs. Moving out of 0.8 to `short-term`

[2015-02-09 21:03] damianavila commented on #1841
As I said in the previous issue :+1: for this...

[2015-02-09 22:23] #1846 closed

[2015-02-09 23:10] birdsarah opened #1851 "Centered bar chart"
Following discussion on #1836, was thinking of implementing a symmetric range. My proposed approach would be:
* subclass Range1d
* add two properties: `center` and `delta`
* use these to set the `start` and `end`, which will result in `end - start == 2 * delta`

Once this is implemented, some charts e.g. `Bar` may want to have it as an option. But thought I would isolate this first.

I'll wait for

[2015-02-09 23:18] birdsarah opened #1852 "Pyramid / back-to-back / symmetrical charts"
As mentioned in #1836, I'd love to see a flag on Bar to switch the vertical axis to be the categorical axis so we can make charts like

![20151101_inc011](https://cloud.githubusercontent.com/assets/1796208/6111189/e1a06a00-b03b-11e4-977a-bc8762883e7b.png)
(source: [http://www.economist.com/news/21631911-end-population-pyramid-world-reshaped](http://www.economist.com/news/21631911-end-population-py

[2015-02-10 00:52] plakdawa opened #1853 "Exception running an app in bokeh-server"
I am using bokeh updated to the latest version in anaconda:
bokeh                     0.7.1                np19py27_0

I created a dashboard app along the lines of the example in stock_app.py and sliders_applet.py.

The app generates a stack trace shown below. I cannot figure out the cause of the problem. If I take the class and output the html to a file the plots are generated properly (without t

[2015-02-10 02:01] bryevdv commented on #1853
ping @hhuuggoo

So, I think there may be a problem with the serialization of the `Datetime` property, which is ok, you shouldn't be required to use it. However, I was still not able to get the app to render even after playing with it for a bit. I've attached my diff below that gets past the immediate stack trace, but basically your layout is never getting added. I can maybe spend some time tomorro

[2015-02-10 02:04] pzwang commented on #1851
Thanks for opening the issue.

Is the symmetric range actually more of a Range2d that just happen to be collinear?  I'm not looking for a perfect taxonomic/ontological breakdown of graphing, but more on the practical point that a single position on this range will map to two different positions in screen space.  But maybe that doesn't violate any guarantees that a Range1d makes?

I might be misund

[2015-02-10 04:33] bryevdv commented on #1851
Here is how I would handle this. Plots can accept additional named ranges. So, I would handle this by having a `SplitRange` (or something) that coordinates two additional `Range1d` objects. Then individual glyphs can be configured to use either the "left" or "right" half of the `SplitRange`, which really just means being configured with the appropriate additional named range. Then, we need an axis

[2015-02-10 04:36] bryevdv commented on #1851
To add, I would not make this a subclass of `Range1d` which might mean some of the property instance types will have to be loosened up a bit.

[2015-02-10 07:55] pzwang commented on #1841
I haven't been following the discussion but I think I'm seeing the issues, and they touch on some of the discussions we had over a year ago about how to specify data pivoting / faceting etc.  Since this is such a user-facing area of the API, I would like to be very thoughtful about it try our hardest to "get it right" the first time, and not have to break everyone's code (especially beginners' scr

[2015-02-10 08:48] birdsarah commented on #1851
Hi @pzwang, I'm sorry, I mis-spoke slightly in my comment on #1836.

The "symmetric" range, that I'm proposing here, is not needed for the pyramid plots that I posted an image of. I really did mean a specialized case of the Range1d, and I've realized why symmetric is a bad name for it!

I was just thinking of being able to specify a Range  that runs from -10 to +10 as (center 0, delta 10).  I happ

[2015-02-10 09:06] birdsarah commented on #1852
So, I've caused some confusion :s

@bryevdv and @pzwang wrote some comments on #1851 about how to do a range (split / two-way / symmetric ) that would facilitate a pyramid plot.

It's interesting, because I wasn't imagining doing pyramid plots like that. To my mind, a pyramid plot is two bar charts back-to-back. And so I was just imagining using two seperate plots (which could happily share a y_ax

[2015-02-10 09:22] birdsarah commented on #1851
Following the above confusion that I caused, I think a better name for my intention would be Centered.

(and I have changed the title of this issue as a result)

I'm not particularly tied to implementing a range, we could also put it as a flag on the Bar Chart. I was speculating slightly that this might be something useful for other types of charts and so was trying to think a bit more generically

[2015-02-10 09:23] birdsarah commented on #1852
I've updated the issue title to try and make this a little clearer.

[2015-02-10 09:27] pzwang commented on #1851
Ha, OK - I completely misunderstood.  In cases like this when an API might have two different sets of inputs (start+end or center+width), I generally lean towards picking one or the other as the internal representation, and converting from/into the other form via a method or property.  In the case of the charting interface, we would need to do some basic error checking in the bar() function itself

[2015-02-10 09:58] pzwang commented on #1811
@rothnic Spyre looks like a neat little project, and I don't think I've seen it before.  The idea of a declarative data structure for expressing the possible datasets over which a visualization/dashboard can be built is squarely in the domain of what Vega is trying to solve.  My general feeling on that side of things is to be very cognizant of the goals of Vega (and Lyra), and interface with them

[2015-02-10 10:33] fpliger commented on #1841
Totally agree.

Yes, I really think that naming has a big role in the success of such addition. We also need to think if we want to support this only for DataFrames or also 2d mappings in general.

I've been thinking about this a lot during the big charts refactoring... IMO the options of different representations are many.. I think we should try to "implicitly" support the most obvious ones (like

[2015-02-10 13:45] mariusei commented on #1801
I was able to reproduce the error when reloading, giving the output below.

However, initially, the Flask server wouldn't output an error as templates/stock.html was missing.

2015-02-10 14:41:56,352:ERROR:tornado.access:500 POST /bokeh/bb/6239603f-ee54-4dc1-bfbd-2f5546b03f92/bulkupsert (127.0.0.1) 143.11ms

[2015-02-10 13:48] #1843 closed

[2015-02-10 14:24] damianavila commented on #586
But I think it is included... https://github.com/bokeh/bokeh/blob/master/.travis.yml#L54 or am I getting something wrong?

[2015-02-10 14:26] bryevdv commented on #1852
@birdsarah two back to back charts is absolutely another reasonable approach to this kind of chart. In fact it's one I had previously had in mind, but the suggestion of a split range also seemed useful, so I wanted to get my thoughts about it out while I had them. :) That said, I would wait just a little while for the back to back, in the near future we will have to ability to lay out multiple plo

[2015-02-10 14:27] bryevdv commented on #586
Yes, I think this can be closed.

[2015-02-10 14:27] #586 closed

[2015-02-10 14:28] damianavila commented on #351
I remember I wrote some cycle for Charts, it was a helper function, we can probably make it more general to close this issue... let me find it: https://github.com/bokeh/bokeh/blob/master/bokeh/charts/utils.py#L36-L57

@bryevdv, for the todo you put there,  I think you are thinking in the same... or you want to make something more elaborated?

[2015-02-10 14:29] damianavila commented on #1821
@bryevdv I would like your thoughts here... thanks!

[2015-02-10 14:29] bryevdv commented on #1851
Ah yes, I overthought it too. I do agree this kind of functionality can (should) just be layered on top of the existing `Range1d`. I do think the `SplitRange` concept might be useful in some contexts however.

[2015-02-10 14:30] bryevdv commented on #1851
A general description of the `SplitRange` is just the ability to have `twin axes` that don't stack on top, but instead render side by side.

[2015-02-10 14:31] damianavila commented on #563
The server failures are somewhat reported in TravisCI, do we want to elaborated more on that, or the current situation is enough? For me, I think it is enough (we have the js console failure and that is enough hint to start researching into the problem... thoughts?

[2015-02-10 14:33] bryevdv commented on #351
@damianavila no I just think is is generally useful and should go up in `bokeh.plotting_helpers` or maybe `bokeh.helpers.plotting` if we really want to collect all the different utils/helpers in one place.

[2015-02-10 14:35] bryevdv commented on #1821
I think the main point of bokeh magic was to help make a stateful API more manageable in the notebook and now that we are moving away from the stateful API we can deprecate/remove bokeh magic as well.

[2015-02-10 14:36] mattpap commented on #563
Server failures are available in `examples.log`, by design. However, if there is a problem during server start-up, you won't get any feedback, besides a timeout failure (very helpful). Something has to be done about this. Thought I'm not sure if this isn't a different issue.

[2015-02-10 14:36] bryevdv commented on #563
I personally think we should eventually separate the real server tests (which are really integration tests) out from simple unit tests, and that we should wait until then to do anything about better reporting.

[2015-02-10 14:44] bryevdv commented on #1841
I am available to talk about this today, but @fpliger is sick, so perhaps later this week.

[2015-02-10 14:51] damianavila commented on #653
This is somewhat addressed by #1854, at least the open url thing...

[2015-02-10 14:52] bryevdv commented on #653
Yes I think this can be closed as a dupe.

[2015-02-10 14:52] #653 closed

[2015-02-10 14:53] damianavila commented on #813
I think this is also covered by #1854, I am right @mattpap?

[2015-02-10 14:57] damianavila commented on #861
* [x] examples #1781
* [ ] top level

[2015-02-10 15:03] damianavila commented on #906
This is currently updated in the docs thanks to @bryevdv lately work, so let's close it.

[2015-02-10 15:03] #906 closed

[2015-02-10 15:05] damianavila commented on #946
This is also covered by @bryevdv work on docs... so closing it.

[2015-02-10 15:05] #946 closed

[2015-02-10 15:07] mattpap commented on #813
No, I don't improve date handling in that PR.

[2015-02-10 15:09] mattpap commented on #653
Technically #1795 is a duplicate of this one, but it doesn't really matter.

[2015-02-10 15:12] bryevdv commented on #653
Yes, I am not rigid about choosing issues to label as dupes. We don't always catch them soon enough, so my policy is to keep whichever one has gotten the real discussion.

[2015-02-10 15:15] damianavila commented on #1217
I think this was closed by #1777, if I am missing something else, please reopen it...

[2015-02-10 15:15] #1217 closed

[2015-02-10 15:18] damianavila commented on #1221
Since there is no update so far, I will close it, please @fonnesbeck reopen it if you see the behaviour again. Thanks!

[2015-02-10 15:18] #1221 closed

[2015-02-10 15:21] damianavila commented on #1257
`mpl.to_bokeh` returns a plot since #1634, so now it is possible to embed the plot. This can be closed now.

[2015-02-10 15:21] #1257 closed

[2015-02-10 15:25] damianavila commented on #1281
This can be closed because Scatter have the boxzoom tools from some time now... closing here.

[2015-02-10 15:25] #1281 closed

[2015-02-10 15:36] damianavila commented on #1483
Done, closing...

[2015-02-10 15:36] #1483 closed

[2015-02-10 15:43] damianavila commented on #1693
For reference, this is deeply related with #1363

[2015-02-10 15:48] damianavila commented on #583
In fact, the behaviour is the linked panning (the datasource object is shared)... probably we need to support NOT linked panning and probably add brushing too...

[2015-02-10 15:49] bryevdv commented on #1363
I think we can close this and continue any discussion in the linked task issue.

[2015-02-10 15:49] #1363 closed

[2015-02-10 16:03] damianavila commented on #351
OK, assigned to me...

Btw, I think this will also cover #632...

[2015-02-10 16:04] damianavila commented on #1821
OK, I will deprecate it, just making it functional on previous version of bokeh but not working in the new ones... Then, after the release we can remove it completely.

[2015-02-10 16:07] damianavila commented on #813
OK, thanks!

[2015-02-10 16:09] #1635 closed

[2015-02-10 16:54] aschneiderman commented on #1811
@bryevdv When you gear up after 0.8's release to work on dashboards, you might want to check out the new version of [Microsoft's dashboard/data visualization tool](http://www.microsoft.com/en-us/powerbi/default.aspx).  What it can do very quickly with Salesforce data, for example, is [pretty impressive](https://www.youtube.com/watch?v=GtKdE0ykU-Y&feature=player_embedded).

It might be a useful sou

[2015-02-10 17:12] pzwang commented on #1851
Yep.  And this is a common enough pattern that we should specialize for the two-axis use case...

[2015-02-10 17:23] birdsarah opened #1856 "HorizontalBar"
Following on from #1780, #1836, #1851, #1852

How do people feel about a HorizontalBar variation of Bar, where the categorical axis runs on the y (and the bars run Horizontally)?

One small naming concern is a potential confusion between:
- Bar Graph aka Horizontal Bar Graph (we currently don't have a chart for)
- Column Graph aka Vertical Bar Graph (currently `Bar`)

I'm not sure what people use

[2015-02-10 17:24] birdsarah commented on #1852
@bryevdv, thoughts are always great - I have a lot to learn.

Holding off on the BackToBack sounds good.

I've opened a new discussion about HorizontalBar charts (#1856), as I think it's easy and something I'd like to see.

(I hope I'm not causing you issue spam, just trying to keep conversations small, as my brain works better that way)

[2015-02-10 17:39] birdsarah commented on #1852
From @bryevdv

From @pzwang

[2015-02-10 17:44] birdsarah commented on #1852
@pzwang - do you think these layout suggestions, including holding off while the new layout stuff comes through, will meet your needs or are you still interested in a specialized axis / range.

[2015-02-10 17:56] bryevdv commented on #1856
@birdsarah First, thank you very much for starting all these vigorous discussions!

Personally, my own preference would be for `Bar(orientation="horizontal")` and `Bar(orientation="vertical")`, with `HBar` and `VBar` functions that are shortcuts for these.

[2015-02-10 18:10] iyneedham commented on #1841
I hope you all don’t mind me chiming in, as I put in the original request.

@pzwang, your suggestion in 1. about using different keyword arguments with x and y makes perfect sense.

Re: 2., it might also be worth considering faceting by both axes the way matplotlib and ggplot2 (in R) do:

http://nbviewer.ipython.org/github/ChrisBeaumont/mplfacet/blob/master/guide.ipynb
http://www.cookbook-r.com/Gr

[2015-02-10 18:19] matdrapeau commented on #1850
Well, this has nothing to do about border sizes. This seems to be about the x axis range which is larger than the actual data range leaving a space on both sides. Since I see the same behavior in the timeseries graph.

@bryevdv how can I fix the x-axis to be as large as the dataset and not larger?

[2015-02-10 18:34] matdrapeau commented on #1850
It seems the way to handle this is to set the axis bounds to start and end values.

Doing something like:
[code]
Is generating this error:
[code]

Maybe this is another new issue since we should be able to provide timestamp when working with DateTimeAxis

[2015-02-10 19:39] rothnic commented on #1811
@pzwang thanks for the references. Yeah, I'd like to reuse other's work as much as possible.

The impression I got from Vega was that it is more in line with part of what bokeh is doing, serializing chart objects, than tackling the dashboard problem. It does have a basic [data](https://github.com/trifacta/vega/wiki/Data) and a pretty extensive [data transform](https://github.com/trifacta/vega/wiki

[2015-02-10 19:39] rothnic commented on #1811
@aschneiderman thanks, never heard of that. It does seem to follow a similar approach as Tableau, which is a big inspiration source for me. Microsoft does have an interesting summary view that you can drill down into a more detailed version of.

One of the things that both have is a "get data" function. This is a general dashboard component that I'd like to work on at some point if I can get more

[2015-02-10 19:55] birdsarah commented on #1856
I like that.

PR #1836 adds the parameter y_range, where a user can specify a custom `y_range`. That makes the interface:

    Bar(values, cat=['A', 'B'], stacked=False, y_range=Range1d())

With `horizontal` & `vertical` in play, it seems that it would be more appropriate to use `linear_range`, so interface be:

    Bar(value, cat=['A', 'B'], stacked=False, orientation="vertical", linear_range=Ran

[2015-02-10 20:16] bryevdv commented on #1856
agree a non-dimension specific name is advised given these ideas. Perhaps `continuous_range`?

[2015-02-11 00:02] bryevdv opened #1860 "Split up dev guide into multiple files"
The developer's guide has become unweildy.

[2015-02-11 00:08] #822 closed

[2015-02-11 03:23] bryevdv commented on #1738
fixed in accidental push to master

[2015-02-11 05:01] timelyportfolio commented on #1848
Just wanted to update.  I went back to commit 34f85b32ca03c4b02a4b7385c32065e1b1173b51 and still have the issue.

[2015-02-11 05:16] bryevdv commented on #1848
FYI @pzwang reported problems on OS X with version 40. However everything is working for me with Version 42.0.2298.0 dev (64-bit) (on OS X). Would it be possible to see if the problem persists with a newer Chrome?

[2015-02-11 05:20] birdsarah opened #1863 "Docs - images overlapping at certain viewports"
http://bokeh.pydata.org/en/latest/docs/user_guide/charts.html

![bokeh-docs-chart-responsive](https://cloud.githubusercontent.com/assets/1796208/6142352/a91d0f4c-b169-11e4-9451-9999f026bec5.png)

Happens to me between ~ 1000-1200px & ~600-845px wide
(Firefox on Ubuntu.)

(I'm pretty sure a clearfix on .section would sort most of the problem)

[2015-02-11 05:23] bryevdv commented on #1863
LOL (thanks @birdsarah)

[2015-02-11 05:24] bryevdv commented on #1863
FYI that entire section is about to be re-written and all those images will be live plots with code. Might still need the CSS fix, though.

[2015-02-11 07:33] birdsarah commented on #1856
I have a background question before I go ahead with this one.

When looking at https://github.com/bokeh/bokeh/blob/master/bokeh/charts/builder/bar_builder.py#L38
[code]

I'm confused by the xscale and yscale being in the method signature for Bar, as if a user tries to override them the chart won't render (because they need an appropriate range to match). (At least that's my understanding).

My ini

[2015-02-11 10:23] fpliger commented on #351
I think the later is better in the long term..

[2015-02-11 10:59] fpliger commented on #1863
OMG, this is terrible :-/

[2015-02-11 11:28] damianavila commented on #1811
@rothnic, regarding Blaze, I don't know if you are aware that yesterday we merged #1713 (see #1635 too) :wink:

[2015-02-11 11:37] damianavila commented on #1738
So, let's close it... and :beers: for everyone :stuck_out_tongue_winking_eye:

[2015-02-11 11:37] #1738 closed

[2015-02-11 12:03] damianavila commented on #1852
We :heart:  this sort of issues spam :wink: Thanks for letting know your though and don't hesitate to open issues for discussions (if there some overlapping, eventually we can develop the discussion in one and close the others if it is really needed, but focused discussion it specific points is a good pattern :wink:).

[2015-02-11 12:06] damianavila commented on #1850
@matdrapeau you probably hit this one: #1734

[2015-02-11 12:13] damianavila commented on #1856
Adding @fpliger to the discussion who will be interested too...

[2015-02-11 12:16] damianavila commented on #1799
Since #1855 was merged, I will close this one, but @hhuuggoo if you feel there is still need to be open.

[2015-02-11 12:16] #1799 closed

[2015-02-11 12:21] fpliger commented on #1856
Ah, apparently I didn't hit "comment" before... here's my reply. :-)

@birdsarah there is certainly an issue with that. It's there mainly because of historical reason. Now that you made me think about it we could have removed those arguments for charts that only support very specific scales when implementing the builders design. I'd be inclined to remove those for 0.8.1 @damianavila @bryevdv what

[2015-02-11 12:26] damianavila commented on #1856
:+1: for removal for 0.8.1, as you said they are mainly for historical reasons :raised_hand: and can be removed now, I think...

[2015-02-11 12:31] damianavila commented on #850
Doc reference is done. We still need to update examples in the tutorial (and maybe more generally) to use labels (plots w/o labels is not a good practice to have).

[2015-02-11 12:34] damianavila commented on #1170
This is no true any more: http://bokeh.pydata.org/en/latest/docs/user_guide/server.html?highlight=bokeh%20server

So, closing...

[2015-02-11 12:34] #1170 closed

[2015-02-11 12:55] damianavila commented on #351
yes, I will go with the second option to have `helpers.plotting`, `helpers.mpl`, `helpers.charts`, etc...

[2015-02-11 14:14] fpliger commented on #351
In that chase we should have a `generic` helpers bin where we collect helpers reused across all the API (like the case of `cycle_colors`, `cycle_palette`, etc..)

[2015-02-11 14:46] damianavila commented on #351
yep... I agree...

[2015-02-11 15:39] #1860 closed

[2015-02-11 15:44] bryevdv commented on #351
Maybe:
[code]

[2015-02-11 15:54] almarklein commented on #1786
Working on it now.

I made a superclass ``BaseBox`` that `VBox` and `HBox` inherit from, so that the code for the children property and the `__init__` does not have to be duplicated. Is this ok? Not sure what the effect this has on the client-side or doc generation.

Also, I assume there are plans for other layouts that work in different ways, which is why children and the `__init__` were not defi

[2015-02-11 15:59] bryevdv commented on #1786
I'm not aware of any specific plans, but that seems reasonable. :) Off the cuff, a `Grid` layout would probably be useful. `BaseBox` is fine, it should just be documented like all the other models and it will automatically show up in the Sphinx reference guide. It has no effect on the client side, what matters is the actual type (and view mode type, really) at serialization time. Serialize a `VBox

[2015-02-11 15:59] damianavila commented on #351
yep... sound good...

[2015-02-11 16:06] timelyportfolio commented on #1848
does not work (same issue) with Version 41.0.2272.43 beta-m (64-bit) and Bokeh 0.7.1

Since no console error, I can't determine what is happening.  Buttons seem to accept click but behavior is not changed.  Stays on pan.

Shift+scroll does not work either.

[2015-02-11 16:11] bryevdv commented on #1848
@timelyportfolio right, no more need for `shift+scroll` the wheel zoom and pan can coexist and be active together now without interference. I'll have to fire up a VM to look at this, will probably be this afternoon sometime.

[2015-02-11 16:31] matdrapeau commented on #1850
@damianavila just tried by updating the ```bounds``` property without success. The gap is still there

[2015-02-11 18:43] rothnic commented on #1811
@damianavila thanks, saw it was in the works, but didn't know it recently was merged in.

[2015-02-11 20:13] #1786 closed

[2015-02-11 21:01] #1739 closed

[2015-02-11 21:22] matdrapeau commented on #1850
I've found it.... ```DataRange1d.rangepadding = 0```

[2015-02-11 21:28] birdsarah commented on #850
I was also struggling to change font of axes through charts interface, documenting that would be great.

[2015-02-11 21:34] bryevdv commented on #1850
OH, *that* space/padding... sorry so much going on I misinterpreted what you were after.

[2015-02-11 22:32] damianavila commented on #1850
yep, I misinterpreted you too... great you have find it...

[2015-02-11 22:52] #1682 closed

[2015-02-11 23:07] bryevdv commented on #1503
Actually, just going to go the opposite direction, and remove it until (if) it ever ever proves to be needed.

[2015-02-11 23:32] #1734 closed

[2015-02-11 23:32] #1850 closed

[2015-02-11 23:48] #987 closed

[2015-02-12 00:20] #1503 closed

[2015-02-12 00:28] birdsarah opened #1873 "Palette argument for charts not well documented"
(very small, plan to submit a PR, just running low on time today).

Palette is available as an argument to all charts, this isn't well highlighted on http://bokeh.pydata.org/en/latest/docs/user_guide/charts.html

[2015-02-12 01:20] bryevdv commented on #1213
Hi @tdennist  and @rageTrue, after a little digging, I have discovered that the main culprit is that the default range padding on `DataRange1d` leaves the start of the range interval negative. The zoom and mapping code seems otherwise correct when non-negative values are present (even small ones). You can work around this problem as in the following script:
[code]
I'm not sure how to handle this i

[2015-02-12 01:20] #1213 closed

[2015-02-12 01:21] bryevdv commented on #1517
See also #1213 for considerations about log axes

[2015-02-12 04:25] tdennist commented on #749
The constrained box zoom would be really awesome, especially for timeseries data.  Could a dimension argument work like the box select?

[2015-02-12 12:24] fpliger opened #1876 "BoxPlot Chart does not work with iterables of lists"
The following does not work:

[code]

[2015-02-12 13:47] #1780 closed

[2015-02-12 14:47] bryevdv commented on #749
Hrm, this has existed for a long time. You need to set the `dimensions` attribute on the `BoxZoomTool`. Here is some sample code:
[code]
And here is a reference:

http://bokeh.pydata.org/en/dev/docs/reference/models.html#bokeh.models.tools.BoxZoomTool

[2015-02-12 14:47] #749 closed

[2015-02-12 15:17] #766 closed

[2015-02-12 15:35] mattpap commented on #1000
I started working on this thinking it should be quick and easy, but a lot of code depend on `dimension` being an integer, so there will be actually a lot of changes. Postponing after 0.8.

[2015-02-12 15:36] mattpap commented on #1647
I didn't yet got back to this work, so most likely this will be finished after 0.8.

[2015-02-12 17:47] bryevdv commented on #1876
If this is a simple fix it should probably go in 0.8

[2015-02-12 18:47] bryevdv commented on #1795
@hafen FYI this is in a PR that will be merged later today

[2015-02-12 21:57] mattpap opened #1879 "Improve numeral.js (scientific notation, time, etc.)"
- [ ] rewrite numeral in coffeescript (turn into a bokehjs module)
- [ ] cleanup the implementation (currently `0.0+` is a positive number)
- [ ] add support for scientific notation (`0.0E+000`, unicode superscript, etc.)
- [ ] better time formatting (e.g. no seconds, with milliseconds)
- [ ] date formatting
- [x] ~~~Excel compatibility~~~ (?)

[2015-02-12 21:59] mattpap opened #1880 "Expose Tooltip to bokeh.models and allow configurable styling"

[2015-02-12 23:49] #1824 closed

[2015-02-12 23:51] #1821 closed

[2015-02-12 23:51] #1795 closed

[2015-02-12 23:52] #1749 closed

[2015-02-12 23:52] #1723 closed

[2015-02-12 23:52] #1478 closed

[2015-02-12 23:52] #1091 closed

[2015-02-12 23:52] #842 closed

[2015-02-13 00:29] jfmackay opened #1882 "Rendering issue in chrome"
Seems to be a layout problem in chrome + iPython. I draw a simple line chart with Bokeh but it seems to float over the rest of the iPython notebook. This does not occur in Safari. Bokeh 0.7.1, iPython 2.4.1, Chrome 40.0.2214.111.

![screen shot 2015-02-12 at 4 17 08 pm](https://cloud.githubusercontent.com/assets/5185958/6179908/e4c5894c-b2d2-11e4-958e-128fbcd03068.png)

[2015-02-13 09:15] birdsarah commented on #1723
Hi @mattpap, I think this is where you wanted me to post about a remaining issue with this.

Using `Bokeh.Collections("Plot").at(3).set("plot_width", 106)`

The issue as I'm currently seeing it. On FF and Chrome. You can resize the image down to:
![wont go smaller](https://cloud.githubusercontent.com/assets/1796208/6184819/7290203c-b31b-11e4-9bc0-c0b9045aabcc.png)

But an attempt to go one point s

[2015-02-13 09:54] drorata commented on #372
If I may upvote for ``parallel-coordinates``. It has a limited implementation in ``matplotlib`, but without interactive components (like `brushing`) it is virtually useless for data studying. There is a nice [D3](https://syntagmatic.github.io/parallel-coordinates/) implementation and it would be very nice to have it in bokeh.

[2015-02-13 12:42] fpliger opened #1883 "Donut chart resize/zooming issues"
Donut chart present the following issues with zooming:
- text labels to no scale with geometry when using wheel zoom. The more zoom the more text gets bigger compared to the initial layout
- using wheel zoom with mouse on one of the axes maintain the ratio geometry (i'd expect it didn't and geometry follows the only axes being zoomed) but not for text labels (which behave as I'd expect). See examp

[2015-02-13 15:23] bryevdv commented on #1723
So, BokehJS uses the Kiwi constraint solver to lay out positions for things on the HTML canvas. What this is saying is that making it smaller would violate some hard constraint. Probably related to `min_border` if I had to guess. As an experiment, you can reduce `min_border` and see if it lets you size even smaller. I'm not sure the constraint should be loosened, however. It is intended to be the

[2015-02-13 16:32] bryevdv commented on #1883
This all goes back to the same old issue:

https://github.com/bokeh/bokeh/issues/517

Plotting anything that relies on radial symmetry (like circles or wedges) "as-is" in a non 1-1 aspect is basically just broken at a fundamental, mathematical level. I don't see many options beyond:

* some heuristics to turn off certain tools for certain glyphs, at least by default
* letting the actual displayed

[2015-02-13 19:50] #1816 closed

[2015-02-13 19:51] bryevdv commented on #1441
OK, giving up the pretense. #1 priority after 0.8...

[2015-02-13 19:52] #1876 closed

[2015-02-13 20:16] birdsarah commented on #1723
Agreed, I think this is only about handling the exception gracefully. Same with handling the decimal and negative numbers - which you could easily get if you were mis-calculating a value to resize to.

[2015-02-13 21:15] #1746 closed

[2015-02-13 21:33] mattpap opened #1885 "Axis.hide should have been called Axis.visible"
Obviously with reversed logic as well. Reasons: we already have `Glyph.visible` (no need to invent new names) and our properties are nouns or adjectives (at minimum, this property should have been called `hidden`). This should be resolved for 0.8 (it's a new property).

[2015-02-13 21:36] bryevdv commented on #1885
@mattpap sure that seems reasonable, can you knock this out right quick?

[2015-02-13 21:36] mattpap commented on #1885
Sure.

[2015-02-14 00:47] #1885 closed

[2015-02-14 11:31] aschneiderman commented on #1811
@rothnic that would be really nice.

If you end up building it, you might want to consider setting it up so that you have the option of either charting the data as is or doing a simple aggregation of it, essentially creating a pivot chart. If you're already using blaze that should be pretty straightforward, and it would great expand the component's power without adding much complexity for the user

[2015-02-14 12:49] pzwang commented on #1811
@rothnic I absolutely agree that it's much better to take the Grammar of Graphics approach of describing "what" one wants to see rather than "how" one wants to see it.  Some of the research work from Chris Stolte & Pat Hanrahan before and during the early years of Tableau provide some conceptual groundwork here: look for their papers on Polaris and VizQL.  These things formed some of the foundatio

[2015-02-14 12:52] damianavila opened #1890 "Our build have now more than 13 mb because recently added hdf5 data"
The cause is the recent added test files in https://github.com/bokeh/bokeh/tree/master/bokeh/server/tests/data

This add 10 MB to our builds which represent 75% of the build (w/o this data it has arounf 3MB).

So, is there any possibility to get this data from somewhere else, maybe at installation time?

Or other workaround? It would be nice to solve this issue before the release, but I suppose we

[2015-02-14 17:07] mattpap commented on #1890
@damianavila, by builds you mean generated pip/conda packages? If so, why do those packages contain tests at all?

[2015-02-14 17:47] damianavila commented on #1890
Yep...

I guess they are not only for tests, trying to clear them gives you an error starting the server...

[code]

They seem to be related with a default config of the blaze blueprint, but probably @hhuuggoo can gives us more details...

[2015-02-14 18:04] bryevdv commented on #1890
So that anyone that cares to can run the tests easily and to make testing built packages easier. Lots of projects ship their unit tests it is fairly common.

[2015-02-14 18:09] damianavila commented on #1890
I don't have problem to ship the tests... just we need to figure out how to deal with this... because it is needed for the server to start...

[2015-02-14 18:50] fpliger commented on #1890
what about no shipping test data and add hooks to lazily download it the first time it's needed (on tests and server)?

It may not be a good idea if this data is needed in serveral other places....

[2015-02-14 20:51] hhuuggoo commented on #1890
why is 13mb a big deal? is that size a barrier to people?  The default configuration for the blaze part of the bokeh server is a dummy configuration that makes all our examples and tests work.  The reason why the bokeh server isn't breaking for most people is that most people don't have all the blaze dependencies installed - therefore the blaze config isn't loaded.  I'm not sure what we want to do

[2015-02-14 21:15] almarklein commented on #1890
I have good experience with that with other packages. It's also an
approach that scales nicely as you add more data.

Personally I prefer to keep *any* data out of a main code repository
except if its small and very much static. An auto-download approach
allows you to put the data in its own repository.

- Almar

[2015-02-14 22:30] bryevdv commented on #1890
We already have machinery for `bokeh.sampledata.download()` I am sure it can be improved, but it is there and available to be used. I don't see why we can't have very pointed and specific warning messages around anything that tries to use the data, that give explicit instructions for downloading the data.

[2015-02-14 22:36] hhuuggoo commented on #1890
I assume travis already downloads sample data?, do we have an s3 bucket we can chuck the files into, and then we just make the assumption that you need sample data before all the tests willl pass?

[2015-02-14 22:40] bryevdv commented on #1890
All these testes that actually run the server, those are integration tests. We should separate those, completely, from out unit tests anyway. I don't especially care if the integration tests are a little harder to run.

[2015-02-14 22:40] bryevdv commented on #1890
But to answer the question, yes there is an s3 bucket for `bokeh.sampledata` @mattpap probably has the information for accessing it most at hand.

[2015-02-15 18:24] kaluza opened #1891 "Running stream_sys_stats_to_file.sh is failing with a charts attribute error"
== Remote URL: origin	https://github.com/ContinuumIO/bokeh (fetch)
origin	https://github.com/ContinuumIO/bokeh (push)
== Most Recent Commit
commit 12973024ce3adf742b3470001f834393e2ec2b69
Merge: 81147f9 898437f
Author: Damián Avila <damianavila82@yahoo.com.ar>
Date:   Sat Feb 14 08:42:49 2015 -0300

Attempting to run sh stream_sys_stats_to_file.sh is failing with an attribute error caused by attem

[2015-02-15 20:29] bryevdv commented on #1688
Leaving galleries re-work for later

[2015-02-15 20:29] #1688 closed

[2015-02-15 20:30] bryevdv opened #1892 "Docs build improvements"
* [ ] improve  sphinx `plot` extension directive
* [ ] galleries re-org / re-write (#1689)
* [x] ~~~split docs into separate repository?~~~ (#1410)
* [x] ~~~standalone tutorial build~~~ (#1691)

[2015-02-15 20:41] rothnic commented on #1811
@fpliger one of the things more specific to the difference in the builder and the crossfilter plugins is that it looks like you want any grouping performed ahead of time with the builder. It looks like it isn't required to to be that way, but it has been the approach.

For example, if you take the autompg data, you could look at it as a DataFrame, or a Dict of lists of values, where the columns ar

[2015-02-15 21:13] bryevdv commented on #1891
Hi Brian,

We have not actually announced the Bokeh CLI tool. What CLI code that is in the repository currently should be considered pre-alpha at best right now. We are planning on announcing the CLI tool officially when it is ready for general use. We have also unfortunately had to remove GMap from bokeh.charts temporarily. I expect it will be restored for Bokeh 0.8.1. However, the reason for thi

[2015-02-15 22:23] bryevdv commented on #1515
@alexbw Only now able to get started, you can follow the WIP PR above to add comments. I may be able to have something *very* simple for the 0.8 release this week, with improvements to follow on. Feedback very welcome.

[2015-02-15 23:53] mrocklin opened #1894 "Support __array__ and __list__ protocols"
Inputs to bokeh graphing functions seem to be able to take one of the following forms

[code]

I wonder if we could extend this to include anything that supports the `__array__` or `__iter__` protocols.   In my own experiments I wrote this function

[code]

and inserted it into `bokeh/charts/_builder.py:_adapt_values`.  This allowed me to use Blaze expressions directly in Bokeh plots which felt pr

[2015-02-16 00:02] mrocklin opened #1895 "Should _repr_html_ trigger show()?"
The `_repr_html_` method gets called in IPython notebooks whenever an object is evaluated on the last line of a cell.  Would it make sense to have this call the `.show()` method?

As a new user trying to use Bokeh in the notebook I generally found myself caught up by the necessity of the following steps

1.  Find where in the namespace to import the appropriate functions
2.  Find the `use_notebook

[2015-02-16 01:03] bryevdv commented on #1894
That is really cool! we should enable this right after 0.8 release I think. Regarding a single type, we are doing out best not to have a hard dependency on Pandas, but also not to require unnecessary copying. Our `DataAdapter` class is a (not complete) stab at a very thin wrapper that presents a "pandas-like" interface, regardless of that the actual data is.

[2015-02-16 01:08] bryevdv commented on #1895
`_repr_html` should be enabled when it will work with everything, right now it is broken with widgets (probably some css conflict).

Bokeh has several different APIs, so I don't think a single `.api` will do. This is really what `bokeh.models` (incredibly stable) `bokeh.plotting` (should be fairly stable now) and `bokeh.charts` (headed rapidly towards stability) are all about. I think in about mon

[2015-02-16 01:47] damianavila commented on #1894
:+1:

[2015-02-16 02:49] damianavila commented on #1895
I agree on the `_repr_html_` when it is working for everything. There are other options involving post_cell "hooks" but I would go with the first one...

Technically you **can not** know if you are in the notebook!
But we could enable the `show` in the `_repr_html_` by default because the client will render the best representation available: in the browser it would be the the html representation (

[2015-02-16 02:51] mrocklin commented on #1895
OK.  Thanks for the explanations!  Closing.

[2015-02-16 02:51] #1895 closed

[2015-02-16 09:11] fpliger commented on #1811
@rothnic we seem to be on the same wave of thoughts frequently :-)

This weekend I've started collecting ideas about the status of the Charts, this discussion, #1841 discussions, recent discussions I had with @bryevdv while working on the builders. I think that the recent big change on charts is a huge step towards the right direction but as you've mentioned there are still several tweaks and impr

[2015-02-16 11:51] rothnic commented on #1811
@fpliger the thing that makes this challenging is supporting multiple data formats. While ggplot has a strange interface, the thing that simplifies their charting interface for quick plotting is by choosing one data input format. I think here, we'd like to not marry ourselves to the python equivalent, pandas DataFrame, but still support it. This eventually led me down the path of looking at blaze,

[2015-02-16 16:13] fpliger opened #1901 "Charts xlabel and yabel defaults"
With introduction of ChartOptions xlabel and ylabel now defaults to 'x_label' and 'y_label'. Thus users need to explicitly pass xlabel='' or ylabel='' for not show anything. IIRC blank was the default in previous versions and I think it makes sense...

[2015-02-16 16:19] bryevdv commented on #1901
@Maggie-M is about to push a PR to fix this.

[2015-02-16 16:22] pzwang commented on #1883
Is it really just a tooling issue?  What happens if someone programmatically adds a glyph to a plot that is already anisometric?

I do agree that we need to figure out a way to express this incompatibility - because it is an incompatibility, and realistically no one is ever really going to want these kinds of weird stretchy/distored donut diagrams.  Instead, they want tools for selecting angular c

[2015-02-16 16:59] fpliger commented on #1901
Great!

You mean changing to 'xlabel' as default?

[2015-02-16 17:22] pzwang commented on #1811
@aschneiderman PowerBI, PowerMap, and PowerPivot are very powerful and nice tools.  A year ago I was teaching some classes to researchers on how to use Azure and I demoed these things, and was surprised how few people even knew of their existence.

You're right that PowerBI is Microsoft's "Tableau-killer", but it is very Azure-centric (which makes total sense, since Azure is Microsoft's new platfo

[2015-02-16 17:59] pzwang commented on #1811
@rothnic I'm glad you ended up looking at Blaze when considering the "multiple formats" problem.  This is one of the original motivations for it.  I wanted to go beyond merely the dataframe that gpplot uses, and the simple "list of tuples"+custom javascript that d3 uses.  Instead, the hope was to have a more flexible structured data decriptor that could serve the purposes of distributed and out-of

[2015-02-16 18:02] #380 closed

[2015-02-16 18:30] hhuuggoo commented on #1890
@bryevdv these tests don't run the server they use the test client

[2015-02-16 19:16] #1515 closed

[2015-02-16 19:17] hafen commented on #1795
Thanks!  I'm looking here: http://bokeh.pydata.org/en/dev/docs/reference/models.html#bokeh-models-tools and I see there is an "action" property for TapTool, but I can't find a reference on how to use it.  Is there an example somewhere?

[2015-02-16 19:21] bryevdv commented on #1795
The only canned action yet  is the one that opens URLs. Here is an example in python:

https://github.com/bokeh/bokeh/blob/master/examples/glyphs/colors.py#L178

[2015-02-16 20:13] bryevdv commented on #1813
For this issue, for 0.8 release, will suffice to have reference docs. Additional improvements in follow-on issues.

[2015-02-16 20:13] #1813 closed

[2015-02-17 15:18] #899 closed

[2015-02-17 15:22] Qwlouse opened #1911 "ZMQError: Connection refused on starting the server"
When starting the bokeh-server I get the following stacktrace

[code]
I run Bokeh 0.7.1 on python 2.7.6:

[code]
The server still starts and shows my plots, but it does not seem to update animated plots.
Any ideas on how to fix that?

[2015-02-17 15:28] bryevdv commented on #1911
Well, we are releasing Bokeh 0.8 later today, my first suggestion is to re-try using that, and if there are still problems we can proceed from there.

[2015-02-17 15:58] bryevdv commented on #1731
OK, section added to dev guide. More updates later, closing this one.

[2015-02-17 15:58] #1731 closed

[2015-02-17 16:00] mattpap commented on #1911
If ZMQ doesn't start properly then there will be no websocket support in `bokeh.server` and thus no updates, no animation, etc.

The traceback you show is unexpected, because we use `inproc` protocol and this shouldn't happen (especially that you use a standard linux distribution). What version of zeromq/pyzmq do you have installed on your system?

[2015-02-17 16:10] Qwlouse commented on #1911
[code]
and
[code]
Im running it from a virtualenv, but that should not matter I guess.

[2015-02-17 16:14] icokk opened #1912 "Colons in category names"
When passed from python to js, categorical data in bokeh is encoded as a list of strings of format "category:value". Because of this, category names cannot contain colons, which is very annoying when you try to use e.g. times as category labels. It would be much better to use a list of tuples ["category", value] instead of custom encoding.

[2015-02-17 16:20] Qwlouse commented on #1911
Updating to version 0.8.0 did not change the problem:
[code]

[2015-02-17 16:24] damianavila opened #1913 "try to make y.y.yrc, not y.y.y.rc in dev build to avoid being listed above y.y.y release"

[2015-02-17 16:24] bryevdv commented on #1912
This is a dupe of #516 I almost got to it for 0.8 release today, expect to see a fix for this soon in an upcoming dev build.

[2015-02-17 16:24] #1912 closed

[2015-02-17 16:58] mattpap commented on #1911
On my system:
[code]
Although we don't specify this explicitly in our build, I think you have to have at least zmq 3.x installed on your system.

[2015-02-17 18:35] Qwlouse commented on #1911
Confirmed. I just updated to `zmq 4.0.5` and it works. Thanks.

It is a bit annoying that `libzmq-dev` shipped with ubuntu is still `2.2.0`.

[2015-02-17 18:35] #1911 closed

[2015-02-17 19:36] mattpap commented on #1911
@Qwlouse, I'm glad it works now. btw. You could try out conda (http://conda.pydata.org), which is our python/native package manager, to improve the situation with ubuntu.

@bryevdv, I think we should somehow follow up on this issue and make sure that the right version of zmq is installed, so that users don't get confusing error messages.

[2015-02-17 23:48] damianavila commented on #1911
I agree, just checking the version an warn the user would be enough, I think...

[2015-02-18 00:05] bryevdv commented on #1911
Yah we should make it a hard dependency version of the server when the server splits to its own package (if it is not already) but we should also do a version check for this and several other dependencies in order to give better message to users.

[2015-02-18 00:29] bryevdv commented on #219
This seems like it might be the only potentially non-terrible way in the future, but it is not supported everywhere yet: http://caniuse.com/#feat=download  I"m tempted to close this as `wontfix`

[2015-02-18 00:35] bryevdv commented on #268
If we are going to be pursuing webGL I am inclined to close this. @pzwang thoughts?

[2015-02-18 00:37] pzwang commented on #268
Yeah I think you're right.

[2015-02-18 00:39] bryevdv commented on #602
@mattpap do you think our currently built out validation machinery covers this issue?

[2015-02-18 00:42] bryevdv commented on #740
I think we have a handle on this with the recent "SimpleApp" discussions.

[2015-02-18 00:42] #740 closed

[2015-02-18 05:11] #268 closed

[2015-02-18 10:06] jewfro-cuban commented on #1809
Found another curplot() call in the save() method:

[code]

[2015-02-18 11:16] mattpap commented on #602
@bryevdv, not at all. We don't have any object **integrity** validation.

[2015-02-18 12:50] bryevdv commented on #1809
Sure enough. I will remove that today, but note that the workaround is to not call `save()` with no arguments. This is actually what was intended, anyway, Thanks

[2015-02-18 12:51] bryevdv opened #1914 "remove spurious curplot"
missed one: reference #1810

[2015-02-18 13:05] bryevdv opened #1916 "Collect implicit interfaces into a single module"
Propose to move all "stateful" functions (and the "global" variables they use) into a new module `bokeh.state`:
[code]
This should allow any of the different APIs to make use of these facilities for saving, showing, etc.

To start, `bokeh,plotting` would import all of these into itself, and they would remain available as they are by "transitive importing". However, could wrap these versions in dep

[2015-02-18 13:06] bryevdv commented on #1916
@bokeh/core please comment

[2015-02-18 13:10] bryevdv opened #1917 "remove _glyphfunctions"
With the old implicit glyph functions gone, the reason for this complicated machinery is gone too. These should be made simple, normal methods on `plotting.Figure`.

[2015-02-18 13:19] damianavila commented on #219
Yes, I explored this possibility before the release, but the lack of full support of `download` in all the browser seems to problem... so, I would close as `wontfix` for now and when the support for `download` arrives for Safari and IE, we can reopen this one...

[2015-02-18 13:42] ionelmc opened #1918 "NameError: name 'jsbuild' is not defined"
Seems your setup.py is a bit broken:
[code]
This was with latest 3.4:
[code]

[2015-02-18 13:46] damianavila commented on #1916
Not sure about `state` as the name, but I don't have any better from the top of my head...

I agree.

Not sure, I would probably go with the second one... I am not against imports in functions when there is a valid cause (and this seems a valid one).

[2015-02-18 16:03] fpliger opened #1920 "examples/plotting/file/hover.py broken after 0.8 release"
All other examples with hover seem to be working.
There are 2 different issues with the mentioned example:

[code]
lines are raising the following exception on JS side:

```Uncaught [sprintf] expecting number but found array```

and

```("(x,y)", "($x, $y)"),```

is raising:

```Uncaught ReferenceError: x is not defined```

[2015-02-18 16:05] damianavila commented on #1920
@mattpap can you take a view on this... we pretend to make a point release very soon after this is fixed...

[2015-02-18 16:09] damianavila opened #1921 "Tutorial gallery is broken"
Trying to build it gives this error:

[code]

ping @bryevdv

[2015-02-18 16:25] damianavila opened #1922 "app_reveal fails importing old plotting stuff"
[code]

[2015-02-18 16:44] sotte commented on #1754
Any updates on this?

[2015-02-18 17:08] damianavila commented on #1754
not yet, but I changed the milestone to 0.8.2 to tackle on this soon...

[2015-02-18 18:38] mattpap commented on #1920
A quick fix is to use `@$index` (etc.) instead of `$index`. Currently both are allowed, but last minute change to function that replaces those placehoders made the later cause errors.

[2015-02-18 19:14] damianavila opened #1925 "Docs error in chart section"
http://bokeh.pydata.org/en/latest/docs/user_guide/charts.html#interface-outputs

see `file`

[2015-02-18 19:41] kgullikson88 opened #1926 "tap_select tool is actually tap"
The [documentation](http://bokeh.pydata.org/en/latest/docs/user_guide/objects.html#click-tap-tools) says there is a 'tap_select' tool to select a single data point. However, trying to use that tool throws an error that it does not exist. Digging through the code, it looks like there is a tool call 'tap' ([here](https://github.com/bokeh/bokeh/blob/master/bokeh/plotting_helpers.py)), which appears t

[2015-02-18 19:41] damianavila opened #1927 "bokeh-notebooks needs update to use the new plotting API"

[2015-02-18 21:01] bryevdv opened #1928 "image glyph method should warn if no palette or color mapper supplied"
reference: https://twitter.com/BokehPlots/status/568153221228670976

[2015-02-18 21:18] bryevdv opened #1929 "image glyph method should have a default palette"
ref: https://twitter.com/michaelaye/status/568154107699048451

[2015-02-18 21:59] mattpap commented on #1929
Trivial fix, but what should be the default?

[2015-02-18 22:03] bryevdv commented on #1929
grayscale, probably

[2015-02-19 01:51] michaelaye commented on #1929
I think for image of non-RGBA content grayscale is a fine choice.

[2015-02-19 05:04] alanhdu opened #1933 "Bokeh Glyph Quick Reference 404 (Docs)"
At http://bokeh.pydata.org/en/latest/docs/user_guide/plotting.html#composition, the link for the [Bokeh Glyph Quick Reference](http://bokeh.pydata.org/en/latest/docs/glyphs_ref.html) is broken.

[2015-02-19 06:31] bryevdv commented on #1933
Apologies, here is the correct link:

http://bokeh.pydata.org/en/latest/docs/reference/glyphs.html

[2015-02-19 10:56] fpliger opened #1935 "Charts and datetime indexes"
Following up from a post on m.l.. IMO the following should work:

[code]

Specifically, charts should have better support for indexes/ranges with datetime values (or even categories). I'm adding this as a bug but open for discussions...

[2015-02-19 11:24] fpliger commented on #1935
This can be fixed but changing https://github.com/bokeh/bokeh/blob/master/bokeh/charts/builder/line_builder.py#L110-L110
to
```values = self._values[col]```

for line_builder. Also for step_builder is a quick fix.. and I wonder why we were using the nested list comprehension.. @damianavila do you recall? I really don't :-/

[2015-02-19 11:49] markriseley opened #1937 "Shiny bindings for rbokeh"
Now that you've ported bokeh to R (thanks, the built in interactive controls are great!), would it be possible to add Shiny bindings to enable interactive dashboards eg like this:

http://shiny.rstudio.com/gallery/movie-explorer.html

This page might be what you need to get you started, I'm not an expert in this stuff though:
http://rpackages.ianhowson.com/cran/htmlwidgets/man/htmlwidgets-shiny.ht

[2015-02-19 12:03] #1920 closed

[2015-02-19 12:23] fpliger opened #1938 "Issues with GMapPlot and circle glyphs combination"
As reported on [m.l.](https://groups.google.com/a/continuum.io/forum/?utm_medium=email&utm_source=footer#!msg/bokeh/nZOdpPZ640Y/IIUgeWwExcYJ) mapping a large number (300,000 circles) on GMapPlot presents a few issues (able to reproduce locally):
1. Reset tool: currently this resets the lon/lat (x,y) values to 0.0, and 0.0, at original zoom level: would be good to over-ride these values to the orig

[2015-02-19 12:38] timelyportfolio commented on #1937
Yes we plan to fully integrate with Shiny.  See issue https://github.com/bokeh/rbokeh/issues/25.  Please file issues for rBokeh there.  Thanks.

[2015-02-19 12:43] markriseley commented on #1937
Great news, thanks.

On 19 February 2015 at 12:38, timelyportfolio <notifications@github.com>
wrote:

[2015-02-19 14:13] #1925 closed

[2015-02-19 14:47] damianavila commented on #1935
Certainly, I don't remember...  maybe related processed one specific type of input?

[2015-02-19 14:53] bryevdv commented on #1937
This should go on the rbokeh issue tracker (and is) :) Closing.

[2015-02-19 14:53] #1937 closed

[2015-02-19 14:54] fpliger commented on #1935
Yes.. I think so. Tests are passing if I change for line and step so I'd be tempted to remove this logic.

[2015-02-19 15:01] #1933 closed

[2015-02-19 15:29] #1921 closed

[2015-02-19 15:33] #1914 closed

[2015-02-19 15:36] #1922 closed

[2015-02-19 15:45] damianavila commented on #1935
yep, probably... are you intended to get this fix included in 0.8.1?

[2015-02-19 15:46] bryevdv opened #1940 "spectrogram needs updating to use figure()"

[2015-02-19 16:01] theonlykk opened #1942 "Changing line_color interactively"
The examples show that one can change the data on a plot using the text box entry or a drop down menu.  Is it possible to change the line_color on a chart in the same manner?

[2015-02-19 16:25] bryevdv commented on #1942
You are using a plot on the `bokeh-server`? You can change the attribute on the plot object then `push` the object back to the server, just like in the examples that update data. Let me know if you can't get that working (I am at a conference today or I'd try to provide more)

[2015-02-19 16:33] theonlykk commented on #1942
Hi Bryan

Many thanks for the quick response!

Can I show you my attempt at the code so far?

I also tried changing plot.outline_line_color but with no luck.

I noticed that if I printed the initial line_color value, {u'value':
u'indigo'} was returned, so I tried passing a dict as the colour as well.

I am able to update the title, so the input value is being read, i just
cant seem to make that ch

[2015-02-19 16:53] knightofni opened #1943 "`publishing` example from the `embed` directory fails"
With an error message that is not particularly helpfull. Using bokeh 0.8.
[code]

[2015-02-19 17:17] damianavila commented on #1943
This is because you need the bokeh-server working... but it is weird because I have this traceback:

[code]

where you can see we warn about the need of the server...

[2015-02-19 17:19] damianavila commented on #1943
OK, now with the server working I can reproduce your error...

[2015-02-19 17:23] knightofni commented on #1943
Yeah, i should have mentionned i had the bokeh-server running...

[2015-02-19 17:31] damianavila commented on #1943
You need to start the bokeh server with the `-m` option... http://bokeh.pydata.org/en/latest/docs/user_guide/server.html#authentication

I forgot about that...:wink:
We probably need to add that to the README.

[2015-02-19 18:06] fpliger commented on #1935
With the 0.8.1 coming "too" soon for this I've changed it to 0.8.2

[2015-02-19 19:42] mattpap opened #1944 "bokehjs should validate values on `@set(value)`"
- [ ] restore validation of `side` in `tooltips.coffee`

[2015-02-20 01:25] #1940 closed

[2015-02-20 01:32] lebigot commented on #1536
I tried again, this time with Bokeh 0.8:
[code]
With the latest Chrome of OS X (40.0.2214.111 64 bits), I had to stop my MacBook Air after **5 minutes** without rendering anything.

[2015-02-20 02:04] tswicegood commented on #1589
This just popped up in my feed again because of the activity.  FWIW, I would seriously consider [browserify][] when you head down the route of moving to Node.  I know @mattpap has some custom build tooling in place that relies on Require.js, but I believe the benefits of Browserify are pretty significant:

* Uses Node/io.js's internal module loader CommonJS: this means no changes are necessary for

[2015-02-20 04:55] alanhdu opened #1945 "More Broken Doc Links"
On http://bokeh.pydata.org/en/latest/docs/dev_guide/process.html, both BEP links are broken.

[2015-02-20 12:43] mftt commented on #1801
Seems to be fixed with 0.8 (& dependencies update).

[2015-02-20 12:43] #1801 closed

[2015-02-20 12:49] almarklein commented on #1945
In the doc sources they links are correct. Do we need to trigger a doc build?

[2015-02-20 12:55] almarklein commented on #1945
https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/dev_guide/process.rst

No wait. This is weird:
* The link in the rst file: `https://github.com/bokeh/bokeh/wiki/BEP-1:-Issues-and-PRs-management`
* When I copy the link when rendered as html: `https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/dev_guide/BEP1`

I get the latter even when viewing the rst file as rendered by git

[2015-02-20 13:03] almarklein commented on #1945
Ah, the link is malformatted. It is sort of formatted as an inline link, except that the address is defined below. http://sphinx-doc.org/rest.html#hyperlinks

[2015-02-20 13:48] damianavila opened #1949 "tests scripts enhancements."
* [ ] the test-matrix script needs to support dev build from the bokeh Binstar channel
* [ ] the interactive-tester script needs to accept an specific location for examples (use-case, a conda env containing a dev build which is shipped with the Examples folder, so I want to pass this path: `/media/datos/miniconda3/envs/test34/Examples/bokeh`)

ping @Maggie-M

[2015-02-20 13:52] #1943 closed

[2015-02-20 13:54] #1945 closed

[2015-02-20 13:56] almarklein commented on #1929
Do we even support RGB or RGBA images? If I modify a simple example to use an NxNx3 image I get nothing.

[2015-02-20 14:10] almarklein commented on #1928
Not necessary if we use a default palette

[2015-02-20 14:40] almarklein commented on #1784
Related: the current behavior in the presence of inf and -inf values is to ignore these, but other than with nans, there is no gap. Is this intentional?

![index](https://cloud.githubusercontent.com/assets/3015475/6288061/ae84414e-b916-11e4-8e6f-5a3b081a069d.png)

[2015-02-20 14:55] bryevdv commented on #1929
ImageRGBA or Figure.image_rgba

[2015-02-20 14:57] bryevdv commented on #1784
Not intentional. What do other systems do with inf

[2015-02-20 14:58] almarklein commented on #1929
Doh, its right below the class that I edited. I suppose I expected a single class for this.

[2015-02-20 15:00] almarklein commented on #1784
In visvis we decided to handle inf and nan equally. I will do some research ...

[2015-02-20 15:19] almarklein commented on #1784
Matplotlib also ignored inf (like nan). From what I can find, so does Matlab.

Do you want me to make Bokeh behave the same? If so, I see two options: 1) in the encoder we translate inf/-inf to nan; 2) in bokehjs the inf values must be handled correctly. I think the latter makes more sense.

[2015-02-20 15:20] bryevdv commented on #1929
I'd keep the models distinct but it might make sense to merge them in higher level APIs

[2015-02-20 15:21] bryevdv commented on #1784
I also prefer the latter. The question is how to encode it. JSON has no "inf" unless I am mistaken.

[2015-02-20 15:26] almarklein commented on #1784
Neither is nan :)  but apparently they're commonly accepted: http://stackoverflow.com/a/6602204/2271927

Also, we already send `Infinity` and `-Infinity` in the encoder:
https://github.com/bokeh/bokeh/blob/master/bokeh/protocol.py#L62

[2015-02-20 15:26] damianavila commented on #1784
You are right, it is not in the specification...

[2015-02-20 15:28] damianavila commented on #1784
here they are two ways to deal with this:

http://stackoverflow.com/a/13582033/2785603

[2015-02-20 15:30] almarklein commented on #1784
My point is that it seems we already send both `NaN` and `Infinity` over JSON.

[2015-02-20 15:34] damianavila commented on #1784
Then I guess we need to handle them correctly on the JS side...

[2015-02-20 16:12] #1918 closed

[2015-02-20 16:13] damianavila commented on #1918
Thanks for your contribution @ionelmc !!!

[2015-02-20 16:40] bryevdv commented on #1928
Quite right

[2015-02-20 16:40] #1928 closed

[2015-02-20 16:47] almarklein commented on #1784
Done. Apparently, the Infinity values were just passed to `ctx.lineTo()` which dealt with it (at least on FF) by linear interpolation.

[2015-02-20 17:08] #1929 closed

[2015-02-20 17:15] aterrel opened #1952 "IPython Interact causes redraw that hides bokeh plot"
Here is an example cell from my notebook. If you try to interact with it the plot goes aways. If I `show(plot)` in another cell it works. Would be nice to have this work.

[code]

[2015-02-20 17:23] bryevdv commented on #937
FWIW I see this flash by occasionally. I have no way of reproducing, though. Possibly upstream issue?

[2015-02-20 17:32] damianavila commented on #937
maybe upstream, but I did not see this since a lot of time... maybe because I use IPython master most of the time...

[2015-02-20 19:07] almarklein opened #1953 "Develop installation fails: No such file or directory: '/usr/lib/python3.4/site-packages/bokeh.pth'"
I am on Ubuntu Linux 14.04. setup.py has a function `getsitepackages()` to get the location of the site-packages. It produces `/usr/lib/python3.4/site-packages` on my machine, which should have been `/usr/local/lib/python3.4/dist-packages`.

AFAIK: there's two ways to get the site-packages dir:
* `sysconfig.get_path('purelib')`
* `site.getsitepackages()[0]`

Can't we just use one of these?

[2015-02-20 19:20] almarklein commented on #1953
Correction: `sysconfig.get_path()` does not work on pypy. and in Jython there is no `site.getsitepackages()`.

[2015-02-20 19:48] damianavila commented on #1953
[damian@damian-S400CA][Desarrollos]$ /usr/bin/python3
Python 3.4.0 (default, Apr 11 2014, 13:05:11)
[GCC 4.8.2] on linux
Type "help", "copyright", "credits" or "license" for more information.

['/usr/lib/python3.4/site-packages', '/usr/lib/site-python', '/usr/python3.4/lib-dynload', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.4/dist-packages', '/usr/lib/dist-python']

Is there :wink:

[2015-02-20 20:40] damianavila commented on #1952
The problem here in that two things (Bokeh and IPython) are trying to display at the same time... in fact, I don't know if there is an easy solution for this (probably not easy if there is one)... from the top of my head I can think in a wrapper IPython widget to encompass the Bokeh plot and then use the IPython widget layout machinery to put both the wrapper and the interactive widget in the same

[2015-02-21 03:26] bryevdv commented on #1942
reposting with formatting:
[code]

[2015-02-21 03:33] bryevdv commented on #1942
@hhuuggoo can you comment? It appears updates to the data source triggers the plot to update but not other attributes. Is there a way to force an update?

[2015-02-21 03:42] hhuuggoo commented on #1942
Does update_data get called?  Or is the plot just not responding to the attribute change.  Usually this is because we forgot to bind events properly on the JavaScript side

[2015-02-21 03:44] theonlykk commented on #1942
I think the new colour value does get called as I use it to populate the title.
Sent from my BlackBerry device on the Rogers Wireless Network

-----Original Message-----
From: hhuuggoo <notifications@github.com>
Date: Fri, 20 Feb 2015 19:42:19
To: bokeh/bokeh<bokeh@noreply.github.com>
Reply-To: bokeh/bokeh <reply@reply.github.com>
Cc: theonlykk<theonlykhalid@gmail.com>
Subject: Re: [bokeh] Changin

[2015-02-22 12:48] chanansh opened #1955 "cannot plot bar plot from pandas"
I am trying to export a simple bar plot from pandas to bokeh but it seems this wasn't implemented yet.
Is there a work around?
[code]

[2015-02-22 17:46] birdsarah commented on #1955
Hi,

I'm afraid I'm not familiar with the matplotlib interface.

However, a simple example of creating a Bar chart with a dataframe is
available here:
https://github.com/bokeh/bokeh/blob/master/examples/charts/bar.py#L35

In it's very simplest form you can do:

    import pandas as pd
    from bokeh.charts import Bar

    df = pd.DataFrame({'a': [1,2], 'b': [3,4]}, index = ['one','two'])
    Bar(d

[2015-02-22 18:34] bryevdv commented on #1955
Hi Chanash,

As Sarah notes, the easiest thing is to just use the Bokeh charts interface, where it is a one-liner. Our MPL support comes from a third party lib, mplexporter, which is not fully complete. Any bug requests though, should go on its GH tracker:

    https://github.com/mpld3/mplexporter

Thanks,

Bryan

[2015-02-22 20:30] birdsarah opened #1956 "Two instances of autoload_server??"
Hi, is it intentional to have two versions of autoload_server in embed.py? If so, they need different names, as the second one is currently overwriting the first:

https://github.com/bokeh/bokeh/blob/master/bokeh/embed.py#L176
[code]
https://github.com/bokeh/bokeh/blob/master/bokeh/embed.py#L206
[code]

[2015-02-22 20:32] bryevdv commented on #1956
Looks like a merge conflict error.

[2015-02-22 20:34] bryevdv commented on #1956
The second one (with the `public` arg) is the correct one, although it needs its docstring improved.

[2015-02-22 20:34] bryevdv commented on #1956
Thanks for spotting this, @birdsarah

[2015-02-22 20:42] bryevdv commented on #1589
@tswicegood is this something you could devote a day or two to helping with sometime in the next month or two? I would love to come to LA and bang this out as well as some other server improvements, in a super-focused sprint.

[2015-02-22 20:43] bryevdv commented on #1589
To be clear, I think the current work should be merged right after 0.8.1 :)

[2015-02-23 04:18] aflyax opened #1957 "Lines plotting in a notebook"
Copy-pasting this example: https://github.com/bokeh/bokeh/blob/master/examples/charts/lines.py

Results in: `AttributeError: 'Line' object has no attribute 'ref'`

Trying to execute this code:

[code]

... results in:

`You have to provide a filename (filename='foo.html' or .filename('foo.html')) to save your plot.`

[2015-02-23 04:38] aflyax opened #1958 "Integration with pandas"
When replotting a pandas.plot, the plot comes out with a weird xlim. Example here: http://nbviewer.ipython.org/github/aflyax/Python/blob/master/notebooks/income/bokeh_issue.ipynb

[2015-02-23 07:25] fpliger commented on #1958
@aflyax please see this related thread #1955

As mentioned in that issue "our MPL support comes from a third party lib, mplexporter, which is not fully complete. Any bug requests though, should go on its GH tracker: https://github.com/mpld3/mplexporter ."

In general it's better to use `bokeh.charts` instead (like it seems to be the case of your other reported issue that I'll be looking in a secon

[2015-02-23 07:26] bryevdv commented on #1958
The reason is because several renderers are getting added to the scene with coordinates far from the real data:
![screen shot 2015-02-23 at 1 23 16 am](https://cloud.githubusercontent.com/assets/1078448/6324106/b1a78c10-bafa-11e4-9146-67dbc2396f9c.png)
We use the third party library `mplexporter` to provide MPL compatibility. It is possible there is some way we could be using it differerently (pin

[2015-02-23 07:27] bryevdv commented on #1958
To be clear, the reason is because we use a `DataRange1d` that tries to auto-range the plot based on the data each render has. We could perhaps work around this, if `mplexporter` provides enough information to somehow exclude these renderers from the data range.

[2015-02-23 07:42] bryevdv commented on #1957
Two observations:
* since you are dealing with time series, you want to use `bokeh.charts.TimeSeries`
* the `.show()` method is going away, there will be a docs refresh probably this week. Use the `show` function:
![screen shot 2015-02-23 at 1 41 02 am](https://cloud.githubusercontent.com/assets/1078448/6324262/3e207e7a-bafd-11e4-918a-1b3d9ee2766f.png)

[2015-02-23 08:08] fpliger commented on #1957
In addition to @bryevdv comment I suspect that you are also using a previous version of Bokeh (`0.7` or maybe `0.7.1`?) because or the reported: `AttributeError: 'Line' object has no attribute 'ref'`

If it's the case I highly recommend you to update to `0.8` or `0.8.1` that should be released later today `charts` interface have seen major changes and this later release and the new decoupled show

[2015-02-23 09:40] chanansh opened #1959 "failure using components output"
Hi,
I am trying to output a component to be embedded into a custom html.
I get ```Bokeh: could not set initial ranges``` error
What am I doing wrong?

The code for generating the components:

[code]

the code of the html (I manually edited it to include the css and js files from CDN):
[code]

[2015-02-23 09:57] mattpap commented on #1959
You should be using the following code:
[code]
The original code created two figures (using two different APIs), including an empty one which was passed to `components()`. This is why bokehjs couldn't figure out plot ranges (thought it could tell you what the underlying case was).

[2015-02-23 10:00] fpliger commented on #1959
hi @chanansh. In this case you are creating 2 Plot objects using different bokeh API levels:

* `fig = figure()`
* `Bar(df)`

The first uses a mid level interface called `plotting` to create a *blank* plot figure. The second is doing the same but also already draw the Bar glyphs in the new created Plot (and is not being assigned to any variable). Both `plotting` and `charts` interfaces are explici

[2015-02-23 10:03] mattpap commented on #1589
My custom build isn't that big deal, I will figure this out. However, to note this, switching to browserify isn't going to help this issue. The problem we are dealing with here is that node.js libraries are just not mature enough to handle complex piece of code as bokehjs is.

[2015-02-23 11:27] almarklein opened #1960 "Throw exception if nonexistent keyword arguments are given"
There was a typo in the line `glyphs/line.py` example where it said `line_with` instead of `line_width`. Not a big deal in this case, but can lead to problems that are hard to debug. My feeling is that we should raise an error, or at least show a warning when an invalid keyword argument is given.

[2015-02-23 11:41] fpliger commented on #1960
here is the file

https://github.com/bokeh/bokeh/blob/master/examples/plotting/file/line.py

[2015-02-23 12:52] almarklein opened #1961 "Don't log intentional exceptions during tests"
In `bokeh/server/views/bbauth.py` in function `handle_auth_error()` on line 22:

        try:
            return func(*args, **kwargs)
        except AuthenticationException as e:
            logger.exception(e)
            return abort(401)

The call to `logger.exception()` makes any errors appear as exceptions. This is intended (I suppose) during normal running. But in the test `server/tests/cow

[2015-02-23 12:54] almarklein commented on #1961
Here's a minimal piece of code to run the test:

    from werkzeug.exceptions import Unauthorized
    from bokeh.server.views.bbauth import handle_auth_error
    from bokeh.exceptions import AuthenticationException

    from nose.tools import assert_raises

    @handle_auth_error
    def helper2():
        raise AuthenticationException('bad!')
    assert_raises(Unauthorized, helper2)

[2015-02-23 13:09] almarklein commented on #1960
I fixed the typo in #1951 BTW.

[2015-02-23 14:05] #1955 closed

[2015-02-23 14:08] damianavila commented on #1958
I will investigate here if we can come up with a workaround...

[2015-02-23 16:51] bryevdv commented on #1589
@mattpap right I realize that, but it seems like a nice transition nonetheless. Regarding node.js and bokeh specifically, do you characterize things as completely hopeless at this point, or is there some useful subset that will work, or perhaps upstream contributions we could make?

[2015-02-23 17:26] Maggie-M commented on #1618
I have reproduced this behavior with one exception:

Running *Python 3* on *OSX* and using *Chrome* as the default browser, I was able to wheel zoom and pan.  When I **resized the plot**, however, all of the widget's hover text names began blinking and I was unable to use any of them anymore.

[2015-02-23 17:33] mattpap commented on #1589
I don't negate that. I just want make sure that in this issue we stay focused solving the actual problem.

It's not hopeless. Maybe there is some workaround of jsdom's issues, or perhaps jsdom could be improved. I don't know node.js internals, so I can't say anything more right now. However, I think that it would be better to make bokehjs DOM independent, as much as possible. Then could use node-c