[2020-01-17 03:57] bryevdv commented on #8926
noting that the implementation is changing from Pikaday to Flatpickr for 2.0 and it has this capability built in AFAIK

[2020-01-17 04:00] #6728 closed

[2020-01-17 04:00] #9494 closed

[2020-01-17 04:00] #8917 closed

[2020-01-17 04:12] #9560 closed

[2020-01-17 04:15] bryevdv commented on #9574
@edishu I believe the HTMLTemplateFormatter will provide this possibility:

https://docs.bokeh.org/en/latest/docs/reference/models/widgets.tables.html?highlight=cellformatter#bokeh.models.widgets.tables.HTMLTemplateFormatter

For future reference please start usage questions in the Project Discourse, not the tracker:

https://discourse.bokeh.org/

[2020-01-17 04:15] #9574 closed

[2020-01-17 07:03] thoralf-gutierrez opened #9583 "[BUG] ColorBar with LogTicker is incorrect when range is < 1"
I noticed issues when using a `log_cmap` with a `ColorBar` and `LogTicker`. As soon as the range of my color map goes under 1, the LogTicker does not correspond to the actual color in the plot.

See this minimal example. Notice how the blue bins on the plot are counts = 1 but show up as < 1 on the color bar.

![image](https://user-images.githubusercontent.com/5640848/72590975-e4f84a00-38b3-11ea-95

[2020-01-17 09:51] rstrutt commented on #9494
Nice work, Sir.  Thank you.  Looking forward to trying this out along with all the other good stuff in 2.0

[2020-01-17 12:21] Karel-van-de-Plassche commented on #9581
I originally chose `alpine`, as it is similar to the systems I'm using and because of the benefits are on the users side (small image footprint), and the downsides mostly on the developers side (have to compile python packages from scratch). I'm using ye old 0.13.0 image to host my own stuff with great success so far. However, I'm really not opposed to switching over to or adding a Debian or Ubunt

[2020-01-17 12:53] jensencl opened #9584 "[FEATURE]Allow use of multiple formatters in DataTables"
I would like to use both NumberFormatter and HTMLTemplateFormatter in some of my cases. If would be nice to have the capability to do something like:

TableColumn(field='Part ID', title='Part ID', formatters=(HTMLTemplateFormatter(template='<a
    onclick="window.location;" href="http://' + host_ip + ':8000/media/<%=value %>.pdf"
    target="_blank"><%= value %></a>'), NumberFormatter(format='0[.]

[2020-01-17 18:46] bryevdv commented on #9584
To make the implementation as simple and self-contained as possible, this would probably have to take the form of a new "composite" formatter that is configured with a list of other formatters to apply in sequence:
[code]

@jensencl would you be interested to work on this with some help/guidance? This would make a good first issue.

[2020-01-17 18:55] jensencl commented on #9584
@bryevdv @bokeh/dev
Sure. I would be interested in helping to get this moving forward.

[2020-01-17 19:00] bryevdv commented on #9581
@dkapitan @Karel-van-de-Plassche thanks for starting this issue. A few notes:

* We have moved entirely off of TravisCI, so these are not even the same VMs that CI uses anymore
* Also, in fact, all the `scripts/ci` bash scripts are gone, so all of that certainly is no longer useful

I will be honest and say that I am not a heavy user of these images, so I don't have many strong opinions here (and

[2020-01-17 19:03] bryevdv commented on #9584
@jensencl Brilliant! I would say the first steps are"

* Fork the Bokeh repo in to your own account
* Clone it locally to you machine

Then we have a Dev Guide that has all the steps needed to get set up to build BokehJS and dev/test locally:

https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html#devguide-setup

Do you have any JavaScript/TypeScript experience? If not, that's fine, this will

[2020-01-17 19:08] Karel-van-de-Plassche commented on #9581
Yeah, this is me manually pushing releases that I needed. In principle docker-in-docker has much improved since I wrote these files, so we can probably set up CI to auto-build them on tagged bokeh versions.

[2020-01-17 19:09] bryevdv commented on #9583
This is a dupe of https://github.com/bokeh/bokeh/issues/8724 which was fixed on master in https://github.com/bokeh/bokeh/pull/8832 (yet to be released)

<img width="619" alt="Screen Shot 2020-01-17 at 11 09 19 AM" src="https://user-images.githubusercontent.com/1078448/72639159-d80e4180-3919-11ea-94a9-f2875dabc273.png">

[2020-01-17 19:09] #9583 closed

[2020-01-17 19:12] bryevdv commented on #9577
@bmeatayi This is probably related to/duplicate of one of the several other webgl issues:

https://github.com/bokeh/bokeh/issues?utf8=✓&q=is%3Aissue+is%3Aopen+webgl

So we may close it as such at some point. As you can see there are lots of problems with our current webgl backend but the original developer of it has moved on. Our intention is to completely overhaul webgl support with a more robust

[2020-01-17 19:17] bryevdv commented on #9576
Just noting that the CustomJS idea is covered by https://github.com/bokeh/bokeh/issues/9411

The rest of the issue is about easily overriding settings on a plot/Document after it is de-serialized. @shughes-uk would https://github.com/bokeh/bokeh/issues/9524 be sufficient for that? If you have an easy reference to a plot that you are embedding, you can make settings changes on it directly. Do you t

[2020-01-17 19:18] bryevdv commented on #9570
Tentatively marking this as `feature` but it would really be helpful to have someone with actual mobile UX dev expertise to collaborate on this with.

[2020-01-17 19:23] shughes-uk commented on #9576
Something that follows the python API would be great, or documentation on the structure of the de-serialized plot, or even just the JSON as making changes before calling the embed function seems prerable. Doing this changes post embed seems like it would leave a small window for malicious custom JS to activate.

[2020-01-17 19:26] bryevdv commented on #9581
FYI I am currently about to start rebuilding our automation. Due to the new need to compute and include SRI hashes in the built packages we are going to have to have a more multi-staged approach that inserts a layer of testing after packages are built but before they are actually published. I'm trying to collect all the steps and outline the process here: https://github.com/bokeh/bokeh/issues/9341

[2020-01-17 19:44] mattpap commented on #9577
Hopefully this is just data mapping (or similar) issue (webgl backend does those on its own) and not a webgl issue in itself. If so, this should be (fairly?) easily fixable. @bmeatayi, can you submit a an actually self-contained test case (i.e. preferably a single plot with a single glyph setup)?

[2020-01-17 19:52] bryevdv commented on #9554
Right, I am going to to close this as a dupe of #8499 I do think this is an important priority, but right now there are a lot of important priorities. Certainly an area where the project could use new help and contributors.

[2020-01-17 19:52] #9554 closed

[2020-01-17 19:53] bryevdv commented on #8499
Moving this out of `discussion`

[2020-01-17 19:54] bryevdv commented on #9538
@philippjfr @mattpap is this also something  covered by porting the HTML component from panel? can someone poitnt me at that work/PR?

[2020-01-17 19:58] bryevdv commented on #9567
I don't think there is any reasonable way to make this work with `on_change`, since it is not a change, and making it "work" dilutes the clear meaning and explanation of `on_change` with special cases. So my other idea was perhaps an `<enter>` event that text fields could emit that could be responded to with `on_event` or `js_on_event`.

Thoughts @bokeh/dev ?

[2020-01-17 20:00] philippjfr commented on #9538
No, this isn't covered by that. In fact if this were implemented the trick used by the HTML model would likely not work. Here's the code that implements the caching:

https://github.com/holoviz/panel/blob/master/panel/models/html.ts#L14

[2020-01-17 20:55] julioasotodv opened #9585 "Pre-loading data in Bokeh Server?"
Hi,

I am thinking about developing a simple app using Bokeh Server. This app needs to load a large csv file in order to make some aggregates and plots.

However, for demonstration purposes, imagine I have got the following simple code that emulates loading realatively large data (in this case creating a random pandas DataFrame) in a `main.py` file:

[code]

If I want to serve this with `bokeh ser

[2020-01-17 21:03] dkapitan commented on #9581
Just to clarify (since I have little experience in setting up CI): do you guys mean to say that you want automated, new Docker images to be pushed to hub.docker.com, in line with every Bokeh release?

AFAIK the docker images shouldn't change that often, so I don't see what the benefit is of doing this. But I may be missing the point completely, since I also have never used Docker for automated bui

[2020-01-17 21:23] jensencl commented on #9584
@bryevdv  Not much. I have done a little playing with JS in django projects here recently, but most of my experience is in python. Luckily, I am trying to branch-out into other languages, so this will be good for me. I have the repo downloaded and installed per the instructions.

Now it's just hoping I am not getting myself in over my head.
@bokeh/dev

[2020-01-17 21:36] bryevdv commented on #9581
@dkapitan I do mean that, but it's easily possible that I am off-base here as well. I as under the impression that pushing with every release version would afford a way for folks to easily get at images for specific versions, which seemed like it might be reasonable to afford.But I don't know if that's needed or if there's actually demand for it though, so again happy tp defer. Are you proposing i

[2020-01-17 21:39] bryevdv commented on #9584
That's a really great way to learn, in my experience :Sri

[2020-01-17 21:39] #9584 closed

[2020-01-17 21:47] bryevdv commented on #9585
Sessions have a (configurable) timeout before expiring, and then a further (configurable) timeout before being deleted.

This can be accomplished, but the best place for a support/usage question is on the Project Discourse, happy to discuss this further there:

https://discourse.bokeh.org/

[2020-01-17 21:47] #9585 closed

[2020-01-17 21:50] jensencl commented on #9584
I do have it. I am looking at the bokeh>models>widgets>tables.py right now around line 107 right now trying to think how this could be added into this to start. I am thinking something like this might be a starting off point:

class CompositeFormatter('''Formatters'''):
    '''Formatter to apply multiple formatters to a single TableColumn'''

I believe I will need a list of the applicable formatte

[2020-01-17 22:24] dkapitan commented on #9581
@bryevdv

That's basically my idea for now. To make it easier for users who have just started using Docker, the `Dockerfile-from-pip` would install all Python packages listed in `requirements.txt`, including Bokeh itself. I think this is known territory for the majority of Python users, and they can change that file to their liking. So if they want to use older versions, they can do so, too.

[2020-01-17 22:52] julioasotodv commented on #9585
@bryevdv got it. I will continue the conversation in [Discourse](https://discourse.bokeh.org/t/pre-loading-data-in-bokeh-server/4542).

Thank you!

[2020-01-17 23:12] bryevdv commented on #9581
@dkapitan ok well that's okay with me. I'd suggest if possible a second "dev" image would be helpful. This one would follow the conda-based workflow in the developer's guide Getting Set Up section. The end-result should be that all the tests can be easily run. I think this would help with getting new contributors up and running faster.

I am pretty vague on how publishing to dockerhub works. I gue

[2020-01-17 23:27] bryevdv commented on #9584
@jensencl awesome. So there will be updates needed on both the "Python side" and on the "JS Side" The Python side will be let's start with that. You have identified exactly the correct file to make an addition to. I think it will basically just need to look like this:
[code]

You may need to import the `Sequence` property type at the top of the file. Note that the correct alphabetical order will n

[2020-01-18 02:09] anthonydouc commented on #4416
Interested in addressing this issue - with perhaps a little guidance if possible.

As far as I can tell, the currently available settings are limited to title.offset which effectively sets a left and right margin to the title. The vertical margin remains fixed at a value of 5 (https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/annotations/title.ts#L22).

I would think one of the fol

[2020-01-18 07:54] dkapitan commented on #9581
@bryevdv

Ok, that makes sense to me. So for now I will focus on two versions:

- `bokeh-dev` which is based on alpine and conda
- `bokeh-prod` which is based on debian and pip

I will explain the differences between these two in the documentation. For now I propose to upload these manually to [hub.docker.com](https://hub.docker.com).

I propose @Karel-van-de-Plassche remains maintainer/contact fo

[2020-01-18 20:22] bryevdv commented on #6372
noting that #9586 adds singatures to glyph methods and it was pretty simple. Main concern with doing it for all models is potential for import time increase, though I think we may already be doing most of the work already, so maybe no big deal

[2020-01-19 06:15] MarcSkovMadsen opened #9587 "Custom Bokeh Model from documentation raises exception"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Bokeh: 1.4.0
Python: 3.7.4
Jupyter:  1.0.0
OS: Windows 8.1
Browser: Chrome

#### Description of expected behavior and the observed behavior

I'm trying to learn how to create custom bokeh models. I started out trying the Custom model in https://docs.bokeh.org/en/latest/docs/user_guide/extensions.htm

[2020-01-19 06:19] MarcSkovMadsen commented on #9587
This is related to https://discourse.holoviz.org/t/how-do-i-create-and-use-a-custom-bokeh-model-in-panel/122/2

[2020-01-19 07:23] MarcSkovMadsen commented on #9587
Inspired by the PlotlyPlot model in Panel at https://github.com/holoviz/panel/blob/master/panel/models/plotly.ts

I can see that if I rewrite the `custom.ts` file I can almost get there

![image](https://user-images.githubusercontent.com/42288570/72676729-aec5f080-3a94-11ea-9627-6896473f958d.png)

But the text is just fixed at "Special Slider Display: 0" when I move the slider.

[code]

[2020-01-19 10:36] mattpap commented on #9587
Comparing to the original implementation, here is what is needed to at least make things compile:

[code]

The `model` field must by always redefined, otherwise you won't be able to access new model's properties from a view. This is a limitation of TypeScript's type system in a form of lack of proper type members.

[code]

The namespace isn't strictly necessary, but is useful to tidy things up. Th

[2020-01-19 10:43] mattpap commented on #9587
[code]

Note that currently bokeh has two extensions' compiler. The old one that allows on-demand compilation, which is triggered by `__implementation__`, and the new one, which allows pre-compilation. The later one is what panel uses to compile its models. There are subtle differences between both. The former will be phased out in 2.0.

[2020-01-19 10:51] mattpap commented on #9587
Looking at the code, I see to possible issues. Use `this.model.slider.value.change` instead of `this.model.slider.change`. This is better anyway, but will indicate a bug in slider's implementation. Use `p.Instance` instead of `p.Any` for `slider`'s definition. Contrary to the documentation, `p.Any` is often not a valid replacement for other property types. To future-proof your code, use as few `p.

[2020-01-19 11:14] Karel-van-de-Plassche commented on #9581
If you can check the final size difference between the alpine-based image and the debain-based image, I might be good to move everything to debian, to lower maintenance burden a bit.

This was my use case for the Docker images at least. People like me have only little time to keep up with API changes unfortunately, so 'freezing' bokeh in a container is very convenient for me. As I/we did not get m

[2020-01-19 11:43] dkapitan commented on #9581
@Karel-van-de-Plassche @bryevdv

Difference between [alpine-miniconda3](https://hub.docker.com/r/frolvlad/alpine-miniconda3/tags) and [python:3.7-slim](https://hub.docker.com/_/python?tab=tags&page=1&name=3.7-slim) is neglible: there are both around 50.5 MB compressed. So I am in favour of moving everything over to Debian.

If we do that, than it's just a choice of:

* which package manager, i.e.

[2020-01-19 11:57] dkapitan commented on #9581
This seems relevant: https://jcrist.github.io/conda-docker-tips.html

[2020-01-19 16:07] MarcSkovMadsen commented on #9587
Hi @mattpap

Thanks so much for your helpful suggestions. Unfortunately I've not been able to get it to work.

I've tried to

- follow your suggestions
- just experiment with what feels like a thousand combinations
- looking at most of the Bokeh and Panel .ts model code and trying things out.
- I've changed PlotlyPlot (an error in the Code) to Custom

I'm stuck.

Any help and especially working co

[2020-01-19 16:41] MarcSkovMadsen commented on #9587
I've got it working @mattpap . Thanks so much.

The thing that did it was changing the

- `this.connect(this.model.properties.slider.change`

to either of (both works)

- `this.connect(this.model.slider.value.change`
- `this.connect(this.model.slider.value.change`

I will post the working (Panel) code below.

[2020-01-19 16:43] bryevdv commented on #9587
If this is in the notebook you will need to call `output_notebook` again
*after* the custom extension is defined. That is what causes the extension
definition to exist on the JS side in the notebook.

On Sunday, January 19, 2020, Marc Skov Madsen <notifications@github.com>
wrote:

[2020-01-19 17:00] MarcSkovMadsen commented on #9587
This is the Panel code that worked for me

`custom.py` is

[code]

and `custom.ts`

[code]

![custom_works](https://user-images.githubusercontent.com/42288570/72684974-992ce700-3ae5-11ea-8546-f515dfe20eb4.gif)

[2020-01-19 17:59] MarcSkovMadsen commented on #9587
This Bokeh code works in a notebook to display in a browser tab

[code]

[2020-01-19 18:04] MarcSkovMadsen commented on #9587
This Bokeh code works in a notebook to display in a notebook. But as @bryevdv wrote you need to use `output_notebook` after the instantiation of the `Custom` model

[code]

![image](https://user-images.githubusercontent.com/42288570/72685869-77842d80-3aee-11ea-8d3e-db07ee694566.png)

[2020-01-19 22:47] jensencl commented on #9584
@bryevdv I'm sorry I didn't get back to you the other day Bryan. I am still planning on working on this. I left work Friday evening and have had a pretty hectic weekend. I set everything up on my computer at work and I am having troubles remoting into it, but I will be getting on this first thing Tuesday morning when we go back into work.

I would be working on this right now if I could. I'm glad

[2020-01-20 01:19] dkapitan commented on #9581
After reading [Jake's article on conda vs pip](https://jakevdp.github.io/blog/2016/08/25/conda-myths-and-misconceptions/) am inclined to stick to conda.

[2020-01-20 03:12] bryevdv commented on #9584
@jensencl Awesome FYI there's no hurry so please work at any pace that works for you :)

[2020-01-20 04:10] #9587 closed

[2020-01-20 09:05] dkapitan commented on #9581
@bryevdv @Karel-van-de-Plassche

Hmm, getting a bit confused now. Have build the miniconda3 images from continuumio and getting huge difference in image size.

Not sure what's causing this?

[code]

[2020-01-20 09:55] cvdelannoy commented on #4567
Indeed Python-side changes to `active_scroll` (or `active_drag` etc.) attribute didn't work for me either. Then I tried changing what I assumed was the corresponding JS attribute, but nothing happens:
[code]
Are there any other workarounds I could try for now?

[2020-01-20 10:00] Karel-van-de-Plassche commented on #9581
In general a miniconda/anaconda/conda distribution is way larger than a 'bare' python distribution. So maybe you were comparing debian + bare python vs alpine + miniconda before? If we care about size, you can try and strip the conda image down, e.g. https://jcrist.github.io/conda-docker-tips.html

[2020-01-20 15:54] mattpap opened #9589 "Allow to invalidate sampledata cache"
[code]

[2020-01-20 16:25] dkapitan commented on #9581
@bryevdv @Karel-van-de-Plassche

So I have done a short comparison of different images from https://hub.docker.com which seemed legit to me. My aim is to get a feel of the base Python 3.7 image that already has the compiled non-Python libraries installed (uncompressed image size).

|  | Alpine | Debian slim |
|:---|:---|:---|
|pip | [jfloff/alpine-python:3.7-slim](https://hub.docker.com/r/jfloff/a

[2020-01-20 18:18] #9406 closed

[2020-01-20 18:19] bryevdv commented on #9589
This must be a change in pandas?

[2020-01-20 18:46] mattpap commented on #9589
Linux, pandas 0.25.3.

[2020-01-20 19:01] bryevdv commented on #9589
That's the same version used in the (successful) CI docs build on linux:

https://github.com/bokeh/bokeh/pull/9588/checks?check_run_id=399074120

I def can't repro any issue on OS X with 0.25.3 (runing the `hover_glyph.py` example directly, not building the docs)

[2020-01-21 01:00] jundl77 opened #9592 "Slowness while rendering bokeh application"
### Problem

I experience significant slowness (delays of up to 10+ sec) when I have 5-6 UI elements in a tab, and starting at as few as 2-3 tabs. **When opening multiple tabs at the same time, bokeh stalls and eventually completely freezes. This is with almost no data.**

Bokeh version: ```1.4.0```

### Example

I have written a small example demonstrating this on my machine (Mac OSX). Given the

[2020-01-21 04:54] bryevdv commented on #9592
Thanks for the complete example @jundl77 FYI I have edited the example to just be a single file rather than directory style app. Also I updated to remove the`widgetbox`. It's not necessary and also is deprecated and will be removed in Bokeh 2.0 in any case.

cc @mattpap I assume this is just another example of the other recent layout performance issues, in which case we can link them for reference

[2020-01-21 05:39] ashvin777 opened #9594 "[BUG] Webpack + Bokehjs - Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"
I am using Webpack 4.x and BokehJS 1.4 to create different charts. While building the code, I am getting below error messages about Critical Dependencies.  However, the chart is rendered properly.  Is it possible to disable these warning statements??

[code]
[code]

[2020-01-21 08:38] jundl77 commented on #9592
Thanks for the quick response (again).

One thing that crossed my mind is that I saw on other issues/posts that calculating the layout is (or once was) part of the slowness, or has that changed? If so, is it somehow possible to minimize or forgo the layouting system? As in, are there UI elements that require less layouting than others, maybe some that you can literally hard code the size and coord

[2020-01-21 09:00] bmeatayi commented on #9577
Thanks for the responses.

Here you can find a minimal script for reproducing this issue.

[code]
Interestingly, trying different values for `p.x_range.follow_interval` and `rollover`, it seems that this problem occurs when the `rollover` value is considerably larger than `follow_interval`. So, I think you are right and it might be a data mapping problem.

[2020-01-21 10:45] p-himik commented on #4416
I would not remove `offset` - the name is already used in other similar places.
I would just extend `offset` to support 1/2/3/4-value tuples (although, this is a backwards incompatible change if we decide to treat a single value as a 4-value tuple where all values are the same, to be consistent with CSS) and _maybe_ add `offset_{left|right|top|bottom}` properties.
"_Maybe_" because I'm not sure ho

[2020-01-21 12:00] jensencl commented on #9584
@bryevdv @bokeh/dev

Bryan,
Below is a snip of what I currently have in the tables.py file. I tried to be as descriptive as possible and may have gone a bit overboard with the example and/or explanation. Please let me know what you think. I was getting started on creating the PR (pull request, right?). This is admittedly the first one I have done, so I want to make sure I do it right, I am trying

[2020-01-21 12:31] jensencl commented on #9584
I also did a little digging in the package this morning and it looks like the JS file I am looking for might be located at: \bokehjs>build\js>bokeh-tables.js

Am I at least in the right neighborhood?

[2020-01-21 12:40] mattpap commented on #9589
The problem is with sample data being updated, but `~/.bokeh/data` not being invalidated. All downloaded sample data should be hashed and checked before usage. If there's a mismatch, then it should be downloaded again.

[2020-01-21 16:42] bryevdv commented on #9594
@ashvin777 these warnings are not coming *from* Bokeh, and I am  not sure they can be turned off, that's really a webpack question. The models you list above are basically all "CustomJS" type models which are explicitly provided as a mechanism for dynamically injecting JS code from Python. Not having static dependencies is fundamentally part of what they are for. I'm not sure what we could do beyo

[2020-01-21 16:47] Rajatsharma07 opened #9596 "How to update the Figure attributes (x_range) after the Figure is already created using bokeh 1.4 ?"
# Figure Object already created
 lst_category= df['category'].unique()
p = figure(
                # I don't want to set x_range here, after 'p' is created
                # x_range=lst_category,
                title="Title",
                plot_height=800,
                plot_width=600,
                background_fill_color="#f9f9f9",
            )

p.x_range = lst_category # I want to do like

[2020-01-21 17:08] bryevdv commented on #9596
Hi @Rajatsharma07, the GitHub issue tracker is reserved for bug reports and feature requests. For that general support or help with usage questions, please consider the [Project Discourse](https://discourse.bokeh.org).

[2020-01-21 17:08] #9596 closed

[2020-01-21 17:14] bryevdv commented on #9589
When and how often is the data updated? And why was this particular file updated recently at all? The recent work to add hashes put the hashes in the python package itself. That obviously only makes sense on the assumption that the already published data files don't ever really change, which I thought was in fact the case. I would like to learn why it is not.

[2020-01-22 00:46] bryevdv opened #9597 "Flaky integration tests"
Although much better now, there are still a few flaky Selenium tests. Seems to be mostly some of the edit tool tests. It's possible the issue is down to explicit waits as it was in the case of other flaky tests.

[2020-01-22 05:33] bryevdv commented on #4567
No the issue is missing event plumbing, there is not going to be any obvious or simple way to work around

[2020-01-22 05:43] bryevdv commented on #9584
@jensencl That's a good resource for PRs, TLDR the basic steps are:

* fork repo
* clone forked repo locally
* make changes
* push changes back to GH

Then you can open a PR from your fork.

The helpstring is great. In general, the existing ones in the project are too short and would be better if they were more like yours. We will want to tweak some formatting but can discuss that in the PR.

For

[2020-01-22 06:57] p-himik commented on #4567
That's what I use in one of my project:
[code]

[2020-01-22 15:03] mattpap commented on #9594
This has been fixed in PR #9348 (2.0.0-dev). We don't use `require()` anymore. bokehjs' components should bundle without any warnings or errors in webpack and alike.

[2020-01-22 15:03] #9594 closed

[2020-01-22 15:07] mattpap commented on #9594
This seems too cumbersome. I think the solution suggested in #9411 is a better approach.

[2020-01-22 15:12] mattpap commented on #9411
This seems too restrictive. We should only limit dynamically added JS. Bundled extensions, especially originating from wher bokehjs was loaded, should be fine.

[2020-01-22 19:58] tedbunny commented on #7497
Hey, I am having the same problem, but now the toolbar shows up as a blank div in my html page when rendering, anything wrong with my code?

from bokeh.models import HoverTool, ResetTool, SaveTool
from bokeh.models.tools import Toolbar,  ToolbarBox

    plt = figure(... , toolbar_location=None)
    tools = [HoverTool(),ResetTool(), SaveTool()]
    plt.tools= tools
    toolBarBox = ToolbarBox()

[2020-01-22 21:20] bryevdv commented on #7497
@tedbunny That sounds unrelated to this old issue. I would suggest making a new issue, to avoid confusing potentially unrelated things together. We need full version information, and more important than anything: *a complete, minimal reproducer* that we can run to investigate.

[2020-01-22 22:04] tedbunny commented on #7497
Thanks for the advice!

[2020-01-23 02:35] thoth291 commented on #8726
Is this: https://github.com/holoviz/panel/issues/983 the same issue?
How to fix the width of the tabs so that this wouldn't happen?

[2020-01-23 13:27] philippjfr commented on #8726
@thoth291 This is a separate issue, this issue was about the tabs header collapsing your issue is about spaces being stripped from the title.

[2020-01-23 13:28] philippjfr commented on #8726
I think what you want is an equal_header_width option (would need to find a better name) on tabs that ensures that the tab headers are all the same width.

[2020-01-23 17:22] thoth291 opened #9602 "[FEATURE] equal_header_width option on tabs"
Hi,
What about to implement "equal_header_width option (would need to find a better name) on tabs that ensures that the tab headers are all the same width."?
Or somehow guarantee the width of each individual tab - but then fonts and character sizes in pixels start to mess the picture.

You can see the suggestion here: https://github.com/bokeh/bokeh/issues/8726#issuecomment-577681289
And the illust

[2020-01-23 20:43] tedbunny opened #9603 "Disappearing Toolbar used with Django/Bokeh"
Hello, I am trying to publish graphs on blogs where the user can save and interact with the plots (appeal of Bokeh), but I can't seem to see the toolbar when I render it onto an HTML page via Django.
I am using Bokeh v.0.13.0, and Django 2.2.6.

Here's a preview of what the code is supposed to show (incl. the toolbar) that works:

[code]

Here's what it looks offline:
<img width="566" alt="html-fi

[2020-01-23 21:09] #9603 closed

[2020-01-23 21:10] tedbunny commented on #9603
I created another HTML page only importing the CDN for the javascript, I forgot the CSS, my bad, continue the great work devs!

[2020-01-24 18:12] mattpap commented on #9603
That's a pretty ancient version of bokeh. Starting with bokeh 1.x (I don't remember which exactly) we started shipping CSS as a part of JS bundles, so there is no need to remember about including respective CSS files.

[2020-01-25 00:22] nirAlt19 opened #9605 "AutocompleteInput does not handle "manual" changes well"
bokeh --version
1.4.0

python --version
Python 3.7.6

Expected: AutocompleteInput reflects any text changes made in the text input box, no matter how they got there.
Actual: When changing the value in the textbox, the values reflected in the textbox are the last change made from the completions list.

It might easily be different than what the value property of the widget actually holds. The chang

[2020-01-25 05:45] bryevdv commented on #9605
I am unable to reproduce this, a screen capture would go a long way  towards helping see exactly what you are are seeing.

That said, offhand, I think the text box should clear to an empty value if a user tries to hit enter on a non-acceptable value. Other ideas are welcome.

[2020-01-25 09:14] Gordonei commented on #9435
Hey, @mattpap - do you mind commenting on the above?

Probably the most pressing question I have at this point is where the `elementid` value for server documents' `RenderItem` are assigned.

[2020-01-25 11:36] nirAlt19 commented on #9605
Sorry, it should have said "the textbox still shows 10", in case you used the substring "10" to search 100001.

I've changed the code to output the current value.

[code]

[2020-01-25 11:39] nirAlt19 commented on #9605
I think there is a room to customize this option - allow the developer to decide whether the user can enter any text to change the value, clear the box or reverting back to the last value. But this must be reflected somewhere in the attributes and trigger a catch-able on_change...

[2020-01-26 19:14] #9524 closed

[2020-01-26 19:50] philippjfr opened #9607 "[BUG] Slider direction, orientation, tooltips and show_value properties not connected"
On current master changes to the AbstractSlider direction, orientation, tooltips and show_values properties are not connected up in `connect_signals` so changing them has not effect until something else triggers a rerender.

[2020-01-26 22:12] #9607 closed

[2020-01-26 23:47] bryevdv opened #9611 "[BUG] Bokeh server apps do not run with minified resources"
cc @mattpap

Running any app with minified resources fails:

<img width="666" alt="Screen Shot 2020-01-26 at 3 46 05 PM" src="https://user-images.githubusercontent.com/1078448/73143781-0a731980-4053-11ea-9fc1-b6f594e27f98.png">

Setting `BOKEH_MINIFIED=no` allows the app to run.

Have not had a chance to bisect yet.

[2020-01-26 23:49] bryevdv opened #9612 "[BUG] Reloading spectrogram app can glitch"
On some page reloads the spectrogram app does this:

<img width="1178" alt="Screen Shot 2020-01-26 at 3 48 26 PM" src="https://user-images.githubusercontent.com/1078448/73143808-57ef8680-4053-11ea-9b66-d991ee1af801.png">

[2020-01-27 00:02] nick-0 opened #9613 "[BUG]"
I have a CDS which fires a python callback, but not the JS callback. I am under the impression that both should fire at the same event. In the example below when I modify a cell in the DataTable, the python callback is called, but the JS callback is not.

From Bryan at discourse.bokeh

Python 3.7
bokeh 1.4.0

Simple example below:

[code]

[2020-01-27 00:51] mattpap commented on #9611
Works for me. Perhaps this is a platform specific issue with building bokehjs.

[2020-01-27 03:02] bryevdv commented on #9611
OK it didn't work before after an`npm install` and several rebuilds but ofc it's working now after an `npm clean` and rebuild.

[2020-01-27 03:02] #9611 closed

[2020-01-27 03:14] bryevdv commented on #9612
Offhand, guessing the pixel ratio can get screwed up but not sure why that might be.

[2020-01-27 09:03] mattpap commented on #9611
If you see weird behavior, then cleaning the build (or really invalidating the cache) is a quick way to fix things. However, it's interesting that it only affected minified resources. I suppose the cache invalidation logic is insufficient.

[2020-01-27 14:20] bjarthur commented on #8421
the equivalent fix for `Range1d` is `figure.{x,y}_range.{start,end}`

[2020-01-27 14:42] bryevdv commented on #8421
It's always been possible to update start/end in Range1d or factors on a FactorRange. There are lots of examples of both of these in the docs and gallery and examples folder. This issue is about changing the range *type*, e.g from categorical to numeric.

[2020-01-27 14:59] bjarthur commented on #8421
but `figure.{x,y}_range = Range1d(...)` doesn't dynamically update the axes.  one must use `start` and `stop`.

[2020-01-27 16:34] d-que opened #9616 "[FEATURE] Add export to PNG/SVG functionality to save tool"
First of all: thanks creating this amazing framework.

A useful addition I would find useful would be to add the functionality to export to different formats in the save tool. Similar to what is offered in matplotlibs wx backend. I.e.

![Screenshot 2020-01-27 at 14 46 04](https://user-images.githubusercontent.com/19503424/73184173-ef1c1300-4113-11ea-8d84-2b2516f50a8b.png)

Probably starting out wi

[2020-01-27 17:20] bryevdv commented on #9616
The currently existing `SaveTool` can already generate PNGs from the browser. For other formats I unfortunately don't see a direct path to generate these from the browser, which is what I assume you mean.  This sort of thing can be done in the context of a Bokeh server application, because Bokeh application code is Python can can all out to the (Python) APIs that can generate PNG, SVG, etc. Otherw

[2020-01-27 19:40] mattpap commented on #9412
and found that it now works in the notebook. Is this a suitable workaround or should I be doing something else?

This is a nice workaround. If `__view_module__` starts with `bokeh`, then fully qualified modules, which cause issues here, will be completely disabled. All this hacking should go await in the upcoming 2.0 release.

[2020-01-27 23:19] do1tgood commented on #9187
Experiencing a very similar issue. BoxZoomTool doesn't work in iOS Safari (well, in any browser on iOS **13.x**). But it still works fine on iOS 12.4.4. Actually, this iOS version is a key here. They have implemented PointerEvents in iOS 13. That's why libraries that used to imitate handling touch events started to receive new issues in their repos. Hammer.js too. I've found a workaround which def

[2020-01-27 23:34] bryevdv commented on #9187
Bokeh actually uses Hammer.js under the covers. Do you have any insight into whether things might get addressed in a newer version of Hammer? Definitely any PRs  or concrete suggestions you can provide are very helpful, as this is not an area of deep expertise for the current core devs. Thanks!

[2020-01-28 09:37] d-que commented on #9616
I think the share idea is great and I understand the issues which arise. A solution I thought of implementing for my project (standalone html) I plan to implement is the following:

- Make a initially not visible second figure with SVG backend with
- Create button with JS callback to all data of want to plot into SVG figure
- Implement a toggle to make second figure visible and hide main figure
-

[2020-01-28 10:12] mattpap commented on #9187
Looking at the state of that project, it's unlikely to get any fixes, unless someone forks it.

[2020-01-28 11:04] garrettseepersad commented on #7317
+1

[2020-01-28 19:46] #9187 closed

[2020-01-28 19:48] bryevdv commented on #9187
Well, we first adopted it ~7 years ago so perhaps not surprising. Maybe there is a similar, more up to date library available these days. @DarkCyTic any thoughts or suggestions welcome

[2020-01-29 11:08] amichaut commented on #6031
Hi! Coming back to bokeh after a few years, and I was hoping that Latex would be easily supported in the meantime. But I see it's not. Sometimes using greek letters is not enough. Is there any ways to use dots/arrows over letters, fraction, integrals etc.? Thanks!

[2020-01-29 17:57] kumaran-14 commented on #9245
@bryevdv I'd like to take an attempt at this. I have built bokeh from source and can start right away.

What should I look into?

[2020-01-29 19:09] bryevdv commented on #9245
Hi @kumaran-14 The `set_select` function is defined on `Model` here:

https://github.com/bokeh/bokeh/blob/master/bokeh/model.py

and on `Document` here:

https://github.com/bokeh/bokeh/blob/master/bokeh/document/document.py

And there are some minimal test (for Document only) here:

https://github.com/bokeh/bokeh/blob/master/tests/unit/bokeh/document/test_document.py#L301

As I recall the issue wa

[2020-01-29 19:13] bryevdv commented on #9245
I guess I should add, the above is the "quick fix" if you want to look in to things a little more deeply, you could see if it's possible to make updates in only one place, in the `query` module:

https://github.com/bokeh/bokeh/blob/master/bokeh/core/query.py

[2020-01-29 19:53] bryevdv commented on #9616
@d-que That might be a serviceable workaround for the time being. I should warn that the SVG export currently has a number of known issues. We do want to fix things as soon as possible, but unfortunately the third-party `canvas2svg` library that it relies on is no longer maintained, so it will be a matter of basically re-building the feature from the ground up. I'd recommend first making sure that

[2020-01-30 03:21] yuji38kwmt opened #9620 "[BUG] `TypeError: u is undefined` occurred when using dataframe that contains `dict`."
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
* Python 3.6.9
    * bokeh 1.4.0
    * pandas 0.25.3
* Xubuntu 18.04
* Firefox 71.0

#### Description of expected behavior and the observed behavior
I executed the following python code.

[code]

#####  Expected behavior
The following  line graph is displayed on html file.
![image](https://user-image

[2020-01-30 03:27] MarcSkovMadsen commented on #9515
My feedback is also that with the help of @philippjfr I had the basic layout (header, sidebar, main) of my app (awesome-panel.org) layout in a Template. Then the app became ok. And testing with the release candidate for Panel 0.8 I actually think the app is pretty fast.

I'm dynamically adding and removing layouts and panes. Something that I was originally told by @bryevdv that I could not expect

[2020-01-30 04:08] MarcSkovMadsen commented on #9538
Any updates on this as this is really a bummer?

[2020-01-30 05:19] bryevdv commented on #9515
I'm glad to hear of your successes @MarcSkovMadsen if you have some bandwidth in the next few months it would be really valuable to try and distill some small purposeful examples and documentation sections that could benefit all users.

[2020-01-30 05:30] bryevdv commented on #9620
@yuji38kwmt dicts are not valid data values to put in a `ColumnDataSource`. CDS columns generally resolve to JS Typed arrays (i.e. they can only hold numbers), or lists of strings. Trying to expand the current capability to include dicts is not justifiable:

* it would be difficult and time-consuming, as it would involve very low-level serialization machinery and therefor require extensive tests
*

[2020-01-30 05:30] #9620 closed

[2020-01-30 08:20] adamerose commented on #9495
I think what you said here should be made clear in the docs. As a newcomer to Bokeh I was just trying to make plots, and seeing that it took over 10 lines of code to make a histogram was discouraging. I think most people doing plotting in Python want to make high level plots and not build things from scratch using glyphs, so Bokeh should mention the wrappers for making high level plots.

It looks

[2020-01-30 16:12] bryevdv commented on #9495
Discounting imports, which any library will have, It takes three lines to make a histogram:
[code]

It does, there is an entire chapter in the User's Guide dedicated to [Exploring Other Tools](https://docs.bokeh.org/en/latest/docs/user_guide/compat.html) built on Bokeh. If you'd like to make a PR contribution to expand or improve that section your effort would be appreciated.

Also, respectfully,

[2020-01-30 19:18] kumaran-14 commented on #9245
@bryevdv I was trying to fix it, but faced some problems.
First I executed the above file, reproduced the error and got the output when I used dict instead. Then I trying to debug and play around for some time. It was all fine and suddenly now I could no longer get the output. The html file shows this error.

[code]

The examples given in the developer documentation run correctly though.
Could you

[2020-01-30 19:36] bryevdv commented on #9245
@kumaran-14 Sure but I really would need some idea of the changes that you made

[2020-01-30 19:38] kumaran-14 commented on #9245
Thats the issue. I tried it after ```git reset --hard```. It still persists.

[2020-01-30 19:39] bryevdv commented on #9245
See above edit about using locally built BokehJS

[2020-01-30 19:47] kumaran-14 commented on #9245
@bryevdv  thanks for the quick response. It works now.
Now, I'm trying ```isinstance(selector, Model)```, which seems to evaluate to false. Is this what you suggested? Or Am I wrong?
Thanks again.

[2020-01-30 20:07] bryevdv commented on #9245
Sorry, mis-typed earlier. These are types so you want `issubclass`:
[code]

[2020-01-30 21:11] kumaran-14 commented on #9245
Thanks.
In `/bokeh/model.py`, I added few these few lines

[code]

Now, In above example, all these work correctly.

[code]

Is this close to what you had in mind? Do you think hardcoding the keyname 'type' is right?

[2020-01-30 21:45] adamerose commented on #9495
@bryevdv Thanks for the response. I guess I was misunderstanding the priorities of Bokeh because I've seen it compared to Plot.ly more often than to low level things like D3, and because I saw the old bokeh.charts API. Looking at the docs again I don't think they are unclear, I just came in with some wrong assumptions.

I guess I should really be comparing EDA solutions like Plotly/Altair/Seaborn/

[2020-01-30 21:57] bryevdv commented on #9495
I think this is a very reasonable assessment.  People can and do use Bokeh for EDA in notebooks but whether any individual does that is really up to a matter of personal taste. There are definitely higher level, more opinionated tools that are custom-created with an eye towards EDA  (Chartify, Holoviews), that are therefore potentially more compelling for the EDA use case.

FWIW I don't consider B

[2020-01-30 22:17] bryevdv commented on #9245
@kumaran-14 I don't think the first two lines:
[code]
are necessary. `dict` is the actual real format for selectors, they should just be passed through as-is. The only task is to check if a passed-in selector value is a `Model` instead of a `dict` and then in that case, construct the `dict` with key "type" as a convenience.

[2020-01-30 23:46] BexDunn commented on #9182
This would be great!

[2020-01-31 01:31] yuji38kwmt commented on #9620
@bryevdv
OK, I see.
But I don't understand why `TypeError: u is undefined` occurred.
Please print log message that dicts are not valid data values to put in a ColumnDataSource.

[2020-01-31 02:30] bryevdv commented on #9620
All of the examples in the docs only ever show numerical arrays, categorical factor values, or colors in CDS. I think we do a decent job in the docs of *implicitly* documenting what is not allowed, by doing a good job of explicitly documenting what *is allowed*. For something as rare as this I am more inclined to simply let this issue serve as the explanation in case anyone ever needs to search fo

[2020-01-31 12:51] kumaran-14 commented on #9245
@bryevdv Sure.
My pre-commit hook `py.test -m codebase` fails due to wrong import order in some files.
I run this on unchanged working tree of bokeh upstream. Any suggestions?

[2020-01-31 16:18] arashgmn commented on #7965
This issue exists even if the x and y ranges are equal. For instance, consider the following simple code that monotonously increases the (x,y) of the center of a circle and also draws the circle itself.
I expect to always see the circle touching the location (0,0). Yet, it detaches from this point.

More interestingly, after the while loop ends, if you zoom in close to the center, you'll see that

[2020-01-31 17:06] bryevdv commented on #7965
@arashgmn you have not set `match_aspect=True`. The data range start/end being the same is irrelevant if the pill extents of those ranges differ. Setting `match_aspect=True` forces the data/screen *aspect ratios* to be identical, which is what actually matters.

Separately, this issues is about an evident discrepancy in how gmaps and bokeh are measure, but that is unrelated to your code.

[2020-01-31 17:12] #9545 closed

[2020-01-31 19:52] p-himik opened #9621 "[BUG] Bad document JSON data leads to a dangling promise returned by `pull_session`"
Suppose I have created a document with a non-existing model. When the `pull_session` is called, I see these messages in the JS console:
[code]
[code]
[code]

It's pretty clear what the culprit is in my particular case.
However, the issue in Bokeh is that in this case the promise returned by `pull_session` is never resolved or rejected. And it makes it seem like `add_document_from_session` is still

[2020-01-31 20:29] p-himik opened #9622 "[BUG] Calling `doc.clear()` can lead to unknown model exceptions"
Consider this snippet of a Bokeh application:
[code]

If `doc.clear()` above is called, it can lead to the `Failed to repull session Error: event model wasn't known` errors.
It seems that just calling `doc.clear()` outside of the callback right at the end of the `app` function doesn't cause such errors.

It's hard to explain what exactly is going on. However, it likely has to do something with my

[2020-01-31 20:34] arashgmn commented on #7965
@bryevdv `match_aspect`, if set true, changes the range and of course by setting both ranges, a fixed frame is what one needs. The problem with the `Circle` however`, as indicated in [#517](https://github.com/bokeh/bokeh/issues/517), and its solution, `match_aspect`, should be of concern whenever the range/scale of the axes are different scales/ranges, unlike my example.

That said, I don't see wh

[2020-01-31 20:43] mattpap commented on #9621
I see this is bokeh 1.3.4. Can you try out most recent 2.0-dev if the issue persists? Recently almost all promise handling code was rewritten to use more manageable async/await syntax, so this problem should go away.

[2020-01-31 20:48] bryevdv commented on #7965
@arashgmn Because the amount of space taken up by the bottom axis is not the same as the amount of space taken up by the left axis. Therefore the central area in the plot frame is *not* square, even though the HTML canvas is. Therefore: the pixel aspect ration and the data aspect ratio *do not match*.

Setting a large `min_border`:
[code]
will for the interior plot frame to be square, and you will

[2020-01-31 21:06] p-himik commented on #9621
`ClientConnection` has not been changed in a long time. The last change certainly predates 1.3.4. And apart from just observing the issue, I tried to understand what's going on using the latest master.
Either way, I have already assigned myself to this issue, so I'll check it when I start working on it.

[2020-01-31 21:09] mattpap commented on #9621
That's a good remainder that I forgot to push the relevant changes.

[2020-02-01 07:51] bryevdv commented on #9575
Not sure how soon this will be unblocked on the GH side. Thinking of just switching to a different scheme for the report location e.g. `<PR #>/<date>`

cc @mattpap

[2020-02-01 10:20] mattpap commented on #9575
We can switch to a different scheme, in fact the proposed one seems better than what we use currently. On a side note, I already implemented locally the scheme for keeping images in the repository (for now in bokehjs' tests), so this issue will be a no-op soon, but given technical issues, this may take another week or so.

[2020-02-01 15:39] bryevdv commented on #9575
When you said store images in the repo I understood that to mean storing
one set of reference images only. Is that correct?

On Saturday, February 1, 2020, Mateusz Paprocki <notifications@github.com>
wrote:

[2020-02-01 19:49] allefeld opened #9623 "Add link to Jupyter chapter from Installation chapter"
The [documentation](https://docs.bokeh.org/en/latest/docs/installation.html) does not mention that for JupyterLab, it is necessary to separately install an extension:

    jupyter labextension install @bokeh/jupyter_bokeh

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Packages installed with conda 4.7.11:
[code]

Debian 10.2, Chrome 79.0.3945.1

[2020-02-01 19:55] bryevdv commented on #9623
@allefeld This information is in a dedicated chapter for notebooks:

http://docs.bokeh.org/en/dev/docs/user_guide/notebook.html

Which has also recently been updated further (as yet unreleased). Note the URL for that chapter will change with Bokeh 2.0 to

http://docs.bokeh.org/en/dev/docs/user_guide/jupyter.html

to reflect a broader scope of information covered.

We will add a link to there from

[2020-02-01 20:00] bryevdv commented on #9341
Since 2.0 will be released by hand, actually re-building the automation is a post-2.0 task, so moving this to `next`

[2020-02-02 01:35] bryevdv commented on #8397
@jakirkham I have reconfigured `cdn.bokeh.org` to respect the necessary CORS policy. I was able to get your HTML file working with links to Bokeh 1.0.2 from the CDN (and it failed to work if I changed the version but not the hash). If you could also test things out to make sure there is not anything I've missed it would be very appreciated.  I should have a file SRI PR this weekend to close this i

[2020-02-02 03:11] jakirkham commented on #8397
That’s awesome! 🎉 Thanks Bryan! 😀 I’ll take a look and get back to you 🙂

[2020-02-02 09:31] kumaran-14 commented on #9245
@bryevdv Sure.
My pre-commit hook `py.test -m codebase` fails due to wrong import order in some files.
I run this on unchanged working tree of bokeh upstream.
How do I fix this?

[2020-02-02 18:55] bryevdv commented on #9245
@kumaran-14 you need to  make sure you have done `pip install channels` first. There is not a conda package for it yet, and `isort` gets confused about some third part vs package imports if it is not installed.

[2020-02-03 05:26] #9623 closed

[2020-02-03 10:07] p-himik commented on #9621
@mattpap Should I wait for you to push something?

[2020-02-03 10:23] mattpap commented on #9621
@p-himik, unfortunately my changes weren't complete. I submitted a partial PR #9630. If you want to take it over and finish it, then go ahead.

[2020-02-03 16:58] Karel-van-de-Plassche commented on #9581
In principle Alpine is stable enough. It's based on Arch linux, which even though it is bleeding edge, I use as my daily system without problems for the past 4 years or so. However, important is that python package need to be recompiled by pip on install, as there are no wheels available. This does mean significant image build/debugging time for the developer. For easy-of-the-developer, maybe a de

[2020-02-03 18:34] dkapitan commented on #9581
@Karel-van-de-Plassche
Thanks for the info. Will indeed stick to Debian for now. Incidentally, my understanding is that Alpine Linux is based on Busybox, and not Arch Linux.

[2020-02-03 18:58] p-himik commented on #9621
Is it OK to change `ClientConnection`'s interface? The class is exported but it's not documented, so it doesn't look like a part of the public API.

[2020-02-03 19:16] bryevdv commented on #9621
@p-himik we have not made any full promises about BokehJS API compatibility. That's probably Bokeh 3.0 territory. What we have said is that the range of usage in existing examples in the docs should continue to work. But we have not demonstrated `ClientConnection` in any way, so I'd say it's fair game (and even to mark as private in some way).

[2020-02-03 20:17] #9394 closed

[2020-02-03 20:23] mattpap commented on #9621
Unfortunately pretty much everything has to be exported, e.g. to allow testing. Neither ES nor TypeScript have a good way (or any way at all) to declare visibility of module-level members properly. We are yet to figure out how to declare internal APIs effectively.

[2020-02-03 21:29] tarocco opened #9631 "scale_both sizing mode appears to behave just like scale_width"
This issue is similar to #7978 and could be a regression issue, or I might be misunderstanding this expected behavior. I also tried [this suggestion](https://github.com/bokeh/bokeh/issues/7978#issuecomment-396379757) by @mattpap to work around the issue, but to no avail because the size of the plot is controlled by scripted logic. `sizing_mode='stretch_both'` is working as expected, however `sizin

[2020-02-03 21:36] p-himik commented on #8608
It was implemented to some extent at some point but was disabled without ever being used in the commit 85b01ba with a message saying:

[2020-02-03 22:09] jsignell commented on #2673
I think this is still an issue in bokeh 1.4.0. When the hover text displays to the left it overflows, but when it displays to the right text is wrapped properly.

![Screenshot from 2020-02-03 17-06-03](https://user-images.githubusercontent.com/4806877/73695223-acc07c00-46a7-11ea-8276-7e5c7ba68f86.png)

![image](https://user-images.githubusercontent.com/4806877/73694975-2d32ad00-46a7-11ea-8940-8b66

[2020-02-03 22:26] jsignell commented on #2673
I think that `left` shouldn't be allowed to be <0 here, but it's not clear to me whether `clientWidth` needs to be smaller too https://github.com/bokeh/bokeh/blob/c1ff8c6fbdd3413dc6e3edf783dc344ea79c7b6d/bokehjs/src/lib/models/annotations/tooltip.ts#L85-L89

[2020-02-04 08:35] p-himik commented on #8608
Some musings:
- It should be easy to implement some notification when a connection is broken.
- A completely automatic reconnection should not be implemented by itself. An optimal solution would be to have a flag that allows a Bokeh user to choose whether to reconnect automatically or not. The reason is that reconnecting will drop any state that interactive plots might have - not everybody wants t

[2020-02-04 10:12] bpriya11 opened #9632 "The bokeh server is redirecting to an empty page"
I have been running my code on Jupyter Notebook using the bokeh server, but I am again and again redirected to the empty page. I even tried this code from google but got the same output.
Here is the code:
from random import random
from bokeh.layouts import column
from bokeh.models import Button
from bokeh.palettes import RdYlBu3
from bokeh.plotting import figure, curdoc
p = figure(x_range=(0, 100)

[2020-02-04 15:10] laurentiupiciu opened #9633 "bokeh.client.pull_session (RuntimeError: connection to server was lost)"
Hello,

I'm trying to embed a bokeh application (server) that creates and renders a scatter plot into a flask application.
I followed the documentation found at https://docs.bokeh.org/en/latest/docs/reference/client/session.html and managed to do this for a 15K 2-dim points dataset. However, when I try to trigger the bokeh application from flask using a bigger dataset (30K points), I receive the f

[2020-02-04 15:43] bryevdv commented on #9632
When I run the code at the link it works as expected. The code you have posted above is not consistent with the error message:
[code]
This error message is stating exactly what what the problem is: you have a syntax error in thecae you are trying to run in the `dd.py` file. In any case this is a usage/support question, so discussion should go on the Project Discourse, not the tracker:

https://dis

[2020-02-04 15:43] #9632 closed

[2020-02-04 22:51] bryevdv commented on #9575
Given the other PR I am going to close this.

[2020-02-04 22:51] #9575 closed

[2020-02-05 02:15] bryevdv commented on #9633
There is a default max websocket size limit, your bigger dataset probably exceeds it. For discussing this usage question further, please use the Project Discourse:

https://discourse.bokeh.org/

[2020-02-05 02:15] #9633 closed

[2020-02-05 02:20] bryevdv commented on #9602
Nothing that the underlying Slickgrid itself does not offer any such option:

https://github.com/mleibman/SlickGrid/wiki/Column-Options

So we would have to compute and set the widths ourselves, but it seems like there would be some pretty ugly API clashes (e.g. how does this interact with explicitly set col widths? How does this interact with columns that are resizable?)

[2020-02-05 02:30] philippjfr commented on #9602
@bryevdv I think @thoth291 is referring to the `Tabs` layout here, not SlickGrid tables.

[2020-02-05 04:39] bryevdv commented on #1449
This issue is no longer valid, the `gridplot` function does not accept a `title` 👍
[code]
This has really never come up as a support issue I am inclined to close with `noaction` and tell people to use `column(div, gridplot)` as a solution.

[2020-02-05 04:39] #1449 closed

[2020-02-05 04:45] bryevdv commented on #2201
I am going to close this with `noaction`. There has not actually been any discernable demand for it all these years, the problem itself as discussed here is underspecified and contentious, and it would pose technical difficulties. On top, there are now things like categorical and continuous color mappers, as well as a marker mapper for the scatter glyph.

[2020-02-05 04:45] #2201 closed

[2020-02-05 04:55] bryevdv commented on #6050
Just noting that there is still fairly bad lag on Chrome on a 16" MBP for e.g.

https://docs.bokeh.org/en/1.4.0/docs/gallery/color_scatter.html

[2020-02-05 04:57] #6074 closed

[2020-02-05 05:32] bryevdv commented on #6517
I don't think I can get the actual symlog scale in this week for 2.0. but should get the breaking class hierarchy change in.

[2020-02-05 05:43] bryevdv commented on #8390
Well, this obviously slipped through my attention net. After (a long) while away, I think actually I've changed opinion and we should just do

This is exactly what we do with non-selection glyphs, and why they "work" and these "don't work".

[2020-02-05 09:44] p-himik commented on #9621
@mattpap To check the changes in an actual environment, I need to install the changed Bokeh version.
So far I tried:
- Installing the Bokeh source directory a an editable Python package.
Doesn't work because it contains `.ts` files and the custom Bokeh models builder doesn't like that
- Building a conda package with `conda-build conda.recipe`.
For some reason, it contains only Python sources
- Run

[2020-02-05 09:46] anthonydouc commented on #4416
Currently offset value shifts the title in a direction parallel to the plot. I would of thought a reasonable compromise is to have `offset_vertical` and `offset_horiztonal`? That just extends the current functionality to shift the title perpendicular to the plot. It also overcomes and avoids defining four additional parameters or a four tuple. If that sounds good i will implement the change soon.

[2020-02-05 09:56] p-himik commented on #9621
Never mind that, I just had to manually remove `bokehjs/build`...

[2020-02-05 10:23] mattpap commented on #9621
This indicates to me that you had a very old setup, so removing the build directory is the only way to go. The new bokehjs' build uses aggressive caching, which can cause weird behavior in some edge cases, so cleaning up the build (by removing it or running `node make clean`) can help in general, especially after a long absence from bokehjs development.

[2020-02-05 10:51] Karel-van-de-Plassche commented on #9581
@dkapitan

You are completely right:

It uses apk for package management

[2020-02-05 15:57] bryevdv opened #9636 "Remove Black Formatting"
Black formatting is becoming increasingly common (and expected), improves diff performance, and is automatible under test, taking stylistic matters out of the realm of debate. It takes a little getting used to (but not that much).

[2020-02-07 02:47] bryevdv commented on #9256
@jxrossel it did jump out to me that you were trying add glyphs renderers from different plots on a asingle legend. This is not currently supported at all. Closing with a reference to #7607

[2020-02-07 02:47] #9256 closed

[2020-02-07 02:50] bryevdv commented on #9249
@birdsarah did you intend to work on this? If not I think it can be closed

[2020-02-07 02:53] bryevdv commented on #8884
I'm not sure anyone cares about this, actually, closing for now.

[2020-02-07 02:53] #8884 closed

[2020-02-07 03:05] bryevdv commented on #3529
@mattpap does your new PR deal with this?

[2020-02-07 05:21] bryevdv commented on #9154
#9182 is a dupe of this but more general, so closing this

[2020-02-07 05:21] #9154 closed

[2020-02-07 05:27] bryevdv commented on #9107
I'm going to go ahead and close this at this point to clean up the tracker. It's here as documentation if anyone else ever runs in to it (tho I have not heard of that happening). @analog-cbarber if you are ever able to submit a PR we would be pleased to accept it.

[2020-02-07 05:27] #9107 closed

[2020-02-07 05:33] bryevdv commented on #9006
Absent any other reports I am going to go ahead and close this

[2020-02-07 05:33] #9006 closed

[2020-02-07 05:35] bryevdv commented on #8768
This was addressed in https://github.com/bokeh/bokeh/pull/9604

[2020-02-07 05:35] #8768 closed

[2020-02-07 05:38] bryevdv commented on #8208
Most of this was recently done

[2020-02-07 05:38] #8208 closed

[2020-02-07 05:39] #7536 closed

[2020-02-07 05:43] bryevdv commented on #7091
#9536 for 2.0 will add the ability to get the rest of the request headers/cookies, or add a hook to add anything else from the HTTP request, through to the app code execution on the WS handler, so closing this.

[2020-02-07 05:43] #7091 closed

[2020-02-07 05:46] bryevdv commented on #6948
#9087 is a dupe of this / how this will be handled, but more current, so closing this.

[2020-02-07 05:46] #6948 closed

[2020-02-07 06:25] bryevdv opened #9639 "Export fails on OSX"
As I noted in the issue about switching to chrome as the default, a long time ago, the default settings do not work on OSX because they use the wrong pixel ratio:

![iris](https://user-images.githubusercontent.com/1078448/74006088-80b72c00-492f-11ea-9e5f-4715ddc80b74.png)

[2020-02-07 06:26] bryevdv commented on #9639
I guess a bigger question is: why are these tests passing on the macos builds on GH CI? Becasue all the chromium export tests fail locally for me.

[2020-02-07 06:29] bryevdv commented on #9639
Here is the relevant issue (that was not referenced by the PR for some reason) https://github.com/bokeh/bokeh/issues/8176

[2020-02-07 06:40] bryevdv commented on #9639
Tho, I am guessing this is happening with FF (so, both) if that is the default?

BTW ` /Applications/Google\ Chrome.app/Contents/MacOS/` is not going to be on anyone's path. You will need to search for `Google Chrome` at that absolute path.

[2020-02-07 10:51] ivan-usov opened #9642 "[BUG] a typo in bokeh/server/tornado.py"
A ValueError description for 'unused_session_lifetime_milliseconds' check in bokeh/server/tornado.py mentions a wrong variable name.

[2020-02-07 13:01] #9642 closed

[2020-02-07 14:20] #9621 closed

[2020-02-07 14:56] mattpap commented on #9639
There are explicit tests for both browsers, i.e. Chromium/Chrome and Firefox, so there is no way you will get let's say Firefox tested twice, though how exactly those tests will fail is a different matter. There is also a default test, so if Chromium/Chrome can't be found on your system, you will be notified. In general, I need test output to have a chance at understanding what's going on, especia

[2020-02-07 15:02] mattpap commented on #9639
The tests didn't catch the difference in pixel ratio, because they disable hidpi transform to have any chance at working across platforms, especially within the confines of unit testing. It's also not clear to me what to expect in terms of pixel ratio on headless systems. We are currently not set up at all to catch such issues. Within the recent work on bokehjs testing, I've been experimenting wit

[2020-02-07 16:10] syntonym opened #9644 "[DOCUMENTATION] Figure documentation mentions Figure properties"
The bokeh.plotting.Figure reference documentation mentions the following (bold mine):

This seems not really helpful to me to figure out which properties are actually accepted by Figure. As `Figure` is basically a Plot with some helper methods, replacing `Figure` by `Plot` seems to make more sense to me:

Personally I would also link Plot to make navigation as easy as possible for users.

[2020-02-07 16:40] bryevdv commented on #9639
[code]

That's it.

Also FYI there is some flakiness in using chromium an CI, just restarted a test with this

E         (chrome not reachable)
E         (The process started from chrome location /usr/bin/google-chrome is no longer running, so ChromeDriver is assuming that Chrome has crashed.)

[2020-02-07 16:50] mattpap commented on #9639
I saw this in some PRs as well. I presume it's selenium or the driver having an issue, because otherwise I didn't have a single problem with starting chrome/chromium when doing things outside of selenium.

[2020-02-07 23:35] #9622 closed

[2020-02-08 05:57] sahajsk21 commented on #9458
I wish to work on this issue but can someone clearly explain what is meant by "the tooltip is not displayed".

[2020-02-09 06:34] DonaldDai opened #9649 "[BUG] No module named 'bokeh.plotting.graph'"
Hey. I was trying to `make html` in `bokeh-master/sphnix` and informed by an error as below. How can I fix it?
[code]
I installed Bokeh by pip, and yes, there is no graph in my library path
[code]

[2020-02-09 06:42] Ak-Bhatia commented on #9636
@bryevdv  Can you please elaborate on this..

[2020-02-09 06:43] Ak-Bhatia commented on #9636
@bryevdv Sir, can you please elaborate on this.

[2020-02-09 13:57] Ak-Bhatia commented on #9568
When None is passed inside the Pandas DataFrame, pandas implicitly converts it into NaN, whereas when None is passed into a dictionary, it remains NoneType only. Also, Vbar_stack uses Vbar sequentially on various stackers(a,b,c) and values of those stackers(a,b,c) are sequentially passed onto stack (in case of Vbar_stack, it uses double_stack i.e one for top value and another for bottom value). To

[2020-02-09 14:05] Ak-Bhatia commented on #9568
When None is passed inside the Pandas DataFrame, pandas implicitly converts it into NaN, whereas when None is passed into a dictionary, it remains NoneType only. Also, Vbar_stack uses Vbar sequentially on various stackers(a,b,c) and values of those stackers(a,b,c) are sequentially passed onto stack (in case of Vbar_stack, it uses double_stack i.e one for top value and another for bottom value). To

[2020-02-09 16:13] bryevdv commented on #9649
That module is not part of any release yet, it only currently exists in the source tree. You will either have to:

* build and install from the source tree (not pip), or

* git checkout the repo tag corresponding the the pip installed version

[2020-02-09 16:13] #9649 closed

[2020-02-09 16:25] bryevdv commented on #9568
Changing user data (i.e. converting nan's to zero) might appropriate for a higher level library built on Bokeh, but I do not support that action for Bokeh itself. As it is currently CDS hols a reference to the pandas series, so doing this either means:

* Changing actual user data silently out from under then
* Adding new logging to copy ever pandas series or numpy array instead of just keeping a

[2020-02-09 16:27] bryevdv commented on #9636
Refers to:

https://black.readthedocs.io/en/stable/

However give the scale of changes that will land, this is a task only the core team will be able to execute.

[2020-02-09 17:04] Hemansh31 commented on #9568
@bryevdv can I work on this issue. Also, this is my first time ever contributing to an open source code it would be real helpful if you could guide me a little bit :-)

[2020-02-09 17:10] bryevdv commented on #9568
@Hemansh31 That'd be great, the first step is to be able to build BokehJS locally. Id suggest going through our Developer's Guide "Getting Set Up" chapter:

https://docs.bokeh.org/en/1.4.0/docs/dev_guide/setup.html#devguide-setup

Let us know if you encounter any difficulties along the way.

[2020-02-09 17:11] Ak-Bhatia commented on #9568
Oh..I wanted to work on this issue..

[2020-02-09 17:12] Hemansh31 commented on #9568
@bryevdv I have gone through this and have already setup everything

[2020-02-09 17:12] bryevdv commented on #9458
@sahajsk21 The issue is referring to the hovering display for the Hover Tool:

https://docs.bokeh.org/en/1.4.0/docs/user_guide/tools.html#hovertool

[2020-02-09 17:25] bryevdv commented on #9568
@Ak-Bhatia @Hemansh31 I don't have the ability to "assign" issues to volunteer contributors, and conversely, except for Code of Conduct violations, I don't have any ability to "block" anyone from submitting PRs, either. Perhaps you can both collaborate on this issue? (Or collaborate on two issues)

Regardless, I believe this relevant file is here:

https://github.com/bokeh/bokeh/blob/master/bokehj

[2020-02-09 18:13] Hemansh31 commented on #9568
@bryevdv  I have tried some changes in the code and tried to build the BokehJS post that according to the instructions in the guide but unfortunately my changes are not getting reflected. A little help please!!!

[2020-02-09 19:19] mattpap opened #9650 "Terminate firefox after usage in io.export"
I've noticed that there is bunch of orphaned processes left behind on CI.

[2020-02-10 18:21] philippjfr opened #9651 "[BUG] Undocumented API removals in 2.0"
Currently trying to update the HoloViz stack to bokeh 2.0 compatibility and running into some undocumented deprecations:

* `bokeh.io.create_webdriver` removed (see https://github.com/bokeh/bokeh/pull/9331#discussion_r376234181)
* `bokeh.plotting.helpers` removed
* `AbstractButton` clicks property removed

I'll keep adding to these as I encounter these.

Reference: https://docs.bokeh.org/en/dev/do

[2020-02-10 18:33] bryevdv commented on #9568
If you've made local changes to BokehJS, then you will want to use "inline" resources, so that th local version of BokehJS with the changes is actually used when you create output. There are various ways to do that, I usually set the environment variable `BOKEH_RESOURCES=inline`.

FYI for general dev questions not specifically related to the implementation of this PR, I'd suggest moving to the Dis

[2020-02-10 19:05] #9245 closed

[2020-02-10 20:20] crdietrich opened #9652 "Task - convert deps.py to requirements.txt and environment.yml"
The goal would be to have single install files using conda and pip, with a minimum of extra install steps.  There would still need to be a script to generate these two from meta.yml, possibly deps.py.  Also, this might simplify the commands across OSX/Linux/Windows.

Referencing the install commands, convert the current installation method (linux bash example):
[code]
to using something like:
[cod

[2020-02-10 21:10] birdsarah commented on #9249
I did. Whether I'll get to it any time soon is an open question.....if I can re-open it at a later date if I get motivated then I'm fine with closing. This also seems like it would be a good intro issue.

I noticed this is still labeled a discussion - is this really still a discussion as opposed to a feature. I thought we'd had the discussion and settled on a path. Are you wanting to close it as a

[2020-02-10 21:16] bryevdv commented on #9249
I'd consider it a task, but it was only still `discussion` because no one happened to change it. I'm not pressed to close if you think there it's still good to keep open, just checking in on things.

[2020-02-10 21:17] birdsarah commented on #9249
it's definitely an improvement i'd love to see happen, and i will work on it, if it comes up.

[2020-02-10 21:18] tomasrojasc commented on #737
Hi! I really need this feature, since I am ussing data from two different sensors so when I merge the two dataframes of the sensors, in order to have interactivity, I get discontinuities but not because of my data is bad, but because many points where one sensor has data, the other does not

[2020-02-10 21:30] bryevdv commented on #737
Hi @tomasrojasc Any change in line rendering would be have to added behind a flag (that is off by default). Are you interested to work on this? I would say at this point that the best chance for this to be added is for a new contributor to decided that it is important enough to work on.

[2020-02-10 23:14] tomasrojasc commented on #737
Hi @bryevdv I can give it a shot but I really dont know if I will be able to do it

[2020-02-11 11:18] p-himik opened #9653 "[BUG] In some situations, Slider may lose its `on_change` callbacks"
### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.0.0dev6 (ad6dbf076fe94ffd5613a83338ba9517ca510320)

#### Description of expected behavior and the observed behavior
After receiving the initial pull doc response, a client generates a diff (because some models may change something during instantiation) and sends the resulting patch back.
If an

[2020-02-11 17:51] jeremy9959 opened #9654 "[FEATURE] Iterate over submodels of a model and draw submodel graph"
It would be useful to be able to iterate over the submodel structure of a given bokeh model,
and to view the submodel graph, both a way to better understand how bokeh is put together and to more efficiently manipulate attributes of submodels.

I have a proposed solution that constructs a networkx DiGraph of submodels and displays it in a bokeh graph using the graph rendering tools.

I showed this

[2020-02-12 00:40] peteribanks opened #9656 "File Import Not Working"
Hello,

I'm trying to learn how to use bokeh and I've run into a problem. When using Bokeh in a jupyter notebook all of the widgets work with the exception of 'FileInput'. When I run the code from the documentation shown below.

from bokeh.io import output_file, show
from bokeh.models.widgets import FileInput

output_file("file_input.html")

file_input = FileInput()

show(file_input)

I get the fo

[2020-02-12 00:52] bryevdv commented on #9656
That most likely means that your installed version of Bokeh is too old. In the future, please use the Project Discourse for support/usage questions.

https://discourse.bokeh.org/

[2020-02-12 00:52] #9656 closed

[2020-02-12 12:32] marcuskd commented on #9412
Thanks @mattpap.

[2020-02-12 13:42] p-himik opened #9657 "[BUG] Impossible to update `DataCube`'s data source"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.0.0dev6

#### Description of expected behavior and the observed behavior
Triggering `source.change.emit()` on the data source of a data cube results in
[code]
The issue is that the base `DataTable` class attempts to sort the index when the data source is changed. And `DataCube` doesn't have a

[2020-02-12 20:22] p-himik opened #9658 "[BUG] Unable to use async callbacks in `add_next_tick_callback` and the like"
### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.0.0dev6

#### Description of expected behavior and the observed behavior
It should be possible to use async callbacks in `add_next_tick_callback`. However, such callbacks are never executed and result in `RuntimeWarning: coroutine 'f' was never awaited`.

#### Complete, minimal, self-contained

[2020-02-13 18:46] philippjfr opened #9661 "Allow configuring location of lifecycle and request handler hooks per app"
Directory style apps have long supported a `server_lifecycle.py` file to define lifecycle hooks for a long time. In #9536 we added support for loading these hooks (and an additional `process_request` hook) from a `app_hooks.py` file. Ideally this would be configurable per app.

[2020-02-13 19:58] bryevdv commented on #9652
The idea here would be to change `deps.py` to generate these files (which would then get checked in) and then add a test to make sure that the files are kept up to date with the `meta.yaml` source of truth. That should make getting set up and running for dev more "normal" and similar to the typical python experience.

[2020-02-13 20:01] jeremy9959 commented on #9652
Actually I have one other question on this general topic.  When I wanted to test my proposed new code I needed to use version 1.4 of bokeh.  The bokeh repo master branch comes in at the cutting edge. I checked out v1.4.0 so that was ok but I'm not sure if that's the correct approach for contributing in other ways.  I wonder if there's a place where I can read about the right git protocol for contr

[2020-02-13 20:05] bryevdv commented on #9652
Well, a couple of comments:

* We generally only have one line of development off master. With a few exceptions, we are just not resourced to be able to support mulitple lines of development at once.
* So if you are looking to add a new feature or  bugfix you should generally always be working against a recent branch off latest master
* If you are asking about how to use latest BokehJS versions, o

[2020-02-13 20:55] kumaran-14 commented on #9458
@bryevdv Can I take this up?
I've looked at the demo and reproduced the behaviour.
The link which you provided shows the correct usage which shows data on `vline` type hover.
I can try dig in to find out why this happens. What do you think about this?

[2020-02-13 21:15] bryevdv commented on #9458
@kumaran-14 Any one can take up any issue they please :) I think it would be great if you are able to look in to this. Specifically, the hit testing for `Segment` glyphs agains "spans" (e.g. a vline or hline) is here:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/glyphs/segment.ts#L95-L124

That's probably what would need to be modified.

[2020-02-14 07:44] isaacto opened #9663 "[BUG] data value tooltip incorrect on figure.image with log scale"
bokeh: 1.4.0
python: 3.7.5rc1
Jupyter: 1.0.0
OS: Linux, Ubuntu 19.10

I modified the example in Bokeh gallery called image.py so that one of the axis is in log scale.  While the figure is correct, the tooltips is not.  When hovering on a region with x being a multiple of pi, I expect to get a value close to 0.  But it usually does not.

My image map has x value between 1 to 10, in log scale.  In t

[2020-02-14 15:25] gbei93 opened #9664 "[BUG] Can't update vbar plot with categorical data"
I am running a Bokeh server, and I would like to have a figure with a bar plot that display categorical data where:
 * the plot is empty at the beginning
 * as a consequence of some user actions, bars can be added to the plot (one at time)

Note that the data required to compute the height of each bar depends on the user input, so it's not possible to load all data at once.

I tried to implement t

[2020-02-14 16:51] bryevdv commented on #9664
@gbei93 this seems like a support question (there are definitely some usage issue with the code as-is) I am happy to discuss but we should start on the Discourse. We can re-open if there is determined to be any specific action to take.

https://discourse.bokeh.org/

[2020-02-14 16:51] #9664 closed

[2020-02-14 16:57] bryevdv commented on #9663
@isaacto can you please experiment with other glyphs on a log axis and report back? We need to nail do whether this is a hover problem with log axes in general, or just somehow with images.

[2020-02-14 18:02] #9505 closed

[2020-02-14 18:02] bryevdv commented on #3458
This was closed by https://github.com/bokeh/bokeh/pull/9536

[2020-02-14 18:02] #3458 closed

[2020-02-14 18:10] bryevdv commented on #9074
This was closed in #9536

[2020-02-14 18:10] #9074 closed

[2020-02-14 18:25] bryevdv commented on #3725
I think I a going to go ahead and close this with `noaction`

* we don't really encourage this kind of usage (modifying a session up front, yes, but not re-connecting and tweaking it later)
* direct query check would likely be susceptible to race conditions
* has not been any other feedback requesting in 4 years
* could potentially be rolled in to the issue for "pre-flight" check

[2020-02-14 18:25] #3725 closed

[2020-02-14 18:29] bryevdv commented on #9416
@philippjfr do you have any thoughts about this? It seems to dovetail with #9536 somewhat, except on the response side. I might try to do something quickly for this for 2.0 but would like some opinions on what the API/hooks should look like.

[2020-02-14 18:35] philippjfr commented on #9416
It seems sensible to allow configuring headers via a CLI argument and as an argument to the server. I already had to set some default headers on the AutoloadJsHandler (see https://github.com/bokeh/bokeh/blob/master/bokeh/server/views/autoload_js_handler.py#L54) to allow the XMLHttpRequest in the autoload tag to fetch the autoload script without violating CORS. Allowing that to be configurable for

[2020-02-14 18:41] bryevdv commented on #9636
Expanding on the benefits that doing this affords:

* Black formatting is structured explicitly to reduce diff noise
* Fully automatable formatting removes formatting completely as a topic for discussion
* It is increasingly becoming a standard expectation on OSS python projects
* Sets clear and unambiguous expectations for contributors

"I don't personally love it" is not a sufficient reason to n

[2020-02-14 20:44] RyanRio opened #9666 "Django Integration: Documentation and URL handling"
Created from discussion around [this discourse topic](https://discourse.bokeh.org/t/configuration-of-bokeh-channels-integration/4643/4).

The main feature I am interested in is properly using `autoload` from `bokeh.server.django` to access a bokeh app without mangling the url in the request function. To demonstrate this, consider the django project named `project` and just using views/urls within

[2020-02-15 03:52] bryevdv opened #9667 "Defaults tests are not running"
Make a change on the JS side:
[code]
And no failure occurs. It appears that no `test:defaults` task is running at all:
[code]

[2020-02-15 05:13] bryevdv commented on #9667
OK so the tests fail if I run `node make` first and then re-run `node make test`. FWIW it did not used to be that way, any changes in the source were immediately picked up by running the tests. I'm also not sure offhand why the tests in #9619 are not failing.

[2020-02-15 06:05] bryevdv commented on #9644
@syntonym thanks for the issue. I think it's best to keep the text as-is, since it is technically correct, and in the even that properties are added to `Figure` (which is entirely possible), then it will *stay* correct. But I agree that it is strange that the `Figure` proprties mentioned are not actually listed on that same page. I've updated the issue to reflect that task.

[2020-02-15 06:16] bryevdv commented on #9631
The repo example also demonstrates that `scale_both` does not rescale in response to height changes;

https://github.com/bokeh/bokeh/blob/master/examples/plotting/file/sizing_mode.py

Given that `stretch_both` does correctly resize including to height changes,  it seems plausible that `scale_both` can also respond correctly.

[2020-02-15 07:26] bryevdv commented on #9666
@mattpap @philippjfr I asked for the issue to be made because I'm not sure it points to a need for docs/examples, or if there is some useful feature work that could be prompted

[2020-02-15 18:01] #9658 closed

[2020-02-15 22:31] p-himik opened #9669 "[FEATURE] Make it possible to write code without excessive usage of document callbacks"
**Is your feature request related to a problem? Please describe.**
Consider this simple code:
[code]
It looks great - there's nothing to simplify (except for maybe that unused `event` argument, but that's another story).
The issue is that when you press the button, there's no "started" text displayed. The document stays locked for the whole duration of `cb`, no updates get out during the time of i

[2020-02-16 05:24] mmcguffi commented on #9492
I know this is closed, but I do not understand some of the technical explanation of why this does not work as mentioned by @anthonydouc and @bryevdv above. This bug essentially kills my project (interactive circular DNA visualization). Is there any possible workaround? Thank you!

[2020-02-16 07:51] p-himik commented on #9669
It seems that locking is used when:
1. The document is pulled
2. The document is pushed
3. The document is patched
4. The session is discarded
5. A document callback is called

I can see how locking might be useful for (1), (2), (3), and (4). The irony is only (5) can be asynchronous. (1-4) don't use async at all, only the code that calls such operations, before locking.
For (5) scenarios with bot

[2020-02-16 08:32] MarcSkovMadsen opened #9671 "[FEATURE] Enable the Server to serve apps at sub urls like /gallery/image-classifier"
#### My Pain

Normally I combine many subapps into one major app and I would like to use the url to structure these logically. And sometimes there is also an underlying REST API url structure I would like to mimic.

For example at awesome-panel.org i have a gallery of apps that I would like to my users to be able to bookmark and share deep links to.

I can use `panel.Serve` which uses the bokeh `S

[2020-02-16 10:53] xavArtley opened #9672 "[BUG] Spinner error for steps <= 1e-7"
In javascript to get the number of significative digits we use the toString function on the step value.
It works well as long as the step is >= 1e-6 since :
[code]
return "0.000001"
However
[code]
return "1e-7" and all the logic of the function
https://github.com/bokeh/bokeh/blob/28f9226dee9d0895b84c5e86574fc215228a1bea/bokehjs/src/lib/models/widgets/spinner.ts#L9-L13

failed.
Solution is to repla

[2020-02-16 10:57] xavArtley opened #9673 "[TEST] More tests on the spinner should be added"
I open this issue to keep track of the task:

_Originally posted by @bryevdv in https://github.com/bokeh/bokeh/pull/9355#issuecomment-549165803_

[2020-02-16 11:13] yanwencheng opened #9674 "What should I do if I want to embed bokeh in Django? And it can update the document"
The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh Project Discourse](https://discourse.bokeh.org).
What should I do if I want to embed bokeh in Django? And it can update the document

[2020-02-16 11:44] #9667 closed

[2020-02-16 11:45] #9650 closed

[2020-02-16 12:41] anthonydouc commented on #9492
Assuming nothing has changed, when I last checked the issue encountered above only occurs when the `x_range` and `y_range` of the chart were not equal. This causes an issue in the implemented hit test algorithm, so it does not correctly identify when someone hovers over the glyph. So from what I can tell, the only two workarounds are:

- Set the x_range equal to the y_range, or

- Remove the initi

[2020-02-16 15:42] xavArtley opened #9676 "[BUG] Selenium required to build extensions"
After trying to compile panel with bokeh 2.0 I encounter this problem:

https://github.com/holoviz/panel/pull/905#issuecomment-586711398

[2020-02-16 15:46] bryevdv commented on #9676
We should add selenium to the min deps tests

[2020-02-16 15:50] bryevdv commented on #9672
@xavArtley  Please test with a 2.0 Dev build.  The slider implementation was replaced with a new one that does not use strong munging at all.
[code]

[2020-02-16 16:54] xavArtley commented on #9672
@bryevdv I don't understand the link with the slider implementation?

[2020-02-16 16:59] mmcguffi commented on #9492
I just need a square plotting area, so that works for me. I changed `x_range=(-.5, .5)` to `x_range=(-.5, .5),y_range=(-.5, .5)` and it worked like a charm. Thank you so much!

[2020-02-16 17:09] bryevdv commented on #9672
@xavArtley sorry disregard, I mis-read on my phone.

[2020-02-16 17:12] bryevdv commented on #9492
More specifically, as with *any* circle-ish glyph, you probably always want to set `match_aspect=True` when you create a `figure`.

[2020-02-16 17:23] aegr82 opened #9677 "ResetTool don't reset to initial extra_y_ranges[i].start and extra_y_ranges[i].end"
I don't know how to reset to initial values of, for example, extra_y_ranges[i].start  and extra_y_ranges[i].end. Both ResetTool and UndoTool reset only x_range and y_range, but they don't reset to initial extra_x_ranges or extra_y_ranges.

[2020-02-16 17:24] bryevdv commented on #9677
@aegr82 Please supply a *minimal reproducing example*

[2020-02-16 17:30] aegr82 commented on #9677
from bokeh.plotting import figure
from bokeh.models import BoxZoomTool, ResetTool, PanTool, LinearAxis, Range1d

plot = figure(title = "Time Serie", x_axis_type = 'datetime')
plot.line('x', 'y1', source=data, alpha=0.8, line_width = 2, color = 'green')
plot.extra_y_ranges = {'1': Range1d(start = 0, end = 1)}
plot.add_layout(LinearAxis(y_range_name='1'), 'right')
plot.line('x', 'y2', source=data, a

[2020-02-16 17:37] xavArtley commented on #9677
I don't see the problem (bokeh master)
![Peek 16-02-2020 18-36](https://user-images.githubusercontent.com/18531147/74609540-41d16500-50eb-11ea-91a0-31f13036713b.gif)

[2020-02-16 17:42] bryevdv commented on #9677
@aegr82 please also provide the requested version info in the issue template, and also describe the steps to reproduce in more detail.

[2020-02-16 17:42] aegr82 commented on #9677
Ok, but sometimes in my data the y_axis values range from 500 to 800 and in those cases the ResetTool fails.

[2020-02-16 17:45] aegr82 commented on #9677
PLease, prove with

'y2': np.random.rand(500, 800)}

[2020-02-16 17:46] xavArtley commented on #9677
![Peek 16-02-2020 18-46](https://user-images.githubusercontent.com/18531147/74609679-af31c580-50ec-11ea-899c-f479d301a8d1.gif)

[2020-02-16 17:47] bryevdv commented on #9677
@aegr82 I don't mean to seem short. But you are not making it easy for us to help you. The issue template listed *all the information* we need to be able to investigate something. Yet you deleted the template, an d just wrote a single sentence? I am asking sincerely, canyon explain why you did that? It's very frustrating when users do that, because we *do* very much want help and fix any problems,

[2020-02-16 17:56] bryevdv commented on #9677
OK, so I guess you must have chose the "Custom" issue template? In which case that does not list the things we need, but is also not for support questions, and does clearly state that. Still, I think I am going to delete the "Custom" template so that all users only see a complete feature or bug template. There is really no reason for normal users to use "Custom" and it seems to only cause problems

[2020-02-16 17:56] #9677 closed

[2020-02-16 17:57] aegr82 commented on #9677
Oh, thank you very much. The issue is that my program is big, with several layouts and interactions, I don't know how to properly present a minimal example. In my program, the 'y2' edge doesn't reset to [500-800] interval, but in this example it does. I will try to do a better understandable example. Sorry if I caused any discomfort, I appreciate a lot your work.

[2020-02-16 17:58] bryevdv commented on #9677
@aegr82 Thank you for the kind words, we are happy to re-open any time the issue can be reliably reproduced (we can only investigate things that can be reproduced, this its where your help is critical)

[2020-02-16 18:09] bryevdv commented on #9677
@aegr82 also, my apologies for assuming you had deleted the template. I have opened a PR that removes the "Custom" template which should help reduce this confusion in the future.

[2020-02-16 18:15] birdsarah commented on #9674
The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh Project Discourse](https://discourse.bokeh.org/).

[2020-02-16 18:15] #9674 closed

[2020-02-16 18:53] aegr82 commented on #9677
Sincerely, I don't understand anything, hehe.

[2020-02-16 19:59] bryevdv commented on #9671
@MarcSkovMadsen  So the actual issue here is that (currently) by default, the server uses relative urls that start with `"static/..."` for loading resource. But to be honest I am not sure why we don't just make things use an absolute url `"/static/..."` by default, since that is always going to be the location that the server provides things at.

As a workaround, for now, you could use CDN resourc

[2020-02-16 20:01] bryevdv commented on #9671
For concreteness, here is a one line change that gets your example working:
[code]
Will need to think a bit whether this is the right change to make in general (of if this is the correct *way* to make this behaviour happen)

[2020-02-16 22:31] mmcguffi commented on #9492
This appeared to have worked, except now I have an area of pi/6 radians (I think) to the left of the top that are not responsive. I don't have a minimal reproducible example at the moment, but here is the area that is not responsive:
<img width="684" alt="Screen Shot 2020-02-16 at 4 26 00 PM" src="https://user-images.githubusercontent.com/17573404/74614011-848a4180-50d9-11ea-98b7-08c62b71fcee.png"

[2020-02-16 23:24] bryevdv commented on #9492
@mmcguffi unfortunately not, this would definitely require a reproducer so that we can put breakpoints in the JS and do real debugging. As soon as you have one, please open a new issue.

[2020-02-17 00:49] mmcguffi commented on #9492
In trying to create a minimal example I discovered the cause! A non-visible legend that was occluding the hover space.
<img width="622" alt="Screen Shot 2020-02-16 at 6 48 05 PM" src="https://user-images.githubusercontent.com/17573404/74616370-fae46f00-50ec-11ea-8488-6e2d8f0b823d.png">
Sorry to bother you with this, and thank you for making such a wonder visualization library!

[2020-02-17 00:59] bryevdv commented on #9492
Thanks for the kind words, glad you got it figured out!

[2020-02-17 06:38] mhlearn commented on #9492
as mentioned in here too, https://discourse.bokeh.org/t/bokeh-bug-in-annular-wedge-wedge-hover-tooltip/2813/5 , non-visible legend can be the cause. other then set legend.visible=False, also the rest of following to avoid hovertool not display properly,

legend.glyph_height = 0
legend.glyph_width = 0
legend.label_height = 0

[2020-02-17 08:23] gbei93 commented on #9664
Ok, I managed to make it work by following pointers I found on Discourse, thank you very much for your prompt answer.
In case someone has the same problem in future: https://stackoverflow.com/questions/44491172/how-to-draw-categorical-bar-plot-using-vbar-method-in-bokeh-plotting-module

[2020-02-17 14:57] luketudge opened #9681 "[DOCUMENTATION] typo in texas.py"
Superfluous parenthesis on [line 34 of texas.py](https://github.com/bokeh/bokeh/blob/aa60b9c9d554fbd349a21da37d616c5b8eda8c09/examples/plotting/file/texas.py#L34). Shows up in the hover tool tip.

Not sure whether you want a PR for something so small? So far I haven't found any other corrections that could be added in.

[2020-02-17 15:03] luketudge commented on #9681
Anyway PR is #9682 in case it is useful. Feel free to ignore.

[2020-02-17 16:40] #9681 closed

[2020-02-17 17:13] #9639 closed

[2020-02-17 17:25] BitKnitting opened #9683 "[BUG] Bokeh server + Flask on Rasp Pi - Failed to load resource: net::ERR_CONNECTION_REFUSED - autoload.js"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
- bokeh: 1.4.0
- OS: Linux raspberrypi 4.19.97-v7+ #1294 SMP Thu Jan 30 13:15:58 GMT 2020 armv7l GNU/Linux
- browser: From Mac OS - Brave (Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit))
- flask: 1.1.0

#### Description of expected behavior and the observed behavior

My code works o

[2020-02-17 17:46] #9676 closed

[2020-02-17 17:49] bryevdv commented on #9683
@BitKnitting if you are trying to access a Bokeh server embedded in another remote page, you will need to configure the Bokeh server to allow websocket connections from whitelisted origins. Happy to discuss, but the appropriate venue for support questions is the Project Discourse:

https://discourse.bokeh.org/

[2020-02-17 17:49] #9683 closed

[2020-02-17 18:31] BitKnitting commented on #9683
@bryevdv - thank you.  [here is my support question on discourse](https://discourse.bokeh.org/t/bokeh-server-flask-on-rasp-pi-failed-to-load-resource-net-err-connection-refused-autoload-js/4744)

[2020-02-17 19:01] bryevdv commented on #9684
I've transferred this issue to the  main repo. The actual place that would need to be updated is here in ` core/_templates/autoload_nb_js.js` and he other repo is only worked on sporadically so it's much more likely get ignored there.

[2020-02-17 19:03] bryevdv commented on #9684
The relevant code in the template is here:
[code]
I think a final `else` block can just be added to add the failure message.

[2020-02-17 19:21] hyles-lineata opened #9685 "Improve sorting and grouping behavior on grouped Legends"
**Is your feature request related to a problem? Please describe.**
Grouped legends are difficult to sort, and keep sorted if the underlying ColumnDataSource changes, because the LegendItems are created and sorted on the JS side.

**Describe the solution you'd like**
A concise way to enforce a sort order (e.g. alphabetical) on grouped Legenditems.

**Describe alternatives you've considered**
The ex

[2020-02-17 22:48] #9469 closed

[2020-02-17 23:33] bryevdv commented on #9671
OK it does seem the move to default relative resources was an intentional change, which is necessary to smooth usage in various embedding or proxy scenarios. So I am not inclined to make the change above as it is.

There is in fact a way to pass an absolute URL location via an HTTP query argument `bokeh-absolute-url` but that's also really only going to be useful when embedding and the embedding A

[2020-02-17 23:39] bryevdv commented on #9651
Also need to mention `app_hooks.py` as preferred new server hooks file location (and update docs)

[2020-02-18 03:36] isaacto commented on #9663
Thanks for the response!  I've tried making a line graph instead, and it doesn't seem to be affected.  The "image" thing is quite different from other glyphs, and the input is 2D instead of 1D.  My guess is that the code supporting it needs to be quite different too, so the bug aren't the same.

[code]

![t](https://user-images.githubusercontent.com/1463929/74701781-def2e180-5242-11ea-9f06-58598dc

[2020-02-18 03:45] bryevdv opened #9687 "[BUG] bokeh (html|png|svg) commands all broken"
Trying to use any of them:
[code]
I tried several mods to get working (e.g. passing a list to `show` in the script) but nothing got it running. AFAIK these have been broken a fairly long time and no one noticed until just now. I'd like to propose just removing them for 2.0. This direction of usage was never promoted and never took off. I'd personally support jettisoning dead code now for 2.0, soon

[2020-02-18 03:56] mmcguffi opened #9688 "[FEATURE] Filled bezier curves / bezier patch"
I would like to be able to draw SVG objects (using Abode Illustrator or similar), and import these as manipulatable objects in bokeh. Here is a proof a concept that already works (with caveats, see below):

[code]
file: https://commons.wikimedia.org/wiki/File:Apple_logo_black.svg

This draws the outlines of the SVG object, but it doesn't fill it. I believe in an SVG file this is typically specifie

[2020-02-18 04:02] bryevdv commented on #9663
@isaacto Awesome, thank you for the additional example. I agree the issue seems to be specific to image plots. To be completely honest I am surprised (and don't really understand) how the log image is even rendering "correctly" to begin with. AFAIK there was never any code put in to make that happen, I didn't think anything related to log images was functional or supported (I would have actually e

[2020-02-18 05:20] mmcguffi commented on #183
I think this may be what Im looking for, in #9688

[2020-02-18 10:24] mattpap commented on #9687
This shows also another failing, very common to CLI tools written in scripting languages. This error is not a usage error, which would prompt a concise error message without a traceback. This, however, is an internal error indicating a bug and should have been displayed in full. Usage errors should use a custom error class and should be caught by the CLI, and everything else should display unalter

[2020-02-18 10:47] mattpap commented on #9687
This error message is also misleading, because it got a sequence of models, just an empty one. This was confusing, because all the relevant code is already statically typed and sound as far as types of objects being passed around are concerned.

[2020-02-18 11:03] mattpap commented on #9687
This was broken in 1.0. I think this is a nice feature, but if no one noticed this regression in such a major release and since that release until today, then it should go.

[2020-02-18 14:53] jbednar commented on #9687
I did try to use this feature a couple of months ago, but I was in a hurry, thought I was doing something wrong, and found another way. I don't think I even looked in the manual to see if something like that _was_ supported; I just tried it and thought that it might work.  So I guess that's a weak vote to keep it, i.e. that I expected it to work or half-remembered that it would work, as well as a

[2020-02-18 16:48] bryevdv commented on #9687
OK we seem to be +3.5 for removing so I will switch this to a `task` and try to take care of it today.

@mattpap your reporting suggestions sound good, I'd suggest an issue so they are not lost/forgotten

[2020-02-18 16:51] bryevdv commented on #9687
BTW I also *personally* thought this was a nice feature, but my experiences with users is that everyone expects and wants to just run "plain python" scripts and that these therefore are mostly just confusing.

[2020-02-18 17:11] mmcguffi commented on #9688
I have since learned that SVG files contain other curves such as linear lines, and circle arcs. A solution similar to what is proposed in #183 seems like it would work, otherwise all linear/arc segments in an SVG could be approximated with compound cubic Bézier curves and used that way (it seems to me that all paths in SVG files should be dictated by Bézier curves, but I digress)

[2020-02-19 00:49] isaacto commented on #9663
Yes, I create the image that way.  Which is nothing new: when creating images for the linear axes users need to do the mapping from axes coordinates to screen coordinates (the (x, y) coordinate is at data[0][0], etc).  Indeed, when using logarithmic axes this is extremely important: otherwise the image will need to be orders of magnitude larger to make the small coordinate value side informative.

[2020-02-19 04:06] #9687 closed

[2020-02-19 16:49] #8397 closed

[2020-02-19 16:52] jbednar opened #9690 "Link to Discourse from github issues"
When opening a new issue at https://github.com/bokeh/bokeh/issues/new/choose, a user is presented with options for bug report, feature request, or blank issue:

![image](https://user-images.githubusercontent.com/1695496/74854256-b7644d80-5304-11ea-92d9-472ad4aeed76.png)

I've recently set up the HoloViz org to replace the blank-issue link with a link to Discourse (see https://github.com/holoviz/.g

[2020-02-19 16:55] bryevdv commented on #9690
I was not aware of this feature. Can you point to docs for it? (Or make a PR!)

[2020-02-19 16:56] #9690 closed

[2020-02-19 16:57] jbednar commented on #9690
Thanks for merging; looks like it works!

![image](https://user-images.githubusercontent.com/1695496/74855654-97ce2480-5306-11ea-90f2-33ec2c13617b.png)

[2020-02-19 19:15] jeremy9959 opened #9693 "[DOCUMENTATION] Glyph Line, Text, and Fill defaults in theme yaml are undocumented"
The [reference manual page for themes](https://docs.bokeh.org/en/latest/docs/reference/themes.html) does not document the ability to set default line, text, and fill attributes for glyphs in the theme.yaml file.  For example this is valid:
[code]

and has the effect, for example, of setting the default font in all Text Glyphs to "Calibri" unless specifically overridden.  The relevant code is in ``

[2020-02-19 19:16] jeremy9959 commented on #6821
I am interested in themes so I came across this issue.  Was this tracked down to a problem on the javascript side?

[2020-02-19 19:34] bryevdv commented on #6821
I expect this is a problem on the Python side, but it will still require someone to investigate to uncover the root cause

[2020-02-19 19:34] jeremy9959 commented on #9339
On @bryevdv's recommendation I point out that there is the ability to set defaults for all text that's associated with glyphs (but not all text everywhere) already buried in the theme code.  I just raised [this issue](https://github.com/bokeh/bokeh/issues/9693) about it.

[2020-02-19 19:37] bryevdv commented on #9693
Regarding the cryptic comment, there is a long discussion in https://github.com/bokeh/bokeh/issues/9173

TLDR; The plotting API currently computes its own defaults for some values, and *sets them*. Currently actual set values always overrides theme values, so an extension of theming that the Plotting API could plug into would be necessary to make this situation better.

[2020-02-19 19:42] bryevdv commented on #9339
Thinking a bit more, we might consider replacing that currently undocumented and untested `line_defaults`, etc mechanism with the one suggested above.

[2020-02-19 19:59] jeremy9959 commented on #6821
I'll make a run at this.

[2020-02-19 20:08] bryevdv commented on #6821
👍 lmk if you need to have a call to do a deep dive on any of this. I'll probably have to remind myself of some things as I go through, for that matter. The theme implementation, is it relates to the larger property system and especially synchronization in the server case, is a bit involved. TLDR theme values need to be applied, but not in a way that triggers events and callbacks.

[2020-02-19 21:40] jeremy9959 commented on #6821
I can report some quick progress.  There are two problems.
- When you give "None" for a field, it gets encoded with value ```{'field':None}```.  If you specify the value you want explicitly, that fixes that problem.
- You need to pass an explicit theme to ```file_html```.  Something is going wrong in the way themes are handled in that function.
The following diff to the code example above makes it

[2020-02-19 22:47] bryevdv commented on #5058
We currently run all examples on FF and Chrome on windows/linux/osx on every push. I think that will do for now.

[2020-02-19 22:47] #5058 closed

[2020-02-19 22:49] bryevdv commented on #5058
We also run JS unit tests in real browsers now, I'd actually at this point be most interested in running those on different browsers on different plats, on every push.

[2020-02-19 22:51] bryevdv commented on #4966
moving to 2.0 as a reminder to try setting full output again and seeing if the page sizes are tolerable before release.

[2020-02-19 22:53] bryevdv commented on #6280
@mattpap can we just remove these for 2.0? I don't actually think they make sense in many situations, their action seems ill-defined (to me) and they appear to have been broken a long time. We could shave a little off BokehJS by ditching them.

[2020-02-19 22:56] bryevdv commented on #6490
Marking as GFI tho note if we move to pure webgl rendering this issue will become moot.

[2020-02-19 23:02] bryevdv commented on #6912
This seems reasonable and (I think) also pure-Python change, so marking also as GFI

[2020-02-19 23:03] bryevdv commented on #7355
This is a dupe of #6280 (also there I propose just removing them at this point)

[2020-02-19 23:03] #7355 closed

[2020-02-19 23:16] mattpap commented on #6280
They work for me and I like to use them in testing. Though I agree they need some testing and possibly improvements in some edge cases.

[2020-02-19 23:17] mattpap commented on #6280
Also, this issue is super old. I did fix some bad behavior of those tools at some point (maybe around new layout).

[2020-02-19 23:23] mattpap commented on #6490
Is this even an issue still? `output_notebook()` is supposed to add all bundles regardless of specific models used.

[2020-02-19 23:24] mattpap commented on #6490
This needs to be independently discussed, but it's an unlikely scenario in my opinion, especially if it means dropping SVG support.

[2020-02-19 23:36] birdsarah commented on #5058
I *think* you could narrow this to just test the different JS engines. That is: v8 (chrome, chromium, edge, brave), gecko (firefox), webkit (safari). Off the top of my head I don't know what different mobile platforms are.

[2020-02-20 01:26] bryevdv opened #9694 "Run JS unit tests in more real browsers"
I *think* you could narrow this to just test the different JS engines. That is: v8 (chrome, chromium, edge, brave), gecko (firefox), webkit (safari). Off the top of my head I don't know what different mobile platforms are.

_Originally posted by @birdsarah in https://github.com/bokeh/bokeh/issues/5058#issuecomment-588530584_

[2020-02-20 01:27] bryevdv commented on #5058
I've made a new separate issue re: unit tests. Maybe some day we can re-visit examples in more browsers but for now unit-tests are a more tractable problem.

[2020-02-20 01:37] bryevdv commented on #6490
@mattpap No, it does appear to be fixed:

<img width="735" alt="Screen Shot 2020-02-19 at 5 32 57 PM" src="https://user-images.githubusercontent.com/1078448/74892251-f5ca2e80-533d-11ea-9db9-2d85dc2c2fbc.png">

Last time we talked about it you were in favor of getting down to one codepath. In any case for SVG at this point, rather than rely on some Rube-Goldberg Python->JSON->headless browser->Canv

[2020-02-20 01:37] #6490 closed

[2020-02-20 02:00] bryevdv commented on #8478
Have not looked at this article in detail but it does claim that the approach we have taken is "outdated" and presents an alternative method for dealing with a blurry canvas. Possibly worth investigating when time permits

https://medium.com/wdstack/fixing-html5-2d-canvas-blur-8ebe27db07da

[2020-02-20 02:09] eferreira commented on #6280
I just tried undo/redo together with box_zoom on 1.4.0 and it does seem to be working fine.

I can't speak as to what the action of undo/redo should be in all cases, but for me the workflow that motivated me to create this issue is basically that I have high-resolution time series data (something like the price of a stock every second over an entire day) and I like to plot the entire day, then use

[2020-02-20 02:27] eferreira commented on #6280
I did figure out from playing with http://docs.bokeh.org/en/latest/docs/gallery/color_scatter.html that if I zoom in twice and then click undo twice very quickly, then it doesn't zoom out all the way like I expected. Instead it ends up at the 1st zoom level. And then from cycling through undo/redo I can tell that there are now 3 states in the "history": the fully zoomed out plot, the 1st zoom leve

[2020-02-20 09:04] mattpap commented on #6280
Tools lack basic synchronization capabilities, so working quickly may lead to bad behavior, especially when we are dealing we a lot of data. This is definitively something to improve in general, as this behavior is not limited to just this subset of tools, but can be clearly demonstrated with them.

[2020-02-20 09:16] mattpap commented on #8478
This article doesn't bring anything new to the picture. We use the same HiDPI approach as everyone else. If this was a problem with pixel density, we would see other artifacts as well. I observed this problem before in phantomjs, which leads me to conclusion that this may be just an issue with an outdated browser. Unfortunately we didn't ask for the version of chrome being used. Then there's a pos

[2020-02-20 10:23] anthonydouc commented on #8478
Happy to check to see if the same problems occur and provide a chrome version if that is helpful.

[2020-02-20 10:45] tony-bony opened #9695 "[BUG] click_policy"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-02-20 10:47] #9695 closed

[2020-02-20 10:48] tony-bony commented on #9695
Sorry, pushed ENTER accidentially

[2020-02-20 10:51] tony-bony commented on #8390
Related issue: https://github.com/bokeh/bokeh/issues/8852

[2020-02-20 10:57] tony-bony opened #9696 "[BUG] Add click_policy='show' to Legend to show the corresponding glyph and hide others"
Consider the plot as on image below showing price history for vacations in Dominican Republic. There are 38 lines (hotels) on the plot so I have to click **37 times** to hide them all and clearly see the price history for the very one hotel I am interested in e.g. RIU Bambu.

Adding `click_policy=show` to the current set of ['none', 'hide', mute] will make it much easier to select only the interes

[2020-02-20 14:26] QingFengpoor commented on #7317
+1 .  This feature can reduce a lot of trouble.

[2020-02-20 14:58] mattpap commented on #6280
Actually, we still use `backingStorePixelRatio`. I must have removed this in PR that got stalled. Though I doubt this affects anything. I will submit a PR and we will see if this changes anything.

[2020-02-20 15:01] mattpap commented on #8478
Actually, we still use `backingStorePixelRatio`. I must have removed this in PR that got stalled. Though I doubt this affects anything. I will submit a PR and we will see if this changes anything.

[2020-02-20 16:58] bryevdv commented on #9696
@tony-bony I agree this is a good feature and would like to do something around it (or help someone work on it) but this is already under discussion in https://github.com/bokeh/bokeh/issues/8841 so closing this as a duplicated.

[2020-02-20 16:58] #9696 closed

[2020-02-20 17:01] bryevdv commented on #8841
@tony-bony do you have any thoughts on this question:

A discoverable way to get back to the start state is really all that is needed for someone to start working on this.

[2020-02-20 17:03] bryevdv commented on #9696
I've re-posed the main blocking question in the other issue, in case you have thoughts.

[2020-02-20 17:06] bryevdv commented on #9693
The more I think about this, the more I would like to get rid of `line_defaults`, etc. We could remove them for 2.0 or deprecated them. If #9339 is implemented then the generic name "line_defaults" is confusing because it really only applies to glyphs... thoughts?

I am not opposed to having this feature, but the proper name would be more specific: `glyph_line_defaults`, etc. so that it's clear wh

[2020-02-20 17:10] bryevdv commented on #9688
@mmcguffi just setting expectations: upcoming 2.0 release is taking up all time presently, but I hope to have some useful feedback shortly after that

[2020-02-20 17:11] mmcguffi commented on #9688
@bryevdv I understand! Looking forward to 2.0

[2020-02-20 17:23] RyanRio commented on #9666
I'm actively using these feature(s) so I figure I will update this comment as I go with things I notice / functionality improvements.

### Logging
* Bokeh errors just disappear into the void -> if an error occurs during loading of a bokeh app session it immediately exits out to `function.py` and then `application.py` in `bokeh.application`, eventually bubbling all the way out `bokeh.server.context

[2020-02-20 17:44] mattpap commented on #9694
bokehjs' tests rely on Chrome DevTools Protocol (CDP for short), both for unit and integration testing. Both use the same testing framework and the main difference between them is just test organization and how much of the CDP API they need. CDP in natively available in Chromium derivatives (Chromium, Chrome, Edge (Blink), Opera, etc.), however other browsers implement it to some extent as well. F

[2020-02-20 18:48] jeremy9959 commented on #9693
I certainly have no attachment to it.  I like the idea of a "Glyph" section or more generally
a section that has

Class:
   attribute: value
...

Where the specification for a class applies to that class and its superclasses unless overridden at a higher level.

[2020-02-20 18:50] bryevdv commented on #9693
[code]
This is exactly what the current content under `Attrs` is, unless I am mistaken about what you are suggesting?

[2020-02-20 18:55] jeremy9959 commented on #9693
I didn't realize that a specification also applies to superclasses.  Can you say:
[code]
and it applies to all glyphs?

[2020-02-20 18:57] bryevdv commented on #9693
Do you mean subclasses? I am not sure we can support that, except via special case (what I was proposing above)

[2020-02-20 19:02] jeremy9959 commented on #9693
I am being dumb. The reason for line_defaults etc is that not all glyphs have line attributes.  So you need a way to set all line colors without enumerating all the types that have lines.

[2020-02-20 19:49] jeremy9959 commented on #9693
Right now if you put
[code]
and then try to use a Line glyph you get
[code]

One very naive approach would be to ignore attributes set in the theme file if
the model in question doesn't have that attribute.  Then you could take all of the line-defaults, fill_defaults, and text_defaults and just put them under Glyph
and they'd apply where they exist.

[2020-02-20 20:06] tony-bony commented on #8841
Good discussion.

I agree that new changes to user interaction with `Legend` should not rely on presence of the `Reset` toolbar button to restore the original state. Also restoring the original state should not come at an expensive cost of clicking on tens of legend items.

**The most important is backward compatibility**

So the changes should just extend the current functionality, providing defa

[2020-02-20 20:27] bryevdv commented on #9693
the model in question doesn't have that attribute.

Basically I think this is a great idea for all glyphs (specifically, because they all collectively sort-of share the same visual properties interface), but *not* a good idea for not-Glyphs (because in general it more likely indicates a typo, or error, and that should be reported out).

The current `line_properties` is exactly that, a specific cas

[2020-02-20 20:43] philippjfr opened #9699 "[BUG] Toolbar activation breaks if models are specified in certain order"
This issue has been around for a very long time and still exists on current master. The conditions under which is bug occurs are somewhat obscure so it took me a very long time to finally reproduce in a minimal example but I believe it should still be fixed.

Basically if the root layout is created before the contents then models are potentially initialized in an order which causes the tool and to

[2020-02-20 20:45] jbednar commented on #9699
This may be an obscure case, but it happens every time for me with certain types of HoloViews plots, so I'm very much hoping it can be fixed soon!

[2020-02-20 20:51] philippjfr commented on #9699
The underlying cause here seems to be that the subplots still initialize their Toolbars and if the ProxyToolbar activates before the other hidden toolbars then they will mess up the initialization state.

[2020-02-20 21:08] philippjfr commented on #9699
@mattpap I have to admit I don't know the best way around this. I've tried deferring `ToolbarBase._init_tools` until the view is rendered but can't come up with a good fix. The reason why this is such a big issue for us is that Panel generally creates the root layout before adding the contents. Changing this would require a fairly substantial rewrite so it would definitely be nice to fix this some

[2020-02-20 21:17] kumaran-14 commented on #9458
@bryevdv I tried to find the cause of this issue. Take a look at this case where it works.

[code]

![bokehvline](https://user-images.githubusercontent.com/32682103/74978627-06b89400-5453-11ea-9390-a885d5a71af1.gif)

The problem is only when it is a straight line.
At `_hit_span` function in file `bokehjs/src/lib/models/glyphs/segment.ts`,
[code]
where `v0` and `v1` are segment's `x` coordinates.
N

[2020-02-20 21:20] bryevdv commented on #9458
@kumaran-14 That seems about right, how do you propose to resolve the problem?

[2020-02-20 21:21] mattpap commented on #9699
I will take a look. This is reproducible outside notebook with a simple `save()`, which is great.

[2020-02-20 21:23] kumaran-14 commented on #9458
@bryevdv A straight forward way would be to have a small horizontal range over which we say this is a hit with vertical segment.

[2020-02-20 21:29] bryevdv commented on #9458
@kumaran-14 For sure, and I presume a corresponding change for the `hline` with horizontal segment as well? (I think any PR for this should fix both cases at once). Do you have a concrete proposal for the amount of "epsilon" to add around the comparison?

[2020-02-20 21:35] kumaran-14 commented on #9458
@bryevdv Yes for hline too. I don't have a definite value but the important issue is that epsilon value should scale with the geometry.

[2020-02-20 21:46] bryevdv commented on #9458
@kumaran-14 perhaps the comparisons can be changed to be in "pixel-space" instead of "data-space"? In which case I fixed epsilon of e.g. 0.5 (of a pixel) on either side might be sufficient.

[2020-02-20 21:47] jeremy9959 commented on #9693
Just to air all options, here is one more: Create a package of "glyph attributes" that includes essentially all of the line, fill, and text options, and give them to every glyph *even if they aren't used by that particular glyph* -- perhaps by making them attributes of the Glpyh class.  Then you don't need to treat glyphs separately, you can specify options for even the unused attributes without r

[2020-02-20 21:50] bryevdv commented on #9693
That would add e.g. add all text properties to all glyphs in the docs, almost none of which can use text properties. That seems to be an invitation for user-confusion and support issues so I am definitely -1 on that.

[2020-02-20 23:19] mattpap commented on #9699
@philippjfr, see PR #9700.

[2020-02-21 02:37] bryevdv commented on #8478
I will have an rc1 out this weekend with the change. I'd say it would be good to test with it @anthonydouc but fair warning we are probably just going to have to close this issue regardless as there is just not anything else I think we could do or change.

[2020-02-21 03:09] bryevdv commented on #2325
Actually I am going to leave this open. #9697 only adds support for box select (not lasso) and also is not greedy (it required the entire patch to be contained) which I know some would favor.

[2020-02-21 06:45] kumaran-14 commented on #9458
@bryevdv That sounds great. How would I convert the values into pixel-space?

[2020-02-21 13:20] p-himik opened #9702 "[BUG] DateRangeSlider is broken"
### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.0.0dev6 (ff2d2f62)

#### Description of expected behavior and the observed behavior
If `start` is set to today, the slider is not displayed at all. The JS exception:
[code]
It's caused by the `start` value being `null` on the JS side. The relevant `attributes` value in the `PULL-DOC-REPLY` mes

[2020-02-21 14:16] jeremy9959 commented on #6821
I understand the problem now.  When you call ```file_html(doc, INLINE, plot.title.text)``` without an explicit theme, the default behavior is to apply the theme from ```curdoc()```.  This is buried inside the context manager ```OutputDocumentFor``` in the method
[code]
But in the situation we are looking at, ```curdoc()``` is not the same as ```doc``` and so the theme applied to ```doc``` is ignor

[2020-02-21 14:56] jeremy9959 commented on #6821
Last comment.  You can't use
[code]
in yaml if you want to set the value None.  You need:
[code]

Otherwise, None gets translated by the yaml parser as the string None, which the bokeh properties interpret as a field name.  Again, not sure this is a bug, just a fact of life for yaml, but the documentation should make it clear.

[2020-02-21 15:39] comperem opened #9703 "[BUG] image_url combined anchor and angle options generated unexpected results"
Hello, this is an issue raised from [this discourse comment](https://discourse.bokeh.org/t/getting-anchor-argument-of-image-url-to-work/4760).

In Bokeh 1.4.0, the `anchor` argument doesn't seem to work in `image_url()` specifically in combination with the `angle` argument. Both `anchor` and `angle` work independently but the combination ends up rotating the image around the upper left corner.

Th

[2020-02-21 15:58] jeremy9959 commented on #9693
FWIW from the ```Marker``` class documentation:
[code]
There are already ```XYGlpyhs```  and ```ConnectedXYGlyph``` so perhaps there should be subclasses of Glyphs  for which the corresponding groups of attributes apply.

My thought here is that I'm trying to avoid elaborate parsing of yaml theme files.

[2020-02-21 16:00] jeremy9959 commented on #9693
I would want to avoid elaborate parsing of theme yaml files, that's why I like subclassing glyphs so that the subclasses have the right property sets.

[2020-02-21 16:14] bryevdv commented on #9693
@jeremy9959 I don't really understand what you are suggesting. What you describe is exactly how things already are, with the single exception of Markers. The reason for markers is that do really need to be used completely interchangeably within code in various places (both in our library code and also, as I have seen, often in user code as well.

[2020-02-21 16:21] comperem opened #9704 "[FEATURE] need to add tile provider demo"
This Issue is to request a tile provider demo to showcase all Bokeh tile providers.

In particular, it would be nice to compare the newly added OSM, WIKIMEDIA, and ESRI_IMAGERY tile providers to each other and the existing STAMEN and CARTODBPOSITRON tile providers.

This tile provider demonstration will allow Bokeh to provide open-source alternatives to Google Maps with Open Street Maps as the sta

[2020-02-21 16:30] bryevdv commented on #9702
@p-himik  any idea when  this broke or what change caused it? I thought we had integration tests on date slider but apparently not.

[2020-02-21 16:50] p-himik commented on #9702
Not a clue. I just did a quick check for a SO question and found out that it works on 1.4.0 but fails on 2.0.0dev6.
Yeah, there are only Python tests for the slider.

[2020-02-21 18:04] #9532 closed

[2020-02-21 18:32] bryevdv commented on #9702
OK, if you have a chance to do any sort of bisection that'd be helpful otherwise I will try to dig in to it tonight.

[2020-02-21 18:53] jeremy9959 commented on #9693
Some glyphs have line properties; some have fill properties, some have text properties. My suggestion is to create subclasses of Glyph characterized by which subset of these the subclass supports.   This sort of exists in Markers and XYGlyphs and ConnectedGlyphs but not really.

[2020-02-21 19:05] p-himik commented on #9702
I'll try to do some bisecting - a good opportunity to actually use `git bisect` for the first time. :)

[2020-02-21 19:16] bryevdv commented on #9702
`git bisect` is a great tool, I literally always refer back to this page every time I need to use it though http://webchick.net/node/99

[2020-02-21 19:31] RyanRio opened #9706 "[FEATURE] js_link attr indexing"
**Related problem**
With a standard `Slider` you can do:
[code]
However if I now want to use a `RangeSlider` which has `value` of type `Tuple[Float, Float]` I cannot currently do:
[code]

More generally, I cannot use js_link for subscriptable attributes.

**Possible solution**
A simple solution would be to change the signature of js_link to, as Bryan mentioned in [this topic](https://discourse.bok

[2020-02-21 19:51] bryevdv commented on #9693
If you mean create purely abstract `FilledGlyph` etc, that seems reasonable though we should add tests to make sure e.g. that all `FilledGlyph` subclasses do in fact add fill properties. If you mean actually adding the properties on `FilledGlyph` that's not impossible, but would require additional work to the documentation automation to make sure that the help strings for the inherited properties

[2020-02-21 19:56] bryevdv commented on #9706
@RyanRio I would only make one change to the "Possible Solution" which is that I think the selector could also reasonably be a string and not just and int (e.g. if the value is a dict/object)

Re: "Ideal Solution" I think at the point of adding a JS callback code we've moved into duplicating what can just be done already / better with `CustomJS` directly.

[2020-02-21 20:02] p-himik commented on #9702
Yeah, that's the resource I used.

Why did you change `Date` to `Datetime` here? https://github.com/bokeh/bokeh/commit/16d3d0ef

[2020-02-21 20:06] bryevdv commented on #9702
Because `Date` is now an unambiguous ISO date string, not a timestamp. That change was to put a finished to the endless years of time zone issues that plagued the date picker. But `DateRangeSlider` has always expected a timestamp, so it could not be `Date` any longer. I did check `DateRangeSlider` at some points during that PR, but maybe there were issues I missed with the change.

[2020-02-21 20:17] p-himik commented on #9702
Hmm. Now it seems strange that we have a **Date**RangeSlider but it accepts datetimes.
From the API standpoint, I think it would make sense to have both `DateRangeSlider` and `DatetimeRangeSlider`. But that's a separate matter.

Another question - is this really a desired thing to make this function return a number instead of an instance of `datetime`? https://github.com/bokeh/bokeh/blob/03618bf8a

[2020-02-21 20:27] bryevdv commented on #9702
I don't disagree, getting the new DatePicker working with minimal other change was all I had bandwidth for. Though I think "DateRangeSlider" has generally been implicitly understood to be a range slider for full date times (and afaik that is how people use it). I think really cleaning this up is probably Bokeh 3.0 territory at this point though, we should just get the previous functionality workin

[2020-02-21 20:36] p-himik commented on #9702
Agree. To be honest, I hate handling anything time-related at all, so if nobody complains about it I'd leave it as is.

Sorry, I didn't make it clear enough. All the other functions that convert input values for `Datetime` do return an instance of `datetime`.
And indeed, changing the function to return just `dt.datetime(*obj.timetuple()[:6])` seems to fix the issue.

[2020-02-21 20:38] bryevdv commented on #9702
Well, that change is fine too though I would expect some other changes are necessary? Or is this function just not being used anywhere at all?

[2020-02-21 20:40] bryevdv commented on #9702
This function is used to confirm that the `Datetime` property properly transforms to a timestamp:

https://github.com/bokeh/bokeh/search?utf8=✓&q=convert_date_to_datetime&type=

So if we change it we would also need to add back a timestamp version and have the test use that.

[2020-02-21 20:43] p-himik commented on #9702
Not sure whether it affects TZ issues in any way though.
The current implementation also seems shaky w.r.t. TZs. We accept a proper `datetime` but strip away any TZ information and just send away a float, and receive a float.
But that's just voicing a concern, nothing more - as I mentioned, I'm happy to not have to touch it. :)

Speaking of which - do you mind if I offload this to you? Playing Mis

[2020-02-21 20:48] bryevdv commented on #9702
Sure, FYI we try to be tz-naive i.e. treat all datetime values as local and leave it to users to convert as necessary for what they want to show. The issue with the old date picker was that we could not prevent a conversion that it did internally which really mucked with that assumption.

[2020-02-21 21:39] bryevdv commented on #9702
@p-himik I actually can't reproduce any issue with your code on my laptop with master (with either `today` or "today-1") can you add more detail about platform, etc?

[2020-02-21 21:48] #9706 closed

[2020-02-21 21:49] bryevdv commented on #9703
Thanks for the detailed report, @comperem !

[2020-02-21 21:53] bryevdv commented on #9702
FYI Here is the updated test script I am using:
[code]
It always prints out the expected console output and I am not seeing any errors there or in the browser.

[2020-02-21 21:59] p-himik commented on #9702
Wait, WTH just happened? Now it works for me as well, both for the current master and for the branch mentioned in the beginning!
I now always remove the `bokehjs/build` directory before building BokehJS. And I did `git bisect`, and I could reproduce it _all the time_ after your commit that replaced `Date` with `Datetime`.

Magic. Love me some reverse schroedinbugs.

FWIW, I'm on Ubuntu 19.10, late

[2020-02-21 22:01] p-himik commented on #9702
Phew, false alarm - no magic here. I'm sleepy and I forgot that I replaced `date.today()` with `datetime.now()` to test something else.

Still breaks for me. Your code is breaking for me as well.
When you tried to reproduce it, did you make sure that the built BokehJS is in sync?

[2020-02-21 22:05] bryevdv commented on #9702
@p-himik Weird/annoying: my env path was wrong. I think there is a bug in conda deactivate (I deactivated from "140" env to "dev" env  and path ended up on base env...) I can repro now

[2020-02-21 22:11] p-himik commented on #9702
Heh, I hit a similar issue while bisecting. It seems I had used `python setup.py install` at some point, which made me always use some random Bokeh version.

[2020-02-21 23:31] bryevdv commented on #9702
OK I have a handle on this. It basically boils down to value being a tuple, and container properties not being careful to transform their contained values, so the tuple of actual date objects hits the JSONEncoder, which serializes date objects as ISO string. I will have to think a bit about the best/minimal way to resolve this. I should possibly d have a PR tomorrow but possibly not until the afte

[2020-02-21 23:43] bryevdv commented on #9702
@p-himik  if you have a chance, here is a diff you could try out
[code]

This change:

* only affects tuples (worried about performance implications of a general change to all containers)
* makes datetime properties nullable (which is true for basically every other property), which lets us not have "today" as a default value (which is kind of weird)

[2020-02-21 23:44] bryevdv commented on #9702
Noting: do need to resolve the timestamp/1000 business. We could put back the ugly try/except we had before but maybe there is a way to just fix it for real and always report the timestamp in units that can be known ahead.

[2020-02-22 11:14] yanwencheng commented on #9666
When you request the app interface, you can carry the data and modify your code

[code]

and in app app_handler func
[code]

[2020-02-22 11:38] RyanRio commented on #9666
Hey @yanwencheng , you'll have to be a little more descriptive - does "wriId" exist in **request.POST.dict() (or GET), otherwise I don't see how you are fetching a valid value, which would cause it to silently fail on the KeyError as I mentioned. Otherwise it looks fine and if you are saying the graph appears on the first request then I think you should definitely investigate what the value of wri

[2020-02-22 12:15] #9699 closed

[2020-02-22 14:26] jeremy9959 commented on #9693
My thought was yes, to use abstract classes and yes, that is what it would look like to the user.
I will do some experimentation to see what this is like in practice.  Incidentally I also understand
what is going on with #6821.  I can make a PR to clear that up but before I do I could use some guidance as to what seems most reasonable, it's described there.

[2020-02-22 16:41] p-himik commented on #9702
I assume that this
[code]
should instead be this
[code]

If so, then it works. :+1:

[2020-02-22 17:31] bryevdv commented on #9702
Yup, I fixed that in the PR but didn't go back and fix it up here

[2020-02-22 18:03] bryevdv commented on #6821
@jeremy9959 Thanks for looking in to this. I am not sure that `curdoc()` is really relevant outside the context of Bokeh application code, so perhaps that was an initial mistake in this codepath. Inside Bokeh apps, users need to be able to specify:
[code]
and that's because *inside the running app code*, the `curdoc()` is exactly the `Document` that a session services. Outside a Bokeh app, `Curdoc

[2020-02-22 20:04] jeremy9959 commented on #6821
Changing the default value of ```theme``` in ```file_html``` to ```None``` from ```FromCurdoc`` results in the following behavior:  Either you pass an explicit theme, or else:
- If you call ```file_html``` with first argument either a document or the full set of models from a document, then the resulting output has the theme of that document applied.
- If you call ```file_html``` with first argume

[2020-02-22 20:10] #9108 closed

[2020-02-22 21:18] #9702 closed

[2020-02-22 21:19] #9672 closed

[2020-02-22 21:20] bryevdv commented on #9515
@mattpap do you have an updated ETA for porting the optimization from panel? (Or @philippjfr can you point me at it to take a crack?) This is is the only thing remaining before RC1 can be built.

[2020-02-22 23:13] philippjfr commented on #9515
The implementation of the CachedVariadicBox is [here](https://github.com/holoviz/panel/blob/master/panel/models/layout.ts#L52) and is used [here](https://github.com/holoviz/panel/blob/master/panel/models/layout.ts#L87).

[2020-02-23 00:00] mattpap commented on #9515
Implementing this isn't a breaking change, so I don't see a point in holding off RC. I will try to get to this tomorrow.

[2020-02-23 03:29] yanwencheng commented on #9666
Combined POST and GET request parameters，Use args = doc.session_context.request.arguments when generating bokeh documents

[2020-02-23 05:48] MarcSkovMadsen commented on #9515
Hi @bryevdv

I try to list the things I find here https://awesome-panel.readthedocs.io/en/latest/performance.html. I am currently motivated by other things and don't have the band width to distill it nicely. But I think it is important.

[2020-02-23 10:30] Squirrel8475 opened #9711 "Bottom of plot truncated using large Height value in Figure"
An unexpected behavior is observed when increasing height above a certain treshold: the plot is truncated and some data disappear at the bottom of the graph as illustrated in the attached picture.
![bug_large_height2](https://user-images.githubusercontent.com/52817858/75110342-4d61e600-562d-11ea-8a37-00cdf6cc3b38.jpg)

This can be reproduced with the small code below by setting the height to 17000

[2020-02-23 10:47] ayushiitr2901 commented on #9684
I think the issue here is that the 'loading failed' text message is not shown if the BokehJS is unable to load(might be because of some disturbance in connectivity).
As suggested above by @bryevdv, I will go ahead and add an else statement at the end of 'display_loaded' function that changes the value of 'el' variable to "Failed to load BokehJS..."

[2020-02-23 11:20] mattpap commented on #9711
See https://github.com/bokeh/bokeh/issues/9115 for details. HTML5 canvas and its implementations have their limitations. Depending on the browser, 17000px is either pushing it or far beyond those limits.

[2020-02-23 11:20] #9711 closed

[2020-02-23 11:39] dkapitan commented on #9581
@Karel-van-de-Plassche @bryevdv
have started working on this issue and am testing whether everything work. `alpine/Dockerfile-from-conda` fails with `ValueError: setting 'version' makes sense only when 'mode' is set to 'cdn'
as per [GH30](https://github.com/bokeh/jupyter_bokeh/issues/30). Any suggestions as to how to fix this?

[2020-02-23 14:14] Gordonei commented on #9435
Shamelessly bumping the thread :)

[2020-02-23 14:30] Squirrel8475 commented on #9711
Thank you very much for your support.

[2020-02-23 14:43] mattpap commented on #9435
I suppose PR #9660 fixed this as well?

[2020-02-23 18:59] bryevdv commented on #9435
I believe it should, @Gordonei is it possible for you to test with current master? Or else provide a minimal reproduce?

[2020-02-23 19:07] bryevdv commented on #9581
@dkapitan what is setting `BOKEH_VERSION`? Can you make it not do that? Otherwise I suggested some potential changes to Bokeh that could be made (but no one ever expressed any interest to make them)

[2020-02-23 19:08] bryevdv commented on #9581
I should add, we could consider changing  that variable to something else, like `BOKEH_CDN_VERSION` that might be less likely to clash. But that change would need to go in *now* for 2.0 since it is a breaking change.

[2020-02-23 19:23] bryevdv commented on #9581
I've made https://github.com/bokeh/bokeh/pull/9713

[2020-02-23 19:43] bryevdv opened #9714 "Update Bokeh milestone process"
The current `short-term` and `long-term` categories are not really serving the needs of @bokeh/dev This issues is to discuss what changes we would like to make, and also be a reminder that once a decision is taken, BEP-1 should be updated so that it is accurate for new contributors.

https://github.com/bokeh/bokeh/wiki/BEP-1:-Issues-and-PRs-management

cc @mattpap @philippjfr @p-himik @hyles-linea

[2020-02-23 19:52] bryevdv commented on #9714
As a first talking point, I'll just explicitly describe what @mattpap has already experimented with :

* `x.y.z`  work for a specific release
* `future` work for a future major release (will have breaking changes)
* `next` work we intend to do in some upcoming non-major release

Are there any other categories that would be useful? What is the expected flow for assigning milestones?

[2020-02-23 19:56] kumaran-14 commented on #9458
@bryevdv how would I do that?

[2020-02-23 20:02] p-himik commented on #9714
And what are the needs, exactly? It's not really clear from the proposed list of milestones and from BEP-1.

I feel like `type: discussion` is always for some proposal. If that's not the case, maybe an additional `type: proposal` would make sense. Anything without the preferred label can be considered as planned.

With the proposed milestones, definitely not. E.g. everybody agrees that some featur

[2020-02-23 20:19] bryevdv commented on #9458
@kumaran-14 the span coordinate geometry comes in as pixel coordinates. You can see that scale `invert` function is use to convert to back to "data space" (so that the spatial index an be used to get a first batch of potential hits). Scales also have a `compute` method, you can use that to convert segment data coordinates to pixel coordinates in a similar way, for the final comparison.

[2020-02-23 20:21] bryevdv commented on #9714
That's basically true. What I don't currently like is that means all rejected proposals are lumped in to one undifferentiated category, i.e. whether they were feature requests, a bug we can't/won't fix, a bug we disagree is a bug, just some random task, etc.

That said, I'm not sure anyone care about that besides me.

[2020-02-23 20:27] dkapitan commented on #9581
@bryevdv this is set in the current Dockerfiles in`docker-tools`. It has been put there to allow building older versions. I am happy to get rid of those, i.e. focusing on a new version of `docker-tools` that builds the latest version.

[2020-02-23 20:37] p-himik commented on #9714
Sounds like a job for the existing `good first issue` tag. :)

How so?
- Feature request -> `reso: noaction` + `type: feature`
- a bug we can't/won't fix -> `reso: wontfix` + `type: bug`
- bug we disagree is a bug - `reso: invalid` + maybe `type: bug`.

[2020-02-23 20:44] bryevdv commented on #9714
No, I just didn't describe it well. :) I meant a bucket from which core contributors could freely pull issues into upcoming milestones from, not that they are suitable fo new contributors.

Which is actually a good question itself: How should GFI issues be milestoned? We do want them done, but specifically don't want core devs to do them, typically.

That would be a change from current practice (j

[2020-02-23 20:48] mmcguffi commented on #4930
I see as mentioned in #1744 that the hovertool now wraps around on the right, but when the hover tool "points" to the left, it still overflows.

eg:
<img width="549" alt="Screen Shot 2020-02-23 at 2 46 08 PM" src="https://user-images.githubusercontent.com/17573404/75119770-85782180-564b-11ea-8619-1f04153f1ce4.png">
<img width="689" alt="Screen Shot 2020-02-23 at 2 46 30 PM" src="https://user-image

[2020-02-23 21:02] p-himik commented on #9714
In my understanding, these are low-priority issues that can be done whenever. If so, it doesn't seem to make much sense to put any milestone on them. It'd make sense to put a specific version there when the PR is already merged, just to indicate when the functionality will be available.

[2020-02-23 21:07] bryevdv commented on #4930
@mmcguffi possibly https://github.com/bokeh/bokeh/pull/9634 but it is not in a release yet, so you would need to test with a local build from master, or provide a test case we can actually run.

[2020-02-23 22:39] dkapitan commented on #9581
@bryevdv
Have commented-out `BOKEH_VERSION` setting for now, and it works. Have just published my first PR for bokeh (yay!), which includes everything from this issue apart from the development image. That will take more time for me to get my head around, so thought it was better to submit what I have now. Looking forward to your feedback.

[2020-02-23 22:42] #4966 closed

[2020-02-24 01:30] mmcguffi commented on #4930
@bryevdv ah yes, this appears to be exactly what is happening to me. I probably wont publicly release what I am developing for at least an other couple months, so I will probably just wait for the 2.0 release. Thanks!

[2020-02-24 01:32] bryevdv commented on #9341
@mattpap what of this can we exclude in the build sdists? our sdist is 37M which is not really reasonable
[code]

[2020-02-24 01:38] bryevdv commented on #4930
@mmcguffi just trying to understand clearly, as you saying you tried things out yourself and they were fixed? FYI I put an RC up on pypi for easier testing

https://pypi.org/project/bokeh/2.0.0rc1/

Also one the `bokeh/dev` channel on anaconda.org

[2020-02-24 01:59] mmcguffi commented on #4930
@bryevdv I did not actually test it empirically -- the documented behavior just seems to completely track with my issues. Thank you for solving my laziness and throwing it up on PyPI though -- I just tried the v2.0rc1 and it does indeed fix the problem.

<img width="495" alt="Screen Shot 2020-02-23 at 7 55 41 PM" src="https://user-images.githubusercontent.com/17573404/75124692-8bcfc300-5676-11ea-9

[2020-02-24 02:04] bryevdv commented on #4930
@mmcguffi I am afraid I don't know anything about the details of streamlit. This is a major number bump, and there are breaking changes. So it's not completely unexpected that downstream projects might need adjustments. cc @MarcSkovMadsen

[2020-02-24 06:36] bryevdv opened #9717 "[BUG] hover tooltip stretches badly to the left"
Tooltips going to the left anchor themselves to the left edge and stretch to the cursor instead of always displaying a tight fitting box:

![ScreenFlow](https://user-images.githubusercontent.com/1078448/75132665-b3318a80-568c-11ea-8b5b-bdb49b61d1c9.gif)

@jsignell do you have any quick suggestions?

[2020-02-24 06:40] bryevdv commented on #9717
Quick observation is that disabling `left: inherit` fixes:
<img width="568" alt="Screen Shot 2020-02-23 at 10 39 22 PM" src="https://user-images.githubusercontent.com/1078448/75132861-65695200-568d-11ea-9e01-3e87ebdee80b.png">

However:

* right facing tooltips have `right: inherit` and don't suffer this problem
* not sure if removing that would cause other problems

[2020-02-24 06:43] bryevdv commented on #9717
This is pretty glaring, I'd like to fix for 2.0

[2020-02-24 07:07] bryevdv commented on #9717
This diff seems to fix:
[code]

setting to `initial` instead of `auto` also seems to work. This is just some trial and error though.

[2020-02-24 08:46] pde opened #9719 "[BUG] Ellipse and Oval glyphs render incorrectly on log scales"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 1.4 python 3.7 google collaboratory

#### Description of expected behavior and the observed behavior

When rendered on a log scale with a width and height, ellipses should not be visually centered around their xy center. But bokeh renders them as such. Here's an example where an ellipse should

[2020-02-24 09:56] andfanilo commented on #4930
Hello,

I'm quickly chiming in from the Streamlit side where @mmcguffi [initiated the conversation](https://discuss.streamlit.io/t/bokeh-2-0-potentially-broken-in-streamlit/2025) about Bokeh 2.0.0rc1 not working in Streamlit, hopefully I don't sidetrack your initial conversation too much...

Currently, on the Python side Streamlit emits the bokeh chart into a JSON with `bokeh.embed.json_item` and

[2020-02-24 10:01] Karel-van-de-Plassche commented on #9581
`BOKEH_VERSION` was meant to be able to retroactively build images for older bokeh versions if users are requesting those. Seeing there has not been a request for the past few years, maybe not worth maintaining this ;)

[2020-02-24 10:14] mattpap commented on #9341
You can start by removing all `*.json` files and `compiler.js.map`. That will save a lot. Other `*.map` files could be removed as well. Having non-minified resources in a package is of dubious value in general, though we support this in resources. Compiler's stuff could be factored out into separate library or made downloadable on demand, similarly to sample data.

[2020-02-24 11:49] dkapitan opened #9721 "Add development docker image to docker-tools"
This ticket is a follow up from #9716:

Add development docker image in dockertools following [the developers guide for getting set up](https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html#devguide-setup)
- [ ] create Dockerfile from `dkapitan/continuumio:miniconda-debian-slim` that includes
  - [ ] installation of all dependencies via `environment.yml`
  - [ ] running `python setup.py devel

[2020-02-24 11:49] dkapitan commented on #9581
Have openend new issue for adding development docker image #9721. This issue can be closed once PR has been accepted.

[2020-02-24 13:41] Gordonei commented on #9435
Thanks guys, reading through the above PR, it does seem to be hitting the issue I was describing.

I'll try with my code against master - failing that, I'll try provide a simple reproduction.

[2020-02-24 16:52] Gordonei commented on #9435
OK, looks like the fix solves this issue!

## Baseline
1. Cloned the repo anew
2. Checked out b19f2c5547024bdc288d02e73fdb65e65991df5f (1.4.0)
3. Did a fresh install (i.e. selected choice (1) for build and install fresh)
4. Checked version (`python3 -m bokeh --version`): `1.4.0`
5. Started up a server instance of my app with two processes: `BOKEH_LOG_LEVEL='debug' python3 -m bokeh serve city_dashb

[2020-02-24 16:52] #9435 closed

[2020-02-24 16:59] philippjfr commented on #4930
@andfanilo I'll let @bryevdv field most of those questions but there have indeed been changes to the way `json_item` works so I'm not surprised non-matching Python and JS versions won't work together.

[2020-02-24 17:07] #9717 closed

[2020-02-24 17:48] bryevdv commented on #4930
Yes versions definitely JS/Python need to match, in general. Not just between major releases, either. Are you intending to hard code a fixed BokehJS version but accept JSON output from arbitrary Python Bokeh versions? I would not regard that as reliable.

I had not planned on it. Until now, we only publish full releases to NPM. This is certainly something we can consider changing in the future, es

[2020-02-24 20:09] Tikonderoga opened #9724 "[BUG] Behaviour of automated padding for ranges is inconsistent"
Exists in Bokeh from 0.13.0 till 1.4.0
Tested on Windows 10 and Ubunto 16.0, on Firefox and Chrome (most recent versions).

That's the weird bug, so explanation will be rather long.

**Example 1:**

[code]

That produces pretty looking chart:
![image](https://user-images.githubusercontent.com/36517077/75186527-a739dd00-570d-11ea-9709-965d4bd2239c.png)

Automatic padding added a little bit of space

[2020-02-24 20:18] andfanilo commented on #4930
Thank you both of you @bryevdv @philippjfr I transferred the info back to the Streamlit devs so we can look at what to do next.

Best of luck for the upcoming release !

[2020-02-24 20:25] RyanRio commented on #9706
@bryevdv This needs to be reopened -> if you provide an `attr_selector` of `0` then the statement `f"[{attr_selector!r}]" if attr_selector else ""` returns `""`.

Fix:
`f"[{attr_selector!r}]" if attr_selector is not None else ""`

Oops haha

[2020-02-24 20:46] bryevdv commented on #9706
@RyanRio You can just submit a PR and reference this issue in it. Will you be able to submit this today?

[2020-02-24 20:50] bryevdv commented on #9724
@Tikonderoga can you please try and report back with 2.0.0rc1 (available on pypi or bokeh/dev channel on anaconda.org)

Please note the starting with 2.0 hiding lines in the legend will remove them from automatic ranging computations (often requested feature)

[2020-02-24 21:04] kumaran-14 commented on #9458
@bryevdv In [Segment.ts](https://github.com/bokeh/bokeh/blob/b7649074fdf127a5c30471f9e3dd50a4477aa1ef/bokehjs/src/lib/models/glyphs/segment.ts#L102-L124), I'm doing this.

[code]
I get negative values in both cases. Am I doing it correctly?

[2020-02-24 21:15] dkapitan commented on #9721
@bryevdv
I have figured out how to automate builds on docker.hub.com, see https://hub.docker.com/r/dkapitan/continuumio where I have published the latest continuumio alpine and debian-slim images via automated builds (in this case, a merge into master).

I could do the same with the dev image if you want. To do so, I would need to become a member of the bokeh organization on hub.docker.com.

[2020-02-24 22:19] pde commented on #9719
Poking at this a little further -- it seems that perhaps what the Ellipse glyph does, when plotted on a log scale, is to interpret width and height as 3 standard deviations in a lognormal distribution, and plot that  region? If that interpretation is correct, the behavior is very non-obvious and really needs to be documented...

![bokeh_lognormal_scatter](https://user-images.githubusercontent.com/

[2020-02-24 22:25] Tikonderoga commented on #9724
@bryevdv Sorry, as I mentioned, it's weird issue and my description was lacking.
Let me try it again, using your template.

There are actually 2 issues:

Issue 1 (exists for all versions of Bokeh?):

![image](https://user-images.githubusercontent.com/36517077/75196063-cb52e980-5720-11ea-9f17-e9330226b120.png)

Issue 2 (exists in Bokeh > 1.4.0):

Y-range is small, all works fine:
![image](https://u

[2020-02-24 22:36] bryevdv commented on #9719
@pde Thanks for the issue detailed report. Bokeh currently only supports transforming point-derived glyphs on a log axis. Glyphs that have "extent" (i.e. width and height like an ellipse) are not compatible. Speaking plainly, I don't expect we will ever be able to justify doing anything about that:

* the demand for it is vanishingly small
* would impose a non-trivial development and maintenance c

[2020-02-24 23:46] bryevdv commented on #9721
@dkapitan that seems reasonable, and it's no problem to get you added to the bokeh org there, but can we target right after 2.0 release? I am planning to target getting our build/release automation rebuilt on GH CI after 2.0 so that will be a good tie to look at this as well.

[2020-02-25 01:20] dkapitan commented on #9721
@bryevdv fine to focus on 2.0 first, after which we can work in GH CI and docker.

[2020-02-25 01:26] pde commented on #9719
This makes sense. A documentation fix for this sounds like the way to go!

[2020-02-25 13:32] bruns01 opened #9727 "[FEATURE] Add multi-file selection to FileInput widget"
**The ISSUE**:
The current version (bokeh 1.4, branch master) of the FileInput widget of bokeh only allows a single file to be selected by the user.
The underlying <input type='file'> item in the browser comes with the option/property "multiple" in JS or HTML5, which is hard-coded to "False" in the bokeh-code.

**The Problem**:
For data analysis project in my laboratory I need to upload many tenth

[2020-02-25 15:08] tony-bony commented on #8841
I think that it could be even better if we could just add a callbacks, like JS js_on_click(), js_on_event() and js_on_change() to a `Legend` and / or `LegendItem` models to make it more consistent with other Bokeh models. This could allow the user to add a custom behaviours on events like `mouseenter`, `mouseleave`, `mousemove`, `wheel` etc...

[2020-02-25 17:04] bryevdv commented on #8841
That also seems like a reasonable thing to add though it might make sense to split off into a separate issue. The inverse hover/select (this original issue) should also just work out of the box.

[2020-02-25 23:48] tony-bony opened #9730 "[BUG] Broken backwards compatibility for DataTable model"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
[code]

#### Description of expected behavior and the observed behavior
Table should show up
Instead an empty browser window opens.

Latest release notes don't mention any changes in DataTable.
The code below worked fine until Bokeh v1.3.4

#### Complete, minimal, self-contained example code that rep

[2020-02-26 02:11] bryevdv commented on #9730
@tony-bony If things ever worked as you have them them, it was purely accidental and unintentional. Both `__view_model__` and `__subtype__` (which is necessary but omitted here) with ned to be class attributes. We have never demonstrated anything different. Here is a working version:
[code]

[2020-02-26 02:11] #9730 closed

[2020-02-26 02:24] bryevdv commented on #9730
It's possible in future versions the need for `__subtype__` will be relaxed, but it has never intentionally been so up to now.

[2020-02-26 03:16] bryevdv commented on #9458
@kumaran-14 actually you should be able to access the screen coords for the glyph without any work. They are in `this.sx1`, `this.sy1` etc

[2020-02-26 04:03] ayushiitr2901 commented on #9550
@poke1024 Are you still working on this project? If not, I would like to go ahead make the updates( as suggested) myself.

[2020-02-26 04:18] bryevdv commented on #9724
@Tikonderoga I have a suspicion, but have not yet been able to tool into it. You could check out the BokehJS for DataRange1d in the mean time, if you like. My suspicion is this:

* the default padding units are percentage
* the percentage is always applied to the *computed* auto-range, even if one end is fixed
* the computed auto-range with a straight line is zero
* therefore the computed padding

[2020-02-26 04:18] ayushiitr2901 commented on #9521
I surfed the internet and could not really find a way to not store the API key in the database while displaying the maps. Though a alert message in the documentation (as suggested above) seems a nice way to avoid confusion.
@bryevdv Could you suggest me with some very basics of how I can get started.

[2020-02-26 05:18] bryevdv commented on #9521
@ayushiitr2901 You could start by adding notes to the docstrings of `gmap` and `GMapPlot`. If you want to include a note in the narrative documentation, the relevant file is here:

https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/user_guide/geo.rst

We use Sphinx for our docs, which is the most common and standard tool for documenting Python projects. There are many howtos and tutoria

[2020-02-26 05:21] bryevdv commented on #9521
I guess I should add, this is not quite correct:

We could perform some trivial obfuscation on the key (e.g. base64 encode it) and then send that to BokehJS, then BokehJS could decode that (in memory) before configuring the Google Maps API. That seems of marginal utility but I would not turn down a PR that wanted to do it.

[2020-02-26 05:34] bryevdv commented on #9724
Looking quickly at the code, I do believe this is the case, and as I mentioned above this behavior is in fact *completely consistent*: the padding is always a percentage of the *computed min/max range*, even if that range is zero.

[2020-02-26 06:47] p-himik commented on #6356
Given that there are several layout issues, I'll report it here.
If you change a tick formatter of an axis that ends up showing longer labels, the labels will be truncated. A workaround is to call `plot_view.resize_layout()` when the formatter is changed.

[2020-02-26 07:09] ayushiitr2901 commented on #9521
@bryevdv Thank you for your help. I currently do not have much experience with using Sphinx, but I would love to learn more about it. I shall first analyze our code in my local setup and know about how it uses Sphinx and then I will proceed to solve the suggested issue.

[2020-02-26 08:04] poke1024 commented on #9550
@ayushiitr2901 Yes, go ahead, I haven't found time for this, thanks a lot.

[2020-02-26 11:13] tony-bony commented on #9730
I had `self.__subtype__ = 'Table'` (see last issue edit) but I removed it as I saw no difference.
Thanks for explaining.

[2020-02-26 11:50] tony-bony commented on #9730
Adding additional `__view_module__ = 'bokeh.model'` in my Table class solves my problem. I only don't understand why..?

[2020-02-26 14:03] mattpap opened #9731 "Drop support for legacy web browsers"
By legacy web browsers I understand any browser that doesn't support at least ES6, which in particular includes Internet Explorer and phantomjs. In bokeh 1.x we support most all browsers without specifying the minimum supported versions, with the exception of IE, which we support only in version 11.x. This continues in bokeh 2.x, however support for legacy browsers was relegated to legacy support,

[2020-02-26 15:57] bryevdv commented on #9731
The first thing we should do is look at the user-agent field in the CDN logs. That will be the best proxy we have for the number of viewers using old browsers.

[2020-02-26 16:14] bryevdv commented on #9515
@mattpap  For the sake of improving communication, I will share my interpretation of this statement, which is: "There's no need to hold off on a release *candidate* but I will have it done tomorrow in time for the actual release (as was agreed in the last meeting)." If you did not intend to have this done for the release I will gently suggest that removing it from the milestone would have been a c

[2020-02-26 16:32] Tikonderoga commented on #9724
@bryevdv
First of all, I would still argue it's inconsistent:

Look at the image below. For all lines, at any Y-value, computed min/max range would be zero. Why there's padding added for lines A, B and C, but not for D?

![image](https://user-images.githubusercontent.com/36517077/75364645-a75ae980-5881-11ea-8ba8-042eb4160493.png)

Also, which part of Bokeh code should I look into?
Is it /bokehjs/t

[2020-02-26 16:40] bryevdv commented on #9724
It's not really possible for me to speculate with just the images. Are there other invisible glyphs? What is the configuration of the data range? For that matter, are the "ABCD" labels or text glyphs, or were they added outside Bokeh after the fact completely?

Yes that's the main file of interest. The range will ask any available renderers for their bounds (and then union them together), so there

[2020-02-26 17:06] Tikonderoga commented on #9724
@bryevdv

Sure, I'll provide code and a lot of test cases where padding (both manual and automatic) appears to be broken. There will be multiple comments

**Case 1.**
[code]

![image](https://user-images.githubusercontent.com/36517077/75368608-a036da00-5887-11ea-944c-8b6c8bbbeef2.png)

**What's wrong?**
Computed range for all lines is 0, yet for first few lines, where Y is relatively small, automa

[2020-02-26 17:14] bryevdv commented on #9724
@Tikonderoga That's perfect I can run that and actually probe what the JS is doing.

FYI I think you could just pass e.g. `y1=2` to the line call and not generate those lists.

[2020-02-26 17:16] bryevdv commented on #9724
Looking at those now it looks possibly like the padding is always 1, which simple shows up very tiny on the scale of the last plot.

[2020-02-26 17:19] Tikonderoga commented on #9724
**Case 2: Auto-padding works correctly!**
[code]

![image](https://user-images.githubusercontent.com/36517077/75369659-7b436680-5889-11ea-9185-0bb2d3a5ca59.png)

**Case 3 : Auto-padding broken with y_range.start = 0**
[code]
![image](https://user-images.githubusercontent.com/36517077/75369799-b8a7f400-5889-11ea-9830-6b74bc738632.png)

That's an interesting one: all charts appears to be okay, even

[2020-02-26 17:23] Tikonderoga commented on #9724
**Case 4: Playing with range_padding. Not working for straight lines!**

[code]

![image](https://user-images.githubusercontent.com/36517077/75370172-4edc1a00-588a-11ea-8e05-6d87c33c60f5.png)

If computed range for line is 0, manual padding not working at all.

[2020-02-26 17:26] Tikonderoga commented on #9724
**Case 5: manual padding with non-straight lines:**

[code]
![image](https://user-images.githubusercontent.com/36517077/75370317-85b23000-588a-11ea-936d-1a8f3e2c3267.png)

1. Percentages are not really percentages? Setting padding to 10% increases Y range by 250 (middle chart)
2. Padding in absolute units working!

[2020-02-26 17:40] Tikonderoga commented on #9724
**Case 6: range.only_visible = True, auto-padding not working when only 1 line is visible**

[code]

![image](https://user-images.githubusercontent.com/36517077/75371542-8cda3d80-588c-11ea-89f5-05fb24a7aadb.png)

For straight lines auto-padding stops working when only 1 line is visible.

[2020-02-26 17:42] Tikonderoga commented on #9724
**Case 7: same as case 6, but lines are not straight**

[code]

![image](https://user-images.githubusercontent.com/36517077/75371798-083bef00-588d-11ea-88aa-a9ecfb86070a.png)

Auto-padding not working for cases where only 1 line is visible even if line is not straight.

[2020-02-26 17:49] Tikonderoga commented on #9724
**Case 8: Manual padding, percentages**

[code]
![image](https://user-images.githubusercontent.com/36517077/75372134-9dd77e80-588d-11ea-8843-24499885ef2d.png)

This one also broken for case where 1 line is visible (probably because computed range for that case is 0).

[2020-02-26 17:52] Tikonderoga commented on #9724
**Case 9: Manul padding, percentages, not straight lines.**

[code]

![image](https://user-images.githubusercontent.com/36517077/75372541-4dacec00-588e-11ea-8a06-38c696db9bc0.png)

Finally, we have padding in all cases. But it's not perfect (it's too large for a case when all 3 lines are visible).

[2020-02-26 17:57] Tikonderoga commented on #9724
Overall, I think _computed min/max range_ should acknowledge the fact what start or end of the range is pinned.

For example, is computed range for line is (Ymix:Ymax), but y_range.start set to Ys, computed range should be (Ys:Ymax) or even (min(Ymin, Ys): Y:max).

[2020-02-26 18:24] mattpap commented on #9724
Currently the implementation completely ignores explicitly set `start` and `end` values when computing range padding. This should be a fairly easy fix. If you would like to take a stab at it, then you will have to modify [this](https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/ranges/data_range1d.ts#L167-L236) method to respect `_initial_start` and `_initial_end` value.

[2020-02-27 04:01] #9651 closed

[2020-02-28 04:06] ayushiitr2901 commented on #9521
@bryevdv I was looking into the solution you seuggested and had a few questions regarding the same. We store the API_key as String which can be easily encoded into Base64 using builtin libraries like CryptoJS or there are simplar functions to the same task as well (like 'btoa' or simply defining a 'Base64_keyString' ).
Could you please point me to how exactly BokeJS interprets and stores the API_k

[2020-02-28 04:15] bryevdv commented on #9521
The key property value is accessed on the JS side here:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/plots/gmap_plot_canvas.ts#L55

Assuming it arrives already encoded, it would exactly a one-line addition there to decode it before passing to the function.

So then the question is how to automatically encode it outgoing on the Python side. The best way to do that is probably

[2020-02-28 04:17] bryevdv commented on #9521
Also note there is no need to use any external libraries. BokehJS already has a `decode_base64` function that can be used:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/core/util/serialization.ts#L159

[2020-02-28 04:23] ayushiitr2901 commented on #9521
Thanks for your help, things are pretty much clear now. I will start working on it.

[2020-02-28 05:28] bryevdv opened #9737 "[BUG] push_notebook broken in jupyter-lab 1.2.6"
notebook_comms examples work in classic notebook, but do not work in jlab. (OSX/Safari) This is with a fresh install of jlab and also
[code]

I tried with versions all the way back 1.1.4 and they all report that the extension fails to load:

<img width="567" alt="Screen Shot 2020-02-27 at 9 13 11 PM" src="https://user-images.githubusercontent.com/1078448/75512910-cbb0e600-59a7-11ea-80b2-d84546ba51

[2020-02-28 05:38] bryevdv commented on #9737
And conversely, embedded Bokeh apps seem to work in jlab but not in classic notebooks.

[2020-02-28 07:16] #9521 closed

[2020-02-28 08:26] p-ortmann opened #9739 "Feature Request: Changing line width in data range"
**Is your feature request related to a problem? Please describe.**
I'd like to plot lines next to one another without clashes or gaps, currently I can only do this for one zoom level (at plot initiation) by manipulating the line coordinates in sync with the line width. However if you zoom the line width stays constant on the screen and they clash or gaps appear, depending on if you zoom in or out.

[2020-02-28 13:19] mattpap commented on #9737
Did you install this?
[code]
Currently there is no support for specifying extensions' dependencies.

[2020-02-28 15:13] bryevdv commented on #9737
I did not, are you saying it needs to be? There is nothing here about it

https://docs.bokeh.org/en/latest/docs/user_guide/notebook.html

[2020-02-28 15:41] mattpap commented on #9737
Indeed it's missing. There's only a mention in the extension's readme. I will update this together with the blog post.

[2020-02-28 16:44] bryevdv commented on #9737
That still leaves the embedded app on classic notebook case, I will see what more I can investigate later during lunch.

[2020-02-28 16:54] bryevdv commented on #9737
notebook error is here in our code:

<img width="1483" alt="Screen Shot 2020-02-28 at 8 53 36 AM" src="https://user-images.githubusercontent.com/1078448/75568309-e155f800-5a07-11ea-89f2-32996298e281.png">

`msg` does not have any `contect` attr.

[2020-02-28 19:10] RyanRio commented on #9666
@bryevdv Am I correct in that #9536 would allow me to access other arguments on the request object and enable me to do (I'll try to keep it as purely-bokeh-related as possible, treat `request.session` as just a django session that should persist across a single user instance):
`doc.session_context.request.session["this users bokeh application id"] = doc.session_context.id` and then later on (for i

[2020-02-28 20:53] Tikonderoga commented on #9724
@mattpap @bryevdv
I'm trying to build a fix and verify it before creating pull request.
I've managed to build Bokeh locally, but when I'm trying to run tests in notebook, I'm seeing following error:

![image](https://user-images.githubusercontent.com/36517077/75586361-db790a80-5a39-11ea-9cbb-e957676cec42.png)

How would I fix that?
Should I go to Discourse with such questions?

[2020-02-28 21:25] mattpap commented on #9724
My personal approach to this is as follows:

- terminal 1: `BOKEH_DEV=true bokeh static`
- terminal 2: `BOKEH_RESOURCES=server-dev jupyter-lab`

This will make sure that you always have the most recently built bundles and debugging experience in jlab is the most efficient. Another personal preference is not to use jlab for bokeh development, as it's usually more trouble than it's worth.

[2020-02-28 21:54] bryevdv commented on #9724
`BOKEH_RESOURCES=inline` is another option, but also agree: if you are not working on something that is specifically jupyter-related, then working there adds quite a lot of (IMO) otherwise unnecessary complication.

[2020-02-28 22:01] Tikonderoga commented on #9724
Thanks,
[code]
does the trick.

[2020-02-28 22:11] Tikonderoga commented on #9724
And follow-up question: is there any instructions how to contribute to bokeh source code?
Or is it just "create branch -> test -> create pull request" routine?

[2020-02-28 22:30] bryevdv commented on #9724
@Tikonderoga yes exactly PRs from forks are the standard way to proceed

[2020-02-29 01:15] bryevdv commented on #9737
@mattpap I will update the user's guide with a note. I need to be able to build (but not yet publish) real 2.0 builds over the weekend in order test SRI functionality and that is blocked until the repo is ready to be tagged 2.0 (including docs up to date).

[2020-02-29 01:28] bryevdv commented on #9737
So a band-aid fix for the other notebook issue is to wrap the code above into a function that is more forgiving and does not blow up if called when there are no sessions. Before resorting to that, I will try to do a bisection to see if there is a more identifiable cause for the change.

[2020-02-29 04:43] bryevdv commented on #9737
I have identified the issue and will submit a PR shortly.

[2020-02-29 04:47] ayushiitr2901 commented on #9521
@bryevdv I was working on encoding the Google_API to Base64 as we discussed above, but I am having a bit of trouble. The encoding method defined in the 'bokeh/util/serialization.py' i.e 'encode_base64_dict' takes NumPy array as input, while the API key we need to encode is in String format. Should I define a new serialization method first that converts String to Numpy arrays (like 'numpy.fromstrin

[2020-02-29 05:01] bryevdv opened #9742 "Notebook testing"
We have been without proper CI testing for notebook and JupyterLab for too long. We need to make CI testing for these a top priority after 2.0.

[2020-02-29 06:52] #9737 closed

[2020-02-29 11:21] mattpap commented on #8176
This was resolved in PR #9331.

[2020-02-29 11:21] #8176 closed

[2020-02-29 12:10] comatrion opened #9744 "[BUG] bokeh server layout overlap on toggle visibility"
#### Software version info
bokeh 1.4.0
chrome  78.0.3904.97 (Official Build) (64-bit)
macOS 10.14.6 Mojave

#### Description of expected behavior and the observed behavior
Context:
- a widgetbox with three Div widgets showing text
- a Button with a callback toggling visibility of the widgetbox

Expect:
- can toggle visibility and the Divs redisplay normally

Observed:
- Divs overlap on redisplay

[2020-03-02 00:09] bryevdv opened #9745 "legacy issues should not be in a subdirectory"
@mattpap The legacy resources should go in the same "directory" level as all other resources. Instead of differentiating with directory, the distinction should be by filename, e.g.
[code]
The existing automation code we do still have does assumes a single directory (and as a result no legacy resources were ever uploaded for any 2.0 dev or rc to datae) and the SRI hash machinery also assumes a sing

[2020-03-02 00:52] bryevdv opened #9747 "USE SRI hashed on release candidates"
After consideration, decided against this.

[2020-03-02 13:34] #9745 closed

[2020-03-02 16:01] RyanRio opened #9748 "[BUG] Document not set on result of pull_session - Django/bokeh integration"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh - 1.4.0
python - 3.8.1
django - 3.0.2
OS - Windows 10
Browser - Google Chrome 80

#### Description of expected behavior and the observed behavior
* Expected behavior - pulling a document from an existing session (by session-id and url) should return the corresponding document.
* Observed behavi

[2020-03-02 16:48] RyanRio commented on #9748
After further investigation, it appears the cause is no further messages after "ACK" are sent - the state transition `CONNECTED_AFTER_ACK()` occurs though. How do I set my pyloglevel, I tried doing both
[code]

[2020-03-02 17:19] bryevdv commented on #9739
@p-ortmann  what would "width in data space" mean, specifically, in cases where there scales are very different on the x and y axes?

[2020-03-02 17:39] Tikonderoga commented on #9724
@bryevdv
Here's what I did:

[code]

it asks for authorization. I've entered my current credentials for github.

Result:

[code]

[2020-03-02 17:46] RyanRio commented on #9748
I added a figure to the doc root of
[code]
And that figure actually does exist in the received doc! However, my_cb does still not exist.
I have additional logs -
This is when loading the page:
[code]
This is when pressing the button:
[code]

[2020-03-02 19:24] sethkaufee opened #9750 "[FEATURE] improve bokehjs dependency and project management"
**Is your feature request related to a problem? Please describe.**
Our team currently is using Bokehjs within a webpack/React project (the es module update is much appreciated!). The issue we had initially was that some of the internal dependencies get pulled via git, i.e. canvas2svg, which breaks due to the fact that alpine images don't have git pre installed. We install git now on our build now

[2020-03-02 20:57] p-ortmann commented on #9739
@bryevdv I can't come up with a meaningful use case if your scales are very different. But it's a valid point, i guess you'd have to introduce axis oriented widths, one for a horizontal and one for a vertical line. That sounds like a lot of effort though, especially considering that rectangles offer a solution.
I think I better wait for WebGL support for rectangles

[2020-03-02 20:57] #9739 closed

[2020-03-02 21:52] nixie opened #9752 "[BUG] Hover tool not working correctly for rotated rectangles"
#### Software version info
 BokehJS 1.4.0 successfully loaded (I am using Jupyter notebooks)
Python 3.7.5
The version of the notebook server is: 6.0.3
IPython 7.10.1
Linux 5.3.0-40-generic # 32~18.04.1-Ubuntu
Firefox 73.0.1 (64-bit) / same behaviour also in Chromium Version 80.0.3987.122

#### Description of expected behavior and the observed behavior
Hover tool should raise a tooltip whenever the

[2020-03-02 23:57] bryevdv commented on #9750
@sethkaufee I agree 100% that we need to continue to work to make BokehJS easily usable but everyday JS devs using standard JS dev tools and workflows. (That's not me yet BTW I still have lots to learn on the JS side).  A few notes about the packages:

- canvas2svg - we could/should split this into a separate bokeh-svg.js bundle perhaps. It's only used when rendering SVG

- gloo2 - This should not

[2020-03-03 00:21] mattpap commented on #9750
The simplest solution is to publish those dependencies under `@bokeh` namespace, as proposed in #7512. Similar request was made in #9447.

[2020-03-03 00:29] mattpap commented on #9750
Issues with ESM support (don't remember exactly why; may have been obsoleted by later work) and typing.

[2020-03-03 03:09] #9747 closed

[2020-03-03 05:17] meenurajapandian commented on #9398
I came across this while looking for a way to add a legend to a heatmap with a linear colormapper that uses a GeoJSONDataSource. But the `legend_field` does not work for me either.

The figure is basically this:
`p.patches('xs', 'ys', fill_color={'field': 'some_field', 'transform': mapper}, source=geo_src, legend_field='some_field')`

`some_field` is a feature of each patch and `geo_src` is a GeoJ

[2020-03-03 18:17] bryevdv commented on #9750
@sethkaufee If I get you access to the forked repos can you get them updated to publish to NPM, then I can quickly publish as soon as they are ready.

[2020-03-03 23:01] pythonic2020 opened #9756 "[BUG] bokeh 1.4.0 labextension for jupyterlab is "outdated" for jupyterlab 2.0.0"
After installing **jupyterlab 2.0.0** and using this command:

`jupyter labextension install @bokeh/jupyter_bokeh`,

`jupyter labextension list`

shows that the bokeh labextension is "outdated."  Bokeh plotting and server still seemed to work ok in jupyterlab 2.0.0.  I went back to jupyterlab 1.2.6 or else I would list the output here.

ipympl 0.5.2 labextensions also had issues with JLab 2.0.0, b

[2020-03-03 23:15] bryevdv commented on #9756
There is already an issue for this in the extension repo:

https://github.com/bokeh/jupyter_bokeh/issues/88

We will have to get through the Bokeh 2.0 release before we can do anything about this.

[2020-03-03 23:15] #9756 closed

[2020-03-03 23:17] pythonic2020 commented on #9756
Ok, thank you.

[2020-03-04 17:47] mattpap opened #9757 "Investigate using shadow DOM to gain proper isolation"
Relies on #9731 as shadow DOM is not supported in legacy browsers.

[2020-03-04 18:17] mattpap opened #9758 "Deprecate bokehjs package and suggest @bokeh/bokehjs"
This should be done after bokehjs 2.0 is released.

[2020-03-04 23:54] bryevdv commented on #9110
Bumping this to `next` because its a pretty glaring omission that several folks have run in to now (and is hopefully not too hard to address)

[2020-03-05 00:38] austintpg commented on #7357
Hi @bryevdv , I am having the same issue as the OP. Has this been fixed? If not, how can we re-render/update the Tabs object inside a JS callback? I have tried many things, but the tabs' titles do not update, even when the property has actually changed (checked using the browser console). Thanks.

[2020-03-05 00:42] bryevdv commented on #7357
@austintpg if there were any updates they would be recorded here. Relative to (many) other things and limited resources this has simply not been a high priority. If you are interested to take a stab at it I can point you in the right direction.

[2020-03-05 00:45] austintpg commented on #7357
It would be great if you could tell me what's the best starting point, @bryevdv . I have tried using the update() function from the bokeh.core.has_props class, as well as changing the title directly (which it works, but does not show), but nothing helps with this. There has to be a way to trigger the update of the enclosing Tabs object, I am sure.

[2020-03-05 01:41] bryevdv opened #9760 "[BUG] missing bokeh.json breaks custom model examples"
@mattpap On windows the spectrogram example fails with

    with io.open(join(bokehjs_dir, "js", "bokeh.json"), encoding="utf-8") as f:
FileNotFoundError: [Errno 2] No such file or directory: 'c:\\users\\test\\anaconda3\\envs\\pip200test\\lib\\site-packages\\bokeh\\server\\static\\js\\bokeh.json'

Did I misunderstand that `bokeh.json` [was not necessary](https://github.com/bokeh/bokeh/pull/9726#di

[2020-03-05 01:46] bryevdv opened #9761 "[BUG] TextInput unresponsive on Edge"
Works fine on Chrome and FF. Enter, tab, etc nothing will seem to register an update e.g. in sliders.py

[2020-03-05 02:30] bryevdv commented on #9760
I untagged my local release branch, made the single change to `MANIFEST.in` and retagged and re-built. There is no other changes so I am only rebuilding the pip and conda packages.

[2020-03-05 02:38] bryevdv commented on #9760
new packages seem to work. @mattpap I would *really* appreciate it if you could join zulip so I can send you you an sdist there for testing

[2020-03-05 02:38] #9760 closed

[2020-03-05 02:43] bryevdv commented on #9761
This seems like a pretty glaring problem but I don't know how to fix it and I think trying to start the release over from scratch is too risky.

[2020-03-05 10:52] ltalirz commented on #9523
In particular, it would be very helpful to understand what guidelines there are on how to distribute pre-built extensions, and how this documentation relates to existing approaches like https://github.com/bokeh/bokeh/issues/5345#issuecomment-430334009

@philippjfr Would you recommend your approach to others who would like to distribute their extension through PyPI?

[2020-03-05 14:46] philippjfr commented on #9523
Since bokeh 1.4.0 bokeh's new compiler architecture has real support for shipping extensions. You can see how that was set up for Panel [here](https://github.com/holoviz/panel/pull/626) but it would still be good to document this properly along with documentation on how to publish and load the bundle on npm.

[2020-03-06 04:30] anthonytw opened #9763 "[BUG] `gridplot` `merge_tools` removes distinct tools it thinks are repeated, e.g., `xpan` and `ypan`"
### Software versions

**bokeh version**: 1.4.0
**python version**: 3.7.3 (macOS), 3.8.0 (Ubuntu)
**OS**: macOS 10.15.3 and Ubuntu 19.10
**browser**: (tested only on macOS) Firefox 73.0.1, Chrome 80.0.3987.132

### Expected and Observed Behavior

**Expected behavior**: Merged toolbar contains both vertical and horizontal pan tools.
**Observed behavior**: Only one of the pan tools is present on the

[2020-03-06 18:27] jeremy9959 commented on #9654
I rethought my approach to this and have resolved some problems in situations where the model used JS callbacks.    The improved version is demonstrated here:
- [Bokeh Model Interactive Graph](https://jeremy9959.net/structure_graph.html).

I closed the earlier PR and can reopen one if you think it worthwhile.

[2020-03-07 03:41] bryevdv opened #9764 "[BUG] MultiChoice placeholder text not displayed"
MRE:
[code]
Displays:

<img width="411" alt="Screen Shot 2020-03-06 at 7 41 08 PM" src="https://user-images.githubusercontent.com/1078448/76136073-721d6c80-5fe2-11ea-99ce-cd15a4325bf3.png">

cc @philippjfr

[2020-03-08 01:56] jdsalmonson commented on #6308
I just stumbled on this bug: my Slider( ... , title = "foo", ..), using a CustomJS callback, will only display the title with the initial slider value; it won't update along with the slider.  As mentioned above, setting title = None removes the title entirely, which is at least not wrong.  I'm using bokeh 1.4.0 and python 3.7.6.  Is there a plan to fix this?

[2020-03-08 07:13] bryevdv commented on #6308
@jdsalmonson you have to set `plot.title.text`. Passing `title` to `figure` is a convenience for creating and configuring a `Title` object (which has a `text` attribute that is the real source of truth).

[2020-03-09 05:43] bryevdv commented on #7357
@austintpg this would require a change on the BokehJS / TypeScript side of things, there is nothing on the Python side will affect things. If you are still interested let me know and I will write up more detail.

[2020-03-09 10:16] NikoDap opened #9765 "[FEATURE] Add path to fileInput"
Hello Friends,

would it be possible to add a attribute to fileInput? I would like to have the path of the file that is chosen. I have some files that include data from a measuring machine. If I take the base64 value and try to convert it to utf-8 or something else, i don't get the right data. Even if I try to convert base64 with a different tool, it won't work.
So it would be great to get the pat

[2020-03-09 12:24] johan12345 commented on #7951
When using WebGL (`bokeh-gl-1.4.0.min.js`) with bokeh 1.4.0, I see a similar issue, even though `line_join` is set to `bevel`. Disabling WebGL resolves the issue. Is the `line_join` setting not supported in WebGL?

[2020-03-09 13:25] #9727 closed

[2020-03-09 13:45] #9758 closed

[2020-03-09 14:01] #9447 closed

[2020-03-09 14:01] #9750 closed

[2020-03-09 14:27] bryevdv commented on #9765
It's not possible to provide the full path. For security reasons, browsers hide this information and the is nothing we can do about it.

[2020-03-09 14:27] #9765 closed

[2020-03-09 18:06] SeanCGriffin commented on #7438
Have there been any updates to this? I have tried doing something similar (I have a lot of tabs with several plots all being streamed to in real time) and I think that this would be a good solution to helping with massive lag. Unfortunately, when trying the CustomJS solution above, all the contents of all tabs disappear.

[2020-03-09 18:13] bryevdv commented on #7438
@SeanCGriffin There is never any reason to ask this on an OSS tracker. If there were updates, they would be recorded here in the issue. No one has done any work on this that I am aware of. (There are limited resources, and very many competing priorities)

[2020-03-09 19:59] jukiewiczm commented on #7438
@SeanCGriffin
Check out the javascript snippet that I posted it seems to do the job pretty well. It does for me at least

[2020-03-09 20:03] SeanCGriffin commented on #7438
@jukiewiczm
I did; unfortunately the JS leaves me with a bunch of empty / broken tabs. I believe something similar to the JS is the solution, but I need to figure out why when I click away from the active tab everything collapses and there are no figures/anything shown anymore.

[2020-03-09 21:38] jbednar commented on #7438
I guess that's true of Bokeh, under your excellent stewardship, but there are definitely many cases in the OSS projects I run where we've fixed things or moved in a different direction and didn't realize or remember about an issue about it.  We find things like that whenever we triage open issues.

In any case, Panel (based on Bokeh) now allows dynamically populating tabs to avoid this issue; see

[2020-03-10 01:38] jaseuts opened #9767 "RuntimeError: Models must be owned by only a single document, WheelZoomTool(id='1130', ...) is already in a doc"
I have 2 anaconda environments in Windows 7:

- **env1** has jupyter lab 0.32 and bokeh 0.12.16,
- **env2** has jupyter lab 2.0.1 and bokeh 2.0.0.

In a jupyter notebook, I have 2 cells of code:

**Cell 1**
[code]
**Cell 2**
[code]
In the `env1`, I could run cell 1, cell 2, and cell 1 again without any problem.

However, in `env2`, after executing cell 1, then trying to run cell 2, I got an error

[2020-03-10 01:47] bryevdv commented on #9767
@jaseuts "Model" means any Bokeh object with properties that gets synchronized between Python and JavaScript, e.g. the `WheelZoomTool` mentioned in the error message.

I can't reproduce this on my own with a similar set of commands in a notebook I already have, so we will absolutely need a complete notebook we can inspect and run in order to investigate.

[2020-03-10 01:50] bryevdv commented on #9767
Noting: if there is an issue here, I would not be surprised if it is specific to Tabs/Panel

[2020-03-10 01:53] jaseuts opened #9768 "Visual not displayed with bokeh serve"
I have a file called "bokeh app.py" saved in Documents folder as follows:
[code]
When I run `bokeh serve "documents\bokeh app.py" in anaconda prompt, I got these messages:
[code]
But no visual displayed anywhere. I then entered this `http://localhost:5006/bokeh app` in chrome browser, it said "404: Not Found", and some additional messages appeared in the anaconda prompt
[code]
My questions are:

-

[2020-03-10 01:55] jaseuts commented on #9767
Hi @bryevdv, could you please elaborate what you meant? Why did it work in older version of bokeh (0.12.6) but got error in current version 2.0.0?

[2020-03-10 01:58] bryevdv commented on #9767
@jaseuts I don't know, that's why I am asking you to provide a *complete notebook*, so that we can reproduce what you are seeing, and investigate.

As an aside, can I ask why you are showing the same plot multiple times. I would regard that as unusual usage and it's possible things only worked before "by accident".

[2020-03-10 02:09] jaseuts commented on #9767
@bryevdv, a legitimate question: that notebook is to follow a tutorial of Data Visualisation With Bokeh. Each cell to show how to use a certain bokeh's features. For example, cell 3 to use **gridplot**, cell 4 to use **Tabs**. As I don't know how to upload the workbook, here's its contents
Cell 1:
[code]
Cell 2:
[code]
Cell 3:
[code]
Cell 4:
[code]

[2020-03-10 02:09] bryevdv commented on #9768
@jaseuts The issue is the space in your module filename. While in principle perhaps that "should" work, in practice it is extremely unusual to ever have python module names with spaces in them, so I'm not sure we would ever bother doing anything about this.

BTW I'd like to gently direct you to the project discourse, which is the best place to start if you are not sure if something is a bug pr not

[2020-03-10 02:09] #9768 closed

[2020-03-10 02:13] bryevdv commented on #9767
@jaseuts unfortunately that code requires an additional data file, so it cannot be run as-is. We need you to either:

* re-work the example code to be complete and *self-contained*, or
* provide the necessary data file

[2020-03-10 02:16] bryevdv commented on #9767
As an aside, we have our own live tutorial notebooks that can be used instead:

https://mybinder.org/v2/gh/bokeh/bokeh-notebooks/master?filepath=tutorial%2F00%20-%20Introduction%20and%20Setup.ipynb

[2020-03-10 02:17] jaseuts commented on #9768
Thanks for your response @bryevdv. I renamed the file to "bokehApp.py" but it didn't work either, still having the same message shown in anaconda prompt without any visual displayed. As have no knowledge in programming, I thought if anything didn't work as intended, it must be a bug?

[2020-03-10 02:20] jaseuts commented on #9767
@bryevdv, please find attached
![image](https://user-images.githubusercontent.com/11934573/76273392-db96c700-62d1-11ea-821b-932d9929990f.png)

[2020-03-10 02:20] bryevdv commented on #9768
@jaseuts I ran your exact code in a file named `bkapp.py` and it worked as expected for me. So, we will need more complete information from you:

* python, platform and browser versions
* the output of running `bokeh info`
* the exact set of commands you ran and steps you took

[2020-03-10 02:22] bryevdv commented on #9768
<img width="1229" alt="Screen Shot 2020-03-09 at 7 21 31 PM" src="https://user-images.githubusercontent.com/1078448/76273539-5660d300-623b-11ea-8972-22887f090948.png">

[2020-03-10 02:25] jaseuts commented on #9768
@bryevdv, please see below:
[code]
OS: Windows 7 64-bit
Browser: Google Chrome Version 80.0.3987.132 (Official Build) (64-bit)
[code]

[2020-03-10 02:26] bryevdv commented on #9767
What is that? Is that datacamp? @jaseuts please be more forthcoming with information. I genuinely want to help but you are making this difficult. Always err on the side of giving more information when asking for help from OSS maintainers.

If that is DataCamp then that is a very old tutorial, I have no idea how or if it is upgraded in the many years since I helped create it, and I would suggest ju

[2020-03-10 02:33] bryevdv commented on #9768
I am afraid I don't have access to Windows 7 to test on. Is there any way you can test on different platforms are report back?

[2020-03-10 02:36] bryevdv commented on #9768
Also, please provide the other information I asked for: *what is the exact set of command and steps you took*

[2020-03-10 02:45] bryevdv commented on #9768
@jaseuts perhaps you should also try running with the `--show` option. That will raise a browser to the correct location for you:

[code]

[2020-03-10 02:54] #9703 closed

[2020-03-10 02:59] jaseuts commented on #9768
Sorry @bryevdv. Thanks for being patient with me. Here is the command I entered in anaconda prompt.

[2020-03-10 03:01] bryevdv commented on #9768
After running that did you navigate a browser to `http://localhost:5006/bokehApp` ? if you did (for if you run with `--show`) are there any errors reported in the browsers JavaScript console? (This differs by browser you will need to google how to access the JS console for your browser)

[2020-03-10 03:18] jaseuts commented on #9768
@bryevdv, thanks for your help. it works automatically now with your command `bokeh serve --show bokehApp.py`.

The new question then: what is the purpose of the command `bokeh serve` without the `--show`?

[2020-03-10 03:22] bryevdv commented on #9768
@jaseuts `--show` is a useful convenience for anyone running things locally, but if you are deploying a Bokeh server in a production setting, then the instance running the bokeh serve command a remote compute for all viewers (it may not even have a display attached).

[2020-03-10 03:27] jaseuts commented on #9767
@bryevdv , sorry I didn't know those information was relevant, and I didn't mean to make it difficult. Yes, the course is in DataCamp, created by Team Anaconda. Thanks for the link to bokeh live tutorial notebook, I'll definitely have a look. Still, I think there's a bug with version 2.0.0 because version 0,12.6 works without error when I used the same model in 2 different document.