[2018-05-14 18:57] bryevdv commented on #5589
Just updating, currently not working for me on safari:

* `marker_compare.py`

* `scatter10k.py`

[2018-05-14 19:14] bryevdv commented on #7904
Is there not a solution that works for python 2 and 3?

[2018-05-14 19:17] bdarnell commented on #7904
No; you'll need to use a conditional import.

[2018-05-14 19:25] bryevdv opened #7905 "All gallery examples bundle unnecessary extension code"
All the gallery examples have the code for ion range slider, surface3d, etc. Perhaps we will need to run every export for the gallery in a separate process to avoid this. Alternatively, is there an easy way to clear out any custom models that the sphinx extension could do between exports?

cc @mattpap

[2018-05-14 19:35] bryevdv commented on #7904
OK, thanks for the info!

[2018-05-14 22:01] bryevdv commented on #7903
For me it would be ok to manually add the link to the Numbro language file

@andresmrm in that case I would suggest looking at the `CustomJSHover` that was just added in `0.12.16` that should allow you to have complete control over how fields are formatted

[2018-05-15 10:23] MethaniNitesh opened #7906 "Bounding Boxes"
How to draw bounding boxes around everything in the plot ? For example, say in bar plot, I want bounding box around each bar and tile, legend, labels, ticks, etc.

[2018-05-15 13:34] ongietorri commented on #7891
@bryevdv I tried it in 0.12.16 and now the datatable is not editable anymore, even when `editable=True`.

[2018-05-15 14:13] jbednar opened #7908 "Tile source attribution font size"
Would it be possible to reduce the default font size on the [attributions for tile sources](https://github.com/bokeh/bokeh/blob/a0572fa40c3a59b72ba56a8c300e0ad06a044a23/bokeh/models/tiles.py)?

![image](https://user-images.githubusercontent.com/1695496/40062037-e05bceca-581f-11e8-87b6-75dac06cfc3f.png)

Seems like it just needs to be barely readable, while the current size is overwhelming for smal

[2018-05-15 15:25] x9y9 commented on #7733
**@bryevdv** Since  row_header/s have been removed in 0.12.16 release, can you tell us how to disable the index column now?

[2018-05-15 15:27] bryevdv commented on #7891
@ongietorri please provide a complete script that we can run as-is and we will investigate.

[2018-05-15 15:28] bryevdv commented on #7733
Information like that is always in the release notes/migration guide: http://bokeh.pydata.org/en/latest/docs/releases.html#datatable

[2018-05-15 15:29] bryevdv commented on #7908
30% of the *default* tick label size? I don't think the font should vary based on user-configured tick label size. In any case sure, happy to merge a PR.

[2018-05-15 15:29] bryevdv commented on #7906
As stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions (i.e. it's never the place for "How do I..."). For that, please consider [Stack Overflow](https://stackoverflow.com/) or the [public mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/

[2018-05-15 15:29] #7906 closed

[2018-05-15 15:30] x9y9 commented on #7733
**@bryevdv** thanks!

[2018-05-15 15:49] ongietorri commented on #7891
hello @bryevdv, the code provided in this ticket can be used as is.

[code]
![image](https://user-images.githubusercontent.com/5689266/40068160-409886dc-5868-11e8-8bcb-62ba7a465488.png)

The result is the same with a bokeh server.

Thanks

[2018-05-15 15:59] bryevdv commented on #7891
@ongietorri the original code in the ticket did not have imports. There are many tens (hundreds?) of thousands of users, in the interests of fairness on the handful of core developers we must insist on *complete* code samples. With complete code I can confirm a bug. I am currently traveling for a family medical situation, but will look at it when I am able.

@mattpap any ideas what's going on her?

[2018-05-15 16:11] jbednar commented on #7908
Looks like it's set to 9pt right now:

https://github.com/bokeh/bokeh/blob/a0572fa40c3a59b72ba56a8c300e0ad06a044a23/bokehjs/src/coffee/models/tiles/tile_renderer.coffee#L50

If that's 9pt, then maybe 4pt?

[2018-05-15 16:21] benlindsay opened #7909 "Bokeh plot doesn't display in notebook on another machine"
When I generate a simple plot in a Jupyter Notebook like so:

[code]

I can close the notebook and reopen it, and the bokeh plot will be visible without running the notebook. I can move the notebook to anywhere else on the same machine, open the Jupyter notebook, and see the plot without running the notebook. Now if I scp that same notebook to a different machine (copying between a Linux machine a

[2018-05-15 16:30] benlindsay commented on #7909
Wow, thank you for such a fast response! I missed that section when learning Bokeh, and it seems to be in a pretty prominent and logical place, so that's all on me. I'm glad the solution to my problem is so simple though. Thanks for all your work on this package! It's great.

[2018-05-15 16:30] #7909 closed

[2018-05-15 16:30] bryevdv commented on #7909
Thanks for the kind words!

[2018-05-15 16:31] bryevdv commented on #7908
I don't really have a strong opinion here, so am happy to change to whatever works for you.

[2018-05-15 21:13] mattpap opened #7911 "Make bokehjs' unit tests more robust"

[2018-05-16 10:42] #7911 closed

[2018-05-16 10:48] ivirshup opened #7913 "Hover tool still shows up for hidden line glyphs"
A hover label shows up for line glyphs when they're hidden by a filter. This is unexpected since it doesn't happen with scatter glyphs. Here's a little example:

[code]

Output in `gif` form:

![bokehissue_hover2](https://user-images.githubusercontent.com/8238804/40112704-455f0abe-594a-11e8-88b3-695b711d33e3.gif)

Using `Python 3.6.5` and `bokeh 0.12.16`, checked in both Chrome and Safari.

[2018-05-16 19:36] jeffreyjharris commented on #7147
Reiterating Eugene's comment:  if you assign the `name` property of a Bokeh model in Python, you can then use [get_model_by_name](https://bokeh.pydata.org/en/latest/docs/reference/document.html#bokeh.document.document.Document.get_model_by_name) in JavaScript to get the model.
Python:
[code]
JavaScript
[code]

[2018-05-17 02:35] birdsarah opened #7915 "re-jitter on tap is unexpected"
This may be intended behavior. But if so, it would be good to provide documentation of a workaround because it surprised me, and I would think others too

This only a slightly tweaked version of the categorical jitter example in gallery, that adds a tap tool.

You can also see it here: http://nbviewer.jupyter.org/github/birdsarah/bokeh-miscellany/blob/master/jitter%20on%20tap.ipynb

[code]

On tap

[2018-05-17 10:54] BCoat commented on #5701
@bryevdv  I have tried your solution in a Jupyter notebook with the version 12.16 of bokeh and cannot make it work. (Got a source.selected equal to None)
I don't understand in which environment your answer was meant to work.

[2018-05-17 12:59] mattpap opened #7916 "Code quality tests fail due to pandas' regression"
See https://github.com/pandas-dev/pandas/issues/21071. I will pin pandas to version 0.22 for now.

[2018-05-17 13:36] #7916 closed

[2018-05-17 13:39] #7880 closed

[2018-05-17 13:46] bryevdv commented on #5701
@BCoat the code above works fine in a notebook:

<img width="829" alt="screen shot 2018-05-17 at 08 44 12" src="https://user-images.githubusercontent.com/1078448/40181360-c860e3da-599d-11e8-815b-fbb8f166367e.png">

The most likely explanation is that you have a different version of Bokeh installed in the environment that has the notebook, so that you are not actually using the version of Bokeh tha

[2018-05-17 13:56] bryevdv commented on #7915
It's definitely expected, given the way things are written. Whether it's desirable is another question. Right now any cal to `set_data` will result in a column transform being re-executed. There's a few possible different things that could be tried:

* generally see if `set_data` could be triggered less often
* specifically for `Jitter`, cache computed jitter offsets and re-apply them as long a th

[2018-05-17 14:04] BCoat commented on #5701
Thanks, for the quick answer. Indeed that must be this kind of mistake from me. Sorry for posting here, I was not aware of the functioning of issues and support/usage of the project.

[2018-05-17 17:03] anthonysluna commented on #6934
Tried to reproduce this issue using the MWE provided using bokeh 0.12.16, Python 3.6.5, Chromium version 61.0.3163.140. To get the code to work I had to replace the `DataRange1d` with `Range1d`. This got the code working and the bugs described did not occur. Tried this again using bokeh 0.12.7 but the `bokeh serve` command errored out with the following `2018-05-16 20:18:51,860 Starting bokeh serv

[2018-05-17 17:41] bryevdv commented on #6934
@caseyzak24 I can confirm that the original code (updated to use `Range1d`, which is required and expected) works fine, so I will close this now.

[2018-05-17 17:41] #6934 closed

[2018-05-17 20:37] birdsarah commented on #7915
yes. that's what i should have said, apologies.

Random thoughts:

- i think it should be user configurable, a flag of some kind.
- we'd need to think through whether this was for all transforms or just jitter.
- it's not just the length of the column, if data was patched what should happen?

- Perhaps some abstraction / indirection and nuance on different kinds of data setting - a selection is mo

[2018-05-17 20:47] bryevdv commented on #7915
Seems reasonable, also occurred to me

Well, I am proposing "just jitter" and "only column length" together specifically because computing a random offset does not actually depend on the inputs. As soon as you admit transforms that do actually depend on the inputs, I agree that column length alone is not sufficient. I am trying to keep things simple, though.

*  a selection is more of a view on th

[2018-05-17 20:51] birdsarah commented on #7915
there's no need to talk smack about rats' nests :smile:

[2018-05-18 03:06] cutright commented on #7771
Issue persists in bokeh 0.12.16

[2018-05-18 03:12] bryevdv commented on #7771
Yes, when we are able to look into it, there will be updates here or in a PR.

[2018-05-18 10:16] ivan-usov commented on #7545
Hi @bryevdv , indeed, the blocking operations should have been put into coroutines, however, this doesn't affect the core of the issue. Following is the updated example with the same problem: editing TextInput drops on layout recomputation, which can be very unfortunate in various streaming applications at moments when users need to interact with TextInput fields.

[code]

[2018-05-18 22:44] mattpap opened #7919 "Replace gulp with a more lightweight solution"

[2018-05-19 10:17] memetb commented on #7226
@bryevdv sorry for late response. Yes, I've been just too swamped at work.

We should close it and revisit in the future if need be. Sorry I wasn't able to help out more.

[2018-05-19 10:17] #7226 closed

[2018-05-19 18:14] DominicAntonacci commented on #799
Yes, I do plan on working on it soon. Hopefully get started sometime next weekend. Not sure how long it will take, so I don't want to put an ETA down yet.

[2018-05-19 23:18] #7908 closed

[2018-05-20 16:44] adarshr00711 commented on #5723
is there any way to download the data table as excel and not as csv because i tried this for another application in which the contents have "," in between the words which causes the sentences to be split into different tabs

[2018-05-20 16:45] adarshr00711 commented on #5723
what should be the change in script so as to download it as excel as changing the extension from csv to .xlsx doesnt work

[2018-05-20 17:31] bryevdv commented on #5723
That would require the browser till be able to generate excel files, which as far as I know, is not possible at all.  You could possibly write a python callback on a bokeh server app, but you have to know then that the file is saved where the server is running, not where the user is viewing the app (unless by coincidence you are running the app locally)

[2018-05-20 17:34] bryevdv commented on #5723
Probably a much more viable solution would be to change the JS choose to generate rules with some other separator besides commas, or to wrap each individual item in quotes, so that Excel can parse the file.

[2018-05-22 14:49] lilmatt opened #7922 "Move bokeh build and CI to new Rackspace account"

[2018-05-22 16:52] stcoats opened #7924 "Sorting linked DataTables messed up in Bokeh 0.12.16"
Two DataTable widgets rendered from the same source don't behave as expected in bokeh 0.12.16

[code]
The first image is from 0.12.15. As expected, clicking on a row in the first DataTable highlights the corresponding row in the second DataTable, which has been sorted reverse alphabetically.

The second image is from 0.12.16. The corresponding row is not highlighted in the second DataTable, and al

[2018-05-22 23:53] web-rishi-shukla commented on #2157
My file is around 4.6M still takes chrome more than a minute to load the html file.

[4_6M_Html_file.zip](https://github.com/bokeh/bokeh/files/2028979/4_6M_Html_file.zip)

[2018-05-23 00:32] bryevdv commented on #2157
Is closed because no code/data to reproduce was ever provided even though it was asked for. I will say:

* There are some suboptimal ways of using bokeh, but that's a support discussion, so should happen on the mailing list, not here

* There are some things that bokeh is just not b and will never be suitable for. If you have 100s thousands of points, you will need to use a bokeh server so binary

[2018-05-23 16:34] bryevdv commented on #7924
Hi @stcoats thanks for the report. The core devs are pretty over-tasked right now. It would be a huge help if you could narrow down when this bug was introduced by installing and trying out different dev builds:

http://bokeh.pydata.org/en/latest/docs/installation.html#developer-builds

We are looking for the first dev build taht *doesn't* work. That will make doing a real bisection later much eas

[2018-05-23 18:21] web-rishi-shukla commented on #2157
Thanks for the pointers. Will post question on mailing list and also try datashader in the mean while.

[2018-05-23 19:32] #7919 closed

[2018-05-24 02:33] ruoyu0088 opened #7926 "Setting value of MultiSelect in javascript doesn't unselect previous selected items."
Here is the demo code, by clicking button A, B, C in sequence, the value of `select.value` is correct: `["C"]`, but all the items are selected.

[code]

The problem is the same when setting value  in Python , Here is the server version:

[code]

![firefox_2018-05-24_11-35-06](https://user-images.githubusercontent.com/826871/40461499-a0f28cc8-5f46-11e8-94a4-bf2459a7f9d9.png)

[2018-05-24 03:12] CurtLH opened #7927 "Color nodes in graph by node attributes"
I have a NetworkX graph.

[code]

I loaded into bokeh using the function `from_networkx()`.

[code]

I then added attributes to the graph using the command

[code]

I now want to color the nodes in the plot by the node attribute `club`.  However, I cannot figure out how to do this.  I realize this isn't the best place to ask these types of questions, but I've asked on Stackoverflow and Glitter, bu

[2018-05-24 03:14] bryevdv commented on #7927
As stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please consider [Stack Overflow](https://stackoverflow.com/) or the [public mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh). To increase the chance that someone wi

[2018-05-24 03:14] #7927 closed

[2018-05-24 03:17] bryevdv commented on #7926
`CustomJS` callbacks only affect *JavaScript state*. There is no update of any Python variable or state. For that kind of connection you must use a Bokeh server app (that is the purpose of the Bokeh server) http://bokeh.pydata.org/en/latest/docs/user_guide/server.html

[2018-05-24 03:32] CurtLH commented on #7927
I posted my question on Stackoverflow 5 days ago and no one responded.

https://stackoverflow.com/questions/50420584/color-nodes-by-networkx-node-attribute-with-bokeh

[2018-05-24 06:03] bryevdv commented on #7927
I appreciate that that may be frustrating, however it's not really relevant to whether or not the tracker is an appropriate place to seek support (it's not). I do my best to keep up with SO, but sometimes life has more pressing priorities (e.g. I am tending to someone who has been in intensive care for a month).

[2018-05-24 06:47] bryevdv commented on #7926
Sorry, the wording of your issue was confusing to me:

makes it sound like your unmet expected was about the value, rather than the visual presentation.

@mattpap The following diff seems to fix things outside the notebook:
[code]
but I haven't been able to confirm this fixes in the notebook because of typical notebook garbage.

[2018-05-24 13:43] bryevdv commented on #7926
Thanks, I'll let you make the PR.

[2018-05-24 17:26] #7922 closed

[2018-05-24 21:48] mattpap commented on #7891
The regression happened in PR #7818. Reverting it helps, though there are still some unrecoverable stylistic issues after editing. With that PR applied, strange things happen. Double click event, which is responsible for enabling edit mode, is not routed correctly, if at all, thus there is no way to have an editor initialized. It seems that the way slickgrid sets up click and double click events w

[2018-05-24 21:56] mattpap opened #7930 "Docs still say that CoffeeScript is the implementation language of bokehjs"
This needs to be updated.

[2018-05-24 22:30] mattpap commented on #7926
Actually this is incorrect, because it would rely on implicit conversions. In fact, it wouldn't even compile. The correct code is `el.selected = el.value in values`. However, this raises a question, why use map for `values`, where a set would be much a much more appropriate data structure. I included this simplification in PR #7932.

[2018-05-24 23:50] #7926 closed

[2018-05-24 23:51] #7930 closed

[2018-05-25 13:53] mattpap commented on #7924
This is caused by PR #7818, similarly to issue #7891.

[2018-05-25 15:33] jburgy opened #7933 "Different behavior between Bokeh and BokehJS with AjaxDataSource"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Tested with bokeh 0.12.16 in chrome 64 on win7

#### Description of expected behavior and the observed behavior

AjaxDataSource behaves differently when document is created in JavaScript or in python.  My investigation revealed an order of operations issue.  The Bokeh.Plotting api calls .finalize()

[2018-05-25 15:45] bryevdv commented on #7904
I think I will just just make the example print a message saying it only works with python 3 actually

[2018-05-25 15:57] bryevdv commented on #7904
@bdarnell hrm I still can't get this to work. That change removed the error, but things things just hang forever when it tries to to hit the URL at the port that is bound manually:

http://localhost:54526/bkapp/autoload.js?bokeh-autoload-element=c4d9c8a4-5652-42a0-ae3f-ed8f22551d68&bokeh-app-path=/bkapp&bokeh-absolute-url=http://localhost:54526/bkapp

I might just remove this example altogether, b

[2018-05-25 16:14] bryevdv commented on #7831
Quite a bit of new content was added in #7859 I'm going to go ahead and close this issue and ask that further work get new issues. (It confuses tracker history when multiple PRs cover the same issue)

[2018-05-25 16:14] #7831 closed

[2018-05-25 16:47] bdarnell commented on #7904
Everything that touches Tornado should be run on the thread where the IOLoop will be run, so you need to move the creation of the HTTPServer, etc, to the thread.

[2018-05-25 18:22] Karel-van-de-Plassche opened #7935 "Using on_event with string names in Python2.7"
As discovered in #7893, trying to set `on_event` with a string (i.e. `"tap"` instead of `events.Tap`) currently fails with:

[code]

We should:
- [ ] Add tests that check setting `on_event` with a string
- [ ] Fix `bokeh/util/callback_manager.py` to accept strings in Python2.7

[2018-05-25 20:34] #7904 closed

[2018-05-25 20:34] bryevdv commented on #7904
Thanks @bdarnell that did it

[2018-05-25 20:35] #3596 closed

[2018-05-26 16:05] lgasnier opened #7936 "ResetTool doesn't restore initial plot when using WMTSTileSource and x/y_range"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 0.12.16
python 3.6.4
OS linux
browser Firefox, Chrome

#### Description of expected behavior and the observed behavior
ResetTool doesn't restore initial plot when using WMTSTileSource and x/y_range.
Therefore, the match aspect is not preserved.

#### Complete, minimal, self-contained example co

[2018-05-26 18:12] philippjfr commented on #7936
Thanks for filing this, this was on my to-do list to file as well. The cause of this is that the tile source enforces an equal aspect ratio and if your initial extent does not match it will reset to the originally supplied extent not the extent that the tile source set. I would argue that the tile source should update the initial extents to avoid this issue, but @bryevdv should chime in too.

[2018-05-26 18:51] bryevdv commented on #7936
Sounds good to me if that's what you'd like to implement.

[2018-05-27 15:32] 2torus opened #7937 "Add support in TableWidget for AjaxDataSource"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 0.12.16, python 3.6.5, linux, chrome

#### Description of expected behavior and the observed behavior
plugging source=AjaxDataSource... in DataTable does not populate the table with query result

#### Complete, minimal, self-contained example code that reproduces the issue
In [ajax_source.py](h

[2018-05-28 15:12] sashabaranov commented on #4407
This is very much needed to enable color bars with vertical titles: https://stackoverflow.com/questions/46841919/bokeh-colorbar-vertical-title-to-right-of-colorbar

[2018-05-28 16:31] philippjfr commented on #7936
Okay great, I'll do that.

[2018-05-29 15:23] bryevdv commented on #4407
@sashabaranov Please see https://github.com/bokeh/bokeh/pull/7708 It's likely that kind of template based approach is going to be the recommended path for anything that requires more control.

[2018-05-29 16:01] bryevdv commented on #7935
Hrmm well now I am confused, there are already lots of tests in `bokeh/util/tests/test_callback_manager.py` that already use string event names and also pass on py 2.7 currently

[2018-05-29 16:20] mattpap commented on #7935
Why is that? Anyway, using `six.string_types` is the right thing to do.

[2018-05-29 16:42] bryevdv commented on #7935
I expect the `# -*- coding: utf-8 -*- ` in `bokeh.models.glyphs` affects anything that imports any model (including this test, but not the other)

[2018-05-29 16:51] #7935 closed

[2018-05-29 16:56] mattpap commented on #7935
I see. It's still needed on 2.x due to `Bézier` in a docstring.

[2018-05-29 17:59] bryevdv commented on #7905
just running an `output_file`/`show` type example does not include everything, so I think this problem is specific to `autoload_server`, and possibly `components` since it also uses `bundle_all_models`

[2018-05-29 18:05] mattpap commented on #7905
This sounds correct. We include all bundles when we can't predict what will be used.

[2018-05-29 20:04] bryevdv commented on #7364
closed in #7940

[2018-05-29 20:04] #7364 closed

[2018-05-29 20:17] Benaiah2320 commented on #7823
Just want to confirm that I was able to get around to testing this in 12.16 and it works. Thanks a ton!

[2018-05-29 23:54] #7905 closed

[2018-05-30 14:31] bobleeswaggs opened #7943 "Column selection, instead of row selection, for a widget box table"
Selection of columns, instead of rows, in a widget box table would be a great feature. Since a lot of the data inserted into plots comes from pandas dataframes or dictionaries, its natural to see lines (or bars, dots, etc.) as columns in a table, rather than rows. Selection of the columns could then highlight / mute that line or other lines for clear visibility in a linked plot, or various other c

[2018-05-30 21:50] #7937 closed

[2018-05-31 09:44] chesucr opened #7944 "Selected indices are not repainted if they are updated on the python side"
When `source.selected.indices` is updated in python side the figure is not repainted. Check the button callback

    from bokeh.io import curdoc
    from bokeh.models import ColumnDataSource
    from bokeh.plotting import figure
    from bokeh.layouts import column
    from bokeh.models.tools import LassoSelectTool, TapTool
    from bokeh.models.widgets.buttons import Button
    from bokeh.models.

[2018-05-31 09:46] chesucr commented on #4922
With the new Selection object this should be enough.

    source.selected.indices = []

But I found this bug: #7944

[2018-05-31 16:23] ahuang11 opened #7945 "Add interval to bokeh.models.tickers notebook documentation"
bokeh == 0.12.16

Would like that the documentation at least show `interval` as one of the arguments instead of just `**kwargs`.

![image](https://user-images.githubusercontent.com/15331990/40794363-c44d253a-64b3-11e8-86ef-913120b55489.png)

[code]

Or perhaps make `interval` as the first keyword argument so this would work.
[code]

(This currently raises an error):
`TypeError: __init__() takes 1

[2018-05-31 16:39] bryevdv commented on #7945
dupe of https://github.com/bokeh/bokeh/issues/6372

Until Python 2 support is dropped (which is years away) we are not going to be able to generate a proper function signature dynamically. We could consider adding all the properties to the docstring body. But with hundreds of models and thousands of properties, I worry about import times if that is done at dynamically at runtime, and I worry about

[2018-05-31 16:39] #7945 closed

[2018-05-31 17:09] bryevdv commented on #6372
Another reason this has to wait until python 2 is dropped: model properties would need to all be keyword-only args.

[2018-06-01 11:38] fogo5 commented on #2828
a shame mas-dse-pjmulroo's PR did not work. Is there any plans to make a widget like this in the future?

[2018-06-01 11:39] mattpap opened #7946 "Upgrade to TypeScript 2.9"

[2018-06-01 15:16] #7946 closed

[2018-06-02 11:35] philippjfr commented on #6320
Does exposing ``initial_start`` and ``initial_end`` on Range1d still seem like the best approach here? If so I'll go ahead an implement that since I need some way of setting these properties from outside the Range1d model to fix https://github.com/bokeh/bokeh/issues/7936.

[2018-06-02 12:55] stonebig opened #7949 "bug on pip install https://github.com/bokeh/bokeh/archive/0.13.0dev4.zip"
I get a

[code]

I don't catch why this strange error message. any clue ?

[2018-06-02 12:55] stonebig commented on #7949
unless you didn't put a LineReturn at last line ?

[2018-06-02 13:17] stonebig commented on #7949
ok, understood. that is normal

[2018-06-02 13:17] #7949 closed

[2018-06-02 18:03] andresmrm commented on #7477
I checked the other issues related with this, the Google Groups thread and the Numbro docs, but I still can't understand how to make this work.

My code:

    NUMERAL_TICK_FORMATER = NumeralTickFormatter(format='0,0', language='pt-br')
    ...
    fig.xaxis.formatter = NUMERAL_TICK_FORMATER

I'm also including this in the template:

    <script src="https://cdnjs.cloudflare.com/ajax/libs/numbro/2.

[2018-06-02 20:21] bryevdv commented on #7477
@andresmrm Unfortunately the answer is that I don't actually know how to go about making this work. Which isn't to say it can't be made to work, but it's not something I will be able to dive into at present.

@mattpap do you have any suggestions on how to make this work? If so, we should try to write up some guidance for the docs.

Otherwise, the best option I can suggest in the immediate term is

[2018-06-03 13:45] miccoli opened #7951 "Line plots jaggy when overplotting noisy data with `line_join='miter'`"
## versions
- bokeh: `0.12.16`
- python:
[code]
- OS: `Darwin Kernel Version 17.5.0: Fri Apr 13 19:32:32 PDT 2018; root:xnu-4570.51.2~1/RELEASE_X86_64`
- browser: Chrome `Version 66.0.3359.181 (Official Build) (64-bit)`

## Description of expected behavior and the observed behavior

When plotting noisy time series with low screen resolution but high sampling rate (overplotting), I get a sort of "n

[2018-06-03 16:27] bryevdv commented on #7951
Thanks for the detailed report. Bokeh does not do any actual rendering itself. This is purely a function of the browser's HTML canvas implementation. It may look different on different browsers or even different versions off the same  browser. Unfortunately that being the case there is nothing we can do if a browser itself is buggy in some way, except possibly remove the option. We could certainly

[2018-06-03 16:28] bryevdv commented on #7951
The other option is to leave it but provide documentation support that gives guidance for this usage scenario.

[2018-06-03 19:15] miccoli commented on #7951
@bryevdv thanks for the prompt reply.

Some thoughts:
1. Reading the HTML living standard at the [line styles paragraph](https://html.spec.whatwg.org/multipage/canvas.html#line-styles) it seems that this is a browser bug: the [`miterLimit`](https://html.spec.whatwg.org/multipage/canvas.html#dom-context-2d-miterlimit) is not honoured in edge cases.
1. The bug is present also in Safari and Firefox.

[2018-06-04 11:07] Abdulmalek97 opened #7952 "WebGL doesn't support rectangels neither quads in Bokeh"
WebGL is only supporting circles and lines at this moment and is really slow to non-working with rectangles. Is that something that will be solved soon?

[2018-06-04 14:06] bryevdv commented on #4540
@w4nderlust that sortv of comment is neither useful nor appreciated. There is currently more work than people to do it, so if you can do better, great, pull requests are welcome.

[2018-06-04 14:21] jbednar commented on #7951
I've noticed this problem in other cases, e.g. Bokeh-based [TriMesh plots]():

![image](https://user-images.githubusercontent.com/1695496/40922542-109b5c46-67d8-11e8-8980-4f75dd4ed99d.png)
![image](https://user-images.githubusercontent.com/1695496/40922558-1a46ed64-67d8-11e8-87bc-aaa01e535c05.png)

This [link from TeX](https://tex.stackexchange.com/questions/203090/why-is-a-path-overflowing-in-a-t

[2018-06-04 15:40] bryevdv commented on #7951
@jbednar do you want to submit a small PR? Probably better if someone in @bokeh/dev does so that the image diffs run. AFAICT the only changes are adding `default="bevel"` here:

https://github.com/bokeh/bokeh/blob/6fc249ad4432e8acac44fab2582d000dbc579ae6/bokeh/core/property_mixins.py#L101

And changing the default from `miter` to `bevel` here:

https://github.com/bokeh/bokeh/blob/9acd0ef3cf777b9c8

[2018-06-04 15:55] jbednar commented on #7951
Sure, I'll try that and see how it goes.

[2018-06-04 18:10] kkgadiraju commented on #7374
Has anyone found a solution to this issue yet? Or is switching to datashader the only solution for now?

[2018-06-04 19:13] jbednar commented on #7374
Seems like switching to datashader is only one solution, and that the more direct solution is to change the tornado setting as outlined above.

[2018-06-04 19:18] bryevdv commented on #7374
I'm working on a PR for this right now.

[2018-06-04 19:28] philippjfr opened #7953 "Modifying data source while PolyDraw is editing breaks editing"
Under certain circumstances when editing a ColumnDataSource with the PolyDrawTool and modifying the data source in response to such events it is possible for the editing to fail. This is because editing the paths in the data source only works if they are regular arrays which is enforced when you begin editing, however by modifying the CDS at a later stage they could again contain typed arrays caus

[2018-06-04 20:07] #6320 closed

[2018-06-04 20:12] bryevdv commented on #7952
Unfortunately probably not. The person who used to maintain Bokeh webgl support no longer contributes to the project. I'd like very much to re-found all of webgl support, and perhaps even all rendering altogether on something like ReGL, but I have zero GL experience, so it will require a large investment of time and learning and implementation work to make happen. It will be the end of the year at

[2018-06-04 20:12] #7952 closed

[2018-06-04 20:28] #7953 closed

[2018-06-04 20:29] #7936 closed

[2018-06-04 21:23] miccoli commented on #7951
OK, I'll wait for the PR by @jbednar thanks.

[2018-06-05 00:19] andresmrm commented on #7477
Thanks for the reply!

Just for the record, I'm using this for now:
[code]

I tried to use Numbro, since it's the same Bokeh is using, but the CDN version seems [bugged](https://github.com/BenjaminVanRyseghem/numbro/issues/350) at this moment (that's the error I was getting in my previous message).

[2018-06-05 01:06] #7374 closed

[2018-06-05 05:29] #7951 closed

[2018-06-05 10:45] mattpap opened #7957 "Replace esprima with TypeScript compiler API"
Given we already include a very fast and robust API for manipulating javascript, lets use it and replace other parsers, AST transformers, etc. with it.

[2018-06-05 12:29] philippjfr opened #7959 "Image hover broken on axes with inverted range"
When plotting an image on an axis with an inverted range the hover tool behaves incorrectly. This example reproduces the issue (note the ``y_range=(10, 0)``):

[code]

<img width="554" alt="screen shot 2018-06-05 at 1 28 44 pm" src="https://user-images.githubusercontent.com/1550771/40975933-6b140f50-68c4-11e8-84e9-726593daa003.png">

Version: Bokeh 0.13.0dev5-2-g0504e1fa8

@jlstevens

[2018-06-05 14:23] mattpap commented on #7959
Is this really a problem with hover or the image is in a wrong location? Changing `y_range` doesn't affect the placement of the image.

[2018-06-05 15:06] philippjfr commented on #7959
While it might be argued that the image should flip automatically, this has never been the case, so I'd argue it's going to cause major compatibility issues to switch this behavior now. If you want to properly position the image on a flipped axis you currently have to change the x/y coordinate of the image. It may have been less confusing if I had done that in the example above, which would look l

[2018-06-05 18:09] ZviBaratz opened #7960 "Reassigning axis ticker causes app tabs and plots to disappear"
Hi all,

General info:

My app uses tabs. Strangely, whenever I try to edit the tick labels by reassigning the ticker attribute of the x-axis of a specific plot (either as a list or a FixedTicker instance), the tabs disappear and no plots are displayed (only widgets). I'm not really sure how to create a minimal example that reproduces the issue, but for a slightly more complete picture: I have a t

[2018-06-05 20:07] #7957 closed

[2018-06-05 21:00] bryevdv commented on #7960
I'm not quite following, you mean:

* you change the code to use a different ticker, then re-run, and then there is a problem? or,

* you change the ticker dynamically while the app is running, and then there is the problem?

If the latter, the solutions is to not replace the entire ticker. Instead, update the existing ticker in place:

[code]

[2018-06-05 21:20] mattpap opened #7962 "Run `npm install` automatically if package.json changed"
Currently there's only a warning and it's up to the user to run npm. Doing this automatically wasn't possible when we used gulp, but now the build can be improved.

[2018-06-05 21:48] merjekrepo opened #7964 "Unsatisfiable constraints error and Hovering Issue"
While plotting figures using the [titanic dataset](https://www.dropbox.com/s/25y4skbwersb24n/titanic.csv?dl=0), I encounter the "Unsatisfiable constraints" error. Here is my code using the Name and Sex variables:

[code]

I've noticed that the error is causing due to the long category label (the value of each data point of the Name attribute). It works fine with the Sex variable name because it is

[2018-06-05 22:00] bryevdv commented on #7964
@merjekrepo probably, but GH is not the right place to discuss general support question, we reserve it for bug reports and feature requests only.  Please consider taking this question to [Stack Overflow](https://stackoverflow.com/) or the [public mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh).

[2018-06-05 22:00] #7964 closed

[2018-06-05 22:01] #7962 closed

[2018-06-06 08:41] tristaneljed opened #7965 "The radius of the circle is not accurate"
I've set a radius of my geofence to 2500 meters. I have a point that its distance to the center of this geofence is 2332.84 meters. So it should be inside the geofence.
Here it is in Bokeh:
<img width="471" alt="screen shot 2018-06-06 at 4 39 16 pm" src="https://user-images.githubusercontent.com/10809104/41026867-33754cd2-69a8-11e8-8aa5-36df557777c9.png">
You can clearly see the point is outside t

[2018-06-06 11:12] esvhd commented on #2323
I noticed that in 0.12.16 (and at least 1 version ago as well), selected rows (i.e. associated glyph) in `DataTable` are **no longer** highlighted in figure. Has the default behaviour changed and if so is there a way to turn it back on?

Running the same code as previous versions in notebook, code example below:

[code]

[2018-06-06 11:15] esvhd opened #7966 "DataTable: selected row no longer highlights associated glyph in plot by default."
I noticed that in 0.12.16 (and at least 1 version ago as well), selected rows (i.e. associated glyph) in DataTable are no longer highlighted in figure.

Has the default behaviour changed and if so is there a way to turn it back on?

Running the same code as previous versions in notebook, code example below:

[code]

[2018-06-06 12:10] mattpap commented on #7966
I will safely assume that this is a duplicate of #7924. If fixing that issue won't help here, we will repoen.

[2018-06-06 12:10] #7966 closed

[2018-06-06 14:46] ZviBaratz commented on #7960
Hi @bryevdv ,
Thank you for your reply!
I might be going about this completely the wrong way, but what I am trying to do is reduce the number of tick labels so that instead of showing each of the 1000 labels on the x-axis it will display only one in 50. I was trying to do that by assigning a new ticker, but that caused the aforementioned unexpected behaviour. I tried using the method you suggested

[2018-06-06 15:10] bryevdv commented on #7960
Sorry, it should actually be
[code]

properties like `xaxis` are actually lists, as a convenience we make it so that top level properties of all items can be set with `plot.xaxis.foo = 10` or whatever, but for sub properties, e.g. the `ticks` on a ticker item, you have to be explicit about which item.

[2018-06-06 15:45] datapythonista opened #7967 "Typo in the image_url documentation"
In the `image_url` documentation, both the `h` and `w` parameters are documented as the `height` where the image will be located. For the `w` parameter should be the `width`.

[2018-06-06 16:12] bryevdv opened #7969 "MultiLine hover shows all values for xs, ys"
This is has come up twice no SO.

ref: https://stackoverflow.com/questions/50219290/bokeh-hovertool-tooltips-for-multi-line-displaying-all-coordinates-at-all-poin

The hover code should do something similar to the new image hover code, and inspect the column data shape. If it is a list of scalars, use the top level index. But if it is a "list of lists" drill down to get the item for the specific p

[2018-06-06 16:28] thomasetter opened #7970 "Error message on the browser console when using CustomJS with args in serve mode"
Bokeh 0.12.16, tornado 5.0.2, Python 3.6.5 on Linux, tried both Firefox 60 and Chromium 67

If run with
bokeh **html** --show example.py
everything runs as expected (on the browser console we can see no errors).

If run with
bokeh **serve** --show example.py
we get an error message on the browser console, e.g.
`Error: reference {"id":"2e235317-bf21-4a8c-9057-6d1801ded9b8","type":"DataRange1d"} isn

[2018-06-06 17:00] mattpap commented on #7970
For now you can replace `range` with `cb_obj` and remove `args=...` from `CustomJS`, to avoid this issue.

[2018-06-06 17:21] bryevdv commented on #4470
OK #7839 will go in soon, and after that is in, this is possible:
[code]
![range](https://user-images.githubusercontent.com/1078448/41054301-d5d8c566-6972-11e8-99cb-01c62b42f0ee.gif)

That's not perfect (the range does not accept categorical offsets yet) but it does permit constraining a range to a particular category, and that's a good enough start.

After this, parallel coord plots will be possi

[2018-06-06 17:29] #7967 closed

[2018-06-06 17:34] ZviBaratz commented on #7960
Now I'm getting:

`AttributeError: unexpected attribute 'ticks' to CategoricalTicker, possible attributes are js_event_callbacks, js_property_callbacks, name, subscribed_events or tags`

Perhaps I'm supposed to create the plot with a different kind of Ticker..?

[2018-06-06 17:38] bryevdv commented on #7960
Oh, it was not at all evident that you are using a categorical axis. I am sure there is some approach to make things better for you but this is veering into a support discussion so I have to ask that is move to the public mailing list and off the GH tracker which we reserver for bug reports and feature requests.

https://groups.google.com/a/continuum.io/forum/#!forum/bokeh

[2018-06-06 17:38] #7960 closed

[2018-06-06 17:39] bryevdv commented on #7960
(Regarding the problem with replacing the ticker wholesale, there is an issue somewhere else regarding just not allowing that at all)

[2018-06-07 06:04] bryevdv commented on #799
@DominicAntonacci checking in again, there will be a release next week but we would need a PR by EOD Saturday to consider it for this cycle.

[2018-06-07 20:18] #4986 closed

[2018-06-07 20:28] #7795 closed

[2018-06-07 21:09] mattpap commented on #7965
Most likely this is a duplicate of #517 (though #6603 visualizes this better). I say most likely, because there is a very remote chance that this may be related to google maps integration. It would be good to see an entire plot, with axes, toolbars, etc., or maybe a complete code snippet, to give you a conclusive answer.

[2018-06-07 21:16] bryevdv commented on #7965
@tristaneljed yes, please supply a complete MRE as requested, so that we can investigate.

[2018-06-07 22:41] heoa commented on #7795
Is there any demo yet available? I would like to learn bokeh better with this.

[2018-06-07 22:46] bryevdv commented on #7795
https://bokeh.pydata.org/en/dev/docs/gallery/range_tool.html

[2018-06-07 23:18] Maggie-M opened #7974 "Segments don't show up on GMapPlot"
Reproducible with this code

[code]

As shown [here](https://stackoverflow.com/questions/47428123/bokeh-0-12-10-not-rendering-segments-on-gmapplot/50750653#50750653)

[2018-06-07 23:19] bryevdv commented on #7491
This discussion seems to have gone stale, so I am closing this. Happy to re-open if there is a concrete proposal and especially if someone is willing to help work on it.

[2018-06-07 23:19] #7491 closed

[2018-06-07 23:28] bryevdv commented on #7915
Since I think it's the most common and cost effective, for now just got to get the cache on length for jitter done.

[2018-06-08 01:55] brandondube commented on #3880
Any update over a year later?

[2018-06-08 02:22] bryevdv commented on #3880
@brandondube if there were any updates, they would be here. The story here, as is the story with most all OSS projects, is that there is far more work to do, than people to do it. In such a situation, things come down to prioritization, and therefore some things will simply take a very long time. The only solution to that is for more people to get involved. I am happy to mentor any new contributor

[2018-06-08 03:18] brandondube commented on #3880
Well, how do I get started?  I couldn't even find the definition of `Legend` in the repo digging around fairly quickly in /bokeh/models.

[2018-06-08 04:07] tristaneljed commented on #7965
<img width="619" alt="screen shot 2018-06-08 at 11 54 59 am" src="https://user-images.githubusercontent.com/10809104/41138323-21c75482-6b13-11e8-9a8a-913add05999b.png">

* I am auto-centering and setting the Zoom Level in another file SpatialTools

[code]

* SpatialTools

[code]

[2018-06-08 04:28] bryevdv commented on #3880
@brandondube Awesome, first things first, Bokeh is a dual language library, with most of the actual work done in BokehJS. To work on this particular issue will require being able to modify and build BokehJS. The developers guide has a section on getting set up:

https://bokeh.pydata.org/en/latest/docs/dev_guide/setup.html

Once you can build BokehJS, you will find the python side definition of Leg

[2018-06-08 08:35] syntonym opened #7976 "Log axis minor ticks wrong position"
If a log axis is chosen the most lower minor ticks are in the wrong position, they are "inverted":

![bokeh_plot](https://user-images.githubusercontent.com/4145309/41098403-8694c038-6a5b-11e8-9838-66774f2d3679.png)
The blue circles show where the y axis minor ticks should have been. If one would "invert" the minor ticks below the last major major tick it would be correct. If one pans slightly lowe

[2018-06-08 08:54] thomasetter opened #7977 "High (probably unnecessary) CPU load due to is_valid calls."
python 3.6 on linux 4.16, tested with the latest (as of 2018-06-07) bokeh dev version and with 0.12.16

This example exhibits bokeh slowness and high CPU usage:

[code]

The high CPU usage is partially in the browser, but that only lasts a few seconds, however in the server, it uses *100% CPU for up to 20 seconds* (on an 8-th gen Intel CPU) even after the page seems fully rendered in the browser.

[2018-06-08 15:20] Karel-van-de-Plassche opened #7978 "sizing mode scale_both grows on window resize"
I'm building a layout with nested rows and columns using the new HTML template feature and bootstrap/flexbox. I would expect that the bokeh plots would just fill the available space. However, the plots start small and grow on every window resize, even though the bootstrap columns/rows resize correctly.
![ezgif com-gif-maker](https://user-images.githubusercontent.com/6404167/41166331-4511f604-6b40-

[2018-06-08 15:36] Karel-van-de-Plassche commented on #7978
`scale_width` seems to work well though!

[2018-06-08 16:18] bryevdv commented on #7978
Yah I had noticed this and thought there was an issue but evidently just a comment. Thanks for the detailed report!

[2018-06-08 16:19] bryevdv commented on #7978
@mattpap can you look at this one? This is an important mode for use with the new template options. My hope is that it is some dumb simple fix.

[2018-06-08 17:17] bryevdv commented on #7977
The exception is not ignored, it is converted into a Boolean value that signals whether validation succeeded or not. If there is some validator that is doing too much work we just need to figure out what it is.

In passing, I will also say that 50 plots on a page is not a good use scenario for Bokeh, given the its tradeoff choices, and if that is what you need you may want to look at other tools.

[2018-06-08 17:33] mattpap commented on #7977
The current approach is indeed inefficient. Though the numbers are a little different for me: validations takes 3 seconds and rendering 13 seconds. Still, 3 seconds for validation way too much.

[2018-06-08 17:39] bryevdv commented on #7977
I'm testing out the approach I desired above right now

[2018-06-08 18:12] bryevdv commented on #7977
@thomasetter can you try things out with #7980 and report back. Things seem qualitatively better to me but you have immediate experience with some better quantitative tools that would be valuable.

[2018-06-08 18:16] bryevdv commented on #7977
I've also just realized ` BOKEH_VALIDATE_DOC` controls something else and entirely unrelated (whole document integrity checks, vs fine grained type checks like these)

[2018-06-08 18:33] amishra159 commented on #6096
I am creating a pie chart but the problem is that I want to load a tsv file from the file open dialog box when the link is clicked.how it can be possible to get the data file from dialog box and as the user opens it a pie chart is displayed.

[2018-06-08 21:49] #7915 closed

[2018-06-09 15:52] bryevdv commented on #7977
@thomasetter thanks for the quick feedback and detailed report, we will definitely get this merged before the next release. Nearly all of Bokeh's imports are at the top level, but sometimes there is a technical reason why this is not possible (i.e a circular import dependency maybe) I will take a look at the `prepare_value` case more closely though.

[2018-06-09 16:00] bryevdv commented on #7977
Actually I think in the past this probably was a circular dependency. Properties can form object graphs with `HasProps` objects that have properties that themselves refer to other `HasProps` objects. That a situation that can lead to circular module imports without care. But there was a large cleanup and refactor of the properties system maybe a year ago, and I think that it's no longer the case,

[2018-06-09 16:17] bryevdv commented on #7977
@thomasetter I have mode those changes and also moved a few more function imports I found elsewhere. I also changed `is_valid` to just always suppress details. After closer inspection I realized this function is precisely and only used for internal type checking, and no exception escapes it, so to this should be cleaner at the call sites.

Can you test one more time with the updated PR? Then we wi

[2018-06-10 02:51] nickdex commented on #6700
Hi,

I am still getting output disabled message.

### Versions
bokeh - 0.12.16 (checked in lab as suggested by @bryevdv )

jupyter lab - 0.32.1
jupyterlab_bokeh extension - 0.5.0 enabled ok

Am I missing something?

[2018-06-10 05:08] bryevdv commented on #6700
@nickdex AFAIK that's the message that jupyterlab displays when something tries to publish raw javascript in an output cell. If that's happening, that 100% means that jupyterlab is not using the bokeh extension, but I can't really speculate why that might be. It's working fine for me:

<img width="1593" alt="screen shot 2018-06-09 at 22 07 23" src="https://user-images.githubusercontent.com/1078448

[2018-06-10 08:07] thomasetter commented on #7977
Thanks, tested #7980 again and it looks good, the is_valid CPU time is now ~10% vs ~20% before and the expensive imports do not appear anymore.

[Updated Flamegraph](https://gistpreview.github.io/?f1fa42b4aeea8f0e3f42b43863980221/bokeh_flame_with_7980.html)

Another improvement is also that the Flame graph is much nicer to read now which will make future optimizations easier.

[2018-06-10 12:47] ivan-usov opened #7981 "CheckboxButtonGroup and RadioButtonGroup can not be disabled"
python/3.6.5
bokeh/0.13.0dev8-1-gdfefc4242
firefox/60.0.1

Setting the `disabled` property to True doesn't affect neither CheckboxButtonGroup nor RadioButtonGroup widgets. The expected behaviour is that this should be consistent with CheckboxGroup and RadioGroup, where the `disabled` property correctly deactivates the widgets.

To see the difference, one could use the 'Disable widgets' toggle in t

[2018-06-10 16:55] #7977 closed

[2018-06-10 19:15] merjekrepo commented on #7964
Well, I've figured out that the issue I've been talking about is not possible, so there is no need to go to [Stack Overflow](https://www.stackoverflow.com). Because your current structure forces developers use the same x and y values both in HoverTool and ColumnDataSource functions. Therefore, I cannot show the name of hovering than the name of x axis. I would be really HAPPY if you could consider

[2018-06-10 19:32] bryevdv commented on #7964
I don't think this is an accurate statement at all, at least not as phrased. The hover tool can refer whatever columns you want, which can be the glyph coordinates, but absolutely do not have to be.  Additionally there is now an option for a CustomJS formatter to completely control what shows up in the tooltip based on anything you like. All of this I would have mentioned in  SO or mailing list po

[2018-06-11 03:16] bryevdv commented on #7978
I'm not sure what's up, when I run my example script from the PR I get a page that works but when I run your code above on master @Karel-van-de-Plassche no plots show up for me. Are plots showing up for you on master?

[2018-06-11 03:56] bryevdv commented on #7978
@mattpap This diff seems to fix things:

[code]

The reason has something to do with the fact that `parentHeight` is *always* reporting zero, so with the original condition the second branch in `get_width_height` was always taken which caused it to always report 0 for both. Not sure if this is the actual correct solution though. Please comment as soon as you can.

[2018-06-11 03:58] bryevdv commented on #7978
Definitely not everything is perfect with that change:

<img width="1012" alt="screen shot 2018-06-10 at 20 57 30" src="https://user-images.githubusercontent.com/1078448/41212181-f1123a34-6cf0-11e8-8894-2ea831973293.png">

presumably if the`clientHeight` was accurately reported, then those plots would fit in the actual heigh of the overall layout properly.

[2018-06-11 14:48] Karel-van-de-Plassche commented on #7978
@bryevdv
I'm a bit confused. For both `master` and `0.13.0dev8` the plots don't show up. I'm not sure what happened in my `0.13.0dev8-dirty` from the original report that made the plots show up..

[2018-06-11 14:55] Karel-van-de-Plassche commented on #7978
@bryevdv Silly me, I just copied the wrong template over to the issue! I've edited to original post with the correct one which shows the plots.

[2018-06-11 14:56] mattpap commented on #7978
It failed because earlier you didn't have 1-1 mapping between roots and embedding points in the template.

[2018-06-11 15:06] mattpap commented on #7978
Well, you could remove the other branch altogether, knowing that `new_{width,height}_2` are always zero. Though, if I'm not mistaken, now `scale_both` behaves essentially like `scale_width`. Without accurate reporting of available space in both dimensions, there isn't really much to be fixed here.

[2018-06-11 15:09] bryevdv commented on #7978
I somewhat agree, tho  had hope you might have some insight as to why `clientHeight` is not coming back properly.

[2018-06-11 15:57] bryevdv commented on #7978
@birdsarah do you have any insights about `clientHeight` always showing zero?

[2018-06-11 16:10] Karel-van-de-Plassche commented on #7978
Yeah, I noticed, thanks!

What is the parent in this case? The `bk-root`? Related question, as someone trying to learn bokeh a bit more deeper, what is the purpose of this element? Can't it just enclose all it's children? Or does that mess up some further formatting?

[2018-06-11 16:17] mattpap commented on #7978
There may be two reasons for this. Either lack of "right" CSS, that would allow getting such measurements (positioning and what not), or employing DOM where we should be asking layout (asking DOM makes sens only for roots).

[2018-06-11 16:18] mattpap commented on #7978
It depends where a model is in the layout. If it is the root (of a layout) then its parent is `bk-root` (as of `master`, because earlier this was more complicated).

[2018-06-11 16:25] Karel-van-de-Plassche commented on #7978
Okay. Currently the root always has height of 0, right? Could this special case then be solved by letting the root scale with the size of the underlying children? If not, what is the underlying design philosophy of the `bk-root`?

[2018-06-11 16:27] mattpap commented on #7978
The main purpose of `bk-root` is to create a namespace for bokeh's CSS (secondary to `bk-` prefixing). This is necessary to deal with limitations of CSS. Originally we intended to have one `bk-root` per HTML document, but that wasn't flexible for the user and caused issues with computing layout for responsive modes. So we are gravitating towards having one `bk-root` per root model. After recent "t

[2018-06-11 16:35] bryevdv commented on #7978
So, if it's going to be broken for the immediate term, we could merge a change to just use the first branch always. That kind of wrong seems at least useful in some cases (where the width is larger) as opposed to the "ever growing" behaviour now, which is never useful.

But then longer term we need to figure out how to fix `scale_both` or get rid of it if we can't, I guess.

[2018-06-11 16:36] #7924 closed

[2018-06-11 16:36] #7891 closed

[2018-06-11 16:42] mattpap commented on #7978
As a temporary measure with can proceed with this. After all, `scale_both` is barely referenced anywhere in bokeh. Given its fragile nature, this code was and wasn't working on and off for a long time.

[2018-06-11 16:45] mattpap commented on #7978
If I have to guess when it was broken again, I'm pretty sure it was when I removed the requirement for setting `width` and `height` of certain DOM elements in every template.

[2018-06-11 16:46] bryevdv commented on #7978
That makes sense Can you estimate how much effort to investigate/fix that? I will go ahead with the PR described above  for now, in any case.

[2018-06-11 18:01] Karel-van-de-Plassche commented on #7978
Thanks for the explanation. With the new HTML templates, I think a working 'fill parent div' option would be nice.

[2018-06-11 20:17] mattpap commented on #7978
@Karel-van-de-Plassche , what do you mean by that?

[2018-06-11 20:21] bryevdv commented on #7978
Working `scale_both` and/or `stretch_both` I assume

[2018-06-11 20:30] mattpap commented on #7978
That makes sens. Given the context of HTML templates and roots, I though you might have had an idea for a different feature.

[2018-06-11 20:31] Karel-van-de-Plassche commented on #7978
For now I'm extremely happy with the features already there ;)

[2018-06-11 20:40] mattpap commented on #7978
In fact there is a workaround:
[code]
I actually mentioned it in https://github.com/bokeh/bokeh/issues/7978#issuecomment-396308695, but didn't connect the dots. I wouldn't even consider this a workaround, but what should be a part of a template to make `scale_both` (and possibly `stretch_both`) to work. In general `LayoutDOM.get_width_height()` should get the same changes as `LayoutDOM._calc_width

[2018-06-11 20:42] bryevdv commented on #7978
@mattpap can we put that in our base template? Then we could revert my earlier PR, as long as we also document the need to do this in "custom" templates with scale/stretch, if the base template is not used.

Thoughts? We need to decide and act soon, I'd still like to release in the next few days.

[2018-06-11 20:44] mattpap commented on #7978
Given all this, the "incorrect" implementation is actually correct but it assumes certain properties about the enclosing DOM and CSS. I though I already lifted those assumptions in an earlier PR, but I overlooked `get_width_height()`.

[2018-06-11 20:46] mattpap commented on #7978
That would invalidate earlier work and I wouldn't be too happy with bringing this back. However, I will see if I can make `get_width_height()` work on the same premise as `_calc_width_height()` does. That would solve all the issues.

[2018-06-11 20:47] Karel-van-de-Plassche commented on #7978
I think it is fair to assume that anyone who wants the fine-grained control of an HTML template has to put every plot in its own root such that `scale_both` and `stretch_both` work. This could maybe get documented on a 'HTML templates' page.

[2018-06-11 20:56] mattpap commented on #7978
That's true, but to make those modes work in general, we would have change the main template, as @bryevdv mentioned. Previously it was done, because it was a cheap and easy solution, but doing so is wrong for a library and fragile in general.

[2018-06-11 21:21] bryevdv commented on #7978
@mattpap OK let's hold off and see if you can get this working by wednesday morning or so (PST). I will start writing up the blog post

[2018-06-11 21:31] anujnimkar opened #7985 "Bokeh GMapOptions error"
# READ AND FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and
technical assistance, come ask the [Bokeh mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh) or join the chat on [Gitter](https://gitter.im/bokeh/bokeh). For feature requests

[2018-06-11 21:33] bryevdv commented on #7985
@anujnimkar just to be clear, when I ran the code, I saw the error message, but everything still worked as expected. Are you saying that things are different for you, or not working?

[2018-06-11 21:42] anujnimkar commented on #7985
@bryevdv First of all, thanks for your quick response. Really appreciate it!
If I am to run my app independently, it runs fine even with this command line error. But where I am getting stuck is when I try to deploy this app to something like Heroku. Because of this error, my deployment is failing.

[2018-06-11 21:49] bryevdv commented on #7985
Sorry I am not especially familiar with Heroku, do you mean their process monitors examine the logs and if they see "error" in it somewhere, abort or something? That seems like a strange, but not something we have aloof control over if it is true We should leave this issue on GH to fix the spurious message on the Bokeh side, but in the mean time I'd suggest posting to the mailing list or SO with a

[2018-06-11 22:12] mattpap commented on #7978
@bryevdv, it's fixed

[2018-06-11 22:25] bryevdv commented on #7978
@mattpap fantastic I will merge the PR soon and get another dev build out for testing and test some tonight (and make some new examples for docs)

[2018-06-11 22:33] #7978 closed

[2018-06-11 23:07] anujnimkar commented on #7985
@bryevdv , I'm not sure if their process monitors examine the logs and fail on seeing error. I tested out the deployment for a simple Helloworld app, and it succeeded. It fails when I introduce my Bokeh GMaps though, so my guess is that it could be failing because of the error message, please correct me if I'm wrong here. Here are the logs for both,

Successful Deployment
[code]

Failed Deployment

[2018-06-11 23:20] anujnimkar commented on #7985
Also, when I try to integrate the bokeh server app with Flask, to try another route for deployment (via VPS like Digital Ocean), the integration fails for the same reason,

[code]

[2018-06-12 01:34] bc commented on #5046
@bryevdv is webgl now compatible with streaming? Do you know of any examples? thanks

[2018-06-12 01:40] bryevdv commented on #5046
@bc does not appear to be working. Unfortunately the person who developed the initial webgl implementation is no longer contributing. So either

* a very experienced webgl dev will have to step up, become a new contributor, and take ownership of webgl in Bokeh, or (more likely I guess)
* one of the existing core devs, none of whom have any webgl experience, will have to learn from scratch and rebu

[2018-06-12 01:48] bc commented on #5046
Ah I see. thanks for the speedy response @bryevdv
I will continue to work through some examples and try to improve performance through data vectorization with the base-bokeh

[2018-06-12 06:05] anujnimkar commented on #7985
@bryevdv, my bad, the compilation was failing because of a change in the Pipfile. Thanks though for taking the time to respond!

[2018-06-12 12:11] philippjfr opened #7987 "Restrict the drawing tools to draw a single glyph"
The drawing tools such as the PointDrawTool, PolyDrawTool and BoxEditTool currently insert a new point, polygon, or box every the user initiates a draw action. In certain scenarios it is useful to only allow drawing a single glyph and override it every time a new draw action is executed. It would therefore be helpful if an option was added to these tools that allows declaring whether to limit the

[2018-06-12 12:22] philippjfr opened #7988 "Add ability to insert new row in DataTable"
In certain cases it would be very helpful to be able to insert new rows in a DataTable. The data table can be very helpful in annotating data and this feature could make this process a lot easier. The main issue will be finding a nice UI for adding a row since Slickgrid does not provide one afaik. @mattpap previously mentioned this would be reasonably straightforward.

[2018-06-12 12:29] philippjfr opened #7989 "Add support for copy and paste into DataTable"
In many scenarios a user might want to add data to bokeh and the DataTable provides one way to enter data. In addition to the ability to insert new rows into a DataTable (as suggested in https://github.com/bokeh/bokeh/issues/7988), it would be very convenient to be able to copy & paste data into the table. Apparently this is not supported by Slickgrid directly but there is an existing extension to

[2018-06-12 17:23] bryevdv commented on #7989
dupe of #7762

[2018-06-12 17:23] #7989 closed

[2018-06-12 17:23] philippjfr commented on #7989
Sorry, should have checked myself.

[2018-06-12 17:33] philippjfr opened #7990 "Add clear tool to clear out one or more datasources"
The draw and edit tools are very useful to annotate a plot, however often you want to be able to both add and delete these annotations without having to select each drawn glyph and deleting it manually. It would therefore be useful to add a clear tool which can be given one or more data sources to clear. The implementation would be quite straightforward since the tool would simply have to iterate

[2018-06-12 18:03] bryevdv commented on #7943
@bobleeswaggs can you add a link that references the SO discussion?

[2018-06-12 21:13] #6386 closed

[2018-06-12 21:36] DominicAntonacci commented on #799
It hasn't slipped my mind, but I haven't done much with it yet. When's the next release cycle? I'll try to get it done before then.

[2018-06-12 21:38] bryevdv commented on #799
The next release is tomorrow (or possibly Thursday) so it will most likely have to be the following cycle.

[2018-06-12 23:08] magee256 opened #7991 "Hovertool display pops under shaded portion of slider"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 0.12.16
python 3.6
MacOS 10.12.6
Chrome Version 66.0.3359.181 (Official Build) (64-bit)

#### Description of expected behavior and the observed behavior
I'd expect the hovertool info box to appear above all other widgets. Instead it pops under the slider, but only the shaded portion of the slid

[2018-06-13 10:28] ivan-usov opened #7992 "memory leak on add_next_tick_callback"
ubuntu/18.04
python/3.6
bokeh/0.12.15dev8 onwards

The following code, which is derived from [this example](https://bokeh.pydata.org/en/latest/docs/user_guide/server.html#updating-from-unlocked-callbacks) (the size of an object being passed to `add_next_tick_callback` is enlarged for emphasis), continuously drains memory starting from bokeh/0.12.15dev8 (in particular, https://github.com/bokeh/boke

[2018-06-13 16:59] seanlaw commented on #7591
This issue still exists for 0.12.16 (i.e., the plot is squashed) but there are no client-side errors. Are you able to reproduce this result or is this strictly on my end?

[2018-06-13 17:06] bryevdv commented on #7591
On master it looks like this:

<img width="1093" alt="screen shot 2018-06-13 at 10 04 51" src="https://user-images.githubusercontent.com/1078448/41366529-4500ba56-6ef1-11e8-9961-2c76f60a1c0a.png">

can you try a `0.13` dev build? Also note that the templating PR was merged so it is now possible to template individual app roots in different divs (e.g. in a booststrap layout instead of  bokeh layout

[2018-06-13 17:55] seanlaw commented on #7591
The dev build completely fixed the problem (even for my real use case)!

[2018-06-13 18:18] bryevdv commented on #7591
Happy Surprise! I think some of the work @mattpap did on some other issues turned out to be related and fixed this coincidentally. Not happy to close without tests but a dedicated effort to get UI/Interaction tests working is on the horizon.

[2018-06-13 18:18] #7591 closed

[2018-06-13 19:21] mattpap commented on #7591
I guess this was fixed in PR #7986.

[2018-06-13 19:36] bryevdv commented on #7992
Just to be clear, this *only* happens when also using `functools.partial`?

[2018-06-13 23:39] mattpap opened #7993 "Improve computing of available space for responsive layouts"

[2018-06-14 05:20] macrocosme commented on #5430
Hi everyone,

I think that my question is somewhat related to this thread.

Currently, when we click the help tool, the default behaviour opens a new tab and goes to the specified URL set with `HelpTool.redirect`. How could I go around this default and instead of opening a new tab and going to a url, on click, run a bit of javascript to make a popover div show up?

[2018-06-14 08:44] ivan-usov commented on #7992
As a quick check, the same can be reproduced with a lambda function
[code]

[2018-06-14 11:36] ivan-usov commented on #7992
Here is a simple gc debugging version that shows a growing total number of tracked objects in bokeh/0.12.16 in comparison to a more-or-less stable (still, slowly creeping after stabilization) number in bokeh/0.12.14
[code]

![index](https://user-images.githubusercontent.com/13196195/41406642-36305cde-6fcd-11e8-8063-612e078561a7.png)

<details>
  <summary>bokeh/0.12.14 (10 min runtime)</summary>

[

[2018-06-14 11:59] philippjfr commented on #7959
@jlstevens Any chance you can look into this since you're most familiar with the code?

[2018-06-14 16:58] bryevdv commented on #7992
@ivan-usov thanks for the detailed reports, the minimal test cases should make it easy to add tests to maintain that things get released in these circumstances. I guess to reiterate my previous question differently, can you confirm that this is *not* happening with "plain" functions? I'm just trying to figure out where to start to focus an investigation.

[2018-06-14 17:02] ivan-usov commented on #7992
Actually, I just found the location of the leaked references inside the bokeh server. They get accumulated in `_next_tick_removers_by_callable` of `_CallbackGroup` class in `bokeh/util/tornado.py` module.

[2018-06-14 17:04] bryevdv commented on #7992
@ivan-usov do you think you can work up a PR? I'd like to stay focused on the upcoming release if it is something you are able to help with

[2018-06-14 17:14] bryevdv commented on #7991
@magee256 please provide a compete minimal script to reproduce the issue

[2018-06-14 18:01] ivan-usov commented on #7992
@bryevdv

<details>
  <summary>Yes, it also bugs with plain functions</summary>

[code]
[code]
</details>
 <br/>

I still need to understand why is it happening, but it should be possible to work up a PR in the upcoming days.

[2018-06-14 18:07] bryevdv commented on #7992
Awesome, thanks!

It's probably worth looking at what happens when sessions close, too if possible. I believe a previous round of work took care of some leaks when sessions were closed, and both tests and runtime checks were added. So I have pretty high confidence that that should be OK, but always worth double-checking. At the time tho, the idea of leaks after repeated calls *in* a session, like

[2018-06-14 21:09] bryevdv commented on #7976
This problem affects all minor ticks before the "first" one, regardless of what the first one is. If you scroll up far enough the problem surfaces again. This diff fixes the issue by extending the ticks down below the visible range:
[code]
but I am not sure if removing the filtering has any adverse implications, or if there is a different approach that might be better. More investigation needed.

[2018-06-14 23:59] kindofluke opened #7995 "Documentation of cmap Functions"
Since 12.7, bokeh has included helpful functions for the creation of mappers that work to encode colors onto a column of data.

The old style was as follows:
[code]

This required the user to both understand how to create an instance of the mapper and how to properly apply the `DataSpec` to modify the element. With the introduction of `factor_cmap`,`linear_cmap`, `log_cmap`. This gets a little eas

[2018-06-15 12:23] jlstevens commented on #7959
I'll try to have a look at this soon although I don't know messy/hard it will be to fix.

[2018-06-15 13:22] JoshuaC3 opened #7997 "Line plot does not have conditional line colour"
Expected to be able to have changing colours of lines in line plots depending on a value (from the same or another columns in a source).

the below code works when used with `circle` instead of `line`.

<details><summary>Pip Freeze</summary>
<p>
atomicwrites==1.1.5  <br/>
attrs==18.1.0  <br/>
backcall==0.1.0  <br/>
bleach==2.1.3  <br/>
bokeh==0.12.16  <br/>
certifi==2018.4.16  <br/>
click==6.7  <b

[2018-06-15 13:31] mattpap commented on #7997
It should be `line_color`. The error message indicates this as well.

[2018-06-15 13:31] #7997 closed

[2018-06-15 13:44] JoshuaC3 commented on #7997
@mattpap My apologies. Copied the wrong cell from a notebook. Updated with correct kwarg and correct error. Please reopen.

[2018-06-15 14:13] bryevdv commented on #7997
Lines do not support fill colors (there is nothing to fill). It's not clear what you are expecting but this is a support/usage question so it belongs in the mailing list, not the issue tracker.

[2018-06-15 14:29] JoshuaC3 commented on #7997
@bryevdv `line_color`  not `fill_color`.

I would expect the line to change color depending on the value of the field option. In this case it is the `yy` column, but could be some other `zz`.

Currently is throws the above error when I try to use it. It is hard to know (from my POV) if this is a bug or the lack of a feature. It seems from what you have said here, it is the latter. I have raised it

[2018-06-15 19:06] #7995 closed

[2018-06-15 19:39] bryevdv commented on #7985
@anujnimkar I don't mean to be overly critical, but you are going about things in a way that is very confusing and not helpful for the maintainers. You have asked different versions of this question, with lots of unrelated details here, on SO, and the mailing lists. That makes it very hard for maintainers to focus on and solve the actual core problem.

None of the Flask code is relevant to this di

[2018-06-15 19:41] bryevdv commented on #7985
FWIW the basic issue is partly at least that the client seems to be sending patch updates immediately back to the server for the document it just rendered, and I don't think that should be happening at all. Making that not happen should incidentally fix this as well.

[2018-06-15 20:03] bryevdv commented on #7985
OK, digging further, I partially I see what's happening. There are some values that are modified on the client on construction, and these should (and are) getting patched back. But there is something weird and specific going on with gmap plots, possibly because it is a subtype.

[2018-06-15 21:05] anujnimkar commented on #7985
Hey @bryevdv , thanks for narrowing the issue down to the bokeh server code. I initially thought that since, the code was running independently on bokeh server (although displaying the PATCH-DOC error), I was missing out something on the Flask side, also thanks for pointing out the autoload_static in Flask code, I'm using server_session, now.

[2018-06-15 22:50] anujnimkar commented on #7985
@bryevdv,
'That accidentally is harmless (but wasteful) in the case of Plot but for GMapPlot there is some interaction with the subclassing that is causing the extra subclass attrs to not be sent back. Making it not send the unnecessary patching at all should incidentally fix this as well.'

I don't really follow what you mean here, can you let me know how I should make it not send the unnecessary

[2018-06-16 00:45] bryevdv commented on #7985
That message for other core devs. If there is a bug in the low level protocol, there's nothing any user will be able to do about it. As it turns out, I was mistaken about this hypothesis, though.

[2018-06-16 00:51] anujnimkar commented on #7985
Okay, do you think there is a way for me to get through this and be able to deploy my app successfully, any options that you can suggest I should try out?

Thanks,
Anuj

[2018-06-16 00:57] bryevdv commented on #7985
@anujnimkar The PR is merged and will be in the next release. At that point, the `TypeError` you were seeing will not happen anymore. Anything past that is a usage/support question and should be take outside GitHub

[2018-06-16 01:13] anujnimkar commented on #7985
@bryevdv  Okay. Is there a way for me to know when the next release will be out(a rough estimate will help)?

Thanks,
Anuj

[2018-06-16 17:11] kevinsa5 opened #8000 "Small documentation error for BoxSelectTool"
The documentation for `BoxSelectTool` says that to constrain selection to a single axis, you pass `width` or `height` as a string in a single-element list, but this is incorrect.  Passing just the string itself works.  Relevant docs section [here](http://bokeh.pydata.org/en/latest/docs/user_guide/tools.html#specifying-tools)

[code]

[2018-06-17 20:19] Karel-van-de-Plassche commented on #7417
Just to let you know this is still there in `0.13.0dev11'. A minimal(er) example:

[code]

[2018-06-17 22:12] bryevdv commented on #8000
@kevinsa5 are you interested in submitting a PR to fix this up?

[2018-06-18 00:05] #7428 closed

[2018-06-18 00:06] #2080 closed

[2018-06-18 18:08] rocheseb opened #8007 "Making Tool.active available from python"
Could the active property of tools be made available from python?

For example currently there is no python equivalent to the CustomJS callback in the code below:

[code]

[2018-06-18 19:06] #7401 closed

[2018-06-18 19:12] bryevdv commented on #7985
Hopefully this week.

[2018-06-18 19:41] #8000 closed

[2018-06-19 02:07] MikeWoodward opened #8009 "DatePicker date offset on Chrome/OSX - wrong dates, off by 1,000 years in some cases"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Bokeh 12.16
Python 3.6.3 (Anaconda 3)
Spyder 3.2.8
Mac OSX High Sierra 10.13.5
Chrome 67.0.3396.87 (Official Build) (64-bit)

#### Description of expected behavior and the observed behavior

There is an offset of a day for min/max/value settings in the DatePicker widget

#### Complete, minimal, self

[2018-06-19 02:07] JenniferShelton opened #8010 "color mapping in legend does not take current view (CDSView) into account and color mapping in circle fill is wrong after subsampling with box_select from another plot"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 0.12.16
python 3.6.5
notebook 5.5.0
OSX 10.11.6
browser safari or chrome
pandas 0.23.0

#### Description of expected behavior and the observed behavior

Here is a small dataset:
x_values	y_values	fruit	animal
1	1	apple	cat
2	0	pear	cat
3	1	apple	dog
4	0	apple	bird
5	1	kiwi	cat

I would expect t

[2018-06-19 02:13] MikeWoodward commented on #8009
There's another related issue I've been unable to duplicate in self-contained code. When updating the min_date, max_date, and value attributes via a callback, the date is sometimes shifted by two days for recent days (in the last year). If you change these attributes to dates in the 1960's, the offset can be two years or more.

I 'm trying to create a smaller example, but here's the line of code t

[2018-06-19 06:35] #7993 closed

[2018-06-19 06:42] bryevdv commented on #799
@DominicAntonacci Another user submitted a #8008 in the mean time. It should solve the prpblems but please report back if there are any issues.

[2018-06-19 06:44] #7992 closed

[2018-06-19 15:42] #799 closed

[2018-06-19 19:40] cbanek commented on #6931
This also hit me on the first time using a slider, I put in start and end, but not value.  The slider rendered, but upon clicking it, it would show as NaN and not move.  It wasn't obvious what I had done wrong, but an error message (or in my case, starting value at start) would have been really helpful.

[2018-06-19 19:43] cbanek opened #8012 "Ability for sliders to have log scale"
This is a feature request, as I haven't determined how I can do this yet.

I have a bokeh graph, with a y axis that is log scale, ans x axis that is linear/normal scale.  I have two RangeSliders that allow for filtering on the graph based on the values of the sliders.  The RangeSliders are always linear, so it can be hard to select smaller values, since step and the scale are all linear.  Is there

[2018-06-19 20:55] mattpap commented on #8012
No, currently only linear sliders are supported. The underling library that we use, noUiSlider, allows for log scales, so this could be implemented, though I can't give you any guarantees when, if at all. However, there is a new feature called range tool, that will be part of 0.13.0 release (tomorrow), that could be used instead or maybe is even a better choice altogether. [Here](http://bokeh.pyda

[2018-06-19 21:00] cbanek commented on #8012
That's excellent, I was hoping I missed something like that.  That example looks super sweet.  No rush on this either.  Thanks for the input.

[2018-06-20 06:37] euandekock opened #8013 "Expose the more detailed geometry data to the tap tool"
When a callback is written for the tap_tool, it exposes the screen geometry of the point that was tapped, available as
[code]
However, to be truly useful it should also provide the converted data coordinates as
[code]
 This would emulate the hover tool functionality. (Apart from calling one geometry and the other geometries)

There are many cases where it is useful to know exactly what the data va

[2018-06-20 13:57] bjonen opened #8014 "ColumnDataSource callback on_change issue in 0.13"
I have connected a `widgets.DataTable` with a `figure` by using the `on_change` method on the ColumnDataSource.
[code]
This has stopped working in the latest release (0.13). Selecting rows in the table does not seem to trigger an event anymore.

[2018-06-20 14:12] bryevdv commented on #8014
Please provide a complete minimal script that reproduces the issue.

[2018-06-20 14:39] bryevdv commented on #8013
I don't see why this would be necessary. You should be able to turn the screen coordinates into data coordinates the same way that other code does internally, e.g.

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/tools/inspectors/hover_tool.ts#L201-L206

[2018-06-20 14:48] bryevdv commented on #8014
In any case, arguably, since the work to make `Selection` a proper Bokeh models earlier this year, the proper way to do this is
[code]

[2018-06-20 14:56] bryevdv commented on #8014
cc @mattpap I guess in the past we were replacing Selections objects entirely:
[code]
0.12.6 prints this:
[code]
but offhand, now I don't think that is the case (i.e. we are just updating indices and keeping the selection). With `0.13.0` a callback on `source.selected.on_change('indices', cb)` works fine.

[2018-06-20 15:02] bryevdv commented on #8014
Yes that's exactly the case:

https://github.com/bokeh/bokeh/pull/7982/files#diff-9a94b84e4d8bf61ef575c08f17519220L265

I don't think we can go back, though. Maybe `source.selected = source.selected` would work to restore the previous behaviour? Might be wasteful though.

@bjonen this was not an explicitly intended breaking change, but it's not clear to me yet that its one that can be avoided, eit

[2018-06-20 15:50] bjonen commented on #8014
Sure, here we go. Based on https://stackoverflow.com/a/41308431
[code]

[2018-06-20 16:21] bjonen commented on #8014
Many thanks. With the above adjustment, the example is fixed. Thanks for the quick response!
[code]

[2018-06-20 21:02] martin-centerid opened #8015 "bokeh DatePicker value format inconsistent"
I have two DatePicker widgets and I am trying to pass the DatePicker values thru the URL when the user changes the DatePicker value, and I am seeing odd behavior. The DatePicker date format toggles between a string and an epoch when I change the other DatePicker. Best shown by example, here are two URLs that are produced when I change each DatePicker,

http://127.0.0.1:6800/?start_date=15294249986

[2018-06-20 21:08] bryevdv commented on #4391
Punting on anything here, this can be done with server app templates now.

[2018-06-20 21:08] #4391 closed

[2018-06-20 21:17] bryevdv commented on #6172
There is no way we can solve this in general. Bokeh is capable of outputting complex layouts of multiple plots and widgets. Generating PNG output for the general case involves farming the entire document out via Selenium to a separate headless browser process for remote evaluation and screen capture. That can be done from *Python*, but doing it at static render notebook render time means doing it

[2018-06-20 21:27] bryevdv commented on #7454
@mattpap re: discussions with @pzwang it might be good to consider largely decoupling the grid plot from the constraint system as much as possible. Perhaps just the overall grid size can plug in, and the cell sizes can use either default-equal breaks, or user specified percentages.

[2018-06-20 21:29] bryevdv commented on #1689
closing as too vague

[2018-06-20 21:29] #1689 closed

[2018-06-20 21:32] bryevdv commented on #182
closing fo lack of interest

[2018-06-20 21:35] bryevdv commented on #1032
This issue is old and somewhat underspecified, I am going to make more detailed tasks for current docs tasks in new issues.

[2018-06-20 21:35] #1032 closed

[2018-06-20 21:56] bryevdv commented on #657
I'm inclined to pull back on this somewhat. There are many places internally that assume a separable coordinate system (because ultimately the HTML Canvas API only separable cartesian coordinates). Tracking those all down and making sure they are all changed properly is both risky and potentially expensive (in terms of effort). *However*, it is now possible to do things like this:
[code]

<img wid

[2018-06-21 03:47] euandekock commented on #8013
Thanks for your comment Bryan, and after reviewing this in greater depth, I agree that it can be done as you suggest, using cb_obj and cb_data to access the values required.

(cb_obj is only valid in the tap tool callback from version 0.12.7 onwards)

This is a working example:
[code]
However, this does require a deep understanding of the internal structure of the rendering objects, and may result

[2018-06-21 03:50] euandekock commented on #8013
**Disclaimer**: The above example code works in my use case, where I am clicking on a multi_line glyph. It may break if multiple objects are selected, or if the underlying renderer is something else - again my knowledge of the internals of how the renderer manages the scales and how the cb_obj changes when multiple different glyphs are selected in a single tap.

[2018-06-21 15:37] #1849 closed

[2018-06-21 16:00] bryevdv commented on #2596
I think I am inclined to just expand this test (or make a new one):

https://github.com/bokeh/bokeh/blob/master/tests/test_no_tornado_common.py

to include pandas scipy and call it a day

[2018-06-21 16:19] bryevdv commented on #2596
Well that doesn't quite work since we do conditionally import pandas if it is present in some places. We would need an actual different environment. I'm not sure it's worth it, we have not needed this so far and I think a pandas or scipy import would be noticed in review.

Other idea though, we could add a NO_PD_SP flag to the py3.5 unit test run, and have that rest explicity uninstall pandas and

[2018-06-22 09:54] oarcher commented on #5231
This would be a nice feature !

One user working on a bokeh standalone html file with widgets may want to share his analysis with an other user. Currently, he has to say to the other user how to adjust sliders, etc ... to have the same plots.

Currently,  using browser 'save as' feature produce an half working html. From the [slider example](https://bokeh.pydata.org/en/latest/docs/gallery/slider.h

[2018-06-22 13:43] AzraelDD commented on #7621
Sorry for opening this up again, I can create another issue if you want to... but for me the example code (that seems to be supposed to work now) does not work.

Here is the code, once more (GitHub preview shows the code without line breaks... hope that is fixed in the actual post)

[code]

I start the server with `bokeh serve export_test.py`. After I click the Download button, the following outpu

[2018-06-22 14:06] bryevdv commented on #7621
It's a completely new error message. It's an attempt to get immediate feedback to users who e.g, try to use `on_change` with`output_file` (which won't work), because I have had to explain why that cannot work more times than I can count at this point, and and exhausted answering the same question again and again. Unfortunately, one of the hardest issues in a large piece of composable software is m

[2018-06-22 15:12] hamilyon commented on #5884
It would be a nice feature

[2018-06-22 17:27] chesucr opened #8018 "If the "selector" argument is explicitily set to the "select" method, an empty list is returned"
A small bug.

If I write manually the argument name `selector` using the `select` method, the returned valueis an empty list, however the `select_one` works well.

    from bokeh.io import output_notebook, show, push_notebook
    output_notebook()

    from bokeh.models import ColumnDataSource, CustomJS, IndexFilter, CDSView
    from bokeh.plotting import figure

    source = ColumnDataSource(dict

[2018-06-22 19:17] RobMulla commented on #3007
I know this is an old one, but I'm experiencing the same issue. Fixes itself after scrolling.

[code]

[2018-06-22 20:15] bryevdv commented on #8018
The problem is that `Plot` overrides the `select` defined on `Model` with a different version for some reason.

[2018-06-22 21:02] anujnimkar commented on #1419
@hnykda , were you able to resolve this eventually? I am facing the same issues that you faced while cloning the bokeh github repo (https://github.com/bokeh/bokeh).

Thanks!

[2018-06-22 21:08] hnykda commented on #1419
Almost 4 years later :smiley: ? This reminds me of how old I am getting. Have no idea, sorry.

[2018-06-22 21:09] bryevdv commented on #1419
This will never happen. Building BokehJS is a complicated process that requires lots of additional tools (Node, typescript compilers, lots of JS dependences installed). There is no way to make all that happen with a "pip GitHub install" and even it there were, it's not a priority at all. We provide easily installable "dev builds" precisely for this reason.

[2018-06-22 21:17] #2596 closed

[2018-06-22 22:07] bryevdv commented on #8014
Noting that e.g. `selection_histogram.py` still works with `source.on_change('selected`, ...)` so I do think we need to figure out something consistent for users to expect.

[2018-06-22 22:24] jnettels opened #8020 "export_png not exporting figures correctly"
This is a continuation of #7621

export_png (and export_svgs for that matter) do not work as expected when attempting to export figures after they were added to ~~a layout~~ `curdoc()`.

Here is the example code:

[code]

I start the server with `bokeh serve export_test.py`. After I click the Download button, the following output is generated:

[code]
If I comment out the line `download()  # Test

[2018-06-22 22:37] bryevdv commented on #8020
@AzraelDD to be clear, this is not really a continuation of #7621, and the problem has nothing to to with things being added to any layout.

The issue is that Bokeh `0.13.0` added an error condition and detailed exception when a user tries to use `on_change` in a standalone document (i.e. *not* in a Bokeh server app). The support burden of answering users who tried to do this and then asked "why d

[2018-06-22 22:45] #8018 closed

[2018-06-22 22:49] bryevdv commented on #8013
@euandekock that will always return the x/y coords on the default scale. For most plots, that's all there is. If there are multiple/twin axes, then there coud be non-default scales, but I think that's something that could be left as an advanced case. I would be perfectly fine adding that conversion of `sx` and `sy` here:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/tools/gest

[2018-06-22 22:55] bryevdv commented on #8013
Additionally it would be good to make a few words about what is in the `geometries` object here:

https://github.com/bokeh/bokeh/blob/master/bokeh/models/tools.py#L382

[2018-06-22 22:58] bryevdv commented on #585
I am going to close this. Offhand, I don't know how we'd compute such a heuristic reliably, not even in the "simple" static case, nevermind if pan/zoom interactivity is allowed. But this issue also is back from a time when legends could not be places outside the plot area. Now that that is possible, that is the best solution for always avoiding covering any data, especially in the potential presen

[2018-06-22 22:58] #585 closed

[2018-06-22 23:02] bryevdv commented on #1879
Now that datetime and CustomJSFormatter exists, I am inclined to let those be the answer for any specialized needs, rather than us taking ownership of more code.

[2018-06-22 23:02] #1879 closed

[2018-06-22 23:04] bryevdv commented on #2451
Unfortunately the original test case is no longer available, so I am going to close this as `norepro` there is a good chance it is covered by one of the many other overlapping issues.

[2018-06-22 23:04] #2451 closed

[2018-06-22 23:19] bryevdv commented on #2323
CDSViews now work with data tables, e.g.

[code]

restricts the table to only "Audi" rows in the `data_tables.py` example.

@esvhd you are seeing a something different, I am going to copy your code and comment to a new issue.

[2018-06-22 23:19] #2323 closed

[2018-06-22 23:23] bryevdv opened #8021 "Datatable and Glyph selections not linking properly"
One ref is: https://github.com/bokeh/bokeh/issues/2323#issuecomment-395032022

Alternatively, run `models/file/data_tables.py` The first selection of glyphs updates the table selection. No subsequent selection does.

Possibly related to #8014 as well, the issue may be that there is inconsistency in when and whether `selected` is changed vs `selected.indices`

ANY solution to this must provide the

[2018-06-22 23:41] bryevdv commented on #2539
#5303 covers making it easier to put legends outside the plot area, so I am going to close this

[2018-06-22 23:41] #2539 closed

[2018-06-22 23:43] bryevdv commented on #2673
I think if you have very long tooltip values that falls into the realm of custom HMTL template tooltips. There you can control the output div explicitly with CSS to wrap or have whatever max-width you want.

[2018-06-22 23:43] #2673 closed

[2018-06-22 23:44] bryevdv commented on #2860
This is now possible with `bokeh.events`, which exposes selection geometries to both JS and python event callbacks.

[2018-06-22 23:44] #2860 closed

[2018-06-22 23:52] bryevdv commented on #2283
I'm not actually a docker user, so I'm not really sure either of the requirements or the benefits are. The original query was from 2015, so it was in reference to the original (failed, 1st gen) `bokeh-server` which was  was mostly impossible to set up and use, especially due to the hard `redis` requirement. Nowadays, anyone can install bokeh with pip or conda and immediately `bokeh serve app.py` s

[2018-06-23 07:12] bryevdv commented on #3454
The `$name` special variable was added in `0.13.0`, so I am going to close this.

[2018-06-23 07:12] #3454 closed

[2018-06-23 11:31] lgasnier opened #8023 "`transform.cumsum` doesn't take into account the CDSView"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 0.13
python 3.6.5
OS linux
browser Firefox

#### Description of expected behavior and the observed behavior
In the example below, 2016 renderer is shifted because of 2015 values.

#### Complete, minimal, self-contained example code that reproduces the issue

[code]

#### Stack traceback and/or

[2018-06-23 11:45] lgasnier opened #8024 "Expose `view.indices` in python"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 0.13
python 3.6.5
OS linux
browser Firefox

#### Description of expected behavior and the observed behavior
In the example below, `renderer.view.indices` can be used in `CustomJS` javascript code to update `y_range.factors` but not in python to initiate the factors. It would be useful for a com

[2018-06-23 13:18] #3322 closed

[2018-06-23 13:33] bryevdv commented on #3598
ref: https://stackoverflow.com/questions/1125084/how-to-make-the-window-full-screen-with-javascript-stretching-all-over-the-scre

[2018-06-23 13:34] bryevdv commented on #3724
Didn't realize #8018 was a dupe of this, was completed in #8019

[2018-06-23 13:35] bryevdv commented on #3724
Scratch that, not quite a dupe

[2018-06-23 13:52] bryevdv commented on #4233
The code above did not work because it was not run as a bokeh server application. `on_change` with real python callbacks only functions on the bokeh server (the bokeh server is what actually runs the python code, a standalone Bokeh document with `show` is just HTML and your browser has no way to do anything with python code). With usual `curdoc().add_root(...)` instead of `show` the updates work f

[2018-06-23 13:52] #4233 closed

[2018-06-23 13:54] bryevdv commented on #3862
There just has not been any perceptible demand for this (comments or reactions here, questions on SO or the mailing list) in two years, so I am going to close with no action. Happy to consider a PR for this from anyone interested enough to take it on.

[2018-06-23 13:54] #3862 closed

[2018-06-23 13:59] bryevdv commented on #4509
After more thought, I think the `min_border` route is the best one, even though it would require a small extra work by users. The alternative, if we let the transverse dimensions of tick labels inform the padding on the cross axis  is that the padding above plot bobs up and down as the tick moves towards and away from the edge. That seems like it would look really bad. If people need space, they a

[2018-06-23 13:59] #4509 closed

[2018-06-23 14:05] bryevdv commented on #4389
These modes don't exist anymore.

[2018-06-23 14:05] #4389 closed

[2018-06-23 14:07] bryevdv commented on #4708
Closing as too old and vague

[2018-06-23 14:07] #4708 closed

[2018-06-23 14:13] bryevdv commented on #4951
noting this was solved fo the docs by adding a private API that the sphinx code can use to clear extensions in https://github.com/bokeh/bokeh/pull/7942 but need a general way to avoid this.

[2018-06-24 00:11] jl45621 commented on #3007
I think the way I fixed it was by avoiding tabs entirely. BTW -- It might have even been this issue or another one that I didn't post, but at one point I got fed up and just bit the bullet of unproductivity for a week or so and made my own website framework instead. Here's how I would recommend it: Python App running your code, but following implementation at https://github.com/0rpc/zerorpc-python

[2018-06-24 00:12] jl45621 commented on #3007
ProTip: Combine python multiprocessing.Queue module with zerorpc-python, so you can do interesting work in the background at the same time

[2018-06-24 17:48] miccoli commented on #7867
In my opinion timedelta support should be improved in bokeh.

Let me express this with an example. Given

[code]

Here `dt` (date time) is
[code]
while `td` (time delta)
[code]

The plot `p.line(x=dt, y=y)` is
![image](https://user-images.githubusercontent.com/6403904/41821574-453212fe-77e3-11e8-93fb-b707a19ebab5.png)
while `p.line(x=td, y=y)` is
![image](https://user-images.githubusercontent.com/

[2018-06-24 19:36] bryevdv commented on #7867
They are *not* converted to month/year representation. They are converted to absolute milliseconds (which is fine, the unit choice is arbitrary and ms has some advantages, see above). They are are being *displayed* as dates because *you* have configured a datetime axis, which interprets values a "ms since epoch". As stated above, it's not sensical to use a datetime axis with timedeltas, because ti

[2018-06-24 21:28] miccoli commented on #7867
Sorry, I now see my misunderstanding of the `x_axis_type='datetime'` machinery.  Thank you for the time you spent replying to my ill posed comments.

What was confusing for me (I report it here in the hope that this could help others avoiding this pitfall) is that for small time intervals the plots you get are completely reasonable. E.g.:

[code]

[2018-06-25 01:16] bryevdv commented on #7867
Yes, that's a pure coincidence, I am not sure offhand what we can do but I'm certainly open to suggestions if there is something we can document or demonstrate better

[2018-06-25 08:38] miccoli commented on #7867
As what regards documentation, <https://bokeh.pydata.org/en/0.13.0/docs/user_guide/plotting.html#datetime-axes> contains the following statement (emphasis added by me)

Even if the numpy semantics of 'datetime64' and 'timedelta64' were clear to me, it was not obvious that 'any data that involves dates or times' excludes 'timedelta64'. (And yes, I did not read the reference guide.)

However I agree

[2018-06-25 08:51] AzraelDD commented on #8020
Dear @bryevdv, I am sorry if there is something I do not understand. But while I think that I get what you are trying to say, it does not match what I am currently experiencing. Consider this reduced piece of code from the example above:

[code]

Then do `bokeh serve export_test.py`. Then connect to the server with your browser. It creates the output:
[code]

Despite your "standalone HTML" warning

[2018-06-25 12:11] tarikaltuncu commented on #7217
Was there an update on 0.13.0 for this? Thanks

[2018-06-25 15:13] bryevdv commented on #7217
Although things are certainly occasionally fixed "by accident" during unrelated work, any intentional stesp will always be reported in the issue or a linked PR, so there is never any reason to ask about updates.

This particular issue is the unfortunate basically the worst combination:

* A use case that is not very common
* A fix that is difficult and/or needs breaking changes

Given that Bokeh,

[2018-06-25 15:32] bryevdv commented on #8020
Partly I think you are using a definition I don't recognize. Adding things to the document (using `curdoc().add_root` is not what I would consider "adding to a layout", which I would only consider to be adding to something in `bokeh.layouts` e.g. a `row` or `column`. Also this is the relevant error message that was not included:

[code]
@mattpap when you are back next week, my offhand guess is thi

[2018-06-25 15:47] bryevdv commented on #8023
Will have to see if there is a way to accomplish this without forcing `cumsum` to be configured with a view, which would be very clunky

[2018-06-25 15:49] bryevdv commented on #8024
Might be possible as a readonly property

[2018-06-25 16:05] bryevdv commented on #8024
@lgasnier actually I just realized that you are trying to do this in a standalone document, that is never going to be possible. The view filters are applied and computed *in the browser*, at which point there is no python process around. I believe that this can be accomplished for Bokeh server apps only, since in that case there is a persistent python process connected to the Bokeh document.

[2018-06-25 16:35] bryevdv commented on #8024
Additionally, investigation reveals that containers such as `List` do not currently support `readonly`. It might be possible to add, but would require a fairly extensive amount of testing since it is low level machinery that would need to be updated. Since there is non-trivial risk/effort and the request was not actually for server apps (and since the only possible workaround for standalone apps h

[2018-06-25 16:35] #8024 closed

[2018-06-25 17:22] bryevdv commented on #8023
This diff, routing things through `property.array` (via `materialize_dataspecs` and `warm_cache`) goes part of the way:

[code]

(There are other similar code paths that would need updating in various annotations) However in the above example only the first stack shows up, the second is missing, even though inspection shows that the correct subset cumsum is computed for it. I think the boundary fo

[2018-06-25 17:40] lgasnier commented on #8024
Sorry, I didn't understand that view filters occur in the browser.
Thanks for your investigation.

[2018-06-25 20:35] bryevdv commented on #8023
possibly related: #8010

[2018-06-25 20:53] luk-f-a opened #8026 "Problem when categorical item is duplicated"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh: 0.13
Python: Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
IPython 6.4.0
The version of the notebook server is: 5.4.0
OS: Linux Mint 18
Browser: Chromium Version 62.0.3202.94

#### Description of expected behavior and the observed behavior
When a categorical item is duplicated

[2018-06-25 21:00] bryevdv commented on #8026
This is dupe of #3322 which was closed in https://github.com/bokeh/bokeh/pull/8022

[2018-06-25 21:00] #8026 closed

[2018-06-25 21:42] bryevdv commented on #5426
I just noticed that timedelta types are processed in some of the same code paths as datetime types. As has been clarified in other discussions, this is not really appropriate. AFAIK there is nothing user visible about this, but it would be nice to clean this up internally as part of a PR to fix this.

[2018-06-25 21:44] bryevdv commented on #5426
Although I just noticed your referenced commit @miccoli , does that suffice to fix?

[2018-06-25 22:50] bryevdv commented on #5426
@miccoli I'd also like to apologize in advance for closing this with essentially the same commit. I normally am very fastidious about offering PRs to anyone else first, but I have to travel tomorrow and will be gone most of the week. In the interest of getting a fix to you and other users in a dev build as quickly as possible I went ahead and made the changes in the other combined PR.

[2018-06-26 00:17] #2266 closed

[2018-06-26 00:17] #5426 closed

[2018-06-26 05:33] nikebo159 commented on #7411
Hello. May I know what is your solution? I am not sure how to use stack().  Thank you

[2018-06-26 06:10] stef30360 commented on #7411
Yes it works. Tau

[2018-06-26 06:40] Karel-van-de-Plassche commented on #2283
One generally uses `docker` to have a fool-proof 'guaranteed working' environment, also for legacy versions of a code, and even when the underlying OS updates. Additionally (this is how I use it) one can run code in a VM-like isolated container, while being lighter on the server than spinning up multiple VMs.

I'll probably keep using my solution, so I'm perfectly happy sharing it with you, albeit

[2018-06-26 12:56] adrianog commented on #2283
Can't we use:

[2018-06-26 13:18] Karel-van-de-Plassche commented on #2283
@adrianog For sure, but this is not something 'officially' by bokeh devs at the moment. If  there is enough demand for this feature, this issue should be re-opened and I can whip up a pull request to have this 'officially' supported.

[2018-06-26 14:15] Karel-van-de-Plassche commented on #2283
@bryevdv I see there are still some files lying around in `docker-tools`. Are these still needed/supported?

[2018-06-26 14:45] bryevdv commented on #2283
@Karel-van-de-Plassche I don't use them, but those are docker containers for build/dev that a user contributed: https://github.com/bokeh/bokeh/pull/6375 I think they serve a different purpose than whats discussed here

[2018-06-26 14:48] guenteru commented on #682
I have to chime in on this because I encountered the same bug as pointed out previously by @gepcel
Extending that particular [line](https://github.com/bokeh/bokeh/blob/c8982366e3676757c749c2c2b66ea46a737ba7e9/bokeh/application/handlers/script.py#L84) with ```encoding='utf8'``` helps to make my app run. Without that, python switches to cp1252 which leads to a crash.

Tested on Windows 7, German loc

[2018-06-26 14:48] bryevdv commented on #2283
As for docs I am happy to add a link to your builds or we could make a "bokeh" org on docker I guess? We just need to decide where to link things in the docs, I don't have strong opinions here.

BTW @Karel-van-de-Plassche would you be interested in being added to @bokeh/dev ?

[2018-06-26 14:50] bryevdv commented on #682
Happy to consider a PR if someone wants to submit one. I don't really have the means to test that this works in the situations people are reporting, only to test that it does not break in current situations.

[2018-06-26 14:51] Karel-van-de-Plassche commented on #2283
@bryevdv Let's not link to my builds right now, I'm working on a brand new one in my bokeh fork. Being added to bokeh/dev would be great! Then I could even play with automated builds if you like.

[2018-06-26 14:54] bryevdv commented on #2283
Great! you should have an invitation, now when you make PRs you can (and should) make them directly on bokeh/bokeh (not from a fork) then the tests will fun faster and also save image diff results to report

[2018-06-26 18:22] bryevdv commented on #8023
also possibly related #7944

[2018-06-26 18:38] bryevdv commented on #4371
This was changed at some point so that date range start/end *do* get reported back, as adding this to e.g. the sliders demo will show:
[code]
However the first initial start/end do not trigger a callback, so my inclination is just to make sure that they do, and not add any new properties.

[2018-06-26 18:42] bryevdv commented on #8007
This is a dupe of #4567

[2018-06-26 18:42] #8007 closed

[2018-06-26 18:43] bryevdv commented on #4418
This was done with the work to add multi-gesture edit tools.

[2018-06-26 18:43] #4418 closed

[2018-06-26 18:44] bryevdv commented on #4172
After two years, I am going to close this with no action. I am not inclined to change the defaults, and if people need to tweak things for performance on a specific set of data, they can.

[2018-06-26 18:44] #4172 closed

[2018-06-26 19:04] nikebo159 commented on #7411
@stef30360 thank you so much for replying back. but how do you get it work? would you mind to show the code? thank you!

[2018-06-26 19:40] #7976 closed

[2018-06-26 19:48] bryevdv commented on #5021
I didn't notice the `resources=local` before, this seems very specialized. There have not been any other reports or requests in two years, and there is no reproducer available, so I am going to close this with no action.

[2018-06-26 19:48] #5021 closed

[2018-06-26 21:05] miccoli commented on #5426
@bryevdv no need to apologise: my  miccoli/bokeh@0545753 is really trivial, so I do not claim any birthright or PR-right on this ;-) Far better to have the bug fixed as quickly as possible.

[2018-06-26 23:48] gepcel commented on #682
Looks like the solution suggested will fix the issue with python3, but break things with python2. There was an unsuccessful trying, see discussion #7305.

As for now, my solution for myself is manually changing this line of code everytime I installed or updated bokeh.

[2018-06-27 01:08] #4215 closed

[2018-06-27 07:21] clemy83 commented on #7128
Hello Folks,

I am unable to Embedding Bokeh server plots in Flask

I modified the code to workaround the deprecated function "autoload_server". I am now using the function "server_session". But this also fails to render the chart on the browser. The error message is as follows(in bold):

**WebSocket connection to 'ws://localhost:5006/random_generator/ws?bokeh-protocol-version=1.0&bokeh-session-id

[2018-06-27 12:42] philippjfr opened #8032 "Draw and Edit tools event handling on server broken"
Playing around with the draw and edit tools on bokeh server that even after https://github.com/bokeh/bokeh/issues/7745 was resolved many actions don't seem to trigger Python side events. Specifically drawing a new point using PointDrawTool and drawing box using the BoxEditTool seems to trigger no event at all on the Python end, and the PolyEditTool seems to cause an endless chain of events being s

[2018-06-27 12:59] bryevdv commented on #7128
@clemy83 403 is a "permission denied" error code, so I this seems like a configuration/usage support question. As such I's ask that further discussion happen on the  mailing list and not the tracker unless we can identify a bug or other issue that requires dev action. https://groups.google.com/a/continuum.io/forum/#!forum/bokeh

[2018-06-27 13:15] philippjfr commented on #4096
@bryevdv A number of users have been reporting this because we set the default NaN color to ``(0, 0, 0, 0)`` which becomes ``'rgb(0, 0, 0, 0)``. I'd be happy to work on a fix here, but I can't quite tell what conclusions to draw from the discussion above. Would it be sufficient to allow rgb strings on the property or is that likely to cause issues elsewhere?

[2018-06-27 17:48] bryevdv commented on #6107
I just tried my idea above, and it does not work. I think we should just add a note in the notebook chapter the docs and in the custom extension chapter

[2018-06-27 17:55] bryevdv commented on #6107
Doing that seems to result in a pause and also infinite console errors tho, so I think I still favor just resolving this with docs support:

<img width="1227" alt="screen shot 2018-06-27 at 12 54 56" src="https://user-images.githubusercontent.com/1078448/41990904-61b21ee2-7a09-11e8-9e66-00abe4351bb4.png">

[2018-06-27 17:57] bryevdv commented on #6093
this example is gone with `bokeh.charts`

[2018-06-27 17:57] #6093 closed

[2018-06-27 18:08] bryevdv commented on #4014
Thinking about this further, I don't there is any action to take. If you want to control the start/end of a range, you should be using `Range1d` and not using `DataRange1d` whose purpose is explicitly to automatically set start/end without intervention.

In retrospect, the right API would have been a user-settable `initial_start` and `initial_end` (or `override_start` or something like that) for f

[2018-06-27 18:08] #4014 closed

[2018-06-27 18:31] #7959 closed

[2018-06-27 18:32] bryevdv commented on #8021
also possibly related #7944

[2018-06-27 19:11] bryevdv commented on #6746
App examples are now screenshot tested save for some specific skipped ones, and there is another issue to add those.

[2018-06-27 19:11] #6746 closed

[2018-06-27 20:05] kti-matt opened #8034 "Unhandled exception in application causes all later sessions to fail"
## The problem

In a "bokeh serve" application, if there is an unhandled exception in the main code, all new sessions after the exception do not work.

Background: https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/BZpiJJ4TO2M

## Expected behaviour

The preferred behaviour would be that an unhandled exception would only affect the session that caused the exception, and sessions started

[2018-06-28 10:04] euandekock commented on #8013
Hi @bryevdv ,

I don't have permission to push a commit up to Bokeh, so I've attached two files here (in a gz)  that should resolve this issue. Please can you create a pull request for this change.

The change does correctly handle the case of multiple axis as each glyph initiates a separate callback. It behaves much like the Hover tool does in that it no longer uses the PointGeometry interface as

[2018-06-29 07:10] clemy83 commented on #7128
Hey thank you for the reply. I played around a bit and I think I sorted out the "permission denied" error.
However I am getting the following error now:

**Error:**
Firefox can’t establish a connection to the server at ws://localhost:5006/random_generator/ws?bokeh-protocol-version=1.0&bokeh-session-id=afl5ZCoUi6xySziZWGF3SFSHfL6KXigCVL9V1iezdPsA. connection.js:58
[bokeh] Failed to connect to Bokeh

[2018-06-29 07:49] euandekock commented on #8013
Hi @bryevdv,

I have submitted a PR with the changes to both files referenced above. Please advise if you need anything further for this.

Regards,

Euan.

[2018-06-29 11:08] bryevdv commented on #8013
I'm currently traveling due to a death in the family, I will look I at it next week.

[2018-06-29 17:40] chiragshah1312 opened #8039 "Bokeh without opening ports on firewall"
I'm starting a bokeh server on a machine using python.
`sockets, port = bind_sockets("localhost", 0)
`
This is embeded in flask app so I'm using
`bokeh_tornado = BokehTornado({'/bkapp': bkapp}, extra_websocket_origins=["localhost:8000", "*"])`
i use
gunicorn -w 4 main:app
to start the flask app.

When i hit the ip:port of the gunicorn from broswer,
the gunicorn gets the request and it loads the ti

[2018-06-29 19:14] #6548 closed

[2018-06-29 19:17] bryevdv commented on #8039
There was a previous discussion around making it possible to use unix sockets instead: https://github.com/bokeh/bokeh/issues/5383 but that did not go anywhere at the time. We could certainly revisit things, especially if someone new is interested in leading the effort. Otherwise, support questions e.g. about nginx or other configuration, shoudl go on the mailing list, not the issue tracker:

https

[2018-06-29 19:17] #8039 closed

[2018-06-29 19:38] jburgy opened #8040 "Editing filtered DataTable cell impacts wrong row"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 0.13.0, python 3.6.5, macOS High Sierra 10.13.4

#### Description of expected behavior and the observed behavior
Editing filtered DataTable cell impacts wrong row. Impacted cell is below targeted one when rows above it are filtered (DTINDEX_NAME/index_position confusion).

#### Complete, minima

[2018-06-29 22:22] bryevdv commented on #8034
Offhand, catching exceptions around here is probably what is necessary

https://github.com/bokeh/bokeh/blob/70f111deb85ee8a9b5b2de845b24b439d64c93a0/bokeh/application/application.py#L153-L174

[2018-06-30 16:10] MikeWoodward commented on #8009
This might be the same as #8015

I've looked at the problem more closely. The Bokeh DatePicker attributes min_date, value, and max_date all seem to be behaving consistently if you set and get them via the API. The problem seems to be in the implementation of the DatePicker in Chrome.

If you choose values on the picker GUI which are just a month apart, you see the year change incorrectly. My guess

[2018-07-01 06:10] bryevdv commented on #7145
This seems to have been resolved at some point in other work:

<img width="625" alt="screen shot 2018-06-30 at 23 05 49" src="https://user-images.githubusercontent.com/1078448/42131583-3413859e-7cba-11e8-9991-2d8a07409aee.png">

There is no way to disable spatial indexing, but AFAIK indices are processed in order now. Please re-open if there is still a reproducible issue.

[2018-07-01 06:10] #7145 closed

[2018-07-01 23:38] #6117 closed

[2018-07-02 01:26] MikeWoodward opened #8042 "DateRangeSlider issues on Bokeh server (Tornado) not on script"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Bokeh 13.0
Python 3.6.5
Browser: Chrome
OS: OSX

#### Description of expected behavior and the observed behavior

DateRangeSlider behaves differently when run via Bokeh server (Tornado) than from within a script (not using the server). The Bokeh server (Torndao) behavior is incorrect.

In the exampl

[2018-07-02 14:39] jburgy commented on #8040
The issue arises when CellEditorView.applyValue passes item[DTINDEX_NAME] (index in the original source) as offset to DataProvider.setField. DataProvider.setField expects a view index and translates it to source index using this.index[offset]. Our choice is to
* replace item[DTINDEX_NAME] by this.args.grid.getData().view.indices_map[item[DTINDEX_NAME]] in CellEditorView.applyValue or
* replace thi

[2018-07-02 15:40] bryevdv commented on #8042
This is probably a duplicate of one of the linked issues, so I am going to close for now since they are linked. In particular `bokeh.client` is probably just exposing the inconsistent data formats that can apparently happen that you've noted.

In the interest of getting good information to as many possible, I do feel compelled to note that this kind of usage of `bokeh.client` with `session.loop_un

[2018-07-02 15:40] #8042 closed

[2018-07-02 16:37] bryevdv commented on #8013
@euandekock Looking at things mode closely I think there is a better approach. I think in fact that we should move away from `.callback` entirely, and over to the more general events system that was added last. With that you can use `on_event` (in server apps) or `js_on_event` (for JS callbacks). And those already all add data space coordinates to the callback event data.

What is missing, is that

[2018-07-02 16:47] bryevdv commented on #8013
For reference, in case you have not seen the more recent `bokeh.events` style:

https://github.com/bokeh/bokeh/blob/master/examples/howto/js_events.py
https://github.com/bokeh/bokeh/blob/master/examples/howto/events_app.py

Basically what I now suggest is putting effort into the better `bokeh.events` codepaths, instead of the `.callback` machinery which is very old and ad-hoc, and possibly up for

[2018-07-02 17:01] bryevdv commented on #5365
After tinkering with the reference PR I have decided to take no action. Apart from the performance concern of validating this, there is no good way to silence the warning in cases where the warning fires, but a large legend *is* intended. We have since this issue was made increased the documentation support around using `value`. Perhaps in the 2.x timeframe we can consider changing the behavior in

[2018-07-02 17:01] #5365 closed

[2018-07-02 17:21] bryevdv commented on #8034
Actually issue is that once a hander is marked "failed" it is never reset before the next use.

[2018-07-02 18:06] bryevdv commented on #8034
Here is a minimal diff that fixes things, but more work is needed, there may be module cleanup or other explicit work that needs to happen to avoid memory leaks, etc.
[code]

[2018-07-02 19:16] csbrace opened #8043 "Layouts in Tabs behaving unexpectedly with relative sizing modes"
Hi all,
I've recently run into an issue while trying to implement multi-level tabs in Bokeh, and after some research I think this may be a bug in how tabs handle relative sizing, and it may be one that's [been around for a few months.](https://groups.google.com/a/continuum.io/forum/#!msg/bokeh/Py1VpXihtmA/1murm_n_BgAJ)

Specifically, when you put figures in tabs, then put those tabs in a gridplot/

[2018-07-02 21:45] bryevdv commented on #8043
There are lots of open issues with layout, and with tabs specifically. This is almost certainly a duplicate of an existing issue, but I will have to try and track it down. If you need something more than a veyr basic layout (and multi-level tabs sounds like that). I would suggest for now using the various functions in `bokeh.embed` to embed individual plots in your own HTML template (and handle th

[2018-07-02 22:16] bryevdv commented on #7543
Decided this is more work than its worth

[2018-07-02 22:16] #7543 closed

[2018-07-02 22:39] bryevdv commented on #8034
Ok, more specifically, this was the way it was because `CodeRunner` may detect and fail on bad code during initialization. So we can't just "reset" the failed state every time, at least not entirely. I think adding a second internal flag to `CodeRunner` will alleviate the issue, though.

[2018-07-03 02:55] euandekock commented on #8013
Looking at the events subsystem, it appears to be a at a lower level than the callback system, and operates independently of any of the underlying chart glyphs.

In the events.py code:

[code]

It can be seen that all the x and y coordinates are reported relative to the default ranges. All events just report the underlying geometry with no attempt to relate this to any glyphs that may lie under th

[2018-07-03 08:29] euandekock commented on #8013
@bryevdv

Given that all the other tools already implement data coordinates in much the same way as I was initially proposing, can we still consider the pull request I submitted. This will at least put the Tap Tool on an equal footing with all the other callback based tools, and will provide a base level of functionality to replicate with the new events.

We can then consider a more formal redesig

[2018-07-03 10:44] msalvaris opened #8046 "Extra whitespace with SVG export"
This was initially reported in the Google groups channel and was encouraged to open an issue here

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Ubuntu 16.04
Python 3.6 (Conda env)
Jupyter notebook 5.5
Bokeh 0.13.0
Firefox (although shouldn't matter)

#### Description of expected behavior and the observed behavior
When exporting a multilevel cat

[2018-07-03 14:01] csbrace commented on #8043
Fair enough, that. I feel like two layers of tabs is a fairly common use case that would be nice to handle internally, but for now I think I'll cheat a little bit and just use absolute sizing a la
'''
t1.width = 700
t2.width = 700
'''
to make my prototype work visually, and I'll embed everything like you suggest for the final product.
Also, looking through other examples from my own code, I think

[2018-07-03 14:28] philippjfr opened #8047 "Add ability to add title to DataTable"
Quite often there are multiple tables in a dashboard/layout and you want to distinguish between them. Currently it is somewhat awkward to add a title for the tables so it would be very handy if it were possible to add titles to DataTables to make this easier just and more like regular plot types.

[2018-07-03 14:55] bryevdv commented on #8043
My pleasure, I am going to go ahead and close this discussion as I do believe it is covered by other layout/tabs issues already. Resources are limited but I hope we are able to turn to some of these soon.

[2018-07-03 14:55] #8043 closed

[2018-07-03 15:46] bryevdv commented on #7147
Since there is a potential solution available, and there was no further discussion about it, I am going to go ahead and close this.

[2018-07-03 15:46] #7147 closed

[2018-07-03 15:56] bryevdv commented on #5475
Closing for inactivity. I believe themes cover all the territory in the original post, and if you wanted, a bokeh app could use HTTP request args e.g. `?theme=dark` to load different themes conditionally.

[2018-07-03 15:56] #5475 closed

[2018-07-03 15:58] bryevdv commented on #5652
Closing for inactivity

[2018-07-03 15:58] #5652 closed

[2018-07-03 16:02] bryevdv commented on #6329
dupe of #2603

[2018-07-03 16:02] #6329 closed

[2018-07-03 16:08] bryevdv commented on #3779
there is a link to a notebook embed example now

[2018-07-03 16:08] #3779 closed

[2018-07-03 16:09] bryevdv commented on #3777
app generation from notebooks is still extremely limited, i'm not sure when that will change, there has not been a large demand for this feature

[2018-07-03 16:09] #3777 closed

[2018-07-03 16:10] #4710 closed

[2018-07-03 16:13] bryevdv commented on #6360
Users can use `get_screenshot_as_png` to get an image object instead of writing a file

[2018-07-03 16:13] #6360 closed

[2018-07-03 16:21] #7580 closed

[2018-07-03 18:30] #6362 closed

[2018-07-03 18:39] bryevdv commented on #7320
This is a great idea, there's just a great many places that would need checking:

[code]
So we will have to find some way to do this with an economy of code, perhaps a mixin would work

[2018-07-03 22:28] #7320 closed

[2018-07-03 22:33] #8034 closed

[2018-07-04 14:47] markusdr opened #8050 "DataTable selectable='checkbox' gives JavaScript error"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

bokeh 0.13.0
python 3.6.5
Mac OS Sierra 10.12.6
Got same JavaScript error in:
  Chrome Version 67.0.3396.87 (Official Build) (64-bit) and
  Safari Version 11.1.1 (12605.2.8)

#### Description of expected behavior and the observed behavior

It should show a DataTable with checkboxes for row selection

[2018-07-04 20:35] 2torus commented on #8050
@bryevdv I think the issue is the difference between [data_table.ts line 277](https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/widgets/tables/data_table.ts#L277)
and [data_table.ts line 307](https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/widgets/tables/data_table.ts#L307)
I think 307 should be `selectable: [ p.Any, true]`. Changing this worked for me.

[2018-07-05 10:32] DunkeeFunk commented on #7785
Im struggling with similar issues. I hope they fix this one soon too

[2018-07-05 14:29] csbrace opened #8052 "Hover Tool not wrapping text on the left-hand side of a figure"
Hi,

I'm not sure if this is best classified as a bug or a feature request, but I've noticed that the Hover Tool wraps text on the right side of plots, but not on the left side. Thus when working with long fields, items on the right of the figure will cause the hover tool column names to rocket off the left side of the screen. I found a great visual example on the [mailing list](https://groups.goo

[2018-07-05 15:42] pmicheletty commented on #2758
+1 for this. Are there any examples of updating axes dynamically? I can't seem to get it to work

[2018-07-05 17:16] harrisonzalman opened #8053 "Exporting GMapPlot using export_png are sometimes grayed out with a Google Maps error"
#### Version
python  3.6.5
bokeh 0.12.16
selenium 3.12.0 (dependency)
pollow 5.1.0 (dependency)
phantomjs 2.1.1 (dependency)

#### Expected
When exporting a GMapPlot using export_png, each file generated should be a png with a google maps image. Each GMapPlot can also be displayed properly in Jupyter Notebook.

#### Observed
When exporting a GMapPlot using export_png, roughly 3 out of every 5 gene

[2018-07-05 17:20] bryevdv commented on #8053
I expect this is the same underlying issue as https://github.com/bokeh/bokeh/issues/6303 (gmaps load asynchronously and export is not waiting long enough). Thoughts @mattpap ?

[2018-07-05 17:23] bryevdv commented on #7991
@magee256 It is not a bug, that functionality has simply not been implemented yet. There is an open PR now that will be merged soon that adds oval/ellipse hit testing support.

[2018-07-05 17:31] bryevdv commented on #2758
@hyamanieu @pmicheletty respectfully, please try to stay on-topic on issues. The OP has nothing to do with axes.

[2018-07-05 18:11] chesucr commented on #6462
A post update. I can confirm that with the release `1.0.0dev2` this is working on Windows:

    npm install --no-save                   # bokehjs folder
    python setup.py install --build-js      # root folder

So the `gulp` command is not needed anymore

[2018-07-05 18:39] birdsarah opened #8054 "Save from a notebook returns a blank png"
To see problem, checkout `bokeh/examples/plotting/notebook/color_scatterplot.ipynb`

Here's a rendered version:

http://nbviewer.jupyter.org/github/birdsarah/bokeh-miscellany/blob/master/color_scatterplot.ipynb

Note that:

1) if output backend is svg, it's fine
2) if the notebook gets saved as an html, it's fine

[2018-07-05 18:44] birdsarah commented on #8054
Cancel this.

Firefox's new tracking protection was blocking access to canvas.

Once I accepted, everything's fine.

[2018-07-05 18:44] #8054 closed

[2018-07-05 19:19] bryevdv commented on #8040
I can only recommend that you wait for the fix in an upcoming release, or downgrade to a version that is unaffected. There is a cluster of issues with DataTable / CDSView / Selection indices that are all inter-related (in fact I may close this issue as a dupe). I intend to address them all soon, including much better test coverage for DataTable overall, but the release is about two months away at

[2018-07-05 19:52] #8050 closed

[2018-07-05 20:46] #6985 closed

[2018-07-05 21:11] mattpap commented on #8053
There likely will be errors, but in phantomjs' console. Export to PNG happens completely independently to the web browser that runs Jupyter notebook's UI. However, we may not be able to collect those, because of limitations of selenium web driver.

[2018-07-05 21:14] mattpap commented on #8053
I strongly doubt it, because last time I worked on it, it was very reliable. The problem again (#8020) is that we don't have any information regarding what happened in phantomjs (and we may not have due to selenium's limitations). Anyway, I will debug this to see what's going on under the hood.

[2018-07-05 23:53] mgagcode commented on #8015
I also noticed that the datepicker can be one day off from what the user selected when using the callback.

[2018-07-06 03:22] lohithek opened #8058 "Ability for a slider widget to have the functionality of xwheel_zoom"
# READ AND FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and
technical assistance, come ask the [Bokeh mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh) or join the chat on [Gitter](https://gitter.im/bokeh/bokeh). For feature requests

[2018-07-06 17:48] bryevdv commented on #8058
@lohithek can you please flesh the request out minimally? I.e. delete the boilerplate contents, describe what you want in a bit more detail, and link to an relevant references (e.g. a stack overflow discussion)

[2018-07-06 21:31] #8058 closed

[2018-07-06 21:45] birdsarah opened #8060 "Inaccurate rendering around 0 on tall bars"
I have a distribution with very tall bars, and a few really short bars.

When I plot a close up to just see the short bars, you can see that the tall bars do not correctly start at 0, they start just above 0.

![bokeh_plot](https://user-images.githubusercontent.com/1796208/42401557-a83f4e9e-8165-11e8-97a8-13519632291d.png)

![bokeh_plot](https://user-images.githubusercontent.com/1796208/42401540-9

[2018-07-06 21:47] birdsarah commented on #8060
All from Linux.

The above grabs are from Firefox 63.

The effect is worse on Chrome (67):

![bokeh_plot 3](https://user-images.githubusercontent.com/1796208/42401628-156a6828-8166-11e8-9fe4-c18f1d488bc3.png)

[2018-07-07 11:38] VineethKanaparthi commented on #4371
Do we have any method to extract computed x_range and y_range?

[2018-07-07 14:03] jburgy commented on #8040
As you probably noticed, we're heavy DataTable users over here and are happy to contribute if helpful.  Feel free to share your plan and we can see if a piece can be logically carved out.

[2018-07-07 16:25] jbednar opened #8061 "LogTicker broken for colormaps that include zero"
ref: https://github.com/bokeh/bokeh/issues/6517
ref: https://github.com/bokeh/bokeh/issues/6536

At least for Bokeh 0.13.0 and earlier, adding a LogTicker() to
[color_data_map.py](https://github.com/bokeh/bokeh/blob/master/examples/plotting/file/color_data_map.py) makes the numerical colorbar labels disappear, making it not usable for the intended purpose of a colorbar (showing the mapping from co

[2018-07-08 03:50] Benjamin-Lee commented on #5955
This would be incredibly helpful since the extension doesn't seem to embed usable plots on ReadTheDocs and I _hate_ the idea of using screenshots in my docs

[2018-07-08 05:00] bryevdv commented on #5955
@benjamin-lee are you interested in working on it? It's not likely that I will be able to prioritize this anytime soon over other tasks, but I suspect it would be approachable to any non-beginner python dev, and if be happy to help provide guidance.

[2018-07-08 05:03] Benjamin-Lee commented on #5955
Sure -- I've been able to get working plots in my Sphinx docs by embedding manually outputted HTML so I can take a stab at it when I get a chance

[2018-07-08 17:08] stonebig commented on #7916
problem is there again with pandas-0.23.3 (from cgohlke).

[2018-07-08 17:29] stonebig commented on #7916
remark: I still have the "loosing my outliers" issue on Python-3.7.0 / numba-0.39.0  windows 64 bit (cgohlke compilation, not anaconda).

[2018-07-09 02:34] Wario7 opened #8064 "Dashboard example"
Hello,

Thank you for continuously developing Bokeh. I believe is a minor issue with the Bokeh Dashboard example bokeh/examples/app/dash/. I downloaded the folder 'Dash' and ran Bokeh serve --show Dash, and everything ran perfectly. However, when I changed the folder name 'Dash' to something else, the CSS did not render completely. It seems static/css/custom.min.css is hardcoded with the Dash name

[2018-07-09 04:18] bryevdv commented on #8064
@Wario7 I am not sure what action you would have us take. The example  is just that, and an example.  In particular, the CSS is just a random dashboard template found online, it is not meant to be "official" or be endorsed in any particular way. It's meant only to be illustrative of how anyone might go about constructing a dashboard with a template of their own. I.e. if you need further or differe

[2018-07-09 04:18] #8064 closed

[2018-07-09 04:54] #2022 closed

[2018-07-09 04:58] bryevdv commented on #8061
I'm not sure what you are suggesting, concretely. The log ticker doesn't know that it is being used by a color bar. The only way to achieve what you suggest would be to have the colorbar actively intervene and override whatever values the colorbar is set to to begin with, after everything is initialized. But that would be an unusual and atypical thing to do, and, I think, lead to unexpected behavi

[2018-07-09 05:00] bryevdv commented on #8061
Or maybe you mean that the colorbar should set its range to avoid this situation? It would clarify things to have a PR with a concrete propose change to evaluate.

[2018-07-09 07:21] Haptein commented on #8046
Have you tried the following?
p.background_fill_color = None
p.border_fill_color = None

It is briefly mentioned in the docs that you need to do this in order to get transparent backgrounds. Although it'd be nice if this was the default with svg exports.

[2018-07-09 09:30] msalvaris commented on #8046
Hm, no but I don't think my issue is with transparency it is that there is extra whitespace between the levels in the plots when exporting to SVG. This is also apparent in the legend.

[2018-07-09 09:41] jbednar commented on #8061
I'm only proposing that it work, nor precisely how to do it. :-)  Not returning a tick for values <=0 would be a good start, but then it seems like the bottom of the range would be missing a tick. But maybe it could first clip the requested range to something where log is valid, then spreat the ticks over that?  Or else just use log1p instead of log?

[2018-07-09 11:13] anthonydouc opened #8065 "Double arrow displayed on graph node hover tooltip"
When the hover tooltip occurs on the right hand side of the graph node (using either oval or circle glyph), two arrows appear. When the hover tooltip appears on the left of the glyph, only a single arrow is displayed - as expected.

Error occurs on bokeh 0.12.13, mac osx - using chrome or safari browsers.

[code]

![graph node hover bug](https://user-images.githubusercontent.com/11044560/42447203-

[2018-07-09 17:35] #2283 closed

[2018-07-09 17:53] bryevdv commented on #8061
I'm not sure how that would work for the ticker, AFAICT the color mapper uses `log1p` to define a relative scale (difference in orders of magnitude) but the ticker has to contend with an absolute range, whatever it happens to be. But maybe I am missing something.

It seems the best way to address this is to just have a way to make the colorbar not include zero. This could be an explicit property t

[2018-07-09 18:10] dgraham999 opened #8066 "nginx does not open bokeh from flask app"
# READ AND FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and
technical assistance, come ask the [Bokeh mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh) or join the chat on [Gitter](https://gitter.im/bokeh/bokeh). For feature requests

[2018-07-09 18:13] bryevdv commented on #8066
As stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please consider [Stack Overflow](https://stackoverflow.com/) or the [public mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh). To increase the chance that someone wi

[2018-07-09 18:13] #8066 closed

[2018-07-09 19:09] graeme-hattan commented on #3799
If anyone is looking for a workaround for this, I managed to get basic linked crosshair functionality with JavaScript callbacks. See my SO answer for more details - https://stackoverflow.com/a/51251614/2801913

[2018-07-09 19:29] bryevdv commented on #8060
This isn't about zero, it's about canvas bugs rendering rects with endpoints way outside the viewport. PR incoming, but need to find a way to test.

[2018-07-09 23:09] bryevdv commented on #8032
I'm not sure, but there is no point in making PRs for these things until we can find a way to maintain them under test.

[2018-07-09 23:10] bryevdv commented on #8009
@MikeWoodward I think you are correct that this is the same as #8015 so I am going to close this as  a duplicate and leave a note there the verify that a solution to that issue truly resolves this as well.

[2018-07-09 23:10] #8009 closed

[2018-07-09 23:11] bryevdv commented on #8015
Note: #8009 appears to be a dupe but verify any solution to this issue solves that as well.

[2018-07-09 23:14] bryevdv commented on #8046
@canavandl do you have any ideas off the top of your head?

[2018-07-09 23:20] bryevdv commented on #8010
I think a general solution to #8023 would also solve this but I'm not completely sure so will not close this as a dupe just yet.

[2018-07-10 10:12] lukasz-migas opened #8070 "Zoom and pan v. slow when hover tool is enabled for large datasets"
Hi,

Since I've been using Bokeh I have encountered a problem when plotting large 1D datasets using the `line` plotting function. The encountered issues related to an inconsistent behaviour of the zooming functions (either box zoom or wheel) when the hover tool is enabled. These include:
1. When using the `box_zoom `and zooming on any random area of the 1D plot, the operation is extremely slow, wh

[2018-07-10 13:38] mattpap commented on #8020
Lets simplify the code a bit:
[code]
The difference between the former and the later set of `export_png()` calls, is that the former doesn't have a document assigned to models, whereas the later has. This results in the later `export_png(fig)` being understood as (~) `export_png(fig.document.roots)`, which results in a mismatch between roots and their assigned element ids and `fig`. I think we sho

[2018-07-10 13:46] mattpap opened #8071 "Make error reporting from `export_png()` more robust"
Currently if it fails, it does this with very unhelpful error messages like:

(see issue #8020).

[2018-07-10 13:56] bryevdv commented on #8070
50k points is pushing the envelope for standard Bokeh, and depending on the use case is simply out of scope depending on the situation.

* [Use Holoviews + Datashader](http://holoviews.org/user_guide/Large_Data.html) The datashader package is flexible pre-rasterizer that was created for large data sets (millions/billions of points) but can work fine with 50k. Coupled with Holoviews it can be used

[2018-07-10 13:56] #8070 closed

[2018-07-10 14:18] bryevdv opened #8072 "Support preprend on stream"
Recently asked for something like:
[code]
which would cause new values to be inserted at the beginning of CDS columns, instead of the end.

Places that will need updating:

* add parameter to function def

    https://github.com/bokeh/bokeh/blob/master/bokeh/models/sources.py#L296

* update python `data` dict properly, based on the param:

    https://github.com/bokeh/bokeh/blob/master/bokeh/model

[2018-07-10 16:50] jbednar opened #8074 "Overzealous deduplication of tools for merge_tools"
Bokeh has a handy `merge_tools` option, which merges all tools from across plots into a single toolbar, removing any resulting duplicate tools.  That's great, but because it both merges the toolbars and removes duplicate tools, it can't be used when multiple instances of the same tool have been added. For instance, in the left-hand plot here there are multiple PolygonDraw tools:

![image](https://

[2018-07-10 16:52] bryevdv commented on #8074
Deduping was added back when there were only tools like pan and zoom. I'm happy to accept a PR that restricts dupe checking to a specific small list of tool types (i.e. pan, etc)

[2018-07-10 16:58] philippjfr commented on #8074
Great, I'll probably be starting on various bokeh PRs when I return from holiday so hopefully that will be ready for the 1.0 release.

[2018-07-10 20:08] #8060 closed

[2018-07-10 20:09] #6454 closed

[2018-07-10 22:30] FunnyGoofy commented on #7374
is this problem solved? thanks

[2018-07-10 22:33] bryevdv commented on #7374
`--websocket-max-message-size` is available in 0.13.0

[2018-07-10 22:57] FunnyGoofy commented on #7374
thanks a lot, after updated to 0.13.0, the error is gone

[2018-07-10 23:09] FunnyGoofy commented on #7374
if I try to select item from combox and call on_change(). console says: WARNING: bokeh.server.views.ws:Failed sending message as connection was closed

[2018-07-10 23:10] bryevdv commented on #7374
`--websocket-max-message-size` is an option you have to set yourself. Tornado recently introduced a max default web socket message size. All we can do is expose the parameter to override it, which we have done.

[2018-07-11 11:19] axil commented on #7590
Even in 0.12.10 there's problem with updating the newly added plots sources though `push_notebook()`:

![image](https://user-images.githubusercontent.com/170910/42568307-dd225ff0-8536-11e8-8a2e-0016219b1fcf.png)

Cell 6 doesn't work.

[2018-07-11 11:29] axil commented on #7590
ModelChangedEvent is not fired

[2018-07-11 12:47] axil commented on #7590
Incidentally, `h.doc != line2.data_source.document`.
Also `h.doc._hold == True` while `line2.data_source.document._hold == None`
Is it on purpose?

[2018-07-11 13:02] axil commented on #7590
Here's a quick workaround:

![image](https://user-images.githubusercontent.com/170910/42573075-50057a44-8545-11e8-9b27-963bbb454fde.png)

[2018-07-11 13:18] axil commented on #7590
The same thing with visibility:

    line2.visible = False; push_notebook(h)
only works after

    line2._document = h.doc

[2018-07-11 14:02] axil commented on #7590
Is it a bug or a feature? :)

[2018-07-11 14:49] FunnyGoofy commented on #7374
I overwrote it like:
`super(BokehTornado, self).__init__(all_patterns,
                                           websocket_max_message_size=50 * 1024 * 1024,
                                           **kwargs)`

but, when I switch item from combox and update plot, I got error like this one.

`pydev debugger: starting

 * Running on http://127.0.0.1:8080/ (Press CTRL+C to quit)
WARNING:bokeh.serv

[2018-07-11 15:06] FunnyGoofy commented on #7374
index.js:2 Uncaught Error: reference {"id":"e66b0946-da61-4478-bacb-8620a2dc7314","subtype":"Figure","type":"Plot"} isn't known (not in Document?)
    at o (index.js:2)
    at index.js:2
    at o (index.js:2)
    at Function.P._resolve_refs (index.js:2)
    at P.apply_json_patch (index.js:2)
    at t._handle_patch (index.js:2)
    at t.handle (index.js:2)
    at t._steady_state_handler (index.js:2

[2018-07-11 15:09] FunnyGoofy commented on #7374
`index.js:2 Uncaught Error: reference {"id":"8527ef3f-1366-4cb1-acaa-d3d2d200fd42","type":"ColumnDataSource"} isn't known (not in Document?)
    at o (index.js:2)
    at index.js:2
    at o (index.js:2)
    at index.js:2
    at o (index.js:2)
    at Function.P._resolve_refs (index.js:2)
    at Function.P._initialize_references_json (index.js:2)
    at P.apply_json_patch (index.js:2)
    at t._hand

[2018-07-11 15:23] FunnyGoofy commented on #7374
I previously use Bokeh 0.12.16, not the issue like this. Currently, I update the Bokeh and use 0.13.0. this issue appears. I just wonder if this issue is from Bokeh new release. thanks a lot.

[2018-07-11 16:02] philippjfr opened #8075 "BoxEditTool draws on doubletap even when tool inactive"
The BoxEditTool does not check whether the tool is active before starting to draw on doubletap events. I'll submit a PR shortly to fix this.

[2018-07-11 16:18] bryevdv commented on #7374
@FunnyGoofy your issues have nothing do do with this issue. I am deleting your comments because it is unhelpful and confusing to have unrelated messages mixed in together. Please start with the mailing list to see if there needs to be a new issue made.

[2018-07-11 16:20] bryevdv commented on #7374
@FunnyGoofy 50 is an incredibly tiny value. The units of `websocket_max_message_size` are *bytes* (as documented) so setting to 50 means that any message larger then 50 bytes will cause the connection to be terminated. You want to set to a very large value.

[2018-07-11 16:21] FunnyGoofy commented on #7374
thanks,  any clue about this issue.

On Wed, Jul 11, 2018 at 10:18 AM, Bryan Van de Ven <notifications@github.com

[2018-07-11 17:16] #8075 closed

[2018-07-11 17:44] sannawag commented on #2426
This example helped me. http://bokeh-cookbook.github.io/blog/2016/06/15/image_n_image_rgba_plot/

[2018-07-11 18:31] #99 closed

[2018-07-11 18:32] bryevdv commented on #99
Linked PR adds two named themes, further additions should follow that example (in new issues)

[2018-07-12 11:20] tobiasfriden opened #8077 "Not providing x and y data makes some glyphs not render in legend"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh version: 0.12.6
Python version: 2.7.13
Browser: firefox
#### Description of expected behavior and the observed behavior
When creating a custom legend and not providing x and y data some glyphs (x, cross) do not render in the legend while some (circle, line) do.
#### Complete, minimal, self-cont

[2018-07-12 15:07] bryevdv commented on #5955
@Benjamin-Lee Great, sure, most of the relevant code is in this file:

https://github.com/bokeh/bokeh/blob/master/bokeh/sphinxext/bokeh_plot.py

Things are a little complicated by the fact that there are three ways to include a plot:

* inline code in .rst file
* A py file in the docs source tree
* A py file outside the docs source tree

You can see these branches commented in the `run` method of

[2018-07-12 17:29] #8013 closed

[2018-07-12 20:12] #6231 closed

[2018-07-12 20:14] bryevdv commented on #6825
I am about to work on a new PR to overhaul and restore selenium tests but not on saucelabs, so closing this.

[2018-07-12 20:14] #6825 closed

[2018-07-12 21:18] bryevdv commented on #8077
This happens because the legend rendering method tries to extract the corresponding angle for the representative point, but when there is no data this value is undefined. There are two options:

* don't match the angle ever, just always set it to zero
* try to match (when there is data), otherwise set to zero

I don't have a strong opinion. It's also possible this same sort of issue affects other

[2018-07-12 21:19] bryevdv commented on #8077
@tobiasfriden @mattpap anyone have a preference on which solution?

[2018-07-12 21:20] bryevdv commented on #8077
This is what option 2 looks like:

<img width="328" alt="screen shot 2018-07-12 at 16 20 00" src="https://user-images.githubusercontent.com/1078448/42659984-788938ca-85ef-11e8-915f-1dd98c1983bd.png">

Option 1 would just display unrotated X for both.

[2018-07-12 22:06] mattpap commented on #8077
I would choose the simplest approach. After all, angle can vary between indices, so this may not depict the a glyph accurately.

[2018-07-13 10:37] lstappen opened #8079 "Some markers throw "ValueError: Invalid marker type ..""
#### ALL software version info
Python 3.5.2
Bokeh 0.13.0
OS: Ubuntu 16.04
Using jupyter notebook

#### Description of expected behavior and the observed behavior
Hi!
it seems that not all types (listed here: https://bokeh.pydata.org/en/latest/docs/reference/models/markers.html) of bokeh.models.markers working in this scenario: p.scatter("marker" = <str> ..)

It works fine for:
  ['asterisk','cross

[2018-07-13 13:54] bryevdv commented on #8079
@lstappen can you please expand the code to be a *complete* script that can be immediately run to be investigated, as request?

[2018-07-13 13:58] bryevdv commented on #8079
Actually, the issue is that you are spelling them wrong. It is e.g. `"inverted_triangle"`, not `"invertedtriangle"`. As the error message states, you can get a list of the valid options by calling the `markers()` function:
[code]

[2018-07-13 13:58] #8079 closed

[2018-07-13 15:15] lstappen commented on #8079
Hi @bryevdv
Thanks, you are absolutely right. Sry for the inconvenience.

One last question: How do I get a list like you instead of an "TypeError: 'module' object is not callable"? What I am doing wrong here:
[code]

Thanks!

[2018-07-13 15:20] bryevdv commented on #8079
The `markers` function is in `bokeh.plotting`

[2018-07-14 17:39] #8077 closed

[2018-07-16 16:58] PhiPhiper opened #8081 "Only one of two graphs update through datasource.stream"
@bryevdv
When I run the code in my GH Repo: https://github.com/PhiPhiper/bokeh_embed_test
I expect both graphs to be updated which sadly isn't the case. Furthermore using a Debugger I can see the epochs(x) for the first graph jump.

[2018-07-16 17:06] bryevdv commented on #8081
Will required some investigation however, in the mean time I can point to this example (which I just now ran again to verify that is was working as expected):

https://github.com/bokeh/bokeh/blob/master/examples/app/ohlc/main.py

That example streams to a single source, which causes updates to several glyphs and plots, so it's definitely expected to function.

[2018-07-16 18:04] davidwang20 opened #8082 "ray glyphs not working when figure's y_axis_type='log'"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Using bokeh 0.13.0 on jupyter notebook, Mac, Safari

#### Description of expected behavior and the observed behavior
When a ray is placed on a figure with y_axis_type='log', the ray does not appear on the figure when plotted. However, when y_axis_type is 'linear', the ray works fine.

#### Complete,

[2018-07-16 18:33] bryevdv commented on #8082
What exactly is supposed to happen? I can't think of a sensible interpretation of what a ray on a log scale should be or do.

[2018-07-16 18:39] davidwang20 commented on #8082
well given that on a linear scale these angles produce a vertical bar, I'd say something similar should happen on the log scale. Whether at non-vertical/horizontal angles it should be visually transformed according to the log transform or still a straight line is probably a debatable issue

[2018-07-16 18:40] davidwang20 commented on #8082
here it is on the linear scale
![image](https://user-images.githubusercontent.com/25164585/42776786-1bb57680-8906-11e8-9dad-58b4371fadc3.png)

[2018-07-16 18:40] bryevdv commented on #8082
It looks like you want some kind of infinite vertical line? The appropriate way to achieve that is with a `Span` annotation:

[code]

<img width="642" alt="screen shot 2018-07-16 at 13 38 20" src="https://user-images.githubusercontent.com/1078448/42776755-a23625f0-88fd-11e8-936e-2e77c5aa66d8.png">

Since a ray in the completely general (i.e. not purely vertical or horizontal) sense is not really s

[2018-07-16 18:40] #8082 closed

[2018-07-16 18:42] davidwang20 commented on #8082
I see. The reason I used the ray glyph instead of span was so that I could add it to a plot legend and click to hide. Is there any way to do that with a span annotation?

[2018-07-16 18:47] bryevdv commented on #8082
No, but in that case I would suggest a single `line` is better anyway:

[code]

<img width="599" alt="screen shot 2018-07-16 at 13 46 59" src="https://user-images.githubusercontent.com/1078448/42777116-bb485b8e-88fe-11e8-8039-04d7d1673b0f.png">

As this has now entered "general support question" territory I have to request that further discussion move to the mailing list.

[2018-07-17 01:01] bryevdv commented on #8081
@phipiper fyi in was actually asking you to make an issue on your repository with the code not this one, until it can be determined if the issue is a usage problem or something else.

[2018-07-17 11:09] ticktronaut commented on #7497
I have written a [python class that is capable of live plotting data in different graphs](https://github.com/ticktronaut/dynamic_live_plot/blob/master/bokeh/bokeh_live_plot.py). It is based on [python bokeh](https://bokeh.pydata.org/en/0.13.0/) and has been tested with python bokeh 13. Basically it is an abstraction of embedding bokeh server as a library and it is capable to dynamically add and re

[2018-07-17 23:09] mattpap commented on #8047
This doesn't have to be solely related to data table. It should be sufficient to have a kind of panel layout (a title and a layoutable). This would also help with grids not allowing to have a title (issue #1449).

[2018-07-17 23:24] mattpap opened #8084 "Improve reliability, performance and feature coverage of the layout"
This is a meta issue addressing specific issues with the layout (`tag: layout`).

* [x] words_and_plots.py
    blank until browser resize, DOM text on top of iris plot after

* [x] models/glyphs.py
    tab bars truncated

* [x] dash
    range plot on top of (covering) the line plot

* [x] gapminder
    widgets on top of scatter plot
    plot can overlap top of text below
    Play/Pause does not wo

[2018-07-18 18:51] bryevdv commented on #8081
@PhiPhiper you have source=ae_data` when you presumably should have`source=ae_dsource`

[2018-07-18 19:01] PhiPhiper commented on #8081
yeah apperently, sry, that fixed the issue thanks

[2018-07-18 20:14] pratapvardhan opened #8086 "Simplify pie example"
pie chart example -http://bokeh.pydata.org/en/latest/docs/gallery/pie_chart.html can be simplified by
 removing `Counter` and use `data['value'].sum()`

This example can be refactored to.

[code]

[2018-07-18 21:20] sdaza commented on #7419
Any news on this?

[2018-07-18 21:21] #8086 closed

[2018-07-18 21:34] jcardenaslie opened #8088 "ImportError: cannot import name 'MACROS'"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh-0.13.0
python-3.6.3
jupyter notebook 5.0.0
Windows 10
Browser: Chrome

Name                    Version                   Build  Channel
anaconda                  custom           py36h363777c_0
anaconda-client           1.6.14                   py36_0
anaconda-navigator        1.8.7

[2018-07-18 21:50] bryevdv commented on #8088
As stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions or installation problems (this is almost certainly an installation problem on your system).  For that, please consider [Stack Overflow](https://stackoverflow.com/) or the [public mailing list](https://g

[2018-07-18 21:50] #8088 closed

[2018-07-19 04:57] bryevdv commented on #7899
I had the same issue on OSX, the only way I was able to resolve things and run locally was to install and run chrome via these instructions:

https://objectpartners.com/2017/04/13/how-to-install-and-use-headless-chrome-on-osx/

So I'd regard this as an upstream issue that's out of our hands, accordingly I will close this.

[2018-07-19 04:57] #7899 closed

[2018-07-19 04:59] bryevdv commented on #5559
Closing this. I am in the process of (re-)adding selenium tests that run locally.

[2018-07-19 04:59] #5559 closed

[2018-07-20 05:51] pratapvardhan opened #8089 "ci scripts with colon in filenames are not valid on windows"
Replace with dot `.` instead.

[2018-07-20 15:48] #8089 closed

[2018-07-20 16:18] cLupus commented on #6165
Is this still relevant?
I've come in a similar situation, where the plot is made in Python, and should be passed along to a client, as JSON, and then show the plot by using BokehJS.

Thus far, that was been *much* easier said than done.

[2018-07-20 16:49] bryevdv commented on #6165
This has only been requested by a handful of people over the years, so it has not become a priority, given how many other important tasks are outstanding. As I said I'm happy help anyone work up a PR. If you just want the `docs_json` you can get that from `standalone_docs_json_and_render_items`. You'd need to re-recreate all the JS code to load that `docs_json` and render it into a div, but I gues

[2018-07-21 14:06] pratapvardhan opened #8092 "Use generators instead of lists"
For built-in Python functions use generators instead of lists.

For example in  `./bokeh/core/enums.py:121`

[code]

can be

[code]

Similarly, there are other instances of these `list` creations -- should we clean these up to use generators instead?

If the dev's think so too, I'll submit a PR.

[2018-07-21 17:53] axil opened #8096 "--allow-websocket-origin flag for jupyter-notebook"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 0.13.0
python 3.6.4
notebook 5.4.0
Linux debian-s-1vcpu-1gb-lon1-01 4.9.0-5-amd64 #1 SMP Debian 4.9.65-3+deb9u2 (2018-01-04) x86_64 GNU/Linux
Chrome

#### Description of expected behavior and the observed behavior
I'm running a "notebook_embed" example with a jupyter running on a non-standard p

[2018-07-21 18:35] pratapvardhan opened #8097 "backticks are broken un docs/*.rst"
For example, `sphinx/source/docs/user_guide/annotations.rst`

[code]

Space before backticks.

[2018-07-21 18:47] bryevdv commented on #8096
The notebook does not allow access to the front end hostname/port as a matter of policy. We have no control over this. You have to set this value yourself, by explicitly passing `notebook_url` to `show`. If you are unhappy with this, please feel free to lobby the Jupiter team to change their decision.

[2018-07-21 18:47] #8096 closed

[2018-07-21 19:18] #8097 closed

[2018-07-21 21:10] #7890 closed

[2018-07-21 21:12] bryevdv commented on #8092
@pratapvardhan sure but as long as you are doing that, might as well use dictionary generators:
[code]

[2018-07-22 11:01] lgasnier opened #8100 "[Feature Request] Option to collapse DataTable rows"
Please refer to [this thread](https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/AgWWxSUJuzQ) on Google Groups.

It would be nice to have this feature for tree data structure.

Thanks.

[2018-07-22 13:30] axil commented on #8096
Actually it's not about changing the main port programmatically. I'm quite happy with setting it in the command line. The problem is that embedding the server into the notebook (as described in the official example "notebook-embed.ipynb") opens a second socket connection. And jupyter allows doing so only when the notebook itself runs from the standard 8888. For example even 8889 breaks this exampl

[2018-07-22 14:56] bryevdv commented on #8096
I've run the example notebook on different ports many times. That message about a refused connection is a bokeh message, not from the notebook. It's telling you what I already said: you have to set notebook_url yourself to match the current notebook url.

[2018-07-23 12:10] AzraelDD commented on #8020
Dear @mattpap,
you hinted at

as a workaround, if I understand correctly. I tried some (stupid, I guess) stuff like
[code]
which always results in errors like:
`fig throws error: Sub-model (id='f8b61051-2e18-4a08-97a4-8267f28e4386', ...) of the root model Figure(id='af8f75c4-f9e2-49d3-9f07-8b9242bea45b', ...) is already owned by another document (Models must be owned by only a single document). Th

[2018-07-23 16:13] #8092 closed

[2018-07-23 20:01] #7788 closed

[2018-07-24 00:34] bryevdv commented on #7900
I'm working on restoring selenium, but not using pytest-selenium, so this issue should be moot.

[2018-07-24 00:34] #7900 closed

[2018-07-24 00:43] bryevdv commented on #8100
I don't really understand the use case or requirements, so for there to be any chance of movement on this, someone will have to put together a *much* more thorough proposal:

* some write-ups of use cases where this would be useful and why
* explicit proposed new Bokeh API / syntax that users will have
* detailed descriptions of desired behaviours
* example scripts that would demonstrate this feat

[2018-07-24 07:55] AzraelDD commented on #8020
This took me quite a while to figure out, but here is another workaround with a more general approach. It works in my main use case, so hopefully it should always work. I hope this helps those with the same issue who come here via search.

If the model we are trying to export must not be assigned to a document, a general solution is to remove the complete root from `curdoc()` during the export. In

[2018-07-24 08:17] prinsniels opened #8103 "RangeTool Unusable after selection change"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 0.13.0
python 3.5.2
firefox 61.0.1 (no other browsers tested)
ubuntu 16.04 LTS

#### Description of expected behavior and the observed behavior
When dragging the most left side of the RangeTool selection box past the most right side of
the selection box, the selection box becomes unresponsive.

[2018-07-24 16:51] pratapvardhan opened #8104 "box_annotation example .ix method is deprecated"
In https://bokeh.pydata.org/en/latest/docs/gallery/box_annotation.html

`.ix` is deprecated, use `.loc`

[2018-07-24 18:01] bryevdv commented on #6495
This is only currently possible in Chrome, AFAICT: https://github.com/mozilla/geckodriver/issues/284

[2018-07-24 18:11] pratapvardhan commented on #8104
I noticed there is another file for `box_annotation` under `./sphinx/source/docs/user_guide/examples/plotting_box_annotation.py` -- are these duplicates, or meant to be there?

[2018-07-24 18:14] bryevdv commented on #8104
@pratapvardhan at least for now, gallery and user guide examples are separate. I'd love to expand, reorganize, improve the gallery (e.g. to automatically include all user guide examples in some way) but have not had time to devote to it

[2018-07-24 18:15] pratapvardhan commented on #8104
@bryevdv -- understood, thanks!

[2018-07-24 18:38] lgasnier commented on #8100
Sorry, my request is too brief and not obvious.

**Use case**

My concrete use case is the following. I have an ecological status that depends on:

- benthic invertebrate fauna
- aquatic flora
- fish fauna
- …
- chemical and physico-chemical elements :
  * oxygenation conditions
  * temperature
  * nutrients conditions
  * ...
- …

See screenshot below (sorry, example in french)
![image](https://u

[2018-07-24 18:53] akloster opened #8106 "Horizontal white lines/gaps when tiling image glyphs"
I'm trying to tile image glyphs. According to the documentation, "dilate=True" is supposed to make image glyphs seamless. In my example, I see horizontal white stripes at certain zoom stages.

bokeh 0.12.16
IPython 6.4.0
Python 3.6.5
Notebook 5.5.0
Chrome 67.0.3396.99

[code]

[2018-07-24 21:11] bbartoldson commented on #6976
@hervo63 @bryevdv With Linux and Firefox, I am unable to get a page to display for image_rgba.py, and there are no errors from Bokeh. I began investigating image_rgba.py after I switched from 1-channel images to 4-channel images (going from figure.image() to figure.image_rgba()) in my own code, and Bokeh stopped displaying a page--with no errors.

My problem was solved after I realized I had accid

[2018-07-25 01:03] bryevdv commented on #8106
I'm not quite sure what to do about this, setting `dilate` causes the ceiling to always be used for the pixel width and height calculations. We could just add some arbitrary extra amount, on top of that, but that does not seem correct.

[2018-07-25 06:05] doiko opened #8108 "Group Filter accept only strings as values"
Currently Group Filter accept only string as the group attribute.
There should be several cases that a non string column is considered for filtering the source.
Can this be considered in a release to follow?

[2018-07-25 06:10] bryevdv commented on #8108
This is a dupe of https://github.com/bokeh/bokeh/issues/7524

[2018-07-25 06:10] #8108 closed

[2018-07-25 06:12] akloster commented on #8106
I also don't know. I've checked that the rect glyph with dilate=True tiles seamlessly. I wanted to make a plot where the tiles are computed from a dask volume and updated as they arrive.

[2018-07-25 06:21] bryevdv commented on #8106
Well, rects normally also have a line width, which straddles the border, so perhaps adding a *half* pixel would be reasonable for dilate.

[2018-07-25 09:00] akloster commented on #8106
I made another example with a blue column/row at 0,0 and a red column/row at 99,99
![image](https://user-images.githubusercontent.com/171319/43190533-90d459aa-8ff9-11e8-92d1-1b156f20023e.png)

In that picture the blue horizontal bar is 22 pixels high, the red one 23. The white line seems to be in the blue region.

[code]

[2018-07-25 09:43] gregmuellegger opened #8109 "Feature Request: VerticalLine marker (equivalent to marker='|' in matplotlib)"
There is an extensive list of markers available in bokeh: https://bokeh.pydata.org/en/latest/docs/reference/models/markers.html

What I am missing is an equivalent for the `marker='|'` in matplotlib: https://matplotlib.org/examples/lines_bars_and_markers/marker_reference.html

My usecase is to denote different types of events on a timeline, so that it looks like this:
![image](https://user-images.

[2018-07-25 14:57] bryevdv commented on #8109
@gregmuellegger this would be a good task for a new contributor, would you be interested in working up a PR for it with some guidance?

[2018-07-25 16:02] bryevdv commented on #8100
Thanks for the additional details @lgasnier With that detail I can see that something like that might be possible and useful.

But I should be up front about expectations re: timing. This is probably not something that can be addressed by the small core team in the very near future. The DataTable is already one of the most complicated widgets, and it has several current regressions due to a lapse

[2018-07-25 18:03] lgasnier commented on #8100
First, great thanks to bokeh team.

I understand these priorities. In the meantime, I'll try to use select widgets to filter the DataTable by level.

[2018-07-25 20:15] DanielaBreitman commented on #6822
This issue still occur seems to occur in bokeh==0.13.0. Is there any workaround?

[2018-07-26 08:22] OnurYigitArpali opened #8111 "Visualizing Tree Structure"
I realized that there is no example to visualize tree structure. So, we have been working on tree visualizing especially decision trees. We contacted the community on gitter and we are advised to create PR. I am creating this issue in preparation for our PR.

[2018-07-26 08:24] Rgtemze commented on #8111
#8112 is related to this.

[2018-07-26 15:53] Restmon opened #8113 "Feature request: Allow annotating data points on the fly like matlib"
Application scenario: I want to mark a few points after a graph is generated. Usually there data points are peaks, valleys, or, if a bunch of numbers are very close in a row, I will just mark 1 of them. The purpose is to export the annotated graph for others. Since the data points to be marked are not fixed, I would prefer not to hard-code it in the code and change the code when data changes.
Basi

[2018-07-26 15:58] jbednar commented on #8113
That should already be possible using the

[2018-07-26 16:15] bryevdv commented on #8113
@Restmon Please elaborate to make this a concrete proposal, e.g what exact syntax or API you are imagining, and what is the envelope of requirements (what must it do, and what does it not need to do?)

[2018-07-26 16:18] bryevdv commented on #8113
It's also not clear to me that this could not be already accomplished e.g. with `LabelSet` and a `CDSView`, in which case the only task might be documentation support, examples, or perhaps a very light and simple convenience API. @Restmon it would be good for you to explore this possibility in your proposal as well.

[2018-07-26 16:20] bryevdv commented on #8111
Thanks for the info @OnurYigitArpali In this particular case, I would prefer to have the PR itself be the issue. We do use and prefer "issue PRs" in some cases. I will copy the text above to the PR and close this issue

[2018-07-26 16:20] #8111 closed

[2018-07-27 08:45] Restmon commented on #8113
@bryevdv Thanks for the suggestion.
1. syntax/API: this functionality is enabled by including a tool or specifying a field during plot. For example:
a. By including a tool:
TOOLS=[hover interactive_annotate]
p = figure(width=1300, height=650,tools=TOOLS)
b. By specifying a field
p = figure(width=1300, height=650,tools=TOOLS, interactive_annotate=true)
2. Envelop of requirement: The functionality I

[2018-07-27 13:02] gregmuellegger commented on #8109
@bryevdv Yes! I would like to give it a try. I've setup the environment like explained here: https://bokeh.pydata.org/en/latest/docs/dev_guide/setup.html#devguide-setup

I assume the next steps will be:

- Adding a Marker Glyph model
- Adding the corresponding code in bokehjs
- Adding an example containing the glyph
- Write tests
- Write documentation
- Update the object list here: https://bokeh.p

[2018-07-27 13:43] gregmuellegger commented on #8109
I have a problem though executing the following command:

[code]

Even though I installed nodejs via `conda install -c bokeh nodejs`.

Do you know where this might be coming from?

[2018-07-27 13:59] mattpap commented on #8109
@gregmuellegger, you need to `npm install -g npm` to get the most recent version.

[2018-07-27 17:35] jbednar commented on #8113
That discussion makes sense, but it seems to me that annotating points doesn't have to involve tooltips.  Seems like it can just be a text label associated with the point, directly on the canvas.  Couldn't a custom tool be written, where one populates a list of Labels (and, to match the above screenshots, a list of scatter points) with some data whenever someone clicks on a vertex, and removes tha

[2018-07-27 17:42] bryevdv commented on #8113
Sure, but that can be done now with `LabelSet` and `TapTool` callbacks, or `tap` events

[2018-07-27 17:57] bryevdv commented on #8113
Here is a very simplistic example:
[code]

[2018-07-27 18:01] bryevdv commented on #5724
In case its useful as workaround for now, a simplistic example was developed in the other issue `LabelSet` and tap tool that could be expanded upon:

[code]

Initial:

<img width="602" alt="screen shot 2018-07-27 at 10 58 59" src="https://user-images.githubusercontent.com/1078448/43338725-241a6f4a-918c-11e8-812f-23fe38f95c9c.png">

After some taps:

<img width="609" alt="screen shot 2018-07-27 at

[2018-07-27 18:09] jbednar commented on #8113
That's just the sort of thing I was imagining; thanks!

[2018-07-28 15:39] mrocklin opened #8115 "stretch_both sizing mode doesn't stretch in 0.13"
When I upgraded to 0.13 I found that bokeh server plots that were rendered with "stretch_both" mode stretched somewhat oddly.

![image](https://user-images.githubusercontent.com/306380/43358114-69877c48-9241-11e8-8e4d-990ca03b59f8.png)

When I resize the screen they continuously get bigger

![image](https://user-images.githubusercontent.com/306380/43358123-81037232-9241-11e8-82be-4fe8cc79ace1.png)

[2018-07-28 17:23] ahuang11 opened #8116 "bokeh on Google Colaboratory (missing bokehJS)"
Chrome
bokeh==0.13.0

A simple bokeh plot isn't showing; seems like bokehJS is missing on Google Colaboratory

[code]

![image](https://user-images.githubusercontent.com/15331990/43359012-170260f0-9250-11e8-83fb-776874349731.png)

[2018-07-28 19:54] mattpap commented on #8115
The algorithm for computing available space in the DOM changed, so most likely this is the reason. To say more, I will need to check the HTML that interacts with bokeh. However, I'm redoing the layout from scratch for 1.0, so hopefully all those layout related issues will go away.

[2018-07-28 20:42] bryevdv commented on #8116
Looks like they are blocking external JS loads. You will have to take this up with them, there is nothing we could do about it.

[2018-07-28 20:42] #8116 closed

[2018-07-28 20:43] DogRandom commented on #2439
I also am looking to use this feature.    Text sized in data units, and not scaled with zoom.
A minimum size clipping function to stop rendering altogether.

[2018-07-28 20:47] bryevdv commented on #8116
Actually, it does look like the CDN resources are loading. Is still say this is something to take up with them. We test with classic Jupyter notebook and Jupyter lab. That's all we have resources to support so if it's not working on some like Google collab they will have to fix whatever they broke on their end, or offer some guidance.

[2018-07-28 20:50] bryevdv commented on #8116
It is possible, for instance, that they block execution of Java script, even if the CDN files load, which is something only they could control.

[2018-07-28 20:54] bryevdv commented on #2439
This issue is specifically asking  for text that *does* scale. Also in don't know what "a minimum size clipping function to stop rendering altogether" means at all

[2018-07-28 21:08] DogRandom commented on #2439
re:" what does clipping mean"
I meant when zoomed out far enough that 'data size text' is essentially below the screen resolution, don't render it.

re: wrong place for comment

Well, I think we are just using different frames of reference.  I want to be able to zoom in and out and have the text be the same size in data units.   From the rendering point of view yes the text should scale at the sam

[2018-07-28 23:14] djbarker commented on #7070
I ran into this issue today and it took me some time to work out what was going on. I was providing my lists in ascending order, but sub-sampled, and wondering why no line was appearing. I can see the argument for both behaviours here, but it should _definitely_ be documented! Also I saw the same behavior with `CustomJSFilter` so it should be documented there too.

Given it seems both behaviours a

[2018-07-28 23:16] djbarker commented on #7070
As an aside; the whole reason I was looking at down-sampling was to try and make performance bearable for large datasets (>100k points). I feel like this should be included by default (if only as a configurable option) but that's a separate issue.

[2018-07-28 23:51] bryevdv commented on #7070
This will not help with that at all. CDSView does ***not*** downsample. All the data is still sent, the view only provides a mechanism to choose a subset to view, which is useful in interactive situations, or to have one CDS drive multiple glyphs via views. If you need downsampling then you will have to either do that yourself by hand, or look to tools like [datashader](http://datashader.org).

[2018-07-29 17:45] stonebig opened #8117 "compatibility with Jupyterlab-0.33.4 ?"
I get an error when trying to install bokeh-0.13.0 and jupyterlab-bokeh extension on Jupyterlab-0.33.4:

[code]
would it be possible to get a patch release ?

[2018-07-29 19:04] bryevdv commented on #8117
dupe of https://github.com/bokeh/jupyterlab_bokeh/issues/47

[2018-07-29 19:04] #8117 closed

[2018-07-29 19:07] bryevdv commented on #7070
Depends entirely on context. Browser canvas implementations can have very different edge cases. If you try to plot 100k points in a line that has much overlap and alpha compositing, some browsers will fall over, and there is nothing we can do about that.

[2018-07-29 21:16] djbarker commented on #7070
Sorry, I meant it's not unreasonably large to send as data, not that it's a reasonable number to render. Hence trying to render only a subset of the data. I could manually subsample using bokeh-server or as you suggested using Datashader (though I couldn't find a succinct example for a line plot with Datashader) but ideally I'm looking for a JS implementation so I can easily share the resulting pl

[2018-07-30 12:59] ivan-usov opened #8118 "Range1d bounds violation with WheelZoomTool"
ubuntu/18.04
firefox/61.0.1 and chrome/68.0.3440.75
python/3.6.5
bokeh/0.13.0

Using a WheelZoomTool, it's possible to go outside of bounds that are explicitly set for axis ranges.

It's hard to construct an example with 100% issue reproducibility, but with the following code one can achieve it with a handful of zoom-in -> full zoom-out wheel scroll attempts.
[code]

A typical output when the prob

[2018-07-30 16:09] scottdotjs opened #8119 "Feature request: labels on wedges"
It would be great if wedges could support displaying labels, so that for example each wedge could show a value, while its associated legend entry showed the name of the series. It seems like this [was possible](https://stackoverflow.com/questions/29201177/how-do-i-create-a-pie-chart-using-bokeh#40914889) in the former `Donut` chart format.

[2018-07-30 16:15] bryevdv commented on #8119
@scottdotjs There are different possibilities. Labels inside the wedges, outside the wedges, etc. as well as lots of different ways this might be "spelled" in code. In order to consider this, we need a much more concrete proposal:

* what syntax would be used to obtain the labels
* what is the expected behavior in explicit detail
* a complete test/example script that would demonstrate the feature

[2018-07-30 16:21] bryevdv commented on #8118
Given that the effect is rare/hard to reproduce, and the effect itself is minuscule -- 10e-13 is a millionth of a billionth of a pixel width -- I'm inclined to just close this as `wontfix`, unless some actual practical problem/disruption can be argued.  Thoughts @bokeh/dev ?

[2018-07-30 16:30] bryevdv commented on #8106
@akloster pointed this out on the gitter channel:

https://aapm.onlinelibrary.wiley.com/doi/abs/10.1002/acm2.12401

TLDR; apparently is common/recommended practice when displaying tiles to create tiles that have some level of overlap at the borders, specifically to contend with situations such as this. As Bokeh itself is not involved in the *creation* of tiles, there is no solution that can be imp

[2018-07-30 16:30] #8106 closed

[2018-07-30 16:48] p-himik commented on #8118
Quite recently there was a bug in `conda` that prevented packages from being downloaded in some cases. As far as I recall, the issue was that some download procedure would compute the remaining percentage a bit incorrectly, producing numbers like `-1e-200`, but some validation procedure in `tqdm` would throw a `ValueError` because the progress percentage cannot be negative.
I can easily see a case

[2018-07-30 16:49] afausti commented on #7970
See also  https://groups.google.com/a/continuum.io/forum/#!msg/bokeh/_3QRnNbLM04/1T5ryP1vCgAJ

[2018-07-30 17:30] harryzalman commented on #8053
Hi @mattpap - were you able to find any information from your debugging?

[2018-07-31 00:08] cbanek opened #8120 "Update documentation for how to use Bokeh Server with JupyterHub environment"
In https://github.com/bokeh/bokeh/pull/7686#issuecomment-403549738,
it was suggested that I should update the docs concerning notebooks about how to use the new functionality to enable using the Bokeh server in a JupyterHub environment.

This issue tracks creating docs for this.

[2018-07-31 03:30] canavandl opened #8122 "Bug: push_notebook support is broken in JupyterLab for bokeh=0.13.0"
The ``jupyterlab_bokeh`` extension the window.Bokeh object to have to contain ``Bokeh.embed.kernels = {}`` that appears to have been accidentally removed in #7708

This causes ``push_notebook`` to not work, as the extension registers the Jupyter kernel in into this dict in order for the embed script to initialize the comms endpoint.

[2018-07-31 07:53] ivan-usov commented on #8118
In my case it's a library that dynamically generates content for a plot depending on zoom area, and it takes strictly non-negative area borders. I easily fixed it, though, with
[code]
but it took quite some time to figure out which code to blame, since it was causing only very rare drops during production runs.

Just wanted to share it, so that the fix of the issue could save time for someone else

[2018-07-31 11:03] scottdotjs commented on #8119
Hi @bryevdv, thanks for your reply. I'm a brand-new user of Bokeh (and quite new to Python itself) so can't contribute syntax suggestions or a test/example script yet. I think the placement of wedge labels can be described with two numbers:

- distance from wedge point (pie center)
- angle around pie centre (distance along curved side, or distance from "rear" side of wedge - sorry, my geometry voc

[2018-07-31 12:36] akiross opened #8124 "Rays get hidden when zooming too much"
#### Description of the problem

When creating a plot with rays, if I zoom in "too much", rays disappear. Apparently, this happens when zooming small areas which are relatively far from the start of the rays.

#### MWE
Running the following code in jupyter notebook, rays start from 0 and have infinite length upwards. If I , for instance, zoom in the area (0;1), (35,0.5) I can still see the rays be

[2018-07-31 14:44] harryzalman commented on #8053
@mattpap @bryevdv

Out of curiosity I also tried this with Python 3.7 and Bokeh 0.13.0 and had the same issue.

[2018-07-31 16:42] bryevdv commented on #8124
@akiross can you try other browsers and report back? I suspect this is an issue with the HTML canvas implementation. I have seen similar cases on various platforms before. Unfortunately if it is a canvas issue there is not much we can do about it.

[2018-07-31 16:49] #6770 closed

[2018-07-31 16:50] bryevdv commented on #8120
Awesome, thanks @cbanek for looking into this

[2018-07-31 18:45] #8120 closed

[2018-07-31 21:12] LightnerAndrew commented on #6135
Hi all, I came across this request while searching for an options to fill patches with hashes or other patterns.   I have a request to include this attribute for a visual which will not be published until at least the end of this year.  I am curious whether the 'fill pattern' option has any chance of being added in the near future.

[2018-08-01 10:59] akiross commented on #8124
I tried with Chromium as well, but the problem remains.

I'm not sure this is the correct point in source, but I noticed that the infinite ray length is set to be twice w+h, in `RayView._render`:

    const inf_len = 2 * (width + height)

is it possible that width and height are somewhat dependant on zoom level? Couldn't find where those are defined in the source.

[2018-08-01 12:59] tiagopereira commented on #6700
Just tried the [Basic Interactor Demo](https://github.com/bokeh/bokeh/blob/0.13.0/examples/howto/notebook_comms/Jupyter%20Interactors.ipynb) in JupyterLab and the interactive part doesn't work (plot does not update). Any idea why? The plot shows fine, and the notebook runs as expected in jupyter notebook.

I'm using:

[code]

[2018-08-01 13:08] omearac commented on #7970
I'm also seeing this on 0.13 except for me, the callbacks do not work anymore.

Also, @mattpap , by removing the args=... it's impossible to have the callback edit any other bokeh objects which wernt the cb_obj...

[2018-08-01 13:33] bryevdv commented on #6700
@tiagopereira there was a regression. This fix is merged to master but not yet in a release https://github.com/bokeh/bokeh/pull/8123

[2018-08-01 16:46] jasonsross commented on #177
could someone point me to where arrows have been implemented? I see arrow annotations, but those don't seem like robust plotting tools as opposed just putting an arrowhead line_cap on segments allowing quiver plots. Right now you have what you call a quiver plot, but how is it quiver if they are not arrows?

[2018-08-01 18:12] bryevdv commented on #177
Only arrow annotations have been implemented. As I said the original issue was never detailed or specific enough to implement anything general. It's something we could consider if someone is interested enough to develop a fully fleshed out proposal.

[2018-08-01 18:28] bryevdv commented on #177
Not implementation, but things like:

* clear and specific requirements and goals (definition of "success")
* brief discussion about possible implementation approaches or any pitfalls
* concrete API suggestions
* complete examples of usage that would be expected to work when the feature is done

[2018-08-01 19:01] jbednar commented on #7070
There's a succinct datashader example of a line plot at http://holoviews.org/user_guide/Large_Data.html#Working-with-time-series
but if you want something JS, that won't help any; the exported JS (as you can see at that link) is just a static rasterization of the data...

[2018-08-01 19:50] zanarmstrong opened #8128 "rename joyplots to ridgeplots"
Hi Bokeh team,

I love the data you used to illustrate your [joyplot.py](https://bokeh.pydata.org/en/latest/docs/gallery/joyplot.html) example. The dataset is such a good application of this chart type.

A number of other viz libraries have started using the term "ridgeline plots" instead of "joy plots", including Seaborn, R, Semiotic, and Bostock's examples.

In Observable, Bostock [explained](ht

[2018-08-01 19:58] bryevdv commented on #8128
@zanarmstrong would you be interested in submitting a PR to do this?

[2018-08-01 20:19] bryevdv commented on #8124
OK this is a bug in Bokeh after all, the computation to compute an "infinite length" assumes the origin of the ray is in the viewport. Unfortunately, it's not as simple as using e.g. `Number.MAX_VALUE` As I expected, if you do that, the canvas (at least Safari's) does not draw anything at all.

[2018-08-01 20:35] bryevdv commented on #8124
Anyway, we will have to report to a line clipping algorithm, e.g. [Liang-Barsky](https://en.wikipedia.org/wiki/Liang–Barsky_algorithm) (possible JS ref implementation here: https://gist.github.com/w8r/7b701519a7c5b4840bec4609ceab3171)

[2018-08-01 21:14] bryevdv commented on #7970
@omearac As far as I understand it, the error message is merely a nuisance, but does not actually prevent any callbacks from functioning. In particular, the code at the top of this issue prints a console error, but otherwise function. Do you have a counter-example to this that you can provide? Are you sure that your problem is not actually different one and that you aren't mis-ascribing the root c

[2018-08-01 22:29] zanarmstrong commented on #8128
Happy to do it.

To set expectations on timing, it might be a little while before I get to it. But, there is no rush :).

[2018-08-01 22:31] bryevdv commented on #8128
@zanarmstrong great, look forward to your contribution!

[2018-08-01 22:33] bryevdv commented on #8128
Also just to help when you get started I think these are the only four places that need updating:

https://github.com/bokeh/bokeh/search?q=joy&unscoped_q=joy

[2018-08-02 00:14] jasonsross opened #8129 "No ability to make true quiver plots"
So this is an issue that has come up before, such as #977. In #177 arrow annotations we implemented to draw arrows but I do not think that addresses the request for true quiver/vector plots.

Currently there is a gallery called quiver.py on the Bokeh welcome page that shows some flow graphs [here](https://bokeh.pydata.org/en/0.13.0/docs/gallery/quiver.html) but I do not consider this a quiver plot

[2018-08-02 00:45] bryevdv commented on #8072
Actually, since the potential implementor is no longer available and there has not otherwise been any great interest expressed in this feature, I am just going to close. It occurs to me that if streaming scatter points, the order does not matter, and if streaming line data and needing to "prepend" then the order of the data could simply be reversed, and existing append used.

[2018-08-02 00:45] #8072 closed

[2018-08-02 04:02] lukemcraig commented on #8015
In regards to the off-by-one-day bug, I've noticed that when I set my computer clock to UTC and restart my browser (Firefox) the displayed value in the datepicker is correct when set from the python server.

[2018-08-02 10:37] victor302 commented on #7477
Could you tell me, please, how to deal then with bokeh table number formatting?
As I could understand, there is **FuncTickFormatter** to format ticks, but there is no **FuncFormatter** to format data tables.
Thanks in advance,
Victor

[2018-08-02 16:03] cao-jacky opened #8131 "Docstrings not clear for dimension property for Band, Span and Whisker class"
In using Whisker to plot error bars on figures there is a lack of information associated with the ``dimension`` property - it is not clear how you should use it.

The correct method is to specify ``dimension=height`` for error bars aligned in the ``y``-direction and ``dimension=weight`` for error bars aligned in the ``x``-direction.

The docstrings should be updated for this property to help users

[2018-08-02 16:20] bryevdv commented on #8131
@cao-jacky here is the location of the helps string for that property if you'd like to submit a PR that would be appreciated

https://github.com/bokeh/bokeh/blob/master/bokeh/models/annotations.py#L1021-L1023

[2018-08-02 19:12] #8131 closed

[2018-08-02 19:59] #6495 closed

[2018-08-03 11:51] rsignell-usgs opened #8133 "Freehand drawing tool"
It would be very useful to have a freehand drawing tool in Bokeh, as this would allow us to run our workflow for pre-trained deep convolutional neural network image segmentation developed by @dbuscombe-usgs.

The workflow is that the user is presented with part of the image, and cycles through the different classes (e.g. sand, water, vegetation, etc) scribbling on each one to indicate the regions

[2018-08-03 21:51] mrocklin opened #8134 "Bokeh doesn't work with Tornado master"
[code]

Also cc @bdarnell in case he's interested in downstream testing

[2018-08-04 16:59] #8134 closed

[2018-08-05 01:05] allenwu25 opened #8136 "text.on_change Not Responsive for Bokeh TextInput"
Hello, I am a beginner to using Python's bokeh plotting tool and widgets. In my following code I am trying to have the title of the graph change to the value of the TextInput box. However, while the box appears upon entering in text and unfocusing, nothing changes. What could be causing this issue and what can I do to fix it? Thank you.
[code]

[2018-08-05 01:37] bryevdv commented on #8136
By you using `show` you are creating a standalone HTML document as output. This has no possible way of running real python callbacks, because browsers have no ability to run python code. Running real callbacks requires having a connection to a persistent Python process. That is the Bokeh server. Using real python callbacks is only possible in bokeh server applications (that is the purpose of the b

[2018-08-05 01:37] #8136 closed

[2018-08-05 22:29] mrocklin commented on #6042
Question:

From the docs

Is there a way to set this on a per document basis?  If so, how?  My apologies if this is mentioned somewhere obvious.  I checked that page and then grepped a bit through source but didn't find anything.

[2018-08-05 22:30] mrocklin commented on #6042
I'd like to enable this for Dask's dashboard programmatically, but don't want to affect other folks' plots.

[2018-08-06 17:02] #7987 closed

[2018-08-06 18:10] bryevdv commented on #6042
There's not any document setting, so if that's what's desired I suggest a new issue. It's worth explicitly pointing out there are two kinds of validation:

* The "whole-document" consistency checks that happen right when a document is serialized, and
* various type validation checks that happen when properties are set, some of which might be somewhat expensive

It would be good to be clear about w

[2018-08-06 18:35] bryevdv commented on #6042
I'd rather have a new clean and simple issue and let this one have been for clarifying discussion. FYI I don't think its possible to turn off type validation per-document, but I think it could be turned off per-process, i.e. a specific running bokeh server could be configured to not perform them. I assume that's sufficient since I don't think users would be interacting with your bokeh server.

[2018-08-06 18:47] mrocklin opened #8138 "Turn off self.validate checks during update"
When running a Bokeh server with streaming updates in my application I often find that bokeh takes up 30% of the CPU time, about half of which is consumed by the following self.validate checks:

[code]

I would like some way to disable these, preferably without clobbering with other users' Bokeh experience (my bokeh server application is often embedded within other Jupyter sessions, where the user

[2018-08-06 18:47] mrocklin commented on #6042
Following on in https://github.com/bokeh/bokeh/issues/8138

[2018-08-06 19:33] Roald87 commented on #5135
I recently used plotly and there you can simply limit zooming to the y or x axis by not moving too much (say +/- 10 pixels) into the other direction. Quite intuitive and no need for extra buttons.

Additionally isn't it possible to enable panning (scroll mouse button click) and scroll zoom (scroll button) and selection zoom (left mouse click) at the same time? Then you can get rid of most of the b

[2018-08-06 21:00] bryevdv commented on #7970
@mattpap do you have already have any thought on how to resolve this? I am working on making bokeh server apps end-to-end testable in selenium tests and am running up against this since I am using custom actions to inspect e.g. round-trip state from a widget event

[2018-08-06 21:23] bryevdv commented on #7970
@omearac are you able to provide an example where callbacks do not work anymore? I suspect, you are running into some other issue, and would like to clarify the situation, but it is impossible to say without code.

[2018-08-06 23:04] jasonsross commented on #7309
vertical and horizontal lines with labels showing up *IN* the appropriate axis are very common practice in engineering situations. They are know as chart limits or generally "reference" lines. It looks like span already accomplishes the line itself with relative ease, so it would be extremely convenient to specify a label for a span which will by default appear within the axis, not within the plot

[2018-08-07 05:26] Ol1BoT opened #8140 "Remove the arguments parameter from server_session"
As per the title, can the arguments parameter from the server_session class, found in bokeh.embed be removed?

[the problem was initially highlighted here](https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/QeU4uthUvgM)

[Link to docs server_session in docs](https://bokeh.pydata.org/en/latest/docs/reference/embed.html#bokeh.embed.server_session)

[2018-08-07 05:30] bryevdv commented on #8140
TLDR; `server_session` loads an existing session, which means the handler code is already executed. There is nothing left to see or do anything with arguments, at least in the main hander code.

It does occur to me that perhaps *callbacks* could refer to the arguments. This might be justification to keep it, however I think the docstring would needs to be updated to be explicitly clear that this i

[2018-08-07 15:10] hanbeytoktas opened #8141 "How to remove not added datetime from the patches plot"
I using bokeh patchs plot for my energy datas. It successfully worked the default timeseries.  But if I select differen two dates then ıt merges two date ranges block

Example  :
daterange : 29/07/2018 - 31/07/2018 with hours

plot view :
![1](https://user-images.githubusercontent.com/38833711/43783146-ab934e84-9a69-11e8-832c-143dbe3b3338.jpg)

Wrong working example :

dates : 30/07/2018 and 06/08