[2020-10-19 18:54] #9714 closed

[2020-10-19 19:51] bryevdv opened #10588 "Release manual / automation tidbits"
This is just to get some misc release tasks noted before I forget them. I will go through and add links to separate issues (or to commits that implement) later. I will add more thing if/when I think of them, but certainly @bokeh/core chime in with any other ideas or things I've forgotten

* [ ] changelogs from old branches need to be forward ported (and merged in the right order)
* [ ] ditto for v

[2020-10-20 16:55] theresepol commented on #7317
+1

[2020-10-21 08:03] p-himik opened #10589 "[BUG] multi_line is rendered incorrectly when used with a view with filters"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.3.0dev2-17-g728ba62d6

#### Description of expected behavior and the observed behavior
Using `multi_line` with filters should just remove the segments that were filtered out.
Instead, apart from removing the segments, the rest of the segments are joined together.

#### Complete, minimal, self

[2020-10-21 11:50] #10589 closed

[2020-10-22 15:42] sggaffney opened #10593 "[BUG] Whisker annotations misplaced on categorical axes"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
- conda environment: `conda create -n bk220 pandas bokeh=2.2.0`
  - python=3.6.10=hc70fcce_1
  - bokeh=2.2.0=py_0
- Chrome Version 86.0.4240.80
- Mac OSX 10.15.6

#### Description of expected behavior and the observed behavior

- Whisker positioning on categorical axes worked intuitively in Version 2

[2020-10-22 16:05] bryevdv commented on #10593
IIRC @mattpap you mentioned on the Discourse that this is already fixed in `branch-2.3`?

* Was there ever an original issue to track this, linked to a PR?
* If not, do you know offhand the root cause and what fixed it in the current branch?
* Is there currently a test that cover this regression in the future?

[2020-10-22 17:03] mattpap commented on #10593
Yesterday I was referring to an unrelated issue. This is a duplicate of issue #10575, fixed in PR #10577 (2.3.0dev2).

[2020-10-22 17:03] #10593 closed

[2020-10-22 23:40] bryevdv commented on #10582
I could imagine people expecting it to function in notebooks (after a show) or in Flask apps that render standalone content (after the fact)

Also:

Is unusual since in very nearly all cases, ay kwarg passed to a Bokeh model is also a settable property, so I expect people might expect that `obj.factor_slice` will work.

That said, if this is the preference I am not going to stand in the way.

[2020-10-22 23:41] bryevdv commented on #10572
@hacklschorsch any update?

[2020-10-23 01:25] golmschenk opened #10594 "[BUG] Whiskers `base` have reduced precision"
# Software versions
bokeh==2.2.3
Python==3.8.5
macOS==10.15.7

# Description of expected behavior and the observed behavior
Whiskers with a `base` requiring high precision seem not to be correctly placed. Plotting both a scatter plot and whiskers with the same `x`/`base` results in the scatter points being positioned differently than the whiskers when high precision is required. The precision of t

[2020-10-23 02:13] bryevdv commented on #10594
Thanks for the complete issue @golmschenk

@mattpap Seems we have another internal precision loss during internal conversions. This one is not related to a missing int64 type like #10513 though, since the df columns here are properly float64 (which should start out as float64 typed arrays)

[2020-10-23 05:06] p-himik commented on #10582
But that already the case for everything. Not only Python callbacks, but just changing any model at all. I doubt adding a new setter would make the situation worse.
A bit off-topic but perhaps the situation can be improved? E.g. display a warning if someone tries to alter a Bokeh model after `save` has already been called. But maybe this is already the case and I just haven't noticed it.

This is

[2020-10-23 10:30] hacklschorsch commented on #10572
So does it here (Win10, 64 Bit, Python 3.7, cmder, using [bokeh-2.2.3.tar.gz](https://files.pythonhosted.org/packages/88/20/f67d851da06f0f9358ae4e62296e76fefafaa1a5991f1c69496a83ee09ab/bokeh-2.2.3.tar.gz)): `python setup.py bdist_wheel` generates a 8.9MB `dist/bokeh-2.2.3-py3-none-any.whl` as I would expect.

bokeh is BSD 3-Clause licensed, which means I can distribute that file in the installer o

[2020-10-23 10:45] hacklschorsch commented on #10572
Thanks again for your patience @bryevdv! I'd still love to have pre-built bokeh wheels online, for the above mentioned advantages. But you can close this issue if you don't think so.

Also, if you'd like me to check out how to integrate this in your CI pipline, I'll gladly do so.

Have a great weekend!

[2020-10-23 12:26] iam-agf opened #10595 "[BUG] Minor Typo in Gallery documentation."
In [Gallery](https://docs.bokeh.org/en/latest/docs/gallery.html), in the section of Server App Examples, the text in the Surface 3D, it has a repeated word:

The bug is just deleting the word with the PR I attach.

[2020-10-23 14:12] nghenzi commented on #10276
@AjayThorve , Happy to know you like it, it is based on your example. I learnt something of react!!!!

Thank you again for sharing !

In this PR there is an improvement to maximize the card to the viewport

https://github.com/holoviz/panel/pull/1688

Best regards,
N

[2020-10-23 15:32] mcrot commented on #10108
I also experience this problem in my Django project. In my working copy the geckodriver is found, but not in my Docker container,
although it is built with `RUN conda install -c conda-forge firefox geckodriver` in the Dockerfile and I can see that the binaries have been installed and are accessible through `$PATH`. I'll try to locate the binaries and to create the drivers manually, thanks for the

[2020-10-23 16:50] philippjfr commented on #9773
Just to say that a few users have reported this issue to me with recent releases (all 2.2.x). Still trying to track down why this occurred.

[2020-10-23 18:23] vivek1383 commented on #10108
Forgot to post it here. @mattpap 's trick has worked. I created my own webdriver and pointed it to the binaries. It works fine for now.

[2020-10-23 19:02] bryevdv commented on #9773
@martey I have set OPTIONS as an allowed header, and whitelisted the typical headers for S3-backed cloudfront:

<img width="335" alt="Screen Shot 2020-10-23 at 11 58 02 AM" src="https://user-images.githubusercontent.com/1078448/97043323-28f53b00-1527-11eb-82a1-d650def536b0.png">
<img width="215" alt="Screen Shot 2020-10-23 at 11 58 16 AM" src="https://user-images.githubusercontent.com/1078448/9704

[2020-10-23 19:18] bryevdv commented on #9773
re: dropping SRI support, I'd note that pojects as large as ReactJS (i.e. *much* larger then Bokeh) have still not defaulted to adding SRI hashes by default:

https://github.com/reactjs/reactjs.org/issues/1862

I know @jakirkham was very gung-ho about adding this support, but perhaps we have jumped the gun and just need to walk this back. The current situation where pages just randomly, silently f

[2020-10-23 20:52] #10595 closed

[2020-10-23 21:27] bryevdv commented on #10525
@mukeshkdangi The `MultiChoice` widget was added specifically because users loudly asked for a "modern" choice widget. If you don;t like it, nothing is forcing you to use it.  If you want a simple basic HTML dropdown, that is what the `Select`

https://docs.bokeh.org/en/latest/docs/user_guide/interaction/widgets.html#select

but note that it also only currently has "startswith" search capability.

[2020-10-23 21:42] p-himik commented on #9773
@bryevdv May be related to your `OPTIONS` config screenshots above:
[code]

Some tentative searching for `x-cache: Error from cloudfront` hints that there's something that's not configured correctly ("duh", I know) but I can't quickly find what exactly could be wrong since I've never dealt with CloudFront.

[2020-10-23 22:13] bryevdv commented on #9773
@p-himik I had thought (and previously) that perhaps OPTIONS needed to be added as allowed at the S3 Origin CORS config, but AWS will not let me do that:

<img width="679" alt="Screen Shot 2020-10-23 at 3 11 44 PM" src="https://user-images.githubusercontent.com/1078448/97058282-30760d80-1542-11eb-9138-c9cfb3674423.png">

[2020-10-23 22:15] p-himik commented on #9773
But my request is not a CORS one.
It's just a regular `OPTIONS` request, so the CORS config should not affect it. At least, it seems logical.

[2020-10-23 22:21] bryevdv commented on #9773
@p-himik I think it only supports CORS options requests, perhaps. AWS explicitly mentions a configuration for `AllowedHeader` on the origin, which says which headers CORS preflight checks can ask for. I've opened it up completely (as the AWS examples) do, with:
[code]
Now and actual CORS pre-flight check returns:
[code]

which I think is correct? This is a bit out of my wheelhouse though.

[2020-10-24 00:05] bryevdv commented on #9773
FWIW I am no longer able to repro using the steps I provided in the OP (using Bokeh 2.0 env and docs since the 2.0 docs gallery examples do not have hashes). Maybe the `<AllowedHeader>*</AllowedHeader>` change is significant 🤷 @philippjfr if you have any ability or line on how to try reproducing that would be helpful.

[2020-10-24 09:12] philippjfr commented on #9773
My previous approach for reproducing this seems to work now but that doesn't say all that much since it seemed to be quite arbitrary before presumably due to caching which is difficult to reason about.

[2020-10-24 14:41] mcrot commented on #10108
Thanks @vivek1383 . I'm not sure which part of the `bokeh.io.webdriver` to use, as @mattpap mentioned.
I've tried the following:
[code]
The paths I've found by using `which` on my Docker container, for firefox it was a script (as expected) and I used the binary
file where it points to.

The driver is found, but I get an exception:
[code]
I don't understand which process as already existed and why.

[2020-10-24 15:04] mcrot commented on #10108
I've done a little more research and because of [the answer to this SO question](https://stackoverflow.com//questions/52534658/webdriverexception-message-invalid-argument-cant-kill-an-exited-process-with) I've tried to find out whether the firefox and geckodriver versions match.

Although I've used `RUN conda install -c conda-forge firefox geckodriver` in the Dockerfile,
the firefox binary in my d

[2020-10-24 15:37] mcrot commented on #10108
Now it works - somehow, but the memory is not freed. My summary so far:

1. In order to get the binary running, I've got to install packages on system level in my docker container:
[code]
Then I could execute `firefox --version`.

2. In order to cope with the error message `selenium.common.exceptions.WebDriverException: Message: invalid argument: can't kill an exited process`, I started the driver

[2020-10-25 15:25] Prashavu commented on #10108
Hi I'm facing the exact same issue all of a sudden from day before . Till then it was working perfectly fine , it says can't find the oath and I checked that ithe .exe s available in my packages ( geckodriver.exe) , I installed by the conda forge a few months ago, now I tried to update it and also pip install it , but nothing works ,I don't have firefox at work and we have onky chrome and internet

[2020-10-26 08:11] p-himik opened #10599 "[BUG] BokehJS minimal example is not working"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh v2.2.3

#### Description of expected behavior and the observed behavior
The example at https://docs.bokeh.org/en/2.2.3/docs/user_guide/bokehjs.html?highlight=javascript%20development#minimal-example should work as is, without any modifications.
Instead, it shows a blank page.

It fails because

[2020-10-26 08:44] mattpap commented on #10599
In general it's up to the user to make sure that any scripts that touch DOM (especially under `<body>`) wait for DOM content loaded event before proceeding. Thus we typically include "user" scripts after DOM elements they intent to use. So, this example is wrong, but we can make it work without changes, by making `show()` wait for content loaded (it's already a very high-level, async function, so

[2020-10-26 11:16] Prashavu opened #10601 "RuntimeError: Neither firefox and geckodriver nor a variant of chromium browser and chromedriver are available on system PATH. You can install the former with 'conda install -c conda-forge firefox geckodriver'."
Trying to export image from bokeh/holoviews  and I get this error from **past 4 days**. Before that was working perfectly fine and used to open images on the IE.
I had  installed geckodriver via `conda install -c conda-forge firefox geckodriver`.
Browser : IE 11.1518
Im not able to find out the root cause, because the geckodriver.exe is there in site-packages, I have also pasted a copy of the .exe

[2020-10-26 13:54] mcrot commented on #10108
@Prashavu , I think the firefox/geckodriver feedstock on conda-forge has some problem, maybe [this issue](https://github.com/conda-forge/firefox-feedstock/issues/25) is related. After installing the extra packages `libgtk-3-0`and `libdbus-glib-1-2` and specifying my executables explicitly, I could use firefox+geckodriver. If you don't have firefox but chrome, it is maybe possible to instantiate a

[2020-10-26 13:56] mcrot commented on #10108
Concerning my memory problem: It is solved by calling
[code]
I wonder, whether using the chromedriver is faster, but this is another topic.
after creating my image.

[2020-10-26 14:08] mcrot commented on #10108
@Prashavu , also [this article](https://medium.com/@tehniyat122/export-image-as-png-file-using-bokeh-plot-2faa2822b7ef) may help you.

[2020-10-26 14:48] Konntroll commented on #10539
Taking over compat.rst.

Btw, any reason this issue is now closed? Should I be doing anything differently now that it is?

[2020-10-26 15:07] mattpap commented on #10539
See https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords, though your PRs don't seem to adhere to this, so I don't know. I will keep reopening this issue. My (at least) pattern is to use `addresses #NNNN` when I don't want to close an issue.

[2020-10-26 15:14] rstrutt opened #10603 "[BUG] 2.3.0dev2 introduced an erroneous dependency on "python_abi 3.9.* *_cp39""
Noted on discourse [here](https://discourse.bokeh.org/t/is-2-3-0dev2s-dependency-on-python-abi-3-9-intentional/6594).

2.3.0dev2 introduced an erroneous dependency on "python_abi 3.9.* *_cp39"/
2.3.0dev1 does not have this dependency.

Examining the anaconda artifact [here](https://anaconda.org/bokeh/bokeh/files), shows the dependency;

![image](https://user-images.githubusercontent.com/7271339/97

[2020-10-26 15:18] Prashavu commented on #10108
Thanks for your pointers ! Actually I have bit of an issue with using Chrome as we are not allowed to upgrade or download an gecxkodriver.exe directly from the web t to match versions ,I'm left only with Internet explorer, which was working until couple of days ago, I'm not using any cloud platform (AWS/Collab)  to run my code ,just Spyder on anaconda, given this how can I Install  the additional

[2020-10-26 16:07] mcrot commented on #10108
@Prashavu , I've no experience with IE and use Linux, so I cannot help you with that one. But I want to mention, that for Chrome, you need a `chromedriver` executable (not `geckodriver`, that is for firefox). Maybe you have already one installed, otherwise there are pypi packages which install a chromedriver in the background: https://pypi.org/search/?q=chromedriver
Currently I'm trying to figure

[2020-10-26 17:35] bryevdv commented on #10603
Will require some investigation to determine whether this was some change on our end (I don't _think_ so) or something on the conda side of things. FWIW 2.2.3 does not exhibit this extra dependency.

[2020-10-26 19:05] Pierretherenard opened #10604 "quote (') from networkx index node are translated to (&#x27;)"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-10-26 19:10] bryevdv commented on #10604
Please do add one as soon as you can. I would like to do a bisection on this but will definitely need a complete, minimal example to work from. Also anything you can do to narrow down the "latest working version" will help narrow the search.

[2020-10-26 19:56] mattpap commented on #10604
This fails because first `replace_placeholders()` escapes `@text`'s value, which is passed to `textContent`, which interprets encoded HTML entities as literal character sequences. `replace_placeholders()` should not encode strings in raw string mode. It's `textContent`'s job to make sure XSS in not allowed. In other uses of this function, currently only `OpenURL`, a more appropriate encoding shoul

[2020-10-26 21:22] bryevdv commented on #10601
@Prashavu this is some usage or system configuration issue, not a burg report or feature request, so it should be directed to the community Discourse: https://discourse.bokeh.org

[2020-10-26 21:22] #10601 closed

[2020-10-26 21:25] bryevdv commented on #10584
@tarun1992 will you be able to provide a minimal reproducing example? If not this will be closed soon as `norepro`

[2020-10-26 23:08] bryevdv commented on #10603
This seems potentially relevant: https://github.com/conda/conda-build/issues/3956 I wonder if the build env picked up `conda-build` from conda-forge instead of defaults

[2020-10-26 23:13] bryevdv commented on #10603
Unfortunately the [full build logs](https://pipelines.actions.githubusercontent.com/ulO0VbHVmvhg5sIouatb8EE0BHOKrnPm4eEAD0pcj0jqeytZcZ/_apis/pipelines/1/runs/3394/signedlogcontent/3?urlExpires=2020-10-26T23%3A10%3A03.3596561Z&urlSigningMethod=HMACV1&urlSignature=gJzeOZ20Db%2BRVEL0GwJMiXfmgj7Dwy1gmkMxVQ3%2BRHY%3D) do not shed light on where `conda-build` was installed from since the GH action handl

[2020-10-27 04:31] Pierretherenard commented on #10604
Here is the code and a simple json file:
`
@staticmethod
    def minimal_network():
        import networkx as nx

        from bokeh.models import ColumnDataSource, HoverTool, Label
        from bokeh.plotting import figure, output_file, show, from_networkx
        from bokeh.models import Circle, MultiLine
        from bokeh.models.sources import CDSView

        the_path = FileStuff('your path

[2020-10-27 04:41] Pierretherenard commented on #10604
oops forgot the class:
`
class FileStuff:

    def __init__(self, file_name):
        self.file_name = str(file_name)

    def read_json_file(self):
        import json
        from networkx.readwrite import json_graph

        with open(str(self.file_name)) as f:
            js_graph = json.load(f)
        return json_graph.node_link_graph(js_graph)
`

[2020-10-27 04:57] bryevdv commented on #10604
FYI @Pierretherenard code-blocks require *triple*-backticks (```) I have edited your posts

[2020-10-27 19:58] #10599 closed

[2020-10-27 20:11] #10604 closed

[2020-10-27 20:36] bryevdv commented on #10588
Noting that the reason the current build job is failing is because pep440 dev versions are *not* in fact compatible for npm:
[code]
fixed in e6a4d72e1c86d19ef2104b0cce35f57f55a543da

[2020-10-27 21:10] #10603 closed

[2020-10-27 21:35] bryevdv commented on #10603
OK, upping to the lastest `conda-build` seems to have resolved:

<img width="955" alt="Screen Shot 2020-10-27 at 2 34 30 PM" src="https://user-images.githubusercontent.com/1078448/97364650-9673d500-1861-11eb-814b-b9d866c9f71c.png">

[2020-10-27 22:17] bryevdv commented on #10572
Sure, we had to tear down our previous full release-automation to accommodate generating SRI hashes (our previous system was tag-initiiated but the hashes must be computed and checked in *before* the tag so that threw everything out the window). But I just got the "build" part of the automation back up and running. Our CI runs `python -m release build <version>` and the entry point to that is here

[2020-10-27 22:33] bryevdv commented on #10351
So I only just realized how annoying pep440 is in this way:

* dev (needs dot) `X.Y.Z.devN`
* rc (no dot) `X.Y.ZrcN`

[code]

 I also did not appreciate that pep440 versions are not compatible with NPM, so we are not going to get common compatible dev/rc versions regardless. Since actually implementing this would *only* affect dev versions, I am inclined to just close this with `noaction`. If setu

[2020-10-27 22:33] #10351 closed

[2020-10-27 22:42] mattpap commented on #10594
This works on `branch-2.3` with both variants of `x`. However, typing of "resolved" arrays is completely wrong, which may also indicated that there are still wrong code paths.

[2020-10-27 22:47] bryevdv commented on #10594
Well, I guess we could close this with a test-only PR then

[2020-10-28 03:35] bryevdv opened #10609 "Convert NPM account to Org"
@mattpap I was going through and making all the NPM packages consistent for 2FA and publishing:

* *2FA or Automation Token* for active packages
* *2FA Only* for deprecated packages

I also rolled the old token (since that's necessary after some of the settings change). The new token is in the Release Intergity  wallet.

Anyway, while doing this I noticed NPM has a notion of "Organization" now, an

[2020-10-28 04:20] pillemer commented on #10539
Hey, would love to help! Can I take over geo.rst?
I have read the contributing guidelines but this is my first time contributing to an open source project so any advice, comments or directions would be great.

[2020-10-28 04:57] gambitvk commented on #10454
HI Guys,

I am using version 2.3.0.dev3. and trying to get labels happening  with the below code.  contents of A and B are strings ... and content of C is float.

Everything works including the hover tool ... but i can't seems to get the labelset to output value of C inside each box of the heatmap. This feels similar to the bug that this was mean to fix?

any ideas? cheers

`
 self.source = Column

[2020-10-28 05:09] bryevdv commented on #10454
@gambitvk this is unrelated to the issue. `LabelSet` only displays string columns (this is expected). You will need to convert the value in the "C" column to be strings.

[2020-10-28 05:18] gambitvk commented on #10454
@bryevdv thanks for picking that out !!

[2020-10-28 08:27] mattpap opened #10611 "bokehjs' unit tests fail after recent changes"
I'm getting this locally and in several PRs:
[code]
/cc @bryevdv

[2020-10-28 09:43] rstrutt commented on #10603
Excellent!  Thanks for tracking it down Bryan.

[2020-10-28 12:59] Neithiri opened #10612 "Hovertool does not work for dynamically added glyphs"
#### Python version 3.8.5, Bokeh version 2.2.3, Bokeh server version 2.2.3 (running on Tornado 6.0.4)

#### Context : First I added a blue scatter plot to a figure and an hover tool. Then, I dynamically added an other scatter plot (a red one) thanks to a callback attached to a Button widget. I'm running the script on Bokeh server.
Expected behavior : The hover tool works for both scatter plots.
Ob

[2020-10-28 16:15] bryevdv commented on #10612
@Neithiri Hover tool adds all available glyphs *at the time the tool is created in the browser*. Unfortunately there is no good way to for us to be able to automagically add glyphs after the fact. So it will always be the case that if you need that to happen, it would be by appending to the `renderers` list on the tool manually and explicitly.

However, it seems even manually managing the renderer

[2020-10-28 16:17] bryevdv commented on #10612
I'm triaging this as `feature` since it's not something we have ever promised.

[2020-10-28 16:21] bryevdv commented on #10611
@mattpap I'm not sure what is going on, these are the only changes in the repo since your (pass) placeholders PR commit:
[code]

[2020-10-28 16:22] bryevdv commented on #10611
As an aside I guess the JS version is also still wrong in packages.json? It needs to be `.dev.4` not `.dev4`?

[2020-10-28 16:27] Neithiri commented on #10612
@bryevdv thanks for your quick answer. I confirm that manually managing the renderers does not work, I have already tried this.
I hope some day it will be improved.

[2020-10-28 16:48] mattpap commented on #10611
It should be `2.3.0-dev.4` (e.g. https://www.npmjs.com/package/typescript/v/4.1.0-dev.20201026; just they use dates).

[2020-10-28 16:52] bryevdv commented on #10611
OK, that is an easy fix I can push today. But that should not explain the failing test?

[2020-10-28 16:54] mrx23dot opened #10613 "Add TOC to reference doc"
Please add right hand side table of content to the docs for easier navigation
http://docs.bokeh.org/en/latest/docs/reference/plotting.html

like it's on this side

https://docs.bokeh.org/en/latest/docs/user_guide/styling.html

Follow up from
https://discourse.bokeh.org/t/documentation-fails-on-opera-browser/6611/3

[2020-10-28 16:58] bryevdv commented on #10613
I doubt we can add a right hand TOC simply because the Spinx theme we use simply does not work that way. It build TOCs from section/subsection structure and we will not be able to add that for methods in a class. But all the methods listed at the top used to be (should be) links, so we can make sure that those become links again to function as a TOC (just not floating on the right)

[2020-10-28 17:01] mrx23dot commented on #10613
Could be on any side.
As long as a new user can find .line( ) without searching with CTRL+F and finding 1000s of results.

Eg. left TOC could be replaced, or we could add a subsection which contains primitives.

[2020-10-28 17:05] bryevdv commented on #10609
OK I will try to carry this out tonight.

[2020-10-28 17:07] bryevdv commented on #10613
@mrx23dot sorry I was not clear. The them we have presents technical limitations that prevent it from being on either side. We can make the be list at the top be a big list *of links* which is an effective TOC (but it won't be floating). That is the best we can do without creating our own custom Sphinx theme (an enormous effort)

[2020-10-28 17:34] tcmetzger opened #10614 "Storing static PNG for OpenGraph"
I'm working on adding OpenGraph compatible meta tags to the docs. As discussed with @bryevdv, @pavithraes and @hyles-lineata, we need a place to store a publicly accessible, static PNG file that can be displayed as the default image whenever sharing a link on an opengraph-enabled website.
This is the image that I would like to use for now ([download url](https://tcmetzger.de/STATIC/bokeh.png)):
![

[2020-10-28 17:47] bryevdv commented on #10614
OK we just need to decide on a path. For reference, an existing URL on the static site is

https://static.bokeh.org/logos/logo.png

For something like this I think the path/filename should be somewhat specific or descriptive, in case we need to accommodate different or new versions in the future.

[2020-10-28 17:53] tcmetzger commented on #10614
How about `https://static.bokeh.org/opengraph/bokeh-logo.png`?

[2020-10-28 18:01] mattpap commented on #10611
Yes, because both `Document.from_json()` and bokehjs' unit tests assume dev version having a dot

[2020-10-28 18:45] bryevdv commented on #10614
`bokeh-logo` is a bit to generic to me (and this is not, properly, the actual logo—I think we should use "logo" in a narrow sense) What does OG call these images, cards?

[2020-10-28 18:50] bryevdv commented on #10612
@Neithiri in the mean time you can add all the glyph renderers up front and use the callback to toggle their `visible` property instead. In fact, this is what I would always recommend, even assuming this issue gets worked on some day. It is always advised to try to create the full "object graph" up front and then make updates by changing *data* and *properties* rather than by adding/deleting objec

[2020-10-28 19:08] tcmetzger commented on #10614
As far as I know, the terminology is different for different implementations of the OpenGraph protocol. In the [official docs](https://ogp.me/#metadata) they say "og:image - An image URL which should represent your object within the graph." - so, how about:
`https://static.bokeh.org/opengraph/bokeh-og-image.png`

[2020-10-28 19:10] bryevdv commented on #10614
is it possible we might want to use different images in different contexts? I guess I was thinking more description e.g. `/opengraph/logotype-on-hex.png`

[2020-10-28 19:11] tcmetzger commented on #10614
Ah, I see - let's go with that!

[2020-10-28 19:16] bryevdv commented on #10614
For a little brevity in the URL that will be everywhere I also went with "og" for dirname:

http://static.bokeh.org/og/logotype-on-hex.png

[2020-10-28 19:16] #10614 closed

[2020-10-28 19:18] #10611 closed

[2020-10-28 19:23] bryevdv commented on #10614
@tcmetzger I guess last thing I'd double check: this image seems a bit on the large side? Is it typical for open graph images to be this large (size and/or dimensions)

At some point probably ought to verify all the caching policy headers for our static content, there's no reason these can't be cached ~forever (both on cloud front and in users browsers locally)

[2020-10-28 19:26] tcmetzger commented on #10614
I'll probably optimize the file a bit, I currently need this mostly for testing.

[2020-10-28 20:30] bryevdv commented on #10614
OK just let me know, we will have to issue a cloudfront invalidation to update the file

[2020-10-28 20:35] tcmetzger commented on #10614
Will do!

[2020-10-28 21:02] mrx23dot commented on #10613
Whichever is the simplest. I would simply replace the left side navigation items with primitives.
And put the original items into drop down button, or onto an index page.
Up to you guys, cheers!

[2020-10-29 07:10] MarcSkovMadsen commented on #10033
Hi @mattpap . I've tried to follow your comment above. But I simply don't know the command to retrigger.

If I use something like the below markdown and split each section into a seperate Markdown pane in Panel then it looks like

![image](https://user-images.githubusercontent.com/42288570/97536904-2d55a400-19be-11eb-8ef2-a5ab73960c76.png)

[code]

[2020-10-29 08:07] Neithiri commented on #10612
@bryevdv Thanks for your suggestion. I thought I could do that too. Unfortunately, I'm working with large data sets on a project, so adding all the glyph renderers up front is not conceivable.
Nevertheless, I managed to remove the hover tool before adding the second scatter plot and creating a new, it currently works.
Here is the full code :
[code]

[2020-10-29 09:40] Konntroll commented on #10539
Taking over [cli.rst](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/cli.rst) and [concepts.rst](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/concepts.rst). Seeing as cli.rst is only a paragraph long, I'll roll these two into one pull request.

[2020-10-29 14:31] redhog commented on #9605
Workaround:

[code]

Then anywhere you'd normally use `input.value`, instead use `input.value_input`.

`.value_input` is updated with every new character typed, but _not_ when the user selects from the drop down. `fix_value()` fixes this defect, so that `.value_input` always contain the latest user entry, no matter how it got there.

Regarding a permanent solution, I'd argue that `.value` should k

[2020-10-29 15:18] ltalirz commented on #9605
Makes sense - `input_el.value` *should* be updated when selecting a value from the dropdown.
(somehow it did seem to work already when the `model.value` was changed at the same time, but it should also update when the `model.value` remains unchanged).

Would you be able to make a PR?

[2020-10-29 16:27] redhog commented on #9605
I'm sorry, but my understanding of the javascript parts of bokeh is a bit too hazy to try that (I assume a real fix would do the update in JS, not like my workaround)...

[2020-10-29 16:45] bryevdv commented on #10612
@Neithiri FY you can add the glyphs with empty data sources to start and update just the data at a later time.

[2020-10-29 18:13] bryevdv commented on #10609
This has been done @mattpap @philippjfr please relay to me our NPMjs account names or emails separately so that I can invite you to the org (and let me know if there is anyone else to invite).

I'd like to suggest that all members select "2FA for auth and writes" so and create their own personal tokens to use for any non-CI deploys (which will also require OTP)

[2020-10-29 18:13] #10609 closed

[2020-10-29 19:20] ahuang11 commented on #9943
Yes it'd be nice if one could click on the value above the slider and directly set it there:
![image](https://user-images.githubusercontent.com/15331990/97622041-b20de580-19f1-11eb-9aa7-168599334bf1.png)

[2020-10-29 19:26] rstrutt opened #10619 "[FEATURE] Allow custom date formats in DatePicker (flatpickr)"
As-per the Discourse discussion here: https://discourse.bokeh.org/t/flatpickr-date-display-format/6630

Currently,  we are constrained to the ISO yyyy-mm-dd format for the flatpickr implementation of DatePicker (post-2.0);

![image](https://user-images.githubusercontent.com/7271339/97622498-c0acca80-19fa-11eb-97a3-20911adc49ae.png)

It would be great to expose the existing flatpickr dateFormat opt

[2020-10-29 19:38] rstrutt opened #10620 "[BUG] JS/Python version mismatch in 2.3.0dev3"
Looks like a typo somewhere - just spinning-up any simple example in 2.3.0dev3 you see this in the console (one with a hyphen, one without);

![image](https://user-images.githubusercontent.com/7271339/97623795-8fcd9500-19fc-11eb-88e6-d2e96e1fea62.png)

[2020-10-29 19:48] bryevdv commented on #10620
This was already fixed in main

[2020-10-29 19:48] #10620 closed

[2020-10-29 19:51] rstrutt opened #10621 "[BUG] [MINOR] 2.3.0dev3, plot's inner_width property always sent on redraw even if unchanged"
#### ALL software version info
Bokeh 2.3.0dev3
Chrome Version 79.0.3945.79 (Official Build) (64-bit)
Windows 7 Pro SP1

#### Description
If you force a re-draw by, say, adding a new css_class somewhere, then the inner_width field for plots is always communicated from browser to server, even if its value is unchanged.

I spotted this is 1.4 (where all 4 of the experimental inner/outer width/height

[2020-10-29 20:05] rstrutt opened #10622 "[FEATURE] Potentially expose a facility to suppress the redraw if adding a CSS class."
If you change a css class on any component, you force a redraw.  From looking back through the commits, it seems that this is intentional, and required in case the css adjusts some sizing to which the rest of the application needs to be sensitive.

However... if you're adding a css class which you *know* will not have any impact to sizing, it might be nice to be able to suppress the redraw event.

[2020-10-29 20:09] #10407 closed

[2020-10-29 22:44] crricks commented on #10539
Mind if I take of https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/tools.rst?

Thanks!

[2020-10-30 08:37] Neithiri commented on #10612
This is a good idea ! Thanks for the suggestion @bryevdv.

[2020-10-30 18:00] pavithraes commented on #10539
@crricks Sure! We'd love to have your contribution :)

[2020-10-31 02:02] samwill commented on #10539
I can take [WebGL](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/webgl.rst)

[2020-10-31 18:32] bryevdv commented on #10613
Noting that the links at the top work on the 2.1.0 deployed docs, but do not work on the 2.2.0 deployed docs. So it could be some config change made between those two releases, or maybe a sphinx or other dependency change.

[2020-11-01 02:03] #10536 closed

[2020-11-01 03:34] bryevdv commented on #7883
Let's leave this for @brendancol et al

[2020-11-01 07:05] #10341 closed

[2020-11-01 13:50] casper1403 commented on #8499
Any fix for this problem and for #9554???

[2020-11-01 15:25] #10613 closed

[2020-11-01 20:02] nghenzi commented on #8499
As alrady commented some time ago in the discourse forum I would like this feature enabled. I can work on this, but I do not know exactly where to watch. Maybe with some guidance to heading in the right direction I can avance.

My web app is developep with panel and I embed it in a html template with flask with the following code

@app.route('/')
def index():
    with pull_session(url="http://loca

[2020-11-01 20:12] bryevdv opened #10628 "Reference guide should display property defaults"
In addition to the property type, reference docs for Bokeh models should present any default values for model properties.

[2020-11-02 13:31] #10612 closed

[2020-11-02 15:46] HuangYanqiColumbia opened #10631 "Feature Request - Load from Bokeh HTML file and overlay other shapes?"
I want Bokeh to provide some file format so that I can write to it and load it back in Python and do some surgery. Even if I cannot interact with it like the existent HTML format.

Thanks!

[2020-11-02 19:43] #10628 closed

[2020-11-03 06:51] bryevdv commented on #10411
noting that the error message has shortened on latest `branch-2.3`
[code]

[2020-11-03 15:33] JorisMeertBambrugge commented on #2352
Meanwhile, it there already a solution? Something like a Whisker-glyph? Thx

[2020-11-03 15:38] maxnoe commented on #2352
Yes, whiskers where introduced. See the original stackoverflow question:

https://stackoverflow.com/questions/46507628/adding-error-bars-on-top-of-bar-charts-in-bokeh/46517148#46517148

[2020-11-03 15:46] JorisMeertBambrugge commented on #2352
i understood from mattpap's explanation those aren't glyps but annotations. They don't work  together with dynamic legends like explained by varchasgopalaswamy? Or is there meanwhile a way to attach annotations to a legend item?

[2020-11-03 16:58] bryevdv commented on #2352
There is not.

[2020-11-04 19:53] #10411 closed

[2020-11-04 22:08] mrx23dot opened #10636 "[BUG] Missing cursor snap for crosshair and points"
## ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Python 3.6.7
Win7 x64
bokeh==2.2.3

#### Description of expected behavior and the observed behavior
 When I move my cursor over a point, the hover appears with the value, but the value changes as I move my mouse slightly over the point.

 It should snap to the point and display it's exact value (from t

[2020-11-04 22:17] bryevdv commented on #10636
@mrx23dot the default tooltips specify the special fields `$x` and `$y` which configure display of data-space *coordinates*, i.e. the position under the mouse. If you want to show the coordinates of the glyph, that is described in detail in the docs:

https://docs.bokeh.org/en/dev/docs/user_guide/tools.html#hovertool

For any further usage/support questions please use the community discourse, not

[2020-11-04 22:17] #10636 closed

[2020-11-04 23:23] bryevdv opened #10637 "Need "Edges" only inspected policy for graphs"
Questions on Twitter about "edge" only hover tooltip:

https://twitter.com/DataDrivenAngel/status/1324015994759745536

and AFIAK this is not possible, since there is not an inspection for just `EdgesOnly`

On the assumption that (I think) this is a fairly trivial add, I will tentatively schedule for 2.3

[2020-11-05 04:58] bryevdv commented on #10637
OK well this is slightly complicated by the fact that `get_selection_manager` only returns a single selection manager, and currently for `GraphRenderer` it arbitrarily returns the node renderer:
[code]
I'll have to think on how best to generalize things here but @bokeh/dev if there are any suggestions or thoughts, please chime in

[2020-11-05 05:04] bryevdv commented on #10637
For purposes of this issue things can probably just be made more specific in the inspection policy:
[code]
i.e instead of going through `graph_view.model.get_selection_manager` actually go through the edge rendere `get_selection_manager` since that's what is needed. But the general question remains for what (if anything) `GraphRenderer.get_selection_manager` should do since it has multiple "sub" r

[2020-11-05 17:53] #10637 closed

[2020-11-05 21:51] mrx23dot commented on #10636
I figured it out
@x instead of &x

[2020-11-05 22:13] tony-bony opened #10639 "[BUG] Cannot change tooltips in JS callback"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
[code]

#### Description of expected behavior and the observed behavior
After clicking the button the tooltip should change from: `[('x', '@x'), ('y', '@y')]` to `[['y', '@y'], ['z', '@z']]` but nothing changes

This code works as expected for Bokeh v1.4.0 till v2.1.1 but not for the current v2.2.3

[2020-11-05 23:09] mattpap commented on #10639
This is related to issue #10559, possibly a duplicate.

[2020-11-06 00:16] bryevdv commented on #10631
@HuangYanqiColumbia Bokeh has a JSON export format that can be sent to BokehJS in the browser. There has not been much call to be able to re-import the JSON back in to *Python*, and I notice that a simple experiment does not work:
[code]

it fails with
[code]
So I have re-titled this issue for making sure that JSON exported content can be re-ingested by Python. Note two things:

* we will never be

[2020-11-06 08:10] Sieboldianus commented on #10108
It's obvisoully quite difficult to get the png/svg stuff working in various setups. The key seems to be that there are various ways to install browsers, and it is not easy for bokeh to automatically get paths.

I am running in the follow setup (and got svg/png output working, see instructions below):

* Debian Docker Image
* Holoviews/Geoviews with Bokeh plotting backend
* specific conda environme

[2020-11-06 10:46] mattpap commented on #10639
Definitively a duplicated. Fixed in PR #10560.

[2020-11-06 10:46] #10639 closed

[2020-11-06 11:51] #10559 closed

[2020-11-06 14:27] Yannikpy opened #10641 "[BUG] Bokeh: HoverTool doesn't work with muli_line"
Versions: Bokeh 2.2.3, Python 3.7.6, Windows 10.0.19041, Firefox 82.0.2

I am expecting for each line to show 'foo' on hover. It works on the single line, but not on multi_line.

Minimal example:
[code]

This worked on previous releases (up until 2.1), but does not on 2.2 and newer.

Thank you for this awesome package btw :)

[2020-11-06 14:33] mattpap commented on #10641
Duplicate of issue #10458.

[2020-11-06 14:33] #10641 closed

[2020-11-06 15:25] Felix-neko opened #10642 "[FEATURE] Collapsible figures in layouts"
Hi folks! I often use layouts with dozens of plots on them.

Can you make an option to make some plots collapsible (maybe with an option to make a figure collapsed by default)?

---
P.S. Thank you for great product, it really rocks = )

[2020-11-06 15:32] #10505 closed

[2020-11-06 19:29] rstrutt opened #10643 "[BUG] 2.3.0dev5 - Using a widget as a parameter in its own js callback throws 'Maximum call stack size exceeded' on JS side"
#### ALL software version info
Bokeh 2.3.0dev5
Chrome Version 79.0.3945.79 (Official Build) (64-bit)
Windows 7 Pro SP1

#### Description of expected behavior and the observed behavior
If you add a widget as a parameter in its own JavaScript callback, the page will not render and a 'Maximum call stack size exceeded' error is thrown on the JavaScript side.

Expected behavior is that that the page sh

[2020-11-06 19:31] bryevdv commented on #10643
Thanks for the complete MRE @rstrutt

[2020-11-06 19:39] rstrutt commented on #10643
No problem - glad to help!

[2020-11-06 19:53] 23pointsNorth opened #10644 "support selection/hover highlighting for annotations"
The Whisker annotation module does not support any selection option.
This results in non-standard views when data points, containing whiskers, are selected. See image below.
Expected behaviour: being bale to specify nonselection_alpha/line_alpha, nonselection_color similar to cirlces, lines.

bokeh: 2.2.3
python 3.7
ubuntu, docker

Image -- observe selected points bottom right, selected cluster of

[2020-11-06 20:04] rodluger commented on #10444
If anyone is looking for a quick workaround, you can fix this with some CSS. When creating the slider, pass in a custom CSS class:
[code]
Then, add the following ``Div`` to the document's layout:
[code]
which will force the slider to have a height of (say) 300px.

[2020-11-06 20:14] mattpap commented on #10644
We will need to implement composite glyphs and turn `Whisker` annotation into such glyph, to support all the features.

[2020-11-06 20:25] bryevdv commented on #10644
This will definitely require some planning. I would prefer if we can keep it so that annotations themselves don't directly participate in hit-testing, but rather afford some way to delegate highlighting status to some some other actual Glyph.

[2020-11-06 20:57] #10643 closed

[2020-11-06 21:12] rstrutt commented on #10643
Awesome turnaround, chaps. Thanks.

[2020-11-08 20:14] Konntroll commented on #10539
I'll take [embed.rst](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/embed.rst) now.

[2020-11-09 12:19] liqi6811 opened #10651 "Possible to create shape chart with dynamic size and color"
Hi team,

with below code, we can create a chart with square scatter markers, however, is there anyway I can make the marker size dynamic? as well as color?

For example, size = [1, 1, 1.5, 2, 2.5] will display the markers' size based on the ratio in the list, and color = [1, 1, 1.5, 2, 2.5], color_base = "red", will show each markers' color within red, but gradient based on the ratio?

`
from bok

[2020-11-09 14:43] cjw85 opened #10652 "[BUG] PNG Export on macOS High density display crops image"
I'm seeing the recurrence of an issue that was apparently fixed in #9639

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.11
Python 3.6
Jupyterlab 2.2.8
macOS 10.15.7
Chrome 86.0.4240.183

#### Description of expected behavior and the observed behavior
When pressing the floppy-disk icon in the bokeh toolbox of a plot, the exported image is

[2020-11-09 15:17] mattpap commented on #10652
This was fixed in bokeh 2.2 (issue #10249).

[2020-11-09 15:17] #10652 closed

[2020-11-09 17:21] bryevdv commented on #10651
The GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please considere [Discourse site](https://discourse.bokeh.org) or  [Stack Overflow](https://stackoverflow.com/).

[2020-11-09 17:21] #10651 closed

[2020-11-09 19:20] bryevdv commented on #10644
Some further questions to answer:

* How do we want to express linking of annotations to glyphs at the model level? e.g.
  * Is it just a look connection by both renderers being configured on the same `LegendItem`?
  * Or do we want to actually have glyphs be able to specify "linked" annotations directly (and then legends delegate) to glyphs for any linked annotations to change?
* What does the co

[2020-11-09 21:05] facero opened #10654 "[FEATURE] Throttle for the RangeTool for Python callbacks"
This feature request is the follow-up of a question asked on Discourse ([here](https://discourse.bokeh.org/t/throttle-or-callback-policy-for-the-rangetool/6682)).
Building on the example I found on the Bokeh doc showing the use of Range_Tool ([here](https://docs.bokeh.org/en/latest/docs/gallery/range_tool.html)), I made a dashboard with a RangeTool and a python callback function on change of the R

[2020-11-09 23:53] wenjaylfw commented on #10631
Hello, is this feature available to work on? If so, I would like to give it a try!

[2020-11-10 05:32] jakobjgu commented on #7317
+1

[2020-11-10 06:20] wenjaylfw commented on #10619
Hello, is this issue available to work on? I'd like to give an implementation a shot.

[2020-11-10 17:13] lrdsouza opened #10656 "Predefined breaks for LinearColorMapper"
I'm developing an application to analyze arbovirus infections in the neighborhoods of two cities. Heat maps are generated for each city, their color scheme varies according to the count of infections in the neighborhoods. One of the problems in generating color of these maps is the interest data distribution. The vector of infection counts for each city has very distant values, such as the vector

[2020-11-10 17:41] hyles-lineata opened #10657 "better messaging on invalid plot sizes"
**Is your feature request related to a problem? Please describe.**
If a plot size is chosen that cannot accommodate all plot elements, the error messaging is just a generic "invalid bbox" message in the javascript console.

**Describe the solution you'd like**
I think the messaging here could be improved to make it immediately obvious to the user what needs to be fixed.

**Describe alternatives yo

[2020-11-10 17:52] mattpap commented on #10657
Ideally layout should not fail hard like this (btw. this is an internal error, not something that a user should ever see), but loosen constraints (e.g. cut off labels) until a sensible layout can be produced.

[2020-11-10 18:09] jbednar commented on #10656
The [EqHistColorMapper](https://docs.bokeh.org/en/latest/docs/reference/models/mappers.html#bokeh.models.mappers.EqHistColorMapper) is one approach to solving this issue, balancing the color range across the set of values automatically.

[2020-11-10 18:45] bryevdv commented on #10656
@jbednar right but it defines the bins for you, correct? I think the ask is for something one level lower (to implement something *like* `EqHistMapper`, but different)

[2020-11-10 19:18] jbednar commented on #10656
Right; EqHistColorMapper only addresses the last bit: "add a resource ... that allows selecting the algorithm for generating breaks". It doesn't use a piecewise-linear approach as outlined by the OP, and doesn't allow the user to specify anything but the start and end of the range, if that level of control is required, but it does ensure that the colors are mapped well in that range.

[2020-11-10 19:31] joshuadavidson opened #10658 "[FEATURE] Target ES5/ES6 with BokehJS"
**Is your feature request related to a problem? Please describe.**
Yes, I am unable to use BokehJS v2.2.3 in legacy webpack projects as BokehJS makes use of the ES2020 syntax `export ns from` syntax in the exported file `build/js/lib/index.js` which is not widely supported. Previous BokehJS version 2.0.2 did not have this issue.

**Describe the solution you'd like**
Target a lower ECMAScript langu

[2020-11-10 20:49] mosc9575 opened #10659 "[BUG] Merged tool of subfigures is not marked as active"
#### software version info (bokeh, python)

Python: 3.6.10
Bokeh: 2.2.3

#### Description of expected behavior and the observed behavior

To activate a tool other then by default bokeh gives the option of setting parameters like ```active_scroll```. If there is only one figure, it works perfect and the tool is marked as active. But if the plot is a gridplot or some other layout, the merged tool is

[2020-11-10 21:29] bryevdv commented on #10658
cc @mattpap

[2020-11-11 00:02] mattpap commented on #10658
In an ideal world this is how things should work. We provide a set of ES modules compliant with the most recent ES standard (i.e. as verbatim as possible) (ES2017 in our case at this point + ES2020 module features), and then users downstream either use them verbatim or transform them as need as part of their build process. However, I see that many large projects publish npm packages with various l

[2020-11-11 08:34] comatrion commented on #10512
Hi @philippjfr just wondering if this got picked up or is part of another issue already reported somewhere.

[2020-11-11 11:54] lrdsouza commented on #10656
That's right. I think that adding a parameter to the `LinearColorMapper` function that allows you to select different algorithms for generating these breaks can be of great help. It would be something similar to the `scheme` parameter of the GeoPandas `plot` function.

[2020-11-11 15:21] timdiels opened #10661 "[FEATURE] server_document(session_id=...)"
When only accepting signed sessions, I would have to use `server_session` as `server_document` has no `session_id` parameter. I also need to pass some arguments which `server_session` cannot do (as passing args only makes sense when creating the session), so I need to wrap it in `pull_session`, but this unnecessarily pulls in the entire document.

My current workaround mimics `server_session` by a

[2020-11-11 16:57] fearcon-eap opened #10662 "[FEATURE]Allow naming (title) of Tools"
I'm sorry if this already possible, I could not find a way to achieve the presented behaviour.

**Is your feature request related to a problem? Please describe.**
When adding multiple tools of the same type (e.g. multiple Hovertools) it is impossible for the user to distinguish which of the hover tools he is (de-)activating in the toolbar as the tools get a generic name describing the type of the

[2020-11-11 17:12] bryevdv opened #10663 "Surface Repo Examples in Docs"
Over the years it has often been the case that the answer to many user support questions is

However,  the repo examples have no visibility in the main docs site, and many users simply do not know to look in GitHub for example code to reference, so we continually have to provide this answer.

I propose to create a sphinx extension that can generate an index for examples inside the main documentati

[2020-11-11 17:21] bryevdv commented on #10656
So I am personally 👎 on this sort of approach. It is limiting in the sense that the only algorithms that would be available would be the ones we happen to add, and we would also be on the hook for maintaining the. I would propose something more generic that simply exposes the ability for users to specify piecewise linear maps explicitly. Then generating those maps, using whatever algorithm desired

[2020-11-11 17:34] bryevdv commented on #10661
I am 👎 on adding `session_id` to `server_document`.

In the past there was a single function `autoload_server` that attempted to handle both cases:

* create a new document and session to embed
* embed an existing session

As a result the function had many overlapping, convoluted, and sometimes mutually incompatible parameters. Explaining how to use it was to users was a nightmare, and there were

[2020-11-11 18:03] lrdsouza commented on #10656
Yes, really. Thinking in this way, the task of selecting and implementing several algorithms in `LinearColorMapper` is exaggerated, considering that probably the current mappings are sufficient for most Bokeh users. I think a solution could be: `LinearColorMapper` generates equal breaks by default and, if necessary, the user could manually pass a list/array of mappings obtained externally.

[2020-11-11 18:33] timdiels commented on #10661
Correct, I have no need for passing a session to `server_document` which already exists server side, I only need it to add a new signed session id to the request such that the bokeh server does not reject it with 403. What you suggest would work for me.

[2020-11-11 18:40] bryevdv commented on #10662
@mattpap this seems fairly straightforward and useful, and it also seems compatible with any future work that might consolidate hover tools into a single collapsible menu. So I am tentatively marking as `feature` (and GFI) but please comment or re-triage if you disagree.

I am not sure `title` is the best property name here, maybe `description` might be better. We could also consider using existin

[2020-11-11 18:52] tcmetzger commented on #10663
Another gallery-related idea: How about we create a new page called "Examples" that is displayed in the docs menu where "Gallery" currently is. This new examples-page would be a mini-landingpage and contain two subpages: One is the Gallery page as it is, the second sub page is an overview over the examples in the repo. This way the gallery stays and is still called gallery, while the examples are

[2020-11-11 20:42] bryevdv commented on #10656
I'm not sure it would make sense to bolt this on to the existing `LinearColorMapper` I think it would have to be a new `SegmentedColorMapper` or similar. Then questions:

* Does each bin only get one color (as described in OP)? or more generally
* Does each bin get an entire palette to linearly interpolate in?

The more general approach would make arbitrary diverging / segmented colormaps more fea

[2020-11-11 21:56] lrdsouza commented on #10656
For my problem, each bin having a different color is enough. However, i believe that it is more recommended that each bin has a palette for interpolation in problems that require greater granularity.

[2020-11-11 22:08] jbednar commented on #10656
If you just want a different color per bin, I would assume EqHistColorMapper would already work for your approach. Try it!

I agree that functionality like this wouldn't belong in LinearColorMapper, which doesn't need that complexity, and that SegmentedColorMapper seems like a better place for it. But I'm a bit confused how piecewise linear maps could work; in practice isn't it necessary to recomp

[2020-11-11 22:46] philippjfr commented on #10656
@jbednar Not following why the intervals would have to be computed dynamically, could you explain that? I can see that being useful in certain cases but I'm not following why fixed intervals wouldn't be useful in itself.

[2020-11-11 22:57] jbednar commented on #10656
The OP suggested "algorithm for generating breaks, such as Fisher-Jenks and Jenks-Caspall", which to me implies a data-driven approach where the breaks are calculated from the data being shown. Given that the data being shown depends on the viewport, if the breaks are not dynamically computed then they won't reflect the data being shown in that viewport. Sure, a fixed set of breaks is better than

[2020-11-11 23:04] philippjfr commented on #10656
Oh right yes, if we want to support all of those approaches in one color mapper it would have to accept explicit intervals and the ability to choose an algorithm to compute them dynamically but even then you should be able to compute it once across the whole dataset (the default) or dynamically while zooming. In either case the implementation of the algorithms should be JS-side.

We sort of fake t

[2020-11-12 00:04] bryevdv commented on #10656
Just to be clear I think viewport-based colormapping is out of scope. I think it is far more common for people to want to apply a colormap globally.

[2020-11-12 01:01] hyles-lineata opened #10664 "Clarify and alias(?) Plot's various width attrs"
A review of [Plot](http://docs.bokeh.org/en/latest/docs/reference/models/plots.html?highlight=plot#bokeh.models.plots.Plot) shows that it has the following width-related attributes and descriptions:
- `frame_width`: The width of a plot frame or the inner width of a plot, excluding any axes, titles, border padding, etc.
- `inner_width`: This is the exact width of the plotting canvas, i.e. the width

[2020-11-12 10:55] mattpap commented on #10664
Those properties can be divided into input (configuration) and output (actual layout state). So, `width` (`plot_width`; see next paragraph), `min_width`, `max_width`, `frame_width` are inputs and `outer_width` and `inner_width` are outputs. All values are integer pixels.  `width` is reflected in layout by `outer_width` and `frame_width` as `inner_width`. `outer_width` encompases all components of

[2020-11-12 14:54] joshuadavidson commented on #10658
I concur--ideally end user could change their webpack config, just not possible in our case. On our side seemed odd that it broke on a minor version bump from 2.0.2 -> 2.2.3. Thanks for considering it.

[2020-11-12 16:51] bryevdv opened #10666 "[BUG] Webgl perf regressions in branch-2.3"
See https://github.com/bokeh/bokeh/pull/10655 for details

[2020-11-12 17:39] bryevdv opened #10667 "Cross reference user guide widgets examples to reference guide"
All the examples here:

https://docs.bokeh.org/en/latest/docs/user_guide/interaction/widgets.html

Should link to the corresponding reference guide entry.

[2020-11-12 17:53] philippjfr opened #10668 "[BUG] Warnings about integrity checks when using CDN resources with extension"
It seems like this bit of the js_resources template code https://github.com/bokeh/bokeh/blob/b56543346bad8cdabe99960e63133619feaafbb7/bokeh/core/_templates/js_resources.html#L17

assumes that both bokeh.js and all extensions (which are also provided as `js_files`) will have existing hashes. This is not (necessarily) the case so users end up seeing these warnings when using CDN resources:

It's onl

[2020-11-12 18:00] mytan310 commented on #10662
Hi, is anyone working on it? If not, I am interested and can complete it by the end of this month!

[2020-11-12 18:00] mytan310 commented on #10405
Hi, is anyone working on it? If not, I am interested and can complete it by the end of this month!

[2020-11-12 18:01] mytan310 commented on #10155
Hi, is anyone working on it? If not, I am interested and can complete it by the end of this month!

[2020-11-12 18:14] bryevdv commented on #10662
@mytan310 Please feel free to submit a PR to get things started

[2020-11-12 18:16] bryevdv commented on #10405
@mytan310 do you know already what the specific issue and resolution is for Safari? Can you describe the proposed solution?

[2020-11-12 18:17] nitrocalcite opened #10669 "[BUG] MouseWheel events not suppressed when WheelZoomTool active"
This could be a documentation error.  The documentation on [MouseWheel](https://docs.bokeh.org/en/latest/docs/reference/events.html) events says:

This would seem to imply that if the WheelZoomTool is active, the MouseWheel event callbacks would be disabled.  However, when I have the WheelZoomTool active and I use the scroll wheel, the callback is still triggered.  Additionally, it's not clear to

[2020-11-12 18:18] bryevdv commented on #10155
@mytan310 This is not a small task and intersects with many low-level aspects of BokehJS. Unless you already have a fleshed-out and detailed work-plan that you can share, this particular issue is better handled by the core team.

[2020-11-12 19:13] mytan310 commented on #10155
Oh I see. This can be handled by the core team then. Thank you for the advice!

[2020-11-12 19:15] mytan310 commented on #10203
Hello, is this a possible feature to work on? I'd like make an attempt to work on it and finish by the month (:

[2020-11-12 19:16] mytan310 commented on #10405
I have not investigated on the resolution, but I'd like to give debugging a shot!

[2020-11-12 19:34] bryevdv commented on #10203
@mytan310 is it not necessary to leave these messages on multiple issues all over the tracker. If an issue is opened, and no-one is assigned or has indicated in the comments that they intend to work on it then please feel free to submit a PR without asking.

[2020-11-12 19:50] bryevdv commented on #10405
That's great, but there is no need to ask for permission just to investigate. Responding to messages on the tracker is in itself more work for maintainers, so speaking plainly, a half-dozen identical messages like this posted across the tracker in rapid succession is not desirable. Some OSS new contributor tips:

* Pick one *single issue* to look at to start with
* Look into a bit (no need to ask)

[2020-11-12 20:16] nitrocalcite opened #10670 "[BUG] PolyEditTool vertices are not redrawn on data source update"
When the data source underlying a PolyEditTool is updated, its assigned `renderers` update automatically, but its `vertex_renderer` does not.

Here's an MRE:
[code]
To reproduce:
1) Run this script
2) Within the first 10s, activate the PolyEditTool and double-click the triangle on the plot so it shows vertices and can be edited
3) Wait for the 10s to end, and observe that while the triangle redraw

[2020-11-12 20:43] nitrocalcite opened #10671 "Unclear which Events `on_event` is compatible with"
When I first tried using `on_event`, my expectation was that all Events should be accessible from `on_event`, or I should at least get a warning.  However, this is not the case; see discussion with [Bryan](https://discourse.bokeh.org/t/trouble-with-on-event-for-renderers/6711).

As a quick fix, I think it would be nice if the docstring for `on_event` explicitly laid out this limitation, as while t

[2020-11-12 21:09] mattpap opened #10673 "Unintended (?) changes to package(-lock).json"
This https://github.com/bokeh/bokeh/commit/e2ec89cc37dac0ea29ed3cd34be0a97deab7e834 commit rewrote `package.json` and upgraded `package-lock.json` to version 2, which requires `npm@7`. For every user that uses `npm<7`, npm will revert it to version 1, causing confusion. `npm@7` comes by default only with nodejs 15 and updating npm doesn't automatically update to higher major version (one has to us

[2020-11-12 21:26] mytan310 commented on #10203
@bryevdv Sorry about that, I thought I should let you know before starting working on the task. Thank you for letting me know, I will keep that in mind in the future for other tasks to just submit a pull request (:

[2020-11-12 21:57] bryevdv commented on #10673
Agree all the env files in the `ci` dir as well as the top level env file should be put in sync or node version

[2020-11-12 22:23] bryevdv commented on #10203
No worries @mytan310 , look forward to your contributions!

[2020-11-12 23:55] #10671 closed

[2020-11-13 14:13] comatrion opened #10675 "[BUG] ScientificFormatter shows 0 as 0.000e+00"
#### Software version info
bokeh 2.1.1
python 3.7
chrome  78.0.3904.97 (Official Build) (64-bit)
macOS 10.14.6 Mojave

#### Description of expected behavior and the observed behavior
Context:
A table with a column of floats including 0, formatted with ScientificFormatter, precision set to 3, other parameters defaulted.

Expect:
That 0 would be rendered as 0.

Observed:
Rendered as 0.000e+00 per co

[2020-11-13 23:14] mattpap opened #10676 "examples/webgl/marker_compare doesn't actually use webgl"
It uses `p.scatter(marker=marker)` which doesn't support webgl. Trivial solution is to replace it with `gettattr(p, marker)`. However, it would be better if scatter and individual marker glyph functions used the same rendering code paths.

[2020-11-13 23:23] bryevdv commented on #10676
dupe of #10413?

[2020-11-13 23:30] mattpap commented on #10676
Duplicate indeed.

[2020-11-13 23:30] #10676 closed

[2020-11-14 19:42] Konntroll commented on #10539
Taking on [extensions.rst](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/extensions.rst) now.

[2020-11-14 20:46] mattpap commented on #10675
Looking at the implementation, there needs to be a special case for 0.

[2020-11-15 03:18] #10673 closed

[2020-11-15 20:50] debsankha opened #10683 "[FEATURE] Add DatetimeRangeSlider widget"
The `DateRangeSlider` widget allows the user to select an interval of two dates. However, I often create visualizations that would benefit from the user being able to provide a range of two  *datetime*s (at second precision).

The solution could be a widget `bokeh.models.DatetimeRangeSlider` that can be used like this:

[code]

resulting in:

<img width="317" alt="datetime_range" src="https://user

[2020-11-15 22:12] Konntroll commented on #10539
Will take [plotting.rst](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/plotting.rst) now.

[2020-11-15 22:25] bryevdv commented on #10547
given the further thought in https://github.com/bokeh/bokeh/pull/10548#issuecomment-706548360 I am removing GFI for this

[2020-11-15 22:28] swamilikes2code commented on #10667
Hello everyone, I am planning to work on this issue. Quick question, since some descriptions do not have the names in the text below the heading, I am planning to add a short sentence. For the example attached here, looking to add "Detailed reference can be accessed for Colorpicker[https://link]".
![image](https://user-images.githubusercontent.com/66532440/99198627-e6aacc80-2767-11eb-8f8a-73aa6d06

[2020-11-15 23:36] debsankha commented on #10683
Could be that I didn't look hard enough. This seems to work:
[code]

[2020-11-15 23:48] #10683 closed

[2020-11-16 00:41] pavithraes opened #10685 "Move Bokeh docs to the latest version of pydata-sphinx-theme"
[pydata-sphinx-theme](https://pydata-sphinx-theme.readthedocs.io/en/latest/index.html) recently added the feature to show multiple toc levels (https://github.com/pandas-dev/pydata-sphinx-theme/pull/256), which can be helpful for Bokeh docs.

[2020-11-16 01:03] bryevdv opened #10686 "Win 10 Python 3 docs build issue"
Currently some Windows users encountering this unicode issue when trying to  build the docs:
[code]

[2020-11-16 01:06] pavithraes commented on #10137
@mattpap noticed that resizing the window also causes the jumping behaviour

[2020-11-16 11:10] JeremPatton commented on #7397
Hello!
It seems this issue is still occuring, the HoverTool only highlight the last Glyph_renderer. I couldn't figure out what was the final status on this? Is that still waiting for a solution?
Thanks

[2020-11-16 13:26] EdTheEagle opened #10689 "[BUG] column and row destroy datatable column width property in 2.2.3"
Running on WIN10, python 3.6.2, bokeh 2.2.3, Chrome, Jupyter notebook

Currently moving from 1.3.4 to 2.2.3. Encountered this bug, where the column width settings are lost when the datatable is instered in a row or column layout. To illustrate the behavior:

[code]

[2020-11-16 13:58] EdTheEagle opened #10690 "[FEATURE] Allow widget updates during callback function execution like before wihtout add_next_tick_callback function."
In  v1.3.4, it was possible to change the appearance of the bokeh app during the execution of a callback, even before the callback returned. This made coding really easy, especially when dealing with button interactions which execute lengthy calculations.

My usual code format would be like below, where the button label was changed while the callback was still running:

[code]

This worked like a

[2020-11-16 14:04] EdTheEagle opened #10691 "[BUG] bokeh app does not show in jupyter notebook"
Bokeh 2.2.3, WIN10, python 3.6.2. Chrome, jupyter-notebook

For bokeh app development, I used to show an interactive bokeh app with (Bokeh version 1.3.4):

`show(Application(FunctionHandler(bkApp)))`

And it would pop up and all the interactions would work. This does not work in the new version, no errors, just nothing.

[2020-11-16 16:41] nitrocalcite commented on #10670
An additional issue is that after such a change, dragging the vertices no longer updates the underlying `ColumnDataSource`.  You have to de-activate and then re-activate the PolyEditTool for it to work again

[2020-11-16 17:24] #10675 closed

[2020-11-16 17:27] bryevdv commented on #10670
cc @philippjfr @jlstevens

[2020-11-16 17:31] bryevdv commented on #10690
This was changed a long time ago and is not something we can go back to, sending updates on every property change is both inefficient and makes system state hard to reason about. Now that Bokeh server users native co-routines it might be possible to afford explicit synchronization points via an `await` statement, but there is already an issue for that https://github.com/bokeh/bokeh/issues/9669 so

[2020-11-16 17:31] #10690 closed

[2020-11-16 18:14] bryevdv commented on #10691
@EdTheEagle I am unable to reproduce any any problem with Bokeh 2.2.3 and Python 3.6.2 on Win 10 / Crome with the notebook server embed example in the repo:

<img width="791" alt="Screen Shot 2020-11-16 at 10 10 37 AM" src="https://user-images.githubusercontent.com/1078448/99291074-1a333880-27f4-11eb-83cb-7cbc9ab56577.png">

I except there is some local issue with your system but I would ask to co

[2020-11-16 18:14] #10691 closed

[2020-11-16 19:48] hyles-lineata opened #10694 "Clarify process for working on BokehJS locally"
**Is your feature request related to a problem? Please describe.**
When developing locally, including changes to BokehJS, the env var BOKEH_RESOURCES needs to be set to `inline` for the local js to be used and changes to show up.

This env var can be seen in an example in the Developer Guide under ["Next Steps,"](http://docs.bokeh.org/en/latest/docs/dev_guide/setup.html#next-steps) but I am propos

[2020-11-16 20:02] jgriffi6 opened #10695 "[BUG] MultiChoice options covered up by DataTable"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-11-16 20:34] mattpap commented on #10694
It doesn't have to, it's just one of possible options. Alternatively one could use `BOKEH_RESOURCES="server-dev"` with an accompanying `BOKEH_DEV=true bokeh static` resources server. This makes development much easier, allows to use source maps, etc.

[2020-11-16 20:38] mattpap commented on #10694
One should also consider https://docs.bokeh.org/en/latest/docs/dev_guide/bokehjs.html for any long term "working on bokehjs", though that focuses only on bokehjs development experience, independent of the client setup (e.g. Python vs Scala, etc.), though bokehjs is still biased towards Python (e.g. defaults' tests).

[2020-11-16 20:45] mattpap commented on #10695
Solution from PR #8718 can be applied here as well.

[2020-11-17 11:33] comatrion opened #10697 "[BUG] ScientificFormatter error formatting negative numbers"
#### Software version info
bokeh 2.1.1
python 3.7
chrome  78.0.3904.97 (Official Build) (64-bit)
macOS 10.14.6 Mojave

#### Description of expected behavior and the observed behavior
Context:
A table with a column of positive and negative floats, formatted with ScientificFormatter with parameters
```precision=3, power_limit_high=6, power_limit_low=-3```

Expect:
1. 0.123456 would be rendered as 0.

[2020-11-17 11:34] comatrion commented on #10697
Perhaps this line should replace `value` with `abs(value)`:
https://github.com/bokeh/bokeh/blob/branch-2.3/bokehjs/src/lib/models/widgets/tables/cell_formatters.ts#L123

[2020-11-17 21:11] hacklschorsch commented on #10572
Just a quick status update - sorry for letting this sit around for three weeks. [MentaLab](https://mentalab.com/) who I help out with some coding decided to sponsor this. Nice! Will come around swiftly.

[2020-11-17 23:49] JeremySMorgan commented on #10458
What was the resolution to this? I'm running bokeh 2.2.3 and am getting this issue.

Thanks

[2020-11-18 13:06] comatrion opened #10702 "[BUG] TextAreaInput value_input no change event detected"
#### Software version info
bokeh 2.1.1
python 3.7
chrome  78.0.3904.97 (Official Build) (64-bit)
macOS 10.14.6 Mojave

#### Description of expected behavior and the observed behavior
Context:
A `TextAreaInput` widget and a `Div` which is updated for changes on both `value_input` and `value`.

Expect:
1. That the `Div` text is updated on each keystroke, as described here https://docs.bokeh.org/en/l

[2020-11-18 15:40] #10697 closed

[2020-11-18 18:54] nitrocalcite commented on #10670
@bryevdv @philippjfr @jlstevens

This doesn't appear to be a Python-side issue.  I've tried forcing the `vertex_renderer` to update Python-side in various ways.  However, even when the `vertex_renderer` is drawn in the correct spot, or the data source is updated with the same data, the link is broken; dragging the points doesn't update the `ColumnDataSource`.  So, it appears that the logic connect

[2020-11-18 19:06] bryevdv commented on #10702
Confirmed in 2.2.3 and current `branch-2.3` Not sure if this is a regression or perhaps it has never worked properly

[2020-11-18 23:42] mattpap commented on #10296
This is actually a pretty serious design flaw of views and a result of adding support for asynchronous initialization without proper state management. What happens is that, if we have one level of layout nesting (a root with leaf children), then those children are initialized in a batch and signals are connected after all children are initialized. However, if there is more nesting, then there are

[2020-11-19 02:01] #10695 closed

[2020-11-19 02:05] #10702 closed

[2020-11-19 19:46] ghost opened #10706 "[BUG] DataCube not respecting 'target' arg on initial creation"
ref: https://discourse.bokeh.org/t/datacubes-target-and-collapsed-parameters/6759/2

The poster on this Discourse thread describes and illustrates a situation where the intent is to have the DataCube _fully expanded_ upon initial drawing, which it does not seem to want to do. I've been able to replicate this.

The OP is copying a printout of the contents of the 'row_indices' and 'labels' arrays of

[2020-11-20 09:43] torfsen opened #10709 "[FEATURE] Scrollable legends"
**Is your feature request related to a problem? Please describe.**

I have auto-generated plots with many lines. Users must be able to show/hide each of these via the interactive legend. However, due to the large number of lines, some legend entries are not shown.

**Describe the solution you'd like**

I would like to have an option to make my interactive legends scrollable, i.e. if the legend has

[2020-11-20 21:47] bryevdv commented on #10709
There's unfortunately not any way to make this happen for legends "inside" a plot, because they are drawn directly on and HTML canvas or webgl canvas, which is opaque as far as the DOM is concerned (it doesn't know anything about the contents inside the canvas or how or when to scroll. It might be possible for legends outside the plot to be DOM-based, but there is already an issue for this, so I w

[2020-11-20 21:47] #10709 closed

[2020-11-21 00:12] kir0ul opened #10712 "[FEATURE] Autoformatting"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to spend time on formatting issues in a review. I think these kind of issues add no real value to the project but are still time consuming.

**Describe the solution you'd like**
I think enforcing some autoformatting tool(s) in CI would avoid these kind of issues in the future.
Ideally it would also

[2020-11-21 00:42] bryevdv commented on #10712
I am a strong advocate of applying Black formatting throughout the Python codebase. But there has been some disagreement among the core team regarding it. However, recently we ratified a formal decision making process so we will to simply put the matter to a vote to resolve it.

I would also very much be in favor of auto-formatting the JS side, but have no particular opinion on what tools, and wou

[2020-11-21 12:06] #10339 closed

[2020-11-21 12:55] mattpap opened #10714 "Tag 2.3.0dev6 exists but the package is missing under bokeh/label/dev"
I suppose this is a bug in release automation.

[code]
[code]

[2020-11-21 13:59] torfsen commented on #10709
Thanks for the clarification, @bryevdv!

[2020-11-21 16:38] Hoxbro opened #10715 "[FEATURE] Add continuous_update to sliders"
**Is your feature request related to a problem? Please describe.**
I usually have my sliders connected to long running functions, which for example needs to open files, do some data analysis and then plot the data. The real-time feedback therefore becomes more of a burden than being helpful.

Right now I need to use the `value_throttled` instead of `value` for every callback. My suggestion would b

[2020-11-21 19:19] bryevdv commented on #10714
The deploy part is still manual and I just never got around to it. At this point I will probably just make a `dev7` this weekend and try to see if the CI deploy job can be moved forward a bit more.

[2020-11-21 19:19] #10714 closed

[2020-11-21 19:27] bryevdv commented on #10715
@Hoxbro I very much doubt we can do this, for a couple of reasons:

* It's duplicative of existing features, which is never good from a maintenance and documentation perspective.

* The mechanism with explicit separate properties fits much better with Bokeh's event system for technical reasons.

* In ~8 years of supporting Bokeh no one has ever asked about switching between throttled and continuou

[2020-11-21 19:27] #10715 closed

[2020-11-22 04:17] j-carson opened #10716 "[BUG] Hover tool over multi_line glyph spews errors to javascript console"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-11-22 10:53] mattpap commented on #10716
This is a duplicate of issue #10458.

[2020-11-22 10:53] #10716 closed

[2020-11-22 10:55] #9169 closed

[2020-11-22 10:57] #7845 closed

[2020-11-22 16:55] amoh-godwin commented on #10526
@epsilon-0 I strongly agree test are important for a project as big as bokeh. Currently, everything is breaking on my machine.
Do a:
`from bokeh.io import output_file`
and it tells you no name 'io' in module 'bokeh',  'bokeh' is not a package

But are you suggesting the tests be done on the user end or on the bokeh developer end? I am a bit confused. Forgive me

[2020-11-22 17:23] amoh-godwin opened #10717 "[BUG] ModuleNotFound error for every sub-module I try to import"
I seem to be getting a module not found error for everything that I import in bokeh.
So I decided to do the quickstart example located here: https://docs.bokeh.org/en/latest/docs/user_guide/quickstart.html#userguide-quickstart

[code]

I actually copied and pasted the code.

My specs:
python: 3.7.6 (Anaconda)
bokeh: both 2.2.3, and 2.3.0.dev5
OS: Windows 10

**I am not running it in a notebook but

[2020-11-22 17:42] xavArtley commented on #10717
Try to name your file differently than bokeh.py ?

Le dim. 22 nov. 2020 à 18:23, Amoh Gyebi Ampofo <notifications@github.com>
a écrit :

[2020-11-22 17:44] amoh-godwin commented on #10717
@xavArtley Thank you very, very much. Works brilliantly, like magic.

[2020-11-22 17:44] #10717 closed

[2020-11-22 18:14] jbednar commented on #10714
Thanks! Several of us are working on a new HoloViews release, testing changes that went into dev6, and so having either 6 or 7 installable in the next day or so would be really helpful!

[2020-11-23 03:28] bryevdv commented on #10526
@amoh-godwin We have many thousands of tests, they run on every single commit in CI. We also do smoke tests with the final release packages before publishing. Whatever issue you are seeing, it is almost certainly something to do with your local system configuration, and not a problem with the released conda or pip package. So, the appropriate place to seek support for that is the project discourse

[2020-11-23 03:28] #10526 closed

[2020-11-23 03:38] bryevdv commented on #10717
@amoh-godwin it is not magic -- Python has a defined search path order for importing modules and by naming your module `bokeh.py` you shadowed the installed bokeh package. That's just how Python works.

In the future, if you are not sure something is a bug, please post first on the community discourse for support: https://discourse.bokeh.org/

[2020-11-23 03:47] #9007 closed

[2020-11-23 05:37] bryevdv commented on #10594
discovered that `multi_line` is broken from precision on current `branch-2.3` @mattpap do you know if there is an issue?

[2020-11-23 06:08] bryevdv commented on #10405
@mattpap I think I see the proximate cause that the color swatch is black even though the value is set:

<img width="657" alt="Screen Shot 2020-11-22 at 10 06 43 PM" src="https://user-images.githubusercontent.com/1078448/99933173-1bda9000-2d0f-11eb-806c-6ebef34dde78.png">

But i don't know where or why the shadow dom parts come from (ignore the `defaultValue` that was just an earlier experiment)

[2020-11-23 10:29] mattpap commented on #10405
It comes from the browser (see "user agent" after "shadow dom"). This is how composite elements, like `<input type="color">`, are implemented.

[2020-11-23 12:05] xavArtley commented on #10405
Hello,

I'm not sure if it's not overkilling just to solve this bug, however some times ago I tried to implement a color picker without relying on the one implemented on each browser. (I needed a color picker when integrating a bokeh app using cefpython)

The developpements are in the following branch:
https://github.com/bokeh/bokeh/tree/xav/redesign_color_picker

If you think it can be interestin

[2020-11-23 15:34] amoh-godwin commented on #10717
@bryevdv Actually I immediately remembered the search path thing when he told me the solution. I was just trying to be funny.

[2020-11-23 15:36] amoh-godwin commented on #10526
@bryevdv the issue I was seeing was due to an internal system problem of my making. It has been fixed. Sorry.

[2020-11-23 16:52] bryevdv commented on #10405
@xavArtley appreciate the reference, though it's definitely my first preference to use the native color pickers if possible:

* much less code to maintain on our end
* browser-native look and feel

That said I don't know how to get this working on safari so maybe we will to to consider other options.

[2020-11-23 17:01] xavArtley commented on #10405
That's why I never open a PR.

[2020-11-23 17:05] bryevdv commented on #10405
What's also interesting is that after selecting a new color the widget and the  Bokeh model `color` property successully update (e.g. the linked line color takes effect) but the `value` of the DOM element never changes:

<img width="1187" alt="Screen Shot 2020-11-23 at 8 57 45 AM" src="https://user-images.githubusercontent.com/1078448/99991613-1e1e0800-2d6a-11eb-83f9-1586ae7c19eb.png">

I guess th

[2020-11-23 17:12] bryevdv commented on #10405
Setting `value` after the input is rendered does work, as can be seen in the first example here:

https://www.w3schools.com/jsref/prop_color_value.asp

I guess a test we could try in Bokeh is to add a post-render hook that the `ColorPicker` could use to set the `value` on *after* a render.

[2020-11-23 23:29] mattpap opened #10721 "CI is failing with ModuleNotFoundError: No module named 'bokeh'"
For example:

https://github.com/bokeh/bokeh/pull/10718/checks?check_run_id=1444690851
https://github.com/bokeh/bokeh/pull/10718/checks?check_run_id=1444690936

This happens in other PRs as well. I'm guessing this has something to do with setting up `PYTHONPATH`.

[2020-11-24 04:06] bryevdv commented on #10721
Well, it always seems to be the same three jobs: examples, js-tests, and docs. Not sure offhand what is different about those, or what changed.

[2020-11-24 04:24] bryevdv commented on #10721
I suspect this is the difference

#### Working
[code]

#### Failing
[code]

This doesn't affect all builds because no doubt some of them are using the install from the source tree. This is absolutely another reason we should start planning to move to a `src` tree layout and away from `bokeh/bokeh` to help make sure we are always testing from a built and installed package.

Anyway, I don't know off

[2020-11-24 04:31] bryevdv commented on #10721
Conda package build is failing (but the build job is not failing for some reason):
[code]

[2020-11-24 04:32] kir0ul commented on #10712
I'm also a huge fan of Black, which I apply everywhere :grin:

Not sure which option would be best on the JS side, [popularity would suggest Prettier](https://npmcharts.com/compare/standard,prettier,ts-standard,eslint-config-standard-with-typescript?log=true), but apart from that I wouldn't know.

Also for reference in case you'd prefer to apply the autoformatting in a more incremental way, here a

[2020-11-24 04:38] bryevdv commented on #10721
IIRC a new version of Anaconda was just released. Perhaps this is relevant.

[2020-11-24 06:29] ohmeow opened #10723 "[BUG] 404 trying to find autoload.js when running Jupyter notebook"
Running the example here: https://github.com/bokeh/bokeh/blob/2.2.3/examples/howto/server_embed/notebook_embed.ipynb returns the following Javascript error after the call to `show(...)`:

[code]

I am ssh'ng and into a remote machine and port forwarding from local port 9999 to 8889, so that my Jupyter notebook is accessible on my dev machine from `https://localhost:8889`.  I tried setting `noteboo

[2020-11-24 06:55] bryevdv commented on #10723
If this is a remote machine then some additional configuration will be needed. But support questions should be posed on the community Discourse, not the issue tracker

https://discourse.bokeh.org/

[2020-11-24 06:55] #10723 closed

[2020-11-24 08:45] #10721 closed

[2020-11-24 15:30] juhasch opened #10725 "[BUG] SVG backend mirrors image in plot"
I want to export a Bokeh plot as SVG. Following <https://docs.bokeh.org/en/latest/docs/user_guide/export.html>, I add
`plot.output_backend = "svg"`. This causes the image in the plot to be mirrored and shifted outside of the bounding box.

* System: Linux Mint 20 Cinnamon, Firefox browser
* Anaconda installation with:
  * bokeh                     2.2.3                      py_0    bokeh
  * pytho

[2020-11-24 20:13] #9847 closed

[2020-11-24 21:22] #10725 closed

[2020-11-24 21:30] #8489 closed

[2020-11-25 06:09] jgriffi6 commented on #10695
Just wanted to thank you all for the quick turnaround and I look forward to the next release!

[2020-11-25 09:16] #10662 closed

[2020-11-25 17:21] tcmetzger commented on #10685
This would be a great feature to have, in my opinion!

[2020-11-25 17:34] tcmetzger opened #10728 "[FEATURE] Linting for docs"
I'd like to add some basic automatic checking of narrative documentation to the CI by adding the Vale GitHub action https://github.com/errata-ai/vale-action. I have been using this system locally for a few months and have configured it to work with all the .rst files I have been editing and creating for Bokeh. With the configuration I have created, the linter would be a helpful tool to support con

[2020-11-25 18:38] #10413 closed

[2020-11-25 18:39] #10333 closed

[2020-11-25 19:17] bryevdv commented on #10728
(removed `status` -- only applies to PRs)

@tcmetzger looking at that action I think you can just add the Vale block there to one of the jobs in

https://github.com/bokeh/bokeh/blob/branch-2.3/.github/workflows/bokehjs-ci.yml

Could be either Docs or Codebase. FWIW the docs job currently takes ~15 min and the codebase ~9 min so strictly from an "even out the CI job througput" perspective, the code

[2020-11-25 19:18] tcmetzger commented on #10728
I'd try adding these steps to `.github/workflows/bokeh-ci.yml` in the section `codebase`:
[code]

[2020-11-25 19:20] tcmetzger commented on #10728
This is based on the vale action docs and my own tests.
Including `get_changed_files` for now seems to be the best way to only lint only changed files (instead of checking all docs every time). There will be a feature to switch to only checking modified files directly in the vale action, however this feature is not available yet (issue: https://github.com/errata-ai/vale-action/issues/27)

[2020-11-25 19:22] tcmetzger commented on #10728
I'd also have to add a `vale.ini` to the root directory of the repo. Unfortunately, the action does not yet support custom locations for the .init file (so far only supports root folder or an absolute URL)

[2020-11-25 19:23] tcmetzger commented on #10728
Information like a custom wordlist and some custom style instructions for Bokeh would go into a `.github/styles` folder.

[2020-11-25 19:25] tcmetzger commented on #10728
@bryevdv are you sure you meant `bokehjs-ci.yml` and not `bokeh-ci.yml`?

[2020-11-25 19:40] tcmetzger commented on #10728
If things work like I hope they will, this would mean that the CI checks only modified .rst files, if included in a commit. This linter will produce only `suggestions` and `warnings`. The only "error" this action will produce is when a .rst file uses words that are inappropriate and not inclusive, according to https://developers.google.com/style/inclusive-documentation#features-and-users (as discu

[2020-11-25 19:47] bryevdv commented on #10728
FYI in our secrets the name is `GH_TOKEN` but I dont know if that token has necessary / sufficient permissions for whatever this action does

[2020-11-25 19:52] tcmetzger commented on #10728
That'll be interesting to see... 😀

What would be the best way to test this setup? Open a pull request with all the changes described here?

[2020-11-25 22:21] bryevdv commented on #10714
@mattpap @jbednar Bokeh `2.3.0dev7` is published, this time using the GH deploy action entirely to publish pip, conda, and docs.

@mattpap there is no automation added to publish npm packages yet, this is an area where you will need to take the lead because you are the one with strong opinions about the policy. I'm happy to help with any questions about the code under `bokeh/release`

[2020-11-26 03:33] jbednar commented on #10714
Thanks; I was able to install 2.3.0dev7 from the dev channel!

[2020-11-26 12:14] mattpap commented on #10714
I started https://github.com/bokeh/bokeh/pull/10730 to get this sorted out.

[2020-11-26 14:03] phausamann opened #10731 "[BUG] Incorrect position of image with SVG backend"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

* ubuntu 18.04
* Python 3.6.10
* bokeh 2.2.3
* Chrome 86 / Firefox 83

#### Description of expected behavior and the observed behavior

When plotting an `image` with `output_backend="svg"`, the image is shifted downwards, i.e. the top edge of the image is where the bottom edge should be.

#### Compl

[2020-11-26 14:29] mattpap commented on #10731
This is a duplicate of issue #10725.

[2020-11-26 14:29] #10731 closed

[2020-11-26 15:46] phausamann commented on #10731
Whoops, my bad. Did a search in the issues but didn't think to look in the closed issues. Thanks @mattpap for the recent work regarding SVG support.

[2020-11-27 04:56] MarkSachinPerera commented on #10506
Hey, I am new to the project and I would like to take a crack at this.

[2020-11-27 05:07] rigidlab commented on #6378
@tobsecret Did you end up writing an custom RotationTool ?

Thanks

[2020-11-27 10:39] pablo-esteban opened #10733 "BOKEH_STRICT does not raise validation errors"
Hello,

I am plotting a rectangular grid where the axis labels are factors. If there are duplicated factors along any axis, as expected, an error should be raised. When I run my code I see:

[code]
If I set `BOKEH_STRICT=1` I don't see any difference. I was expecting an exception being raised.

In the validation section of the documentation I found the `check_integrity` function which I hoped woul

[2020-11-27 11:35] mattpap commented on #10733
Here's the offending code (since 2015):
https://github.com/bokeh/bokeh/blob/9dcbafe7a6b72d8e740ba85a1a1e0804080f6d9b/bokeh/core/validation/check.py#L128-L130

[2020-11-27 17:22] tobsecret commented on #6378
No, I am no longer working on this project.

[2020-11-27 18:11] bryevdv commented on #10733
Yah we just never turned it on. I'm still not sure I want to have validation errors always unconditionally raise executions, though, so this would require a little more th

[2020-11-27 18:30] bryevdv commented on #10506
@MarkSachinPerera Contributors come in with lots varying experience, please let us know where we can help with any guidance as you start taking a look.

[2020-11-27 18:43] MarkSachinPerera commented on #10506
Thanks! ill let you know if i need help 😄

[2020-11-27 21:23] pablo-esteban commented on #10733
At least, can the `check_integrity()` return an error list or something?

[2020-11-27 22:23] bryevdv commented on #10733
Well we can't have  `check_integrity` return the error list and also potentially be the place that would raise exceptions on errors (some day), since that combination would be very muddled API. However if we want to have `check_integrity` return errors *only*, and punt the potential exception raising downstream to where `check_integrity` is called:

https://github.com/bokeh/bokeh/blob/f7538e1da384

[2020-11-27 22:32] bryevdv commented on #10733
Regarding the env var, if anyone want to tackle that at the same time, I think I would recommend getting rid of `BOKEH_STRICT` and replacing with `BOKEH_VALIDATION_EXCEPTIONS` with values

* `"none"` logs errors and warnings, no exceptions (default)
* `"errors"` logs warnings, exceptions on errors
* `"full"` exceptions on errors or warnings

[2020-11-27 23:12] arefeena commented on #9378
Hey, I am new to the project and I would like to take a crack at this.

[2020-11-27 23:15] Ravi-R-Singh commented on #2230
Hi,

I've been reading up on the project and contributions, and I'd like to take on this task!

[2020-11-27 23:15] bryevdv commented on #9378
@arefeena We would love to have your contribution. New contributors arrive with a wide variety of experience we can't predict, so please let us know where we can help provide guidance once you start to take a look.

[2020-11-27 23:43] bryevdv commented on #2230
@Ravi-R-Singh We would love to have your contribution. New contributors arrive with a wide variety of experience we can't predict, so please let us know where we can help provide guidance once you start to take a look.

[2020-11-28 10:34] mattpap commented on #6572
Defaults now can depend on other properties and this requires model instance to compute.

[2020-11-28 10:34] #6572 closed

[2020-11-28 10:38] mattpap commented on #6345
canvas2svg was integrated into bokehjs' core in PR #10402.

[2020-11-28 10:38] #6345 closed

[2020-11-28 10:55] mattpap commented on #7848
At some point we switched to minification of individual files and also use aggressive caching, so that building bokehjs' bundles takes a few hundred milliseconds with warm cache.

[2020-11-28 10:55] #7848 closed

[2020-11-28 11:06] #9297 closed

[2020-11-28 12:29] mattpap commented on #1426
I think this is finally fixed:
[code]
Entries in `annotations` module refer only to vectorizable annotations.

Similarly bokehjs has a strong distinction between scalar and vector mixins.

[2020-11-28 12:29] #1426 closed

[2020-11-28 13:11] mattpap commented on #9652
I think this was resolved by introduction of `ci/environment-*.yml` files (PR #10058).

[2020-11-28 13:11] #9652 closed

[2020-11-28 13:16] mattpap commented on #9858
This was done in PR #10730. Prerelease packages will be published under `dev` tag.

[2020-11-28 13:16] #9858 closed

[2020-11-28 13:24] #6781 closed

[2020-11-28 13:29] mattpap commented on #9910
This was completed in PR #10698. `Circle` and `Scatter` glyph models were kept, as well as all existing marker functions (they now return `Scatter` glyph instances). Marker models were converted to functions (returning `Scatter` glyph instances) and deprecated (to be removed in 3.0). I think we don't need issues for deprecations, so I'm going to close this one.

[2020-11-28 13:29] #9910 closed

[2020-11-28 13:43] #10332 closed

[2020-11-28 13:48] mattpap commented on #10576
PR #10677 adds support for `transparent` keyword.

[2020-11-28 18:51] mattpap commented on #8260
Visual integration tests should be added to bokehjs' `test:integration`. I added a test for PR #8256 in PR #10737.

[2020-11-28 19:18] #8260 closed

[2020-11-28 20:11] bryevdv commented on #10689
@EdTheEagle can you please make the code snipped above *complete* so that is may be easily copy and pasted for testing?

@mattpap thoughts here? the `width` docs state:

So can can believe that current practice might require a more explicit `width_policy` or `sizing_mode` somewhere (in which case this can be closed) but let me know what you think.

[2020-11-28 20:13] bryevdv commented on #10668
@philippjfr Did you want to submit a fix for 2.3?

[2020-11-28 20:14] bryevdv commented on #9341
This is done

[2020-11-28 20:14] #9341 closed

[2020-11-28 20:50] philippjfr commented on #10668
Will do.

[2020-11-28 20:51] bryevdv opened #10738 "[BUG] MultiLine datetime precision loss"
[code]

<img width="640" alt="Screen Shot 2020-11-28 at 12 51 15 PM" src="https://user-images.githubusercontent.com/1078448/100525842-76914300-3178-11eb-81a1-4201845a4766.png">

[2020-11-28 20:52] bryevdv commented on #10594
Have gone ahead and made separate https://github.com/bokeh/bokeh/issues/10738 with MRE for multi line

[2020-11-28 20:54] bryevdv commented on #10738
My initial speculation is that the loss of precision affects any nested arrays case (so probably also `patches` etc)

[2020-11-28 20:55] mattpap commented on #10738
This is due to `RaggedArray` using `NumberArray` internally. This is one of those code paths I mentioned before (in a meeting).

[2020-11-28 21:03] mattpap opened #10740 "Allow arrow heads to inherit visuals from arrow annotation"
When creating a test in PR #10739, I had to set `line_width` twice, once in `Arrow` and the other in `OpenHead` arrow head. It would be useful to have arrow head to inherit visuals by default, but still allow them to be overridden. I would introduce `"inherit"` keyword (similar to `"auto"`) that would indicate inheritance.

[2020-11-28 21:13] bryevdv commented on #10738
@mattpap yup, just traced it. FWIW here is a diff that fixes, I expect there is a cleaner solution (I ran in to type issues trying to resolve in a singe `RaggedArray` class)

[code]

[2020-11-28 21:43] bryevdv commented on #10667
@swamilikes2code do you still plan to submit a PR? We need to have this done for the 2.3 release so unless you expect to have a PR in the next day or two before the code freeze, then we will need to work on it instead.

[2020-11-28 22:01] bryevdv commented on #9636
@bokeh/core I am raising the following proposal for a formal decision:

Please record your votes on this comment with 👍 / 👎 (@bokeh/core only)

I am setting a timebox for this until December 7th, at which point I will record the result below, with a screenshot of this comment.

I believe I have made my affirmative case for this proposal above, but I am happy to expand on or discuss any specific tp

[2020-11-28 22:08] #10136 closed

[2020-11-28 22:12] psebby commented on #7826
I was able to work around this issue by making each app be a package (probably not a bad idea in any case) and then use a local-package import.  For the minimal example:
* In each app directory, create an empty \_\_init__.py to mark it a package.
* In each main.py, change **`import layout`**  to  **`from . import layout`**

After that, accessing /app1 and then /app2 in a browser shows both imports

[2020-11-28 22:19] bryevdv commented on #7826
👍 Now that this an option, his is the simply best practice for modern python in any case

[2020-11-28 22:22] bryevdv commented on #10712
Since there were no comments re: "maintainer roles" I've opened a narrower decision for just Black formatting the Python code base here: https://github.com/bokeh/bokeh/issues/9636#issuecomment-735295845

Will leave this issue open to discuss any auto-formatting for BokehJS outside that decision.

[2020-11-28 22:23] bryevdv commented on #9636
Also FYI there are currently two paths already under Black formatting, if anyone would like to take a look at what it looks like:

* https://github.com/bokeh/bokeh/tree/branch-2.3/release
* https://github.com/bokeh/bokeh/tree/branch-2.3/bokeh/sphinxext

[2020-11-29 02:06] MarkSachinPerera commented on #10506
Link to new code: https://github.com/MarkSachinPerera/bokeh/commit/3df6917a8fa1d5d954eefa70c32990c2b391c1ac

So running this piece of code:

[code]

Here the new `hideColorValues` option will hide any text (string  representation or hex representation) from the fill color tag.

Some screen shots:
![image](https://user-images.githubusercontent.com/34218455/100530102-136cd400-31ab-11eb-958b-52bbdfec

[2020-11-29 03:43] bryevdv commented on #10506
@MarkSachinPerera My interpretation of the above is to allow:
[code]
This decouples swatch inclusion from color string formatting. So for compatibility, this should still work:
[code]
but we can deprecate that usage, and encourage this instead:
[code]

[2020-11-29 12:39] swamilikes2code commented on #10667
Bryan, I can't wrap it up in the next day or two. Please proceed as I can't
submit a PR.

I am having trouble setting up Sphinx documents environment on my machine.
Will try to figure it out in the upcoming week. Will start contributing to
documentation after that.

On Sat, Nov 28, 2020, 16:43 Bryan Van de Ven <notifications@github.com>
wrote:

[2020-11-29 17:36] MarkSachinPerera commented on #10506
ahh okay. I will update this accordingly.

[2020-11-29 18:28] bryevdv commented on #10667
@swamilikes2code no problem let us know how we can help on other issues in the future!

[2020-11-29 18:32] bryevdv commented on #9636
I would also add one more reason to do this: We are having trouble turning on CI for Python 3.9 due to issues upgrading to isort 5, but isort 5 now has various profiles including one to work with black automatically.

[2020-11-30 15:26] EdTheEagle commented on #10689
I've added the imports in the code above. Played around with width_policy and sizing_mode, but no success unfortunately

[2020-11-30 16:10] pablo-esteban commented on #10733
I'll do it. I just need to setup the dev environment...

[2020-11-30 19:10] bryevdv commented on #10733
@pablo-esteban awesome let us know if we can help with questions. FYI this is all pure python-side you you could probably skip all the BokehJS building parts if you really want to.

[2020-11-30 23:32] MarkSachinPerera commented on #10506
Link: https://github.com/MarkSachinPerera/bokeh/commit/e9a12947684acfa445f3e1ed7a149dd295c4da34

I updated the code as requested. I defined a new special variable called "swatch" which decouples the swatch functionality from the color field. Now, you can add the swatch element to any field you want.  In addition, the code is backwards compatible so that the swatch option continues to work for the

[2020-12-01 00:50] tmorrell opened #10744 "[BUG] Stamen Images Broken in Documentation in Chrome"
In https://docs.bokeh.org/en/latest/docs/reference/tile_providers.html#bokeh-tile-providers with Chrome 87.0.4280.67  the Stamen examples are broken because they use http links. This was fixed in the tile provider https://github.com/bokeh/bokeh/commit/c42199633e2a1a6a515afb1dfeaa1e2ccb0d7c34, but not in the docstring.
![Screen Shot 2020-11-30 at 4 46 20 PM](https://user-images.githubusercontent.co

[2020-12-01 01:11] bryevdv commented on #10744
Thanks @tmorrell would you like to submit a PR to update the URLs?

[2020-12-01 02:36] #10744 closed

[2020-12-01 02:53] #10668 closed

[2020-12-01 02:55] bryevdv commented on #10405
I'm removing `GFI` since there is not actually a good clear solution known to exist. Also moving out of 2.3

[2020-12-01 02:56] bryevdv commented on #10408
I've lost my local work on this, and it does not seem like a priority. Moving out.

[2020-12-01 03:14] bryevdv opened #10746 "Make figure a class?"
Should we move to have `figure` function become the class that `Figure` is? The function/class dichotomy exists for historical reasons, when the `Figure` class needed extra work "wrapped" around it. This is no longer the case, but the now-trivial `figure` syntax is all that has been demonstrated for eight years (it is *definitely* not worth it to move away from). However this situation creates som

[2020-12-01 04:55] arefeena commented on #9378
@bryevdv looks like I got it working on my branch: [arefeena/9378_tooltip_arrow_styling](https://github.com/arefeena/bokeh/tree/arefeena/9378_tooltip_arrow_styling)

I ran the `examples/app/gapminder` demo, replacing the existing `HoverTool` creation (L51) with the following (`black` could be replaced with any CSS colour-like string e.g. `#000000` or `rgb(0, 0, 0)` etc.):
[code]

It looks like thi

[2020-12-01 12:56] bahrikutlu opened #10747 "[BUG] WebGL output backend not working on some Apple mobile devices"
https://docs.bokeh.org/en/latest/docs/user_guide/webgl.html

I am able to use this feature successfully on a PC, Iphone 11 and Iphone XR. However, the charts are not rendering on Apple Ipad devices. Specifically, I tried it on an iPad 5th gen and couple more ipads on Browserstack (ipad 6th, 7th and 8th gen). The test on 5th gen was on a real device in my hands but the other three were on Browserst

[2020-12-01 21:47] krouk commented on #7338
just hit the use case which would benefit from this enhancement. My particular case is by pointing to at figure.line hightlight corresponding glyph at other plot. And disable highlight once pointer is moved from the line. Since line is very thin pointer almost never exactly on it. I used other workaround to avoid overloading plot with additional glyph but by tracking pointer position instead - if

[2020-12-02 02:55] chrisjdixon opened #10748 "[BUG] DataTable documentation suggestions"
[I was confused by DataTables and their documentation](https://discourse.bokeh.org/t/printing-df-as-datatable-why-arent-columns-adjusting-in-width/6824) and couldn't work out which setting made columns automatically adjust their width. The ever helpful @hyles-lineata kindly pointed me to [autosize_mode](https://docs.bokeh.org/en/latest/docs/reference/models/widgets.tables.html#bokeh.models.widgets

[2020-12-02 04:10] bryevdv commented on #10583
This seems nice to have, but I am moving it out of 2.3

[2020-12-02 04:19] bryevdv commented on #9923
Changing to `feature`, but noting that this should be implemented in a "policy" fashion as described here  https://github.com/bokeh/bokeh/pull/10649#issuecomment-723710371

[2020-12-02 05:42] dynexcel-ddc1 commented on #10046
@sbonaretti How did you solve the issue? I am facing same problem..Can you discuss the solution please.

[2020-12-02 05:46] yaseenjamii814 commented on #10046
@sbonaretti How did you solve the issue? I am facing same problem..Can you discuss the solution please.

[2020-12-02 07:31] lyijin opened #10749 "[BUG] Plaintext copy-pasted from DataTable has a different order"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 2.2.3
Python 3.9.1rc
Debian sid
Vivaldi/Chrome, same behaviour on both browsers

#### Description of expected behavior and the observed behavior
I have an app that generates a DataTable based on lasso-ed points on the main plot. I've always felt that selecting text from DataTable was a bit cumb

[2020-12-02 09:02] #10508 closed

[2020-12-02 18:35] bryevdv opened #10751 "[FEATURE] New Indicator Marker (or annotation?)"
ref: https://discourse.bokeh.org/t/refactoring-custom-markerview-from-v2/6156

The current triangle marker is face-centered, but a the linked discourse post brings up a valid and not-common need for a point-centered triangle that can be used as an "indicator". This could be added very as a new "indicator" marker, or it could be added as some sort of new annotation.

This can't be accomplished curr

[2020-12-02 20:29] bryevdv commented on #9636
@mattpap reminder that if you want to make a case against this, you have until Dec 7th.

[2020-12-03 03:34] robin198559 opened #10752 "[BUG] PIL is dead; Should replace it with Pillow"
In "bokeh\core\property\visual.py", the PIL package is no longer available.

import PIL.Image

[2020-12-03 03:37] #10752 closed

[2020-12-03 03:37] bryevdv commented on #10752
pillow is a for of PIL with the exact same API

[2020-12-03 23:43] nritsche opened #10753 "[FEATURE] Image comparison slider for graphs"
I would like to have a comparison slider like https://github.com/CodyHouse/image-comparison-slider. Especially for heatmaps. Would this be possible in bokeh?

[2020-12-04 00:15] bryevdv commented on #10753
The GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please considere [Discourse site](https://discourse.bokeh.org) or  [Stack Overflow](https://stackoverflow.com/).

[2020-12-04 00:15] #10753 closed

[2020-12-04 00:19] nritsche commented on #10753
This was a feature request.

[2020-12-04 00:24] bryevdv commented on #10753
Yes, but the best place to experiment with this would to try wrapping some existing third-party library as a Bokeh custom extension, and the Discourse is still the best place for that.

[2020-12-04 20:11] bryevdv opened #10754 "[BUG] Hover indices broken"
ref: https://docs.bokeh.org/en/dev/docs/user_guide/interaction/callbacks.html#customjs-for-specialized-events

`cb_data.index.indices` is now undefined, I would regard this is a showstopper (I discovered this because I have current support questions about using this callback on hover feature)

We should not break this without a deprecation since it is clear that users do rely on it.

[2020-12-04 20:47] mattpap commented on #10754
Thanks to documentation jumping around I discovered a regression in https://docs.bokeh.org/en/dev/docs/user_guide/interaction/callbacks.html#customjs-for-ranges.

[2020-12-04 20:48] mattpap opened #10755 "Unequal length columns cause size mismatch error"
See e.g. https://docs.bokeh.org/en/dev/docs/user_guide/interaction/callbacks.html#customjs-for-ranges (open JS console).

[2020-12-04 20:49] mattpap commented on #10754
I guess I will fix both at the same time.

[2020-12-04 21:32] bryevdv commented on #10755
Honestly it would probably be better to have the example use a `BoxAnnotation` at this point (not an option when the example was first created)

[2020-12-04 22:53] bryevdv commented on #10749
@lyijin we do really need a minimal reproducer to be able to run and investigate.

[2020-12-04 22:59] sggaffney opened #10756 "[BUG] Jitter caching too aggressively"
#### Versions
bokeh 2.2.3 (via conda 4.8.3); Mac OS X 10.15.7

#### Description of expected behavior and the observed behavior
Scatter points jittered on a categorical axis don't move when the categorical factor range (provided as `range` parameter) is modified. In a [Discourse thread](https://discourse.bokeh.org/t/6848), Bryan put this down to a "deficiency in the current caching behavior of the

[2020-12-04 23:00] bryevdv commented on #10756
`Jitter` should cache the offsets, not the final values.

[2020-12-04 23:17] bryevdv commented on #10747
I can repro this on my ipad. I doubt there is anything we can do in the immediate/short term. The longer term plan is to re-found webgl on top of ReGL which itself is more extensively platform tested than we will have the resources to achieve. If you expect your primary audience to be on mobile safari then I would say it is advised to avoid webgl at present.

[2020-12-05 00:45] lyijin commented on #10749
Sure thing, sorry for being lazy initially.

I plagiarised the example code provided by Bokeh for DataTables, and modified the "Downloads" column to a modulus to make it sortable in a predictable manner.
https://docs.bokeh.org/en/latest/docs/user_guide/interaction/widgets.html

[code]

This screenie shows copy-pasting from the default order. Again, the indices aren't sorted by numeric order.
![ima

[2020-12-05 07:52] garvk opened #10758 "New DataTable Feature Request: Option to make all selected rows in a DataTable non editable (until they are deselected)"
Hello,

My DataTable is connected to a graph and the user is allowed to make changes to the DataTable rows. And in order to plot the changes made to the data table, the user is required to ‘select’ the table row by ticking the checkbox in the index of the table.
(Please find a reference photo in the link at the end of the message)

Now, I want to disallow the user to make any changes to the row th

[2020-12-05 13:07] mattpap commented on #10747
@bahrikutlu, can you provide basic information (per issue template) which would allow us to assess this bug (e.g. are there any console messages?).

[2020-12-05 13:11] bahrikutlu commented on #10747
@mattpap I wasn't able to get any console message since I don't have a setup to have access to console on IOS devices. As I have mentioned the bug can be reproduced on official Bokeh page that I have provided in my first message.

[2020-12-05 14:46] #3674 closed

[2020-12-05 15:54] #10754 closed

[2020-12-05 18:01] mosc9575 opened #10763 "[FEATURE] Add format options like pre- and poststing to NumeralTickFormatter"
**software version info (bokeh, python)**

Python: 3.6.10
Bokeh: 2.2.3

**Idea and solution**
I lately tried to call the NumeralTickFormatter on an axis and then I wanted to add a postfix to the generated string. I was not able to do it but in the documentation it is mentioned that bokeh uses http://numbrojs.com which already has this options.

I thought it would be cool and helpful to extend the

[2020-12-05 19:18] bryevdv commented on #10763
@mosc9575 you can already add whatever you want after a formatted field in the string , e.g.
[code]
This is simpler and more general (works with any formatter) There is no need to make the formatter syntax (which is already substantially complicated) even more complicated.

[2020-12-05 19:18] #10763 closed

[2020-12-05 20:35] ianthomas23 commented on #10747
To keep all interested parties informed, I have started working on a webgl rewrite and should have something to demonstrate in a few weeks time, although Christmas may interfere with this.

[2020-12-05 21:49] #10755 closed

[2020-12-06 11:03] bsaintmichel opened #10765 "[FEATURE] Allowing native Bokeh server apps on Visual Studio Code"
### My problem / request

Hi,

(This post is related to what [I thought was a bug in the Jupyter extension of Visual Studio Code](https://github.com/microsoft/vscode-jupyter/issues/4132) and is actually more of a missing feature in Bokeh)

I am working with Bokeh and Jupyter Notebooks in Visual Studio Code because, well ... I like them. After a bit of fiddling with Server Apps for animated plots (

[2020-12-06 11:17] Konntroll commented on #10539
Will take server.rst now.

Should hopefully have more time to work on these in about a week. For now end-of-the-year surge at work is eating up lots of time and energy.

[2020-12-06 17:05] markgacoka opened #10767 "[BUG] Link to Installation Documentation on Github README is broken"
Hello,

I was browsing through the repository readme and realized that the Installation link is broken. The page that links to https://docs.bokeh.org/en/latest/docs/first_steps/installation.html when instead it should link to https://docs.bokeh.org/en/latest/docs/installation.html.

I am using Chromium Version 87.0.4280.88 (Official Build) snap (64-bit) on Linux but the link is also broken in the

[2020-12-06 18:23] bryevdv commented on #10767
Hi @markgacoka appreciate the issue and the PR and we would love to have more contributions in the future!

In this specific case though, the link is currently broken because it was already updated to what will become the new location when the next release comes out. Since that should be in the nexts few weeks,I think it is better to just leave things as they are so that it's not necessary to do e

[2020-12-06 18:23] #10767 closed

[2020-12-06 18:34] bryevdv commented on #10765
Unfortunately the work necessary to allow this to happen is not ours to do. The Jupyter project has been adamant for years that there will not be a Python API to determine what the current browser URL is (or even whether the front-end is a browser at all). I regard this as an ideological position on their part at this point, and do not expect it to ever change. So users will always be required to

[2020-12-06 19:16] bryevdv commented on #10749
cc @mattpap ^^^ possibly another datetime precision loss codepath?

[2020-12-06 19:22] bryevdv commented on #10749
In any case I can repro the copy-paste issue with the longer example table sorted by downloads. We do actually have CI tests to check copy-past order for data table but evidently they don't capture whatever is going on here.

[2020-12-06 21:48] tcmetzger commented on #10539
I'm working on styling.rst!

[2020-12-06 21:53] tcmetzger commented on #10767
@markgacoka Thank you for noticing! Like @bryevdv said, I have just recently updated this link in the 2.3 branch to point to a new URL that will be available as soon as the documentation for 2.3 is published (the same is true for the link to the "first steps guides" right below it). I'm sorry about the confusion - we'd love to have more contributions from you in the future! If you are interested i

[2020-12-06 22:46] mattpap commented on #10712
I think this is a good idea and I'm happy to proceed with this in near future.

[2020-12-07 00:30] mattpap commented on #9636
I'm not in favour of auto-formatting in general and black in particular. Even if I liked its output, I still would be against it. Black's output is far from ideal, but with line length set to a decent number, it's at least bearable to work with, and something I may get used to at some point. What I don't want to see, is a codebase that has lines broken for the sake of it, making it impossible for

[2020-12-07 02:53] bryevdv commented on #10712
👍 OK we should probably propose a new section for the "Roles" BEP in a new issue that describes what exactly the responsibilities are

[2020-12-07 02:54] bryevdv commented on #10712
I'm going to go ahead and close this discussion now that #9636 is resolved

[2020-12-07 02:54] #10712 closed

[2020-12-07 02:58] bryevdv commented on #9636
OK this has passed (see screenshots recorded below)

As you note our long line length should produce acceptable results in most instances but I do plan on looking out for any trivial changes that make specific improvements even after formatting.

<img width="392" alt="Screen Shot 2020-12-06 at 6 54 17 PM" src="https://user-images.githubusercontent.com/1078448/101304201-8f42ce00-37f4-11eb-807a-63b6

[2020-12-07 06:18] lyijin opened #10769 "[BUG] Dates in DataTables appear as zero-epoch"
As requested by @bryevdv on issue #10749.

Dates in DataTables all appear as zero epoch (1970-01-01), despite them actually having valid dates in those table cells. Best illustrated by the DataTable section in the official widget documentation
https://docs.bokeh.org/en/latest/docs/user_guide/interaction/widgets.html
(I hope this skips the need for a minimal repro code :D)

Copy-pasting the values

[2020-12-07 10:07] floschl commented on #9752
just stumbled upon the same issue. Is there a quick fix for this?

[2020-12-07 11:03] nixie commented on #9752
Hi,
I finally "solved" it by computing absolute rectangle vertice coordinates after rotation inside my code (simple trigonometry) and then used [p.patches](https://docs.bokeh.org/en/latest/docs/reference/plotting.html#bokeh.plotting.Figure.patches) for plotting such polygons. The hover tooltip then works as expected and the code becomes more general.

Here is the conversion function (line + line t

[2020-12-07 17:14] rchiodo commented on #10765
@bryevdv not having looked at what/how bokeh is communicating with the server, is it similar to how ipywidgets work? Are you talking to the kernel from javascript?

So if there was say something mimicing the kernel on localhost:8888, then it might just work? We've been discussing something similar here:
https://github.com/microsoft/vscode-jupyter/issues/3998

That would run a proxy server for jupy

[2020-12-07 17:21] bryevdv commented on #10765
The question is a bit vague to answer. Bokeh is talking to itself over a websocket. The BokehJS client code on the front end opens a websocket connection to the Python Bokeh Tornado app. In the case of the notebook the relevant tornado code has been installed on the notebook's `ioloop`. We use our own websocket, and don't rely on notebook comms (most of use of the Bokeh server does not involve the

[2020-12-07 17:26] bryevdv commented on #9752
@floschl generally speaking, if there are no updates in the issue, then there are no updates at all, so it's not necessary to ask this question.

[2020-12-07 18:11] floschl commented on #9752
@nixie, great idea thank you very much for this workaround, this helps a lot!

@bryevdv , I did rather mean to ask for a workaround of this issue and promptly @nixie gave showed one.

[2020-12-08 06:00] #5676 closed

[2020-12-08 06:00] #9951 closed

[2020-12-08 06:00] #10576 closed

[2020-12-08 07:24] bryevdv commented on #10666
@mattpap just double checking, did we agree to move this to `next` at the last meeting? I would say current performance is better than the linked comment but still noticeably worse than 2.2.3

[2020-12-08 09:31] mattpap commented on #10666
It was accidentally moved. I already have a fix, so a PR will follow later today or tomorrow.

[2020-12-08 10:21] Vel-San commented on #10205
+1 For this!

(Old Request #10149 )

[2020-12-08 10:27] Vel-San opened #10771 "[FEATURE] Inverse legend selection (Hide/Show)"
There is currently a hide/show legends drawn on graphs, but i am not really sure if there is 'Inverted' selection. Once we select 1 legend, ALL other legends are hidden automatically, instead of hiding the selected one.

Same goes for selecting 2 legends, 3 etc..

**Describe alternatives you've considered**
To be fair, there is no alterantive for me. I had to work with the current funtionality 😄

[2020-12-10 06:09] wenjaylfw commented on #10619
Hello I haven't been able to work on this issue since I last commented but I am working on it now! Just a quick question, if I make an edit in BokehJS do I not need to comment the code? I didn't see any comments in the typescript files.

[2020-12-10 18:52] znstrider opened #10773 "Svg element not showing when saving plot"
I am trying to save a plot that includes svg elements.

When I specify the relative svg path, the svg element will show on the plot, but not in the png that I save.
When I specify the absolute svg path, the svg element will not show on the plot, but do so in the png when I save it.

The minimal example would be:

[code]

This is happening both when working in a notebook or using a server app and w

[2020-12-10 19:09] bryevdv commented on #10771
I didn't realize there is already an issue for this: https://github.com/bokeh/bokeh/issues/8841 so accordingly I will close this as a dupe.

@Vel-San please feel free to chime in on the other issue. What it comes does to is that once you actually start getting in the weeds there are actually some hard to resolve (or at least as-yet-unresolved) questions about discoverable UX, what to do with multi

[2020-12-10 19:09] #10771 closed

[2020-12-10 19:14] bryevdv commented on #10773
There are two main obstacles to having VG output work `image_url`:

* Unlike every other glyph (except map tiles), `image_url` has to asynchronously load remote resources over the network. the standard render path takes care to make sure to re-render after the load finishes, but I am not offhand sure that the SVG render path does that at all (i.e. it might be converting to SVG before the image req

[2020-12-10 19:41] mattpap commented on #10773
`ImageURL` glyph works with SVGs, as demonstrated in:
https://github.com/bokeh/bokeh/blob/2af103f86050fff34a5ba562803c24821b510d15/bokehjs/test/integration/regressions.ts#L75-L101
Though this uses in-line images. I will need at least JS console output and preferably a complete example to resolve this.

[2020-12-10 20:59] znstrider commented on #10773
As I hopefully worded more clearly now, the svg specified for the image_url _**does**_ show on the plot when provided the relative path, ie "project_name/static/image.svg" but it disappears when the image is saved.

But strangely it does show in the saved png when provided "/Users/user_name/project_name/static/image.svg" but not on the plot output.

Is this the JS console output you are asking for

[2020-12-10 23:19] bryevdv commented on #10619
@wenjaylfw There is no hard and fast rule. If you think the code is tricky or confusing or has some special considerations that should always be recalled, then it is good to leave a comment explaining why that is. (In general, comments for "why" somethings the way it is, are much more useful than "what" comments that just restate what the code does in plain language)

[2020-12-11 04:28] oviquezr opened #10774 "[BUG] Unable to update plot.title in BokehJS"
#### Version info
bokeh-*-2.2.3.js, including bokeh-api

#### Description of expected behavior and the observed behavior
- `plot.title = "new title"` fails to update rendered title
- the instruction does update the object records as scoped via console
- changing`plot.title_location` doesn't move title as expected (see caveat)

A caveat to these two behaviors:
- the title_location change does event

[2020-12-11 04:35] bryevdv commented on #10774
Plot titles are objects, not simple strings. You have to change `plot.title.text = "new title"` (in fact this is what was demonstrated in the links above). As a gentle suggestion, please consider visiting the support forums first in cases where it is not 100% certain something is a bug. If something is a bug we will suggest opening an issue with details.

[2020-12-11 04:35] #10774 closed

[2020-12-11 04:44] oviquezr commented on #10774
The title certainly behaves as an object in Python, where I can change `plot.title.text = "new title"` without issue.
**However**, I'm trying to do this with BokehJS alone, where I get that `var plot = Bokeh.Plotting.figure(title="some title")` yields:
[code]
I tried assigning a Title() object instead of a string when creating the plot, but I got no title rendered in that scenario.

[2020-12-11 05:17] wenjaylfw commented on #10619
Thanks for the reply! I have another question though, I added date format as a prop of the Date Picker class and option to the DatePickerView and a class variable of the python class but when I try and pass in a value to that variable I get an error saying TypeError: Cannot read property 'set_value' of undefined. Is there some intermediate step that I need to modify between the python class defini

[2020-12-11 07:07] bryevdv commented on #10774
@oviquezr evidently the JS side handles plain string init differently from the python side. You will need to initialize with a title object. This works for me in the fiddle:
[code]
including an update in a callback with `p.title.text = ...`

As this is really a usage question I ask that any further discussion happen on the discourse, and not here on the tracker.

[2020-12-11 07:09] bryevdv commented on #10619
@wenjaylfw I can't actually tell exactly what you have done from that description. The best way to avoid ambiguity and guessing is for you to submit a WIP PR so that we can discuss actual code (and discuss it on the PR, not this issue)

[2020-12-11 11:56] cirnod opened #10775 "[BUG] Automatic resizing not working when zoom is used"
### Software Version Info
Python: 3.8.5
bokeh: 2.2.2
OS: Linux Mint 20 Cinnamon
Browser used to display generated html: Firefox 83.0 (64-bit) and Google Chrome Version 86.0.4240.183 (Official Build) (64-bit)

### Description of expected behavior and the observed behavior
In a plot with two or more VArea glyphs and `y_range` set to ` DataRange1d(only_visible=True)` ([docs](https://docs.bokeh.org/en

[2020-12-11 17:56] bryevdv commented on #10203
@mattpap I know there was some work recently on scalar/vectorized properties. Should this issue still be open? If so, should it be `GFI`?

[2020-12-11 18:05] mytan310 commented on #10733
@pablo-esteban Are you still planning on working on this? I can work on it if you are okay with it!

[2020-12-11 18:45] hyles-lineata opened #10776 "[FEATURE] LineLegendItem and FillLegendItem"
**Is your feature request related to a problem? Please describe.**
Annotations, colored axes, and other non-glyph elements of a plot have not been available to list in a Legend as it is written today.

**Describe the solution you'd like**
Two new LegendItem types:
- LineLegendItem: a line with visual properties set (e.g. for identifying colored axes or spans)
- FillLegendItem: A filled rect with v

[2020-12-11 19:45] wenjaylfw commented on #10619
Ok, will do

[2020-12-12 07:54] YosephKS commented on #10756
@bryevdv @sggaffney hey guys, is anyone working on this issue? I am new to this repo and would love to contribute first time.

[2020-12-12 15:42] comatrion opened #10778 "[BUG] Value and label not synced for Select widget"
#### Software version info
bokeh 2.1.0
chrome  78.0.3904.97 (Official Build) (64-bit)
macOS 10.14.6 Mojave

#### Description of expected behavior and the observed behavior
Context:
* bokeh server application
* a `Select` widget with options in the form `List ( Tuple ( String , String ) )`
* a callback which changes the option labels

Expect:
- can change options and reselect value on server, chang

[2020-12-12 18:48] wenjaylfw commented on #10619
Hello I submitted a WIP PR but am still unable to figure out what is causing the error. Between the python class and typescript class is there another definition that I need to alter?

[2020-12-12 19:31] wenjaylfw commented on #10619
On further testing, it seems like changes made to the ts files aren't being used in my test. Is there something other than running setup.py and building fresh BokehJS to apply the changes?

[2020-12-14 02:56] bryevdv commented on #10619
If it is not a Bokeh server app, then typically you would need to specify "inline" resources in order to use the locally built version:

https://docs.bokeh.org/en/latest/docs/dev_guide/setup.html#next-steps

[2020-12-14 02:57] bryevdv commented on #10756
@YosephKS not anyone that I am aware so please submit a PR!

[2020-12-14 11:53] sylvkai commented on #10765
I've also tried to run a Bokeh Server in a Jupyter notebook opened in VSCode, and encountered an issue as well. However the error message I've got (in the VSCode Webview developer console) is different:

[code]
(more detail [here](https://stackoverflow.com/questions/65254246/can-a-bokeh-server-be-run-in-the-jupyter-extension-of-vs-code))

I guess that this is nevertheless the same issue, and that

[2020-12-14 14:43] asmodehn commented on #9671
Chiming in because I am in a similar situation, stitching multiple bokeh applications, in a tornado server, and finding out that static urls don't work as I would naively expect.

Specifically I wanted to add details for others who might be in a similar situation :

This advice is usable as an immediate workaround by a user, and it worked for me (`bokeh 2.2.3`)  roughly like so :
[code]

[2020-12-14 16:27] bryevdv commented on #10765
JavaScript

[2020-12-14 16:53] pablo-esteban commented on #10733
Yes, i still plan to do it.

[2020-12-14 21:11] bryevdv commented on #10775
@cirnod This is working for me on the current `branch-2.3` dev branch or with latest 2.2.3 release. To clarify  what I mean by working:

* When a glyph is hidden in the legend, the y-axis updates start/end to only show the currently visible glyph

And to add: only the y-axis, *as expected*, because only the y-range was configured with `only_visible=True`.

Are you saying that is not what you are s

[2020-12-15 03:33] wenjaylfw commented on #10619
Hello, sorry if this is unneeded but just to bring this to your attention, I've submitted a final pull request that reflects the changes suggested in your last review

[2020-12-15 08:43] cirnod commented on #10775
@bryevdv  I updated to bokeh 2.2.3 and tried it again. I see no change in the behavior. For me, it still does not work if I use the `xbox_zoom`-Zoom-Tool to zoom in. I agree, I expect that only the y-axis updates the start/end.

I made a short clip to try to clarify what I mean:
![bokeh_issue_10775](https://user-images.githubusercontent.com/9968521/102191290-8075ae80-3eb9-11eb-9bb0-72e741c1d12c.gi

[2020-12-15 10:03] simonlee99ap commented on #10376
Hello, I've noticed that the commenter above expressed interest in working on it, but since it's been two months figured I'd give it a shot. Would love to get a feedback on the PR I just created. Thank you!

[2020-12-15 17:08] mattpap commented on #10203
This will done as a side effect of my current work. For simplicity, I unified visual properties in each "class", so that e.g. `LineVector` has only vectorized properties.

[2020-12-15 17:53] bryevdv commented on #10775
Thanks for the screen cap and the clarification that it was specifically the x-zoom tool. I would expect automatic ranging to stop after a general zoom since that explicitly sets range bounds and Bokeh always respects explicitly set bounds. But the x-zoom tool should not be setting the y range values so I agree that automatic y-ranging should continue.

[2020-12-15 19:44] dvbuntu opened #10782 "Typo in prelude.ts"
There is a typo in prelude.ts which becomes part of `bokeh-[VERSION].min.js`. "lenght" should be replace with "length"

https://github.com/bokeh/bokeh/blob/90e83b256dafa1371cc90d4e03ffcdc006b8e172/bokehjs/src/compiler/prelude.ts#L65

[2020-12-15 19:52] bryevdv commented on #10782
@dvbuntu how did you run in to this? Is there a specific set up or usage that uncovers this directly?

cc @mattpap

[2020-12-15 19:57] dvbuntu commented on #10782
I was trying to diagnose an unrelated problem and opened up https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js directly.  The typo happens near the top, so I just happened to see it.  Then I searched for the typo in the repository itself to find what file creates that portion.  As a 2nd condition of an AND statement, I suspect this only triggers rarely.

[2020-12-15 20:56] mattpap commented on #10782
I need to verify this, but this part of the normalization function may not be needed anymore.

[2020-12-15 21:58] Saravji opened #10783 "[FEATURE] boxplot.py example: improve performance for larger datasets"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh Project Discourse](https://discourse.bokeh.org).

**Is your feature request related to a problem? Please describe.**
I used the boxplot.py example to implement a v

[2020-12-15 22:01] bryevdv commented on #10783
@Saravji A PR to update the example would be great, thank you!

[2020-12-16 08:27] sylvkai commented on #10765
I spent some more thinking about the issue - which is a serious showstopper to my project - and thought that, if the error message says that the websocket connection is refused, doesn't that mean that the initial HTTP connection has first been successful ? And so that if the CSP directive set by Tornado/Webview/VSCode (I still don't understand who actually sets it) does accept websocket connection

[2020-12-16 12:40] ShashShukla opened #10784 "[FEATURE] Differential re-rendering of updated plots"
I created an animation in Bokeh 1.4 using CustomJS callbacks that consists of a set of static line plots in the background (low opacity), one static highlighted plot (high opacity), and a dot that moves along this static highlighted plot as time progresses. I find that if I render only the highlighted plot and moving dot, the animation is very snappy. But when I include the other line plots as wel

[2020-12-16 14:28] mattpap commented on #10784
Having a generic partial renderer would be great, but that's far in the future. For now there is (well, should be) a simple workaround, which works by layering your visualization, where each layer can be updated and repainted independently. Currently we use this approach for rendering selection overlays, etc. In your case this change should work:
[code]
Unfortunately, due internal faulty logic, th

[2020-12-16 17:02] bryevdv commented on #10765
web sockets don't have a CSP, everyone has to implement their own scheme. Bokeh uses a an allowlist that only allows connections from approved origins. You can try turning off all origin checking by passing `allow_websocket_origin="*"` to `show`

[2020-12-16 17:14] bryevdv commented on #10784
Can we clarify terminology? Even with separately rendered and stored layers, there will always (to my definition) be a "full repaint" at the end when all the layer canvases are blitted to the final canvas? I think you mean that some of the expensive `render` calls can be avoided, if there are layers with no changes they can just be re-painted as-is.

[2020-12-16 17:44] ShashShukla commented on #10784
@mattpap Thank you for the suggestion. I specified the level for the circle plot as you suggested, but there is no discernible difference in animation time. I also tried relegating the static plots to the 'image' or 'underlay' level, but again saw no change in runtime. This may indicate that the bottleneck is the final blitting that @bryevdv alluded to.

[2020-12-16 17:52] mattpap commented on #10784
You need PR #10785 for this.

[2020-12-17 01:10] #10783 closed

[2020-12-17 22:44] AntonBiryukovUofC commented on #8841
this would be a really awesome feature to have, as it aligns the interactive legend usage with most commercial viz software tools out there

[2020-12-18 00:56] codeyman opened #10789 "[FEATURE]On demand plot generation for a specific session"
I'd like on demand plot generation based on user input. Consider the following html templat page that tries to fetch a page and expands it in a div based on a button click:
[code]
Now I can spawn a page via flask:

[code]

What I'm now looking for is an api, say session_get_plot, such that I can get a plot for an associated session:
[code]
For an enterprise scale application, with lots of datapoin

[2020-12-18 16:20] Jobenas opened #10790 "On Python 3.9, the import fails becaus of PIL[BUG]"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-12-18 17:44] bryevdv commented on #10790
Hi @jorge I think this must be some install issue, or environment/path mixup, local on your system? We test with Python 3.9 on Win, OSX, and Linux and I just checked that all the jobs are passing and do install pillow 8.0.1, e.g.

https://github.com/bokeh/bokeh/runs/1573481842?check_suite_focus=true#step:3:1157

I also can't find any mention of any breaking API changes around this import in the pi

[2020-12-18 20:16] Jobenas commented on #10790
Hi @bryevdv what information can I provide you with to check out the specific issue? I've already resolved it on my system, and is not actually affecting any production systems right now, but for some reason I got this problem on this specific instance.

[2020-12-19 01:37] bryevdv commented on #10790
Hi @Jobenas as I mentioned I think this is a local issue on your end. Here is further evidence that the existing imports work fine:
[code]
I don't think any changes are appropriate, so I will close this now.

[2020-12-19 01:37] #10790 closed

[2020-12-19 01:45] Jobenas commented on #10790
Thanks @bryevdv, I'll check those out then

[2020-12-19 14:14] dbogatov opened #10792 "export_svg function in branch-2.3"
I was following discussions here https://github.com/bokeh/bokeh/pull/10402 and here https://github.com/bokeh/bokeh/issues/9169 .
I got the impression that `export_svg` is fixed in https://github.com/bokeh/bokeh/pull/10713 .

So I followed the dvelopement instructions to install the very latest version of the package, and yet it says that it cannot import `export_svg` from `bokeh.io`.
Is it suppose

[2020-12-19 15:35] bryevdv commented on #10792
That function is very recent. Almost certainly you are picking up an old version install, instead of the development install. You can inspect `bokeh.__version__` to confirm. Check your system paths, conda or virtual envs, etc.

[2020-12-19 17:22] bryevdv commented on #10792
If you have further usage/support questions then https://discourse.bokeh.org is a good resource.

[2020-12-19 17:23] #10792 closed

[2020-12-20 09:21] Konntroll commented on #10539
If you don't mind, I'll take [Interactions](https://github.com/bokeh/bokeh/blob/branch-2.3/sphinx/source/docs/user_guide/interaction.rst) with all the underlying sections:

- Linking behavior
- Interactive legends
- Adding widgets
- JavaScript callbacks

[2020-12-21 05:03] zybex86 opened #10794 "[FEATURE] Page Visibility API"
Problem:
[I wanted to utilize the Page Visibility API to stop/start an AJAX callback in a plot](https://discourse.bokeh.org/t/utilizing-page-visibility-api/6914).

There was a problem with accessing the variables for the source and other tools that were available on the page. In the end, I could access the variables in JS by naming the variables in Python and referencing them using `window.Bokeh.d

[2020-12-21 05:04] zybex86 commented on #10794
@bryevdv suggested that @hyles-lineata should get to know the issue

[2020-12-22 06:41] MarcSkovMadsen opened #10795 "Examples of Bokeh extensions using React and Vue"
A lot of awesome js libraries only work if you know how to use React or Vue.

Currently there is no example (I believe) of using React or Vue with Bokeh Extensions. This makes the barrier of entry high for creating Bokeh Extensions using this huge resource.

This might also limit the number of contributors to Bokeh (hypothesis) because this is what a large proportion of js developers use today.

I

[2020-12-22 06:45] MarcSkovMadsen commented on #10276
FYI. I've created associated FR https://github.com/bokeh/bokeh/issues/10795

I would like to be able to create Bokeh extensions using React or Vue.

[2020-12-22 10:39] #10784 closed

[2020-12-23 14:36] hyles-lineata opened #10796 "Add default browser env var to docs"
MarcSkovMadsen has [posted on the Discourse](https://discourse.bokeh.org/t/setting-the-default-browser-for-show-on-windows/6946) about setting an env var to point to the default browser for `--show`.

Having run into this need myself, I think it would be a good idea to add this to the documentation updates coming out with 2.3, and I am assigning myself to execute.

[2020-12-24 16:38] drscook commented on #10512
I had this same issue, and discovered that including width=1 in TableColumn fixed it for me.

[2020-12-24 17:01] comatrion commented on #10512
Hmm... thanks!
Also seems to work with `width=None`
[code]

[2020-12-28 13:01] philippjfr opened #10798 "[FEATURE] Support Tornado WebSocket compression on server"
Tornado has supported enabling of WebSocket compression [since v4.1](https://www.tornadoweb.org/en/stable/websocket.html#tornado.websocket.WebSocketHandler.get_compression_options). When working locally this makes little sense but when serving a Bokeh application on a server it can be useful to enable compression and reduce the bandwidth but increasing CPU and memory cost.

[2020-12-28 13:16] philippjfr commented on #10569
I've now done this for the HoloViz/PyViz extension and while it took a lot of trial and error to package correctly it wasn't too difficult. The recommended approach to distribute it is simply to bundle it into the `PyPI` and `conda` package so I guess we just bundle it inside https://github.com/bokeh/jupyter_bokeh and then ask users to install that.

[2020-12-28 15:08] grant-m-s opened #10800 "Upgrade bokeh.server.django to django 3.x"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2020-12-28 17:34] mattpap commented on #10800
Django support in bokeh was designed for and tested with django 2.x. We would like to upgrade to 3.x, but we don't have resources for this currently.

[2020-12-28 17:41] jundl77 opened #10801 "[BUG] precision loss in patch update when using timeseries data with multi_line glyph (introduced in v2.2.0)"
The patch update functionality became very slow (possibly also incorrect) when working with a `datetime` X axis (i.e. timeseries data) and a `multi_line` glyph starting at version 2.2.0. I am not sure about other glyphs, as I have not tested them.

#### Software version details
**Bokeh:** Bug appeared going from 2.1.1 -> 2.2.0 (I am currently using 2.2.3)
**Python:** 3.8
**OS:** Mac OSX 10.15.7
**

[2020-12-28 18:23] mattpap commented on #10801
Possibly duplicate or another variant of #10738. I will keep this open for now, at least until I verify this in PR #10788.

[2020-12-29 07:17] carve11 opened #10802 "[BUG] Range padding incorrect for multiple rect glyphs"
Based on discussion on [discourse](https://discourse.bokeh.org/t/how-to-adjust-automatic-scaling-on-y-axis-when-using-rect-glyph/6958) I open this bug report.

I have tried to use the `rect` glyph to make bar plot where the x-axis is `Factorrange` and the y-axis is normal `DataRange1d`. It works OK except I observe a lot of padding below the bars. On the screenshot below I have a comparison of `vb

[2020-12-29 19:12] mattpap opened #10803 "`conda` warnings from bokeh-ci workflow"
There multiple warnings like this in every CI run:
[code]
Perhaps benign, but maybe affects resolution order. In any case, it would be good to clear this up. /cc @bryevdv

[2020-12-29 19:20] bryevdv commented on #10801
The visual discrepancy is certainly the same as #10738 and I wonder if the "slowness" is simply that visual updates are happening "on top of" one another (so ~N updates happen before any visual differences appear)

[2020-12-29 19:20] bryevdv commented on #10803
Weird, I will take a look soon.

[2020-12-29 19:22] bryevdv commented on #10796
FYI env vars are currently documented in the `bokeh.settings` reference:

https://docs.bokeh.org/en/latest/docs/reference/settings.html#bokeh-settings

(and also referenced briefly in the [dev guide](https://docs.bokeh.org/en/latest/docs/dev_guide/env_vars.html))

Perhaps there is some way to surface them better tho

[2020-12-29 19:23] jundl77 commented on #10801
So you think it's mostly due to precision loss? I can run the same sample code again, with say a 2hour ticks in the x-axis instead of a 2sec ticks, I assume that should then eliminate the effect, right?

[2020-12-29 19:24] bryevdv commented on #10789
@codeyman  IIRC there was a discussion thread that prompted this, can you link it here for reference?

[2020-12-29 19:26] jundl77 commented on #10801
That certainly seems to be the case, here is what it looks like with a 2hour intervals on the x-axis instead of 2sec:

![image](https://user-images.githubusercontent.com/3936594/103308959-09412e00-4a14-11eb-9e1d-5db05e3b0f83.png)

[2020-12-29 19:27] bryevdv commented on #10773
@znstrider do things work when you use images from proper URL locations, e.g `https://some.place/foo.svg` browsers have various restrictions about when and how they will loa local files and I can imagine that might be the problem here (if so, nothing we can do about it)

[2020-12-29 19:40] bryevdv commented on #10801
Thanks for the updated results @jundl77 ! @mattpap do you still want to keep this open?

[2020-12-29 19:49] bryevdv commented on #10802
Well, I was mistaken about rects not allowing screen units. `width` and `height` are `DistanceSpec` so can be set to `screen` units. This is why things are the way they are now. The spatial index is in data space units, so in case width or height are given in screen units, the entire spatial index would have to be rebuilt on any pan, zoom, etc anything that changed the range at all.

As I see, the

[2020-12-29 23:54] bryevdv commented on #10803
@mattpap I think this is actually coming from `conda-incubator/setup-miniconda` and maybe the solution is just to remove `defaults` from the env files e.g. here:

https://github.com/bokeh/bokeh/blob/branch-2.3/ci/environment-test-3.9.yml#L26

But we *do* want defaults first AFAIK and the warning mentions that its presence results in "moving to the top" so we might just have to live with it unless

[2020-12-30 00:56] codeyman commented on #10789
@bryevdv https://discourse.bokeh.org/t/embedding-interactive-bokeh-content-in-flask/6898/3

[2020-12-30 12:32] HolleJ opened #10804 "[BUG] export does not respect current theme"
#### ALL software version info
bokeh: 2.2.3
Python: 3.8.6
OS: Windows 10
Browser: Chrome 87.0.4280.88

#### Description of expected behavior and the observed behavior
The theme of the the current document is not considered, if a svg export is used.

Part of expected result via save() (or show())
![image](https://user-images.githubusercontent.com/36547941/103346969-e2c3d700-4a95-11eb-8d27-454883a29

[2020-12-30 15:45] hyles-lineata commented on #10796
Ah! That's great, then. I had looked through the User Guide and hadn't seen them. Any objection to adding them there too (or maybe just links, rather than repeating the information)?

[2020-12-30 16:19] bryevdv commented on #10804
@HolleJ Thanks for the detailed issue. I would say go ahead and submit a PR so that things can be easier to concretely test and discuss. That may be the solution but we will need to go back to some other recent theming issues and make sure to test that this fix doesn't undo other fixes (and also figure out a good way to maintain things under test)

[2020-12-30 16:22] bryevdv commented on #10796
I think links to `bokeh.settings` and maybe also more explicitly highlighting the connection that every setting has an associated env var would be good. I don't have strong  feelings about where to link, there doesn't seem to be an entirely relevant place except maybe a new subsection in *Defining Key Concepts*?

[2020-12-30 16:24] bryevdv commented on #10798
@philippjfr AFAIK the current test failures are all fairly trivial but we should also at least add a mock test that verifies that when the setting is set that the tornado side is passed the expected config value as well.

[2020-12-31 03:31] bryevdv opened #10806 "Date validation is too lax"
It was intended to only accept ISO date values but accepts more general values than that. Ref: https://github.com/bokeh/bokeh/pull/10777#issuecomment-752829173

Tagging as 2.4 since I assume we will drop Python 3.6 by then and can just use `fromisoformat` to validate

[2020-12-31 12:28] #10803 closed

[2020-12-31 12:54] jundl77 commented on #10801
Yeah, no problem. Do you have any ETA on when this will be fixed? I'm asking, because if it will take longer, then we might just use bokeh 2.1.1 for now.

[2020-12-31 14:54] mattpap commented on #10801
ASAP, but then we need to make the release, which it looks will happen between 11-15 of January.

[2020-12-31 14:55] jundl77 commented on #10801
Ah, that's great news!

[2020-12-31 20:11] bryevdv opened #10808 "Local Docs builds not working"
cc @mattpap @tcmetzger

Are either of you able to build and view docs locally on `branch-2.3`? I have tried the following steps:

* `git clean -fdx .`
* `rm -rf bokehjs/node_modules`
* `python setup.py --build-js`
* `BOKEH_DOCS_CDN=local GOOGLE_API_KEY="junk" make clean html serve`

Then when viewing the docs in the browser there are no plots, and console errors:

<img width="1227" alt="Screen Sho

[2020-12-31 20:41] mattpap commented on #10808
I'm guessing `rm -rf bokehjs/build` should help. If that's the case, then we may want to use `node make build --rebuild` under `--build-js` to disable caching.

[2021-01-01 01:08] jundl77 commented on #4272
So one thing I found that is a workaround for me at least is checking if html elements have loaded yet in JS, and creating a callback to that check again and again until the elements I need have loaded. Here is the gist of the idea:

It's incorrect javascript syntax, but you get the idea (I don't work in js much anymore and I was too lazy to look it up).

[code]

In any case, this works for my use

[2021-01-01 08:42] planewave opened #10809 "[BUG]figure labels missing after updating the CDS"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 2.1.x, 2.2.x
python 3.7, 3.8
OS: ubuntu, macos
browser: chrome, safari
#### Description of expected behavior and the observed behavior
running a bokeh server. the minimal code is to generate a random line each time the button is clicked.
expect to still show the figure labels after updating the

[2021-01-01 17:49] pythonic2020 opened #10811 "Add jupyter-bokeh extension support for jupyterlab 3.0.0"
In conda environment running python 3.7 or 3.8 and jupyterlab 3.0.0:

[code]

[2021-01-01 20:56] mattpap commented on #10811
Duplicate of issue #10569.

[2021-01-01 20:56] #10811 closed

[2021-01-02 15:49] #10809 closed

[2021-01-02 19:44] MarcSkovMadsen opened #10812 "Cannot import (fast-components) module in bokeh extension - "Export" statement may only appear at top level"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Bokeh: 2.2.3
Python: 3.7.8
OS: Win

#### Context

I'm trying to develop a custom bokeh extension in typescript using the [Fast.design](https://www.fast.design/) web components.

#### Description of expected behavior and the observed behavior

I would expect to be able to `npm install --save @microso

[2021-01-02 20:36] cyborg1995 commented on #9958
Hi, I would like to work on this. Can anyone help me understand what exactly needs to be done in order to solve this issue? I'm new to open source and bokeh.
@bryevdv could you please elaborate on what you mean by 'Document validation check' and 'banned keys'.
Thanks!

[2021-01-02 21:01] bryevdv commented on #10804
potentially related to https://github.com/bokeh/bokeh/issues/10268

[2021-01-02 21:06] bryevdv commented on #10808
It did, but wonder why `git clean -fdx .` at the top level did not remove. I will leave this open for now to consider changes to `--build-js`

[2021-01-02 21:15] bryevdv commented on #9958
@cyborg1995 The `args` property for `CustomJSFilter` is currently defined as a plain (bokeh) `Dict` property:

https://github.com/bokeh/bokeh/blob/f91a3a668ea3ee39e02eee2fc46bba759b8395ab/bokeh/models/filters.py#L105-L109

But users should not really ever pass a `source` key in this dict, so I proposed the idea of creating a new property type that can disallow specified keys, e.g something like
[c

[2021-01-03 07:15] cyborg1995 commented on #9958
Thank you for a detailed answer!
Yes, I'm exploring Bokeh and I'll start to work on this right after.

[2021-01-03 07:41] cyborg1995 opened #10813 "[BUG]: links lead to a 404 error"
Hello, the links given in [README.md](https://github.com/bokeh/bokeh/blob/branch-2.3/README.md) lead to a webpage showing a 404 error.

1. 'installation documentation' link under Installation
2. 'first steps guides' link under Resources

Thanks!

[2021-01-03 11:48] mattpap commented on #10812
This is because `fast-components` doesn't identify itself as an ES module, thus gets wrapped but not transpiled. Technically a bug on our side, because we always should transpile imports/exports, but if the module was set properly up, it would work regardless.

[2021-01-03 16:40] #5618 closed

[2021-01-03 18:19] bryevdv commented on #10813
Thanks for the issue @cyborg1995 however this is just a timing issue. The README links were updated in anticipation of new docs locations that will go live when the next release is published (it's just taking longer than we expected)

[2021-01-03 18:19] #10813 closed

[2021-01-03 18:54] MarcSkovMadsen commented on #10812
Thanks @mattpap . Is there something I can do? I do I just have to wait for a bokeh fix?

[2021-01-04 10:26] #10506 closed

[2021-01-04 16:30] cyborg1995 commented on #9958
I have submitted a PR https://github.com/bokeh/bokeh/pull/10814.

[2021-01-04 16:41] pablo-esteban commented on #10733
I'm sorry, I won't be able to work on this.

[2021-01-04 17:05] mattpap commented on #10812
One can modify `fast-components`' `package.json` and add `type: "module"` or add `module` entry point (instead of `main`). I think that should be enough, but this will get erased every time the package is updated. I will see if a quick fix can be applied to bokehjs.

[2021-01-04 18:42] bryevdv commented on #10733
Thank for the update, I have closed the PR

[2021-01-04 18:44] bryevdv commented on #10804
ref: comment about a census of current capability and problems: https://github.com/bokeh/bokeh/pull/10805#issuecomment-753527041

[2021-01-05 01:17] bryevdv opened #10816 "Deprecate OpenURL"
I'd like to propose deprecating [`OpenURL`](https://docs.bokeh.org/en/latest/docs/user_guide/interaction/callbacks.html#openurl) (and potentially `Taptool.callback` as well). It is the last "ad-hoc` callback action. Given that actually opening a URL in any `CustomJS` callback is a one-liner in JavaScript I don't see the need to maintain this bulky class just for that. We might, however want to exp

[2021-01-05 12:58] obust commented on #10108
I have the same issue with installing firefox in a docker image from firefox-feedstock.
I tried both 83.0 and 79.0 and they give the same error

[code]

I'd like to avoid installing system dependencies (libgtk, libdbus) and instead move more dependencies to conda.

I tried to install gtk3 from conda but it is also having some [dependency issues](https://www.gitmemory.com/issue/conda-forge/gtk3-fee

[2021-01-05 13:20] mattpap commented on #10816
I think one-liner applies to fixed URLs and not safely formatting URLs using a data source and selection indices, which is what `OpenURL` can do to some extent. In any case, I would actually remove it, because its implementation, though well intentioned, is dubious. `OpenURL` should have been implemented as two composable models, one for opening URLs and another for formatting them. Though I'm not

[2021-01-05 20:19] alucab commented on #10575
Hello any workaround to have whiskers on 2.2.3 ?
I would love to use Bokeh in my next application, the code is quite cleaner than Dash and the embedding is waaaay easier.

But i need grouped Bar Charts with error bars :-(

Thanks for any help

[2021-01-05 20:59] bryevdv commented on #10575
@alucab the fix for this is merged and will be in the upcoming 2.3.0 release

[2021-01-05 22:02] alucab commented on #10575
Hey Brian,
thanks for the swift answer !
Have you got an idea of the possible date ?
I have thought that i can work around it using vbar segments i overlay but
definitely it  would be great to have the whiskers

On Tue, Jan 5, 2021 at 9:59 PM Bryan Van de Ven <notifications@github.com>
wrote:

[2021-01-06 03:54] hansqiao opened #10818 "LabelSet not shown when x axis is text, not a number"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh Project Discourse](https://discourse.bokeh.org).

**Is your feature request related to a problem? Please describe.**
There is a problem to show labels in vbar, whe

[2021-01-06 04:06] hansqiao commented on #10818
Here is one not showing label:

from bokeh.palettes import PuBu
from bokeh.io import show, output_notebook
from bokeh.models import ColumnDataSource, ranges, LabelSet
from bokeh.plotting import figure
output_notebook()

source = ColumnDataSource(dict(x=['Áætlaðir','Unnir'],y=[576,608]))

x_label = ""
y_label = "Tímar (klst)"
title = "Tímar; núllti til þriðji sprettur."
plot = figure(plot_width=600

[2021-01-06 04:07] hansqiao commented on #10818
But change x to number, then label shows:

from bokeh.palettes import PuBu
from bokeh.io import show, output_notebook
from bokeh.models import ColumnDataSource, ranges, LabelSet
from bokeh.plotting import figure
output_notebook()

source = ColumnDataSource(dict(x=[2,3],y=[576,608]))

x_label = ""
y_label = "Tímar (klst)"
title = "Tímar; núllti til þriðji sprettur."
plot = figure(plot_width=600, pl

[2021-01-06 06:49] #10728 closed

[2021-01-06 06:50] bryevdv commented on #10728
Let's make separate issue for any follow-on work

[2021-01-06 14:38] blutack opened #10819 "[BUG] Example in LabelSet documentation doesn't seem to be correct"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh v2.2.3, Python 3.9

#### Description of expected behavior and the observed behavior

I created a LabelSet by pasting the only example from the current user guide (https://docs.bokeh.org/en/latest/docs/user_guide/annotations.html#labels).

[code]

However, no labels were visible.

I then found t

[2021-01-06 17:22] bryevdv commented on #10819
@blutack if you are offering to make the PR, we would accept it.

[2021-01-06 17:24] bryevdv commented on #10818
@hansqiao if you heard that it was fixed in 2.3 then please search for an existing issue (or ask about it on Slack or Discourse) before making a new issues. This was resolved in https://github.com/bokeh/bokeh/issues/10454 (not yet released)

[2021-01-06 17:24] #10818 closed

[2021-01-06 17:53] philippjfr commented on #10569
Here's my PR for pyviz_comms bundling the JLab 3.0 extension inside the Python package https://github.com/holoviz/pyviz_comms/pull/72

[2021-01-06 18:06] blutack commented on #10819
Thanks, I've opened a PR

[2021-01-06 21:50] mattpap opened #10822 "`DataModel` is always serialized"
Abstract class `DataModel` is always part of the serialized data:
[code]

[2021-01-07 16:14] #10819 closed

[2021-01-07 16:37] dbeezt opened #10824 "Add Hatch Patterns for Glyphs"
I was surprised to see that hatch patterns can't be applied to Glyphs, at least not to those of class 'Circle'. There's render-able space so it seems fitting to allow a pattern to occupy it just as a colour would.

Example code:

    g = nx.erdos_renyi_graph(n = 20, p = 0.5)
    graph_renderer = from_networkx(g, nx.spring_layout, scale=1, center=(0, 0))
    graph_renderer.node_renderer.glyph = Cir

[2021-01-08 19:18] mattpap commented on #10824
It makes sense to have hatch patterns supported for all glyphs that already support fill visuals. PR #10825 implements this.

[2021-01-08 20:42] mattpap opened #10826 "SVG canvas doesn't implement `ctx.fill(fill_rule)`"
Fill rule is needed in glyphs that support holes.

[2021-01-09 00:07] hyles-lineata commented on #10748
PR is in to make the `fit_columns` docstring a little clearer.

Re the other two points:
- `sizing_mode` is actually a param for a LayoutDOM object. DataTable is just inheriting it, and our auto-generated docs includes it in the DataTable reference. This is why the phrasing is so generic: the docstring is written at the parent class level, and applies to other component types also.  Unfortunately,

[2021-01-09 11:12] #10824 closed

[2021-01-09 11:12] #10826 closed

[2021-01-09 11:13] #10748 closed

[2021-01-10 13:37] dbeezt commented on #10824
Talk about a fast turnaround! That's awesome, thanks for engaging.

[2021-01-10 14:46] hal8174 opened #10831 "[BUG] Patches drawn as a single shape if used with CDSView"
#### ALL software version info
bokeh: 2.2.3
python: 3.9.1
browser: firefox and chrome

#### Description of expected behavior and the observed behavior

If patches are drawn with a CDSView, the shapes are drawn as one shape instead of multiple.

This bug only appears, if a subset of the data is drawn with patches.

#### Code Example

[code]

#### Bug in action

![image](https://user-images.githubus

[2021-01-10 15:07] mattpap commented on #10831
This is fixed in 2.3-dev. Likely candidate for a duplicate is issue #10589.

[2021-01-10 15:07] #10831 closed

[2021-01-11 18:09] #10667 closed

[2021-01-11 18:26] bryevdv opened #10834 "Add more JS visual and integration tests"
cc @brendancol @mattpap

This issue is to discuss Makepath adding more JS visual an integration tests. (@brendancol please tag in anyone else as appropriate)

Here is a reference PR that added many tests for Colorbar: https://github.com/bokeh/bokeh/pull/10779

@mattpap has suggested Legend as another area that would be good to add coverage for soon. I agree but might suggest finding a smaller area

[2021-01-11 20:03] brendancol commented on #10834
@bryevdv @marcozimmermannpm this sounds good.  Breaking down tasks a bit further:

- [ ] review colorbar tests: https://github.com/bokeh/bokeh/pull/10779
- [ ] Find good first area for increasing test coverage.  Consider improve Test coverage for Legend...
- [ ] Expand testing docs in the **Dev Guide** with step-by-step instructions on how to run and write new tests

[2021-01-11 22:37] #9929 closed

[2021-01-12 12:21] sebacastroh opened #10836 "[FEATURE] Add new star marker"
Currently, Bokeh offers several markers such as asterisk, circle, diamond, square, triangle, and variations of these. However, the typical star shape is not included, so I tried to add this feature.

The star border's path I'm using in ```bokehjs/src/lib/models/glyphs/defs.ts``` is

[code]
and for the (I suppose) size of the marker in ```bokehjs/src/lib/models/glyphs/webgl/markers.frag``` I copied

[2021-01-12 15:29] mattpap commented on #10836
This would be a nice addition. I've been thinking recently about adding this type of marker.

See https://docs.bokeh.org/en/latest/docs/dev_guide/bokehjs.html#ci-and-visual-testing.

[2021-01-12 15:31] mattpap commented on #10836
In the long term, however, we will add an API that will allow users to create their own marker types, without having to change bokehjs.

[2021-01-12 17:36] mattpap opened #10837 "Public style/**/*.d.ts are not robust enough for path mapping"
See https://github.com/holoviz/panel/pull/1889 for details.

[2021-01-13 00:52] bryevdv opened #10839 "Drop Python 3.6"
targeting for 2.4

[2021-01-13 01:05] #10837 closed

[2021-01-13 10:22] mattpap opened #10840 "Type errors in build should not stop tests from running"
Workflow should fail obviously, but tests should be run nevertheless. Currently if there are benign type errors, then there is literally no feedback as to whether changes work or not.

[2021-01-13 10:24] mattpap commented on #10840
This applies both bokeh-ci and bokehjs-ci workflows.

[2021-01-13 10:45] mattpap commented on #10834
- `examples/integration` should be transformed into visual and/or integration tests in bokehjs and later removed (they were created as poor man's visual integration tests). Some may be redundant at this point, so anything that we already test in bokehjs should be dropped. If some don't make sense being tested in bokehjs, then they should be transformed into selenium integration tests.
- `tests/int

[2021-01-13 10:53] mattpap commented on #10834
Visual tests that would be useful immediately:

- all combinations of axis labels (different types of axes, label lengths, styling, alignment, standoff, orientation, etc.) (PR #10828)
- all annotation that have no or minimal visual tests (whisker, band, legend, span, slope, etc.)
- all combinations of glyphs and their attributes (use all types of scales, value ranges, unit types, rotations, visual

[2021-01-13 15:34] mattpap commented on #10670
Can this be closed after PR #10719 was merged? Otherwise what's left do be done?

[2021-01-13 16:17] philippjfr opened #10841 "[BUG] Ensure non-nullable properties in JS are validated in Python"
In some of our libraries (e.g. HoloViews or Panel) we set None as a default value for a bokeh property. In recent releases many properties were made non-nullable on the JS end but since Python properties do not yet do this validation this is causing silent errors for users (because they won't look into the developer console). Ideally we'd ensure that the null validation is equivalent between Pytho

[2021-01-13 16:20] philippjfr commented on #10670
Yes, let's close it out.

[2021-01-14 17:55] #9958 closed

[2021-01-15 16:30] hyles-lineata opened #10844 "DataTable cell editors are non-functional"
DateEditor and IntEditor (at least) are not functional editors for DataTable TableColumns.

MRE:
[code]

Actual behavior: Cells in both columns act like basic StringEditors.

Expected behavior: IntEditor should show a spinner-style selector for ints; DateEditor I believe is supposed to be a date-picker, calendar-type input.

(ref:[ Discourse topic](https://discourse.bokeh.org/t/how-to-use-dateedit

[2021-01-15 16:35] mattpap commented on #10844
Was this reproduced on 2.3-dev10?

[2021-01-15 17:00] philippjfr commented on #10844
You can see in the code that both editors just fall back to a regular input element since the old implementations have been commented out:

https://github.com/bokeh/bokeh/blob/9b219a8a8f909ca5aac034f85ac9403c7ca3a300/bokehjs/src/lib/models/widgets/tables/cell_editors.ts#L485-L498

https://github.com/bokeh/bokeh/blob/9b219a8a8f909ca5aac034f85ac9403c7ca3a300/bokehjs/src/lib/models/widgets/tables/cel

[2021-01-15 17:43] mattpap commented on #10844
Well, I hoped this was fixed in recent work. Given that we want to drop slickgrid in favour of some other library, I suppose this issue will be a `wontfix`.

[2021-01-15 17:52] philippjfr commented on #10844
My new table implementation still allows using these editors (and indeed it does not ship with an inbuilt date(time) editor), so these are still worth fixing.

[2021-01-15 22:49] Bob-May commented on #10569
ValueError: The extension "@bokeh/jupyter_bokeh" does not yet support the current version of JupyterLab.

Conflicting Dependencies:
JupyterLab                        Extension      Package

For background
 https://github.com/bokeh/jupyter_bokeh/issues/88
https://github.com/bokeh/jupyter_bokeh/issues/92

[2021-01-17 11:00] stonebig commented on #10569
I confirm I do not need anymore to do "labextension install" on all my usual plugins.
Being nodejs-optional with Jupyterlab-3 is a bit like droping Python2.

[2021-01-17 14:36] #10836 closed

[2021-01-17 20:48] MarcSkovMadsen commented on #8727
One more vote for introducing this very much needed feature

[2021-01-18 07:38] garvk opened #10849 "DataTable: Make all selected rows in a DataTable non editable (until they are deselected)"
The feature request is created basis the following discussion on Bokeh Discourse: https://discourse.bokeh.org/t/datatable-make-all-selected-rows-in-a-datatable-non-editable-until-they-are-deselected/6845

A feature is requested so that in a data table when a row is selected using the checkbox in data table index, the corresponding cells in the selected row should become Locked for editing.

Please

[2021-01-18 21:39] bryevdv opened #10851 "[BUG] Layout regressions"
cc @mattpap

`branch-2.3` has some serious layout regressions, verified on OSX with Chrome and Safari. These shots were generated with `2.3.0dev10-6-g3b668d6c` (not fixed by uniforms PR)

Some examples:

<img width="1718" alt="Screen Shot 2021-01-18 at 1 28 24 PM" src="https://user-images.githubusercontent.com/1078448/104964966-718b8b80-5992-11eb-8db6-a82a50b7defe.png">

<img width="1045" alt="Scr

[2021-01-18 21:47] bryevdv opened #10852 "[BUG] Lasso tool does not render"
cc @mattpap

The lasso tool works for selection, but does not actually render a visible lasso annotation on `branch-2.3`. Can be seen in `selection_histogram.py` app or `color_scatter.py` example.

ref: `Bokeh version :  2.3.0dev10-6-g3b668d6c0` (not fixed by uniforms PR)

[2021-01-18 22:22] bryevdv opened #10853 "[BUG] Ajax and Server sent examples broken"
cc @mattpap

Browser display is completely blank and JS console reports

for both `ajax_source.py` and `server_sent_events_source.py`

Present on `2.3.0dev10-7-g6fbe3be6b` (not fixed by uniforms PR)

[2021-01-18 22:57] mattpap commented on #10851
I will investigate this tomorrow.

[2021-01-18 23:48] #10666 closed

[2021-01-18 23:48] #10738 closed

[2021-01-18 23:48] #10801 closed

[2021-01-18 23:48] #6835 closed

[2021-01-18 23:48] #10203 closed

[2021-01-19 01:12] mattpap opened #10855 "Only main glyphs has signals connected in `GlyphRenderer`"
`Continuous Updating.ipynb` -- used to be if you stopped kernel execution and ran the last cell after the loop, the hover style changed immediately on the paused plot. Now the change does not show up until the loop cell is re-executed.

_Originally posted by @bryevdv in https://github.com/bokeh/bokeh/issues/10788#issuecomment-762499309_

[2021-01-19 01:29] mattpap commented on #10853
It's a corner case in data initialization related to empty data sources. I will get that fixed tomorrow.

[2021-01-19 01:50] #2230 closed

[2021-01-19 01:55] #10808 closed

[2021-01-19 01:56] bryevdv commented on #10795
cc @ajaythorve @shughes-uk would love help/input on this during the next release cycle.

[2021-01-19 10:41] #10798 closed

[2021-01-19 12:13] MarcSkovMadsen commented on #10795
I would love that :-)

[2021-01-19 17:13] AjayThorve commented on #10795
Hey @bryevdv, definitely up for helping with this. I have tried typescript extensions for bokeh in the past, would love to play around with react added to it.

[2021-01-19 20:00] roiweinreb opened #10857 "[FEATURE] Add the ability to format all the labels in a multilevel CategoricalAxis"
**Is your feature request related to a problem? Please describe.**
I've created a plot which its axes are multilevel categorical axes.
![image](https://user-images.githubusercontent.com/26378397/105036978-f4314b00-5a65-11eb-9402-38de9b958534.png)

Currently, I'm able to format only the labels of the categories that are on the lowest level ("Diameter", "Length" etc) and I would like to be able to f

[2021-01-20 07:12] mullerhai opened #10859 "[FEATURE]would you like upgrade bokeh-scala to support jdk8 and scala-2.12 or scala-2.13"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh Project Discourse](https://discourse.bokeh.org).

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the pr

[2021-01-20 07:17] bryevdv commented on #10859
@mullerhai the title is confusing — are you offering to do this work yourself? bokeh-scala is not currently actively maintained and has not been updated in several years. (also this issue should be moved to the bokeh-scala repository)

[2021-01-20 11:54] #10852 closed

[2021-01-20 11:55] #10855 closed

[2021-01-20 11:55] #10853 closed

[2021-01-20 12:02] mattpap commented on #10859
At this point bokeh-scala needs to be rewritten from scratch to make it usable with modern bokehjs (the last released version supports bokehjs ~0.12). If there is interest in that, let's continue discussion in bokeh-scala's repository or in [Discussions](https://github.com/bokeh/bokeh/discussions).

[2021-01-20 12:02] #10859 closed

[2021-01-20 14:53] gmerritt123 commented on #1547
bump...

I am in this exact situation - I have two plots, one showing water levels over time w multiline and another showing the well locations in "plan view". All from one data source. Since a bunch of locations have wells at different depths, hovering over one plan view location will trigger hovering over multiple water level lines (this is fine). What I would like is the ability to trigger the

[2021-01-20 18:44] zbarry commented on #10108
For people who are having trouble getting this to work in Jupyter notebooks with conda envs, I realized that if you have this sort of setup:

1. You run `jupyter lab` out of conda environment 1
2. You run your notebook using a Jupyter kernel from conda env 2 that was installed via `ipykernel`

the `conda/envs/environment2/bin/` folder for env 2 will not be on your `PATH`: https://github.com/jupyte

[2021-01-21 01:56] mullerhai commented on #10859
Thanks ，I also can use  bokeh in python

[2021-01-21 04:47] kszlim commented on #10265
@philippjfr I was wondering the same thing, I was trying to register a JS callback on this event, but didn't find any documentation that implied it didn't work until I came across this issue.

[2021-01-21 14:33] axelande commented on #6556
That would be really nice! Is there any updates on this issue?

[2021-01-22 17:10] jeffreymonaco opened #10863 "[BUG] bokeh.client max nessage size not configurable"
ISSUE Bokeh server application with moderate size column data source (10000 samples of 100 variables) works when accessed directly via standalone server but fails when embedded in a Flask application using pull_session()/server_session() mechanism.

It can be shown by example that the problem manifests based on the size of the data source used in a plot even in cases where only two of the columns

[2021-01-22 21:26] HuangYanqiColumbia opened #10864 "[FEATURE] Rescaling of Text"
I added text to a `bokeh Figure` as follows,
[code]
However, when I zoom in, the text 'a', 'b' or 'c' don't re-scale.
I wish the feature of re-scalable text could be added the next few versions.
Thanks!!!

[2021-01-22 21:33] bryevdv commented on #10864
duplicate of #9407

[2021-01-22 21:33] #10864 closed

[2021-01-24 10:43] alucab opened #10866 "[BUG]Bokeh Client does not establish connection with server with self signed certificates"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2021-01-25 01:51] bryevdv opened #10867 "Simplify HasProps and MetaHasProps"
See discussion here:

ref: https://github.com/bokeh/bokeh/pull/10860#discussion_r563421156

[2021-01-25 17:31] julioasotodv opened #10868 "[BUG] axis_label_text_align not working?"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Bokeh latest (2.2.3 at the time of writing)

#### Description of expected behavior and the observed behavior

It looks like the property `axis_label_text_align` is not working as expected (or at least not how I would have thought it should work).

#### Complete, minimal, self-contained example code

[2021-01-25 21:44] #10841 closed

[2021-01-25 22:02] bryevdv commented on #10868
The `text_align` properties are simple mechanical pass-throughs to the underlying HTML canvas. However, the alignment is only *within the defined text box*, and currently the only defined text boxes are tight-bounding boxes around the text, which makes alignment the same no matter what setting. So to answer the question: not *technically* a bug, but also not very useful at present.

cc @mattpap do

[2021-01-25 22:23] julioasotodv commented on #10868
@bryevdv I see, thanks for the quick response! Indeed, I thought that the text-align could be only within the element’s bounding box.

I also thought about adding an annotation to mimic the axis label, but I was trying the `Label` element instead of `Title` (and the `Label` element cannot be automatically aligned to the right).

So thanks, indeed a custom title works quite well as a workaround!

S

[2021-01-25 23:18] bryevdv commented on #10868
I'm glad `Title` works, I've labeled as `discussion` for now since, as it is, the property seems like a trap for users (so we should either make it more useful or get rid of it)

[2021-01-25 23:21] bryevdv commented on #10866
@alucab I think I'd be OK with adding support for this, but I also think it might be preferable for it to be activated behind a flag, e.g. something like:
[code]
to enable it.

Would you like to work on a PR for this? The changes would be purely Python-side (so more accessible) and we would be happy to provide guidance.

[2021-01-25 23:29] bryevdv commented on #10857
Marking as `discussion` for now. This seems like a reasonable ask, but as you note the difficulty is in determining a scheme for specifying things that keeps existing compatibility. Another option might that might be better is to expand the existing property definition, which is
[code]
To something like
[code]

[2021-01-25 23:30] bryevdv commented on #10849
@philippjfr do you have any thoughts on this?

[2021-01-26 00:18] bryevdv commented on #10863
Determined that Tornado has a separate (and smaller) max websocket size for `websocket_connect` that `bokeh.client` uses. We will need to expose this as a configurable option.

[2021-01-26 09:39] mullimanko commented on #7317
+1

[2021-01-26 12:29] mattpap commented on #9731
@bryevdv, all our clients either migrated or are migrating away from IE, so 2.3 is the last release that must have IE support. I think it's the right time to at least deprecate it. Perhaps this could be the last release that supports it altogether.

[2021-01-26 19:41] jordaniac89 opened #10870 "[BUG] Error with Hover callback"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2021-01-26 19:52] bryevdv commented on #10870
@jordaniac89 we require a *complete* minimal example, i.e. that can be pasted as-is in to an editor and immediately run, in order to investigate directly (and any necessary data to run as well).

[2021-01-27 00:54] #10863 closed

[2021-01-27 19:43] tcmetzger opened #10872 "[FEATURE] Document info about supported browser"
Connected to #9731 and the discussion there, I propose adding information about which browsers are currently supported (or at least which minimum specs must be met). I'd be happy to open a pull request to include this information in the docs.

[2021-01-27 19:48] tcmetzger commented on #10872
@mattpap Would you be able to provide some information about which browsers are currently supported or which minimum specs need to be met?
And thinking about keeping this information up to date for future releases - would it make sense to have this information somewhere in the code/docstrings or would it make more sense to have this information somewhere in the rst docs?

[2021-01-27 21:19] #10465 closed

[2021-01-29 05:52] bryevdv opened #10875 "[BUG] Marker docs require updating"
Circle/Scatter links broken on this page:

https://docs.bokeh.org/en/dev/docs/reference/models/glyphs.html

Maybe they should be removed as they are technically markers.

Circle is here (but strangely w/o parens) but  Scatter is not, and new Star links are broken:

https://docs.bokeh.org/en/dev/docs/reference/models/markers.html

cc @tcmetzger in case you have some bandwidth to look at this before

[2021-01-29 05:54] bryevdv commented on #10875
Oh, it's worse. The marker links that do work go to pages with no real info:

https://docs.bokeh.org/en/dev/docs/reference/models/markers/circle_cross.html#bokeh.models.markers.CircleCross

glyph pages seem to be ok.

cc @mattpap any ideas what change might have affected this recently?

[2021-01-29 06:13] tcmetzger commented on #10875
From a very cursory glance: is it possible this is related to #10698? Also, this seems to be limited to the _bokeh.models_ interface - the docs for the respective elements in the _bokeh.plotting_ interface (and thus all links from the narrative docs, as far as I can see) seem to be working fine (e.g. https://docs.bokeh.org/en/dev/docs/reference/plotting.html#bokeh.plotting.Figure.circle_cross)

[2021-01-29 11:58] mattpap commented on #10875
There are no marker models anymore, only `Scatter` glyph and marker glyph functions. This documentation has to be fundamentally revised. I would also not consider `Circle` a marker, given it has different interface from other markers, though the implementation still insists on this.

[2021-01-29 16:29] TheoMathurin opened #10876 "[BUG] 'dashed' line style not working properly when using webgl"
Bokeh 2.2.3
Python 3.8.5
Ubuntu 18.04
Notebook or Bokeh server
Latest Firefox or Chromium

I've tried webgl rendering to speed up my scatter plots, with great success. However I use a `line` in these plots and noticed that all possible values for the `line_dash` keyword argument work except `'dashed'`, although the legend item seems to adapt just fine.

This is a rather minor issue but I figured i

[2021-01-29 17:47] philippjfr opened #10877 "Remove SRI integrity checks from js_resources.html template"
So I'm still seeing the issue mentioned in https://github.com/bokeh/bokeh/issues/9773 appear randomly on some server deployments. Usually this is when a user has been developing an application locally and then switches to loading the deployed application, presumably for the same reason as mentioned in #9773, which is that it was loaded without the SRI hashes and then breaks when the SRI hashes are

[2021-01-29 17:55] philippjfr commented on #9773
Given that this issue is still occurring in the wild and we have explored all avenues of addressing this without disabling the integrity check I've opened https://github.com/bokeh/bokeh/issues/10877 to supersede this issue and vote for removing the checks in Bokeh 2.3. If Chrome ever fixes the bug we can readd the checks.

[2021-01-29 17:55] #9773 closed

[2021-01-29 17:59] bryevdv commented on #10877
I agree, but also think we should continue to compute and publish the hashes, and leave all the verify APIs, etc in place. Anyone that wants to use them in their own script tags can still do so, we just won't insert the hashes into any script loads we generate.

cc @jakirkham just to give you a heads up as I recall you spearheaded the initial issue to add these. Unfortunately we are at a point of

[2021-01-29 18:00] bryevdv commented on #10877
@philippjfr I do think trying to put this in right before a release is highly risky, I would prefer to push to 2.4 and make sure the next release cycle is not nearly as long.

[2021-01-29 18:02] philippjfr commented on #10877
Fair enough, I'm okay with pushing it.

[2021-01-29 18:17] jakirkham commented on #10877
cc @martey (for awareness)

[2021-01-29 19:07] bryevdv commented on #10875
Ah, I had forgotten about that. We really need to examine our processes somewhat, since at minimum a separate issue to update the docs should have been logged at the time, if the docs update was not part of the PR.

I will try to look at this over the weekend. @tcmetzger if you have thoughts on organization, your input would be valuable. The upshot is that things like `p.square` are now really jus

[2021-01-29 19:15] EisenbergEffect commented on #10812
This is a bit of a tricky situation for us. I believe we originally had the type set to "module" in a very early version of FAST, and that ended up causing various issues in other configurations. If I recall it was different versions of Node and testing configurations that were failing. So, we opted for the current configuration we have. That decision was almost a year ago, so the details are a bi

[2021-01-30 04:01] tcmetzger commented on #10875
Yes, this should definitely be reflected in the docs, and having an example plot with all the markers (similar to https://github.com/bokeh/bokeh/blob/branch-2.3/examples/reference/models/Scatter.py?) would be great! I'll need some more time to understand what these changes mean in terms of docs. Some quick thoughts on what to look at for making changes:

- For the reference guide, we probably shou

[2021-01-30 07:00] tcmetzger opened #10879 "[BUG] Link to export_svg() in export.rst is broken"
In the [current dev-version user guide](https://docs.bokeh.org/en/dev/docs/user_guide/export.html#exporting-svg-images), the link in export.rst to  `export_svg()` is broken, while the link to `export_svgs()` seems to work fine:

![grafik](https://user-images.githubusercontent.com/39711796/106349455-c9739d80-6282-11eb-92e2-84bfcd412c20.png)

The reason for this is that the link in the rst-code shou

[2021-01-30 07:41] shenshan commented on #7317
+1

[2021-01-30 11:47] alucab commented on #10866
Sorry for the late answer.
In principle yes, I never looked the core code before looking for this so I am not very expert on compiling the library etc...

Have you got any guidelines on how to develop/build/compile?

[2021-01-30 13:54] kernc opened #10880 "[BUG] ProxyToolbar.logo: expected a value of type str, got None"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Regression in bokeh-2.3.0.dev12
Works in bokeh-2.3.0.dev11

#### Description of expected behavior and the observed behavior

Passing `gridplot(..., toolbar_options=dict(logo=None))` should hide the toolbar logo.
Instead, since bokeh-2.3.0.dev12, it raises the error below.

#### Complete, minimal, se

[2021-01-30 14:02] kernc commented on #10880
Without firing up bisect, I'd say it has to be https://github.com/bokeh/bokeh/commit/6828be458c924193fdbed49126b56358da5b365c from https://github.com/bokeh/bokeh/pull/10842.

It's not quite clear to me how to pass a Nullable type (passing `logo=bokeh.core.property.primitive.Null()` didn't work), but the docs still mention setting the value to `None`:
https://docs.bokeh.org/en/latest/docs/reference

[2021-01-30 16:13] mattpap commented on #10880
We are still finding cases that implicitly allowed `None`, but it wasn't indicated in the type system. It's fixed in PR #10874.

[2021-01-30 16:15] mattpap commented on #10880
`Null` and `Nullable` are property types that accept `None` (`null` in bokehjs) as a value. You can use the former in `Either(Null, T0, ..., Tn)` and the later in `Nullable(Type)`.

[2021-01-30 18:40] MarcSkovMadsen commented on #10812
Thanks @EisenbergEffect . This is a bit outside my domain of expertise. But i hope there will be a solution. I’m working on getting a Fast Template into Panel. The natural step after that is to begin building custom Fast components.

[2021-01-30 23:52] bryevdv commented on #10870
@jordaniac89 just noting that without more information to be able to reproduce, this issue will close in three days.

[2021-01-31 01:11] bryevdv commented on #10879
I am 👎 on this. The intention is that `bokeh.io` is where the general public API lives. The submodules exist purely for ease of maintenance and users should not know about them at all, unless they need to use something advanced from the "dev" API.

[2021-01-31 01:28] bryevdv commented on #10879
@tcmetzger I will make a quick PR to add `export_png` to `bokeh.io` that will fix the broken link and bring to API structure in line with intention. I do think that we don't do a good job of splitting off the  docs for the "general public API" in `bokeh.io` from the complete reference for all the individual submodules (which do contain some advanced functions that some users will want to use). Thi

[2021-01-31 01:32] bryevdv commented on #10876
IIRC legends are not rendered using webgl regardless of the main plot.

[2021-01-31 02:06] bryevdv commented on #10875
@tcmetzger here is a script you can play with / improve:
[code]

It generates this:

<img width="308" alt="Screen Shot 2021-01-30 at 6 05 56 PM" src="https://user-images.githubusercontent.com/1078448/106372583-deedd380-6325-11eb-88f0-787d009e9bcb.png">

[2021-01-31 03:25] tcmetzger commented on #10879
@bryevdv Thanks for the explanation, that makes a lot of sense. I'd say the most important thing is for `export_svg()`, `export_svgs()`, and `export_png()` to be consistent!
I'll get the follow up issue started.

[2021-01-31 04:08] tcmetzger opened #10882 "Docs: Keeping "general" vs "dev" API docs separate"
As discussed in #10879, elements of the "general" and the "dev" API are not consistently delineated in the docs (e.g. `bokeh.io.export_png` vs. `bokeh.io.export.export_png`).

As suggested by @bryevdv , the purpose of this issue is to discuss

- what do we want to happen in terms of UX for "general" vs "dev" API docs
- how can we implement this

In addition to `bokeh.io`, this might be relevant to

[2021-01-31 13:33] Matthew-J-Billings opened #10883 "Update GMAP to use an unretired version of the javascipt api"
GMAP currently raises an ExpiredVerision warning.

It appears that it is currently passing 'v=3.36' as the version for the google maps javascript api.

The most recent stable version is: 3.43.  Any version earlier than 3.41 is retired. (https://developers.google.com/maps/documentation/javascript/versions)

Could you look at either bumping the version to an unretired version, or setting it to pass

[2021-01-31 22:09] tcmetzger commented on #10875
@bryevdv Thanks, I will take a look at this in the next few days. Do you happen to know why the links to `Scatter` (and `Circle)` in  https://docs.bokeh.org/en/dev/docs/reference/models/glyphs.html are not working? In the `glyphs.py` module, the class `Scatter` and the class `Circle` both seem to have docstrings, but somehow those docstrings are not rendered and linked?

[2021-01-31 23:38] bryevdv commented on #10875
Still investigating. I tried building with `SPHINXOPTS=-v` but didn't see anything obvious.

[2021-02-01 00:05] bryevdv commented on #10875
@tcmetzger circle and scatter need missing `circle.rst` and `scatter.rst` files created under the directory

#### circle.rst
[code]

##### scatter.rst
[code]

[2021-02-01 04:37] tcmetzger commented on #10875
I have opened pull request #10885 and added some first commits. I'd suggest we continue the discussion there.

[2021-02-01 10:59] #10883 closed

[2021-02-01 11:00] #10879 closed

[2021-02-01 18:19] bryevdv commented on #10882
Just a few quick thoughts. There are basically three categories:

* "general" API like `export_png`. These are classes and functions that are exposed in top level submodules like `bokeh.io` or `bokeh.plotting` These are the most common things users should use all the time and should be the most prominent things in user-facing docs.

* private" API these start with an underscore `_foo` and users sh

[2021-02-01 18:46] #10880 closed

[2021-02-02 15:27] pablo-esteban opened #10886 "Unable to fix plotting area aspect ratio"
Hello,

I am trying to plot a matrix with `rect` glyphs. However, my data varies in length of rows and columns and length of axes labels. I have discovered that the plot aspect ratio is mainly affected by the label size:

[code]
Which produces a square of aspect ratio 1:
![Screenshot_2021-02-02 Bokeh Plot](https://user-images.githubusercontent.com/4750021/106597129-e1327680-654d-11eb-8bbb-fb77fc93

[2021-02-02 17:19] bryevdv commented on #10886
@pablo-esteban as noted in the docs, `match_aspect` and friends only apply when there are two auto-ranges:

So it won't be useful or applicable to fixed categorical ranges. I can imagine some potential strategies to handle this use case, but that is a help/support dicscussion, so I ask that it move over the to the [project discourse](https://discourse.bokeh.org/)

[2021-02-03 15:17] jeffreymonaco opened #10887 "[BUG] FileInput cancel operation throws error"
**SUMMARY:** FileInput widget throws an error if the user cancels the input. NB: Requires a previously successfully executed file-input operation for error to manifest.

**VERSIONS:** Bokeh 2.2.3, Python 3.8.5, Mac OSX Big Sur

**Minimal Reproducible Example**

[code]

**STACK TRACE**

[code]

[2021-02-03 15:25] jeffreymonaco opened #10888 "[BUG] FileInput accept-type '.txt' file-extension filtering does not work as expected"
**SUMMARY:** FileInput file-extension filtering of selectable files does not work as expected for '.txt' extension type; it allows files with .csv, .py, etc. to be chosen. However, if the extension is changed to some other type, .e.g. '.csv' or '.json', the selectable options are filtered as expected.

**VERSIONS:** Bokeh 2.2.3, Python 3.8.5, Mac OSX Big Sur

**Minimal Reproducible Example**

[cod