[2019-02-08 00:40] mattpap commented on #8627
Yeah, I meant that. Too tired to write the right thing.

[2019-02-08 17:38] bryevdv commented on #8627
@mattpap as a starting point to discuss a real solution, here is a trivial patch that fixes both issues (the extra axes, and the problem with simple ids):
[code]

It seems to me that that to make this more reasonable/maintainable we could encapsulate the few places any actual "work" is done in `Model` initializers into a distinguished method  (as a convention) and then make sure that that method i

[2019-02-08 18:24] bryevdv opened #8635 "Results differ if sizing mode set in column initializer"
@mattpap I was adapting the `sizing_mode.py` example to simplify it a bit and work on a new simple but useful `js_link` method to reduce boilerplate  in some cases, and noticed ~~that when a title is added to the plot~~, the results are not ideal (there is a ton of extra space between the title and the widget above):

<img width="862" alt="screen shot 2019-02-08 at 12 22 42" src="https://user-imag

[2019-02-08 18:28] bryevdv commented on #8635
Actually it still displays badly even without a title. But the nearly original version displays fine:
[code]
<img width="866" alt="screen shot 2019-02-08 at 12 27 28" src="https://user-images.githubusercontent.com/1078448/52497912-efd33680-2b9c-11e9-853e-b49aec591ff1.png">

They seem roughly identical in structure so that's pretty weird.

[2019-02-08 18:32] bryevdv commented on #8635
OK I found the difference, it is whether column is inited with sizing more or whether it is set later

[code]
vs
[code]

Any ideas?

[2019-02-08 18:34] bryevdv commented on #8635
OK, I just remembered why this fails. setting in the init also sets on the children. That's generally useful but also can be confusing in situations like this. I will leave this issue to add some docs/notes

[2019-02-08 20:43] mattpap commented on #8627
I figured that this will be necessary. Though this assumes that Figure's super-classes behave (which may be the case). I think that the long term solution would be to split model initialization into `__new__` and `__init__`, where `__new__` would set up low-level, property-related stuff and `__init__` would focus on high level initialization (like `Figure` requires). Then in serialization code we

[2019-02-08 21:16] bryevdv commented on #8627
Sure but I don't think there is really any essential difference? `__new__` typically calls `object.__new__` via `super`, in order to call `__init__` on the instance. I don't see how you could avoid the need for  some optional parameter to `__new__` that could be used to condition whether the `super` call happens or not.

[2019-02-08 21:27] bryevdv commented on #8627
Here is everything in `bokeh.models`
[code]

[2019-02-08 21:29] bryevdv commented on #8627
Here is `Figure`
[code]

[2019-02-08 21:29] bryevdv commented on #8627
Here is `GMapPlot`
[code]

[2019-02-08 21:32] mattpap commented on #8627
`__new__` doesn't call `__init__` on its own. Given class `C`, if you construct it with `C()` then `__new__` and `__init__` will be called consecutively, however, new instance can be also constructed with `C.__new__(C)`, and this won't call `__init__` (this is what I would use for deserialization purpose).

[2019-02-08 21:33] bryevdv commented on #8627
More or less, with the exception of `Title` for figures, the work before `super` calls seems to be extra-property valuation or conditioning. And after is more typically manipulating new models and object relationships. I suppose we could add a hook for `kwargs` conditioning, called by `__new__` and leave anything else in `__init__`

I will tinker with it some this weekend.

[2019-02-09 18:45] mgagcode opened #8637 "Incorrect Layout with column of Div's (with 1.1dev2/3)"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
python 3.6
bokeh 1.1dev3 (also observed problem with 1.1dev2)
bokeh css/js 1.0.4
jquery 3.1.0
Google Chrome Version 72.0.3626.96 (Official Build) (64-bit)
FireFox 65.0 (64-bit)
Host OS: Ubuntu 18.04

#### Description of expected behavior and the observed behavior
Expect non-overlapping column of Div

[2019-02-09 18:59] mattpap commented on #8637
You are mixing different versions of bokeh and bokehjs. That's not going to give good results. You will have to use either dev CDN resources (for a dev release) or build bokehjs locally otherwise.

[2019-02-09 19:40] mgagcode commented on #8637
Is it documented somewhere what the link is?  It should be documented here,

    https://bokeh.pydata.org/en/latest/docs/installation.html#developer-builds

But I don't see it...  I believe its something like this,

    https://cdn.pydata.org/bokeh/dev/bokeh-1.1dev3.min.css

[2019-02-09 19:43] mgagcode commented on #8637
The link is,

https://cdn.pydata.org/bokeh/dev/bokeh-1.1.0dev3.min.css

And that did fix this bug.  Will Close.

[2019-02-09 19:43] #8637 closed

[2019-02-09 20:21] mgagcode opened #8638 "Incorrect Layout with column of Div's with Image (1.1.0dev3)"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
python 3.6
bokeh 1.1.0dev3
bokeh css/js 1.1.0dev3
jquery 3.1.0
Google Chrome Version 72.0.3626.96 (Official Build) (64-bit)
FireFox 65.0 (64-bit)
Host OS: Ubuntu 18.04

#### Description of expected behavior and the observed behavior
Layout produces non-overlapping rows in a column.
Layout of Div rows

[2019-02-09 21:05] mgagcode opened #8639 "DataTable rows overwrite DropDown menu (1.1.0dev3)"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
python 3.6
bokeh 1.1.0dev3
bokeh css/js 1.1.0dev3
jquery 3.1.0 and 3.3.1 (didn't try other versions)
Google Chrome Version 72.0.3626.96 (Official Build) (64-bit)
FireFox 65.0 (64-bit)
Host OS: Ubuntu 18.04

#### Description of expected behavior and the observed behavior
Expect DropDown menu appears o

[2019-02-10 04:33] suraj-deshmukh opened #8640 "Bokeh Unable to replace plot by svg element"
I have a simple bokeh web app where user can upload a csv or excel file and based on the file certain kind of plot will appear. I have implemented a svg spinner for loading notification purpose. Ideally the app should replace blank plot by svg element when user click on upload button and when file gets uploaded successfully then that svg element should again gets replaced by the blank plot.

But i

[2019-02-11 10:58] axil commented on #5779
In case someone lands here from google, the proper way of doing it (if I understand correctly) is:

[code]

[2019-02-11 11:18] Axlrck opened #8641 "Empty HTML renderer"
Hello, I have an issue when i want to save a table into a HTML file.
With this code, I save a empty HTML file. I can't see the table

[code]
This code does what i want.

[code]

Have an idea ?

Thanks

[2019-02-11 13:39] #8641 closed

[2019-02-11 15:47] birdsarah opened #8642 "manual_grid layout example has lost it's core functionality in layout PR"
The layout example `example/howto/layouts/manual_grid.py` used to end like this

[code]

The point was to provide an example that would reformat itself under the different sizing modes for users to test out the effect of these different modes.

The new layout syntax is much cleaner, and I'm excited to see that the end now looks like this:

[code]

But the core functionality of this example in acce

[2019-02-11 15:54] birdsarah opened #8643 "dashboard.py example not behaving as expected after the layout PR"
``examples/howto/layouts/dashboard.py``

Running from master locally, I get this.

![screenshot from 2019-02-11 09-49-39](https://user-images.githubusercontent.com/1796208/52574694-70cf3f80-2de2-11e9-8a69-68af9850d5cf.png)

I see the following problems:
* The axes edges of the plots are not aligned on the left or right sides.
* The sliders should have more space to the left
* The sliders  should f

[2019-02-11 16:00] birdsarah commented on #8643
Here's a screenshot from 1.0.4

![screenshot from 2019-02-11 09-58-19](https://user-images.githubusercontent.com/1796208/52575339-a4f73000-2de3-11e9-88b1-4ae553240364.png)

The axes are aligned, but the sliders do not look great either. I misremembered that bit :D
I think they should be ideally, left aligned with the axes. Although that may be out of scope.

I'm indifferent about stretching them.

[2019-02-11 16:20] bryevdv commented on #8642
But to "try it out" the user had to edit a file, and re-run code. This is a high hurdle and some people just might be viewing the result and not even have the code to run at all (e.g a gallery). I never liked that text, for this reason. I'd rather expand or make similar examples to `plotting/file/sizing_mode.py` which have a live drop down to set different sizing modes and see immediately how thin

[2019-02-11 16:36] bryevdv commented on #8642
Or perhaps other way of putting it, I would be happy to have the original text as a comment in the source code, where it is clear that the necessary change is a change in the code. Having it be actual text in the HTML page is confusing ("where/how do I change it??")

[2019-02-11 16:46] bryevdv commented on #8643
@birdsarah the issue with some axis alignments is known, but I am not sure there is an issue so this can serve as a good one for tracking it. AFAIK @mattpap has a plan or idea for how to restore that but I am not sure how much of a lift it will be.

[2019-02-11 16:53] bryevdv commented on #8640
@suraj-deshmukh There seems to be alot of unrelated code/functionality in this, and it is also not self contained (needs a CSV file that is not supplied). Can you:

* reduce the code to the absolute minimum necesary to demonstrate the issue
* make sure it is self-contained (or provide any external files that are needed)

Without this, we will have to close as `norepro`

[2019-02-11 16:54] mattpap commented on #8643
Lack of axis alignment is a side effect of lack of grid spans in the new layout. This will be implemented at some point. Sliders are too short, but that's a known issue. Everything is tracked in issue #8084.

[2019-02-11 23:19] bryevdv opened #8645 "Use cross-browser compatible CSS for testing"
Detected during #8636

Running on OSX, differences pop up frequently (but not all the time):

[code]

Chrome was run with
[code]

Version : `Google Chrome 69.0.3489.0 canary`

And tests were run with:
[code]

[2019-02-11 23:25] bryevdv commented on #8645
I suppose the first thing to check is whether this might be due to a difference in chrome version. Otherwise @mattpap please let me know what diagnostic information you'd like me to collect (and possibly how)

[2019-02-11 23:45] mattpap commented on #8645
I would start with version number. I'm using 72, but I'm not sure what Travis CI uses (it says stable, which should be 72 as well). Though I doubt this is the reason. Another useful thing would be to see test output for entire test suite. At this point I'm not sure if it's only Div and Select causing problems, widgets in general or more.

[2019-02-11 23:46] mattpap commented on #8645
This isn't necessary anymore (unless you've been experiencing any issues running without it).

[2019-02-12 03:29] bryevdv commented on #8627
Funny discovery, `_block_events` is no longer actually used by anything.

[2019-02-12 05:00] bryevdv commented on #8627
@mattpap I am now skeptical of this approach. It takes this much just to get tests to run without errors, but now hangs obscurely on `test_serve.py`:
[code]
Lots of mucking required because, e.g. `_id` and `_document` need to be set before `HasProps` calls `setattr` for all the properties, and doing things in `__new__` necessarily inverts the order that that happens in (because we have to to call

[2019-02-12 06:03] bryevdv commented on #8627
OK, here is a more minimal diff that does seem to work (one test fails) at the expense of calling `HasProps.__init__` explicitly by hand:
[code]

[2019-02-12 06:26] hklarner commented on #8209
A message explaining the disappearance or a link to this issue in place of the search box would prevent annoyed bewilderment. Its just very uncommon to offer a documentation that is not searchable.

[2019-02-12 06:51] ivirshup commented on #8209
Would it be possible to just have the search route you to something like: `https://www.google.com/search?site:bokeh.pydata.org+inurl:{current_version}+{query}`?

[2019-02-12 07:38] bryevdv commented on #8209
I didn't have any luck:

<img width="764" alt="screen shot 2019-02-11 at 23 36 20" src="https://user-images.githubusercontent.com/1078448/52619190-e294a100-2e55-11e9-889f-d01664ccef79.png">

I also tried without the `{}`, and with double quotes around the text. Google does not seem to like the `.'` characters. At one point it also said I was sending suspicious traffic and made me pass a CAPTCHA. S

[2019-02-12 09:06] suraj-deshmukh commented on #8640
@bryevdv after revisiting each line of code and removing unrelated code problem get resolved. Thanks.

[2019-02-12 09:06] #8640 closed

[2019-02-12 10:35] mattpap commented on #8645
Can you try `node make test:integration`? This test includes all widgets and works for me on Windows with Chrome 72. I'm trying to run examples' tests on Windows as well, but that fails with a bunch of different errors (bad paths, unicode, etc.), so it may take awhile to get it working.

[2019-02-12 11:57] ivirshup commented on #8209
Oh, that was kind of a rough f-string style template. A little more formally (using python conventions) it'd be:

[code]

For example, searching for "network plot" on the latest docs would send you to [https://www.google.com/search?q=site:bokeh.pydata.org+inurl:latest+network+plot]()

[2019-02-12 12:38] mattpap commented on #8645
Examples' tests on Windows give one failure `integration/layout/grid_axis_alignment_no_toolbar`, but that example is totally broken and it doesn't seem to be layout related. Hopefully upgrading Chrome on OSX will fix other failures. If that's the case, we will have to make sure to always use Chrome stable for baseline (and image diff) testing.

[2019-02-12 13:22] mattpap opened #8647 "Make examples' tests work on Windows"

[2019-02-12 13:29] elhossary opened #8649 "DeprecationWarning: the way of importing the ABCs will stop working in python 3.8"
bokeh\plotting\helpers.py:21: DeprecationWarning: Using or importing the ABCs from
'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working

[2019-02-12 13:36] mattpap commented on #8649
What version of bokeh this refers to? As far I can tell this was fixed in `master` (PR #8631).

[2019-02-12 14:02] tony-bony commented on #8531
It is actually working (at least on Mac) using the export_png() method so I guess it's been already implemented in 1.0.4... See [this post](https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/qBTrxS6TzW4)

[2019-02-12 14:10] elhossary commented on #8649
I am using 1.0.4.
each time I run my tests in pycharm, I get this warning.
bokeh\plotting\helpers.py     LINE 21

[2019-02-12 14:11] mattpap commented on #8531
`export_png()` and save tool are two different things. There was no progress on this issue so far.

[2019-02-12 14:56] bryevdv commented on #8649
It is fixed in master but there's not been a release yet. Please note that even after our fix, this still comes up in tests because some upstream dependencies have not fixed it yet.

[2019-02-12 14:56] #8649 closed

[2019-02-12 15:06] mattpap opened #8650 "grid_axis_alignment_no_toolbar is broken in Windows (32-bit)"
`examples/integration/layout/grid_axis_alignment_no_toolbar`:

![image](https://user-images.githubusercontent.com/27475/52644650-81191480-2edf-11e9-9905-eb5b000448f1.png)

All axes should be in 0 to 10, 10^3, 10^6, 10^9 ranges. All major browsers are affected the same way. I suspect this may be due to 32-bit system architecture. It would be good if someone with 64-bit windows could run this exampl

[2019-02-12 15:08] mattpap commented on #8650
Looking at those glyphs, it's pretty clear to me that this is an overflow-kind issue.

[2019-02-12 15:50] #8647 closed

[2019-02-12 16:01] mattpap commented on #8650
This is a problem with numpy. The code uses `10**9 * np.arange(10)` which overflows, because `dtype` defaults to platform `int` which is 32-bit in size.

[2019-02-12 16:55] marcuskd commented on #7497
Just re-ran the original example from the 1.1.0 dev2 build and it works fine, many thanks to the dev team for the continuing great work!

[2019-02-12 17:25] bryevdv commented on #8650
The code in our example uses that? Seems like an easy fix to make the type explicit then

[2019-02-12 18:14] bryevdv commented on #8084
@mattpap @philippjfr OK I have consolidated the remaining open issues into the top. We need to prioritize these. For reference, I would like to release 1.1 next week -- monday or tuesday. The critical things I am aware of are:

* tab re-layout
* perf issue desribed by @philippjfr

are there others? Please edit the issue at the top to highlight or call out anything that should be regarded as critic

[2019-02-12 18:29] #8650 closed

[2019-02-12 18:29] bryevdv commented on #8625
@ruoyu0088 would you like to submit a PR for us to consider?

[2019-02-12 18:34] philippjfr commented on #8084
Just to provide a bit more color for the performance issue, I've recorded some screencasts comparing the before and after.

[Here is a screencast](https://imgur.com/a/RvBFvOD) of the sample app with 1.0.4 and here is the performance profiling output for two events:

![screen shot 2019-02-12 at 6 29 36 pm](https://user-images.githubusercontent.com/1550771/52659110-816fda80-2ef4-11e9-81d4-cf549d8672

[2019-02-12 19:34] bryevdv commented on #8645
@mattpap I re-ran things locally with Chrome 72, there are about 45 failures. `examples.out` and `sphinx.out` are here:

e6c97431cd5bd2092d4417a9efaf76da

[2019-02-12 19:55] bryevdv commented on #8645
Just realized the GH diff of baselines is probably easier to digest:

[baseline.txt](https://github.com/bokeh/bokeh/files/2857432/baseline.txt)

[2019-02-12 21:10] mattpap commented on #8645
That's just great. Well, I will finish PR #8646 and then try figure out what's going on here.

[2019-02-12 21:12] mattpap commented on #8084
That's unrealistic in my opinion. I would say last week of February (in two weeks) would be better.

[2019-02-12 21:13] bryevdv commented on #8639
Confirm this happens with default formatter too

<img width="673" alt="screen shot 2019-02-12 at 13 13 12" src="https://user-images.githubusercontent.com/1078448/52668279-01338000-2ec8-11e9-9543-9574f61fb204.png">

[2019-02-12 21:23] bryevdv commented on #8638
@mgagcode I am not sure what the intent is here, in case \ you want to have a fixed size for the image, then changing your code to
[code]
seems to always behave well. This should be looked at at some point but that might be a useful workaround for now.

[2019-02-12 21:25] bryevdv commented on #8084
ok, I think @philippjfr wanted more time as well, but I would say it is important to have 1.1 before the end of the month.

[2019-02-12 21:26] bryevdv commented on #8084
FYI regarding the issue above, removing some of the redundant/extraneous nesting did result in a significant improvement. But @philippjfr will post more info later.

[2019-02-12 21:28] bryevdv commented on #8209
@ivirshup Ah, until we ditch Python 2 later this year, f-strings are not usable by us so I have not really used them either.

Unfortunately, while that works for "latest" (which was also true of what I tried earlier) it does *not* eek for "1.0.4" again google really seems to have the dots

<img width="809" alt="screen shot 2019-02-12 at 13 26 28" src="https://user-images.githubusercontent.com/1078

[2019-02-12 21:33] mattpap commented on #8084
I already investigated this in the PR. De-nesting will help, but the problem is with super slow measurement procedure of arbitrary HTML components. When replaced by a constant, speed improves a factor of 10-20, which translates to layout under 50ms in my VM.

[2019-02-12 23:16] mattpap commented on #8645
@bryevdv, can you apply this patch and show me generated baseline for models/file/widgets? Maybe I will be able to spot some differences in the computed CSS.
[code]

[2019-02-12 23:45] mattpap commented on #8645
Actually, as I think this is a difference in font, can you open models/file/widgets.html in Chrome and inspect the select widget (second column, third item) and check the computed font-family ("Computed" tab in CSS inspector; use filter to find font-family). Linux and Windows agree on Arial. Unfortunately `getComputedStyle()` is unable to resolve the actual font being used.

[2019-02-12 23:52] mattpap commented on #8645
A cursory google search reveals that Helvetica Neue should be the default on OSX (given our CSS). I will need to figure out how to force a common font (I suppose Arial) without modifying CSS and examples.

[2019-02-13 00:39] bryevdv commented on #8645
Ah, sure a different default would make a tidy explanation. Do you still need me to run with that patch?

[2019-02-13 00:42] mattpap commented on #8645
No, it actually wouldn't be helpful here after all. However, if you could verify what font is being used (as explained in my earlier comment).

[2019-02-13 00:53] bryevdv commented on #8645
@mattpap seems a bit confusing:

<img width="548" alt="screen shot 2019-02-12 at 16 52 38" src="https://user-images.githubusercontent.com/1078448/52678487-aa896e80-2ee6-11e9-99b0-a1ad66d98798.png">

[2019-02-13 00:57] bryevdv commented on #8645
Possibly relevant: https://infinnie.github.io/blog/2017/systemui.html

[2019-02-13 01:03] mattpap commented on #8645
This is unreasonable, but what to expect from web technologies. However, I think the problem is actually with font-size, due to `pt` units that we use in our CSS. On linux and windows font-size == 13.3333px.

[2019-02-13 01:04] mattpap commented on #8645
btw. Safari is one of few browser that implement this and enable this by default (system-ui).

[2019-02-13 01:41] #8627 closed

[2019-02-13 01:45] bryevdv commented on #8645
@mattpap correct, that screenshot is from chrome.

FWIW some sites say simply to have per-platform profiles, which seems unpleasant especially hard to update or add new ones. Perhaps we simply only run these tests on linux and skip them elsewhere. Alternatively we could make these tests run in docker....

[2019-02-13 02:07] ivirshup commented on #8209
Ah yeah, I had only checked if it worked for `inurl:latest`. Anyways, I'd assumed this would get implemented in javascript instead of python, since it only need information from the current page.

So I guess like:

[code]

So `search("network plots interactive")` would take you to: https://www.google.com/search?q=site:bokeh.pydata.org+1.0.4+network+plots+interactive

But maybe with some URI cleani

[2019-02-13 02:12] bryevdv commented on #8209
@ivirshup That's promising! I will see if I am able to incorporate something before the next release

[2019-02-13 02:15] bryevdv commented on #8209
At this point I think I will give the sphinx search plugin another shot. It's been several years, perhaps things have improved somewhat.

[2019-02-13 02:17] bryevdv commented on #8209
Another option would be to try and publish to RTD, since they have their own search indexing AFAIK,  but that seems like a huge undertaking. Our docs build is very complicated and seems to not fit neatly into their expectations.

[2019-02-13 12:56] mattpap commented on #8645
So actually I noticed that on linux and windows user agent styles also overwrite ours. This is because our styles are implemented incorrectly, allowing CSS cascade to prefer UA styles over ours. I fixed this in PR #8652.

[2019-02-13 13:31] philippjfr commented on #8084
I've been able to reduced the nesting in my example by one level by eliminating the use of widget boxes in panel. That indeed makes a fair difference but it would of course still be great if we could speed up the measurement procedure.

[2019-02-13 13:33] philippjfr commented on #8084
Should I be opening new issues for other issues I've encountered? If I display the app example in a notebook and navigate away from and back to the notebook tab this is what happens to the layout:

![screen shot 2019-02-13 at 1 32 07 pm](https://user-images.githubusercontent.com/1550771/52715283-f1816d80-2f93-11e9-9326-ba2f7a9ec8fd.png)

[2019-02-13 13:34] mattpap commented on #8645
For future reference, Chrome's user agent styles:

https://chromium.googlesource.com/chromium/blink/+/master/Source/core/css/html.css

[2019-02-13 14:14] mattpap commented on #8084
@philippjfr, yes, this one in particular deserves individual treatment.

[2019-02-13 15:52] birdsarah commented on #8084
I would include the lack of axis alignment (#8643) as a critical issue. If everyone runs 1.1 and all their plots have moved I would imagine it will be regarded as a serious regression. The whole point of the original layout PR was that things were aligned. You could already lay things out.

[2019-02-13 15:53] birdsarah commented on #8642
Switching it to an app with a live dropdown would be so much better. I'm pretty sure that didn't work / didn't work well when I made the original example.

[2019-02-13 16:46] bryevdv commented on #8084
Yes and no :) There were lots of ways to break the original layout before the solver existed. And after it was added there were easily obtainable combinations of stretch/scale modes that led to bad results, or just nothing rendering at all. Also the solver overhead made it impossible to have more than ~10 plots on a page. I've gotten explicit feedback from users that fixing these bugs and limitati

[2019-02-13 18:02] bryevdv commented on #8178
I don't personally consider this a priority and given the lack of response regarding making a contribution, I will close this now. We can always re-open if someone wants to work on it 

[2019-02-13 18:02] #8178 closed

[2019-02-13 18:03] bryevdv commented on #4968
I'm no longer sure what was intended to be added, so without more detail I will close this.

[2019-02-13 18:03] #4968 closed

[2019-02-13 20:29] philippjfr opened #8654 "Text wrapping in Div after layout PR"
On current master after the layout PR the sizing behavior for ``Div`` is hugely improved however there is one new behavior which is quite frustrating. By default it seems the Div now wraps any text in it depending on the length of the string. Here's a reproducible example of the issue:

[code]

![div_text](https://user-images.githubusercontent.com/1550771/52741709-ec411480-2fcd-11e9-9e6a-bd9e8d17d

[2019-02-13 20:49] mattpap commented on #8654
If you want a label, I would start with `Div(..., style={"white-space": "nowrap"})`. Alternatively fixed width would be useful, to avoid the widget to fit into the available space (this behavior may be a bug, I need to look closer at this).

[2019-02-13 20:50] philippjfr commented on #8654
Thanks, that's a viable workaround for now. Specifying a fixed width does not eliminate the issue unfortunately.

[2019-02-13 20:52] philippjfr opened #8655 "Loading plot in separate JupyterLab tab collapses layout"
As I originally outlined in https://github.com/bokeh/bokeh/issues/8084 since the layout PR you can get into situation where a layout collapses completely when reloading a notebook window. Since then I've further narrowed it down, and figured out that this only occurs in JupyterLab when the plot is in a different tab than the current one being displayed.

Here is a screencast demonstrating the issu

[2019-02-13 20:55] bryevdv commented on #8655
cc @canavandl in case we need some Jlab extension help

[2019-02-13 20:58] mattpap commented on #8655
I need to reproduce this.

[2019-02-13 22:35] mattpap opened #8656 "Rewrite custom extensions in TypeScript"

[2019-02-14 06:52] birdsarah commented on #8084
I'm going to agree with you while disagreeing very strongly :-D

1) You buried the lead, alignment is largely working! That was not clear from your comment or from responses to my issue. Check out this tortured version of the gridplot example which, aside from the left title looks great

![screenshot from 2019-02-14 00-36-59](https://user-images.githubusercontent.com/1796208/52767728-fd4f4d00-2ff0

[2019-02-14 06:53] birdsarah commented on #8084
@mattpap is that left-title-when-no-axis issue a known issue. Let me know if not and I'll open an issue.

[2019-02-15 08:42] YMRTN opened #8658 "HoverTool does not display datetime"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Windows 7 Enterprise
python 3.7.2
bokeh 1.0.4
Firefox 65.0.1 / Chrome 71.0.3578.98 both tested

Using bokeh serve

#### Description of expected behavior and the observed behavior
The tooltip should display a datetime, but instead displays 150TB %. It looks like datetime is first correctly transformed

[2019-02-15 10:20] tavinashb opened #8659 "BokehJS standalone: hexbin example"
Is there any example / reference to create hexbin using BokehJS JS library as same as [https://bokeh.pydata.org/en/latest/docs/gallery/hexbin.html](https://bokeh.pydata.org/en/latest/docs/gallery/hexbin.html).

I have tried to create same example using `Bokeh.HexTile`, but not able to create same look and feel as python hexbin example.

[2019-02-15 13:36] mattpap commented on #8659
Currently `Figure.hexbin()` is not mirrored in JS/TS API. This applies to some other related APIs as well.

[2019-02-15 14:04] mattpap commented on #8655
The problem is similar to #8614. To make correct measurements, widget element must be displayed, as well as its each parent. This is not the case here. In case of tabs this can be easily fixed by using `visibility` property instead of `display`.

[2019-02-15 17:49] bryevdv commented on #8658
@YMRTN this is a usage error, the key in the formatter dict should refer to the *column name*:
[code]
<img width="1501" alt="2 weeks" src="https://user-images.githubusercontent.com/1078448/52874597-e3a02980-3106-11e9-890e-c6f2b9fbe3fc.png">

[2019-02-15 17:49] #8658 closed

[2019-02-15 17:53] bryevdv commented on #8659
`hexbin` relies on Pandas to do the data aggregation, groupby, etc. To add `hexbin` to the JS API would mean having to do aggregations in JS. It's not clear to me that we want to do that ourselves, or at least not in the core library. Maybe it could go in a "charts" that is split off and has heavier dependencies.

[2019-02-16 16:49] RunOrVeith commented on #8176
Any progress on this?

[2019-02-16 17:46] bryevdv commented on #8176
Nope, if there were it would be described here. Given that there is a serviceable way for users to do this on their own, it has not been prioritized relative to other things. Also some investigation is needed, last time I checked, I seem to recall the Chome driver performance was a lot worse. if you re interested in working on the task we are happy to advise.

[2019-02-17 07:35] alhoo opened #8663 "Add support for data source using server-sent events"
Currently bokeh uses Ajax polling or web sockets to receive data from a backend server. It would be nice to use server-sent events in some situations, since they can simplify the backend-code and are a good option for one way data streaming.

[2019-02-17 16:26] hklarner commented on #8265
I am using the same setup as @ltalirz for plotting geo data. This necessity of creating new instances of bokeh models also affects the import of tiles. That is, put the tile provider also inside the function that creates the tabs:
[code]
Otherwise you get a runtime error:

[2019-02-17 16:55] bryevdv commented on #8265
@hklarner there is a new function for creating standard tile providers in the next release (and using the module attributes week be deprecated)

[2019-02-17 20:32] #8614 closed

[2019-02-18 01:17] lyons7 commented on #8392
If anyone is here with a problem with bokeh and nteract after closing the notebook and having issues with a plot / map showing up inline, the suggestion from @canavandl to do:
[code]

totally worked ! **And** it also suppresses the annoying (imo) popping open of an html file in a separate browser window! 🎉 🎉 🎉

[2019-02-18 04:54] GenevieveBuckley commented on #8390
I'm happy to make a pull request for this @birdsarah, but I'm having a hard time wrapping my head around the repo organization. Can someone point me to the file or class that needs updating?

[2019-02-18 06:10] bryevdv commented on #5951
@davclark @cdeil @handwerkerd just a heads up that a PR #8665 to be merged for 1.1 makes the plot scripts always unconditionally be placed adjacent to the document they are for, and always loads them using relatave URLs. The hacky options in #6223 are now no longer necessary, and will no longer have any effect (tho supplying them will not cause an error, until 2.0) I think this is a positive chang

[2019-02-18 06:15] bryevdv opened #8666 "Changes right at 2.0 release"
* [x] #8998 remove noarch spec, update conda build process
* [x] Update SITEMAP_BASE_URL
* [x] update Travis CONDA_REQS `"conda=4.7.12 conda-build=3.18.10 conda-verify=3.4.2 ripgrep=0.10.0"`
* [x] #8996 update classifiers and pytho_requires
* [x] #8938 remove python 2 and 3.4 from the test matrix
* [x] #8946 remove dependency on six
* [x] #8949 remove bokeh.util.future
* [x] #8951 remove future im

[2019-02-18 16:03] #5955 closed

[2019-02-18 16:04] #8187 closed

[2019-02-18 19:47] paulaceccon opened #8668 "Displaying custom data on hover for RGBA image"
It would be nice to be possible to show some sort of information on RGBA images using Bokeh (https://stackoverflow.com/questions/54753032/hover-image-rgba-bokeh/54753614#54753614).
For instance, I'm working on a project in which we provide an RGBA image where the alpha represents some sort of confidence. We would like, when hovering an image pixel, to be able to show this confidence (in this case,

[2019-02-18 19:52] bryevdv commented on #8668
cc @jlstevens

[2019-02-18 20:40] jbednar commented on #8668
For my purposes, I'd like to be able to see the full RGBA tuple, or any particular channel, or (ideally) any other column of data sharing the same shape.  E.g. if I had data that was turned into RGBA by datashader, it would be nice to hover over and see the original data value.  Currently I can do that by overlaying an invisible (alpha=0) copy of the Image, but that's awkward.

[2019-02-18 20:48] bryevdv commented on #8668
Some random thought:

* Probably good to add some new special fields: `$red`, `$green`, `$blue` $`alpha` Obviously these would only be useful or apply to hovers of `ImageRGBA`

* I think linking to data shader or other data is possible in the same way as with `Image`? I.e. if you have another column `foo` with some other data (per-pixel) then the hover tool would drill down and display `@foo` give

[2019-02-18 21:52] jbednar commented on #8668
- The new special fields sound reasonable to me.   Seems like @alpha could apply to any glyph?

- The datashader support is maybe something we could do in HoloViews; we transform the dataset (which is not in the browser) into an array and then to an RGBA (which is always passed to the browser); we could maybe make the array available (optionally) as a column so that it would be available for hover

[2019-02-19 00:51] bryevdv commented on #6427
This appears to have been fixed as of #8085

Original code with `wd=20` and then `wd=200`

<img width="328" alt="screen shot 2019-02-18 at 16 49 51" src="https://user-images.githubusercontent.com/1078448/52982881-60e4cc00-339d-11e9-8cef-e76c8960c2c1.png">

<img width="245" alt="screen shot 2019-02-18 at 16 49 41" src="https://user-images.githubusercontent.com/1078448/52982884-63472600-339d-11e9-9c

[2019-02-19 00:51] #6427 closed

[2019-02-19 01:42] #7805 closed

[2019-02-19 02:12] bryevdv commented on #8635
Actually the current docstring is already pretty clear on this point.

[2019-02-19 02:12] #8635 closed

[2019-02-19 02:39] bryevdv commented on #8290
This appears to be fixed in master (probably #8085):

<img width="627" alt="screen shot 2019-02-18 at 18 39 09" src="https://user-images.githubusercontent.com/1078448/52986450-83caac80-33ac-11e9-9d18-2f579d9d6c5e.png">

so closing,

[2019-02-19 02:39] #8290 closed

[2019-02-19 02:57] bryevdv commented on #8402
@pauostr sorry this got missed and not triaged. FWIW the issue seems to be the legend, things work fine if I comment out all the legend related code. The problem appears to be that the Legend view is still lingering around even after the Legend is removed . This most likely indicates some missing cleanup event handlers (and FYI as of more recent releases the legend is in `p.center`, not `p.rendere

[2019-02-19 03:03] bryevdv commented on #8394
@MelvinYin This is expected behaviour. The default action is to try and make "groupby" legends if your legend name matches a column name as it does here.  There has been some back and forth about whether that was a good default or not. It makes some complicated much simpler, but it also leaves this pitall. In any case the solution is to explicitly tell Bokeh that the legend is a value and not a CD

[2019-02-19 03:03] #8394 closed

[2019-02-19 03:15] bryevdv commented on #8390
@birdsarah well, maybe. The issue is that there is currently no default at all. There is no `muted_glyph` set at all unless one of the `muted_X` values is supplied. So the options are:

* it is incumbent on users to set muted parameters they want (current situation)
* all glyphs unconditionally have to have and serialize and send a muted glyph, even if there is no need for them to
* we have to cre

[2019-02-19 03:18] bryevdv commented on #8570
I don't know about this feature / don't use it, so I would not know what to say in the dev docs. I also think maybe it's a fairly advanced/specific case and that it's better to keep the dev setup as simple and streamlined as possible. So, closing. But if you feel strongly and want to make a PR we can consider it.

[2019-02-19 03:18] #8570 closed

[2019-02-19 03:22] bryevdv commented on #8577
@gotyaoi did you still intend to do any work on this issue? If not I am inclined to close, as I think extremely long (minutes) request times are by far the exception, and if a user is in that situation they will just have to up the timeout/collection appropriately for their specialized use case.

[2019-02-19 03:25] bryevdv commented on #8443
This is fixed in master (probably #8085):

![screen shot 2019-02-18 at 19 24 48](https://user-images.githubusercontent.com/1078448/52988129-e6bf4200-33b2-11e9-832e-050b06755b30.png)

Changing the browser window width causes the buttons to update appropriately as well.

[2019-02-19 03:25] #8443 closed

[2019-02-19 03:29] bryevdv commented on #8443
I should also note the original code was not correct and was updated:

* re-using the same widget does not seem advised
* width should be set on the widget itself, not the widgetbox

[2019-02-19 03:31] bryevdv commented on #5782
Nearly certain this was fixed in #8085 I used all kinds of sizing modes in safari after that PR was merged.

[2019-02-19 03:31] #5782 closed

[2019-02-19 03:36] bryevdv commented on #8209
So, to give an update. I am going to work towards migrating our docs to RTD. Even possibly engaging with them for commercial consulting on the project. I can't speculate how long this might take but my hope is sometime in the next few months.

[2019-02-19 03:37] bryevdv commented on #8277
cc @mattpap

[2019-02-19 03:38] bryevdv commented on #8277
@complyue @botchkin it's possible this is fixed in newer dev builds, can you try with 1.1dev6 or later?

[2019-02-19 03:46] bryevdv commented on #8338
Bokeh uses noUIslider as its implementation:

https://refreshless.com/nouislider/

AFAICT it does not support string/categorical labels or ranges. Unfortunately I we definitely do not have the resources to change out our slider implementation at this time. However, Bokeh is extensible:

https://bokeh.pydata.org/en/1.0.4/docs/user_guide/extensions.html

And in fact there is a complete example of ho

[2019-02-19 03:46] #8338 closed

[2019-02-19 03:49] bryevdv commented on #7965
@birdsarah in your case you should be setting `match_aspect=True` to for the screen aspect and data aspect ratios to match. That is the only way to ensure circles are circles.

I am still unfortunately not sure what is the issue in the gmap case, or what to do about it.

[2019-02-19 03:54] bryevdv commented on #8358
This is working for me on master with Chrome (probably fixed in #8085)

<img width="670" alt="screen shot 2019-02-18 at 19 54 07" src="https://user-images.githubusercontent.com/1078448/52989163-08bac380-33b7-11e9-9949-f0abeca8afaf.png">

[2019-02-19 03:54] #8358 closed

[2019-02-19 03:56] bryevdv commented on #8355
@mattpap I feel like there was a similar issue closed already?

[2019-02-19 03:58] bryevdv commented on #8357
I do believe this is a duplicate of #7397 There is some broad cleanup/fixup needed in this area still

[2019-02-19 03:58] #8357 closed

[2019-02-19 04:22] bryevdv commented on #8188
So AFAICT this is due to setting the mode to be `scale_width` everwhere, which, it's doing exactly what is asked. I think the stretch modes make much more sense, and things almost work with those set:

<img width="1863" alt="screen shot 2019-02-18 at 20 20 49" src="https://user-images.githubusercontent.com/1078448/52989979-d14e1600-33ba-11e9-9d1a-e193a377b03a.png">

(This is with current master af

[2019-02-19 04:34] bryevdv commented on #8397
tentatively moving to `short term` but there is some infrastructure work that has to be done first.

[2019-02-19 06:51] xavArtley commented on #8355
https://github.com/bokeh/bokeh/pull/8565

[2019-02-19 06:54] bryevdv commented on #8355
Thanks @xavArtley !

[2019-02-19 06:54] #8355 closed

[2019-02-19 10:28] birdsarah commented on #8390
@bryevdv to clarify your suggestion. In the case of legend policy having been set to mute, if muted glyphs are not set a validation warning is raised? I think that's a simple and helpful solution in light of your outlined problems with the available options.

@bryevdv where would we orchestrate a validation warning like this - it's a couple of things coming together? (@GenevieveBuckley with the an

[2019-02-19 16:44] aparamon opened #8671 "OpenURL in current tab"
* Python 3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)] :: Anaconda, Inc. on win32
* Google Chrome Version 72.0.3626.109 (Official Build) (64-bit)
* Bokeh 1.0.2

Currently, [bokeh.models.OpenURL](https://bokeh.pydata.org/en/latest/docs/user_guide/interaction/callbacks.html#openurl) always opens page in a new browser window/tab. It is proposed that `bokeh.models.OpenURL()` gains

[2019-02-19 16:59] bryevdv commented on #8671
@aparamon Offhand I'd actually be more inclined to get rid of `OpenURL` some day, since anything it does could also be done with a `CustomJSCallback`. So, adding features to it is not at all a priority in my mind. Howervet, if you would like to submit a PR to add this, we would consider it and mosts likely merge it. (If you are *not* interested in working on it, please let us know so we can close

[2019-02-19 18:37] bryevdv commented on #8568
It's actually not either! It is used in `bokeh.plotting` but is not a property of any Model, which is why it is not on the BokehJS side

[2019-02-19 18:37] #8568 closed

[2019-02-19 19:54] gotyaoi commented on #8577
That may be the case. I'm currently looking for why it breaks until restart in directory mode and not single file mode.

[2019-02-19 22:26] #8625 closed

[2019-02-20 04:34] amir-rafieian commented on #3159
Hi Bryan, Hope you can help us with the example for user authentication and serving multi-user, thanks in advance.

[2019-02-20 05:26] samirak93 opened #8674 "Custom CSS not working in bokeh-1.1.0dev6"
I've created a custom CSS for modifying styles of dropdown buttons. I'm using bokeh-1.1.0dev6 version and in the output, I can see that the CSS styles are not reflecting. This was working fine till version 1.0.4. Is this something related to the recent update in layouts?

The CSS code is below:

[code]

#### Screenshots:

**Expected output**: ![img](https://files.gitter.im/samirak93/N74U/image.png

[2019-02-20 08:41] gdementen commented on #6917
My problem with dynamic categorical plot seems to be related to this issue. FWIW, my test case is there:

https://gist.github.com/gdementen/1b34dc4ddbaa55f8678900be6a3bed6f

[2019-02-20 08:48] gdementen commented on #6917
@piccicla have you found any workaround to your problem (other than redrawing the entire figure)?

[2019-02-20 09:37] piccicla commented on #6917
@gdementen unfortunately I could not fix the problem so I gave up and yes I redrew the entire figure

[2019-02-20 17:20] russellburdt opened #8676 "make a bokeh TextInput callback responsive as text is typed"
This feature is described originally in a Stack Overflow [question,](https://stackoverflow.com/questions/54756780/make-a-bokeh-textinput-callback-responsive-as-text-is-typed) where it was recommended to create a GitHub issue.

Current functionality of the on_change method of a bokeh TextInput object is to run the callback after all text is typed and then some other key is pressed. I want to know i

[2019-02-21 04:39] gac96 opened #8677 "Interaction with datepicker widget"
Hello,
I want to add interactions with datepicker in bokeh.
After selecting particular date, data of that date should be reflect in the graph.
Is anyone have any idea/examples about adding interactions to datepicker in bokeh python. (with bokeh server or without bokeh server)
How can I display the change in date.
Thanks in advance.

I even tried following snippet but fail to return new date value

[2019-02-21 09:28] #8656 closed

[2019-02-21 19:42] philippjfr commented on #8084
So I decided to have a look at the performance issues myself and immediately got quite confused by the profiler output. According to this it looks like the sized utility is making a bunch of calls to the inline function which computes the size:

![screen shot 2019-02-21 at 7 37 54 pm](https://user-images.githubusercontent.com/1550771/53196591-5847fc00-3610-11e9-963b-c5c5153cfeff.png)

But if I loo

[2019-02-21 20:38] bryevdv commented on #7675
closed by #8678

[2019-02-21 20:38] #7675 closed

[2019-02-21 20:39] bryevdv commented on #8677
As stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please consider [Stack Overflow](https://stackoverflow.com/) or the [public mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh). To increase the chance that someone wi

[2019-02-21 20:39] #8677 closed

[2019-02-21 20:40] bryevdv commented on #8674
@mattpap I expect some css selectors changed recently? We should try to provide guidance

[2019-02-21 21:07] mattpap commented on #8084
@philippjfr, in grids and nested layouts measures are taken in batches, and this is nicely visible in this profile. A single widget will have its measurement function called multiple times with different viewports, to optimize its size. Some of those measurements could be eliminated or at least cached (in future development). However, the major source of slowdown is nicely shown in violet color. T

[2019-02-22 10:02] jderehag opened #8679 "Graphs with list values as attributes fail"
### Software versions
python version: Python 3.6.8 :: Anaconda, Inc.
jupyter version: 4.4.0
NetworkX version: 2.2
bokeh version: 1.0.4

### Description of expected behavior and the observed behavior
When assigning any iterator as a node attribute to the root node in networkx, transforming it to ColumnDataSource and then trying to render it using bokehjs will cause bokehjs to crash with an uncought

[2019-02-22 14:00] xavArtley opened #8680 "Custom Widget in doc strange display in 1.1.0dev6"
I was looking at custom examples in doc for version 1.1.0
https://bokeh.pydata.org/en/dev/docs/user_guide/extensions_gallery/

and I noticed some difference in the Custom Widget example :
 - 1.0.4 :

![image](https://user-images.githubusercontent.com/18531147/53246996-79f9bf80-36b2-11e9-879b-4213dfba286e.png)

 - 1.1.0dev6 :

![image](https://user-images.githubusercontent.com/18531147/53247030-97c

[2019-02-22 15:20] mattpap commented on #8655
Another issue is that notebook integration code loads CSS after JS, which makes stylesheets unavailable to layout when needed. This can be observed also in classical notebook.

[2019-02-22 15:56] mattpap opened #8681 "autoload_js should load CSS before JavaScript"
Otherwise layout (among other things) won't have stylesheets available when needed, resulting in wrong layouts. This is a timing-related issue, so depending on e.g. code arrangement in notebook cells or delay between evaluating cells, one may get either good or bad behavior.

[2019-02-22 17:14] deluksic opened #8683 "API to define custom tools that have python callbacks"
Currently we can define a CustomAction tool to run CustomJS callbacks. It would be appropriate to easily define custom buttons that can invoke python callbacks as well.

[2019-02-22 17:32] bryevdv commented on #8679
@jderehag thank you for the detailed and thorough report

[2019-02-22 17:53] bryevdv commented on #8679
So the problem is not actually with setting an attribute on the root node, it's specifically with setting the attribute to be a *list*. E.g. the following code functions correctly:
[code]
This breaks BokehJS's assumption that any array with a subarray will have all subarrays (i.e. be a full "2d" array). This assumption is true in all other circumstances that I can think of.

In more detail, the Py

[2019-02-22 17:55] bryevdv commented on #8679
@jderehag As a workaround in the mean time perhaps
[code]
would work for you, if you are just using the data to drive a hover display

[2019-02-22 20:10] jderehag commented on #8679
Sure, thats one possible approach. Alternatly simply removing those attributes..

As for the solution, I would lean towards skipping those unparseable attributes, with possibly a warning (not stopping or raising an exception).

In my case, the original graph is fairly large and definetly not uniform over the nodes, so forcing the user (i.e me) to clean the dataset just to be able to plot it does n

[2019-02-22 20:59] #8681 closed

[2019-02-23 00:45] #8671 closed

[2019-02-24 02:30] philippjfr opened #8684 "Allow at least partial alignment of fixed sized frames"
The new ``frame_width`` and ``frame_height`` properties generally work pretty well however they seem to be at least partially ignored in a Row, Column or GridBox layout. This occurs specifically when one plot in the layout has a title and another do not.

Here is a reproducible example:

[code]

![screen shot 2019-02-24 at 2 29 22 am](https://user-images.githubusercontent.com/1550771/53294303-05bb

[2019-02-25 14:52] jsignell commented on #8679
I don't have much familiarity with network graphing. Is it common to have non-scalar node attributes? I guess if it is not common or strange in some way to do that, then I'd lean towards specifying that attributes can't be iterables.

[2019-02-25 15:52] sohailsomani commented on #7970
How would one go about fixing this on the JavaScript side? This is causing problems for me.

[2019-02-25 16:30] #8655 closed

[2019-02-25 19:10] jderehag commented on #8679
Well, non-scalar values are definetly common (even the karate-club dataset which is the canonical example) contains strings as attributes. I wouldnt dare answer how common iterables are though.

But to me, it kind of doesnt matter. In networkx you **can** have any object as an attribute, therefore why should bokeh impose additional restrictions? Of course, not everything can be indexed and/or visu

[2019-02-25 20:09] paddymul opened #8686 "BokehJS ColumnDataSource.change property doesn't exist"
The BokehJS example from the documentation doesn't work as expected.
I used the code from this example https://bokeh.pydata.org/en/latest/docs/user_guide/bokehjs.html#minimal-complete-example

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
BokehJS 1.0.4
BokehJS 0.12.5

I can reproduce in Firefox and Chrome

#### Description of expected behavior a

[2019-02-25 20:49] bryevdv commented on #8686
Ah the URLs in the example just need to be updated to something newer (1.0.4 etc) AFAICT. @paddymul if you can push a quick PR that would be helpful

[2019-02-25 21:20] paddymul commented on #8686
I'm happy to push a PR, but I don't think it will solve the issue.  If you look the [CodePen BokehJS 1.0.4](https://codepen.io/paddy_mullen/pen/vPYgKO) the AddPoint function still doesn't work properly.

I tried a couple of other methods in the commented out code including source.stream.  When using source.stream, points are added to the ColumnDataSource, and the plot ranges update, but the line r

[2019-02-25 22:58] p5a0u9l opened #8687 "`figure.circle` render jumps around x-axis when zooming"
I'm a big fan of the library and have tried to be thorough in this bug report. Finding something like this might turn off people. If I'm doing science and the data appears to change while interacting, that breaks everything.

HTH

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

* bokeh == 1.04
* python == 3.7.2
* Linux - Ubuntu 16
* Chrome browse

[2019-02-26 05:53] Pierretherenard opened #8688 "show(row(div,plot)) overlap"
The div is hidden by the plot on the the right. I tried different width but I still get the same issue at the end of the line. This make no difference if I use a different sequence of rows or columns with function show()

first screenshot is firefox, the second is safari
macOS 10.13.6
Bokeh 1.0.4
#### Complete, minimal, self-contained example code that reproduces the issue

[code]

#### Screenshot

[2019-02-26 21:17] bryevdv commented on #8687
@p5a0u9l  It's possible this is a webgl issue, I would first suggest turning off webgl. The original maintainer of the webgl capability no longer contributes to the project so that whole codebase will probably need to be re-done in the future (or discarded).

In any case, in order to investigate we would need you to provide a *complete* script to reproduce the occurrence, as well as detailed usage

[2019-02-26 21:52] p5a0u9l commented on #8687
Updated initial post to include complete, standalone script that reproduces the issue. Can also confirm that the issue goes away when I remove `"output_backend": "webgl"`.

[2019-02-26 22:30] bryevdv commented on #8688
@Pierretherenard can you try with a dev build? Much layout work has been done in preparation for the upcoming 1.1 release, this may already be fixed.

[2019-02-26 22:33] mattpap commented on #8688
It's fixed.

![image](https://user-images.githubusercontent.com/27475/53451372-ec560100-3a1e-11e9-911c-c483ec9946a6.png)

[2019-02-26 22:36] mattpap commented on #8688
This is definitively a duplicate, but I can't find the issue right now.

[2019-02-27 00:09] bryevdv commented on #8688
I'm not overly concerned with recording which it was a dupe of

[2019-02-27 00:09] #8688 closed

[2019-02-27 00:15] mattpap commented on #8686
Every model has `change` signal:
https://github.com/bokeh/bokeh/blob/d1c5513ad690acf3a332298cda2d8c2325872534/bokehjs/src/lib/core/has_props.ts#L154

[2019-02-27 00:18] mattpap commented on #8686
Nevertheless, bokehjs is somehow broken. When adding points, ranges are updated and plot repainted, however, it looks like data isn't remapped (or something along this line). It gets worse when glyph is changed to e.g. circle, because then plot isn't able to compute initial ranges after adding the first pair of coordinates.

[2019-02-27 00:24] johnDavis1365 opened #8690 "Problem to set Rollover argument for stream"
# READ AND FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and
technical assistance, come ask the [Bokeh mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh) or join the chat on [Gitter](https://gitter.im/bokeh/bokeh). For feature requests

[2019-02-27 00:29] bryevdv commented on #8690
@johnDavis1365 part of code will not suffice, we must be able to reproduce a problem before we can investigate it. We need a *complete* script to reproduce, including any necessary data or files, and detailed instructions. Otherwise we will have to close this as `norepro`

[2019-02-27 00:45] johnDavis1365 commented on #8690
@bryevdv Thank you for your respond.
I am not able to upload my code here since it has lots of dependencies as I am receiving data packets through socket and stream data using source.stream.
Even by using simple code that uses the source.stream you may be able to reproduce problem.
Just set the rollover value < 10 and if i understand properly from the rollover description, it will define maximum c

[2019-02-27 01:01] bryevdv commented on #8690
@johndavis1365 if it can be reproduced with a simple code, *provide that code*. Asking core devs to speculate and guess and try to generate reproducers is a huge burden. OSS requires collaboration from users.

[2019-02-27 01:15] johnDavis1365 commented on #8690
Ok sure. I understand your concern. I'll look for it and will update this.
Thank you Bryan.

[2019-02-27 01:19] mattpap commented on #8686
The problem is that `CDSView` doesn't update indices, because `source` is set late and appropriate signals aren't connected. This isn't a problem in Python, because signals are connected after are property values are configured (`CDSView.source` in particular). I will fix this tomorrow.

[2019-02-27 01:55] Pierretherenard commented on #8688
Sorry I don't have a dev env.
Thank you for the resolution I will remove my blank div with a width of length +10 with the 1.1

[2019-02-27 03:18] bryevdv commented on #8688
FYI Dev builds after published and are conda/pip installable

[2019-02-27 09:52] #8622 closed

[2019-02-27 12:02] tavinashb opened #8691 "BokehJS: how to use palettes in Bokeh LinearColorMapper"
How to use a pre-defined palette in `LinearColorMapper`.

I am to use color palette from [https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/api/palettes.ts](https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/api/palettes.ts)

I am configuring `LinearColorMapper` as . -

[code]

But somehow colors are not picked by the plot.

Is there any reference/example about using palette in a

[2019-02-27 13:02] mattpap commented on #8680
Also needs update after PR #8689.

[2019-02-27 14:04] mattpap commented on #8674
CSS selectors changed, in particular due to removal of bootstrap, but in general widgets (controls) are almost a complete rewrite for 1.1. Some of the classes were preserved, but without `bs-` secondary prefix. What's more important, DOM structure has changed, which implies that semantics of most of the classes changed as well. They main reason I kept any CSS classes is due to limitations on the C

[2019-02-27 14:57] mattpap commented on #8680
`custom/font-awesome` needs an update as well.

[2019-02-27 22:17] mattpap commented on #8686
In more generic terms this will be fixed in issue #8597.

[2019-02-27 22:47] paddymul opened #8692 "Add Codepen or other live js links for bokehjs"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh at master
#### Description of expected behavior and the observed behavior
There should be links to js live coding sites with the examples from the documentation for bokehjs.  From this page https://bokeh.pydata.org/en/latest/docs/user_guide/bokehjs.html

#### Complete, minimal, self-contained e

[2019-02-28 04:42] bryevdv commented on #8691
As stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please consider [Stack Overflow](https://stackoverflow.com/) or the [public mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh). To increase the chance that someone wi

[2019-02-28 04:42] #8691 closed

[2019-03-01 00:23] mgagcode commented on #8638
Confirmed that this workaround works.
The issue is also in 1.1.0dev8.

[2019-03-01 01:20] mgagcode commented on #8639
Tested on 1.1.0dev8 and the issue is still present.

[2019-03-01 15:33] jakirkham commented on #8397
Thanks @martey!

That's right, @bryevdv. Admittedly Conda will probably piggy-back on whatever is done for PyPI. Does that seem reasonable to you?

[2019-03-01 17:10] mattpap commented on #3340
In the new layout everything is rendered only once per full layout update (first layout and every layout invalidation). Currently `render()` must not be called from `initialize()`.

[2019-03-01 17:14] mattpap commented on #3340
bokehjs in general needs to respect updates more, so this will be done together in one chunk of work.

[2019-03-01 17:14] #3340 closed

[2019-03-01 17:17] mattpap commented on #8157
This now work much better and the layout is respected. However, the widget CSS is still lacking, overflowing the layout allocated slots.

[2019-03-01 17:18] #5143 closed

[2019-03-01 17:22] mattpap commented on #8645
@bryevdv, can you try once again if you have a chance (`models/file/widgets` and `node make test:integration`)? With the new HTML measurement scheme maybe there will be some improvement.

[2019-03-01 17:32] StewSchrieff commented on #8596
Does anyone have a working example of an Angular 2+ project that uses BokehJs?

I'm new to Bokeh and am fighting similar issues. Would love to see a working copy of a project

[2019-03-01 17:58] #8686 closed

[2019-03-01 17:59] #8639 closed

[2019-03-01 18:29] mattpap commented on #4582
Now we have a better solution for this problem, which are baseline tests that cover all examples and new bokehjs' integration test suite.

[2019-03-01 18:29] #4582 closed

[2019-03-01 20:09] mattpap opened #8698 "Rename bokehjs/build/js/{tree->lib} to match src/"
Having `build/js/tree` is a side effect of previously having `src/coffee`. Now we have `src/lib` and this should be reflected under `build/`.

[2019-03-01 20:29] mattpap opened #8700 "Make bokehjs importable in nodejs"
Currently it fails with:
[code]
This would allow to use bokehjs to create JSON representation (or HTML files in general) on the backend, for consumption by bokehjs in a web browser. Note that making bokehjs node importable and making it a node module (npm package), e.g. for consumption by webpack, are different things. The later is already possible with some configuration.

[2019-03-01 21:18] #8698 closed

[2019-03-01 22:42] bryevdv commented on #8397
I suppose? I have to be honest and state that I am in the middle of switching jobs and some other life changes at the moment. I'm probably not going to be able to personally do any work on this any time soon. I am happy to help anyone who does want to work on it, give pointers into our codebase, review a PR, help facilitate any related infrastructure work, etc.

[2019-03-02 00:29] mattpap commented on #5193
![image](https://user-images.githubusercontent.com/27475/53673895-8cfc2900-3c8a-11e9-95d1-925853df834e.png)

[2019-03-02 00:29] #5193 closed

[2019-03-02 00:32] mattpap commented on #7444
![image](https://user-images.githubusercontent.com/27475/53673966-157ac980-3c8b-11e9-93f5-983ed6747993.png)

[2019-03-02 00:32] #7444 closed

[2019-03-02 00:37] mattpap commented on #7766
![image](https://user-images.githubusercontent.com/27475/53674070-c1241980-3c8b-11e9-802c-9c9aa37e4502.png)

[2019-03-02 00:37] #7766 closed

[2019-03-02 00:51] mattpap commented on #7554
I'm not sure how to interpret this. `column()` applies `sizing_mode` only to its direct children (`row()` in this case), so plots won't be scaled at all (I presume that's the point here). In any case, I went ahead and tested all sensible combinations of this setup, and everything seems to work correctly now. I'm going close this as fixed. If there is something that doesn't work, please reopen.

[2019-03-02 00:51] #7554 closed

[2019-03-02 01:03] #7127 closed

[2019-03-02 05:06] #8700 closed

[2019-03-02 05:08] bryevdv commented on #8700
An example of doing this for users to refer to would magnify the value of this change

[2019-03-02 20:25] #8654 closed

[2019-03-02 20:48] paddymul commented on #8686
@mattpap Thank you.  Are there CDN JS resources for this new commit?

[2019-03-03 07:19] Benjamin-Lee opened #8703 "Typo in plots.py"
# READ AND FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and
technical assistance, come ask the [Bokeh mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh) or join the chat on [Gitter](https://gitter.im/bokeh/bokeh). For feature requests

[2019-03-03 11:40] Shekharrajak commented on #8596
@StewSchrieff , I started a project to use bokehJS node module in Angular 7 : https://github.com/Shekharrajak/ng-bokeh

The issue I faced is here : https://github.com/Shekharrajak/ng-bokeh/issues/1

[2019-03-04 06:40] mayl opened #8705 "HoverTool(mode='vline') and Zoom"
I've noticed that with "large-ish" (6 columns, 253k points each) there seems to be an interaction between having the `HoverTool(mode='vline')` on and being able to zoom.  If the `HoverTool` is toggled on in the browser and `mode='vline'` is set, when I try to zoom Bokeh will latch up and never recover.  If the `HoverTool` is toggled off I don't hit this issue.  If the dataset is "small enough" I a

[2019-03-04 10:18] rokalito opened #8706 "Hover Tooltips for image_rgba"
Hi,

I'm quite new to Bokeh, but it seems that the basic image.py provided as an example which shows x,y and the value when hovering over an image, does not work when using "image_rgba".  Does anyone know why?

If it's not implemented, as suggested in [https://stackoverflow.com/questions/54753032/hover-image-rgba-bokeh](url), is there any other way of achieving a similar result?

In any case, it d

[2019-03-04 15:45] mattpap commented on #8638
The problem here is that images are loaded asynchronously, so layout may already be computed when they arrive. Setting height (and width for that matter) either in the HTML or on the layout is the right approach and not a workaround. We could improve the situation by setting up `load` event handlers on all images and recomputing layout when they are fully loaded, but that's a slippery slope becaus

[2019-03-04 15:51] mattpap commented on #8084
@philippjfr, is this sill an issue? Slider now allocates more space to accommodate for the handle, so it should look better.

[2019-03-04 15:52] philippjfr commented on #8084
It seems to be fine now, and one can always increase the margin if necessary.

[2019-03-04 15:57] birdsarah opened #8708 "handlebars security vulnerability - npm won't install"
On running `npm install --no-save`

I get the response

[code]

Results of `npm audit`

[code]

[2019-03-04 16:54] #8663 closed

[2019-03-04 16:57] mattpap commented on #8686
@paddymul, no, we only publish npm packages for releases. I suppose it would be good to publish at least for dev releases as well and optimally maintain `bokehjs@next`. I will start a new issue for this.

[2019-03-04 16:59] bryevdv commented on #8706
@rokalito  It simply has not been implemented due to time/resource contstraints. Would you be interested in working on this with some guidance?

[2019-03-04 17:01] bryevdv commented on #8705
@mayl in order to investigate things we must be able to actually run code and reproduce the problem. Please provide a `data.dat` file (or update the MRE to generate synthetic data, etc)

[2019-03-04 17:18] mattpap commented on #8684
Currently grid doesn't respect fixed inner box dimensions at all. I fill fix that, but the result will be as follows:

![image](https://user-images.githubusercontent.com/27475/53749959-db870e80-3ea8-11e9-89ae-e27796c2cbf2.png)

Currently inner alignment is computed after layout computed outer dimensions, and inner dimensions can't affect outer dimensions. This can be improved, especially to handle

[2019-03-04 17:20] mattpap commented on #8684
I suppose with `height_policy="fit"` (or `"max"`) or `"fixed"` with sufficiently large `height`, there could be room for single axis alignment.

[2019-03-04 17:34] #8708 closed

[2019-03-05 09:11] #8703 closed

[2019-03-05 12:13] mattpap opened #8710 "Add support for spans do grid layout"
This is a follow up on issue #8084. Technically speaking this is a regression since the old layout. This is needed to restore functionality of `examples/app/spectrogram`, etc.

[2019-03-05 12:18] mattpap opened #8711 "Range-based aspect management doesn't cooperate with layout"
Currently either layout will be wrong (cutting of axis labels) or there will be an infinite update loop between range-based aspect manager and layout. This can be seen in examples `integration/glyphs/hex_tile` and `plotting/file/aspect`. This isn't a regression, because old layout had similar issues, and the problem is with aspect management scheme.

[2019-03-05 12:20] #8084 closed

[2019-03-05 12:51] mattpap opened #8712 "Deprecate Plot.{h,v}_symmetry"
This isn't implemented and is set only `examples/reference/models`:

[code]

[2019-03-05 14:36] philippjfr opened #8713 "Displaying plot in notebook quickly after output_notebook raises JS error"
Since https://github.com/bokeh/bokeh/pull/8682 was merged displaying a plot in a notebook environment raises a JS error if it is run before ``output_notebook`` has had time to initialize Bokeh properly. A simple way to reproduce this is by simply putting ``output_notebook`` and ``show`` in the same cell in a clean notebook and running it:

[code]

[2019-03-05 15:16] mattpap commented on #8713
I think this is specific to `INLINE` resources. I tested PR #8682 with server resources.

[2019-03-05 15:29] Restmon opened #8715 "ImportError: cannot import name 'factor_mark'"
# READ AND FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and
technical assistance, come ask the [Bokeh mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh) or join the chat on [Gitter](https://gitter.im/bokeh/bokeh). For feature requests

[2019-03-05 15:52] bryevdv commented on #8712
If it is no longer implemented then it should be deprecated and added to the list of things to remove at 2.0.

IIRC the original usage of that was to symmetrize the padding around the central plot area

[2019-03-05 15:58] bryevdv commented on #8715
@Restmon This works fine, you have some sort of local install or system corruption specific to your machine:

<img width="519" alt="screen shot 2019-03-05 at 7 56 19 am" src="https://user-images.githubusercontent.com/1078448/53818061-59d0c880-3f1c-11e9-9e30-e5bc968cd101.png">

As such, this is a support question, not a bug, and it should be asked on the mailing list or stack overflow, not GitHub

[2019-03-05 15:58] #8715 closed

[2019-03-05 16:46] #8484 closed

[2019-03-05 17:15] jsignell opened #8717 "Disabled buttons should be gray by default"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
[code]
#### Description of expected behavior and the observed behavior
Disabled buttons should be gray by default so that it is clear that they are disabled. Now it seems that button color gets muted when disabled which is fine unless the button background is white which it is by default.

I first br

[2019-03-05 17:37] bryevdv commented on #8710
Just out of curiousity, how big a lift do you think this is?

[2019-03-05 17:43] bryevdv commented on #8676
For compatibility this would need to be configurable as a mode of operation (default off)

[2019-03-06 09:22] #7270 closed

[2019-03-06 16:37] #7864 closed

[2019-03-06 16:41] mattpap commented on #8710
I'm not sure, because I need to figure out how to measure track sizes (under all supported sizing policies), implement new internal data structures that will allow spanning layouts across grid cells, adjust axis alignment algorithm, etc. Definitively it's a bigger chunk of work.

[2019-03-06 16:47] mattpap opened #8719 "Tests sometimes fail on AppVeyor"
They fail on and off, usually a few restarts help:
[code]

[2019-03-06 17:27] mattpap commented on #7933
This was fixed in PR #8696.

[2019-03-06 17:27] #7933 closed

[2019-03-06 17:41] mattpap commented on #7875
The most pressing instances of `any` type, especially in the public or top-level APIs, were removed and I've been gradually improving types in other places of the library. However, removing `any` completely isn't fully possible, because it's useful for creating function with complex overrides and with cross-browser API compatibility issues. I will consider this issue fixed, though we should contin

[2019-03-06 17:41] #7875 closed

[2019-03-06 17:56] bryevdv commented on #8719
Appveyor is failing consistently, actually. I expect it is that Tornado 6 was just released.

[2019-03-06 17:59] mattpap commented on #8719
It was failing yesterday (or two days ago) for hours in a similar fashion and then just suddenly started working again.

[2019-03-06 18:00] bryevdv commented on #8719
Well, Tornado 6 was released a day or two ago :) I am not sure why it would intermittently work after that, but I can't get anything to pass after ~8 restarts

[2019-03-06 18:14] bryevdv commented on #8719
from bdarnell: "ah, close_all_connections probably became a no-op for you because you're not awaiting it (and it changed from a decorated coroutine to a native one)... you should be able to use yield instead of await when you're calling close_all_connections"

[2019-03-06 19:15] gotyaoi commented on #8577
Sorry this took so long. I've traced the problem to these two lines in the Directory Handler: https://github.com/bokeh/bokeh/blob/master/bokeh/application/handlers/directory.py#L179-L180. Basically, it checks if the embedded ScriptHandler has encountered a failure and if so, it bails out. Allowing it to invoke the embedded ScriptHandler's modify_document method clears the error flag first thing.

[2019-03-06 19:36] bryevdv commented on #8710
Is there anything simple but dumb (and unobtrusive for later) that could be done to cover the 80% case? i.e. could we set min border for top and bottom to be the max value of every plot in a row? And similarly min border left of every plot in a column? I.e. punt on nested cases for now until you can work out a general solution, but do enough to get basic and common cases looking more like they use

[2019-03-06 19:38] #8719 closed

[2019-03-06 19:39] #7991 closed

[2019-03-06 19:40] #8713 closed

[2019-03-06 20:23] philippjfr commented on #8710
We are at least a 1.5 weeks away from being ready to push out new releases for our stuff so I'd be happy to postpone for that long. Does that seem like sufficient time? A new dev/rc release would be sufficient for the time being.

[2019-03-06 20:57] philippjfr commented on #8710
Will that intersect at all with the axis alignment issue for fixed inner dimensions or is that a whole other chunk of work?

[2019-03-06 21:04] mattpap commented on #8710
To some extent yes, depending on the layout. I will keep that issue in mind fixing this one.

[2019-03-06 21:12] bryevdv commented on #8577
@gotyaoi I think the issue is that the `failed` property encompasses too much. I think that at the top of `modify_doc` there, we *do* want to bail if `self._lifecycle_handler` has failed (but should not check the script handler since it has not even been run this time around yet). Can you test out that change, and if it works, a PR would be great.

[2019-03-07 04:01] #8717 closed

[2019-03-07 04:08] bryevdv commented on #8705
Closing as `norepro`. Can reopen if a self-contained, runnable MRE is provided. Otherwise, offhand, ~1.5M points is relatively alot for Bokeh, given it's overhead to support high interactivity. Consider using Holoviews+Datashader to generate Bokeh plots that work for millions/billions of points.

[2019-03-07 04:08] #8705 closed

[2019-03-07 04:09] bryevdv commented on #8690
Going to go ahead and close as `norepro` We can certainly re-open if an MRE becomes available.

[2019-03-07 04:09] #8690 closed

[2019-03-07 04:31] #8712 closed

[2019-03-07 13:43] poldavezac opened #8723 "BAD_EXTRA_RANGE_NAME validation can be incorrect"
The following will produce an incorrect BAD_EXTRA_RANGE_NAME
[code]
The reason is that in the last check_integrity:

1. the circle glyph belonging to "b" is known to "a" through its "a.x_range.callback".
2. the _check_bad_extra_range_names uses the extra ranges from "a" rather than "b".

It seems that in _check_bad_extra_range_names, one should only iterate over the layout's renderers.

[2019-03-07 13:44] poplarShift opened #8724 "LogColorMapper maps to wrong values"
Possibly related: #8061
Definitely related: #5020

TL;DR I'm happy to make a PR to use `log` for the `LogColorMapper` instead of `log1p` but wanted to hear opinions first.

As of now, LogTicker and LogTickFormatter seem to work with a simple log(x) transform, whereas LogColorMapper does a log(1+x) transform (`log1p`), which makes the colorbar map to the wrong values. The documentation does not men

[2019-03-07 13:46] jsignell commented on #8717
Thanks!

[2019-03-07 13:58] philippjfr commented on #8724
Unfortunately at this point I think maintaining backwards compatibility for `LogColorMapper` would be necessary, so I'd suggest that we could simply add an option to switch between ``log``, ``log1p`` and ``log10`` and make it very clear in the docs that the default is ``log1p``. The default could then be reconsidered for bokeh 2.0.

[2019-03-07 14:10] jsignell opened #8725 "Don't warn on empty layouts"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
[code]

#### Description of expected behavior and the observed behavior
I think that layouts should be allowed to be empty without raising a warning. There is a legitimate use of an empty layout object to create an empty area which can later be appended to or extended. This is especially useful in pa

[2019-03-07 14:26] jbednar commented on #8725
Personally, I think that empty containers should almost never be considered an error condition.  They come up in many legitimate situations, such as dynamically constructing plots based on a query or external file, as temporaries that will later have things put in them, as placeholders for items that may or may not turn out to be available, as the limiting case to various algorithms, and so on.  I

[2019-03-07 14:26] jsignell opened #8726 "Tabs width set on width of contents - truncating tabs"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
[code]
#### Description of expected behavior and the observed behavior
The width of the tabs seems to be set based on the width of the item inside the tab without taking the width of the title into account. The result is a truncated tabs object where you can't click on the second tab ( because it isn

[2019-03-07 14:31] mattpap commented on #8725
This is something that was carried over from the old layout. I will remove this warning.

[2019-03-07 14:34] mattpap commented on #8726
This is by design, however, minimum width should be set, so that at least one tab is fully visible.

[2019-03-07 14:37] jsignell commented on #8726
The width needs to be large enough to see the title of every tab. If possible the titles should have a max_width set to 100%/n_tabs and they should wrap or overflow.

[2019-03-07 14:46] jbednar commented on #8726
Seems like the overall tabs width should be set to max(width_of_current_tab_contents, total_width_of_tab_titles).

[2019-03-07 14:51] jsignell opened #8727 "Tooltip on widgets"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
[code]

#### Description of expected behavior and the observed behavior
I think that widgets should have a kwarg that allows tooltips to be set on them - this kwarg could possibly be called `title` or `help`. Note that the toolbar buttons have tooltips already.

Originally raised as https://github.co

[2019-03-07 14:56] mattpap commented on #8726
This will look very bad if there are many tabs. A good example is https://github.com/bokeh/bokeh/blob/master/examples/models/file/glyphs.py.

[2019-03-07 15:03] jsignell commented on #8726
I think it is better for things to look bad than to be non-functional. In that example there are tabs that are not visible. That is why I am proposing truncating tab title width.

<img width="632" alt="screen shot 2019-03-07 at 10 00 05 am" src="https://user-images.githubusercontent.com/4806877/53965814-e071db00-40bf-11e9-8d4a-1dec1b5b4f03.png">

[2019-03-07 15:05] jbednar commented on #8726
How are people to use many tabs, if they aren't visible?

[2019-03-07 15:05] mattpap commented on #8726
@jsignell, what version of bokeh are you testing? This isn't `master`.

[2019-03-07 15:06] jsignell commented on #8726
No it's 1.1.0dev8.

[2019-03-07 15:07] mattpap commented on #8726
Tabs' behavior changed since then. Always report your issues off `master`.

[2019-03-07 15:09] jsignell commented on #8726
I did list the version at the top, but you are right. I am building master now.

[2019-03-07 15:13] mattpap commented on #8726
Well, you indicated that you use an obsolete version. My assumption is that any member of the broader dev team always reports issues on top of `master`, to avoid problems like in this issue.

Speaking about versions. This software is years old and not supported. To build bokehjs you will have to upgrade this.

[2019-03-07 15:21] jsignell commented on #8726
[code]

Ok so you have added the right and left scroll-like behavior. It still gets truncated to the point where you can't see a tab title for small widths.

<img width="775" alt="screen shot 2019-03-07 at 10 19 40 am" src="https://user-images.githubusercontent.com/4806877/53967110-90484800-40c2-11e9-9050-8fe52122907e.png">

[2019-03-07 16:03] bryevdv commented on #8726
(Just an FYI unless you specify `BOKEH_RESOURCES=inline` (or pass an arg to `output_notebook` for inline resources) then the above is loading `1.1.0dev9` BokehJS from CDN. In this specific instance I think that also happens to be master, but in general it's not. I pretty much always use `BOKEH_RESOURCES=inline` when working on master to make sure I am using local resources.)

Are there examples of

[2019-03-07 16:07] bryevdv commented on #8725
Well, my original intent was to make various warnings individually on/off configurable so then things like HV could turn them off if that made sense. But that has not happened as of yet. FWIW this warning was specifically added in response to a bunch of "why is my page empty?" support questions, to try and give users immediate actionable feedback that would save them from making an issue or ML/SO

[2019-03-07 16:18] jbednar commented on #8725
I can't quite see what a user would have expected to happen for an empty layout other than having an empty page; what were they hoping for?  And I don't get much out of "Layout has no children".  So I'll have to defer to your judgment and painful experience with that. :-)

[2019-03-07 16:19] bryevdv commented on #8725
They were not *intending* to show empty layouts, they just had happened to, by some mistake.

[2019-03-07 16:29] bryevdv commented on #8723
@poldavezac Can you provide a complete real example of how this situation could arise in actual practice? i.e. without calling `check_integrity` manually yourself? Bokeh serializes entire documents at a time, not individual models, so I'd like to understand how this could affect real-world usage before expending effort on changing it.

[2019-03-07 16:30] jsignell commented on #8726
I have BOKEH_RESOURCES=inline as an env var on this environment. Is something indicating that BokehJS is coming from CDN?

I think there are two separate issues here. One is that with the current behavior the Tabs model needs a min width that is greater than the scroll icon.

The other is more up for discussion about what to do in the case of long titles. I think that having tab titles overflow is

[2019-03-07 16:39] bryevdv commented on #8724
This is easy to say when you aren't on the receiving end of support requests and bug reports. :) Users expect these things to "just work" and complain when they don't. Certainly other libraries, e.g. MPL make log scale usage "including zero" work in various ways, we just have not had the resources to devote to doing the same as of yet.

I could be swayed that the current implementation is approxim

[2019-03-07 16:43] bryevdv commented on #8726
The "BokehJS 1.1.0dev9 successfully loaded" in your screen cap. Tho I suppose this is simply because master is actually at 1.1.0dev9 by coincidence just at at this moment.

[2019-03-07 16:48] philippjfr commented on #8724
Fair enough, I agree that this could be considered broken particularly since none of the docs ever mentioned the fact that it was actually using log1p.

[2019-03-07 16:53] jsignell commented on #8726
Got it. I am on latest:

<img width="754" alt="screen shot 2019-03-07 at 11 52 41 am" src="https://user-images.githubusercontent.com/4806877/53973864-8da01f80-40cf-11e9-866c-094127d7b1f7.png">

[2019-03-07 16:58] mattpap commented on #8726
One thing to consider, when comparing with other systems, is the context in which this kind of layout is being used. In case of Chrome there is a main window and tabs that fit into that view. In bokeh's case, tabs take their preferred size based on the content of the tabs (header isn't involved). If you want to compare things directly, then bokeh's tabs should be initialized with `width_policy="ma

[2019-03-07 17:31] jsignell commented on #8676
It'd be nice to have the text input be more configurable generally - so that a user could specify that the event only be triggered when enter key is pressed.

[2019-03-07 17:42] jsignell commented on #8725
If you guys have experienced pain from this before then I think it makes perfect sense to just make the disabling of warnings easily configurable. That is a more general solution anyways since there will likely be other situations in which what is right for bokeh users isn't necessarily right for downstream projects.

[2019-03-07 17:49] russellburdt commented on #8676
I agree the objective is to develop a generally more configurable TextInput object for bokeh, with default behavior matching current behavior.

@bryevdv Do you think the bulk of the work to implement this feature will be in javascript or python.

[2019-03-07 18:09] bryevdv commented on #8676
It's all in Jacascript (Typescript) The only thing on the python side is ~1 line to add the new property

[2019-03-07 18:11] bryevdv commented on #8725
@jsignell do you want to make a PR? I think it should be fairly straightforward, e.g. just an internal set of warning numbers to silence (added/remove via some API) that gets checked before a warning is emitted.

[2019-03-07 18:15] russellburdt commented on #8676
@bryevdv I can attempt the work but may get hung up due to a lack of javascript / typescript experience.  Where do I go next?

[2019-03-07 18:18] bryevdv commented on #8727
Useful ref: https://www.w3schools.com/css/css_tooltip.asp

It would be great if someone who has actual visual design opinions took the lead on this since most of the work seems to be deciding how things should look

[2019-03-07 18:23] mattpap commented on #8727
We already have an implementation of tooltips for the purpose of hover tools. Also, there is HTML `title` attribute that can be used for creating simple text-only tooltips, which we use with toolbar buttons. It seems to me that this is mostly an API issue.

[2019-03-07 18:26] bryevdv commented on #8676
@russellburdt the first step is getting set up to build BokehJS locally:

https://bokeh.pydata.org/en/latest/docs/dev_guide/setup.html#devguide-setup

After that, the places to modify are:

* The python class, to add a new `Bool` property:

   https://github.com/bokeh/bokeh/blob/master/bokeh/models/widgets/inputs.py#L86

* The BokehJS class, to add the property and also switch the event listener t

[2019-03-07 18:28] bryevdv commented on #8727
@mattpap right for widgets we should use the the HTML `title` property for sure. Browsers handle that automatically, no need to use our hover tooltips, which only exist because they have to for canvas. Is there already a way to generally set `title` on our widgets? If not, you are reiterating what's already been suggested: add a way to set `title` (and I added, have someone with design opinions ch

[2019-03-07 18:57] bryevdv commented on #8679
So, it's also possible to "normalize" the graph data, i.e. if there are any non-scalar values, make the missing values empty lists instead of `None`. This works well and is pretty simple to implement. However it will fall over badly in cases where a an attribute *mixed* scalar and non-scalar data. I guess I would be amenable to punting on that case, but letting things work as long as *all* the val

[2019-03-07 19:02] bryevdv commented on #8679
@jderehag Here is a minimal diff that does what I describe above:
[code]
Would you be interested in picking this up and running it to completion? It needs a few simple tests and a better exception message.

[2019-03-07 19:06] JEGBergqvist opened #8728 "Add generic/simpler way for CustomJS to trig Python-side events"
Add generic/simpler way for CustomJS to trig Python-side events and vice versa

Using Bokeh v.1.0.4.

For functionality not covered by the Bokeh framework, I find it from time to time crucial to put additional HTML/CSS into a Bokeh Div-object. This works well and have saved me several times. However, I have not found a good way to have e.g. JS code trigger a Python-side event in the corresponding

[2019-03-07 19:12] bryevdv commented on #8728
@JEGBergqvist Unless I am mistaken about what you a, this is a duplicate of https://github.com/bokeh/bokeh/issues/5983

[2019-03-07 19:12] #8728 closed

[2019-03-07 19:13] JEGBergqvist commented on #8728
Wow, that was fast! I was not even done writing the issue! :-)

[2019-03-07 19:15] bryevdv commented on #8728
For my own sanity, I try to clear things that can be cleared very quickly, very quickly :)

FWIW I think #5983 would be extremely valuable but I'm not sure when we will have resources to implement it, offhand. It might make a nice GSOC project but it's too late for this year I think (and we have no mentor capacity at the moment)

[2019-03-07 19:16] jsignell commented on #8725
Sure I will take a stab at it.

[2019-03-07 19:18] JEGBergqvist commented on #8728
Yes, #5983 is very much related.

[2019-03-07 19:41] JEGBergqvist commented on #8728
@bryevdv
I understand the resource situation. Regarding #5983 I am a little worried as it sounds like the approach is quite profound. Although targeting the same kind of problem, my suggestion would be to keep it simple. If the client-side DOM path is known to the Py-Model, and something along the lines of:

- JS->Py: Button's on_click could be moved to the DOMLayout or Model level (like on_change

[2019-03-07 19:52] JEGBergqvist commented on #5983
Potentially relevant in this context, re comments @ https://github.com/bokeh/bokeh/issues/8728#issuecomment-470665620

Not sure if it's applicable or not, it's an attempt to reduce the scope to increase feasibility of the task.

Best regards, Gabriel

[2019-03-07 20:00] gotyaoi commented on #8577
Yeah, switching `self.failed` to `self._lifecycle_handler.failed` also seems to work. I will submit a PR in a little bit.

[2019-03-07 20:01] bryevdv commented on #8728
It's definitely not known, and making it known would be a huge undertaking To be honest, I don't understand how this relates to things at all.

The muddies the semantics of `on_click` I would be -1 on making `on_click` cover non-clicks

This is exactly #5983 (as is the opposite direction) which is intended to be as simple as possible (CORBA is only mentioned as a reference point for framing the di

[2019-03-07 20:14] bryevdv commented on #8643
Just FYI this things look different as of 1.1.0dev9:

<img width="1341" alt="screen shot 2019-03-07 at 12 13 36 pm" src="https://user-images.githubusercontent.com/1078448/53986263-81699180-40d2-11e9-8441-b1484a3e2d03.png">

[2019-03-07 20:27] bryevdv commented on #2127
Went to evaluate this but it's no longer runnable as-is and once that is resolved the image to display is not available. Closing as `norepro` for now

[2019-03-07 20:27] #2127 closed

[2019-03-07 20:33] bryevdv commented on #8571
Scratch that, `phantomjs` is not available on linux and our configured conda channels, which is unfortunate. I guess this will have to be a docs-only fix

[2019-03-07 20:48] bryevdv commented on #4917
FYI the last example looks like this on 1.1.0dev9:

<img width="433" alt="screen shot 2019-03-07 at 12 47 38 pm" src="https://user-images.githubusercontent.com/1078448/53987971-44ec6480-40d7-11e9-85cb-b5159fb3fbc0.png">

[2019-03-07 20:50] bryevdv commented on #4917
also @tobyhodges code now looks like this:

<img width="1113" alt="screen shot 2019-03-07 at 12 50 14 pm" src="https://user-images.githubusercontent.com/1078448/53988127-9b59a300-40d7-11e9-8637-1db27eb254f7.png">

[2019-03-07 20:52] bryevdv commented on #4917
I think this issue has been sufficiently resolved by the 1.1 layout work, so I am closing. In the interest of having more focused easy to digest issues, please make new issues for anything follow-on

[2019-03-07 20:52] #4917 closed

[2019-03-07 20:56] bryevdv commented on #4844
Closing. Given that [pyviz/panel](https://github.com/pyviz/panel) can combine Bokeh, altair, MPL, etc plots into one interactive dashboard, I think the need for this (and the justification to expend time/energy to add complexity to Bokeh core) is greatly diminished.

[2019-03-07 20:56] #4844 closed

[2019-03-07 21:09] bryevdv commented on #6041
OK, There has not been further interest expressed in this, and, given the unexpectedly deep rabbit hole this went down last time I tried to implement it, I am going to close this issue with no action.

[2019-03-07 21:09] #6041 closed

[2019-03-07 21:10] bryevdv commented on #6041
@bokeh/dev FYI I added a `reso: noaction` label. This is roughly analogous to `reso: wontfix`, except for feature requests.

[2019-03-07 21:12] bryevdv commented on #6001
I'm honestly not sure when `"link"` was a valid button type. I am not sure it ever was *intentionally*. In any case it's definitely not now:
[code]
So, closing.

[2019-03-07 21:12] #6001 closed

[2019-03-07 21:14] JEGBergqvist commented on #8728
===> Explanation: If it the DOM tree _would have been known_, JS from a Model at runtime could have found its corresponding element client-side, i.e. _not_ being routed by the framework to the right element = no Bokeh changes in that respect. Not elegant, but very quick, IF the dom would have been known. Since it is not, scratch that suggestion, obviously not feasible.

JS->Py: Button's on_click c

[2019-03-07 23:50] bryevdv commented on #6101
I don't think this is relevant any longer

[2019-03-07 23:50] #6101 closed

[2019-03-07 23:56] bryevdv commented on #6462
Also working for me with 1.1dev9

<img width="787" alt="screen shot 2019-03-07 at 3 56 29 pm" src="https://user-images.githubusercontent.com/1078448/53997593-9f92ba00-40f1-11e9-8671-786430f07d37.png">

[2019-03-07 23:56] #6462 closed

[2019-03-08 00:01] bryevdv commented on #6461
It's not super interesting but at least looks better now:

<img width="1100" alt="screen shot 2019-03-07 at 4 00 55 pm" src="https://user-images.githubusercontent.com/1078448/53997751-41b2a200-40f2-11e9-95c4-74d9e6b8d403.png">

[2019-03-08 00:01] #6461 closed

[2019-03-08 00:02] bryevdv commented on #6460
closing, pivot example was removed due to lack of a maintainer

[2019-03-08 00:02] #6460 closed

[2019-03-08 00:05] bryevdv commented on #6406
This was fixed at some point:

<img width="520" alt="screen shot 2019-03-07 at 4 05 06 pm" src="https://user-images.githubusercontent.com/1078448/53997883-d1585080-40f2-11e9-817d-ddbac2bbaca1.png">

[2019-03-08 00:05] #6406 closed

[2019-03-08 00:10] bryevdv commented on #6333
The code above now works on Win 10 / IE 11 with 1.1.0dev9, so I will close this. Can re-open if a problem persists and can be made reproducible

[2019-03-08 00:10] #6333 closed

[2019-03-08 00:17] bryevdv commented on #6719
just an update with the 1.1dev build deployed to `demo.bokeh.org` it still does not submit on enter, but does submit on tab. This SO answer may have some pointers

https://stackoverflow.com/questions/4715249/submit-form-on-enter-in-ie-web-browser

[2019-03-08 00:25] bryevdv commented on #6707
I updated the code to the current standard usage:
[code]
and tested on Chrome, FF, and Safari. The circles were a bit hard to hit (because they are tiny) but in every case the callback printed exactly what is expected. There were lots of issues previously with both the "dict" for selections, and also with Bokeh itself replacing whole `Selection` objects. My guess is this issue was related to those

[2019-03-08 00:25] #6707 closed

[2019-03-08 00:29] bryevdv commented on #6537
This was a dupe of #6333 and as noted there things are working with recent builds (the code above also seems fine on Win10 / IE11)

[2019-03-08 00:29] #6537 closed

[2019-03-08 00:35] bryevdv commented on #6552
So:

* there has not been any follow on interest in this
* subsequent to this a vastly more efficient binary array transport was added

Given that, I will close this with no action on the grounds that adding complexity to maintain to Bokeh for this specialized use case is no longer really justified, and it keeps in line with Python's "explicit is better than implicit"

If anyone wants to submit a

[2019-03-08 00:35] #6552 closed

[2019-03-08 00:38] bryevdv commented on #6508
After changing to current syntax `source.change.emit()` the code above now works fine. Closing as resolved.

[2019-03-08 00:38] #6508 closed

[2019-03-08 03:33] bryevdv commented on #6821
It would appear none of the theme is applied in 1.1dev

[2019-03-08 03:45] bryevdv commented on #7110
I can no longer reproduce any issue with 1.1.0dev9 (clicked an drag-tool'ed many dozens of times)

[2019-03-08 03:45] #7110 closed

[2019-03-08 03:58] bryevdv commented on #7490
OK the codes above still *seem* to still report going to high ~100% CPU but things are really confusing. First, activity monitor reports e.g. 74% on the chrome process, but down at the bottom also 84% idle:

<img width="532" alt="screen shot 2019-03-07 at 7 55 21 pm" src="https://user-images.githubusercontent.com/1078448/54006674-2e63fe80-4113-11e9-8398-3e3311717033.png">

And the chrome timeline,

[2019-03-08 04:12] bryevdv commented on #7490
@jcrist dod you ever have chance to test things with 1.1 dev builds btw?

[2019-03-08 04:13] bryevdv commented on #7498
It appears `closable` was removed before 1.0 @mattpap should this be changed to `feature` or just closed?

[2019-03-08 04:17] bryevdv commented on #7384
I can no longer reproduce any problem with above code on Win10 / IE11 with Bokeh 1.1.0dev9

[2019-03-08 04:17] #7384 closed

[2019-03-08 04:19] bryevdv commented on #7847
I would consider deprecating this tool for 2.0 cc @bokeh/dev

[2019-03-08 04:22] bryevdv commented on #7772
@mattpap I would consider changing slider implementations for 2.0 FWIW nouislider seems to have many issues/deficiences

[2019-03-08 04:30] bryevdv commented on #7535
This can now be accomplished with a `CustomAction` toolbar button.

[2019-03-08 04:30] #7535 closed

[2019-03-08 04:37] bryevdv commented on #7536
With 1.1.0dev9 I can no longer produce any issue with the above code with recent FF (65.0.2) on either Win10 or OSX. Either we did something that improved things, or it was an upstream problem in older FF we would not be able to control, so closing now.

[2019-03-08 05:50] bryevdv commented on #4112
https://github.com/bokeh/bokeh/issues/6492 was a dupe of this but it was not noticed. In any case password hiding was implemented a long ago, so I will mark this issue as the dupe.

[2019-03-08 05:50] #4112 closed

[2019-03-08 05:51] bryevdv commented on #3818
Absent context I don't remember what this was about at all, closing

[2019-03-08 05:51] #3818 closed

[2019-03-08 05:54] bryevdv commented on #4376
Original MRE is a 404, closing as `norepro`

[2019-03-08 05:54] #4376 closed

[2019-03-08 05:57] bryevdv commented on #4388
The new baselines tests cover every example in minute detail

[2019-03-08 06:04] bryevdv commented on #4830
The following code works with 1.1.0dev9:
[code]
Absent an actual complete minimal example script in this issue to begin with, I am closing and marking it completed.

[2019-03-08 06:04] #4830 closed

[2019-03-08 06:07] bryevdv commented on #4665
There are now many selenium integration tests for most widgets:

https://github.com/bokeh/bokeh/tree/master/tests/integration/widgets

But I notice a few important ones missing, so I will re-purpose this issue to finish those tests out.

[2019-03-08 06:10] bryevdv commented on #4619
Unfortunately the test case no longer runs because the tiles source no longer seems to exist. There has been lots of work since this, so it's possible it's no longer an issue. But with nothing to test against I will close as `norepro` (happy to re-open with a new MRE)

[2019-03-08 06:10] #4619 closed

[2019-03-08 06:18] bryevdv commented on #4567
noting that the correct code for the callback is
[code]

[2019-03-08 08:27] EdTheEagle opened #8731 "Changing Bokeh Slider callback_policy from throttle to mouseup not working"
I would like to move freely between 2 callback policies of the slider, "mouseup" and "throttle".

It turns that I can change from "mouseup" to "throttle", but when the callback policy is "throttle" it seems the overwrite of the callback_policy attribute does nothing and the slider remains in "throttle" mode.

I've raised it on stackoverflow before, but people are running into the same issue.

http

[2019-03-08 13:20] philippjfr commented on #7498
I'd love to have the ability to close tabs. I'd vote to keep this open as a feature request.

[2019-03-08 13:35] mattpap commented on #7498
What should be the desired behavior? Should it remove panels from children or mark them as hidden (in some way) or both (configurable)?

[2019-03-08 13:37] mattpap commented on #7498
`closable` wasn't ever implemented. I must have removed it from the API when moving tabs from widgets to layouts.

[2019-03-08 13:37] philippjfr commented on #7498
Good question, I guess I'd expect it to drop the child by default, marking it as hidden is an interesting idea but raises the question of how you would then restore it.

[2019-03-08 13:53] mattpap commented on #8725
I will have to disagree, because warning about something that's perfectly valid or even encouraged in the new layout (grids with track specs and no children), is wrong in my opinion. It's even worse to make it configurable, but on by default. This will encourage users to just disable warnings altogether and risk not being informed about something important (actually wrong, but not critical). I wou

[2019-03-08 13:59] jbednar commented on #8725
That's an interesting idea -- you could have the Bokeh issue template suggest that users turn on this special verbose mode before they report an issue, because the messages may help them discover the problem themselves.

[2019-03-09 05:21] bryevdv opened #8733 "GMap plots not working in the notebook and INLINE resources"
The following code:
[code]
Generates no output, and the following console error:

This is on master but evidently at least on 1.0.4 as well

[2019-03-09 05:24] bryevdv commented on #8733
Update: this seems to be confined to inline resources

[2019-03-09 05:28] bryevdv commented on #5028
I can no longer reproduce any issues described in this issue with 1.1.0dev9, so closing

[2019-03-09 05:28] #5028 closed

[2019-03-09 05:30] bryevdv commented on #8733
And now I can't reproduce a problem at all anymore. Notebooks, who knows.

[2019-03-09 05:35] bryevdv commented on #8733
Actually I guess it is failing with 1.1.0dev9 / master with inline resources, but not 1.0.4

[2019-03-09 05:39] bryevdv commented on #8731
@EdTheEagle your code behaves exactly as expected for me with 1.1.0dev9 / master Please confirm whether you still see any issue with a Dev Build:

https://bokeh.pydata.org/en/latest/docs/installation.html#developer-builds

Otherwise I will assume this has been fixed sometime recently and will close this accordingly.

Also, FYI, the issue template specifically asked for several important pieces of

[2019-03-09 05:48] bryevdv commented on #5869
The code around this was reworked some time ago, which evidently fixed this issue as a side-effect. I can no longer reproduce any issue with the example code above.

[2019-03-09 05:48] #5869 closed

[2019-03-09 05:50] bryevdv commented on #5867
#6660 is a dupe of this one but I will leave the newer issue open

[2019-03-09 05:50] #5867 closed

[2019-03-09 05:59] bryevdv commented on #6217
This was fixed at some point, win10, ie11, 1.1.0dev9 initial load:

<img width="1106" alt="Screen Shot 2019-03-08 at 9 58 59 PM" src="https://user-images.githubusercontent.com/1078448/54066929-7eaf8f00-41ed-11e9-825b-3b6d0fbb2e33.png">

[2019-03-09 05:59] #6217 closed

[2019-03-09 06:04] bryevdv commented on #6892
I intend to get something stood up in 2019Q2 but further work and discussion should happen in the repo set up for it:

https://github.com/bokeh/share.bokeh.org

[2019-03-09 06:04] #6892 closed

[2019-03-09 09:53] mattpap commented on #8733
It's an easy fix, I will submit a PR later today.

[2019-03-09 18:19] bryevdv commented on #6778
I can no longer reproduce any problem with 1.1.0dev9

<img width="929" alt="Screen Shot 2019-03-09 at 10 19 14 AM" src="https://user-images.githubusercontent.com/1078448/54075493-dcc38d00-4254-11e9-8f71-470fb7245c7f.png">

[2019-03-09 18:19] #6778 closed

[2019-03-09 18:36] bryevdv commented on #7717
Things perform acceptably now with 1.1.0dev9

[2019-03-09 18:36] #7717 closed

[2019-03-09 21:59] mattpap commented on #7453
This was added in PR #8678.

[2019-03-09 21:59] #7453 closed

[2019-03-09 22:47] mattpap commented on #6824
I haven't seen this issue appearing again after switching to the new layout.

[2019-03-09 22:50] mattpap commented on #6771
The current situation is:
[code]
which is as good as it will get. This was fixed in PR #8652.

[2019-03-09 22:50] #6771 closed

[2019-03-09 23:15] mattpap commented on #6173
This was added in PR #8678.

[2019-03-09 23:15] #6173 closed

[2019-03-10 06:05] #8733 closed

[2019-03-10 06:24] raghavgai commented on #8448
I love the bokeh charting. I was going through the code, if i encounter such typos shall i correct and send pull request ?
Thanks

[2019-03-10 09:08] baderAmmoun opened #8735 "Embed bokeh figure in wxPython"
# READ AND FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and
technical assistance, come ask the [Bokeh mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh) or join the chat on [Gitter](https://gitter.im/bokeh/bokeh). For feature requests

[2019-03-10 17:26] bryevdv commented on #8448
@raghavgai PRs for docs corrections are always appreciated

[2019-03-10 17:30] bryevdv commented on #8735
This issue is lacking every piece of information requested, which is reason enough to close it. However,  based off the title, I will add that Bokeh explicitly does not test on/support wxWindows (it may work, it may not, I don't know). Official support for wxWindows would require a new contributor to agree to make on the time and work commitment to take on the role of maintainer for that.

[2019-03-10 17:30] #8735 closed

[2019-03-10 21:54] xavArtley opened #8737 "Windows phantomjs not killed on selenium termination"
I reinstalled a fresh python environment on windows with python 3.7 and pythonenv
I use only pip for package dependencies
When I tried to run tests some failed because temp files were locked.
<img width="726" alt="win32error" src="https://user-images.githubusercontent.com/18531147/54091987-214f4580-4387-11e9-9584-6a117a356ad2.png">
<img width="257" alt="test_failures" src="https://user-images.gith

[2019-03-11 01:17] #8577 closed

[2019-03-11 01:30] bryevdv commented on #8725
The crux of the matter is that I strongly suspect that the number of people legitimately intending to show an empty layout is minuscule [1] compared to a much greater occurrence of people unintentionally showing an empty layout left wondering why they are staring at an empty screen with no guidance or feedback. In which case we are optimizing for the wrong (uncommon) case.

[1] Case in point, it i

[2019-03-11 19:57] xavArtley commented on #7004
solved in https://github.com/bokeh/bokeh/pull/8565

[2019-03-11 19:57] #7004 closed

[2019-03-11 20:26] xavArtley commented on #8478
Windows 10 chrome:
I don't notice a real blur problem at any zoom level :
![image](https://user-images.githubusercontent.com/18531147/54155175-df380980-4443-11e9-8875-cec32a7c7afe.png)

![image](https://user-images.githubusercontent.com/18531147/54155262-0bec2100-4444-11e9-9752-c8361e865599.png)

![image](https://user-images.githubusercontent.com/18531147/54155364-43f36400-4444-11e9-944b-e3348a4de

[2019-03-12 05:01] #8737 closed

[2019-03-12 05:04] bryevdv commented on #8706
This is a duplicate of #8668

[2019-03-12 05:04] #8706 closed

[2019-03-12 05:04] bryevdv commented on #8668
@jlstevens any interest/availability to make a quick stab at this?

[2019-03-12 15:47] jlstevens commented on #8668
I'm currently working on more advanced colormapping models but I am happy to come back to this when I get a chance...

[2019-03-12 16:12] #8529 closed

[2019-03-12 16:19] sprousewd commented on #8687
I can confirm I've seen this as well. I can provide an additional standalone .html file if it is helpful.

[2019-03-12 16:22] bryevdv commented on #8687
I can only suggest not using webgl for now, if it is not working for your use case. I don't know when we might have a maintainer for webgl again. If you have large datasets you might consider using holoviews (to render datahsader output with Bokeh)

[2019-03-12 16:31] #8731 closed

[2019-03-12 16:31] bryevdv commented on #8731
Closing, happy to re-open with more information.

[2019-03-12 16:46] mattpap commented on #8469
Also make sure to tab headers' scroll doesn't jump around after modifying tabs, especially after closing tabs (PR #8732).

[2019-03-12 17:05] mattpap commented on #8687
This is very interesting because it goes in and out of match depending on zoom level, but this issue is not zoom tool exclusive, and can be also reproduced with at least pan tool. This is also not an issue with webgl backend directly, because, as warnings in JS console indicate, webgl backend doesn't support this kind of data and falls back to canvas renderer. This indicates the problem is with gl

[2019-03-12 17:08] mattpap commented on #8687
The difference between scatter circle and circle glyphs, is that the former doesn't have a webgl implementation whereas the later has.

[2019-03-12 17:30] mattpap commented on #8687
Actually this is a problem with the backend, because in some cases webgl is actually being used and then the rendered glyphs are offset. I think I will disable webgl altogether for a particular glyph if the sanity checks fail at least once. Currently they are performed for every paining which results in this flood of warning messages.

[2019-03-12 18:01] #8725 closed

[2019-03-12 18:02] #7498 closed

[2019-03-12 19:47] birdsarah opened #8741 "Elevate our code of conduct"
I was looking at some CoC stuff for another project and thought I would take a quick look at Bokeh's and realized that it's not featured prominently or at all on any of the standard bokeh landing pages.

I was thinking a mention along with a sentence about being an open, diverse and inclusive community would be nice. Propose the following pages:
* https://bokeh.pydata.org/en/latest/
* https://boke

[2019-03-13 11:15] PavloFesenko opened #8742 "Hover tooltip in wedge/pie charts not working correctly"
For defects or deficiencies, please provide ALL OF THE FOLLOWING:

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 1.0.4, python 3.6.6, notebook Kaggle, OS Windows 10, browser Chrome

#### Description of expected behavior and the observed behavior
When one of the values in the wedge/pie chart is 0, the hover tooltip shows the column instead

[2019-03-13 15:23] bryevdv commented on #8741
@birdsarah I think all of those locations seem reasonable. Are you planning to submit the PR?

[2019-03-13 15:30] bryevdv commented on #8742
Offhand guess: when the angle is zero it ends up hit-testing the entire circle

[2019-03-14 07:34] PavloFesenko commented on #8742
@bryevdv , thanks for a quick response! One can overcome this bug by replacing 0 with a small value, for example, 0.001 but this is just a temporary fix.

[2019-03-14 15:56] jbednar commented on #8724
I think that's a meaningful claim, but only in the context of whole numbers (e.g. counts).  For counts, one would be unlikely to select a log scale unless there are some fairly large counts, because if the largest count is under 100 or so all the values should be visible and distinguishable even in a linear scale. And counts are where zero values are likely to come up, e.g. for a 2D histogram view

[2019-03-14 22:34] poplarShift commented on #8724
Thanks for the comments. I'll put something together, pretty busy with a conference right now but the way I understand you I will 1) fix the wrong colormap as it is a bug, which is straightforward, and 2) in the mid-term we should figure out a more suitable handling of log-scales in general.

[2019-03-14 23:41] bryevdv commented on #8454
This is actually a duplicate of https://github.com/bokeh/bokeh/issues/8499

[2019-03-14 23:41] #8454 closed

[2019-03-15 00:51] Haptein opened #8744 "Plots containing arrows fail to render correctly with svg output backend."
Also exporting a plot with output_backend='svg' when it contains arrows throws the following warning/exception:

WARNING:bokeh.io.export:The webdriver raised a TimeoutException while waiting for a bokeh:idle' event to signify that the layout has rendered. Something may have gone wrong.

It does not matter wether it is exported as svg or png, and the resulting image looks the same. Plot looks the s

[2019-03-15 10:31] PavloFesenko opened #8746 "When line_width is set to 0 the glyph boundaries don't disappear"
For defects or deficiencies, please provide ALL OF THE FOLLOWING:

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh 1.0.4, python 3.6.6, notebook Kaggle, OS Windows 10, browser Chrome

#### Description of expected behavior and the observed behavior
I am trying to remove the glyph boundaries by using `line_width=0` but they don't disappear. As

[2019-03-15 15:44] philippjfr opened #8747 "Custom extensions cannot import models/widgets/widget"
As part of panel we are shipping various custom models, generally that works perfectly but it seems when I export a plot containing custom models to a static HTML file it fails to resolve certain modules, specifically this line raises errors:

          var widget_1 = require("models/widgets/widget");

while other imports seem to work just fine, e.g.:

          var p = require("core/properties");

[2019-03-15 15:57] philippjfr commented on #8747
This may or may not be related to this error I get when I try to import the Widget model like this:

[code]

[code]

[2019-03-15 15:57] bryevdv commented on #8746
This is the unfortunate behavior of the underlying HTML canvas (I just tested on Safari in a codepen to be sure). There is nothing we can do to change that. Since there are accepted method to suppress lines (set `line_color=None` or `line_alpha=0`) I'm inclined to just close this as `upstream`

@bokeh/dev any other thoughts?

[2019-03-15 15:59] philippjfr commented on #8747
cc @mattpap

[2019-03-15 16:11] jbednar commented on #8746
That does seem like the fault of the HTML canvas, but I think people will still consider it a Bokeh bug.  Would it be reasonable for BokehJS to work around it by forcing line_color=None when line_width is set to 0?  It's very annoying and strange to have to do this, and I suspect that doing it would cause other problems, e.g. if line_width is then set to a non-zero value the color will mysteriousl

[2019-03-15 16:13] bryevdv commented on #8746
It's clearly wrong, but it is it important? It would take some amount of effort to fix correctly, and it has evidently only been noticed once in ~6 years. So my prompt is really about justifying time/effort.

[2019-03-15 16:16] philippjfr commented on #8746
I do remember noticing this and working around it myself a few times by setting ``line_alpha=0``. If there is indeed no good and easy fix here I'd also be inclined to say that it's not worth the invested effort or additional complexity.

[2019-03-15 16:22] mattpap commented on #8747
This is an unfortunate limitation, you will have to use the canonical module path `models/widgets/index` for now. This should have been fixed awhile ago, because I've been fining my self tripping over this.

[2019-03-15 16:24] bryevdv commented on #8746
Right now the "visuals" are hard wired to look at a single property to determine whether drawing or stroking should occur:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/core/visuals.ts#L25

To fix this properly, that would need to be generalized

[2019-03-15 16:24] mattpap commented on #8747
This is a bug. All those external libraries shouldn't be part of the public API. I though I already fix all instances.

[2019-03-15 16:25] jbednar commented on #8746
I agree; a bad or very difficult fix isn't worth it.  But if there is a good, easy fix, I'd say it's worth it; people will often not report something like this if there's a workaround.  Sounds like there isn't, but if generalizing that approach is useful for some other reason, addressing this problem could be considered.

[2019-03-15 16:26] philippjfr commented on #8747
Thanks, that makes sense, I think it's reasonable to have to import a specific module. I only tried this because I was hoping it would be able to resolve the original issue, but even ``models/widgets/index`` won't work due to the pikaday issue.

[2019-03-15 16:30] philippjfr commented on #8747
Okay, I removed the DatePicker widget from the ``widgets/index.ts`` which got rid of the pikaday issue but it's still failing to resolve the module in the exported HTML:

[code]

[2019-03-15 16:34] mattpap commented on #8747
There is no widgets bundle in that HTML file, so it fails correctly. bokeh automatically adds it when a model inheriting `Widget` is being used, though I'm not sure how panel handles this.

[2019-03-15 16:36] philippjfr commented on #8747
Ah, that makes total sense! The problem I guess is that it still bundles custom models even if they are not used, which can lead to situations like this where the bokeh widgets bundle isn't included but custom models which subclass from a widget are bundled and cause errors.

[2019-03-15 16:39] philippjfr commented on #8747
The simple solution would be to filter the custom models that are bundled based on the models that are actually included in the document. In a server session that could be problematic though since a custom model may be added after the page is loaded.

[2019-03-15 16:45] mattpap commented on #8747
In server and notebook setup we need to include everything, but in standalone HTML case we can be selective, and we already are with widgets, etc., so there is no reason to not be selective with custom models as well.

[2019-03-15 16:46] philippjfr commented on #8747
Okay, is that something you could handle very quickly? Otherwise could you point me to the relevant parts of the code and I can work up a PR.

[2019-03-15 16:51] bryevdv commented on #8746
One possible reason to do something: Currently `line_color=None` actively suppresses the call to `ctx.stroke` whereas `line_alpha=0` still calls `ctx.stroke` but the result just happens to be invisible. If this were generalized then we could prevent code execution for invisible configurations in all cases.

[2019-03-15 17:32] philippjfr commented on #8747
@mattpap Unless you tell me otherwise I'll try to figure out a fix inside ``bundle_for_objs_and_resources`` and will submit a PR.

[2019-03-15 17:32] mattpap commented on #8747
Actually I'm finishing a PR right now.

[2019-03-15 17:33] philippjfr commented on #8747
You're amazing!

[2019-03-15 17:52] jsignell commented on #7981
Just ran into this and can't quite figure out what's going on. It seems like the signals are all connected up properly.

[2019-03-15 22:11] mattpap commented on #8744
Errors in JS console (this is why `idle` doesn't trigger):
[code]
Possibly a duplicate of other SVG backend related issues, but this is the first time I see this DOMException.

[2019-03-15 23:14] mattpap commented on #4790
This was fixed at some point.

[2019-03-15 23:14] #4790 closed

[2019-03-15 23:18] mattpap commented on #4689
This was fixed somewhere around the new layout.

[2019-03-15 23:18] #4689 closed

[2019-03-15 23:48] mattpap commented on #4951
This was fixed in PR #8749.

[2019-03-16 00:00] mattpap commented on #5623
Given that one can achieve this with a `Div` and a layout, e.g.:
[code]

![image](https://user-images.githubusercontent.com/27475/54467613-8db2b600-4786-11e9-80c3-613a397dbfcc.png)

I'm going to reject this. `label` property is meant for only immediate convenience. It's also quite likely that we will deprecate this at some point and provide this feature in terms of pre-defined layouts.

[2019-03-16 00:00] #5623 closed

[2019-03-16 00:10] mattpap commented on #5142
I think this isn't needed anymore, because layoutable renderers are only added to side and center panels, but not to renderers. They are handled as renderers internally by plot views. So moving things around is a simple remove and insert from/to side and center panels.

[2019-03-16 00:10] #5142 closed

[2019-03-16 00:19] #8747 closed

[2019-03-16 03:55] #8624 closed

[2019-03-16 20:52] mattpap commented on #6824
I will consider this fixed, though I don't know why it failed and what exactly fixed this (definitively new layout, I suppose being much stricter regarding rounding helped with this).

[2019-03-16 20:52] #6824 closed

[2019-03-16 22:08] #7451 closed

[2019-03-16 22:09] #8742 closed

[2019-03-16 22:11] #6713 closed

[2019-03-16 22:19] mattpap commented on #4867
Fixed in PR #8754.

[2019-03-16 22:19] #4867 closed

[2019-03-17 06:17] philippjfr commented on #5227
I think the way forward on this issue is to add a branch specifically for the classic notebook which can exploit the fact that require is available and load the scripts that way. The main issue then is that we then need to find a way to map the JS resources to specific module names that can be exposed on the ``window``. That could be done by allowing dictionary mappings on ``__javascript__`` to gi

[2019-03-17 06:31] philippjfr commented on #5227
Alternatively how hacky is it to simply temporarily set ``window.define = undefined`` while the external scripts are added.

[2019-03-17 15:00] philippjfr commented on #5227
Setting ``window.define = undefined`` is definitely not a great thing to so it would certainly be best to use require properly. That said it's certainly not straightforward since we somehow need to make the module names available and in certain cases would even have to define requireJS shims.

@mattpap Do you have any suggestions? Do you see an easy way to provide the module names to ``autoload_js

[2019-03-17 17:35] wochner opened #8759 "Taptool not working in 1.0.4"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Bokeh 1.0.4
Python 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 18:10:19)
[GCC 7.2.0] on linux, SUSE Linux Enterprise Server 12 (x86_64)
Firefox 60.5.2esr (32-Bit)

#### Description of expected behavior and the observed behavior

Expect the server to print "tap". Nothing happens. This still works i

[2019-03-17 17:43] bryevdv commented on #8759
Please see the migration Guide for 1.0, specifically the section "Handling of Selections"

[2019-03-17 17:43] #8759 closed

[2019-03-17 20:08] #8746 closed

[2019-03-18 07:40] flutefreak7 commented on #5112
For those who end up here from using old examples or by some mistake of Google - go see the docs: https://bokeh.pydata.org/en/latest/docs/user_guide/categorical.html. This stuff has gotten much easier to use now.

[2019-03-18 12:41] tony-bony opened #8762 "Tooltips not working for segment on inverted Y-axis"
**ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)**
[code]
OS: Mac OS X Yosemite 10.10.5
Browser: Google Chrome  72.0.3626.121 (Official Build) (64-bit)

**Description of expected behavior and the observed behavior**
Tooltip should display on hovering a segment

**Complete, minimal, self-contained example code that reproduces the issue**
[code]

[2019-03-18 12:48] tony-bony commented on #8762
**ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)**
[code]
OS: Mac OS X Yosemite 10.10.5
Browser: Google Chrome  72.0.3626.121 (Official Build) (64-bit)

**Description of expected behavior and the observed behavior**
Tooltip should display on hovering a segment

Complete, minimal, self-contained example code that reproduces the issue
[code]

[2019-03-18 13:07] tony-bony opened #8763 "Feature request: Title for DataTable"
**Feature description:**

A `DataTable` is not always associated with plot data and can be used as stand-alone (no plots involved). In this case it would be useful if it had a `title` attribute like the `Plot` so it is clear which data is being presented. This would exclude the need for using Div or Paragraph for describing table contents

**Expected result:**

![Screen Shot 2019-03-18 at 14 08 46

[2019-03-18 13:57] mattpap commented on #8763
This is a duplicate of issue #8047.

[2019-03-18 13:57] #8763 closed

[2019-03-18 14:01] mattpap commented on #6025
This was fixed by the new layout:
![image](https://user-images.githubusercontent.com/27475/54535338-a1c90400-498e-11e9-9078-6c41691b4f18.png)

[2019-03-18 14:01] #6025 closed

[2019-03-18 14:28] mattpap commented on #8762
Easier to compare side-by-side:
[code]

[2019-03-18 14:32] jsignell commented on #7981
I don't think this is fixed. I am still seeing the same issue of the widgets not being disabled when running the code snippet above.

[2019-03-18 14:36] mattpap commented on #7981
You will need to provide more details. I just tested in Chrome and FF, and it works correctly.

[2019-03-18 14:39] jsignell commented on #7981
I am seeing:

<img width="300" alt="Screen Shot 2019-03-18 at 10 33 55 AM" src="https://user-images.githubusercontent.com/4806877/54538027-e5f5dd80-4969-11e9-8996-378921816652.png"> <img width="300" alt="Screen Shot 2019-03-18 at 10 33 49 AM" src="https://user-images.githubusercontent.com/4806877/54538034-e8f0ce00-4969-11e9-9cb1-08f4db3c75c1.png" align="right">

The button group widgets are not di

[2019-03-18 15:32] mattpap commented on #7981
Let's start from making sure that you're using most recent bokehjs (it's easy to get that wrong with the server). If bokehjs is up-to date, then I will need platform details, etc. (under assumption that this is a platform specific bug).

[2019-03-18 15:38] jsignell commented on #7981
My bad @mattpap - I was using inline and forgot to rebuild bokehjs. Thanks for the help :)

[2019-03-18 15:38] #7981 closed

[2019-03-18 21:23] tony-bony opened #8766 "box_select not working as active_drag for gridplot"
**ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)**

[code]

[code]

**Description of expected behavior and the observed behavior**
The box_select should be the active drag tool in the gridplot's toolbar. Now it looks like always the first drag tool is being active (PanTool in example below)

**Complete, minimal, self-contained example code that reprod

[2019-03-19 01:59] #8762 closed

[2019-03-19 03:14] #8726 closed

[2019-03-19 07:38] FengHuangDong opened #8768 "How can i update Bokeh canvas in front end"
[code]
Is there an API to update canvas when I dynamically change **item** in the front end after bokeh generation?

My current solution
[code]

Is there a better solution?

[2019-03-19 08:28] EdTheEagle commented on #8731
@bryevdv I have just moved from 0.13 to 1.04 (on Win10) and the issue above still persists. As you mentioned, the issue would not arise in the 1.1.0dev9 version, but I havent installed that version yet. I will await the new version and then check again.

[2019-03-19 13:15] rmelotte opened #8769 "export_png fails when extending existing bokeh widgets"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

[code]

#### Description of expected behavior and the observed behavior

I'm trying to export figures to files, and I have a custom widget that I use to get float inputs from the user. When the custom widget is created, export_png fails to load bokeh.

##### Expected
Exporting a figure should work n

[2019-03-19 14:26] bryevdv commented on #8731
@EdTheEagle There is no need to wait until the next full release. Dev builds are easily installable with pip or conda according to the link I gave above.

[2019-03-19 16:16] mcrot opened #8770 "Using range padding with image plots leave lots of empty space"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Bokeh: 1.0.4
Python: 3.6.8
Conda: 4.6.8  (used a conda environment here)
Browser: Firefox 65.0.1

#### Description of expected behavior and the observed behavior

When using a value for the `range_padding` attribute of `DataRange1d`,
I expect that this padding is applied on the left side of the rang

[2019-03-19 16:20] mcrot commented on #8770
@bryevdv suggested on [Gitter](https://gitter.im/bokeh/bokeh?at=5c90fdd1f3dbbd230c80c008) that [these lines here](https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/glyphs/image.ts#L220-L226) are probably related:
[code]
To me it looks like that the bounding box is extended by the full width and height of the image.

[2019-03-19 21:42] PBrockmann commented on #7109
active_scroll = "auto"
gives
Error: property Plot.active_scroll wasn't declared

Tested from Observable notebook: https://observablehq.com/@pbrockmann/test-bokehjs
with 1.0.4 release

[2019-03-20 04:01] lisamartin72 opened #8771 "updated NumFOCUS donor link"
Hi, I am a new staff member at NumFOCUS. We have updated our donation provider from Flipcause to Salsa. The new link is:

https://numfocus.salsalabs.org/donate-to-bokeh/index.html

Please update your website accordingly. : )

Thanks,

Lisa Martin
NumFOCUS

[2019-03-20 05:51] bryevdv commented on #8769
Currently the timeouts are hardcoded, e.g.

https://github.com/bokeh/bokeh/blob/a59a777d4d01846cc16e78662208258c86faabf7/bokeh/io/export.py#L278

There's no way to anticipate how long things might take with an arbitrary combination of user extensions and specific OS/hardware. I think the best we can hope to do is expose this timeout as a configurable value that users can bump higher if their speci

[2019-03-20 06:13] bryevdv commented on #8769
@rmelotte would you be interested in working up a PR for this? It is definitely accessible to anyone with moderate Python experience and would help get a fix in faster.

[2019-03-20 09:35] MichaelSchroter opened #8774 "Bokeh Clustered bar chart"
![_20190320_210110](https://user-images.githubusercontent.com/31654102/54676758-7fcdae00-4b55-11e9-83ca-47aecbb2d1b5.JPG)
I have some data:
[code]
I would like to create a clustered bar chart in `bokeh`, such that the value of the bar and its x label is shown in the `tooltip`. Also the xaxis major label should be shown in the legend. xaxis major label is not shown. Only the group label is shown. x

[2019-03-20 14:55] bryevdv commented on #8774
As stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please consider [Stack Overflow](https://stackoverflow.com/) or the [public mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh). To increase the chance that someone wi

[2019-03-20 14:55] #8774 closed

[2019-03-20 22:08] anthonydouc commented on #8478
Which version of bokeh are you using

[2019-03-20 22:54] #8771 closed

[2019-03-21 00:06] paddymul commented on #8197
@mattpap  Do you have objections to me making a PR for those changes?  I want to use bokehJS as a standalone module too.

Are there any problems with adding things to the bokehjs npm artifact?

[2019-03-21 00:06] #8692 closed

[2019-03-21 00:11] mattpap commented on #8197
What changes exactly you are referring to?

[2019-03-21 00:16] paddymul commented on #8197
Changing the paths as you described on Aug, 31st.

To put it another way, what thoughts or concerns does the core bokeh team have about node module that gets published to NPM?

Would they be open to a pull request that makes bokehJS usable as standalone library for an NPM based js project.

[2019-03-21 01:05] mattpap commented on #8197
This refers to external configurations, nothing that can be done within bokehjs. What can be done in bokehjs, is changing the build system, by adding a stage that would rewrite absolute internal module paths with relative paths (I have some preliminary work done towards this). I don't consider this an issue by itself, because it's not uncommon for large projects to have mapped module paths. Howeve

[2019-03-21 01:59] paddymul commented on #8197
Is there a downside to rewriting all absolute internal module paths to relative paths statically in git?  I'd be happy to do this.

[2019-03-21 06:28] xavArtley commented on #8478
1.1.0devx

Le mer. 20 mars 2019 à 23:08, Anthony Doucouliagos <notifications@github.com>
a écrit :

[2019-03-21 09:53] anthonydouc commented on #8478
It still looks blury to me. Even in the images you sent through at 100% zoom the text looks distorted - when you zoom further in it looks improved. I suspect it would be associated with a canvas drawing issue

[2019-03-21 09:59] mattpap commented on #8478
Most likely that's the case and there may be nothing we can do about it in general. However, it would be good to know what advice to give users in future. @anthonydouc, can you try using non-italic or unstyled font, or a different font altogether for the vertical axis? Maybe there is a combination that works more reasonably.

[2019-03-21 10:00] mattpap commented on #8478
Actually, I already asked earlier for a different font, so lets focus on styling this time.

[2019-03-21 10:12] mattpap commented on #8197
The downside is that we will end up with module paths like:
[code]
which is a pain to work with and maintain the code. We used to use such paths and I'm definitively not going back to that. An alternative would be to split up bokehjs into more fine grained modules, but given the complexity of the project that's easier said than done and may be actually more work than it's worth. That's why I think

[2019-03-21 11:25] devmood opened #8777 "Tabs header doesn't update when layout recomputes"
Bokeh version: `1.0.2`
OS: `Ubuntu 18.04.2 LTS`
python version: `3.7.1`

While trying to achieve a responsive layout (`tabs`, `plot` and `widgetbox`), I came across a bug, where a plot expands unexpectedly; even though `sizing_mode` on each step has been set to `scale_width`. In all the following code samples I tried to add / remove the least amount of code possible, so that examples remain altern

[2019-03-21 13:21] poldavezac commented on #8723
The manual calling was purely for facilitating testing. The problem occurs automatically when the document is loaded. In my real-world case, I could not load a document comprising 2 figures (a time series and it's histogram), both sharing their y-axis range and with an extra y-axis slaved to the others through a callback.

As far as investigations go, I do think I pinpointed the problem : the chec

[2019-03-21 14:45] paddymul commented on #8197
I would really like to help on this.  I’m looking to play with bokehJS in standalone JS apps, particularly ReactJS.  If you could point me to docs on either the compiler transform side or more information (similarly packaged projects, relevant docs) about how to use bokehJS in a standalone project I would appreciate it.

Thanks,
Paddy

[2019-03-21 15:29] bryevdv commented on #8777
@devmood please try with 1.1.0 dev build and report back. The layout system has been completely re-written and dozens of layout issues fixed, so we need to start from there as a basis.

https://bokeh.pydata.org/en/latest/docs/installation.html#developer-builds

[2019-03-21 15:31] #8668 closed

[2019-03-21 15:31] #8770 closed

[2019-03-21 21:19] bryevdv commented on #8723
@poldavezac would you like to contribute your local solution as a PR? That would greatly accelerate getting a change into the project.

[2019-03-22 04:23] thoth291 opened #8778 "Hover over image is showing wrong @image tooltip on flipped axis"
This is continuation of this:
https://github.com/bokeh/bokeh/pull/8031#issuecomment-475488255
I second the comment above.
[code]
Gives me this
<img width="583" alt="Screen Shot 2019-03-21 at 10 52 08 PM" src="https://user-images.githubusercontent.com/2971670/54799657-23898d80-4c2c-11e9-97c9-c02a37aabc66.png">

While this bokeh (1.0.4) code
[code]
gives me this
<img width="728" alt="Screen Shot 201

[2019-03-22 04:46] bryevdv commented on #8777
So, I can't reproduce and growing problem. I do recall an issue for that before (though I can't find it now) and that it has been fixed. In 1.1 your plot does not scale because you have not set a sizing mode on it with the second code sample. But it does scale when a sizing mode is added.

Note that `Panel` should not accept a `sizing_mode`, if it ever did, that itself was a bug, but it will not a

[2019-03-22 04:55] bryevdv commented on #8777
@devmood note also that you have way overcomplicated things with many pointless intermediate layout objects. these will make it harder for you to reason about what should happen, but also muich harder for Bokeh to as well. I think this is closer to what you are trying to achieve (code for 1.1):

[code]

![ScreenFlow](https://user-images.githubusercontent.com/1078448/54801383-d7d2e600-4c23-11e9-908

[2019-03-22 04:57] bryevdv commented on #8777
@mattpap I am not seeing the tab expansion with the above, however

[2019-03-22 05:03] bryevdv commented on #8768
As stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please consider [Stack Overflow](https://stackoverflow.com/) or the [public mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh). To increase the chance that someone wi

[2019-03-22 06:08] NumesSanguis opened #8779 "Spectrogram example bug on Ubuntu"
Issue related to: https://github.com/bokeh/bokeh/tree/master/examples/app/spectrogram

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
- Bokeh: '1.0.4'   (`conda install bokeh`)
- Python: 3.6.8 (h0371630_0)
- tornado: 5.1.1 (py36h14c3975_1000) (`conda install -c conda-forge tornado`)
- nodejs: 10.13.0  (he6710b0_0) (`conda install nodejs`)
- pyaud

[2019-03-22 16:10] devmood commented on #8777
@bryevdv Thanks a lot for Your response and help. It does indeed work with 1.1.0 dev build. And regarding the tabs extension... Is there a way to disable them and perhaps achieve something similar to the stable version, where all tabs were just stacked? It's way more convenient for me to have the tabs at the `tab_location="above` and I'd rather use scroll bar (added with custom css class) to look

[2019-03-22 18:51] bryevdv commented on #8777
@devmood improving tabs is still an area of active development. What there is now is probably the best we can deliver for 1.1 but it would be valuable to collect other ideas and use cases to inform follow on work. I'd suggest making an issue regarding tabs (after 1.1 is released in the near future)

[2019-03-22 19:08] mattpap commented on #8777
@bryevdv, I went ahead and the issue with not updating tabs headers.

[2019-03-22 19:23] bryevdv commented on #8779
@NumesSanguis after some research it seems the message about `gio` has nothing to do with Bokeh. It is due to some or other deprecated Gnome package being installed on Ubuntu systems, and can be triggered when Python itself opens a webbrowser:

https://bugs.python.org/issue30219

This fix for this is going to be some change in configuration or package updates on your end, there's nothing we can do

[2019-03-22 21:52] #8777 closed

[2019-03-22 23:06] #8710 closed

[2019-03-24 15:58] hrobinsona commented on #5918
Is there any resolution to this?

[2019-03-24 17:17] bryevdv commented on #5918
@hrobinsona if there were any updates, they would be here. As I said above, this is any area where the project needs help. We are happy to collaborate with any experience mobile dev.

[2019-03-24 20:37] noppelmax opened #8783 "curdoc().add_root() seems only to work at the end of a callback"
[code]

I wrote a minimal example for that.

[code]

The div containing "Loading metadata..." is not shown in the browser. When the call has finished the new layout is shown, but not inbetween.

Kind regards,
Max

[2019-03-24 20:41] bryevdv commented on #8783
@noppelmax can you link the video, and platform browser in details o as well? I know from outside chat it is failing on 1.1.0dev11 but we need as much info as possible to reproduce.

For reference, this code works for me 1.1.dev on OSX/Safari

[2019-03-24 20:42] xavArtley commented on #8783
works for me v1.1.0dev10 on windows/chrome

[2019-03-24 20:43] philippjfr commented on #8783
+1

[2019-03-24 20:44] noppelmax commented on #8783
[ https://cloud.vspace.one/s/3pcsFdpCo4x7BJ2]( https://cloud.vspace.one/s/3pcsFdpCo4x7BJ2)

I'm on Linux. Maybe that is the point?

[2019-03-24 20:44] bryevdv commented on #8783
Also works for me on OSX/FF 66 as well. There is an error message emitted:

But things still function as expected

[2019-03-24 20:44] noppelmax commented on #8783
I get this error too

[2019-03-24 20:45] bryevdv commented on #8783
Possibly, I will have to get a Linux VM up an running at this point to look further (my old ones are gone in laptop wipe), so that will not be until later this week/next at least

[2019-03-24 20:51] noppelmax commented on #8783
I'll also do some investigations the next days.

[2019-03-25 01:19] NumesSanguis commented on #8779
@bryevdv Sorry I couldn't experiment with it during the weekend. The `gio` might be indirectly related to bokeh, maybe because of `Tornado` (v5.1.1)? Because executing:

    import webbrowser
    webbrowser.open("https://www.google.com")

in just a terminal (with the same Python environment active) gives no deprecated error.

It seems that the `gio` part is unrelated for the not showing of the Spe

[2019-03-25 01:27] bryevdv commented on #8779
@NumesSanguis please try things with a recent dev build when you get a chance:

https://bokeh.pydata.org/en/latest/docs/installation.html#developer-builds

1.1 is a big update so it's entirely possible that things were fixed for your situation coincidentally, in which case we can close and skip some very time-intensive effort to reproduce this.

[2019-03-25 01:48] NumesSanguis commented on #8779
Thanks for your quick reaction, it is working now! I installed bokeh with `conda install -c bokeh/channel/dev bokeh` in a new Anaconda python=3.6 environment (and with `conda install scipy` & `conda install nodejs`). Both Firefox and Chromium work. The `gio deprecation` error is still there when running with `--show` though (but it seems it can be safely ignored).

Just now I also tested it on a W

[2019-03-25 01:48] #8779 closed

[2019-03-25 01:49] bryevdv commented on #8779
@NumesSanguis brilliant, thank you for testing this out, saves us a good deal of legwork. If you have any issues in the future, we can always re-open (but there are more tests now as well, so hopefully not)

[2019-03-25 05:20] bryevdv opened #8785 "CustomJS newlines break json_item embed"
The following code will have `\\n` in the emitted JSON, and the browser will complain with

[code]

[code]

[2019-03-25 05:29] bryevdv commented on #8785
Nevermind, this was a user error. I copy/pasted the repr directly into the JSON file from a notebook cell instead of writing it, or printing it

[2019-03-25 05:29] #8785 closed

[2019-03-25 05:52] bryevdv opened #8786 "Spinner jumps to low after one click, regardless of step"
1.1dev11,  OSX Safari and FF

clicking the down button on the spinner jumps to the low bound after at most 1 click, regardless of the step value

[code]

[2019-03-25 05:57] bryevdv commented on #8786
This logic appears to be at fault:

https://github.com/bokeh/bokeh/blob/e1f427e7afd5867f498a51b4bc08ca26bd3053cd/bokehjs/src/lib/models/widgets/spinner.ts#L24-L29****

[2019-03-25 06:08] bryevdv commented on #8786
This almost fixes things:
[code]

With this change, the first step (up or down) is too small but then all subsequent steps work.

@mattpap can you comment? I realize the step needs to be converted to an appropriate precision string, but setting from `value.toFixed` does not correct in any case.

[2019-03-25 06:21] bryevdv commented on #8786
Moving to 1.1, this is a serious bug that makes `Spinner` unusable

[2019-03-25 08:36] xavArtley commented on #8786
@bryevdv
can you try with this code?
[code]
Sorry I'm at home I don't have much time to work on this

[2019-03-25 12:03] xavArtley commented on #8786
The problem with round is the comprison to a min avlue wich cannot be reach from the value and the step define.
A solution would be to compute reachable `virtual_min` and `virtual_max` and make computations from these values.
However I don't know how it should behave when we reach bounds. Setting the value to the min define by the user (then the initial value could be not reachable again) or set i

[2019-03-25 14:40] bryevdv commented on #8768
Further mailing list discussion yields that this is really a feature request.

[2019-03-25 14:53] rysport opened #8787 "vline hover misses some multi-lines"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh 1.0.4, but same issue in 0.13 and 1.0.1.
Python 2.7.15
Anaconda custom (64-bit) (default, Nov 13 2018, 23:04:45)
[GCC 7.3.0] on linux2
Tested on latest Chrome and Opera.

#### Description of expected behavior and the observed behavior
When plotting the example below, a lot of hover events are t

[2019-03-25 14:54] bryevdv commented on #8786
Yes that explanation makes sense. Probably best to make it configurable and leave it to users. As a default I would personally say second option is best.

[2019-03-25 15:04] bryevdv commented on #8787
The hover tool triggers the callback on every mouse move. This is explicitly its intended behavior, with the purpose to allow users to have a callback that executes on every mouse move, that also has access to whether a glyph was hit or not. Even if we wanted to change that (which I don't think we do), such a breaking change to an established behavior could not be made until a 2.0 release.

The is

[2019-03-25 15:06] bryevdv commented on #8787
Also please note that the complicated and buggy "bare dict" syntax i.e. `cb_data.index['1d'].indices` has been deprecated a long time. You should use the proper selection object (demonstrated in the current docs various places)

[2019-03-25 17:06] philippjfr opened #8788 "Bokeh CSS affects all HTML components in bokeh layout"
In the major layout refactor a crucial bit of CSS was added which ensures that bokeh takes control over all margins and padding, specifically I'm referring to this snippet in ``bokehjs/src/less/bokeh.less``:

[code]

 I realize this code is essential for a layout components to work, however problematically it also applies to the contents of any ``Div`` or other LayoutDOM object. For examples when

[2019-03-25 17:26] mattpap commented on #8788
This is a duplicate of issue #8680 (though it may not be too obvious). There's a WIP PR #8776 attempting at fixing this.

[2019-03-25 17:26] #8788 closed

[2019-03-25 17:27] philippjfr commented on #8788
Thanks @mattpap, glad to know you're aware of the issue.

[2019-03-25 18:42] przemub commented on #8065
I'd just like to note that the bug is still there.

[2019-03-25 19:12] bryevdv commented on #8065
So, a graph is technically two renderers: a node renderer and an edge renderer. By default unless configured otherwise, a hover tool automatically tries to hover all existing renderers. I expect this is some result of that. I would suggest as a workaround, to configure the `.renderers` on the hover tool to be more restrictive, i.e. to only consider the graph's node renderer. In fact, it may simply

[2019-03-25 19:28] bryevdv commented on #8787
@rysport  I should add it could be possible to make this configurable, as long as the default behavior did not change. If you'd like to discuss that possibility, now that this issue is reserved for tracking the vline bug, please open a new issue to keep topics distinct.

[2019-03-25 19:49] philippjfr commented on #8065
The GraphRenderer declares an ``inspection_policy`` which should definitely be sufficient to ascertain whether it should hit-test nodes or edges.

[2019-03-26 02:24] samaust opened #8789 "codebase tests fail on Windows"
There's two issues with ```\tests\codebase\test_python_execution_with_OO.py```:

* It generates a long command that exceeds the 8191 Cmd.exe character limit
* It generates backslashes that need to be replaced by dot

[2019-03-26 02:56] NumesSanguis opened #8790 "Bokeh v1.1.0dev11 WaterfallRenderer (spectrogram example) RuntimeError in notebook (.ts not supported?)"
Trying to translate the spectrogram example to Jupyter Notebook: https://github.com/bokeh/bokeh/tree/master/examples/app/spectrogram

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

- OS: Ubuntu: 18.04.2 LTS 64-bit
- GNOME: 3.28.2
- Browser: Firefox Quantum 66.0 (64-bit)
- python 3.6.8
- bokeh 1.1.0dev11  (using dev version due to: https://github

[2019-03-26 04:13] bryevdv commented on #8790
@NumesSanguis You can inspect the detection code yourself, if that error is emitted, then it means Bokeh cannot find your node install, which is a configuration issue on your end:

https://github.com/bokeh/bokeh/blob/df701acd94f1dc7f09dbed0bd3f2be09cc7f2d24/bokeh/util/compiler.py#L423-L450

If you want to help Bokeh out explicitly, you can set the environment var `BOKEH_NODEJS_PATH` to be the expl

[2019-03-26 04:13] #8790 closed

[2019-03-26 04:19] bryevdv commented on #8789
@samaust More than anything else. these tests just need to be run by the CI. I'm perfectly OK to just skip them on windows. The slight risk is that a developer on windows pushes a PR with problems that are not detected until the CI runs, but they will be detected, and could then be fixed.

Would you mind submitting a PR to skip these tests on Windows?

[2019-03-26 04:55] NumesSanguis commented on #8790
@bryevdv Please don't close the issue before allowing me to comment on it. In my issue I state already: "but upon loading "waterfall.ts" it throws a `node.js v6.10.0 or higher` error (**_which is incorrect_**)."

First of all, it is installed with conda, so the PATH should work by default? Secondly, which I maybe should have mentioned more clearly, the same conda environment in non-Jupyter Noteboo

[2019-03-26 05:15] bryevdv commented on #8790
My first guess is that your notebook is installed in a different conda environment than you think it is, and a different environment than node is installed in. That would explain the scenario, and is also something I have seen *many, many* times. In any case, until demonstrated clearly otherwise, my experience tells me that this is a configuration issue on your end. If it is not, the issue can alw

[2019-03-26 05:29] NumesSanguis commented on #8790
@bryevdv I can understand that you get a lot of GitHub issues and they might be tiring. However, I spend 30 min to get a proper error report set-up, so to me it is a minimal respect to give me at least a chance to argue with your decision before you close it. That I screwed up with my installation is a fair assumption, but please give me the chance to disprove it if not.

I'm pretty sure I'm using

[2019-03-26 06:06] bryevdv commented on #8790
I'd like to do exactly that, ***on the mailing list***. I'm sorry you are feeling slighted by this ask, but our process is to start on the mailing list in any case that reasonably might be questionable as support. It's not personal. I do, in fact, appreciate all the detail you are providing, and wish everyone was so thorough. I'd just ask that you provide it in the correct venue to start for now.

[2019-03-26 07:17] FengHuangDong commented on #8768
@bryevdv
To add a scene:
[code]
When should I get the bokeh model through index? maybe need a callback?

[2019-03-26 07:47] NumesSanguis commented on #8790
@bryevdv Thank you for taking time to answer me more fully, I appreciate it. Sorry, I was convinced this was and error on Bokeh's side in Jupyter Notebook, hence it was more fitting for an issue. I assumed this because the GitHub examples with Notebook are outdated (v0.12.7: https://github.com/bokeh/bokeh-notebooks/tree/master/tutorial), it was not thoroughly checked for the Notebook part. Especia

[2019-03-26 09:22] rysport commented on #8787
Thanks! I think you remember us talking about it on Gitter a while ago, but I didn't post the issue back then. I'll post the suggestion separately as you suggested.

Regarding the deprecated "bare dict" syntax, I got it from following the latest user guide on Hover:

https://bokeh.pydata.org/en/latest/docs/user_guide/interaction/callbacks.html#customjs-for-hover

I now see the warning above, sorry

[2019-03-26 09:57] rysport opened #8792 "Suggestion: Option to trigger HoverTool only on hit"
#### Description of expected behavior and the observed behavior
Following the discussion on #8787, I would like the ability to only trigger hover callbacks on specific glyphs. Currently, the callback is triggered on every mouse move. I find this counterintuitive when the `names` are specified upon creating the HoverTool, as seen below.

For selections, one can use the ColumnDataSource like this:
[

[2019-03-26 10:41] zfei opened #8793 "Range tool gets stuck at minimum width"
Working with range tool in Bokeh 1.0.4. All is well except when the box is squeezed to the minimum, the selector doesn't function any more (can't be dragged or resized, see the screenshot below).

![range_tool_stuck](https://user-images.githubusercontent.com/1736058/54990527-eb9c9480-4ff5-11e9-945a-8fa80c2345db.gif)

It can be quickly reproduced in the Bokeh range tool demo - https://bokeh.pydata.

[2019-03-26 12:28] philippjfr opened #8794 "DirectoryHandler does not handle ipynb files correctly"
The documentation says that the ``DirectoryHandler`` allows serving main.ipynb notebook files inside a directory and the code does have codepaths that mention notebooks. However the implementation tries to load notebook files as if they were normal scripts, leading to immediate errors because notebook files are actually JSON. If the DirectoryHandler finds an ipynb file it should apply the same nbc

[2019-03-26 14:01] rmelotte commented on #8769
@bryevdv Thanks for your help.

I tried tweaking the timeouts manually, but unfortunately it doesn't seem to solve the issue.

I tried setting it as high as 300 seconds, but it still fails on the example given here (although I can confirm it waits for 300 seconds).

Beside, do you have a clue on why it fails when extending TextInput, but not when extending Column ? Is TextInput more expensive to c

[2019-03-26 14:55] bryevdv commented on #8768
cc @mattpap is better informed about this side of BokehJS than I am. The problem statement is: how can we help better BokehJS users obtain a reference to a plot e.g. that they have embedded, so that they can update by setting properties. It's possible there is already a good path to do this but it just needs documentation, or maybe BokehJS could use some dev work. This issue is to discsuss that.

[2019-03-26 14:57] #8723 closed

[2019-03-26 15:01] bryevdv commented on #8769
If it's not the timeout then I am afraid I have no idea what the issue could be at the moment.

[2019-03-26 15:06] #8794 closed

[2019-03-26 15:36] rmelotte commented on #8769
You're right, I could reproduce the issue with 1.1.0dev9, but it's gone in 1.1.0dev10.

Thanks!

[2019-03-26 15:36] #8769 closed

[2019-03-26 16:40] rmelotte commented on #2259
I still have this issue (or at least a very similar one) with 1.1.0dev11.

See this screencast:
![autocompleteinput](https://user-images.githubusercontent.com/20061471/55015150-9ad46e00-4fec-11e9-86e6-1f06d3bdbb06.gif)
The input gets filled with the correct value, but the "new" value that's passed to the on_change handler is the old value that the user typed.

I guess that there's some kind of rac

[2019-03-26 23:42] bryevdv commented on #8793
Letting it flip seems like a reasonable thing to do.

[2019-03-27 09:59] rmelotte commented on #4870
The styling issue seems to be gone in bokeh server as of 1.1.0dev11 (it seems it's not possible to trigger completions with one letter anymore so I used 2):
![image](https://user-images.githubusercontent.com/20061471/55066813-d881d700-507e-11e9-92d6-4b879eba1305.png)

Arrow keys still do not work, but I think it's expected in the recent versions ?

The on_change value however still has problems as

[2019-03-27 13:18] zfei commented on #8793
Thanks @bryevdv !

And sorry there's another minor issue - when the range box goes out of bounds via wheel scroll, the box can no longer be dragged or resized from the out-of-bound side:

![range_tool_oob](https://user-images.githubusercontent.com/1736058/55078418-16a9e580-50d5-11e9-8e34-db95ddeae5e6.gif)

Since the `x_range` is linked between the range tool and the figure, I'm not exactly sure if

[2019-03-27 15:04] jsignell commented on #6931
Just  ran into this and wanted to say that it might be nice not to make all of start, end, and value required. If start and end are defined we should at least be able to pick a starting value halfway between them or at ==start. Current behavior is to set value to 0 regardless of start and end - which leads to dragging through NaNs.

[2019-03-27 15:22] jsignell opened #8797 "Vertical slider hover"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
[code]

#### Description of expected behavior and the observed behavior
When orientation of sliders is vertical, the slider grows in height by about 50px on first interaction. This makes it extend outside of the allotted area in a notebook. The same behavior can be seen in static html - but is less n

[2019-03-28 02:40] #8786 closed

[2019-03-28 19:15] nasedil opened #8798 "Using BACKSPACE for Edit Tool in Firefox on Windows not always working properly"
Somehow edit tools, for example BoxEditTool, do not work properly in Firefox on Windows:  when trying to remove a box using BACKSPACE key after selecting it, Firefox instead goes back in history.  Even when cursor is in the plot.  That does not happen in Firefox on Linux.

#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
OS: Windows 10, version 18.

[2019-03-28 19:52] biggstd opened #8799 "'Bar and Categorical Data Plots' Tutorial `bokeh.sample.data` loading error."
#### Software

I encountered this in tutorial 07, [Bar and Categorical Data Plots](https://hub.mybinder.org/user/bokeh-bokeh-notebooks-r5ok8y5r/notebooks/tutorial/07%20-%20Bar%20and%20Categorical%20Data%20Plots.ipynb). I see the error on my local machine and on 'binder'.

The versions reported by 'binder':
[code]

#### Description

The sample data, `bokeh.sampledata.commits` fails to load, it thro

[2019-03-29 08:51] mattpap commented on #8799
This is a duplicate of issue #8585. The fix will be available in bokeh 1.1 (hopefully next week; one can use dev releases in the mean time). Alternatively you can downgrade pandas to a version below 0.24.

[2019-03-29 08:51] #8799 closed

[2019-03-29 11:32] giogit commented on #8061
Up voting this issue

[2019-03-29 18:40] pzwang commented on #8793
Looks like the issue might be that `_calc_dim()` in `box_annotation.ts` doesn't actually do clipping?

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/annotations/box_annotation.ts#L60

[2019-03-30 07:02] #6513 closed

[2019-03-30 07:02] #8197 closed

[2019-03-30 07:07] mattpap opened #8801 "Investigate ESM support in bokehjs' build"
Based on discussion in PR #8782.

The underlying problem is that flatbush uses an experimental module field in its package.json to define the ES module entry point, along with the standard main field. webpack and similar linkers seem to prefer module over main, despite its non-standard nature. I will need to do proper research on this subject to decide whether this is a good idea for us to support

[2019-03-30 19:48] #8680 closed

[2019-03-30 23:51] #8789 closed

[2019-03-31 08:07] mattpap commented on #8797
It also sometimes shrinks back to the correct size. The layout is correct in this case, but slider's CSS is implemented in a way that's incompatible with the layout's way of things, and is really hard to manage. Note that in the old layout, the slider also overflowed, just it did jump back and forth. Disabling slider's title/value should help to mitigate this in the short term. I think I will have

[2019-03-31 20:09] bryevdv commented on #8793
@zfei except for the fact that the drawing isn't clipped, I think that behavior is correct. If you pan the edge of the range tool box outside the plot bounds by some means, then it should not be accessible.

[2019-03-31 21:02] bryevdv commented on #8793
Oh, it's not clipping because the default render mode is `"css"`, that would be small pain to fix. I am tempted to change the default to `"canvas"` for the time being.

Making it pan-able if one side is out of bounds is a simple fix (change condition to be whether the number of final sides in bounds is GEQ initial sides in bounds)

[2019-03-31 21:29] bryevdv commented on #8793
I pushed a WIP PR that fixes all these issues (note: cropping fixed by switching to canvas render mode), but I will need to add tests later before it can be merged.

[2019-04-01 08:13] geekonloose opened #8807 "Support scale factor for PNG output"
# This is feature request:
I know that Bokeh has acquired png saving capability. However, As far I know, it does not have way to specify to save at exact resolution (in dpi) like matplotlib. This is crucial for scientific community where, most of publication houses asks for higher dpi resolution graphs.
I hope I have not offended 'issue' guidelines.

[2019-04-01 12:59] rysport commented on #8807
I'm all for your suggestion, but if you're going to publish your plots you are probably better off [exporting them vectorized (svg)](https://bokeh.pydata.org/en/latest/docs/user_guide/export.html), and adding any labels etc. in Inkscape or similar.

[2019-04-01 14:28] bryevdv commented on #8807
@geekonloose DPI is a function of the physical size the image is printed/displayed at. Bokeh has n0 ability to control or dictate that. You can already set the image resolution of exported imaged via the `width` and `height` parameters to `export_png`. It i s up to you to set the width and height appropriately, to obtain the DPI you want, given the physical size the image will ultimately have (whi

[2019-04-02 14:13] mike-el opened #8809 ""embed a Bokeh Server in the notebook" demo code does not run"
I tried running the python 3.0 bokeh code at
 examples/howto/server_embed/notebook_embed.ipynb    in my jupyter notebook in Chrome and it generates this error message:

AttributeError: 'function' object has no attribute 'references'

[2019-04-02 14:37] bryevdv commented on #8809
I just tested it locally and it runs fine. @mike-el The issue template requests a specific kinds of information for a reason: we cannot fix or comment reasonably on things we cannot reproduce. Closing this as `norepro` Will be happy to re-open if all the requested information is added.

[2019-04-02 14:37] #8809 closed

[2019-04-03 14:59] philippjfr opened #8810 "ES6 Map's polyfill isn't installed in phantomjs"
On current master (and 1.1.0rc1) exporting of plot layouts to png using the ``export_png`` function is broken. Here is a reproducible example:

[code]

This errors with the following error:

[code]

Presumably because the size of the image is zero, but that's just a guess.

[2019-04-03 15:13] bryevdv commented on #8810
@philippjfr if you have time to narrow this down some, even just between dev builds if not a full bisection, that would be helpful.

[2019-04-03 15:19] mattpap commented on #8810
There's also:
[code]
the produced image has non-zero size, but is empty, and after cropping its height is reduced to zero. The layout works fine and reports `idle` correctly when used in a standalone HTML file.

[2019-04-03 15:22] bryevdv commented on #8810
Related question: what is different about this MRE that is not covered by our existing tests (some of which AFAIK generate real PNGs)

[2019-04-03 15:28] mattpap commented on #8810
Most likely this is a compatibility issue with phantomjs (if true, we will need to IE as well).

[2019-04-03 15:32] mattpap commented on #8810
Yeah:
[code]
That's an easy fix. I will fix #8071 as well, because a proper error should have been reported.

[2019-04-04 05:19] #8071 closed

[2019-04-04 05:19] #8810 closed

[2019-04-04 14:01] #8793 closed

[2019-04-04 14:01] #8638 closed

[2019-04-04 14:01] #8471 closed

[2019-04-04 14:51] zfei commented on #8793
Wow, thank you so much guys!

[2019-04-04 19:34] Kunalkatdare opened #8814 "Instant reload"
#### Question
Hi, I would like to know if there is a faster way to test bokeh visualizations on the localhost. Right now I need to start and stop the server via terminal every time I make changes to my main.py file. Is there a way to instantly reload the app to view in the browser? (like React)

[2019-04-04 19:58] bryevdv commented on #8814
Hi @Kunalkatdare  as stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please consider [Stack Overflow](https://stackoverflow.com/) or the [public mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh). To increase the chan

[2019-04-04 19:58] #8814 closed

[2019-04-04 22:06] mcastanlaris commented on #8676
@russellburdt hi russell! What's the status with this feature? I can help out if you need some javascript help

[2019-04-05 03:42] bryevdv commented on #8643
If we are advocating for using grids to achieve this now, we should update this to look better with newest guidance.

[2019-04-05 04:06] bryevdv commented on #8643
@mattpap This diff gives what I would consider a good result:
[code]

Is there a better/cleaner way to express this? The main thing is that everything is stretch_both except the middle row (otherwise the sliders vertical space expands way too much).

[2019-04-05 04:08] bryevdv commented on #8643
Here is the nice result (which resizes well and smoothly):

<img width="1228" alt="Screen Shot 2019-04-04 at 9 07 19 PM" src="https://user-images.githubusercontent.com/1078448/55603079-b5f65a80-571d-11e9-8845-e28fbfed45dc.png">

I think it'd be nicer id the sliders matched up with the axes but can live withotu

[2019-04-05 04:28] russellburdt commented on #8676
@mcastanlaris Hi Maria.  Thank you for following up.  I have not yet started on any of Bryan's recommended steps.  My plan is still to contribute to bokeh, starting with this feature, and I will reach out to you with any javascript issues encountered.

[2019-04-05 04:57] #8679 closed

[2019-04-05 05:07] bryevdv commented on #8423
closing as `norepro` until an MRE is provided

[2019-04-05 05:07] #8423 closed

[2019-04-05 05:31] bryevdv commented on #8188
I think the template is mostly to blame. With this diff:
[code]
Things look good maximized on a super wide screen:

![Screen Shot 2019-04-04 at 10 28 18 PM](https://user-images.githubusercontent.com/1078448/55605383-1f2f9b00-5729-11e9-9e95-81e4b343e787.png)

Tho it's still possible to cut things off if you really make the aspect small:

![Screen Shot 2019-04-04 at 10 28 33 PM](https://user-images.

[2019-04-05 06:20] mattpap commented on #8643
That never worked. However, this can be implemented with the new layout, because because "axis alignment" can work with arbitrary lines.

[2019-04-05 06:22] mattpap commented on #8643
Just to note. This example can be made to work as expected, however there are at least two bugs that prevent the existing setup doing so. I'm working on a fix.

[2019-04-05 06:39] #8642 closed

[2019-04-05 16:12] chesucr commented on #4272
Triggering a callback when the page is loaded would be useful in many cases. Let me explain another use case where calling a function would be convenient as well.

When the user interacts with some controls and buttons and some rendering is made. If this process take a while because many computations are needed, then the whole interaction may be slowed down.

This can be improved if we show the da

[2019-04-06 07:08] #8643 closed

[2019-04-06 16:53] bryevdv commented on #8408
Meant to put this in 1.1.1

[2019-04-06 19:33] zbarry opened #8819 "Bokeh + HV - SystemError: tile cannot extend outside image"
Going to post this as a HoloViews issue too, but this is eerily similar to #8391, so I bet this is a Bokeh problem. In short, exporting a PNG of a HoloViews `+`-concatenated layout results in a Pillow tile error. Exporting a layout with only one HV plot, on the other hand, works. It's possible that #8085 ended up only solving a subset of the tile problem in Bokeh 1.1.

E: https://github.com/pyviz/

[2019-04-06 19:47] mattpap commented on #8819
I suspect this was solved in PR #8811 (this was merged after rc1).

[2019-04-06 19:56] zbarry commented on #8819
Yup. Just cloned master, and it worked. Should this be closed then, since it's only a matter of time before the conda package is updated?

[2019-04-06 20:03] mattpap commented on #8819
We will be releasing 1.1 this week.

[2019-04-06 20:03] #8819 closed

[2019-04-06 20:04] zbarry commented on #8819
Cool. Thanks for your help!

[2019-04-06 21:59] birdsarah commented on #8188
This is a big improvement. My only concern is the table cut off on the very last screenshot, where it doesn't look like there's a horizontal scroll available to see it. Still, happy enough.

[2019-04-07 18:05] johnrbnsn commented on #7607
I'd like to say, one of the main reasons I chose Bokeh was your linked plot support. Having large amounts of data on multiple plots, the interactive legend working between them would be a huge benefit for me.

[2019-04-08 00:13] #8596 closed

[2019-04-08 02:05] bryevdv commented on #8480
This just worked for me on Safari Version 12.1 (14607.1.40.1.4) Realistically, all we are going to be able to do is document the version that works and suggest people upgrade to that version or newer. Eventually the problem will decline on its own.

[2019-04-08 02:05] #8480 closed

[2019-04-08 02:09] bryevdv commented on #8480
worked, I should add, with 1.1rc3

[2019-04-08 02:52] bryevdv opened #8820 "Surface3d example fails to compile"
Output with 1.1rc3:

[code]
cc @mattpap

[2019-04-08 02:54] bryevdv commented on #8820
FYI all other app examples are working as expected (I am collecting a few tweaks on a docs branch for tomorrow night)

[2019-04-08 02:56] bryevdv commented on #8820
`font-awesome` example runs but does not show thumbs up icon

[2019-04-08 04:18] bryevdv opened #8821 "Make layout respect aspect ratio with scale_height sizing mode"
@mattpap

* All sizing modes seem to work well except possibly height scaling. Check `sizing_mode.py` to confirm. I'm fine with stating a limitation or known issue I just want your comment.

* I've had to set explicit widths on several widgets to prevent them from stretching across the entire screen (see the forthcoming docs PR for the commits) Maybe this is fine/expected but perhaps we are missin

[2019-04-08 05:05] bryevdv commented on #8821
I should add I have not yet updated the widget width baselines yet

[2019-04-08 13:13] mattpap commented on #8821
The first is a bug. I will fix this today. The other is explained [here](https://github.com/bokeh/bokeh/pull/8822#discussion_r272940106).

[2019-04-08 13:15] mattpap commented on #8821
I wonder if #8645 was fixed. If not, I will update baselines when you're done updating examples.

[2019-04-08 14:56] bryevdv commented on #8821
It is not AFAIK, I took the new values from the CI diffs after minimally inspecting them.

[2019-04-08 15:03] #8820 closed

[2019-04-08 15:20] pushkartalwalkar commented on #3000
Hi, Is this issue under work??

[2019-04-08 15:22] bryevdv commented on #3000
Not presently. If there were any news, it would be here. There is more work to do than people currently. if you would like to help, we are always happy to mentor/offer guidance to new contributors.

[2019-04-08 15:31] pushkartalwalkar commented on #3000
Hi, surely i can contribute , please do guide me..

[2019-04-08 15:50] bryevdv commented on #3000
@pushkartalwalkar Brilliiant, implementing this will require working on BokehJS, so the first good step is t work thought the Dev Guide's getting started page, to make sure you can build Bokeh from source from your own fork: https://bokeh.pydata.org/en/latest/docs/dev_guide.html

We are prepping for a big release today but I can answer any questions you might have while getting set up in a few day

[2019-04-08 23:40] #8821 closed

[2019-04-09 08:36] djbarker opened #8827 "Incorrect axis labels for negative timedeltas."
#### Software versions

Python == 3.6.4
Bokeh == 1.03
Jupyter == 4.4.0
Numpy == 1.14.3
OS == Fedora 28
Browser == Chrome 72

#### Description

Timedeltas sees to mostly work with `x_axis_type="datetime"` but they are incorrectly rendered if negative. They are off by a factor of 10 and the lowest is incorrectly rendered as 0.

#### Example Code

[code]

#### Screenshot

![bokeh_plot](https://user-i

[2019-04-09 16:09] Astrum42 commented on #7132
I tried to use `layout()` with BokehJS v1.1.0 but I get error message `plot_view.layout is not a function` in my web browser javascript console. Same thing when trying with `resize()`.
Were these methods deprecated after v0.13.x?

[2019-04-09 16:16] bryevdv commented on #7132
@Astrum42 The JS API is not yet stable, nor have we claimed that it is. Only the Python API is currently stable, and we have stated this explicitly on different occasions. We hope to have a more completely stable JS API around the Bokeh 2.0 timeframe later this year. There have been many, many JS changes since 0.13, and in particular version 1.1 completely, 100% replaced the entire previous layout

[2019-04-09 17:06] Astrum42 commented on #7132
Thanks for the reminder, I have not closely followed the indeed amazing Bokeh development in 2018 but now I am back at it.
@mattpap Any guidance on how I can find the equivalent of `resize()` in 1.1.+ would be greatly appreciated. And concerning the simpler operations with JS API, are the general guidelines from [https://bokeh.pydata.org/en/1.1.0/docs/user_guide/bokehjs.html#userguide-bokehjs](url

[2019-04-09 18:23] mattpap commented on #7132
`resize_layout()` should do the job. High-level layout management APIs are defined here:

https://github.com/bokeh/bokeh/blob/4f666e270b3a71c4c6a0943a6df20cd18a69557b/bokehjs/src/lib/models/layouts/layout_dom.ts#L172-L199

Those APIs are actually fairly stable, especially after transition to TypeScript, just usually lagging behind Python APIs.

[2019-04-09 20:52] danielrmeyer opened #8828 "[BUG] AutocompleteInput widget value attribute does not reflect selection"
bokeh --version
1.1.0

python --version
Python 3.6.6

Expected:  Upon selecting a value in the autocomplete box the value attribute should reflect what has been selected.
Actual:  Incorrect value is displayed.  Displayed value corresponds with what was typed into the box and not what has been selected and actually showing in the box.

Possibly related to: Issue #2259
Repro steps:

Run the followin

[2019-04-09 23:48] bryevdv commented on #8827
So the values are making it to BokehJS as expected. I.e. turning off the datetime axis yields:

<img width="613" alt="Screen Shot 2019-04-09 at 4 38 13 PM" src="https://user-images.githubusercontent.com/1078448/55841926-28808500-5ae6-11e9-98d5-7016cade77d8.png">

So this is either an error with the datetime axis, or a usage issue. After a little thought I am inclined to think it is perhaps the lat

[2019-04-09 23:48] #8827 closed

[2019-04-09 23:54] bryevdv commented on #8827
One thing we could consider doing is to add a convenience `TimedeltaTickFormatter`. That could make labeling timedeltas a bit easier (wouldn't have to look up and configure the printf formatter) and also could be more flexible across different scales of timedeltas i.e. it could start labeling big deltas with units like "months" or "years" (but not as *specific* months or years like a datetime)

[2019-04-10 09:50] Astrum42 commented on #7132
great, thanks for that! So I tried this:
`var plot_view = Bokeh.Plotting.show(plot,document.getElementById("myPlot"));
$('#myMenu').resizable({
  handles:'e',
  resize: function(event,ui){ plot_view.resize_layout(); }
});`
but I am still getting `plot_view.resize_layout is not a function` error message. Does that `resize_layout` method belong to another object than `plot_view`?

[2019-04-10 13:05] mattpap commented on #7132
`show()` currently returns a promise, so you have to use either `var plot_view = await show(...)` or `show(...).then(function(plot_view) { ... })`, depending on the version of ES you use and/or target. If you don't want to deal with promises, then you can use `embed` APIs directly (`show()` is just a thin wrapper around those).

[2019-04-10 14:59] Astrum42 commented on #7132
Today is the day I learned about `Promise` in Javascript. Thanks for that, it's working, very promising!
[code]

[2019-04-10 16:38] h5rdly opened #8830 "[FEATURE] Tree widget"
I would like to request adding a tree widget to bokeh.

I'm trying to build a dashboard / SQL editor tool with bokeh.
A key ingredient in a editor is the side menu with expandable databases, table names etc.

Currently I tried to use flexx (has a TreeWidget), to which I can import my bokeh figures via BokehWidget. However, flexx lacks a TextAreaWidget and a DataTable.

Would you consider adding a

[2019-04-10 17:12] bryevdv commented on #8830
The main issue with a tree widget is that most everything in Bokeh is driven by columnar data sources, but that's not really the kind of data that describes a tree. So it might be the case that we need a new low level data structure to serialize across the Python/JS boundary. Or maybe there is a not-too-fancy way to shoehorn something into existing data sources.

* What does usage look like (i.e.

[2019-04-11 00:14] matheusrmorgado commented on #7607
It would be very interesting if this resource exists. It would also help me a lot.

[2019-04-11 17:31] schaunwheeler opened #8831 "[BUG] MultiPolygons doesn't work with GMapPlot"
The MultiPolygons glyph doesn't seem to work in combination with GMapPlots. The code below shows the problem, as well as shows that the problem doesn't exist when I used Patches instead of GMapPlot or when I use MultiPolygons in a regular Plot.

When I run the code in Jupyter, I get no error in the notebook itself - the plot simply fails to show. I do get the following code in the web console:

<i

[2019-04-12 03:20] xant-tv opened #8833 "[BUG] Unresponsive tools in Chrome (Windows)"
#### Software version info
Bokeh - 1.1.0 (also tested on 1.0.4)
Python - 2.7.13
Chrome - 73.0.3683.86 (Windows 10)

#### Description of expected behavior and the observed behavior
Adding hovertool to plot with certain glyphs (e.g. quad, segment) causes figure toolbar to become completely unresponsive. Console doesn't show anything amiss. Can provide screencast if needed.

Have tested on multiple c

[2019-04-12 14:03] philippjfr opened #8834 "Update Layout Documentation"
Both `'stretch_height'` and `'stretch_both'` sizing_modes don't actually fill the whole screen whatever I do in the released bokeh 1.1.0 whatever I do. This worked for most of the release candidates so I'll try to track down at what point the regression occurred.

bokeh 1.1.0
Python 3.6
OS: OSX 10.13.4
Browser: Chrome 73.0.3683.103

[code]

![Screen Shot 2019-04-12 at 3 00 30 PM](https://user-imag

[2019-04-12 14:07] philippjfr commented on #8834
I just realized it does work if the container (in this case the Row) also has a height stretching sizing mode enabled. This wasn't required previously but now I'm not sure whether to consider this a bug.

[2019-04-12 14:16] bryevdv commented on #8834
I guess it depends, I would imagine most usage more along the lines of
[code]

[2019-04-12 14:16] bryevdv commented on #8834
If you put mixed modes inside a `Row`, what should it do if you don't tell it what to do?

[2019-04-12 14:22] philippjfr commented on #8834
I'd expect it to respect both as far as that makes sense, that was my impression of the behavior throughout most of the 1.1.0 development cycle anyway, e.g. there was no issue mixing a fixed size and a stretching plot in a row and the container would expand to respect the stretching mode of the subplot. Basically things would expand as far as could they as long nothing explicitly bounded them, but

[2019-04-12 14:46] philippjfr commented on #8834
I'm going to close, the old behavior can be restored with `Row.height_policy='max'`

[2019-04-12 15:19] bryevdv commented on #8834
We clearly need to update the docs on layout (which have always been fairly thin) so I will use this issue to track that.

[2019-04-12 15:21] jbednar commented on #8834
Philipp's description of how it should work makes good sense to me; is there some counter argument?  I'd favor restoring the defaults to respecting the declared policy for everything in the row or column, not just documenting that it does this strange thing of ignoring the declared policies.

[2019-04-12 20:46] mattpap commented on #8834
`Row()` and `row()` behavior is different when it comes to applying sizing mode to its children. This is an unfortunate difference that was inherited from the old layout. I will be happy to unify this in 2.0. This aside, layout should allow for both inside out and outside in expansion, so this is clearly a bug in the layout.

[2019-04-13 02:04] #8828 closed

[2019-04-13 02:08] #5918 closed

[2019-04-13 02:17] #8433 closed

[2019-04-13 02:20] bryevdv commented on #8833
I can't repro any issue on OSX chrome so will have to fire up a VM later to try there.

[2019-04-13 02:41] bryevdv commented on #8831
Fairly certain the projection code path, which only happens for maps, is mucking up the expected data differently than the MultiPolygon view index method expects.

[2019-04-13 04:19] bryevdv commented on #4665
Recently added even more, will close this now

[2019-04-13 04:19] #4665 closed

[2019-04-13 04:31] bryevdv commented on #3412
There has not been any wider interest expressed for this in 4 years so closing now

[2019-04-13 07:44] bryevdv commented on #2259
This was fixed in #8829

[2019-04-13 07:44] #2259 closed

[2019-04-13 07:48] bryevdv commented on #3823
Without more information I think this is a dupe of #1512

[2019-04-13 07:48] #3823 closed

[2019-04-13 07:50] bryevdv commented on #3724
Neither of these functions gets much use at all (and less even than they used to) and there has not been any wider interest expressed. Closing this with no action.

[2019-04-13 07:50] #3724 closed

[2019-04-13 08:03] bryevdv commented on #5434
GIven that this is not supported in all browsers and there has not been wider interest expressed, I will close this with no action.

[2019-04-13 08:03] #5434 closed

[2019-04-13 08:06] bryevdv commented on #5397
There is a high chance this was resolved in the complete layout refactor for 1.1 which closed dozens of layout issues. Also the original code is not really comparable anymore since APIs have changed since two years ago. So, I will close out this issue now. Please open a new issue with an MRE for any problems with 1.1+

[2019-04-13 08:06] #5397 closed

[2019-04-13 08:07] bryevdv commented on #5943
This doesn't actually seem to be affecting anything.

[2019-04-13 08:07] #5943 closed

[2019-04-13 08:10] bryevdv commented on #6356
Noting this is still an issue as of 1.1.1dev1

[2019-04-13 08:13] bryevdv commented on #6436
closing this discussion since there was no participation, consideration can continue in #6031

[2019-04-13 08:13] #6436 closed

[2019-04-13 08:16] bryevdv commented on #6668
Going to close this with `noaction`. I'd like to re-do the gallery format in a significant way that will obviate this issue, but that will be tracked elsewhere

[2019-04-13 08:16] #6668 closed

[2019-04-13 08:20] bryevdv commented on #6639
Noting this is still an issue on  `1.1.1dev1` and also noting as a reminder that panning the empty plot is required to expose the issue.

[2019-04-13 08:23] bryevdv commented on #6516
OK the original issue was resolved (I just checked again with 1.1.1dev1) but we should add an integration test now that is is easier to do

[2019-04-13 08:28] bryevdv commented on #6917
@mattpap do you have any current thoughts as of recent work?

[2019-04-13 08:31] bryevdv commented on #6855
This was fixed at some point (tested with 1.1.1dev1)

[2019-04-13 08:31] #6855 closed

[2019-04-13 08:37] bryevdv commented on #8103
AFAICT this was fixed in #8806

[2019-04-13 08:37] #8103 closed

[2019-04-13 08:40] bryevdv commented on #7847
I plan to remove this in 2.0 unless there is someone else who wants to pick ip maintenance of this tool

[2019-04-13 08:40] #7847 closed

[2019-04-13 08:42] bryevdv commented on #8209
Further update: we have submitted a NumFocus small project grant proposal to fund paying RTD to implement a migration. failing that, there are some other funds we can allocate. Best hope for completion is mid 2019

[2019-04-13 12:24] seven-jerry opened #8835 "[BUG] RuntimeError on adding callbacks after rendering"
hi,
I have observed following behaviour :

#### Versions
bokeh 1.1.0
python 3.7
Mac OSX
browser safari

#### Description of expected behavior and the observed behavior
I have the use-case where I need to add a button with callback inside a callback of another button.
so initial rendering adds button1 with a callback. inside the callback of button 1 I add button2 to the document, which also has a c

[2019-04-13 12:26] xant-tv commented on #8833
Here are a few screencasts to demonstrate the issue. As far as I can tell, it appears as though different machines experience the issue to varying degrees - albeit only ever in Chrome.

**Chrome - Machine 1**
Note that when hovertool is on, multiple clicks are sometimes needed to activate/deactivate tools.
![chrome](https://user-images.githubusercontent.com/47627404/56079481-4e828e00-5e34-11e9-943

[2019-04-13 17:44] bryevdv commented on #8835
I think this and #8783 are the same issue. It's a simple fix to copy the set before iterating over it.

[2019-04-13 17:45] bryevdv commented on #8783
@noppelmax can you try on linux with 1.1?

[2019-04-13 18:07] ofirbit opened #8836 "[BUG] App is extremely slow - most CPU is wasted on 'paint' method"
#### Description of expected behavior and the observed behavior
Hi. I have some realtime bokeh charts in my web application. The page displays one chart with 4 panels. Each panel gets around 2-3 new points every 1 second (I think that's not much). Attached my profiling output. In general the website works too slow and you can feel the lags when you work with the app. Seems like Bokeh takes almost

[2019-04-13 18:33] bryevdv commented on #8783
Note that #8835 fixes the Runtime error message

[2019-04-13 18:34] bryevdv commented on #8836
@ofirimubit We 100% absolutely must have the exact code you were using (or *some* complete script to reproduce what you are seeing) to be able to investigate problems like this.

[2019-04-13 18:37] bryevdv commented on #8836
@ofirimubit I also just noticed this is reported with 0.12.15. The recent 1.1. release overhauled the entire layout system and very likely fixed whatever you are seeing. Please try again with Bokeh 1.1. and report back .

[2019-04-13 19:51] #8835 closed

[2019-04-13 20:13] bryevdv commented on #8783
OK I have been procrastinating getting a Linux VM set up so I finally did this morning. I cannot reproduce any issue on Ubuntu 18.10 Chrome or FF, or on OSX, with 1.1. As mentioned the error message was fixed up elsewhere. So I will close this now. Please feel free to re-open with more information and specifics to reproduce if there is still a repeatable problem

[2019-04-13 20:13] #8783 closed

[2019-04-14 01:37] bryevdv commented on #6927
Well unfortunately this would be slightly harder. *All* the tool does is emit the reset event. The plot listens for the event and calls its own `reset` method. So suppressing this with a configuration on the tool would require coupling them together in a bad way. To do this reasonably it will have to be a configuration of `Plot`, telling it to ignore `reset` events.

[2019-04-14 02:38] bryevdv commented on #6927
Turns out it is more reasonanble to make this a configuration of the plot:
[code]
so that is what #8838 does

[2019-04-14 03:07] bryevdv commented on #8792
So, I would like to expose `source.inspected` but this will not be a completely trivial task. Lots of threads intersect here: glyphs can share data sources, so that interaction has to be mediuated (probably just always a union policy), renderers can have subset views activated and those have to be handled as well.

Worth noting here that some glyph renderer code still uses "dict" selection style c

[2019-04-14 07:21] bryevdv commented on #4798
I'm not really sure what the state of things was ~3 years ago. Today, there is a large set of live tutorial notebooks linked from the top banner of the docs, and from the github page, as well as statically available and linked to on nbviewer. There is also an entire separate chapter in the User's guide on notebooks, as well as several notebooks in the examples. I'm going to go ahead and close this

[2019-04-14 07:21] #4798 closed

[2019-04-14 07:46] #5469 closed

[2019-04-14 07:46] #7238 closed

[2019-04-14 07:46] #8571 closed

[2019-04-14 17:25] bryevdv commented on #6931
@jsignell I think `start` and `end` need to be required. Using `start` as `value` when `value` is not specified seems OK

[2019-04-14 17:30] bryevdv commented on #6931
@mattpap offhand I think we should make `optional=True` the default to preserve current behavior. That would also allow us to proceed incrementally. At some point maybe we make it so the optional specification just has to be explicit for all properties (some future major release). Where do you imagine enforcing this requirement? Is it OK for values to be unset to start, as long as they are set som

[2019-04-14 18:25] bryevdv commented on #8496
Ugh. The totality of these codepaths was made by different people and there is pretty inconsistent handling of expectations of URL formats throughout. I'm tempted to just disable this warning for now, and save a thorough review of URL handling for later.

[2019-04-14 18:52] wochner opened #8841 "[FEATURE] Interactive Legend: Hover Policy"
When there are many lines glyphs in one plot, it is hard to discern them. We can already highlight the glyphs making use of the `click_policy` and `muted_glyph`. However clicking through a long list of legend entries is tidious and it would be much more elegant to hover over them.

When hovering over legend entries, the corresponding glyph should be highlighted. @birdsarah  has provided [an exampl

[2019-04-14 18:56] bryevdv commented on #8841
I would propose to add a property to legend that governs the interactive policy:

* `click` toggles hide/mute state based on explicit clicks on legend items (current behavior, would remain default)

* `hover` when the legend as a whole is hovered over, all items are automatically hidden/muted, except the one item that is hovered over

[2019-04-14 19:37] bryevdv commented on #8841
Click policy could potentially also be differentiated:

* `click_toggle` (current behaviour)

* `click select` similar to hover, mutes/hides everything except what was clicked

[2019-04-14 19:38] #8496 closed

[2019-04-14 19:59] wochner commented on #8841
An alternative to `click select` could be to give an option to

- grey out the legend (current behavior)

-  put the legend text in bold (new option)

The glyphs can already be modified to be highlighted or muted, by setting different `muted_glyph` properties. As example, we can set alpha = 0.5 and muted_alpha = 1.

[2019-04-14 20:59] bryevdv commented on #8841
@wochner sorry I don't quite understand the relation to my question, which is really a UX one. If we have a mode where clicking on one item in a legend automatically mutes all the others, how do we get back to a state with nothing muted? We can't do it by clicking on any individual item, that will just repeat the process with muting everything else. So then... double clicking? right clicking? clic

[2019-04-14 21:21] wochner commented on #8841
I think a new property `highlight` could be added to the existing click_policy properties `hide` and `mute`. Then same behaviour as with mute, just inverted. You click on one element, others get muted, you click on same element again, others come back.

[2019-04-14 21:46] bryevdv commented on #8841
I might be ok with that for single selections, where the meaning of a click can always be expressed uniformly as: "toggle the muted status of everything besides this item". But admitting multiple selections means having to compose and reason about inverse sets and that gets complicated quickly and I don't think the meaning of any individual click in that case can be expressed succinctly (which lea

[2019-04-15 05:00] JAK0723 opened #8842 "[BUG] Axis tick labels cut off when fixed_location is used"
#### Software version info
Bokeh - 1.1.0
Python - 3.7.0
Chrome - 73.0.3683.103 (Windows 10)

#### Description of expected behavior and the observed behavior
The tick labels on the edges of the plot should be fully visible, not cut off when fixed_location is used. Tick labels should have consistent behaviour, regardless of the axis position.
![chrome_2019-04-15_14-47-55](https://user-images.githubu

[2019-04-15 05:08] bryevdv commented on #8842
@JAK0723 As I suggested in gitter, for the non-fixed axis case, setting a `min_border_right` will allow you to make enough space:

<img width="867" alt="Screen Shot 2019-04-14 at 10 05 30 PM" src="https://user-images.githubusercontent.com/1078448/56108602-899ec300-5f01-11e9-9fce-e944fd92d24a.png">

The issue with the interior axis is that everything inside the plot frame gets clipped at the frame

[2019-04-15 06:09] wochner commented on #8841
I agree that the “toggle everything else” may become complex to implement and have side effects. Hence the suggestion to simply change the selected legend entry text to bold when ‘click_property = highlight’

[2019-04-15 11:27] EdTheEagle opened #8843 "bar_color Slider not updating"
bokeh=1.1.0
python=3.6.2
notebook=Jupyter Notebook
OS= Win 10
Browser=Chrome

In the new version of Bokeh 1.1.0, the bar color does not change anymore when updated, which was working in version 1.0.4. I've added an example below where you can see that the bar_color attribute is being updated but the color changes are not visible. Initiation with another color (change startColor) does work.

[code]

[2019-04-16 01:35] bryevdv commented on #8843
AFAICT there's never been event plumbing hooked up to respond to changes in `bar_color`, my best guess is that the color bar we being excessively re-rendered and so changing `bar_color` appeared to work by coincidence.

cc @mattpap

[2019-04-16 13:54] rmelotte commented on #8176
Firefox's webdriver does not currently support logs: https://github.com/SeleniumHQ/selenium/issues/2972
Do you think it would be acceptable to support Firefox's webdriver by disabling the logs when this driver is used ?
After that, exporting with Firefox is quite straightforward:
[code]
And the result looks ok:
![2019-04-16_15-22-41_centerRefDepth-walldistance](https://user-images.githubuserconten

[2019-04-16 15:41] bjarthur opened #8847 "RadioButtonGroup orientation vertical"
with v1.0 i was able to create vertically oriented RadioButtonGroups by constraining them to a certain width with `widgetbox(RadioButtonGroup(...), width=50)`.  no longer in v1.1.

the `orientation` field in RadioButtonGroup does not help, nor do it's `width` or `max_width` fields.

here is a screenshot with the default orientation of "horizontal":

<img width="823" alt="Screen Shot 2019-04-16 at

[2019-04-16 18:06] mattpap commented on #8847
This may have visually worked to some extent, but it wasn't intended to. Button groups were horizontal by design. `orientation` was added in 1.1 to all widgets, but more due to technical limitations than a feature (only sliders take advantage of it). However, vertical orientation can be implemented in button groups.

[2019-04-16 20:50] martindurant commented on #8830
Qt's [tree](https://doc.qt.io/qt-5/qtreewidget.html#details) is a very complete API that may be a good inspiration, and there are, of course, many JS implementations too ( https://www.jstree.com/ ). Obviously, bokeh would not be targeting embedded widgets, icons... but here is a minimal API I would imagine

Attributes
- data (elements which have multiple children and one parent; widget.root_item w