[2019-04-16 21:27] mattpap commented on #8830
We actually used to have a tree component based on jstree. I don't remember if it was a complete widget, if we had widgets at the time at all, it was a long while ago. I suppose it was mostly used to explore bokeh's object graph (with cycles cut). It was a cute tool, but it got removed at some point, because it was more trouble to maintain than it was worth.

Putting together an initial implementa

[2019-04-16 21:31] martindurant commented on #8830
Note that not only would this be a nice feature in the context of the Intake GUI, referenced above, but I imagine could be very useful for jupyter-lab as file-browser or code outline. Of course, they could do something in phosphor, maybe...

[2019-04-16 23:49] bryevdv commented on #8830
If we don't think we can maintain something and no one wants to step forward, we might consider a more modest goal of adding an example that minimally wraps some JS library as an example.

[2019-04-17 16:01] pushkartalwalkar commented on #3000
Hi Bryan,

I have installed the git and cloned out the bokeh source , how do i start
next?  I need to learn typscript language??

On Mon, Apr 8, 2019 at 9:20 PM Bryan Van de Ven <notifications@github.com>
wrote:

--
Regards
Pushkar

[2019-04-17 18:50] MarynaLongnickel commented on #3715
I was trying to run your code (in VSCode), but keep getting 'SyntaxError: EOF while scanning triple-quoted string literal' error :(

[2019-04-18 05:26] bryevdv opened #8848 "[FEATURE] Stacked Areas and Lines"
Strangely, I can't find a suitable issue for this. Anyway, I will submit a PR later this week to add support for this:

<img width="925" alt="Screen Shot 2019-04-17 at 10 21 36 PM" src="https://user-images.githubusercontent.com/1078448/56338595-80129680-615f-11e9-98b8-e97d0ca5bb47.png">

Implementation is basically done, needs docs and tests. Would not mind some feedback on a couple of questions:

[2019-04-18 05:30] bryevdv commented on #8848
For good measure here is how it will look horizontal or negative:

<img width="712" alt="Screen Shot 2019-04-17 at 10 29 33 PM" src="https://user-images.githubusercontent.com/1078448/56338798-69207400-6160-11e9-94c6-f5a6f33b930d.png">

<img width="698" alt="Screen Shot 2019-04-17 at 10 30 04 PM" src="https://user-images.githubusercontent.com/1078448/56338799-6b82ce00-6160-11e9-9d35-9fc4311a772d.pn

[2019-04-18 12:43] selvamaran commented on #7128
Bokeh server random_generator.py --allow-web-socket-origin = localhost:5006
use: 127.0.0.1.5000 or  127.0.0.1.5006 instead of  localhost:5006

[2019-04-18 15:16] #8843 closed

[2019-04-18 15:59] #6927 closed

[2019-04-18 16:03] bryevdv commented on #6927
@nleclercq this will be in 1.1.1dev2 later today

[2019-04-19 05:48] bryevdv commented on #8176
@rmelotte if you would like to submit a PR with that change we'd be happy to accept it

[2019-04-19 06:36] dhanesh123in opened #8849 "[BUG] Color mapping bug in crossfilter example"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come ask the [Bokeh mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh) or join the chat on [Gitter](https://gitter.im/bokeh/bokeh).

For defects or deficiencie

[2019-04-19 08:19] russellburdt commented on #8676
@mcastanlaris Hello and I think the `scripts/dep.py` module needs to be updated.  When [installing dependencies for conda packages](https://bokeh.pydata.org/en/latest/docs/dev_guide/setup.html#conda-packages) I could not get the Windows-powershell command to run: `conda install $(python scripts/deps.py build run).split() | where {$_}`

For example, from the top level of the source directory -
`$ p

[2019-04-19 09:05] ludehon opened #8851 "[BUG] components() does not return dict with wrap_plot_info=False"
As advertised in the reference at [components](https://bokeh.pydata.org/en/latest/docs/reference/embed.html#bokeh.embed.components), the function should return html script and a dictionary containing modelid, elementid, docid (with wrap_plot_info=False) but instead I get a bokeh.embed.util.RenderRoot object (which does not contains all the ids).
I hope i'm not misunderstanding the behavior, I am t

[2019-04-19 10:22] tony-bony opened #8852 "[BUG] Legend click_policy "mute" not working"
**ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)**

[code]

[code]

**Description of expected behavior and the observed behavior**
The glyphs should mute when legend is clicked

**Complete, minimal, self-contained example code that reproduces the issue**
[code]

[2019-04-19 10:32] rmelotte opened #8853 "[BUG] exports do not work with Firefox webdriver"
Firefox webdriver does not currently support logs: https://github.com/SeleniumHQ/selenium/issues/2972

It makes it impossible to export figures with Firefox as a webdriver.
Fixing this issue may allow to fix this one: https://github.com/bokeh/bokeh/issues/8176

[2019-04-19 14:55] bryevdv commented on #8851
@Loutchiano I believe the problem is in the docs, they were not updated when they should have been

[2019-04-19 15:17] bryevdv commented on #8852
@tony-bony users want different things to happen when muting, so bokeh does not impose any decisions of its own. It is up to you to specify e.g. a muted alpha value:
[code]

<img width="604" alt="Screen Shot 2019-04-19 at 8 15 24 AM" src="https://user-images.githubusercontent.com/1078448/56430532-7716e780-627b-11e9-9e8f-8f15c4991bb9.png">

This is demonstrated in the documentation:

https://bokeh.

[2019-04-19 15:17] #8852 closed

[2019-04-19 15:20] #8853 closed

[2019-04-19 15:31] #8849 closed

[2019-04-19 15:51] bryevdv commented on #8851
@mattpap can you comment on the changes here?

[2019-04-19 16:25] cpitclaudel opened #8855 "[FEATURE] Merged tickers"
**Is your feature request related to a problem? Please describe.**

I'm plotting a time series.  I'd like the x axis (dates) to display evenly spaced ticks (one per year, then one per month at closer zoom levels, etc.), *plus* fixed ticks, one under data point.  This would allow readers to know exactly which date each point corresponds to.

**Describe the solution you'd like**

`CompositeTicker` i

[2019-04-19 16:58] lunarspectrum opened #8856 "[BUG] Logging configuration when running bokeh server"
In Bokeh 1.1.0, when a bokeh application is run on a bokeh server, configuration of the root logger inside the user application via `logging.basicConfig` or `bokeh.utils.logconfig.basicConfig` is ignored. This is because `basicConfig` has already been called when the bokeh server is started and has already assigned a handler to the root logger. The `logging.basicConfig` function does nothing when

[2019-04-19 17:10] bryevdv commented on #8856
@lunarspectrum Python logging is frankly confusing to me, and not an area of expertise for me. Are there changes we could make that would be better for users wanting to change logging settings? Perhaps a flag could override the default automatic invocation of `basicConfig`? We would love to consider a PR from you for any improvements

[2019-04-19 20:48] lunarspectrum commented on #8856
I'll take a swing at it after the weekend. I agree, python logging is deeply confusing!

[2019-04-21 04:48] bryevdv commented on #8855
@cpitclaudel Are you expecting to be able to format the ticks from each ticker independently? Would you be willing to work on this, with some guidance?

[2019-04-21 05:03] bryevdv commented on #8851
@Loutchiano FYI the `RenderRoot` contains all the information necessary to embed the object. Bokeh itself does this:
[code]
(Here `obj` is ` `RenderRoot`)

The docid is an implementation detail inside the script; you should not need it for any reason.

[2019-04-21 19:44] #6516 closed

[2019-04-21 20:13] cpitclaudel commented on #8855
No, I think a single formatter would work for my use case (adding ticks).  If there's a chance it might get accepted, I could have a look.

[2019-04-21 23:15] bryevdv commented on #8855
Single formatting for merged ticks is much more tractable, I'd be happy to accept a PR for a merged ticker. I'd definitely appreciate if you did try to take a look first. It's in the project's interest to help more people become acquainted with Bokeh core development, so I'd definitely prefer to start by investing time trying to help new people work up their own PRs. To give some idea of the final

[2019-04-22 03:26] bryevdv commented on #6135
I should have a PR later this week:

<img width="841" alt="Screen Shot 2019-04-21 at 8 23 53 PM" src="https://user-images.githubusercontent.com/1078448/56481367-81033b00-6473-11e9-9d89-0c6a5c21bd80.png">

Hatching works by tiling a pattern so getting diagonal lines that look good crossing pattern boundaries is tricky. The above is the best i could accomplish after a few hours of experimenting. I w

[2019-04-22 03:32] bryevdv commented on #6135
I think there is a pretty clear path to  custom hatching to, if people want to write crazy patterns:
<img width="330" alt="Screen Shot 2019-04-21 at 8 30 45 PM" src="https://user-images.githubusercontent.com/1078448/56481538-76957100-6474-11e9-8f77-30de2ee0a995.png">
<img width="383" alt="Screen Shot 2019-04-21 at 8 30 51 PM" src="https://user-images.githubusercontent.com/1078448/56481540-77c69e00

[2019-04-22 04:38] bryevdv commented on #6135
@cogerk @jhdedrick @LightnerAndrew please check out the PR and leave any comments on spelling, default patterns, etc.

[2019-04-22 13:18] Loutchiano commented on #8851
@bryevdv The code I am updating is using components() to get the modelid of a Select object. The id is later used in a CustomJS code, containing `document.getElementById(modelid).value = smth`

The class [RenderRoot ](https://github.com/bokeh/bokeh/blob/master/bokeh/embed/util.py) provides elementid and id. Which one should I use for the JS code ?

[2019-04-22 14:21] bryevdv commented on #8851
`RednerRoot.id` is the model id

[2019-04-22 15:08] Loutchiano commented on #8851
Ok thank you very much !
By the way, the 0.12.14 code use components() to get the id and then add the Select to the doc with doc.add_root(). But it appears in the latest version of Bokeh this causes a crash

Does that mean the function already add the model to the doc ? How can I both get the id and add it to the document ?

[2019-04-22 15:13] bryevdv commented on #8851
@Loutchiano I can't really say anything without seeing actual code, but this is veering into general support territory so I'd ask that we take further discussion to the mailing list.

[2019-04-22 16:08] Loutchiano commented on #8851
The person coded something like that (short version) :
[code]
When I test this, components() is causing the problem above in the latest version of Bokeh. So I thought the function's behaviour changed a bit through updates...

Anyway thank you for the help, I will close this issue since it's only documentation related.

[2019-04-22 16:21] bryevdv commented on #8851
@Loutchiano let's leave it open as a reminder to update the documentation

[2019-04-23 00:30] smamyris opened #8862 "[BUG] fig.add_layout doesn't update the figure."
Environment:
Python 3.5
Bokeh 1.1.0
Tornado 6.0.2

Running a Bokeh server, in 1.0.3 the following code snippet adds a span and box annotation to fig whenever button is clicked. In 1.1.0 the on_click event still runs, but fig doesn't update.
I didn't see anything related in the release notes, so I assume this is not the intended behavior.
I would appreciate any feedback on whether this is reproduci

[2019-04-23 01:54] bryevdv commented on #8862
definitely a bug @smamyris thanks for the detailed report

[2019-04-23 02:37] birdsarah commented on #8848
I think that's reasonable. There are certainly workarounds if we decided not to. Excited to see this.

[2019-04-23 04:18] bryevdv commented on #8848
@birdsarah do you think it would be OK to ship a first cut of this w/o working hover support? Patch does not currently support hit testing, and I am not sure what it would take to get things working well

[2019-04-23 12:00] rmelotte opened #8863 "[FEATURE] Allow the webdriver timeout to be customized"
Currently, there is no way to customize the timeouts.
In some cases, this causes exports to fail when extending BokehJS models for example.

[2019-04-23 12:53] kasuteru opened #8865 "[BUG] Updating title text in bokeh server does not work"
I am not able to change the title text of a figure interactively. In the minimal working example below, the title stays "old title" even after clicking the button. In the non-interactive version, this works fine.

Bokeh version 1.1.0.
Running on Windows 10, Anaconda environment, `bokeh serve --show` opens Firefox browser.

[code]

The title text stays the same. No error / warning shown in the cons

[2019-04-23 15:00] bryevdv commented on #8865
You should change the text on an existing title:
[code]
The best practice and guidance in general for Bokeh is *always*: make the smallest change possible. In this specific case that means updating the text on the existing title, not replacing the `Title` object wholesale (which is a much more cumbersome operation). This principle is how things are demonstrated across the board in bokeh docs and e

[2019-04-23 16:02] smamyris commented on #8862
Thanks for looking into it.
As a workaround manipulating the renderers attribute directly triggers the update correctly.

[2019-04-23 16:33] #8863 closed

[2019-04-23 16:49] kasuteru commented on #8865
Thanks for the quick response. I initially tried to change the title itself, not realizing it is an object with a "text" attribute. I then got the idea to change the whole object from a stackoverflow thread, where this was the accepted (but not most upvoted) answer... Your solution works for me.

[2019-04-23 16:59] pmicheletty opened #8866 "Div widget overlapping after layout overhaul in 1.1.0"
After new layout overhaul in bokeh version 1.1.0 `Div` widgets are not responding in the layout as expected.

Before version 1.1.0 - the layout looked like this:
![image](https://user-images.githubusercontent.com/9287000/56600190-5faa6800-65b5-11e9-8d3e-204bc6063aa0.png)

Now the same layout looks like this:
![image](https://user-images.githubusercontent.com/9287000/56600258-836dae00-65b5-11e9-91e

[2019-04-23 17:12] bryevdv commented on #8866
@pmicheletty can you provide a complete example to run and test against and use to reproduce what you are seeing exactly?

[2019-04-23 18:23] bryevdv commented on #8865
@kasuteru if you have a link to the SO answer I can edit it

[2019-04-23 18:56] pmicheletty commented on #8866
@bryevdv sure. See the gist [here](https://gist.github.com/pmicheletty/eb4bd0a8a4dfbfb1ef50f202704a3cac)

I put in two examples with different sizing modes.

[2019-04-24 02:24] chunkily opened #8867 "Update Tile Provider example for "Mapping Geo Data" User Guide"
Currently the provided example generates a deprecation warning for importing the `CARTODBPOSITRON` tile provider from `bokeh.tile_providers`.

[2019-04-24 02:26] bryevdv commented on #8867
@chunkily There are various examples, please link to the specific one you found

[2019-04-24 02:29] chunkily commented on #8867
This [tile provider maps example](https://bokeh.pydata.org/en/latest/docs/user_guide/geo.html#tile-provider-maps) is the one I'm referring to.

[2019-04-24 04:13] #8867 closed

[2019-04-24 16:20] ga53vap opened #8869 "How to read an html file having a figure and show it my bokeh application"
I am facing the issue of not being able to read an html file containing a figure and show it in my bokeh application.
The Div markup provided works just fine if a the content of the html file is a text, but not something else.

For example, here I am creating a plot and saving it as an html and reading the html file back using Div:

from bokeh.plotting import figure, output_file
from bokeh.models.

[2019-04-24 16:36] bryevdv commented on #8869
First off, `output_file` does not `save` anything, it merely indicates where things should be saved. You need to call `save(p)` or `show(p)` to actually generate the HTML file. But beyond that, Bokeh aside, I'm  really not sure stuffing an entire other web page content with its own `head` etc. in a div like this would be expected to work, in general. This is certainly not how we intended Bokeh con

[2019-04-24 16:36] #8869 closed

[2019-04-24 16:39] bryevdv commented on #8869
I guess I would only add: If you insist on going this path, I think you would need to wrap the other page content in an `IFrame` in the div, but again, I explicitly don't recommend "embedding" this way.

[2019-04-24 17:01] jbednar commented on #8869
I agree this approach throws up all sorts of issues, but it's worth mentioning that many Panel users have recently been asking for similar functionality, for various reasons.  I  haven't yet fully convinced myself that they really *should* want that, or whether there is a better approach in each case, but they are definitely asking for it and expecting it to work.

Would you recommend using `compo

[2019-04-24 17:05] bryevdv commented on #8869
These days I would recommend `json_item` first

[2019-04-24 21:13] ga53vap commented on #8869
Thank you bryevdv.
What I am actually trying to do is, read an html file containing a matplotlib figure (converted to html using mpld3 library) and embed it in my Bokeh app.
I am doing this since that there's no function in Bokeh similar to pcolormesh function in matplotlib ( providing smooth transition and good resolution in 2D plots)

here is an example of what I am doing:
[code]

![image](https

[2019-04-24 21:43] jbednar commented on #8869
If that's the only reason to use MPL, that's not a very good reason! :-)  E.g. you can have smooth colormaps in Bokeh if you use a 256-color palette:

![image](https://user-images.githubusercontent.com/1695496/56695916-e5aad980-66af-11e9-8a59-407b2f5ca543.png)

Or you can use HoloViews to generate a Bokeh figure; HoloViews interpolates shorter colormaps in the same way as MPL:

![image](https://us

[2019-04-24 22:10] bryevdv commented on #8869
I don't understand the original issue then -- it's only about embedding Bokeh HTML output and has nothing at all about embedding images (or whatever) from MPL. That's a completely separate question, and putting `img` tags in bokeh divs is well demonstrated. In any case, I'd like to re-iterate that this seems to be a support question, so I'd ask again that it continue on the mailing list, not the i

[2019-04-24 22:20] jbednar commented on #8869
(a) the original issue never says that it was a *Bokeh* figure, though that was confusing!, and (b) the output from mpld3 is not an image, it's interactive HTML, so embedding an image doesn't address it.  In any case, sure, would be appropriate for the mailing list.

[2019-04-24 22:25] bryevdv commented on #8869
I think it does explicitly say that it means Bokeh content:

The following code creates a plot using Bokeh, attempts to save it as html (but forgot to call save) and then tries to load that html back

[2019-04-24 23:38] jbednar commented on #8869
Sure, but it says that's just an example.  Yes, misleading, but not inaccurate, and trying to express things in a way that is relevant to the repo the issue is filed on is generally a good thing...

[2019-04-25 07:01] wabu commented on #8848
Does hover work on the borders at least? Had the problem in holoviews and created an invisible lines overlay to get hover on these ...

[2019-04-25 10:49] rmelotte commented on #8176
For reference, the trick with `executable_path=os.path.join(get_chromedriver_path(), 'chromedriver')` doesn't work on Windows (because the binary is called "chromedriver.exe").
There is the function `chromedriver_binary.chromedriver_filename` that should point to the binary path with it's filename, but the binary doesn't seem to be there on Windows.

However, as mentioned [here](https://pypi.org/p

[2019-04-25 11:56] duynguyen2411 commented on #7852
Hello i'm using Bokeh to developpe a GUI. I want to use Ion.RangeSlider but i don't how i can install ? Thanks so much if you can help me.

[2019-04-25 13:23] MaralAfris opened #8870 "[BUG]"
Info:
Python 3.7.3
bokeh 1.0.4

Hi,

I run a bokeh server to plot data in different tabs and handle events from the main server app in order to update all plots when someone clicks on one of the plots.
So far I do it using Selection, which works fine but I would like to do it using Tap and/or DoubleTap.
The problem is that it seems Tap and DoubleTap do not generate events on the server. I can trig

[2019-04-25 14:42] bryevdv commented on #8848
Stacked area has no border of its own, as discussed above. But hover currently would work on a corresponding stacked line added alongside.

[2019-04-26 04:58] bryevdv commented on #8870
I just confirmed that things are working as expected both js and server side in `examples/howto/events_app.py`:

<img width="492" alt="Screen Shot 2019-04-25 at 9 53 08 PM" src="https://user-images.githubusercontent.com/1078448/56784305-a14d3580-67a4-11e9-9df1-7c3c9417afc6.png">

<img width="945" alt="Screen Shot 2019-04-25 at 9 53 19 PM" src="https://user-images.githubusercontent.com/1078448/5678

[2019-04-26 04:58] #8870 closed

[2019-04-26 05:04] bryevdv commented on #8870
I will add: I just noticed you are trying to use a box select tool with a line, which is not currently supported. Line only supports point and span hit testing util someone implements box hit testing (there are open questions about what should happen with highlighting that have never been answered)

[2019-04-26 05:08] bryevdv commented on #8870
I will also add: `curdoc().on_change` only has to do with changes  model properties. It has nothing to do with events like tap. There is no notion of document events right now. Only events associated with specific models. Basically everything in `events_app.py` is everything supported.

[2019-04-26 06:32] MaralAfris commented on #8870
I see, is there a way to get the document from the local events?

I am trying to update all plots in the document when an event arrives: when someone clicks on one of the plots, it creates a span at that position which is also placed in other plots.

I would avoid having to keep trace of each figure, so I used the document from server event in order to get plots from there so far.

Really impresse

[2019-04-26 06:34] bryevdv commented on #8870
I don't actually know what you mean by local events. This isn't terminology we have every used in the project.

[2019-04-26 06:35] MaralAfris commented on #8870
Oh, sorry.
I mean, when I go in the callback from the figure that I define with on_event, in the callback can I get the document I work on in some way in order to update the rest of the figures in it?

[2019-04-26 06:36] bryevdv commented on #8870
You should always be able to refer to `curdoc()` on the python side, even in callbacks

[2019-04-26 06:39] bryevdv commented on #7852
We have still not solidified anything around distribution of extensions. You will have to directly copy/use the code from the user guide example:

https://bokeh.pydata.org/en/latest/docs/user_guide/extensions_gallery/widget.html#userguide-extensions-examples-widget

[2019-04-26 06:48] bryevdv commented on #8176
That code seems to work on OSX once the chromedriver package is installed. @rmelotte if you have the bandwidth to make any small PRs around these issues, it would be super helpful. If we can make it much easier to use FF and Chrome drivers, and minimally document them, that would be a great start. I think before switching the default we do need to do a performance survey. At least when I tried thi

[2019-04-26 08:45] MaralAfris commented on #8870
Oh great. That solves my problem thanks :)

[2019-04-26 17:03] pmicheletty commented on #8866
Just an FYI, I tested this on our Linux server using Firefox and I'm not having this issue. Maybe it's specific to windows?

[2019-04-26 18:37] tarikaltuncu opened #8871 ".eps output format"
Hi there!

I believe many scientists use .eps output format when using matplotlib simply because it's both vectoral, smaller size, and Latex natively supports eps format.

Although Bokeh support svg output which could be converted to any format manually using an external tool, if possible, please think about adding support to export directly in .eps format.

This would help many people.

Best,

[2019-04-26 20:59] bryevdv commented on #8871
@tarikaltuncu This would pretty much be 100% contingent on locating a suitable existing tool that can do the conversion. Ideally, a Python library (available on all platforms) that could be leveraged directly by the Bokeh codebase internally. We could also consider running an external process if the only thing available is some command line tool, as long as the tool is available on all platforms.

[2019-04-28 03:10] birdsarah commented on #8848
I did not know that patch doesn't support hit testing....that has surprised me. I got it working in this PR https://github.com/bokeh/bokeh/pull/3399/files if there's anything you can crib from that.

I'm more taken aback by the fact that we don't have hit testing on patches, than I am concerned about having it in this case.

[2019-04-28 03:21] bryevdv commented on #8848
*Patches* has hit-testing, *Patch* does not, because it's one of the weirdo glyphs that isn't actually vectorized, so will need some special casing.

[2019-04-28 05:00] birdsarah commented on #8848
Cool. Thanks! I think it's fine to move ahead....and maybe open an issue for patch hover?

[2019-04-28 17:16] bryevdv commented on #8848
OK I will push and merge a quick PR for this later today, so I can include these areas in the hatching pr

[2019-04-28 18:15] birdsarah opened #8872 "Add hover support for Patch, HArea, and VArea"
Reminded by #8848 that we don't have hover support for `patch`.

We do have hover support for patches, but, as @bryevdv notes "Patch does not, because it's one of the weirdo glyphs that isn't actually vectorized, so will need some special casing."

[2019-04-28 18:21] russellburdt commented on #8676
@mcastanlaris @bryevdv Some progess has been made and I would really appreciate some javascript guidance at this point.  I created the new `Bool` property in the `TextInput` Python class, as you see below.  I also had to add the `Bool` object to the Bokeh imports in `inputs.py`.  I validated none of that broke bokeh by testing with my original [StackOverflow question](https://stackoverflow.com/que

[2019-04-29 01:00] #8848 closed

[2019-04-29 13:02] duynguyen2411 commented on #7852
Thanks for your answer. Did you create a multi-range slider for Bokeh? I don't know JavaScripts so it's so difficult with me.

[2019-04-29 15:08] philippjfr opened #8874 "Uploading actual releases to conda bokeh/label/dev"
This suggestion sounds weird at first but uploading the final releases to the bokeh dev channel on anaconda.org results in a much more consistent experience for anyone trying to use the bleeding edge version of bokeh, which is usually the intention behind specifying a dev channel.

As an example if you tried to  ``conda install -c bokeh/label/dev bokeh`` between the 9th of April and the 13th of Ap

[2019-04-29 15:55] #6135 closed

[2019-04-29 15:57] bryevdv commented on #8874
I'm fine with this if someone wants to submit a PR. Bonus points for going through old releases on anaconda.org and adding tags to them as well.

[2019-04-29 15:59] bryevdv opened #8875 "Hatching/Stacking follow on work"
* check on minor image diffs in box outlines

  https://ci.bokeh.org/travis/525789333/examples.html#examples/app/dash

* narrative/user guide docs

* user examples

* reference examples

[2019-04-30 00:17] bryevdv commented on #8872
Optimistically added to 1.1.1 but more likely to push back to 1.1.2

[2019-04-30 00:17] bryevdv commented on #8836
Closing for lack of response / no details with current releases

[2019-04-30 00:17] #8836 closed

[2019-04-30 00:26] bryevdv commented on #8874
OK I took care of the anaconda.org part. Now that the heavy lifting work of making two four clicks is out of the way, @philippjfr can you make the PR to update here

https://github.com/bokeh/bokeh/blob/dc8cf49e4e4302fd38537ad089ece81fbcca4737/scripts/build_upload.py#L359-L363

I'm not sure if there is way to add both channels to the second upload command? Maybe the safest thing to do is to just co

[2019-04-30 00:30] bryevdv commented on #8666
@bokeh/dev I would also like to make a statement to the effect that anything before Bokeh 0.11 is officially "obsoleted". Thoughts?

[2019-04-30 06:41] bryevdv commented on #8872
Well, will probably be later. It's not hard to add hit testing to Patch, VArea, and HArea, but it's not actually useful unless https://github.com/bokeh/bokeh/pull/7617 is also fixed.

[2019-04-30 06:51] bryevdv commented on #7397
Hopefully #7819 can be more easily avoided now that we aren't replacing selections/inspections wholesale. Though at this point the entire collective code around GlyphRenderers (selection, inspection, decimation, all the policies thereof) has become so inordinately complex that it probably ought to be re-written to split it up in to manageable chunks.

[2019-04-30 08:44] internshipdeco opened #8877 "Autocomplete widget value attribute does not reflect selected value , display entered value"
![issue](https://user-images.githubusercontent.com/36809439/56949863-aa962380-6b51-11e9-8101-a234ce29e85e.png)

my code is this , i don't know where i m getting wrong. it display whatever value i have entered. fail to  displaying values after selecting from options

def my_text_input_handler(attr, old, new):
    print("Previous label: " + old)
    print("Updated label: " + new)
text_input = Autoco

[2019-04-30 09:29] sebhan2 opened #8878 "Plot in Tooltip"
Hello,
I am trying  to create a hovertool box with a custom figure inside the tooltip box. The figure should show a line based on values that are saved in an object variable. Is there a way to accomplish this.
Thanks for your help!
Best regards

[2019-04-30 10:04] philippjfr commented on #8874
You can definitely add multiple labels, it's what we do for pyviz projects. Note however that ``-c`` is deprecated and has been replaced with ``--label``/``-l``. I'll make a PR in a second.

[2019-04-30 10:07] philippjfr commented on #8874
For reference [here](https://github.com/pyviz/pyctdev/blob/master/pyctdev/_conda.py#L537) is what we use for pyviz projects.

[2019-04-30 11:12] jogehl commented on #8878
I have an similar problem. I want to plot some things in the free space inside of a circle. Is there any way to do this?
Kind regards

[2019-04-30 13:38] yeayee opened #8880 "How to install Bokeh=1.1.0?"
I use Win10,and Python version is 3.6.
when I updated bokeh，but the Version was 0.12.7.
Thank you!

[2019-04-30 13:50] philippjfr commented on #8880
You'll have to provide some more detail, how did you try to install bokeh?

[2019-04-30 14:57] bryevdv commented on #8877
@internshipdeco The issue template asked for lots of specific information about versions. Please provide it or we will have to close this issue for lack of information needed to investigate.

[2019-04-30 14:59] #8874 closed

[2019-04-30 15:34] bryevdv commented on #8880
Actually I am going to close this as it is a support question. The most liely explamnation is you installed Bokeh into a different environment than you intended to.

*As stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please consider [Stack O

[2019-04-30 15:34] #8880 closed

[2019-04-30 15:40] bryevdv commented on #8878
There is nothing built in to Bokeh to put plots inside hover tooltips. It might be possible to accomplish something with a Custom HTML hover or even a customjs tooltip field. However, the issue tracker is not the appropriate place to iterate and experiment on something like that, so I I'll as that we move this discussion to the mailing list for now:

https://groups.google.com/a/continuum.io/forum/

[2019-04-30 15:40] #8878 closed

[2019-04-30 15:43] bryevdv commented on #8877
Actually, this sounds like the broken behavior before version 1.1 so I am just going to pro-actively close this since no version information was provided. If you can demonstrate an issue with version 1.1 and provide full details, we can re-open

[2019-04-30 15:43] #8877 closed

[2019-04-30 18:08] ispmarin opened #8881 "[FEATURE] Export to PNG without phantomjs"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come ask the [Bokeh mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh) or join the chat on [Gitter](https://gitter.im/bokeh/bokeh).

**Is your feature request

[2019-04-30 19:28] dtork opened #8882 "[BUG] ColumnDataSource with callback assigned triggers bug when selected.indices is changed by another callback"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages):
MacOS High Sierra, version 10.13.6
Python3
Bokeh Server version 1.1.0
Pandas 0.24.1
Google Chrome version 73.0.3683.103 (Official Build) (64-bit)

#### Description of expected behavior and the observed behavior
Added a callback to ColumnDataSource_parent (CDS_parent) so that when a row is selected i

[2019-04-30 21:02] mattpap commented on #8881
There is no way around having some sort of web browser around to render bokeh plots. bokeh, the Python library, is just a convenient API on top of a (JSON) visualization specification, which is rendered by bokehjs, which requires a web browser to run, either a full fledged one, a headless one (e.g. phantomjs) or a Frankenstein node.js environment trying to emulate a web browser. phantomjs can be i

[2019-04-30 21:03] #8881 closed

[2019-04-30 22:04] jogehl commented on #8878
You can use SVG line plots to plot a line or other shapes in the tooltip. If you don't use any JavaScript it can be easily inserted in the HoverTool from boke

[2019-05-01 14:24] rtadewald opened #8883 "TextInput value attribute not updating in JupyterLab"
My issue is pretty simple. The TextInput widget is not responsive to updates.

![Screenshot from 2019-05-01 11-25-42](https://user-images.githubusercontent.com/22618324/57021971-1df86d80-6c04-11e9-9e1d-25d2709fcdf4.png)

[2019-05-01 15:10] bryevdv commented on #8883
@rtadewald It's not expected to. Bi-drectional updates require the bokeh server (that is what maintains the websocket connection between the browser front end an the python process). It is possible to embed bokeh server apps in notebooks. please see the documentation and examples e.g

https://github.com/bokeh/bokeh/blob/1.1.0/examples/howto/server_embed/notebook_embed.ipynb

[2019-05-01 15:10] #8883 closed

[2019-05-01 16:31] rtadewald commented on #8883
Got it! It worked now.

Thank you so much.

[2019-05-01 16:39] bryevdv opened #8884 "Add a preflight session check to Bokeh server?"
Should we support a new endpoint on the Bokeh server that simply returns whether a potential connection would be immediately blocked or not? I had the idea looking at

https://docs.microsoft.com/en-us/rest/api/storageservices/preflight-blob-request

The idea is that e.g. a Flask app embedding a Bokeh app could first issue a preflight, and if it comes back negative (e.g. because allowed websocket h

[2019-05-01 20:45] bryevdv commented on #8882
Hi. the `IndexError` is to a logic error in you program. Your button click callback does this:
[code]

This (appropriately) triggers your `callback_source_parent` callback, which immediately tried to access a non-existent list element:
[code]

In the future, if it is not 100% certain that an issue is in your code, or with Bokeh itself, please start on the mailing list first:

https://groups.google

[2019-05-01 20:45] #8882 closed

[2019-05-01 20:48] davegravy commented on #8801
I ran into this issue.

FWIW I use create-react-app and my (limited) understanding is that modifying webpack config isn't possible without 'ejecting' the project (which I want to avoid for now). If there's another solution I'm all ears.

[2019-05-01 21:02] dtork commented on #8882
@bryevdv Thanks for the quick response. Next time I'll post in the mailing list first :-)

[2019-05-01 21:07] dtork commented on #8882
The thing I didn't realize was that calling `def callback_button_parent` to execute the line `source_parent.selected.indices = []` triggered `def callback_source_parent` where `new=[]`

[2019-05-01 21:09] bryevdv commented on #8882
Just to clarify why that happens, it is because you set up this here:
[code]

`source_parent.selected.indices = []` is a change to `source_parent.selected.indices` so the above calls the callback you indicated

[2019-05-01 21:16] bryevdv commented on #8881
Just to expand on @mattpap's excellent answer about the current state of affairs. I will mention that from time to time, and especially very early on ~5 years ago, the idea of a non-browser backend was bandied about. E.g. a library that could ingest BokehJSON and render using Cairo or Age or whatever. However:

* that would be a huge effort to accomplish
* the result would never be able to be guar

[2019-05-02 05:27] internshipdeco commented on #8877
@bryevdv, thanks for replying ,i m using PyCharm with following specification,
bokeh info :
Python version      :  3.6.7 (v3.6.7:6ec5cf24b7, Oct 20 2018, 12:45:02) [MSC v.1900 32 bit (Intel)]
IPython version     :  (not installed)
Tornado version     :  6.0.2
Bokeh version       :  1.1.0
BokehJS static path :  C:\Users\shrikrishna_y\PycharmProjects\CaptialChart\venv\lib\site-packages\bokeh\server\

[2019-05-02 07:39] andreacassioli opened #8885 "[FEATURE] Full support to plot networkx directed graphs"
**Is your feature request related to a problem? Please describe.**
It appears bokeh does not plot arrows for networkx direct graphs.

**Describe the solution you'd like**
When a networkx `DiGraph` is passed to bokeh, arcs should have terminal arrows to show their direction.

**Describe alternatives you've considered**
No viable options in bokeh afaik.

[2019-05-02 12:06] Karel-van-de-Plassche commented on #7852
I have to add that unfortunately my slider implementation based on this example broke from `bokeh==1.0.5 `-> `bokeh==1.1.0`

[2019-05-02 15:14] bryevdv commented on #7852
I'm afraid I don't recall the discussion, do you have a link to it? In any case, I haven't done any work on this at all, @mattpap can comment on all the things that happened in 1.1

[2019-05-02 17:58] internshipdeco opened #8886 "Autocomplete widget value attribute does not reflect selected value , display entered value"
Already have some discussion in #8877

bokeh info :
Python version : 3.6.7 (v3.6.7:6ec5cf24b7, Oct 20 2018, 12:45:02) [MSC v.1900 32 bit (Intel)]
IPython version : (not installed)
Tornado version : 6.0.2
Bokeh version : 1.1.0
BokehJS static path : C:\Users\shrikrishna_y\PycharmProjects\CaptialChart\venv\lib\site-packages\bokeh\server\static
node.js version : (not installed)
npm version : (not inst

[2019-05-03 01:12] canavandl opened #8888 "[DOC] Extend dev docs related to running the examples tests"
While onboarding as a contributor, I ran into various issues when attempting to run the examples tests. Specifically:
* It wasn't explicit that I need to have Chrome installed locally
* I need to have chromedriver installed as well
* I need to start Chrome w/ a debugging port from the command line
* I need to build the bokehjs examples
* To update an example's baseline, I need to commit the change

[2019-05-03 08:25] ghalter opened #8889 "[BUG] ImageURL selection_glyph raises "TypeError: this.retries is undefined""
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Windows 10
python 3.6
bokeh 1.1.0
firefox 66.0.3 (64-Bit)

#### Description of expected behavior and the observed behavior

Essentially I'm trying to hide all ImageURL glyphs, which are not selected.
To do so, I'm using the the _global_alpha_ attribute of the ImageURL glyph,
however, as soon as somet

[2019-05-03 10:23] pushkartalwalkar commented on #3000
I went and read basics of typescript and now trying to understand the arch of bokejs , so if anyone has ideas on implementing this, i can try out.

[2019-05-03 11:32] kodsama opened #8890 "[BUG] Updating span in figure does not upadte display"
Info:
Python 3.7.3
bokeh 1.1.0

Hi,

I have a callback to update (or create) a Span in multiple figures (in tabs) in curdoc(). It seems the update propagates correctly to each figure but nothing shows in the plots.
I suspect this to be a bug, it might be related to 8862.

In the example, one should be able to tap anywhere on a plot and a vertical Span should be displayed at the closest int positio

[2019-05-03 14:03] poplarShift opened #8891 "Glyph angle not respected in legend"
Glyphs' `angle` is not respected in legend. This is on bokeh 1.1.0.

Same as #4694, which was supposedly fixed by #5689, so I assume there's been a regression since then?

![image](https://user-images.githubusercontent.com/38992106/57142368-545ff500-6d8a-11e9-8099-ee6065a4c48a.png)

[code]

[2019-05-03 21:23] bryevdv commented on #8891
This was explicitly removed before 1.0 in #8080, to fix a more serious bug #8077

[2019-05-03 21:36] bryevdv commented on #8890
This is somehow related to adding the Span later. As a workaround for now, you can add a Span up front with `line_alpha=0` then make sure to set `line_alpha=1` as well, when you set the position

[2019-05-03 21:48] bryevdv commented on #8889
A quick fix for this is to add a check on `this.model.global_alpha` here

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/glyphs/image_url.ts#L146

That immediately bails and returns if it is zero. But that is *only* a fix for the alpha=0 case. Fixing this more generally will take more effort due to the unavoidable async loading of images.

@ghalter would you like to submit a sma

[2019-05-03 21:53] bryevdv commented on #8886
This is a duplicate of  #8828 which was closed in #8829 and will be part of the 1.1.1 release

[2019-05-03 21:53] #8886 closed

[2019-05-03 23:26] yrevar commented on #3737
I was seeing similar output as posted by @jakubLangr. It seems to be related to Google Maps API keys. I have often noticed that when I use wrong key (accidently) Google Maps rejects the request and gets annoyed for several minutes or hours and doesn't show map images even with the right key. Maybe such information is cached somewhere because when I switched the browser it starts working.

[2019-05-04 05:32] bryevdv commented on #3737
If so that's an issue with google or the browser we have no control over. We simply pass the key to the api exactly as you provide it. The solution is not to use the wrong key.

[2019-05-04 09:45] MaralAfris commented on #8890
Seems to do the job :) Thanks for the workaround !

[2019-05-04 14:20] ghalter commented on #8889
@bryevdv First of all thanks a lot for the very good documentation on how to setup the dev-environment, it worked like a breeze even on windows!

Sure I can do such a pull request, however, I just tested your proposed fix and it doesn't seem to work,
because the same error occures in the selected glyph (beeing the only one without a `this.model.global_alpha` == 0).

Is the following test even nece

[2019-05-04 16:51] bryevdv commented on #8889
@ghalter thanks for diving in to things! I am glad to hear the dev docs are in a  good state now

return false anyway if the image has not be retrieved. Or have I missed something?

That test is to limit the number of retries to `retry_attempts` otherwise if the image is not available it will keep trying forever. So, how about trying this then: move this assignment of `this.retries` here:

https:/

[2019-05-04 16:55] bryevdv commented on #8889
Him, actually that probably won't work, for a few reasons... I'll have to think on it some this week, or if you find a solution that maintains `retry_attempts` let me know!

[2019-05-04 17:30] bryevdv commented on #8891
@poplarShift To ay a bit more, I don't have any objection to restoring this functionality, it just needs to make sure to avoid the bug above

[2019-05-04 17:32] bryevdv commented on #8889
@ghalter sorry, actually I think your suggestion might be fine after all, since the check to prevent loads is elsewhere. Please submit a PR when you can!

[2019-05-04 17:37] ghalter commented on #8889
@bryevdv No Problem, I will do so soon!

[2019-05-04 23:38] #8889 closed

[2019-05-05 03:13] jxramos commented on #8478
@anthonydouc  I'm interested in the context of the blurriness. Is it something you're finding directly in the browser? Are these images you present generated by the save button floppy disk icon on the bokeh toolbar? Are these screenshots?
When I download the images as served by gitHub here I actually find different resolutions, the Mac version being twice as large...

[code]

[2019-05-05 03:15] bryevdv commented on #8478
That's a function of the retina display and the corresponding different device pixel ratio on the mac

[2019-05-05 09:17] solstag opened #8893 "provide selection_line_width and nonselection_line_width"
**Is your feature request related to a problem? Please describe.**
I would like to be able to set a line width for selections. In my case these are "rect", so if implemented this would allow a nice effect of a "frame" around the selection.

**Describe the solution you'd like**
I woud like for `selection_line_width` to be usable just like i.e. `selection_line_color`.
I would be willing to try to im

[2019-05-05 14:39] iPelle commented on #7070
So I have a similar problem to kkuntze1, but I would really need the first policy described by @clairetang6  to work.

Since I do need line-chart, and I would like to only have one datascource with all data, continously updating with datapoints from a streaming source. And display sub-plots for different filters. Using CDS-views. Right now I can only get this to work with scatter plots.

Is the pr

[2019-05-06 17:05] chrisrb10 commented on #8012
Hi - was the (potential) feature to have a log scale on RangeSlider ever implemented? I have a use case that needs exactly that.

[2019-05-06 17:08] #6769 closed

[2019-05-06 17:09] bryevdv commented on #8893
This is a duplicate of #2367

[2019-05-06 17:11] bryevdv commented on #8012
If any progress had been made it would have been recorded here.

[2019-05-06 20:59] chrisrb10 commented on #3804
Is it possible to add different callbacks to a taptool, so that a click action on different families of glyphs could result in different actions? How would I do this?

[2019-05-07 10:39] solstag commented on #8893
Ni! Thanks @bryevdv, I'm a bit confused as to why this is a duplicate. In that issue it is said that:

In what sense isn't line_width "visual", then? Cheers

[2019-05-07 13:09] poplarShift commented on #8891
I see, thanks. Reminds me that size isn't respected either.

[2019-05-07 15:00] bryevdv commented on #8893
@solstag I misunderstood what you were asking about. The relevant code path is here:

https://github.com/bokeh/bokeh/blob/c3a9d4d5ab5662ea34813fd72de50e1bdaae714d/bokeh/plotting/helpers.py#L839-L843

The `_pop_colors_and_alpha` could be renamed and generalized to `_pop_visuals` and inspect the passed-in glyph class to handle any visuals present on the glyph. A new `_pop_visuals` would still need t

[2019-05-07 15:07] bryevdv commented on #8891
Size is covered by https://github.com/bokeh/bokeh/issues/2603 (I've updated the title here to restrict the issue to angle) Happy to discuss size more on that issue, but it's a much more involved problem because it runs into, e.g. "what do you do when the glyph size is larger than the legend drawing area"

[2019-05-08 04:05] arabidopsis opened #8894 "[FEATURE] add a setter for Document.template_variables"
**Is your feature request related to a problem? Please describe.**

You are able to set a template on a bokeh document but you can't
set any template_variables. e.g.
[code]
This monkey patch works:

`curdoc()._template_variables =  {'important': 'stuff'}`

**Describe the solution you'd like**

add a setter to `Document.template_variables` to overwrite or merge new template
arguments... possibly ch

[2019-05-08 06:14] pecey commented on #6064
Is there a way to achieve the same in BokehJS?

[2019-05-08 10:19] philippjfr opened #8895 "[BUG] CustomJS callbacks added after initialization do not work"
Using latest bokeh any CustomJS callbacks added after an app is initialized do not seem to ever be called. In the example below for instance we add a button which when clicked should add a JS callback triggered when the selection changes (a contrived example I know). However a change in the selection does not trigger the ``console.log`` after the button has been clicked indicating that the JS call

[2019-05-08 11:33] philippjfr commented on #8895
Actually there seem to be two issues here, when I use `push_notebook` instead of a server app the ``js_property_callback`` on the JS frontend is updated but the new callbacks aren't registered. When I try to do the same in a server app it seems the js_property_callback isn't even updated on the frontend.

[2019-05-08 15:03] bryevdv commented on #6096
Noting the SO example to create a custom extension it far out of date:

https://stackoverflow.com/a/42613897/3406693

Should either add a file dialog directly or create an updated example (and update that SO answer accordingly either way)

[2019-05-08 16:07] bryevdv commented on #6096
It's not my birthday but I wouldn't turn down this present

[2019-05-09 02:01] anthonydouc commented on #8478
Sorry have not had time to look further into this.
Although the images attached are screenshots, they are observed directly in the browser.

But perhaps those issues are related? When you zoom in at 200% it seems to not be blurry.

[2019-05-09 08:12] nathan-vignal commented on #5071
the code given by bryevdv doesn't work, i get this js error "
`Uncaught TypeError: Cannot read property 'emit' of undefined
    at eval (eval at <anonymous> (bokeh-0.12.7.min.js:25), <anonymous>:4:13)
    at r.execute (bokeh-0.12.7.min.js:25)
    at e.<anonymous> (bokeh-0.12.7.min.js:22)
    at t.emit (bokeh-0.12.7.min.js:2)
    at e.t._setv (bokeh-0.12.7.min.js:1)
    at e.t.setv (bokeh-0.12.7.mi

[2019-05-09 09:18] FChmiel opened #8898 "Allow Select to accept non-string option values"
I think it would be useful to have the Select widget values to be any object: for example it maybe useful for the `select.value` to point to a function.

Consider this (hypothetical) instance of a Select widget:

    select = Select(title="Options:",
                    value=do_1,
                    options=[(do_1,"option_1"), (do_2,"option_2"), (do_3,"option_3"), (do_4,"option_4")])

where `do_

[2019-05-09 11:24] sirspoon opened #8899 "[BUG] Crosshair not aligning between two plots if toolbar disabled on one."
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Python Version: 3.6.5
bokeh Version: 1.1.0
Browsers: Edge, Chrome,

#### Description of expected behavior and the observed behavior
Crosshair does not align between the two plots on the horizontal axis. I believe it's not accounting for the fact that the tools are only shown for one of the plots. If

[2019-05-09 12:09] jbednar commented on #8898
The [Param](http://param.pyviz.org) library works like this, with the value of a Selector being an actual item (integer, function, etc.) and the [Panel](http://panel.pyviz.org) library being used to make a corresponding Bokeh widget.  See e.g. the `select_fn` parameter in the [Panel Param docs](https://panel.pyviz.org/user_guide/Param.html).  This doesn't change whether Bokeh itself could or shoul

[2019-05-09 12:31] FChmiel commented on #8898
Thanks for the suggestion, I'll have a read and see if this would be an appropriate solution.

[2019-05-09 14:03] bryevdv commented on #5071
@nathan-vignal it's the opposite, your version of Bokeh is way too old. This feature landed in 0.12.16 and your output shows 0.12.7

[2019-05-09 14:10] bryevdv commented on #8898
@FChmiel every Bokeh property is automatically synced between Python and JavaScript, which then implies that the only allowable values are things that *can be* synced. So we could definitely consider expanding the types from string to include numbers or even Bokeh models potentially. But bare Python functions have no JavaScript counterpart, so they will never be an option.

[2019-05-09 14:23] bryevdv commented on #8899
@sirspoon Sharing tools between plots is not supported, I am actually surprised that does not raise an error. In any case, linked crosshairs is still an open issue https://github.com/bokeh/bokeh/issues/3799 so I am closing this as a duplicate

[2019-05-09 14:28] bryevdv commented on #8898
@FChmiel can you provide the related issue you mentioned? If they are very similar we should consolidate to one issue.

[2019-05-09 14:35] bryevdv commented on #8894
@arabidopsis FWIW the intended usage is that you *update* the existing dict, not replace it, i.e.
[code]
or
[code]
That said, I can't offhand see the harm in adding a setter, either, as long as it did some minimal sanity checking. If you would like to submit a Pull Request to add a setter that:

* ensures the value is a dict
* ensures all the keys are strings
* adds a simple test

Then I would acc

[2019-05-09 14:42] sirspoon commented on #8899
.....ok... well. should I submit the rectangle issue separately then, I guess it's not related?

[2019-05-09 14:45] bryevdv commented on #8899
Definitely a separate issue

[2019-05-09 14:51] sirspoon opened #8900 "[BUG] Drawn Rectangles no moving with mouse correctly"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

Python Version: 3.6.5
bokeh Version: 1.1.0
Browsers: Edge, Chrome,

#### Description of expected behavior and the observed behavior

The rectangle tool when moving drawn rectangles over-exaggerates the movements of the mouse, it's like it's on ice. Rectangle expected to move as per mouse. Thanks.

#

[2019-05-09 15:04] philippjfr commented on #8900
Seems to be related to the fact that you are reusing the same ColumnDataSource in both plots which seems to be causing the offsets to be applied twice. I don't think tools should be reused across plots like this for this reason, I'd suggest creating two separate BoxEditTools:

[code]

[2019-05-09 15:04] #8900 closed

[2019-05-09 15:14] sirspoon commented on #8900
ok, thanks for explaining. My issue was that originally I only had one toolbar present so you wouldn't have to click on individual tools to draw on individual plots, one toolbar to rule them all.  I guess I'll stick without the rectangles for now until it's implemented (hopefully) at some point in the future.. Many thanks.

[2019-05-09 15:36] FChmiel commented on #8898
Ah of course. It would be nice for it to include numbers but understand it can't include a general python function.
Could you clarify what you mean by

Do you mean raise a bug report?

The issue I though was you can feed in` (value, label)` pairs as option, where value is an `int `and label is a `str`. You cannot however set a default value of the `value` argument to be an `int`.

I've tested this

[2019-05-09 17:52] mcastanlaris commented on #8676
@russellburdt any updates on this? How's the javascript work going and are you blocked on anything specific I can help with?

[2019-05-09 18:36] bdwiel opened #8901 "[BUG] Legend order backwards for stacked area plots"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Python 3.7.1
bokeh 1.0.2

#### Description of expected behavior and the observed behavior
Enabling the legend in a stacked area chart displays the items in the opposite order of how they are stacked. One would expect them to be in the same order.

#### Complete, minimal, self-contained example code t

[2019-05-09 19:13] bryevdv commented on #8898
@FChmiel no I think I misinterpreted this:

to mean there is a related GH issue here somewhere.

This issue is great for figuring out how to expand supported values in `Select`

[2019-05-09 19:20] bryevdv commented on #8901
I think this is simply a usage question. The legends have to be rendered in *some* default order, and no default order is gong to satisfy everyone in every situation. In most cases (e.g lines or scatters) there is no inherent visual/directional ordering at all, and I think the default of having legend entries descend in the order they were added makes sense. If you want something different, you ha

[2019-05-09 19:34] bdwiel commented on #8901
I agree that there isn't a best solution in every situation, but for the specific situation of stacked charts having the bottom entry correspond to the bottom of the stack is more intuitive because a stacked chart does have an order.

Thanks for the tip about reversing the legend. That is fine for my needs. Perhaps the example can include it because I'm afraid it would have taken a lot of searchin

[2019-05-09 19:43] bryevdv commented on #8901
I definitely think that would be helpful as well, would you be interested in creating a small PR to update the example?

[2019-05-09 19:57] bdwiel commented on #8901
Sure. I just made PR #8902.

[2019-05-09 21:28] zdgriffith opened #8903 "[BUG] layout accepts name as keyword arg but doesn't pass to underlying objects"
#### software version info
bokeh 1.0.4
python 3.7.1

#### Description of expected behavior and the observed behavior
`bokeh.layouts.layout()` should be capable of taking a `name` argument for use in embedding as described [here](https://bokeh.pydata.org/en/latest/docs/user_guide/embed.html#standard-template).  Currently you can pass a `name` but it fizzles silently.
#### Complete, minimal, self-co

[2019-05-09 22:09] bryevdv commented on #8903
This is is till present in 1.1.1dev so a PR would definitely be appreciated!

[2019-05-10 02:35] canavandl opened #8904 "Allow to offset plot frame's side panel annotations"
**Is your feature request related to a problem? Please describe.**
I would like to be able to offset a plot title away from the plot area by an arbitrary amount. Currently the plot border area is dynamically minimized to fit the Title and the Title height appears to be the text height plus a hardcoded offset (https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/annotations/title.ts#L1

[2019-05-10 02:44] canavandl commented on #8904
It appears that the Text glyph only supports top/middle/bottom baselines, so perhaps mirroring that and migrating towards Title.text_baseline from Title.vertical_align might be enough.

[2019-05-10 14:29] #8901 closed

[2019-05-10 16:06] chesucr commented on #7810
Just in the mean time this is not fixed, `Scatter` glyphs (with `marker='circle'` by default) can be used, instead of `circle` to get the same effect of my example, to preserve the right order

[code]

[2019-05-10 17:46] #8903 closed

[2019-05-11 11:47] kassbohm opened #8908 "[BUG] TextInput widget does not allow entering text on mobile devices"
On mobile devices with Android and Chrome:

Observation: When opening html produced the Python-code below: It's **impossible to enter text**, because keyboard opens but closes immediately after opening.

Expected behaviour appears when opening the same html on Chrome-Desktop on laptop and/or tablet.

[code]
I was told on https://gitter.im/bokeh/bokeh?source=orgpage that mobile devices are currentl

[2019-05-11 22:07] bryevdv commented on #8894
@arabidopsis are you interested in submitting a PR for this?

[2019-05-12 06:48] bryevdv commented on #4540
I think there is actually a simple solution that could work, namely adding a new `value_throttled` property, that is only updated on the JS side according to the throttle policy. Then if users want throttles response they can perform `slider.on_change('value_throttled', ...)`.  This odes place a slight burden on users to use a different property for throttled response, but the alternative is that

[2019-05-12 10:01] philippjfr opened #8909 "[BUG] Changing Slider widget title property does not update view"
In the AbstractSlider model the title property is not connected to any change events so changing the slider title after initialization does not actually update the title. This code:

[code]

should be changed to:

[code]

Version: Bokeh 1.1.0

[2019-05-12 22:32] BenZickel opened #8911 "RangeSlider stuck when modified by pressing the keyboard arrows"
When changing the lower value of a RangeSlider by pressing the keyboard arrows the RangeSlider gets stuck on NaNs.

![image](https://user-images.githubusercontent.com/35469979/57588553-9f160580-751e-11e9-8eb8-7a941c53a1da.png)

Bokeh version: 1.1.0
Platform: Windows
Command line: bokeh serve app

[2019-05-13 05:54] #8909 closed

[2019-05-13 15:38] poplarShift commented on #8891
Fair enough, I see that would need more discussion on the specifics.

I'm happy to have a look at restoring the functionality but there is something I don't understand in the original issue. In #8077 @mattpap said that

What is this "index"? I initially thought one could simply check if angle is supplied, and if it isn't, one would default to 0. I'm not sure how that would relate to this index.

[2019-05-14 00:06] thoth291 opened #8913 "[FEATURE] Rescale axis on range_tool update/move"
It would be great to rescale Y axis for example on the move of range_tool.
This should be an optional behaviour and should help in the cases when one observes local features (like peaks for example) within running window.
Here is an example in another platform: https://www.highcharts.com/demo/dynamic-master-detail/grid-light (select couple regions and you will notice Y axis limits and ticks being

[2019-05-14 03:32] bryevdv commented on #8891
indicies here refers to the index into the arrays of visual properties for each individual glyph that is drawn on the screen. I.e., if you call `p.triangle` to draw 100 triangle markers, it's perfectly possible to give every single one a different and unique angle. So, in that case, which angle do you use for the legend? We now have the notion of a "representative point", which is just the index t

[2019-05-14 04:53] bryevdv commented on #8911
@BenZickel Please provide a compete script/test case for us to reproduce with.

[2019-05-14 05:21] BenZickel commented on #8911
The sample code at [https://bokeh.pydata.org/en/latest/docs/user_guide/interaction/widgets.html#slider](https://bokeh.pydata.org/en/latest/docs/user_guide/interaction/widgets.html#slider) is enough to replicate the problem if you try moving the slider using the keyboard arrows:

[code]

[2019-05-14 07:23] Jasper51297 opened #8915 "[BUG] Error in the bokeh --serve documentation"
#### Versions:
- Bokeh: 1.1.0
- Python: 3.5.2
- OS: Ubuntu 16.04 LTS
- Browser: Google Chrome 74.0.3729.131

#### Description of expected behavior and the observed behavior
According to `bokeh serve --help` it should be possible to start a Bokeh server with this command:
`bokeh serve --dev script.py` but this throws an error. It won't throw an error if this order is used: `bokeh serve script.py --

[2019-05-14 07:25] bryevdv commented on #8915
@Jasper51297 Thanks for the report, the proper fix here is to make it so the position of `--dev` works anywhere.

[2019-05-14 09:05] #7699 closed

[2019-05-14 18:47] zdgriffith opened #8917 "[FEATURE] Optional valid values list attribute for DatePicker"
It would be nice to be able to give the DatePicker widget a list of valid dates, such that within the minimum and maximum date range only the dates in the list are able to be selected.  Ideally this would also grey out the invalid dates just like dates outside the range given are marked now (example below).

![image](https://user-images.githubusercontent.com/17169544/57723539-72610b80-764e-11e9-89

[2019-05-15 07:50] NMertsch commented on #8065
I have `graph = GraphRenderer()` and specifying the `renderer` of `HoverTool` leads to no hovering at all.
The policies are:
[code]

I tried:
[code]

What I find interesting is that the double arrow only is displayed when the tooltip is right of the cursor. Tooltips left of the cursor are fine.

[2019-05-16 02:07] bawalsh3000 commented on #8911
It looks like the function linked to the keyboard event replaces a two element array with a single value.
Also, the upper value slider doesn't react at all to keyboard events

[2019-05-16 03:44] bryevdv commented on #8911
@bawalsh3000 since you have dug in some already, if you have the ability to make a stab at a PR it would be helpful and appreciated. I'm not sure when I would be able to look at this more closely.

[2019-05-16 03:53] #4540 closed

[2019-05-16 13:26] bawalsh3000 commented on #8911
Not really up to speed with Typescript, but it looks like it could be a
simple fix and I'll give it a stab

On Wed, May 15, 2019 at 11:44 PM Bryan Van de Ven <notifications@github.com>
wrote:

[2019-05-16 14:31] xBlackSwan opened #8918 "[BUG]error in making doc"
[sphinx-err-1y08v5qm.log](https://github.com/bokeh/bokeh/files/3187524/sphinx-err-1y08v5qm.log)

[2019-05-16 15:09] bryevdv commented on #8918
We build the docs continuously on TravisCI on every push and I build them regularly. So I can only conclude this is some specific issue with your configuration. You probably have an incompatibly Pandas version. However, since you have ignored the issue template and not provided any information whatsoever, it is impossible to speculate further. Since this is also really a support question, I will c

[2019-05-16 15:09] #8918 closed

[2019-05-17 17:28] jasonsross commented on #7070
Bumping this because I don't see why we cannot have it both ways and it seems intuitive to have the filtered data all connect lines between them. In my case I'm plotting each filtered view on a different figure in a grid so all the disconnections look silly. I don't see why I would want to use multiple data sources for these plots when I could just update the one datasource and have it cascade to

[2019-05-19 20:09] bryevdv opened #8919 "Document signed session usage"
It's not that difficult, but is important in order to prevent a Bokeh server from starting new sessions on any random connection. There is a small demo of the usage here:

https://gist.github.com/bryevdv/481fc64c59620acb74c64bff0f4d47d0

Which should be expanded into user guide documentation.

[2019-05-20 06:39] PrashantSaikia opened #8920 "In a bokeh network graph, is it not possible to hover over an edge to highlight it while simultaneously be able to display hoverinfo when hovering over the nodes?"
When I give graph_renderer.inspection_policy = NodesAndLinkedEdges(), I lose the ability to hover over an edge to highlight it. To have this functionality, I need to set  graph_renderer.inspection_policy = EdgesAndLinkedNodes(); but if I do so, I lose the info that appears on hovering over the nodes - they appear as "???".

[This][1] shows 4 different ways of using hovertool -

 1. Plot with a Hov

[2019-05-20 13:41] deazzz opened #8921 "[BUG] DataTable copy-paste doesn't work with 0s present in a row"
ubuntu/16.04
firefox/66.0.5 (64-bit)
chrome/74.0.3729.157 (64-bit)
bokeh/1.1.0

Copy-pasting data from a bokeh gallery example:
https://demo.bokeh.org/export_csv
doesn't work if a row contains 0 (except for the index value).

As an example, copying the first row and/or third works,
[code]
but copying the second, where `Experience (years)` is 0, doesn't.

[2019-05-20 14:09] deazzz opened #8923 "[BUG] DataTable copy-paste doesn't keep the order of rows after sorting"
ubuntu/16.04
firefox/66.0.5 (64-bit)
chrome/74.0.3729.157 (64-bit)
bokeh/1.1.0

Copy-pasting rows from a bokeh gallery example:
https://demo.bokeh.org/export_csv
after sorting that DataTable by `Employee Name`, results in out of order data:
[code]

The expected row order would be the one a user sees after sorting,
[code]

[2019-05-20 14:11] ivan-usov commented on #8923
Having a closer look, it seems that it's always the last row which needs to be moved to the first position.

[2019-05-20 15:23] harmbuisman commented on #6085
I have the same problem with Bokeh version '1.1.0'. The label part of the tooltip updates, but the value part does not, e.g. for hover.tooltips = [ (value, "@value"),] I get only value to update, not the number behind @value.

When I run in output_notebook() mode in a Jupyter notebook a show(figure) call does trigger the update of the @value as well, so the definition is correct.

In standalone mo

[2019-05-20 15:41] bryevdv commented on #6085
@harmbuisman at this point please open a new separate issue with e current reproducer

[2019-05-20 15:53] bryevdv commented on #8920
As stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please consider [Stack Overflow](https://stackoverflow.com/) or the [public mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh).

Briefly I will only state that edges

[2019-05-20 15:53] #8920 closed

[2019-05-20 16:47] harmbuisman opened #8924 "Allow to derive ColorBar's low/high from data"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh: 1.10.0
python: 3.7.3
OS: Windows 10
browser: all

#### Description of expected behavior and the observed behavior
ColorBar tick labels do not show for geoplot patch plots. See the added image. Expectation: labels with the values for each color next to the legend.

Fails in both notebook versio

[2019-05-20 17:22] harmbuisman commented on #8924
Closed as low and high are needed for labels, they are not derived from the data.

[2019-05-20 17:31] mattpap commented on #8924
I will leave this open. We have ongoing work to allow derivation of low/high from data, among other things (PR #8922).

[2019-05-21 11:11] jukiewiczm commented on #5792
@bryevdv
Is the purely binary transfer of arrays possible to switch on/off? I'm creating standalone bokeh documents, not using the server. I can't really see it documented anywhere and it seems by data is encoded with base64 by default.

Adding some minimal example of custom compression to the documentation would really help as well.

[2019-05-21 11:57] philippjfr commented on #5792
Binary transfer is only used for transferring arrays via a websocket connection when using bokeh server or using push_notebook in Jupyter. The initial plot state has to be sent as a single JSON blob and therefore only supports base64 encoding.

[2019-05-21 17:43] solstag commented on #8893
Ni!

Ok, I have worked it out. However, before I publish the patch and make a pull request, there's a compatibility issue I want to discuss.

Currently, if you set a non prefixed visual property handled by `_pop_colors_and_alpha` for a glyph, i.e. `line_color`, it does not affect any prefixed glyphs since the key is popped from the dictionary.

However, all other visual properties, i.e. `line_widt

[2019-05-21 18:59] blaise-sumo commented on #8209
@bryevdv The RTD folks are great, and IIRC they have a special deal for open source projects on their commercial site readthedocs`.com`

Thanks for doing so much for the docs.

[2019-05-21 23:03] cuxcrider commented on #8674
@mattpap I am trying to add some customization to buttons and am following this example exactly (https://stackoverflow.com/questions/43057328/change-colour-of-bokeh-buttons) but it does not seem to work.  Should there be some modifications to the code?  I am using the latest bokeh 1.1.0.  Thanks!

[2019-05-21 23:29] cuxcrider commented on #8674
I also tried a slightly different example found here:  https://groups.google.com/a/continuum.io/forum/#!topic/bokeh/VG94SmNMWj0

but the best I can do is get a button with a clear background.  It seems to actually be searching the template file because I had a typo that triggered an error, but it just is not actually using the style.  Maybe it is related to the bs- prefix you mention?

[2019-05-22 04:37] samirak93 commented on #8674
**Update.**
The css for buttons and select seem to be working now in 1.1.0. I'd try other widgets and provide an update soon.

<img width="500" alt="image" src="https://user-images.githubusercontent.com/22864480/58147650-6528bb80-7c10-11e9-993a-f76fd8b77f50.png">

**Code:**

[code]

[2019-05-22 04:44] cuxcrider commented on #8674
@samirak93 thank you very much.  I'm very new to css and html, would you mind providing your index html code and bokeh .py so I can see how you are supposed to reference all of them.  For example in the .py code for the button, how should I reference the css class.  I've been trying: button = Button(label = "Test Button", css_classes = ['bk-btn-default'])

I can inspect my code on Chrome and see m

[2019-05-22 05:11] cuxcrider commented on #8674
@samirak93 I seem to have got it, maybe a little differently than you did.  I'm not sure of the pros/cons.
My file structure is buttonBokeh/templates

 Here is my buttonBokeh/main.py code:

[code]

And here is buttonBokeh/templates/index.html
[code]
And here is the buttonBokeh/templates/styles.css
[code]
I run it with:
bokeh serve --allow-websocket-origin=ip_address:xxxx buttonBokeh --port xxxx

[2019-05-23 08:27] Hacky-DH opened #8926 "[FEATURE]Change date format of DatePicker"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come ask the [Bokeh mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/bokeh) or join the chat on [Gitter](https://gitter.im/bokeh/bokeh).

**Is your feature request

[2019-05-23 08:35] #8895 closed

[2019-05-23 12:23] nathan-vignal opened #8927 "[BUG]"
I don't get the same result when pushing a previously displayed bokeh plot with push_notebook() and when I am using show()

I tried to check if I was still using the same handler and plot -> I am.
[code]
before calling the upper function I change self.__plot and hide some of it's glyph.
[code]
In the first function (update):

The result of show(self.__plot) is not displaying the hidden glyphs.So i

[2019-05-23 14:37] JeroenSchmidt commented on #3929
@mattpap I am trying to do the same thing with another map from maptiler.com and im hoping you could help me figure out the tile png URL format.

Im trying it for the following: https://www.maptiler.com/maps/#darkmatter//vector/2.95/25.87/24.3

[2019-05-23 17:32] bryevdv commented on #8927
@nathan-vignal to have any hope of investigating we will need a complete notebook that reproduces the issue, as requested in the issue template.

[2019-05-23 20:32] hiramf commented on #7317
Any updates on this? Working with some *very* long categorical labels and text wrapping would be awesome.

[2019-05-24 07:36] nathan-vignal commented on #8927
I'm really sorry, here's everything you need:
[debug.zip](https://github.com/bokeh/bokeh/files/3215635/debug.zip)

[2019-05-24 12:23] devmood opened #8928 "[FEATURE] Tabs lazy evaluation (loads only when clicked on)"
bokeh: 1.1.0dev11
python: 3.7.2
OS: Ubuntu 18.04.2 LTS
browser: Mozilla Firefox Quantum 66.0.5

I've been developing a following visualization dashboard (standalone web page) lately and I believe bokeh would benefit from having a feature allowing lazy tabs loading so that the canvases would not plot / resize while not being in an active mode (selected tab). Although, callback attached to the `Chec

[2019-05-24 13:14] philippjfr commented on #8928
You can achieve this already by listening to the active property of the Tabs and then populating the currently active tab.

[2019-05-24 13:24] jukiewiczm commented on #8928
@philippjfr
How can you populate/depopulate the currently active Tab?
One thing that's not included in the feature request is that it is about a standalone webpage without the bokeh server (I know this because it's my colleague reporting the issue).

[2019-05-24 13:26] philippjfr commented on #8928
I see, on the server you can dynamically replace the contents of a tab but in a static page this is indeed problematic and there's probably currently no good solution. I do think it makes sense to avoid rendering tab contents which are not currently visible, but this may be problematic in relation to layout computations (@mattpap would know more about the details of that).

[2019-05-24 13:40] mattpap commented on #8928
I will close this in favor of older issue #7438.

[2019-05-24 13:40] #8928 closed

[2019-05-24 13:42] devmood commented on #8928
All right. Thanks for the quick response.

[2019-05-24 14:02] cool-RR opened #8929 "[FEATURE] DatetimeAxis: Show bolded ticks for start of date"
Check out this plot from the docs:

![](https://i.imgur.com/gvrIfiF.jpg)

It would be nice if the ticks for the start of date (11/15) would be bolder and more prominent than hours inside that date.

[2019-05-24 18:47] chesucr commented on #7525
In relation to this I have asked for an algorythm to group all repeated values [**here**](https://stackoverflow.com/a/56274369/4891717) to check if it would improve the performance. The vectorized version that Quang Hoang is suggesting takes longer than the other one.

I had to make a small correction in the algorythm to make it work with integer indices, instead of `ser.index` I needed to use the

[2019-05-24 22:39] soerendip commented on #8096
Unfortunately, the port is sometimes not known before the notebook has started. Is there a way to get the port from the running notebook and set it dynamically?

[2019-05-24 23:29] bryevdv commented on #8096
@soerendip I have asked the Jupyter developers to provide some supported capability to obtain the port for years, and they consistently refuse. There is, unfortunately, nothing I can do about that. I can only suggest you make a request directly to the Jupyter project on their issue tracker.

[2019-05-25 17:40] jbednar commented on #3393
Often a Bokeh server session has some time-consuming steps at the beginning, such as loading or pre-processing some data files. It would be nice if the session could show some sort of indication that it's doing something as soon as the browser tab opens, before the Bokeh page is even laid out.  A bonus would be if the initial spinner/progress indicator could have some user-supplied text or image (

[2019-05-26 20:13] bryevdv commented on #3393
@jbednar please comment on the work of #8823

[2019-05-27 00:20] bryevdv commented on #8875
closed in #8932

[2019-05-27 00:20] #8875 closed

[2019-05-27 00:32] bryevdv commented on #8927
@nathan-vignal glancing at your code, there are definitely some usage issues off the bat:

* The expected usage of `push_notebook` is this: `show` is called ***once***, in one cell. Then, later, in other cells, `push_notebook` can be used to update the previously shown output.

You are calling `show` every time in `update`, which right off the bat is not intended (that said, it is doing what you a

[2019-05-27 00:32] #8927 closed

[2019-05-27 23:18] bryevdv commented on #8894
Actually the docs already state this:

Since there was no response about submitting a PR, I will go ahead and close this out

[2019-05-27 23:18] #8894 closed

[2019-05-27 23:18] bryevdv commented on #8871
@tarikaltuncu have you had a chance to look in to existing tools?

[2019-05-27 23:19] bryevdv commented on #8856
@lunarspectrum did you still intend to submit any PR around this?

[2019-05-27 23:25] bryevdv commented on #8913
This would certainly be a nice feature to have. I don't think we can support it across all glyphs, but we can probably support it across the most common ones. The main requirement is that a glyph be able to report its bounds when one dimension is contrained. I *think* the spatial index we use will accommodate that with a little coaxing.

However, it should be mentioned that the `DataRange` codepat

[2019-05-27 23:33] bryevdv commented on #8893
@solstag I am going to open long running a branch for 2.0 development very soon. It's not our usual process style to do PRs against anything other than `master` but for this case, since we are dropping Python 2 support and making other incompatible changes, it seems necessary if we are to be able to track PRs for individual work.

So, my thoughts would be this: I would be happy to accept a PR from

[2019-05-27 23:41] bryevdv commented on #8855
@cpitclaudel were you still interested in making a PR for this?

[2019-05-27 23:46] bryevdv commented on #8842
@JAK0723  Actually I guess I want to revisit this question. It is really the case that having tick labels on one axis visually overlap on top of another axis? That seems like it would mostly just be illegible in many cases. I don't see how that is necessarily an improvement. I might suggest that if this is an issue than a better solution if to exert more control either over the range, or the ticke

[2019-05-28 04:54] russellburdt commented on #8676
Hi @mcastanlaris
Yes there is some targeted help I think you can offer.

- I have made changes to **\bokeh\models\widgets\inputs.py**, described in the above comment
- My next step is to modify **\bokehjs\src\lib\models\widgets\text_input.ts**
- The changes that need to be made are to
  - add the property that I defined in **inputs.py**
  - switch the event listener to "change" vs "input" based on

[2019-05-28 05:48] cpitclaudel commented on #8855
I haven't found time to work on it, unfortunately :/

[2019-05-28 11:33] Venedictos commented on #626
Hello

Please i intend to produce a bubble graph in Bokeh, but do not seem to find a way of supplying different values for size. A CDS with x,y and z columns. Have used p.circle(x,y, size=z, source=source), radius and radius_dimensions do not take a column. Any help please! Thanks
![image](https://user-images.githubusercontent.com/13404635/58475013-b66f0880-8144-11e9-878a-91ccddf9153e.png)

[2019-05-28 12:48] solstag commented on #8893
Hi @bryevdv, I'm in a busy period so that looks like a good time frame for me. I'm happy to contribute to the migration guide once the PR is merged. Happy to hear Python2 is going into (well deserved) retirement. ;-)

[2019-05-28 13:22] mattpap commented on #8666
What does "obsoleted" mean in in this context? What do we guarantee regarding 0.12 and 0.13 (and possibly 1.0.x) branches?

[2019-05-28 13:43] Fredericco72 opened #8934 "[BUG] DatePicker Displayed Value is not Updating"
### My current installation:
Python version      :  3.6.6 (v3.6.6:4cf1f54eb7, Jun 27 2018, 03:37:03) [MSC v.1900 64 bit (AMD64)]
IPython version     :  7.1.1
Tornado version     :  5.1.1
Bokeh version       :  1.1.0
BokehJS static path :  c:\python36\lib\site-packages\bokeh\server\static
node.js version     :  v10.15.3
npm version         :  6.4.1

### My problem:

When using an script to update t

[2019-05-28 14:16] bryevdv commented on #626
@Venedictos There are several ways to have many circles with different sized, but GitHub is not the appropriate place to ask suppose questions.  Please ask again on the [Bokeh Discourse site](https://discourse.bokeh.org)

[2019-05-28 14:18] bryevdv commented on #8666
Nothing specifically, but I want to give people nudge to keep more up to date. If you want something specific, it could mean that docs for those versions will no longer be hosted (we still have 0.11 docs up for instance)

[2019-05-28 14:31] Venedictos commented on #626
@bryevdv thanks. I will. Cheers

[2019-05-28 15:15] kylrth commented on #5497
Anything new here? As far as I can tell there's still no easy way to be able to add different hovers to different objects.

[2019-05-28 15:36] lunarspectrum commented on #8856
Oh dear...it has been a while, hasn't it?  I still intend to...

[2019-05-29 01:18] bryevdv commented on #5497
If there were any news, it would have been posted or linked here.

[2019-05-29 01:57] bryevdv opened #8935 "Update tornado minimum version to 5.0"

[2019-05-29 01:58] bryevdv opened #8936 "remove h_symmetry, v_symmetry"

[2019-05-29 02:28] bryevdv opened #8938 "remove python 2 and 3.4 from the test matrix"

[2019-05-29 05:05] bryevdv opened #8940 "only support networkx >=2.0"

[2019-05-29 06:11] bryevdv opened #8942 "Add Pillow as a dependency"

[2019-05-29 13:40] kasuteru commented on #6925
I am having the same issue, this is still open if I understand correctly? The current workaround is to not use tabs?

[2019-05-29 15:11] bryevdv opened #8944 "TextureRepetition missing from docs and `all`"

[2019-05-29 15:11] bryevdv commented on #8938
closed by #8939

[2019-05-29 15:11] #8938 closed

[2019-05-29 15:12] bryevdv commented on #8942
closed by #8943

[2019-05-29 15:12] #8942 closed

[2019-05-29 15:12] bryevdv commented on #8936
closed by #8937

[2019-05-29 15:12] #8936 closed

[2019-05-29 22:47] bryevdv commented on #8935
closed by #8941

[2019-05-29 22:47] #8935 closed

[2019-05-30 02:15] bryevdv opened #8946 "Remove dependency on six"

[2019-05-30 03:32] bryevdv commented on #8946
closed by #8946

[2019-05-30 03:32] #8946 closed

[2019-05-30 04:04] bryevdv opened #8949 "Remove bokeh.util.future"

[2019-05-30 04:49] bryevdv commented on #8949
closed by #8950

[2019-05-30 04:49] #8949 closed

[2019-05-30 04:59] bryevdv opened #8951 "remove future imports"

[2019-05-30 05:56] bryevdv commented on #8951
closed by #8952

[2019-05-30 06:04] #8951 closed

[2019-05-30 06:08] bryevdv commented on #8893
@solstag fantastic, FYI the branch to make a PR against when you are ready is `landing-2.0`

[2019-05-30 10:58] suggers-7F opened #8953 "HOW display specific columnar values"
如何展示具体的柱状体上的值

[2019-05-30 14:11] micrenda opened #8954 "Adding support for superscript exponents"
It would be very useful to me to have logarictimic axis values written as 10⁴¹ instead than 10^41.

I implemented a patch to add this feature, which add a new property `LogTickFormatter.use_superscript_exponents`:
https://github.com/micrenda/bokeh/tree/use_superscript_exponents

But there are two pending issues:
1. It seems that this code is just ignored:
`p.xaxis[0].formatter.use_superscript_expo

[2019-05-30 14:24] bryevdv commented on #8953
As stated in the issue template, the GitHub issue tracker is reserved for bug reports and feature requests only. It is not the appropriate place to seek general support or help with usage questions. For that, please considere [Discourse site](https://discourse.bokeh.org) or  [Stack Overflow](https://stackoverflow.com/). To increase the chance that someone will decide to volunteer their time to hel

[2019-05-30 14:24] #8953 closed

[2019-05-30 14:32] bryevdv commented on #8954
@micrenda In order see see effects from changes to the BokehJS source code, you have to:

* compile BokehJS locally from the source
* tell Bokeh to use your locally-built version (e.g. by setting `BOKEH_RESOURCES`)

These steps are described in the [Developer Guide]9https://bokeh.pydata.org/en/latest/docs/dev_guide/setup.html#devguide-setup). I'd suggest going through that (I can answer any questi

[2019-05-30 15:24] bpostance commented on #6925
Yes same here.

[2019-05-31 01:14] bryevdv opened #8956 "remove legacy_datetime cruft"

[2019-05-31 01:36] bryevdv opened #8958 "remove superfluous string funcs"
in `bokeh.util.string`

[2019-05-31 01:59] bryevdv commented on #8956
closed by #8957

[2019-05-31 01:59] #8956 closed

[2019-05-31 03:16] bryevdv commented on #8958
closed by #8958

[2019-05-31 10:44] micrenda commented on #8954
Thank you @bryevdv for your fast and kind response. I was able to fix the issue nr. 1 and to test it locally.

If you decide to accept my pull request, please be aware there is a small problem with the font size. It is not the fault of bokeh, but it is possible you will receive some complaints. Changing fonts may help (here you can find [more details]( https://graphicdesign.stackexchange.com/quest

[2019-05-31 10:58] #8958 closed

[2019-05-31 11:04] micrenda commented on #8954
Setting this solve the problem with different superscript sizes:
`p.axis.major_label_text_font = "sans"`

[2019-05-31 15:51] soerendip commented on #6294
Same problem.

[2019-05-31 16:37] solstag commented on #8893
Great. For now, I've published a branch based on landing-2.0 with my current changes rebased:

https://github.com/solstag/bokeh/tree/style_visuals

[2019-05-31 17:47] bryevdv commented on #6294
@soerendip Then my best guess without more information is that you need to update your Bokeh version to 1.1 or newer (please always, always include version information up front)

[2019-06-01 21:46] bryevdv opened #8962 "simplified super usage"

[2019-06-01 22:22] bryevdv opened #8964 "remove 2.0 deprecations"
Everything except tile provider stuff, which will be in a separate PR.

[2019-06-01 22:51] bryevdv commented on #8962
closed by #8963

[2019-06-01 22:51] #8962 closed

[2019-06-02 00:27] bryevdv opened #8966 "Set use_strict to default to True"
@mattpap do you mean to have the default change to `True` or remove `use_strict` option entirely and always apply?

[2019-06-02 08:30] mattpap commented on #8966
The default should be `True` and option removed.

[2019-06-02 17:08] fdw opened #8970 "[FEATURE] Make palettes return Color"
I was a bit surprised to find that the colors returned by `viridis()` (and other palettes) are simple Hex `str`s, not instances of `Color`. I had expected that I can call `darken` and `lighten` on the generated values, but unfortunately that seems not to be the case.

Additionally, I cannot seem to find a way to generate a `Color` instance out of the hex strings, as there is no `from_css`, `from_h

[2019-06-02 17:41] bryevdv commented on #8970
@fdw thank you for your comments. We store the colors as hex strings because that is what BokehJS expects, and in fact if we were to make any compatibility-breaking changes in the future, it would be to go the opposite direction from what you suggest, i.e. we might store the colors as numpy arrays of raw RGBA integers in order to make them suitable for the efficient binary transport that is availa

[2019-06-02 19:12] mattpap commented on #8970
We should consider this for 2.0.

[2019-06-03 10:05] chunkily opened #8976 "[BUG] Geographical plots cannot be saved with the save tool"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

OS: Ubuntu 18.04
Browser: Chrome (74.0.3729.169) and Firefox (67.0)
Python: 3.7.3 (Anaconda)
Bokeh: 1.2.0 (Installed via default channel)
Jupyter: 4.4.0

#### Description of expected behavior and the observed behavior

Bokeh plots generated with geospatial tile providers cannot be saved when pressin

[2019-06-03 11:50] jukiewiczm commented on #7438
@Charles75382
Would you mind sharing the callback you implemented? You already provided some guidance about what needs to be done but as I'm pretty bad at javascript I could use a bit more.

[2019-06-03 16:33] fdw commented on #8970
So a PR that reads the hex string wouldn't make sense now, right?

[2019-06-03 20:19] randompast commented on #8012
In the meantime, maybe you could make a slider l,r = [3,7] and update your parameter with v = 10**-r.

[2019-06-03 20:25] mattpap commented on #8966
Is github broken, because all those `landing-2.0` issues aren't closed automatically when PRs close?

[2019-06-03 20:34] bryevdv commented on #8966
I was wondering the same thing, I am assuming auto-close only functions on master, evidently, but I have not enquired or looked into it further

[2019-06-03 20:34] #8966 closed

[2019-06-03 20:34] #8964 closed

[2019-06-04 13:26] internshipdeco opened #8978 "[BUG]"
Hover tool is not working properly on vbar graphs. it display only values of x-axis, for y-axis value it show "???". Below i have given my code, kindly point out me where i am going wrong.
![Untitled](https://user-images.githubusercontent.com/36809439/58882402-ca44dc80-86f9-11e9-9085-fc041b3642ff.png)

from bokeh.io import show, output_file, curdoc
from bokeh.models import ColumnDataSource, Factor

[2019-06-04 14:49] bryevdv commented on #8978
This is not a bug, you are not configuring the HoverTool correctly. However, GH is not the appropriate place for support discussions. I would be happy to help you if you posts your question in the Discourse:

https://discourse.bokeh.org/c/community-support

[2019-06-04 14:49] #8978 closed

[2019-06-04 15:11] internshipdeco commented on #8978
Thank you for your support 👍

On Tue, Jun 4, 2019, 8:19 PM Bryan Van de Ven <notifications@github.com>
wrote:

[2019-06-04 18:54] bryevdv commented on #8970
I think a PR to add a hex string is still useful in its own right, but yes if you want to cover all the bases for the possible future you could add both `from_hex` and `from_int` methods.

[2019-06-05 15:13] kylrth opened #8981 "[FEATURE] implement hover anchor on more glyphs"
#### Software version info

[code]

#### Description of expected behavior and the observed behavior

By specifying the keyword argument `anchor='center_right'` to `bokeh.models.HoverTool`, I expect to see the tooltips pointing to the right edge of each bar. Instead, the tooltips still point to the center of each bar.

#### Complete, minimal, self-contained example code that reproduces the issue

[

[2019-06-05 15:49] bryevdv commented on #8981
So far, `anchor` has only been implemented on `Quad`.  For now, if you really need this, you will have to use `quad` instead of `hbar`. Adding to all the "box" glyphs will probably be simple (a good task fo a new contributor if you are interested) but should also update the `anchor` help string to make it clear that only certain  glyphs support it.

[2019-06-05 19:05] kylrth commented on #8981
I could possibly work on this next week.

[2019-06-05 19:08] bryevdv commented on #8981
@kylrth that would be awesome!

For reference, the relevant function on `quad.ts` is here:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/glyphs/quad.ts#L25-L43

I think if you just literally move that function to `box.ts`:

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/glyphs/box.ts

Then things might automatically work for all "box" glyphs (quad, rect, vba

[2019-06-06 06:42] duynguyen2411 commented on #3159
Hello, I'm using Bokeh 1.0.4, I want to set multi-user mode. Can you help me, Bryan?

[2019-06-06 07:15] bryevdv commented on #3159
@duynguyen2411 This issue refers the the first generation Bokeh server, which has been gone for several years now. Nothing here is applicable to the current Bokeh server, which is entirely agnostic about users. By which I mean: it can certainly serve to many users at a time no problem, but it does not enforce any sort of authentication notions on its own. There are simply too many options for auth

[2019-06-06 07:15] #3159 closed

[2019-06-06 13:58] rabernat commented on #3598
Thanks to the bokeh devs for this amazing tool! I appreciate all the time and effort you put into this project.

👍 to this issue. I would really enjoy having a fullscreen mode on my holoviews bokeh plots.

[2019-06-06 20:40] kylrth commented on #4022
@bryevdv your comment should be placed somewhere prominent on the user guide. It cleared up a lot of misunderstandings for me.

[2019-06-06 21:07] xys234 opened #8982 "Overlay Hexbin on Google Map"
I understand hexbin function returns (q, r) in axial coordinate system and the hextile function also expects the data in axial system. However, the gmap is in Cartesian system. Is there a way to overlay a hexbin glyph on a gmap?

[2019-06-06 22:10] spott commented on #8360
So, I really wanted this and wrote up a bunch of code to make it work using just skimage.

The code is here:
https://gist.github.com/spott/0d140df0d3b3e30aa821fc97b8e35f3a

It isn't really *done*, (there is a few cleanups to do:  rescaling the axes, maybe transposing it so it matches with figure.image), but it is getting there.

I'll try and work this into a pull request over the next *n* days, bu

[2019-06-06 23:48] drpeterfoster commented on #8579
FYI, I stumbled into a "solution" for this when working in a jupyter notebook...
[code]
¯\_(ツ)_/¯

[2019-06-07 00:18] bryevdv commented on #8579
@drpeterfoster that would be an unrelated issue, since it does not involve the situation with emedded Bokeh server apps described above. That said, I can't reproduce anything like you describe:

<img width="562" alt="Screen Shot 2019-06-06 at 5 16 56 PM" src="https://user-images.githubusercontent.com/1078448/59074143-12d9d280-887f-11e9-9471-d7b4f983e4b3.png">

[2019-06-07 00:37] bryevdv commented on #8360
@spott First off: this is an exciting possibility. My druthers would still be with making and publishing a new package for the old MPL contour function, simply to avoid all the dependencies that skimage brings in (even if it is optional). However, realistically I don't know when I would have time to dedicate to that project, so I would definitely support a workable solution based on skimage at thi

[2019-06-07 00:40] bryevdv commented on #8360
FYI when I run it's the first `t.children` that fails:
[code]
Also  may I suggest we move this to the Development category of the Discourse? Given the amount of up-front discussion and iteration that I think this might take, that would be a more comfortable venue: https://discourse.bokeh.org/c/development

[2019-06-07 12:36] kasuteru opened #8983 "[BUG] Using pandas index in CDS does not update in bokeh serve"
I noticed inconsistent behaviour when using the pandas index (pandas.DataFrame.index) when e.g. plotting a line in bokeh serve and then changing the underlying data later. Basically, when creating a dataframe like this:

[code]
I can then add a line plot the following way:
[code]
since the pd.DataFrame.index is automatically added to the CDS as well (which is nice, but might not be intended?

The

[2019-06-07 13:32] spott commented on #8360
It appears I left some debug code in that notebook, sorry about that.  I’ll update it with a cleaner version when I get into work.

I’ll also jump on the development discord server, and we can talk a bit more about how to organize this.

[2019-06-07 15:01] spott commented on #8360
The notebook should work now.

[2019-06-07 15:16] spott commented on #8360
I've started a thread in discourse: https://discourse.bokeh.org/t/contourplot-discussion/3567

[2019-06-07 17:53] anderl80 commented on #2413
Will this be working in future?

[2019-06-07 19:14] bryevdv commented on #2413
Hard to say. There was a PR that was started but then closed to add support for line breaks for categorical axes: https://github.com/bokeh/bokeh/pull/8445 That's definitely something we intend to get working in the near-ish future as time and resources permit. That work might be transferrable to DatetimeTickFormatter in some way, with a little work, but it would take some investigation. A simpler

[2019-06-07 22:23] ltalirz commented on #8034
@bryevdv Confirming that this issue still exists in bokeh 1.0.4 and bokeh 1.2.0.
I think this issue should be reopened.

To reproduce, just copy the code from the issue, run `bokeh serve myapp.py` and refresh the page a few times.

[2019-06-07 22:32] bryevdv commented on #8034
@ltalirz I can't reproduce any problem, so you will have to be more specific with detail. If I run the OP code with Bokeh 1.2.0 and refresh the pages many time, then a page is displayed whenever there is not an exception, and a page is not displayed whenever there is an exception. That is the expected behavior. If the app code that a user writes blows up, there is nothing we can do about that. It

[2019-06-07 23:17] ltalirz commented on #8034
@bryevdv my apologies - you are absolutely right: for this example app, reloading the page will bring it back to life.
The reason I thought this was still an issue was that I encountered it in one of my apps, where the app remained dead after the error (under bokeh 1.0.4). I will try to make a minimum example to demonstrate this.

[2019-06-07 23:33] bryevdv commented on #8034
@ltalirz no worries, if you encounter are real reproducible issues with the latest release, at this point please open a new issue (we can link back here if appropriate)

[2019-06-07 23:33] ltalirz commented on #8034
Ok: So, it seems to happen *only* when moving the app into a directory, and only with bokeh 1.0.4:
[code]
Now, the app remains "dead" after the first exception.

[2019-06-07 23:35] bryevdv commented on #8034
@ltalirz I am not sure why that works at all. Directory style apps are required to have a `main.py` (that is what the sever looks for). If that works at all with `myapp.py` I think it is unintentional/accidental

👍

[2019-06-07 23:35] ltalirz commented on #8034
sorry - I meant main.py

[2019-06-07 23:45] bryevdv commented on #8983
@kasuteru `df.to_dict` drops this index from the output. That's Pandas behavior we have no control over. If you want to the Bokeh behavior that preserves indices, you will need to use Bokeh functions, e.g. this fixes your second example:
[code]
If you are interested in tweaking the documentation (any/all of docstrings user guide sections, etc), then we'd welcome your contribution. Otherwise I am i

[2019-06-07 23:51] bryevdv commented on #8982
Certainly possible in principle, but there's nothing built in to bokeh to do the necessary transformations. So it would take some figuring out. However, that's a support topic, so GitHub is not the appropriate place to discuss it. Please feel free to open a new topic on the public Discourse site:

https://discourse.bokeh.org/c/community-support

[2019-06-07 23:51] #8982 closed

[2019-06-08 05:00] #8983 closed

[2019-06-08 11:51] mattpap opened #8984 "Modularize CSS"
The idea is to drop `*.css` bundles in favor of including individual `*.css` files as proper TypeScript modules (with CSS class names exported for improved static safety).

[2019-06-08 12:14] philippjfr commented on #8984
This sounds great. Excuse my lack of knowledge about CSS imports but is importing a module which itself imports some css files sufficient to actually load the css in the browser?

[2019-06-08 12:34] mattpap commented on #8984
No, you have create a new style sheet declaration and add it to the document tree, like this:

https://github.com/bokeh/bokeh/blob/f5eea9d475a08dc7105bf27cb62558f7bd4f6f44/bokeh/util/compiler.py#L401-L415

This will be handled automatically by our build, so that downstream users will be able to just import `*.js` modules without additional processing. On our side there will be a TypeScript AST tra

[2019-06-08 12:38] mattpap commented on #8984
From compatibility standpoint, until 2.0 there will be empty `*.css` and `*.min.css` bundles generated, so that users' code can stay unchanged. At 2.0 we will remove all CSS bundles' related code.

[2019-06-08 12:44] mattpap commented on #8984
This change (with some additional work) will allow to have multiple incompatible versions of bokehjs on one page (at least from CSS perspective, because there is still `Bokeh` JS global). For example, in jupyter lab this will allow loading a CDN version of bokehjs in one tab and a development version in another.

[2019-06-11 03:39] bryevdv commented on #8917
Looks like `pikaday` has a `disableDayFn` which requires passing a JS function to return true/false for every day in the view to specify if it is selectable:

https://github.com/Pikaday/Pikaday

That's not really ideal but also not impossible to work with.

[2019-06-11 03:41] bryevdv commented on #8926
Pikaday appears to support formatting dates throught built-in JS `Date` by default (I doubt we could justify taking on a dependency on `momentjs` just for this)

https://github.com/Pikaday/Pikaday

[2019-06-11 03:48] bryevdv commented on #8929
This will require some thought. Currently the axis specifies a single value for major tick label font style values. So we would have to figure out a non-disruptive want to expand that. Some ideas:

* Define special value that signifies that the font style should delegate to something else, the tick formatter, on a per-tick basis
* Allow the tick formatter to optionally provide some sort to modifie

[2019-06-11 03:53] bryevdv commented on #8855
I think a `CombinedTicker` (or `MultiTicker`) would be useful, so I have triaged it `feature` tho I don't know when I'll be able to look at it.

[2019-06-11 03:55] bryevdv commented on #8885
This is a dupe of #8129 which is to provide an arrow based glyph, not just an annotation

[2019-06-11 03:55] #8885 closed

[2019-06-11 14:04] Hacky-DH commented on #8926
Thanks for the reply.
I am really looking forward to this feature.

[2019-06-11 15:34] rmegret commented on #8778
I am using bokeh 1.2.0, the problem is still there. Any update on this?
Thanks

[2019-06-11 15:56] bryevdv commented on #8778
@rmegret that is not generally a useful question. If there were updates, they would be here.

[2019-06-12 01:49] #8984 closed

[2019-06-12 03:36] bryevdv commented on #8666
@mattpap I've removed "try using Python enums in some way"  but let me know if you have any other specific ideas

[2019-06-12 14:13] hadim opened #8991 "[FEATURE] Modify high and low of a color mapper."
I am trying to build a multi-dimensional image viewer using Panel and Bokeh and I would like to provide a slider to modify the scale of the intensities shown on the image.

For this, I would need to modify the color mapper of the Bokeh figure image. I first tried to set the argument `color_mapper` of `fig.image` to a string `color_mapper` so I could set it in a `ColumnDataSource` but it does not w

[2019-06-12 14:16] hadim opened #8992 "[FEATURE] Keep a fixed aspect ratio when zooming with box tool"
Is that possible to force an equal aspect ratio when zooming using `box_zoom`?

The use case is when zooming on an image, you don't really want to zoom and modify the aspect ratio of the pixel. You want them to stay as a square.

[2019-06-12 17:12] hadim commented on #8991
The same question also applies to the palette used in the `ColorMapper`. That would be nice to be able to 'dynamically' modify it.

[2019-06-12 22:35] birdsarah opened #8994 "Docs typo"
https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/user_guide/categorical.rst#colors

`factor_cmap('fruits', palette=Spectral6, factors=fruits))`

has an extra `)` at the end

[2019-06-12 23:21] aliamcami opened #8995 "documentation: duplicate $name description"
https://bokeh.pydata.org/en/latest/docs/user_guide/tools.html#basic-tooltips

$name property has duplicate description

<img width="1024" alt="Screen Shot 2019-06-12 at 20 19 49" src="https://user-images.githubusercontent.com/12300792/59392841-87b17e80-8d4f-11e9-81bd-9cd7cf980f9e.png">

[2019-06-12 23:51] bryevdv commented on #8995
Thanks for the catch @aliamcami would you like to submit the PR to fix it? The file to update is here:

https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/user_guide/tools.rst

[2019-06-12 23:52] bryevdv commented on #8994
@birdsarah can you drop the tiny PR?

[2019-06-12 23:54] bryevdv commented on #8992
@hadim GitHubis not the appropriate place for support discussions, as the issue template stated. Please ask your questions on the Discourse: https://discourse.bokeh.org/

[2019-06-12 23:54] #8992 closed

[2019-06-12 23:55] bryevdv commented on #8991
@hadim GitHub is not the appropriate place for support discussions, as the issue template stated. Please ask your questions on the Discourse: https://discourse.bokeh.org/

[2019-06-12 23:55] #8991 closed

[2019-06-13 00:28] aliamcami commented on #8995
Sure! I opened the PR #8997 to fix this and the other documentation typo (#8994). Thank you!

[2019-06-13 01:06] #8994 closed

[2019-06-13 01:06] #8995 closed

[2019-06-13 18:21] bryevdv opened #8998 "Update conda recipe for 2.0"
Need to restrain python versions of our current complete generic `noarch` build.

Helpful feedback from @msarahan

[2019-06-13 19:49] omayer opened #8999 "[BUG] odd display behavior for overlapping glyphs"
#### ALL software version info

- bokeh server: 1.2.0
- tornado 6.0.2
- python 3.7.3

#### Description of expected behavior and the observed behavior

I am using bokeh to build an interactive application that requires adding/removing glyph locations, often adding/removing many at a time. However, I have found that in some cases when I try to add a glyph location that overlaps an existing one, ALL

[2019-06-13 19:56] bryevdv commented on #8999
@omayer This is not a big, this is the standard highlighting that happens when you select a glyph by tapping a glyph. I.e. when you tap one glyph to select it, all the untapped glyphs shows as "non selected" which bay default is light grey low alpha. If you want different behavior, you will have to explicitly tell Bokeh that, either by:

* setting `renderers` on the `TapTool` to exclude the glyphs

[2019-06-13 19:56] #8999 closed

[2019-06-13 19:57] bryevdv commented on #8999
Also, if you have further usage questions or need more details about this, please take things to the Discourse:

https://discourse.bokeh.org/c/community-support

[2019-06-13 19:58] omayer commented on #8999
Great. Thanks.

[2019-06-14 09:29] Vitamin9024 opened #9001 "hatch_pattern and svg"
When I use output_backend='svg' and a hatch_pattern, the html file never loads (as if it was too many points). The same is with exporting.

Example:
[code]

[2019-06-14 10:45] mattpap commented on #9001
I can reproduce this and this behavior isn't unexpected given that bokehjs is a raster rendering library by default. I suppose this particular issue is fixable, but in any case that would require changes to canvas2svg library (https://github.com/gliffy/canvas2svg/) that we use to convert raster rendering commands to vector. They have an open PR for image embedded, which should be useful to improve

[2019-06-14 10:52] mattpap opened #9002 "Unify bokehjs build system with extensions' compiler"
The idea is to have bring fully featured build system to extensions' compiler, which currently is an ad-hoc approach, e.g. it doesn't allow to use npm packages. This work will also allow for generating custom bokeh bundles at runtime. This issue focuses only on technical aspects. User oriented development workflow will be established in future work.

[2019-06-14 19:14] jakevdp opened #9006 "BUG: resource loading breaks in non-standard installations"
For resource loading, bokeh utilizes ``open()`` calls on paths constructed from ``os.path.dirname(__file__)``; e.g.

https://github.com/bokeh/bokeh/blob/9f510bc7cc2c0fb283bf80436d03b3cac49f22c8/bokeh/resources.py#L199-L204

https://github.com/bokeh/bokeh/blob/9f510bc7cc2c0fb283bf80436d03b3cac49f22c8/bokeh/util/paths.py#L33

This causes errors with some installation methods where in-package paths d

[2019-06-14 19:35] bryevdv commented on #9006
How common is this situation? Under what circumstances would it typically arise?

[2019-06-14 19:42] jakevdp commented on #9006
It arises any time the package is imported from a non-filepath bundle (examples are egg installs, zip installs, presumably tools like pyodide, etc.)

[2019-06-14 19:53] bryevdv commented on #9006
I'd be more inclined to use `importlib_resources` than bring `setuptools` anywhere in to runtime code. @jakevdp would you be interested in submitting a POC PR  for just the cases you ran into to lead the way? It sounds like you are already set up to test this in situations where it is actually failing, I am definitely not.

[2019-06-14 19:59] jakevdp commented on #9006
Sure, I'll take a look. I've leaned toward using ``pkgutil.get_data`` for this sort of situation (in e.g. [vega_datasets](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/core.py#L21)) because it's in the standard lib and the API has been stable for years.

[2019-06-14 20:01] bryevdv commented on #9006
Oh, I forgot it was in sodlib. I will defer to you!

[2019-06-15 01:55] canavandl opened #9007 "[DOCS] Add mention of Themes to "Styling Visual Attributes" docs page"
I was looking for documentation about Themes in the "Styling Visual Attributes" page of the docs and was surprised we didn't have it there. We should...

Add mention of Themes to "Styling Visual Attributes" docs page

[2019-06-15 03:01] canavandl commented on #8904
Follow-up note: my use case involves being able to configure this via Themes. I'm essentially trying to create a ggplot theme, which has a title offset

[2019-06-16 17:22] jogehl opened #9008 "bokeh server embedded in python without server.show"
Is there a way to start a bokeh server from Python without using serve.show(). This would simplifying to integrate a bokeh server in a flask or electron app. I know about the possibility of using bokeh serve, but I want to start it from the python code like:
` server = Server({'/': modify}, num_procs=1)`
`server.start()`
`server.io_loop.add_callback(server.show, "/")`
`server.io_loop.start()`

[2019-06-16 17:30] #9008 closed

[2019-06-16 22:52] mattpap opened #9009 "Add support django channels"
The idea is to allow using bokeh applications in django without a need for embedding a tornado server.

[2019-06-17 03:14] JING1201 opened #9011 "[BUG] vbar_stack with positive and negative values does not plot correctly"
**Expected Behavior:**
When the source data contain a mixture of positive and negative values, the bars with negative values will stack downward below 0 without interfering the positive bars.

**Observed Behavior:**
When the source data contain a mixture of positive and negative values, the bars with negative values stack downward from the top of the previous positive bar, making that bar not visi

[2019-06-17 18:27] jakevdp commented on #9006
Alright, I had a chance to look closer at this. It's not going to be a trivial change, because the same mechanism is used to load inline resources from within the package (at ``bokeh.server.static``) and outside the package (at ``../bokehjs/build/``):

https://github.com/bokeh/bokeh/blob/9f510bc7cc2c0fb283bf80436d03b3cac49f22c8/bokeh/util/paths.py#L53-L63

Separating these would require some refac

[2019-06-17 20:26] bryevdv commented on #9011
@JING1201 ING1201 The current output is correct
[code]
Which is exactly what is seen in your plot. Columns are always summed together consecutively. Ther is no other sensible thing to do, since in general, stacks can contain any number of columns to stack, not just two as you have. In general, stacks should all be positive, or all be negative, and if you need to split at zero you will need to spli

[2019-06-17 20:26] #9011 closed

[2019-06-17 20:33] bryevdv commented on #9006
@jakevdp the use of the `bokehjs` dir only happens during development from a checked out repo. I think that code path could just be left alone, while anything that loads from a package gets update accordingly, and that would be reasonable for all practical purposes.

[2019-06-17 20:52] bryevdv commented on #9011
Speaking of setting alpha < 1 that is also another way to see why the output is the way it is, bars are always stacked "end to end" so mixing pos/neg values will always result in overlap. Again, there is no other sensible procedure given that any number of bars can be stacked at a time.

<img width="649" alt="Screen Shot 2019-06-17 at 1 50 55 PM" src="https://user-images.githubusercontent.com/1078

[2019-06-18 00:26] JING1201 commented on #9011
@bryevdv Thanks for the explanation! However, could we reopen the issue as a feature perhaps? I think having a feature that automatically splits the data for the user for vbar_stack and other methods that uses _double_stack would be beneficial since having data with mixed signs is not uncommon, and overlapping is not the desired output in most cases. I have seen a lot of others asking about this o

[2019-06-18 01:41] bryevdv commented on #9011
@JING1201 My time is currently very constrained and mostly accounted for. Realistically it's not something I am going to work on. But such a task is pure python side, so should be accessible to a wide range of Python expertise. I'd be happy to consider a PR for this from anyone who wants to contribute. There are some issues to be aware of:

* would need to check if any given series has mixed signs

[2019-06-18 01:47] bryevdv commented on #9011
Re: re-opening, I'd rather wait until there is a commitment or at least an indication of interest from someone that they want to work on. I have a strong bias against letting issues linger and become stale.

[2019-06-18 02:55] JING1201 commented on #9011
@bryevdv Thank you for pointing the issues out. I'm willing to take on the issue, but I will be relatively slow on updates since I'm new to contributing to a library.
Since you brought up the issue with CDS, I am thinking of not allowing CDS to be used with the "auto-splitting" feature, which would be a parameter in hbar_stack, as a temporary fix. This means that only static python data structures

[2019-06-18 04:49] bryevdv commented on #9011
There is always a CDS. If you don't pass one explicitly, then Bokeh creates one internally to use. However, I would not support a PR that makes the change you describe. Every glyph method accepts a `source` argument, without any exceptions whatsoever. This is a foundational aspect of the API and I would be -1 on adding any exceptions to it. I'm OK with with `hbar` trying to split when it can, but

[2019-06-18 04:53] bryevdv commented on #9011
Just to be clear about expectations: A PR I would accept would have zero change to current API. It would simply internally inspect the relevant columns in the CDS (that must be present) and partition the renderer stacking based on whether the array contents were all positive, or all negative.

[2019-06-18 07:34] JING1201 commented on #9011
@bryevdv I just read through our conversation and realized that I might not have conveyed my ideas very clearly. Here are some clarifications to resolve any misunderstandings:

- By saying not allowing CDS, I'm referring to the situation where the source passed in is of the type ```ColumnDataSource```. When the splitting feature is on, the hbar_stack will still accept a ```source``` parameter, but

[2019-06-18 13:40] harmbuisman opened #9012 "[BUG]RangeSlider does not handle integer precision"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh.__version__ = 1.1.0
python: 3.7.3
OS: Windows 10
browser: all

#### Description of expected behavior and the observed behavior
The value of slider does not have integer precision when I use step=1

E.g. I get values that are 8.99999999999 instead of expected 9

I understand that float precision

[2019-06-18 14:50] bryevdv commented on #9011
It *must* be of type ColumnDataSource. The CDS is the central foundational data structure of Bokeh. It is what:

* automatically synchronizes data between JS and Python
* performs fast binary transport of arrays
* recorded selections, all hit testing, hover tool, etc is due to CDS
* is what is consistently used everywhere, and documented everywhere, not using it means making and explaining a very

[2019-06-19 01:12] JING1201 commented on #9011
@bryevdv I see what you mean now. Thanks for the explanation :) Since there are so many complications, I agree with you on leaving the issue closed.

[2019-06-19 05:19] PanditPranav commented on #7544
I was facing the same issue for my python 3.7 environment which was not the root.  I was able to solve it by installing phantomjs in the root.

I was facing the same issue for my python 3.7 environment which was not the root.  I was able to solve it by installing phantomjs in the root.

[2019-06-19 11:29] figgis opened #9014 "[BUG] Impossible to set max widget/column/plot size"
### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED, IMMEDIATELY*

The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh  Project Discourse](https://discourse.bokeh.org).

For defects or deficiencies, please provide *ALL OF THE FOLLOWING*:

#### ALL software version info (bokeh, pyth

[2019-06-19 20:24] samirak93 opened #9015 "Allow slider to work on reverse range"
Hi,

Sliders work on range which increases from start range to end range. Example: `Start 1 - End 10, Start -10 - End 1`. For ranges which decrease from start to end, slider doesn't work.

Example: `Start 10 - End 1`

The slider value changes to NaN when using a decreasing range.

![image](https://user-images.githubusercontent.com/22864480/59797686-2fb9d100-9295-11e9-956d-fa5fee1c8ebc.png)

`step

[2019-06-20 08:56] figgis commented on #9014
using ffmpeg we extract some metadata from a video an convert each frame into a thumbnail, then we plot a bunch of stuff, like bitrate and if you click on plot we display the corresponding thumbnail. This was the only way we could think about to link mouse event in plot to update image.

Is there an example available on updating `Div` content from bokeh?

I'll see if I  can provide a MWE. Give me

[2019-06-20 11:07] masip85 opened #9016 "Inspection indices' filtering is very slow"
I was working on my plots (100k timeseries points) with very slow performance when zooming,panning or whatever.Them, I started to thought webGL isn't working. After many test of my script, browser, OS hardware driver ... I re-started by the easiest case. I went to website no-webgl/webgl case:

https://bokeh.pydata.org/en/latest/docs/user_guide/webgl.html

I see no difference in speed performance b

[2019-06-20 15:57] bryevdv commented on #9016
@masip85 The WebGL component no longer has an active maintainer so it's entirely possible there are regressions. That said, I always run the standard webgl examples in the repo manually before releases, and they seems to be functioning as expected. So if you are seeing something different, what we need from you is:

* detailed version, platform, browser info
* a complete example that reproduces th

[2019-06-20 16:09] bryevdv commented on #9014
Here is an example Bokeh server app. You could accomplish the same thing with a `CustomJS` callback in a non-server case.
[code]

[2019-06-20 18:19] JulianVai commented on #8421
Not quite shure if the issue has been solved, but a way to get around is by overwriting the factor attribute of the figure.x_renge object. so for your particular case will look something like :

`figure.x_range.factors = edges`

This on the docs is not completely clear and its necessary an example that covers this figure() related modifications made dynamically, i'll be glad to share an example of

[2019-06-20 18:54] bodacious-bill commented on #8841
I'd like to implement something like this, if even for my personal use.

How would I go about extending the Legend model or making a new version that could achieve this?

I'm having trouble combing through the source code and actually finding where the "legend" code hooks into the "figure" code, such as in the kwargs for the "line" function in this example:

https://bokeh.pydata.org/en/latest/docs

[2019-06-20 19:19] bryevdv commented on #8841
@bodacious-bill Almost all the work anywhere in Bokeh is actually done in BokehJS, which is written in TypeScript, e.g.

https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/annotations/legend.ts

So you would need to start going through the Developer's Guide to get set up and building BokehJS from source as a start:

https://bokeh.pydata.org/en/latest/docs/dev_guide.html

[2019-06-21 11:29] masip85 commented on #9016
Ok.

I have executed maually https://github.com/bokeh/bokeh/blob/master/examples/webgl/scatter10k.py#L6

This works. But the plot of this code that exist in the web https://bokeh.pydata.org/en/latest/docs/user_guide/webgl.html is not working. You can test in with windows and ubuntu, with firefox ,chrome or edge. You can't see webgl speedup.

And as I have already told, in https://bokeh.pydata.org/

[2019-06-21 14:55] bill-coman opened #9017 "Allow tooltips to compute and display metrics across source columns"
Hello,

This is merely a suggestion but perhaps include functionality for computing metrics across columns in the source dataframe.

Say, for example, I had a dataframe containing various metrics E.G:
quartiles: q1,q2,q3,q4  where the interquartile range(iqr) =q3-q1
_____________________________________________________
    i   |    q1      |     q2      |     q3      |     q4      |   (q3-q1)   |

[2019-06-21 15:09] bryevdv commented on #9016
In order to function, hover tool has to perform hate-testing on every mouse move. (i.e. to display a tooltip for a given point, you have first know which point, if any, out of all the points, was hit). For lines, it's even worse: for every segment, it has to perform a fairly expensive segment-intersection test for every adjacent pair of points in the line.

We use an RTree-like  spatial index to g

[2019-06-21 15:13] bryevdv commented on #9017
Please see [`CustomJSTransform`](https://bokeh.pydata.org/en/latest/docs/reference/models/transforms.html#bokeh.models.transforms.CustomJSTransform) and [`CustomJSHover`](https://bokeh.pydata.org/en/latest/docs/reference/models/tools.html#bokeh.models.tools.CustomJSHover). C.f. search for examples in the `examples` directory. For further usage questions please us the Discourse: https://discourse.b

[2019-06-21 15:13] #9017 closed

[2019-06-21 15:39] artemklopow commented on #8305
Thanks! It helped me.

[2019-06-21 15:51] bryevdv opened #9018 "Bokse Server modify_doc in thread executor"
It seems like there is no reason the `modify_doc` step could not be moved to an executor, so that the server as whole does not block during document initialization.

[2019-06-21 16:08] duynguyen2411 opened #9019 "Spinner's button on Data Table[BUG]"
I add an option NumberEditor on a column of my Data Table. But there isn't spinner's button when a cell selected.
My code:

[code]

[2019-06-21 16:08] #9019 closed

[2019-06-21 16:12] duynguyen2411 opened #9020 "Spinner's Button not displaying on cell selected of Data Table[BUG]"
I add an option NumberEditor into a TableColumn of my Data Table. But there isn't a spinner's button to control value of cell selected.

[code]

![image](https://user-images.githubusercontent.com/40625637/59936376-22951180-9450-11e9-9155-339a8b4fc1fe.png)

[2019-06-21 16:57] AntonSavchenko opened #9021 "[BUG] Bokeh movies demo auto-scaling larger than browser width"
when I open [https://demo.bokeh.org/movies](https://demo.bokeh.org/movies) demo it scales a bit larger than my browser window (tried with both Chrome and Edge on Win10) regardless of the window size and zoom level, so it always shows horizontal scroll at the bottom.
![Bokeh_movies_demo](https://user-images.githubusercontent.com/22128555/59938789-46f3ec80-9456-11e9-870c-7c52c3fdfe0d.png)

[2019-06-21 17:01] philippjfr commented on #9021
I've noticed the same thing can happen for the height, e.g. this app https://glaciers.pyviz.demo.anaconda.com/app also uses responsive sizing and goes off screen (very slightly) in my browser:

<img width="1680" alt="Screen Shot 2019-06-21 at 10 00 26 AM" src="https://user-images.githubusercontent.com/1550771/59939029-7e897700-940b-11e9-9f75-43daca07f2b6.png">

[2019-06-21 17:05] AntonSavchenko commented on #9021
If I were to guess, I'd say some padding between the subplots got larger in a recent version and they did not adjust the plot sizes to account for it...

[2019-06-21 17:05] bryevdv commented on #9021
cc @mattpap

[2019-06-21 18:46] p-himik commented on #8403
I finally updated from Bokeh 0.12.16 to 1.2.0 and now I see these errors as well.
It seems there's some race condition: this line https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/client/connection.ts#L283 gets executed before this one https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/client/connection.ts#L167
I'll try to debug this a bit more but it'd be great to have some point

[2019-06-21 18:48] p-himik commented on #8403
Huh: https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/client/connection.ts#L264-L266
[code]

[2019-06-21 19:19] bryevdv commented on #8403
@p-himik Offhand it seems like we could queue messages in `_steady_state_handler` if there is no session yet, then apply any queued messages immediately after the session is opened.

We could in fact consider using a queue for messages in general, to decouple the web socket message receiving from session actions

[2019-06-21 20:03] tony-bony opened #9022 "[BUG] "Cannot read property 'style' of null" JavaScript error when moving slider"
**ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)**
[code]
OS: Mac OS X Yosemite 10.10.5
Browser: Google Chrome  75.0.3770.100 (Official Build) (64-bit)

**Description of expected behavior and the observed behavior**
Expected behavior: No errors should be displayed in JS console
Observed behavior: Error message in JS console:
[code]

**Complete, minima

[2019-06-21 20:12] bryevdv commented on #9022
The proximate cause is setting `tooltips=False` and the ultimate problem is occurring here:

https://github.com/bokeh/bokeh/blob/8f0495bf9e99ff5c0f622d65595893258c73d615/bokehjs/src/lib/models/widgets/abstract_slider.ts#L177-L184

There is no conditioning on the code based on whether tooltips are enabled.

Thanks for the detailed report @tony-bony if you have some JS experience this would be a nic

[2019-06-21 20:39] tony-bony commented on #9022
Sure. I could try but no sooner then in 10-12 days as I'm very busy now to meet some other high-prio deadlines

[2019-06-21 21:40] tony-bony opened #9023 "[FEATURE] Extend applicability of "js_link""
Currently `js_link` requires the two linked Bokeh model properties must be of the same type.
It could be nice to also support linking model properties of different types like `int` and `str` or vice versa.

In the following example `Div.text` expects `str` while `int` is passed from the `Slider.value` resulting in an error.

[code]

**Preferred solution:**

Apply automatic type casting so the foll

[2019-06-21 22:10] bryevdv commented on #9023
There's unfortunately not any way to make this work, the linkage happens in the browser, on the JS side, not the Python side, so `str`, `int`, etc. don't exist. This is why the first argument is a *string*, because it's actually the name of the property that the JavaScript code will have to look up.

If you need this kind of conversion, you should use a standard `CustomJS` callbacks

[2019-06-21 22:10] #9023 closed

[2019-06-22 12:15] tony-bony opened #9024 "[BUG] ValueError: Out of range float values are not JSON compliant: nan"
**ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)**
[code]
OS: Mac OS X Yosemite 10.10.5
Browser: Google Chrome  75.0.3770.100 (Official Build) (64-bit)

**Description of expected behavior and the observed behavior**
Expected behavior: NaN values should be accepted and handled by the CustomJS callback
Observed behavior: NaN are accepted in ColumnDataSo

[2019-06-22 17:07] bryevdv commented on #9024
NaN values are not JSON serializable. I personally regard this as a bad decision/mistake on the part of the JSON specification, but nonetheless, it's the reality we have to contend with, and there's nothing we can do about it. Bokeh can serialize NaN values in floating point NumPy arrays, because those are not serialized using JSON. Accordingly, your only option is to put any data that might conta

[2019-06-22 17:07] #9024 closed

[2019-06-22 17:53] duynguyen2411 opened #9025 "[BUG] the spinner widget is not working in table cells."
I'm using Bokeh 1.0.4, the spinner widget is not working in table cells. I checked with Bokeh 1.2.0, i have a same problem

[2019-06-22 17:58] bryevdv commented on #9025
@duynguyen2411 how is this not a duplicate of #9020 ?

[2019-06-22 18:36] bryevdv commented on #9020
This seems like a better more detailed issue. Keeping this one and closing the other.

[2019-06-22 18:36] #9025 closed

[2019-06-22 18:42] duynguyen2411 commented on #9020
Thanks Bryan

[2019-06-22 20:33] p-himik commented on #8403
@bryevdv Thanks. :)

But the WS messages handling is synchronous, including the method that generates `PULL-DOC-REPLY` response. That means that all the queued messages will be already incorporated into the document when it arrives. So instead of putting messages in a queue and then applying them (hoping that they're idempotent) we could just discard them.
Does it make sense?

[2019-06-22 20:35] bryevdv commented on #8403
@p-himik I only made a cursory glance so definitely happy to defer to your more careful analysis

[2019-06-22 21:04] p-himik opened #9026 "[FEATURE] Ability to close sessions and removing documents from BokehJS"
Some context available here: https://discourse.bokeh.org/t/closing-bokeh-session-without-closing-the-browser/2883

Personally, I've found the need for it while using Bokeh in a web application where a user can open and close dialogs with Bokeh plots. The issue is that even if the dialog is closed (i.e. the node is completely removed from the DOM tree), the document is still there in `Bokeh.documen

[2019-06-22 21:52] #8911 closed

[2019-06-22 22:39] bryevdv commented on #8940
I don't think there is anything to actually do here

[2019-06-22 22:39] #8940 closed

[2019-06-23 01:37] bryevdv commented on #8915
So it turns out the option does have to be last, since it accepts any "left over" orgs. Unfortunately the usage example is auto-generated by argparse so I am not sure we can do anything about it. But I will add a note in the help for the individual option.

[2019-06-23 01:43] bryevdv commented on #8915
Right so more specifically, the files accepts `nargs=*` and so does `--dev`. It works to put any other option in between, e.g.
[code]
Becuase then argparse knows how to apportion the leftover args. I will see if  can move `--dev` up in the help list, and also add the note.

[2019-06-23 02:35] #8915 closed

[2019-06-23 03:05] #8944 closed

[2019-06-23 04:01] alhoo opened #9029 "Simplify remote data sources"
When creating the server sent events data source, we noticed that we had made an assumption made that all remote data sources should have polling interval defined. This was not the case with server sent events and we decided to create an new layer for web events that do not have polling interval embedded in them. This caused us to have a bit too many abstract classes with little use.

This is a pr

[2019-06-23 04:19] alhoo commented on #8186
I tested out the example and I think this issue should be closed. If you take the initial code and continue it with
[code]
you will end with the requested result:

![Screenshot from 2019-06-23 07-16-58](https://user-images.githubusercontent.com/18532562/59971567-1b245400-9587-11e9-9fd5-a25efc1b8497.png)

[2019-06-23 05:47] bryevdv commented on #8186
@alhoo is there something we could document better, or an example to add?

[2019-06-23 06:43] alhoo commented on #8186
Yeah I think the current examples do not clearly show this for new developers. I enhanced the documents to suggest that one can use the geojson data for tooltips and colors (#9031)

[2019-06-23 10:21] p-himik opened #9032 "[BUG] TypeError after replacing tools on a toolbar"
My plot should have different sets of tools depending on what is displayed.
setting `plot.toolbar` doesn't help since the toolbar model change not not handled correctly.
Executing something like `plot.toolbar.tools = new_tools_list` seems to work but results in this exception in JS console:
[code]

Both `Toolbar` and `ToolbarBaseView` attach a signal on the `tools` property change. However, the `T

[2019-06-23 10:22] p-himik commented on #9032
As a workaround, something like this seems to work, at least in my case.
[code]

[code]

[2019-06-23 10:46] tony-bony commented on #9024
OK. Thanks.
I still think it's just a little effort (possibly 2 lines of code) to include this conversion to NumPy array in Bokeh CustomJS code, just for the user convenience and for compatibility with ColumnDataSource (too much discrepancies in handling data in Bokeh)

[2019-06-23 10:47] tony-bony commented on #9023
I see. Thanks

[2019-06-23 18:02] bryevdv commented on #9024
The data in your example is in a `ColumnDataSource` and automatically converting is not a good idea for several reasons:

* anyone expecting to be able to change the underlying data from an earlier reference, after putting it into a CDS, would, get a very nasty surprise
* Everyone who doesn't want/need this conversion would be forced to pay a potentially expensive and unnecessary operation 100% of

[2019-06-23 18:04] p-himik opened #9033 "[BUG] Incompatible definitions of `VBar.width` in Bokeh and BokehJS"
In Bokeh:
[code]

In BokehJS:
[code]

`NumberSpec` doesn't specify any units but `DistanceSpec` does.
It leads to this error:
[code]
And on the Python side (not logged but sent to the UI for some reason?):
[code]

[2019-06-23 18:18] bryevdv commented on #9033
AFAIK the actual implementation in `box.ts` does not take any units into account. So the options woudl be:

* change BokehJS to `NumberSpec` (done)
* change Python to `DistanceSpec` (and change the BokehJS implementation to respect units, may be non-trivial wrt hit-testing and spatial indexing)

[2019-06-23 18:52] p-himik commented on #9033
BTW same thing with `HBar.height`. Maybe with other properties as well - didn't dwell deeper.

Just some thinking out loud:
Is it feasible to write some kind of test for this? Probably not since it's hard to know about TS from Python and vice versa. Maybe both Bokeh and BokehJS could benefit from some static description of the data that models accept?

[2019-06-23 19:39] bryevdv commented on #9033
Yes and no. We already have a test that compares all the default values. This have been critically important, since early on we would have discrepancies between Python JS and that caused huge headaches. We do also have a [`spec.py`](https://github.com/bokeh/bokeh/blob/master/scripts/spec.py) that will dump an extremely detailed specification based on the Python modes, including all the (Bokeh) typ

[2019-06-24 21:04] sridk commented on #9018
Hey, I would like to work on this. Can you assign this to me?

[2019-06-24 21:07] bryevdv commented on #9018
@sridk to do that we would need to add you to @bokeh/dev which we are always generally happy to do after someone submits an accepted PR :) Please feel free to proceed to work on this, there is no need to wait on being assigned!

[2019-06-24 21:07] bryevdv commented on #9018
Please let me know if you have any questions, need any pointers in to the code, etc!

[2019-06-24 21:10] sridk commented on #9018
okay I will start work on this.

Sure, i will. thanks!

[2019-06-25 20:11] #9016 closed

[2019-06-25 20:12] bryevdv commented on #9016
@mattpap has been able to make some impovements, we will make sure to get this out in a dev build  very soon. Any follow-on should go in new issues (link here as appropriate)

[2019-06-25 20:13] bryevdv commented on #8919
At the same time, need to document `--allow-websoket-origin` since AFAIK it's only in CLI here and refdocs.

[2019-06-25 23:47] sridk commented on #9018
@bryevdv I am trying to understand what the task is.
By modify_doc, you mean the document that is generated when a browser connects?
Also, are there any specific documentation other than developers guide that I can read up?
Thanks!

[2019-06-26 02:20] bryevdv commented on #9018
@sridk When a Bokeh server session is created, the server uses an `Application` to create a new `Document` to service that session. The document creation occurs here:

https://github.com/bokeh/bokeh/blob/e2f5a9643c48a6c7a6acfa0530da58e3cd85eed6/bokeh/server/contexts.py#L215

Right now, that happens is a synchronous, blocking manner. I.e., every time a new session is created, all other sessions in

[2019-06-26 11:18] harmbuisman opened #9035 "[BUG] Spinner only considers 1 decimal"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh.version = 1.1.0
python: 3.7.3
OS: Windows 10
browser: all

#### Description of expected behavior and the observed behavior
I have a Spinner for numeric input set to a step of 0.01, but the output of the spinner only considers 0.1 changes and values.

The problem occurs both with changing the va

[2019-06-26 19:00] bryevdv commented on #8666
I put up and tweeted a poll about `PolySelectTool` https://discourse.bokeh.org/t/remove-polyselecttool-for-2-0/3660 It seems some folks do use it so I guess we will keep it for now, warts and all.

[2019-06-26 20:04] jareducherek opened #9036 "[FEATURE] New Graph Selection/Inspection Policy: Node, Linked Edges, and Linked Nodes"
I am currently using the `NodesAndLinkedEdges()` policy for my graph inspection policy and selection policy. Currently, a node is selected, and it becomes highlighted along with every edge leading in or out of that node. **However, I want every node attached to the highlighted edges to also be highlighted.**

If someone could help clarify where exactly the NodesAndLinkedEdges() class is actually i

[2019-06-26 20:46] bryevdv commented on #9036
@jareducherek This would be great to have for sure. Just FYI in case it's not known: most of the work in Bokeh is not done in Python, it's done in the BokehJS library. The implementation of the graph hit test policies is here: [graph_hit_test_policy.ts](https://github.com/bokeh/bokeh/blob/master/bokehjs/src/lib/models/graphs/graph_hit_test_policy.ts)  ([unit tests](https://github.com/bokeh/bokeh/b

[2019-06-26 20:47] bryevdv commented on #9036
cc @canavandl

[2019-06-27 07:30] Karel-van-de-Plassche commented on #7853
With 2.0 coming up and my ion.RangeSliders breaking, so I'll have to fix them anyway, maybe a good moment to revisit this? Is the JS API stable enough to set up something reusable and long-term?

[2019-06-27 20:53] Karel-van-de-Plassche commented on #7852
The changes to `AbstractSlider` seem significant, and to make my sliders work again I need quite some more work than I expected, not helped by the fact that I've never really coded in JS/TS before. I think I can make it work, but it ain't gonna be pretty. A lot of methods in `AbstractSlider` look mode for `noUiSlider` specifically (not strange, as it is the only slider in bokeh), so it might make

[2019-06-28 16:58] p-himik commented on #8856
Since I've just spent half a day trying to debug application logging configuration being hijacked by some other libraries, I'd like to add my five cents.

Situations where you need to call `basicConfig` in application code:
- You implement `__main__`
- You don't implement `__main__` but use some wrapper that doesn't have its own logging configuration.

Situations where you need to call `basicConfi

[2019-06-28 17:28] bryevdv commented on #8856
I'm happy to entertain any proposals for changes or updated that satisfy one hard, fast, absolute requirement:

* Deprecation warnings *must* be forced to be visible

That is literally all I care about. I regard it as frankly irresponsible that the default Python state for deprecation warnings is that they not be visible. This just means that most users never ever see them. Nad more importantly, i

[2019-06-28 17:59] p-himik commented on #8856
@bryevdv A good requirement, but it has nothing to do with logging. That is, unless a user replaces the default Python warnings handling. But in that case, all the best are off anyway.
So all should be good, no matter what logging solution will be implemented within Bokeh.

[2019-06-28 20:16] bryevdv commented on #8856
@p-himik AFAIK all the current bokeh logging code is in place specifically to service that goal. But I didn't write it, and  its not an area of expertise for me, so I might just be wrong. I would be very happy to delete all our logging code if it's proved not actually necessary or useful. But this is a task someone else will have to drive.

[2019-06-28 20:16] bryevdv commented on #8856
The relevant files (AFAIK) are

https://github.com/bokeh/bokeh/blob/master/bokeh/__init__.py
https://github.com/bokeh/bokeh/blob/master/bokeh/util/logconfig.py

[2019-06-28 20:27] p-himik commented on #8856
@bryevdv Only this code is relevant to the warnings: https://github.com/bokeh/bokeh/blob/master/bokeh/__init__.py#L84-L101. Although, I'm not that sure about the custom implementation of `formatwarning` - I'd leave it for the application level as well. Overriding built-in methods at a library level is bad.

Default Python implementation (which is being used here, unless a user has already overridd

[2019-06-28 20:32] p-himik commented on #8856
BTW a nice implementation reference is the Tornado's one. It customizes message format, date format, colors, rotation, and it ties it all to its CLI options. The only issue I have with it is that if you want to use Tornado's `options` module, you will have the `INFO` logging level set as the default, plus some logging setup (but it's done only if you haven't configured any handlers yourself).

[2019-06-28 20:54] lunarspectrum commented on #8856
@p-himik and @bryevdv , the bug I submitted is simpler than all of this (I think). When you run `bokeh serve`, the basicConfig command gets called here:
[https://github.com/bokeh/bokeh/blob/master/bokeh/command/subcommands/serve.py#L553](https://github.com/bokeh/bokeh/blob/master/bokeh/command/subcommands/serve.py#L553)
which overrides any call of `basicConfig` that a user may have in their app.

[2019-06-28 21:24] p-himik commented on #8856
@lunarspectrum The bug is simpler only on the surface. A proper solution should not require fiddling with already configured handlers.

[2019-06-29 20:56] sridk commented on #9018
@bryevdv I have created a PR for this issue #

[2019-06-29 20:57] sridk commented on #9018
@bryevdv I have created a PR #9037

[2019-06-30 05:02] #8186 closed

[2019-07-01 00:38] sridk commented on #9018
@bryevdv  how many workers should I initialize thread pool executor to?

[2019-07-01 14:20] bryevdv commented on #9018
I don't have strong feelings about this. How about default to `None` for now, which is the default for `ThreadPoolExecutor` that causes it to auto-choose the number and we can look at making it user-configurable later.

[2019-07-01 15:00] harmbuisman opened #9038 "[BUG] Legend multi_line plot does not show if column is not present at definition time"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh.version = 1.2.0
python: 3.7.3
OS: Windows 10
browser: all

#### Description of expected behavior and the observed behavior
One can assing a datasource to a multi_line plot and in that definition point to the name of the x, y and legend columns. If at the moment of defining the multi_line the da

[2019-07-01 15:11] m3bert commented on #9015
Hello,
I've posted a possible solution to your problem here: https://discourse.bokeh.org/t/slider-reverse-start-end/3620/3

However it would need a fix anyway, such that NaN doesn't show up anymore or an error is raised if start>end.

[2019-07-02 13:22] bill-coman commented on #8841
Regarding the `click select` concept, could the `reset` button not be used to restore initial state where nothing is muted?

Perhaps an initial click could mute all but the entry which was clicked.  Subsequent clicks could then be used to unmute specific muted entries?  Although I have no idea how difficult this might be to accomplish.

The `reset` button seems reasonable all the same?

Regards,

[2019-07-02 14:18] bryevdv commented on #9038
The computation of the legends happens when `multi_line` is called. The next step is things are serialized, and things hit the browser. There is not a good point where this computation can be deferred. I am skeptical we can do more than simply document the necessity to have the data source prepared appropriately.

[2019-07-02 14:19] bryevdv commented on #9038
cc @birdsarah in case you have thoughts

[2019-07-02 23:58] bryevdv commented on #8397
@jakirkham @martey OK an update and a question. I am in the process of setting up *cdn.bokeh.org* to replace *cdn.pydata.org* (we will have to make sure the old links work basically forever, though) I am planning to use an s3 bucket and CloudFront. I have already set this up, in fact, e.g

https://cdn.bokeh.org/bokeh/release/bokeh-1.2.0.js

Looking at the kinds of metadata that can be added to S3

[2019-07-03 03:03] #9022 closed

[2019-07-03 20:10] PatrikHlobil opened #9044 "[TASK] Add Downstream Tests for Pandas-Bokeh"
@bryevdv asked me to add downstream tests for Pandas-Bokeh (https://github.com/PatrikHlobil/Pandas-Bokeh/issues/26). I tried to add it in the corresponding pull request.

Thanks Patrik

[2019-07-04 23:59] stauntonjr commented on #2581
Was that method removed? It still "works" in Bokeh 1.2.0 and still returns a dict instead of a bokeh.models.sources.ColumnDataSource

[2019-07-05 02:26] bryevdv commented on #2581
@stauntonjr I don't really understand which method you are asking about. `from_df` returns a dict, as intended and documented, and has done so for many years now.

[2019-07-05 12:56] Karel-van-de-Plassche commented on #7852
I have build the slider to work with 1.1.0 and newer again: https://github.com/Karel-van-de-Plassche/bokeh-ion-rangeslider/tree/bokeh-1.1.0

[2019-07-06 13:02] cassiotbatista opened #9047 "[BUG] Can't interact with multiple RangeTools"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

bokeh.version: 1.2.0
Python version: 3.5.3
OS: Debian GNU/Linux 9.9 (stretch)
System info: SMP Debian 4.9.144-3.1 (2019-02-19) x86_64
Browser: Google Chrome 75.0.3770.100 and Mozilla Firefox 60.7.2

#### Description of expected behavior and the observed behavior

I'm working on a customised version

[2019-07-06 17:30] kylrth commented on #9047
Looks like only one RangeTool can be active in a single plot at a time:

![multiple_ranges](https://user-images.githubusercontent.com/5044802/60759360-ae2ea680-9fe9-11e9-8755-fa0f7f05b669.gif)

This can be worked around by using multiple plots, but this should be fixed.

[2019-07-06 18:13] bryevdv commented on #9047
Ah of course. Currently there is a notion that only a single tool can be active at a time for a given gesture type (e.g. a single "drag" tool). So to extend this we could either:

* make a single RangeTool be potentially responsible for multiple manipulable ranges at once, or
* broader the "single gesture at a time" assumption, but as little as possible i.e. maybe multiple instances of the same to

[2019-07-06 22:00] duynguyen2411 commented on #7852
I try to use your new slider But there is an error :

Compilation failed:

ion_range_slider.ts:226:16 - error TS2339: Property 'value_throttled' does not exist on type 'IonRangeSlider'.

226     this.model.value_throttled = this.model.value

[2019-07-06 22:28] bryevdv commented on #7852
`value_throttled` is new as of the very last release. Your installed Bokeh version is to old to use this code.

[2019-07-06 22:54] duynguyen2411 commented on #7852
Not work with bokeh 1.1.0 but it works with 1.2.0

[2019-07-06 23:31] bryevdv commented on #7852
1.2 was the very last release, so that is when `value_throttled` was added. It did not exist in previous releases (hence the error)

[2019-07-06 23:34] Karel-van-de-Plassche commented on #7852
My mistake, indeed, I only tested it for the latest bokeh, so the branch
name is a bit of a misnomer

On Sun, Jul 7, 2019, 01:31 Bryan Van de Ven <notifications@github.com>
wrote:

[2019-07-08 07:56] saurabhkumar commented on #7419
Python 3.6.8
Bokeh 1.2.0

I am not able to use the hover tool with the step function (there is no error but the tooltip does not show up). Is there any alternative possible if the problem is not fixed in the current version? My problem is that I have a timeseries data (discrete values) and if I use the line function, the hover tool gives interpolated values in between two points which are not mean

[2019-07-08 16:10] bryevdv commented on #7419
Right, it has not been implemented yet. The previous PR was just to keep things from blowing up if a step and hover tool were present at the same time.

There might be some ways, but none of them are great. E.g. you could potentially use `segment` to draw the horizontal parts of the step line. These would just be to drive hit testing, so they could be made invisible (i.e. set `alpha=0`).

[2019-07-08 18:39] kenxle commented on #8402
Also running into an issue with vbar_stack. The usual bokeh update paradigm doesn't seem to work.

Expected:
`self.data_source.data.update(ColumnDataSource(data=self.data).data);`

But that doesn't seem to work. Is the example above what we should be doing for vbar_stack updates?

[2019-07-09 01:34] martey commented on #8397
My experience with CloudFront is limited, but the references I could find online all suggest [using Lambda@Edge to add custom headers like `Content-Security-Policy`](https://aws.amazon.com/blogs/networking-and-content-delivery/adding-http-security-headers-using-lambdaedge-and-amazon-cloudfront/). You could also use a [meta tag](https://developers.google.com/web/fundamentals/security/csp/#the_meta_

[2019-07-09 02:41] bryevdv commented on #8397
My understanding is that setting CSP means that the CDN would refuse to load except from script tags that provide an SRI to check. Which seemed like a good idea at first but now that I have though about it, does not seem like such a good idea. I am working nearly in the dark here (which is actually a large part of my reticence to act @jakirkham)  I'm working on updating our release automation to s

[2019-07-09 09:20] figgis commented on #9014
Here is a MWE.

The idea is that we want the plot to scale up to a maximum defined value (horiz and vert) and not indefinitely as it is now.

[code]

[2019-07-09 15:21] bryevdv commented on #9014
I'm not sure I understand, when I run your code, with "scale_width", the output appears to be scaled to the width (which means it can extend below the bottom, if you make the window wide), as expected. Are you saying you are seeing something different?

<img width="894" alt="Screen Shot 2019-07-09 at 8 21 06 AM" src="https://user-images.githubusercontent.com/1078448/60901278-870ee980-a222-11e9-939

[2019-07-09 15:29] bryevdv commented on #9014
If you want the plot to fill the space, even if that means the aspect ratio changes, then you want "stretch", not "scale". The "scale" modes speficically scale both dimensions to always retain the original aspect ratio (even if that means part of the plot goes off screen)
[code]
That yields

<img width="1288" alt="Screen Shot 2019-07-09 at 8 27 00 AM" src="https://user-images.githubusercontent.com

[2019-07-09 15:36] philippjfr commented on #9014
I think you are looking for the ``max_width`` and ``max_height`` arguments. If you change your code to:

[code]

It works as you would expect I believe.

[2019-07-09 19:34] shughes-uk opened #9049 "[DOCS] Developer notes rendered in live docs"
"TODO rewrite this"
<img width="1892" alt="Screen Shot 2019-07-09 at 12 31 55 PM" src="https://user-images.githubusercontent.com/546891/60917405-c00c8580-a245-11e9-8733-4ecf70485489.png">

[2019-07-10 00:42] ssleva opened #9050 "Typo/Misspelling on Mapping Geo Data page[BUG]"
There is a typo on the Mapping Geo Data page, link here:
https://bokeh.pydata.org/en/latest/docs/user_guide/geo.html

The sentence currently reads: "Please tell use your use cases through the mailing list or on github so that we can continue to build out these features to meet your needs."

The sentence should read: "Please tell us your use cases through the mailing list or on github so that we ca

[2019-07-10 00:46] bryevdv commented on #9050
Thanks for the catch @ssleva would you like to make the Pull Request to fix this? The relevant file to edit is here:

https://github.com/bokeh/bokeh/blob/master/sphinx/source/docs/user_guide/geo.rst

[2019-07-10 00:48] ssleva commented on #9050
Sure.

[2019-07-10 07:29] figgis commented on #9014
This is exactly what I was looking for. Can't find `max_width, height` in the documentation though.

Thanks for the support and sorry for not explaining the problem in a better way.

[2019-07-10 07:29] #9014 closed

[2019-07-10 12:01] noamnav commented on #2325
To @bryevdv  [comment request](https://discourse.bokeh.org/t/box-lasso-select-tool-with-patches/3713/2) :
A 'hit' should in my opinion be greedy and relate to any patch the selection rect / polygon / lasso comes in touch with - similar to Qgis. Autocad also behaves this way with one added functionallity: rectangular selections from left to right are 'greedy', i.e. they select any geometry they tou

[2019-07-10 17:30] brentertainer opened #9051 "CustomJS args breaking HTML generation after updating from 1.0.4"
I recently updated bokeh from 1.0.4 to 1.2.0, and I am experiencing issues with CustomJS. The gist of the problem is that passing certain types of arguments to CustomJS causes errors that prevent anything from being displayed in exported HTML files. Here is a minimal example that reproduces the issue.

[code]

With bokeh 1.0.4, the Python and JS code work as expected. In bokeh 1.1.0/1.2.0, the res

[2019-07-10 18:24] bryevdv commented on #9051
This is almost certainly and order of initialization issue. i.e. when the `CustomJS` is initialized on the JS side, plots and renderers are not yet initialized, so trying to hook up their events fails. But by chance some things are already initialized (e.g. titles) so they do work.

[2019-07-10 21:29] bryevdv opened #9052 "Let source.data accept DataFrame"
This has come up a few times in support questions recently:
[code]
It does not work, AFAIK, but also does not seem to error either. We should add a `.accepts` to make this work.

[2019-07-10 21:31] bryevdv commented on #9052
Well it does error:

But maybe people are missing it (the entire df gets printed and the exception is at the top)

[2019-07-11 04:50] #9044 closed

[2019-07-11 06:52] bryevdv opened #9054 "Fix YAMLLoadWarning in deps.py"

[2019-07-11 09:55] Karel-van-de-Plassche commented on #7853
Maybe we can think of something more softly coupled, there is already a bit in place, for example the downstream tests in `scripts/ci/test.downstream`. On a side note, I think these tests should
 not have `exit 0` but instead should be allowed to fail https://docs.travis-ci.com/user/customizing-the-build/#rows-that-are-allowed-to-fail. It would also be nice to have a mechanism for the downstream a

[2019-07-11 13:15] harmbuisman opened #9055 "[BUG/FEATURE] Multiple tooltips showing for same patch"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
bokeh.version = 1.2.0
python: 3.7.3
OS: Windows 10
browser: all

#### Description of expected behavior and the observed behavior
I have a shapefile of the Netherlands provinces and when I define a tooltip I get in some locations of the map double, triple or even quadruple tooltips for the same region

[2019-07-11 13:27] poplarShift commented on #8891
So I had a look at this a while ago. While it's clear what should be done (check whether the attribute exists and if yes, if there's a unique angle given and if yes, use that value) I'm not familiar enough with typescript across different browsers (e.g. one of my implementations used Set, so didn't work everywhere) nor with what utils bokeh already has (I would think that tasks like these are rout

[2019-07-11 14:00] bjarthur commented on #4817
is there a way to have a TextInput label appear to the left of the box instead of above it and left justified?

[2019-07-11 15:08] bryevdv commented on #4817
For that put a `Div` and  `TextInput` (without a label) together in a `Row` or a `GridBox`

[2019-07-11 21:21] #9052 closed

[2019-07-12 01:16] bryevdv commented on #9050
I went ahead and fixed it in 3dd0f355e255cb850e970e2472d9664cec379142 in the web UI so it can be sure to be in the next release. Thanks for the catch @ssleva !

[2019-07-12 01:17] #9050 closed

[2019-07-12 01:17] #9054 closed

[2019-07-12 01:18] bryevdv commented on #8981
This was closed in #9013

1.

[2019-07-12 01:18] #8981 closed

[2019-07-12 01:25] bryevdv commented on #6096
@philippjfr I am going to see about doing this now, so it can be in the next release.

[2019-07-12 01:40] bryevdv commented on #6096
Oh wow I didn't notice you use `FileReader` and return actual contents. I'm definitely not going to do that for this version. Just return the filename and let users decide what to do with it.

[2019-07-12 07:01] p-himik commented on #7607
A workaround:
[code]

[code]
Usage:
[code]
Note that it works in my case but YMMV. Most likely, you will need to modify something to accommodate it to your needs.
A proper implementation can probably build on this, but I think ultimately it will require some modification to the existing Bokeh code.

[2019-07-12 12:45] mattpap opened #9057 "Add support for mypy and start statically typing bokeh"
Given that we are dropping Python 2 support, enabling mypy is finally possible (without going through hoops). We will take the same gradual typing approach as we did with TypeScript, so every new statically typed module will have to be enabled in `setup.cfg`, at least until we have enough coverage to reverse this logic and explicitly disable untyped modules.

[2019-07-12 16:21] slegallamiral opened #9059 "[BUG] Error using AjaxDataSource while x abscissa is DateTime"
Using Bokeh 1.2.0

I started using AjaxDataSource to update periodically my graphics and everything works fine when x abscissa values are integer.
I wanted to make it work with dateTime as x-abscissa but my graphics stays empty. Seems that there is a issue with dateTime as x-abscissa

Below my code
[code]

[2019-07-12 16:32] bryevdv commented on #9059
BokehJS expects date times as ms-since-epoch, is that what your REST endpoint is providing?

[2019-07-12 16:47] slegallamiral commented on #9059
My Rest Api give me date like this : "2019-07-12T16:00:46.082Z".
When I'm not using AjaxDataSource, my bokeh graphics is well displayed. But when I use AjaxDataSource, the bokeh graphics stays empty

[2019-07-12 16:57] bryevdv commented on #9059
You will have to convert them to proper numerical timestamps, not strings. But this is s support/usage issue so I will direct to the project Discourse to discuss further: https://discourse.bokeh.org

[2019-07-12 16:57] #9059 closed

[2019-07-12 20:56] bryevdv opened #9060 "Color regex needs raw string"
Warning in CI:

  /home/travis/build/bokeh/bokeh/bokeh/core/property/color.py:137: DeprecationWarning: invalid escape sequence \d
    value = colors.RGB(*[int(val) for val in re.findall("\d+", value)[:3]]).to_hex()

[2019-07-13 03:18] #9060 closed

[2019-07-13 04:12] bryevdv commented on #8441
This is a dupe of #8934 which I have a PR inflight for.

[2019-07-13 04:12] #8441 closed

[2019-07-13 04:15] bryevdv commented on #6728
there is an inflight PR for #8934 that will fix the original reported issue (dupe) but it will not affect anything with enabled/disabled so I will re-purpose this issue for that.

@mb-magnitude there is no update, if there were it would be here. There are unfortunately many more issues than contributors at the present time so some things will simply take a long time to get to.

[2019-07-13 04:16] bryevdv commented on #8015
I am fixing this in a PR for #8934

[2019-07-13 04:52] bryevdv commented on #8898
Unfortunately this will be a little more work than I thought, as I started looking into it. Basically, the widget will have to keep track of the value type explicitly, so that it can return values as given. (Right now the DOM element values are stored as strings, so they will have to be converted as necessary)

Also It occurs to me maybe we could make something with functions work with a little cl

[2019-07-13 05:39] #9057 closed

[2019-07-13 10:02] mattpap opened #9064 "Add static typing to bokeh"
This is a meta issue for adding static typing to bokeh:

- [x] `bokeh.palettes`
- [ ] `bokeh.embed.standalone`
- [ ] `bokeh.util.string` @mborus

[2019-07-13 10:11] mansenfranzen commented on #9064
[ ] bokeh.embed.wrappers

[2019-07-13 10:14] PacoPacov commented on #9064
- [] `bokeh.embed.notebook`

[2019-07-13 10:36] mborus commented on #9064
finished bokeh.util.string, will do more in .util

[2019-07-13 11:58] jbednar commented on #8898
Sounds good; thanks for looking into this!

[2019-07-13 12:22] mansenfranzen opened #9065 "[BUG] Development guide missing `test` argument for conda install and pytest install failure on windows"
### Missing `test` argument

The current [developement guide](https://bokeh.pydata.org/en/latest/docs/dev_guide/setup.html#conda-packages) is missing the `test` argument for windows setups.

As for OSX / Linux (bash / sh), it is:
- ```conda install `python scripts/deps.py build run test```.

As for windows, the `test` argument is missing for the `deps.py`:
- ```conda install $(python scripts/deps.

[2019-07-13 13:36] enricapq commented on #9064
[] bokeh.util.options

[2019-07-13 13:39] mansenfranzen commented on #9064
- [ ] bokeh.util.serialization.py

[2019-07-13 14:19] enricapq commented on #9064
- [ ] bokeh.util.datatypes

[2019-07-13 14:32] mborus opened #9070 "Improve bokeh/util/logconfig.py call signature"
bokeh/util/logconfig.py
in branch landing-2.0, version 1.1.0

regarding:
def basicConfig(*args, ''kwargs):

`logging.basicConfig(*args, **kwargs)`
but should only call
`logging.basicConfig(**kwargs)`

*args should be removed from parameters, it seems that
no other code used args to call it..

### FOLLOW THESE INSTRUCTIONS CAREFULLY

*ISSUES THAT DO NOT CONTAIN NECESSARY INFORMATION MAY BE CLOSED,

[2019-07-13 17:40] GenevieveBuckley opened #9073 "[DOCS] page for selection tools does not tell users how to get the values/indices of the selection"
I've been talking with another bokeh user at Scipy 2019 and found we shared very similar frustrations when starting to work with bokeh selections. The problem is the [documentation page for selection tools](https://bokeh.pydata.org/en/latest/docs/user_guide/tools.html#boxselecttool
) at bokeh.pydata.org does not include information on how you can get the indices/values after you have selected some

[2019-07-13 17:42] jsignell commented on #9073
Is it this one https://bokeh.pydata.org/en/latest/docs/reference/events.html?

[2019-07-13 17:59] bryevdv commented on #9073
I would suggest the "Data Sources? chapter is a good place to add docs for selections:

* they live on data sources
* that chapter is not already too-overly-long like some others

[2019-07-13 18:07] #9065 closed

[2019-07-13 18:09] timsnyder commented on #9049
This can probably be folded into #8834

[2019-07-13 22:44] #8921 closed

[2019-07-13 22:44] #8923 closed

[2019-07-13 22:51] bryevdv commented on #9070
@mborus do you intend to submit a pr for this?

[2019-07-13 23:16] #8015 closed

[2019-07-13 23:16] #8934 closed

[2019-07-13 23:17] bryevdv commented on #6728
Noting for the future that DatePicker is one of the few remaining widgets that needs selenium tests added.

[2019-07-13 23:29] bryevdv commented on #9035
I am not sure we can do anything about this. The current behavior, which limits the significant digits of spinner-updated values to the number of significant digits in the step, was introduced in https://github.com/bokeh/bokeh/pull/8796 in response to serious rounding issues that rendered the slider unusable. This I would merely consider an inconvenience, and I am not sure how to do anything about

[2019-07-13 23:48] bryevdv commented on #9033
we should make a follow on issue about the broader concerns, but the immediate fix (updating JS to specify `NumberSpec`) should not wait on that.

[2019-07-13 23:49] bryevdv commented on #9032
@p-himik I am pretty maxed out on bandwidth. If you have a workable solution that is not very intrusive *(which it looks like you do?) then a PR would be welcome.

[2019-07-13 23:51] bryevdv commented on #9055
Will have to investigate, guessing it is showing a tooltip for each sup-patch in a multi-part patch. @harmbuisman if you have any way to help confirm that hypothesis it would be useful in the mean time. I should also mention there is not `MultiPolygons` which can express "patches with holes" that might be more suitable for GIS uses

[2019-07-13 23:52] bryevdv commented on #9026
@p-himik do you have an API proposal?

[2019-07-13 23:57] bryevdv opened #9074 "Support expiration for session creation"
Encode an optional expiration timestamp with signed session id's and refuse to create the session if the id is expired. Propose adding server option `--session-expiration-duration` which will be added to UTC `now()` when the signed session id is created, and then checked against UTC `now()` when the session is to be created in the server.

[2019-07-14 04:48] bryevdv opened #9076 "Publish source mapping files to CDN"
E.g.

This (AFAIK) will suppress the annoying 404s users see and that also show up in the CDN logs.

cc @mattpap

[2019-07-14 10:23] afettouhi opened #9078 "[BUG] Can't import Bokeh in Jupyter notebook"
I have set up a fresh python 3 environment with miniconda3 only installing bokeh in it. I have verified the installation and version of bokeh

`(demo-pandas) [af@andre demo-pandas]$ python`
`Python 3.7.3 | packaged by conda-forge | (default, Jul  1 2019, 21:52:21) `
`[GCC 7.3.0] :: Anaconda, Inc. on linux`
`Type "help", "copyright", "credits" or "license" for more information.`
`>>> import bokeh`

[2019-07-14 11:25] afettouhi commented on #9078
Please ignore this. I figured it out. Was using the jupyter notebook from my base install of miniconda3 and in there bokeh wasn't installed. I fixed this by installing jupyter into my fresh python3 environment.

[2019-07-14 11:25] #9078 closed

[2019-07-14 18:21] timsnyder opened #9080 "[DOCS] Update links to bokehplots.com, gitter and mailing-list"
Dev documentation still points to https://bokehplots.com/pages/contact.html.  bokehplots.com has out-dated information and is being deprecated.  On the gitter @bryevdv said he want's those links to point to bokeh.org instead.

[2019-07-14 18:47] timsnyder commented on #9080
@bryevdv , there are a number of links out to bokehplots.com from the release notes in `sphinx/source/docs/releases/` and on blog.bokeh.org.   What are your thoughts on updating those links?

It's probably right to leave them alone.  I think most people understand that the release notes make sense at the time of release but things get updated as newer releases are made.  However, I could see how y

[2019-07-14 19:04] bryevdv commented on #9080
If there is a reasonable new link to update to, my ideal preference is definitely that they be updated. That said, I don't think it's a high priority so if it's a lot of work, or excessively tedious, leaving them alone is also fine.

[2019-07-14 19:30] 02akshay commented on #8273
Try this gridplot([p1,p2],[])

[2019-07-14 19:39] bryevdv commented on #8273
@02akshay You will have elaborate, without context it's not obvious what point you are trying to make. Are you saying that snippet works? doesn't work? does something unexpected?

[2019-07-14 20:32] bryevdv commented on #9049
FYI @timsnyder hoping to have an RC tomorrow and release tuesday or so. If you won't get to this before then let me know and I will make the change in the GH web UI.

[2019-07-14 20:58] bryevdv commented on #9076
I can imagine doing this postproc with `sed` or `perl` but I think it would be cleaner to have it be an option passed somehow to `node make` that is conditionally set on full release builds.

[2019-07-14 21:01] #8919 closed

[2019-07-14 22:07] timsnyder commented on #9080
There aren't that many.  I think most of them are links to the "roadmap" and I see https://bokeh.org/roadmap/ that looks like the right place to link.

After taking the contacts.rst out, I was curious whether Sphinx checked for broken refs in the documentation.  Looks like there is a configuration called 'nitpicky' that can warn about those. https://www.sphinx-doc.org/en/master/usage/configuration

[2019-07-14 22:11] bryevdv commented on #9080
The issue with checking links during the build is that it makes the build take longer but more importantly, sometimes the build gets broken due to things outside your control (e.g. we used to check GH issue links, but occasionally GH is down and when that happens the build broke for no good reason). I would very much like to start performing link checks on our site but I think I'd rather do it out

[2019-07-14 22:20] timsnyder commented on #9080
Makes sense.  Also looks like sphinx nitpicky gets confused about what's available in the autogenerated refguide stuff:
`Warning, treated as error:
/home/ubuntu/environment/sphinx/source/docs/dev_guide/models.rst:41:py:class reference target not found: bokeh.core.properties.Property`

[2019-07-14 22:35] timsnyder commented on #9080
@bryevdv , has the bokeh-dev mailing list mentioned on the [bindings page](https://bokeh.pydata.org/en/latest/docs/dev_guide/bindings.html) moved onto the discourse as well?

[2019-07-14 22:36] bryevdv commented on #9080
Bokeh dev was shuttered a long time ago. The nearest thing now is the Development category on the Discourse:

https://discourse.bokeh.org/c/development

[2019-07-14 23:13] bryevdv commented on #9049
@timsnyder FYI in the interests of time I just pushed a change from the GH web UI to master (living on the edge!)

Fixed in https://github.com/bokeh/bokeh/commit/36ddfe4c39128b07c21138e5fc5f84b6db8e245c

[2019-07-14 23:13] #9049 closed

[2019-07-15 04:08] #6096 closed

[2019-07-15 04:13] bryevdv commented on #8872
closed by #9084

[2019-07-15 04:14] #8872 closed

[2019-07-15 17:23] mattpap commented on #9076
`*.map` file references shouldn't be an issue unless someone opens up devtools, in which case it would be actually good to have them available for ad-hoc debugging. Based on a cursory check, I don't see them being available on the CDN. Perhaps we should upload them instead?

[2019-07-15 17:51] p-himik commented on #9032
It will be a bit more intrusive since a proper fix would also change `ProxyToolbar`. I'll come up with a PR soon.

[2019-07-15 18:04] bryevdv commented on #9076
Right, they are not on the CDN, we could certainly start to upload them as another option if that is useful. I don't have a clear/strong opinion here.

[2019-07-15 18:19] mattpap commented on #9076
It would be useful, because I already needed to debug bokeh on-line several times, where minified resources were used, and only options were either to reproduce things locally (not always possible) or to try debugging minified (or half pretty printed) code, which is no fun.

[2019-07-15 21:18] timsnyder opened #9086 "[FEATURE] add favicon support to Bokeh server"
in bokeh/demo.bokeh.org#14 I reported that https://demo.bokeh.org doesn't have a [favicon](https://en.wikipedia.org/wiki/Favicon).  @bryevdv pointed out that nothing coming from a Bokeh server will have it set.

favicon support in bokeh server would help applications appear more "polished" to users because favicon is displayed by most browser clients in the 'tab' along with the <title> (from insid

[2019-07-15 21:20] timsnyder commented on #9086
@bryevdv , I noticed that http://demo.bokeh.org also has "Bokeh Applications" as it's title.  If Bokeh server doesn't support customizing the page's title, we should probably do that along with the favicon support.

[2019-07-15 21:54] p-himik commented on #9032
OK. First of all, I hate TS. With passion. 95% of the time has been spent chasing obscure type errors. Understanding and debugging C++ w/boost templates compilation errors was more fun.

Second of all, the tests hate me.
For example, among dozens of other errors, I get this one:
[code]
I have added
[code]
to the test, just above the
[code]
And it outputs `PROXY 3`! WTH? Where on Earth does it get

[2019-07-15 22:34] bryevdv commented on #9086
@timsnyder That page is a template, so the title can be anything the template specifies. It is currently set here:

https://github.com/bokeh/demo.bokeh.org/blob/master/index.html#L4

[2019-07-15 22:37] bryevdv commented on #9032
Sorry you are not having a great experience with it. I can state that just the process of porting to it caught several latent bugs and errors just in that process, and since the port I've definitely been prevented from checking in bugs by it. Thanks for your patience in working with it, and if there is something we can do to help make things smoother please let us know.

[2019-07-15 23:10] bryevdv opened #9087 "Provide hit_filter property on HoverTool and TapTool"
`HoverTool` (edit: and `TapTool`) should gain a new property:
[code]

A hit filter is a model with an `execute` method that accepts a `Selection` as well as a renderer model. To be used in the selection manager in the inspect codepath:
[code]

The purpose of the hit filter is to be able to modify the initial raw hit test restult, i.e. by pruning `.indicies` down to only 1 result, etc. or it can re

[2019-07-15 23:16] p-himik commented on #9032
Seems to work fine now.

@bryevdv Oh no, sorry for that rant. I completely get the virtues TS provides for projects similar to Bokeh (big code base, multiple contributors from different backgrounds). It's just that I'm mostly used to writing code for other kinds of projects, with no such needs.

[2019-07-16 06:08] bryevdv commented on #9029
This was closed by #9030

[2019-07-16 06:08] #9029 closed

[2019-07-16 06:13] bryevdv commented on #8893
@solstag can you go ahead and submit a PR for your branch? I want to make sure this does not get forgotten before 2.0

[2019-07-16 06:19] bryevdv commented on #8891
Currently can plot up to 100s of thousands of scatter markers. I think uniquing arrays that big on renders would have a prohibitively adverse affect on performance. I'd need to see some benchmark evidence to the contrary before merging this approach.

[2019-07-16 06:32] bryevdv commented on #8281
Actually on further thought, this is exactly expected behavior. The `figure` methods are higher level and do things like automatically configure selection/non-selection glyphs behind the scenes, if none are supplied. But glyph objects like `MultiLine` are low level and do not do anything like that. You would need to manually set up everything, e.g. selection/non-selection glyphs.

[2019-07-16 06:32] #8281 closed

[2019-07-16 07:17] bryevdv commented on #7901
This was done at some point on `landing-2.0` (not sure what PR or if there is a dupe issue)

[2019-07-16 07:17] #7901 closed

[2019-07-16 07:18] bryevdv commented on #7656
Going to call this a dupe of #9073

[2019-07-16 07:18] #7656 closed

[2019-07-16 07:21] bryevdv commented on #7512
If that's the case, let's close this? This would be a much heaver process than just changing a tag on a forked repo in our org. I will proactively close this now, but if you feel strongly otherwise, certainly re-open.

[2019-07-16 07:21] #7512 closed

[2019-07-16 07:34] bryevdv commented on #7065
So I Iooked more into this, and the very best and only thing we could do is to also log the detailed message contents. But we already do that! You just have to raise the log level to "debug" to see it:

https://github.com/bokeh/bokeh/blob/e2f5a9643c48a6c7a6acfa0530da58e3cd85eed6/bokeh/server/protocol_handler.py#L103

[2019-07-16 07:34] #7065 closed

[2019-07-16 07:34] p-himik commented on #9026
There are 3 main components here: `Document`, `ClientSession`, and `ClientConnection`.
Initially, it's all tied together in an instance of `ClientConnection`. But after that, the only way to manage it is through the corresponding instance of `ClientSession`.
Right now, I think that the best solution here would be to expose the created sessions:
- Expose `_get_session` as `get_session`
- Expose `ar

[2019-07-16 07:39] bryevdv commented on #6172
I'm going to close this because I simply do not see any viable technical path forward. The only reasonable suggestion I can make is to use `output_mode="svg"` for plots in notebooks that you want to export in this manner. I think that should work, modulo some know SVG output problems (that already have their own issues).

[2019-07-16 07:39] #6172 closed

[2019-07-16 07:42] bryevdv commented on #8954
going also to close this in favor of existing #6036

[2019-07-16 07:50] bryevdv commented on #4870
I believe this is why >= 2 characters are needed to start:

https://github.com/bokeh/bokeh/blob/e2f5a9643c48a6c7a6acfa0530da58e3cd85eed6/bokehjs/src/lib/models/widgets/autocomplete_input.ts#L78-L81

All the other issues are resolved so re-purposing this issue for just this task. Also noting there some console logs in this file that should be removed.

[2019-07-16 07:59] #9033 closed

[2019-07-16 11:06] EtsuNDmA opened #9092 "[BUG] double slash before prefix in autoreload.js"
Python 2.7
Bokeh 1.2.0

Resource urls in autoreload.js have double slashes before prefix if server has a prefix

[code]

So autoreload.js can't load files
![image](https://user-images.githubusercontent.com/17899808/61289719-ae415a00-a7d2-11e9-87ab-d26573896b4b.png)

[2019-07-16 14:21] Karel-van-de-Plassche opened #9094 "[FEATURE] Autobuild docker images"
Maybe we should add tests for the Dockerfiles and/or auto-update and push to our docker repository https://cloud.docker.com/u/bokeh/repository/docker/bokeh/bokeh. It seems travis can run docker-in-docker https://docs.travis-ci.com/user/docker/#building-a-docker-image-from-a-dockerfile. Presumably we'd build a Docker container from source every minor version of bokeh, and maybe test the Dockerfile

[2019-07-16 14:47] bryevdv commented on #9094
I don't use these regularly, the only docker file I interact with much is the one in the demo repo for the Elastic Beanstalk deploy for the demo site. I am generally for automating things, but I don't have strong opinions about how in this case due to my inexperience. This seems like it might be  good task for a nightly build, but I don't know if Travis ever added support for that. I think Azure h

[2019-07-16 15:14] Karel-van-de-Plassche commented on #9094
It looks like travis supports cron jobs: https://docs.travis-ci.com/user/cron-jobs/ So it seems we could run test nightly/weekly.

Looks we can also trigger a Docker image build for dockerhub every tag: https://stackoverflow.com/questions/28590638/can-i-trigger-travis-ci-to-build-my-app-by-creating-git-tag

[2019-07-16 19:27] saracgil opened #9096 "Nodes and Edges not rendered when data is updated"
The issue tracker is NOT the place for general support. For questions and technical assistance, come join the [Bokeh Project Discourse](https://discourse.bokeh.org).

[2019-07-16 19:27] #9096 closed

[2019-07-16 19:57] p-himik commented on #5724
I'm sorry for this abomination, but it works quite well.
Since I did it for my own project, there's no pinning. But the tooltip does not disappear if you keep your mouse cursor within 10px of the tooltip.
I may be easy enough to adapt it so that tooltips stick when you click on the corresponding points, although I can't tell for sure.

`sticky_hover_tool.py`:
[code]

`sticky_hover_tool.ts`:
[code]

[2019-07-16 20:07] saracgil opened #9097 "Nodes and Edges do not render when data is updated"
Got stuck trying to update/replot a subgraph of graph with new nodes and edges when user enters TextInput.  I think the issue is that re-rendering doesn't get called properly but new to Bokeh and can't figure out non-buggy way to do this:

bokeh: 1.2.0
python: 3.6.6
windows 10

This is pretty long.  Nodes are tickers.  Graph G is a networkx object pre-loaded here.

# Bokeh
from bokeh.io import out

[2019-07-16 22:33] #9080 closed

[2019-07-16 22:35] #8403 closed

[2019-07-16 23:26] timsnyder commented on #9086
@bryevdv  After looking through demo.bokeh.org's setup and looking at the examples/app/movies, I have a much better notion of what's going on here.  I see where we would want to add a favicon attribute on bokeh.document.Document and needs to behave roughly the same as the {{title}} attribute.  Am I on the right track?

Also, looking across bokeh.org, bokeh.pydata.org, it looks like you have copies

[2019-07-16 23:41] bryevdv commented on #9086
There's a couple of potential ways. We could simply look for a `favicon.ico` file in directory style apps. We could have a command line `--favicon=<...>` option. Either way there needs to be an option that works with both a top-level `index.html` as well as with app pages I *think* we would want to make a new Tornado request hander `FaviconHandler` that can be set up to respond to `/favicon.ico` a

[2019-07-17 02:24] timsnyder commented on #9086
Good point about making it work for top-level index.html as well as app pages.  I'll probably utilize the suggestions from the [tornado docs](https://www.tornadoweb.org/en/stable/guide/running.html#static-files-and-aggressive-file-caching)

Without looking at how Bokeh Server sets up the tornado app, I'm leaning toward having a static_path defined, putting any locally provided favicon in there and

[2019-07-17 02:54] bryevdv commented on #9086
The issue with a static path is that this has to work for the single file `bokeh serve app.py case as well as the notebook embed case and neither of those have a naturally available directory that could be static directory. That's why I was leaning toward a simple but custom `FaviconHandler` that did not assume or rely on any particular filesystem layout

[2019-07-17 03:02] timsnyder commented on #9086
Good point.  You have all of the usecases loaded in your brain. :)

[2019-07-17 07:13] timsnyder opened #9098 "Move from tornado.gen to native coroutines ?"
[tornado docs
](https://www.tornadoweb.org/en/stable/gen.html) for `tornado.gen` say:

With the dropping of support for `python<3.5`, are we going to move to native coroutines and `asyncio`?

[2019-07-17 07:33] mattpap commented on #9098
Yes, there's WIP branch https://github.com/bokeh/bokeh/tree/bryanv/async for that.

[2019-07-17 07:34] bryevdv commented on #9098
I will probably have to re-do all that after landing-2.0 is merged, though, it's messy to keep that branch in up to date

[2019-07-17 15:40] saracgil commented on #9097
This is potentially similar to this issue here:
https://github.com/bokeh/bokeh/issues/6946
which doesn't get properly resolved.  I tried and worked out the following hack which is also mentioned in one of the comments there:

This is the callback to TextInput which does not update the graph.node or edge renderer as well as layout_values but instead it simply regenerated the whole graph and replace

[2019-07-18 08:13] jbednar commented on #9086
I'd like to second this request, because I end up with dozens of Chrome windows that look like:

![image](https://user-images.githubusercontent.com/1695496/61440352-22c1e900-a8f8-11e9-84fb-e6f9c7a0392b.png)

and I have to page through all of them to find anything. Having a page title would help, and I don't think that should require a template -- for me, the page title is about how to manage brows

[2019-07-18 11:50] philippjfr commented on #9086
This is already possible, in Panel you can do this by setting the title in the servable call, e.g. ``obj.servable('A Custom title')``

[2019-07-18 12:55] jbeanland opened #9099 "[FEATURE] Extend FileInput to return filename and make output clearer"
I have been playing with the new FileInput widget in the 1.3.0rc2 release and have 2 suggestions/needs I found I had:

- Return the filename of the file being uploaded, since I need to display the names of imported files back to the users.
- Return the actual base64 encoded string of the file content separately from the mime type, rather than combined as they are at the moment. (something like thi

[2019-07-18 14:45] jbednar commented on #9086
Oh, in that case let's do that for all our  Panel examples, so that people like me can't fail to miss it!  :-) Let this issue return to favicons, which are also important...

[2019-07-18 15:03] solstag commented on #8893
Thanks for the reminder @bryevdv , will do it next week.

[2019-07-18 15:35] bryevdv commented on #9099
Yes, if you can submit it today-ish

[2019-07-18 17:40] dubreuia commented on #5823
This is exactly what I'm looking for, but I don't know how to do it. I have a `BoxAnnotation` that I want to render in the `underlay` level (under my `quad` glyphs), how do I change the render level of the box annotation?

Thanks

[2019-07-18 19:04] timsnyder commented on #9086
bq. Having a page title would help, and I don't think that should require a template

And I think that @bryevdv was speaking specifically of the template for http://demo.bokeh.org/index.html .  Pages that are Bokeh server app's like https://demo.bokeh.org/movies can and do set the title (and it's also looks possible to dynamically change it).

bq. I'd like to be able to define a favicon from withi

[2019-07-19 00:31] #9092 closed

[2019-07-19 05:51] #9032 closed

[2019-07-19 12:22] Miiike89 opened #9101 "[BUG] Wrong option names in sphinxext documentation"
Hi guys,
I am currently using the sphinxextension to build the documentation of my project. The module bokeh-plot is particularly usefull. While working with bokeh plot I noticed the following Issue.

Issue:
------

On the hompage: https://bokeh.pydata.org/en/latest/docs/reference/sphinxext.html#module-bokeh.sphinxext.bokeh_plot
The two options for bokeh_plot are described:

![grafik](https://user

[2019-07-19 15:17] bryevdv commented on #9101
@Miiike89 They are clearly not correct, but I don't know where those suffixes are coming from. A search for "linenosflag" in the entire repo turns up nothing. So something, somewhere, is adding those suffixes during the docs build, but I don't have any idea offhand what that might be.

[2019-07-19 15:20] bryevdv commented on #9101
Guess the docstring format is wrong, and it's picking up the extra from there:

https://github.com/bokeh/bokeh/blob/1f966a53bb5889ccfd43dde1c62a13f9372891d9/bokeh/sphinxext/bokeh_plot.py#L45-L50

@Miiike89 would you submit the small PR to change these?

[2019-07-19 15:27] Miiike89 commented on #9101
@bryevdv I have never done a PR before. But I am definitly willing to.
Is their an instruction on how to?

[2019-07-19 15:46] bryevdv commented on #9101
@Miiike89 Awesome! This page has a pretty nice howto:

https://www.thinkful.com/learn/github-pull-request-tutorial/#Time-to-Submit-Your-First-PR

If you have any questions or issues along the way please ask them and we will help you get un-stuck!

[2019-07-19 22:23] #8100 closed

[2019-07-19 22:47] #9099 closed

[2019-07-20 04:14] #8676 closed

[2019-07-20 21:35] mattpap commented on #9098
Is it really the case? I just rebased it and there was one trivial conflict. Also, what are the show stoppers for merging it as-is (except one recurring unit test failure)?

[2019-07-20 21:44] bryevdv commented on #9098
Maybe not, if you've got `bryanv/async` rebased on `landing-2.0` the please push it up. Maybe I was thinking of the out-of-tree tests branch, which is definitely not re-baseable cleanly at this point.

We do need to figure out the one failing class of tests with `ManagedServerLoop`. It was working sort of by serendipity before, I think we may need actual separate client/server processes now to tes

[2019-07-20 22:29] mattpap commented on #9098
I pushed the rebase and fixed an unrelated test. I will need to do some reading first to tackle the main issue, however it seems to make sense separating client and server in tests, as if it would be in real life scenarios.

[2019-07-21 13:34] wittenator opened #9105 "[BUG] Log scale makes bars in vbarplot disappear"
## ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)
Bokeh - 1.2.0
Python - 3.6.8
Jupyter - 5.3.1
Run in a docker container - tensorflow/tensorflow:nightly-py3-jupyter

#### Description of expected behavior and the observed behavior

Once I select a log scale for the y axis in a vertical bar plot all bars disappear. This seems to have been solved in #383

[2019-07-21 13:51] wittenator commented on #9105
Just saw the connection to #6536. Is there any known workaround for the moment?

[2019-07-21 18:28] bryevdv commented on #9105
@wittenator I am going to close this as a duplicate of #6536 since it is a special case of that general problem. Apart from "very small value" the other workaround for now would be to create a custom `Mapper` class that handles the log scale with zero differently.

[2019-07-21 18:28] #9105 closed

[2019-07-21 19:26] timsnyder commented on #9086
Do we care about being able to dynamically change the favicon?  Should I just do the first step of having support for a basic static favicon first and save dynamic fanciness for another PR?  Making it dynamic seems interesting but it will be a lot more code additions.

[A blog post that makes me think it's possible to have dynamic favicon support.](https://medium.com/@alperen.talaslioglu/building-

[2019-07-21 19:28] philippjfr commented on #9086
I'd vote for going for static favicon support first, while dynamic support seems cool it doesn't seem like a particularly common usecase.

[2019-07-21 19:33] bryevdv commented on #9086
I am fine with starting with static, and also just a single one for all pages specified on the command line with `--favicon=`. Then a `FaviconHandler` configured at `/favicon` just returns this image data.

For later, to support both a "top level" favicon (for the index.html page) as well as per-document favicons (potentially dynamic),  it occurs to me that favicons are always at the very top leve

[2019-07-21 19:41] timsnyder commented on #9086
I think that if we want to have them be per-page and/or dynamic, we'll need to add support for `<link rel="icon" >` and all of it's variants in the `<head>` of the DOM.  The `favicon.ico` in the root of the page is the old way of doing this.

Oh, the stackoverflow page you linked says the same thing.

@audreyr has a nice (albeit slightly dated)  [favicon cheatsheet](https://github.com/audreyr/favi

[2019-07-21 19:48] bryevdv commented on #9086
@timsnyder sorry I did not elaborate, I agree 100% with supporting `<link rel>` but also customarily those often point to a `/favicon.*` I was just suggesting conforming with that common practive.  It's worth considering (for later) that there is definitely a distinction between and *app* specifying a favicon to use (for all sessions) and individual sessions specifying favicons. The latter is what

[2019-07-21 20:00] timsnyder commented on #9086
Great.  I think we're on the same page.  I just started out thinking about using `<link>` because I was also thinking about `output_html()` cases being able to point to a CDN-ified http://bokeh.org/favicon.ico as the default and providing programmatic ways to change set the href (possibly to a data URI so that the client-only output remains a single file).

I'll just focus on the bokeh server case

[2019-07-22 22:21] vgorde commented on #5724
Verified Eugene(p-himik)'s solution works

[2019-07-22 22:21] vgorde commented on #5724
Verified Eugene(p-himik)'s solution works

[2019-07-23 18:46] analog-cbarber opened #9107 "[BUG] Spurious "extra unexpected referrers" warning when using python debugger"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages

bokeh 1.2.0

panel 0.6.0, python 3.6.7, Mac OSX 10.14.3, PyCharm 2019.1

#### Description of expected behavior and the observed behavior

Ran a bokeh application in debugger from inside of PyCharm. After closing application Window in browser, got seemingly spurious warning about module having "extra

[2019-07-23 18:57] analog-cbarber commented on #9107
The code in question is in `Document.delete_modules`:

[code]

This code does not account for references that are indirectly referred to by the debugger frame, specifically in my case, this is not eliminate references from the frame's `f_locals` attribute.

[2019-07-23 19:03] bryevdv commented on #9107
@analog-cbarber you seem to have dived fairly deep into this, I'd be pleased to consider a PR from you to ignore those referrers when computing the total

[2019-07-23 19:14] analog-cbarber commented on #9107
Ok, but I don't think I will have the time for a while. I spent less than an hour debugging this and don't even have a developer configuration for bokeh at this time.

I just wanted other people debugging bokeh apps to know that this behavior does not necessarily an actual leak.

[2019-07-23 19:30] bryevdv commented on #9107
I that case I'm also not opposed to just closing this with `discussion` and leaving it as documentation. I have been told directly by Python core devs that there are few guarantees around consistency of referrers in this sort of situation between versions.

[2019-07-23 21:38] analog-cbarber commented on #9107
Debuggers are probably not common because (1) you don't document how to do it and (2) sadly there are still a lot of people who have not gotten around to learning how to use them. But if someone is using the debugger, they should not get spurious errors like this. While using a debugger is not a normal production deployment, it is perfectly reasonable for developers. This really should be consider

[2019-07-23 22:13] bryevdv commented on #9107
I don't disagree with any of this, but there is a matter of resources. There's only so many hours in the day, and given that it is both rare and not something I actually know the how to definitively reproduce ( don't use debuggers in IDEs and have never encountered this in plain pdb.set_trace), it's just very unlikely that this is anything I will be able to prioritize any time soon. The cost/benef

[2019-07-23 23:56] analog-cbarber commented on #9107
I am mostly arguing against closing the bug without fixing it. It is totally fine to have low-priority open bugs. Leaving them open is usually enough for developers to find the description and understand what is going on without debugging from scratch, but people are less likely to search through closed bug tickets for active problems.

I do not know that this bug is unique to the PyCharm debugger

[2019-07-24 07:34] guido-out opened #9108 "[BUG] Incorrect initialization when loading out of focus"
#### ALL software version info (bokeh, python, notebook, OS, browser, any other relevant packages)

bokeh.version = 1.2.0
python: 3.6.8
OS: Windows 10
browser: all

#### Description of expected behavior and the observed behavior
When loading a bokeh document (served using the directory format) the jinja2 template is not filled as expected if page is not in focus within 30 seconds of loading.
Root

[2019-07-24 15:35] bryevdv opened #9110 "json_items and custom extensions"
Noting that `json_items` is not currently useful with custom extensions. It outputs the JSON representation but there is currently no (easy) way to transmit or register the custom extension implementation.

cc @mattpap